[2021-09-09 18:01] njlynch opened #16442 "(aws-cdk-lib): Reduce module size via new bundling strategy"
As of September 2021, the current unpacked size of `aws-cdk-lib` is 161 MB. This is largely due to bundled dependencies, including the entire AWS CLI, and Lambda layers which include `kubectl`, `helm`, etc. To further complicate matters, there is an upcoming need to be able to reference multiple versions of each of the above, which will balloon the size of `aws-cdk-lib` to massive proportions.

We

[2021-09-09 18:14] calbutl commented on #1973
"Stacks that don't depend on each other are deployed in parallel." [https://docs.aws.amazon.com/cdk/latest/guide/cdk_pipeline.html ](https://docs.aws.amazon.com/cdk/latest/guide/cdk_pipeline.html )

So this has been implemented?  I'm having trouble finding where it is mentioned in the [changelog](https://github.com/aws/aws-cdk/blob/master/CHANGELOG.md)

[2021-09-09 18:39] sarbajitdutta commented on #16181
@peterwoodworth Thanks for looking into this. Glad to know I was right. Do you have an example of how to use escape hatches to modify the default event role created. Will this be fixed in future release?

I am using 1.117.0.

[2021-09-09 18:55] wimlewis-amazon commented on #15022
Another workaround is to use a `CustomState` containing the [ASL definition](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-task-state.html) (with, e.g., `'Path.$': '$.url_path'`) and to manually add permission to invoke the API to the state machine role. For me this was marginally easier.

[2021-09-09 19:39] peterwoodworth commented on #16403
Great, I've converted this into a feature request. Changing the image to default to stable seems like a fine solution tome

[2021-09-09 19:52] sarbajitdutta opened #16443 "(ec2): software.amazon.awscdk.services.ec2.SubnetType enum does not have PRIVATE_WITH_NAT or PRIVATE_ISOATED"
## :question: General Issue
SubnetType `PRIVATE_WITH_NAT` does not exist with 1.22.0. It says `PRIVATE` is deprecated for SubnetType and to use `PRIVATE_WITH_NAT`. But the class does not have those enums. According to the latest javadocs - [javadoc](https://docs.aws.amazon.com/cdk/api/latest/java/software/amazon/awscdk/services/ec2/SubnetType.html)

### The Question

Include all the relevant enums

[2021-09-09 20:32] misterjoshua opened #16444 "(cli): `--hotswap` does not detect function env variables changes"
The new hot-swap feature doesn't detect function prop changes like environment variables.

### Reproduction Steps

**app.ts**
[code]

**bug-handler.js**
[code]

### What did you expect to happen?
I expected `cdk deploy BugStack --hotswap` to deploy the stack every time I ran it.

### What actually happened?
It said `(no changes)` on the second deployment, failing to update the environment variable

[2021-09-09 20:39] jmhossler commented on #14555
@jogold I'll try to do that this evening, this is currently happening in a private repo that I can't share. It's a bit hard for me because I don't have an ubuntu machine to validate it with, but if I can try to make a sample with a git runner to replicate the issue.

The files are in the git repo, yes, but I'm not pulling them down. The lambda files are in the same git repo as the CDK application.

[2021-09-09 20:48] sarbajitdutta commented on #16181
@peterwoodworth Actually I was able to do it. I am attaching as reference -
[code]

[2021-09-09 20:53] peterwoodworth commented on #16181
I've marked this issue as a p1 and I'm keeping it open so that someone may fix this issue if they want to. Glad you got the workaround figured out!

[2021-09-09 21:27] ryparker opened #16446 "(elasticloadbalancingv2): Incorrect validation on `NetworkLoadBalancer.configureHealthCheck()`"
The [`NetworkLoadBalancer`'s](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.NetworkLoadBalancer.html) [`configureHealthCheck()`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.ApplicationTargetGroup.html#configurewbrhealthwbrcheckhealthcheck) method is incorrectly throwing a validation error when provided a valid `protocol`

[2021-09-09 21:28] ryparker commented on #16446
SIM ticket: V427669955

[2021-09-09 21:29] ryparker commented on #16446
PR open: https://github.com/aws/aws-cdk/pull/16445

[2021-09-09 21:34] github4es commented on #9346
+1

[2021-09-09 22:07] sarbajitdutta commented on #16181
@peterwoodworth I have hit a snag again `CfnRule.setRoleArn(role)` only sets the role for the event itself but not for the target. I have been trying to update it like this but still having problems any help would be appreciated.
[code]

[2021-09-09 22:58] skinny85 commented on #16436
Hey @austevick,

thanks for opening the issue. You're right, the documentation is wrong; the default is for the Table to not be encrypted. We need to update the docs.

BTW, we welcome community contributions, so if you would like to submit us a PR changing the docs (they are [here](https://github.com/aws/aws-cdk/blob/36ff73809a37998e15176cb8815c118e7ea0c295/packages/%40aws-cdk/aws-dynamodb/lib/tab

[2021-09-09 23:15] #15935 closed

[2021-09-09 23:17] kpeters-cbsi commented on #15197
I tried this with `QueueProcessingFargateService` and got `TypeError: Cannot set property 'enableExecuteCommand' of undefined`

b0rked code:
[code]
What I ended up having to do was find the `FargateService` instance and do `node.defaultChild` on that. Viz:

[code]

[2021-09-09 23:24] skinny85 commented on #16400
Yes, can you please:

1. Show me how do you perform the AssumeRole (is it in code? Is it "manually" through the AWS CLI before you execute `cdk deploy`? etc.).
2. The full output of `cdk deploy --verbose` when you get this error.

Thanks,
Adam

[2021-09-09 23:38] leandrodvd opened #16447 "(aws-ecs-patterns): Add sqs deliveryDelay attribute to QueueProcessingFargateService"
Want to add `deliveryDelay` attribute to `QueueProcessingFargateService` so that it can be passed to queue constructor

### Use Case

We have a service using `QueueProcessingFargateService `and we currently let it create the SQS queue internally (we don't provide the queue).

To fix an issue we need to set the `deliveryDelay `attribute of the main queue.

Since the `deliveryDelay `is not present i

[2021-09-09 23:39] lyonzy commented on #7784
Yeah I agree with all your points. Our topology is application code in one area, and a separate set of configs for each environment. We're developing for a fairly large organisation and they often tell us to set up a new environment for a specific program of work, and we don't really want to be re-releasing a new version of our codebase to accommodate that. I guess if you were strictly "multi acco

[2021-09-10 00:24] adrian-baker commented on #15333
A hacky-feeling workaround for this (using the Java SDK) is to concat the digest manually to the repository, and pass a blank tag (null doesn't work because it results in `:latest` being added).

[code]

[2021-09-10 01:07] skinny85 commented on #16425
Hey @tom10271,

thanks for opening the issue, and apologies for the bad experience.

I'm wondering whether you could be running into https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/430? Perhaps try setting `maxAllocatedStorage` to something a little larger, maybe `105`, and see if that helps?

Thanks,
Adam

[2021-09-10 01:28] skinny85 commented on #16444
Hey @misterjoshua,

thanks for opening the issue!

Can you describe your full flow? I was unable to reproduce the issue on my end.

Here's what I did:

1. I deployed my Lambda stack without the `environment` property (full deployment, no hotswap). It succeeded.
2. I changed the `environment` property to add an env variable, and ran `cdk deploy --hotswap`. Here's what I saw:

[code]

And the CloudF

[2021-09-10 02:46] misterjoshua commented on #16444
@skinny85 It's strange - I've tried this again in a fresh repository just now and my example above does not reproduce the problem either. However, I've made some adjustments in such a way that I can reproduce the problem here:

https://github.com/misterjoshua/cdk-hotswap-bug

To reproduce in this repository, install the dependencies and deploy the first time:

[code]

Deploy it again with hotswap

[2021-09-10 05:45] deathquin opened #16449 "I using go language AWS CDK."
## :question: General Issue

### The Question
AWS CDK is being used efficiently.
But there is a problem. I am using AWS CDK based on Go language,
and it takes a lot of time to download the library every time I deploy.
Even if one lambda is modified, it seems inefficient because it works like a library every time.
Is there a way to modify or change this part efficiently?
The version of typescript i

[2021-09-10 06:57] ffinfo commented on #7128
+1 same here

[2021-09-10 08:39] otaviomacedo commented on #16225
Yes, you're right. They are different roles. And having some way to specify a custom service role would be useful. I'm just not sure about the best API for this. An alternative signature would be having `serviceRole` inside `DataSourceOptions`, for example.

As you know, we welcome community contributions! If you are able, we encourage you to [contribute](https://github.com/aws/aws-cdk/blob/master

[2021-09-10 09:19] krzysztof-slowinski commented on #16400
1. Yes, it is a separate step before `cdk deploy`: `eval $(aws sts assume-role --role-arn $ROLE_ARN --role-session-name "Deployment$ENV" --duration-seconds 3600 | jq -r '.Credentials | @sh "export AWS_SESSION_TOKEN=\(.SessionToken)\nexport AWS_ACCESS_KEY_ID=\(.AccessKeyId)\nexport AWS_SECRET_ACCESS_KEY=\(.SecretAccessKey) "')`
2. Is there any specific part of the output that I should provide, beca

[2021-09-10 09:24] njlynch commented on #16443
Thanks for the bug report, @sarbajitdutta !

This is an unfortunate known issue with the underlying software that powers CDK's multi-language support, `jsii`. At the moment, it doesn't support multiple enums with the same value, which is the case here with `PRIVATE`/`PRIVATE_WITH_NAT`. As the two are still functionality equivalent -- we merely did the deprecation and rename to improve clarity -- y

[2021-09-10 09:36] njlynch commented on #16227
Thanks for the report, @AlexStasko !

I agree with your suggested fix. In addition, we should add a test to the corresponding [test file](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-route53-targets/test/apigateway-target.test.ts) with a test case using a `SpecRestApi`.

Given the traction this has already gotten, I'm marking this as a `p1`. We welcome community contributions

[2021-09-10 10:11] tobske commented on #16372
@rix0rrr, here is the output when I run `cdk -v diff':

[code]

I receive the same error `Variable AMAZON_ACCESS_KEY_ID not set.` when I set `AWS_DEFAULT_PROFILE`.

[2021-09-10 10:12] otaviomacedo commented on #16266
Thanks for the reproduction steps, @deepak-sreekumar. It allowed to reproduce the issue. Given that all the CDK does in this case is to set the tags when deploying the stack to CloudFormation, this seems like an issue with either CloudFormation or the Elasticache control plane API.

@peterwoodworth, can we follow up internally with these teams?

[2021-09-10 10:20] njlynch commented on #16267
Thanks for the bug report.

I'm a bit perplexed as to the stated cause. Per the documentation for `memoryLimit`, "If you are deploying large files, you will need to increase this number accordingly.". This refers to the size of the `sources` however, not the `distribution`. The only interaction the `BucketDeployment` has with the `distribution` -- as far as I can tell -- is to create an invalidati

[2021-09-10 10:41] otaviomacedo commented on #16271
Thanks for raising this, @SamStephens. The challenge I see here is that the `ITopic` interface (passed as a constructor parameter to `SnsDestination`) does not expose any information about encryption. And, in fact, it can't expose that information, since we can get an `ITopic` using `Topic.fromTopicArn()` to reference an existing topic.

We can't work on a design for this immediately, but we welco

[2021-09-10 10:59] otaviomacedo commented on #16288
Hi, @jonatansmith. You're right. According to the documentation it should use the current region by default. However, `CfnDeliveryStream` is an L1, which maps directly to the CloudFormation template. So there is nothing we can do on the CDK side.

@peterwoodworth another one for the CloudFormation team?

[2021-09-10 10:59] njlynch commented on #16371
Thanks for filing a feature request!

Unfortunately, I don't think this feature is appropriate for this construct. The `vpcSubnets` property is a well-defined and well-used concept across the CDK for a reason. It provides maximum flexibility for the myriad use cases that exist out there in the wild. If we add `subnetId`, it's a slippery slope; next someone will ask for `subnetIds`, and then `subne

[2021-09-10 10:59] #16371 closed

[2021-09-10 11:10] njlynch commented on #16386
Duplicate of #14850.

When you import a bucket by name, there is no reasonable way (prior to deployment) for the CDK to ascertain that the bucket was creating in a different region. We try to do the most reasonable thing for the majority of use cases, which means that if no region is explicitly provided for imported resources, we assume that the resource exists in the current region.

If you want

[2021-09-10 11:10] #16386 closed

[2021-09-10 11:45] #16388 closed

[2021-09-10 12:01] otaviomacedo commented on #16231
Hi, @trondhindenes. Thanks for raising this request. Would you mind expanding on the proposed solution and include an example of the API you would like to use?

[2021-09-10 13:26] nija-at commented on #4323
@farshadniayeshpour - have you tried using the bucket notification mechanism in the s3 module - https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-s3#bucket-notifications. This supports setting up notification on imported buckets to invoke a lambda function.

[2021-09-10 13:36] otaviomacedo commented on #16332
That's odd. Can you please share a minimal app code that I can use to reproduce the issue?

[2021-09-10 13:47] otaviomacedo commented on #16349
Yes, I'm worried that someone, somewhere left a `subnetSelection` without `vpc` by mistake, which doesn't make sense, but is not affecting them, either. Throwing an error would be a breaking change. But maybe a warning would be a good idea, in addition to the documentation.

[2021-09-10 13:55] otaviomacedo commented on #16379
Unfortunately not. The CDK cannot get the information about the existing bucket, such as the the policy it has. Removing the existing policy before the adding a new one is the best option in this case.

[2021-09-10 13:56] #16379 closed

[2021-09-10 14:13] #15709 closed

[2021-09-10 14:15] roskelleycj opened #16450 "(aws-stepfunctions-tasks): CodeBuildStartBuild does not allow for Step Input to be used"
CodeBuildStartBuild environmentVariablesOverride does not allow for passing Step Input as Values.

### Use Case

Using Step Functions is a natural fit for CI/CD pipelines combined with CodeBuild, as this type of Task Integration exists.  However, when defining the CodeBuild some information will be variant and must be provided for at the time that the Step Function Task is invoked.  CDK allows for

[2021-09-10 14:18] therealsebo opened #16451 "(codebuild): BuildSpec.fromObjectToYaml() skips conditions"
We´re trying to migrate our complex helm pipelines to CDK. In our current setup we uses AWS conditions without no worry.
In our current setup we use YAML styled buildspecs. Because of that we tried to use the method `fromObjectToYaml()`.
But as we checked the generated Json we saw that our conditional statements are missing.

:point_right: **Hint** `BuildSpec.fromObject()` generates the "Fn:If"-St

[2021-09-10 14:29] nija-at opened #16452 "(assertions): incorrect closest match"
When using `hasResourceProperties()` and when none of the CloudFormation resources match the given query, the method throws an error containing the closest match.

In some cases, the closest match is incorrect.

### Reproduction Steps

<details>
<summary>CloudFormation Template</summary>

[code]

</details>

Use the CloudFormation template above to use the following code -

[code]

The closest mat

[2021-09-10 14:38] revmischa opened #16453 "(assets): Code.fromAsset DOCKER ignore exclude '*' does not exclude directories"
I want to ignore files when building with docker because I have a big project directory.
When I specify ignore mode = DOCKER and use exclude = `["*", "!foo"]` I would expect to only see `foo` during bundling.
I see all the files though.

### Reproduction Steps

[code]

### What did you expect to happen?

Expected to see only `foo` listed

### What actually happened?

[code]

### Environment

  - *

[2021-09-10 14:47] roskelleycj commented on #16450
Never mind.  Just need to know this little secret:  `sfn.JsonPath.string_at("$.envVariables.zone")`
[code]

See https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_stepfunctions_tasks/README.html#codebuild

[2021-09-10 14:47] #16450 closed

[2021-09-10 15:07] otaviomacedo commented on #16422
Hi, @OrEisenberg. The doc string for `tokenCounter` explains why the token is different at each run:

https://github.com/aws/aws-cdk/blob/bc1293b8062a0792d6d1d9f058f308c72475e778/packages/@aws-cdk/core/lib/private/token-map.ts#L38-L63

In general, tokens are opaque. Depending on their particular value for _anything_ should be avoided.

[2021-09-10 15:07] #16422 closed

[2021-09-10 15:25] njlynch commented on #16432
This work is blocked on two dependent tasks: https://github.com/aws/aws-cdk/issues/15587 and https://github.com/aws/aws-cdk/issues/16369.

[2021-09-10 15:39] masterchop commented on #7128
Dudes you have to increase the memoryLimit to fix the problem.

[2021-09-10 15:39] samkio commented on #16208
Hi @MrArnoldPalmer thanks and great suggestion regarding signed URLs!

I was able to confirm that it works with signed URLs to a private bucket. So for StartDeployment as long as Amplify can retrieve the asset that works.

That's right. CreateDeployment allows for the API to upload the asset as it provides an URL to upload to. I prefer not having to download / upload so the StartDeployment with si

[2021-09-10 16:48] OrEisenberg commented on #16422
@otaviomacedo This is very fair and were I creating this hash myself, I would agree that I had made an error. However, having a token embedded in an asset (which CDK then resolves upon upload to yield the crystalized value) is clearly intended behavior. I'm just using this functionality as CDK intended it to be used and because of this non-deterministic token representation you mention, the operat

[2021-09-10 17:50] husainzl commented on #10320
Thanks for your help @Mejato !

[2021-09-10 18:08] skinny85 commented on #16444
Thanks @misterjoshua!

If I could ask for one more thing 🙂. Before running `cdk deploy --hotswap`, can you run `cdk diff`, and show me the output of that command?

[2021-09-10 18:24] skinny85 commented on #16400
Let's start with the stack trace.

[2021-09-10 18:30] misterjoshua commented on #16444
@skinny85 Here you go:

[code]

So it doesn't look like `cdk diff` catches the changing environment variable. Perhaps that's why `--hotswap` isn't picking up on the change. But interestingly, when I `cdk deploy` without hot-swapping, CloudFormation picks up on this change:

[code]

Shouldn't the diff be catching this? Given that environment variables can change the behaviour of the lambda, I would

[2021-09-10 18:34] skinny85 commented on #16444
Yeah, this definitely looks like a bug in the `diff` command (which hotswap uses, like you correctly guessed).

[2021-09-10 18:50] james-mathiesen opened #16457 "(aws-backup): BackupResource has limited support for Aurora RDS"
BackupResource does not support RDS Aurora databases.

[code]

however the type IDatabaseInstance does not encompass Aurora databases.  I believe additional methods are
needed to support these additional types:

[code]

Additionally, `BackupResource::fromConstruct()` ignores Aurora databases even though they are supported by AWS Backup.

### Use Case

There is no obvious way to backup Aurora datab

[2021-09-10 19:11] haslam22 opened #16459 "(aws-s3): Enabling autoDeleteObjects tries to create a new role via custom resource provider"
## :question: General Issue

When enabling `autoDeleteObjects` in the `Bucket` construct in `aws-s3`, the following `CustomResourceProvider` lambda and role gets added to my CloudFormation template:

[code]

However, I'm working in a locked down corporate AWS account where I don't have permissions to create a new role. There are some preset roles that I'm allowed to use instead. Unfortunately the

[2021-09-10 20:35] kaizen3031593 commented on #14778
I could be way off base here as I'm trying to understand stepfunctions as a whole still, but it seems odd to have both an `input` property and the proposed `associateWithParent` property on `StepFunctionsStartExecutionProps`. It also seems nontrivial to implement, since `associateWithParent` would then be tasked with modifying the `input` property (which may or may not exist).

Instead, would it m

[2021-09-10 21:08] ryparker commented on #16130
@markusl I see what you're trying to implement. Unfortunately I don't believe the `@aws-cdk/pipelines` project supports adding custom CodePipeline stages, other than using escape hatches (which can get ugly here). Perhaps @rix0rrr knows better and comment.

Assuming i'm correct, i'd like to offer an alternative solution that uses the [`@aws-cdk/aws-codepipeline`](https://docs.aws.amazon.com/cdk/ap

[2021-09-10 21:25] SamStephens commented on #16271
You should be able to mirror exactly what is done for an SQS queue, as I say; in this context an SQS queue and an SNS topic are equivalent.

[IQueue exposes encryption information](https://github.com/aws/aws-cdk/blob/a1a65bc9a38b06ec51dff462e52b1beb8d421a56/packages/@aws-cdk/aws-sqs/lib/queue-base.ts#L28-L31). They deal with the import case by simply [assuming there's no encryption in fromQueueArn

[2021-09-10 22:10] fjmacagno commented on #3257
I have a similar use case, local directory of template files i want to substitute configs into and upload to S3.

There is also this ticket, but it  is for a subtly different thing: https://github.com/aws/aws-cdk/issues/12903

[2021-09-10 23:27] BenChaimberg commented on #14778
I agree this is nontrivial, but I still think possible. We have information about whether `TaskInput` is from a constructed object or directly taken from a JSON path. This means we can decide whether or not to support `associateWithParent` based on what is passed in for `input`. Something like:

[code]

I think a `executionId` static property of `JsonPath` is a great idea too! Just not a good repl

[2021-09-10 23:44] kaizen3031593 commented on #14778
I can do that too! I was wary about `associateWithParent` along with a non Object `input` but throwing an error there makes so much sense.

[2021-09-11 01:08] naseemkullah commented on #15891
Confirming that in my case the validation occurs when it should, but the waiter just never gets the memo and fails the deployment after 10 minutes.

[2021-09-11 07:13] markusl commented on #16130
@ryparker I don't fully understand the limitation which is basically implemented here: https://github.com/aws/aws-cdk/blob/d499c85e4c09cc00b457ca7f2f4611a925ca8aeb/packages/%40aws-cdk/pipelines/lib/blueprint/stage-deployment.ts#L56-L60

What would be the problem of allowing adding Stages to the `pipelines.CodePipeline` which do not contain any Stacks but only CodeBuild or other actions?

[2021-09-11 08:04] trondhindenes commented on #16231
I'm afraid I don't know too much about the internals of cdk eks. If you create a custom launchconfig I believe you can set this parameter there for the kubelet to pick up. However if CDK nodegroup sits on top of the cloudformation nodegroup resource, I guess there isn't any way to set this.

[2021-09-11 10:33] lucashfreitas opened #16462 "(ECS) - Can't set network mode on FargateTaskDefinition"
It seems to not be possible to set network mode on `ecs.FargateTaskDefinition` construct. Since this is a requirement if the containers are using Link.

**version**    "@aws-cdk/aws-ecs": "^1.120.0",`

[2021-09-11 10:39] lucashfreitas commented on #16462
Just realized that Fargate only supports AWSVpc mode, so doesn't make sense to have it as an option.

[2021-09-11 10:39] #16462 closed

[2021-09-11 17:55] Pandafriendd opened #16463 "(AWS Config): EC2_INTERNET_GATEWAY maps to the wrong Resource Type"
`EC2_INTERNET_GATEWAY` maps to the wrong Resource Type

### Reproduction Steps

This bug can be replicated by below snippet:

[code]

Synthesized template looked like:

[code]

### What did you expect to happen?

`ComplianceResourceTypes` in synthesized template should be `AWS::EC2::InternetGateway` rather than `AWS::EC2::CustomerGateway`

### What actually happened?

https://github.com/aws/aws-cd

[2021-09-11 21:00] v1pz3n commented on #2711
Thanks @skinny85 , you saved me :smiling_face_with_three_hearts:

[2021-09-12 02:19] lukeknoot commented on #8446
Just confirming that I'm still experiencing this issue in 2021. Thought I was going slightly crazy until I found this.

In my experience, I had a few lambda functions that were each very fat, each having a copy of some large shared libraries. Naturally I wanted to refactor to extract the shared libraries into a layer, however after doing so, I ran into this problem where even though my functions w

[2021-09-12 03:58] v1pz3n commented on #15025
The problem persists in 1.122 and 2.0.
Writing in Python is not even overridable.

By the way rewrite in CfnService is better.

[2021-09-12 05:33] assafkamil opened #16465 "aws-ec2: userdata cfn-signal signal resource which is different than the attached resource"
CloudFormationInit::attach method supports only a single resource for both init and signal - blocking the usage of LaunchTemplate and AutoScalingGroup scenario.

**I've got a PR ready for this at https://github.com/aws/aws-cdk/pull/16264 for about two weeks now. It'll be great if someone can review it.**

### Use Case

When using cfn-init in EC2 UserData with a LaunchTemplate and an AutoScalingGro

[2021-09-12 07:08] eladb commented on #16422
@OrEisenberg can you provide an example of a token you are using inside your files? I am surprised they get resolved during upload, and not even sure that's possible.

[2021-09-12 14:48] nikita-sheremet-clearscale commented on #986
But what if CDK bootstrap deploys bucket and ECR repo? How will pay for content in s3 bucket even when it is not used? Who will pay for ECR repository? What if one of my cloud applications is needed to remove? I will run cdk destroy and still pay for all file/image in bucket and ECR repo? What if some application pushed sensitive content via assets - I have to manually process all bootstrap bucket

[2021-09-12 14:49] nikita-sheremet-clearscale commented on #986
Also, look for your competitors in serverless framework - they create a bootstrap bucket per deployment or allow you to set this bucket and create it in a separate stack. They do not force users to bootstrap once.

[2021-09-12 15:57] jumic opened #16467 "(elasticsearch): support OpenSearch 1.0"
AWS renamed Amazon Elasticsearch Service to Amazon OpenSearch Service. In addition, the new version OpenSearch 1.0 was introduced.

Announcement:
https://aws.amazon.com/about-aws/whats-new/2021/09/amazon-elasticsearch-service-amazon-opensearch-service-opensearch-1-0/

### Use Case

Use new features introduced by OpenSearch 1.0.

### Proposed Solution

1. Rename "Amazon Elasticsearch Service Constr

[2021-09-12 16:03] BenChaimberg commented on #16467
Thank you for leaving this feature request! The team has been working on this feature and we are just waiting on CloudFormation to release some changes of their own. Nothing is required from the community at this time, but of course we welcome your feedback on our implementation when it is publicized.

[2021-09-12 16:46] JordanRickman commented on #16419
I am getting a different but presumably related error on the same wmic module, also making it impossible to use `cdk init`.
[code]

[2021-09-12 18:24] JordanRickman commented on #16419
Correction: I cannot do **anything** with cdk, all commands fail with this error.

[2021-09-12 19:20] bykka commented on #6768
+1

[2021-09-12 19:28] #13590 closed

[2021-09-12 21:51] fasatrix commented on #16245
@rix0rrr  I saw you guys moved this to a P2.

As you mentioned above, Is the plan to throw an exception for resources that will be created in  environments different from the containing Stack?
I hope no as this will break our current implementation and I'd like to be rethought if possible at least for ECR related resources.
We have an AWS Account that functions as `central` for all other accounts.

[2021-09-13 07:25] canergulluoglu commented on #16399
We just realized that DockerImageAsset construct has nothing to do image build and deploy to ECR, its just a construct.
The reason it worked from my local was, the [cdk-cli ](https://docs.aws.amazon.com/cdk/latest/guide/cli.html)was doing the magic for us to build and push image to ECR.
We manage to solve the issue by calling a custom bash script on CI-CD to handle docker build and deploy.

[2021-09-13 07:25] #16399 closed

[2021-09-13 08:34] gawdzer commented on #13526
Changing the value of the logicalId does not affect the result: One can create a new deployment, but it's impossible to set is as the 'active' deployment for an already-existing stage.

[2021-09-13 08:40] rix0rrr commented on #16375
Would a single API that specifies both the `Cache` property in CloudFormation as well as configure the BuildSpec for you be a good idea? Or what that be too limiting for some use case I'm not thinking of right now?

I'm thinking of something like:

[code]

[2021-09-13 09:00] otaviomacedo opened #16471 "Add support for deprecation warnings on JSII"
Based on [RFC 287], we need to add a new feature to JSII, that will inject code into the generated Javascript files. This injected code will help users identify where they are using deprecated CDK elements and make it easier for them to replace those elements with their recommended counterparts.

* Based on new boolean flag -- let's say `--add-deprecation-warnings`, JSII will decide whether to inj

[2021-09-13 09:15] mariusingjer opened #16473 "(cli): does not pass command line profile argument to synth"
cdk synth does not pass --profile argument to the node process which executes the cdk app.

### Use Case

I want to be able to initiate the AWS SDK within the CDK app and not get credentials associated with the default profile.

### Proposed Solution

Extend this method and add --profile argument as an environment variable passed to the node process:

[code]

Configuration.settings already contain

[2021-09-13 09:29] otaviomacedo opened #16474 "Turn on deprecation warnings for all CDK modules"
As part of [RFC 287], we want to make sure that the CDK doesn't use any deprecated elements. Otherwise, users could see their applications fail (see #16471).

For this, we need to globally set the environment variable `DEPRECATED` to `error` so that, by default, all tests that exercise some deprecated element will fail. For Jest tests, for example, this can be accomplished by `setupFilesAfterEnv`,

[2021-09-13 10:08] gshpychka commented on #16375
@rix0rrr that would cover my use case, for what it's worth.

[2021-09-13 10:23] mrpackethead commented on #16375
Right now for what i'm doing just being able to set cache setting is helpful.   But, i think being able to access the underlying code build project, would be the most flexible solution..     I've got something in mind coming up soon, where i'd probably want to attach the project to a vpc..

[2021-09-13 11:29] krzysztof-slowinski commented on #16400
Interestingly enough, when I tried to reproduce the issue running `cdk deploy --verbose` and with version 1.121.0, I was not able to. We can close this issue and reopen it if it ever happens again I guess.

[2021-09-13 14:17] nija-at commented on #15412
Thanks @privogpynes for looking and helping out on this.

@adam-nielsen - can you check if this helps you?

[2021-09-13 14:19] nija-at commented on #16221
Looks like we're missing a token check here in this line - https://github.com/aws/aws-cdk/blob/fed30fc815bac1006003524ac6232778f3c3babe/packages/%40aws-cdk/aws-lambda-event-sources/lib/dynamodb.ts#L18

This should skip the validation if `Token.isUnresolved(this.props.batchSize) === true`.

Marking this as a p1. Contributions here are welcome.

[2021-09-13 14:22] nija-at commented on #16255
Please update the issue description with proper reproduction steps. It seems that you're using CDK in a non-standard way by calling the `bind()` API and using `CfnRestApi`.

Have you tried using `SpecRestApi`? If you have, please provide an explanation on why you are using it in this way.

[2021-09-13 15:24] skinny85 commented on #16400
Sounds good @krzysztof-slowinski, let us know if this happens again.

[2021-09-13 15:24] #16400 closed

[2021-09-13 15:33] MrArnoldPalmer commented on #16208
That is great! We definitely should make a plan to get this into @aws-cdk/aws-amplify. I'm not sure if we have precedence for generating signed URL's elsewhere in custom resources but it doesn't see too hard to accomplish based on the PoC. It probably is also worth thinking about this from a security perspective, passing a presigned URL in the body of an encrypted request seems relatively safe but

[2021-09-13 15:47] davidpricedev commented on #16418
I believe this is the workaround:
[code]

[2021-09-13 17:05] mrglover commented on #11494
This resolved the problem for me! thank you so much!

[2021-09-13 17:36] jaresuth commented on #16280
@rix0rrr  - Are we looking at adding a replayName not replay?  I was looking at implementing this feature. Thanks.

[2021-09-13 17:52] rishijatia commented on #16405
Understood, thank you for the clarification @RigoIce.

We are currently working on a reproduction of this in CDK and will update this thread as soon as we have an answer for you. Thank you for your patience :)

[2021-09-13 19:59] chillitom commented on #10850
This feature would be very useful.  We use EKS with the aws-load-balancer-controller which defines and owns the target groups so our only option is to look them up when we want to define our monitor alarms via CDK.

[2021-09-13 20:09] RigoIce commented on #16405
In the meantime, we figured out how to achieve the App Mesh configuration with ECS and an NLB. It seems that we trapped somehow in some suboptimal documentation. In fact, everything is documented but the connection is not that obvious. We think a CDK walkthrough could help here a lot as this was something we desired to find somewhere as we struggled in the very detail things. That cost unnecessary

[2021-09-13 20:17] trondhindenes opened #16476 "aws-eks: allow passing secret to `cluster.addHelmChart`"
it would be good if CDK would resolve references to SecretsManager for `values` passed to `addHelmChart`

### Use Case
I'm trying to do this: read a secret, apply a helm chart with values referencing that secret. Code:
[code]
However, this seems to not be supported - secrets are not resolved. It would be good if this was supported, so that we have a way of sending secrets to Helm charts.

### Prop

[2021-09-13 20:57] jgsqware opened #16477 "(lake-formation): Cannot Grant SELECT permission on TableWithColumnResource for ALL_TABLES"
I'm trying to grant SELECT permission for TableWithColumnResource and apply it to ALL_TABLES.
It failed on the CDK and CLI if I don't specify the table name or if I use ALL_TABLES as a name.

### Reproduction Steps
I'm using this JSON to the CLI:

[code]

or I'm using this JSON to the CLI:

[code]

### What did you expect to happen?

I expect to have a permission for my principal with SELECT form

[2021-09-13 21:12] skinny85 commented on #16245
@fasatrix one simple fix that you might try doing is importing the ECR Repository into a Stack that lives in account `A` (instead of into a Stack that lives in account `B`, as you're doing now).

I _think_ that will be enough for CDK to correctly create the bus Policies for you.

[2021-09-13 21:14] sith commented on #8672
nija-at, could you explain why this limitation exists.

I have a state machine with multiple lambda functions and I want to have logs in one place rather going and querying them in corresponding lambda log groups.

[2021-09-13 21:19] or-atnv commented on #16422
@eladb You're totally right, that's some hacky stuff we're doing on our end of which I was unaware! My sincerest apologies for wasting your time!

[2021-09-13 21:21] Litee commented on #15806
Hi, Niranjan.

Unfortunately, if `stage` is not specified then `BasePathMapping` construct selects `props.restApi.deploymentStage` value - see constructor code I specified in my previous message. No way to propagate `null/undefined` into resulting CF template :(

Andrey Lipatkin.

[2021-09-13 21:24] OrEisenberg commented on #16422
@eladb Ah yes, these tokens were getting resolved due to some hacky stuff on our end of which I was unaware.
!מצטער מאוד על הצרות

[2021-09-14 00:55] fanhongy opened #16479 "aws.kms.Alias: grant_decrypt() to a IAM role, this will grant the permission to the role with the access the the original key instead of the alias."
When using the function under `aws.kms.Alias` `grant_decrypt()` to a IAM role, this will grant the permission to the role with the access the the **original key** instead of the **alias**.

### Reproduction Steps

[code]

### What did you expect to happen?

This should grant permission to the IAM role with the Key alias arn.
### What actually happened?

It grants the permission to the IAM role wit

[2021-09-14 01:28] rorcores commented on #8908
"No value exists in scope for the shorthand property 'certificate'. Either declare one or provide an initializer." is now always displayed when trying to create new domain.

[2021-09-14 01:45] fasatrix commented on #16245
@skinny85 Thanks for your answer. I am not sure I got what you mean but to clarify I have made a diagram.

Context:

1. Several different Application Squads are building and pushing images to a common ECR services under different repos hosted in `Account A` (which belongs to a `DevOps/Infrastructure squad` and hosts all common things Including ECR as a service)
2. These squads own one or more AWS

[2021-09-14 02:21] davidmckenzie opened #16480 "(secretsmanager/rds): addReplicaRegion on Secret created by fromGeneratedSecret"
The ISecret interface that is produced by the RDS `fromGeneratedSecret` method does not implement `addReplicaRegion`.

### Use Case

DB credentials should always be replicated across regions along with DB snapshots to aid in DR/BC. When creating a new RDS cluster, the auto-generated credentials should be replicated across multiple regions.

### Proposed Solution

Either `fromGeneratedSecret` shoul

[2021-09-14 02:27] melodyyangaws commented on #16243
+1  same issue when deploying the sample [CDK stack](https://github.com/aws-samples/amazon-elasticsearch-service-monitor/blob/main/monitoring_cdk/monitoring_cdk_stack.py)

[2021-09-14 05:16] sinsys commented on #4757
... confirmed. Slight mismatches in stack versions (1.121 vs 1.122)

Manually updated to `"^1.122.0"` for all dependencies in package.json, removed node_modules and package-lock, and ran:

`rm -rf node_modules && rm package-lock.json && npm install`

[2021-09-14 06:09] eladb commented on #16422
No worries. In fact the use case of generating content that includes deploy time values is something we are looking into.

https://github.com/aws/aws-cdk/issues/12903

[2021-09-14 06:17] adam-nielsen commented on #15412
My apologies I meant to look at this sooner!  Yes, it does appear to have fixed the problem, although I am not entirely sure how.

Part of the issue was that I didn't have my bundling options inside the `bundling` property, which I think was causing `nodeModules` to be ignored (and thus it tried to bundle the modules that can't be bundled).

I also had to adjust some git settings inside the bundli

[2021-09-14 06:17] #15412 closed

[2021-09-14 06:27] JohGiz commented on #9609
For my use case I have  a prepared VSCode DevContainer project initialized.
This will give all developers starting a new CDK project the same environment setup that is free of OS and what is previously installed. It will pre-install CDK and AWS tools and plugins in VSCode.

But as [OSX & Windows handles the node_modules folder](https://code.visualstudio.com/docs/remote/containers-advanced#_use-a-t

[2021-09-14 11:37] nija-at commented on #16324
The auto-deployment story, unfortunately, is not true when used with `fromRestApiAttributes()`.

We're tracking this gap https://github.com/aws/aws-cdk/issues/13526 and https://github.com/aws/aws-cdk/issues/12417.

As mentioned in the linked issue, you will need to create your own Deployment and salt its logical id whenever any resource changes. The Deployment should deploy at the end (after all t

[2021-09-14 11:41] nija-at commented on #16334
The `apigatewayv2` module is currently experimental. The main artifact of CDKv2 - `aws-cdk-lib` - does not ship with experimental modules.

We are currently working on making this available. It will not be available via `aws-cdk-lib` but through a different mechanism.
See https://github.com/aws/aws-cdk-rfcs/blob/master/text/0249-v2-experiments.md for details.

This is expected to be released in th

[2021-09-14 11:41] #16334 closed

[2021-09-14 13:17] Zifro commented on #546
+1

[2021-09-14 15:04] ProficientBell opened #16485 "(autoscaling) maxInstanceLifetime limit for cdk more restrictive than cloudformation"
The minimum amount of time allowed by cloudformation for this setting in an autoscaling group is 1 day.  I have confirmed this works in a cfn template

### Reproduction Steps

[code]

### What did you expect to happen?

The autoscaling group should be created

### What actually happened?

Error: maxInstanceLifetime must be between 7 and 365 days (inclusive)

### Environment

  - **CDK CLI Version

[2021-09-14 15:30] avanbecelaere opened #16486 "(cdk-apigateway): example contains forward slash in basePath"
https://docs.aws.amazon.com/cdk/api/latest/docs/aws-apigateway-readme.html

The basePath property for addBasePathMapping only allows letters, numbers, and these characters $-_.+ *'(). The example in the documentation sets basePath to 'api/beta', but forward slashes are not allowed and cause an error.

---

This is a 📕 documentation issue

[2021-09-14 15:40] Lumene98 commented on #9330
`Nodejsfunction` is not compatible to `LambdaFunction`

[2021-09-14 15:44] samkio commented on #16208
Thanks and sounds good. I think it is safe; pre-signed URLs are designed for this sort of thing. Short lived access to reduce the impact. Given we pass it to another AWS service I don't think there are issues.

The access only provides get objects on the specified resource for the default 5mins; we could reduce this further if necessary (as it is used immediately after the call).

In the POC I hav

[2021-09-14 16:05] MrArnoldPalmer commented on #16208
Oh that's a good callout. We may want to experiment with object versioning on the bucket where we store the assets and perhaps we could revert a version on a rollback.

[2021-09-14 16:21] BenChaimberg opened #16487 "(kinesisfirehose): enable customer-managed server-side encryption on delivery streams by default"
Change the default value of [`DeliveryStreamProps.encryption`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-kinesisfirehose.DeliveryStream.html#encryptionspan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan) to be `StreamEncryption.CUSTOMER_MANAGED`. However, if a Kinesis data stream is specified as the source, in which cas

[2021-09-14 16:34] skinny85 commented on #16487
Additionally, let's explain clearly to customers in the docs what's the difference between the `StreamEncryption.AWS_OWNED` and `StreamEncryption.CUSTOMER_MANAGED` options, by linking to [this documentation page](https://docs.aws.amazon.com/streams/latest/dev/costs-performance.html).

This can be done in the ReadMe of the module, in the inline JSDocs responsible for the encryption properties, or b

[2021-09-14 18:13] skinny85 commented on #16480
Hey @davidmckenzie,

thanks for opening the issue. I believe you can add the replica regions right now in RDS by going:

[code]

But I guess the point is to get rid of the that cast there, and make `addReplicaRegion()` available in `ISecret`, do I understand your feature request correctly...?

Thanks,
Adam

[2021-09-14 18:22] skinny85 commented on #16245
I'm saying that, in your code, you're now doing:

[code]

where `this` belongs to a Stack that is in a different account than `<MyAWSAccount>`.

If you instead imported `imageRepository` into a Stack that belonged to `<MyAWSAccount>`, I _believe_ the bug this ticket has been created will not affect you, and CDK will handle all of the bus permissions for you.

[2021-09-14 18:59] diego-santacruz commented on #16236
I stumbled on this problem today.
As explained above in other words, when all `authFlows` properties are `false`, or no `authFlows` are specified there is no `ExplicitAuthFlows` property in the resulting CloudFormation template. Although not clear in the CloudFormation doc nor the Cognito API, this creates a client with the "default" value for the allowed auth flows, which custom, SRP and refresh

[2021-09-14 21:24] ChrisSargent opened #16488 "(pipelines): How to use an existing Code Pipeline with a CDK Pipeline"
## :question: General Issue

### The Question
The documentation of `@aws-cdk/pipelines` seems to suggest that a CDK pipeline can be added to an existing `@aws-cdk/aws-codepipeline/Pipeline`, using the `codePipeline` prop: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_pipelines.CodePipeline.html

[code]

However, I am not able to get this to work and am experiencing multiple errors at th

[2021-09-14 22:01] alisade commented on #6874
+1

[2021-09-14 22:21] #16463 closed

[2021-09-14 22:36] davidmckenzie commented on #16480
Oh neat, thanks! I'm weak in Typescript, didn't know you could do that :)

But yes, it probably would still make sense for it to be available in ISecret, since I assume you could add replicas to imported secrets as well without danger.

[2021-09-15 00:45] peterwoodworth commented on #16288
Tracking: V432302958

[2021-09-15 00:45] movenus opened #16491 "(codepipeline): Snyk action"
Use a CodePipeline 3P integration action (Snyk) in CDK.

### Use Case

I'd like to create a CodePipeline Pipeline that has a 3P integration stage. I'd like to make this CodePipeline Pipeline in a CDK project. I would also like to connect to GitHub or BitBucket as the source, and model a build stage in CDK.

### Proposed Solution

Use 3P action in CodePipeline CDK.
https://docs.aws.amazon.com/cdk/a

[2021-09-15 00:51] peterwoodworth commented on #16266
Tracking: V432305685

[2021-09-15 00:59] fanhongy commented on #16479
hey @skinny85, thanks for your reply.

That make sense. I will close the issue.

[2021-09-15 00:59] #16479 closed

[2021-09-15 03:09] bndkt commented on #6768
+1

[2021-09-15 03:39] miklinson opened #16492 "(elasticsearch): Elasticsearch must be authorised to describeSubnets"
`Received response status [FAILED] from custom resource. Message returned: Unauthorized Operation: Elasticsearch must be authorised to describeSubnets
(RequestId: f49d7ea9-6d61-4951-98fc-eeda71bb2451)`

### Reproduction Steps
[code]

### What did you expect to happen?
Elasticsearch domain to be created.

### What actually happened?
Elasticsearch domain was  created but there's no access policy.

#

[2021-09-15 05:25] chelproc opened #16493 "(vpc): Get ARN for VPC"
### Use Case

`resources` in `PolicyStatement`

[code]

### Proposed Solution

Add `vpcArn` property for `Vpc` construct.

[code]

### Other

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-09-15 05:34] alfianabdi commented on #14555
I have similar issue, between Ubuntu 20.04 and AmazonLinux 2. I am using cdk 1.122.0 (build ae09c16) with node 14.17.1.
I tried to clean up and clone the repo in both Ubuntu and AmazonLinux2 then install dependecies again.
Both introduce new change in assets.
Old hash: asset.f35a2260b4975da
New hash in Ubuntu:  asset.d3221d8a94463af
New hash in Amazon Linux: asset.0f326c9258aa679

[2021-09-15 08:10] rix0rrr commented on #16375
Attaching to a VPC is already possible today, as is influencing the IAM permissions.

By the way, you can always access `pipeline.synthProject` (cast it to a `Project`) to change things about it, although those might require overrides.

And for more customized cases, you can implement an `ICodePipelineActionFactory` that creates the exact CodeBuild project you want and need.

FWIW, the "this code

[2021-09-15 08:41] Lilja commented on #1758
It would be amazing if this also could be supported for when you create an subdirectory in your app like this:
[code]

[2021-09-15 09:17] abonstu commented on #15328
Man this was doing my head in! Nice catch and well described 👍

[2021-09-15 09:19] jogold commented on #14555
@alfianabdi what kind of asset? can you share some code?

[2021-09-15 10:26] avishayil commented on #16492
I actually encountered the same bug, and I found out that it is caused by the `accessPolicies` proprety, which creates a custom resource that configures the access policy. If you'll remove the `accessPolicies` property the error goes away.

[2021-09-15 10:34] miklinson commented on #16492
@avishayil that's also my workaround for now. Removing the `accessPolicies` during cdk deploy then manually add it in the Elasticsearch domain after.

[2021-09-15 10:41] avishayil commented on #16492
You can try to configure the access policy yourself using the custom resource CDK construct that implements AwsSdkCall: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_custom-resources.AwsSdkCall.html, but it might be complicated because the API call is `UpdateDomainConfig` and you might need to supply all the configuration parameters https://docs.aws.amazon.com/opensearch-service/latest/

[2021-09-15 10:58] wswoboda commented on #11549
agreed, for the same reason as jagregory

[2021-09-15 12:03] RomainMuller commented on #15437
According to [the documentation](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudformation.CfnCustomResourceProps.html), `CfnCustomResourceProps.service_token`is typed as `string`, and not `string | IResolvable`.

What @rix0rrr suggested as a workaround is actually how it needs to be done, even in TypeScript. There is no jsii issue, as the API behaves exactly as designed.

[2021-09-15 12:03] #15437 closed

[2021-09-15 12:52] gshpychka commented on #16375
@rix0rrr thanks. Does this mean that `CodeBuildCaching` is still coming?

[2021-09-15 13:08] simsek97 commented on #3091
Running `cdk bootstrap` before `cdk deploy` should be enough.
But I agree, the error message is a bit confusing.

[2021-09-15 13:21] tstibbs opened #16496 "No way to specify role for s3 bucket autoDeleteObjects lambda custom resource"
If using [autoDeleteObjects](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3.Bucket.html#autodeleteobjects) on a s3 Bucket construct, CDK creates a lambda function that will delete everything in the bucket when the stack is destroyed. However, a role is created for this lambda and there is no way to override that behaviour. This is a problem for environments where IAM changes are t

[2021-09-15 13:27] #16459 closed

[2021-09-15 14:57] jogold commented on #16480
How about adding an option to `fromGeneratedSecret()`?

[code]

`addReplicaRegion()` is not available in `ISecret` because it's not available for an imported secret.

[2021-09-15 16:07] #14778 closed

[2021-09-15 17:07] skinny85 commented on #16491
Thanks for opening the issue @movenus! Turns out, we already have a request for this integration open here: https://github.com/aws/aws-cdk/issues/16232, so please +1 that issue!

[2021-09-15 17:08] #16491 closed

[2021-09-15 17:27] ddl-denis-parnovskiy opened #16498 "(aws_cdk.core): Allow intrinsics in CustomResource and CfnCustomResource parameter service_token"
Allow code like this:

[code]

Currently CDK only accepts string for both:
[code]

### Use Case

When deploying lambda along with the stack, Arn of the lambda is not known and we need a function like `Fn::GetAtt` to get Arn.

No, we do not want to use the middleman Provider class because we do not need any of the functionalities there and do not want additional 5 resources.

### Proposed Solution

[2021-09-15 17:51] BenChaimberg opened #16499 "(kinesisfirehose): add Redshift table grant as destination dependable"
The Redshift user assumed by Firehose to deliver data is granted insert privileges on the destination Redshift table. This grant creates a resource that needs to be depended on by the delivery stream itself so that the permissions exist before the delivery stream is created. We already have a [hook for this purpose](https://github.com/aws/aws-cdk/blob/7d3b90b2097aa9b7170a77befcee5822d5d0c3e7/packa

[2021-09-15 18:06] rmarscher commented on #14915
This also seems to invalidate the previous key and generate a new key with the new expiration date on deploys with `expires: Expiration.after(Duration.days(365))` which is problematic.

To workaround, I used a fixed timestamp for the expiration (`Expiration.atDate()` or `Expiration.atTimestamp()`) and then will have to remember to update it manually.

[2021-09-15 18:48] Seiya6329 commented on #16405
Hi @RigoIce . I am glad to hear you figured out the solution! Thanks for offering to contribute and it is extremely helpful!

I will try to find if we have any documentations to explain how one can submit a walkthrough.

[2021-09-15 18:52] #6039 closed

[2021-09-15 18:56] KatrinaYang2302 opened #16500 "LinuxGpuBuildImage: add feature to directly import image from an arbitrary ECR repository"
This is to bring feature parity between `LinuxBuildImage` (https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codebuild.LinuxBuildImage.html#static-fromwbrecrwbrrepositoryrepository-tag) and `LinuxGpuBuildImage` (https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codebuild.LinuxGpuBuildImage.html).

Specifically, add the `fromEcrRepository` method in this class.

### Use Case

[2021-09-15 19:15] maafk opened #16501 "(aws-ec2): cfn-init includeRole is incomplete"
#16121 is incomplete and passes the incorrect role to the `--role` flag in the `cfn-init` command

### Reproduction Steps

[code]

### What did you expect to happen?

EC2 instance in ASG bootstrapped with cfn-init fails to run

### What actually happened?

The value generated for `--role` is incorrect, causing a 404 when running the `cfn-init` command

### Environment

  - **CDK CLI Version  :** 1

[2021-09-15 19:38] PatrikElfstrom opened #16502 "(aws-lambda): regionInfo.cloudwatchLambdaInsightsArn is not a function"
## :question: General Issue

### The Question

Upgraded all @aws-cdk (and the cli) from 1.74.0 to 1.122.0 and @aws-cdk/aws-lambda is triggering this error.

Lambda Insights is not enabled in AWS nor have I defined the insightsVersion property.
But to my understanding of the docs that should not be necessary.

Am I missing some documentation between versions?

### Environment

  - **CDK CLI Version

[2021-09-15 21:10] Seiya6329 commented on #16405
Unfortunately we don't have written instructions on writing a walkthrough. It would be great if you could refer existing walkthroughs and replicate the pattern and send us the PR.

---
Since the issue is resolved, I am closing this thread.

[2021-09-15 21:10] #16405 closed

[2021-09-15 21:32] fjmacagno commented on #12903
I found a simple way to do this, but it doesn't use aws-s3-deployment:
[code]

[2021-09-15 23:42] prashanttct07 commented on #16492
There was an issue with Service Linked Role (SLR), which has been fixed and deployed. Please check now and you should not be getting any such error while creating the domain.

[2021-09-16 00:24] miklinson commented on #16492
@prashanttct07 confirmed. I've successfully created an Elasticsearch domain without any issues. Can you please share the link saying the issue was with with Service Linked Role (SLR) and the confirmation that it has been fixed and deployed. Thanks!

[2021-09-16 05:28] moltar commented on #12898
This is a **massive** issue and it's a nasty one!

---

@miekassu and I have have spent 10+ hours on debugging this issue.

@miekassu has created a repro here: https://github.com/miekassu/lambda-build-fail

To test it:

[code]

During the deployment you'll not see any errors, but the publishing step may take a minute, because the bundle is large

This part:

[code]

Then you can try:

[code]

And

[2021-09-16 05:40] moltar commented on #12898
It looks like on that line that @supaiku0 specified (minimatch), the value of `Stack.of(this).stackName` is `Stage-Stack`, while the pattern is `Stage/Stack`.

[2021-09-16 05:42] moltar commented on #12898
But if `cdk deploy -e Stage-Stack` command it used then bundling seems to happen, but deploying isn't. It just cleanly exists 🤷🏼‍♂️

[code]

[2021-09-16 06:08] mrpackethead commented on #16375
_FWIW, the "this code creates mostly what I need except this one property..." problem_

Yes, murphy's law is that its always that one property that is'tn there. :-)     I agree with you, that adding more propertys is not really a scalable problem..   If your contruct starts specifiying  'propertys' of a an underlying reoource the construct, ( rather than the resource itself ), then it woudl always

[2021-09-16 08:06] rix0rrr commented on #16435
You have multiple copies of the pipelines library in your dependency closure

[2021-09-16 09:10] revmischa opened #16508 "(cli): support hotswapping resources in Nested Stacks"
Big fan of the work in https://github.com/aws/aws-cdk/pull/15748/files and wish I could use it in my application. I'm building an application of medium size on CDK and I have split it up into nested stacks. Hotswap does not work with nested stacks. It would be terrific if it did, especially as the nested stacks add considerable deployment time as it is.

### Proposed Solution

[tryHotswapDeploymen

[2021-09-16 09:37] markusl commented on #16435
As discussed with @rix0rrr, the `aws-cdk-lib` must not be part of `dependencies` of the CDK Construct, but listed in `peerDependencies`.

This can be achieved with `projen` by setting `cdkDependenciesAsDeps` to `false` in `.projenrc.js`:
[code]

[2021-09-16 09:37] #16435 closed

[2021-09-16 09:43] icelava commented on #6734
Looking at the workaround hack, I'm trying to instantiate an AutoScalingGroup with only parameters a LaunchTemplate does not contain, and before I can even cast that to a CfnAutoScalingGroup to take on the rest of config from the LaunchTemplate, its constructor complains

_Unhandled exception. Amazon.JSII.Runtime.JsiiException: Missing required properties for @aws-cdk/aws-autoscaling.AutoScalingGr

[2021-09-16 09:57] ismferd commented on #13153
An example in kotlin:
[code]

[2021-09-16 10:07] AbhiramIyer opened #16509 "(aws-elasticloadbalancerv2): Unable to add more than one certificate to NLB via CDK"
## :question: General Issue

### The Question

I am unable to synthesize a NetworkListener with multiple ACM certificates. Synthesis with one certificate works as expected. As per the [documentation](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.NetworkListener.html#certificates) this is supported, but during synthesis I get this error:
"
`Resource handler ret

[2021-09-16 10:20] wolf-allywilson opened #16510 "(@aws-cdk/aws-autoscaling-hooktargets): Cannot use Lambda function as lifecycle hook notification target in JavaScript, but can in Python"
Porting a stack from Python to Javascript, encountered an issue whereby I can't use a lambda as a lifecycle hook notification target.

Always get this error:

### Reproduction Steps
[code]
### What did you expect to happen?

In my Python code I have a lifecycle hook calling a lambda function (i.e. I run a Lambda when terminating an instance in my ASG) and it works fine, no errors.

### What actual

[2021-09-16 10:31] nikovirtala commented on #9201
@iliapolo @peterwoodworth I'm quite sure whether my issue belongs here, or should I open a separate issue for it, but it comes:

In case the "FileAssetsBucket" created by CDK bootstrap is encrypted with the KMS key created by CDK bootstrap, "BucketDeployment" is not able to read the "FileAssetsBucket" which it is using as a source for the deployment. This happens because the role used by the custo

[2021-09-16 10:38] rodrigoalmeida94 commented on #16323
After some further experimentation, I was able to get pass this issue by using `application/vnd.nasa.cmr.umm+json` in the request_template (without the version). When that is the request_template content type, any `application/vnd.nasa.cmr.umm+json;version=XXX` matches and the correct mock integration is triggered!

[2021-09-16 10:38] #16323 closed

[2021-09-16 11:12] MaartenUreel commented on #11535
For anyone looking for a workaround with escape hatches, assuming `service` is your `NetworkLoadBalancedFargateService`, you can do something like this:

[code]

In my example I was exposing a service on UDP port 5060.

Don' forget to add a port mapping to make the health check work, since that cannot be on UDP, e.g.:

[code]

[2021-09-16 11:12] rantoniuk opened #16511 "(iam): set up MFA for IAM users"
When the CDK stack controls creation of users and those users set up their MFA, CDK (actually CloudFormation) cannot destroy the User resource anymore.

This seems like a missing `purge` feature on CloudFormation side as trying to delete the stack from the console results in the same error. The admin must manually go into the deleted user, remove the MFA device and only then destroy the stack.

##

[2021-09-16 11:12] aramfe commented on #12696
Any update on that? This issue is right now forcing me to implement a very ugly workaround in my CI defined jobs using cdk-assets.

[2021-09-16 11:14] alfianabdi commented on #14555
The assets for lambda function, I am able to reproduce with the sample
https://github.com/alfianabdi/cdk-lambda.git

[2021-09-16 11:27] samkio commented on #16208
So I took a look at how this works.

There are 3 events for custom resources:

Create - called when the resource is first created.
Update - called when the resource is updated.
Delete - called when the resource is deleted.

The POC has create and update to be the same logic to deploy and delete no-ops.

On a rollback there are 3 scenarios:
The deployment failed at create.
The deployment failed to

[2021-09-16 12:29] samlaf opened #16512 "(cdk-pipelines): cdk bootstrap command no longer valid"
link to reference doc page: https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html#s3-error-access-denied

The command for creating a new cdkbootstrap
[code]
fails with error
[code]
Maybe change it to 'random1234'?

Also missing `\` after second and third lines.

---

This is a 📕 documentation issue

[2021-09-16 12:52] caveman-dick commented on #12543
I've just had this issue and it turned out to be that I had 2 different versions of the `constructs` lib installed as sub-dependencies of the CDK packages that I had installed. This was only visible in the lock-file so took me quite a while to find it

Once I deleted the lock-file and run pnpm install it was all hunky-dory!

Roll on v2! 😒

[2021-09-16 13:07] sblackstone commented on #15891
I can also confirm this issue occurs with some regularity for me too...

I have a script that that deploys  the same stack to 29 different accounts - with a deploy I just did, I had 3 of 29 fail with `Waiter InvalidationCompleted failed:`

[2021-09-16 13:39] OuFinx commented on #6768
+1

[2021-09-16 13:59] bmccraw86 commented on #16314
I'd like to add on an issue. When adding a tag to the transit gateway, CDK says it will replace the resource as shown in the `cdk diff` output below. However, if you look at the [cloudformation documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-transitgateway.html#cfn-ec2-transitgateway-tags) for transit gateway, tag changes list "Update requires: no int

[2021-09-16 14:53] mlippens commented on #14555
We have the same issue with function resources `NodejsFunction` and `PythonFunction`.

[2021-09-16 14:54] yamatatsu opened #16513 "(core): WebIdentityCredentials does not work"
I use OIDC Provider for aws-cdk credentials as following:
https://awsteele.com/blog/2021/09/15/aws-federation-comes-to-github-actions.html

But I get an error `Unable to determine the default AWS account: Error [ConfigError]: Missing region in config`.

This is similar to #9937. And this case occur in `TokenFileWebIdentityCredentials`.
https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/li

[2021-09-16 15:50] evanerwee opened #16514 "aws_cdk.aws_rds.DatabaseCluster, Set IAM manage role"
## :question: General Issue

Using class aws_cdk.aws_rds.DatabaseCluster I'm unable to find a way to set the RDS Cluster Manage IAM roles. This can be set using the AWS Console, Click on the Cluster Instance under RDS. Select IAM roles to add to this cluster, and add an existing role that have access, to for example Lambda.

### The Question
How do I set the RDS Cluster Manage IAM role in the CDK?

[2021-09-16 16:05] skinny85 commented on #16508
Thanks for opening the issue @revmischa! We definitely plan on supporting this hotswapping resources in Nested Stacks, we just haven't prioritized it yet 🙂.

Note to everyone: feel free to +1 this issue, a high number of upvotes will make it more likely we'll start on this feature earlier 🙂.

[2021-09-16 16:39] dal13002 opened #16515 "CDK depends on vulnerable version of pac-resolver"
We noticed the cdk package contains this high vulnerability:
[code]

For more info on the vulnerability: https://snyk.io/vuln/SNYK-JS-PACRESOLVER-1564857

Looking at the dependency tree, this comes from downloading `proxy-agent@4.0.1` but is resolved in `proxy-agent@5.0.0` .

[2021-09-16 17:49] naseemkullah commented on #15891
Thought I would mention I've had this happen today twice in row, once upon stack update and the once upon stack rollback, resulting in an `UPDATE_ROLLBACK_FAILED` state requiring a manual `Continue update rollback`.

[2021-09-16 18:44] dal13002 commented on #16515
Closing issue. I see it is addressed in https://github.com/aws/aws-cdk/pull/16469 but a new version has not be released with this chance yet. Guessing this will be done within a week based on the release tag timeline

[2021-09-16 18:44] #16515 closed

[2021-09-16 20:17] adrian-baker commented on #5334
5-6 minutes for mine . Slower than a rolling deploy of a small ECS Fargate cluster : (

[2021-09-16 20:36] peterwoodworth commented on #16173
Closing because this seems wrapped up. Ping me if you have any other questions

[2021-09-16 20:36] #16173 closed

[2021-09-16 20:37] peterwoodworth commented on #16178
Seems to me like the issue got resolved based on the issue you linked, so I'll close this. Ping me if I'm mistaken

[2021-09-16 20:37] #16178 closed

[2021-09-16 20:38] #16275 closed

[2021-09-16 23:27] ahammond opened #16518 "(ec2): Elastic IPs not released when VPC deploy fails / stack destroyed"
I tried to create a VPC in us-east-1 using the following:

[code]

It failed because it ran out of ElasticIPs. This is a sandbox account, only allows 5 ElasticIPs but cdk wants to allocate 1 per AZ for the public subnets and us-east-1 has 6 AZs. So far so good, but then I went into the console and discovered that there were still 5 EIPs still allocated, even after deleting the stack. Not sure if t

[2021-09-17 03:43] yamatatsu commented on #16513
I solve it by setting environment variables `AWS_REGION` instead of `AWS_DEFAULT_REGION`.

Sorry!

[2021-09-17 03:43] #16513 closed

[2021-09-17 03:56] benbatesbrooke commented on #15134
@d1manson not sure if you're still having an issue here, but I was running into similar issues and was able to resolve with following YML. Using SAM, I was able to deploy the stack below, which includes the LambdaFunction, AppFlow and EventBridge configuration.
The only manual step is to create the Connection to Salesforce for the AppFlow....looking for a way to automate that as well.
Hope this is

[2021-09-17 03:59] #16467 closed

[2021-09-17 04:30] AbhiramIyer commented on #16509
As per https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listener.html -"You must provide exactly one certificate if the listener protocol is HTTPS or TLS". Hence this is not a functional issue. API documentation could be updated to clarify this.

[2021-09-17 07:10] JahnKhan commented on #16502
python cdk same happened to me, after updating everythin this occured:

[code]

[2021-09-17 09:26] rix0rrr commented on #10701
Has since been fixed

[2021-09-17 09:26] #10701 closed

[2021-09-17 09:51] jtran0721 opened #16525 "upgrade proxy-agent in yarn.lock to 5.0.0"
## :question: General Issue

### The Question
Hi, can someone please upgrade proxy-agent in yarn.lock  to version 5.0.0 so pac-proxy-agent and pac-resolver also run on version 5.0.0 (aws-cdk v1.123 yarn.lock still have version 4.1.0) but in master branch use version 5.0.0

I don't know how to upgrade them through yarn.
Thank you
### Environment

  - **CDK CLI Version:**
  - **Module Version:**
  -

[2021-09-17 10:01] JahnKhan commented on #16502
coud you solve it? i cleared my virtual environment and installed the dependencies new and it worked

[2021-09-17 10:47] nija-at commented on #16502
@PatrikElfstrom - This method does exist - https://github.com/aws/aws-cdk/blob/124a7a1c20981c72bfdce0c857c87c46c6cb5f51/packages/%40aws-cdk/region-info/lib/region-info.ts#L117

I suspect this might be because your dependencies are not all upgraded. Can you make sure that the dependencies are all up to date, reinstall them and try again?

If you still see this error, you will need to provide a set

[2021-09-17 11:16] PatrikElfstrom commented on #16502
@nija-at @JahnKhan Yes the node modules seemed to have been cached in the cicd. Cleaning the cache solved the issue.

[2021-09-17 11:16] #16502 closed

[2021-09-17 11:46] rix0rrr commented on #16404
It's a good idea, but it will not work the way CDK creates resources.

Most CDK-generated policy statements are of the form:

[code]

If we're going to pull all IAM resources out into a separate stack, the name of `BucketInThisTemplate` cannot be known yet, so it cannot be deployed.

The alternative is `Resource: *` but that seems worse.

A workaround for this is forcing all resources to be given

[2021-09-17 11:50] rix0rrr commented on #16411
Sounds good! PR welcome!

[2021-09-17 11:59] rix0rrr commented on #16414
You are probably looking to pass an `EventRuleInput` to your lambda target.

From this page: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-events-readme.html#rule

[code]

In your case you will be using `targets.LambdaFunction` and the property is called `event` (instead of `message`) but the pattern looks the same.

[2021-09-17 11:59] #16414 closed

[2021-09-17 12:01] rix0rrr commented on #16473
We recommend you don't make SDK calls in your CDK app, and therefore we don't make it easy.

See [**Commit cdk.context.json to avoid nondeterministic network lookups
**](https://aws.amazon.com/blogs/devops/best-practices-for-developing-cloud-applications-with-aws-cdk/)

If you definitely know you want to, you know how to achieve it. You can always set `AWS_PROFILE`.

[2021-09-17 12:01] #16473 closed

[2021-09-17 12:02] rix0rrr commented on #16498
Use `Token.as_string(function.get_att('Arn'))`

[2021-09-17 12:02] #16498 closed

[2021-09-17 12:08] rix0rrr commented on #16511
This behavior is by design in IAM.

It's also by design in CloudFormation and CDK: any changes made outside the IaC management scope are "out of bounds", and not safe to touch (or even not reasonable for the system to know about).

The right way to do this would be to tell CloudFormation about the MFA device, so that it can clean it up again.

* Either add MFA support to CDK
* Or use an L1, I'm as

[2021-09-17 12:13] rix0rrr commented on #16352
If you look in Systems Manager Parameter Store, you will see that there is a parameter with the name `/cdk-bootstrap/hnb659fds/version`.

The bootstrap template is trying to create that same parameter, and it fails because it already exists.

Go through all CloudFormation stacks, and see if any of them have this parameter in their list of **Resources**. Once you find it, figure out why that CloudF

[2021-09-17 12:13] #16352 closed

[2021-09-17 12:16] rix0rrr commented on #16423
I agree. Feel free to submit a PR with the change.

[2021-09-17 12:17] rix0rrr commented on #16485
Sounds good. Feel free to submit a PR.

[2021-09-17 13:41] #16224 closed

[2021-09-17 15:29] zweger opened #16527 "(aws-route53resolver): FirewallDomains.fromList() does not support wildcard subdomains"
Subdomains with a leading wildcard are rejected by CDK:
`jsii.errors.JSIIError: Invalid domain: *.example.com. Valid characters: A-Z, a-z, 0-9, _, -, .`

The [Route 53 documentation](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resolver-dns-firewall-user-managed-domain-lists.html) indicates a leading wildcard is supported.

### Reproduction Steps

This Python code errors during synthe

[2021-09-17 15:57] BenChaimberg opened #16528 "(appsync): support OpenSearch data source"
With the rebranding of Elasticsearch as OpenSearch, the AppSync module should support OpenSearch domains as a data source. This will probably rely on the AppSync service making changes to their internal data source code, as well as CloudFormation changes. This ticket is simply anticipatory and to ensure that we do pick up the work once it is possible to be completed.

Once the OpenSearch data sour

[2021-09-17 16:10] BenChaimberg opened #16530 "(elasticsearch): deprecate module"
Now that Elasticsearch has been rebranded as OpenSearch and the new `aws-opensearchservice` module has been created, the `aws-elasticsearch` CDK module should be deprecated. This cannot be accomplished currently since the `aws-appsync` module still takes a dependency on `aws-elasticsearch` and the `v2` build will fail since deprecated modules are stripped.

Depends on #16528

---

This is a :rocke

[2021-09-17 16:26] BenChaimberg opened #16531 "(opensearch): remove patches"
The current implementation of the `aws-opensearchservice` module relies on patches to the CFN specification and the AWS JavaScript SDK.

The CFN specification can be removed when the public specification has been updated to include the new `AWS::OpenSearchService::Domain` resource (probably by 9/20). This information can be tracked in [the `@aws-cdk/cfnspec` module](https://github.com/aws/aws-cdk/

[2021-09-17 17:14] Jasonca2 opened #16532 "Add a class/enum to specify resource actions for IAM policy statements"
For each resource that has actions for IAM policy statements, add a class/enum that lists the resource actions so that they don't have to be written out manually.

### Use Case

To prevent errant mistyping of resource actions when writing policy statements. I also think a better approach would be to have a defined `Action` class that would offer more definitive type hinting, and could resolve to a

[2021-09-17 17:19] dontirun commented on #16404
This is probably beyond the scope of CDK, but I think the underlying issue is that security teams want to be able to inspect permission granting resources (IAM policies, KMS key policies, Bucket policies) pre-deployment. Theoretically If there was a method to implement a [two-person](https://en.wikipedia.org/wiki/Two-man_rule) rule where

1. Developers  with X permissions stage a change set
2. Sec

[2021-09-17 19:57] markuspxpx commented on #4757
It finally worked !!! Thank you

PS: I still was having the same issue, when I realized that I was missing the **^** before the version number

1.122.0 -> ^1.122.0

[2021-09-17 20:47] elliot-smith commented on #14316
For those that run into this issue and are trying to deploy into multiple regions or potentially accounts in separate shells, you can stop this error from occurring by specifying an output directory for the cdk stack.

i.e. Shell 1
`export AWS_REGION=us-west-2 && cdk deploy --all --output /my/custom/cdk-out/directory/1`

Shell 2
`export AWS_REGION=ap-southeast-2 && cdk deploy --all --output /my/cu

[2021-09-17 20:49] shellscape commented on #14316
@elliot-smith thank you for sharing this. it's wild that CDK doesn't do this by default.

[2021-09-17 20:50] shellscape commented on #14316
@rix0rrr see previous comment. seems there's an easy fix the team could make here.

[2021-09-18 02:08] moltar opened #16535 "(core): Add `Duration.minus` method"
There is already a `Duration.plus` method which allows to add two durations together.

However, there is no `Duration.minus`.

https://github.com/aws/aws-cdk/blob/efe5112a2c6ae5e70b2631711b95b04d10062812/packages/%40aws-cdk/core/lib/duration.ts#L106-L110

### Use Case

Ability to subtract one duration from another.

For example, a CloudWatch trigger that executes a lambda every 5 minutes.

At the

[2021-09-18 02:26] miklinson commented on #16492
Closing the issue now, the bug seems to be resolved. Also, [Elasticsearch was rebranded to Opensearch](https://github.com/aws/aws-cdk/commit/e6c4ca5e71934e890eabe41190e9c2d0bd42aefb)

[2021-09-18 02:26] #16492 closed

[2021-09-18 03:29] golatoye opened #16536 "(module name): Errors in the construction Certificate or DnsValidatedCertificate of from stack"
Errors in the construction Certificate or DnsValidatedCertificate of from stack

[code]

### Reproduction Steps

[code]

### What did you expect to happen?
the certificate construct to be created

create a certificate to be used in cloudfront

### What actually happened?
the error above . I think its because
```import { Construct } from 'constructs';```

is used for scope rather than

```import {C

[2021-09-18 06:15] assafkamil commented on #16465
Hey @njlynch
Can you please go over my request and the pull request (https://github.com/aws/aws-cdk/pull/16264)?

[2021-09-18 19:48] Krotki opened #16541 "(aws-eks): add service ip range setting to cluster class"
In console we can specify Service IPv4 range, same goes with `CfnCluster` class, which contains `kubernetesNetworkConfig?` property. Unfortunately it is not possible to set it via `Cluster` class.

### Use Case

We planed to migrate out on-premis k8s kluster to aws. To do it we planned to expose pod k8s network and service k8s network to EKS and viceversa. Unfortunatly by default k8s comes with se

[2021-09-18 20:26] matthew-valenti commented on #15488
To clarify the workaround in the comment above. Example CDK code:

[code]

[2021-09-19 03:01] sdobberstein commented on #12076
@eladb I am seeing the same issue as well, and my environment has been bootstrapped with `@aws-cdk/core:newStyleStackSynthesis` context set to `true`

[2021-09-19 08:24] jumic commented on #16536
Issue #7280 describes the same problem. Can you please try the steps mentioned there? Does this resolve your issue?

[2021-09-19 12:15] i05nagai commented on #16221
I've created a PR. Please have a look.

[2021-09-19 12:36] hansfpc commented on #7746
same problem here

[2021-09-19 15:21] golatoye commented on #16536
@jumic thanks for the response . I have already dried to force all the cdk package to have the same version see below

[code]

also I have deleted ```node_modules``` and ```package-lock.json``` but still get the same problems

[2021-09-19 16:25] aherrmann13 opened #16544 "(aws-route53-targets (or aws-route53 or aws-ec2)): No child with id: 'Resource'` when referencing existing vpc endpoint in route 53 arecord"
## :question: General Issue

### `No child with id: 'Resource'` when referencing existing vpc endpoint in route 53 arecord

getting error `No child with id: 'Resource'` with the code below

[code]
seems to be failing on the line [here](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-route53-targets/lib/interface-vpc-endpoint-target.ts#L11)

this works fine when I create a VPC en

[2021-09-19 16:47] jumic commented on #16536
There are two packages that have a different version. Can you change these packages to version `1.121.0`, too?
[code]

[2021-09-19 17:19] golatoye commented on #16536
@jumic . well that's embarrassing :-) . Thanks for spotting. its working after your fix

[2021-09-19 17:19] #16536 closed

[2021-09-19 18:37] ishanjain28 commented on #14738
From the logs here this looks like a genuine problem but I want to present another data point.
Please review your config. Make sure you have not done something like what I had done in my project.

[code]

It'll keep working perfectly fine until one day all the other dependencies are updated and `aws-cdk` is not compatible anymore and then you get this error.

[2021-09-19 20:31] vincent-turato commented on #16273
I'd like to submit a pull request for this

[2021-09-19 21:02] paulegan commented on #16209
Before I found this issue I had the same problems with podman and implemented almost identical workarounds.
So I can confirm that these changes fix cdk with podman (Fedora 33, Podman 3.3.1).

For anyone searching for the errors generated, without these changes `login` throws:

[code]
and `inspect` throws:
[code]

[2021-09-20 03:22] quixoticmonk commented on #16332
I can't somehow reproduce the issue with 2 S3 buckets with one of them being an access log and having one "CustomS3AutoDeleteObjectsLambda" between them. I have this same core logic failing on an application stage from a codebuild instance where the custom resource which is assigned to delete the access logs bucket gets deleted earlier than the bucket. So I think there is an order mismatch which c

[2021-09-20 03:39] miekassu commented on #8241
This is problematic, I would love to see this issue fixed.

[2021-09-20 04:10] davidmckenzie opened #16547 "(opensearch): Custom endpoint does not create CNAME"
Attempting to create an OpenSearch domain with `customEndpoint` set fails with error 'Attribute 'DomainEndpoint' does not exist'

### Reproduction Steps

[code]

### What did you expect to happen?

OpenSearch domain should create with a custom endpoint configured, and should add a CNAME in Route53 to point to the endpoint address

### What actually happened?

[code]

### Environment

  - **CDK CLI

[2021-09-20 06:24] NGL321 commented on #16327
Closing due to lack of response

[2021-09-20 06:24] #16327 closed

[2021-09-20 06:27] NGL321 commented on #14230
Hey @viventra,

Did the provided guidance help fix your problem? If not, just comment and we will take a look again.

😸 😷

[2021-09-20 07:48] devicedev opened #16549 "(aws-sns-subscriptions): Numeric values are not supported on the filterPolicy prop"
When trying to create a lambda subscription with the filterPolicy param that contains a numericFilter, the deployment fails.
Error: **Invalid parameter: FilterPolicy: Empty arrays are not allowed.**

### Reproduction Steps
Create the lambda subscription with the filterPolicy  with an amount field and the value of SubscriptionFilter.numericFilter

[code]
The cdk generates the following piece of jso

[2021-09-20 10:04] simiyu1 commented on #13238
I had this issue for the last 2 days... My structure is several microservices expose their schemas to AppSync which then compiles them to gether with their resolvers into one. My bug was caused by one microservice that was trying to create the resolver's datasource. The fix was to ensure that no microservices is trying to create the datasources. Create is only done by Appsync API..

Might be worth

[2021-09-20 10:36] elacy commented on #7448
Here is a quick work around for anyone else that runs into this problem
[code]

[2021-09-20 10:44] cyuste commented on #15572
Retested with cdk v1.123.0 (cli and packages version). Still reproduced

[2021-09-20 11:00] asterikx opened #16552 "(aws-s3): synth fails with Yarn PnP when autoDeleteObjects is enabled"
When `autoDeleteObjects` is set to `true`, `yarn cdk synth` fails when using [yarn with PnP](https://yarnpkg.com/features/pnp). When set to `false` (or omitted), `yarn cdk synth` succeeds.

### Reproduction Steps

[code]

### What did you expect to happen?

`yarn cdk synth` succeeds regardless of whether `autoDeleteObjects` is enabled or not.

### What actually happened?

`yarn cdk synth` fails if

[2021-09-20 14:23] yamatatsu commented on #6835
Can I help this issue?
I want AWS IoT L2 constructs!

[2021-09-20 15:12] kamzil opened #16554 "(apigateway): Changes to authorizer does not cause latest deployment to update"
When you have an authorizer that has an imported Lambda from another stack set as handler (authorizerUri), and you change that ARN, authorizer will start failing with AuthorizerConfigurationException on requests to API endpoints that have that authorizer attached.

API Gateway logs reveal that the authorizer is still trying to invoke the Lambda with the old ARN, and fails because Lambda permission

[2021-09-20 18:36] wangzlei opened #16555 "(aws-cloudwatch): cross-account alarm does not work for math expression"
CDK has released cross-account alarm from 1.120.0, it works in Single metric case but does not work in match expression.

### Reproduction Steps
[code]

### What did you expect to happen?

Cross-account works in both math expression and Single metrics.

### What actually happened?
Cross-account alarm does not work in math expression

### Environment

  - **CDK CLI Version  :*1.120.0*
  - **Framewo

[2021-09-20 18:40] orionhall opened #16556 "Pipelines: Pipeline Creation Fails at Creating BucketEncryptionKeyAlias When SSM Parameter is Not Found"
## :question: Pipeline Creation Fails at Creating BucketEncryptionKeyAlias When SSM Parameter is Not Found

### The Question

I have a project with a `CdkPipeline` that was failing to deploy when creating a `BucketEncryptionKeyAlias`. There was no description of why it was failing and I could only find [this related issue](https://github.com/aws/aws-cdk/issues/4336) that recommended passing an exi

[2021-09-20 18:52] peterwoodworth commented on #16525
Relevant CVE: https://nvd.nist.gov/vuln/detail/CVE-2021-23406

[2021-09-20 18:59] #16480 closed

[2021-09-20 19:12] peterwoodworth commented on #16525
This issue has been resolved: https://github.com/aws/aws-cdk/pull/16469

[2021-09-20 19:12] #16525 closed

[2021-09-20 19:23] skinny85 commented on #16514
Hey @evanerwee,

thanks for opening the issue. Do you happen to know if this feature is available in CloudFormation? I [went through the docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbcluster.html), but I couldn't find anything about setting the Cluster manage Role.

Thanks,
Adam

[2021-09-20 19:29] mutovkin commented on #2371
@SomayaB I believe this is a very useful feature that should be part of CDK itself.

[2021-09-20 19:48] vito-laurenza-zocdoc commented on #13346
This feature would be hugely helpful for those of us migrating lots of legacy stacks. We've been resorting to creating and manually verifying changesets and it's tedious at best.

[2021-09-20 19:56] Cushdrive opened #16559 "Prevent Automatic Resource Policy Updates"
Similar to mutable=False or withoutPolicyUpdates for IAM Roles, I need a way to prevent automatic KMS resource policy updates on my behalf. This automatic policy update is happening when adding an SQS queue destination to an S3 bucket notification. Because I'm simply importing a KMS key and associating it with a new SQS queue, then setting up the notification with a bucket, I get the following exc

[2021-09-20 20:42] evanerwee commented on #16514
That’s a really good question. I did some more research and it appears to be a service link role.

 https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-servicelinkedrole.html

If that is the case I assume I have to go via the IAM path.

Will investigate tonight and post an update.

[2021-09-20 22:13] peterwoodworth commented on #15428
closing, please open if you need to revisit this

[2021-09-20 22:13] #15428 closed

[2021-09-20 22:17] peterwoodworth commented on #15573
@danmactough have you provided the requested information? Ping me if you'd like to reopen this issue.

[2021-09-20 22:18] peterwoodworth commented on #15394
please ping me with the requested information if you'd like us to investigate this issue.

[2021-09-20 22:18] #15394 closed

[2021-09-20 22:20] peterwoodworth commented on #15426
Please ping me if you'd like to reopen this issue. Closing for now

[2021-09-20 22:20] #15426 closed

[2021-09-20 22:21] peterwoodworth commented on #15493
Please ping me with the requested information if you'd like us to continue to investigate this issue. Closing for now

[2021-09-20 22:21] #15493 closed

[2021-09-20 22:45] peterwoodworth commented on #15632
Hey @paya-cz, would you like to submit a pr for this?

[2021-09-20 22:46] robwettach commented on #7832
I just ran into this same issue again over a year later.  In this case I created a `sns.Topic` within an enclosing construct and set its `id` to "Resource".  This of course clashes with the default name of basically *any* other resource.

[2021-09-20 22:54] peterwoodworth commented on #16207
Hey @bravogolfgolf, I've been unable to work on this. My apologies. I'll try to give an update by the end of the week

[2021-09-20 22:58] quixoticmonk commented on #16186
Still waiting on the cfn spec to be updated or be publicly available. Tested on v 1.123

[2021-09-20 23:03] peterwoodworth commented on #16544
Hey @aherrmann13, thanks for submitting this issue.

This is a bug, an imported resource shouldn't have children. The [InterfaceVpcEndpointTarget](InterfaceVpcEndpointTarget) class should only take in an InterfaceVpcEndpoint instead of an IInterfaceVpcEndpoint. Either that, or the pattern should be reworked to function with imported resources. @njlynch what do you think?

[2021-09-20 23:12] skinny85 commented on #16514
Thanks!

[2021-09-20 23:22] peterwoodworth commented on #15636
Hey @paya-cz, sorry for the slow response

Would you like to submit a PR for this feature request yourself? I can't guarantee anyone from the team will be able to tackle this anytime soon

[2021-09-20 23:32] peterwoodworth commented on #15863
Seems like this issue can be closed. Let me know if you need this to be reopened

[2021-09-20 23:32] #15863 closed

[2021-09-20 23:33] peterwoodworth commented on #15897
Seems like that's the most appropriate solution here. Closing now

[2021-09-20 23:33] #15897 closed

[2021-09-21 01:10] #16512 closed

[2021-09-21 03:33] adrian-baker opened #16562 "(aws-ecs-patterns): unable to set DesiredCount to zero"
The ApplicationLoadBalancedFargateService construct rejects an attempt to set a DesiredCount of zero, however this is valid and supported in the underlying `AWS::ECS::Service` resource.

Common use cases for this:
- I want to "suspend" a service, particularly if it's a headless consumer with background worker tasks.
- During development of a new cluster with a new image, I want to deploy the clust

[2021-09-21 06:40] mickael-caro-sonarsource opened #16563 "EventPattern: JSON Serialization of detail_type is incorrect"
While using the aws_events.EventPattern class, cdk output as JSON, for detail_type renders detailType instead of detail-type, which cause the pattern to not match the real payload received from EventBridge.

### Reproduction Steps

Create the following event pattern

        event_pattern = aws_events.EventPattern(
            account=[core.Aws.ACCOUNT_ID],
            detail={
            'Status

[2021-09-21 07:59] njlynch commented on #15689
@revmischa ,

Sorry for the delay in response here. We apparently have some broken automation around our `response-requested` label that kept this from coming back into my queue. My apologies.

Re-reading through your initial description, I'm wondering if perhaps I've misinterpreted what you're trying to do:

The docs you linked to above -- for the `DnsValidatedCertificate` -- allow you to _reques

[2021-09-21 08:13] revmischa commented on #15689
Okay got it, I need a certificate in every region I deploy then

[2021-09-21 08:41] njlynch opened #16565 "[CDKv2GA]: Enable regression tests for V2 pipeline"
The v2 master/release pipeline currently has no regression tests enabled. Prior to GA release, we need to re-enable these tests.

See linked issue for tracking issue in infrastructure repository.

[2021-09-21 08:46] #15689 closed

[2021-09-21 09:05] njlynch opened #16566 "[CDKv2GA]: Support new @deprecations post-GA"
Currently, when we `@deprecate` an API element on `master`, the element is stripped from `v2`. Once we GA v2, we can no longer strip these elements, as they would be breaking changes for v2 APIs.

We need to define and implement a strategy for how to continue to deprecate elements on `master` post-GA release, without stripping these elements from `v2`.

One approach _might_ be a deny-/allow-list o

[2021-09-21 09:08] njlynch opened #16567 "[CDKv2GA]: READMEs for alpha modules"
For alpha modules, we are generating and including the L1s for the alpha modules in `aws-cdk-lib`. However, we are not currently generating READMEs for these modules, so when visiting the module overview page, an ugly "This module does not have a README" message is displayed. Instead, we should generate a "default" README, like the current cfn-only modules.

![Screen Shot 2021-09-21 at 10 07 58](h

[2021-09-21 09:16] rafiwicht opened #16568 "@aws-cdk/aws-codepipeline-actions: Parameter not usable in actionName"
Cloudformation parameters are not usable in action names.

### Reproduction Steps

[code]

### What did you expect to happen?

The parameter is used for the creation of the actionName.

### What actually happened?

Unrecognized token key error:
[code]

### Environment

  - **CDK CLI Version  :** 1.123.0 (build fad855e)
  - **Framework Version:**
  - **Node.js Version:** v14.17.6
  - **OS

[2021-09-21 09:50] njlynch opened #16569 "[CDKv2GA]: Add default feature flag behavior for v1 to migration guide"
The defaults for many (most?) feature flags changes between v1 and v2. As part of the migration guide, we should provide users with an "easy" way to adopt the same defaults from v1 once they have upgraded to v2. This will ideally involve documenting the current defaults as a `cdk.context.json` file that users can copy/paste from to set the flags as necessary.

Special cases:
- Expired flags: These

[2021-09-21 09:57] njlynch opened #16570 "[CDKv2GA]: V2 Docs should ensure aws-cdk-lib shows as top module"
It would be nice if `aws-cdk-lib` was at the top of the docs list, rather than under `@aws-cdk`, especially as we release new alpha modules.

![Screen Shot 2021-09-21 at 10 57 08](https://user-images.githubusercontent.com/1376292/134151158-faf11aa1-3d85-42ee-9781-2d4cbb262fd2.png)

[2021-09-21 10:15] njlynch opened #16572 "[CDKv2GA]: v2 Typescript/Javascript lib template incorrect"
The template should instantiate a package.json where both `aws-cdk-lib` and `constructs` are "devDependencies" and "peerDependencies", not "dependencies".

Example (correct) config:

[code]

[2021-09-21 10:35] adonisd opened #16573 "(imagebuilder): cdk imagebuilder.CfnComponent not updating code of component when changed"
### description of the bug:
 - Create a new custom component in CDK TS by leveraging S3URI
 - Update the YML file with new commands
 - Bump the version and run cdk deploy
 - Code not updated

### Reproduction Steps
Using code snippet below:
- Create components/nvidia.yml and put whatever commands you want
- cdk deploy once and see component gets created and code applied
- change code in nvidia.yml

[2021-09-21 10:37] gbvanrenswoude opened #16574 "(aws-lambda-python): pipenv packaging does not handle editable file based dependencies"
Hey all, I have the following pipenv file (and corresponding pip lock file is correct), with several dependencies and one editable dependency:

[code]
This editable dependency is a standard openapi-generator output, e.g. `openapi-generator generate -i petstore.yml  -g python -o .` This outputs a python package on disk containing a setup.py folder.
When I run this (with the correct paths) in a Pyth

[2021-09-21 11:38] kostiantyn-lab opened #16575 "(opensearch): Some configuration options are not available for use"
I cannot enable `Enable compatibility mode` and disable `Auto-Tune` when creating a new OpenSearch domain

### Use Case

It should be possible to change these parameters when creating a domain

### Proposed Solution

1. Add new parameter to configure `Enable compatibility mode`
2. Add new parameter to configure `Auto-Tune`

### Other

* [ ] :wave: I may be able to implement this feature request
*

[2021-09-21 14:05] EugRomanchenko commented on #5583
@ScottHoward4 https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_ecs_patterns/ApplicationLoadBalancedFargateService.html see option redirect_http

[2021-09-21 14:28] adonisd commented on #16573
So in the end, it was not a bug, but a race condition on my end.
The s3deploy.BucketDeployment was not finishing fast enough and the imagebuilder.CfnComponent was still pointing at the old code.

Adding this resolved the issue:

`nvidiaComponent.node.addDependency(components);`

Gonna close the issue.

[2021-09-21 15:40] njlynch commented on #16493
Thanks for this feature request. I can certainly see the use case, and it would be simple enough to add.

As an implementation note, using `Arn.format` would auto-detect several of those components and make it a bit easier, including handling partitions (which often is forgotten about).

We welcome community contributions! If you are able, we encourage you to [contribute](https://github.com/aws/aw

[2021-09-21 15:45] njlynch commented on #16527
Looks like @jogold is on it!

[2021-09-21 16:07] #13774 closed

[2021-09-21 16:15] gbvanrenswoude commented on #16574
@nija-at Interesting find is when running the `pipenv lock --requirements` command with a Pipfile with just package dependencies, the output of the command is almost instant. If you run that command on a Pipfile with also (editable) file based dependencies, it takes a second or 2 for the second part of the requirements.txt to be generated. I wonder if this is the cause for the cut-off requirements

[2021-09-21 16:36] paya-cz commented on #15632
@peterwoodworth I tried to, but it looks like getting the dev environment up and running is quite a bit more involved than I hoped for. I opened the repo in Gitpod, but the build returned error code 1 with the error message being buried somewhere deep in the log and not available in the terminal anymore.

Trying to run `scripts/foreach.sh yarn build` gives me error `error Command "build" not found

[2021-09-21 16:55] #16501 closed

[2021-09-21 17:45] peterwoodworth commented on #15632
I've never used the Gitpod method, so I don't think I'll be able to troubleshoot that for you. Have you tried the other method of submitting PRs? I could help you with that if you'd like. If not, I can try to get a PR up for this when I have the time

[2021-09-21 17:45] #16527 closed

[2021-09-21 18:04] lorefnon opened #16580 "(ec2): adding egress rules to looked up alb removes other existing egress rules"
I am attempting to introduce CF+CDK gradually into custom managed infrastructure.

My abbreviated code looks like this:

[code]

My intent is to lookup a shared ALB and add egress rules to it for a service defined in my cdk stack.

### What did you expect to happen?

Egress rules to be added to albSecurityGroup and other previous egress rules (defined manually) to remain as is.

### What actually

[2021-09-21 18:06] skinny85 commented on #16568
Hey @rafiwicht,

thanks for opening the issue. This is a known limitation, unfortunately. To get around it, you can use [Escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html):

[code]

Thanks,
Adam

[2021-09-21 18:44] tneely commented on #9545
My team has been able to workaround this issue by deploying each stack with a separate output directory (e.g. `cdk deploy stack1 --output ~/tmp/out1` and `cdk deploy stack2 --output ~/tmp/out2`).

[2021-09-21 18:50] kaizen3031593 opened #16582 "(opensearch): wrong module name in README"
https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-opensearchservice

In the new Opensearch module README, the examples reference `import * as opensearch from '@aws-cdk/aws-opensearch'` but the actual module name is `aws-opensearchservice`.

Will need to go in and change all instances of `aws-opensearch` over to `aws-opensearchservice`.

---

This is a 📕 documentation issue

[2021-09-21 19:15] skinny85 commented on #16451
Thanks for opening the issue @therealsebo. Can confirm I was able to reproduce this.

The reason this happens is that the `fromObjectToYaml()` doesn't correctly implement Token substitution, which `fromObject()` does (as can be seen [here](https://github.com/aws/aws-cdk/blob/2a629dd7a86cc36c3a503bfc5957880c9edd4d49/packages/%40aws-cdk/aws-codebuild/lib/build-spec.ts#L73-L94)).

Unfortunately, this

[2021-09-21 19:55] #16016 closed

[2021-09-21 19:57] zMeadz opened #16583 "(@aws-cdk/aws-apigateway): SpecRestApi: Build correct ARN for Authorizer"
When declaring an API gateway, you must grant the Gateway permissions to invoke the correct Lambda or Authorizer. Currently, the `SpecRestApi` has the `arnForExecuteApi()` method which will generate an ARN which may be used to grant invocation access to a Lambda. However, this ARN is the incorrect format for Authorizers, producing a permission error when trying to invoke the Authorizer (via AWS co

[2021-09-21 21:13] peterwoodworth commented on #16185
@liviuciulinaru more information about your configuration would help us to figure out what's going wrong. Ping me or ryparker if you have more information!

[2021-09-21 21:43] #15122 closed

[2021-09-21 21:43] #15691 closed

[2021-09-21 21:43] #16085 closed

[2021-09-21 21:43] #16255 closed

[2021-09-21 21:43] #16324 closed

[2021-09-21 21:44] #16368 closed

[2021-09-21 22:15] #16207 closed

[2021-09-21 22:36] kaizen3031593 commented on #16555
Hi @wangzlei! This issue should be fixed by #16333, which was introduced in v1.122. Let me know if upgrading CDK to 1.122 does not work.

[2021-09-21 22:36] #16555 closed

[2021-09-21 22:36] peterwoodworth commented on #16328
I'm not sure how to set the `resourceRequirements` property here if the escape hatch method isn't working. I just tried and wasn't able to figure it out either.

I'm going to convert this to a bug report so that we can discuss a fix.

https://github.com/aws/aws-cdk/blob/fad855e7fb046844258e36e2699234407fbb64ec/packages/%40aws-cdk/aws-batch/lib/job-definition.ts#L429-L462

The source of the issue l

[2021-09-21 22:45] peterwoodworth commented on #16509
I can update the docs here to make this clear. Thanks for letting us know!

[2021-09-21 23:05] danwashusen commented on #8272
For anyone else trying to plug CDK into an automated build environment, here's my solution:
[code]

It requires the standard `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` to be defined for the initial sts call.

[2021-09-22 02:28] ryparker commented on #16130
I don't have a great answer for this. Both `CdkPipeline` and `CodePipeline` from the `@aws-cdk/pipelines` package reduce the required code to implement a simple self mutating CDK pipeline. Ideally it **should** be easy to add something like a pipeline stage that includes a manual approval step however at the moment this is not supported. We continue to add features and improvements to these constr

[2021-09-22 02:51] ryparker commented on #16135
This does not have to be the case. CDK code can live with your code in the same repository or separate.

From [Node.JS docs](https://nodejs.dev/learn/the-npx-nodejs-package-runner):

Using `npx cdk synth` will install the `aws-cdk` package however it will not install other dependencies required by your CDK code. You're already doing this correctly by running `npm ci` before hand.

The output of th

[2021-09-22 04:22] #16031 closed

[2021-09-22 05:07] rittneje commented on #14463
ping @rix0rrr

[2021-09-22 06:48] njlynch opened #16593 "[CDKv2GA]: Create "canaries" for CDKv2"
Exactly like the CDKv1 infrastructure, CDKv2 needs to have a regularly scheduled job that downloads and installs the CDK, and uses it to deploy (and delete) a stack. The canary should be monitored and alarmed exactly as the existing v1 canary is today.

[2021-09-22 07:33] rix0rrr commented on #16342
Ohhh! Yes, that actually makes sense. A tag that gets applied to a Stack cannot be a reference to a parameter on that same stack, because they execute in different domains. It needs to be a known value at synthesis time.

We should add validation that tells you this cannot work.

[2021-09-22 09:16] dan-lind opened #16594 "(aws-ecs): configFileValue should be optional in FirelensOptions"
configFileValue is defined as a required value in FirelensOptions

### Reproduction Steps
configFileValue  should be marked as optional here
https://github.com/aws/aws-cdk/blob/7966f8d48c4bff26beb22856d289f9d0c7e7081d/packages/%40aws-cdk/aws-ecs/lib/firelens-log-router.ts#L64

### What did you expect to happen?
I expect that a config like this example for Datadog is valid
https://github.com/aws-sa

[2021-09-22 09:44] rafiwicht commented on #16568
Hi Adam

Thanks for the solution. It works like a charm. Is there an easy way to implement it? Maybe I can look into it and make a contribution.

Best regards,

Rafael

[2021-09-22 09:45] adam-nielsen opened #16595 "(lambda-nodejs): Deploys on NodeJS 12.x are broken, 14.x is OK"
It currently appears to be impossible to deploy a working NodeJS function on the NodeJS 12.x runtime if your code uses compiled modules, as the Docker environment CDK uses for bundling uses a different NodeJS version to that used in the Lambda environment.

Upon deploying such a Lambda function, you only get this message in the Cloudwatch logs:

[code]

Deploying the CDK stack uses this Docker ima

[2021-09-22 10:33] sensedata1 opened #16598 "(aws-cdk/aws-appsync): GraphqlApi fails to deploy initially due to inability to assume service linked role"
First time deployment of an `appsync.GraphqlApi` with prop: `x-ray: true` results in failure to deploy as `appsync.amazonaws.com` attempts `eventName:CreateGraphqlApi` with message:

[code]

When `x-ray` is set to `true`, a service linked role is created behind the scenes, and it seems that this role is either not in place, or does not have the correct permissions in place before appsync tries to

[2021-09-22 12:23] Wurstnase opened #16599 "(aws-cdk-lib): use synthed template directly"
Is the API stable to use the result from the "native" synthed app to deploy the template with e.g. boto3?

### Use Case
Deploy code "language"-native without nodejs e.g. in an AWS python3.x lambda. Know limitations: lookups and asset deployments may need a lot of manual work.
In our case we only need to deploy the cloudformation part. Please check the minimal example below.

[code]

### Proposed S

[2021-09-22 12:44] sarthakchatterjeecvent opened #16600 "translate: add an L2 for AWS Translate"
We are trying to create a custom terminology using translate.

### Use Case

i am able to import terminology using aws cli like this:

aws translate import-terminology \
    --name name-venue-terminology-en \
    --description "Creating a randomterminology in AWS Translate" \
    --merge-strategy OVERWRITE \
    --data-file /Users/sarthak.chatterjee/Downloads/file.csv \
    --profile=sandbox \

[2021-09-22 12:50] bedaka commented on #15847
This just took me a lot of time to debug. A random yarn.lock file that was located in a parent folder some levels above my project caused my build to fail. If there is a lock file on project level it really should be used before anything else.

[2021-09-22 12:59] dgallitelli opened #16601 "CDK Bootstrap: Failure bootstrapping due to Arn attribute for AWS::ECR::Repository"
Whenever trying to bootstrap a CDK app, the bootstrap operations fails when it tries to update the `ImagePublishingRoleDefaultPolicy`, due to being unable to retrieve Arn attribute for AWS::ECR::Repository (which I'm not using in my CDK App at all).

![image](https://user-images.githubusercontent.com/9881522/134346771-366d638c-f3ad-4ec1-8cd8-7f20bc6d9800.png)

[code]

### Reproduction Steps

Creat

[2021-09-22 14:02] contrapunctus-xv commented on #10632
How do we access variables with this now?

[2021-09-22 14:23] myron-semack commented on #6768
+1

[2021-09-22 14:28] yamatatsu opened #16602 "(iot): L2 support for TopicRule"
Currently there's only L1 resources in CfnTopicRule of aws-iot.
Let's create L2 construct support.

### Use Case

It is to use AWS IoT Rule.

### Proposed Solution

There is pseudocode as following:

[code]

### Other

Associate with #6835

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Reques

[2021-09-22 14:30] kierans commented on #7063
As a newcomer to this issue, I agree with @strottos that if the ACM setup adds the CNAME, it should delete it. Hopefully this issue can get fixed soon.

[2021-09-22 15:10] bravogolfgolf commented on #16207
@peterwoodworth Thanks for looking into this. It would be great if there were a native CDK mechanism to parse the secretString returned rather than having to create a custom resource for this use case when I am retrieving Secrets across accounts.

For posterity: `randomText` is something I had to add to the secret because CDK requires `secretStringTemplate` and `generateStringKey` must be specifie

[2021-09-22 15:17] rittneje opened #16603 "!!WARNING!! s3: toggling off auto_delete_objects for Bucket empties the bucket"
If a stack is deployed with an S3 bucket with `auto_delete_objects=True`, and then re-deployed with `auto_delete_objects=False`, all the objects in the bucket will be deleted.

### Reproduction Steps

1. Deploy a stack with an S3 bucket created with `auto_delete_objects=True`.
2. Upload files into the bucket.
3. Deploy the stack again with `auto_delete_objects=False`.
4. Observe that the bucket is

[2021-09-22 15:32] dgallitelli commented on #16601
Solved by deleting the `CDKToolkit` stack from CloudFormation, then launching again the `cdk bootstrap`. Closing, feel free to reopen if you need more info.

[2021-09-22 15:32] #16601 closed

[2021-09-22 15:33] skinny85 commented on #16568
I feel like this might be tricky to implement in the generic case.

How would you feel about opening a Pull Request adding the above solution to our docs?

[2021-09-22 16:05] hyooj opened #16605 "(core) RemovalPolicy DELETE does not exist (should be DESTROY)"
The comments for `Resource.applyRemovalPolicy(policy: RemovalPolicy)` makes reference to a RemovalPolicy called `DELETE`, instead it should reference `DESTROY`.

This mistake is replicated to all resources. For example:
* https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudwatch.Alarm.html#applywbrremovalwbrpolicypolicy

Code:
* https://github.com/aws/aws-cdk/blob/master/packages/%40

[2021-09-22 16:12] kaizen3031593 commented on #16547
Hi @davidmckenzie! Thanks for bringing this to our attention. If I'm understanding you correctly, you had code that worked in the Elasticsearch module that you now want to use the Opensearch module? You might still have to use the [migration steps](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-elasticsearch-readme.html#migrating-to-opensearch) even if your code wasn't previously deployed. In

[2021-09-22 16:26] kaizen3031593 commented on #16575
Hi @kostiantyn-lab! The Opensearch Cloudformation [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-opensearchservice-domain.html) do not have options for `auto-tune` or `enable compatibility mode` so there doesn't look like there is anything that we can do from a CDK standpoint.

[2021-09-22 17:23] njlynch commented on #16441
I _believe_ this PR fixes this: https://github.com/aws/aws-cdk/pull/16606

Still double-checking that nothing else is missing...

[2021-09-22 17:56] #16509 closed

[2021-09-22 18:26] peterwoodworth commented on #16207
Ah I see. Thanks for explaining the random text @bravogolfgolf

I'm not sure how exactly we'd accomplish this, since the method you're using could return _any_ api call. Feel free to create a feature request for this though, maybe our SDEs can figure something out 😄

[2021-09-22 18:33] skinny85 commented on #10632
@contrapunctus-xv we don't support variables on `CodeStarConnectionsSourceAction` today, even tough I see they are listed in the [CodePipeline documentation](https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-variables.html#w2aac51c29b7c21). Would you mind opening us a Feature Request to add this capability?

In the meantime, you can work around this limitation by setting the `var

[2021-09-22 18:44] skinny85 commented on #15295
Thanks for reporting @dan-lind, but this only happens for empty releases (that don't have any changes). This happens when our merge jobs to the V2 branch are blocked because of conflicts.

Since this doesn't happen for releases with any changes (which are the only releases that really make sense, to be honest), I'll close this one as not worth to fix.

Thanks,
Adam

[2021-09-22 18:44] #15295 closed

[2021-09-22 18:53] groner commented on #13274
Here's a possible approach to running ES modules in lambda today (without the benefit of NodejsFunction)

The following stackoverflow answer claims success running ES modules with a shim using [dynamic `import()`](https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_import_expressions).

<details>
<summary>From https://stackoverflow.com/a/69136438/91927</summary>

https://stackoverflow.com/a

[2021-09-22 19:08] groner commented on #13274
The following code in [aws/aws-lambda-nodejs-runtime-interface-client](https://github.com/aws/aws-lambda-nodejs-runtime-interface-client) looks like it could be adapted to use `import()` and `import.meta.resolve()` without much trouble.

From https://github.com/aws/aws-lambda-nodejs-runtime-interface-client/blob/f9373b3e7cb153fe2895db446e21f3241eb156c6/src/utils/UserFunction.ts#L70-L111
[code]

[2021-09-22 19:51] adipon opened #16608 "(aws_certificate_manager): Failure to delete Cert and Custom Domain name in same cloud formation task create undeleteable certificates"
When using the Python AWS CDK to create cloud formation stacks, trying to delete a Certificate from ACM and Custom Domains associated with the certificate will lead to a locked certificate. The Custom Domain Name will be deleted, however, the ALB resources that are associated with the Certificate will remain. Their association can only be removed through help by the AWS service team.

### Reproduc

[2021-09-22 20:07] kaizen3031593 commented on #16253
@readybuilderone are you still planning on submitting a PR to fix this bug?

[2021-09-22 20:30] evanerwee commented on #16514
I do not have a resolution yet, but I have found this: From what I seen below the AssociatedRoles is what I have to set.

{
  "Type" : "AWS::RDS::DBInstance",
  "Properties" : {
      "AllocatedStorage" : String,
      "AllowMajorVersionUpgrade" : Boolean,
      "AssociatedRoles" : [ DBInstanceRole, ... ],
      "AutoMinorVersionUpgrade" : Boolean,
      "AvailabilityZone" : String,
      "BackupR

[2021-09-22 20:31] davidmckenzie commented on #16547
That's correct, and the missing important bit that would have helped is that we just re-used the `_es` name for the opensearch module, a la:
[code]

And yep we used the .search instance types - the instance deployed fine, the only thing that was missing was the CNAME in Route 53 for the `customEndpoint`.

[2021-09-22 20:32] evanerwee commented on #16514
See also: https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.IAM.AddRoleToDBCluster.html

[2021-09-22 21:22] skinny85 commented on #16514
So, I think you need to create a `ParameterGroup`, and then add the parameters from that doc, like `aws_default_s3_role`, `aws_default_lambda_role`, etc., and the values are the ARNs of the Roles?

You can do that today with the CDK.

[2021-09-22 21:22] skinny85 commented on #16514
And, of course, use that `ParameterGroup` for your `DatabaseCluster`.

[2021-09-22 21:37] TheSPD opened #16611 "(aws-cdk/aws-dynamodb): Create table replica in background"
Requesting another property under [TableOptions](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.TableOptions.html) to create the Table replica in background without checks.

### Use Case

When creating DynamoDB Table Replica, the replica generation might take more than 1 hour sometimes due to big table sizes. Cloudformation does not have patience to wait for that long and ki

[2021-09-22 23:37] singlewind commented on #7111
Sorry, I misunderstood the problem.

[2021-09-23 00:38] jpSimkins opened #16618 "(aws-codebuild): Cannot modify CodeStar connection on CodeBuild once deployed"
## :question: General Issue

Ok, this has been a bit interesting for me to figure out what is going on... I did not report this as a bug yet as I am not sure if this is a known limitation or if this is really a bug.

I have identified 2 concerns:

1. Replacing a CodeStar arn for CodeBuild Project is not possible with the CDK
    - Still uses old connection even after deploying with new connection

[2021-09-23 01:21] skinny85 commented on #16618
Hey @jpSimkins,

thanks for opening the issue. I think you're having problems because connecting to BitBucket is done differently for CodeBuild and CodePipeline, and you're mixing both here.

CodeBuild uses credentials global to a given account and region. They can be set manually, through the console, or using the [`BitBucketSourceCredentials` class](https://docs.aws.amazon.com/cdk/api/latest/doc

[2021-09-23 01:26] rittneje opened #16619 "aws-s3: deleting stack with already deleted S3 bucket with auto_delete_objects fails"
If a stack is created that has an S3 bucket with `auto_delete_objects=True` (and `RetentionPolicy.DESTROY`), and then the S3 bucket is deleted outside CloudFormation, then deleting the stack will fail with an error.

### Reproduction Steps

1. Create a stack with an S3 bucket with `auto_delete_objects=True`.
2. Manually delete the S3 bucket via the console.
3. Delete the stack.

### What did you e

[2021-09-23 02:00] jpSimkins commented on #16618
Thanks for your response @skinny85 that does help me a lot.

[2021-09-23 02:00] #16618 closed

[2021-09-23 02:37] evanerwee commented on #16514
I have use the parameter group but learned I also have to

set the RDS:

 AWS::RDS::DBInstance

   AssociatedRoles

 I see that attribute is not in the CDK it appears but in cloudformation.

Can I write some custom code to set that attribute ?

[2021-09-23 03:54] Voyen commented on #10245
This makes no sense - The `allowAllOutbound` flag should only affect the egress (given it's "outbound"). There's no reason for this flag to create wide-open ingress rules.
What if I want to create a security group that allows all egress but isn't wide open to the internet?

[2021-09-23 04:28] luchees opened #16620 "(ELB): Unable to disable cookie stickiness after enabling"
Targetgroup does not get updated after removing cookiestickiness

### Reproduction Steps
We enabled CookieStickiness for our targetgroup. This worked fine.
[code]
When we tried to disable by removing above line the changes did not get applied in our targetgroup.
![image](https://user-images.githubusercontent.com/7580430/134454241-aa8acdfb-403d-4926-a39d-6ba7063b9565.png)

This is the applied cloud

[2021-09-23 06:48] wojtekwalczak opened #16621 "aws-stepfunctions-tasks: Add support for emr-containers"
I wanted to orchestrate my EMR-on-EKS workflow using StepFunctions and I noticed that `emr-containers` integration is not supported in `aws-stepfunctions-tasks` at the moment.

Based on this [blog post](https://aws.amazon.com/blogs/big-data/orchestrate-an-amazon-emr-on-amazon-eks-spark-job-with-aws-step-functions/) I assume that `emr-containers` are supported by Step Functions.

### Use Case

Orch

[2021-09-23 06:56] rehos commented on #16199
From a DX perspective it would be nice if the CodePipeline class provides an instance method with the following signature.

[code]

[2021-09-23 07:38] #16227 closed

[2021-09-23 08:02] keepler-ivanmarques commented on #15561
+1

[2021-09-23 08:18] AbhiramIyer opened #16622 "(aws-elasticloadbalancerv2): Cdk deployment fails when a the certificate resource is updated, but there is an NLB resource that references the certificate resource"
I have an application wherein I'm creating a certificate resource using the Certificate construct in one stack (A) and passing it on a NLB construct in a different stack (B). Both stacks are deployed to the same account. The initial deployment was successful. However on updating the certificate resource (in my case adding a new SAN entry), deployment of stack A failed with the error that the certi

[2021-09-23 09:19] #16441 closed

[2021-09-23 09:21] nija-at commented on #16410
Are you using `CfnAuthorizer` from `aws-apigateway` module or `aws-apigatewayv2` module?

It's [required in the latter](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigatewayv2-authorizer.html#cfn-apigatewayv2-authorizer-name) but [optional in the former](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-authorizer.html#cfn-apiga

[2021-09-23 09:31] sebdec opened #16624 "aws-ecs: Error - Secrets from ssm parameter for firelens options"
It's possible to have now secrets in the options for firelens
I tried to configure it with a secret from ssm parameter.
I got an error:
failed: Error [ValidationError]: Parameters [apiKey] referenced by template have types not supported by CloudFormation.

### Reproduction Steps

[code]

### What did you expect to happen?

deploy correctly with the configured secret

### What actually happened?

e

[2021-09-23 09:31] nija-at commented on #16453
Looks like [AssetStaging](https://github.com/aws/aws-cdk/blob/7cf567668f9c7930d56f8f9fa23439519d68f3da/packages/%40aws-cdk/core/lib/asset-staging.ts#L189-L195) does not honour the `exclude` property when bundling.

Passing this over to @eladb to determine if this is a bug or was intentionally skipped.

[2021-09-23 09:34] nija-at commented on #16510
`Function` is a sub-type of `Construct` so you should not get this error.

I suspect you have different versions of CDK modules in your dependency closure. Can you ensure that all CDK modules in your `node_modules` is the same version?

[2021-09-23 09:39] nija-at commented on #16595
Can you provide a full working reproducible sample? See http://sscce.org/.

[2021-09-23 10:13] nija-at commented on #16554
Thanks for filing this issue @kamzil. This is indeed a bug on our `apigateway` module.

Since this has a workaround, I'm marking this as a p2 and unassigning myself. We are unable to work on this immediately.

[2021-09-23 10:18] nija-at commented on #16152
The `aws-cdk-migration` package does support this - https://github.com/aws/aws-cdk/commit/37a4c8d49b6ed1d09eb084088487768e0f2346d0

I would suggest not moving to `jscodeshift` and keeping the migration script as is. Most of our users are typescript users.

[2021-09-23 10:34] #14813 closed

[2021-09-23 11:16] keepler-ivanmarques opened #16625 "(aws-eks): Cannot"
I'm trying to apply Aspects to a EKS cluster stack, but it fails with a jsii.errors.JavaScriptError. The reason to apply aspects is to apply permission boundaries to every role generated.

Is there any way to work-around this situation? i'm interested in modifying the roles generated by EKS custom resources E.G: Kubectlhandler.

### Reproduction Steps

[code]

### What did you expect to happen?

P

[2021-09-23 11:26] #12469 closed

[2021-09-23 11:41] kamzil commented on #15847
Had the same experience as @bedaka. To me this feels also like a potential security issue if CDK ends up using some random lock file from outside project folder.

[2021-09-23 11:59] slavman commented on #15709
we still have this error when add logRetention. cdk version is 1.124.0

[2021-09-23 12:24] wolf-allywilson commented on #16510
Spun up a blank Debian 11 VM, only installed the CDK, node, npm and the aws-cdk modules and still got the error.

Output of `npm list`:

[2021-09-23 13:01] nija-at commented on #11433
I don't think there is a way to fix this issue in the current design of the CDK.

Since the value of the `CfnParameter` is determined at deploy time (after the CDK has synthesized), the best we can do here is throw an error when `CfnParameter` is used to indicate that `currentVersion` is incompatible with this use.

[2021-09-23 13:13] ryanjdillon commented on #11837
I achieved this by doing the follwing:

In CDK
[code]

Where my helper module is setup like this:

[code]
And in my lambda's `index.py`:
[code]

[2021-09-23 13:13] wolf-allywilson commented on #16510
Just to confirm, in that same VM with minimal installed, I get the error when `cdk synth`ing the following code:

[code]

[2021-09-23 13:28] z00dev commented on #8550
Had the same issue, python 3.9, still unclear that it needs None

[2021-09-23 13:40] nija-at opened #16626 "(assertions): `absentProperty()` and `not()` matchers are incompatible with `hasResourceProperties`"
Given a template that has a resource with no Properties (just `Type`)

[code]

The following assertion should pass but throws the error `Template has 1 resources with type AWS::IAM::User, but none match as expected`.

[code]

Similarly, the assertion -

[code]

The workaround is to do -

[code]

---

This is :bug: Bug Report

[2021-09-23 14:17] BeatKO opened #16627 "Python WAF Multiple Statement value's error"
I'm trying to add a rule in WAF with multiple statements, but I'm getting this error:

**Resource handler returned message: "Error reason: You have used none or multiple values for a field that requires exactly one value., field: STATEMENT, parameter: Statement (Service: Wafv2, Status Code: 400, Request ID: 6a36bfe2-543c-458a-9571-e929142f5df1, Extended Request ID: null)" (RequestToken: b751ae12-b

[2021-09-23 14:58] kaizen3031593 commented on #16621
Hi @wojtekwalczak! Closing this issue in favor of the duplicate #15234. There is a PR in flight, #15242, however, it does not look like it is being currently worked on anymore. We welcome community contributions and if you think you could give it a shot, take a look at the PR and see if you can draw some inspiration from there!

[2021-09-23 14:58] #16621 closed

[2021-09-23 15:43] shellscape commented on #8163
@rix0rrr `fromTopicName` doesn't exist in this repository aside from this issue. It doesn't appear to be a valid method on `Topic` according to the code here and the documentation. Perhaps you closed this one too quickly as well.

[2021-09-23 15:52] rix0rrr commented on #8163
You’re right that fromTopicName does not exist. It could, and does for other resources, but apparently it does not exist for Topic.

Sorry for referencing a nonexistent function. Topic.fromTopicArn is the one you want

[2021-09-23 15:58] shellscape commented on #8163
That would be a welcome addition. For the time being, if we need to look up a Topic by name, we have to use the aws-sdk:

[code]

The kicker here is that `sns.createTopic` will simply return the ARN for a topic if it already exists. Note that this method may not play well with deployments that have multiple stacks, where a topic may be created for the first time along side of a stack that is attem

[2021-09-23 17:38] #16582 closed

[2021-09-23 18:51] giterdoneh opened #16630 "(@aws-cdk/aws-apigateway): Creating a request authorizer with an alias and provisioned concurrency leads to circular dependency in template"
## :question: General Issue

### The Question

I'd like assistance on what's causing a generated template to have a circular dependency (and recommendations on how to avoid it). When I try to add an alias to the current version of the authorizer function and use this alias to create a request authorizer, then synth and deploy, I get a message about a circular dependency. Looking into the generated

[2021-09-23 18:54] skinny85 commented on #16514
That's available through the [`s3ImportRole` and `s3ExportRole` properties of `DatabaseCluster`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-rds.DatabaseCluster.html#s3exportrole).

[2021-09-23 19:48] nrawling commented on #10936
You can create a serverless cluster then move schema and data into it via DMS or mysqldump.

[2021-09-23 20:55] #16349 closed

[2021-09-23 21:55] evanerwee commented on #16514
Silly question, why the s3? I am confused a bit.

[2021-09-23 21:57] skinny85 commented on #16514
Because that's what the associated Roles are used for (at least today).

[2021-09-24 00:56] grusy opened #16633 "(aws-codebuild): support small ARM machine type"
Add support for small ARM machine types

### Use Case

https://aws.amazon.com/about-aws/whats-new/2021/09/aws-codebuild-small-arm-machine-type/

### Proposed Solution

add SMALL machine type to validation check for ArmBuildImage

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-09-24 01:22] qinjie opened #16634 "(aws-ecs): fromFargateServiceAttributes() using serviceArn does not return correct serviceName"
When I use `fromFargateServiceAttributes()` to import an existing FargateService, its returned object doesn't has correct fargate service name if I use `serviceArn` as attribute, whereas passing `serviceName` attribute to the function returns object with correct service name.

### Reproduction Steps

[code]

### What did you expect to happen?

CloudFormation outputs should give correct FargateServ

[2021-09-24 03:33] adam-nielsen commented on #16595
Hmm, my bad, when I do a minimal sample it works fine.  All I can guess is that because I'm running the code locally, maybe my local compiled version got deployed instead of it being rebuilt?  I tried to reproduce that as well but I could not, so I'm a bit mystified.

Apologies for the noise, next time I will do a reproduction first before opening an issue.

[2021-09-24 03:33] #16595 closed

[2021-09-24 05:37] moltar opened #16638 "(aws-apigatewayv2): `apiEndpoint` returns incomplete URL"
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigatewayv2.HttpApi.html#apiendpointspan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan

Not sure if this is intentional, as the docs aren't clear.

But calling `apiEndpoint` on an API that has a `domainName` and `mappingKey` set will produce a wrong URL.

### Reproduction Step

[2021-09-24 06:35] peterwoodworth commented on #16627
Hey @BeatKO,

I'll see if I can reproduce this. If I can, I'll have to report this issue to CloudFormation. Since WafV2 only operates with L1 constructs, any issues with this would be on CloudFormation's end.

[2021-09-24 07:41] wojtekwalczak commented on #15234
Hi, I needed `StartJobRun` functionality this week, so I implemented it [in the following way](https://github.com/wojtekwalczak/aws-cdk/commit/2d153c70a3b9ea533c69754ec9bf74f761d3a03e).

I think I could give it a shot and implement full `emr-containers` API for `stepfunctions-tasks`, but before I do so, could you take a look at the code under the link above and let me know if my approach is OK for

[2021-09-24 08:03] matthewsvu commented on #15234
Upon initial glance your approach looks fine, however the implementation on my #15262 PR only has a few unit tests and integration tests left before full completion. There is a lot of stuff to dig through on that PR post. I would also run it by @BenChaimberg to see what he thinks.

[2021-09-24 08:23] keepler-ivanmarques commented on #14507
Using this same sample with the jsii annotation results in a Javascript error.

[code]

Result:

[code]

[2021-09-24 08:53] otaviomacedo commented on #15891
I raised this issue internally with the CloudFront team. I'll keep you guys updated in this conversation.

[2021-09-24 09:07] rafiwicht commented on #16568
Yes, maybe the documentation is the fastest solution. I will look into it next week.

[2021-09-24 10:14] otaviomacedo commented on #16541
That's right. But even if the property is not exposed by the high-level construct (`Cluster`, in this case), you can always use an [escape hatch] and do it yourself.

[escape hatch]: https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html

[2021-09-24 10:14] keepler-ivanmarques commented on #14507
Using this same sample with jsii.implements annotation results in an error again:

[code]

## Result
[code]

## Environment
CDK CLI Version : 2.0.0-rc.23
Framework Version: aws_cdk_lib-2.0.0rc23, constructs-10.0.5
Node.js Version: v14.17.6
OS : macOS 11.2
Language (Version): python 3.8.9

[2021-09-24 10:30] otaviomacedo commented on #16552
I don't know much about Yarn with PNP, but from a quick research I've done, there are some things to try:

* Make sure you're using the latest version of Yarn.
* Check your `~/.yarnrc` to make sure that it's not using `/npm-packages-offline-cache` as the local cache directory.

And, just out of curiosity, why do you need to use Yarn in the first place and not just run a globally installed `cdk syn

[2021-09-24 11:00] DC4JG commented on #7985
I wasted hours figuring out how to connect wafv2 rules to an API gateway via Python CDK.
Example below for future developers.

[code]

[2021-09-24 11:04] Aijaz12550 opened #16641 "(cloudfront): custom error pages"
I want to create custom error pages for a CloudFront distribution but there is no method in @aws-cdk/aws-cloudfront module to create custom error pages.

 *below is the code example, how I am creating distribution*

import * as cloudfront from "@aws-cdk/aws-cloudfront";
import * as origins from "@aws-cdk/aws-cloudfront-origins";

    let distribution = new cloudfront.Distribution(
      scope,

[2021-09-24 11:13] jogold commented on #16641
Are you looking for https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudfront.Distribution.html#errorresponses maybe?

[2021-09-24 11:23] jaypea opened #16642 "(aws-lambda): docker image function fails with insightsVersion property"
when using a DockerImageFunction and trying to enable cloudwatch lambda insights through the `insightsVersion` property, lambda service fails to create the function with error:
[code]

### Reproduction Steps

[code]

### What did you expect to happen?

to skip adding a layer and just manage the execution role instead

### What actually happened?
creation failed

### Environment

  - **CDK CLI Vers

[2021-09-24 11:52] Aijaz12550 commented on #16641
Thanks @jogold

[2021-09-24 11:52] #16641 closed

[2021-09-24 11:54] jogold commented on #16552
With PnP you cannot write to the `node_modules`. The [custom resource provider from `@aws-cdk/core`](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/core#the-corecustomresourceprovider-class) used for `autoDeleteObjects` tries to write a file in there:

https://github.com/aws/aws-cdk/blob/5aa6ac0008b2bd0556fda021124f6838173274b4/packages/%40aws-cdk/core/lib/custom-resource-provider/

[2021-09-24 12:18] #16552 closed

[2021-09-24 12:54] evanerwee commented on #16514
I do not find that method/attribute . Added that attribute to the cluster object and spit out an error.

Could you provide an example.

[2021-09-24 13:03] adriantaut opened #16644 "(aws-eks): Tag Update in EKS-based Stack triggers "Version and ReleaseVersion updates cannot be combined with other updates""
Hello guys,

We have a CDK Stack that, among others, it bundles together the creation of an EKS Cluster with an EKS Managed NodeGroup. For cost/analytic purposes we have some mandatory tags being applied to all the resources of a Stack. If a Tag is being added/changed/removed, the change is propagated in the CDK tree to all the resources as you can see below.

[code]

Basically the only change is

[2021-09-24 13:45] elreydetoda commented on #5586
So, I know I am messaging on an old thread, but I recently came into this exact same situation and was curious why this (`app.synth()`) was necessary?

I have a co-worker who uses typescript with aws-cdk and in his commands he doesn't have the `cdk.synth()` function, but he just runs `cdk synth` from the CLI instead...so, does that mean there is a discrepancy between the cdk languages? (python and

[2021-09-24 13:55] otaviomacedo commented on #16418
Hi @davidpricedev. Thanks for raising this. Would you like to take a stab at this and implement this feature? I'd be happy to review it. See our [cotributing guide][1].

[1]: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md

[2021-09-24 14:03] blimmer commented on #16152
Sounds good @nija-at - thanks for the information. I'll go ahead and archive my codemods and link to `aws-cdk-migration`.

Maybe as you get closer to the v2 release, you could update this page to reference the codemods: https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-v2.

[2021-09-24 14:03] #16152 closed

[2021-09-24 14:04] otaviomacedo commented on #16338
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-09-24 14:05] otaviomacedo commented on #16476
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-09-24 14:14] leantorres73 opened #16647 "(core): Error when tagging a stack with S3 bucket"
Setting a tag in a stack, where the stack creates an S3 bucket is throwing an error:

[code]

Digging a little more in the issue, it looks like `this.scope`  does not have node, but it has the bucket as a children. So if I console log `this.scope` before it fails I see this:

[code]

This means it will never find `node` attribute because it's one level down.

### Reproduction Steps

Create a Stack

[2021-09-24 14:40] shellscape commented on #3717
@shivlaks @SomayaB it looks like ya'll closed #5815 to track the issue here, but it doesn't look like it's actually being tracked. this has been a persistent issue for a year and a half now. would be really cool if one of the maintainers there at AWS could give this a look. `outdir` (or `--output`) is crucial for parallel deployments, but it's unusable due to this bug.

[2021-09-24 14:51] shellscape commented on #3717
This is the offending line https://github.com/aws/aws-cdk/blob/5a6fa7fa17a5dce5e429eed4ebfe2dbbac3d6d07/packages/%40aws-cdk/cx-api/lib/cloud-assembly.ts#L52

I've added logging there and can confirm that it's called twice; once with the correct custom `outdir` I'm providing, and once with the incorrect `cdk.out`:

[code]

I'll continue to trace this and will follow up.

[2021-09-24 15:10] shellscape commented on #3717
Here's the offending block in the `aws-cdk` pacakge: https://github.com/aws/aws-cdk/blob/5a6fa7fa17a5dce5e429eed4ebfe2dbbac3d6d07/packages/aws-cdk/lib/api/cxapp/exec.ts#L68-L92

The code looks for `output` on the command line and disregards the `AppProps.outdir` passed in code. That means in order to resolve this, you have to set _both_ `outdir` in the `AppProps` during instantiation of the `App`,

[2021-09-24 16:58] nacitar opened #16648 "(ecs.FargateTaskDefinition): runtime check for EphemeralStorageGiB makes it incompatible with CfnParameter tokens"
https://github.com/aws/aws-cdk/blob/5aa6ac0008b2bd0556fda021124f6838173274b4/packages/%40aws-cdk/aws-ecs/lib/fargate/fargate-task-definition.ts#L134

The check here validates the values, however when using a CfnParameter's ValueAsNumber, you get a value such as:
-1.8881545897087957E+289

This value is, of course, a token.  However, because of this local parameter validation, and it not exempting t

[2021-09-24 18:01] spmacdonald opened #16649 "(Glue): How to to grant permission to lambda"
I have a lambda function that uses `awswrangler` to write datasets to a Glue database.  I create the Glue database in my CDK stack like:

[code]

Then when I deploy this stack I see the error in the lambda function logs:

[code]

How can I grant access to the lambda function?  I was hoping for a `glue_db.grant_read_write(lambda_func)` type of method, but I don't see anything like this?

[2021-09-24 18:53] skinny85 commented on #7985
@DC4JG thanks for posting that! Any chance you'd like to submit an example to the [`aws-samples/aws-cdk-examples` repository](https://github.com/aws-samples/aws-cdk-examples)?

[2021-09-24 18:56] skinny85 commented on #16514
What error? What code did you add to your CDK app?

I need a lot more info than "it spit out an error" 🙂.

[2021-09-24 19:12] evanerwee commented on #16514
I will post code a bit later. The property you suggest I can find on the RDS DBCluster. Using the property is not recognized. Hence me asking for a code sample.

[2021-09-24 19:17] kaizen3031593 commented on #16626
Related: #16653. If that PR is accepted, the workaround for this issue would become:

[code]
With this in mind, is it reasonable to say that `hasResourceProperties()` assumes that `Properties` exists on the template? Personally, I see value in fixing this bug as described, but I don't think its life or death.

[2021-09-24 19:33] skinny85 commented on #16514
Sure. [Here's an example from CDK unit tests](https://github.com/aws/aws-cdk/blob/1c258363f1e6fb54ad4b995ad16e3d983f44954a/packages/%40aws-cdk/aws-rds/test/cluster.test.ts#L776-L792).

[2021-09-24 19:40] kaizen3031593 commented on #16649
Hi @spmacdonald! While I might need a bit more context to help you, here are my preliminary thoughts. A database is a collection of tables, and it looks like your error is between your lambda and your table (instead of the whole database). On a glue table, there are a suite of grant methods that you can use to help. It looks like you would want to use `table.grantReadWrite(grantee: iam.IGrantable)

[2021-09-24 19:42] awsiv commented on #16395
Good idea!

Cloudformation support has recently been added:

https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/615

[2021-09-24 19:55] acdoussan opened #16654 "(cloudformation-include): detect cycles in the input template"
Cloudformation include gets into a recursive loop and stack overflows with a valid lambda behind API gateway configuration

### Reproduction Steps
import the following cloudformation, run `cdk ls`, get stack overflow. I've stripped down this cloudformation as best as I can, so it may not be strictly valid, but its valid enough to show off the issue.

In this example, the APIGatewayExecutionRole de

[2021-09-24 20:13] skinny85 commented on #16654
Hey @acdoussan,

thanks for opening the issue.

Even though you didn't include it in your snippet, I assume this template uses the Serverless transform, correct?

Would you mind downloading the processed template from CloudFormation (the one without `AWS::Serverless::*` resources), and let me know if it includes successfully?

Thanks,
Adam

[2021-09-24 21:09] spmacdonald commented on #16649
Hey thanks for the fast reply.  Your explanation makes sense, and if I create a table in the CDK code that does indeed solve it.

I am kind of new to this whole Glue world, so maybe I am misunderstanding something, but in my application we choose to use Glue and Athena so we would not have to define the schema for our reports.  We have maybe 100 different types of reports, all CSV files with a sta

[2021-09-24 21:11] GregThoen opened #16655 "(codedeploy) invalid package name causing yum failures for CentOS 8 and presumably RHEL 8"
### The Issue
We have been using an older version of the CDK (1.84.0, I believe), and want to now upgrade to the latest, but the roadblock we've hit is that the UserData script CDK creates for autoscaling groups using codedeploy has changed and is now causing failures that keep instances from launching.

The fixes for issues #13654 and #13755, while apparently working for Amazon linux, break it fo

[2021-09-24 22:10] ramababubendalam opened #16656 "Apigateway Stage is not updated automatically when there is a change in resource."
### Issue

I am creating lambda integration with api gateway using cdk python. When there is a change in resources, the change is not propogated to the apigateway stage.

Below is my code snippet:

[code]

I can able to create apigateway sucessfully with out any issues. When I update the resource as below  and try to deploy.

[code]

Resource is updated but the stage is not update with my changes.

[2021-09-24 22:35] kaizen3031593 commented on #16380
I'd like to pick this one up since it seems popular. I'll submit a PR early next week but in the meantime, I'd like to solicit thoughts on what the properties for `LambdaConfig` should be. If I took them verbatim from the [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-appsync-graphqlapi-lambdaauthorizerconfig.html) they would be:

[code]

I feel like we could

[2021-09-24 23:40] mikelhamer commented on #15000
Deleting `node_modules` then running `npm update` and `npm install` fixed this issue for me.

[2021-09-25 03:28] mb-dev commented on #7937
duplicate of #15415 ?

I am running into the same issue in jenkins / docker.

[2021-09-25 05:16] binarythinktank opened #16658 "BucketDeployment: retainOnDelete not honoured"
## :question: General Issue

### The Question
I have a cdk project with an s3 bucket, bucket is deployed and has files in it.
i add a bucketdeployment and retainondelete is set to true
I deploy
everything is deleted from the s3 bucket and the deployed files are added.

i wonder if its just because its the first time I'm adding the deploy so I add some files to the s3 bucket and deploy again.
nope,

[2021-09-25 06:06] #14230 closed

[2021-09-25 06:12] binarythinktank commented on #16658
Update:
i upgraded node to v16.10.0
and CDK to 1.124.0 (build 65761fe) along with the modules.

but the issue is still happening

[2021-09-25 15:07] trondhindenes-nomono opened #16659 "lambda-layer-awscli: doesn't work with newer Python versions"
### Reproduction Steps
Create a lambda function using Python 3.8 or 3.9 as the runtime, and include this layer. Calling the "aws" cli inside the lambda will throw an error `/opt/awscli/bin/python: error while loading shared libraries: libpython2.7.so.1.0: cannot open shared object file: No such file or directory`.

I'm assuming the "root cause" for this bug is https://github.com/aws-samples/aws-la

[2021-09-25 18:40] #15587 closed

[2021-09-25 18:44] naseemkullah opened #16660 "(aws-glue) add option to pass in more parameters (e.g. partition projection, regex serde, etc.)"
Hello,

In order to setup querying ALB logs  as described [here](https://aws.amazon.com/premiumsupport/knowledge-center/athena-analyze-access-logs/):

https://github.com/aws/aws-cdk/blob/2157acd4287dc9df1ae4642bbe049c181e3432b6/packages/%40aws-cdk/aws-glue/lib/table.ts#L263-L266

I'd like to pass in parameters for partition projection such as:

[code]

Workarounds have been shared in https://githu

[2021-09-25 19:20] kornicameister commented on #8581
Wouldn't this be a bit of chicken & egg problem? I mean something gotta provide SNS topic?

[2021-09-25 22:20] ymwdalex opened #16661 "(python eks): EndpointAccess only_from method cidr parameter be list of string"
In Python CDK EKS module, EndpointAccess only_from method cidr parameter is string type.
https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_eks/EndpointAccess.html?highlight=endpointaccess#endpointaccess

However, it should a list of string.

In typescript CDK code, the parameter seems also be list of string: https://github.com/aws/aws-cdk/blob/83dd318959b1b1e5f94b5a31030d03379638c9ad/p

[2021-09-25 23:01] evanerwee commented on #16514
Code example perfect but this does not set the manage group in RDS Cluster. I have tested. Neither S3 Import nor Export set the property.

It appears that this can't be automated. I will escalate using our normal channels as an issue. Thank you for all your help.

[2021-09-25 23:26] evanerwee01 opened #16662 "CfnEventBusPolicy: Unable to create eventbus policy"
## :question: General Issue

### The Question

Unable to create EventBus Policy, condition fail to deploy.  Always get an key error. The policy is an exact match from the policy I can create by hand. I have tried other conditions, same problem.
[code]

### Environment

  - **CDK CLI Version:** 1.124
  - **Module Version:**
  - **Node.js Version:** 16.5.0
  - **OS:** Windows 10
  - **Language (Vers

[2021-09-26 06:06] #12682 closed

[2021-09-26 06:06] #15321 closed

[2021-09-26 06:06] #15344 closed

[2021-09-26 06:06] #15416 closed

[2021-09-26 06:06] #15525 closed

[2021-09-26 06:06] #15735 closed

[2021-09-26 06:06] #15980 closed

[2021-09-26 06:06] #16000 closed

[2021-09-26 06:07] #16041 closed

[2021-09-26 06:07] #16267 closed

[2021-09-26 06:07] #16425 closed

[2021-09-26 15:36] cuongvo opened #16664 "(aws-cdk-lib): Document idiomatic approach to using experimental modules"
## :question: General Issue

### The Question

In `aws-cdk-lib` we're explicitly removing access to L2 experimental modules ([see](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk-lib/scripts/verify-stripped-exp.ts#L1-L4)). What is the proper way of using L2 constructs exposed via experimental modules alongside `aws-cdk-lib`

### Environment

  - **CDK CLI Version:**  2.0.0-rc.23 (build

[2021-09-26 15:58] cuongvo commented on #16664
Actually, after looking at this more, I don't think I can use experimental modules with `aws-cdk-lib`. The differing type declarations embedded in `aws-cdk-lib` clash with the published npm versions.

I would suggest calling this out more prominently in both the `README.md` and AWS's docs for AWS CDK v2 ([docs](https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-v2.html)).

From the AWS doc

[2021-09-26 20:59] LukvonStrom commented on #8287
@DharmSonariya If I understand the issue correctly you want to have the ability to specify the region parameter for the `aws s3 cp` command? My suggestion is implementing this, but only if set explicitly.
I.e. it is not added in case no region parameter is provided to `add_s3_download_command, but when a region parameter is provided it is added.

[2021-09-26 21:31] DharmSonariya commented on #8287
It seems to be the perfect solution.

[2021-09-26 21:56] LukvonStrom commented on #8287
@DharmSonariya my proposed PR should suffice to fix your issue.

[2021-09-26 22:05] DharmSonariya commented on #8287
Thank you for your time and effort.

[2021-09-27 03:23] kc-dot-io commented on #15000
I can confirm this was an issue with version mismatches between different CDK modules for me. Once I made sure everything was same version and ran a clean install, it worked fine.

[2021-09-27 03:51] miekassu commented on #12898
I added more stacks and lambdas to the example [repository](https://github.com/miekassu/lambda-build-fail).
Some of my observations while debugging:

Produces not wanted Lambda asset path pointing to the root folder of the project:
[code]

Targeting manifest in `cdk.out/assembly` folder produces right asset path when using `-e` tag.
To update templates, I used synth commands, which then also bundl

[2021-09-27 06:06] peterwoodworth commented on #12856
Additionally, something that hasn't been discussed yet is that these resources that are automatically created can be modified using [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html). All you have to do is figure out which construct is creating a given resource, and then from there you should be able to access the desired resource using `node.children`.

[2021-09-27 06:06] #12856 closed

[2021-09-27 06:29] NGL321 commented on #15789
Hey @newmana,

Were you able to confirm the Cloudformation behavior? I was unable to reproduce this, but if you are still experiencing this bug and you confirmed it isnt in Cloudformation, I can do a deeper investigation.

[2021-09-27 06:51] intptr-t opened #16668 "(aws-lambda-nodejs): support charset option"
### Use Case

If we deploy a Lambda function that currently contains multibyte characters, the escaped characters will be output.

I am currently facing the same problem that the official documentation is talking about when using CDK.
[esbuild API document says](https://esbuild.github.io/api/#charset)

#### Example

#### Input Lambda code
[code]

##### Current output code
[code]

##### Expected ou

[2021-09-27 07:27] keepler-ivanmarques commented on #2562
+1

[2021-09-27 08:11] nija-at commented on #16664
Actually, we are in the process of publishing experimental modules as separate modules. It should be available soon, and the consumption process will be as documented in the docs you have linked.

cc @njlynch

[2021-09-27 08:24] rix0rrr commented on #3717
I don't think setting `AppProps.outdir` *can* even work, as the CLI won't know where to look for the Cloud Assembly.

Now that you mention it, I'm not sure why we have that property in the first place. I guess it is for unit tests.

@eladb you added this property in https://github.com/aws/aws-cdk/pull/2636... do you happen to remember why it is configurable from inside the CDK app?

[2021-09-27 08:43] nija-at commented on #16626
This is not the correct solution for this issue. As stated in [the docs](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_assertions.Match.html#static-absentwbrpropertyspan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan), `Match.absentProperty()` has a specific intent.

[code]

must automatically pass for both -

[code]

and

[cod

[2021-09-27 08:54] nija-at commented on #16626
There are a couple of ways to approach this issue -

1. special case `hasResourceProperties()` such that the template is modified where all `Resource` blocks for the format `"MyLogicalId": { "Type": "AWS::Foo::Bar" }` gets converted into `"MyLogicalId": { "Type": "AWS::Foo::Bar", "Properties": {} }`

2. have a special (private) matcher than handles this case and use that in `hasResourceProperties(

[2021-09-27 09:59] aritranagnordcloud opened #16669 "S3-Deployment-Assets : update python version on BucketDeployment handler"
**General Issue**

Based on the description , We can see that Older Python version 3.6 is currently enabled which will be no longer supported soon.

**Documentation**
The custom resource is implemented in Python 3.6 in order to be able to leverage the AWS CLI for "aws s3 sync". The code is under lib/lambda and unit tests are under test/lambda.

This package requires Python 3.6 during build time in

[2021-09-27 10:03] DC4JG commented on #7985
@skinny85 sure, if I find the time for it I'll gladly share my knowledge in some cleaned up examples and snippets.

[2021-09-27 10:45] ayozemr commented on #14555
I think I am seeing this also in `DockerImageFunction`. Doing diff in a mac throws asset change vs deployed with CI that uses ubuntu, when no code change is present. Code is a Java lambda

[2021-09-27 10:52] njlynch commented on #15881
So far, I've been unable to reproduce.

[code]

I do wonder if there's a difference in the credentials used locally and those you're getting in the console. Could you try deploying via the CloudFormation CLI (as above) and see if you get the same error?

That, or checking the creds the CDK is using by adding the `-v` flag to the synth/deploy commands, and comparing that to what you're expecting.

[2021-09-27 10:54] ibrahimikram commented on #12913
This was very helpful. Thanks @mrvisser!

[2021-09-27 11:17] njlynch commented on #16314
@bmccraw86 -

This is because the cfnspec originally marked the TransitGateway tags as Immutable. This was corrected in the 39.7.0 spec, which went out with v1.116.0 of the CDK. See https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/cfnspec/CHANGELOG.md#property-changes-8 for the changelog.

@XuejiaoZhang  - Any response to the comments by rix0rrr above? It's not clear here which bugs

[2021-09-27 11:27] njlynch commented on #16319
Ultimately, if the same CloudFormation template is deployed multiple times, and a buggy result is observed some of the time, it sounds like there's a potential race condition on the CloudFormation side.

Given that, I would recommend filing an issue in the AWS forums (either for [CloudFormation](https://forums.aws.amazon.com/forum.jspa?forumID=92) or for [CloudFront](https://forums.aws.amazon.com/

[2021-09-27 11:27] #16319 closed

[2021-09-27 11:32] gustf commented on #15760
Hi, any progress on this issue, or information when it will be prioritized?

[2021-09-27 12:13] ns-ajith commented on #9346
+1

[2021-09-27 13:09] bmccraw86 commented on #16314
@njlynch that makes perfect sense. Thank you!

[2021-09-27 13:45] cokia commented on #16436
@austevick If you are not willing to post the PR, can I proceed with the revision of the document? thanks

[2021-09-27 13:45] njlynch commented on #16518
Typically, EIPs are retained if they are still in use. Often, you'll see the reason why an EIP couldn't be deleted when attempting to delete the stack associated with them.

The example you provide above does not allocate EIPs, although the a VPC with all the defaults (`new ec2.Vpc(this, 'Vpc');`) does allocate one per AZ. You should be able to see what the EIP is associated with, either through t

[2021-09-27 13:52] kaizen3031593 commented on #16626
Reading your comments, I agree that we should do something about this bug :). And I'll look further into the two approaches you've outlined in the second comment. However -

#16653 is not trying to fix this bug. Rather, I think that `Match.absentProperty()` should be of type `Matcher` as I imagine that's what the customer expects. My arguments for this change below -

  - Would make `Matcher.isMat

[2021-09-27 13:57] nija-at commented on #16626
Ah, my bad! I thought they were related.

[2021-09-27 14:08] njlynch commented on #16580
I believe this is a duplicate of #15297.

tl;dr - I believe the short answer is that this case occurs when the existing security group has no explicit rules defined. With no rules defined, the security group has a default behavior. However, as soon as new ingress/egress rules are defined -- in this case via a new stack -- those new rules take precedence, overriding the default behavior.

This is a

[2021-09-27 14:08] #16580 closed

[2021-09-27 14:17] kaizen3031593 commented on #16649
Hi @spmacdonald, I'm not an expert on best practices in this area but I would say that in general, you want your IAM policies to adhere to the principle of least privilege (which means its usually not the best idea to give the policy access to all resources via `resources=['*']`). @peterwoodworth is there a permission pattern in Glue for this particular use case?

[2021-09-27 14:21] kaizen3031593 commented on #16547
@peterwoodworth can you look into reproducing this bug? I'm adding the guidance tag and removing the bug tag for now, until we can reproduce.

[2021-09-27 14:33] skinny85 commented on #16514
OK then 🙂.

[2021-09-27 14:33] #16514 closed

[2021-09-27 14:36] #16549 closed

[2021-09-27 14:54] leelalagudu opened #16672 "CodePipeline: Access to child resources"
## :question: Access to children resources when using modern CDK pipeline construct

### I am using CodePipeline (the modern construct) as recommended by CDK documentation https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html to deploy my pipeline. When I add cfn-nag checks, it fails these checks on a few resources - artefacts bucket not having access logging enabled and some IAM p

[2021-09-27 15:19] shellscape commented on #7449
@MrArnoldPalmer @michaelwiles I'm not seeing anything in CDK which allows for setting the `DeliveryPolicy` on either a per-subscription or per-topic basis. We've got `CfnSubscription.deliveryPolicy` but beyond the base construct it doesn't appear to be available. Am I overlooking something, or is that still as yet to be added to the consumable constructs like `Topic` and `Subscription` (I forget w

[2021-09-27 15:21] LucasOliveiraS commented on #4323
+1. Facing the same issue.

[2021-09-27 15:26] #9039 closed

[2021-09-27 15:27] acdoussan commented on #16654
Hey @skinny85

You're right, here is the transform field:
[code]

Downloaded both the processed and unprocessed template from the AWS console, both still gave a stack overflow. Unprocessed was in yaml and still had `AWS::Serverless::*` resources, processed was in json and did not have `AWS::Serverless::*` resources.

[2021-09-27 15:30] skinny85 commented on #16654
Would you mind uploading both templates, the one with the transform and the one without the transform, to this issue, so I can take a look?

Feel free to anonymize it if needed, of course.

[2021-09-27 15:55] LukvonStrom commented on #11958
This issue is in parts related to the issue raised in #8287 and my PR for that issue in #16667

[2021-09-27 16:00] LukvonStrom commented on #16669
Hi @aritranagnordcloud the issue is located here:
https://github.com/aws/aws-cdk/blob/c165138fa7c3456e530ffeab9b7a038914cc2dca/packages/%40aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts#L281

Changing this to a `runtime: lambda.Runtime.PYTHON_3_9,` in code should work.

[2021-09-27 16:10] lorefnon commented on #16580
@njlynch  We do have explicitly defined rules that allow all outbound traffic.

When imported in a CDK template, these explicitly defined rules egress are removed in favor of the ones specified in the stack. They are restored back when the cloudformation stack is destroyed.

[2021-09-27 16:51] timothy-mcphie opened #16673 "(elbv2): Missing permissions on logAccessLogs for ALB"
ALB requires the Service Principal "delivery.logs.amazonaws.com" to have put permissions on the S3 bucket passed to logAccessLogs. I would expect the ALB construct to automatically add these policies but it doesn't do so. Currently only the NLB construct adds these permissions the ALB construct does not - https://github.com/aws/aws-cdk/commit/d6a126508e4bb03f6f9d874c2c6648c3e3661a41

These permiss

[2021-09-27 17:57] sahilpalvia opened #16675 "aws-ecs-patterns: Default value for `healthCheckGracePeriod` is not long enough, causes delays in ECS deployments"
The default `healthCheckGracePeriod` of 60 seconds for `NetworkLoadBalancedEc2Service` is not long enough. It causes the hosts to potentially bounce between `initial` and `draining` states. According to the [NLB documentation](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/target-group-register-targets.html): `It can take a few minutes for the registration process to complete and

[2021-09-27 18:02] skinny85 commented on #16655
Thanks for opening the issue @GregThoen. I agree with all of your points. It seems that actually always installing the AWS CLI might not be a great idea - perhaps we should first run a `which aws`, and see if that returns a non-zero exit? Because if it does (like in your case, where your AMI already contains it), we should probably just skip installing the AWS CLI package altogether.

To unblock y

[2021-09-27 18:28] GregThoen commented on #16655
Yeah - I think that will work too. In particular, it should work for us, since we have it installed in the AMI already. I think in general, for other people, though, one of the two things I mentioned might end up being better, so that it can work with RHEL & CentOS when not already installed -- just a suggestion. :)

[2021-09-27 18:36] skale1 commented on #9625
Is there currently any workaround for cross-account/cross-region support for ShellScriptAction?  I am in need of this functionality too.
Also is there any timeline when this would be made available?

[2021-09-27 18:52] evanerwee01 commented on #16662
I have follow this route and created the policy successful.

self.custom_policy = core.CfnResource(
    self,
    "DefaultEventbusPolicy",
    type="AWS::Events::EventBusPolicy",
    properties={
        "StatementId": "MyCustomEventBusStatement",
        "Statement": {
            "Effect": "Allow",
            "Principal": {
                "AWS": ["arn:aws:iam::????????????:root",

[2021-09-27 18:52] #16662 closed

[2021-09-27 19:04] acdoussan commented on #16654
Provided full cfn templates via private channels

[2021-09-27 19:13] justinmk3 commented on #12799
AWS Toolkit has proposed a schema for cdk.json here: https://github.com/aws/aws-toolkit-vscode/pull/2078

We are hoping this can live somewhere in CDK upstream, perhaps in a `spec/` directory or [design/](https://github.com/aws/aws-cdk/tree/master/design).

Is there interest in this?

[2021-09-27 19:29] ryparker commented on #16130
👍🏻 Since you have discovered a workaround we should close this guidance question.

We can certainly get this looked once it is created as a new bug issue. We will prioritize based on impact and community 👍🏻's. As always contributions are also welcome (make sure to follow the [contribution guidelines](https://github.com/aws/aws-cdk/blob/d21561adbd39543516cdf69026849877a0348222/CONTRIBUTING.md)).

[2021-09-27 19:33] ryparker commented on #16130
The actual workaround we can use is adding two waves where the manual approval is in the first one, and the CodeBuild action is in the second one.

👍🏻 Thanks for providing the workaround.

Is there any possibility you could look into this?

I've changed this issue back to a bug report and prioritized it as p2. p2 means that we are unable to work on this immediately. We use +1s to help us prioritiz

[2021-09-27 19:51] Krotki commented on #16541
I had a brief look as source code  and correct me if I'm wrong, but I't seems to me that `CfnCluster` class is not used. Instead there is `ClusterResource` which creates `CustomResource` of type `Custom::AWSCDK-EKS-Cluster`. There is a custom resource handler which interprets data from `CustomResource` and creates/updates/deletes resource. I guess only thing missing is to extend handler to handle

[2021-09-27 20:01] otaviomacedo commented on #16541
Yes, take a look at our [contributing guide][1]. In particular, there is a `link-all.sh` script that creates a link from your test application's `node_modules` to your local version of the CDK.

[1]: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md

[2021-09-27 20:25] peterwoodworth commented on #16547
I've dug into this a little bit, and I think I have a theory on what's happening here

@davidmckenzie, in your synthed template, under the RecordSet which is created there should be a property `ResourceRecords` that looks like this:

[code]

And the DOMAIN_LOGICAL_ID should be a real logical ID which references the `OpenSearchService::Domain` resource in the document. According to CloudFormation,

[2021-09-27 20:30] peterwoodworth commented on #16547
Actually, I've thought of a way to test my theory without needing a certificate. Will update

[2021-09-27 20:54] skinny85 commented on #16655
Yep, agreed - after `which aws` returns non-zero, we should do a `yum list awscli` to establish whether the package is called `awscli`, or `aws-cli`.

[2021-09-27 21:14] abdirahmanjama opened #16677 "(@aws-cdk/aws-ec2): WINDOWS_SERVER_2016_ENGLISH_FULL_BASE doesn't come with SSM"
According to the documentation:

However, the version mentioned in the issue does not support SSM. When I create the instance using cdk deploy - it moans about not having it set up. Whereas, other versions i've tried come with it pre-installed.

---

This is :bug: Bug Report

[2021-09-27 21:52] peterwoodworth commented on #16672
[According to our docs](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_pipelines.CodePipeline.html#pipeline), the pipeline prop only becomes available after the pipeline has been built.

You are trying to access the pipeline during synth time, which will be before the pipeline is built. So, this error makes sense.

You can access underlying properties by using [escape hatches](https://do

[2021-09-27 22:14] peterwoodworth commented on #16547
Update: the `DomainEndpoint` attribute works fine for me. I need to get a certificate to see if I can actually reproduce this. @davidmckenzie, sharing your synth output for the Domain and RecordSet would help me to see if there's anything wrong in your template

[2021-09-27 22:18] peterwoodworth commented on #16669
Converted this into a feature request. Once @otaviomacedo confirms what version we want to change it to (if we want to change it) I can create a PR for this

[2021-09-27 22:37] peterwoodworth commented on #16649
AWS Glue has some pretty extensive documentation on IAM permissions, check it out [here](https://docs.aws.amazon.com/glue/latest/dg/authentication-and-access-control.html).

Like kaizen said, I want to emphasize that you want to adhere to the principle of _least privilege_. Using the `*` will grant access to _all_ resources.

Feel free to ping me if you have any additional questions @spmacdonald,

[2021-09-27 22:37] #16649 closed

[2021-09-27 22:39] newmana commented on #15789
Hi, I haven't had a chance to reproduce it further - we have definitely made other changes subsequently so I will close it for now and if it does re-occur - I'll come back and go through the steps suggested.

[2021-09-27 22:39] #15789 closed

[2021-09-27 22:39] spmacdonald commented on #16649
Ok, thanks for the advice.  I guess my question was around granting permission to the lambda access at the database level, rather than having to create Table constructs in the CDK and grant access to each table.

[2021-09-27 23:23] peterwoodworth commented on #5586
I've independently found that `app.synth()` is required in Python. No idea why personally

[2021-09-28 01:11] quixoticmonk commented on #16186
The datasource type seems to be accepted as of today. @BenChaimberg  Would this need to reflect the Webcrawler properties or is still a cfn spec update consumed by CDK ? https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_kendra/CfnDataSource.html#aws_cdk.aws_kendra.CfnDataSource.DataSourceConfigurationProperty
Apologies on being a pest as I am trying to figure out if I need to write cus

[2021-09-28 01:23] BenChaimberg commented on #16186
@quixoticmonk Given that the service API has a type named [WebCrawlerConfiguration](https://docs.aws.amazon.com/kendra/latest/dg/API_WebCrawlerConfiguration.html), I would imagine a similar type will need to become available in the CFN spec in order for you to properly specify this resource.

However, since the model is technically not throwing errors anymore, this issue can probably be closed. Fu

[2021-09-28 02:37] pahud opened #16679 "(elbv2): ALB target type support for NLB"
NLB now supports ALB as the target type.

https://aws.amazon.com/tw/about-aws/whats-new/2021/09/application-load-balancer-aws-privatelink-static-ip-addresses-network-load-balancer/

And the cloudformation already has the support.
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-targetgroup.html#cfn-elasticloadbalancingv2-targetgroup-targettype

###

[2021-09-28 03:17] kierans commented on #8461
Another use case for this is repo replication. If I have an ECR repository in one region, and I want to replicate the images to another region I need to find lookup the source repo in the "main" region.

[2021-09-28 03:27] bilalq commented on #13703
Seems like the last PR got closed due to staleness. Other than commit message convention and failing test issues, did you all have any issues with the previous PR? I'd love to see this feature. The whole index permissioning issue has been the most frustrating part of migrating from SAM to CDK.

@ahammond Do you have capacity to continue on this, or are you cool with me picking it up?

[2021-09-28 03:28] ahammond commented on #13703
@bilalq I've been swamped for months. Please go ahead.

[2021-09-28 04:52] setu4993 commented on #16234
Hey @SamStephens! Good request. I have a PR that would make this possible here: https://github.com/aws/aws-cdk/pull/15324.

Curious if you have thoughts around modifying it to better support your use case as well.

[2021-09-28 06:09] #15668 closed

[2021-09-28 06:09] #16135 closed

[2021-09-28 06:48] yamatatsu commented on #16602
@skinny85
I created a draft PR for aws-iot L2 constructs. #16681
This includes following:

- L2 Construct TopicRule
- L2 Construct RepublishAction
- and tests

And this doesn't have following yet:

- comments
- other actions

If there are no problems, I will continue with the rest of the implementation.

[2021-09-28 06:56] coreylane commented on #4907
Is this on the roadmap for cloudformation coverage?

[2021-09-28 07:13] touzoku commented on #7312
Maybe at least some more meaningful error?

[2021-09-28 07:48] mrpackethead opened #16682 "mechanism to synth a stackless template"
We need a mechanism to synth templates that can be subsquently used as 'assets' by resources, such as  StackSets or ----Config Conformance Packs..  There likely are other uses cases.

Currently we have to place a stack in a stage, and then synth it, then create an asset which is quite convoluted, and it may be problematic....

It does also turn out that we probably need a way to be able to manipul

[2021-09-28 07:59] kujirajuunigou opened #16683 "pipelines: expose input artifacts from the CodePipeline "Source" stage"
Extend the`CodePipeline` construct to expose the source artifacts for later stages.

### Use Case

I'm using the official AWS documentation to create a pipeline using CDK: https://docs.aws.amazon.com/cdk/latest/guide/cdk_pipeline.html#cdk_pipeline_define (with a slight variation to the docs, where I used a CodeStar connection, as your code comments recommend)

This automatically creates a self-mut

[2021-09-28 08:07] mrpackethead commented on #8461
The scope of this needs to be wider.  There needs to be a standardised way of creating contexts for user-created lookups.. The users want to do ECR lookups, but for me, its other things..   You could solve the specific use-case here, but the other approach would be to provide a method to do arbitory lookups ( using sdk calls, which is what the 'built in lookups' do anyway, and cache them.

[2021-09-28 08:11] jpeinola opened #16684 "aws-cdk-lib/pipelines: CodeBuildStep should support CodePipeline variables"
The current `CodeBuildStep` API doesn't include `variable` property and `CodeBuildStepProps` doesn't include `variablesNamespace` property. As a result variables exported in CodeBuild (exporting variable using `export VARIABLE_NAME` in script and defining the variable in buildspec's env-block using `exported-variables`) are not visible as CodePipeline variables.

Currently this can be done by usin

[2021-09-28 08:53] raajheshkannaa opened #16685 "(bootstrap): Expose bootstrapping as a construct"
Expose the cdk bootstrapping process as a library/construct, so that we can use that to codify bootstrapping multiple accounts at scale.

### Use Case

This will tremendously help with bootstrapping 100s of accounts under the Organization so that we can build cdk pipelines and deploy to n number of accounts at scale.

### Proposed Solution

### Other

* [ ] :wave: I may be able to implement this f

[2021-09-28 09:11] urko-b opened #16686 "(module name): short issue description"
I'm using `aws-cdk-go` https://github.com/aws/aws-cdk-go to deploy a stack with some functionalities. As far as I create a bucket resource using `NewBucket` call from `github.com/aws/aws-cdk-go/awscdk/awss3` package I get an error that says the bucket already exists. I mean, I think this should check if it exists and omit creating again.

[code]

### Reproduction Steps

### What did you expect to

[2021-09-28 09:18] jaypea commented on #16642
if someone needs a workaround, skip the property in the DockerImageFunction and add the policy like this:

[code]

the docker image needs the lambda-insights-extension in any case
[code]

[2021-09-28 09:35] Lilja opened #16688 "Get permissions of whatever the CDK just created"
### Use Case

When I'm running `cdk deploy` from my own machine, this all works fine and dandy because I'm an administrator/have broad permissions for the AWS account i'm working on.
To enable the same stack to be run in a CICD environment we want to "lock in" the permissions of that codebuild user to only be able to create/view things related to the application.
In our repository, we have CICD CD

[2021-09-28 10:12] DarrenForsythe commented on #16234
I'm not sure that would solve my use case. Currently we need to add an intermediate certificate in _some_ circumstances which I believe would require the ability to at least run something similar the following on the container,

[code]

[2021-09-28 10:38] pchot commented on #8146
+1

[2021-09-28 11:43] Dzhuneyt commented on #2892
If somebody is still interested, I had it as a recurring need and created a CDK construct library for it: https://github.com/awesome-cdk/cdk-report-codepipeline-status-to-github

If you think this is worth going into the CDK core, I would love to invest some time to port it. Somebody from the maintainers can confirm?

[2021-09-28 12:09] Dzhuneyt commented on #8672
@sith this is a limitation of the AWS Lambda service itself, not something that can be solved with CloudFormation or AWS CDK (which all are built on top of AWS services like Lambda). [See this for further information](https://stackoverflow.com/a/39233203/1364793).

If you want to achieve true aggregation of logs for your whole State Machine that is composed of Lambdas that write to multiple `LogGr

[2021-09-28 12:35] tobske commented on #16372
Creating an empty file at `~/.aws/credentials` is a work around for this issue.

[2021-09-28 12:37] #16372 closed

[2021-09-28 12:38] bl-ue commented on #9815
Close?

[2021-09-28 12:46] pahud opened #16690 "bump node version from jsii/superchain for gitpod image"
https://github.com/aws/aws-cdk/blob/d21561adbd39543516cdf69026849877a0348222/.gitpod.yml#L6

The node version from `jsii/superchain` is `v10.24.1`.

[code]

When we run the CDK CLI from gitpod with current .gitpod.yml we'll encounter this warning:

<img width="1102" alt="圖片" src="https://user-images.githubusercontent.com/278432/135088507-9fb7670e-eda2-4a10-bb6b-c663f6590d1e.png">

According to the

[2021-09-28 12:57] kujirajuunigou commented on #16683
Hm, I just realised the addition in the "proposed solution" probably wouldn't help because this line:

[code]

Is only valid for the `Pipeline` construct from `@aws-cdk/aws-codepipeline` which is a different class.

But regardless I would still need a way to access the source artifact when I create a CodeBuild step. Would appreciate any advice if this is possible to do with `CodePipeline`.

[2021-09-28 13:01] pahud commented on #16679
Hi @njlynch the PR is ready! Please take a look. Thanks.

[2021-09-28 13:03] pahud commented on #16690
Hi @skinny85  can you take a look?

[2021-09-28 13:14] mspolitaev commented on #9138
Hi team! Still planned to be fixed or waiting for better times?)

[2021-09-28 13:15] mspolitaev commented on #8699
Hi team! Still planned to be fixed or waiting for better times?)

[2021-09-28 13:39] p0wl commented on #16262
If using `--hotswap` during local development, the `=ask` flag (suggested here: https://github.com/aws/aws-cdk-rfcs/blob/master/text/0001-cdk-update.md) could actually help to prevent this situation.

I just reread the description of `=ask` and now I'm surprised that it asks on Stack level, I would have expected it ask me for every lambda function. So that if I update `lambda1` and cdk diff also d

[2021-09-28 16:14] skinny85 commented on #16262
We haven't started on the `=ask` flag yet @p0wl, but this is a very interesting idea 🙂.

[2021-09-28 17:27] naseemkullah commented on #16660
friendly ping

[2021-09-28 18:07] ryparker commented on #16600
Hey @sarthakchatterjeecvent 👋🏻, thanks for opening the feature request.

This sounds like it will require a new l2 construct to be created with some lookup functionality.

I am marking this issue as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and su

[2021-09-28 18:22] spyoungtech commented on #5635
@ap00rv that sounds ideal. If the security group configurations can be done independently for the load balancer and service, that should provide a workaround to the immediate issue described here.

Above and beyond, ideally, adding a security group via `albService.service.connections` should also add security groups to the service rather than (or perhaps in addition to?) the LB, but this might end

[2021-09-28 19:10] jpSimkins commented on #16259
This is the smallest example I can currently provide of this behavior.

When this is deployed or updated. It says `0/2` but it ends up being `3/2` when it completes.

The initial values I posted above was on a much larger stack so this is the minimal I can show to duplicate the issue.

To duplicate the issue with this code, just change the cron to be `SUN` instead of `SAT` and you will get `3/2`.

[2021-09-28 19:18] peterwoodworth commented on #16649
Yes @spmacdonald, the answer to this can be found in the documentation: https://docs.aws.amazon.com/glue/latest/dg/glue-specifying-resource-arns.html#data-catalog-resource-arns

[2021-09-28 19:26] peterwoodworth commented on #16630
I'll look into this. On a first glance I'm not sure why a circular dependency would be happening here.

Have you been able to figure out exactly what the dependencies are? The names in your images are difficult to parse. A diagram showing what resources depend on each other would be helpful if you can provide that @giterdoneh

[2021-09-28 19:59] #16690 closed

[2021-09-28 20:07] peterwoodworth commented on #16630
Hmm, I can't seem to reproduce this on a first try. To make sure I understand you right, here's what I did:

1. Create lambda function
2. Create alias from current version of lambda function. Add autoscaling to alias
3. Create an authorizer with the alias as the handler

What are you doing with the authorizer once you've created it?

[2021-09-28 20:24] xavierbuspatrol commented on #8285
I'm getting this issue too. Makes it so `cdk diff` is harder to use and confusing.

[2021-09-28 20:29] ryparker commented on #16677
Hey @abdirahmanjama 👋🏻

Thanks for bringing this to our attention. This sounds like a documentation error that needs correcting.

I'm labeling this as p1 which means it has been prioritized as important, although please keep in mind that we do have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our wor

[2021-09-28 20:44] ryparker commented on #16661
Hey @ymwdalex 👋🏻

Thanks for bringing this to our attention. This seems to be a bug in our docs generation since the type is accurately set to `string[]` in the code you linked.

I'm going to mark this as a p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this u

[2021-09-28 20:45] peterwoodworth commented on #16685
@rix0rrr do you know if is a feasible feature to implement?

[2021-09-28 20:49] ryparker commented on #16658
Hey @binarythinktank 👋🏻

Thanks for bringing this to our attention. I'm looking into this on my end and will follow up once i've reproduced the bug.

[2021-09-28 20:53] ymwdalex commented on #16661
@ryparker thanks for the feedback. It is pity that the priority of this bug is not high enough to trigger direct action from CDK team, but understood.

Could you please pinpoint some directions (document about cdk docs generation, key files or code snippet) which helps to fix this bug? I can take a look and give a try, since I am really waiting for this bug fix for the product I am building.

[2021-09-28 20:54] jaresuth commented on #12284
@ericzbeard  - Can you assign this to me? I am currently working on the fix and test. Thanks!

[2021-09-28 21:02] ymwdalex commented on #16661
Hi @ryparker , I think it is not only a bug in the document. Maybe my issue description is not clear. The code in the python package aws_cdk.aws_eks is also not correct! The `cidr` parameter of `only_from` should be list of str instead of str!
[code]

[2021-09-28 21:29] ryparker commented on #16675
Hey @sahilpalvia 👋🏻 Thanks for opening the bug report.

The workaround for this is to manually provide an extended duration to the [`healthCheckGracePeriod` prop](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecs-patterns.NetworkLoadBalancedEc2Service.html#healthcheckgraceperiod). Maximum possible value is 2,147,483,647 seconds.

I'm going to mark this as p2 since there is a workaro

[2021-09-28 21:56] peterwoodworth commented on #16686
Had you originally created the bucket in your CDK project? And if so, did you modify the bucket in any way?

[2021-09-28 22:07] giterdoneh commented on #16630
@peterwoodworth
_Hmm, I can't seem to reproduce this on a first try. To make sure I understand you right, here's what I did:

Create lambda function
Create alias from current version of lambda function. Add autoscaling to alias
Create an authorizer with the alias as the handler
What are you doing with the authorizer once you've created it?_

Yes, this is what I'm doing. Downstream of this, I'm add

[2021-09-28 22:14] jaresuth commented on #16253
@kaizen3031593 - I am actively working on a fix for this.  Can you assign this issue to me?

[2021-09-28 22:57] SamStephens opened #16698 "(python): Allow for Props classes to be passed into construct constructors"
In other languages, the properties for an L2 construct are encapsulated in a Props class, and passed into the constructor of that class.

For example, to create a lambda [Function](https://docs.aws.amazon.com/cdk/api/latest/typescript/api/aws-lambda/function.html#constructors) you pass in an instance of [FunctionProps](https://docs.aws.amazon.com/cdk/api/latest/typescript/api/aws-lambda/functionpr

[2021-09-28 22:57] skinny85 commented on #16654
Thanks for providing the templates @acdoussan. Here are the results of my investigation.

For the unprocessed template you provided (the one with the `AWS::Serverless-2016-10-31` transform), there is indeed a cycle in the resources. It looks as follows (simplified):

[code]

As you can see, `APIGatewayExecutionRole` depends on `LambdaFunction`, which then depends on `LambdaAPIDefinition`, which th

[2021-09-28 23:03] SamStephens commented on #16234
So what you're looking for is customisation of the Docker image, which is exactly what I'm trying to avoid here. Every existing solution the CDK provides to the problems I'm trying to solve require you to use a custom Docker image.

I want the flexibility to run shell commands and mount docker volumes without having to worry about Docker images, to be able to rely on `aws_lambda_python.PythonFunct

[2021-09-28 23:05] jd-carroll opened #16699 "(aws-lambda-event-sources): Lazy resolve tableStreamArn"
The DynamoDB event source cannot be used with an existing DynamoDB table.  Reason is that during the bind process the [DynamoDB Event Source](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-lambda-event-sources/lib/dynamodb.ts#L24) checks for the steam ARN.  However, it would not have been retrieved from the dynamo table.

### Reproduction Steps
[code]

### Environment

  - **CD

[2021-09-28 23:13] SamStephens commented on #16234
@setu4993 what you're doing is interesting, but I think it's orthogonal to what I'm suggesting. You're customising the way the Docker image is built, allowing customisation of the SAM provided Python build image, which is really useful, and likely solves the problem @DarrenForsythe faces.

However what I'm needing is customisation of how the Docker container is then invoked after it is built.

I g

[2021-09-29 01:10] mrpackethead commented on #16682
Just asking for another 4cs worth.  There are Cloudformation Resources, that require the template to be in YAML!

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-config-conformancepack.html

[2021-09-29 01:45] kujirajuunigou commented on #16683
I managed to find a workaround, but I hate it:

[code]

There's the drawback that I can't add any more stages to the `CodePipeline` construct (because I've already run `buildPipeline()`). And the whole thing feels awkward, surely there's a better way to do this that I'm missing?

[2021-09-29 03:00] g3kr opened #16700 "[cloudformation][aws-ecs][aws-secretsmanager]: retrieve secret value from secret name"
## :question: General Issue

### The Question

I have 2 questions. I am deploying this through Cloudformation.

1. I am trying to retrieve a secretmanager secretstring which is a json in my ECS task definition. The secret ARN now includes 6 random characters in the ARN which changes if the version of the secret changes. Is there a way I can retrieve the secret just from the secret name?

Below cod

[2021-09-29 03:04] setu4993 commented on #16234
@DarrenForsythe :

That's exactly the type of use case https://github.com/aws/aws-cdk/pull/15324 is supposed to help with :). If https://github.com/aws/aws-cdk/pull/15324 is merged, you'd be able to provide a custom `Dockerfile.build` (with those additional docker steps) and use that instead of the default build image.

@SamStephens :

I see. I might have misunderstood the request in the issue, my

[2021-09-29 03:09] setu4993 commented on #16234
I could be mistaken, but volumes can be referenced at runtime, [not at build time](https://stackoverflow.com/questions/51086724/docker-build-using-volumes-at-build-time).

[2021-09-29 03:45] jd-carroll commented on #16699
I don't think this is going to be possible unfortunately...  The only way to get it to work is to use the `Table.fromTableAttributes` method, which would require the streamArn.  Which is a bummer because if you use the ARN, it will have a region hard-coded into it.

Would be great if there was some type of lazy resolve where the ARN is only resolved during a `diff` or `deploy`.  And even if the re

[2021-09-29 03:54] mikelhamer commented on #7062
Ugh...facing a similar issue of "There are no 'Public' subnet groups in this VPC. Available types: Private". The suggested solutions here are bringing me no joy.

In my case I'm declaring a network balanced service on an existing VPC that has no Public subnets. I don't understand why something is trying to use 'Public'

[code]

[2021-09-29 04:28] mikelhamer commented on #7062
Aha!!! Turns out I had to explicitely declare the Network Load Balancer like so. This feels like a bug with NetworkLoadBalancedFargateService. Isn't the whole point of the pattern to avoid having to declare the NLB?

[code]

[2021-09-29 04:39] nacitar commented on #16648
Might be more worthy of a distinct ticket, but the same identical problem exists here:
https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts#L417

That check makes the DesiredCount impossible to express via a CfnParameter.

[2021-09-29 07:04] alexrashed commented on #12610
Unfortunately, I'm facing the same issue with the ZFS storage driver. Is there any other workaround which doesn't involve changing my file system?

[2021-09-29 07:55] SamStephens commented on #16234
@setu4993 so I should apologise for anything I misunderstand, because I'm not all that familiar with how Docker images are build for use in the CDK.

To clarify, nothing here involves function runtime. The distinction is whether customisation of the function build is done via `Dockerfile.build` to change the Docker image used for the build, or whether customisation is done by changing how the Dock

[2021-09-29 09:25] TRANTANKHOA opened #16703 "(aws_ecs: ContainerImage): why repository_name parameter is depricated?"
I noticed in [document](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_ecs/ContainerImage.html) that there is this parameter for `repository_name (Optional[str]) – (deprecated) ECR repository name.` It would be something useful in my case since I can use that to have a stable reference to my image instead of the random hash cdk generates. This would help me clean up the ECR from all

[2021-09-29 09:26] TRANTANKHOA commented on #11936
may be related to [this](https://github.com/aws/aws-cdk/issues/16703#issue-1010716265)

[2021-09-29 11:47] christophgysin commented on #12610
Yes, change the docker storage driver.

It doesn't seem to be public, so there is no way for us to make PRs. Someone from AWS needs to step up and fix this.

It's a shame that @ryparker isn't responding to this anymore. The community did all the work and the root cause has been found. A fix has been suggested. All it needs is someone on the inside to apply the fix :disappointed:

[2021-09-29 11:53] alexrashed commented on #12610
Zhe overlay2 storage driver [does not support all types of upper file systems](https://docs.docker.com/storage/storagedriver/overlayfs-driver/#prerequisites) (including mine). So unfortunately the workaround doesn't work for me.

[2021-09-29 11:54] #16446 closed

[2021-09-29 12:14] markusl opened #16707 "(codebuild): AWS CDK 2.0 still defaults to LinuxBuildImage.STANDARD_1_0"
AWS CDK 2.0 still defaults to LinuxBuildImage.STANDARD_1_0

### Reproduction Steps

Define a `codebuild.Project` in a pipeline.

### What did you expect to happen?

The default build image should be something that AWS actually supports.

### What actually happened?

CDK 2.0 defaults to an outdated build image.

### Environment

  - **CDK CLI Version  :** 2.0.0-rc.23 (build 1e54fb9)
  - **Framework

[2021-09-29 12:43] alexedwardjones opened #16708 "(aws-lambda-nodejs): esbuild watch mode"
During development being able to enable the [esbuild watch mode](https://esbuild.github.io/api/#watch) would be very beneficial.

### Use Case

Testing a lambda locally using the SAM CLI by running `sam local start-api` works but in order to reflect any subsequent changes, you have to rerun `cdk synth`.

### Proposed Solution

Adding a boolean `watch` property to the bundling options to enable the

[2021-09-29 12:49] giomarino commented on #6768
+1

[2021-09-29 13:11] jia2 commented on #7121
We are experiencing the same issue and appreciate that it could be fixed soon.

[2021-09-29 14:05] tmokmss opened #16710 "(events-targets): AuthenticationMethod: BASIC_AUTH is not supported for self-managed Kafka event source"
Currently we can only choose SASL_SCRAM_512_AUTH and SASL_SCRAM_256_AUTH `AuthenticationMethod` for self-managed Kafka event source.

https://github.com/aws/aws-cdk/blob/d6afdaf4620948aecd8ed312bc98fb724e0f306c/packages/%40aws-cdk/aws-lambda-event-sources/lib/kafka.ts#L43-L52

However, there is another authentication method supported, which is `BASIC_AUTH`.
You can see it [here](https://docs.aws.a

[2021-09-29 14:48] jgoux commented on #15891
We have this issue as well, multiple times per day (we deploy preview environments so we have a lot of deployments :)).

We also have this variant sometimes :

[code]

[2021-09-29 15:04] acdoussan commented on #16654
You're right, looks like the JSON includes, I likely forgot to rebuild the typescript after pointing to the JSON before rerunning the cdk command.

Is it the correct interpretation that you're recommending we use the downloaded JSON to import our stack into CDK? We are trying to migrate to cdk from our existing cloudformation, and then slowly eliminate the cloudformation as we can.

I'm not too su

[2021-09-29 15:06] mpuhacz opened #16713 "(core): AssetStaging skips stacks with custom `stackName` specified"
The `stackName` property is used to determine whether asset bundling should run. This is not a valid behavior since `BUNDLING_STACKS` (`aws:cdk:bundling-stacks`) is based on the stack ID (to be confirmed).

https://github.com/aws/aws-cdk/blob/d6afdaf4620948aecd8ed312bc98fb724e0f306c/packages/%40aws-cdk/core/lib/asset-staging.ts#L191-L192

### Reproduction Steps
This is the code I used for testing.

[2021-09-29 15:25] #15326 closed

[2021-09-29 15:25] #16023 closed

[2021-09-29 15:28] rix0rrr commented on #16344
I have a sense that

Is not returning the object as an OBJECT (`HashMap` in Java) but as a `String`.

At least, that's what I'm seeing here:

[code]

That tells me that the top-level thing that's being passed to `Input` is a string.

[2021-09-29 15:36] rix0rrr commented on #16344
It could be a feature request to use a JSON string as an input -- `fromText()` is not good enough as it will also add the outer quotes.

[2021-09-29 15:42] rix0rrr commented on #16563
Are you using the `EventPattern` class with a `CfnRule` by any chance?

[2021-09-29 15:49] rix0rrr commented on #16358
Sure. Here's one I use when I need to test something about pipelines: https://github.com/rix0rrr/test-cicd

[2021-09-29 15:51] rix0rrr commented on #16647
I'm going to guess the source for this is around versions of the cdk project and the `constructs` library.

Looks like you're using NPM. Can I see your `package.json` ?

[2021-09-29 15:57] rix0rrr commented on #16535
Sounds like fun!

[2021-09-29 15:59] rix0rrr commented on #16559
Sounds reasonable.

For now, your best way to unblock yourself is to make a subclass of `Key` that overrides `addToResourcePolicy()` and does nothing.

[2021-09-29 16:01] leantorres73 commented on #16647
dev dependencies:
[code]
and I'm trying to add a tag to the stack

[code]

The main problem is that if I remove the creation of the S3 bucket from the stack it works, when adding the bucket it does not.

[2021-09-29 16:03] rix0rrr commented on #16605
Thanks for reporting.