[2021-09-29 16:04] rix0rrr commented on #16682
Good request, thanks.

[2021-09-29 16:06] rix0rrr commented on #16685
It can probably be made easier, but you could do this today already by taking this file:

https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml

And deploying it via a StackSet: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudformation.CfnStackSet.html

Only L1 support for now, so some assembly required, but it should work.

[2021-09-29 16:25] leantorres73 commented on #16647
Sorry about wasting your time, I found out that I was doing a return in the Stack constructor, that means the constructor was returning something else than expected and that was failing

[2021-09-29 16:25] #16647 closed

[2021-09-29 17:17] poretti opened #16717 "(aws-batch): Wrong service role is used for Fargate compute environment"
The default service role used for a compute environment is [`service-role/AWSBatchServiceRole`](https://github.com/aws/aws-cdk/blob/v1.124.0/packages/%40aws-cdk/aws-batch/lib/compute-environment.ts#L409).

I was trying to create a Fargate compute environment, but my jobs kept getting stuck in `runnable`. I then manually created a Fargate env through the console so I could compare to the CDK one.

[2021-09-29 17:21] peterwoodworth commented on #16703
Here's the PR which deprecated `repositoryName`: https://github.com/aws/aws-cdk/pull/5733

The PR doesn't specifically say _why_ this was deprecated, however the comments left an alternative for the user: https://github.com/aws/aws-cdk/blob/65761fe2b8a4053bb5743174d8716f7c78c846e2/packages/%40aws-cdk/aws-ecr-assets/lib/image-asset.ts#L19-L31

[2021-09-29 17:24] peterwoodworth commented on #16700
Hey @g3kr,

Are you using the CDK? Or writing a CloudFormation template. I'm not sure which level you're developing on based on the post

[2021-09-29 18:11] computerwizjared commented on #2892
@Dzhuneyt we would welcome this - we are also looking for this functionality with CDK Pipelines when source from a GitHub repository. not sure if that is part of this issue though.

[2021-09-29 18:21] g3kr commented on #16700
@peterwoodworth I am using CloudFormation template.

[2021-09-29 18:43] peterwoodworth commented on #16700
So, this is the repository specifically for the CDK. Which, while it does make use of CloudFormation under the hood, it's not a support repo for CloudFormation issues.

Here's the documentation which describes exactly what you need to do in cloudformation: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html#dynamic-references-secretsmanager

If you want to try us

[2021-09-29 18:57] kornicameister commented on #4323
@nija-at using this module you can't exactly submit to `objectcreated:*`. You can choose one event type like `objectcreated:post` but if you try to submit another notification for, say, multipart it will tell you that you have two notifications with overlapping configuration (prefix, suffix). Perhaps that would be a workaround if there were ability to specify wildcard event?

Hope I didn't confuse

[2021-09-29 19:30] Kirizan commented on #3396
To solve this, I added this following alias to my zshrc file: `alias cdk='cdk --profile $AWS_PROFILE'`

[2021-09-29 19:31] ryparker commented on #5247
Came across this issue when looking for ways to configure Object Lock. Here's my workaround that uses escape hatches:

[code]

[_`ObjectLockConfiguration` CloudFormation docs_](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-objectlockconfiguration.html#cfn-s3-bucket-objectlockconfiguration-objectlockenabled)

[2021-09-29 19:56] ganeshnj commented on #14738
Encountered similar issue when deploying to AppRunner

[code]

[2021-09-29 20:22] github4es commented on #7062
I am getting this error `jsii.errors.JSIIError: There are no 'Public' subnet groups in this VPC. Available types: `

[code]
Any ideas? cdk v1.121.0

[2021-09-29 20:30] ryparker commented on #16658
Ok so I was able to reproduce what you explained, however I think there is a miss-understanding in what the `retainOnDelete` prop is meant to do.

_[`retainOnDelete` prop docs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-s3-deployment-readme.html#retain-on-delete):_

This is only modifying the delete behavior when you either:
- When you delete the `BucketDeployment` from your CDK code
- Wh

[2021-09-29 20:53] kaizen3031593 opened #16720 "(assertions): add `hasParameters()` and `findParameters()` API"
There should be a way to access the Parameters of the template natively with the assertions library.

### Use Case

https://github.com/aws/aws-cdk/blob/7fbf092c613f5618575b9b1a10b9e06fa36abad3/packages/%40aws-cdk/aws-autoscaling/test/scheduled-action.test.ts#L61

There are quite a few lines of code in the above example so I did not quote it all. But the idea is that if you want to assert on any pa

[2021-09-29 20:55] skinny85 commented on #16654
Yes, I'm recommending you use the processed JSON file with `CfnInclude`. Now, when you do that, `cdk diff` will show a ton of changes. _However_, I'm 99% sure it's actually safe to perform `cdk deploy`, and that will not cause any changes to your app, and change your template to no longer use the Serverless transform (however, make sure to try it first on a development environment, to confirm I'm

[2021-09-29 21:42] sahilpalvia commented on #16675
Agree there is a work around, and that is what we used.

This issue was created more for updating the default values, so that other customers don't have to go digging around for configurations for a basic application.

[2021-09-29 21:57] ryparker commented on #16603
Hey @rittneje thanks for letting us know about this.

I confirmed that the S3 is emptied when toggling `autoDeleteObjects` from `true` to `false`. Even with `removalPolicy` set to `RemovalPolicy.RETAIN`.

Repro code
[code]

Labeling this as p1 which means it has been prioritized as important, although please keep in mind that we do have a large number of issues at the moment. It may be some time b

[2021-09-29 23:32] jaresuth commented on #11119
This should be closed due to this being in .gitignore? https://github.com/aws/aws-cdk/blob/master/.gitignore#L11

[2021-09-29 23:41] binarythinktank commented on #16658
ah my bad! can i suggest we cross-link those 2 parameters in the documentation? with a one-liner about the difference on each?

[2021-09-30 00:05] ryparker commented on #16658
Sounds good to me 👍🏻. Would you be willing to [open a PR](https://github.com/aws/aws-cdk/blob/7fbf092c613f5618575b9b1a10b9e06fa36abad3/CONTRIBUTING.md)?

[2021-09-30 01:38] jaresuth commented on #15933
@nija-at - Can you take a look and see what you think of the approach here?  UserPool attribute tokens don't seem to work here for a good match. The only way I was thinking of for uniqueness is to take the parent constructor.  Let me know what you think of this approach.  Thank you!

[2021-09-30 02:30] cagdas-carbon commented on #6430
I started seeing the same issue right after switching to `newStyleStackSynthesis`. Deploy & file publishing IAM roles both do have the permission to write to S3.

[2021-09-30 02:47] binarythinktank commented on #16658
sure!

[2021-09-30 03:50] binarythinktank commented on #16658
wait, this would be a change to the doc though: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3-deployment.BucketDeployment.html where do i raise a PR for this?

[2021-09-30 03:54] cagdas-carbon commented on #11265
Are there any plans on adding an argument to `cdk deploy` to fix this?

[2021-09-30 05:06] moltar opened #16724 "(ApiGatewayV2): detecting drift after a fresh deploy"
## :question: General Issue

After a deployment, a drift is detected in the `AWS::ApiGatewayV2::DomainName` resource type.

![screenshot-20210930T120215-uhXBwSPF](https://user-images.githubusercontent.com/491247/135390587-7a984976-44a9-41fb-b1b6-e701ec620fc3.png)

Not sure if this is CDK related, or CF related though.

### The Question

- Is this normal?
- Is this safe?

### Environment

  - **CDK

[2021-09-30 05:12] TRANTANKHOA commented on #16703
The comment in that PR lead into this [rabbit hole](https://github.com/aws/aws-cdk/issues/8483) I.e. I would have to implement the entire extension instead. Why this has to be so complicated

[2021-09-30 05:22] moltar commented on #16244
This is a real blocker!

The whole idea of infra-as-code is that it can be scaled and generated.

But this becomes an impediment and an antithesis to infra-as-code.

We were testing on a small set of stages to make sure it all worked. When we added other stages, everything crumbled and the pipeline is now broken.

[2021-09-30 05:39] davidmckenzie commented on #16547
This is what it looks like in the old ElasticSearch template, I've cut out most of the ES domain output for brevity, let me know if you need it and I'll sanitise and gist it :)

[code]

When migrating to Opensearch, the RecordSet entry looks exactly the same. The domain looks like:

[code]

[2021-09-30 05:47] setu4993 commented on #16234
Hey @SamStephens! Thanks for that input. I don't think you're being negative or rude. I can share a few things that might help clarify the confusion and why I continue to believe https://github.com/aws/aws-cdk/pull/15324 would satisfy both the issues.

**On Code Artifact**

Code Artifact can be authenticated in multiple different ways. It can be done with a `pip.conf` (as illustrated in https://gi

[2021-09-30 06:29] dineshtrivedi commented on #7746
I am having a similar problem with ecs_pattern and QueueProcessingFargateService:
[code]

[2021-09-30 07:33] mmuller88 commented on #16244
@moltar how about destroying and redeploying your pipeline with alle needed stages included? A pipeline should be loosly coupled to the "golden" cdk stacks

[2021-09-30 07:49] SamStephens commented on #16234
Thanks, clearly my preconceptions were incorrect, thanks for your generosity explaining. Your feature sounds powerful given that, thanks.

I guess my one minor quibble is that if I understand you correctly, to use your feature to (for example) customise to include my SSH keys, I'm going to have to duplicate the contents of [Dockerfile.dependencies](https://github.com/aws/aws-cdk/blob/e2e008bd19c3f

[2021-09-30 07:57] mickael-caro-sonarsource commented on #16563
Hi @rix0rrr yes this is the case.

[2021-09-30 08:50] nikovirtala commented on #12472
Now that Lambda released support for `arm64` / Graviton2, maybe this feature request now finally gets some love from the maintainers?

[2021-09-30 09:06] rob3c commented on #14910
Lack of support for BuildKit options like `--secret` and `--ssh` is a problem everywhere in the codebase where a `docker build` command is created:

- _packages/@aws-cdk/core/lib/bundling.ts_
- _packages/cdk-assets/lib/private/docker.ts_
- maybe elsewhere

None of the modern docker args like those for BuildKit are explicitly supported via options params, and there's no mechanism for decorating any

[2021-09-30 09:28] mina-asham commented on #10208
This seems overly trivial to support, I have a PR here: https://github.com/aws/aws-cdk/pull/16728, let me know if I missed something

[2021-09-30 09:37] moltar commented on #16244
That's not always possible, as we add new stages.

Also, I am not sure how it'd help?

The problem is the pipeline generates a policy that is unnecessarily large. It lists permissions for every single asset, which there can be many of.

[code]

and on and on and on

These assets aren't stage-specific. If we have 1 or 3 stages, the assets do not change.

80% of the policy could be replaced with:

[

[2021-09-30 10:19] domfie commented on #8581
Not really since you first need to deploy the sns with another stack or create it by hand. A check if this sns exists and a corresponding error message should not be the problem

[2021-09-30 11:01] SimonJang commented on #9917
Any update on this?

[2021-09-30 11:30] awsanitha opened #16730 "AWS Lambda Destinations: EventBridgeDestination created when creating Lambda destination using CDK for .NET(module name): short issue description"
description of the bug: EventBridgeDestination is created when creating Lambda destination using CDK for .NET

### Reproduction Steps

[code]
Please see the `OnSuccess` property of `placeOrderLambda` function

### What did you expect to happen?

LambdaDestination to be created

### What actually happened?

I previously reported in issue #15691. I was asked to set ResponseOnly to false. I tried to

[2021-09-30 12:29] moltar commented on #16244
Hey, I don't have a repo, but a simple repro maybe is to loop over lambda function construct and create 50 lambdas with some dummy asset (but new asset for each).

This will produce insanely long policy which sets a new role for each asset, and then grants `sts:AssumeRole` in the main pipeline policy for each one of those roles.

[2021-09-30 12:36] moltar commented on #16244
Here's the full (_sanitized_) policy:

[code]

[2021-09-30 12:57] amartynyuk commented on #12456
Is there any update on this?

[2021-09-30 13:04] pzttpsc commented on #5480
@agarwri no it's not. You need to provide different role mapping to achieve that:
Python code:
[code]

[2021-09-30 13:05] serverlesspolska commented on #5480
@agarwri no it's not. You need to provide different role mapping to achieve that:
Python code:
[code]

[2021-09-30 14:24] tai-acall opened #16733 "(ecs): specify the Firelens container image version"
I hope to specific which version of the fluent-bit image I use but I couldn't find any options to do this.

### Use Case

A DNS Resolver bug inside the Fluent Bit v1.8.3 breaks function for transferring logs from ECS(Fargate) to the Datadog.

the only way to resolve this is specific which fluent-bit image version I use to, but I can not find any options to do this in CDK.

more detail about this i

[2021-09-30 14:45] tai-acall commented on #16733
I notice that the fluent-bit image set as `latest`, setting as `stable` might be better.

https://github.com/aws/aws-for-fluent-bit/issues/233#issuecomment-931364866

[2021-09-30 14:49] kaizen3031593 commented on #16660
Hi @naseemkullah. I am closing this issue as a duplicate of #14159. You can add your +1 to that issue to show your support, but it has been marked as `p2`, which means that we are unable to work on it immediately.

Your workaround ([link](https://github.com/aws/aws-cdk/issues/3665#issuecomment-752763570) to specific comment) is to use `CfnTable`, which is a good one. Generally, you can also use [e

[2021-09-30 14:49] #16660 closed

[2021-09-30 14:57] naseemkullah commented on #16660
Ok, thanks @kaizen3031593

[2021-09-30 15:02] kylevillegas93 commented on #13269
Hi!

The above solutions are not working for me - I need to add a caching configuration to the resolver and the only way to do that seems to be using CfnResolver.  Changing the schema type names would be somewhat of a heavy lift.  Do we have a path forward for this?

Thanks,
Kyle

[2021-09-30 15:05] joepagan commented on #11526
On a similarly idiotic note, when following the pattern for the ARN which I typed into my TD json: [`arn:aws:secretsmanager:region:aws_account_id:secret:secret_name-AbCdEf`](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/specifying-sensitive-data-secrets.html#secrets-examples) from the docs, note that AWS generates the last 6 characters of the ARN.

I thought the example `secret_name-

[2021-09-30 16:03] urko-b commented on #16686
Yeah I have my stack and I'm creating using a pipeline with `cdk deploy`

[code]

[2021-09-30 16:04] urko-b commented on #16686
Is strange because I do the same for aws event bus and It does not try create it again when It already exists

[2021-09-30 16:14] ryparker commented on #16658
Our docs are generated from code comments. For example here's the code comment you see on that BucketDeployment page you linked: https://github.com/aws/aws-cdk/blob/7f7be089fa84afd0ab009a7feca2df4315749bc3/packages/%40aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts#L224-L227

[2021-09-30 16:27] GaalDornick opened #16739 "(aws-sam): DestinationConfig contains onSuccess property even though it's not part of SAM spec"
The SAM spec specifies a property called OnSuccess here (https://github.com/aws/aws-cdk/blob/5d0954a2028a001c3c2ed2c7f851c51ca3e82259/packages/%40aws-cdk/cfnspec/spec-source/000_sam.spec.json#L495). However, SAM documentation doesn't specify an OnSuccess property (https://github.com/aws/serverless-application-model/blob/master/versions/2016-10-31.md#destination-config-object)

### Reproduction Ste

[2021-09-30 16:28] GaalDornick commented on #16739
I can submit a fix by updating sam_spec, but I'm not sure if that's the right thing to do

[2021-09-30 17:16] FredrikMeyer opened #16741 "(aws-lambda): Docker image lambdas are redeployed on every deploy"
## :question: General Issue
We run `cdk deploy` from a CodeBuild instance, and on every deploy, the function code is changed (and the Docker image built). The building takes quite a lot of time, and it would be very useful to for example specify a source hash) as with other types of assets.

This only happens on the CI system, not locally, which I guess is because the Docker layers are cached.  Th

[2021-09-30 19:15] peterwoodworth commented on #16733
Thanks for reporting this issue @tai-acall

The root of the issue has already been reported and there's a PR open to fix the issue. [This PR changes the default from `latest` to `stable`](https://github.com/aws/aws-cdk/pull/16439)

I'll make sure our SDEs take a look at the PR. I'm going to close this issue in favor of https://github.com/aws/aws-cdk/issues/16403, so please go there for any further

[2021-09-30 19:15] #16733 closed

[2021-09-30 19:20] ryparker commented on #16673
Hey @timothy-mcphie 👋🏻

After creating a stack with the code you provided I was able to see that the `delivery.logs.amazonaws.com` permission was not granted, however I noticed that logs were successfully being sent from my ALB to the S3 log bucket.

This seems to be working as expected. The `delivery.logs.amazonaws.com` principal is only required for Network Load Balancers. See our docs on [Enabl

[2021-09-30 19:50] #16658 closed

[2021-09-30 19:50] adriantaut opened #16742 "(core): adding Tags with `excludeResourceTypes` is not working"
Hello everyone,

This bug was discovered after trying to find a resolution for https://github.com/aws/aws-cdk/issues/16644 . Long story short, I have a bunch of Tags that are applied at a Cdk App level. Several days ago I discovered that changing/adding/removing one of these tags will prevent any further updates in the EKS Clusters construct described in the above link.

A potential fix would be t

[2021-09-30 19:51] ryparker commented on #16673
If you are in fact experiencing an error, please provide it here. Otherwise this issue will automatically close soon.

[2021-09-30 20:00] peterwoodworth commented on #16724
You've likely made a modification to the resource directly on the console. Drift is simply a resource not having the configuration defined by the cloudformation stack. So, this isn't a CDK related issue.

I suggest reading through the [CloudFormation docs on drift](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html) to learn more about it, and what you can do

[2021-09-30 20:00] #16724 closed

[2021-09-30 20:07] peterwoodworth commented on #16686
My guess on what's happening here is that you changed the [`logical id`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resources-section-structure.html) of the bucket. Changing the logical ID of a resource in your code will cause CloudFormation to [replace](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html#update-replace

[2021-09-30 20:55] kellertk commented on #16603
Upgrading to p0 based on the potential to lose data without warning.

[2021-09-30 22:50] ryparker commented on #16259
Hey @jpSimkins 👋🏻

Thanks for bringing this to our attention. Also big thank you for the repro code. I worked on this a while back and have noticed it as well. Possibly related to https://github.com/aws/aws-cdk/pull/15207.

Because this is not critical functionality i'm going to label this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work,

[2021-09-30 22:57] ryparker commented on #16679
Hey @pahud 👋🏻

Thanks for opening the issue and PR!

I'm going to label this as p1 which means it has been prioritized as important, although please keep in mind that we do have a large number of PRs to review. We'll do our best to get your PR reviewed soon.

[2021-09-30 23:13] ryparker commented on #16127
Hey @rudpot 👋🏻

Julian is correct that this is expected behavior. If there is not a default profile set, then `CDK_DEFAULT_REGION` will not be injected with a value.

See [CDK's environment documentation](https://docs.aws.amazon.com/cdk/latest/guide/environments.html) for details.

[2021-09-30 23:19] MrArnoldPalmer commented on #14212
@stroem finally getting back to working on Go and investigating this, though I wasn't able to reproduce. Can you try updating your cdk, nodejs, and go versions? Here is my example stack I was able to deploy.

<details>
  <summary>Click to expand!</summary>

[code]
</details>

Please reopen this if you're still experiencing the issue!

[2021-09-30 23:19] #14212 closed

[2021-09-30 23:35] moltar commented on #16724
I didn't make any modifications in the console.

[2021-09-30 23:52] ryparker commented on #16562
Hey @adrian-baker 👋🏻

A similar issue here: https://github.com/aws/aws-cdk/issues/4719

However I do understand your use case. I think it warrants a discussion on how opinionated we should be with L3s.

For now though, you could workaround this using an [escape hatch](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html).

e.g.
[code]

[2021-09-30 23:55] ryparker commented on #16562
Because this is documented functionality and it is working as expected, i'm going to change this to a feature-request.

[2021-10-01 00:52] ryparker commented on #16272
@kontinuity were you able to resolve this?

[2021-10-01 01:39] kontinuity commented on #16272
@ryparker Generated temp credentials as part of install in buildspec.yml

[code]

[2021-10-01 02:40] HashNuke opened #16744 "(aws-elasticloadbalancingv2-targets): Adding a Lambda target to ALB in another stack results in a cyclic reference error"
Using a Lambda target to an ALB in another stack results in a cyclic reference error when running `cdk diff`.

### Reproduction Steps

Scenario below:
* AppCommonStack - contains resources (like ALB) that are shared between different stacks.
* The HelloAppStack - creates resources that are specific to a single app's stack.

[code]

### What did you expect to happen?

* ALB created for AppCommonSta

[2021-10-01 03:29] pahud commented on #12472
I am interested to explore this.  I think we need pass the `--platform` flag all the way down to here.

https://github.com/aws/aws-cdk/blob/c2852c9c524a639a312bf296f7f23b0e3b112f6b/packages/cdk-assets/lib/private/handlers/container-images.ts#L122-L129

[2021-10-01 07:00] kornicameister opened #16745 "(codepipeline): Invalid request when setting notification with Chatbot as target"
Cannot create CodeStarNotification from CodePipeline when using Chatbot as target.

### Reproduction Steps

Cannot exactly provide full working code but that snippet should be enough to describe approach I've taken:

[code]

### What did you expect to happen?

Correctly configured notification.

### What actually happened?

[code]

### Environment

  - **CDK CLI Version  : 1.121.0**
  - **Framewor

[2021-10-01 07:04] urko-b commented on #16686
Hi @peterwoodworth But I mean. Why with event-bus creation is not happening the same? I think the NewBucket method should check if the bucket already exists and then do not create it. Otherwise S3 bucket creation using the cdk-stack code is not reusable. I only can run once the NewBucket creation... Is not friendly for developers.

[2021-10-01 07:31] urko-b commented on #16686
I have the same code for event-bus creation and I do not have any problem with this. I think aws-cdk should

[code]

[2021-10-01 07:48] peterwoodworth commented on #16686
There seems to be some confusion here

The CDK synthesizes your code into a CloudFormation template. This CloudFormation template is then used to create a stack through CloudFormation. Please read [this page](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html) for more information on how updating CloudFormation stacks works.

I want to br

[2021-10-01 07:59] urko-b commented on #16686
@peterwoodworth ok so which property should I enable to keep the code as It is? Thanks in advance

[2021-10-01 08:37] zessx commented on #12472
This is the way I also choose, but it annoys me as I'm using the same multi-stage Dockerfile for local environment (some developers are using the M1 chip, some other are using an x86 platform). This means every developer with a M1 chip locally needs to remember to manually edit its Dockerfile before a build.

Specify the platform in CDK would be the perfect solution, something like these:

[code]

[2021-10-01 10:25] txsutton commented on #13601
Hello, just wondered whether this has been resolved.  I have a similar/same issue with awscustomresource where:
Lambda 1 - Needs to AssumeRole to createVPCAssociationAuthorization on a different account
Lambda 2 - Depends on Lambda 1 and needs to run associateVPCWithHostedZone with the additional action ec2:DescribeVpcs.

Lambda2 ignores the role= command and the  AwsCustomResourcePolicy command i

[2021-10-01 10:44] otaviomacedo commented on #16598
Hi, @sensedata1. Thanks for raising this. From your description, it does look like an ordering issue.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/c

[2021-10-01 11:28] yoshinorihisakawa commented on #7746
I cant solve this problem....

[2021-10-01 11:46] adriantaut commented on #16742
Further investigation showed that adding Tags at `Construct` level with `excludeResourceTypes` works.

[code]

The `EksCluster` class creates an EKS Cluster with an EKS managed NodeGroup, Security Groups, IAM Roles, SSM Params, etc. While deploying this, indeed, the `AWS::IAM::Role` & `AWS::EKS::Nodegroup` types are not tagged with `key1:value`.

This leads to the conclusion that Tags applied at C

[2021-10-01 12:17] jogold commented on #16741
@FredrikMeyer the hash is based on the content of the Docker context (usually the directory containing your Dockerfile).

What's in `str(Path(".").absolute().parent.parent / "python_packages")`?

[2021-10-01 13:05] jogold commented on #14555
@alfianabdi I cannot reproduce this.

I'm doing the following both on Ubuntu and Amazon Linux (in Docker containers):

[code]

In both cases I'm getting `asset.63c890dcd34187d75a5a75d0b691f96674cafe096cc9fe10f39168ff790a703d`.

[2021-10-01 13:32] feliperugai opened #16754 "(aws-dynamodb): Cannot replicate DynamoDB table with BootstraplessSynthetizer"
## :question: General Issue

### The Question
I'm developing a CDK script which needs to use BootstraplessSynthesizer:

[code]

I'm creating an API Gateway, some Lambdas and one DynamoDB table.
The thing is that I have set it as Global Tables, so I can add replicas to other AWS regions.
According to the [docs][1] I should add `replicationRegions` to my table creation object, so I did as follows:

[2021-10-01 13:50] FredrikMeyer commented on #16741
@jogold  Thanks for the answer!

I did some digging in the code, and it turns out that the error might have been on my side: The whole code is this:

[code]

And the function `get_global_version()` gives a new value on every deploy. I will set this to a constant, and hope that the issue resolves.

[2021-10-01 13:56] FredrikMeyer commented on #16741
@jogold  To answer the question: the lambda depends on code in the parent directory, which is quite big (I have some ignore-options, but I'm not sure if the Docker ignore options is included in the calculated hash?)

[2021-10-01 14:10] jogold commented on #16741
Yes, your build args are included in the hash so you should stabilize this value.

Files that are excluded do not impact the hash.

[2021-10-01 14:51] tyildirim24 commented on #8065
Same with Lambda function binaries for Golang.

[2021-10-01 15:13] otaviomacedo commented on #16625
Hi, @keepler-ivanmarques. Thanks for catching this.

The fully qualified name of the class in Python is `aws_cdk.custom_resources.Provider`, whereas the type being referenced is `aws-cdk-lib.custom_resources.Provider`, according to the error message. There is probably something wrong in the rewrite that happens when the v2 build is generated.

Marking this as a V2 GA milestone bug.

[2021-10-01 15:42] kaizen3031593 commented on #16380
^ It's really not a `good first issue`... maybe even an `effort/medium` but I will keep it as `small` because its not that important :).

[2021-10-01 15:49] ytsipun commented on #16496
+1

[2021-10-01 15:50] ytsipun commented on #11838
+1

[2021-10-01 16:30] phrastnik commented on #6056
Just stumbled across this thread and can confirm that `....lder().none(new HashMap<String, Object>())......` works.

[2021-10-01 16:36] jpSimkins commented on #14738
For me, the issue was that I had my `dependencies` using version: `1.124.0` but my `devDependencies` were using `1.117.0`. Changing that fixed it for me.

[2021-10-01 17:31] jonmadison commented on #6646
Luckily, you all had already had the problem so i didn't have to spend as much time on the issue, but i learned something today. :)

[2021-10-01 17:53] jfrconley opened #16757 "(aws-rds): Cannot add both export and import bucket policies to rds cluster"
I am trying to add both import and export bucket policies to my RDS cluster. Everything compiles and builds correctly, but when I deploy I get the following error message:

[code]
It seems like it's trying to add both roles at once and the second one is failing.

### Reproduction Steps
Create any RDS instance and add both an import and export bucket policy.

[code]

### What did you expect to happ

[2021-10-01 18:13] jpSimkins commented on #16247
I am going to close this issue until I can get something that shows this. It seems to be a more complex issue than I initially thought and I need to ensure it's not something on my end first.

[2021-10-01 18:46] SZubarev opened #16758 "(autoscaling): Enhance Lambda permissions for EC2 Autoscaling Lifecycle Hooks"
I'd defining EC2 lifecycle hook with Lambda target using asg.addLifecycleHook() function.

[code]

When the Lambda executes it gets error: "not authorized to perform: autoscaling:CompleteLifecycleAction"

### Proposed Solution

Automatically grant *autoscaling:CompleteLifecycleAction* permission to Lambda function set as lifecycle hook target.

[2021-10-01 18:59] skinny85 commented on #16745
Hey @kornicameister,

thanks for opening the issue. Can you show me the resulting template that you get from synthesizing your code? You'll find it in the `cdk.out` directory of your project.

Thanks,
Adam

[2021-10-01 19:15] kornicameister commented on #16745
Here's the relevant part:

[code]

[2021-10-01 19:24] AustinGomez commented on #9537
Hi! Any updates here? :)

[2021-10-01 19:30] davidlbyrne opened #16759 "(lambda): Changes in lambda env not deployed. No changes found."
### What is the problem?

When I define a lambda with env vars, when the value of the env var changes, the function is not updated with the new value. I am sourcing the value from secrets manager.

### Reproduction Steps
I apologize for the funky formatting.

1. fetch a secret value and function like so:
[code]
2. `cdk deploy` the function.

3. Go into secret manager and change the value of your s

[2021-10-01 20:12] peterwoodworth commented on #16686
So in your code you have

[code]

You're specifying the `BucketName` property here. This sets the physical name of the bucket to whatever you want it to be. If you don't fill this property in, a physical name will automatically be generated. [Here is a link to our documentation on physical names](https://docs.aws.amazon.com/cdk/latest/guide/resources.html#resources_physical_names). We generally ad

[2021-10-01 21:06] peterwoodworth commented on #16741
Thank you very much @jogold for helping out here

@FredrikMeyer feel free to close the issue out if you don't have any more questions

[2021-10-01 21:59] peterwoodworth commented on #16754
There isn't a way to use the `replicationRegions` prop while also using the bootstrapless synthesizer, due to the line of code you pointed out! Looks like you'll need a workaround here.

I don't know of a workaround off the top of my head, but I can look into this.

[2021-10-01 22:36] bernard-kowalski commented on #5455
When the problem with SSO named profiles will be resolved? Is it really CDK production ready? I cannot believe that it does not support SSO yet...

[2021-10-01 23:10] nuvanti opened #16762 "(lambda): support provided Graviton runtime"
### Description

See recent release: https://aws.amazon.com/blogs/aws/aws-lambda-functions-powered-by-aws-graviton2-processor-run-your-functions-on-arm-and-get-up-to-34-better-price-performance/

I don't see any support for it in CDK? Can you please add it? Supposedly Pulumi has already added it, really would expect CDK to support it as well.

### Use Case

Lambda on Graviton

### Proposed Solutio

[2021-10-01 23:38] skinny85 commented on #16745
Hmm yeah, that all looks fine. I would double-check the ARN of the Slack Configuration Channel follows that format. If it does, I would make sure the Channel is configured correctly (something like [this problem](https://stackoverflow.com/questions/68147792/aws-chatbot-not-publishing-to-slack)).

[2021-10-01 23:38] skinny85 commented on #16745
Other than that, I'm really at a loss here 😕.

[2021-10-01 23:39] a9udn9u opened #16764 "(custom-resource/provider-framework): Custom timeout handler in provider framework"
### Description

The [`onTimeout`](https://github.com/aws/aws-cdk/blob/0cfab15512fd4d10dc0fd25d73a9f896a3b9b602/packages/%40aws-cdk/custom-resources/lib/provider-framework/runtime/framework.ts#L13) handler should be customizable, like `onEvent` and `isComplete`.

### Use Case

This feature would allow users to cleanup side effects created by a deployment before timeout. For example, if the creatio

[2021-10-01 23:41] skinny85 commented on #16759
Hey @davidlbyrne, this is probably this issue: https://github.com/aws/aws-cdk/issues/16444.

Thanks,
Adam

[2021-10-01 23:43] davekats opened #16765 "(aws-msk): Change multiple attributes of a cluster in the same request"
### Description

I ran into this error while modifying a MSK Cluster: `You can't update multiple attributes of the cluster in same request. Use a different request for each update.`

It seems strange that this limitation is here for MSK but I have never ran into this for any other service.

### Use Case

Once we deploy an MSK Cluster we would like the ability to make more than one change at a time

[2021-10-01 23:55] #16700 closed

[2021-10-02 00:01] peterwoodworth commented on #16547
Weird, your template looks perfectly fine here, so this leads me to believe the problem lies on CloudFormation's end. Are you able to ask them for support?

[2021-10-02 00:13] skinny85 commented on #16762
It is supported already: https://github.com/aws/aws-cdk/releases/tag/v1.125.0.

[2021-10-02 00:13] #16762 closed

[2021-10-02 00:16] BenChaimberg commented on #9537
The furthest-along PR that would close this issue is #14633 but I am of the opinion that a design overhaul is needed. @kaizen3031593 can take another look to see if he agrees or if the PR can be progressed in its current state

[2021-10-02 00:42] peterwoodworth commented on #16754
So, `DynamoDB::Table`s are limited and don't support replication on their own. CloudFormation released a construct called the `GlobalTable` which allows you to replicate tables natively in CloudFormation without needing to create a custom resource. I recommend migrating to the `GlobalTable` if possible, especially if you're actively deciding to use replicas. View [this article](https://acloudguru.

[2021-10-02 00:44] peterwoodworth commented on #16630
Hey I'm sorry, I was unable to figure this out. Let me continue to investigate next week

[2021-10-02 00:48] peterwoodworth commented on #16556
@orionhall what was the error message you think should be changed?

[2021-10-02 00:50] peterwoodworth commented on #16703
@eladb can you provide your input here? Thanks

[2021-10-02 01:14] SoccerBoyMalloy commented on #6683
Different but related, I received the same error when trying to change [NatGateways](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Vpc.html#natgateways) from 1 to 0.

[2021-10-02 01:56] feliperugai commented on #16754
Thanks for the clarification!
Should I use GlobalTables (as it seems to be [deprecated](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb-global.GlobalTable.html))?

[2021-10-02 07:38] peterwoodworth commented on #16754
We don't have an L2 construct which uses the CloudFormation `GlobalTable` yet. To make use of the CloudFormation `GlobalTable` use the [L1 CfnGlobalTable construct](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.CfnGlobalTable.html

[2021-10-02 08:29] jogold commented on #15713
Where does the `cdk synth` run?

Usually you install all your dependencies then run `cdk synth` and your private dependency should be available for bundling?

[2021-10-02 08:32] jogold commented on #14857
@eladb This issue can be closed.

[2021-10-02 09:19] carlomorelli commented on #6683
It's unfortunate that devs don't give priority to fix this Vpc construct; without these problems fixed, relying on it is very dangerous.

[2021-10-02 12:10] deepak-sreekumar commented on #15710
@nija-at Can I take a stab at this?
Proposed solution:
 As you suggested, using [object-hash](https://www.npmjs.com/package/object-hash) and  changing the identifier to something like
```const identifier = `Invoke${MD5(grantee.grantPrincipal)}`; ``` .

[2021-10-02 18:16] mgabs opened #16767 "(aws-glue): failed to create L2 Job"
### What is the problem?

tried a switch to the L2 - got this
"service":"AWSGlue","statusCode":400,"errorCode":"EntityNotFoundException","requestId":"8b148762-2a85-4b0a-bfb7-499ab470356e","errorMessage":"Job with name: batchFiltersJob not found.","type":"AwsServiceError"}

### Reproduction Steps

Constructor
[code]

### What did you expect to happen?

Successful creation of a Glue job

### What ac

[2021-10-02 19:28] sekhavati commented on #11122
Experiencing the same issue when using `QueueEncryption.KMS_MANAGED`

[2021-10-03 06:06] #16664 closed

[2021-10-03 06:07] glenvillabey opened #16768 "(description@aws-cdk/aws-apigatewayv2): HttpApi does not seem to exist in CDK v2 (2.0.0-rc.23)"
### What is the problem?

HttpApi does not seem to exist in CDK v2 (2.0.0-rc.23)

### Reproduction Steps

1. Install latest CDK v2 via npm i aws-cdk@next

2. Try and add a HttpApi construct to your stack or construct
[shared-services-stack.zip](https://github.com/aws/aws-cdk/files/7272783/shared-services-stack.zip)

### What did you expect to happen?

Create a stack or construct that used Http Api

[2021-10-03 06:48] royby-cyberark commented on #13601
@txsutton I wasn't able to make progress with it. it worked for me so far by allowing '*' which was fine for this use case, so I didn't get to invest in this further.

[2021-10-03 07:55] #14857 closed

[2021-10-03 09:27] byongwu commented on #16358
Just writing something to keep up the issue.

[2021-10-03 12:44] jackiecheng2008 opened #16769 "(cdk deploy): cdk deploy can NOT identify a resource manually deleted and can NOT generate it again."
### What is the problem?

CDK is out of sync in case of manually deletion after it provisions the resources
Therefore, how CDK remain safe against such failures? CDK is unaware about its own resources changes after deployment.

### Reproduction Steps

Below steps can be repeated:
CDK deploy -> provisions a Lambda function;
CloudFormation -> Lambda was created successfully;
AWS console -> manually

[2021-10-03 16:24] jackiecheng2008 commented on #16769
The only way to get the deleted Lambda/SQS resources back is:
cdk destroy and then cdk deploy again.
Which means: cdk diff is not checking the actual resources at all.

[2021-10-03 18:35] kornicameister commented on #16745
Would it possible to find request token in cloud trail?

[2021-10-04 05:53] setu4993 commented on #16234
I absolutely agree. My ideal case would be to have that be easier to customize and reuse instead of copied over and then customized.

One of the reasons I think the current setup of `Dockerfile.dependencies` and `Dockerfile` is better than the one for `aws_lambda.Function` is because it splits the step into 2 parts: One for getting dependencies, another for getting function code. Splitting over to

[2021-10-04 05:58] setu4993 commented on #16234
FWIW, @SamStephens and @DarrenForsythe, Docker recently started supporting passing in [SSH keys using build secrets](https://docs.docker.com/develop/develop-images/build_enhancements/#using-ssh-to-access-private-data-in-builds), that might be a more secure way than copying them in / using volumes.

[2021-10-04 06:44] FredrikMeyer commented on #16741
@jogold @peterwoodworth

Thank you for the help! Appears the reason was the changing configuration. I'm not sure if the docs mention that the hash is computed with the configuration as well, though.

But thanks!

[2021-10-04 06:44] #16741 closed

[2021-10-04 07:12] mrmilosz opened #16772 "(Arn): Arn.format with ArnFormat.NO_RESOURCE_NAME should ignore resourceName"
### What is the problem?

When parsing, `ArnFormat.NO_RESOURCE_NAME` will put everything after the last colon into the `resource` part, which makes the sentence

in the documentation accurate.

Conversely, when formatting, it should cause `resourceName` to be ignored if specified.

### Reproduction Steps

Inside a method of a class that implements `cdk.Construct`:

[code]

### What did you expect

[2021-10-04 07:35] ThomasKiec commented on #4323
@kornicameister Subscribing all object created events is possible. When adding the event notification via `addEventNotification` you can simply use the `EventType.OBJECT_CREATED` (=s3:ObjectCreated:*).

See [@aws-cdk/aws-s3: EventType interface](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-s3/lib/bucket.ts#L1978-L1986)

A wildcard pattern is probably not useful, since current

[2021-10-04 07:45] RomainMuller commented on #7121
The fix has been rolled back due to causing issues in some other place.

[2021-10-04 08:47] txsutton commented on #13601
I ran out of time and just replaced the second awscustomresource with a normal custom resource and Lambda which is a bit messy (in theory I could have just used 1 Lambda for both API calls but I wanted to keep the first one as a reminder on the syntax for next time)

The code I tried was this (first "custom resource")
[code]

Second Custom Resource
[code]

[2021-10-04 08:53] pfried commented on #14823
@jogold

I stumbled across this issue switching over from custom docker bundling to `NodejsFunction` bundling. As of this I do have folders with a typescript handler, a `package.json` and a `package-lock.json`

As I do run a CI/CD pipeline with `aws-cdk pipeline` I came across the issues described here. It is also unclear from the documentation as the statements about the `package-lock.json` and t

[2021-10-04 09:42] mattiamatrix opened #16775 "(aws-sagemaker): Support for Amazon Linux 2 (notebook-al2-v1)"
### Description

Sagemaker [now](https://aws.amazon.com/blogs/machine-learning/amazon-sagemaker-notebook-instance-now-supports-amazon-linux-2/) supports Amazon Linux 2 but this is not yet available in CloudFormation/CDK.

### Use Case

Create Sagemaker Notebook instances with **Platform identifier**  `notebook-al2-v1`

### Proposed Solution

Add `platformIdentifier` parameter in CfnNotebookInstanc

[2021-10-04 09:51] mebrahimi13 opened #16776 "(aws_codepipeline_actions): Wrong type for user_parameters in LambdaInvokeAction"
### What is the problem?

In LambdaInvokeAction, `user_parameters` configuration is forced to be of type `typing.Mapping[builtins.str, typing.Any]`, which is then synthesised to the expected CloudFormation `string`.

The enforced type is more restrictive than that allowed by CloudFormation. This is problematic, since many Lambda function handlers (such as [cfn_nag](https://github.com/stelligent/cf

[2021-10-04 10:17] #16605 closed

[2021-10-04 10:59] TakaakiFuruse opened #16779 "SageMakerCreateTrainingJob: lacks EnableNetworkIsolation option"
### What is the problem?

cdk SageMakerCreateTrainingJob class has no EnableNetworkIsolation option.

Without the attribute, no user can use AWS Marketplace model through CDK.

As [doc](https://docs.aws.amazon.com/sagemaker/latest/dg/mkt-algo-model-internet-free.html) says,

and

I tried to call an AWS Marketplace model without filling the attribute and got a following error.

(Service: AmazonSage

[2021-10-04 11:06] #16563 closed

[2021-10-04 11:20] rix0rrr commented on #16488
Use [`CodePipelineFileSet`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_pipelines.CodePipelineFileSet.html) to turn the CodePipeline `sourceOutput` into a `FileSet` you can pass into the `synth` step:

[code]

[2021-10-04 11:22] rix0rrr commented on #16417
This could easily be copy/pasted from other rule targets that do support DLQs.

[2021-10-04 11:27] Arthus15 commented on #4241
Any update on this topic?

[2021-10-04 11:37] rix0rrr commented on #16188
`region=` is a way to override the default region, but it does not control whether the region is actually rendered.

Whether or not the region is rendered is controlled here, in the `region-info` package: https://github.com/aws/aws-cdk/blob/67b4921ef19a357314697fb3737849a5ff426090/packages/%40aws-cdk/region-info/lib/default.ts#L23

Until this is fixed, you can override the fact database: https://g

[2021-10-04 11:42] rix0rrr commented on #16096
We would prefer you don't make SDK calls from within the CDK app, so we don't do anything to make it easy for you to do that, on purpose.

I think you are looking to implement your own context providers. There is an open discussion/feature request for that here: https://github.com/aws/aws-cdk-rfcs/issues/18

Upvote that to indicate interest, this will affect our planning. Closing this issue.

[2021-10-04 11:42] #16096 closed

[2021-10-04 11:47] rix0rrr commented on #16032
Right. The way to achieve this is to go spelunking in the Cloud Assembly.

When you add your stage to the pipeline, you can call `stage.synth()` to get the stage's cloud assembly. You can use the methods on that object to inspect it.

There will be artifacts in there, some of which are `AssetManifestArtifact`s. You can read those, and figure out the container image assets that are in the applicati

[2021-10-04 11:51] dan-lind commented on #16768
This is not a bug. If you check the v1 API docs, you will see that the higher level constructs for the `aws-apigatewayv2`  are designated as Experimental. (https://docs.aws.amazon.com/cdk/api/latest/docs/aws-apigatewayv2-readme.html)

Per https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-v2.html, under the section "Changes in AWS CDK v2" you can read the following

---
**Experimental L2/L

[2021-10-04 11:55] rix0rrr commented on #9545
Yes, pretty sure this happens because the 2nd synth will overwrite the templates in `cdk.out`.

You've found the correct way to address this.

[2021-10-04 11:55] #9545 closed

[2021-10-04 12:19] matthias-pichler-warrify opened #16780 "(aws-stepfunctions-tasks): support AWS SDK service integrations"
### Description

StepFunctions now integrates with over 200 AWS Services via [AWS SDK service integrations](https://docs.aws.amazon.com/step-functions/latest/dg/supported-services-awssdk.html). It would be great to have a higher level construct than the `CustomState` to use these

### Use Case

Build step functions using the new service integrations and thereby removing a lot of lambdas

### Propo

[2021-10-04 13:35] #16256 closed

[2021-10-04 13:41] jogold commented on #16780
#16746

[2021-10-04 14:40] demauk commented on #13616
I agree that `PutObject*` is too permissive. On the other hand, I would expect `grantPut()` to allow tagging.

The same issue exists with `grantWrite()` and `grantReadWrite()`.

Surely `'PutObject', 'PutObjectTagging'` would be ok? May follow up with a PR when time permits.

[2021-10-04 14:42] acdoussan commented on #16654
Gotcha, took a look, not the ideal solution I think because you still have to dig through the file to make changes, but otherwise does look pretty nice. Only slightly confusing thing is that example states to use the unprocessed template, I assume this example just didn't run into whatever is going wrong here.

One final question, we use SAM toolkit deploys to allow each developer to have their ow

[2021-10-04 15:09] samkio commented on #16208
@MrArnoldPalmer just wanted to check in on this. Are you happy with the above? And if so is the next step to create a PR for this? Thanks

[2021-10-04 15:11] #16768 closed

[2021-10-04 15:17] deepak-sreekumar commented on #15710
Raised a [PR](https://github.com/aws/aws-cdk/pull/16782). Please take a look @nija-at @njlynch . Thanks.

[2021-10-04 15:21] nija-at commented on #16769
We use CloudFormation under the hood, and this is how CloudFormation works. It does not keep track of resources that were adjusted out of band.

Here are the details - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html

[2021-10-04 15:21] #16769 closed

[2021-10-04 15:24] jogold commented on #14823
If you have separate `package.json` and `package-lock.json` files then you have to run `npm install` inside those folders. Modules that should be bundled by `esbuild` must be available (= installed, = in `node_modules`). Note that you don't need sperate dependency files, see [reference architecture](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-lambda-nodejs#reference-project-

[2021-10-04 15:26] #16603 closed

[2021-10-04 15:51] samlaf commented on #9276
@BrianFarnhill From what I understand, you are using:
- [aws-cdk v2](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines-readme.html)
- but the old [CdkPipeline](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines.CdkPipeline.html) api instead of the newer [CodePipeline](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines.CodePipeline.html) api (see https:

[2021-10-04 15:53] MrArnoldPalmer commented on #16208
yeah I believe so. Does the delete workflow work correctly as well? I guess cleaning up the assets and deleting the amplify resource would be all we need.

@skinny85 check this out and let us know if you're cool with a PR on this? aws-amplify being experimental we sould have some time to tweak the API if needed.

[2021-10-04 15:54] strowk opened #16784 "Codebuild: partialBuildSpec is not usable"
### What is the problem?

I have added following to CodeBuildStep :

[code]

and I receive this error: `Can only merge buildspecs created using BuildSpec.fromObject()`

### Reproduction Steps

Something like this should cause it:

[code]

### What did you expect to happen?

Wanted to modify runtimeVersion on already deployed code build project.

### What actually happened?

Receive this error: `Ca

[2021-10-04 15:56] awsiv commented on #8196
Ended up here while trying to create cloudwatch alarms using <construct>.metric(...)

Not supported OFC.. would the new L2 construct support getting Metric info?

[2021-10-04 16:26] davidlbyrne commented on #16759
Possibly, is it enough to say that any change in the lambda env vars "values" should cause a stack update?

[2021-10-04 16:38] RomainMuller opened #16786 "Region Info: Cound not insert new fact from a Java process"
### What is the problem?

Attempting to register new `Fact` instances into the region info database is very inconvenient in Java, as a full-on implementation of an interface has to be rolled out (where a Struct would have been enough), and it also does not appear to work.

### Reproduction Steps

Attempted to add a new custom class as an `IFact` implementation to the region info database - it did

[2021-10-04 17:18] awsiv commented on #6908
I see that there's already a PR for Elasticache Redis L2 construct: https://github.com/aws/aws-cdk/issues/8196 🚀

[2021-10-04 17:23] aneeshrelan commented on #16677
Is this something I can take up as a small contribution? A quick hint to the docs setup would help for this

[2021-10-04 18:53] peterwoodworth commented on #16556
Please ping me if you are able to provide the requested information

[2021-10-04 18:58] peterwoodworth commented on #16328
CloudFormation has now updated their documentation to say that these members are deprecated. Bumping to p1

[2021-10-04 19:02] peterwoodworth commented on #16328
oh it's been addressed already and this issue wasn't closed. Nice!

[2021-10-04 19:02] #16328 closed

[2021-10-04 19:41] tvb commented on #13703
@bilalq Any luck you got time to commit a fix here soon?

[2021-10-04 20:14] skinny85 commented on #16208
@MrArnoldPalmer I'm more than cool, I'm ice-cold. Go ahead with a PR for this 👍.

[2021-10-04 21:02] skinny85 commented on #16654
Yes, because that example did not contain a cycle in the SAM template, so using an unprocessed template is better, because of the thing I mentioned in [this comment](https://github.com/aws/aws-cdk/issues/16654#issuecomment-930536060):

---------

The only time you should need to dig through the template file is to get the logical ID of the resources to retrieve them in your CDK code - no other dig

[2021-10-04 21:15] samlaf commented on #10464
I found a (possibly better?) way to do it using CodePipelines as opposed to the older CdkPipelines Api.
They mention [here](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/pipelines/ORIGINAL_API.md#the-synth) that the argument to `synth` can be either a `ShellStep` or a (more involved but customizable) `CodeBuildStep`.
Note that `synth` is the new `synthAction`:
![image](https://use

[2021-10-04 21:15] skinny85 commented on #16776
Hey @mebrahimi13,

thanks for opening the issue. You're right that you need to provide a dictionary here. You can get the code working by changing `""**/*.template.json"` to `{ 'file': '**/*.template.json' }`, and handling an object in your Lambda's code instead of a simple string. It will be encoded in the template as a string, so CFN-nag will not have a problem with it.

Thanks,
Adam

[2021-10-04 21:29] skinny85 commented on #13027
@touzoku I wonder whether this could be related to the `@aws-cdk/aws-s3:grantWriteWithoutAcl` feature flag, which basically switches the `s3:PutObject*` permission usually used for `Bucket.grantWrite()` to `s3:PutObject`, and which is turned on by default in V2.

Can you see if this fixes it? Create an explicit Role for your build Action:

[code]

Grant this Role explicit `s3:PutObject*` permissio

[2021-10-04 21:31] skinny85 commented on #16772
Hey @mrmilosz,

thanks for opening the issue. I wonder, what's the scenario when you ran into this?

I'm a little wary in just ignoring inputs like that, I feel like it could lead to surprising behavior... Maybe we should error out instead?

@rix0rrr what do you think?

Thanks,
Adam

[2021-10-04 21:38] skinny85 commented on #16757
Hey @jfrconley,

thanks for opening the issue. You're right, I can reproduce your error reliably with the following code:

[code]

I wonder what's the problem here... could it be that Postgres version `11.12` does not support either S3 exports or S3 imports?

I don't see what can CDK be doing wrong here, and the error message is also weird, TBH...

[2021-10-04 21:46] BrianFarnhill commented on #9276
@samlaf I'm in a bit of a transition in that repo - I dragged everything forward to v2 of the CDK but haven't done the pipeline yet. I do however absolutely plan to use the newer pipeline construct for this though as that will be a lot cleaner from a code perspective.

My use of the the native code* resources is to add things to that core pipeline though, not provision the core resources themselve

[2021-10-04 23:45] skinny85 commented on #16757
Interestingly, commenting out the `s3ExportBuckets` line, while leaving the `s3ImportBuckets`, makes the deployments succeed!

Let me try now with the reverse setup, and see if that works, or fails.

[2021-10-05 00:46] skinny85 commented on #16757
Yep, that also worked!

This is crazy. So only when they're _both_ present, does it fail!

Could this be some bug in either the RDS API, or in the RDS CloudFormation API...?

[2021-10-05 00:50] wwaterfield commented on #10432
+1 This bug prevented us from using a cleaner method to reference interface endpoints created by other services in our AWS account.

[2021-10-05 01:15] #15223 closed

[2021-10-05 02:36] samlaf commented on #9276
Thank you @BrianFarnhill !
Thanks to your code I was able to add `ReportGroups` to my pipeline using CodePipeline Api, and I'll be looking to integrate many of your other features too. I watched your repo to get updates when you migrate to the new Api.

[2021-10-05 05:41] Askannz opened #16793 "(aws-batch): Add support for multi-node job definitions"
### What is the problem?

In awscli (and boto3, etc), it's possible to register a multi-node job definition to Batch by leaving out the `containerProperties` field and instead setting `type` to `"multinode"` and filling out `nodeProperties` with a list of the nodes to run. See https://docs.aws.amazon.com/cli/latest/reference/batch/register-job-definition.html

However this cannot be done in CDK. T

[2021-10-05 06:03] setu4993 commented on #12949
I have https://github.com/aws/aws-cdk/pull/15324 open which would resolve this.

[2021-10-05 06:31] mrmilosz commented on #16772
@skinny85

I snuck that in at the end of my post; it was just a little function for converting the ARN of an IAM role into the ARN of the root IAM resource for that account, which meant converting something that has a `resourceName` into something that doesn't. This is not critical issue though, as setting `resourceName` to `undefined` is just as many lines of code as setting the ARN format. I jus

[2021-10-05 06:52] espenmeidell commented on #16745
I also experienced problems when using `codePipeline.notifyOn` (using TypeScript). Recreating the same notification rule by instantiating a new NotificationRule worked for me (no idea why).

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_codestarnotifications/NotificationRule.html?highlight=notificationrule

[2021-10-05 07:00] koltysh opened #16794 "(module name): short issue description"
### Description

"X2gd" instance are available now for cloudformation but not  CDK

### Use Case

Deploying database with "X2gd" Instance class for performance optimization

### Proposed Solution

Add   `Member` `X2gd` instance in `enum InstanceClass`  typescript .
Link to AWS CDK Api references : https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.InstanceClass.html

### Other inform

[2021-10-05 07:29] kornicameister commented on #16745
Ok...I found what was wrong and already scheduled an appointment to check my eyes.
What me and @skinny85 have missed is that Chatbot is a global service thus region in arn does not apply to it.
When I was constructing ARN manually I haven't specified `region=''` which, in such case, defaulted to region of deployment effectively leading to BadRequest. Now that ARN is declared like so:

[code]

stac

[2021-10-05 07:30] kornicameister commented on #16745
@skinny85 if you agree, please close an issue.

[2021-10-05 08:10] mebrahimi13 commented on #16776
Hi @skinny85,

Thanks for your reply. My point is that CDK synthesising CloudFormation templates, it should not impose artificial restrictions on top of the standard schema defined by CloudFormation. Your workaround would certainly do the job, but it has two undesired implications:

1. it would require a change request on cfn_nag side which is hard to justify, since it is already compliant with th

[2021-10-05 08:25] guydunton opened #16795 "(lambda-nodejs): Cannot use handler from layer"
### Description

I would like to be able to specify a handler from a file other than the entry point

### Use Case

Externally instrumenting a lambda using New Relic cannot properly be done using a `NodejsFunction`. The [documentation](https://docs.newrelic.com/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own/#console) for their instrumentation

[2021-10-05 08:31] paya-cz commented on #15632
@peterwoodworth I see you already made a PR for this, thank you for handling this issue.

I use Windows VM for development, I guess I might be able to get WSL setup in order to contribute to the project, but unfortunately don't really have time to play with that at the moment. Gitpod would solve this friction beautifully though if it worked :-)

[2021-10-05 08:59] paya-cz commented on #15632
Just noticed that this ticket is actually a dupe of #14336, so that's two birds with one stone

[2021-10-05 09:03] paya-cz commented on #15636
This issue seems to be somewhat related to #8320, perhaps both issues could be tackled at the same time one day.

[2021-10-05 09:34] nija-at commented on #16759
@davidlbyrne - can you confirm if you're using the `--hotswap` command or just standard `cdk deploy`.

[2021-10-05 10:21] keepler-ivanmarques opened #16797 "(Assertions): CDK V2 Does not include assertions module."
### What is the problem?

CDK V2 Does not include old assertions module.

### Reproduction Steps

test_assertions.py
[code]

### What did you expect to happen?

The test should have import the assertions module

### What actually happened?

Error:

[code]

### CDK CLI Version

2.0.0-rc.23

### Framework Version

2.0.0-rc.23

### Node.js Version

v14.18.0

### OS

MacOS 11.6

### Language

Python

[2021-10-05 10:37] RomainMuller commented on #16786
So it turns out the reason why the custom fact was not used is because the stack that used it was likely "region-agnostic", so it could not use a registered fact and instead used the default value.

In this case, the proper avenues to address this are:
- https://github.com/aws/aws-cdk/pull/4131
- https://github.com/aws/aws-cdk-rfcs/issues/58

[2021-10-05 10:50] keepler-ivanmarques commented on #16797
As said in issue [15824](https://github.com/aws/aws-cdk/issues/15824), will be the assertions module in a separate package?

If so, there's any release date for that package in pypi?

[2021-10-05 12:18] robert-hanuschke commented on #14493
@rix0rrr #12326 is merged now but I think it does not include multiple sources (at least I don't see it in the documentation and couldn't configure it in v1.125.0). Should this be reopened?

[2021-10-05 13:29] njlynch commented on #16432
The changes have been committed, but failures in our build and release architecture is preventing the release. Re-opening to serve as a tracking item until we can resolve the failures and release.

[2021-10-05 13:34] njlynch commented on #16797
Hi @keepler-ivanmarques !

As the `assertions` module is still experimental (the APIs have not yet been finalized and stabilized), it cannot be bundled within the main (`aws-cdk-lib`) release. Instead, we will be releasing it as an independent module.

The work to do this release is ongoing, but we've hit some snags in our build + release infrastructure preventing the publishing. We expect asserti

[2021-10-05 13:34] #16797 closed

[2021-10-05 13:43] keepler-ivanmarques commented on #16797
Great! thanks!

[2021-10-05 13:51] njlynch opened #16802 "(aws-cdk-lib): v2 release notes broken"
### What is the problem?

Starting with release https://github.com/aws/aws-cdk/releases/tag/v2.0.0-rc.22, the V2 changelog has stopped working. Rather than seeing a mirror of the V1 release notes, or the V2 stable-only changes (or the proposed combination of both -- see https://github.com/aws/aws-cdk-rfcs/blob/master/text/0249-v2-experiments.md#changelog--release-notes), the notes are blank.

Idea

[2021-10-05 14:55] bodokaiser commented on #14493
@robert-hanuschke You find `additionalInputs` in [`ShellStepProps`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_pipelines.ShellStepProps.html).

This is also explained in the [additional inputs section](https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html#synth-and-sources):

[code]

and yes, I agree that such a great feature deserves more visibility.

[2021-10-05 15:02] robert-hanuschke commented on #14493
@bodokaiser ah, so the additional inputs defined in that way also trigger the pipeline (e.g. if nothing changed in myorg/repo1 but in myorg/repo3)? I interpreted that section in the way that the trigger still would only be morg/repo1 but once that fires it additionally loads repo2 and repo3 for supplementary data in support of repo1's changes.

If I thought wrong there and changes to repo2 and rep

[2021-10-05 15:11] bodokaiser commented on #14493
@robert-hanuschke I think so, in the [`ShellStep` constructor](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/pipelines/lib/blueprint/shell-step.ts#L155-L174) they get the same treatment.

[2021-10-05 15:41] skinny85 commented on #16745
Glad you figured it out @kornicameister!

[2021-10-05 15:41] #16745 closed

[2021-10-05 16:30] jfrconley commented on #16757
This is what I encountered as well, it only seems to fail if both are present. It seems like it's trying to apply both policies at the same time, but RDS has some kind of a processing period that it needs between them. Is there a way that policies can be added as separate resources in cdk? I bet if I added an explicit dependency between the policies it would work.

[2021-10-05 16:50] skinny85 commented on #16757
Hmm, this is interesting - the CDK actually re-uses the same Role for both the import and export features!

Here's the resulting CloudFormation template after synthesizing the code in https://github.com/aws/aws-cdk/issues/16757#issuecomment-933876306:

[code]

@jfrconley so do you think adding a `DependsOn` in the `Instance` resource on the Policy of that Role will solve this problem?

[2021-10-05 16:58] ryparker commented on #12610
I apologize for the delay in response.

I'm unable to reproduce this however [I've applied the same fix that was applied to the nodejs image, to the python image.
](https://github.com/aws/aws-cdk/pull/16804)
Would anyone be able to test this fix or provide the full reproduction code?

The mentioned reproduction is to run:

[code]

However this returns:
[code]

[2021-10-05 17:21] davidlbyrne commented on #16759
I am not using `--hotswap`

If you think this will help I can try it.

[2021-10-05 17:31] ryparker commented on #16603
Fix released in v1.126.0

If you have deployed a bucket with `autoDeleteObjects: true`, switching this to `false` in a CDK version *before* `1.126.0` will lead to all objects in the bucket being deleted. Be sure to update to version `1.126.0` or later before switching this value to `false`.

[2021-10-05 18:02] GaalDornick commented on #16739
This is a bug in GoFormation. I have submitted an issue and a fix in GoFormation repo (https://github.com/awslabs/goformation/issues/404)

This issue can be closed. I'll close it when the fix is merged into GoFormation

[2021-10-05 19:09] christophgysin commented on #12610
@ryparker Thanks for your reply.

Here are the steps to reproduce the core issue:
[code]
It seems that with the `btrfs` storage driver, overriding the mode of the root dir is not possible.
[code]
This *might* be a bug in the btrfs storage driver. But it could be fixed by creating the `aws-sam-cli-emulation-image-*` images with a more sensible mode for the root.

[2021-10-05 19:37] scottbisker opened #16806 "aws-ssm: StringParameter Doesn't support data_type=ssm.ParameterType.AWS_EC2_IMAGE_ID"
### What is the problem?

When trying to create a StringParameter of type ssm.ParameterType.AWS_EC2_IMAGE_ID, CDK throws the following error.

1 validation error detected: Value 'AWS::EC2::Image::Id' at 'type' failed to satisfy constraint: Member must satisfy enum value set: [SecureString, StringList, String]. (Service: AmazonSSM; Status Code: 400; Error Code: Validat
ionException; Request ID: 2c9

[2021-10-05 22:31] peterwoodworth commented on #16806
Thanks for reporting this! The only accepted values for `AWS::SSM::Parameter.Type` are [`String` or `StringList`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ssm-parameter.html#cfn-ssm-parameter-datatype).

The CDK wants you to use an enum `ParameterType` to [specify the type](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ssm.StringParameter.html#type

[2021-10-05 23:07] peterwoodworth commented on #16793
Have you tried using the [`CfnJobDefinition`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-batch.CfnJobDefinition.html)? If CloudFormation is able to support your use case ([which it looks like it does](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-batch-jobdefinition.html#cfn-batch-jobdefinition-containerproperties)) then you'll be able to make use of

[2021-10-05 23:15] peterwoodworth commented on #16153
Thanks for responding guys!

[2021-10-05 23:15] #16153 closed

[2021-10-05 23:18] peterwoodworth commented on #16233
Thanks for reporting this @tomas-sezima, I'm going to close this in favor of the issue you linked. Feel free to leave a comment there with what you've found!

[2021-10-05 23:18] #16233 closed, assigned to nobody

[2021-10-05 23:21] justin8 commented on #9217
@honeybadger91  I don't believe that applies to CDK pipelines which this bug was for; they're different from raw CodePipelines constructs and that is the problem.

[2021-10-05 23:41] roryj-vendia opened #16811 "@aws-cdk/aws-s3: notification lambda function does not handle transient s3 errors well"
### What is the problem?

A deployment failed for our team using a CDK defined infrastructure package due to a failure in the bucket notification lambda function. After looking at the logs in our account, it appears that it was caused due to missing error handling within the bucket notification lambda function. The line that failed was [this one](https://github.com/aws/aws-cdk/blob/ecb94d792e3fb70

[2021-10-05 23:49] Askannz commented on #16793
Thanks Peter, we were able to register the job definition using `CfnJobDefinition` as a workaround.

I assumed the behavior of `JobDefinition` was a bug since (to my understanding) it makes the construct property `nodeProps` useless, which in turn makes the API a bit confusing. But in any case, support for this feature in the L2 API would be appreciated.

Here's the output of `cdk synth` for the c

[2021-10-06 00:17] peterwoodworth commented on #16243
Have both of you created an [SLR](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-elasticsearch-readme.html#a-note-about-slr)?

[2021-10-06 00:22] 0xjjoyy commented on #16153
I'm not sure why this is closed @peterwoodworth ? Is the feature implemented?

[2021-10-06 00:29] peterwoodworth commented on #16153
Sorry, I'm not sure what makes this feature request distinct from the one that was linked #11896. Are these not the same requests?

[2021-10-06 00:44] ivandres73 commented on #7985
This is just perfect, this post needs to be more known as AWS doesn't have any examples at all of Wafv2 in aws-cdk

[2021-10-06 02:08] pahud opened #16812 "(apprunner): startCommand and environment are ignored in imageConfiguration"
### What is the problem?

The `startCommand` and `environment` are ignored in the `imageConfiguration`.

### Reproduction Steps

[code]

### What did you expect to happen?

the two properties should be properly configured..

### What actually happened?

not configured in the synthesized cfn template

### CDK CLI Version

1.126.0

### Framework Version

_No response_

### Node.js Version

v14.17.6

[2021-10-06 03:51] touzoku commented on #13027
@skinny85 Adding `if (build.role) artifactBucket.grantReadWrite(build.role)` has fixed it! Thank you for the tip.

[code]
The code above works in `2.0.0-rc.21`.

Maybe cdk should default to KMS managed keys unless specified otherwise? Saves $1/month, makes @QuinnyPig happy

[2021-10-06 03:55] QuinnyPig commented on #13027
So few things make me happy, but this would indeed please me.

[2021-10-06 04:54] rittneje commented on #16603
@ryparker To be clear, I think you have to actually deploy the stack in question with 1.126.0+ at least once before switching the value to `false`. If the deployment that switches it is also the first to use 1.126.0+, then I believe the older version of the custom resource would still be invoked.

[2021-10-06 05:03] peterwoodworth commented on #16153
@0xjjoyy please ping me again if you can distinguish what's unique about this feature request

[2021-10-06 05:31] peterwoodworth commented on #16214
Hey @travisdieckmann, sorry for the long wait here

This error is usually caused due to having mismatched cdk versions. All cdk packages installed should be the same version.

If this wasn't your problem, ping me and let me know. Thanks!

[2021-10-06 05:31] #16214 closed

[2021-10-06 06:06] #16127 closed

[2021-10-06 06:06] #16673 closed

[2021-10-06 08:31] Hazzard17h commented on #14243
I developed this workaround to generalize the management of API calls with path placeholders. I hope can help someone.
[code]

[2021-10-06 08:37] xeroxnir opened #16813 "(pipelines): Enable KMS Key rotation for pipeline"
### Description

CodePipeline supports key rotation with enableKeyRotation prop.

Would be great to have the same property on the [pipeline construct](https://github.com/aws/aws-cdk/blob/2a629dd7a86cc36c3a503bfc5957880c9edd4d49/packages/%40aws-cdk/pipelines/lib/codepipeline/codepipeline.ts#L340).

### Use Case

Enable rotation security best practice (also fix cfn_nag findings)

### Proposed Soluti

[2021-10-06 08:40] rix0rrr commented on #16813
For now, construct your own `codepipeline.Pipeline`, configure it as you wish, and pass that into the `CodePipeline`.

In general, not sure if this case wouldn't be better served by a mechanism like proposed here: https://github.com/aws/aws-cdk-rfcs/issues/25

[2021-10-06 08:57] matthias-pichler opened #16814 "(aws-lambda): new Architectures prop causes problems with ambda version prop"
### What is the problem?

I added the new `architectures` prop to a lambda function that has a `currentVersion` and synthesis fails with

[code]

I also have the `"@aws-cdk/aws-lambda:recognizeVersionProps": true` feature flag enabled

### Reproduction Steps

[code]

### What did you expect to happen?

Architectures should be recognized correctly

### What actually happened?

The synthesis failed

[2021-10-06 09:07] ns-ajith opened #16816 "@aws-cdk/aws_elasticloadbalancingv2-CfnTargetGroup:: Not able to add *target_group_attributes*"
### General Issue

target_group_attributes create/update fails

### The Question

I'm trying to create a Loadbalancer for already existing instances, with `CfnTargetGroup` and enabling the `target_group_attributes`(https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_elasticloadbalancingv2/CfnTargetGroup.html#aws_cdk.aws_elasticloadbalancingv2.CfnTargetGroup.target_group_attributes).
[cod

[2021-10-06 09:39] alexrashed commented on #12610
Unfortunately I can reproduce the issue with the steps described by @christophgysin with the ZFS storage driver.
This in turn means that the fix in https://github.com/aws/aws-cdk/pull/16804 might not have any effect, right?
But to be honest, I haven't fully tried to verify the bugfix from the PR, since building the PR branch is quite tedious.

[2021-10-06 09:45] leonaAtkins opened #16817 "aws_route53_targets: SpecRestApi is not convertible to RestApi"
### What is the problem?

Using CDK 1.126 (which was listed as containing a fix for this) trying to assign a SpecRestApi as a alias target.

### Reproduction Steps

Create a Spec Rest Api
[code]
then try to use it in a route53 target.
[code]

### What did you expect to happen?

It to create a route53 A record.

### What actually happened?

received the following error

[code]

### CDK CLI Version

[2021-10-06 09:47] jogold commented on #16759
I think this is the normal CF behavior: your template doesn't change because it references your secret and a key but not value, so there's nothing to deploy.

Event if after updating the secret value, redeploying your template would update the Lambda function this would not guarantee that your Lambda runtime code and secret value are always in sync (just after updating the secret value your Lambda

[2021-10-06 10:08] sameergoyal commented on #13001
This might also be useful for JVM Lambdas on Java 8 Coretto or Java 11 which can do with a similar setup for lambda layers: https://docs.aws.amazon.com/codeguru/latest/profiler-ug/lambda-simple.html instead of the more involved setup (with code changes) needed for other JVM runtimes.

[2021-10-06 10:32] triandco commented on #7717
Any update on this please?

[2021-10-06 13:27] desoss opened #16821 "(aws-appmesh): priority cannot be configured in gateway routes"
### What is the problem?

Even if the AWS console allows to specify the gateway route priority in the gateway route configuration this is not possible in CDK.

### Reproduction Steps

Here I've no way to specify the priority of a gateway route.

[code]

### What did you expect to happen?

I expect to be able to configure the gateway route priority as in the console:

![image](https://user-images.g

[2021-10-06 14:06] gerardsegarra opened #16824 "rds.Credentials: cannot generate secret even having lots of characters excluded"
### What is the problem?

We are getting this error in cloudformation when trying to create a Postgres instance
[code]
but we have added all the possible character we could think of in the except. Being quick before cloudformation rolledback the secret, we could see all the secret contained were regular characters.

### Reproduction Steps

This is how we generate the credentials
[code]

### What d

[2021-10-06 14:54] mebrahimi13 commented on #16776
@skinny85 I think there's a misunderstanding here. I understand that whatever Key/Value object provided will be marshalled to a json string and then used as the string value for `user_parameters`. I was not saying that CFN Nag raises any concerns, CFN Nag **is** the lambda function I'm trying to invoke from the pipeline, and I think we can all agree that the lambda handler needs to be adjusted, if

[2021-10-06 15:34] DerkSchooltink opened #16826 "(aws-efs): failed to create location when filesystem is still creating"
### What is the problem?

Creating a filesystem with an EFS location in the same stack fails to create because directly after creating the filesystem it attempts to create the location, which does not work because the filesystem is still status=creating.

### Reproduction Steps

[code]
Deploying this in a stack will cause this error.

### What did you expect to happen?

It might be difficult to fi

[2021-10-06 15:54] ryparker commented on #16603
Good clarification. I'll update that in our [docs](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3.Bucket.html#autodeleteobjects) as well.

[2021-10-06 17:20] paulie4 opened #16829 "aws_apigatewayv2: DomainName.name is no longer passed as value to ARecord"
### What is the problem?

We used to be able to create a `route53.ARecord` with a `recordName` referencing an `apigw2.DomainName.name`, but that stopped working after CDK version 1.123.0 (I haven't tested 1.124.0 and 1.125.0, but it definitely stopped working in 1.126.0).

The problem is that `apigw2.DomainName.name` used to be passed as a value, so the `route53.ARecord` code could tell that the d

[2021-10-06 17:28] skinny85 commented on #13027
Sorry, I don't understand 😜.

You said:

But then the code that you have that you said works does not have `if (build.role) artifactBucket.grantReadWrite(build.role)` anywhere:

So.. which one is it? 😜

[2021-10-06 17:32] kellertk commented on #12610
I was also able to reproduce this with the ZFS storage driver on Ubuntu 20.04:

[code]

[code]

Interestingly, switching to the `overlay2` driver does allow execution as uid 1000 within the container. So this is some sort of interaction with non root uids and the way that docker handles CoW storage layers. It looks like the container actually is built with sensible `/` permissions after all:
[code

[2021-10-06 17:36] peterwoodworth commented on #16829
Looks like [this](https://github.com/aws/aws-cdk/pull/16201) is the change that broke you

[2021-10-06 17:42] peterwoodworth commented on #16826
You can have resources depend on one another using the [`addsDependOn()`](https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#resource-options) method. This will cause resource B to start creation after resource A

[2021-10-06 17:43] polothy commented on #13717
Yes please! Seems like this is advertised as the way forward for ECS patterns but not available in Python.

[2021-10-06 17:48] Seiya6329 commented on #16821
@desoss - thank you very much for reporting the issue and I am very sorry for the inconvenience you are facing.

I am taking a looking a look at this issue we will respond by end of today with updates.

[2021-10-06 18:08] alexpulver opened #16830 "(core): Property value of a resource inside a CDK Stage contains the CDK Pipelines pipeline construct ID"
### What is the problem?

Per @rix0rrr, logical IDs generated by the AWS CDK should be based on the construct path to the nearest containing stack. Currently, this logic doesn't hold for resource property names auto-generated by the AWS CDK for resources that MUST have a name in CloudFormation.

Consider the following construct tree and resources:  `App` -> `Pipeline stack (CDK Pipelines)` -> `Pro

[2021-10-06 18:21] markus7811 commented on #16476
I like this issue, but it's somehow similar to the following ones:

https://github.com/aws/aws-cdk/issues/15853
https://github.com/aws/aws-cdk/issues/9815

The main problem is, that cloudformation can't handle this

[cloudformation documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html#dynamic-references-secretsmanager)

So i see no 'native' way of im

[2021-10-06 18:29] peterwoodworth commented on #16686
I'm not sure which part of the first option didn't make sense to you, can you clarify that?

For option 1, *all you need to do* is to destroy and recreate your stack.

[2021-10-06 18:59] #16626 closed

[2021-10-06 19:29] prashanttct07 commented on #16243
This issue was related to SLR (Service Linked Role). It has been fixed and stack creation is working fine. It can be closed
@Jon-AtAWS

[2021-10-06 19:45] peterwoodworth commented on #16824
I wasn't able to reproduce this using the same `exclude_characters` configuration here

[2021-10-06 19:59] #16243 closed, assigned to peterwoodworth

[2021-10-06 20:15] christophgysin commented on #12610
Because in the btrfs and zfs storage drivers it is not possible to change the mode of the root directory, the PR won't fix this for those storage drivers. The only ways to fix this is to either fix the mode of the root in initial layer, or change the btrfs and xfs (and possibly other) storage drivers to allow overriding the root mode in a layer.

[2021-10-06 20:21] peterwoodworth commented on #16817
Hey @leonaAtkins,

I'm not able to reproduce this on the latest version. Are you sure your installed packages are all from the latest version?

[2021-10-06 22:49] Mike-Gilge opened #16832 "(Amazon.CDK.AWS.CloudFront.Experimental): Stack fails to publish when edge function is included"
### What is the problem?

When I try to publish my stack with an EdgeFunction it is failing on the outputted ssm parameter.  Nothing I have tried makes any difference.

### Reproduction Steps

[code]

### What did you expect to happen?

I would expect the stack to publish and for a lambda edge to be set up with CloudFront.

### What actually happened?

[code]
### CDK CLI Version

1.126.0

### Fram

[2021-10-06 23:07] ghost opened #16834 "(apiref): all API Reference pages should have a link to give feedback"
### link to reference doc page

_No response_

### Describe your issue?

Had a customer report having trouble finding how to report an issue on an API Reference page because there is no Provide Feedback link. We should add one (can go to the "create a documentation issue" template).

[2021-10-06 23:40] peterwoodworth commented on #16816
`Key` and `Value` need to be lowercase here, or else synth will output an empty object for the targetGroupAttributes prop. Changing to `key` and `value` should work fine 😄

[2021-10-06 23:50] peterwoodworth commented on #16816
## Examples
[code]
will result in
[code]
---
[code]
will result in
[code]
---
[code]
will result in
[code]

[2021-10-07 01:42] moltar commented on #16830
Thanks, @alexpulver for filing this issue!

FYI, this comes from a thread from the [CDK Slack chat](https://cdk-dev.slack.com/archives/C01FDB9UFNV/p1633502785198500).

I feel like this is a classic [action at a distance](https://en.wikipedia.org/wiki/Action_at_a_distance_(computer_programming)) antipattern and it should not be happening.

The following resources (but not limited to), seem to be af

[2021-10-07 02:44] Seiya6329 commented on #16821
I am confirming CDK is currently not allowing Gateway Route to configure `Priority`.

I verified that the App Mesh console as well as [AWS CLI](https://docs.aws.amazon.com/cli/latest/reference/appmesh/create-gateway-route.html) does allow configuring Gateway Route with `Priority`.

However, https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-appmesh-gatewayroute-gatewayro

[2021-10-07 04:04] neilkuan opened #16837 "(aws-aps): Support Amazon Managed Service for Prometheus as new L2 construct"
### Description

Support Amazon Managed Service for Prometheus as new L2 construct.

Amazon Managed Service for Prometheus Is Now Generally Available with Alert Manager and Ruler on 2021/09/29.
https://aws.amazon.com/blogs/aws/amazon-managed-service-for-prometheus-is-now-generally-available-with-alert-manager-and-ruler/

### Use Case

 Support Amazon Managed Service for Prometheus as new L2 constr

[2021-10-07 04:17] 5t111111 opened #16838 "(aws-ec2): Disabling auto-assign public IP to public subnets"
### Description

I think it would be great if there is a way to make it possible to disable auto-assign public IP to public subnets on VPC creation.

---

When you create a VPC with subnets, public subnets will always have auto-assigned IP address.

example code:

[code]

CDK implementation:

https://github.com/aws/aws-cdk/blob/d29a20bece48829e5dddbf3fd9045a96f1440c02/packages/%40aws-cdk/aws-ec2/l

[2021-10-07 05:20] pfried commented on #14823
@jogold Thanks for clarification.

I now wonder if it would be possible to automate Lambda Layer bundling somehow. A typical application might have dozens of lambda functions and it would really help to bundle all (or many) dependencies in a  LambdaLayer and then exclude them from the `esbuild` build to make the bundles smaller.

Have you seen anything like that already?

[2021-10-07 05:53] jaybocc2 opened #16839 "(aws_eks): python type checking is incomplete"
### What is the problem?

`aws_eks.Cluster(...,version=aws_eks.KubernetesVersion.V1_21,...)` results in a type checking error similar to https://github.com/aws/jsii/issues/1262 and https://github.com/aws/aws-cdk/issues/7143

note: CDK synths, bootstraps and deploys fine, this is purely a language and type checking annoyance.

### Reproduction Steps

[code]

### What did you expect to happen?

no l

[2021-10-07 06:25] NGL321 commented on #16449
Hey @deathquin,

I apologize for delays on response to this question. It seems that one of two things is occurring in your configuration. Either you have not set a specific version of the CDK for your dependencies, in which case the Go package manager will attempt to download the latest version every time (and we update minor versions to the CDK quite regularly). Or alternatively there is a proble

[2021-10-07 06:25] NGL321 commented on #16408
Hey @deathquin,

I apologize for the long delays on response here. At the moment we have few Go experts.

This may be due to my limited understanding of Golang, but it seems what is wrong here is that you are trying to cast an object of type `CfnDomainName` to a generic `IConstruct`. From what I understand of downcasting in Go, you cannot cast a higher-level object to a base interface if the struc

[2021-10-07 07:02] #16669 closed

[2021-10-07 07:06] otaviomacedo commented on #16839
Hi @jaybocc2. Just to confirm: in your setup.py, are all the CDK construct libraries pointing to the exact same version?

[2021-10-07 07:16] gerardsegarra commented on #16824
I cannot remove the exclude_characters because the service that connects to rds does not accept some characters and it's a third party service.

It's hard to reproduce because this only happens some times and not every time.

This is the code for the whole class:
[code]

[2021-10-07 07:21] urko-b commented on #16686
Hi @peterwoodworth yes the problem is that that option `ObjectLockEnabled` is not available in `awss3.BucketProps`

[2021-10-07 07:26] pahud commented on #12472
I just notice an important issue

<img width="1035" alt="圖片" src="https://user-images.githubusercontent.com/278432/136338026-1c578375-1b4b-46f4-bb53-d176bd96c1e7.png">

I was using the same Dockerfile with the same base image, which support multi-arch.

When I first docker build  with that base image, docker daemon will pull the image with correct platform and everything works great as expected. H

[2021-10-07 07:34] dan-lind commented on #15309
Some more info, if it helps.
I'm using my default profile
[code]

As you can see, besides the fact that it fails, it retries once every minute for 10 minutes to do so

I'm happy to provide more details if it helps.

[2021-10-07 07:53] hoegertn commented on #14274
AFAIK: `AWS: *` means every AWS principal (users, roles, services) and `*` means anonymous access

[2021-10-07 07:56] rix0rrr commented on #14274
It looks even more subtle than that. I have an internal customer saying their DMS subscription doesn't work with `{ AWS: * }`, and all parts of that are fully in AWS.

[2021-10-07 08:12] peterwoodworth commented on #16686
@urko-b don't worry about the `ObjectLockEnabled` property. You can ignore it completely. All you have to do is delete and recreate your stack

[2021-10-07 08:34] leroyleejh commented on #13772
hello @skinny85
I am still encountering this issue when i try to define `tags` directly when calling `aws_mwaa.CfnEnvironment`

[code]

error message
[code]

[2021-10-07 08:47] #16824 closed, assigned to skinny85

[2021-10-07 09:36] njlynch commented on #16622
Hi @AbhiramIyer ,

When you add a new SAN to a certificate, a new certificate must be created, and the old one deleted. As StackA only has knowledge of the certificate (and not the NLB), it deploys the new certificate, and then (as part of cleanup) tries to delete the old one. This fails, as you've seen.

This is a classic example of inter-stack dependencies that are a bit nuanced to get right. A

[2021-10-07 09:36] #16622 closed

[2021-10-07 10:17] anggras commented on #16260
Facing same issue

[2021-10-07 11:35] ohnu opened #16846 "(AppSync): Add support for custom authorization with AWS Lambda for GraphQL APIs"
### Description

Since July 2021 there is a new authorization type introduced for GraphQL APIs https://aws.amazon.com/about-aws/whats-new/2021/07/aws-appsync-supports-custom-authorization-with-aws-lambda-graphsql-apis/
and is not exposed by the latest CDK release v1.126.0 https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-appsync.AuthorizationType.html

### Use Case

We want to create ou

[2021-10-07 11:37] trondhindenes commented on #16476
(I thought about publishing this to the constructs catalog, but haven't quite finished making it open-source-friendly yet)

[2021-10-07 12:34] #16832 closed, assigned to nobody

[2021-10-07 12:58] nija-at commented on #16638
As documented, `api.apiEndpoint` is how you retrieve the execute API endpoint.

To get the domain URL, you will need to use `api.defaultStage.domainUrl`. I can confirm that all of the APIs are present where they say they are.

You need to check your code on your end. One thing to note - `api.defaultStage` can be `undefined` in some cases, so you may need to cast or add a check for your IDE to corr

[2021-10-07 13:33] nija-at commented on #16710
Marking this as a feature request.

As per the [docs you've linked](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-eventsourcemapping-sourceaccessconfiguration.html#aws-properties-lambda-eventsourcemapping-sourceaccessconfiguration-properties), this is only available for Amazon MQ and not self-managed Kafka.

This is also not present in the lambda documentatio

[2021-10-07 13:54] #16846 closed, assigned to otaviomacedo

[2021-10-07 14:52] bdesert opened #16850 "(aws-msk): Add MSK Connect Support"
### Description

New Service (MSK Connect) under MSK module needs to be supported! Since I couldn't find it on a road map/projects, adding feature request to follow.

### Use Case

as a developer, I would like to be able to build MSK Connect using CDK.

### Proposed Solution

Add construct for MSK Connect clusters

### Other information

_No response_

### Acknowledge

- [ ] I may be able to imple

[2021-10-07 15:06] nija-at commented on #16638
Ah, I missed that. You are correct indeed.

This needs to be fixed.

[2021-10-07 15:29] pahud opened #16852 "(lightsail): support lightsail instance"
### Description

To support the `AWS::Lightsail::Instance`:

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lightsail-instance.html

### Use Case

allow users to use `Instance` L2 construct.

### Proposed Solution

create a L2 construct class for `Instance`

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [

[2021-10-07 15:29] #16677 closed

[2021-10-07 16:04] jerry42 opened #16853 "(aws-s3): incorrect URL for bucketWebsiteDomainName"
### What is the problem?

When calling bucketWebsiteDomainName URL returned is not valid ( tested for eu-west-3 but I guess it's the same everywhere ).

For bucket "xxx"
xxx.s3-website**-**eu-west-3.${Token[AWS.URLSuffix.9]} is returned by bucketWebsiteDomainName instead of xxx.s3-website**.**eu-west-3.${Token[AWS.URLSuffix.9]}

Used with CloudFront, origin is not found.

### Reproduction Steps

`

[2021-10-07 16:49] #16814 closed, assigned to nija-at

[2021-10-07 16:57] alex-hladun opened #16855 "@aws-cdk/cloudformation-diff: not in the npm registry."
### `Update: Likely due to NPM outage. See here: https://status.npmjs.org/`

### General Issue

Builds are failing because @aws-cdk/cloudformation-diff: not in the npm registry

### The Question

https://www.npmjs.com/package/@aws-cdk/cloudformation-diff

Cannot access this page.

### CDK CLI Version

1.87.0

### Framework Version

_No response_

### Node.js Version

_No response_

### OS

_No res

[2021-10-07 17:04] giterdoneh commented on #16630
@peterwoodworth Since you mentioned that you were unable to reproduce the issue, I decided to play around with the CDK code and discovered that the circular dependency issue goes away if I get rid of the nested stack where the lambda authorizer function, alias, and request authorizer are being defined and define them in the base stack.

I was going to also explore how things would play out if the

[2021-10-07 17:22] pahud commented on #16307
I've confirmed the following regions and they are all working great with CDK!

- [x] us-east-1
- [x] us-west-2
- [x] ap-northeast-1
- [x] ap-southeast-1
- [x] ap-southeast-2
- [x] eu-central-1
- [x] eu-west-1

Thanks a lot and I am closing this issue now.

[2021-10-07 18:25] #16679 closed

[2021-10-07 18:30] jerry42 commented on #16853
OK thanks a lot!

[2021-10-07 18:30] #16853 closed

[2021-10-07 18:44] jogold commented on #12472
I don't have the same behavior, I'm on `Docker version 20.10.8, build 3967b7d`. You?

[2021-10-07 18:48] #16855 closed, assigned to nobody

[2021-10-07 19:36] jogold commented on #12472
@pahud please see also #16858 where I suggest a "coupling" between the `lambda.Architecture` and the corresponding `platform`.

[2021-10-07 19:46] kornicameister opened #16860 "(codepipeline): Should Codedeploy App/Group be defined along with Pipeline or Imported?"
### General Issue

Where should one define CodeDeploy Application/Group>?

### The Question

Hello, this is more or less a very generic question and/or looking for guidence.
I am trying to figure out how to write a pipeline that so that:

- pipeline is define in regionA
- application is deployed in potentially different region/account, for the sake of converstaion, let's say regionB

My applicatio

[2021-10-07 20:25] vportascarta opened #16861 "(aws-cloudwatch-actions): Add the possibility to have SSM OpsItem Action"
### Description

In addition to these actions : ApplicationScalingAction, AutoScalingAction, Ec2Action, Ec2InstanceAction, SnsAction, add an SystemManagerAction to be able to create OpsItem in SSM in a CW alarm.

### Use Case

We need this to group and prioritize all our alarm triggers into OpsCenter instead of using SNS notification.

### Proposed Solution

Add an action that build and add the ar

[2021-10-07 20:41] peterwoodworth commented on #16630
I'm excited you figured it out! Thank you for sharing what was wrong.

Usually, you'll want to use [CfnOutputs and CfnParameters](https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#stack-outputs) to pass values between nested stacks. Check out this documentation, I'm sure you can get it working no problem

[2021-10-07 23:05] ryparker opened #16862 "(aws-eks): Throw error when Cluster's VPC is only in 1 AZ"
### Description

Currently when you associate a VPC that only has 1 AZ with an EKS cluster, then CloudFormation takes 5+ hours to deploy and errors out with something like `No response from cluster`. This is solved by updating the VPC with 2 or more AZs.

[_From Cluster VPC considerations docs_](https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html)

### Use Case

Anyone setting up an

[2021-10-07 23:17] giterdoneh commented on #16630
It looks like the things that can be passed in the CfnOutputs and CfnParameters are types such as numbers and strings as opposed to references to constructs. This might be leveraged to pass an ARN for the RequestAuthorizer, but it doesn't appear that there is a "fromArn()" method on the RequestAuthorizer to import the construct in the destination stack.

Am I missing something?

[2021-10-08 00:17] AaronHarris commented on #989
What's the workaround here? Just pass in the same lambda.AssetCode() object ref to different lambdas?

[2021-10-08 02:42] skinny85 commented on #13772
I think `tags` is not a dictionary, but an instance of the `CfnEnvironment.TagMapProperty` class: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_mwaa/CfnEnvironmentProps.html#aws_cdk.aws_mwaa.CfnEnvironmentProps.tags.

Try passing that, and see if that helps.

[2021-10-08 03:57] rittneje opened #16865 "cli: cdk deploy suggests --all but it does not work with Stages"
### What is the problem?

If you have a core.Stage that contains some stacks, `cdk deploy --all` won't actually do anything. You have to do `cdk deploy '**'` or similar. This is mentioned in the online docs. https://docs.aws.amazon.com/cdk/latest/guide/cli.html#cli-stacks

However, if you just do `cdk deploy`, the error message printed to the console just says to use `--all`.

This message is also

[2021-10-08 04:49] stephenhibbert commented on #6427
@brainstorm - I believe the CLIENT_ERROR issue is in the UserData is to do with whitespace. My advice is to copy exactly one of the examples here: https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html and just modify the commands, leaving the whitespace exactly the same.

[2021-10-08 05:07] gmedard opened #16866 "(@aws-cdk/core): CfnMapping overview example throws Template format error: Mappings attribute name 'us-east-1' must contain only alphanumeric characters."
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#mappings

### Describe your issue?

Attempting to define a region template mapping:

      const regionTable = new cdk.CfnMapping(this, "RegionTable", {
      mapping: {
        regionName: {
          "us-east-1": "value-one",
          "us-west-2": "value-two",
        },
      },
    });

However, t

[2021-10-08 05:27] moltar commented on #16638
This does indeed work!

[code]

[2021-10-08 06:02] g360Joshua commented on #4543
any update on this?

[2021-10-08 06:30] SpringMT opened #16867 "@aws-cdk/aws-memorydb: MemoryDB Cluster creation is error"
### What is the problem?

I try to create a MemoryDB Cluster using `@aws-cdk/aws-memorydb`,  `Error [ValidationError]: Template format error: Unrecognized resource types: [AWS::MemoryDB::Cluster]` happens.

AWS region is `ap-northeast-1`.

### Reproduction Steps

Reproduction code : https://github.com/SpringMT/memorydb-cdk

1. git clone git@github.com:SpringMT/memorydb-cdk.git
2. cd memorydb-cdk
3

[2021-10-08 06:32] rawadhaber opened #16868 "CDK Pipelines: Webservice prepare stage-S3: Access denied"
### What is the problem?

A standard and simple CDK Pipeline using the **@aws-cdk/pipelines** module fails at the **webservice.prepare** stage.

The same issue has been reported a few times([#15406](https://github.com/aws/aws-cdk/issues/15406), [#15307](https://github.com/aws/aws-cdk/issues/15307)) before, seemingly still without a fix.
Some information for context:

- Bootstrap version: 8
- Using

[2021-10-08 06:52] tai-acall opened #16869 "(aws-ec2): NAT Gateway error while CIDR replacement in VPC"
### What is the problem?

NAT Gateway not attached while CIDR changed and causing CloudFormation stack update failed.

 UPDATE_FAILED        | AWS::EC2::NatGateway                  | vpc/publicSubnet1/NATGateway (vpcpublicSubnet1NATGateway) NatGateway nat-xxxxxxxx is in state failed and hence failed to stabilize. Detailed failure message: Network vpc-xxxxxx has no Internet gateway attached

### Re

[2021-10-08 10:19] otaviomacedo commented on #16332
What's probably happening here is (thanks, @jogold for pointing that out):

1. The custom resource receives a "Delete" event and empties the log bucket.
2. CloudFormation deletes the custom resource.
3. Your server adds some more logs to the empty bucket, making it no longer empty.
4. CloudFormation tries to delete the bucket, but fails because it is no longer empty.

You can confirm whether this

[2021-10-08 10:33] rix0rrr commented on #16625
Error seems to be coming from here:

https://github.com/aws/jsii/blob/2ba2ec47af1b3007844c00bd44aa81ccc7729040/packages/%40jsii/python-runtime/src/jsii/_reference_map.py#L126

[2021-10-08 10:36] #16839 closed

[2021-10-08 10:52] rix0rrr commented on #16625
# Huh.

For reasons that I don't quite fathom, it does not happen for v1:

setup.py

[code]

app.py

[code]

Synths fine...

[2021-10-08 12:04] niklaswallerstedt commented on #2562
@SomayaB I ended up here from a google search on how to disable rollback in cdk and couldn't find it right away, saw that this issue and #11103 was still open, but later found  #16307 with the answer.

TL;DR
`cdk deploy -R (--no-rollback)`

[2021-10-08 12:16] quixoticmonk commented on #16332
Infact, the custom resource gets the DELETE event before it hits the bucket
![Screen Shot 2021-10-08 at 8 16 08 AM](https://user-images.githubusercontent.com/11953035/136555255-f4e37976-5a7e-4a53-a31a-417d2a482330.png)
.

[2021-10-08 12:45] mmarseglia opened #16873 "(aws-ec2): Feature request: please create a method to lookup a Transit Gateway given a filter."
### Description

Please create a method to lookup a Transit Gateway given a filter.

### Use Case

I have a network architecture using a shared services network account.  That network account has a Transit Gateway shared via Resource Access Manager.

I'm deploying an app into another account that uses the shared Transit Gateway.  I want to create a VPC attachment to the Transit Gateway.  I need th

[2021-10-08 12:52] eladb opened #16874 "‼️ (aws-cloudwatch): cross account alarms cause failures in unsupported regions"
#  Workaround is available 👇

### What is the problem?

When deploying an `@aws-cdk/aws-cloudwatch.Alarm` in regions with no support for cross-account alarms, the deployment fails with the following error:

    Encountered unsupported property AccountId

This is because the change in https://github.com/aws/aws-cdk/pull/16007 always adds an `AccountId` to metrics.

### Reproduction Steps

Define a

[2021-10-08 13:07] MaximilianSchon commented on #15484
I created a class to invoke a lambda by name (using the current LambdaInvoke source code) as I had some circular dependencies I couldn't be bothered to sort out. This is however in TypeScript but I will include it here in case somebody stumbles upon this issue in search for such a function.

[code]

[2021-10-08 15:45] strowk opened #16876 "Apigateway: add CORS headers to not-preflight request"
### Description

Browsers send preflight (OPTIONS) and then actual request. When `defaultCorsPreflightOptions` is configured on apigateway, both methods should return CORS headers.

### Use Case

When I have gateway defined with `defaultCorsPreflightOptions` for example like this:

[code]

I expect that when I send either OPTIONS and POST - I would get CORS headers. However I get those only from O

[2021-10-08 16:18] #16874 closed, assigned to kaizencc, madeline-k

[2021-10-08 17:19] kaizen3031593 commented on #16767
Can you provide your L1 code along with your L2 code? Hopefully that will help me get to the bottom of this.

[2021-10-09 00:17] gmedard commented on #16866
Thank you for the response @jumic.  That fix resulted in this new local error now:

"throw new Error(`Mapping doesn't contain top-level key '${key1}'`);"

[2021-10-09 02:19] moltar opened #16885 "(aws-cloudfront): CloudFront `IFunction` interface is structurally compatible with Lambda's `IFunction`, but not compatible in AWS"
### What is the problem?

I am able to assign a Lambda function to CloudFront function (matching TypeScript interfaces), but when the solution is deployed, it produces an error, as Lambda functions cannot be used as CloudFront functions.

### Reproduction Steps

[code]

### What did you expect to happen?

Interfaces to be incompatible and get an error in the IDE and at build time.

### What actual

[2021-10-09 05:15] solidsnack commented on #1773
Depending on what you're doing, JQ's test command is one way to get around the randomness in CDK-generated keys. For example, to get the Kubernetes config command for an EKS cluster:

[code]

[2021-10-09 07:32] revmischa commented on #1773
[code]

[2021-10-09 07:59] mipearson opened #16888 "(aws-cdk): Can't use CLI credentials when deploying stacks in CDK v2, causing issues with default EKS RBAC"
### General Issue

Can't use CLI credentials when deploying stacks in CDK v2, causing issues with default EKS RBAC

### The Question

There doesn't seem to be a way to fall back to the old behaviour of using the CLI credentials to deploy CF stacks rather than the execution role that CDK Boostrap creates.

This is an issue for EKS, where new clusters are created by default with the creator's role b

[2021-10-09 08:24] jumic commented on #16866
In which region are you deploying the stack? Did you maintain the mapping for your region (e.g. eu-west-1) in `CfnMapping`?

If I'm using my example with value `eu-west-1`, I get the same error. The log output also shows the specific value that is missing (see last line):
[code]

If this does not resolve your problem, could you please show me your code again?

[2021-10-09 09:31] markusl commented on #14395
We have also need for this. I originally opened https://github.com/aws/aws-cdk/issues/11623 which was closed as a duplicate of https://github.com/aws/aws-cdk/issues/10999 which is marked as resolved but I think the implementation is still missing.

This is a very essential step for most of our Docker builds where we need to fetch/authenticate to internal repositories.

[2021-10-09 10:15] mcuervoe opened #16889 "(@aws-cdk/cloudformation-include): including a valid template fails"
### What is the problem?

Including a valid cloudformation template provided by cognitect/datomic using @aws-cdk/cloudformation-include fails

### Reproduction Steps

The following code fails

[code]

The error that I get is

[code]

The template can be
 found here https://s3.amazonaws.com/datomic-cloud-1/cft/936-9118/datomic-compute-936-9118.json
 or in the document attached

[datomic-compute-936

[2021-10-09 15:08] mrgrain commented on #8273
`spawnSync` doesn't easily allow for more complex invocation scenarios, like using [esbuild's plugin API](https://esbuild.github.io/plugins/#using-plugins). We effectively force users to deal with two different entry points to their cdk app.

Aside from that, not supporting async locks out other patterns like worker-threads or wasm.

I think we are thinking too small here. There are many valid asy

[2021-10-10 01:15] its-mirus-lu opened #16891 "(aws-ec2): InitFile construct IDs are interpolated from `target_filename` when using fromAsset() or fromSource() which can cause naming collisions"
# What is the problem?

TLDR: Naming collision of InitFile constructs for multiple ec2 instances defined in the same stack definition when using the fromAsset or fromSource methods.  Affected file: https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ec2/lib/cfn-init-elements.ts. Cause is most likely due to the underlying InitFile fromAsset and fromSource methods creating an s3 asset

[2021-10-10 09:26] klang opened #16892 "CloudFormationProduct: product_versions only support ONE version"
### What is the problem?

When adding more than one `CloudFormationProductVersion` element the sequence of `product_versions` in the `CloudFormationProduct` constructor, CDK errors out during synth.

### Reproduction Steps

With the following in `./example/service_catalog.py`

    from aws_cdk import core as cdk
    from aws_cdk.aws_servicecatalog import CloudFormationTemplate, Portfolio, CloudFor

[2021-10-10 13:20] SpringMT commented on #16867
Thank you for comments!
I'll wait for CloudFormation support for MemoryDB in `ap-northeast-1`.

[2021-10-10 13:20] #16867 closed

[2021-10-10 14:28] cesarpball opened #16897 "CDK Bootstrap custom roles: Cross account KMS policy using custom role"
### General Issue

CDK Bootstrap custom roles

### The Question

Hey CDK lovers,

I am setting up a multi-account/multi-region deployment. First of all, I need to bootstrap the environments from a template where all the roles  created during my bootstrap is under the path “/bounded/“.
Once I bootstrap the environments I need to deploy them using my execution role created during the boostrap with t

[2021-10-10 15:04] raajheshkannaa commented on #16685
I'm doing a bit of python fu with subprocess and couple boto3 api calls right now to bootstrap all accounts under an Organization. Quick and dirty, but get's the job done.

https://github.com/raajheshkannaa/cdk-booty-strappin

[2021-10-10 15:13] raajheshkannaa commented on #16685
The template is a good idea. Ideally, we could use that to run as a pipeline in the Organization Account triggered on a new account creation, so that accounts are bootstrapped along with the usual setup of a new account.

[2021-10-10 15:13] raajheshkannaa commented on #16685
The template is a good idea. Ideally, we could use that to run as a pipeline in the Organization Account triggered on a new account creation, so that accounts are bootstrapped along with the usual setup of a new account.

[2021-10-10 15:33] rittneje opened #16898 "kms: make pending_window attribute mutable"
### Description

Currently the `pending_window`/`pendingWindow` for a `Key` is defined as readonly in TypeScript. We would like this property to be settable after the fact.

### Use Case

We need to set the pending window via an aspect, but this requires the field to be mutable.

### Proposed Solution

Change the field to not be read-only and add a setter method.

### Other information

_No respon

[2021-10-10 17:53] rittneje opened #16899 "core: add a lazy getter for `TagManager`"
### Description

We would like to be able to add tags to a `core.CustomResource`, and have these tags be passed as one of the properties to the backing provider.

### Use Case

In our particular case, we have a `core.CustomResource` that is inserting records into a DynamoDB table. For auditing/debugging purposes, it would be extremely helpful to be able to record the stack tags into this record.

[2021-10-10 18:34] gherlein opened #16900 "typescript lambda docs - two versions findable, both say latest"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/typescript/api/index.html

### Describe your issue?

https://docs.aws.amazon.com/cdk/api/latest/typescript/api/index.html is apparently out of date

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html

Specifically, the former does not even list timeout, where the latter does.

Super confusing.

[2021-10-10 19:37] jumic commented on #16486
Related to #15904. In general, slashes are supported (see [documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/rest-api-mappings.html)). However, they probably can not be used in CloudFormation and in CDK.

I propose to wait a few days. Maybe somebody else has additional hints in the linked issue. If not, I would propose to replace the example by a valid one.

[2021-10-11 08:07] Manish082007 opened #16901 "Unable to create RouteSettings & AccessLogSettings in CfnStage of APIGatewayv2 for .Net"
### General Issue

Not able to create RouteSettings & AccessLogSettings for WebSocket API through .NET CDK APIGatewayv2

### The Question

I am trying to create a WebSocket API using CDK in the .NET C# language. I am using CFN resources to create WebSocket API as Higher level constructs for WebSocket APIs are still in the Experimental stage.

### Problem with RouteSettings
In CfnStage, When I am s

[2021-10-11 08:13] flo-mair opened #16902 "(aws-msk): MSK Cluster gets not deleted"
### What is the problem?

When removing an MSK cluster from a stack, it does not get deleted. It runs into an error when trying to delete the Security Group attached to the cluster.

### Reproduction Steps

Remove MSK cluster from Stack.

### What did you expect to happen?

Cluster gets successful deleted.

### What actually happened?

CDK run into error that SG can not be deleted (as MSK cluster

[2021-10-11 08:51] nija-at commented on #16638
I have a fix prepared - https://github.com/aws/aws-cdk/pull/16854

[2021-10-11 09:12] eladb commented on #16703
Basically the recommended solution is to use https://github.com/wchaws/cdk-ecr-deployment if you wish to deploy docker images.

[2021-10-11 10:21] nija-at commented on #16795
The `lambda-nodejs` module is not intended for this use case.
Use standard `Function` construct from the `aws-lambda` module for this.

[2021-10-11 12:37] #16795 closed

[2021-10-11 13:26] njlynch commented on #16625
This was fixed in the underlying software (jsii), and will go out with the next jsii release (this week). We will then include this fix in the next CDK v2 release.

[2021-10-11 18:00] arcrank commented on #16892
Thanks for bringing this issue up with detailed write up.  We will look into this and release fix soon, I think I know what the issue is.

[2021-10-11 18:29] benm5678 commented on #16603
Can anyone say if we need to update all package references, or if it's enough to just have the latest CDK cli?
We use some of the aws-solution-constructs & max version there is still 1.125 (and all CDK pkg versions need to match to avoid errors)

[2021-10-11 21:22] #16900 closed

[2021-10-11 21:23] peterwoodworth commented on #5573
There are more issues with these docs #16900

[2021-10-11 22:09] xinguaws opened #16913 "aws-lambda: tag update triggered new lambda version and create failed"
### What is the problem?

My CDK app has applied a set of tags, during an update, one of the tag value was changed, in my CDK app, there is a lambda function which is referenced `myLambdaFunction.currentVersion` so when I ran cdk diff, it shows it will destroy current version and generate a new version, this caused new version creation failed because there is no configuration change for the lambda

[2021-10-11 22:12] peterwoodworth commented on #16117
Hey @gregfarr, sorry for the long response time.

I don't think this is a bug, and that everything is working as expected here. That said, it is pretty confusing from a customer standpoint.

The [`addSecurityGroup`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Connections.html#addwbrsecuritywbrgroupsecuritygroups) method is described to `Add a security group to the list of secu

[2021-10-11 22:16] frij-aws commented on #4308
One more example use case.  Some HA solutions manipulate the VPC routing tables to move an IP address across AZs -- this technique is called "overlay IP addresses" e.g.: https://docs.aws.amazon.com/sap/latest/sap-hana/sap-ha-overlay-ip.html.  Having separate, duplicate/redundant routing tables for each subnet will be problematic in these situations because it will slow the clustering software down

[2021-10-11 22:18] peterwoodworth commented on #16249
Hey @ahammond, sorry for the long response time.

I'm not entirely sure what's happening here. Could you please clearly describe the steps you took and the results that followed from those steps? Thanks!

[2021-10-11 22:27] peterwoodworth commented on #16630
Hmm yeah, I might have jumped the gun there. You might have to do away with the nested stacks here, I can't think of a way to get the arn if you don't have all the info necessary to build the arn.

[2021-10-11 23:19] peterwoodworth commented on #16263
Labelled as a feature request because our L2 constructs aren't necessarily supposed to have all of the properties configurable on their respective L1 constructs.

Thank you for submitting a PR for this already. I'll see if it can get looked at soon

[2021-10-11 23:29] skinny85 commented on #16889
Ah. This does though:

[code]

Let me see what the problem is.

[2021-10-11 23:34] cokia commented on #16378
https://github.com/aws/aws-cdk/blob/fdd157d2f20303cd6352a47cab872846f7957181/packages/%40aws-cdk/aws-ec2/lib/bastion-host.ts#L68

I think this is already defined.

However, the test code for this has been confirmed to not exist, so it remains to be seen whether it works.

Do we need a test code for this?

[2021-10-11 23:51] gherlein commented on #5573
Thanks to Peter above - two versions of "latest" and one is wrong - and a google search took me to the wrong one.  This is going to be a huge problem for our customers.

[2021-10-12 00:04] #9572 closed

[2021-10-12 07:48] kornicameister opened #16918 "(codedeploy): Allow deployment group/application to implement INoticicationRuleSource"
### Description

![image](https://user-images.githubusercontent.com/1029674/136911751-48e2f1f8-26e5-409e-b446-32e59fbb0a1c.png)
---

From screen above, it seems that configuration (not sure which) code deploy application or deployment group is perfectly possible using web console. So the point is, how can we achieve that with CDK.

FYI: Submitted request to improve `create_notification_rule` in `b

[2021-10-12 11:51] gshpychka commented on #6059
This can be closed @agalazis

[2021-10-12 12:16] federicobarera commented on #9710
When doing that I am getting

 UnhandledPromiseRejectionWarning: Error: Pipeline not created yet.

I am trying to create both the cdk code pipeline and the notification as part of the same stack

[code]

[2021-10-12 13:46] federicobarera commented on #16672
@peterwoodworth is this the same reason why trying to create a notification on a (modern) CodePipeline doesn't seem to work (https://github.com/aws/aws-cdk/issues/9710)

[2021-10-12 14:49] leonaAtkins commented on #16817
Yes, I'm using 1.126 and using Python and still failing with the above error.

Workaround for anyone else facing this.
Add domain to the SpecRestApi and then add this to the aws_route53.ARecord
[code]

[2021-10-12 15:51] tsingh2k15 opened #16924 "(aws-ecs): cdk deploy did not update tags on existing IAM role"
### General Issue

cdk deploy did not update tags on existing IAM role

### The Question

**Scenario:**

Updating resource tags on existing CDK stack via cdk deploy command

**Expected outcome:**
Expecting that the tags will be applied to all child resources.

**Observed outcome:**
Tags did get apply to pretty much all ECS resources except IAM roles (task role and execution role).

**Question:**
I

[2021-10-12 17:30] gshpychka commented on #6059
@agalazis ...you're the one who can close it :)

[2021-10-12 17:31] peterwoodworth commented on #16924
Hey @tsingh2k15,

How are you trying to apply the tags?

[2021-10-12 17:31] jmhossler opened #16927 "(python-lambda): Rate exceeded pulling public.ecr.aws/sam/build-python3.7"
### General Issue

We get a toomanyrequests: Rate exceeded error when pulling

### The Question

In our deployment pipeline (ran on github actions), we synthesize our cdk package. During that process, we get this error:

[code]

Before we do that, though, we make sure to configure out AWS credentials and login to Amazon ECR:
[code]

This happens when we're trying to synthesize our lambda. We've fo

[2021-10-12 18:24] skinny85 commented on #16889
Interesting... you actually **cannot** represent this template in the CDK L1!

This doesn't compile:

[code]

This is probably the reason why it fails including.

@mcuervoe can you edit the template before including it to remove the `Fn::If` there? Either remove it, if `ValcacheServerEnabled` is false, or leave just ` { "Key": "datomic:cache-group", "Value": { "Ref": "SystemName" }, "PropagateAtLa

[2021-10-12 21:00] fknittel opened #16928 "aws-elasticsearch/aws-opensearch: lambda resource synth not stable between linux and windows"
### What is the problem?

Since 1.123.0 the lambda resources brought in by use of aws-elasticsearch constructs produce different synth values for Linux and Windows. This is a problem for us, as we use the synth results as goldenmaster tests and have Windows on the dev machines and Linux on the CI machines.

I assume that this also affects custom Lambdas, but our problem is specifically with the aw

[2021-10-12 21:14] polothy opened #16930 "(codebuild): missing AMAZON_LINUX_2_ARM v2.0"
### What is the problem?

The `LinuxBuildImage` class is missing the build image `aws/codebuild/amazonlinux2-aarch64-standard:2.0`.

I did try to use `LinuxBuildImage.fromCodeBuildImageId` but it sets the type to `LINUX_CONTAINER` instead of `ARM_CONTAINER`.

See also https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html

### Reproduction Steps

None

### What did you

[2021-10-12 21:19] kaizen3031593 commented on #16253
@jaresuth are you still working on this?

[2021-10-12 22:35] pahud commented on #16812
Yes. I'll create the PR today and link back to this issue.

[2021-10-12 23:16] peterwoodworth commented on #16924
Glad you got it figured out @tsingh2k15!

[2021-10-12 23:16] #16924 closed

[2021-10-12 23:30] #16930 closed, assigned to nobody

[2021-10-13 00:04] sophistafunk commented on #6059
I have the same request to customize the user data for the bastion host, however Is there a solution for this in Python? When looking up `BastionHostLinux.Builder` all I am able to find are the java docs [here](https://docs.aws.amazon.com/cdk/api/latest/java/software/amazon/awscdk/services/ec2/BastionHostLinux.Builder.html) for it, I wasn't able to find anything in the docs that indicates this is

[2021-10-13 01:50] chris-smith-zocdoc opened #16933 "(aws-ecs): scaleOnRequestCount should take IApplicationTargetGroup"
### Description

`aws_ecs.ScalableTaskCount.scaleOnRequestCount` requires the targetGroup to be `ApplicationTargetGroup` which prevents it from working with load balancers referenced via `aws_elasticloadbalancingv2.ApplicationTargetGroup.fromTargetGroupAttributes`

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecs.RequestCountScalingProps.html

1.

### Use Case

I'd like to use requ

[2021-10-13 03:34] zarr12steven opened #16934 "(aws-rds): Can't create RDS instance of read replication from source RDS instance"
### General Issue

OK

### The Question

I want to create an RDS read replica from the source RDS instance, but it seems not working.
I follow the [RDS of CDK documentation](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-rds) writes the code below...

### Reproduction Steps

[code]

### Error Log

[code]

### CDK CLI Version

1.127.0 (build 0ea309a)

### Framework Version

1.12

[2021-10-13 03:39] abjoshi2785 opened #16935 "( NAT gateway): private communications"
### Description

Recently AWS has removed NAT Gateway’s dependence on Internet Gateway for private communications. I tried exploring the L2 constructs and coudn't one. Request for a feature request for a L2 construct.

https://aws.amazon.com/about-aws/whats-new/2021/06/aws-removes-nat-gateways-dependence-on-internet-gateway-for-private-communications/

For more details please refer to bug:
https:/

[2021-10-13 03:47] lxop opened #16936 "(pipelines): additionalinputs cannot mount deep directory"
### What is the problem?

As part of a CodePipeline, if I specify an additional input that should be placed somewhere within the primary input tree, that input appears within another directory inside the directory that it should be in.

As an example, with this configuration:
[code]
I would expect the files from `frontend_build` to appear inside `web/dist/` in the tree. However, in fact they appea

[2021-10-13 05:15] abjoshi2785 opened #16937 "(Assets): Allow cdk assets to be stored in centralized account"
### Description

At present CDK supports the asset allocation in the account itself. This is the feature request to allow the assets to be stored in centralized account.

### Use Case

Storage of all the CDK assets in a centralized account. This will limit the number of S3 buckets used for for storing assets, keeping the assets more secured at the centralized location. There should be a flexibilit

[2021-10-13 05:20] mdesouky opened #16938 "(core): setting CfnStackSet auto_deployment property doesn't reflect in the synthesised Cloudformation stack"
### What is the problem?

I'm creating a stackset in python CDK and I'm setting properties like so:
[code]

The resulting synthesised stack is this

[code]

### What did you expect to happen?

[code]

### What actually happened?

[code]

### CDK CLI Version

1.127.0

### Framework Version

1.127.0

### Node.js Version

16.10.0

### OS

Mac os Big sur 11.6

### Language

Python

### Language Versio

[2021-10-13 06:06] #16826 closed

[2021-10-13 10:03] TRANTANKHOA commented on #16703
that doesn't work if the image needs to be referred to in a lambda deployment, since the image isn't available at the time yet I think

[2021-10-13 10:09] sainath-everest opened #16947 "Unable to update assume role policy of existing iam role."
### What is the problem?

Unable to update assume role policy of existing iam role.We are able to do through aws cli using **update-assume-role-policy** but there is no support in cdk.

### Reproduction Steps

- Create iam role
- update the assumed role policy of that role

### What did you expect to happen?

we should able to update assumed role policy of existing role.

### What actually happene

[2021-10-13 10:10] koltysh opened #16948 "(ec2): add X2g instance class"
### Description

"X2g" instance are available now for cloudformation but not CDK

### Use Case

Deploying database with "X2g" Instance class for performance optimization

### Proposed Solution

Add Member X2g instance in enum InstanceClass typescript .
Link to AWS CDK Api references : https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.InstanceClass.html

### Other information

_No re

[2021-10-13 10:16] samkio opened #16949 "(aws-amplify): Cannot update app with custom rules"
### What is the problem?

When updating our CDK stack with an Amplify App to have additional custom rules for redirects the CloudFormation call failed with the inability to update the Amplify app. (See what actually happened).

### Reproduction Steps

Create and deploy an Amplify app with a custom rule, branch and source code provider (in this case GitHub):

[code]

Update CDK with new rules and d

[2021-10-13 11:15] greg5123334 opened #16951 "(aws-ec2): ec2.SubnetFilter.byIds unable to select public subnets"
### What is the problem?

It seems that `ec2.SubnetFilter.byIds` is simply not returning any values for **public** subnets.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.SubnetFilter.html#static-bywbridssubnetids

### Reproduction Steps

[code]

### What did you expect to happen?

See PublicSubnetsExperiment output list public subnets.

### What actually happened?

PublicSubnet

[2021-10-13 11:56] LorenzoCevolani opened #16952 "aws-cdk: Add a Logging option for commands to understand what is being executed and on what."
### Description

Would it be possible to have a logging level that outputs on terminal or on log what commands atomic command is being executed and if it is with success of not.
At the moment this can be found on CloudTrail but there we find a lot of information also coming from other people active on the same AWS account.
Would it be possible to have it on the terminal/log and just regarding the

[2021-10-13 12:06] #16569 closed

[2021-10-13 12:42] nija-at commented on #16566
How are you going to achieve this?
Currently, stripping deprecation is a feature in jsii. Are we going to add it there?
If so, worth engaging @RomainMuller early.

[2021-10-13 13:08] #16802 closed

[2021-10-13 14:10] cpaton opened #16954 "RDS: support passing PreferredMaintenanceWindow to Cluster database instances"
### Description

When creating a DatabaseCluster it should be possible to specify PreferredMaintenanceWindow property for the database instances as per https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html#cfn-rds-dbinstance-preferredmaintenancewindow

### Use Case

Control maintenance window for database instances so maintenance is performed outs

[2021-10-13 14:23] SZubarev commented on #16758
Checked the source code - looks like the permission "autoscaling:CompleteLifecycleAction" should be granted to the target function but it didn't work until I explicitly assigned it to the function.

[2021-10-13 16:15] #16767 closed

[2021-10-13 16:53] jfrconley commented on #16757
Based on that cloudformation, I would almost think this was a cloudformation bug. It seems like there isn't a way to add roles separately from the top level RDS resource so adding a dependency wouldn't fix it. The error we get back seems to indicate that an update is being applied during an unready state for the instance, so the actual execution of the CF would need to change.

[2021-10-13 17:50] fsmikedev opened #16958 "[@aws-cdk/aws-codecommit]: Repo can't find s3 bucket when deployed."
### What is the problem?

I'm trying to create a codecommit repo with the contents of an s3 bucket.

### Reproduction Steps

[code]

### What did you expect to happen?

The test repo would have contents deployed from the s3 bucket.

### What actually happened?

An error when cdk deploy is called.

`51/55 | 18:40:00 | CREATE_FAILED  | AWS::CodeCommit::Repository | test-repo/test-repo (testrepoCE419

[2021-10-13 18:25] donkersgoed-postnl opened #16959 "(CLI): The DefaultStackSynthesizer executes change sets for no-op nested stacks"
### What is the problem?

In an environment with nested stacks, two subsequent deploys without changes between them result in a full (slow) deployment. This has been solved for the LegacyStackSynthesizer (see https://github.com/aws/aws-cdk/pull/6346 and https://github.com/aws/aws-cdk/issues/6046), but the issue is present again with the DefaultStackSynthesizer.

### Reproduction Steps

Using the D

[2021-10-13 18:35] peterwoodworth commented on #16934
Hey @zarr12steven, I'm looking into this to see if i can reproduce it.

Did you try to create the database and replica at the same time? Or did the database already exist and you want to update the stack with a replica

[2021-10-13 19:56] skinny85 commented on #16958
Hey @fsmikedev,

thanks for opening the issue. Can you try this, and see if that helps?

[code]

[2021-10-13 20:39] ahammond opened #16962 "(aws_cloudfront): CacheHeaderBehavior has no "all viewer headers" option"
### What is the problem?

In the CloudFront console, for Origin Request Policies, I see the following options WRT headers:
<img width="604" alt="Screen Shot 2021-10-13 at 1 30 44 PM" src="https://user-images.githubusercontent.com/445764/137208303-ffb3ed00-47b0-4066-94f9-6c23369ee962.png">
However in https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-cloudfront/lib/cache-policy.ts#L

[2021-10-13 20:42] ahammond commented on #16962
Workaround:

[code]

[2021-10-13 21:14] skinny85 commented on #16954
Thanks for opening the issue @cpaton. This should be a relatively simple feature to implement - it means adding the `preferredMaintenanceWindow` property to the [`InstanceProps` interface](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-rds.InstanceProps.html), and then passing it [here](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-rds.InstanceProps.html).

Would you c

[2021-10-13 21:14] alexpulver opened #16964 "(core): Add source code relative file path to the CloudFormation template Metadata"
### Description

Let's take [usermanagement-backend](https://github.com/alexpulver/usermanagement-backend/tree/b34cb9688ab7555127663ca265177109c89c3787) AWS CDK application as an example. It contains a pipeline that defines a production stage. The production stage contains a stateful stack with a database based on a DynamoDB table. Below is the metadata for the DynamoDB table synthesized for the a

[2021-10-13 21:56] skinny85 commented on #16757
Yep, I agree.

[2021-10-14 00:00] peterwoodworth commented on #16415
Hey @lynkfox, thanks for submitting this issue.

I'm unable to reproduce the issue. I see in your `format_arn` function you're capitalizing "Function" and "Lambda", but these should be lowercase. I got a different error when capitalizing these values myself, but turning them to lowercase allowed me to deploy.

Could you create a `CfnOutput` resource and output the `function_arn` string? Thanks

[2021-10-14 00:08] peterwoodworth commented on #16393
Hey @dbuffini, sorry for the long response time.

I can look into this issue tomorrow. In the meantime, I'm curious if there was _any_ difference in your template between the first or second deployment. Can you show me the difference, if there is any?

[2021-10-14 05:34] nija-at commented on #16913
We are aware of this bug and have introduced a fix for this. Unfortunately, we cannot roll out this fix for everyone by default and needs to be opted in.

See https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-readme.html#currentversion-updated-hashing-logic

Can you confirm that this fixes the problem for you?

[2021-10-14 05:48] nija-at commented on #16238
Thanks for submitting this feature request.

I'm marking this as p2 which means we are unable to get to this immediately. We use 👍 and community engagement to determine priority.

[2021-10-14 05:54] tai-acall opened #16971 "(aws-lambda-nodejs): deploy failed while over 40+ lambda functions in a same stack"
### What is the problem?

CDK Deploy failed if I create a stack with over 40+ lambda functions build with aws-lambda-nodejs module.

The root cause is too many lambda function in a same stack and trigger the limit of CloudFormation API.

The only way to deploy this large stack is comment-out about half of lambda function code then retry.

This shouldn't happen if we know there is a limit rate of C

[2021-10-14 06:00] nija-at commented on #16433
Hi @j-ohara,

The "Dimensions for metrics" section in the [API Gateway docs](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-metrics-and-dimensions.html) make available metrics for combination of Resource and Stage.
It is not possible to get the metrics for Resource alone.

Does this satisfy your use case?
If so, in this case, the API will look like -

[code]

[2021-10-14 06:07] #16062 closed

[2021-10-14 06:08] #16608 closed

[2021-10-14 06:08] #16759 closed

[2021-10-14 06:08] markusl commented on #16343
@nija-at we extensively use `toMatchSnapshot` so that whenever developers are doing pull requests, the changed infrastructure code is also visible in the diff and can be reviewed.

The snapshot testing is explained in the CDK docs here: https://docs.aws.amazon.com/cdk/latest/guide/testing.html

We also use the whole-stack snapshot tests to be sure any code refactoring does not change the infrastru

[2021-10-14 06:11] nija-at commented on #16927
switching this back to a guidance issue since it's not a bug. @peterwoodworth

[2021-10-14 06:18] nija-at commented on #16927
Hi @jmhossler -

I'm not entirely sure how `aws-actions/amazon-ecr-login@v1` works and whether it supports public ECR registry.

Have you looked into this - https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html#public-registry-auth?
The doc suggests running -

[code]

Have you tried this?

[2021-10-14 07:25] eladb commented on #16964
@alexpulver I am curious if you could use the stack trace metadata from the [cloud assembly manifest]. The `manifest.json` file in `cdk.out` includes a `metadata` section for each stack with a `aws:cdk:logicalId` entry for each resource, mapped from the construct path and also includes the stack trace which led to the creation of the L1.

Example:

[code]

The only problem with this is that it wil

[2021-10-14 08:15] yashjain24 commented on #16062
So basically I have a role for aws cli access arn:aws:iam::111111111111:role/cdk-dev-deployment-role and it has assume role permissions of another account iam role (example arn:aws:iam::222222222222:role/cdk-prod-deployment-role)

I want to deploy to account 222222222222 with the cli credentials of role arn:aws:iam::111111111111:role/cdk-dev-deployment-role, by assuming that role of account 222222

[2021-10-14 08:16] flo-mair opened #16975 "(msk): Expose Secret when creating new SASL/SCRAM User in MSK"
### Description

The add_user() method allows to add a SASL/SCRAM user to an MSK cluster. This generates a secret in Secretsmanager and associates it with the MSK cluster.

For applications to use it they need permissions on the Encryptionkey and the Secret itself. The Key is exposed via `msk-cluster.sasl_scram_authentication_key` but the secretArn is not.

### Use Case

Granting producer / consum

[2021-10-14 08:41] markusl commented on #16343
@nija-at why is it that you don't plan on supporting snapshot testing CDK applications? It is currently documented and works very well, and the only limitation (AFAIK) is the cloud assembly case.

[2021-10-14 08:55] Dzhuneyt opened #16977 "(aws-cloudfront): Can't create a cache policy that forwards Authorization header and disabled cache"
### What is the problem?

[code]

This is the error that I get when I try to define a `cachePolicy` for a Custom Origin behavior of a CloudFront Distribution, using code like the one below.

I'm already aware of the `cloudfront.CachePolicy.CACHING_DISABLED` (https://github.com/aws/aws-cdk/issues/12461) option but unfortunately this doesn't fit all use cases. For example, if the Custom Origin is an

[2021-10-14 08:58] njlynch commented on #16829
Yes, and no.

The utility function that processes the given domain name doesn't do any special-casing or handling of Tokens. We _could_ simply take Tokens at their face value, but that may be prone to introducing errors, as the domain name *must* be a fully-qualified domain name, including trailing `.`.

The somewhat unintended side-effect is that the function checks for the trailing `.`, and if p

[2021-10-14 09:02] keepler-ivanmarques opened #16979 "(aws_apigatewayv2 - python): Cannot create HttpApi, nor Websockets API"
### What is the problem?

The current build of CDK V2 (rc24) doesn't include aws_apigatewayv2_alpha module included in [documentation](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_apigatewayv2_alpha.html)

This module includes the constructs for HttpApi and WebSocketApi.

### Reproduction Steps

`from aws_cdk import aws_apigatewayv2_alpha as apigw_alpha`

### What did you expect to ha

[2021-10-14 10:39] nlongton opened #16980 "msk: CDK doesn't allow a cluster with multiple authentication methods"
### General Issue

We want to use IAM auth but this is only for Java so we also need TLS for python etc.

### The Question

We want to use IAM auth but this is only for Java so we also need TLS for python etc.
When i use the AWS Console to create a MSK cluster I can select none, TLS and IAM and get multiple connection string. eg:

TLS:
b-1.***.$$$$.kafka.us-west-2.amazonaws.com:9094,b-2.***.$$$$.k

[2021-10-14 10:49] saishandilya opened #16981 "(@aws-cdk/aws-ecs): CreateService error: NetworkConfiguration must be null"
### What is the problem?

Trying to achieve Perform ECS blue/green deployments through CodeDeploy using AWS CloudFormation via CDK.

Reference: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/blue-green.html

Using the above link trying to create the Cloudformation template via CDK, as Cloudformation now supports ECS blue/green deployment.

1. I am using FARGATE to achieve the above

[2021-10-14 12:21] j-ohara commented on #16433
Hey @nija-at ,

That would be the ideal way of using these metrics I think. It would definitely solve my use case while remaining consistent with how it's done elsewhere in CDK.

[2021-10-14 16:00] frankwese commented on #11146
the securityGroups property can contain an empty array
[code]

[2021-10-14 18:11] peterwoodworth commented on #16897
Hey @cesarpball,

The `--role-arn` option determines what arn the CDK makes internal SDK calls to CloudFormation with. Setting an arn here won't affect arns created by your resources.

How are you creating the KMS key? It's possible that you need to configure the role in your [Stack synthesizer](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.DefaultStackSynthesizerProps.html#deployr

[2021-10-14 19:14] mattiamatrix opened #16985 "(@aws-cdk/aws-kinesisanalytics-flink): Add support to Apache Flink v1.13"
### Description

Amazon Kinesis Data Analytics now supports Apache Flink v1.13 ([LINK](https://aws.amazon.com/about-aws/whats-new/2021/10/amazon-kinesis-data-analytics-apache-flink-version-1-13/)).

Please add support to Apache Flink v1.13 to the L2 construct for Kinesis Analytics Flink applications.

### Use Case

Use Apache Flink v1.13 Kinesis Analytics Flink applications deployed with CDK.

###

[2021-10-14 21:50] epalace510 opened #16987 "aws-route53-targets: LoadBalancerTarget always appends the `dualstack` prefix even when not a valid option"
### What is the problem?

When fixing https://github.com/aws/aws-cdk/issues/6271 with https://github.com/aws/aws-cdk/pull/8747, you enforced that all load balancer targets start with the `dualstack` prefix. Network Load Balancers (NLBs) have 2 IP Address types you can configure, IPv4 or dualstack (this was launched [late last year](https://aws.amazon.com/about-aws/whats-new/2020/11/network-load-ba

[2021-10-14 23:53] nkolatsis commented on #5892
The following python work-around using a list of subnet_ids works fine. If you would like to use subnet_name selection or other methods, use the vpc.select_subnets().subnet_ids way as above.

`
subnet_ids = ['subnet-1234', 'subnet-5678']
alb_fargate_service = ecs_patterns.ApplicationLoadBalancedFargateService(self, .....)
cfn_lb = alb_fargate_service.load_balancer.node.default_child
cfn_lb.subnets

[2021-10-15 00:24] aaronce opened #16988 "(lambda-nodejs): esbuild command not found"
### What is the problem?

when using `@aws-cdk/aws-lambda-nodejs` and defining the "entry" property, then running `cdk synth` fails

### Reproduction Steps

fails with the following terminal output:
[code]

Stack code is as follows:
[code]

Project structure looks like this:
- lib/
-- cdk-stack.ts
-- cdk-stack.Resolver.ts

### What did you expect to happen?

Expected that the "entry" property woul

[2021-10-15 01:58] ldecaro commented on #16980
I wonder whether this is related to old codebase. According to [this](https://aws.amazon.com/about-aws/whats-new/2021/09/amazon-msk-multiple-authentication-modes-tls-encryption-settings/) release, MSK recently added the ability to handle a combination of authentication modes.

[2021-10-15 03:40] wttat opened #16989 "(vpc): cant reference a default sg when choosing a existing vpc"
### General Issue

cant reference a default sg when choosing a existing vpc

### The Question

This is my cdk code:

[code]

the sg of fsx works fine when creating a new vpc, but when it comes to using the default vpc or manually choosing a vpc via vpcid, got error for:

**cdk synth**
[code]

how am I supposed to solve this?

### CDK CLI Version

1.128.0 (build 1d3883a)

### Framework Version

_No

[2021-10-15 08:11] moltar commented on #2039
Why was this issue closed? Seems like a useful thing to have

[2021-10-15 08:13] ssaarela opened #16992 "codebuild: option to delete LogGroup when Project is deleted"
### Description

CodePipeline produces predictable CodeBuild project names for Synth and SelfMutate steps, but Assets CodeBuilds have almost random names in comparison. It would be nice if all automatically generated CodeBuild projects would have same naming convention, i.e. use pipelineName as a prefix. Some examples of Assets Codebuild names:

* mainpipelineAssetsFileAsset-RNYksKW84oES
* mainpip

[2021-10-15 09:19] LucianP84 opened #16995 "QuickSight: possibility to choose the role used via CDK"
### Description

Hello,

Is there any possibility to be able to choose the role used by QuickSight via CDK? For the moment we have a manual way via a selector but, as we try to automatize as much as possible, would it possible to have this feature in the CDK also?

Thank You,

![2021-10-14 14_31_01-Window](https://user-images.githubusercontent.com/58596880/137464049-92ccd5b4-257c-43ff-8b04-31ed748

[2021-10-15 09:54] LucianP84 opened #16996 "QuickSight: add the possibility to specify the format for a dataset DATETIME column type"
### Description

Hello,

At present time you can specify the type of a QuickSight dataset column (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-quicksight-dataset-inputcolumn.html#cfn-quicksight-dataset-inputcolumn-type) but in the case of DATETIME you have no possibility to specify the format('yyyy-MM-dd' for example).

Would it possible to implement this feature?

[2021-10-15 09:57] njlynch commented on #16885
Yeah, just about the only way to fix this would be to add a conflicting parameter between the two (e.g., an extra prop to CloudFront's `IFunction`) just for the sake of avoiding this. This might naturally happen in the future, as new capabilities are added to CloudFront Functions.

[2021-10-15 10:52] njlynch commented on #16891
Thanks for the bug report and the detailed write-up!

[2021-10-15 11:37] LucianP84 opened #16998 "QuickSight: possibility to schedule the SPICE refresh via the CDK"
### Description

Hello,

At present time we can do this manually. Would it be possible to include the possibility in the CDK for this?
![2021-10-15 13_33_24-Home](https://user-images.githubusercontent.com/58596880/137480633-8c390ef1-d569-4900-947c-322ffb6f74bd.jpg)

### Use Case

To automatize as much as possible the QuickSight dataset creation.

### Proposed Solution

https://docs.aws.amazon.com/

[2021-10-15 12:52] adrian-gforces opened #16999 "aws-cdk/aws-logs: Cannot add dimensions to MetricFilter"
### Description

It is possible to add dimensions to a metric filter via the console, but this functionality does not seem to be carried through into  CDK.

I expected to be able to add dimensions via metric filter props, but I could only add them to the metric itself and that did not work:

[code]
There is no mention of dimensions at all in the documentation: https://docs.aws.amazon.com/cdk/api/l

[2021-10-15 13:26] otaviomacedo commented on #16980
Yes, I believe that's the issue. I'm marking this as a `p2` feature request. We welcome contributions from the community. If you can submit with a PR to resolve this, I'll be happy to review it.

[2021-10-15 14:00] nlongton commented on #16980
I’ll see If I can work out how to do it – would you want this in v1 or v2 of the CDK?

From: Otavio Macedo ***@***.***>
Sent: Friday, October 15, 2021 2:26 PM
To: aws/aws-cdk ***@***.***>
Cc: Longton, Nigel ***@***.***>; Author ***@***.***>
Subject: Re: [aws/aws-cdk] msk: CDK doesn't allow a cluster with multiple authentication methods (#16980)

I wonder whether this is related to old codebase. Ac

[2021-10-15 14:13] mlipshultz-bb opened #17002 "(aws-events-targets): Use custom resource policy for CloudWatch Log Group event target"
### General Issue

CloudWatch Log Group event target always creates resource Policy

### The Question

When I deploy a stack using the following code, CDK is automatically creating a custom resource to create a CloudWatch resource policy and results in hitting the maximum CloudWatch resource policies of 10 per region:
[code]
I'm wondering if there is a way to use an existing CloudWatch resource po

[2021-10-15 15:12] samlachance commented on #546
+1

[2021-10-15 15:41] sjbthfc2 opened #17004 "Amazon.CDK.AWS.ECS: Adding a new target to an existing ECS Fargate service causes resource exists error"
### General Issue

Cannot add a an existing ECS Fargate Service as a target to a Network Load Balancer Target Group

### The Question

Hi,

We are trying to add a container and port from an existing FargateService to a NetworkLoadBalancer NetworkTargetGroup. This seems fine and the CDK code builds, but during deployment it fails with:

Requested update requires the creation of a new physical resou

[2021-10-15 16:39] ranma2913 commented on #4241
I'll use this right away! any idea when it might go in?

[2021-10-15 16:49] joekendal opened #17007 "(@aws-cdk/aws-lambda-go): how to add source code to the .zip file"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-go-readme.html

### Describe your issue?

Seeking guidance for usage with bundling source code inside the .zip.

Currently the documentation shows before and after hooks but is not clear how to add source code to the .zip file.

For example, say we want to build it as usual but then add the source files to t

[2021-10-15 18:49] skinny85 commented on #2039
Fair enough @moltar. I just want to emphasize that [contributions](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) for this functionality are very much welcome 🙂.

[2021-10-15 18:56] mattiamatrix commented on #16985
I think it's not available in Cloudformation yet https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kinesisanalyticsv2-application.html#cfn-kinesisanalyticsv2-application-runtimeenvironment

[2021-10-15 18:59] #11199 closed

[2021-10-15 19:51] poWer4aiX opened #17009 "(assertions): Capture captures value from last resource with matching type, not matched props"
### What is the problem?

I used `Template.findResources()` to filter for one resource in a stack, by type and value of the `Name` tag. For one property I used a `Capture()`. My expectation was that the captured value will be the one of the resource found, which was not the case. Instead, it was the value from the resource in the stack matching just the given type.

### Reproduction Steps

[code]

[2021-10-15 19:57] peterwoodworth commented on #16477
Hey @jgsqware, I'm struggling to see how this issue relates to the CDK since you haven't provided any CDK code or commands

If something you're trying to do isn't working with the CLI there likely isn't an issue with the CDK here.

[2021-10-15 20:36] #16611 closed

[2021-10-15 22:05] peterwoodworth commented on #16947
Hey @sainath-everest,

This is because you cannot actually modify imported resources. See our documentation [here](https://docs.aws.amazon.com/cdk/latest/guide/resources.html#resources_importing) on imported resources. Specifically:

[2021-10-15 22:05] Avinm opened #17010 "(aws-elasticloadbalancingv2): NetworkTargetGroupProps does not expose connection_termination attribute"
### Description

CDK does not expose a mechanism to set `deregistration_delay.connection_termination.enabled` property for NLB targets.

Docs: https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_TargetGroupAttribute.html

### Use Case

To customize the value for `connection_termination` attribute when defining NLB via CDK.

### Proposed Solution

Expose a mechanism to set a va

[2021-10-15 22:06] #16947 closed, assigned to peterwoodworth

[2021-10-15 22:18] TheSPD opened #17011 "(aws-dynamodb): DeletionPolicy is not propagated to replicas"
### What is the problem?

When a Table is created with multiple replicationRegions, the retention policy is not propagated to the `Custom::DynamoDBReplica` resources that get created under cloudformation.

### Reproduction Steps

1. Create a table using with multiple replica regions

[code]

2. Deploy CDK Stack
3. Remove Table from code and redeploy CDK Stack

### What did you expect to happen?

w

[2021-10-15 22:19] moltar commented on #2039
Is there a JSON Schema for buildspec?

Maybe we can use something like that to codegen a type?

[2021-10-15 22:33] peterwoodworth commented on #16949
Thanks for reporting this @samkio

I have reported this internally. Tracking: P53923112

[2021-10-15 23:10] peterwoodworth commented on #16971
Hey @tai-acall, I'm going to relabel this as a feature request, seeing as everything here is working as intended.

Can you clarify what exactly you mean here?

Thanks

[2021-10-15 23:21] #16981 closed

[2021-10-16 01:10] peterwoodworth commented on #16989
Hey @wttat,

Looking up a VPC will return an [IVpc](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.IVpc.html), which doesn't contain any information about the VPC's security groups. You will want to look up a security group independently using the [`SecurityGroup.fromLookup()`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.SecurityGroup.html#static-fromwbrlooku

[2021-10-16 01:19] peterwoodworth commented on #17002
I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization. We are also always welc

[2021-10-16 01:26] wttat commented on #16989
thx for the explanation.
Just one more question, I am need to choose the default security group from the vpc, but if the IVpc does not contain that info, and the SecurityGroup.fromLookup() method need the SG id from the beginning. is there any solution for me to manually select a vpc then get it default SG?

[2021-10-16 03:46] maletor opened #17013 "pipelines: unable to create dynamo global table"
### General Issue

Cannot use reference architecture to deploy Lambda and Dynamo Global Table

### The Question

This architecture (see: below), is impossible to model on aws-cdk with pipelines, so far as I can tell.

One issue is you can't reference the dbStack from within the ComputeStack cross region.

The other issue is you don't want to deploy the DatabaseStack twice. It's just one deploy (wi

[2021-10-16 06:25] raajheshkannaa opened #17014 "(CDK Pipelines): Ability to have CDK Pipelines as events target"
### Description

We have existing capability to add `Codepipeline` as a target for an cloudwatch event or event bridge event, however we can't do the same for `CDK Pipelines` yet.

### Use Case

`Codepipeline` and `CDK pipelines` differ in various use cases and is preferred over each other for different reasons, with self mutation being the biggest advantage.

### Proposed Solution

Similar method

[2021-10-16 08:23] sebdec commented on #16624
Thanks Peter, I think it's related indeed.

[2021-10-16 10:17] jasonumiker commented on #4159
So I did the above with a AwsCustomResource and it worked great until we wanted to create a FargateProfile. Even adding an explicit dependency from the FargateProfile on the logging custom resource didn't help - it fails with a "you can't update the logs while we are creating a Fargate Profile" error. Having fought with it all day I am now having to look at going lower level to a Lambda-backed cus

[2021-10-16 10:50] jogold commented on #16988
Cannot reproduce on Windows 10.

How is `esbuild` installed and which version?

[2021-10-16 12:05] nom3ad opened #17016 "(opensearch): missing validation on domainName property"
### What is the problem?

Currently, `opensearch.Domain` allows any string value to be used as domainName, this could fail CloudFormation deployment

### Reproduction Steps

[code]

### What did you expect to happen?

CDK should not allow invalid domain name

### What actually happened?

CloudFormation deployment failed:
[code]

### CDK CLI Version

1.124.0 (build 65761fe)

### Framework Version

[2021-10-16 22:49] NukaCody opened #17023 "(aws-eks): EKS Cluster does not respect vpcSubnets"
### What is the problem?

When using aws-eks to provision a cluster, I pass in explicit subnets. However, the underlying node group uses different sunbets.

### Reproduction Steps

[code]

Intended CFN Output. These subnet Ids correlate to "Ingress" and "Application" subnets

[code]

However, these subnets correlate to a database subnet (which has NACLs applied to only allow DB traffic) causing th

[2021-10-17 15:03] jumic commented on #16948
Instance class X2g for RDS was announced in this [article](https://aws.amazon.com/about-aws/whats-new/2021/09/amazon-rds-x2g-mysql-mariadb-postgresql/).

From my point of view, X2g is a special instance class because it is only supported by RDS. The [list of EC2 instance types](https://aws.amazon.com/ec2/instance-types/) does not contain value X2g at the moment.

Can we just add value X2g to enum

[2021-10-17 18:26] otterley opened #17027 "(cloud9): Add support for SSM connection type"
### Description

Add support for SSM connection type as per https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloud9-environmentec2.html#cfn-cloud9-environmentec2-connectiontype

### Use Case

This will make it easier for customers to install their Cloud9 environments into private subnets while still allowing access to the IDE via the console.

### Proposed Solution

Add

[2021-10-17 23:54] mdesouky commented on #16938
@peterwoodworth bother properties in there `enabled` and `retain_stacks_on_account_removal` if I don't create a new object of the type `cdk.CfnStackSet.AutoDeploymentProperty` I get an empty object in cloudformation, but if that's the way it's supposed to be then fine, it's just that other properties actually work differently like
[code]
could also be done like so
[code]

[2021-10-18 01:17] micheal-hill commented on #4159
@jasonumiker in our case we're using Fargate, but the logging config is set _after_ Fargate has been setup. We're also using `eks.FargateCluster` in case that's relevant.

[2021-10-18 01:19] jasonumiker commented on #4159
Thanks - yeah I eventually tried flipping the dependency and that seems to work 🤞

[2021-10-18 01:39] invke opened #17030 "(@aws-cdk/assert): toMatchInlineSnapshot raises dependency error (for prettier)"
### What is the problem?

The `@aws-cdk/assert` has a dependency on `prettier` when using `toMatchInlineSnapshot()`. I only really used the method to see the matched output when working with someone. Not really a critical issue but I thought it'd be good to capture.

### Reproduction Steps

Run a snapshot test using `toMatchInlineSnapshot()` when `prettier` is not listed as a direct dependency of

[2021-10-18 01:55] invke opened #17031 "(@aws-cdk/assert): ability to use expect.arrayContaining matches with haveResourceLike"
### Description

One of the first things I tried doing when testing and writing fine-grain assertions, was splitting pieces of my resource assertions into more specific tests. So I attempted something like:

[code]

It was a more noticeable pain point when using CDK with some of the low-level bindings like that of EB setups.

### Use Case

To make it easier to write fine-grain assertions on nested

[2021-10-18 04:55] gkubes opened #17032 "(aws-redshift): KmsKeyId uses KeyArn instead of KeyId"
### What is the problem?

When a Cluster is created the `KmsKeyId` property is built using the KeyArn instead of the KeyId.

### Reproduction Steps

[code]

### What did you expect to happen?

[code]
 or

[code]

### What actually happened?

[code]

### CDK CLI Version

1.126.0

### Framework Version

_No response_

### Node.js Version

12.0

### OS

Amazon Linux 2012

### Language

Typescript

##

[2021-10-18 06:27] engineerlance commented on #16868
Hey @peterwoodworth , thanks for reaching out!
I had thoroughly read all of those issues. Re-bootstrapped my account with many versions, spanning from 5 to 8. The only way I got it to work was by manually changing the bucket policy of the assets bucket.
I absolutely love the CDK pipeline construct, but still a bit unsure as to why these permission issues arise. I will close this issue as I did get

[2021-10-18 07:26] adsimone-aws opened #17033 "(CloudTrail): ability to import Trail"
### General Issue

get existing trail from environment

### The Question

I am trying to include a trail in a stack. The issue is that, in some aws accounts, the trail may already exist. In this case, I want the stack to include the trail from the environment (pretty much the same as I can do already with an s3 Bucket or an IAM role). We have some automated testing in place that checks things like

[2021-10-18 08:48] dbluxo commented on #14353
I am a bit irritated, since it was officially announced [here](https://aws.amazon.com/blogs/mt/amazon-managed-service-for-prometheus-is-now-generally-available/) that the AMP service can already be built via CDK. What am I missing? :thinking:

[2021-10-18 09:30] suds-sky commented on #5722
We are having same issue with our CDK app. Is there any update on this one, please. It will improve our dev workflow with nested stacks

[2021-10-18 10:27] njlynch commented on #16977
This configuration (no cache, but forward the Authorization header) does not appear to be supported by CloudFront.

https://aws.amazon.com/premiumsupport/knowledge-center/cloudfront-authorization-header/

I believe the recommendation here would be to set a maximum TTL of 1 second, but a default/minimum of 0. This won't necessary mean all request are cached for 1 second; this depends on whether or

[2021-10-18 10:27] #16977 closed

[2021-10-18 10:49] #16432 closed

[2021-10-18 10:52] njlynch commented on #17010
Thanks for the feature request.

In the interim, as a workaround, you can use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to set the attribute.

We welcome community contributions! If you are able, we encourage you to [contribute](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md).

[2021-10-18 13:40] encron opened #17035 "(aws-ec2): SubnetType.PRIVATE_WITH_NAT selection with imported VPC also returns isolated subnet(s)"
### What is the problem?

When a vpc is imported via f.e.:

[code]

and the subnets are fetched using the `selectSubnets` function with the `PRIVATE` or `PRIVATE_WITH_NAT` type, subnets without a NAT route will also be included in the selection.

### Reproduction Steps

1. Create a VPC with both private subnets that have a route to a NAT gateway/instance and one or more private subnets with only a

[2021-10-18 13:57] moshe-shaham-dt commented on #5974
This makes working with nested stacks almost impossible...

[2021-10-18 14:35] alexjfisher commented on #10366
@rix0rrr Would you consider reopening this? #10112 didn't help as the tags aren't available to filter by.

[2021-10-18 15:23] gkubes commented on #17032
I wasn't able to confirm if this prevents successful deployment but it can impact the ability to migrate from vanilla CFN to CDK because the change from KeyId to KeyArn triggers an encryption change in the cluster.

[2021-10-18 15:24] madeline-k opened #17038 "[CDKv2GA]: Remove stability banners for Cfn constructs from alpha modules READMEs"
We need to remove the stability banner for the Cfn constructs when generating the alpha modules, since the alpha modules do not contain these constructs.

The alpha modules are generated in: https://github.com/aws/aws-cdk/blob/master/tools/@aws-cdk/individual-pkg-gen/transform-packages.ts

[2021-10-18 15:33] rayjanwilson opened #17039 "(aws-codepipeline-actions): custom-action-registration and common are not exported in index.ts"
### What is the problem?

When you want to create your own custom action, you need to register it. Using `CustomActionRegistration` from `custom-action-registration.ts` makes this easy, and it's already exported from that ts file. However, to use it as part of the `@aws-cdk/aws-codepipeline-action` module, that class needs to be exported on the `index.ts` file in that directory. Currently, the con

[2021-10-18 15:33] rtimush opened #17040 "(custom-resource/provider-framework): distinguish between creation and update errors when handling Update requests"
### Description

Currently, if the `onEvent` handler fails when processing an `Update` event, it has no way to tell the framework whether it failed to update the existing resource or to create a replacing one. The framework always assumes the former and reuses the existing PhysicalResourceId. This, in turn, makes CloudFormation to execute another update when rolling back, which does not work.

It

[2021-10-18 16:05] rantoniuk opened #17042 "(codepipeline): conditional stage"
### Description

Support CloudFormation conditions in aws-codepipeline.

### Use Case

There is a pipeline consisting of multiple stages aka environments, e.g. TEST -> LOAD -> PROD.
I would like to be able to by default deploy to all those ENVs but from occasionally to skip deploying to one of the environments, e.g. TEST -> LOAD (skipped) -> PROD.

### Proposed Solution

As described here, it seem

[2021-10-18 16:09] YvesIraguha commented on #7670
This works too, in case you are using CloudFormation `.yml` template or `serverless.yml`

[code]

[2021-10-18 16:12] kaizen3031593 commented on #17031
Hi @invke! Though I can't comment much about the assert module you're using, I want to let you know that the modern CDK testing library is the [Assertions](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/assertions) module. Would love to see you test that out and let us know if you still have similar pain points! Off the top of my head I _think_ you'd be able to do what you're askin

[2021-10-18 16:15] kaizen3031593 commented on #17030
Hey @invke, similar to your other question can you try snapshot testing using the modern [Assertions](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/assertions) library? The README claims that snapshot testing is supported in jest so let me know if that's not the case!

[2021-10-18 16:25] comcalvi opened #17043 "(cli): Hotswapping support for Lambda Versions and Aliases"
### General Issue

How should Lambda Versions and Aliases be hotswapped?

### The Question

The expected behavior when hotswapping Lambda Functions that make use of Versions or Aliases is not clear. Please :+1: this issue and add comments explaining your desired behavior and use cases if you would like to see hotswapping be able to modify Lambda Versions and Aliases.

Versions:
* What should happe

[2021-10-18 16:54] dillon-odonovan commented on #1559
You can't specify the launchType on the CfnService, it needs to be set on the TaskSet. If you follow the AWS sample closely you should not have issues. Currently you can't use an L2 construct for the service, you have to use the L1 CfnService. Your service will deploy on Fargate if you TaskSet and Blue Green hook are configured correctly despite not specifying Fargate as the launchType on the L1/L

[2021-10-18 19:24] Frozenlock opened #17044 "(@aws-cdk/aws-cognito): preventUserExistenceErrors? default isn't respected"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cognito.UserPoolClientProps.html#preventuserexistenceerrors

### Describe your issue?

[Documentation](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cognito.UserPoolClientProps.html#preventuserexistenceerrors) states that the default value for `preventUserExistenceErrors?` is `true` (enabled

[2021-10-18 19:29] #16938 closed

[2021-10-18 20:23] peterwoodworth commented on #17004
Hey @sjbthfc2,

I'm pretty sure what's going on here. When you defined your `service`, did you specify the `serviceName`? This will assign the [physical name](https://docs.aws.amazon.com/cdk/latest/guide/resources.html#resources_physical_names) of your resource to whatever you set. This is not recommended by the CDK, because

This happens because when Cloudformation needs to [replace](https://docs

[2021-10-18 21:37] skinny85 commented on #17043
@iph it's a CDK feature: https://www.npmjs.com/package/aws-cdk#user-content-hotswap-deployments-for-faster-development

[2021-10-18 22:35] iph commented on #17043
Thanks!

So, I personally haven't touched the Version resource in like 3 years, but it's a mine-field. Luckily the actual backing "what we are attempting to do" is actually super simple!

### Summarized thoughts

I think if `currentVersion` is specified, always try a PublishVersion api call, and wherever the Version resource is referenced, update with the new version arn (or the same one idempoten

[2021-10-18 22:53] SamStephens opened #17048 "(aws-lambda-python): standard pattern for Lambda unit tests"
### Description

It'd be great to have official guidance/patterns as to how to do unit tests of the code a Python lambda contains. I've failed to find any official guidance for either aws-lambda-python or aws-lambda in general. It's hard to find bloggers who have solved this challenge also.

### Use Case

So I can solve this problem in a standard way other CDK developers will know how to work with

[2021-10-18 22:55] peterwoodworth commented on #17035
Hey @encron, thanks for reporting this issue.

I understand why there's confusion here. The name seems to imply that it does check for a NAT route, but this isn't the case. Read the description of [this pr](https://github.com/aws/aws-cdk/pull/16348) for more context behind the naming convention.

[2021-10-18 23:23] rationull opened #17049 "(aws-dynamodb): overly-permissive dynamodb:ListStreams grant"
### General Issue

ITable.grantStreamRead(IGrantable) grants ListStreams permission to `*` resource instead of only to the relevant table

### The Question

Using `ITable.grantStreamRead(IGrantable)` results in a resource policy granting `dynamodb:ListStreams` permission to `*` resource ([relevant code](https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-dynamodb/lib/table.ts#L668-L67

[2021-10-18 23:24] rittneje commented on #16898
@njlynch I actually don't like what was proposed in aws/aws-cdk-rfcs#25, as it seems like it still requires developers to constantly know to do things the right way. For example, under the original proposal, they would need to always use some special Stack subclass to get the right `getPropsForResource` implementation. And under one of the counter-proposals, they would need to know to indirectly c

[2021-10-18 23:29] skinny85 commented on #17027
Thanks for opening the issue @otterley! We encourage community contributions, so if you'd like to open us a Pull Request adding this feature, that would be fantastic! Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-10-18 23:30] rittneje commented on #11814
Seems like support was added to CloudFormation for this, but it hasn't been officially released yet due to some security review. https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-logs/pull/53

I assume once that goes through, support can be added to CDK without much difficulty?

[2021-10-18 23:33] #12707 closed

[2021-10-19 00:17] invke commented on #17030
Hey @kaizen3031593, shifting to use #17031 works fine. The `@aws-cdk/assert` library does support snapshot tests fine, just if you try use the `toMatchInlineSnapshot` method without having explicitly declared `prettier` as a dependency in your `package.json` then you get this error. Not a particularly big deal, as I imagine most would use the `toMatchSnapshot` method.

[2021-10-19 00:18] #17049 closed, assigned to nobody

[2021-10-19 00:32] Jerry-AWS commented on #7475
That was PR https://github.com/aws/aws-cdk/pull/11470, sorry

[2021-10-19 08:05] #16249 closed, assigned to nobody

[2021-10-19 08:05] #16270 closed

[2021-10-19 09:07] #5137 closed

[2021-10-19 09:32] Miradorn commented on #5137
As i see it this is only fixed for ASG as of #16052 and not for ec2 (see #16051 for that). Correct?

[2021-10-19 09:38] cristianrat commented on #4907
what a joke and because of these kinds of issues we're actively working towards getting rid of cdk and replacing it

[2021-10-19 09:43] cristianrat commented on #4907
and to be productive, my work around is to use boto3 to tag (very quick and simple, if you are on the python flavour of cdk)

[2021-10-19 09:46] jddsc opened #17051 "CfnTransitGatewayVpcAttachment throwing GeneralServiceException"
### What is the problem?

I am trying to create a TransitGatewayVpcAttachment using `aws-cdk` and it is throwing GeneralServiceException. Using the equivalent code on `boto3` the attachment is created.
Note: In both scenarios, we are **using the same user**.

### Reproduction Steps

Using aws cdk with the following scratch:

[code]

boto3 scratch:

[code]

### What did you expect to happen?

I was

[2021-10-19 10:01] #16444 closed

[2021-10-19 10:15] jimfum commented on #8615
I also have the above issue and have come up with the same CfnMethod workaround. Couldn't believe there isn't anything better, anything official without Cfn and that maybe `defaultMethodOptions` isn't popular enough(?).

SAM has a solution for it though `AddDefaultAuthorizerToCorsPreflight` (https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-property-api-apiauth.htm

[2021-10-19 11:20] MarkRobbo opened #17053 "(lambda): Imported functions don't have account & region set correctly"
### What is the problem?

Importing a lambda function from ARN using `fromFunctionArn` does not result in the correct region and account being used from the ARN.

Looking at the code this is a similar bug to #11199, `environmentFromArn` is not provided in the `Import`

### Reproduction Steps

Either

[code]

or

[code]

### What did you expect to happen?

Expected `lambda.env.region === 'us-east-1

[2021-10-19 11:36] Lukas-Franz opened #17056 "(aws-cloudwatch): AlarmStatusWidget doesn't support states filter"
### Description

Support setting the "states" property on the AlarmStatusWidget to filter alarms based on their current state.
The API supports this as described in the documentation: https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/CloudWatch-Dashboard-Body-Structure.html#CloudWatch-Dashboard-Properties-Alarm-Widget-Object

There is currently no possibility to set this property wi

[2021-10-19 11:47] RobertoTorino commented on #4701
When deleting the stack and redeploy, the change in the stack description is still not visible.

[2021-10-19 13:09] stuartgraham opened #17057 "Quicksight CfnDataSource - mandatory parameters"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_quicksight/CfnDataSource.html#

### Describe your issue?

Based on 1.128.0 testing, the following parameters are mandatory, not optional:
- aws_account_id
- data_source_id
- type

[2021-10-19 15:21] #16417 closed

[2021-10-19 17:05] skinny85 commented on #16757
Hmm, that's kind of insane - why would the number of Policies matter? 🙂

I feel like the RDS service is doing something weird here. However, I'm open to changing the implementation here to use multiple policies.

[2021-10-19 17:11] federicobarera opened #17058 "(pipelines): CodePipeline modern api - control over underlying resources"
### Description

In the constructor properties of modern `@aws-cdk/pipelines` CodePipeline, allow more control over associated artifacts buckets, crossRegion artifact buckets, and code build configurations.

Providing the underlying pipeline object as here (https://github.com/aws/aws-cdk/pull/10148/files) is cumbersome.

### Use Case

When creating and deleting multiple cross region pipelines a da

[2021-10-19 17:49] fsmikedev commented on #16958
Thanks.

Still no luck, same issue...I did find this post on stackoverflow, I've already added the BucketDeployment dependency to the repo.

[https://stackoverflow.com/questions/63230623/aws-cdk-s3-to-codecommit-deployment](https://stackoverflow.com/questions/63230623/aws-cdk-s3-to-codecommit-deployment)

[2021-10-19 18:40] jzhn opened #17059 "lambda-layer-node-proxy-agent: package.json not found"
### What is the problem?

Since [CDK 1.126.0](https://github.com/aws/aws-cdk/releases/tag/v1.126.0), my code using __monocdk__ to create a simple EKS Cluster with CDK was broken with below exception.

Looks like a new module, [lambda-layer-node-proxy-agent](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/lambda-layer-node-proxy-agent), was added, and EKS `Cluster` is internally usin

[2021-10-19 18:47] #17016 closed, assigned to kaizencc

[2021-10-19 18:49] chu-yik opened #17061 "[@aws-cdk/lambda-layer-node-proxy-agent]: [monocdk] error when building EKS cluster with monocdk import"
### What is the problem?

When using `monocdk/aws-eks` to build a stack containing an EKS cluster, error is thrown about missing `lambda-layer-node-proxy-agent/layer/package.json`. This started happening on monocdk 1.126+

it looks like the `package.json` is not copied by monocdk (comparing to directly importing `aws-cdk/aws-eks`).

### Reproduction Steps

(with monocdk 1.126+)
---
[code]

This st

[2021-10-19 22:19] jpSimkins commented on #16247
After spending some time trying to figure out what was happening, I finally have a working example and this helped me identify the issue. It seems that this happens once I add ApiGateway with Lambda. I also believe I have identified the issue as giving the Lambda the same role as the ECS Service seems to be the culprit here.

In the code below, if you do not enable `ENABLE_API_GATEWAY` then this w

[2021-10-19 22:54] okonon commented on #10366
I am also interested in this. I have vpc created using terraform with 2 private subnets and 2 db subnets. I am looking for a way to filter out db subnets out of all matched subnets with type `SubnetType.PRIVATE_WITH_NAT`

[2021-10-19 23:29] #17059 closed, assigned to rix0rrr

[2021-10-20 00:39] julienbonastre commented on #15425
Hey @mattvanstone . So just to confirm, is the target assumeRoleArn the same each time or does it switch between different account ID's?

I have a pattern which uses AWS Custom Resources in this fashion too for manipulating remote/spoke account Route53ResolverRule associations via SDK API, however what I found is that this was due to the singleton lambda trying to reissue the API call with the rol

[2021-10-20 00:43] jmhossler commented on #16927
This seemed to fix our issue, thanks! We haven't seen it again since we added that as part of our pipeline.

[2021-10-20 01:08] gkubes opened #17064 "(aws-redshift): Tables are always created with a suffix"
### What is the problem?

When creating a Redshift table using the Table construct the table are always created with a suffix. Looking at the code it appears that this should be an optional behavior.

### Reproduction Steps

Create a table
[code]

and build CDK to generate CFN

[code]

Notice that `generateSuffix` is set to false which would mean that my table should simply have the name `s.my_tab

[2021-10-20 02:54] SamStephens opened #17066 "(cdk): Ability to do a dry run build without an AWS account"
### Description

Add a `cdk` command line option to allow the parts of synthesis that do not require an AWS account to occur. Or maybe an option to synth? `cdk synth --dry-run`?.

My knowledge of the internals is not great, but watching unit tests run, it looks like a lot can be done without AWS credentials. I'd see this command basically doing the same work that occurs when the default unit test

[2021-10-20 06:14] zacyang commented on #6692
At least could we have the `ScanOnPush`  configuration exposed?

[2021-10-20 07:01] fab-mindflow opened #17067 "@aws-cdk/pipelines: CodeBuildStep.envFromCfnOutputs limited to 1000 chars"
### What is the problem?

It looks like `CodeBuildStep.envFromCfnOutputs` property is limited to 1-1000 characters. When injecting variables, it can quickly reaches this limit and the CodePipeline build fails with:

[code]

### Reproduction Steps

Include many environment variables from CloudFormation output in `CodeBuildStep.envFromCfnOutputs`.

### What did you expect to happen?

CodeBuildStep s

[2021-10-20 07:45] sjbthfc2 commented on #17004
Hi @peterwoodworth, removing physical names has solved that issue. Many thanks for your help and guidance.

[2021-10-20 07:45] #17004 closed

[2021-10-20 08:04] cesarpball commented on #16897
Hey @peterwoodworth ,

Thanks for your reply. The KMS keys are created automatically using the CDK pipelines constructor as I have on cdk.json

`"@aws-cdk/aws-kms:defaultKeyPolicies": true,`

As far as I know,
[code]
The **cross_account_keys=True** would be created the KMS keys to make the cross accounts deployment using the CDK Pipelines. So I guess those KMS are the default one's.

[2021-10-20 08:04] #16320 closed

[2021-10-20 09:20] miekassu commented on #2041
still relevant

[2021-10-20 09:39] #16952 closed, assigned to rix0rrr

[2021-10-20 13:08] sekrupke opened #17073 "(aws-frauddetector): Documented field "defaultValue" requirement does not match actual requirement"
### link to reference doc page

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-frauddetector-detector-eventvariable.html#cfn-frauddetector-detector-eventvariable-defaultvalue

### Describe your issue?

The documentation of the Fraud Detector (CfnDetector) says that the field "defaultValue" of a EventVariable is **not** required:
![requirement_doc](https://user-images.

[2021-10-20 14:03] #16936 closed, assigned to skinny85

[2021-10-20 14:32] mattvanstone commented on #15425
@julienbonastre In my scenario the target assumeRoleArn is always the same arn, so you would think it would work, but if I trigger an onCreate and then immediately update the stack and trigger an onUpdate or onDelete the lambda is executed again, but the second time it already has the role from the onCreate and then it is passed the assumedRoleArn parameter again and tries to assume it, but the la

[2021-10-20 14:42] McDoit commented on #7447
@eladb Dunno if you will notice this, but i stumbled across this issue and would love to ge some pointers on how to do that!

[2021-10-20 15:17] ryparker commented on #17061
Upgrading to p0 since this is a blocking regression of a service that is highly depended on.

[2021-10-20 16:29] anorth848 opened #17077 "pipelines.CodeBuildStep: Support role parameter in underlying aws_codepipeline_actions.CodeBuildAction call"
### Description

The default behavior of `aws_codepipeline_actions.CodeBuildAction` when you do not pass in parameter `role` is `Default: a new Role will be generated`. This parameter is not exposed through pipelines.CodeBuildStep, so a new role is created for CodePipeline to assume in order to execute each action added to the pipeline. This is leading to many roles being created and a very verbos

[2021-10-20 17:39] jtmthf opened #17080 "(aws-rds): create an aurora read replica cluster from an rds instance"
### Description

The ability to create an aurora DatabaseCluster that is a read replica of an existing RDS instance.

### Use Case

As described in the aurora migration docs https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraPostgreSQL.Migrating.html#AuroraPostgreSQL.Migrating.RDSPostgreSQL.Replica, one proposed approach is to create an aurora read replica cluster of an existing rd

[2021-10-20 18:27] peterwoodworth commented on #16989
Thanks for the response @jumic

I'll try to get your proposed solution gets looked at soon, this is highly desired by customers so it should be high priority :)

[2021-10-20 18:27] #16989 closed

[2021-10-20 19:27] ahammond commented on #12120
@ayozemr you must use a CMK and not `sqs.QueueEncryption.KMS_MANAGED` for this. Otherwise you can't grant the SNS permissions necessary to publish to your queue. And yes, that's kind of the point of this bug. At the very least, IMHO, cdk should throw an error if you try to `.addSubscription()` to an encrypted queue without having the CMK, etc set up.

[2021-10-20 20:33] adriantaut commented on #16742
Hello @rix0rrr , thank you a lot for your reply. Indeed, this is my conclusion also in how tags applied at `Stack/App` level are propagated to all resources, no matter `excludeResourceTypes` or `tags removal` is used.

Applying the Tags at Stack/App level and having all the lower level resources inheriting them has lots of benefits and it made our life easier.

Unfortunately, with a strict policy

[2021-10-20 20:39] blimmer opened #17082 "(aws-lamdba-nodejs): esbuild + yarn berry monorepo + bundling.nodeModules fails in CI"
### What is the problem?

When using a `yarn` monorepo layout (as described in the [Reference Architecture](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-nodejs-readme.html#reference-project-architecture)), an issue occurs on CI platforms when `esbuild` tries to bundle the lambda function.

Upon bundling an error like this appears:

[code]

The problem is because `yarn` automatically

[2021-10-20 21:36] SamStephens commented on #17066
It's not just convenience. It's discoverability. I had no idea that this was how you'd deal with the issue, it's not that obvious if your knowledge of the CDK internals is not that deep. Having it a flag of `cdk synth` puts it there in the documentation easy to find.

How do I tell my application it's in dry-run mode? I cannot find any reference to this in the documentation.

[2021-10-20 21:41] iamjaekim commented on #15891
We were also impacted by this error as well.
One interesting I found from CloudFormation log was, when this error started, it triggered a new resource create which wasn't the case according older log set

What it was :

[code]

When error occured:

[code]
`2021-10-20 12:01:04 UTC-0400 | Some ID | UPDATE_IN_PROGRESS | Requested update required the provider to create a new physical resource` There w

[2021-10-20 21:56] peterwoodworth opened #17083 "(rds): set allocatedStorage with DatabaseInstanceReadReplica"
### Description

When setting `iops` on a `DatabaseInstanceReadReplica`, there should be an easy way to also set `allocatedStorage` so that we can avoid CloudFormation deploy-time error

Currently the only way to set storage size is with escape hatches

### Use Case

See #16934 for full details

### Proposed Solution

CDK should feature a synth-time check for both values in addition to supporting

[2021-10-20 23:06] hedrall opened #17084 "(aws-amplify): make customHeaders configurable."
### Description

Configuring customHeaders in Amplify is possible in CloudFormation, but not yet supported in the construct library.

### Use Case

Configure custom headers of application. (ex: security headers). We also can configure with `customHeaders.yml` file on root directory of git repository, but in this case, we cannot switch easily for each environments.

### Proposed Solution

Make conf

[2021-10-21 06:15] charanjit-mtech commented on #10881
any updates on this?

[2021-10-21 08:05] #16346 closed

[2021-10-21 08:05] #16913 closed, assigned to nija-at

[2021-10-21 08:23] greg5123334 opened #17088 "(apigateway): Adding tags to deployment API replaces deployment"
### General Issue

adding tags to `AWS::ApiGateway::SpecRestApi` seems to be triggering replacement update on `AWS::ApiGateway::Deployment` resource(s).

### The Question

When adding tags to a [SpecRestApi](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_apigateway/SpecRestApi.html) resource, CDK seems to be performing a destructive/replacement update on the [Deployment](https://doc

[2021-10-21 10:00] belangovan opened #17090 "(cdk): Tag excludeResourceTypes not working for AWS::CloudFormation::CustomResource"
### What is the problem?

Tagging operation for excluding not working

`excludeResourceTypes: ['AWS::CloudFormation::CustomResource'],`

expected to added tag should not be present in exculde resource type

### Reproduction Steps

[code]

### What did you expect to happen?

[code]

### What actually happened?

[code]

### CDK CLI Version

1.128.0

### Framework Version

_No response_

### Node.js

[2021-10-21 10:36] fire015 opened #17091 "(ssm): Retrieve secure string without version number"
### General Issue

Ability to retrieve secure string without version number

### The Question

I am using ECS fargate and the secrets property to retrieve secret env vars from SSM.

[code]

The problem is you have to define the version number to retrieve a secure string (unlike a regular string) and this gets difficult when you deploy the same stack to different environments and the version of the

[2021-10-21 11:26] danw-mpl opened #17092 "(ecs_patterns): Ability to set entrypoint and command within ApplicationLoadBalancedFargateServiceProps"
### Description

I'd like to set the entrypoint and command with `ApplicationLoadBalancedFargateServiceProps `.

### Use Case

To avoid having to do this:

[code]

### Proposed Solution

Expose entrypoint and command on  `ApplicationLoadBalancedFargateServiceProps `.

[code]

### Other information

_No response_

### Acknowledge

- [ ] I may be able to implement this feature request
- [ ] This fea

[2021-10-21 12:26] aritranagnordcloud commented on #9051
This is a true blocker for automating CDK Construct creation. We need a way ahead to remove the manual step of cdk bootstrap for 1000 accounts

[2021-10-21 13:15] mariusingjer opened #17094 "(ssm): can not import parameter name from another stack"
### What is the problem?

cdk generates input parameters in a stack when importing parameter store values.

### Reproduction Steps

[code]

This renders perfectly in terms of IAM:

[code]

But i also generates a parameter construct in the stack (I have no idea why):

[code]

### What did you expect to happen?

CDK not to create input parameters on the CF-stack, Why does it create an input paramete

[2021-10-21 13:17] ayush987goyal commented on #17084
@skinny85 @ryparker Is it okay to take a dependency on [`js-yaml`](https://www.npmjs.com/package/js-yaml) package to add this feature with better customer experience? Currently the CFN spec for amplify app only allows a string to be passed for custom headers and that can get pretty cumbersome for customers to pass as string ([ref](https://docs.aws.amazon.com/amplify/latest/userguide/custom-headers

[2021-10-21 13:59] kferrone opened #17096 "(aws-eks): New Cluster module is missing kubernetesNetworkConfig"
### Description

I am unable to set the `kubernetesNetworkConfig` on the new EKS Cluster module class.
This module: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.Cluster.html

### Use Case

I would like to set the service network CIDR range on EKS using the new EKS module using the standard `kubernetesNetworkConfig` interface.

### Proposed Solution

provide the same `kubernetes

[2021-10-21 14:32] #17096 closed, assigned to otaviomacedo

[2021-10-21 16:26] ryparker commented on #17092
Hey @danw-mpl 👋🏻

Thanks for opening this feature request. I understand that using escape hatches is not ideal.

I'm labeling this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guideline

[2021-10-21 18:19] mburket commented on #11031
Facing the same issue for private helm/chart repo.

[2021-10-21 21:54] #14540 closed

[2021-10-21 22:12] peterwoodworth commented on #16648
I've been able to confirm the behavior. Will see about getting a PR up soon

[2021-10-22 02:08] iph commented on #17043
So, two scenarios:

1. Publish version doesn't do anything (you are on version 5, it returns version 5), update calls on all integrations with this arn are idempotent, so you can just "do them" (or store the value beforehand if you want to short circuit)

2. Publish Version produces a new version. Well, gotta update all places this version is referenced (e.g. alias, or possibly some integration at

[2021-10-22 03:58] adriangabardo opened #17109 "@aws-cdk/aws-cloudwatch: addWidgets not working"
### What is the problem?

I believe `Dashboard.addWidgets()` is not working as intended. When I do `new Dashboard({ widgets: [...] })` any widgets inside that array are created. When I created a `const dashboard = new Dashboard({})` and `dashboard.addWidgets(...widgets)` the dashboard is deployed with an empty `widgets` array.

I have found this behaviour in every scenario I tried:
* Simple `TextW

[2021-10-22 05:49] #16985 closed, assigned to otaviomacedo

[2021-10-22 09:56] #16959 closed, assigned to rix0rrr

[2021-10-22 10:36] peterhessey opened #17115 "FargateTaskDefinition: UDP PortMapping not working as intended due to non-matching cases used for Python and Javascript Protocol Enums."
### What is the problem?

When attempting to set up a Fargate service from a Docker image that exposes and receives traffic on a single UDP port, adding a target to the load balancer listener fails (i.e. calling `service.load_balancer_target()`). This is as the `PortMapping` defined for the container's UDP port is not recognised as a valid `PortMapping` when calling that function. As far as we can

[2021-10-22 16:45] abjoshi2785 opened #17124 "(stepfunctions-tasks): support codebuild batchGetReports"
### General Issue

Missing feature

### The Question

i am working on creation of a state machine that invokes a code build using cdk. I am not seeing any action for codebuild:batchGetReports (https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_stepfunctions_tasks.html) Any recommendations on what should be done in this scenario?

### CDK CLI Version

Latest

### Framework Version

_No r

[2021-10-22 18:42] ryparker opened #17125 "(redshift): support configurable `SORTKEY` and `DISTKEY` in tables"
### Description

As a Redshift user.
I'd like to be able to define a [`DISTKEY`](https://docs.aws.amazon.com/redshift/latest/dg/c_Distribution_examples.html) and [`SORTKEY`](https://docs.aws.amazon.com/redshift/latest/dg/t_Sorting_data.html) in my [tables](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-redshift.Table.html).
So that I can optimize my table query performance.

### Use

[2021-10-23 01:42] mainframenzo opened #17127 "[aws-ec2]: Add autoAssignPublicIp for ec2.Instance"
### Description

Add boolean property of `autoAssignPublicIp` to ec2.Instance properties.

### Use Case

AutoScalingGroup does this, but in my case the instance is not in an ASG, and my subnet is configured to not map public IPs by default.

### Proposed Solution

I'll leave this to you.

### Other information

_No response_

### Acknowledge

- [ ] I may be able to implement this feature request
-

[2021-10-23 01:47] mikelhamer commented on #15119
Ugh I'm having this same issue but everywhere I see that references this issue is always closed / says its been fixed.

[2021-10-23 08:06] #16951 closed, assigned to nobody

[2021-10-23 08:06] #16971 closed, assigned to peterwoodworth

[2021-10-24 03:46] evantrimboli opened #17133 "(lambda): Specifying insightsVersion triggers warning to make lazy"
### What is the problem?

When specifying the `insightsVersion` property on a lambda function, the following warning is generated:

[code]

This only started occurring after adding the `insightsVersion` property to the lambda.

### Reproduction Steps

Create a lambda function:

[code]

### What did you expect to happen?

No warning

### What actually happened?

A warning.

### CDK CLI Version

1.1

[2021-10-25 06:53] Demli opened #17136 "(cdk documentation): typescript documentation gone with new release"
### link to reference doc page

https://github.com/aws/aws-cdk/releases

### Describe your issue?

the typescript documentations seems to be missing in the new release.
Was this intended?
It also can´t be found on the official website: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-construct-library.html

[2021-10-25 07:05] floknip opened #17137 "(HelmChart): "Response object is too long" when adding additional values"
### What is the problem?

I'm using the `HelmChart` construct to deploy a chart to eks.

[code]

extending the values object by adding new entries causes the helmchart construct to fail on `cdk deploy` with "Response object is too long". (cdk diff work and recognizes the change in the values object)

### Reproduction Steps

The problem occurs during the deployment after adding new entries to the v

[2021-10-25 13:22] Kirchen99 opened #17139 "(aws-aps): Created Workspace does not have stack-level tags with the prefix aws:"
### What is the problem?

We create Amazon Prometheus Workspace using aws-cdk. We expect to see a workspace created with stack-level tags with the prefix `aws:`. But we see a workspace created without `aws:` tags instead.

I think this is a bug because In this [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html) it is described that CloudFormatio