[2021-07-06 18:28] devendhirababu commented on #15406
Hi @njlynch,

Currently I am also facing the same issue  "Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID: K4T79835ANWTDQY3; S3 Extended Request ID: Hw8uwS1+GrSvsbkem0Xh+XdEDzwdmr2u4yv7Szun9SSbgrtmbw8uwNLq+z1rinQFdqf0xpUiLic=; Proxy: null)" post newer version of CDK-boostrap-version7.

Earlier my environment was bootstrapped with cdk-bootstrap-version4, an

[2021-07-06 18:50] jaredjj3 commented on #8752
This only works because `SECRET_MANAGER_ARN` is implicitly a `PLAINTEXT` variable, which is different from OP, which is explicitly a `SECRETS_MANAGER` variable.

For the `value` of a `SECRETS_MANAGER` variable, use the build-spec secrets manager pattern: https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#build-spec.env.secrets-manager

[2021-07-06 20:07] mark-ship-it commented on #15334
I tried another approach where I create a DashboardStack containing a Dashboard.  I then pass this resource into other stacks so they can add the resources they have into the Dashboard.  Unfortunately, this approach doesn't work either.  For every resource that gets added to the Dashboard we will have an export.  The exports prevent us from modifying any of the underlying stacks.

Thanks for sugge

[2021-07-06 20:12] peterwoodworth commented on #15365
I'm not sure if we want to keep the current implementation and update the docs, or if we want to update the CDK to make the docs accurate. @SoManyHs @madeline-k what do you think?

[2021-07-06 20:16] peterwoodworth commented on #15230
@vobornij what exactly would you like to see explained better in the docs? I agree that L1 constructs could be explained better in our developer guide, I'd like to have your feedback here

[2021-07-06 20:31] peterwoodworth commented on #15419
Thanks for submitting a request and PR for this @pgarbe! Someone should be able to review the PR soon 😄

[2021-07-06 20:39] pgarbe commented on #15419
Thanks. Still working on some tests, but looking forward to some feedback.

[2021-07-06 21:09] jbvsmo commented on #8146
This would be a very useful feature

[2021-07-06 22:59] mcalello commented on #15301
@njlynch @robertd

Based on the [boto3 documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cloudfront.html#CloudFront.Client.update_public_key) and a little hint on the Cloudfront UI:
![image](https://user-images.githubusercontent.com/318765/124676162-fa887780-de8b-11eb-84d2-29efc995f815.png)

I believe Cloudfront does not support changing the PublicKey's enco

[2021-07-07 00:38] #15323 closed

[2021-07-07 07:19] peterwoodworth commented on #15432
Hey @abjoshi2785, you're going to need to include a description of your issue for us to help you out 😄

[2021-07-07 07:35] dansalias commented on #6743
In my case I have a repository with a number of services, each with their own build process (to compile lambdas) and CDK stack, managed through the same CDK app. When a given service is updated its build process is triggered, followed by deployment. The way the cdk is currently setup requires _all_ services to be built even if just a _single_ service is to be deployed.

I'm happy to work on a PR f

[2021-07-07 08:13] jogold commented on #12472
Docker image assets are built here

https://github.com/aws/aws-cdk/blob/ef1260976f1e231fd4c8f7fbac5b0a592e243432/packages/cdk-assets/lib/private/docker.ts#L49-L59

[2021-07-07 08:56] rix0rrr commented on #15437
Looks like a jsii issue. That field should have accepted `string | IResolvable`, which is covered by `fn_getatt`.

In the mean time, you can use `Token.to_string(function.get_att('Arn'))` to force the `IResolvable` to a string.

[2021-07-07 09:35] warden opened #15447 "(aws-cloudformation) Deploy a CDK stack in a Lambda"
My use case:
- I have a pipeline stack that is defined in Typescript
- I would like this stack to be deployed dynamically via a Lambda with parameters that will be resolved during the Lambda execution

All the documentation examples that I found show how to deploy a CDK stack via a CLI `cdk synth` command.
What I need to achieve is exactly the same but in a Lambda, Typescript, doesn't really matte

[2021-07-07 09:36] twitu opened #15448 "(@aws-cdk/aws-cognito): `fromUserPooldId` and `fromUserPoolArn` methods are failing to import a user pool"
On giving a valid user pool id or a valid user pool arn the method is throwing an error saying "Invalid user pool ARN".

### Reproduction Steps

[code]

### What did you expect to happen?
I expected the `IUserPool` object to be created succesfully.

### What actually happened?
It threw an error saying invalid user pool arn.

### Environment

  - **CDK CLI Version  :** 1.109.0
  - **Framework Versi

[2021-07-07 10:57] DanielStarkey opened #15449 "How can I ensure customers making requests from app to Apigateway Http Api can only view certain data in dynamodb?"
## :question: General Issue
I've got a HTTP API GW generated using @aws-cdk/aws-apigatewayv2 with a number of NodeJs Lambda Functions.

I've created both a User Pool and Identity Pool and linked them together, and a React app that uses Amplify to take care of gaining the JWT and temporary credentials.

The React app is able to send the temporary credentials in the appropriate headers, but I need t

[2021-07-07 11:13] twitu commented on #15448
Made a stupid mistake

[2021-07-07 11:13] #15448 closed

[2021-07-07 11:21] pulkit83 commented on #11245
+1

[2021-07-07 12:39] mooiweer opened #15450 "(secretsmanager ): grant_read/grant_write on secret throws KMS key error on role from same account"
Giving a preexisting role read/write access to a secret using the grant_read/grant_write method on a secret throws the error:
"KMS Key must be provided for cross account access to Secret"
Even though both secret and role are from the same AWS account.

### Reproduction Steps
Use an existing role and create a new secret
Give it read/write access

[code]

### What did you expect to happen?
 I expect

[2021-07-07 12:48] rix0rrr commented on #15241
Your instincts were right @peterwoodworth . We're not going to be offering endless customization of the bootstrap stack out of the box. There are too many different tweaks any number of people are going to want to do, and we can't cater to them all. Customization is possible by editing the template and deploying that.

[2021-07-07 12:48] #15241 closed

[2021-07-07 13:40] avallete commented on #9970
Hi there,

We have an issue on our side who seems related. On our side, `cdk destroy` sometimes fail to remove our CloudFormation stacks because it fail to remove dependent ENI and the ENI fail to be removed because it fail to remove some SecurityGroup related to it. Sometimes, the same error appear on S3Bucket removal.

The funny thing is that the error randomly appear without changes into the cd

[2021-07-07 14:03] rantoniuk opened #15451 "(aws-logs): Vendor logs not supported"
I am trying to deploy a stack that pushes CloudWatch events to KinesisFirehose from another AWS account that is used to log to Splunk.

[code]

Result:
[code]

What does it mean "Vendor logs not supported" ?

[2021-07-07 15:36] abjoshi2785 commented on #15432
@peterwoodworth Please find below the description :)
Recently AWS has removed NAT Gateway’s dependence on Internet Gateway for private communications. I tried exploring the L2 constructs and coudn't find a way to use this feature. Could you please suggest is this implementation supported via CDK?

https://aws.amazon.com/about-aws/whats-new/2021/06/aws-removes-nat-gateways-dependence-on-internet-ga

[2021-07-07 17:09] fredski-github commented on #1754
@isubuz +1

adding documentation references: the core.Aws class has properties mapping to CloudFormation pseudo parameters.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Aws.html -> https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/pseudo-parameter-reference.html

example:
in the stack use `core.Aws.ACCOUNT_ID`, it will generate `Ref: AWS::AccountId` in the CloudForma

[2021-07-07 18:17] lifeofzero commented on #11100
@PeterAronZentai or @ltearno How were you able to apply the needed permissions for the apigwv2 to have permissions to write to the log group?  I keep getting the following:

`Insufficient permissions to enable logging (Service: AmazonApiGatewayV2; Status Code: 400`

[2021-07-07 18:43] taciosd commented on #4702
I don't either, just String for now.

[2021-07-07 18:51] spyoungtech commented on #9247
@cliffbdf it doesn't seem like you ever configured the security group to allow connections from the services. By default, the security groups will not allow any inbound connections, IIRC.

[2021-07-07 18:54] codeedog commented on #15322
@rix0rrr I don't agree that "unintended" Layer rebuilds resulting in new versions are entirely "harmless".

[2021-07-07 20:17] peterwoodworth commented on #15432
According to the docs you linked:

Looks to me like our NAT Gateway is only available [as an L1 construct](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.CfnNatGateway.html), but you can directly set its connectivity type. Looking at the [Cfn docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-natgateway.html), `private` is an accepted value for

[2021-07-07 20:20] peterwoodworth commented on #15432
As a heads up though, the CDK will automatically create an Internet Gateway (and more) for your L2 VPC if you have any non-isolated subnets. See here: https://github.com/aws/aws-cdk/blob/556ca93e2f66ea44b1d6f1649a11d5cc5168b3ef/packages/%40aws-cdk/aws-ec2/lib/vpc.ts#L1246-L1271

[2021-07-07 20:29] abjoshi2785 commented on #15432
@peterwoodworth There is a addNatGateway method available for L2 construct class PublicSubnet https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.PublicSubnet.html#addwbrnatwbrgateway

As of now as per the documentation it only creates a new managed NAT gateway attached to this public subnet.

[2021-07-07 20:47] peterwoodworth commented on #15432
The addNatGateway method will create a public NatGateway with an AllocationId though, are you sure this is what you want? https://github.com/aws/aws-cdk/blob/556ca93e2f66ea44b1d6f1649a11d5cc5168b3ef/packages/%40aws-cdk/aws-ec2/lib/vpc.ts#L1772-L1781

The new feature you linked describes public communications, so I don't think you want to use this function

[2021-07-07 20:57] abjoshi2785 commented on #15432
Actually i was looking for a similar method to create a NAT geteway for private communications. But was not able to find one.

[2021-07-07 21:08] martinmicunda opened #15455 "(aws-codepipeline): ActionDeclaration - Support CombineArtifacts configuration when BatchEnabled is enable"
See this [doc](https://docs.aws.amazon.com/codebuild/latest/userguide/sample-pipeline-batch.html) which says

The configuration object it is referring to is [this](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-codepipeline-pipeline-stages-actions.html#cfn-codepipeline-pipeline-stages-actions-configuration).

It is not possible right now to provide this on the [CodeB

[2021-07-07 21:08] peterwoodworth commented on #15432
There isn't one currently, we could make a feature request for that if you're interested.

If you want to accomplish this now, you'll have to create a `CfnNatGateway` in your code. That's all the `addNatGateway()` function is doing anyway, you can see that in the code I posted in the above comment :)

[code]

[2021-07-07 21:09] abjoshi2785 commented on #15432
Thank you! I will create a feature request for it. Meanwhile will use the L1 construct :)

[2021-07-07 21:09] a-h opened #15456 "@aws-cdk/aws-lambda-go: Implement a Go construct for building Go Lambda functions"
I like the aws-lambda-go TypeScript package. It makes it so that you don't have to remember to build your Go Lambda functions before you run `cdk deploy`.

If you write something like this, then you might be surprised to find that it fails at deployment time, because there's no `main` executable in that directory, just a `main.go` file.

[code]

The `@aws-cdk/aws-lambda-go` package takes care of b

[2021-07-07 21:32] skinny85 commented on #15455
Thanks for opening the issue @martinmicunda. [Pull Requests are always very much welcome](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) 😉.

[2021-07-07 21:37] dudutwizer commented on #4435
@fentas Thank you very much for your code example, I'm now trying to do the same but without success.

Here is my construct :

[code]

The nodes still not joining to the cluster, any ideas?
I debug it and I noticed that the launch configuration is appending the linux commands as well for some reason.

this is what I see in the UserData

[code]

[2021-07-07 21:42] peterwoodworth commented on #15449
I'm not sure what you mean by the API Gateway getting an IAM role. From what I can tell, you can't assign a role to an API. What exactly do you want to accomplish here?

[2021-07-07 22:42] dudutwizer commented on #4435
Okay the issue solved by replacing
`onDemandASG.addUserData(`

with
`onDemandASG.userData.addCommands(`

I'm now able to see the nodes in the cluster. Thanks!

[2021-07-07 22:59] tysonclugg commented on #3401
A more 12-factor style solution would be extending the existing AWS environment processing with a new `env_prefix`/`AWS_ENV_PREFIX` setting that allows sourcing different AWS config environment variables for each stack.  For example, instead of looking for an `AWS_PROFILE` environment variable, the variable name is prefixed and we instead source from `${AWS_ENV_PREFIX}_AWS_PROFILE`.

The CDK sourc

[2021-07-07 23:23] fbouteruche commented on #2516
@Nemanjalj66

As a workaround you can fallback to raw overrides on your pipeline like this

[code]

[2021-07-07 23:36] #11841 closed

[2021-07-07 23:45] peterwoodworth commented on #15432
@abjoshi2785 you can also create a PR and implement this yourself if you'd like

[2021-07-07 23:47] peterwoodworth commented on #15358
Ah I see, glad you got this figured out!

[2021-07-07 23:47] #15358 closed

[2021-07-07 23:51] peterwoodworth commented on #15291
Closing because the question has been answered and the bot handling our automatic labels is down. ping me if you need more help with this

- Peter

[2021-07-07 23:51] #15291 closed

[2021-07-07 23:53] peterwoodworth commented on #12300
Closing because the labels have been applied for more than two weeks. Ping us if you have additional problems with this issue!

[2021-07-07 23:53] #12300 closed

[2021-07-07 23:54] peterwoodworth commented on #13530
Closing because the response-requested label has been applied for more than two weeks. Ping us if you need additional help with this issue!

[2021-07-07 23:54] #13530 closed

[2021-07-07 23:56] peterwoodworth commented on #13245
Ping me if you have additional concerns with this issue and i'll try to work through it, I'll be closing this issue now.

[2021-07-07 23:58] peterwoodworth commented on #12692
I'll be closing this issue now. Ping me if you have any additional concerns!

[2021-07-07 23:58] #12692 closed

[2021-07-07 23:59] peterwoodworth commented on #12879
I'll be closing this issue now. If you're still having trouble with this ping me and I can work through this with ya!

[2021-07-07 23:59] #12879 closed

[2021-07-08 00:00] peterwoodworth commented on #11025
I'll be closing this issue due to staleness, ping me if there are additional concerns with this issue and I can reopen it.

[2021-07-08 00:00] #11025 closed

[2021-07-08 00:02] peterwoodworth commented on #11619
I'm closing this issue due to staleness. If you want to see this changed, please submit a feature request with your suggestion of what it should be called or submit a PR which fixes this 😄

[2021-07-08 00:02] #11619 closed

[2021-07-08 00:04] peterwoodworth commented on #13644
Ping me if you want to discuss this further! I'll be closing this issue now since the original issue has been resolved.

[2021-07-08 00:04] #13644 closed

[2021-07-08 00:06] peterwoodworth commented on #14826
Hey @0xjjoyy, can you please do this:

thanks.

[2021-07-08 00:07] peterwoodworth commented on #15062
Hey @vkml, can you please provide what niranjan asked for?

[2021-07-08 00:08] peterwoodworth commented on #13587
Ping me if you'd like additional help with this issue. I'll be closing it for now 😄

[2021-07-08 00:08] #13587 closed

[2021-07-08 00:09] peterwoodworth commented on #12835
Ping me if you're still running into this issue, I'll be closing it for now 😄

[2021-07-08 00:09] #12835 closed

[2021-07-08 00:13] peterwoodworth commented on #15122
Hey @erudisch, can you please specify which command you're running on your CodeBuild job? Thanks.

[2021-07-08 00:14] peterwoodworth commented on #14703
I'll be closing this issue now, let me know if the above didn't help you out here or if you have any questions!

[2021-07-08 00:14] #14703 closed

[2021-07-08 00:20] peterwoodworth commented on #11597
Closing this issue due to staleness - Ping us if you have additional concerns!

[2021-07-08 00:20] #11597 closed

[2021-07-08 00:21] peterwoodworth commented on #12235
Closing this due to staleness - Please ping us if you have additional concerns!

[2021-07-08 00:21] #12235 closed

[2021-07-08 00:21] peterwoodworth commented on #14858
Closing this issue due to staleness, please ping me if you'd like to revisit this issue!

[2021-07-08 00:21] #14858 closed

[2021-07-08 00:23] peterwoodworth commented on #5469
Closing because the bot isn't working, please ping me if anyone is still impacted by this issue

-Peter

[2021-07-08 00:23] #5469 closed

[2021-07-08 00:27] peterwoodworth commented on #15354
Hey @knihit have you made any progress here?

 Do you have any additional questions?

[2021-07-08 00:33] peterwoodworth commented on #7339
tleef summed it up nicely in their comment. I'll be closing this since this issue hasn't received attention in a while. Ping me if anyone would like to reopen this issue!

[2021-07-08 00:33] #7339 closed

[2021-07-08 00:54] peterwoodworth commented on #13876
Eli is correct here. EFS doesn't support snapshots, so this won't work. Sorry about that!

[2021-07-08 00:54] #13876 closed

[2021-07-08 01:04] peterwoodworth commented on #15406
@devendhirababu is everything under the same account? And are you creating the Bucket in your stack?

Unfortunately we aren't able to track the request id to figure out what's happening under the hood. Hopefully support has been able to help you with this issue

[2021-07-08 02:28] peterwoodworth commented on #12682
Can you make a suggestion for what the error message should be instead? I'm not sure why exactly you were getting an error there so I don't really know how we could improve this error message.

[2021-07-08 03:05] knihit commented on #15354
Hi @peterwoodworth, for the immediate future I have decided to have the resources as '*' in the policy, For future refactoring, I am planning to add a method to the construct class I created, which I can invoke post the statemachine is created. Since I am using the stepfunction callback integration pattern where the task is published to SQS with a task token, I do have the flexibility to define th

[2021-07-08 07:29] RomainMuller commented on #2516
The culprit is likely with this type of syntax:

[code]

Returning an anonymous object here (`new { ... }`) is probably what causes the problem. This particular value is typed `any` in TypeScript, and hence I suspect it could be solved by returning a `Dictionary<string, object>` or a `JObject` instead.

[2021-07-08 07:49] dan-lind commented on #14036
@peterwoodworth Have you done any work on this yet? I saw that it's currently not even possible to set tlsConfig in the L2 construct in the apigatewayv2 package, and I was considering implementing that.

[2021-07-08 07:52] peterwoodworth commented on #14036
@dan-lind I haven't worked on this, and don't plan to do so soon. I'll be happy to take a look at a pr if you make one for this though, it shouldn't be too much trouble. Let me know if you need help with it

[2021-07-08 07:59] dnz-bdeboer commented on #3472
Get exactly the same error even when the vpc is not imported.

[2021-07-08 08:47] dan-lind commented on #14036
Hmm, besides what is there in `aws-apigatewayv2/test/http/api.test.ts` for default integrations, I cannot find any unit tests for what is defined in `aws-apigatewayv2/lib/http/integration.ts`. Am I looking in the wrong place? Where should I add unit tests for the `tlsConfig`?

[2021-07-08 08:56] peterwoodworth commented on #14036
Looks like this is where the tests for the integrations are: https://github.com/aws/aws-cdk/blob/b1ecd3d49d7ebf97a54a80d06779ef0f0b113c16/packages/%40aws-cdk/aws-apigateway/test/http.test.ts

[2021-07-08 09:17] #15355 closed

[2021-07-08 09:55] dan-lind commented on #14036
Isn't that another package though? `aws-apigateway`, rather than `aws-apigatewayv2`

[2021-07-08 09:57] #15164 closed

[2021-07-08 10:19] DanielStarkey commented on #15449
The user in Cognitio User Pools have an attribute specifying which company they belong to.
They login into the React app, and this gets a JWT from User Pool and then temporary credentials from Identity Pool - the authenticated user is mapped to an IAM role which contains policies saying what data the user can and can't see.

When the user makes requests from the React app to the API Gateway (which

[2021-07-08 11:16] #14905 closed

[2021-07-08 11:55] #10141 closed

[2021-07-08 12:19] kyler-hyuna commented on #10141
Thanks for fixing this @ruancomelli 🎉

[2021-07-08 12:37] #15238 closed

[2021-07-08 13:14] #14274 closed

[2021-07-08 13:59] barry-the-sender commented on #15421
I will close this for now as I have a working version. Still curious to see how to use CodeStar connect within a build container. If anyone finds out, please post 🙏🏻

[2021-07-08 13:59] #15421 closed

[2021-07-08 15:12] adrian-grajdeanu opened #15460 "(aws-lambda-nodejs): does not properly construct the (local esbuild) build command when used with pnpm"
On a Pnpm driven project this is the command that is generated for local bundling with esbuild:
[code]

The problem stems from `aws-lambda-nodejs/lib/package-manager.js` where PackageManager.PNPM has `argSeparator: '--'`. PackageManager.runBinCommand includes this argSeparator. Alas, esbuild does not like the `--` particle and fails.

### What did you expect to happen?
I expect `cdk synth` to not

[2021-07-08 15:25] whiskeylover commented on #15231
Nothing yet, @rix0rrr?

[2021-07-08 16:21] ryparker commented on #14994
No problem. Although I think that there's some misunderstanding in how CodeBuild and CodePipeline can be used together.

In this case CodeBuild is used to upload images to ECR. It can be ran independently or triggered from within a CodePipeline ([see CDK's CodeBuildAction](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codepipeline-actions.CodeBuildAction.html)). This way you can reu

[2021-07-08 16:23] jaidisido opened #15462 "(aws-cloudtrail): import trail from_trail_arn"
Add a `from_trail_arn` method to the Trail construct.

The solution suggested in this closed [issue](https://github.com/aws/aws-cdk/issues/6716) does not address our use case (described below).

### Use Case
Our users create multiple buckets across multiple CDK applications and stacks. Each of these buckets must be added as an S3 event selector to the same trail (`add_s3_event_selector`).

### Pro

[2021-07-08 17:07] nacitar commented on #11146
Seems to work in my tests, just to confirm.

[2021-07-08 17:59] martinmicunda commented on #15455
@skinny85 PR [created](https://github.com/aws/aws-cdk/pull/15457)

[2021-07-08 18:18] jtmichelson commented on #8065
AWS MWAA plug-ins are also expected to be zipped, definitely looking forward to this improvement on aws-s3-deployment to deploy a directory as a zip. :)

[2021-07-08 18:41] peterwoodworth commented on #14036
Ah you're right, that's my mistake. I didn't look closely enough 😅 Let me look again

[2021-07-08 18:46] peterwoodworth commented on #14036
It doesn't look like current tests exist, so if you're making changes to just the apigatewayv2 package then feel free to create your own test file!

[2021-07-08 19:48] jdix531 commented on #14427
This would be fantastic. It definitely feels redundant to need a second tool to deploy (sdk, cli, etc) using these features. Looking at the SDK it seems rather complicated to apply to individual instances.

[2021-07-08 20:39] rgoltz opened #15463 "(aws-synthetics): Canary inline code doesn’t allow other values for handler expect index.handler"
We like to deploy and manage an AWS CloudWatch Canary via CDK. We like to define our Canaries-Definition (Canary using Lambda in the background) in Python – Our CDK is using TypeScript. Canary inline code doesn’t allow other values for handler expect index.handler

### Reproduction Steps

1. "good case": using index.handler (please see chapter "Notes / Reference to Canary Bug" = CDK is fine (Canar

[2021-07-08 21:06] misterjoshua opened #15464 "(apigatewayv2): `ApiMapping` does not add a dependency on `DomainName`"
`ApiMapping` does not declare a dependency on the `DomainName` it maps to an API. So, when both are created in the same stack, CloudFormation may fail to create the mapping with an error like this:

`Invalid domain name identifier specified (Service: AmazonApiGatewayV2; Status Code: 404; Error Code: NotFoundException; Re
quest ID: <removed>; Proxy: null)`

### Reproduction Steps

[code]

### What

[2021-07-08 21:09] czubocha commented on #15406
Hi, this is duplicate of https://github.com/aws/aws-cdk/issues/15307 which is unfortunately closed but not solved (the fix seems unsuccessful).

[2021-07-08 21:27] eXpire163 commented on #14738
Hi, i was using cdk in a WSL and i got the same error:

`which cdk ` pointed to /mnt/c/Users/xxx/AppData/Roaming/npm/cdk
removed it there and then it pointed to /usr/local/bin/cdk and everything was OK

[2021-07-08 22:08] BenChaimberg commented on #15463
From the [CFN docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-function-code.html#cfn-lambda-function-code-zipfile):

This means that the value provided for "handler" must begin with "index" since that is the file where your handler function is located.

[2021-07-08 22:16] BenChaimberg commented on #15463
Ah, I see the part about the canary not running your code correctly; are you sure the name of the handler is what is causing that issue? It does not seem entirely related

[2021-07-08 23:50] peterwoodworth commented on #13769
Hey @m90, sorry for the long response time.

I can't seem to reproduce this, but I can think of a couple things that might be going wrong. I'm sure you're already doing this, but make sure you're using your cluster so that there's data to measure. Second, it may take a bit of time after deployment for the alarm to start measuring data.

If you're still running into this, could you share your `cdk

[2021-07-09 00:05] peterwoodworth commented on #15354
Let me know if that works out for you, and if not feel free to ask any questions

[2021-07-09 01:00] ianpogi5 commented on #7746
@jonny-rimek did you find the solution to this? I also dropped ecs pattern and now I am facing the same issue.

[2021-07-09 03:16] joysl commented on #10262
Hi,
I get the same error: /git-code/lex_sf_drug_regminder_blog/cdk.out/asset.22e85c5c2352db3d74d8ca44d3e60507511b798ba9b44cdd153fd302a28b4968-error: Error: docker exited with status 125

[2021-07-09 05:26] peterwoodworth commented on #15406
Thanks for bringing this up @czubocha, it seems other people are still having issues with that bug after the fix. I've reopened the issue #15307, please take your concerns to that thread 😄

[2021-07-09 05:27] peterwoodworth commented on #15307
Reopening because multiple customers are still experiencing this issue in the latest version #15406

[2021-07-09 05:51] rix0rrr commented on #15307
There are multiple causes for "S3 Access Denied".

I saw someone mention in the other thread they **deleted and recreated** their bootstrap stack.

Doing that will permanently break Pipelines.

See the pipelines README on how to unbreak yourself in that situation

[2021-07-09 06:04] peterwoodworth commented on #15432
Once you confirm that the workaround I posted works for you and post a feature request we can go ahead and close this issue :)

[2021-07-09 06:09] fbdo commented on #15307
That was my case, I followed the instructions in the README and it started to work. Sorry for the false alarm, and thanks!

[2021-07-09 06:39] fwang commented on #14822
Hey @matoxp @nija-at, I think we should keep this issue open until multi-level base path mapping is supported. What do you think?

[2021-07-09 06:57] danny-xx commented on #8406
@jgoux Hi, I'm facing the same issue as yours during CDK version migration (from 1.45.0 to 1.110.0)

I also resolved it by moving the alias record from route53 stack to cloudfront stack (thanks!)
However, it will cause some downtime for my web app because the A record is destroyed & re-created in another stack.
Do you happen to know any way around the downtime issue?
Thanks in advance!

[2021-07-09 07:43] jgoux commented on #8406
@danny-xx Why is your record destroyed and re-created? If it's the exact same I guess CDK should diff it. 🤔
In my case I have two stacks, a "stable" and a "dynamic" one. My stable contains everything that will never change between deployments (VPC, RDS, domain), and the dynamic one is for everything else that could change based on our application code (Fargate, Cloudfront, subdomain, lambdas...).

[2021-07-09 08:00] lony commented on #10867
@rix0rrr if it may help - I tried to describe my problem on Stackoverflow [here](https://stackoverflow.com/questions/68267759/aws-cli-using-mfa-but-without-immediate-expiration) before finding this issue.

To be honest, I do not get the discussion form above. My assumption so far was, that you just hook up to boto (or something similar) and avoid reimplementing authentication inside the CDK. Why i

[2021-07-09 09:05] jogold commented on #15460
The `--` has been moved in #15410 (not yet released).

[2021-07-09 09:53] Bullettoothtobi commented on #15366
Same here:
`putClusterCapacityProviders SDK error: The specified capacity provider is in use and cannot be removed.`

Here is the important part of the diff which is causing this:
`
[+] AWS::ECS::ClusterCapacityProviderAssociations
[~] AWS::ECS::Cluster TestEcsCluster TestEcsCluster12345
 └─ [-] CapacityProviders
     └─ ["FARGATE","FARGATE_SPOT"]
`

This is happening since I updated CDK to 1.111.

[2021-07-09 09:53] otaviomacedo commented on #15284
Hi, @l0b0. I can't reproduce this issue. Could you point me to a repository that has the minimum amount of code to reproduce it?

Thanks.

[2021-07-09 10:07] keirwhitlock opened #15473 "aws-elasticloadbalancingv2: ApplicationLoadBalancer from_lookups return dummy arn"
Hi

Trying to lookup an existing alb, in order to get/use its ARN, using the `from_lookup` class method, and providing the load_balancer_tags.

When I print the arn, the one returned looks like a placeholder/dummy arn:

`arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/application/my-load-balancer/50dc6c495c0c9188`

So passing that into the ApplicationListener.from_lookup class met

[2021-07-09 10:12] keirwhitlock commented on #15473
[code]

[2021-07-09 10:21] oappicgi commented on #10095
At least with now relatively old version 1.89.0 of cdk and its packages vpclookup works. While it seems to be correct that cdk pipelines cannot use aws api to get vpc information with vpclookup inside pipeline you can still use it. It  can read vpc data if it has been preloaded, so  preload that information using cdk ls inside your project root  and make sure cdk.context.json  file  is part of you

[2021-07-09 10:24] otaviomacedo commented on #15321
Hi, @romanfq

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for repriorit

[2021-07-09 10:33] jogold commented on #15346
@plumdog I pulled your repo and ran `npm run -- cdk synth -e mystage/mystack`. I don't get an asset with the whole project in it, instead I don't have the asset at all in the `cdk.out`.

Looks to me that the `-e` flag is broken with a stage under a stack but not as you describe it?

[2021-07-09 10:43] otaviomacedo commented on #15378
Hi, @conkiztador

I can't reproduce this issue. Are you sure the only thing that changed between deployments was the new `CfnOutput`? Do you have a GitHub repository you can point me to?

[2021-07-09 10:49] Repox opened #15474 "(aws-ec2): connections.allowTo() and connections.allowFrom() doesn't accept IConnectable implementations"
It seems like EC2 Security Group connection doesn't accept connections that implement the IConnectable objects.

According to [the documentation](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Connections.html) the `connections` object property implements IConnectable, the `allowTo()` and `allowFrom()` methods doesn't accept them as input.

### Reproduction Steps

[code]

### Wha

[2021-07-09 11:01] ciaranevans opened #15475 "(aws-rds): DatabaseCluster should default `auto_minor_version_upgrade` to `False` if engine version is pinned"
This may not be _truly_ a bug, but it is not an ideal setup.

When using `aws_rds.DatabaseCluster`, I had a failing over-the-top deploy yesterday because the Aurora PostgreSQL version had been upgraded outside of the CFN stack. I was unaware that this was a behaviour, especially as I had specifically targeted a version of PostgreSQL.

I eventually realised there is the flag `auto_minor_version_upg

[2021-07-09 11:16] moltar commented on #15475
And to piggyback on this issue.

Is there a setting for this for Aurora Serverless as well?

I checked the constructs and the Serverless one has no such options at all.

### Non-serverless:

https://github.com/aws/aws-cdk/blob/283ed02c64f827161edba3e11c3cead3b54b7ee9/packages/%40aws-cdk/aws-rds/lib/cluster.ts#L719

### Serverless:

https://github.com/aws/aws-cdk/blob/283ed02c64f827161edba3e11c3cea

[2021-07-09 11:37] jogold commented on #15389
@HQarroum sorry for the breaking change.

How about specifying `depsLockFilePath`? I think it should solve your issue. Without it it's the root lock file that is being copied and that's why `npm` complains about the files not being in sync.

[code]

[2021-07-09 12:26] anafaggiano commented on #14905
Thank you, @DaWyz !

[2021-07-09 12:46] deldrid1 commented on #13767
Just checking in - I would LOVE to drop webpack in my project and move to this, but I'm an esbuild (and CDK) noob...  Any chance someone could pick this up or work with me to help get a PR going?

[2021-07-09 13:09] danbo0001 opened #15478 "Breaking Change Between Versions For Handling RDS Generated Secret Username Causing Database Replacement"
Using CDK v1.61.1, I generated an RDS db instance and it automatically added the master username I provided into a generated secret and **the subsequent generated CF contained a secret lookup to get that username for the stack create**.

This is the version we went to production with late last year and development has recently picked up again so I have upgraded to a newer version (v1.110.0) and ma

[2021-07-09 13:50] otaviomacedo commented on #15398
Hi, @douglasnaphas

Thanks for raising this. I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) t

[2021-07-09 13:52] rix0rrr commented on #15406
There are multiple causes for "S3 Access Denied".

I saw someone mention in the other thread they deleted and recreated their bootstrap stack.

Doing that will permanently break Pipelines.

See the pipelines README on how to unbreak yourself in that situation

[2021-07-09 14:00] alan-cooney commented on #6227
I'd like to propose a more generic solution to this - as really we want to be able to change more than just the pk. For example there have been other requests to change the limit/nextToken for pagination (#5486) and it's also nice to be able to add filters. Why not instead allow all attributes to be set (note union types would need to be removes as per the above comment):

[code]

This way everyth

[2021-07-09 14:06] brendonparker commented on #4733
@eladb I know this is an old issue, but do you have an example we can reference for hwo to combine `allocateLogicalId` with `renameLogicalId`?

Much appreciated.

[2021-07-09 14:44] brendonparker commented on #4733
Hmm, I couldn't get that to work.

I was attempting to move a table from the stack contstuct into its own construct.
In the end, I did a `cdk synth` after the construct change/refactor and compared that logicalid in output with my past output.

Then added:
[code]
Where the first param is the logicalid generated by the most recent change, and second param is the historical logicalid.

[2021-07-09 16:02] HQarroum commented on #15389
Hi @jogold,

We've tested this change in our code base and so far the build works with 1.111.0 by locking the `package-lock.json`.

Thanks for the pointer !

[2021-07-09 16:10] BenChaimberg commented on #15312
It seems like you are trying to create a new version in eu-central-1 for a function in us-east-1, which is not allowed. Note that eu-central-1 is chosen because we provide only the function name to the CfnVersion definition:
https://github.com/aws/aws-cdk/blob/d88b45eb21bcd051146477e3c97de7dd7b8634d3/packages/%40aws-cdk/aws-lambda/lib/lambda-version.ts#L190
Overriding this to use the full ARN
[cod

[2021-07-09 16:10] #15312 closed

[2021-07-09 17:05] BenChaimberg commented on #15426
I was unable to reproduce this error, see: https://github.com/BenChaimberg/cdk-test-app-ts/compare/usage_plan_invalid_method_15426. Are you sure that including `plan.node.addDependency(...methods)` does not fix the issue?

[2021-07-09 17:09] #7264 closed

[2021-07-09 17:12] UrfTheManatee opened #15481 "There's no error by CDK when using expired temporary credentials and the system just hangs without feedback or errors thrown"
## :question: General Issue

### The Question
The CDK just hangs at the "Reading existing template for stack" step when deploying with expired temporary credentials.

### Environment

  - **CDK CLI Version:** 1.111.0 (build 556ca93)
  - **Module Version:** N.A.
  - **Node.js Version:**  v16.3.0
  - **OS:** MacOS
  - **Language:** all

### Other information
I would suggest to implement a check so t

[2021-07-09 17:15] gliptak commented on #5934
I also see something similar with `synth`. Following https://docs.aws.amazon.com/cdk/latest/guide/environments.html I used:

[code]

Running `cdk --profile myprofile --verbose synth` shows (values seem to be set for `CDK_DEFAULT_ACCOUNT` and `CDK_DEFAULT_REGION`)

[code]

[2021-07-09 17:18] gliptak commented on #5934
Other possibly related issues https://github.com/aws/aws-cdk/issues/5852 https://github.com/aws/aws-cdk/issues/14405 https://github.com/aws/aws-cdk/issues/9477 https://github.com/aws/aws-cdk/issues/7701 https://github.com/aws/aws-cdk/issues/3130 https://github.com/aws/aws-cdk/issues/3082

[2021-07-09 17:28] BenChaimberg commented on #15464
The `name` property of DomainName should always be a ref to ensure this dependency exists.
https://github.com/aws/aws-cdk/blob/23abe22a173281361855efc8671529e4bae30ae5/packages/%40aws-cdk/aws-apigatewayv2/lib/common/domain-name.ts#L97
As described in the issue, the workaround is to take a manual dependency of the ApiMapping on the DomainName (`apiMapping.node.addDependency(domainName)`).

[2021-07-09 17:34] JerryBLi opened #15482 "(aws-sns): How can I specify a Secret as the Subscription endpoint"
## :question: General Issue
I am trying to create a SNS [Subscription](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-sns.Subscription.html) that sends messages to a slack webhook. Typically, I can set the slack webhook URL as the `endpoint` property of the `Subscription` and set the `protocol` to be `SubscriptionProtocol.HTTPS` and things would work; however, due to InfoSec guidance

[2021-07-09 17:45] BenChaimberg commented on #15288
Because the value returned from CfnJson is directly inserted via CloudFormation, you will need to use the actual CFN property names, as opposed to the "fluent" property names that we generate for the L1 constructs. Concretely, this means that you need to capitalize the keys in `roleMapping`:
[code]

[2021-07-09 17:45] #15288 closed

[2021-07-09 17:47] danny-xx commented on #8406
@jgoux Thanks for the quick reply!
In my case, I have the current Alias Record in `Route53Stack` and I'll have to move it to `AssetsStack`, where the CloudFront Distribution belongs to.
To move it across different stacks, the record would be destroyed in the current route53 stack and then created in the assets stack. It causes a downtime for around 10 minutes
The Alias Record also doesn't support

[2021-07-09 18:07] skinny85 commented on #15475
Thanks for opening the issue @ciaranevans. If you'd like to contribute a fix changing this behavior, that would be awesome. Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-07-09 18:12] skinny85 commented on #15478
Hey @danbo0001 ,

thanks for opening the issue. I believe your problem stems from using the `Credentials.FromGeneratedSecret()` method here. I believe what you want in this situation is to use the `Credentials.FromUsername()` instead.

Thanks,
Adam

[2021-07-09 18:35] yashwanthkp opened #15483 "Update permissions on existing ECR repo not working"
## 🐛  Update permissions on existing ECR repo not working

### The Question

I am trying to add additional policies to an existing ECR repo. I am using [Repository cdk](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecr.Repository.html) construct to get access to existing repo using the name. But when I run the `cdk deploy` with new policy, nothing happens.

[code]
The above code is

[2021-07-09 19:11] adrian-grajdeanu commented on #15460
Indeed that would fix it. Closing this one.

[2021-07-09 19:11] #15460 closed

[2021-07-09 19:51] BenChaimberg commented on #15232
Internally, we leverage `rsync` to copy the files that contain the handler code into the asset (located within `cdk.out`):
https://github.com/aws/aws-cdk/blob/23abe22a173281361855efc8671529e4bae30ae5/packages/%40aws-cdk/aws-lambda-python/lib/bundling.ts#L86-L87
This means that if you set "entry" to be a directory that contains your CDK app, rsync will attempt to copy the `cdk.out` directory into i

[2021-07-09 19:56] #15389 closed

[2021-07-09 20:42] jbvsmo opened #15484 "StepFunctions: Variable lambda name on InvokeLambda"
It is not possible to recreate this JSON with CDK because the function name is an input variable but InvokeLambda does not accept `$.lambda_arn` as input.

[code]

I also tried to use the deprecated Task instead of LambdaInvoke, but also not possible

### Use Case

Flexibility; Generalist step function

### Proposed Solution

I want to be able to do something like this

[code]

* [ ] :wave: I may

[2021-07-09 20:58] BenChaimberg commented on #15484
If you need to dynamically reference a Lambda function, I would recommend using [CustomState](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions.CustomState.html) instead. You can then reproduce your JSON definition exactly.

The LambdaInvoke task is intended to integrate with the aws-lambda CDK module by leveraging the type system (IFunction). It is unlikely that we will s

[2021-07-09 21:06] czubocha commented on #15307
My case was that I upgraded CDK CLI but I didn't upgraded CDK version in go.mod (I'm using Go bindings). Thanks for the fix, issue can be closed.

[2021-07-09 21:10] hemandee opened #15485 "(aws-eks): NodeGroups are not accepting CfnParameters"
Desired Size,Max Size and Min Size are not accepting CfnParameters properly, the evaluation leads to incorrect evaluation at synth time.

Error:
Desired capacity -1.888154589708894e+289 can't be greater than max size -1.8881545897088942e+289

### Reproduction Steps

    // The code that defines your stack goes here
    const count = new CfnParameter(this,'count',{
      default: "2",
      type: "

[2021-07-09 21:23] BenChaimberg commented on #15391
Workaround:
[code]
Solution is as described above: do string substitution to replace `/` with `.`.

[2021-07-09 21:31] ewahl-al commented on #15391
Thank you, I didn't know that trick on using the Cfn property override.

[2021-07-09 21:43] l0b0 commented on #15284
Sorry, that was a red herring. The actual issue was that [CDK changes unique IDs when moving a construct](https://docs.aws.amazon.com/cdk/latest/guide/identifiers.html#identifiers_unique_ids):

Unfortunately this means we have to keep the construct where it was originally created, rather than where it belongs, because overriding the ID generation or hard-coding the ID is going to be uglier and mor

[2021-07-09 21:43] #15284 closed

[2021-07-09 22:03] #15455 closed

[2021-07-09 22:54] lsli8888 commented on #13245
@peterwoodworth Sorry for the late reply.  Sorry, I'm not familiar or knowledgeable enough with Snap to know where it even has a temp directory.  The error I saw didn't give have enough logs to help me diagnose the issue that @misterjoshua might have.  But it would definitely be nice if this issue could be fixed though!

[2021-07-09 23:21] skinny85 commented on #2516
This is brilliant @RomainMuller! I can confirm switching to dictionary works, like in this code:

[code]

[2021-07-10 07:11] djlynux commented on #4701
@shivlaks tried with `--force`. The issue persists.

[2021-07-10 09:57] jumic commented on #15482
You are trying to create the secret and the SNS subscription based on the secret in a single stack. When the SNS subscription is created during the Cloudformation deployment, the URL in the secret is initial/empty. This means, that it doesn't match the specified protocol (empty string doesn't match an URL).

If you create the secret (manually or in another stack) and maintain the correct URL, you

[2021-07-10 14:00] jaidisido opened #15488 "(aws-cloudtrail): incorrect Trail synthesis when management_events is False"
Deploying a CloudTrail Trail which has `management_events=ReadWriteType.NONE` and a data event (S3 event selector) raises the following error in CFN:
[code]

### Reproduction Steps
Below code will reproduce the error. Make sure to replace the `account` with a valid AWS account ID:
[code]

Now for the interesting part. I have used `cfn-flip` to flip the synthesized template from JSON to YAML and th

[2021-07-10 15:39] dansalias commented on #6743
@ericzbeard @rix0rrr are we able to revisit this please?

[2021-07-10 19:44] douglasnaphas opened #15489 "(aws-cdk): Add a .prettierrc"
I want a [Prettier configuration file](https://prettier.io/docs/en/configuration.html) added at the root of the project, to avoid linter errors where the linter's formatting rules differ from Prettier's defaults.

### Use Case

I bet that Visual Studio Code is the most commonly used editor for working on contributions to the CDK, and that most VS Code users have the formatting extension Prettier s

[2021-07-10 19:57] matthew-valenti opened #15490 "Move Existing Stack Code to CdkPipeline Stage Creates Duplicate Resources"
I have a CDK app with multiple stacks (Cognito, Aurora/MySQL, AppSync, etc). These stacks have been deployed manually using the CLI e.g. `cdk deploy CognitoStack` A `cdk list` shows the following stacks:
CognitoStack
MySqlStack
AppSyncStack

Now I want to deploy all stacks via CI/CD using CdkPipeline. Following the docs, I simply move these stacks into a cdk application stage. Now when I do a `cdk

[2021-07-10 21:15] douglasnaphas opened #15491 "(cdk-build-tools): Add a watch mode for cdk-test"
Add the ability to pass `--watch` to Jest when running `cdk-test`.

### Use Case

I want to keep tests running in [watch mode](https://jestjs.io/docs/cli#--watch) while working on a change.

### Proposed Solution

Add a script similar to [cdk-watch](https://github.com/aws/aws-cdk/blob/aa1d229ddfa15d6229befa7ba37944feba1a5571/tools/cdk-build-tools/bin/cdk-watch.ts), or add `--watch` as an option to

[2021-07-10 21:15] BielosX opened #15492 "(aws-apigateway): Python IntegrationResponse and MethodResponse status_code error"
https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_apigateway/MethodResponse.html#aws_cdk.aws_apigateway.MethodResponse
https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_apigateway/IntegrationResponse.html#aws_cdk.aws_apigateway.IntegrationResponse

Documentation says that parameter is called `status_code` but when i use it i get:
`jsii.errors.JSIIError: Missing required pro

[2021-07-10 21:30] dan-lind commented on #15293
@nija-at I might be able to implement this. Wanted to know if someone would be available to discuss design before I get started?

[2021-07-10 21:44] BielosX opened #15493 "(aws-apigateway): response_parameters param of MethodResponse class doesn't add header to Response Headers"
Hello, i use Api Gateway RestApi and i want to add integration response header mapping. When i use `method_responses` param and define response only `statusCode` is applied. When i check the mapping in AWS Console the `Response Headers` list is empty and my integration doesn't work. When i add this header manually it starts working.
Also when i change `response_parameters` property of my object pa

[2021-07-11 06:48] #15419 closed

[2021-07-11 09:52] stevehodgkiss opened #15495 "(cli): add `--execute-only` or `--skip-create-change-set` flag"
In order to better support deployments from a pipeline (not code pipeline), it would be ideal if the CLI could execute change sets without creating them.

### Use Case

Support for a pipeline that has 3 steps:

- Step 1: Create change set(s)
- Step 2: Human review and approval of change set(s)
- Step 3: Deploy change set(s)

Creating change sets without executing them is already supported with `--

[2021-07-11 10:08] alexpulver commented on #15307
My case was resolved by this after upgrading the Python CDK dependencies

[2021-07-11 16:07] Darknight471 commented on #2516
have you implemented now ?

[2021-07-11 18:58] mzizzi commented on #15197
Working on this one in #15497

Appologies for not giving a heads up ahead of time. I found this issue after working on a patch.

[2021-07-11 21:15] mrpackethead opened #15498 "context lookups should have an option to force a new lookup and not cache."
Context lookups in some cases SHOULD have caching disabled.  ( and in many cases they should be cached ).  I am requesting that an option be added so that you can if you want disable caching, so a new lookup is completed each time a synth is done.

### Use Case

My specific use case ( this time ) is that i am building a app, that uses ec2imagebuilder to produce new golden AMI's based on the latest

[2021-07-11 22:13] madeline-k opened #15499 "(aws-kinesisfirehose): S3 Destination for DeliveryStream"
Allow users to specify an S3 bucket as a destination for a `DeliveryStream`. This covers all features of an S3 Destination excluding Record format conversion which is being tracked in #15501

Part of https://github.com/aws/aws-cdk/issues/7536

### Use Case

A Kinesis Data Firehose delivery stream can't do much without a destination. S3 is one of the natively supported destinations, so it should be

[2021-07-11 22:15] madeline-k opened #15500 "(aws-kinesisfirehose): Kinesis source stream for DeliveryStream"
Allow users to specify a Kinesis data stream as the source for their `DeliveryStream`.

Part of https://github.com/aws/aws-cdk/issues/7536

### Use Case

Linking Kinesis data streams as the source for a Kinesis Data Firehose delivery stream.

- [x] ensure we have handled the race condition in https://github.com/aws/aws-cdk/issues/10783#issuecomment-706589031

### Proposed Solution

See [RFC 340: K

[2021-07-11 22:15] madeline-k opened #15501 "(aws-kinesisfirehose): Record format conversion with AWS Glue for DeliveryStream S3 destination"
Allow record format conversion for Kinesis Data Firehose delivery streams as described here: https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html

Part of https://github.com/aws/aws-cdk/issues/7536

### Use Case

Converting the format of input data for a delivery stream from JSON to Apache Parquet or Apache ORC.

### Proposed Solution

See [RFC 340: Kinesis Firehose Delive

[2021-07-11 22:16] madeline-k opened #15502 "(aws-kinesisfirehose): Custom Http Endpoint destinations for DeliveryStream"
Allow users to specify any custom Http endpoint as the destination for their `DeliveryStream`. This will also include 3rd party destinations, i.e. Splunk.

Part of https://github.com/aws/aws-cdk/issues/7536

### Use Case

This feature is needed for users who want to use Kinesis Data Firehose delivery streams with a non-AWS destination.

### Proposed Solution

See [RFC 340: Kinesis Firehose Deliver

[2021-07-11 22:18] madeline-k opened #15503 "(aws-kinesisfirehose): Redshift destination for DeliveryStream"
Allow specifying a Redshift table as a destination for `DeliveryStream`.

Part of https://github.com/aws/aws-cdk/issues/7536

### Use Case

Specifying a Redshift table destination in CloudFormation or with L1 constructs is very complex, this should be included in the L2 to make it easier for users.

### Proposed Solution

See [RFC 340: Kinesis Firehose Delivery Stream](https://github.com/aws/aws-c

[2021-07-11 22:18] madeline-k opened #15504 "(aws-kinesisfirehose): Elasticsearch destination for DeliveryStream"
### Use Case
Specifying an Elasticsearch domain destination in CloudFormation or with L1 constructs is very complex, this should be included in the L2 to make it easier for users.

### Proposed Solution

See [RFC 340: Kinesis Firehose Delivery Stream](https://github.com/aws/aws-cdk-rfcs/pull/342)

And [this branch with the prototype](https://github.com/madeline-k/aws-cdk/tree/madeline-k/feat/kines

[2021-07-12 01:44] whimzyLive commented on #13767
@deldrid1  Sorry,  wasn't able to get this fix in, but if you want to pick it up, basically everything that needs to get fixed is in the patch that I had pasted above except one change where you will have to take into consideration that a project might be using multiple extended tsconfig.json, in that case, you would want to start by the very first tsconfig.json in the tree and continue merging al

[2021-07-12 07:44] #15307 closed

[2021-07-12 12:02] ABevier commented on #14830
I hit this issue with `DeleteMessageBatch` as well.  If I implement this is it cool if I also deprecate `grantConsumeMessages` and make `grantConsume` and `grantConsumeBatch` ?

[2021-07-12 12:32] gmokki opened #15510 "(cli): stackName can no longer be used to refer to stacks"
cdk 1.102.0 broke referring to stacks by stackName when using wildcards. I know this will change in 2.x version, but we are now stuck at older release that still works with our build script.

### Reproduction Steps

[code]

The example assumes package.json tsconfig.json and cdk.json are copied from here: https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/application-load-balanc

[2021-07-12 12:35] danbo0001 commented on #15478
hi skinny85!

i didn't even think to use that function as it had no setting of the UsernameAsString property, but then i realised of course that meant it would default to false which is what i need :)

but i also didn't look at it properly as it is deprecated which is a more worrying issue - does that mean at some point it will disappear from the credentials class and i will be forced to use one o

[2021-07-12 12:36] danbo0001 commented on #15478
oops forgot to make it @skinny85 so you'd get notified

[2021-07-12 12:52] bcambel-postnl opened #15512 "(aws.events): Double Quotes removal from the event breaks the valid JSON object"
Hi,

I am trying to write incoming events from EventBus/EventBridge into Kinesis Firehose and the data is written into S3.
What I am trying to accomplish here, take the JSON data from the eventbus and write it as a newline into the S3. I have seen some suggestions to use Lambda function in the Firehose, but I think this should be technically possible (and is done on the UI)

I am not sure what is

[2021-07-12 13:50] iwt-dennyschaefer commented on #15344
Yea this is absolutely OK.

Understandable, it's not a super important task.

I'll see what I can do about it :smile:

Yea I would like but so far I'm completely lost in CDK code magic functionality :smirk:

[2021-07-12 15:04] reidca opened #15513 "Setup Cross Account Delegation for existing PublicHostedZone"
### The Question
I have an existing Route53 Public hosted zone in a root AWS account that was created outside of CDK.
Let's call this mycompany.com

I want to create a new sub-domain called data.mycompany.com and delegate this to a child account

I am aware this requires the hosted zone to be created in the child account and for the nameserver records in the parent hostedzone to point at the new d

[2021-07-12 15:07] peterwoodworth commented on #15420
Hey @mduecker was the above response helpful?

[2021-07-12 15:17] peterwoodworth commented on #15498
Hey @mrpackethead

Thanks for this feature request! Are you aware you can currently [manage your context information?](https://docs.aws.amazon.com/cdk/latest/guide/context.html#context_viewing)

Do you have a use case where forcing the CDK to not cache works and the current functionality doesn't?

[2021-07-12 16:10] biffgaut opened #15515 "(CloudTrail): add conditions to service principal trust statement"
Implement a security enhancement to better address Confused Deputy concerns when setting up CloudTrail. CloudTrail has recently been updated to include headers for aws:SourceAccount and aws:SourceArn. Adding conditions in policies that check for one or both of these values in the Bucket Policy ensures that calls from cloudtrail.amazonaws.com are originating from the expected source - avoiding any

[2021-07-12 16:24] jsnowacki opened #15516 "(aws-ecr-assets): cannot build image correctly without docker option `--network host`"
On our setup on AWS EKS runners I try to build image as follows

[code]

The problem is our CICD runners on EKS require option `--network host` on a building step to work correctly to install dependencies, e.g.:

[code]

But it seems that `ecrAssets.DockerImageAsset` doesn't have any way to pass other docker arguments than the listed in https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-

[2021-07-12 17:07] BenChaimberg commented on #15412
@adam-nielsen I've tried to take a stab at reproducing this error but have run into trouble getting libnetcdf4 to install. Would you be able to try to set up a smaller reproduction that doesn't depend on a large external library so that someone from the team can easily set it up? I would also appreciate some more information on ".node" files as I haven't been able to find any information on them.

[2021-07-12 17:18] lulu-jplute commented on #506
@eladb, what's the point of importing a VPC if you have to specify all the other attributes (e.g., subnets, AZs, etc.) and not just the VPC ID? I'd imagine the CDK would get this information on behalf of the developer.

[2021-07-12 17:36] Bryconc commented on #12085
Hi all,

Looks like the property `CopyTagsToSnapshot` has recently been added to the CloudFormation resource (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbcluster.html#cfn-rds-dbcluster-copytagstosnapshot).

(https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/238#issuecomment-875806934)

Does this mean this is ready for implementation?

[2021-07-12 17:41] spg commented on #9248
I went from using a `acm.Certificate` to using a `acm.DnsValidatedCertificate` and this fixed it for me.

[2021-07-12 18:10] BenChaimberg opened #15517 "(kinesisfirehose): fluent support for prefix expressions"
Create helper methods/static variables so users can construct prefix expressions for S3 destinations.

### Use Case

Prefixes can contain expressions that firehose evaluates before sending data to the destination. These are magic strings that we right now perform no modelling or validation. Having helper builder methods will make these less brittle.

### Other

See: https://docs.aws.amazon.com/fir

[2021-07-12 18:17] JerryBLi commented on #15482
@jumic That worked! Thanks for the input!

[2021-07-12 18:17] #15482 closed

[2021-07-12 18:32] skinny85 commented on #12085
Yep @Bryconc. PRs are very much welcome, as always! https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md

[2021-07-12 19:03] AustinMaddox commented on #6052
Anybody have a TypeScript example of how to create a cross-region read replica from an Aurora cluster?

This gives an error: `Property AllocatedStorage cannot be empty.` in CDK version 1.111.0.

[code]

[2021-07-12 19:47] BenChaimberg commented on #15344
I added an example of what needs to be done in the description, hopefully that helps!

[2021-07-12 20:20] peterwoodworth commented on #13759
At the moment, this is what is happening underneath the hood:
https://github.com/aws/aws-cdk/blob/2815a448ed7061740e60304d3f35beb97f66eb86/packages/%40aws-cdk/aws-ecs-patterns/lib/base/application-load-balanced-service-base.ts#L440-L445
The `addListener` function will always be called whether you import an existing load balancer or not. You are able to configure the port of the listener and if the

[2021-07-12 20:35] skinny85 commented on #15478
Hey @danbo0001. That method is deprecated mainly so that new users use the other ones, in order to avoid exactly the problems that you are running into right now 🙂. But we don't anticipate removing it anytime soon.

Hope this clarifies things, let me know if you need any more info from our side on this issue!

Thanks,
Adam

[2021-07-12 20:35] #15478 closed

[2021-07-12 20:41] skinny85 commented on #6052
Hey @AustinMaddox ,

the types in your code don't match - `DatabaseInstanceReadReplica` needs an `IDatabaseInstance` passed through the `sourceDatabaseInstance` property, which `DatabaseCluster` is not (it's a Cluster after all, not an instance 🙂).

Thanks,
Adam

[2021-07-12 20:50] AustinMaddox commented on #6052
Thanks @skinny85 I do realize that fact. I guess the real problem is there isn't a construct that exists for what I'm trying to do. I imagine it would be called `DatabaseClusterReadReplica` rather than `DatabaseInstanceReadReplica` if it did exist.

Any alternatives or workaround to create a read replica of a cluster (or member instance _writer/reader_ of a cluster)?

[2021-07-12 21:17] peterwoodworth commented on #15481
I'll try and reproduce this then get back to you

[2021-07-12 21:19] peterwoodworth commented on #15432
Feel free to ping me if you still need help with this issue 😄

[2021-07-12 21:19] #15432 closed

[2021-07-12 21:20] peterwoodworth commented on #15265
Closing this issue for staleness, please follow the instructions Adam posted and ping me or him if you still need help with this issue 😄

[2021-07-12 21:20] #15265 closed

[2021-07-12 21:25] pgarbe commented on #1559
@clareliguori @SoManyHs Since the CodeDeploy deployment group setting for ECS blue-green deployments is now supported by CloudFormation, are there any plans to continue on this?

[2021-07-12 22:05] skinny85 commented on #6052
I'm not sure. Do you know how would you set it up using CloudFormation by any chance?

[2021-07-12 23:00] peterwoodworth commented on #15513
Thanks for submitting this question and providing all the detail! But unfortunately, I don't believe you're able to accomplish this with the CDK. According to [our documentation:](https://docs.aws.amazon.com/cdk/latest/guide/resources.html#resources_importing)

I'll research this a bit more tomorrow to see for certain, but I'm not hopeful

[2021-07-12 23:01] peterwoodworth commented on #15481
Yup, it's doing this for me as well. Thank you for reporting this!

[2021-07-12 23:08] peterwoodworth commented on #15481
Ah, it looks like this is a duplicate issue. Closing in favor of #14109

[2021-07-12 23:08] #15481 closed

[2021-07-12 23:09] reidca commented on #15513
Thanks for the reply Peter.

I guess in this case I am not trying to modify the resource so much as creating a cross account role that has permission to write name server records into it. There are no properties of the actual resource that change.

I am expecting the role to be created and then the sub domain will write data into it.

Seems to me that should be possible right?

I am sure there wil

[2021-07-13 00:03] jpascoe commented on #15265
No problem. I’ll create new one once I can can identity exact diff between versions. I think it is between 98 and 99 but not identified exact cause yet
Jason

Sent from my iPhone

[2021-07-13 01:10] skinny85 commented on #15070
@danwiltshire confirming I was able to reproduce this error. I'm working on a fix.

[2021-07-13 01:28] conkiztador commented on #15378
Thanks for checking @otaviomacedo. That was a cut-down test case based on a larger stack I was seeing the issue in. I could repro on both when I submitted the bug but now both stacks are updating fine for me so 🤷 . Sorry for the noise.

[2021-07-13 01:28] #15378 closed

[2021-07-13 01:38] skinny85 commented on #15070
I can confirm just adding a `*` at the end of the Role ARN does _not_ solve the problem.

[2021-07-13 02:13] evmartinelli opened #15518 "EKS Fargate: Unable to create VPC"
Im trying to create a simple VPC to use with EKS Fargate service, but im getting error. Could anyone help me, please?

### Environment

  - **CDK CLI Version:1.113.0
  - **Module Version:1.110.1
  - **Node.js Version:16.4.1
  - **OS:** osx
  - **Language (Version): TypeScript (3.8.3)

Code:
`const vpc = new ec2.Vpc(this, "MyVpc", {
      maxAzs: 3 // Default is all AZs in region
    });

    const

[2021-07-13 04:13] otaviomacedo commented on #15518
Hi, @evmartinelli

Please make sure that all CDK dependencies in your `package.json` file have the same version.

[2021-07-13 04:34] adam-nielsen commented on #15412
Many thanks for having a look at this!  I have since found the `talib` package has the same problem and doesn't appear to have as many external dependencies.

Essentially you can pick any CDK stack and try to add `talib` as a dependency and it will no longer build.  Here is a smaller reproduction demonstrating the issue: [cdk-bundle-test.zip](https://github.com/aws/aws-cdk/files/6805880/cdk-bundle

[2021-07-13 05:09] alexpulver opened #15519 "(pipelines): Fail synth if pinned CDK CLI version is older than CDK library version"
The error message should recommend to bump the CDK CLI version and deploy it, before updating the CDK library version.

### Use Case

CDK Pipelines fails to self-mutate when upgrading CDK library version before the pinned CDK CLI version. The reason is that build stage produces cloud assembly using the new CDK library version, but the self-mutate stage still uses the older pinned CDK CLI version.

[2021-07-13 08:07] adam-nielsen commented on #10321
So further to this, I have realised that the active ruleset is no different to any other one.  It looks like the correct process is to manually, via the AWS Console, create a ruleset named something generic (like `default`) and then make it active, once per supported region you wish to use.  From then on, any and all CDK stacks just need to retrieve this existing ruleset and add rules to it like t

[2021-07-13 08:53] mickgortenmulder opened #15521 "Amazon.CDK.AWS.RDS: Add CopyTagsToSnapshot Property to Class InstanceProps"
We're using the DatabaseCluster Class in the C# library (Amazon.CDK.AWS.RDS) which implements DatabaseClusterProps where we use the InstanceProps propery to set properties for database instances on the DatabaseCluster.

We've seen that the CopyTagsToSnapshot property is added to the libraries, however it's not yet available in the InstanceProps.

I'd like the new property CopyTagsToSnapshot to be

[2021-07-13 10:02] McDoit commented on #15513
Hello, i guess you can create your own setup of ns records using AwsCustomResource?
I added a property for a RoleArn to be assumed by the customresource, that would allow you to modify the parent HZ to add the subdomain

[2021-07-13 10:19] synyster90 commented on #5804
I found a fix doing so
`if (proxyAddress && caBundlePath) {
	logging_1.debug('Using proxy server: %s', proxyAddress);
	config.httpOptions.proxy = proxyAddress;

	logging_1.debug('Using CA bundle path: %s', caBundlePath);
	config.httpOptions.agent = new https.Agent({
		ca: readIfPossible(caBundlePath),
		keepAlive: true,
	});
}`

[2021-07-13 10:28] cqcmdwym commented on #3210
@TomLingham tricky solution:
1. delete lock file.
2. set package-lock=false
3. npm install
4. set package-lock=true
5. npm install

[2021-07-13 10:40] cqcmdwym opened #15522 "(npm install): npm install CANNOT fetch package behind proxy or corporate artifactory"
## :question: General Issue
Since published aws-cdk include npm-shrinkwrap.json file(will be published by default, package-lock.json not), if we are behind a proxy or corporate artifactory(will block public yarn/npm) or we have no packages cached, npm install will fail.

### The Question

### Environment

  - **CDK CLI Version:** v1
  - **Module Version:**
  - **Node.js Version:** v12.18.3
  - **O

[2021-07-13 10:53] reidca commented on #15513
Yeah I guess that's an option, is your custom resource on GitHub?

 I was looking for something built in to CDK really. It's an odd one as I liken Route53 to a database and therefore believe that the ability to add entries into the database should not be restricted to only on creation.

[2021-07-13 11:35] McDoit commented on #15513
Its in the CDK project, a bit information in this PR:
https://github.com/aws/aws-cdk/issues/13915

[2021-07-13 11:41] iliapolo opened #15523 "(aws-cloudfront): Unexpected diffs caused by cloudfront.Function"
Non deterministic auto-generated function name causing unexpected diffs.

### Reproduction Steps

Using this code:

[code]

1. synth and extract the function name
2. synth again and extract the function name

The function name is different for every synth.

### What did you expect to happen?

The function name should be the same.

### What actually happened?

Function name changes per synth.

###

[2021-07-13 12:32] iwt-dennyschaefer commented on #15344
Cool, I will have a look later this week.

[2021-07-13 12:34] eladb commented on #15523
I would recommend using `Node.of(this).addr` which returns a stable fixed length output

[2021-07-13 12:47] evmartinelli commented on #15518
Hello, @otaviomacedo

Worked! Thank you!!
All dependecies except eks (1.113.0) was 1.111.0.

See you!

[2021-07-13 12:47] #15518 closed

[2021-07-13 12:56] hoegertn commented on #15523
@njlynch 's wish was to add the region information as CF is a global service. But if this is no longer needed happy to remove it. This would be a breaking change for the implementation afaik.

[2021-07-13 14:16] eladb commented on #15523
What kind of breaking change?

[2021-07-13 14:20] revmischa opened #15524 "(aws-lambda): layer versions delete permissions on old versions"
I am trying to publish a [public lambda layer](https://github.com/jetbridge/lambda-layer-prisma-pg) for all to use.

When I publish a new version, old versions become inaccessible to anyone in another AWS account.

### Reproduction Steps

See code here: https://github.com/jetbridge/layers-cdk/blob/master/lib/infra-stack.ts#L15

### What did you expect to happen?

Old layer versions should retain t

[2021-07-13 14:23] hoegertn commented on #15523
If we change the generation of the name it will recreate the CF functions on the next deployment. The name is the physicalName of the function.

[2021-07-13 14:28] eladb commented on #15523
Will it cause outage or availability risk?

[2021-07-13 14:31] hoegertn commented on #15523
The ARN will change and this will break CF Distributions using it if not within the same stack. A short outage might as well be a thing as it removes one CFF and then registers the new CFF.

[2021-07-13 14:35] eladb commented on #15523
I think CFN will first create the new CFF, update the distribution and only then remove the old one (that's how resource replacement works)

[2021-07-13 14:37] madeline-k commented on #15365
I think we should keep the current implementation and update the docs. It seems like the intention here was to create a new security group, since the docs actually say that in one place here: "default: A new security group is created." and that is what has been implemented.

Changing this to use the default security group might cause some unexpected changes for customers already using the default

[2021-07-13 14:41] madeline-k commented on #15366
Looks like this is a breaking change and we should try to fix this as soon as possible. I am going to try to repro it.

[2021-07-13 14:44] madeline-k commented on #15400
Agreed this would be a great feature to add! @nikovirtala I am triaging this as a p2, which means the CDK team will not be able to prioritize it right now. But we always welcome contributions! Check out the [contributing guide](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) for instructions on how to submit a PR.

[2021-07-13 14:55] hoegertn commented on #15523
I meant on the distribution. So there might be a time where no CFF is registered.

[2021-07-13 15:10] revmischa commented on #15524
Also another odd unrelated thing is I have:
`compatibleRuntimes: [Runtime.NODEJS_12_X, Runtime.NODEJS_14_X],`
But it shows it as compatible with 10.x,12.x in the console:

<img width="945" alt="Screen Shot 2021-07-13 at 6 10 32 PM" src="https://user-images.githubusercontent.com/245131/125477066-6486e423-5536-48b9-ba41-8198b80f747e.png">

[2021-07-13 15:56] bmacher commented on #15365
I don't really have an use case because I just found the issue while looking for something different. Anyways thanks for helping out.

[2021-07-13 16:25] privogpynes commented on #15412
I had this issue a while back deploying lambda@edge with the [sharp](https://github.com/lovell/sharp) module as it also has native dependencies. You're spot on about the compiled native outputs, they're binaries which is why you can't actually bundle them into your js the way esbuild wants.

I took a stab at solving your issue using the sample you provided. When I tried to download that `talib` pa

[2021-07-13 16:33] Pandafriendd opened #15525 "(aws-cdk): "cdk bootstrap" to upgrade from v6 to v7 result of CDKPipeline Failure with S3 Access Denied"
### Reproduction Steps

Following the [CDK Workshop for CDKPipeline](https://cdkworkshop.com/20-typescript/70-advanced-topics/200-pipelines.html). With the latest version of bootstrap template (`v7`), in the `CHANGE_SET_REPLACE` action of deployment stage, it failed with error `Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied;`

### What did you expect to happen?

The

[2021-07-13 17:50] peterwoodworth commented on #15522
Hey @cqcmdwym, sorry you're running into this issue. Are you looking for help in working around this?

[2021-07-13 17:53] peterwoodworth commented on #15114
Marking this as a feature request. Mitch should be able to give you a response soon

[2021-07-13 17:58] sarbajitdutta commented on #7710
+1 for this

[2021-07-13 17:58] skinny85 commented on #15521
Thanks for opening the issue @mickgortenmulder! The fastest way to get this in would be to submit us a Pull Request adding this option - should be fairly straightforward! Here's our "Contributing guide": https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-07-13 18:31] peterwoodworth commented on #14994
Seems like this issue has been appropriately answered, if you don't have any more questions i think we can close this out. @dfonnegra do you still need help with this?

[2021-07-13 18:55] groner commented on #15309
I'm running into this today.

It looks like aws/aws-sdk-js#3736 adds SSO support to aws-sdk, but it hasn't landed yet.

Maybe things will just start working once it does?

[2021-07-13 19:04] skinny85 commented on #15070
Hmm, so I think I know what the problem is.

The issue is that, when using `TagParameterContainerImage` across accounts, the execution Role of the Task in the Stack is added to the resource policy of the ECR Repository. However, that Role doesn't exist at the time the Repository is deployed! (Because it belongs to the service Stack which will only be deployed by the Pipeline)

[2021-07-13 19:11] skinny85 commented on #15070
If you provide a Role that _does_ exist, the deployment is successful. So ECR definitely does support Role-based resource policies.

[2021-07-13 19:11] danwiltshire commented on #15070
Yeah you're right, I just tried specifying a nonexistent role in a different account and it failed.  As soon as I specify a role that exists, it works.

[2021-07-13 19:13] skinny85 commented on #15070
This is quite the conundrum. Not sure exactly how to handle this from the CDK side.

[2021-07-13 19:16] danwiltshire commented on #15070
There is the option of granting access at the account level e.g. `arn:aws:iam::01234567890:root`... although maybe not ideal for the security concious.

[2021-07-13 20:19] AhmadDaoud commented on #15490
I had the same issue (using Python) but worked around it by explicitly specifying passing **stack_name** argument when defining the stack:

[code]

[2021-07-13 21:36] hoegertn commented on #15279
As #15169 only touches the BuildSpec I will implement this in a separate PR to not mix too many things.

[2021-07-13 21:38] hoegertn commented on #15279
I think the specific use case mentioned in this issue is already possible with the `supportDockerAssets` option of the pipeline.

@mrpackethead can you test if this solves the problem?

[2021-07-13 23:13] kidbrax opened #15529 "Allow us to define context values using YAML instead of JSON."
Allow us to define context values using YAML instead of JSON.

### Use Case

Defining context using YAML will allow us to add comments. Looks like we have taken a step backwards. CFN used to require us to use JSON and then finally allowed us to use YAML. Now we have this great new tool but are required to use JSON again.

### Proposed Solution

Allow us to define context values using YAML instead

[2021-07-13 23:19] mrpackethead commented on #15279
Not sure if i missed that when i first setup my pipelines or if supportDockerAssets has been added in subsequent versions..  For that specific issue, it would resolve the issue and makes the container run in a prividlged mode ( so docker can run ). However it doestn allow me to adjust the other parameters of the environment ( such as size )..

Additinally ( a new want/requirement ) is that i want

[2021-07-13 23:25] mrpackethead opened #15530 "s3_deployment Can't deploy Bucket."
This code segment is causing an error at synth time..

[code]
THis is error that i  i get at synth

[code]

My best guess is that is missing some option from cdk.json but i'm not at all sure.

[2021-07-14 00:12] wong-a opened #15531 "(aws-stepfunctions): Support dynamic Task timeouts (TimeoutSecondsPath/HeartbeatSecondsPath)"
Amazon States Language supports dynamic Task state timeout and heartbeat configurations by the `TimeoutSecondsPath` and `HeartbeatSecondsPath` properties respectively. `TimeoutSecondsPath` has the same effect as `TimeoutSeconds` but reads the seconds value at runtime from the state input using JSONPath. This is not supported in CDK without a CustomState.

- https://docs.aws.amazon.com/step-functio

[2021-07-14 01:15] rafalwrzeszcz commented on #13250
A little dirty workaround I created in my stack is:

[code]

I think similar setup could be made from within the construct soemwhere at https://github.com/aws/aws-cdk/blob/v1.113.0/packages/@aws-cdk/pipelines/lib/synths/simple-synth-action.ts#L371 - repeated for build-synth and self-update step actions

[2021-07-14 01:41] joelcox22 opened #15532 "(elasticsearch): slow logs can't be enabled for some versions of elasticsearch"
There's conflicting documentation about which versions of elasticsearch support slow logs.

https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createdomain-configure-slow-logs.html
says it can be enabled for all versions, and manual testing in the aws console seems to verify this

https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-features-by-versio

[2021-07-14 04:58] mrpackethead commented on #15530
Feeling a little silly. This was my problem. dependanies.

[2021-07-14 04:58] #15530 closed

[2021-07-14 05:00] seanWLawrence commented on #8232
I found this error when `codeSigningConfiguration` was setup on the edge function. Removing it worked.

[2021-07-14 09:40] jogold commented on #15523
I don't understand how it can be different... at synth time the token is resolved no? so you get a `Fn::Join`:

https://github.com/aws/aws-cdk/blob/94f81c441f9e2cb8dc70eb2e772d2cd75e468b67/packages/%40aws-cdk/aws-cloudfront/test/function.test.ts#L48-L58

If you snapshot it, it should always return the same `Name`?

[2021-07-14 09:54] stevestorey commented on #9261
This was the top result when I was searching for a solution to the same issue, and I did find a way to do it which I'll leave here - you can pass context parameters when you run the `cdk` script, so you can do something like `cdk deploy -c myParam=some-value` and pick up the context value as you're creating the stack - something like this (Typescript, but I would assume the same applies to the oth

[2021-07-14 10:02] ReidWeb opened #15537 "(s3-deployment): Support tags to apply to objects in BucketDeployment"
Presently, the [BucketDeployment construct supports the option to apply `metadata` to objects it deploys](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3-deployment.BucketDeployment.html#metadata), would it be possible to have the option to set tags to apply also.

### Use Case

With the application of a [permissions boundary](https://docs.aws.amazon.com/IAM/latest/UserGuide/access

[2021-07-14 13:22] eriklz commented on #13759
We have pretty much the same use case as @CONJAUMCGCG - one shared ALB for multiple services, which is set up separately from the services themselves in a different stack, plus be able to use blue-green deployments with these services, preferably.

[2021-07-14 13:58] michaelgmcd commented on #15427
I tried opening a PR for this, but Pinpoint is still in the "experimental" state, so it can't be a dependency of aws-cognito. I could probably work around this, but there's an easy workaround in the meantime:

[code]

[2021-07-14 14:08] om12ar commented on #13129
I'm running into the same issue as @ashald.

The suggested work arounds did not work in my case. The policy does not dedupe into a single statement, it gets added multiple times instead.
I also was not able to use `role.withoutPolicyUpdates()` because I'm creating instances of `AwsCustomResource` in multiple stack that need to share the same role. Importing the roles across stacks will not work si

[2021-07-14 15:22] shanecarey17 opened #15541 "Prevent ec2 instance from bring recreated when using latest amazon linux 2 ami"
## :question: Prevent ec2 instance from being recreated when latest amazon linux 2 ami updates

### The Question

Using an ec2 instance in cdk (python) like so

[code]

will according to the documentation fetch the latest AMI from the SSM. The problem is, `cdk diff` will not show the diff when the latest version updates. Instead, it will show no diff and attempt to replace the instance on `cdk dep

[2021-07-14 16:51] richarddotcodes commented on #5137
Can this issue be updated with the current status? I'm interested in using higher level constructs (like the ASG) to set metadata options, but I'm not seeing a path forward after navigating through the various linked issues.

Is this still blocked by CloudFormation? The following docs appear to show it's now supported:

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-

[2021-07-14 17:17] madeline-k opened #15543 "(aws-kinesisfirehose): support for metrics in DeliveryStream"
### Use Case

Implement specific metrics functions: i.e. `metricIncomingBytes()`

### Proposed Solution

See: https://github.com/aws/aws-cdk/pull/15505/files

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-14 18:11] madeline-k opened #15546 "(aws-kinesisfirehose): Support for server-side encryption in DeliveryStream"
Add support for Server-side encryption to the Kinesis Data Firehose L2.

### Use Case

[code]

### Proposed Solution

See: https://github.com/aws/aws-cdk/pull/15505/files

### Other

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-14 20:20] alex4u2nv commented on #3894
`echo "response"` normally works for commands that prompts for a response.
For example: `echo "y" | cdk destroy stackname`

[2021-07-14 20:26] madeline-k opened #15548 "(aws-kinesisfirehose): support for data compression on DeliveryStream destinations"
Add the ability to select data compression at the destination for data delivered via a Kinesis Data Firehose delivery stream.

### Use Case

[code]

### Proposed Solution

See: https://github.com/aws/aws-cdk/pull/15505/files

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-14 21:22] madeline-k opened #15551 "(aws-kinesisfirehose): prefixes for delivery stream S3 destination"
### Use Case

[code]

https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html

### Proposed Solution

See: https://github.com/aws/aws-cdk/pull/15505/files

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-14 21:48] madeline-k opened #15554 "(aws-kinesisfirehose): support for Buffering Hints on DeliveryStream destinations"
### Use Case

[code]

### Proposed Solution

See:https://github.com/aws/aws-cdk/pull/15505/files

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-14 21:56] madeline-k opened #15555 "(aws-kinesisfirehose): support for encryption on DeliveryStream S3 destinations"
S3 destinations (intermediary, backup, and final) support encryption by providing a KMS key.

### Use Case

Pass in a KMS key to the construction of a DeliveryStream to encrypt the data stored in the S3 bucket destination(s)

### Proposed Solution

See https://github.com/aws/aws-cdk/pull/15505/files

### Other

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This featu

[2021-07-14 23:34] uxth opened #15559 "FullRepositoryId contains owner "AWS", branch could not be found"
Hello,

I met this bug when using codepipeline to download source code and build.

in the code pipeline, I have used CodeStarConnectionsSourceAction for source code stage, in which it will ask for owner and repo.
the owner is AWS, the repo is my repo name. and the branch I set to master
but after deploying it, it could not find the branch for my repo.

after download the json schema of my pipeline

[2021-07-14 23:49] skinny85 commented on #15559
Hi @uxth,

thanks for opening the issue. Can you specify:

1. The `owner` and `repo` that you provided for `CodeStarConnectionsSourceAction`.
2. The full URL to the GitHub repository that you want to connect to.

Thanks,
Adam

[2021-07-15 00:01] uxth commented on #15559
hi @skinny85

                        connection_arn='arn:aws:codestar-connections:us-west-2:192878884426:connection/81711257-3407'
                                       '-4781-bc43-5e5f7db2fadc',
                        output=source_artifact,
                        owner='AWS',
                        repo='TuSimple/map-aws-infra',
                        branch='ningxu/argo_persistence',

thi

[2021-07-15 00:23] uxth commented on #15559
BTW, this can be found in the cdk_out folder, in some json files.

each time, if I ran 'cdk ls', this will automatically change back to owner + repo.

[2021-07-15 00:45] skinny85 commented on #15559
Sorry. Is the owner of the repo `'AWS'`, or `'TuSimple'`? Like, what is the GItHub link to the repo? (Just show it to me, it doesn't matter that I won't have access to it)

[2021-07-15 00:48] uxth commented on #15559
the owner is AWS, and it does not allow for other values except for AWS, Custom, ThirdParty.

the TuSimple is the organization.

the git repo link is  https://ghe.tusimple.io/TuSimple/map-aws-infra/

[2021-07-15 00:51] skinny85 commented on #15559
Ah. I understand. You're thinking of a different "owner" 🙂.

Here, the `owner` is `'TuSimple`. So, it should be:

[code]

[2021-07-15 00:51] skinny85 commented on #15559
`owner` means the owner of the repo. Not the owner of the Action.

[2021-07-15 00:53] uxth commented on #15559
yes, I know that, but if I change the owner to other values it will give me this error:

An error occurred (ValidationException) when calling the UpdatePipeline operation: 1 validation error detected: Value at 'pipeline.stages.1.member.actions.1.member.actionTypeId.owner' failed to satisfy constraint: Member must satisfy enum value set: [Custom, AWS, ThirdParty]

[2021-07-15 00:56] uxth commented on #15559
oh, I think I know what is wrong, let me try it

[2021-07-15 01:12] skinny85 commented on #15559
Did it? 🙂

[2021-07-15 01:18] phuctm97 commented on #15427
Thanks for sharing @michaelgmcd, will this work? As I remember `analyticsConfiguration` also requires a serviced link `role` param which should declare AWS Cognito permission to upload the Pinpoint project.

[2021-07-15 01:29] uxth commented on #15559
it has not finished, but I think it works. thank you! :)

[2021-07-15 01:29] #15559 closed

[2021-07-15 01:50] #15305 closed

[2021-07-15 02:30] #9489 closed

[2021-07-15 03:19] michaelgmcd commented on #15427
Cloudformation will generate one if you don't specify a "role" parameter.

[2021-07-15 05:34] lkoniecz opened #15561 "Log retention for automatically generated lambdas"
CDK creates child stacks which holds custom resource handlers.
For instance
awscdkaws-ProviderframeworkonEvent-1CJ03F7JMQAA1
awscdkaws-ProviderframeworkisCompl-6SWCWM6HD6K9
awscdkaws-ProviderframeworkonTimeo-KT613E7PSGLA
and so on
Those lambdas logs to cloudwatch logs group which do not have any retention policy.

### Use Case
I don't need to keep those logs for eternity. Configurable retention wo

[2021-07-15 07:11] phuctm97 commented on #15427
That's great news! Thanks, Michael!

So the step now is to bring Pinpoint pass "experimental" state, which I can imagine is to build the whole L2 of Pinpoint module?

[2021-07-15 07:58] eladb commented on #15523
I think the problem is not the sequence number but actually the _length_ of the unresolved token which is truncated (but I am not 100% sure). This requires taking a closer look.

[2021-07-15 08:02] eladb commented on #15523
@njlynch as you are fixing this, please notice that there seems to be an issue with the `AWS::CloudFront::Function` resource which causes an update failure if the function name is changed:

[code]

This is not very surprising since the physical name is explicitly specified. CFN will send an UPDATE operation with the new physical name and the resource provider won't be able to find it (because it s

[2021-07-15 08:53] nija-at commented on #15295
Assigning to @skinny85 who is working in this area and CDKv2.

[2021-07-15 09:06] stevehodgkiss commented on #3780
Made a start on this in https://github.com/aws/aws-cdk/pull/15494 Interested in your thoughts!

[2021-07-15 10:07] #10872 closed

[2021-07-15 11:42] joekendal commented on #9435
It is better to use ECR so that you don't get random rate limits by DockerHub. We had this recently where we couldn't deploy anything. The solution is to just reference the ECR public mirror like so:
[code]

[2021-07-15 11:51] rix0rrr commented on #15490
Yes exactly. If your stack names changed as part of putting them into Stages (which they probably will have) you need to force them back to the original names.

[2021-07-15 11:51] #15490 closed

[2021-07-15 12:39] nija-at commented on #15524
I assume you're setting this up using the [`addPermission()`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.LayerVersion.html#addwbrpermissionid-permission) API.

This is intentional. The CDK operates, by default, on the principle of least privilege.
When you publish a new layer version, we remove the permission for the old layer versions and move them onto the newer layer ve

[2021-07-15 13:00] chris-bannister-privitar commented on #9248
Also hitting this, though it seems to only be an issue when the hosted zone is from `HostedZone.fromHostedZoneAttributes` as the same codepath works fine when the hosted zone is created by the app which is generating the certificate.

[2021-07-15 13:29] kidbrax opened #15566 "How can I add existing EC2 instances to an EndpointGroup?"
## :question: General Issue

I am trying to create an [EndpointGroup](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_globalaccelerator/EndpointGroup.html) and use existing instances. How can I do this? I tried using [InstanceEndpoint](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_globalaccelerator_endpoints/InstanceEndpoint.html).

I am using Python.

I have somethin

[2021-07-15 13:34] Obirah opened #15567 "@aws-cdk/aws-eks: KubernetesVersion V1.20 from string results in wrong machine image SSM parameter name"
When parsing the string `'1.20'` as `KubernetesVersion`, the automatic resolving of the machine image SSM parameter name results in a wrong name.

### Reproduction Steps

Either:
`this.machineImage = new EksOptimizedImage({ kubernetesVersion: this.config.version });` where `this.config.version` is `'1.20'`.

Or create an EKS cluster with `KubernetesVersion.of('1.20')`.

### What did you expect to

[2021-07-15 13:44] nija-at commented on #14822
@fwang - feel free to open a separate feature request and tag it appropriately on whether you're looking for support in APIGWv1 or v2.

[2021-07-15 13:47] MagdalenaMecinska opened #15568 "(module name): short issue description"
Hi, I ran into a problem with the body sent in the request. My case only requires binary file support in some endpoints, in others it is plain json. My problem is that when I include binary support in my api, any other json body is auto converted to base64 and no matter what the meta data on s3 is set to application/octet-stream. It is quite bothersome because in lambdas I have to restore their st

[2021-07-15 13:49] #15568 closed

[2021-07-15 13:51] MagdalenaMecinska opened #15569 "ApiGateway CDK problem with binaryMediaTypes and another content data"
Hi, I ran into a problem with the body sent in the request. My case only requires binary file support in some endpoints, in others it is plain json. My problem is that when I include binary support in my api, any other json body is auto converted to base64 and no matter what the meta data on s3 is set to application/octet-stream. It is quite bothersome because in lambdas I have to restore their st

[2021-07-15 13:57] dan-lind commented on #15293
Sure, it's here.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigatewayv2-integration.html#cfn-apigatewayv2-integration-requestparameters

Which refers to this page:

https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-parameter-mapping.html

I have a proposal that is a bit different to what Novax proposed above. Can share its later tonight.

[2021-07-15 14:12] nija-at commented on #15293
Thanks @dan-lind.

Sounds good. I would suggest that you start by opening a PR containing just the changes to the README of the `aws-apigatewayv2-integrations` module to describe what the user experience looks like.

Once we're happy there, you could then move to implementation.

To keep the changes manageable, I recommend focusing on the experience of HTTP APIs *without* an integration subtype.

[2021-07-15 14:36] nija-at commented on #15427
This is a duplicate of https://github.com/aws/aws-cdk/issues/9731

[2021-07-15 14:36] #15427 closed

[2021-07-15 15:03] cyuste opened #15572 "(custom-resources): Permissions boundaries not applied to all roles"
### Reproduction Steps

Code example [here](https://github.com/cyuste/testBoundaries)
Before synthesising an account/region must be configured in the [stack options](https://github.com/cyuste/testBoundaries/blob/e6eccfde25aab1fd0202f1d9f1666b21bfdcc36b/bin/test-boundaries.ts#L8)
and after configure a vpc name that exist in the account/region [here](https://github.com/cyuste/testBoundaries/blob/e6e

[2021-07-15 15:11] nohack commented on #15400
@madeline-k created a pr for this.thanks.

[2021-07-15 15:17] #14998 closed

[2021-07-15 15:27] tuanardouin opened #15573 "API Gateway: Too Many Requests on API creation"
Hello,

When creating an API that contains a lot of endpoints, we reach the API Gateway limit on resource creation and get the error

[code]

The limits :
https://docs.amazonaws.cn/en_us/batch/latest/userguide/service_limits.html

### Reproduction Steps

Create a REST API with a lot of resources.

### What did you expect to happen?

I expected that CDK will consider this and have a 'sleep' between

[2021-07-15 15:27] chris-bannister-privitar opened #15574 "(@aws-cdk/aws-certificatemanager): certificate SAN's not filtered for validated"
https://github.com/aws/aws-cdk/blob/62e2f197a2dd25bcdfc06747d2897f4f29aa1a6c/packages/%40aws-cdk/aws-certificatemanager/lib/certificate.ts#L281 does not correctly filter wildcard domains for unresolved token domains, consider the following certificate request

[code]

When the domain name is known then this generates the correct certificate request with `*.acme.com` filtered out of the certificate

[2021-07-15 15:28] chris-bannister-privitar commented on #9248
@spg @antonioortegajr @joaomilho I posted a work around in #15574

[2021-07-15 16:02] crawfobw opened #15575 "(aws-s3): add_event_notification does not generate Cloud Formation template with cross-stack bucket dependency"
I'm attempting to add `add_event_notification` to a bucket in a separate stack from where the bucket is owned but no cloudformation template is generated to create the event notification

### Reproduction Steps
[code]

### What did you expect to happen?
Cloud Formation template to be generated for S3 event notification

### What actually happened?
No cloudformation rtemplate is generated for the S

[2021-07-15 16:05] crawfobw commented on #15575
Note doing the following will result in the Cloud formation template generating correctly
[code]

[2021-07-15 16:27] skinny85 opened #15576 "Finalize the names of the unstable modules in V2"
We need to decide on the exact names of the V2 unstable packages: things like the NodeJS module name, the Java `groupId`, `artifactId`, and Java package, C# package name and C# namespace, etc. - specifically, how they compare to their V1 counterparts. We need to choose the names deliberately so that the migration from V1 to V2 is as smooth as possible.

Right now, after #15442 has been merged, the

[2021-07-15 16:28] skinny85 opened #15577 "Finalize the names of the unstable modules in V2 (this includes their names in non-NodeJS languages)"
We need to decide on the exact names of the V2 unstable packages - specifically, how they compare to their V1 counterparts.

Right now, after #15442 has been merged, the names are:

- NodeJS:
    - `@aws-cdk-lib-alpha/aws-<service>`
- Java:
    - `groupId`: `software.amazon.awscdk` (same as V1)
    - `artifactId`: `cdk-alpha.aws-<service>` (compared to just `<service>` in V1)
- C#:
    - `packageI

[2021-07-15 16:32] XuejiaoZhang opened #15578 "(aws-eks): Unable to deploy EKS cluster in HongKong Region (ap-east-1), probably all regions not enabled by default"
### Reproduction Steps

### What did you expect to happen?

### What actually happened?

### Environment

  - **CDK CLI Version  : 1.113.0**
  - **Framework Version:**
  - **Node.js Version: v13.10.1**
  - **OS               : MacOS**
  - **Language (Version):**

### Other
Potential cause: [the STS endpoint problem ](https://aws.amazon.com/premiumsupport/knowledge-center/iam-validate-access-creden

[2021-07-15 16:33] XuejiaoZhang opened #15579 "(aws-eks): Unable to deploy EKS cluster in HongKong Region (ap-east-1), probably all regions not enabled by default"
In AWS HongKong region (ap-east-1), creating an EKS cluster with cdk  failed, with this error message:

[code]

### Reproduction Steps
EKS stack

[code]

Run
[code]

### What did you expect to happen?

EKS cluster to be successfully created.

### What actually happened?

Failed to create resource EKS cluster

### Environment

  - **CDK CLI Version  : 1.113.0**
  - **Framework Version:**
  - **Node

[2021-07-15 16:39] #15578 closed

[2021-07-15 17:06] crisboarna commented on #15525
I am also encountering this issue, as well having the issue that any CodePipeline UpdatePipeline step fails with following error:

![CleanShot 2021-07-15 at 20 02 27](https://user-images.githubusercontent.com/12763781/125828383-61078c45-80bb-4688-850c-dd32af935b3c.png)

This is happening since 1.107.0 and I am unable to upgrade versions since as I have to use 1.106.0 to be able to run the pipeline

[2021-07-15 17:08] skinny85 opened #15581 "Finalize the versions of the unstable modules in V2"
Two main questions:

1. Should they be versioned independently of each other, or should they all be released in a single version together, like V1 modules are today?
2. What should be the exact version - `2.0.0-<prerelease-tag>`, or `0.x.y`?

[2021-07-15 17:13] skinny85 opened #15582 "Release stable L3 modules separately"
Right now, L3 modules like `@aws-cdk/aws-ecs-patterns` and `@aws-cdk/aws-route53-patterns` are included in the `aws-cdk-lib` package.

We can use the same mechanism we use for unstable modules to release these stable modules too, outside of `aws-cdk-lib`.

[2021-07-15 17:22] gshpychka opened #15584 "(@aws_cdk): Python: changing positional parameter names in interface implementations causes a typing error."
In Python prior to 3.8 (and all the jsii-generated Python code), all function arguments are keyword arguments. In the TS source code, a lot of interface implementations override their interface's functions with different parameter names, which makes them incompatible with the interface in Python.

First of all, it causes typing errors (I'm using pyright).
More importantly, it makes these python cl

[2021-07-15 17:28] patruff commented on #8080
Why not revert back or allow instance profile to be set in the construct?

[2021-07-15 17:44] revmischa commented on #15524
Okay, I did:
[code]

Got error: `Invalid LayerVersion ARN: arn:aws:lambda:eu-central-1:898466741470:layer:PrismaPg`

[2021-07-15 17:50] skinny85 opened #15585 "Handle the tests of the `@aws-cdk/aws-lambda-go` module in the V2 build of experimental modules"
The module currently has 2 problems that prevent it from being correctly built by the [`@aws-cdk-lib` package](https://github.com/aws/aws-cdk/tree/v2-main/packages/%40aws-cdk-lib):
* [x] [Mocking the hard-coded `@aws-cdk/aws-lambda` module](https://github.com/aws/aws-cdk/blob/aa1d229ddfa15d6229befa7ba37944feba1a5571/packages/%40aws-cdk/aws-lambda-go/test/bundling.test.ts#L9-L9)
* [x] [Hard-coding

[2021-07-15 17:51] skinny85 opened #15586 "Handle the tests of the `@aws-cdk/aws-lambda-python` module in the V2 build of the experimental modules"
The module currently has 2 problems that prevent it from being correctly built by the [`@aws-cdk-lib` package](https://github.com/aws/aws-cdk/tree/v2-main/packages/%40aws-cdk-lib):
* [ ] [Mocking the hard-coded `@aws-cdk/aws-lambda` module](https://github.com/aws/aws-cdk/blob/aa1d229ddfa15d6229befa7ba37944feba1a5571/packages/%40aws-cdk/aws-lambda-python/test/bundling.test.ts#L7-L7)
* [ ] [Hard-cod

[2021-07-15 18:02] skinny85 opened #15587 "Remove the L1s from unstable modules in V2"
Right now, the build of the unstable modules added in https://github.com/aws/aws-cdk/pull/15442 copies the L1s of the unstable modules alongside everything else.

However, those L1s are already present in `aws-cdk-lib` (yes, those get copied even for unstable modules; only the L2s get stripped from there. This was added in https://github.com/aws/aws-cdk/pull/14135). Given that, we probably shouldn

[2021-07-15 18:06] gshpychka opened #15588 "(aws-chatbot): Add notification topics to an existing SlackChannelConfiguration construct"
I'm looking for the ability to add SNS notificaiton topics to a `SlackChannelConfiguration` object outside of its constructor.

### Use Case

Define a channel configuration in one stack and add some SNS topcis to it in another

### Proposed Solution

This would probably be a `addNotificationTopics` class method.

This is a :rocket: Feature Request

[2021-07-15 18:07] skinny85 opened #15589 "Handle the `@aws-cdk/assertions` library in the V2 build of unstable modules"
The `@aws-cdk/assertions` library uses a [build process](https://github.com/aws/aws-cdk/blob/dd38eff318c31bf2c5308f6b3daae0fd433b4370/packages/%40aws-cdk/assertions/package.json#L54) to "vendor in" a few dependencies (`@aws-cdk/cfnspec` and `@aws-cdk/assert`, I believe). This makes it incompatible with the V2 build of experimental modules added in https://github.com/aws/aws-cdk/pull/15442. We need

[2021-07-15 18:10] skinny85 opened #15590 "Fix the "no unstable-to-unstable dependencies" `pkglint` rule"
The change done in https://github.com/aws/aws-cdk/pull/14249 is not exactly correct. It looks at the [`stability` of the package](https://github.com/aws/aws-cdk/pull/14249/files#diff-3c38ae20cded2082ff30639f70bc5805053217bea1e14b540ac5d8989bb462fbR1667), while it should be checking its `maturity` instead.

This leads to some [weird exceptions](https://github.com/aws/aws-cdk/blob/a2e95e97fc775d061b

[2021-07-15 18:20] peterwoodworth commented on #15406
Reopening this as customers are still having issues with S3 Access Denied errors with the new bootstrap stack

[2021-07-15 18:31] matthew-valenti commented on #15490
Interesting! Specifying an explicit stack name does resolve this issue. However, it also results in a bit of unexpected behavior.

CloudFormation in the console displays the specified stack name e.g. CognitoStack
But `cdk list` displays the long stack name: CdkPipelineStack/CdkApplicationStage/CognitoStack

`cdk deploy CognitoStack` seems to run stack code. e.g. adding console.log statement output

[2021-07-15 18:42] skinny85 opened #15591 "Add the logic for the release of the unstable modules"
We need to:

1. Create the [bump logic](https://github.com/aws/aws-cdk/blob/09591c6268d0e03937741e4f7cad9b97e21b131b/bump.sh#L1) in the [`cdk-release` tool](https://github.com/aws/aws-cdk/tree/09591c6268d0e03937741e4f7cad9b97e21b131b/tools/cdk-release#L79-L79) for unstable modules. The exact logic of the version bumping depends on the questions answered in https://github.com/aws/aws-cdk/issues/155

[2021-07-15 19:19] peterwoodworth commented on #13759
Can you open a feature request for this @eriklz?

[2021-07-15 19:40] OrEisenberg commented on #12477
Any updates on this?

[2021-07-15 20:02] asterikx opened #15592 "(pipelines): modern pipeline loops indefinitely due to unstable source action name"
The pipeline loops indefinitely from the `UpdatePipeline` stage to the `Source` stage due to an unstable action name of the source action.
The source action name contains an (unresolved?) token string of the form `__Token_TOKEN.XXX__`. Since the token number (`XXX`) changes during each synth step, the pipeline updates itself indefinitely when `selfMutation` is `true` (default behavior).
It is not

[2021-07-15 20:07] momchilvangelov commented on #8287
Any progress ?

[2021-07-15 20:38] biffgaut commented on #15515
We just got an additional message on the ticket flagging this issue saying the ticket would be auto-resolved and any changes should be removed as the service does not support these headers yet, but a new ticket would be opened in the coming weeks when the service implements this support. I guess we can leave this issue open for when that occurs or let it close and reopen it when that occcurs.

[2021-07-15 21:26] abjoshi2785 opened #15593 "CDK deploy fails: S3 error: Access Denied in response to CreateChangeSet"
**Steps followed to store assets in Centralized account.**

Account used:
1. CENTRALIZED-ACCOUNT - 111111111111
2. APPLICATION-ACCOUNT - 222222222222

**Command executed on the centralized account to establish trust:**

`cdk bootstrap --profile CENTRALISED-ACCOUNT --trust 222222222222 --cloudformation-execution-policies arn:aws:iam::aws:policy/AdministratorAccess \
    aws://<CENTRALIZED-ACCOUNT-I

[2021-07-15 21:33] devendhirababu commented on #15406
Hi @peterwoodworth,

Thanks for re-opening this issue, I would like to inform you that the issue was resolved yesterday with the help of an AWS support team(Hammad R) we had multiple calls, after spending one week of time.

He analyzed the error message deeply and found that issues with an Bootstrap bucket policy.  We added the permission in the bootstrap bucket policy allowing cfn-exe-role, deplo

[2021-07-15 22:55] madeline-k commented on #15422
Hi @darshan-yadav, thanks for opening an issue. Yep it looks like the CDK is automatically creating an EIP even if you provide an EIP Allocation Id.

See here for creation of the EIP: https://github.com/aws/aws-cdk/blob/ebfc0e092addbcf21562ce63328457285f7b2d77/packages/%40aws-cdk/aws-ec2/lib/vpc.ts#L1776

If an EIP allocation Id is provided, then the `gateway.allocationId` field is replaced with t

[2021-07-15 22:58] madeline-k commented on #15422
What impact does this issue have for you? Is it just that there is an extra EIP resource that you didn't intend to allocate?

I am triaging this as a p2, which means the CDK team will not be able to prioritize fixing this right now. But we always welcome contributions! If you want to try to fix this yourself, the code links I provided above should give you a good place to start. And please take a

[2021-07-15 22:59] skinny85 opened #15595 "Remove the old release scripts"
In https://github.com/aws/aws-cdk/pull/15331, we introduced a new tool, `cdk-release`, responsible for performing the version bump, generating the Changelog, etc. However, we still left the old logic intact (accessible by setting the `LEGACY_BUMP` environment variable), in case the new tool had some bugs.

Now that we have done a few releases using the new tool, it seems to be battle-tested enough

[2021-07-15 23:39] madeline-k commented on #15450
Hi @mooiweer , I am not able to reproduce this error if I use a `Role.fromRoleArn` role that is inside the same account as my stack environment.

However, I can reproduce the error if I supply an ARN such as: "arn:aws:iam::123456789012:role/MyRole-AJJHDSKSDF" where the account id inside the ARN **does not match** the account id of my stack's environment.

Can you please verify that the ARN of the

[2021-07-16 00:19] madeline-k commented on #15473
@keirwhitlock Why are you trying to print out the load balancer ARN? I think if you just pass in `lb.loadBalancerArn` to subsequent resource creation calls, it should work fine. I just tested this myself and a `CfnOutput` using `lb.loadBalancerArn` has the correct ARN, even though the dummy value is printed out during the early stages of synthesis.

I am doing a little bit more investigation to se

[2021-07-16 00:23] njlaw opened #15596 "(aws-eks): roles with paths do not work in the EKS master role or other awsAuth role maps"
Because role paths are not included in authentication data, roles with paths must be represented as though the do not have a path.  See [AWS documentation](https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting_iam.html#security-iam-troubleshoot-ConfigMap).  However, [`AwsAuth.synthesizeMapRoles()`](https://github.com/aws/aws-cdk/blob/ebfc0e092addbcf21562ce63328457285f7b2d77/packages/%40

[2021-07-16 00:56] madeline-k commented on #15474
@Repox What you are looking for is supported.

You should be able to pass in either `rdsPrimaryDatabase` or `rdsPrimaryDatabse.connections` as the first parameter of `allowTo`.

The TS error you are getting looks to be a mismatch between the node_modules for aws-ec2 and aws-rds. I'd recommending cleaning your node modules and reinstalling them.

[2021-07-16 01:16] madeline-k commented on #15541
@shanecarey17 , As far as I know, there is not a way to use `generation=ec2.AmazonLinuxGeneration.AMAZON_LINUX_2` but then "lock in" your cdk stack on using the version that was there the first time you deployed your stack.

One way to enforce that the image ID does not change for future deployments is to add unit tests to your CDK app that will fail if the ImageId property in your cloudformation

[2021-07-16 01:38] BenChaimberg commented on #15588
Sure thing; just need to add a private property to SlackChannelConfiguration for `notificationTopics` and use [Lazy.list](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Lazy.html#static-listproducer-options) for the insertion into the L1
https://github.com/aws/aws-cdk/blob/ebfc0e092addbcf21562ce63328457285f7b2d77/packages/%40aws-cdk/aws-chatbot/lib/slack-channel-configuration.ts#L27

[2021-07-16 02:08] BenChaimberg commented on #15531
Workaround (can extend any current task integration that extends sfn.TaskStateBase):
[code]

[2021-07-16 02:10] BenChaimberg commented on #15531
Option 1 would be nice but we'd have to add a new property anyway to avoid breaking existing subclasses and the workaround to support jsii would be annoying. Leaning towards option 2

[2021-07-16 04:12] uxth opened #15597 "Deploying EKS gives an error Inaccessible host: `lambda.us-west-2.amazonaws.com'."
This error came up recently when deploying an EKS cluster in codepipeline, could you help to take a look?

Received response status
[code]

### Reproduction Steps

I have two stages, a test stage and a dev stage.
the weird part is the code pipeline deploys them, test stage does not have issues, but the dev stage failed.

### What did you expect to happen?

it should not have any issues

### What a

[2021-07-16 05:38] dan-lind commented on #15293
@nija-at Was wondering if README changes shouldn't be in @aws-cdk/aws-apigatewayv2 rather than aws-apigatewayv2-integrations? Looks like all lower level stuff like this is kept in that main module.

[2021-07-16 06:15] BenChaimberg commented on #15344
Actually, this is even simpler than I thought as the [L1 already supports tags](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-synthetics.CfnCanary.html#tags-1). Stack-level tags should already be applied to the canary resource. Can you please confirm that you have tried tagging via the canary scope and the tags have not been applied?

[2021-07-16 06:22] revanthalampally commented on #15300
Can anyone please reply to this?

[2021-07-16 06:32] ralovely opened #15598 "(ec2): LaunchTemplate exposes IAM Instance Profile it creates"
Hello.

The L2 EC2.LauncTemplate construct does not expose the IAM Instance profile it (optionally) creates.

The escape hatch of using the child resource doesn't do it, as it would need to resolve several nested tokens.

### Use Case

We need to reference the Instance profile's ARN at runtime, and need CDK to set an SSM parameter for it.

(we reverted to using the CfnLaunchTemplate, as it takes a

[2021-07-16 07:02] naveenthontepu commented on #14830
The method name is confusing as `grantSendMessages` method name is plural then an implicit meaning of all permission related to sending messages have been provided which includes the `SendMessageBatch`. If the method name was just `grantSendMessage`(singular) then developers would not expect the batch permission to be given.

Its better to have a crystal clear API instead of a confusing one.

[2021-07-16 07:53] rix0rrr commented on #15592
Doh! Thanks!

[2021-07-16 08:25] nija-at commented on #15293
Perhaps. Where it goes would depend on your design.

[2021-07-16 08:30] darshan-yadav commented on #15422
It's okie to have it as P2. I just want to make sure this is an issue, not something that I am doing wrong. I will try to fix it in a branch and submit it for review.

[2021-07-16 08:32] rix0rrr commented on #15593
I have seen this error before, and I'm not sure what's causing it. In all cases I've seen, it seems to be transient, and goes away if you retry the command.

Is that true for you?

[2021-07-16 08:41] rix0rrr commented on #15495
We are unlikely to add this. The use case is better served by other tools, such as the AWS CLI, or a custom tool specific to your workflow.

[2021-07-16 08:41] #15495 closed

[2021-07-16 08:41] m90 commented on #13769
Thanks @peterwoodworth, to answer your question:

- the application does see load, so there certainly is data to measure
- a lot of time has passed since the deployment and it still does not display anything

This is the relevant portion of `cdk synth` as requested:

[code]

Don't know if it makes a difference, but the cluster itself has "Container Insights" enabled:

[code]

[2021-07-16 08:42] rix0rrr commented on #15231
I will leave this open for people with this issue to find each other and help out, but I will be unassigning myself. Don't know what else to do if I can't repro.

[2021-07-16 08:51] rix0rrr commented on #15451
I don't know, sorry. Let us know if you figure out what part of the CloudFormation template is not generated correctly.

[2021-07-16 08:51] rix0rrr commented on #15451
I'm guessing CloudWatch Logs doesn't like the target arn you put in there.

[2021-07-16 08:53] rix0rrr commented on #15462
Even if you could import a CloudTrail with `from_trail_arn`, it would still not be possible to add selectors to it. CloudFormation only allows defining selectors in the template that CREATES the trail, not any other template.

[2021-07-16 08:53] #15462 closed

[2021-07-16 08:58] eriklztiqqe opened #15601 "(aws-ecs-patterns): Set up and manage multiple load-balanced ECS services with blue-green deployment via a single ALB"
We would like to use a single, existing application load balancer (ALB) to set up multiple separate ECS services (Fargate), each under separate forwarding rules. With these services, we would like to be able to perform blue-green deployments for each service separately.

### Use Case

A team will have responsibility for a group of services with API endpoints. For cost and organizational purposes,

[2021-07-16 09:07] otaviomacedo commented on #15394
Hi @sheetaljoshi

You say that you are provisioning a private cluster with the code from here: https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/eks/cluster. But this code doesn't actually configure a private cluster. So I presume you modified the example a bit. Can you please share your code with me so we have a more concrete artifact to discuss?

[2021-07-16 09:11] rix0rrr commented on #15488
You are right, `includeManagementEvents` and `dataSources` need to be specified together in one object. The issue is here:

https://github.com/aws/aws-cdk/blob/a495a60780d3f9df05ecbced68061455b14c1f8c/packages/%40aws-cdk/aws-cloudtrail/lib/cloudtrail.ts#L255-L267

Where we call `addEventSelector` with an `includeManagementEvents: false`, without data sources, so that can never work.

As a workarou

[2021-07-16 09:15] rix0rrr commented on #15489
I understand this is not an unreasonable request, but I am hesitant to commit to maintaining more config, that barely anyone in our team uses and so can only get out of sync and disappoint people in the future.

We use `eslint` to fix formatting.

If you want to use prettier, I think it should be easy enough for you to add your own `.prettierrc` file to your CDK checkout.

[2021-07-16 09:15] #15489 closed

[2021-07-16 09:17] rix0rrr commented on #15491
I don't think we'll likely add this. You can run `jest` directly like

[code]

[2021-07-16 09:17] #15491 closed

[2021-07-16 09:18] rix0rrr commented on #15498
I believe `latest_amazon_linux` is by default not cached (which is why it's called `latest`) -- it uses an SSM parameter lookup which will be looked up at every CFN deployment.

Poorly chosen example perhaps?

[2021-07-16 09:25] otaviomacedo commented on #15485
Hi, @hemandee

Thanks for reporting this.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to

[2021-07-16 09:33] rix0rrr commented on #15510
The recommended stack selectors are based on the construct path. So you could put your hierarchy into a construct tree and select that way, perhaps into a `Stage`:

[code]

You can now do:

[code]

[2021-07-16 09:34] rix0rrr commented on #15510
Stack names will automatically include parent stage names, if not overridden.

[2021-07-16 09:42] rix0rrr commented on #15575
The `add_event_notification` function doesn't have a `scope` parameter, it really has no choice other than to create new constructs under itself. Since it leaves in `BucketStack`, it can only create new constructs that then will also live in `BucketStack`.

The code *cannot know* you are calling it from the constructor of `TriggerStack`.

What you are doing seems like a fine workaround. By the way

[2021-07-16 09:42] #15575 closed

[2021-07-16 09:44] stevehodgkiss commented on #15495
This functionality is equivalent to running `terraform plan` with an outfile and then `terraform apply` on that outfile (as part of a CD pipeline). It would be much more convenience if aws-cli supported this, rather than having to implement separate tools or scripts to apply and follow the logs of a CFN deployment.

<img width="704" alt="Screen Shot 2021-07-11 at 1 42 43 pm" src="https://user-imag

[2021-07-16 09:44] rix0rrr commented on #15515
Sounds like if we implement a fix for it today, it would not work (so we cannot test it) and in fact if we accidentally release it everyone would be broken.

So let's close until CloudTrail actually implements those features?

It's kind of tricky though -- how is the CDK supposed to know from which accounts you are expecting to receive events? That information is not anywhere, and it's not safe to

[2021-07-16 09:46] rix0rrr commented on #15515
Ah well I suppose we ARE already restricting to a single account's prefix, so we can just assume it's that account.

[2021-07-16 09:47] #15592 closed

[2021-07-16 09:49] rix0rrr commented on #15525
@Pandafriendd the permissions are supposed to be granted on the Bucket, **to** the `deploy-role`, so it's correct that you're not seeing them on the `deploy-role` itself. That is the whole point of the change of bootstrap template from v6 to v7.

If they are not added on the bucket, that might be

[2021-07-16 09:58] rix0rrr commented on #15525
@crisboarna I would have guessed you were running into this change https://github.com/aws/aws-cdk/pull/14969 which requires a rebootstrap with a more recent CLI version. However, that was not released in 1.107 (but in 1.109) so I'm confused there.

Have you tried investigating why the AssumeRole operation fails? The two places to look are:

* The  **assume role policy document** of the target role

[2021-07-16 10:02] mnanchev opened #15602 "(SQSPolicy): Invalid value for the parameter Policy."
I tried to add policy statement to SQS queue,  but i get Invalid value for the parameter Policy.

### Reproduction Steps

`
 const policyStatement = new iam.PolicyStatement();
    policyStatement.effect = Effect.ALLOW;
    policyStatement.addActions(
      'sqs:ChangeMessageVisibility',
      'sqs:DeleteMessage',
      'sqs:GetQueueAttributes',
      'sqs:GetQueueUrl',
      'sqs:ListQueues',

[2021-07-16 10:26] #10438 closed

[2021-07-16 10:39] otaviomacedo commented on #15596
Have you tried using `Fn.sub` to replace each group with the empty string?

[2021-07-16 10:43] otaviomacedo commented on #15597
Hi, @uxth

Can you please share a minimal code example to reproduce this error?

Thanks.

[2021-07-16 10:52] HeskethGD commented on #6819
Why do the docs not mention that secure strings cannot be used in this way? It seems to imply that that is the purpose of these methods. What exactly is the use case of this code in that case?

`// Get specified version of secure string attribute
const secureStringToken = ssm.StringParameter.valueForSecureStringParameter(
    this, 'my-secure-parameter-name', 1);   // must specify version`

https:

[2021-07-16 10:57] nwouda commented on #15450
I'm experiencing the same issue. In my case the ARN of the role is stored in the parameter store. This is indeed introduced in version 1.111.0. The ARN of the role is the same as the account deployed to, but my best bet is that CDK can't tell because it doesn't actively pull it from SSM.

[2021-07-16 11:02] otaviomacedo commented on #15567
Hi, @Obirah

I can't reproduce this issue. Can you share some minimal code example?

[2021-07-16 11:10] nija-at commented on #15589
The fix is to change the `vendor-in.sh` script to use relative paths from the repo root, instead of relative paths from the module root. This will make the script work in both cases.

[2021-07-16 11:13] pachicoo commented on #14973
This is an account level security issue, nothing to do with CDK. Thank you all for your time and efforts.

[2021-07-16 11:13] #14973 closed

[2021-07-16 12:06] pchaganti commented on #506
Seems like specifying a VPC id should be all the CDK should need. It can glean all relevant/connected resources from that. Importing each piece separately is time consuming and makes for a horrible user experience.

[2021-07-16 13:04] otaviomacedo commented on #15537
Hi, @ReidWeb

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for repriorit

[2021-07-16 13:10] crisboarna commented on #15525
@rix0rrr
I have completely wiped the two environments CDKToolkit included, and have rebootstrapped with 1.114.0.

This is the error I get in the CodePipeline during the synth step with everything vanilla after CDK bootstrap.
![CleanShot 2021-07-16 at 16 04 38](https://user-images.githubusercontent.com/12763781/125952915-146880c5-1b75-46fc-a6cf-651252ac280c.png)

The `*-deploy-role-*` and the `Pipe

[2021-07-16 13:46] abjoshi2785 commented on #15593
@rix0rrr Its consistently happenning. I think its because how the IAM policies and the bucket policies are created when cdk bootstrap command is executed.

If you see the deploy IAM role it has access to the resources in the resepctive account only. So when we do cdk deploy in application account, synthesizer give us the flexibility to save the assets in centralized account but the deploy role in

[2021-07-16 13:56] #12748 closed

[2021-07-16 14:37] #14836 closed

[2021-07-16 14:46] rileysea opened #15605 "@aws-cdk/aws-ssm: L2 Construct Support"
Requesting the following Systems Manager components are provided as L2 constructs:
* Association
* MaintenanceWindow
* MaintenanceWindowTask
* MaintenanceWindowTarget

### Use Case
I use these components on a regular basis and would prefer a more rich construct to allow these items to be used across CDK stacks. I am stuck using the L1 constructs currently & will have to continue using other L1 con

[2021-07-16 14:46] rileysea commented on #4030
If anyone is interested in support for other L2 SSM constructs, I created this issue.

https://github.com/aws/aws-cdk/issues/15605

[2021-07-16 15:20] wilhen01 commented on #9710
You can get codestar notifications working with CDK pipelines using the below code snippet. `pipeline.codePipeline` exposes the underlying CodePipeline object.

[code]

[2021-07-16 16:30] uxth commented on #15597
Hi @otaviomacedo

here is the code how the eks cluster is created:
        self.cluster = eks.Cluster(
            self, id='map-eks-cluster',
            cluster_name=config.getValue('eks.cluster_name'),
            version=eks.KubernetesVersion.V1_19,
            vpc=vpc_stack.vpc,
            vpc_subnets=[ec2.SubnetSelection(subnet_type=ec2.SubnetType.PRIVATE)],
            default_capacity=0,

[2021-07-16 17:21] chauncey-garrett opened #15608 "(module name): short issue description"
We're experiencing an issue where an EKS cluster is deployed, the `ProviderframeworkisComplete` lambda will report back `SUCCESS`, but the CF stack will not move further along and create the node group we've specified. It's as if CF doesn't get the `SUCCESS` response. The stack will eventually timeout and rollback leading to another issue where the `OnEventHandler` reports an error that it cannot

[2021-07-16 17:28] naseemkullah opened #15609 "[@aws-cdk/aws-s3-deployment] speed up aws s3 sync (--delete) which takes 20+ minutes"
https://github.com/aws/aws-cdk/blob/2647cf300ae0f9053104e3a545e2fd94dd7249e1/packages/%40aws-cdk/aws-s3-deployment/lib/lambda/index.py#L137-L144

Currently the `aws s3 sync --delete` command above is taking 20+ minutes to complete in our case, I would like to [speed this up](https://aws.amazon.com/premiumsupport/knowledge-center/s3-improve-transfer-sync-command/).

In particular I would like a way

[2021-07-16 18:33] KevinMarquette commented on #15605
I just want to add that doing these specific configurations with the L1 constructs is quite complex and there is very little documentation or supporting examples. It takes a fair amount of trial and error to get the configurations working correctly.

[2021-07-16 18:52] madeline-k commented on #15566
Hello @kidbrax, most CDK constructs have a variety of `fromXXX` methods, however there are not yet any implemented for `ec2.Instance` which is what you would need to be able to do `my_endpoint_group.add_endpoint(InstanceEndpoint(ec2.Instance.fromInstanceId(...)))`

Feel free to open up a [new issue](https://github.com/aws/aws-cdk/issues/new/choose) if you are interested in implementing that featur

[2021-07-16 18:59] madeline-k commented on #15566
- `IInstance` is the interface used for Ec2 instances. This is the type that will be used everywhere to reference an Ec2 Instance, and it is implemented by `Instance`.
- `Instance` is the CDK L2 implementation of an Ec2 Instance. See [this doc](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html) for a description of what an L2 is.
- `CfnInstance` is a type which exactly maps to the Cloud

[2021-07-16 19:10] gsingh04 opened #15611 "(AwsCustomResource): missing children in node tree"
When using [custom-resource module](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_custom-resources.AwsCustomResource.html), I believe there is issue in tree node construction. There is no child for the provider singleton function (snippet below). As a result we cannot access underlying lambda function and the resource properties for eg.  to add cfn_nag metadata to the lambda function re

[2021-07-16 19:25] njlaw commented on #15596
Hmm, because there's not length-like function in CloudFormation, I'm not sure how I'd specify which groups to replace.

[2021-07-16 20:18] jgoux opened #15613 "(aws-lambda-nodejs): expose the eslint bundling process as a CLI / function for Fargate"
Hello,

We are using Fargate to run node.js services. We would like to benefit from the build process implemented for the aws-lambda-nodejs package in order to keep our containers small and avoid installing the dependencies from them.

### Use Case

We can use esbuild externally but we are missing :
- Bundling native deps with a target OS (the one the bundle will be copied into) with docker
- Mark

[2021-07-16 20:32] skinny85 commented on #15577
Merged with https://github.com/aws/aws-cdk/issues/15576.

[2021-07-16 20:32] #15577 closed

[2021-07-16 21:31] madeline-k commented on #15574
@chris-bannister-privitar, thank you for opening this issue and providing a workaround. Since there is a workaround, I am triaging this as a p2 which means that the CDK team will not be able to prioritize fixing this right now.

We always welcome contributions! If you want to try fixing this yourself, please take a look at the [contributing guide.](https://github.com/aws/aws-cdk/blob/master/CONTRI

[2021-07-16 22:00] rabbittsoup commented on #14313
Resolved by PR #14626

[2021-07-16 22:00] #14313 closed

[2021-07-16 22:16] kidbrax commented on #15566
Thank you, this worked perfectly.

In case anyone else comes across this, this is what I ended up in Python

[code]

[2021-07-16 22:16] #15566 closed

[2021-07-16 22:42] madeline-k commented on #15416
Hello @bundgaard, I am not able to reproduce any deployment error when deploying the following code using version 1.101.0 and then upgrading to 1.111.0 and deploying again.  Even though the following code sample produces the same output that you are seeing with `cdk diff` after upgrading to 1.111.0.

[code]

Can you please share a minimum working cdk stack that reproduces your issue? And also some

[2021-07-16 22:48] madeline-k commented on #15523
@njlynch Is on vacation until July 22 and I am triaging his issues in the meantime. It looks like this should be a p2 since customers have a workaround to provide an explicit name. Please let me know if anyone disagrees! I will make sure to raise this to Nick as soon as he is back.

[2021-07-16 22:52] madeline-k commented on #15450
Thanks for the extra detail, @nwouda. This seems to be a case where the CDK is performing validation in some cases where we can't actually know the value, like referencing an ARN in SSM. And agreed this is probably a regression introduced in 1.111.0.

Despite it being a regression, I am going to triage as a p2 since customers have a workaround which is to explicitly add to the role's policy instea

[2021-07-16 22:54] madeline-k commented on #15450
@nwouda and @mooiweer if either of you are interesting in fixing this yourself, please take a look at the [contributing guide.](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md)

[2021-07-16 23:44] njlaw commented on #15596
I was doing some other work today, and noticed the following [documentation on `Role.fromRoleArn`](https://github.com/aws/aws-cdk/blob/7e41b6b745ff185110b7aba3db15d30bb35577bc/packages/%40aws-cdk/aws-iam/lib/role.ts#L172), so it looks like this has probably received a fair bit of thought and won't be resolvable without upstream (CloudFormation) updates such as [Issue #204 there](https://github.com

[2021-07-17 03:49] crisboarna commented on #15525
@rix0rrr

I have performed a wipe of both environments and have then bootstrapped the two accounts, tool account(yellow) and dev account(red)(with --trust tool id) and am getting the following error:

![CleanShot 2021-07-17 at 06 38 29@2x](https://user-images.githubusercontent.com/12763781/126024368-1abf3759-94b9-4898-9174-0f4da15a4f63.png)

Upon investigating the IAM role and adding the sts:Assum

[2021-07-17 06:32] vineet85s opened #15619 "(@aws-cdk/aws-ec2): Using existing VPC (non default ) from AWS account of app deployment"
## :question: General Issue

I am trying to create App (containing EC2, Load balancer  etc) using CDK . The app will be deployed in various AWS account in same region via jenkins pipeline in VPC of choice . To do this , I want to import VPC that is existing in each AWS account to be used when CDK deploy is triggered. Each account has its own VPC.
I could not find any way to achieve this. I tired f

[2021-07-17 06:38] vikloud commented on #15619
I tried with SSM parameter
1. Create a  vpcNetId parameter via aws cli in the AWS account .
2. Defined a type like
`const ssmVpcValue = ssm.StringParameter.valueForStringParameter(this, 'vpcNetId')`

3. used the above value in lookup

[code]

[2021-07-17 07:40] vikloud commented on #12160
@pandrel Have you found the fix for this problem. I am currently facing the same issue.

[2021-07-17 08:42] NickDarvey opened #15620 "(aws-cloudfront): Can EdgeFunction be environment-agnostic?"
## :question: General Issue

### The Question

Would it be possible to make `@aws-cdk/aws-cloudfront`'s `EdgeFunction` environment-agnostic? Presently it's not because it relies on the region to build the name of a SSM parameter.

https://github.com/aws/aws-cdk/blob/dd8466f548a368541fa16461e325b269914bc0af/packages/%40aws-cdk/aws-cloudfront/lib/experimental/edge-function.ts#L148-L151

I'm not supe

[2021-07-17 08:51] nohack commented on #8684
@MrArnoldPalmer @davivcgarcia

I have tested some of these assumptions and have the below points

1) In cloudformation, the default deletion policy is [DESTROY](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-deletionpolicy.html).

Through CF if create a stack with an s3 bucket in it, then

a) Empty Bucket: when we delete the stack, the stack is deleted with associated

[2021-07-17 09:31] Obirah commented on #15567
Hi @otaviomacedo, thank you for your feedback. I investigated one more time and it turns out that my config file parser interpreted the string as a decimal number because it was not quoted. Sorry to bother you!

[2021-07-17 09:31] #15567 closed

[2021-07-17 09:47] haimlit commented on #14857
The possible values for an enum will be `DEFAULT, EXTERNAL, INLINE, BOTH` - Default is the existing behavior, where no additional flag is passed to [sourcemap](https://esbuild.github.io/api/#sourcemap). So if we'll create a `SourceMapMode` enum, we can have it side by side with the `sourceMap` boolean flag, preserving backward compatibility without deprecating anything. Example:

[code]

Or is it

[2021-07-17 11:31] nohack commented on #15160
@njlynch created a pr #15622. thanks

[2021-07-17 14:05] haimlit opened #15623 "(appsync): timestamp based test failing new PRs"
[integ.auth-apikey.ts#32](https://github.com/aws/aws-cdk/blob/7966f8d48c4bff26beb22856d289f9d0c7e7081d/packages/%40aws-cdk/aws-appsync/test/integ.auth-apikey.ts#L32) fails on an expired timestemp, causing new PRs to fail during codebuild (see #15621 #15618 and #15617 for example)

### Reproduction Steps

Create new PR, codebuild fails, or run test `integ.auth-apikey.ts` locally

### What did you e

[2021-07-17 17:34] ReidWeb commented on #15537
Thanks @otaviomacedo, I've managed to reproduce this issue with this [repo](https://github.com/ReidWeb/custom-deploy-with-permission-boundary) and reproduce it in two accounts. per the history, the original stack deploys without the boundary, and the subsequent update breaks as below.

For the second account I ran it was a completely fresh account and was invoked over cloudshell to rule out any is

[2021-07-17 18:15] max258-new commented on #8938
const wd1 = new GraphWidget({  "width": 12,"height": 5, title: 'lamba 1', left: [new Metric({ metricName: 'Error', namespace: 'AWS/Lambda',
            dimensions: {'lambda_name': 'lambda_name'},
            statistic: 'avg',
          })
          ]})

          dashboard.addWidgets(wd1)
How should I add position as X and Y ?

[2021-07-17 18:44] ReidWeb commented on #15537
Upon further investigation, implementation of this will face an issue in that AWS CLI's S3 client does not support a tagging argument per aws/aws-cli#2458.

The [custom resource utilises the AWS CLI to perform it's `sync` operations](https://github.com/aws/aws-cdk/blob/2647cf300ae0f9053104e3a545e2fd94dd7249e1/packages/%40aws-cdk/aws-s3-deployment/lib/lambda/index.py#L137-L143), as such it will not

[2021-07-17 22:45] hoegertn opened #15628 "(pipelines): missing SecretsManager permissions for asset action role"
If you specify environment variables of the SecretsManager for the CodeBuild projects, only the synth and the self-mutate action have the appropriate IAM permissions but all actions get the environment config.

### Reproduction Steps

[code]

If the stack/stage contains assets the asset upload project has the environment config

[code]

but the role does not have the needed `secretsmanager:GetSecr

[2021-07-18 04:21] douglasnaphas commented on #14828
I'm working on a PR to implement this feature.

[2021-07-18 08:03] eladb commented on #15523
@madeline-k I don't believe I would tag it as p2 as basically the entire `cloudfront.Function` feature is broken in this situation. I would tag it as a p1.

Also, please add the workaround to the issue description so people don't have to search for it.

Here is what we did in construct-hub ([source](https://github.com/cdklabs/construct-hub/blob/eea6f519aaf31d036abe74dccd93b4edae597b29/src/webapp/i

[2021-07-18 08:16] #15623 closed

[2021-07-18 10:13] crisboarna commented on #15525
@rix0rrr I have also attempted to add this via `Aspects.of(this).add(...)` to add at the root pipeline stack level the addition of the `sts:AssumeRole` to the role but it seems that, unless I am doing something wrong, `aspects` do not work on the pipeline, only on stacks themselves :(

[2021-07-18 14:04] MostafaBalata commented on #13157
It seems like you are trying to deploy a new listener with a different name with an already used port.

[2021-07-18 14:50] paya-cz opened #15632 "@aws-cdk/aws-ecs-patterns: minScalingCapacity cannot be set to 0"
### Reproduction Steps

It is impossible to set `minScalingCapacity` on a SQS-processing Fargate task to `0`, because of this check:
https://github.com/aws/aws-cdk/blob/2647cf300ae0f9053104e3a545e2fd94dd7249e1/packages/%40aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts#L315

The operator `||` treats `0` as a falsy value. Use `??` instead. A workaround seems to be to set `desired

[2021-07-18 18:41] james-kontralto opened #15635 "(pipelines): Property 'addWave' does not exist on type 'CdkPipeline'"
When creating a CDK Pipeline and calling the addWave() method, an error is thrown - `Property 'addWave' does not exist on type 'CdkPipeline'`.

### Reproduction Steps
1) Create a new Typescript app using `cdk init app --language typescript`.

2) Add the pipelines module with `yarn add @aws-cdk/pipelines`.

2) Use the following library code, which only has a single line added to the end of the docu

[2021-07-18 18:43] hoegertn commented on #15635
The new class is CodePipeline and not CdkPipeline anymore

There is a complete new API

[2021-07-18 18:51] james-kontralto commented on #15635
Apologies, I missed the new API - there looks to be plenty of documentation on it. Closing this issue, thanks @hoegertn for the response!

[2021-07-18 18:51] #15635 closed

[2021-07-18 19:53] fractionalJoe commented on #14703
Thanks @peterwoodworth, that solved my issue. Is this quirk of CDK_DEFAULT_ACCOUNT (and I'm assuming CDK_DEFAULT_REGION) returning _undefined_ documented anywhere for future reference? I'm aware now but others may have similar questions.

[2021-07-18 21:31] i05nagai commented on #15611
I had a similar use case where I want to add some specific tags to the lambda created by `AwsCustomResource` class.

The actual lambda can be found directly under the stack. That's how `SingletonLamdba` class ensures the lambda is singleton over the stack. The logic is defined here: https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-lambda/lib/singleton-lambda.ts#L128 The following

[2021-07-18 21:47] paya-cz opened #15636 "@aws-cdk/aws-ecs-patterns: Add ability to set healthCheck for QueueProcessingFargateService"
`QueueProcessingFargateService` currently does not offer `healthCheck` options property, even though it is very simple to add it here:
https://github.com/aws/aws-cdk/blob/8668e15b8a85b369153e9d36d4eab016fc8856f4/packages/%40aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-fargate-service.ts#L124

So, there is no good way to set a `healthCheck` on a container.

### Use Case

I use healthcheck

[2021-07-18 23:03] ludbek opened #15637 "(vpc.selectSubnets): Cannot find a subnet by subnetGroupName in a lookup VPC"
Unable to get subnets by their group name in a lookup VPC

### Reproduction Steps

I have created a vpc in my infrastructure repo and is  referenced in another repo. When I try to get subnets with group name  `rds-private-subnet`, I get following error.

[code]
Below is the code snippet that caused it.
[code]

### What did you expect to happen?
I expected to get the subnets with group name `rds-pr

[2021-07-19 03:09] cqcmdwym commented on #15522
I have a workaround in temp.
1. delete package-lock.json and set package-lock=false in .npmrc
2. npm install
3. set package-lock=true in .npmrc
4. npm install

Seems will not use the hardcoded public yarn repo url in npm-shrinkwrap.json.

Is there any reason for keep npm-shrinkwrap.json in published package? Thanks.

[2021-07-19 04:24] waterytowers commented on #3600
Not sure why this has not moved?  A standard way to deploy resources is to import a VPC from an existing cf deploy.  This is a mandatory thing.  I guess for now I will need to hard code the string using an if condition to select the relevant vpc id.

[2021-07-19 05:17] branthebuidler opened #15638 "[Codepipelines] Passing CodeBuild generated parameters into Codepipelines ApplicationStage with CDK"
I have a Codepipelines based project (v. 1.114.0).

Use case:

I need to deploy an application stack to multiple environments, and want to input a build number that is the output of the build stage in the pipeline. The build number references the docker build in ECR that I want the application stack to use. To this end, I am attempting to pass the build number parameter generated at build time in

[2021-07-19 06:09] jdvornek opened #15639 "(aws-events): cross-region event rules breaks cross-account codepipelines"
Upgrading from <=1.112.0 caused my cross-account codepipelines to be undeployable.  I have a multi-account setup with CodeCommit repositories hosted in one account triggering CodePipelines in several different accounts.  Following CDK upgrade deployment fails with

It appears as though the change in #14731 alters the change of the rule target to include a roleArn, at least that appears to be the d

[2021-07-19 07:51] danielholmes commented on #14290
I had this error as well and was able to fix it through some code changes. For me it was an error in my code organisation.

In my case it was to do with mixing devDependencies/cdk code with my runtime lambda code.

e.g. I had some files similar to:

`package.json`
[code]

`users/index.ts`
[code]

`users/construct.ts`
[code]

`api/construct.ts`
[code]

including that `users/index.ts` file as an ent

[2021-07-19 08:03] zarnoevic commented on #984
+1

[2021-07-19 08:11] rix0rrr commented on #5137
@richarddotcodes you are right this can now be implemented. This means you can now use the regular [Escape Hatching](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) mechanism of CDK to configure these options, or someone can submit a PR to add the feature.

[2021-07-19 08:13] rix0rrr commented on #5137
An Aspect that applies the change for all ASGs and EC2 instances would be a welcome addition, but those could equally well be two different PRs.

[2021-07-19 08:29] flochaz commented on #15420
Fixed by https://github.com/aws-samples/aws-bootstrap-kit-examples/pull/80 .

[2021-07-19 08:44] rix0rrr commented on #15495
I understand and I sympathize, but CDK is not the right level of abstraction to implement this, and I don't want to be maintaining code for various odds-and-ends use cases that would be better served by other tooling. It will only slow CDK down in the future, and we have to balance the long-term health of the product with the use cases we unlock.

Yes, CDK has a "start-CFN-deployment-and-wait-for-

[2021-07-19 09:24] topfblumen opened #15641 "(iam): service principal in cn regions"
The CN Regions are using different Service Principal endings. Therefor it would be nice if the Service Principal on IAM has something in place to interact also with this region.

### Use Case

Service Principal is hardcoded in IAM. But for e.g. in the CN Region its a different region.
lambdaFn.grantInvoke(new iam.ServicePrincipal('cloudfront.amazonaws.com'));

### Proposed Solution

lambdaFn.grant

[2021-07-19 09:30] #15641 closed

[2021-07-19 10:50] nija-at commented on #15524
Unfortunately, it looks like this is not something we support in the CDK at the moment.

You will need to manually iterate through all the lambda layer versions existing historically and add `CfnLayerVersionPermission` to it.

I'm marking this as a feature request.

[2021-07-19 12:54] ayozemr commented on #9551
Adding my +1 for lambdas until they implement a "secrets" like they did to fargate containers, to pass secure env vars

[2021-07-19 13:03] biffgaut commented on #15515
Closing this for the time being is OK with me.

[2021-07-19 13:54] cukierkowychleb commented on #13942
+1 we are facing the same issue. Cannot render ANOMALY DETECTION properly because of it (using Java to generate graphs)

[2021-07-19 14:47] #15169 closed

[2021-07-19 14:47] peterwoodworth commented on #15474
Make sure all your CDK versions are the same in `package.json` if you still are running into this error. Ping me if you need any more help with this 😄

[2021-07-19 14:47] #15474 closed

[2021-07-19 14:54] cmorgia opened #15647 "(aws-ecs-patterns): add support for external launch type (ECS Anywhere)"
Since the availability of L2 support for external launch type in CDK v1.114, it would be very useful to extend the support also to the ECS patterns module through the implementation of L3 constructs.

### Use Case

L3 constructs in the ECS patterns module are highly beneficial to increase the expressiveness of CDK code while providing guidance to implement best practices through the adoption of pa

[2021-07-19 15:04] RigoIce commented on #7128
+1
Same here. Nasty bug as raising the `memoryLimit` might be useful with an increasing project. So the solution at the moment is not ideal.

[2021-07-19 16:34] ColeSiegelTR opened #15649 "CdkPipeline: How to use existing service roles for code pipeline actions"
## :question: General Issue

### The Question

Is there a way to override the generated pipeline service roles with existing roles? CdkPipeline creates a bunch of roles below which are used by the CodePipeline:

- codepipelineBuildSynthCodePipelineActionRole
- codepipelineUpdatePipelineSelfMutateCodePipelineActionRole
- codepipelineBuildSynthCdkBuildProjectRole
- etc.

I am wondering if there is a

[2021-07-19 17:06] richarddotcodes commented on #5137
I'd be happy to tackle this one. I agree that applying the change at larger scopes could be different PRs, so if all goes well, maybe I can take those later too.

[2021-07-19 17:26] peterwoodworth commented on #15569
Hey @MagdalenaMecinska,

how exactly are you currently trying to accomplish this in cdk? Are you using an apigateway::RestApi construct to create your API? Here's the description for the [binaryMediaTypes property](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html#cfn-apigateway-restapi-binarymediatypes)

[2021-07-19 17:27] peterwoodworth commented on #15277
Closing due to staleness, ping me if you still need help with this

[2021-07-19 17:31] peterwoodworth commented on #15385
Closing this issue, ping me if you need additional help with this1

[2021-07-19 17:31] #15385 closed

[2021-07-19 17:55] cesarpball opened #15650 "CDK Pipelines: Cross regions where CodePipeline is not available fails"
### Reproduction Steps

Just execute cdk deploy

### What did you expect to happen?

cdk deploy executed sucesfully

### What actually happened?

The region af-south-1 specified in 'pipeline.artifactStores' is not a valid AWS Region. (Service: AWSCodePipeline; Status Code: 400; Error Code: ValidationException; Request ID: 0a05260c-0219-0219-0219
-ee3480a05260c; Proxy: null)

### Environment

  - *

[2021-07-19 18:12] BenChaimberg commented on #15531
I am unassigning myself as it is not in my short-term work queue, but please respond here if you want to discuss further. And, of course, please feel free to work on this issue yourself and request my review if you submit a PR or would like design help! See [CONTRIBUTING.md](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) for guidelines.

[2021-07-19 18:29] ColeSiegelTR commented on #15649
Similar issue - https://github.com/aws/aws-cdk/issues/12856

[2021-07-19 18:47] skinny85 commented on #15638
Hey @avivsugarman,

unfortunately, I'm not sure what you're trying to do here is supported by CDK Pipelines. The `Fn::GetArtifactAtt` expression can only be used inside the `parameterOverrides` property of a CloudFormation Stack deployment CodePipeline Action, but CDK Pipelines does not allow you to set the parameters on the Stack level - it operates on the Stage level.

Paging in @rix0rrr to answ

[2021-07-19 18:47] natenez commented on #15531
+1 on this feature request.  I am developing a new step function and need to use the heartbeatPath since a compile time heartbeat isn't appropriate.  I'll give the work around a try until the feature is available.

[2021-07-19 19:15] rectalogic opened #15651 "(mypy): Python constructs do not implement their interfaces"
This was supposed to be fixed in https://github.com/aws/aws-cdk/issues/13474 via jsii, but still occurrs with jsii 1.31.0

### Reproduction Steps
Run mypy on this:
[code]

### What did you expect to happen?
No errors

### What actually happened?

Multiple typing errors:
[code]

### Environment

  - **CDK CLI Version  :** 2.0.0-rc.11
  - **Framework Version:** 2.0.0-rc.11
  - **Node.js Version:** v

[2021-07-19 19:42] jumic commented on #8822
SQS Queue and DynamoDB table accept an `IKey` to specify a KMS key. `IAlias` [inherits from](https://github.com/aws/aws-cdk/blob/d8dc8185203e73172786024eea90eeb60153ce0e/packages/%40aws-cdk/aws-kms/lib/alias.ts#L14) `IKey`. Therefore, it should be possible to specify an Alias in DynamoDB / SQS.

@OperationalFallacy Can you confirm this? If not, when it is not possible to use an Alias?

@LennartRom

[2021-07-19 20:05] m90 commented on #13769
So for the ECS Cluster my metrics will look like this (hovering over any datapoint shows `-`):

![image](https://user-images.githubusercontent.com/1662740/126220020-66c76dc9-c1c1-4067-b16f-5a953acdce86.png)

when I would expect something like this (which is from an idling EC2 - hovering will show sth like `0.321672`):

![image](https://user-images.githubusercontent.com/1662740/126220096-f0eeb7e7-4

[2021-07-19 20:25] a-h commented on #15456
Well, I just didn't see it.

The requisite package is github.com/aws/aws-cdk-go/awscdk/awslambdago and the documentation is over at https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-go-readme.html

[code]

[2021-07-19 20:25] #15456 closed

[2021-07-19 20:33] a-h commented on #15456
Think this post could use an update - https://aws.amazon.com/blogs/devops/building-apps-with-aws-cdk/

[2021-07-19 20:50] badfun opened #15653 "(@aws-cdk/aws-codestarnotifications): CodeCommit repository not supported as source for Notification Rule"
Currently @aws-cdk/aws-codestarnotifications module does not seem to support using repository as the source. However, this does appear to be supported in Cloudformation.
From the CDK api docs:
["Currently, Supported sources include pipelines in AWS CodePipeline and build projects in AWS CodeBuild in this L2 constructor."](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codestarnotific

[2021-07-19 21:01] nwalters512 opened #15654 "(aws-autoscaling): support for terminationPolicies"
I'd like to be able to configure the [termination policies](https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html) on an `AutoScalingGroup`.

### Use Case

I'm currently using the L2 `AutoScalingGroup` construct. I can configure the termination policies with the L1 `CfnAutoScalingGroup` via the `terminationPolicies` prop, but I'd like to avoid falling back to the L1 co

[2021-07-19 22:02] skinny85 commented on #15653
Thanks for opening the issue @badfun! We encourage community contributions, so if you'd be interested in submitting us a Pull Request adding this functionality, here's our "Contributing guide": https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

[2021-07-19 22:03] skinny85 commented on #15653
Also tagging @luckily for visibility, as he's the author of this functionality in the CDK.

[2021-07-19 22:10] skinny85 commented on #15653
In the meantime, to unblock yourself, you should be able to write a class that implements the `codestarnotifications.INotificationRuleSource` interface, and takes in a CodeCommit `IRepository`, yourself:

[code]

[2021-07-19 22:21] kidbrax opened #15655 "ec2.CfnSecurityGroupIngress: creating ingress fails with "ec2.CfnSecurityGroupIngress""
When trying to add an ingress rule to an existing security group, it fails with the error "No default VPC for this user." I don't think I should have to specify any VPC since I am adding to an existing security group. Is that correct?

### Reproduction Steps

[code]

### What did you expect to happen?

I expect a new ingress rule to be added to the existing security group.

### What actually happe

[2021-07-19 22:25] kidbrax commented on #15655
nevermind, just read the cfn docs and found "For security groups in a nondefault VPC, you must specify the security group ID."

[2021-07-19 22:25] #15655 closed

[2021-07-19 23:00] #14079 closed

[2021-07-19 23:39] #15521 closed

[2021-07-20 06:19] eladb opened #15658 "(cli): Consider including an HTTPS policy to bootstrap bucket"
Our assets S3 bucket does not comply with [`s3-bucket-ssl-requests-only`](https://docs.aws.amazon.com/config/latest/developerguide/s3-bucket-ssl-requests-only.html).

### Use Case

Security best practices recommend to enforce that all requests to an S3 bucket will use SSL:
https://aws.amazon.com/premiumsupport/knowledge-center/s3-bucket-policy-for-config-rule/

### Proposed Solution

We should con

[2021-07-20 06:55] peterwoodworth commented on #13245
If anyone has more information about this or wants to see it fixed, feel free to open a bug report and reference this issue.

[2021-07-20 06:55] #13245 closed

[2021-07-20 08:36] alexpulver commented on #15650
I tried to move a stage I have to `af-south-1` region, and see what changed in the resulting pipeline template (diff below). The AWS CloudFormation template now includes the artifact store in `af-south-1`.

I think you get the error because the artifact store is part of the AWS CodePipeline definition, and as you mentioned CodePipeline is not available in `af-south-1`. Per [AWS CodePipeline Now Su

[2021-07-20 09:17] rix0rrr commented on #15658
Do you know why this isn't good enough?

https://github.com/aws/aws-cdk/blob/b934976f057cd395de660dc4099e2303415cdc78/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml#L193-L201

[2021-07-20 09:21] eladb commented on #15658
Seems like this is what we need.

[2021-07-20 09:21] #15658 closed

[2021-07-20 11:18] radiosilence opened #15661 "(aws-lambda-nodejs): NodejsFunction support EdgeFunction for Lambda@Edge"
If I wish to use NodejsFunction to create a Lambda@Edge, I need to make sure that my whole stack is currently in `us-east`.

If there was a prop or flag on NodejsFunction props, we could easily deploy our NodeJS functions to Lambda@Edge.

Something similar likely needs to happen with other lambda helpers.

It seems someone has already made a EdgeFunction construct:
https://github.com/aws/aws-cdk/p

[2021-07-20 13:12] luckily commented on #15653
Hi @badfun, can you try something like this?

[code]
You can also use `aws-chatbot` instead.

This is a quick workaround. It's works.

I would like to know If you want to contribute for this, I will be happy to give you suggestions and assist in the review. 🙂 If you don't want to contribute, I may try to contribute in a few days, but I'm not sure.

[2021-07-20 14:12] PatricioAvila opened #15662 "(aws_events): Can't make a SSM Run Command my target"
## :question: General Issue

Hi,

I've been trying to set up a Rule construct that has as a target a SSM Run Command that runs a script in an Auto Scaling Group. Manually you can do this by this image:
![image](https://user-images.githubusercontent.com/38267979/126242363-15b95bed-e549-4376-bd72-a94cfb6f8825.png)

But, in the CDK documentation, I don't see the IRuleTarget implemented by a class in

[2021-07-20 14:30] badfun commented on #15653
thanks @skinny85 and @luckily. I will give this a shot. @luckily I will see if I can put some time in on the solution. Have quite a bit on my plate at the moment (as do we all I'm sure) but I'd like to contribute.

[2021-07-20 14:33] ChrisSargent opened #15664 "(@aws-cdk/aws-api-gateway): `endpointExportName` not using correct key in the outputs file"
Using `endpointExportName` does not put the value under the correct name in the outputs file

Using this code:

[code]

Results in the following output

[code]

### Reproduction Steps

https://github.com/ChrisSargent/cdk-issues
Run `cdk deploy` and view the outputs.json file.

### What did you expect to happen?

To have an `outputs.json` file like:
[code]

### What actually happened?

The outputs.

[2021-07-20 14:56] luckily commented on #15653
I will wait for your contribution @badfun! 😄

[2021-07-20 15:17] eduardomourar opened #15668 "(core): publish v2 of cdk core library"
Currently, in CDK v2, we are unable to consume the CDK core library without installing the whole [`aws-cdk-lib`](https://www.npmjs.com/package/aws-cdk-lib).

### Use Case

I would like to extend functionalities from the core library, which will not need/touch other AWS services.

### Proposed Solution

Ideally the v2 for NPM library [@aws-cdk/core](https://www.npmjs.com/package/@aws-cdk/core) shou

[2021-07-20 15:18] peterwoodworth commented on #15602
@mnanchev could you please be more clear with exactly what's going wrong, thanks :)

[2021-07-20 15:29] spifd commented on #6768
+1

[2021-07-20 15:59] gnumoksha commented on #5637
I'm also experiencing this issue:
cfn-hup.log
[code]

[2021-07-20 16:00] vincent851 opened #15670 "(module name): unable to add KMSKey to @aws-cdk/aws-mwaa construct"
description of the bug:

I am trying to use the optional KMSKey option for deploying MWAA via CDK but I am encountering weird error only on deployment.

I dont see anywhere that this KMS have to fit into a specific pattern. I am not understanding the error.

### Reproduction Steps

minimal amount of code that causes the bug (if possible) or a reference.
[code]

### What did you expect to happen?

[2021-07-20 16:46] schwar opened #15671 "(aws-dynamodb): Support ContributorInsightsSpecification for Global Secondary Index"
The Table construct currently supports the [contributorInsightsEnabled](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.Table.html#contributorinsightsenabled) property in order to specify the base table [ContributorInsightsSpecification](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-table.html#cfn-dynamodb-contributorinsightsspecificatio

[2021-07-20 17:13] zacklitzsinger commented on #7063
I was able to get around this issue by writing a script that automatically removes the generated CNAME record from a given hosted zone.

https://gist.github.com/zacklitzsinger/26051489d05aca19e3c360324028717d

[2021-07-20 17:33] #14036 closed

[2021-07-20 17:54] chauncey-garrett commented on #15608
I think there's 2 issues here.

1. The first is that nodes fail to join the cluster with the VPC subnet configuration. When I remove the `ISOLATED` subnet, this is no longer an issue. I'll open a second ticket for this issue.
2. After removing the aforementioned subnet, nodes will join the cluster but I run into an issue where CF cannot get past the `aws-auth` manifest creation step (e.g., `simply

[2021-07-20 18:13] chauncey-garrett opened #15672 "(eks): EKS cluster fails deletion due to long name"
I have an EKS cluster stack that I'm currently debugging (see #15608). I've noticed that the stack will fail to delete if the cluster name is too long. See the screenshots below. The long name that is generated is not (intentionally) of my doing. It appears that something is being concatenated or not trimmed (or both).

### Reproduction Steps

I have the cluster in a nested stack. This may be part

[2021-07-20 18:33] BenChaimberg opened #15673 "(kinesisfirehose): lazily create delivery stream service role"
A service role for a delivery stream is created automatically by the L2 if no role is passed in. However, it is possible this role is never used if the delivery stream source is "put records" and SSE is disabled, and no one calls `grant*`. We can do some trickery with a private backing role and an accessor to only create the `grantPrincipal` once a `grant*` is called (and the above conditions are

[2021-07-20 18:41] jumic commented on #15670
Instead of `key.toString()`, you could try to use `key.keyArn` or `key.keyId`. Maybe this will work.
The `toString()` method returns the path of the construct in your stack which will not be accepted as a KMS key.

Unfortunately, the [CloudFormation documentation for MWAA](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-mwaa-environment.html#cfn-mwaa-environment-kmskey)

[2021-07-20 19:11] nlongton opened #15674 "[aws-kinesisanalytics-flink]: Get an error of 'The provided tag map contains duplicate tag key' when updating flink code"
First deploy of flink is fine.
WHen updating the java code and running a second deploy the stack fails with the error:

The provided tag map contains duplicate tag key

This looks the same as  https://github.com/aws/aws-cdk/issues/9652
I'm applying the tag at the root of the app not on the Flink construct itself as i want it on all constructs.

### Reproduction Steps

In the CDK App I do this to a

[2021-07-20 19:32] eob opened #15675 "EFS: Unable to read/write to EFS inside a Fargate Docker Container"
I can successfully create and mount an EFS volume to a Fargate Docker container, but I can not read or write to it. (I get Permission Denied errors).

I have customized the AWS-provided `ApplicationLoadBalancedFargateService` class with the following:

[code]

### Reproduction Steps

Modify the ApplicationLoadBalancedFargateService template to include that code.

### What did you expect to happen?

[2021-07-20 19:41] vincent851 commented on #15670
I tried the `key.keyArn` and `key.keyId` none of them work. I resorted to `key.toString()` after I tried all of them...

[2021-07-20 19:43] vincent851 commented on #15670
I believe you can reproduce this by just using the above MWAA construct and create your own. Then add the KMS. see if you can deploy the construct. that is the issue. I am unable to deploy the construction using the optional KMSKey option.

[2021-07-20 20:10] chauncey-garrett commented on #15608
Issue 1 is possibly related to these lines: https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-eks/lib/cluster.ts#L1445-L1448 and #12171.

[2021-07-20 20:24] yashwanthkp commented on #15483
The code provided in details should help with reproducing the issue. Please let me know additional details are required.

[2021-07-20 20:26] vincent851 commented on #15670
I want to add I was able to use `key.keyArn` to resolve this. I was unable to use `key.keyId` and `key.toString()`

[2021-07-20 20:28] radiosilence commented on #15661
Implementation wise, I have done this if I copy paste the class and change what it inherits and slightly weaken the props. Works perfectly, but now I have a copy of the aws-lambda-nodejs project in my own which is not ideal.

[2021-07-20 21:06] jumic commented on #15664
The property `endpointExportName` can be used to specify the export name for the value in the CloudFormation outputs. In the last column (named 'Export name'), you can see this value in your screenshot.

https://github.com/aws/aws-cdk/blob/b3a7d5ba67bec09e422c0c843d7dee4653fe9aec/packages/%40aws-cdk/aws-apigateway/lib/restapi.ts#L159-L164

As far as I know, there is no standard option to change th

[2021-07-20 21:12] TingDaoK opened #15677 "DeployCodeBaseCustomResource18AF4C97 failed"
## :question: General Issue

Same code works fine couple weeks before, but without any code change in the few weeks, it starts to fail every time when I tried to do cdk deploy. The error reported is from DeployCodeBaseCustomResource18AF4C97. Seems like the underlying aws-cli command failed for some reason.

[code]

We used CDK for nodejs at version 1.103.0. The only related code I can think of is

[2021-07-20 21:34] peterwoodworth commented on #15677
This bucket is showing up in the error: `s3://cdktoolkit-stagingbucket`. This is the bucket created through bootstrapping. Have you modified that bucket at all?

[2021-07-20 21:54] TingDaoK commented on #15677
I don't think I ever touch that bucket, but it's on our team account, maybe someone else from my team did something. And I just checked that bucket seems like some testing file has been uploaded into it that makes sense. How should I fix it?

[2021-07-20 22:00] TingDaoK commented on #15677
Oh, the testing files are uploaded from our S3 test. So, it's there before when our CDK script was still working a week before, but I can try to re-bootstrap it and see if it's the root cause of the failure.

[2021-07-20 22:29] peterwoodworth commented on #15677
I suspect a re-bootstrap would solve this issue. I just cloned the repo and successfully deployed 😄

I'll post guidance on re-bootstrapping in a bit

[2021-07-20 23:30] badfun commented on #15653
@luckily I create a pull request: https://github.com/aws/aws-cdk/pull/15679
I spent most of my time trying to figure out how to deal with Gitpod. What a pain. Let me know if I need to make more changes.

[2021-07-20 23:47] peterwoodworth commented on #15662
The [L1 CfnRule](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-events.CfnRule.html) allows you to directly modify the settings for the target, which would allow you to configure SSM Run Command as the target by setting the

If you'd like to be able to use the L2 construct instead of using the CfnRule, feel free to submit a feature request for an `events-targets` class for SSM use ca

[2021-07-20 23:48] skinny85 commented on #15653
What were the problems with Gitpod @badfun?

[2021-07-20 23:50] peterwoodworth commented on #15662
Actually, I'm not sure if you're able to configure SSM with cloudformation. [Here are the docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-events-rule-target.html), can you take a look and see if what you want is configurable here?

[2021-07-20 23:54] badfun commented on #15653
I couldn't figure out how to do the pull request from it. I think it may have been browser issues, but not sure. It seemed to hang when trying to authorize, etc.
I ended up cloning the repo locally and then copying the changes from Gitpod to the local one, then pushing that.
I did test it with Gitpod on the pull request page and that worked fine.

[2021-07-20 23:58] peterwoodworth commented on #15677
@TingDaoK do you have newStyleStackSynthesis enabled? What happens when you try to bootstrap?

[2021-07-21 00:12] TingDaoK commented on #15677
Nope. But I also tried to add `"@aws-cdk/core:newStyleStackSynthesis": true` to cdk.json, but get the same result shown below:
[code]

[2021-07-21 00:17] skinny85 commented on #15653
Hmm, weird... It always worked very smoothly for me. Sorry for the troubles!

[2021-07-21 00:38] jayair commented on #11462
FWIW, we spent some time on this issue and came up with a fix for it in SST — https://github.com/serverless-stack/serverless-stack

While deploying, we do a [string replace in the custom resource](https://github.com/serverless-stack/serverless-stack/blob/master/packages/resources/src/StaticSite.ts). And while developing we generate a file that we read on the React side with [a simple CLI](https://

[2021-07-21 01:08] shiv-lch opened #15680 "(cdk-CfnFlow): Unable to add task property"
Team - I'm trying to create an appflow job and one of the block is to pass 'Task Property' using 'TaskPropertiesObjectProperty' class. But it fails with below error, and I could figure out, the error points to 'task_property' .

**Class Reference**

**Code**
[code]

**Error**
jsii.errors.JSIIError: Value did not match any type in union: Value did not match any type in union: Value did not match an

[2021-07-21 05:06] peterwoodworth commented on #15677
@TingDaoK it doesn't look like there's anything wrong with destroying the bootstrap stack. Unless you know of a specific reason not to destroy for your purposes, I'm not going to advise against destroying and recreating the bootstrap stack.

[Here's how to do it](https://github.com/aws/aws-cdk/issues/986#issuecomment-644602463)

[2021-07-21 05:22] peterwoodworth commented on #15680
It looks like the `value` should be a `string`. You currently have it as an empty array

[2021-07-21 06:06] nickpowpow opened #15682 "Ec2.VPC: incorrect subnet calculation"
If you put a slightly incorrect (but valid) VPC CIDR in, subnets are calculated in an odd way

### Reproduction Steps

[code]

If you use "10.100.0.0/16" for cidr_range, it generates the correct 10.100.0.0/24 subnet.
If you use "10.101.1.0/16" for cidr_range, it incorrectly also generates 10.100.0.0/24 subnet which errors in Cfn on deploy.

### What did you expect to happen?

I would expect CDK to

[2021-07-21 06:25] BenChaimberg commented on #10841
duplicate of #15188
closed in #15219

[2021-07-21 06:25] #10841 closed

[2021-07-21 06:36] BenChaimberg commented on #13380
I'm in agreement with @iliapolo above (https://github.com/aws/aws-cdk/issues/13380#issuecomment-792901057); we should not attempt to parse the domain name from the endpoint, ever. Instead of expanding the current extraction logic, we should instead deprecate `fromDomainEndpoint` and issue a warning in `fromDomainAttributes` if we are unable to parse the domain name from the domain ARN. We do not r

[2021-07-21 06:40] BenChaimberg commented on #15081
Unassigning myself for now, please @mention me when you have made updates

[2021-07-21 06:58] BenChaimberg commented on #15673
Oh, there's already [LazyRole](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-iam.LazyRole.html), perfect

[2021-07-21 07:07] BenChaimberg commented on #8080
Yes, I think unfortunately we'd need to add a new property here. We can go back to `jobFlowRole`, which is the name from the API.
- If no role is provided for `clusterRole` or `jobFlowRole`, then we create a role and create an instance profile with the same name as the role.
- If a role is just provided for `clusterRole`, we do not create a role or an instance profile.
- If a role is just provided

[2021-07-21 07:16] BenChaimberg commented on #8080
@patruff We cannot simply create an instance profile for a role passed in through `clusterRole`, for the following reasons. Any customer that is currently using `EmrCreateCluster` and passing in a role needs to create an instance profile with the same name in order for their state machine to succeed. If we create an instance profile for them, it will fail deployment since an instance profile with

[2021-07-21 07:18] BenChaimberg commented on #8080
As Shiv mentioned above, this issue is marked as p2, meaning that we are unable to work on this immediately. I am unassigning myself, but please feel free to work on this issue yourself and request my review if you submit a PR for the changes I outlined above! See [CONTRIBUTING.md](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) for guidelines.

We use +1s to help prioritize our work,

[2021-07-21 07:27] shiv-lch commented on #15680
Well, the way Appflow works was - we need to supply all 4 attributes (TaskType, Sourcefields, TaskProperties & Connector Operator' to get the valid response from Appflow backend create-API. Below is the snippet from CFN (yaml) and it worked successfully. I need to translate this block to CDK/Python and it fails.

,,,
      Tasks:
        - TaskType: Map_all
          SourceFields: []
          Tas

[2021-07-21 07:36] BenChaimberg commented on #15532
Opened awsdocs/amazon-elasticsearch-service-developer-guide#45 to confirm whether we're being overly restrictive

[2021-07-21 07:36] bweigel commented on #3627
I am wondering if anyone else needs custom domain names for their interface VPC endpoints.
Something that is described in detail in the context of private API Gateways with custom domain names [here](https://georgemao.medium.com/enabling-private-apis-with-custom-domain-names-aws-api-gateway-df1b62b0ba7c) or [here](https://medium.com/codex/aws-private-api-gateway-with-custom-domain-names-350fee48b4

[2021-07-21 08:05] eladb commented on #15576
Why do we need `-lib` in the nodejs scope. I would go with `@aws-cdk-alpha/` or `@aws-cdk-experimental/`

[2021-07-21 08:21] kyri-petrou opened #15683 "(v2.0.0.rc* aws-cdk/pipelines): Cannot import aws-cdk/pipelines - Python"
The aws-cdk.pipelines module is not importable in v2.0.0.rc* in Python.

I have also noticed that the sections in the documentation referring to the aws-cdk/pipelines module have been removed both from the main (Typescript) and Python documentation pages. Has this module been deprecated or moved to another module in v2?

### Reproduction Steps

[code]

### What did you expect to happen?

For the c

[2021-07-21 09:20] Shiroy commented on #15661
I think a better implementation would be to publicly expose the bundler in `aws-lambda-nodejs` as a top-level component instead of keeping it package private.

https://github.com/aws/aws-cdk/blob/464cdc0baa1fc5b0634e428a9c7a15de4ca93d50/packages/%40aws-cdk/aws-lambda-nodejs/lib/bundling.ts#L40

This would allow any kind of lambda function to rely on the esbuild bundler. This would benefit

https:/

[2021-07-21 09:35] revmischa opened #15689 "(certificate manager): cannot use cross-region certificate, cannot get custom domain URL"
Two issues I had trying to set up a custom domain mapping for my ApiGwV2 HttpApi.

1) I cannot use a DNS-validated cross-region certificate from `us-east-1` in a different stack. I get #9608. Because I have a certificate for CloudFront and also my HttpApi it means I need to create two `Certificate`s, one from us-east-1 and one in my current region, even though the [docs strongly suggest](https://d

[2021-07-21 09:58] luckily commented on #15653
@badfun You can develop on your local machine, it's very easy too, reference [here](https://aws.amazon.com/tw/blogs/developer/contributing-to-the-aws-cloud-development-kit/).

[2021-07-21 10:33] vincent-dm opened #15690 "Add support for Aurora Postgres v12.6"
## :question: General Issue

AWS Aurora [support PostgreSQL version 12.6](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraPostgreSQL.Updates.20180305.html#AuroraPostgreSQL.Updates.20180305.41) but the constants defined in `software.amazon.awscdk.services.rds` don't list it.

### The Question
Add a `VER_12_6` constant to `software.amazon.awscdk.services.rds` , e.g. by merging htt

[2021-07-21 10:34] vincent-dm commented on #15690
There's apparently already a pull request for it: https://github.com/aws/aws-cdk/pull/15686

[2021-07-21 10:54] awsanitha opened #15691 "AWS Lambda Destinations: EventBridgeDestination created when creating Lambda destination using CDK for .NET"
description of the bug:

`EventBridgeDestination` is created when creating Lambda destination using CDK for .NET

### Reproduction Steps

minimal amount of code that causes the bug (if possible) or a reference.
[code]
Please see the `OnSuccess` property of `placeOrderLambda` function

### What did you expect to happen?

LambdaDestination to be created

### What actually happened?

EventBridge dest

[2021-07-21 12:03] JSPRH opened #15692 "(cognito): Race condition when creating an user pool and its identity provider in the same stack"
When creating a Cognito User Pool and a User Pool Client which uses another Cognito user pool as its identity provider, the deployment fails. It seems like this is due to the race condition between the creation of the user pool identity provider and the user pool client.

### Reproduction Steps

Deploy the following stack in a freshly setup cdk project (aws-cdk libs on v. 1.114.0):
[code]

### Wha

[2021-07-21 12:49] MagdalenaMecinska commented on #15569
I am using CDK and apigateway:RestApi

[2021-07-21 13:04] flemjame-at-amazon commented on #3627
@bweigel private DNS is a feature of CDK now, as of https://github.com/aws/aws-cdk/pull/10780

[2021-07-21 13:09] alexjfisher commented on #5137
That looks like for EC2s created by ASGs only.  Regular [EC2 instances](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-instance.html) seem to still be missing this feature and https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/655 is still open.

[2021-07-21 13:38] justin-augusto commented on #8406
I've encountered this issue just now and I believe this should be reopened @shivlaks

Why would the following call (I'm using Python CDK v1.114.0):
`route53.HostedZone.from_hosted_zone_id(self, "MyHostedZone", hosted_zone_id="MyHostedZoneId")`

Result in:
`Error: HostedZone.fromHostedZoneId doesn't support "zoneName"`

This doesn't make sense... I didn't pass the function a zone name and in fact t

[2021-07-21 13:57] rix0rrr commented on #15593
Ah, I now see what you are trying to do.

Not a use case we really considered and the out-of-the-box resources don't accomodate this.

`--trust` means:

* Other account can assume `deploy-role` in this account.

`--trust` does NOT mean:

* `file-publishing-role` in other account can write assets to bucket in this account.

Nevertheless, if you really want to do this you can probably get it to work

[2021-07-21 13:57] #15593 closed

[2021-07-21 13:58] #15662 closed

[2021-07-21 14:01] badfun commented on #15653
that sounds like a commitment! ;-)

[2021-07-21 14:41] alexjfisher commented on #5137
I've been able to create an EC2 with IMDSv2 using launch templates.
CDK could possibly make this easier, but the following seems to work for me.

[code]

[2021-07-21 14:42] gbvanrenswoude opened #15695 "(core): Use the Output values (not tokens) of first stack in second stack in a CDK App."
### Situation
Situation: CDK app with 2 stacks. The first stack deploys the backend, the 2th deploys the frontend. In the frontend stack we need the APIGW urls and API tokens. The packaging off the frontend app is done with an off stack command (like npm run build) (e.g. Angular + webpack environment plugin)

### Current behavior
Current behavior is that cdk runs synth on both stacks and starts de

[2021-07-21 14:46] ChrisSargent commented on #15664
thanks for the quick answer! Okay, I see. Looks like in my other code that I was comparing this to we were providing an id but I was seeing some slightly inconsistent naming. Sorry for the false report.

FYI, use case is being able to get the valid rest API endpoint from a totally separate front end in another package, hence important to have a stable name for the field.

[2021-07-21 15:34] vincent-dm commented on #15690
Fixed in https://github.com/aws/aws-cdk/pull/15686

[2021-07-21 15:34] #15690 closed

[2021-07-21 15:49] bweigel commented on #3627
@flemjame-at-amazon yes, if you are the provider, you can create a custom domain for VPC endpoint *services* that are consumed by your customers. In the case of RabbitMQ on AmazonMQ this would be something along the lines of `<broker-id>.mq.eu-central-1.amazonaws.com`, which AWS creates as a custom domain for that endpoint service.

However this is not the problem my suggestion would address. I am

[2021-07-21 16:03] #15420 closed

[2021-07-21 16:07] flemjame-at-amazon commented on #3627
@bweigel so you want to alias an endpoint to a user-defined name, and hide the certificate of the original service? Would there be any verification of the original service's cert?

[2021-07-21 16:11] bweigel commented on #3627
Only if there is no other way. What I (or rather the people I talk to inside our org) want is a custom domain name (i.e. a name that can be interpreted in our context) for the interface VPC endpoints.

I guess not, if the SSL termination moved to another place.

[2021-07-21 16:43] dominoanty opened #15697 "(aws-lambda-event-sources): Max batch size for SQSEventSource is documented as 10, missing edge case."
Code documentation : https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-lambda-event-sources/lib/sqs.ts

[code]

But as per https://github.com/aws/aws-cdk/issues/11722 as well as the code, it seems that if the maxBatchingWindow is defined, batchSize can go upto 10,000. It would be good if this was documented in the interface itself.

---

This is a 📕 documentation issue

[2021-07-21 17:30] TingDaoK commented on #15677
I deleted the bootstrap stack and recreated one. However `cdk delpoy` still hang for ~10 minus and report the same error.
I also tried to deploy on my AWS account instead of our team account, the same error still.

[2021-07-21 17:39] nohack commented on #8461
@MrArnoldPalmer created [this](https://github.com/aws/aws-cdk/pull/15698) pr.please let me know if it looks ok.

[2021-07-21 17:40] TingDaoK commented on #15677
[code]

[2021-07-21 17:46] TingDaoK commented on #15677
I also tried the CLI command reported failed separately, and it works fine.
[code]

[2021-07-21 18:07] leantorres73 commented on #9327
Expecting for this to be fixed also!

[2021-07-21 18:50] markusz opened #15700 "aws-msk: msk.Cluster(..).clusterArn can not be referenced in ManagedKafkaEventSource"
### Reproduction Steps

- Use CDK for Typescript in v1.114
- Run the following snippet

[code]

CDK will fail with the following error message:

[code]

### What did you expect to happen?
CDk should deploy an MSK cluster and create a Lambda Trigger with the cluster's ARN

### What actually happened?

CDK failed to synthesize the template because the `clusterArn` token does not get resolved to a st

[2021-07-21 18:51] BenChaimberg commented on #15532
Above issue is closed and the documentation is fixed. It now confirms that slow logs publishing is supported for all Elasticsearch versions. The following validation can be replaced with just the conditional about app logging: https://github.com/aws/aws-cdk/blob/9b462a37692e6ab65aa5845a4dd47d1c339550ba/packages/%40aws-cdk/aws-elasticsearch/lib/domain.ts#L1418-L1424

[2021-07-21 19:07] ArielPrevu3D commented on #12020
`EbsDeviceOptionsBase` needs a throughput option to match [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-launchtemplate-blockdevicemapping-ebs.html#cfn-ec2-launchtemplate-blockdevicemapping-ebs-throughput)

[2021-07-21 19:41] badfun commented on #15653
Sorry fellas, I tried. I could not get an environment to work for me. Gitpod has some kind of access issues with my Github account and I could not push to my repo from the Workspace. I tried the local build, as per the instructions here: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md, but it failed on the '../../../scripts/buildup' step. I tried resuming, restarting, etc. but I always

[2021-07-21 20:59] jumic commented on #15692
You can solve this by adding the dependency between UserPoolClient and provider manually:
[code]

CDK can't handle this automatically because the UserPoolClient only receives the name of the provider (`provider.providerName`) as a string. This name is not sufficient to generate the dependency between both constructs.

Two solution approaches (as long there is no L2 construct for UserPoolIdentityPr

[2021-07-21 21:49] mneil opened #15701 "aws-codebuild/Project: BuildEnvironment should support certificate"
The codebuild project environment definition in Cloudformation [supports a custom certificate](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-codebuild-project-environment.html). There doesn't appear to be a first class way to add a certificate path.

### Use Case

It is sometimes necessary for projects running in a VPC connected to on-prem DNS to use their own certi

[2021-07-21 21:56] rahulk94 commented on #11187
If your application has multiple stacks, the Lambda-NodeJS seems to bundle the functions code even if you are not building a stack which uses that module. This increases the time it takes to run diff and deploy commands even if your actual stack changes are quite small.

[2021-07-21 22:02] Higherings commented on #9369
It's been a while for this, any updates on when is going to be available?

[2021-07-21 22:11] skinny85 commented on #9369
@Higherings no progress on our side. If you'd be willing to open us a Pull Request adding this, that would be amazing! Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

In the meantime, you should be able to use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to enable this functionality.

[2021-07-21 22:13] skinny85 commented on #15701
@mneil thanks for opening the issue. If you'd be willing to open us a Pull Request adding this, that would be amazing! Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

In the meantime, you should be able to use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to enable this functionality.

[2021-07-21 22:30] charyeezy opened #15702 "DockerImageFunction: AttributeError: 'DockerImageFunction' object has no attribute 'Alias'"
Cannot create Lambda alias for the  DockerImageFunction.

### Reproduction Steps

[code]

### What did you expect to happen?

Since `DockerImageFunction` extends the `aws_cdk.aws_lambda.Function` base, I assumed we would be able to apply the functions to the `DockerImageFunction` class.

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda/DockerImageFunction.html

### What actuall

[2021-07-21 22:59] madeline-k opened #15703 "(aws-kinesisfirehose): Support for data processor on DeliveryStream destinations"
https://docs.aws.amazon.com/firehose/latest/dev/data-transformation.html

### Use Case

The ability to transform source records with an AWS Lambda function prior to delivering them to a Kinesis Data Firehose delivery stream destination.

### Proposed Solution

See https://github.com/aws/aws-cdk/pull/15505/files#

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This fea

[2021-07-21 23:21] andrewdibiasio6 commented on #11860
This would be great to have. We can not use our private repos without this.

[2021-07-21 23:49] mneil commented on #15701
Ok, glad I wasn't just missing it :). I'm using the escape hatch already. I can try and implement this on Friday if nobody beats me to it.

[2021-07-22 00:07] flemjame-at-amazon opened #15705 "(cloudformation-include): CfnInclude misses converting reference when not preserving logical IDs"
I thought it would be a neat idea to use [AWS Distributed Load Testing](https://aws.amazon.com/solutions/implementations/distributed-load-testing-on-aws/) through CDK, so I downloaded the template ([link](https://solutions-reference.s3.amazonaws.com/distributed-load-testing-on-aws/latest/distributed-load-testing-on-aws.template)) and used CfnInclude like so.

[code]

However, when I tried to deplo

[2021-07-22 00:19] fasatrix commented on #1559
This construct is really shake and with unpredictable behavior.. The author is not even following issues and request too

[2021-07-22 01:02] theipster commented on #15425
I've been trialling @nicolai-shape's suggestion above for roughly a week now, with great success. 👍

While the fix itself seems pretty straightforward, I guess the complication is how to test it. I've prepared some failing tests to describe the scenario, which then starts passing once the above fix gets applied: theipster/aws-cdk#1.

Does this look useful / worthy of submitting a formal PR?

[2021-07-22 01:28] arvindshekar07 commented on #1559
The current implementation with aws cdk is still little hard to implement along with code deploy and another version control other than GitHub and AWS repo . It's true that I am not that active with this issue as it was raised quite a few years back and I needed a solution back then . As an alternative I had tried Terraform  which performs the deployment as I had mentioned in the description and w

[2021-07-22 02:16] flemjame-at-amazon commented on #15705
Deeper digging uncovered more instances of substitutions not happening:

[code]

[code]

At a glance, a commonality appears to be the use of Sub!

[2021-07-22 02:49] rareelement commented on #2663
AWS CLI allows specifying more than one image tag, see https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-retag.html. I could add version tag to a Docker image uploaded by CDK to **aws-cdk/assets** repository.

Is it possible to implement support for optional image tags in DockerImageAsset that will supplement asset hash based auto-generated tag? These tags should be sufficient to enable

[2021-07-22 03:04] PeterBaker0 opened #15708 "(cdk-pipelines) Automatically resolving stack outputs in LambdaInvokeAction for CDK Pipelines"
When creating a CdkPipeline and adding stages, the ShellScriptAction stage has the helpful optional field `use_outputs` which allows a mapping of key words to `StackOutput` which are automatically resolved at the time of the `ShellScriptAction` running and are available as environment variables as we expect in the rest of the CDK Lambda workflow.

Upon trying to add a `LambdaInvokeAction` to the p

[2021-07-22 04:23] steved opened #15709 "(aws-logs): log retention update can race against the target lambda's log group creation resulting in OperationAbortedException"
When a lambda runs a log group and stream are created if they do not already exist. When creating a CDK Lambda function, the log retention update can then race with the background log group creation resulting in an `OperationAbortedException` error.

### Reproduction Steps

Hard to reproduce reliably as it relies on a race condition between AWS and the log retention lambda.

### What did you expec

[2021-07-22 05:59] PeterBaker0 commented on #15708
I have since 'resolved' the artifacts manually by following the guidance of the above link, though I believe this would be a helpful feature request to keep that clean workflow in the rest of the CDK pipelines experience.

[2021-07-22 06:47] TRANTANKHOA opened #15710 "(aws-lambda): grant invoke twice with different principals"
I grant invoke for my lambda to 2 different principles and only one resource policy created.

### Reproduction Steps

[code]
Expect 2 different resource policies created

### What actually happened?

Deployment went ok, only first policy created

[code]

### Environment

  - **CDK CLI Version : 1.115.0
  - **Node.js Version: v14.17.3
  - **OS: Windows
  - **Language (Version): TypeScript

---

Thi

[2021-07-22 08:17] nohack commented on #15475
@moltar yeah, looks like auto upgrading minor version is not yet supported in cloud formation itself.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbcluster.html

[2021-07-22 08:23] nodesmichael commented on #10708
We need this too. Specifically for `containerOverrides.environment`. But I guess `containerOverrides` alone could do the trick.

[2021-07-22 08:37] rix0rrr commented on #15683
Experimental modules are not available in v2 yet, since we are committing to API stability and experimental modules are not guaranteed to be API stable.

[2021-07-22 08:37] #15683 closed

[2021-07-22 08:38] rix0rrr commented on #15650
Thanks Alex!

[2021-07-22 08:38] #15650 closed

[2021-07-22 08:39] rix0rrr commented on #15709
Easiest way to fix this is to update the Lambda to be resilient against this occurring.

[2021-07-22 08:39] rix0rrr commented on #15709
Easiest way to fix this is to update the Lambda to be resilient against this occurring.

[2021-07-22 08:51] rix0rrr commented on #15670
Glad to hear it's solved. You can report issues with the documentation on the documentation page, it may help people in the future:

![2021-07-22 at 10 50](https://user-images.githubusercontent.com/524162/126613068-5b5422e5-ec12-4472-ad57-76f7e22d1bda.png)

[2021-07-22 08:51] #15670 closed

[2021-07-22 08:54] #15611 closed

[2021-07-22 08:54] rix0rrr commented on #15611
Thanks @i05nagai !

[2021-07-22 08:59] rix0rrr commented on #15525
I mean that is correct though. If your terminology is like this:

* `dev` account => where we are deploying the application
* `tool` account => where the pipeline lives

Then the SelfUpdate step should *not* be trying to make changes to the `dev` account (it's the pipeline living in the `tool` account deploying to the `tool` account).

So the fact that it's even trying to is mystifying to me.

[2021-07-22 08:59] #15510 closed

[2021-07-22 09:13] asterikx opened #15711 "(pipelines): missing capabilities to deploy stack with secret rotation application"
The modern `pipelines.CodePipeline` fails to create/update stacks that contain a secret rotation application, e.g. [SecretsManagerRDSMySQLRotationSingleUser](https://serverlessrepo.aws.amazon.com/applications/us-east-1/297356227824/SecretsManagerRDSMySQLRotationSingleUser) created by `myCluster.addRotationSingleUser()`, due to missing capabilities:

[code]

This could be a regression from the he o

[2021-07-22 10:01] dirkgomez opened #15712 "(aws-events-targets): Add scheduling a Redshift query to "Event Targets for Amazon EventBridge""
The event targets module has implemented a couple of event targets but is missing some, one of which is scheduling a Redshift query.

### Use Case

Schedule RedShift queries.

### Proposed Solution

Cloudformation already allows for this, here's my current implementation which isn't yet very CDKish:

[code]

### Other

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: Th