[2021-12-03 08:29] csgyuri commented on #17230
@njlynch Thanks for looking into this, and sorry for the late response. The load balancer controller is deployed using CDK, and it runs inside the EKS cluster as a controller. The ALB is also created through CDK.

[2021-12-03 10:26] andreiaugustin opened #17821 "(aws-cdk.aws-lambda): old constructs dependency in Python"
### What is the problem?

Using cdk 2.0.0 (build 4b6ce31) on Intel macOS 12.0.1 with python 3.8, starting a new project with cdk init --language python creates a requirements with:

aws-cdk-lib==2.0.0
constructs>=10.0.0,<11.0.0

However, if you then want to pip install aws-cdk.aws-lambda, we get aws-cdk.aws-lambda 1.134.0 with a constructs dependency of version >=3.3.69,<4.0.0, whilst aws-cdk-lib

[2021-12-03 11:55] FredrikMeyer commented on #17355
@jogold So an update on this: basically your question led me to learn that `pip install .` creates files on build (and we that before running `cdk deploy` in the CI.

Ignoring those extra folders helped.

So thanks a lot for the hint at what to look for, and sorry for your time spent.

I will close this issue (and again, thanks for the help!).

[2021-12-03 11:55] #17355 closed

[2021-12-03 13:26] KoStard commented on #12339
Is there any update on this? Thanks!

[2021-12-03 13:29] fab-mindflow commented on #17771
To be honest, that's because we are doing uncommon usage of this module by generating a lot of GraphQL stuff (applying Relay best pratiques to the generated GraphQL such as input types, payload types, pagination, etc... For now we have just filtered the output from definition.

Hope the module to go out from experimental soon (it works pretty well for our code first usage btw).

[2021-12-03 13:37] OK-Cactus opened #17825 "Lambda@Edge"
### General Issue

Lambda@Edge not connected to Cloudfront Distribution as triggers

### The Question

I'm using CDK (Python) to connect a NodeJs based Redirection lambda function to CloudFront Distributions in my stack.

CDK synth and deploy is succesfully creating the necessary resources.

But the addition/Integration of function as Lambda@Edge (Triggers -> Cloudfront) is not working out of the

[2021-12-03 13:38] bmacher opened #17826 "(aws-cdk-migration): Construct imports not rewritten"
### What is the problem?

When migrating CDK imports with `aws-cdk-migration` then the `Construct` class is imported from `aws-cdk-lib`. However, `aws-cdk-lib` does not export `Construct` but `constructs` does.

### Reproduction Steps

[code]

### What did you expect to happen?

[code]

### What actually happened?

[code]

### CDK CLI Version

2.0.0

### Framework Version

2.0.0

### Node.js Versi

[2021-12-03 13:53] arsenij-melihov commented on #17412
I have the same problem. By the way, if the stack does not use the existing lambda and creates it itself, then there is no problem

[2021-12-03 14:00] RafalSladek commented on #16266
hi there
we have the same issue, but there was no change to the stack/cdk, multiple deploys of the same code version lead to this error
Do we have any solution or workaround for this?

[2021-12-03 14:37] #17640 closed

[2021-12-03 15:12] automartin5000 opened #17828 "CDK Pipelines: Alternate deployment engine documentation 404"
### link to reference doc page

https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/pipelines/README.md#definining-the-pipeline

### Describe your issue?

Not literally a 404, but the documentation makes several references to the ability of the CDK Pipelines module to support engines other than CodePipeline and no such sections exist.
This section even states that the CDK Pipelines modu

[2021-12-03 15:42] dls314 commented on #15999
I found this issue by having a similar concern, and I can share how I've solved the need to determine that this is a build-time synthesis.

I'm still looking for ways to determine that `CDK destroy` is being run, and if anyone has help for that, I would appreciate it (I won't validate as many of my `--context` values if destroy is being run).

For logic alternation in the application during CI tim

[2021-12-03 15:52] joshbalfour opened #17830 "@aws-cdk/aws-lambda-nodejs: bundling fails when adding a workspace or file to nodeModules list"
First off, thanks for all the work you all do on CDK, I have so many good things to say about it, it really is the future of IaC ❤️
This might be an edge case, but I really want to get aws-lambda-nodejs working for us, when it is it'll make our cdk setup super sleak!
I'll figure out a workaround and update the issue when I do, and hopefully be able to actually contribute towards a solution.

### W

[2021-12-03 16:00] rix0rrr commented on #17828
There's a proof of concept here, but I'm not sure it still works: might need some updates to be compatible with the latest: https://github.com/cdklabs/cdk-pipelines-github

Friendly ping to @eladb who was working on this, to see if he wants to dust this off and polish it up maybe? 😇

[2021-12-03 16:03] automartin5000 commented on #17828
Oh nice, GitHub Actions, just the one I was looking for 😄

[2021-12-03 16:03] rix0rrr commented on #17742
I think it's

[code]

[2021-12-03 16:04] rix0rrr commented on #17742
Ah there are 2 different kinds of deprecations. That's confusing.

[2021-12-03 16:07] JeredLittle1 commented on #11025
To expand upon @ijemmy 's comments:

1. If you are using `.from_asset()` in your Lambda function stack, your CodePipeline will create an extra step `Assets`.
2. This is used to upload your asset files from the `CDKSynth` step to S3.
3. Looking into the `buildspec.yml` for that step, you will see something like:

[code]

4. With this command, it looks to publish resource `11eecb7b5ccdb7c71db90f9c45

[2021-12-03 16:47] robertd opened #17832 "(aws-cdk): After CDK v2 upgrade, my Gitlab CI/CD started failing"
### General Issue

After CDK v2 upgrade, my Gitlab CI/CD started failing

### The Question

Hello,

I tarted migrating my CDK v1 repos/apps to CDK v2, and my Gitlab CI/CD pipeline started failing after `cdk diff` command. I'm not getting any errors when I run ci/cd jobs (on the same runner) with CDK v1. Any input is appreciated.

I did run `cdk boostrap` beforehand which created new S3 buckets.

!

[2021-12-03 16:51] robertd commented on #17832
Gitlab CI/CD is using the alpine container with aws-cdk, aws-cli, python and few other things...

[code]
[code]

[2021-12-03 17:05] zgriesinger opened #17834 "(aws-cdk): short issue description"
### What is the problem?

I'm trying to deploy from my M1 MacBook to ECS Fargate using the `ecs-patterns`

What I noticed when running this was that my tasks in ECS were always failing due to architecture failures even though my Docker image and machine build architecture is `aarch64/arm64`

I stumbled upon this https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-arm64.html and noticed

[2021-12-03 17:15] bobstanton opened #17835 "(aws-cloudfront) - 504 when using S3's website endpoint"
### What is the problem?

When pointing CloudFront to an S3 bucket's **website** endpoint using ``bucketWebsiteDomainName``, CloudFront returns a **504 ERROR The request could not be satisfied.** error message when navigating to the distribution domain name.

If you use the bucket's ``bucketRegionalDomainName``, CloudFront is able to retrieve objects from the S3 bucket, however you lose out on the

[2021-12-03 17:39] skinny85 commented on #17716
Hi @fab-mindflow,

thanks for opening the issue. Can you show your CDK code that raises this error?

Thanks,
Adam

[2021-12-03 17:45] phoefflin opened #17836 "(route53): cross account zone delegations of more than one zone fail"
### What is the problem?

trying to delegate more than one subzone to zones in other aws accounts fails

### Reproduction Steps

1.  **create parent zones cdk app in _parent_zone_account_**

change principle to _sub_zone_account_ principle, deploy and get roleArns from stack outputs

[code]

2. **deploy subzones app in _sub_zone_account_**

update roleArns and deploy cdk app

[code]

### What did

[2021-12-03 18:43] danimorelo commented on #6947
What worked for me was running it with verbose option and found that one of the profiles was duplicated in config file

`cdk ls -v`

`
Setting "CDK_DEFAULT_REGION" environment variable to us-east-1
Resolving default credentials
Unable to determine the default AWS account: TypeError: Cannot redefine property: my-profile-name`

`
    at Function.defineProperty (<anonymous>)
    at /home/dmoreno/.nvm

[2021-12-03 19:49] robertd commented on #17835
@bobstanton Have you tried using `Distribution` construct instead? That's the new way of doing CloudFront distributions.

[2021-12-03 19:55] skinny85 commented on #14355
Hey @AntonD-KO,

I actually don't know 🙂. If you have Premium Support, you can open a question to the CodeStar Connections team. They should let you know if using the source Action cross-account works or not.

Thanks,
Adam

[2021-12-03 20:04] skinny85 commented on #17807
Yep, agreed @kornicameister, thanks for opening the issue!

Would you consider contributing this as a PR? It should be relatively straightforward I think if you look how the existing source Actions implement variables (for example, [here's the code for the `GitHubSourceAction`](https://github.com/aws/aws-cdk/blob/b60dc63f99ede0cfaa859cdef33a6f4ddd2d1d25/packages/%40aws-cdk/aws-codepipeline-actions

[2021-12-03 20:05] #17717 closed

[2021-12-03 20:35] adam-imeson opened #17838 "ec2.Subnet does not appear to support creating subnets on Outposts"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Subnet.html

### Describe your issue?

I'm working with an Outposts customer who needs to use the CDK for their infrastructure. I see the docs for the Subnet construct: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Subnet.html

It appears that the construct exports a subnetOutpostArn

[2021-12-03 20:40] #17580 closed

[2021-12-03 21:53] ScottHoward4 commented on #15025
This got rid of the error but still no volumes were created. Anyone else have similar problems?

[2021-12-03 23:25] automartin5000 commented on #7950
https://aws.amazon.com/about-aws/whats-new/2020/12/aws-lambda-supports-10gb-memory-6-vcpu-cores-lambda-functions/
Problem solved 😄

[2021-12-04 00:44] fitzoh commented on #14803
Thanks @cokia ! 🎉

[2021-12-04 01:37] peterwoodworth commented on #17825
Which region are you trying to deploy into @OK-Cactus ?

[2021-12-04 05:45] kensukesaito opened #17843 "[v2] apigatewayv2: Missing higher level constructs for HTTP APIs"
### Description

In v1, "@aws-cdk/aws-apigatewayv2" has higher level constructs for HTTP APIs ("HttpApi").
https://docs.aws.amazon.com/cdk/api/latest/docs/aws-apigatewayv2-readme.html

But in v2, "aws-cdk-lib/aws_apigatewayv2" does not have them (has only low-level constructs "Cfn*").
https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_apigatewayv2-readme.html

### Use Case

I would like t

[2021-12-04 06:06] robertd commented on #17832
Upon further tinkering and adding `CI_DEBUG_TRACE: "true"` to gitlab runner, I noticed that `cdk diff` command doesn't return 0 anymore.

cdk 2.x

[code]

cdk 1.x
[code]

It seems that in v2 PR addressing this issue (https://github.com/aws/aws-cdk/pull/4650) either got reverted or the bug got reintroduced. @jogold Would you mind taking a peek and providing your take on this issue?

[2021-12-04 06:08] robertd commented on #17832
Upon further tinkering and adding `CI_DEBUG_TRACE: "true"` to gitlab runner, I noticed that `cdk diff` command doesn't return 0 anymore.

cdk 2.x

[code]

cdk 1.x
[code]

It seems that in v2 PR addressing this issue (https://github.com/aws/aws-cdk/pull/4650) either got reverted or the bug got reintroduced. @jogold Would you mind taking a peek and providing your take on this issue?

[2021-12-04 06:30] robertd commented on #17832
After adding `cdk diff || true` pipeline completed, so it's definitely a regression.

[code]

[2021-12-04 11:00] erwinverdonk commented on #5053
What @tomassommar said is the correct cause of this issue: "It seems that the source_profile in ~/.aws/config does not use the corresponding credentials in ~/.aws/credentials."

The CDK CLI seems to search for both the config and credentials with the same name as the profile provided. When the credentials are under a different name than the config, but referenced with "source_profile", it does not

[2021-12-04 11:22] kaihendry commented on #15114
Has anything improved with wrt autocomplete DX with v2? https://aws.amazon.com/about-aws/whats-new/2021/12/aws-cloud-development-kit-cdk-generally-available/

[2021-12-04 12:22] jesterhazy opened #17846 "snapshot test example isn't actually a snapshot test"
### link to reference doc page

https://docs.aws.amazon.com/cdk/latest/guide/testing.html#testing_snapshot

### Describe your issue?

The [snapshot test](https://docs.aws.amazon.com/cdk/latest/guide/testing.html#testing_snapshot) section of the developer guide includes an example, but the example isn't actually a snapshot test.

The example should be replaced with a real snapshot test so people ca

[2021-12-04 13:07] bobstanton commented on #17835
I see exactly the same behavior with the ``Distribution`` construct, however I am not using the ``OriginAccessIdentity`` approach as that bypasses ``S3``'s static website hosting benefits (default object redirects in subfolders without having to use a ``CloudFront Function`` to rewrite the URL, ability to use redirects).

[code]

[2021-12-04 13:12] bobstanton commented on #17843
It looks like these have been moved to an Alpha module:

https://docs.aws.amazon.com/cdk/api/v2/docs/@aws-cdk_aws-apigatewayv2-alpha.HttpApi.html

[2021-12-04 13:39] fab-mindflow commented on #17716
Hi @skinny85,

I can reproduce it from scratch like this:

1. Create a new CDK project from scratch (I suppose you don't really need that 😁)
[code]

2. Create a dumb workflow with Step Functions in `lib/cdk-stack.ts`

[code]

3. Run `cdk deploy` for first time

4. Toggle the line to include 2 steps

[code]

5. Run `cdk deploy --hotswap`. This fails with:

[code]

[2021-12-04 19:07] nanofaroque commented on #17704
Any update on this feature delivery date?

[2021-12-05 00:10] #17556 closed

[2021-12-05 00:31] dmortim commented on #7712
Any movement on this one? Would be great if lifecycle hooks could be created on the ASG object prior to ASG instances being launched.

[2021-12-05 02:15] yamatatsu commented on #17711
I've craete an PR that I implemented `Input`in, before creating an PR that I implement `DetectorModel`.
Because CloudFormation threw an error on deploying `DetectorModel`:

[code]

Following refference that refer to `Input` is needed:

[code]

[2021-12-05 02:59] massenz commented on #3587
sorry, folks - have been busy on other stuff this week and the repo I'm working on is private, can't share.
Please let me get something together that I can share in a gist.

[2021-12-05 04:53] kensukesaito commented on #17843
@bobstanton
Thank you, Bob. You helped me a lot.

Experimental construct libraries are now available in AWS CDK v2 | AWS Developer Tools Blog
https://aws.amazon.com/jp/blogs/developer/experimental-construct-libraries-are-now-available-in-aws-cdk-v2/

[2021-12-05 04:54] #17843 closed

[2021-12-05 11:39] encron commented on #17810
I seemed to have the exact same issue, although using the `NodejsFunction` construct for my Lambda@Edge functions. I then read about this part https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-readme.html#currentversion-updated-hashing-logic, where it talks about a bug that would try to create a new version although the code wasn't actually changed but like in this case, only the metadata

[2021-12-05 12:21] markussiebert commented on #17339
Think we should implement a more "general" solution? I'm unsure, if allowing to pass these roles is the right way. Maybe implementing an aspect, overriding the roles is the better solution for your use case? But I am trying to solve the same "Problem".

There are more roles, and I think we have to handle them i

Cluster Resource Provider

- OnEventHandlerServiceRole
- IsComplemeteHandlerServiceRol

[2021-12-05 12:54] markussiebert opened #17849 "(custom-resources): reduce IAM roles automatically created with every cr provider"
### Description

CustomResources create several identical IAM roles for the "helper" functions for "onEvent", "isComplete" and "onTimeout".
To reduce the amount of IAM roles we could create one for all.

For our account, we would get rid of about 50 to 100 IAM roles, as we use custom resources and eks quite heavily - and eks relies on custom resources a lot :-)

### Use Case

Reduce the amount of

[2021-12-05 13:25] markussiebert commented on #17849
I added a PR to show how I would implement this

[2021-12-05 14:18] jogold commented on #17830
@joshbalfour the `file:` case can easily be solved, see #17851. For the `workspace:` case I'm not sure...

[2021-12-05 14:28] the-exile-110 opened #17852 "(ec2.SubnetConfiguration): Use list comprehensions created twice the expected number of subnets."
### General Issue

(ec2.SubnetConfiguration): Use list comprehensions created twice the expected number of subnets.

### The Question

Like the example code,
when I generate SubnetConfiguration using list derivative and deploy it, 6 subnets are actually created.
What is the reason for this? And how can I improve him?

        public_subnet_count = 3

        subnets = [
            ec2.SubnetConfi

[2021-12-05 15:27] markussiebert opened #17853 "(integration tests): how to set environment?"
### link to reference doc page

https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#integration-tests

### Describe your issue?

If I run integration tests, i get the following error:

[code]

I know how to set the account / region and so on for my app deployments, but don't know how to do this for integration tests if I want to run them on my machine in my aws account with access key id /

[2021-12-05 16:09] markussiebert commented on #17684
Sorry - at the moment I have no proposal. I would like that all resources behave in the same way. So I think I have to look into how to contribute to the rfcs ...

Because every cdk resource behaves in a different way I was not able to add my SecurityGroup to a lot resources apart from some ec2 resources and now using another approach with prefix lists and an aspect, that creates an ingress for ea

[2021-12-05 16:36] markussiebert opened #17854 "(assert): there should be something like ```haveManifest(...)``` and ```haveHelmChart``` or a matcher like ```k8sobjectlike``` that allow unit tests for kubernetes objects"
### Description

It would be nice if we could write unit tests for eks components like helmcharts and manifests. These resources contain JSON objects (the kubernetes manifests or helmchart values) that are stringified via:

[code]

It would be nice if this would be parsed and then could be used with matchers like objectLike or arrayWith

### Use Case

I want to create unit tests for constructs tha

[2021-12-05 17:25] kaizen3031593 commented on #17854
Hi @markussiebert! Have you tried using the new Assertions library, specifically [`Match.serializedJson()`](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/assertions#serialized-json)?

[2021-12-05 17:51] markussiebert commented on #17854
Looks perfect! Will give it a try tomorrow!

[2021-12-05 21:43] markussiebert commented on #16644
@otaviomacedo there are several issues related to this behaviour. I think this is a cloudformation limitation ...

EKS has no Api call to update nodegroup version and nodgroup config in one. There are:

UpdateNodegroupConfig
UpdateNodegroupVersion

And I think to prevent errors (which one should be done first if both api calls have to be performed? What should be done of something goes wrong?) I t

[2021-12-05 22:07] markussiebert commented on #16231
Our first attempt was also using the max pods parameter of the bootstrap call. But once you start using several instance types / spot instances this isn't handy anymore. So we create our own [eni-max-pods.txt ](https://github.com/awslabs/amazon-eks-ami/blob/master/files/eni-max-pods.txt)and with this overwrite the one provided by the eks ami. The benefit: this works with mixed instance types in on

[2021-12-05 22:53] rittneje opened #17855 "aws_lambda: adding dependency to L2 Function node adds dependency to implicit role"
### What is the problem?

Adding a dependency to a function's node will also add a dependency to its implicitly created role. This will cause a cyclic dependency if the dependent resource also depends on the role.

Furthermore, if the function has a log retention set, then the CR lambda and role created for that will also have this dependency, which is completely unexpected.

### Reproduction Step

[2021-12-05 23:16] cjcooper commented on #15608
I very recently had this issue too.  I discovered that there was an s3 endpoint configured on the vpc and it was only allowing access to s3 buckets in that account.  I had to add an allow for "arn:aws:s3:::cloudformation-custom-resource-response-useast2", i was running in us-east-2, in that s3 endpoint.  I did find the timeout corresponding to this cloudwatch, and the documentation on prod-us-east

[2021-12-06 00:13] SamStephens commented on #3203
@eladb Look through the linked issues, I cannot see any discussion of this request, it appears to have been closed with no discussion. It'd be great to understand the motivations behind not doing this.

[2021-12-06 01:03] kaizen3031593 commented on #17854
Going to close this issue for now. Feel free to re-open it if you still feel like there's something missing!

[2021-12-06 01:03] #17854 closed

[2021-12-06 02:29] bazd commented on #3203
I just tested this with CDK 2.0.0 and the sample-app, and looks like they have renamed it to 'construct_id'.

`class HelloCdkStack(Stack):

    def __init__(self, scope: Construct, construct_id: str, **kwargs) -> None:
        super().__init__(scope, construct_id, **kwargs)`

[2021-12-06 02:31] mj7007 commented on #7061
I faced the same issue. When the stack is created for the first time, it worked and when I tried to update the stack awsCustomResource.getResponseFeild threw an error. I fixed it by implementing onUpdate lifecycle method.

[2021-12-06 04:37] ManashJy commented on #17748
@peterwoodworth is there any new updates on the issue?

[2021-12-06 04:38] OK-Cactus commented on #17825
@peterwoodworth the region is us-east-1

[2021-12-06 06:59] automartin5000 opened #17856 "cloudfront.distribution: No outputs"
### What is the problem?

When creating a CloudFront distribution, there's no output for the domain name in the stack outputs. I'm filing this as a bug, because when I create it with a nested stack, it seems to output the domain name as expected.

### Reproduction Steps

Add cloudfront.Distribution construct to app. No stack output for domain name

### What did you expect to happen?

Add cloudfron

[2021-12-06 07:55] deathquin opened #17857 "(module name): short issue description"
### General Issue

API Gateway's Authorizer cannot be operated.

### The Question

I don't know how to call Authorizer in the code below.
There are many references in other languages, but there is no Golang, so I ask questions.
Thank you.
[code]

### CDK CLI Version

 v1.114.0-devpreview

### Framework Version

_No response_

### Node.js Version

_No response_

### OS

_No response_

### Language

[2021-12-06 08:52] speekadievs commented on #17834
This is a quick workaround you use for now

[code]

[2021-12-06 10:11] markussiebert commented on #17854
only for others who stumble over this: works like a charm!

[2021-12-06 10:37] yamatatsu commented on #17704
@nanofaroque
There is no set delivery date as far as I know.

If you wanna use httpAction soon, you can use following escape hatch:
[code]

[2021-12-06 10:38] otaviomacedo commented on #6982
@dr3s this seems like an EKS problem. Can you provide us with the EKS cluster arn, so that the EKS team can investigate this further?

[2021-12-06 10:51] otaviomacedo commented on #16644
Thanks, @markussiebert. I think you're spot on! I've raised the issue internally with the CloudFormation team.

[2021-12-06 11:10] rix0rrr opened #17860 "‼️ NOTICE: jsii libraries using v2 (`aws-cdk-lib`) require specific import format"
### What is the problem?

Please add your +1 👍 to let us know you have encountered this

----

### Status: IN PROGRESS

## Overview

When writing plain TypeScript applications using CDK v2 (`aws-cdk-lib`), you can use one of two different import styles:

[code]

When writing jsii libraries against CDK v2 (`aws-cdk-lib`), you can currently only use one of those import formats. It must be:

[code]

[2021-12-06 11:26] #16656 closed

[2021-12-06 11:34] straygar commented on #17795
@corymhall Those docs must be outdated then. Overriding `EmailConfiguration.SourceArn` via escape hatches to point to SES's `eu-north-1` region works fine when sending confirmation emails.

[2021-12-06 11:48] otaviomacedo commented on #17458
Hi, @matdumsa

I tried to create a REST API in us-east-1 with an integration with a Lambda function is eu-west-1. The deployment failed with the following message:

Perhaps this validation hadn't been implement in CloudFormation when you created the issue? In any case, this validation could be implemented in the CDK as well, improve the feedback loop. Marking this as a p2 feature request.

[2021-12-06 12:57] njlynch commented on #17832
You're correct. The way our CLI handled expired feature flags (like `aws-cdk:enableDiffNoFail`) was inconsistent with how the CDK library behavior; the latter correctly defaulted any expired feature flags to true, whereas the former defaulted to the (currently incorrect) "default" value, which was false.

Fix is https://github.com/aws/aws-cdk/pull/17862

[2021-12-06 13:08] skyzenr commented on #16987
Same issue also with CDK v2.

[2021-12-06 13:18] danielfariati commented on #5637
@RomainMuller @SomayaB @shivlaks Can you please reopen this issue? It clearly is not fixed yet. I'm using an updated version but it still happens the same way it did when I first opened this issue. You can also see a lot of people seeing the same error after this was closed.

[2021-12-06 13:36] robertd commented on #17832
Thank for confirming this @njlynch. And thanks for providing the PR for it. Much appreciated. 👍 😊

[2021-12-06 14:23] Alon-Katz opened #17863 "(add_cdk8s_chart): Ignores namespace provided with "helm_flags""
### What is the problem?

Trying to install a helm chart defined in cdk8s, then providing the chart to cdk function "add_cdk8s_chart", results in the helm chart installed on the default namespace.

### Reproduction Steps

Helm chart in cdk8s:

[code]

Then in cdk:

[code]

### What did you expect to happen?

Chart installed in "nginx" namespace

### What actually happened?

Chart installed in "def

[2021-12-06 14:26] biffgaut commented on #1296
@eladb - The downside with addPropertyOverride is that it overwrites the environment - any suggestions on how to obtain the environment and add a variable to the list that already exists?

[2021-12-06 14:39] #17275 closed

[2021-12-06 14:40] #17442 closed

[2021-12-06 15:08] otaviomacedo commented on #17804
Hi, @khangly.

In the CDK, all constructs starting with `Cfn` are what we call "level 1 constructs" (L1s, for short). L1s expose the same interface that CloudFormation does, only in an imperative language, but without any additional logic. They are automatically generated from the CloudFormation specification.

Things like automatic dependencies between constructs are achieved by level 2 construct

[2021-12-06 15:08] #17804 closed

[2021-12-06 15:51] #683 closed

[2021-12-06 15:56] ChristopheBougere commented on #17810
Thank you so much for pointing me to this @encron
After adding the `@aws-cdk/aws-lambda:recognizeVersionProps` it worked like a charm.
I also had to fix a dependency conflict between 2 stacks, which I did by following [this solution](https://medium.com/life-at-apollo-division/resolve-aws-cdk-stack-dependency-conflicts-c6a3dee0c28d).

@njlynch As this feature flag is pretty new (I think?), and as t

[2021-12-06 15:59] daknhh opened #17864 "aws-wafv2: Not able to provision IPSetReferenceStatement in CfnRuleGroup"
### What is the problem?

When ever i try to provision a IPSetReferenceStatement in CfnRuleGroup and i just enter a Arn for the IPSet the following error message occur:

`Resource handler returned message: "Error reason: You have used none or multiple values for a field that requires exactly one value., field: STATEMENT, parameter: Statement (Service: Wafv2, Status Code: 400, Request ID: f87bda08-

[2021-12-06 16:03] njlynch commented on #17832
Fix will go out with next v2 release.

[2021-12-06 16:03] #17832 closed

[2021-12-06 16:31] #17354 closed

[2021-12-06 17:11] njlynch commented on #17810
Thanks for the bug report, @ChristopheBougere !

This is a regression in behavior with V2. The intent was that any feature flag that was previously set to "true" for new projects, was automatically handled as "true" by default in v2 (without needing the flag to be set). Somehow this one got lost in the shuffle and reverted back to v1 behavior, where the flag needs to be explicitly set. I've create

[2021-12-06 17:47] Alon-Katz commented on #17863
Fixed it with namespace attribute:
`super().__init__(scope, chart_id, namespace="nginx")`

Still, it feels like the namespace attribute in the helm_flags should work in case the helm chart needs to be deployed in a different namespace than the whole chart.

[2021-12-06 17:49] epalace510 commented on #16987
@larryboymi I wrote a class to do what I needed. It's not my preferred solution, but it unblocked me.
[code]

[2021-12-06 19:07] #17771 closed

[2021-12-06 19:18] corymhall commented on #17795
@straygar ah yeah looks like the docs are not up to date. Thanks for reporting this!

I think your suggestion is probably the way to go, just remove the check altogether and allow CloudFormation to fail if it is not configured correctly.

[2021-12-06 19:21] DarshanAwachat commented on #12707
I followed the same steps. Got this error =>
`"Invalid request provided: The parameter globPattern is too small or empty. (Service: CloudFront, Status Code: 400`
Any ways to resolve this? or other ways to reuse the same cloudfront.

[2021-12-06 19:58] #17830 closed

[2021-12-06 20:10] peterwoodworth commented on #17748
Yes @ManashJy, I received a response on the ticket this morning.

They're asking for a confirmation of behavior; What happens when you try to `aws appflow describe-flow --flow-name s3tosf-cdk`?

[2021-12-06 20:16] peterwoodworth commented on #17864
I've seen this error before and I was unable to reproduce it. I'll give it another go

[2021-12-06 20:23] biffgaut opened #17867 "(aws-ecs): Expose environment on containerDefinition"
### Description

There doesn't seem to be a way to update the environment variables on an already instantiated container in a TaskDefinition. Exposing environment on ContainerDefinition would allow clients to add more environment variables to an already instantiated TaskDefinition/Container

### Use Case

My use case is create the taskdef/container, then programmatically choose to give that contai

[2021-12-06 20:26] skinny85 commented on #17716
Thanks for the detailed reproduction steps @fab-mindflow!

I'll let @comcalvi handle this one, as he was the original author of this functionality 🙂.

[2021-12-06 21:24] stewberticus commented on #17261
A target group with HTTPS protocol does not support the attribute stickiness.enabled

adding the exact error text so this thread is more easily searched from google

[2021-12-06 21:25] DarshanAwachat opened #17869 "(cloudfront): Migration from CloudFrontWebDistribution to WebDistribution"
### General Issue

General Issue

### The Question

I had the following code for CloudFrontWebDistribution

[code]
Converted it to support the Distribution Class

[code]
When I deployed this new code I got the following error:
[code]
How Do I Solve this? Are there Any Other ways to Migrate to Distribution Construct?

### CDK CLI Version

1.126.0

### Framework Version

_No response_

### Node.js V

[2021-12-06 21:29] peterwoodworth commented on #17864
aha! I've been able to reproduce it - and also fix it!

All you'll need to do is specify the `action` property on the rule that's throwing the error https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-wafv2-rulegroup-rule.html#cfn-wafv2-rulegroup-rule-action

[2021-12-06 21:33] kaizen3031593 commented on #17567
Hi @rittneje! Thanks for reporting! This looks like a typo in the docs, and the actual function you should be looking for is `addPermission`. Quick fix incoming.

[2021-12-06 21:46] mpvosseller opened #17871 "(pipelines): terminationProtection is ignored on stacks deployed from a CDK CodePipeline"
### What is the problem?

The `Stack` property `terminationProtection` is ignored when the `Stack` is deployed from a CDK `CodePipeline`.

If the stack is deployed directly from the CLI (not from the CDK `CodePipeline`) it works.

A repo demonstrating the issue can be found here:
https://github.com/mpvosseller/cdk-pipeline-termination-protection

### Reproduction Steps

1) Fork this repo: https://

[2021-12-06 21:47] peterwoodworth commented on #17869
Hey @DarshanAwachat,

I'm looking into this. Are you able to share the difference in synth output from before the migration and now?

[2021-12-06 21:47] biffgaut commented on #17867
FWIW - I'm on the AWS Solutions Constructs team and we need this to support a new batch of Constructs we're developing that support Fargate containers.

[2021-12-06 21:50] kaizen3031593 commented on #17801
I'm not convinced that this is something we need. I see the `parameters` property as use-at-your-own-risk and we want to literally support "any" kind of parameter there is.

I see your point about it needing to be a "JSONValue", but we model all our JSON values as `{ [key: string]: any }`, not just in `CallAwsService`. Moreover, this would be a breaking change to a stable module so we wouldn't wan

[2021-12-06 22:01] markussiebert opened #17872 "(not sure): using lazy (tagmanager renderedTags) values inside helm charts does not work"
### What is the problem?

I want to add the tags of my construct as annotations to deployed helm resources. But I'm not able to do this (but it's working on other constructs/custom resources).

Maybe I'm doing this wrong? Maybe it's a problem with the stringify mechanism of the helm values? Can this be solved? Is this a bug?

### Reproduction Steps

Here some example code:

[code]

But when trying

[2021-12-06 22:21] fab-mindflow commented on #17716
Great, thanks ! The hotswap feature for AWS Step Functions is really key to us so we can boost our deployment pipeline. I've seen the CDK 2.0 announcement and hope that the fix can still reach the 1.x branch.

[2021-12-06 22:31] kaizen3031593 commented on #17821
Hi @andreiaugustin! I'm not sure why you need to install `aws-cdk.aws-lambda` here. The point of cdk v2 (`aws-cdk-lib`) is that we bundle all modules into a single package, removing the pain point in v1 where you had to import each individual module. Here's the v2 [dev guide](https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html).

An example of v2 imports in Python:

[code]

Let me know if t

[2021-12-06 22:56] rnag commented on #8273
I just wanted to add but my use case is very similar to as @girotomas mentioned actually. As a specific example, in my stack I set up an API gateway and secure it to require an API key, however I wanted to include the API key value in the stack outputs. I realized this was not possible, so the simplest (and cheapest) way was to use the AWS SDK to auto-generate an API key and store it in Parameter

[2021-12-06 23:06] #17567 closed

[2021-12-06 23:16] kaizen3031593 commented on #17589
To unblock yourself, take a look at the documentation for [`AwsCustomResource`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_custom-resources.AwsCustomResource.html). And I believe the necessary sdk call you want to make is `create-partition-index`.

This particular issue is on my radar and if we're lucky I'll be able to submit a PR for it this week.

[2021-12-06 23:46] SamStephens commented on #3203
@bazd that may be the case in the sample application, but the actual CDK constructs themselves still use the keyword `id`. See for example the constructor of [Stack](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk/Stack.html) that's being called above via `super.init`. If you rewrote that code sample to use named parameters, it'd be:

[code]

[2021-12-07 00:10] #17697 closed

[2021-12-07 00:42] Zackhardtoname commented on #5974
Just to highlight the OP's solution

It actually worked for and unblocked me

[2021-12-07 00:50] rittneje opened #17873 "aws_lambda: typo in Permission documentation"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda/Permission.html

### Describe your issue?

The documentation was just fixed in #17870. It now mentions using the `addPermissions` method. However, this is itself a typo, as the name of the method is `addPermission` (singular).

Also, in Python, the `add_permission` method directly takes all the con

[2021-12-07 01:20] peterwoodworth commented on #17852
This is probably working as intended - According to our docs on [SubnetConfiguration](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Vpc.html#subnetconfiguration):

So, you're likely creating one of each subnet in two different availability zones.

[2021-12-07 02:35] fengkaijia opened #17874 "@aws-cdk/aws-lambda-event-sources: Lambda event filtering"
### Description

Support the newly released event filtering feature for Amazon SQS, Amazon DynamoDB, and Amazon Kinesis.

https://aws.amazon.com/about-aws/whats-new/2021/11/aws-lambda-event-filtering-amazon-sqs-dynamodb-kinesis-sources/
https://docs.aws.amazon.com/lambda/latest/dg/invocation-eventfiltering.html

### Use Case

For filtering event source.

### Proposed Solution

Add a `filters` to `

[2021-12-07 02:54] Alireza2018 commented on #17465
Hi,
How did you solve the security group configuration? I have the same issue and Redis connection is getting timed out. I tried to set up an inbound rule for the Redis security group that allows connections on port 6379 from the lambda function's security group. But that didn't help.

[2021-12-07 04:08] rittneje commented on #17578
@otaviomacedo Are you able to reproduce if you also provide `logging_level=aws_apigateway.MethodLoggingLevel.INFO` (in both deployments)?

[2021-12-07 04:55] ManashJy commented on #17748
@peterwoodworth This is the output of this command -
[code]

[2021-12-07 05:55] Seiya6329 opened #17875 "(appmesh): not able to define Gateway Route Path Rewrite when the Gateway Route Path Match is not defined."
### What is the problem?

Currently, Gateway Route Path Rewrite can only be defined when the Gateway Route Path Match is also defined.
However, this limitation does not exist for creating the resource using AWS CLI or Console.

### Reproduction Steps

[code]

### What did you expect to happen?

Able to define Gateway Route Path Rewrite when the match does not define Gateway Route Path match.

###

[2021-12-07 05:56] Seiya6329 commented on #17875
Our current ETA for this fix is mid-January. If anyone experiences this as a blocker, please leave a comment so that we will try to prioritize this work.

[2021-12-07 06:32] aetos382 opened #17876 "(ecs): I get an error in BaseService.RegisterLoadBalancerTargets"
### What is the problem?

I am using `FargateService.RegisterLoadBalancerTargets` in CDK for C#.
This method was successfully synthesized in CDK v1.132, but fails in v1.133 and later (including v2.0).

### Reproduction Steps

1. `git clone https://github.com/aetos382/cdk-synth-error`
2. `cd cdk-synth-error`
3. `cd CdkV132`
4. `npm install`
5. `npx cdk synth` # It is synthesized successfully.
6. `c

[2021-12-07 06:45] kornicameister commented on #17807
I will certainly try but I cannot give any ETA on this so if anyone can jump in, all the better.

[2021-12-07 08:37] kobakeiara opened #17877 "(@aws-cdk/aws-lambda): DockerImageFunction - Add an option to build Dockerfile without cache"
### Description

When building a Dockerfile using DockerImageFunction, please add an option not to use cache like "docker-compose build --no-cache".

### Use Case

To keep packages, source files, dictionary files, etc. up to date.

### Proposed Solution

Please add an option not to use cache.

### Other information

_No response_

### Acknowledge

- [ ] I may be able to implement this feature requ

[2021-12-07 09:24] drudderd opened #17879 "(pipeline-actions): variables missing on CodeStarConnectionsSourceAction"
### Description

Different source-actions (like Github, Bitbucket) provide a variables property that can be used to pass variables as environment variable to a build step in a pipeline.

I am using aws-cdk v2 using a CodeStarConnectsionSourceAction to connect to Github, but the variables property is missing.

### Use Case

    const sourceAction = new codePipelineActions.CodeStarConnectionsSourceA

[2021-12-07 09:25] andreiaugustin commented on #17821
Hello @kaizen3031593, you're totally right! I should have RTFM instead of going by the AWS CDK presentation at re:Invent from 2018 I had found on YouTube and trying to do the equivalent in Python.

Thanks a lot for your help, sorry to have wasted your time!

[2021-12-07 09:25] #17821 closed

[2021-12-07 09:53] OK-Cactus commented on #17825
This issue is resolved.

While the redirection Lambda function did not show CloudFront as trigger (As is the case if L@E is deployed via AWS console)

But the CloudFront Distribution's Behaviour's VIEWER_REQUEST displayed the latest ARN of the Lambda in question,
Also L@E CloudFront logs are not necessarily in the region of said Lambda, but the nearest CloudFront Edge's POP, which I missed initial

[2021-12-07 09:53] #17825 closed

[2021-12-07 09:59] 3sztof opened #17881 "aws.events: Remove / change default CRON Schedule behavior"
### General Issue

Default parameter values of CRON Schedule can lead to event spamm

### The Question

The default parameters for CRON Schedule configuration are "*" - run every minute / hour / day etc. - [reference](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_events/Schedule.html).

This can potentially lead to misconfigurations and, if not tested, to spamm of events that trigg

[2021-12-07 10:38] daknhh commented on #17864
Hi @peterwoodworth even when i add action to the rulegroup its not working - here is a example statement

[code]

"Error reason: You have used none or multiple values for a field that requires exactly one value., field: STATEMENT, parameter: Statement (Service: Wafv2, Status Code: 400, Request ID: 548792be-7e58-41a7-8fe4-4beddf7a174e, Extended Request ID: null)" (RequestToken: 9f8d2c28-00c2-be9a-e

[2021-12-07 10:44] lodi-g commented on #12456
Quite ugly workaround, but it works and does not require one to change the functions themselves, only the CDK code.

[code]

Using `States.Format`, it'll "convert" the number to a string. Not happy with it but it works.

[2021-12-07 11:22] njlynch commented on #17835
Very strange!

Could you repeat this experiment, and capture the output of [`get-distribution-config`](https://docs.aws.amazon.com/cli/latest/reference/cloudfront/get-distribution-config.html) before and after? Obviously, the console is making an update behind the scenes, and I'd be quite curious to know what it's doing.

This how CloudFormation -- which cdk relies on under the hood -- works. Any

[2021-12-07 11:51] otaviomacedo commented on #17578
Thanks. I can reproduce it that way.

[2021-12-07 12:05] #17447 closed

[2021-12-07 12:08] bobstanton commented on #17835
Good call, the difference was in the ``OriginProtocolPolicy``, I didn't realize the default was https, setting ``ProtocolPolicy = OriginProtocolPolicy.HTTP_ONLY`` on the ``Origin`` resolves this. Thanks!

[2021-12-07 12:08] #17835 closed

[2021-12-07 12:27] omriman12 opened #17883 "VPC Subnet: Error when trying to define VPC with exact Subnet CIDRs"
### What is the problem?

The SubnetConfiguration construct only allows to define CIDR mask, but i want to define the exact CIDR.
For that I have used the PublicSubnet construct. It works, but the issue is when I trying to call SubnetSelection construct I receive an error: "There are no 'Private' subnet groups in this VPC. Available types:"

### Reproduction Steps

[code]

### What did you expect

[2021-12-07 12:40] ztane commented on #15391
The Python handler name is *not* a file or a simple top-level name inside the file on the lambda. It is an importable object. It could even make sense for it to be inside a layer. Checking that the handler is a file or anything to that effect is an unnecessary restriction over what AWS Lambda Python runtimes allow outside CDK.

[2021-12-07 12:55] the-exile-110 commented on #17852
@peterwoodworth

Thank you, after I tried again and again I found that the number of subnets created depends on the parameter max_azs, I changed the following code and now it works as expected

        vpc_name = 'example-vpc'
        cidr = '10.0.0.0/16'
        subnet_cidr_mask = 24
        max_azs = 1
        enable_public_subnet = True
        enable_private_subnet = True
        nat_gateway_c

[2021-12-07 12:56] #17852 closed

[2021-12-07 13:27] #17810 closed

[2021-12-07 14:22] kaizen3031593 commented on #17873
@rittneje do you think you could submit a quick PR to fix it? I will immediately approve...

As for how `Permission` works, at least in TypeScript it is an interface and cannot be instantiated. You are correct that it is similar to `XProps` patterns. I don't think its worth documenting that point, as it follows general CDK patterns and is not an outlier.

[2021-12-07 14:49] njlynch commented on #17528
Hi @NukaCody !

Thanks for the idea and link to your construct library! To help us prioritize new L2s, we look for interest and engagement from the community (as well as internal metrics on how much usage the underlying L1s receive). I'm going to initially assign this as a `p2`, meaning we aren't able to work on this immediately.

We use 👍 s to help prioritize our work; you can reach out to the cd

[2021-12-07 14:50] joel-aws commented on #17805
Update: with Aspects applied in a Stage (examples 4-6), annotations *do* appear during a `cdk deploy`; they do not appear during a `cdk synth`.

[2021-12-07 15:01] omriman12 commented on #16869
same issue for me, any work-around?

[2021-12-07 15:04] RomainMuller commented on #16964
Just had a chat w/ @alexpulver about this, and on the `jsii` side of things, it boils down to implementing https://github.com/aws/jsii/issues/47, or at least a sub-set of it:

- We could start off by only taking care of the "into node" side of the problem: assuming the majority use-case here is trying to relate CfnGuard offenses to the user's "own" code, the interesting call paths will mostly orig

[2021-12-07 15:09] njlynch commented on #17545
Thanks for the feature request.

Option 1 seems the sanest in the near-term. This would closely mirror the approach in some of the other DB services (e.g., docdb). Contributions welcome.

In the meantime, you can use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to set the underlying Cloudformation properties.

[2021-12-07 15:16] njlynch commented on #17576
Thanks for the feature request.

While you're waiting for the feature, you can use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to set the underlying Cloudformation properties. (In this case, it looks like the Subscription `DeliveryPolicy`).

Relevant docs on the feature for reference: https://docs.aws.amazon.com/sns/latest/dg/sns-message-delivery-retries.html#crea

[2021-12-07 15:36] pnedelko commented on #12607
Is it already fixed or planned to be fixed?

[2021-12-07 16:11] njlynch commented on #17749
Thanks for the feature request, the example and diagrams!

To help us prioritize new L2s, we look for interest and engagement from the community (as well as internal metrics on how much usage the underlying L1s receive). I'm going to initially assign this as a p2, meaning we aren't able to work on this immediately.

We use 👍 s to help prioritize our work; you can reach out to the cdk.dev community

[2021-12-07 16:14] kaizen3031593 commented on #17855
HI @rittneje! While this seems weird, it is the expected behavior. When we add a dependency, it is like saying that everything in subtreeA depends on everything in subtreeB. In this case, that makes `param` depend on both `func` and the IAM role. Since that is not what you want, you are correct that the workaround is to add the dependency directly to the L1 construct in the way you've described.

[2021-12-07 16:14] #17855 closed

[2021-12-07 16:18] kaizen3031593 commented on #17816
Hi @raginjason! Good catch! Name generation isn't something that the CDK handles however. It is done when Cloudformation deploys the resource. Please file an issue at the [`Cloudformation Roadmap`](https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues) and they will get it sorted out.

As an aside, your `CfnJob` isn't really a `cfnJob` :). To create a `CfnJob`, you would cal

[2021-12-07 16:18] #17816 closed

[2021-12-07 16:25] larsskaug commented on #11245
+1

[2021-12-07 16:52] adambro commented on #4955
I've discovered an AWS quickstart that covers (some) of the cases asked here. Actually it covers quite a lot, whole EKS setup with necessary addons, so check it out:
https://github.com/aws-quickstart/quickstart-eks-cdk-python

[2021-12-07 16:55] skinny85 commented on #17879
Hey @drudderd, thanks for opening the issue. I believe this is a duplicate of https://github.com/aws/aws-cdk/issues/17807, let's move the conversation there.

[2021-12-07 16:55] #17879 closed

[2021-12-07 17:08] njlynch commented on #17770
Thanks for the feature request, @blockvote , and the link to the CloudFormation tracker @jumic!

[2021-12-07 17:11] njlynch commented on #17838
This isn't currently supported by the L2s (`Subnet`); however, you can use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to set the underlying Cloudformation properties of the Subnet.

[2021-12-07 17:17] njlynch commented on #17853
How is your environment configured? Do you have a `~/.aws/config` and `~/.aws/credentials`, are you using environment variables, etc?

As the linked documentation states, we typically just run `yarn integ` or `yarn integ $testname` to run the integ tests. This resolves the current AWS credentials the same way as the `cdk` CLI does (in fact, via the same code paths).

[2021-12-07 17:37] njlynch commented on #17165
Can you share a reproducible example of the code that triggers this?

Here's a working example:

[code]

[2021-12-07 17:44] njlynch commented on #17856
How are you outputting the domain name? Can you share a reproducible example?

[2021-12-07 18:01] bilalq commented on #14713
The absence of this results in AWS CodePipelines being unusable for cross-region deployments in many cases. See #16244 for more details.

[2021-12-07 18:22] automartin5000 commented on #17856
Oh sorry, I should've clarified that I'm not explicitly outputting the domain name. I would've called this a feature request that I thought it should be output by default, but then I noticed that it was being output if the resource is in a nested stack. So I thought it might be a bug that it works in nested stack constructs but not standard stack constructs?

[2021-12-07 18:27] fab-mindflow commented on #11995
Indeed, we also have a large CDK deployment and this forces us to build everything again and again. Any workaround?

[2021-12-07 18:53] skinny85 commented on #16244
You're right @bilalq. I've started working on this in https://github.com/aws/aws-cdk/pull/16350, but had not had the time to pick that back up.

[2021-12-07 19:57] sandeepkumar2810 opened #17890 "(batch): AWS Step function batch submit"
### General Issue

How to get multiple values from the Jsonpath for container_overrides environment property

### The Question

Hi, i am trying to create a batch job using CDK inside AWS Step function and i am having issues getting multiple values from the Jsonpath to the container_overrides environment properties.
This works fine if we just have a single value.
Do we know how we can have BATCH_SC

[2021-12-07 20:06] skinny85 commented on #3587
The change definitely has been released - for a long time, actually (since `v1.63.0`, September 2020).

@kundkingan can you show me your code, and the exact error that you get?

[2021-12-07 20:07] bweigel opened #17891 "(ecs-service-extensions): Make compatible with CDK v2 `aws-cdk-lib`"
### Description

@aws-cdk-containers/ecs-service-extensions should be compatible with CDK v2, now that it is GA.

### Use Case

Internally we have build a set of constructs for ECS/Fargate container workloads that rely heavily on @aws-cdk-containers/ecs-service-extensions. I tried upgrading our internal constructs to CDK v2, but noticed that @aws-cdk-containers/ecs-service-extensions depends on CD

[2021-12-07 20:09] skinny85 commented on #2711
Right. Exactly like I said in https://github.com/aws/aws-cdk/issues/2711#issuecomment-765628398, the code should be:

[code]

, **not**:

[code]

[2021-12-07 20:10] skinny85 commented on #16958
@fsmikedev did you do what this StackOverflow answer suggests? https://stackoverflow.com/questions/63230623/aws-cdk-s3-to-codecommit-deployment/64746898#64746898 (take special note of what is says about unzipping)

[2021-12-07 20:37] peterwoodworth commented on #17748
So it seems to be that this is an issue with the appflow console. The right people are looking at it, but I don't have an ETA for you at the moment. I'll let you know if there's any updates

[2021-12-07 20:37] skinny85 commented on #13922
@Fallenstedt I can't replicate the problem. Here's my code:

[code]

I'm able to `cdk deploy` this without any problems...

[2021-12-07 21:17] guysqr commented on #3746
I wrote a shell script (in zsh) to do this https://gist.github.com/guysqr/16efd78b8d63a021ea4471da98758449 in case it helps... you just run it instead of `cdk deploy` with the same arguments. It will first run diff, highlight any issues and then give you the option to run deploy.

[2021-12-07 21:51] bazd commented on #3203
Yes, cheers for clarifying.  They haven't addressed it at all which is disappointing considering v2 has just been released.

[2021-12-07 22:25] SamStephens opened #17893 "(device-farm): Support for device farm constructs"
### Description

The [AWS::DeviceFarm Cloudformation resources](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/AWS_DeviceFarm.html) appear not to be exposed in the CDK at all.

This is a request for L1 constructs for those resources.

### Use Case

To manage Device Farm resources via the CDK.

### Proposed Solution

L1 Device Farm constructs.

### Other information

_No response_

[2021-12-08 00:17] vahagn-madatyan opened #17895 "ServiceCatalog: Missing ProductStack class in v2"
### What is the problem?

The [ProductStack class ](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_servicecatalog_alpha/ProductStack.html) appears to be missing from CDK v2.0  aws_cdk.aws_servicecatalog_alpha constrcut

### Reproduction Steps

1. Install the alpha library
`install_requires=[
        "aws-cdk-lib",
        "constructs",
        "aws_cdk.aws_servicecatalog_alpha"
]`

2. I

[2021-12-08 01:42] arcrank commented on #17895
Thank you for detailed comments, I'm able to reproduce and see that the package has missing features.  Will hope to provide update or resolution soon.

[2021-12-08 01:55] skinny85 commented on #17895
Thanks for opening the issue @vahagn-madatyan. Looks like the last release of the `aws-servicecatalog-alpha` package was on October 31 2021, so it doesn't contain the latest changes, including the `ProductStack` class.

We'll dig into what happened there, and report back when we know more!

[2021-12-08 02:05] harshadbhatia opened #17897 "EKS : Applying Permissions boundary when ServiceAccount nested stack is created."
### What is the problem?

When creating a service account in EKS. It creates OIDC provider custom resources such CfnUtils etc when used with Aspects to apply permission boundary. The role is not updated to include PermissionsBoundary.

### Reproduction Steps

- Have an AWS account which has Permissions Boundary policy in place for stopping role creation.
- Create an EKS cluster
- Add service accou

[2021-12-08 03:02] LeoHsu0802 commented on #3300
Hi @skinny85,
I have a similar issue to @cn-sws, when I create a role in role stack for codebuild project useage and use this role in another codebuild stack then I get a circular dependency error.

[2021-12-08 04:09] rittneje commented on #17873
Python does not have interfaces, so there is just looks like a normal class. https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda/Permission.html If you happen upon that class in the Python docs, then it is very misleading, because it reads like you can pass an instance of that class to (now) `add_permission`.

My general feedback on this point is that the interfaces don't translat

[2021-12-08 04:47] zackwwu opened #17898 "CDK Golang v2.0.0: get Unable to fetch parameters [/cdk-bootstrap/hnb659fds/version] error even when qualifier is provided"
### General Issue

the qualifier is not applied during deployment

### The Question

Hi, I tried to upgrade the cdk version to v2.0.0, and i bootstrapped my cloud environment with a qualifier `v2`,  In my app i created a default synthesizer with the following config:
[code]

i can see that in the output cloudfront template:
[code]

but as i deploy my app, i get `Unable to fetch parameters [/cdk-bo

[2021-12-08 05:18] zackwwu commented on #17898
I found the reason, by default `previous-parameters' option is true, because the  in the last deployment i was using v1, the cdk is still using parameters of last deployment, explicitly set `--previous-parameters false` should fix the problem

[2021-12-08 05:18] #17898 closed

[2021-12-08 06:19] NGL321 commented on #17883
Hey @omriman12,

It seems that there may be a little confusion here. Your code looks good with the exception of a single missing property. You can see [here](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.SubnetSelection.html#subnettype) in the docs, that while the `subnetType` prop of `SubnetSelection` is optional, it defaults to private subnets.
In your given code you only crea

[2021-12-08 07:02] robertd commented on #17897
@harshadbhatia Can you please test with this code snipped? I've used to use your current implementation a while ago and there were some scenarios where PB wouldn't apply properly (see commented out code and links below). Second implementation of `visit` method there has been working for me flawlessly ever since. Let me know...

[code]

[2021-12-08 07:36] NGL321 commented on #17863
Hey @Alon-Katz,

It looks like you got this figured out but are not entirely satisfied with the implementation, is that right? In that case we can turn this issue into a feature-request to have the adjustment review. It seems its a cdk8s issue though, so my recommendation is to create a new issue on that repo and link here.

Please let me know if I can help with this.

[2021-12-08 07:57] NGL321 commented on #17826
I have confirmed this behavior, but have not yet confirmed what causes it.

[2021-12-08 08:02] Mohamed-Abubucker commented on #16209
Hi,

Currently i am trying to use podman and buildah with aws cdk typescript project.

i don't have docker in my local. i want to build OCI based container images.

while deploying the stack, it runs docker login and deployment get failed as docker is not there.

is there any way to instruct aws cdk to use podman and buildah instead of docker?

it really blocks my productivity.

please advise!

te

[2021-12-08 08:25] bmacher commented on #17826
I assume, that it is just not considered. Only the part after `from` is migrated currently, which is fine in any other case.

[2021-12-08 08:25] deathquin opened #17899 "I want to send the value from the top stack to the nested stack."
### General Issue

send the value from the top stack to the nested stack.

### The Question

I want to send the value from the top stack to the nested stack.
I executed the code as below.
However, they meet the bug as below.

[code]

An error appears when a userpool value is sent from the upper stack to the nested stack.
I think the value sent from the upper stack cannot be referenced from the bot

[2021-12-08 08:41] eladb commented on #17706
For workaround - `--no-asset-metadata` can be used directly with `cdk deploy` as well or can also be added to `cdk.json`

[2021-12-08 08:45] eladb commented on #17706
@moelasmar we need to revise #17591 so that `original-path` will be relative and not absolute.

[2021-12-08 08:47] eladb commented on #17706
@peterwoodworth I am tagging this as P0 since it's breaking customers.

[2021-12-08 09:33] karl-dau opened #17902 "(golang) awscdk/v2/awsiot: CfnTopicRule_DynamoDBv2ActionProperty empty generated cfn"
### What is the problem?

When I construct a TopicRule using `CfnTopicRule_DynamoDBv2ActionProperty`, then the generated CloudFormation is missing the actual action details.

### Reproduction Steps
[code]

### What did you expect to happen?

I expected the Output to look like this:

[code]

### What actually happened?

I only see this:

[code]

### CDK CLI Version

2.0.0 (build 4b6ce31)

### Frame

[2021-12-08 09:38] karl-dau commented on #17902
I downgraded node to  v16.13.1, same problem.

[2021-12-08 09:50] rix0rrr opened #17903 "docs: source links for v2 point to files that don't exist in the source repository"
### What is the problem?

![image](https://user-images.githubusercontent.com/524162/145186931-0d143d6f-aa98-4f14-acf9-9d29e5b12202.png)

### Reproduction Steps

x

### What did you expect to happen?

x

### What actually happened?

x

### CDK CLI Version

x

### Framework Version

x

### Node.js Version

x

### OS

x

### Language

Typescript

### Language Version

_No response_

### Other informa

[2021-12-08 10:26] eladb commented on #17903
I am wondering if perhaps we can add some kind of an annotation to the generated file that will tell JSII that this file is generated and it will not include a source location for it. WDYT?

[2021-12-08 10:28] otaviomacedo commented on #17897
Another thing to try is to compare with `IRole` instead of `Role`:

[code]

[2021-12-08 10:33] omriman12 commented on #17883
@NGL321 i forgot to add the entire code, i indeed defined a private subnet, getting the error

[2021-12-08 10:49] markussiebert commented on #17853
Hi, I am using ~/.aws/config and ~/.aws/credentials, nothing else. The credentials work with cdk, but the problem isn't missing credentials, it's that cdk does not know the account and region I want to use...

[2021-12-08 10:59] njlynch commented on #17826
This was a known gap in the tool leading up to launch; it should have been more clearly documented that we had not (yet) handled this case.

I'll take a look at it this week and see if we can't make some progress.

[2021-12-08 10:59] njlynch commented on #17895
Apologies for the poor experience here.

The most recent release -- as of right now -- is actually [`2.0.0a11`](https://pypi.org/project/aws-cdk.aws-servicecatalog-alpha/2.0.0a11/). There was a mistake with the initial release of the alpha modules that accidentally released with the `rc` suffix instead of the `a` suffix. Unfortunately, that means with out specifying a concrete version, it's select

[2021-12-08 11:03] rix0rrr commented on #17903
Mmm. That is probably a better approach indeed. Good call.

[2021-12-08 11:28] saste opened #17907 "python/aws_stepfunctions_tasks.CodeBuildStartBuild,LambdaInvoke: result_selector option is missing"
### What is the problem?

I want to select part of the result of the codebuild task using the `result_selector`, as documented [here](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_stepfunctions_tasks/CodeBuildStartBuild.html).

When I use it, I get an `unexpected keyword argument 'result_selector'` error.
I get the same the issue with the `result_selector` used with a `LambdaInvoke` ta

[2021-12-08 11:47] saste opened #17908 "(stepfunctions-tasks): add SourceLocationOverride property to CodeBuildStartBuild"
### Description

It would be useful to pass the `SourceLocationOverride` as defined [here](https://docs.aws.amazon.com/codebuild/latest/APIReference/API_StartBuild.html) when starting a build with a [CodeBuildStartBuild](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_stepfunctions_tasks/CodeBuildStartBuild.html) task.

As a workaround it is still possible to use a `stepfunctions.CustomS

[2021-12-08 12:30] daknhh commented on #17165
Sure neither:

`        cfn_listener = elbv2.CfnListener(self, "MyCfnListener",
                                         default_actions=[
                                           elbv2.CfnListener.ActionProperty(
                                             type="redirect",
                                             redirect_config=elbv2.CfnListener.RedirectConfigProperty(

[2021-12-08 12:36] djessup commented on #17646
This worked for me:
[code]

[2021-12-08 12:42] njlynch commented on #17145
I have not been able to reproduce this with the sample given. It is a bit odd that the error message refers to Aurora Serverless (RDS) but the service message says Neptune. Which service were you using when you gave the above error?

For comparison, here is how I attempted to reproduce:

[code]

The above built successfully without error. Can you share a reproducible sample, or correct what I'm mi

[2021-12-08 12:48] #17706 closed

[2021-12-08 13:15] bjornhandersson commented on #17544
Same problem here but for MSK
Using CDK 2.0.0

[2021-12-08 13:43] otaviomacedo commented on #17725
I don't think the problem has to do with `Cluster.fromClusterAttributes`. In your last snippet, you have:

[code]

Here `clusterStack` is in the scope of the `App`, as the error message indicates.

[2021-12-08 13:57] jakep36 commented on #7244
I'm seeing this same error. The dns record set does exist. I would expect the construct to update it if it does exist. Do I need to delete the DNS record prior to deploying this construct? (cdk version: 1.129)

[2021-12-08 13:58] jonashdown commented on #17546
Could the speed of the machine CDK is running on manifest this ? We have 'works on my machine` when running CDK from developer's mac books, but failure when running CDK through Github actions

[2021-12-08 14:05] otaviomacedo commented on #17808
Hi, @pwangdue.

Have you tried setting the `globalReplicationGroupIdSuffix` property?

[2021-12-08 14:09] njlynch commented on #17895
https://pypi.org/project/aws-cdk.aws-servicecatalog-alpha/2.1.0a0/ has been released, which should fix the awkward versioning we had before.

Closing out; let me know if you have any follow-ups.

[2021-12-08 14:09] #17895 closed

[2021-12-08 14:39] tobytipton opened #17911 "(EcsDeployAction): define service attributes instead of service itself."
### Description

EcsDeployAction should allow passing of a serviceName, clusterName, region and possibly account or requiring role, instead of requiring the service which is an IBaseService to set the CodePipeline Configuration and region.

This will allow for using EcsDeployAction to have better support in the CodePipeline API where a you typically would define the ECS service/cluster in a stack

[2021-12-08 15:47] ericzbeard commented on #17436
@rix0rrr will it be possible to fix this without breaking existing stacks? Also wondering how we avoid name collisions if we truncate the id.

[2021-12-08 16:10] njlynch commented on #17193
I've been unable to reproduce this so far, although it could be from me misinterpreting the reproduction steps. The description states that this occurs "when importing an existing VPC", but the reproduction code looks closer to the creation of a new VPC.

That being said, I tried this setup:

[code]

I synthed and deployed this once. After, `cdk diff` came up clean, and a `cdk deploy` showed no ch

[2021-12-08 16:12] yamatatsu commented on #2421
@eladb Is this is relevant? If yes, I will try this!

[2021-12-08 16:19] njlynch commented on #17856
It sounds like you are likely using the domain value outside of the nested stack. This automatically creates an Output so that value can be used. See our [documentation](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib-readme.html#nested-stacks):

We don't otherwise automatically create outputs for arbitrary properties of constructs. If you want to have the domain outputted yourself, simply

[2021-12-08 16:19] #17856 closed

[2021-12-08 16:51] njlynch commented on #17540
This isn't doing what you think it's doing. This is possibly part of the cause of the issue here. From [the docs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudfront-readme.html#from-an-s3-bucket):

You've configured your bucket as a website, which means the `S3Origin` is treating it as such and using the HTTP endpoint as the origin point. However, this does require that the bucket allo

[2021-12-08 16:51] #17540 closed

[2021-12-08 16:54] skinny85 commented on #17902
Hey @karl-dau,

thanks for opening the issue.

I'm not sure if the problem is not in your JSON marshal/unmarshal code. Can you try removing that part, and see if that works?

Thanks,
Adam

[2021-12-08 16:55] gshpychka commented on #17526
@nija-at what do you think about potential resolutions? Maybe this is a bug in lambda and should be dealt with upstream?

[2021-12-08 16:56] skinny85 commented on #17902
BTW, we also have [Layer 2 IoT TopicRule resources](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-iot.TopicRule.html) 🙂.

[2021-12-08 16:57] njlynch commented on #17583
Thanks for the detailed bug report. I'm marking this as a duplicate of https://github.com/aws/aws-cdk/issues/16891, which I believe is the exact same issue.

[2021-12-08 16:57] #17583 closed

[2021-12-08 16:58] otaviomacedo commented on #9581
A workaround for now is to create a `DomainName` explictily in the stack:

[code]

[2021-12-08 17:09] karl-dau commented on #17902
Hi

The JSON marshal/Unmarshal is what makes it work.

For some reason the CFN code generation for that action is not working or I am missing something.

[2021-12-08 17:24] skinny85 commented on #17902
Sorry. Can you show the code without the marshal/unmarshal part, and how it fails?

[2021-12-08 17:25] skinny85 commented on #17902
Oh, I see - you edited your description to include the original code (I missed that in the original notification).

[2021-12-08 17:30] karl-dau commented on #17902
Hi

Yes, everything should be there. The action seems to be generating

`  - DynamoDBv2: {}`

instead of

[code]

[2021-12-08 18:06] modul commented on #13767
@hassanazharkhan I was waiting on your PR to be merged. I'm trying to use the new preCompilation flag but it doesn't look like tsc is being run. The resulting lambda code is missing metadata.

Am I missing something here?

[2021-12-08 18:08] markuspxpx commented on #15065
I agree with @jefftham , we should be able to overwrite the Cloudformation rule using --force, to literally force to deploy.

[2021-12-08 18:15] ekeyser opened #17916 "aws-rds: modifying instance_size for DatabaseCluster results in significant downtime"
### Description

If you have defined your infrastracture using cdk and you implement an rds.DatabaseCluster with multiple members, modifying the instance_props for the members results in 5-10 minutes downtime depending on instance class/size. This defeats the purpose of multi-az (or partner promotion as it's now known I think). Typically you would see 5-10 seconds downtime max if performing this o

[2021-12-08 18:21] ekeyser commented on #17916
I suspect that this is a CloudFormation change and not something that can be achieved in CDK alone unless there's something I'm not aware of in defining the resulting dependency tree to force a dependency between individual cluster members. Just my guess.

[2021-12-08 19:41] koups496 opened #17918 "(stepfunctions): allow intrinsic functions for JsonPath.list_at"
### Description

Currently the Step functions JsonPath.list_at values must either be exactly equal to '$' or start with '$.'. But this doesn't allow intrinsic functions and can thereby also start with  'States.Array'.

[code]
https://github.com/aws/aws-cdk/blob/919605a781ac02393559fd96cbd8c136f87bce14/packages/%40aws-cdk/aws-stepfunctions/lib/fields.ts#L228-L232

### Use Case

allow intrinsic func

[2021-12-08 20:00] automartin5000 commented on #9431
Completely agree with this. Wouldn't running `cdk synth` in CI be the best practice? @jonathanmorley Can you share your workaround?

[2021-12-08 20:08] hassanazharkhan commented on #13767
@modul No, you are not missing anything, I will try to PR the fix ASAP!

[2021-12-08 20:13] dgoetsch commented on #17874
In addition to the classes up above, do we also need to add a field to `EventSourceMapping`?

Additionally, do we need an api designed for filter patterns? I don't really want to inline the json into an event source - I would much rather prefer to be able to express something like "give me all record creation events from on the ddb stream" natively in my chosen cdk laguage; as opposed to "apply th

[2021-12-08 20:39] rboelen commented on #17153
Redirection is only covered on distribution level. If I would have a behaviour with path /assets/* serving images it is not acceptable to just send index.html on 404 status.
WIth redirection on the bucket this would not be a problem.

We have these behaviours in a distribution:
0 - /assets/* to  s3 bcuket serving images, on 404 do nothing
1 - Default(*) to s3 bucket service static website, on 404

[2021-12-08 20:49] bruuuuuuuce commented on #15682
I am facing a similar issue when using a non-standard cidr range. I am creating a vpc with the cidr `10.23.73.0/18`, and am telling cdk to generate a private subnet in my vpc with a mask of `20`. The deploy is failing because its trying to set the subnet cidr to `10.23.144.0/20` which is not contained by `10.23.73.0/18`.

My :twocents: on how to help developers with this
- Allow developers to defi

[2021-12-08 21:29] peterwoodworth commented on #17748
The Appflow team should address this in the near future, thank you for your patience

[2021-12-08 21:50] rektide commented on #5703
@rix0rrr the docs for https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-events.CfnRule.html#eventpattern-1 are incredibly confusing:

[code]

This is confusing but it gives the impression that it expects an EventPattern. The EventPattern docs helpfully clarify this is not the case, but the docs for CfnRule are quite confusing. [EventPattern trying to correct the situation](https://docs.

[2021-12-08 23:45] peterwoodworth commented on #17853
Hey @markussiebert,

Check out #1656, that thread contains some helpful information for various CLI authentication issues.

In particular, this comment mentions integration tests https://github.com/aws/aws-cdk/issues/1656#issuecomment-460845615, and the next comment is a followup with the solution. Maybe you've run into the same issue?

[2021-12-09 01:06] kkparkclouflake commented on #17725
Oh, It's my paste mistake. In source code I have, That statement have 'this' scope like this;
[code]

[2021-12-09 02:52] kkparkclouflake commented on #17725
I resolved this!

I add some debug logs into `@aws-cdk\core\lib\deps.ts` like this;
[code]

and... It print's weird result.
- SourceStack: `DriverStack` in `ClusterStackStage` scope
- SourceStage: `ClusterStackStage` in `CodePipelineStack` scope
- TargetStack: `ClusterStack` in `App` scope
- TargetStage: `App` in `undefined` scope

It's very weird...

`ClusterStack` are defined just two times whol

[2021-12-09 02:52] #17725 closed

[2021-12-09 03:10] khan-a1 opened #17921 "EC2: Cross account VPC lookup dummy values"
### What is the problem?

ec2.Vpc.fromLookup cross account lookup followed by vpc.selectSubnets results in TypeError: Cannot read properties of undefined (reading 'routeTable').

If I lookup the VPC alone without querying subnets and it completes the synth command and writes the vpc and subnet details in cdk.context.json and rerun the CDK app again this time with subnet lookups, it works fine

###

[2021-12-09 04:21] ahammond commented on #12076
Reproduced this using CDK v2. We have never used any CDK v1 in this account.

[2021-12-09 09:51] pwangdue commented on #17808
Hi @otaviomacedo I could create the secondary cluster using this property but not using the members property in the GlobalReplicationGroup

[2021-12-09 10:26] mspolitaev commented on #17290
Hi team! As i understnd it's only L1 construct? Don't want rewrite all our L2 to L1. Is it planned make availbel response headers policy as L2 too? Or how we can combine L2 Behavior construct with this one ResponseHeaders policy? Thanks.

[2021-12-09 11:09] otaviomacedo commented on #17808
But does it solve your problem? I see how the documentation is not clear, but these are L1 constructs. The documentation is generated automatically from the CloudFormation specification.

[2021-12-09 11:16] sandeepc24 opened #17924 "Add CORS to Lambda and LambdaRestApi"
### General Issue

Add CORS to Lambda and LambdaRestApi

### The Question

I have not been able to fix CORS issue with Lambda and LambdaRestApi using dotnet F#.

Here is my code
<code>
    let apiLambda =

        Function(this, "apiLambda", FunctionProps(

            Runtime = Runtime.DOTNET_CORE_3_1,

            Code = Code.FromAsset("./src/publish/app"),

            Handler = "Api::Setup+Lam

[2021-12-09 11:37] #17578 closed

[2021-12-09 12:47] Simon-TechForm opened #17925 "(appsync): 2.1.0 breaks deployment"
### What is the problem?

After upgrading from 2.0.0 to 2.1.0 we are no longer able to deploy, receiving:
```TTL value cannot be smaller than 1 second and larger than 3600 seconds. (Service: AWSAppSync; Status Code: 400; Error Code: BadRequestException```

This seems to be caused by #17815, that introduces cachingConfig to appsync resolvers.

Despite the [Cloudformation documentation](https://docs

[2021-12-09 13:24] mp365 opened #17926 "(s3): Add support for BucketOwnerEnforced to S3 ObjectOwnership Type"
### Description

Object Ownership for an S3 bucket has three settings that you can use to control ownership of objects uploaded to a bucket and to disable or enable ACLs. The AWS [recommended setting](https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html) for object ownership is Bucker Owner Enforced. This is also reflected in the AWS S3 Console in the 'Edit Object Perm

[2021-12-09 15:50] robertd commented on #17290
@mspolitaev It is L2 construct, but it's only available in v2.1.0. It should be available in v1.3.5 when it gets released.

![image](https://user-images.githubusercontent.com/31543/145429208-c4b8b70c-a003-4a3f-a753-39eb397d6e2b.png)

[2021-12-09 16:10] andrewjroth opened #17928 "(aws_s3_assets): unable to define bundling with local (python)"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_s3_assets/README.html#asset-bundling

### Describe your issue?

The documentation has an example which is not syntactically correct for Python:

[code]

The value for 'bundling' isn't correct Python code.  You can't define a function in the middle of a dictionary.

I've attempted to determine how to correctly

[2021-12-09 16:26] mspolitaev commented on #17290
Oh cool, it's 1.134 now latest? Hope soon will be 1.135. We will wait then. Thanks.

[2021-12-09 16:47] jdallma opened #17929 "(aws-s3-deployment): retry cfn_send on certain exceptions"
### What is the problem?

I had a deployment fail after 1 hour due to cfn_send hitting a urllib exception that could have been retried.
[code]

The code here simply catches all exceptions and logs them.
https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-s3-deployment/lib/lambda/index.py#L233

The issue with simply catching and logging all exceptions here is that this will cause a C

[2021-12-09 17:16] #16411 closed

[2021-12-09 17:55] IvanAramazov opened #17930 "Type 'NodejsFunction' is not assignable to type 'IFunction'."
### General Issue

Type 'NodejsFunction' is not assignable to type 'IFunction'.

### The Question

I am trying to create a WebSocket using  _aws-apigatewayv2_ and _aws-apigatewayv2-integrations_.
When I pass lambda function of type **NodejsFunction** it can't assing it

`const webSocketApi = new apiGwV2.WebSocketApi(this.scope, id, props);
    webSocketApi.addRoute('statusChanged', {
      integra

[2021-12-09 18:44] jonniedarko opened #17932 "(aws-cdk-api-reference): v2 is not the latests"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/versions.html

### Describe your issue?

the CDK site links to older version for `latest` version

This is confusing and leads to bad search results via google or similar

[2021-12-09 18:45] jonniedarko commented on #17813
:+1:  for this

[2021-12-09 19:12] corymhall commented on #17899
@deathquin I created a simple Go app that created a UserPool in a stack and then passed the UserPoolId down to a nested stack and did not receive an error. This makes me think that there is something else going on.

Do you get any more of a descriptive error message looking at the stack in the console? Does it fail on a particular resource?

[2021-12-09 19:49] peterwoodworth commented on #17924
Can you describe what exactly the "CORS issue" you're running into is @sandeepc24?

[2021-12-09 20:02] peterwoodworth commented on #17881
Thanks for the suggestion @3sztof

I believe this would be a breaking change for customers who are currently using this with the default settings - so I don't think this is something we'll be able to change

@rix0rrr do you have any comment on why the wildcard is used as default here?

[2021-12-09 20:39] peterwoodworth commented on #17165
@daknhh why are you using """#{}""" syntax?

[2021-12-09 21:21] peterwoodworth commented on #17890
The Batch API for ContainerOverrides asks for an array of key value pairs for the environment parameter. https://docs.aws.amazon.com/batch/latest/APIReference/API_ContainerOverrides.html

I'm not aware of any ways to work around this, but I'm not super familiar with these services. I can look into this more

[2021-12-09 21:23] andrewjroth opened #17933 "(aws_ec2): No example for use of interface SubnetSelection for vpcSubnets"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_ec2.SubnetSelection.html

### Describe your issue?

The example given for `aws-cdk-lib » aws_ec2 » SubnetSelection` (**interface SubnetSelection**) on this page does not actually show _SubnetSelection_ anywhere.

A [search of the example code](https://github.com/aws-samples/aws-cdk-examples/search?l=TypeScr

[2021-12-09 21:42] BrianHaak opened #17934 "(aws-lambda-event-sources): kafka event source unsupported properties"
### General Issue

Kafka event source properties includes unsupported properties

### The Question

The SelfManagedKafkaEventSourceProps interface includes properties such as: bisectBatchOnError, retryAttempts, maxBatchingWindow, onFailure, maxRecordAge, and parallelizationFactor however, per API docs ([ref](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/lambda/create-event-sou

[2021-12-09 21:50] kaizen3031593 opened #17935 "(aws-glue): expose grant API for glue Table"
### Description

Currently the `table.grant()` API is private:

https://github.com/aws/aws-cdk/blob/42cf1861c1b493be7fd5ec0d6d7e8fc64987cacd/packages/%40aws-cdk/aws-glue/lib/table.ts#L328-L334

AFAIK that is not the typical CDK behavior. We usually expose `grant` APIs to unblock users who want to grant custom permissions.

### Use Case

I want to grant a custom permission to a glue table. Specific

[2021-12-09 23:07] markussiebert opened #17937 "(cdk-integ-tool): make cdk-integ-tools accessible outside cdk"
### Description

I would like to test my own constructs the same way it's done in this repo. I like the way the cdk constructs are integration tested and like the cdk-integ-tool approach. It would be nice, to make this accessible outside this repo (or at least I was not able to install it or access it from the cdk packages).

### Use Case

I would like to structure my tests the same way as it's do

[2021-12-09 23:18] markussiebert opened #17938 "(eks): helmchart values / manifests should be easier to 'unit test'"
### Description

I would like to unit test helm chart values and kubernetes manifests. The hint in #17854 was really good and it looked like ```Match.serializedJson()``` could handle it. But as the helm charts get more complex, I see values that are a lot of ```Fn::Join``` with some stringified JSON that is joined together along with kubernetes resources, so that
```Match.serializedJson()``` won't

[2021-12-09 23:27] peterwoodworth commented on #17883
When you create a `PrivateSubnet` or `PublicSubnet`, the Vpc object you have created will not recognize that those subnets belong to it. Since you've set `SubnetConfiguration` to [], your Vpc believes that there are 0 subnets in your vpc.

Looking at our Vpc docs on [advanced subnet configuration](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-ec2-readme.html#advanced-subnet-configuration), y

[2021-12-09 23:41] peterwoodworth commented on #17934
Thanks for the report @BrianHaak,

This is because under the hood, KafkaEventSourceProps extends StreamEventSourceProps https://github.com/aws/aws-cdk/blob/dd5e12d43231d991971de3121928377569b2dd63/packages/%40aws-cdk/aws-lambda-event-sources/lib/kafka.ts#L16

None of the other non-dynamodb/kineses EventSourceProps extend StreamEventSourceProps, this is isolated to kafka

[2021-12-09 23:42] sandeepc24 commented on #17924
I have hosted website on S3 and have a Lambda hosting REST endpoints. When I invoke Lambda from Postman I get valid response (HttpStatus 200), but when I call the same endpoint from the app I get `CORS error` as shown in the screenshot.
![image](https://user-images.githubusercontent.com/4897654/145492790-be022cc8-1b37-4346-8672-c1f3f323748b.png)

[2021-12-10 00:21] Matt-Butler opened #17939 "Cloudwatch RUM support"
### Description

https://aws.amazon.com/blogs/aws/cloudwatch-rum/

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rum-appmonitor.html

### Use Case

Needs CFN support: https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/1001

### Proposed Solution

New Construct

### Other information

https://github.com/aws-cloudformation/cloudformation-covera

[2021-12-10 00:35] mgrabenstein commented on #15813
@peterwoodworth I am running into the same issue. I get the error after running your bash script above:
$ bash cdk_script.sh 1234567890 "us-east-2"
Traceback (most recent call last):
  File "/<path>/app.py", line 4, in <module>
    from aws_cdk import core as cdk
ModuleNotFoundError: No module named 'aws_cdk'
Subprocess exited with error 1

Currently have
$ cdk --version
1.134.0 (build dd5e12d)

P

[2021-12-10 00:52] peterwoodworth commented on #15813
The second import is there by default - Here's our init template for python (with a comment explaining why there are two imports) https://github.com/aws/aws-cdk/blob/42cf1861c1b493be7fd5ec0d6d7e8fc64987cacd/packages/aws-cdk/lib/init-templates/v1/app/python/%25name.PythonModule%25/%25name.PythonModule%25_stack.template.py#L1-L10

Thanks for pinging me and letting me know, I've reopened the issue. I

[2021-12-10 00:53] mgrabenstein commented on #15813
What you read comments?
lol

[2021-12-10 00:56] mgrabenstein commented on #15813
Also had CDK v2.1.0 installed. Not your exact steps, but received the error on that as well.

[2021-12-10 01:03] jappyjan commented on #5760
same here

[2021-12-10 03:24] chowlett opened #17942 "cdk 2.1.0 synth, diff subcommands fail with "AssertDescription: CDK bootstrap stack version 6 required...". cdk 2.1.0 deploy subcommand succeeds."
### What is the problem?

`cdk synth` and `cdk diff` fail with "AssertDescription: CDK bootstrap stack version 6 required. Please run 'cdk bootstrap' with a recent version of the CDK CLI." after the template checks SSM for version not 1-5. The actual version in SSM is 9.

`cdk deploy` succeeds.

After the successful `cdk deploy`, the synth and diff continue to fail.

### Reproduction Steps

1. Upg

[2021-12-10 04:27] athewsey commented on #3396
Not worth reopening I guess, but to help any future travellers that wind up here:

I recently encountered this on a fresh install using credential helpers: CDK did not respect `$AWS_PROFILE` even when it was definitely available in the environment (`env`), exported, and even visible to node (`node`, `process.env.AWS_PROFILE`).

...But the problem magically fixed after I created a blank credentials

[2021-12-10 04:35] seanWLawrence commented on #17925
Can confirm the same experience. I removed the `CachingConfig: {}` from my template and it deployed just fine. Related to: https://github.com/aws/aws-cdk/commit/52b535bda5f26b07377fcdfca63a75c62eb5f883

[2021-12-10 05:34] pwangdue commented on #17808
yes it solved the problem. But I think documentation can be updated

[2021-12-10 05:55] jumic commented on #17937
Do you use projen to develop your own constructs? Projen already has a feature for implementing [integration snapshot tests](https://github.com/projen/projen/blob/main/docs/awscdk.md#integration-snapshot-tests) similar to CDK.

[2021-12-10 10:03] ChristopheBougere opened #17944 "(aws-cdk-lib): asynchronous build with unhandled errors cause deployment malfunctions"
### What is the problem?

I have a CDK project deployed with an OpenSearch Domain with availability zone awareness.
To reduce costs, I wanted to reduce the number of nodes in my dev env.
I changed the dataNodes to 1, as well as the availabilityZoneCount.
This was a mistake, because availabilityZoneCount should be at least 2 (or we should simply set zoneAwareness to undefined to disable it).
Howeve

[2021-12-10 10:09] #17795 closed

[2021-12-10 10:22] jeromevdl opened #17945 "pipelines: specify dependencies between pre/post steps"
### What is the problem?

When adding multiple pre (or post) steps to a stage, I cannot specify the order. If I'm adding them in the order I'd like (using `addPre` or `addPost`), the generated pipeline actions are not in the correct order but **alphabetically** ordered.

### Reproduction Steps

Have a stage and add multiple pre steps:

[code]

The Validation Step is after the Boostrap one in my te

[2021-12-10 10:30] tuladhp opened #17946 "@aws-cdk/aws-rds: Expose DbiResourceId as part of the DbInstance property"
### Description

Currently the class Amazon.CDK.AWS.RDS.DatabaseInstance does not expose **DbiResourceId** which is needed for IAM authentication. However this property is available in AWS SDK api.

It is needed for an IAM based database authentication where an IAM policy needs to provide this DbiResourceId as part of the IAM policy. This functionality would be very useful for several customers us

[2021-12-10 10:51] #17552 closed

[2021-12-10 11:12] otaviomacedo commented on #17925
The PR linked above makes `cachingConfig` actually optional.

The CloudFormation team has been notified about the mismatch in the specification.

[2021-12-10 11:26] #17808 closed

[2021-12-10 12:02] Lewenhaupt opened #17948 "(aws-rds): Unable to use CfnParameter as port"
### What is the problem?

CfnParameters cannot be used for the port value of a DatabaseInstance in aws-rds. The value requires only a number and valueAsNumber on a CfnParameter doesn't produce a valid number on synthesis.
`"Port": "-1.8881545897088186e+289"`
instead of
`"ToPort": {
          "Ref": "DBPort"
        }` (as it becomes for a security group)
https://docs.aws.amazon.com/cdk/api/v2/docs

[2021-12-10 13:00] #17826 closed

[2021-12-10 13:24] zradlo1984 commented on #3573
The reason is that in cdk.js all options that has defaults specified (excluding undefined value) will be set after command line arguments. And in settings.js (class Configuration) is this code:
[code]
so defaultConfig is overriden by userConfig (~/cdk.json) then by projectConfig(cdk.json) and then with commandLineArguments (which includes all defaults specified in cdk.js function parseCommandLineA

[2021-12-10 13:27] akashv-builder commented on #10988
You mentioned several articles, i challenge you to share even one article that address this use case. The question is, no documentation, no article mention, what to be assigned as the value to "code" parameter of lambda construct when lambda code is present to a different repo.

[2021-12-10 13:31] tamis-laan opened #17949 "Can't deploy, can't bootstrap (requires bootstrap stack version '6' found version '4')"
### What is the problem?

I'm trying to deploy a simple cdk stack based on `cdk init app --language=python` but I keep getting errors:

[code]

Versions:
[code]

### Reproduction Steps

cdk deploy
cdk bootstrap

### What did you expect to happen?

Deployment of my stack

### What actually happened?

I got an error

### CDK CLI Version

1.134.0 (build dd5e12d)

### Framework Version

_No response_

[2021-12-10 14:18] jeromevdl opened #17950 "core: ./core is not exported in package.json"
### What is the problem?

When migrating to cdk 2.1.0, i have the following error:

(and actually, it is not in the package.json)

### Reproduction Steps

In my code:

`import { CfnOutput, SecretValue, Stage, Stack } from 'aws-cdk-lib/core';`

Use **cdk 2.1.0** in package.json:

[code]

Then try to synthesise:

Gives the error:

### What did you expect to happen?

I expected to have get the templa

[2021-12-10 14:40] manumaki commented on #17950
Same issue here

[2021-12-10 15:10] romelBen opened #17951 "(RDS Database Instance): Getting error when creating RDS instance with "Error: There are no subnet groups with name 'foobar' in this VPC.""
### General Issue

I have referenced StackOverflow but to nothing has helped.

### The Question

Hello everyone. I am having issues in creating an RDS Instance and I am baffled as to why RDS is not recognizing my subnet group when I create it in the service and separately. Here is my code to get a better idea:

[code]

I always have issues when I import a VPC over but pretty much what I wanted to

[2021-12-10 15:18] chowlett commented on #17942
Correction - `cdk diff` may not failing. It reports the cdk version check rule under "Other Changes", at the end of its output. The output looks good otherwise.

[code]

I had interpreted that as failure. Maybe it's not.

[2021-12-10 16:02] Dreamescaper commented on #12337
You can actually use HttpRoute construct for this purpose:
[code]

[2021-12-10 16:14] revmischa commented on #17145
I don't know what's wrong, sorry, not getting this anymore

[2021-12-10 16:14] #17145 closed

[2021-12-10 17:30] #17935 closed

[2021-12-10 17:49] ryparker commented on #17942
Hey @chowlett 👋🏻

I'm not able to reproduce this on my end with CDK v2.1.0

Could you try deleting `node_modules` and if possible recreate your NPM/yarn lock file? Also make sure that all your CDK dependencies have the same version.

[2021-12-10 18:15] ryparker commented on #17950
In CDK v2 all `@aws-cdk/core` exports are now direct exports of `aws-cdk-lib`

The following should work:
`import { CfnOutput, SecretValue, Stage, Stack } from 'aws-cdk-lib';`

[2021-12-10 18:22] peterwoodworth commented on #17950
Be sure to view https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html for more information on migrating to CDK v2, and the differences between v1 and v2

[2021-12-10 18:24] #17546 closed

[2021-12-10 18:28] aritranagnordcloud opened #17956 "(applicationautoscaling): AWS CDK Autoscaling Feature Update : TargetTrackingScaling Policy Fails on CDK update"
### General Issue

Autoscaling Feature Update : TargetTrackingScaling Policy Fails on CDK update

### The Question

We have CDK code which generates the CF code for creating new autoscaling target policy for an ECS cluster.
Here is the code written in java
[code]

While initiating the code for the first time and running the CF command , it works absolutely fine.
However, if we try to update the st

[2021-12-10 18:33] chowlett commented on #17942
Thanks @ryparker. I deleted node_modules and reinstalled the dependencies. `cdk synth` still fails with the same bootstrap version error. The cdk dependencies have the same version:

*cdk app version*
[code]

*cdk dependency versions*
[code]

What do you think about me destroying the CDKToolkit stac,  re-bootsrapping, and recreating this repro?

[2021-12-10 19:11] peterwoodworth commented on #17951
I believe the reason for this is the same as in [this issue](https://github.com/aws/aws-cdk/issues/17883#issuecomment-990397226). You're creating the resources you need in your Vpc, but the Vpc object in your code will not recognize that the Subnet or SubnetGroup you've created belongs to it.

To get around this, you can declare the Subnet and SubnetGroup in the Vpc stack (or another stack that yo

[2021-12-10 19:46] godacre commented on #12524
Hey @njlynch, I've spent the best part of today developing 99% of a custom resource to handle the scenario of updating a CloudFront distribution in place and unfortunately despite overcoming hurdles, I've reached an impasse.

To update a CloudFront distribution to include a Lambda@Edge integration via Lambda & SDK, [it is required to configure the role trust-relationships](https://docs.aws.amazon.

[2021-12-10 19:47] romelBen commented on #17951
So would I have to create the DB Subnet Group manually? The VPC stack that I am referencing too does not have an AWS CDK/CloudFormation stack to update on my side which is a bummer. I would really like this to be straight forward using AWS CDK but this is understandable. Let me try this this out @peterwoodworth.

[2021-12-10 19:47] mattfirtion commented on #17615
Cannot reproduce this on v1.130.0

[2021-12-10 19:50] peterwoodworth commented on #17951
It doesn't have to be manually @romelBen, you could create the Subnet and SubnetGroup in one stack, then create the instance and import the vpc in another stack.

[2021-12-10 19:53] romelBen commented on #17951
Hmmm, let me check this out @peterwoodworth. Will contact you back on the fix.

[2021-12-10 20:01] kbakk commented on #15813
I am able to reproduce this as well (seeing the same on Ubuntu and MacOS – both `2.1.0 (build f4f18b1)` and `1.134.0 (build dd5e12d)`).

[code]

If I `deactivate` the venv, and do `pip install` (to the non-venv Python, not really a workaround) and runs `cdk ls`, it works. If I again do `source .venv/bin/activate` and run `cdk ls` I still see the error. Not quite sure what's going on.

[2021-12-10 20:09] peterwoodworth commented on #17951
Oh and a piece of advice - before you deploy the dbinstance stack, make sure your context is up to date: https://docs.aws.amazon.com/cdk/latest/guide/context.html#context_viewing

If you already have the `cdk.context.json` file because of your imported VPC, the CDK won't try to look up the VPC again.

[2021-12-10 20:20] kbakk commented on #15813
Reproducer with Docker:

[code]

[2021-12-10 20:26] zehsor commented on #17874
As long as this issue is open:
CloudFormation [natively supports ](https://docs.aws.amazon.com/de_de/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html) this.
You can always write an escape hatch for that.

I wrote a [blog post](https://medium.com/@philipzeh/event-filtering-for-lambda-functions-using-aws-cdk-d332140590f8) on how to do this for filtering lambda events.

[2021-12-10 20:32] romelBen commented on #17951
@peterwoodworth Ok Peter I contemplated your advice and referenced the VPC again. This successfully built and is working! Here is the code I added/modified:

    let dataVPC = ec2.Vpc.fromVpcAttributes(this, "ImportDataVPC", {
      vpcId: props.vpcId,
      availabilityZones: ["us-east-1a", "us-east-1b", "us-east-1c"],
      privateSubnetIds: [privateSubnet1A.ref,privateSubnet1B.ref,privateSubnet

[2021-12-10 20:43] peterwoodworth commented on #17951
Glad to hear it! Feel free to ping me if you have any more questions

[2021-12-10 20:43] #17951 closed

[2021-12-10 21:17] seanWLawrence commented on #17925
Ah, so the  `CachingConfig: {}` that's generated now by the construct is valid Cloudformation and the bug is with Cloudformation?

[2021-12-10 21:30] skinny85 commented on #17946
Hey @tuladhp, thanks for opening the issue. We're tracking it here already: https://github.com/aws/aws-cdk/issues/11851, let's keep the conversation there.

Thanks,
Adam

[2021-12-10 21:30] #17946 closed

[2021-12-10 21:33] m1mohamad commented on #14738
I uninstalled it then did the following but still see the failure without npx:

$ npm install -g aws-cdk

added 198 packages, and audited 199 packages in 10s

found 0 vulnerabilities
$ cdk synth
This CDK CLI is not compatible with the CDK library used by your application. Please upgrade the CLI to the latest version.
(Cloud assembly schema version mismatch: Maximum schema version supported is 14.0

[2021-12-10 21:35] skinny85 commented on #17948
@ryparker you want to try and reproduce this one?

[2021-12-10 22:34] kylelaker opened #17960 "(cfnspec): Log Group tags unsupported in GovCloud"
### What is the problem?

It seems that v49.0.0 of the CloudFormation Spec added a `Tags` property as supported for the `AWS::Logs::LogGroup` resource: https://github.com/aws/aws-cdk/pull/17642. It doesn't seem like CloudFormation supports this property in AWS GovCloud (US) yet. This results in stack creation/update failures due to the CDK now passing a `Tags` property for `AWS::Logs::LogGroup`.

[2021-12-10 22:44] kylelaker commented on #17960
A temporary workaround seems to be to apply the following Aspect after anything that would add Tags to the `AWS::Logs::LogGroup` resources:

[code]

[2021-12-10 22:47] skinny85 commented on #17948
Thnx!

[2021-12-10 23:22] kaizen3031593 commented on #15116
Closed by https://github.com/aws/aws-cdk/pull/17941

[2021-12-10 23:22] #15116 closed

[2021-12-10 23:29] #17716 closed

[2021-12-11 00:55] kaizen3031593 commented on #17944
Hi @ChristopheBougere! Thanks for the bug report. I wasn't able to reproduce this bug on my end following your steps. Setting the `availabilityZoneCount` to 1 results in a synth time error for me, due to this check:

https://github.com/aws/aws-cdk/blob/15d3889a049ce380a50de3df736a4b8f84fd16fd/packages/%40aws-cdk/aws-opensearchservice/lib/domain.ts#L1222-L1224

Is it possible that you are not using

[2021-12-11 00:58] #14641 closed

[2021-12-11 01:24] metametadata commented on #14732
@SoManyHs

Experiencing the same issue with the defaults in `addAsgCapacityProvider`. It was surprising as we didn't have such issue with now deprecated `addCapacity` and we have no ECS tasks in ASG when we delete the stack.

1) Feature request. Ideally, CloudFormation must not hang but fail as fast as possible with an error message about the termination protection.
1) Documentation enhancement re

[2021-12-11 01:28] RichiCoder1 commented on #17860
I'm getting this error no matter which style I use, so looking forward to a firmer resolution.

[2021-12-11 02:04] vitaliknet opened #17962 "(aws_cdk.aws_dynamodb): adding replication_regions to Table construct causes build/deploy errors"
### General Issue

"sam-beta-cdk build" fails with replication_regions defined in aws_dynamodb.Table

### The Question

sam-beta-cdk build fails with replication_regions parameter, but builds successfully when replication_regions line is commented out.

[code]

sam-beta-cdk build

[code]

### CDK CLI Version

2.1.0 (build f4f18b1)

### Framework Version

_No response_

### Node.js Version

14.5.0,

[2021-12-11 02:39] sandeepc24 commented on #17924
If you can give me a working example even in C# I'll be happy to convert it to F#.

[2021-12-11 05:02] tmokmss opened #17963 "(cli): cdk v2 docs command opens v1 document"
### What is the problem?

`cdk docs` command opens https://docs.aws.amazon.com/cdk/api/latest/ , that is currently document for CDK v1.

When docs command is used in CDK v2, it should directly open v2 document https://docs.aws.amazon.com/cdk/api/v2/.

### Reproduction Steps

run `cdk docs`

### What did you expect to happen?

document for CDK v2 would be opened.

### What actually happened?

docum

[2021-12-11 05:49] robertd commented on #17942
@chowlett I also thought this was a bug. However, @njlynch pointed out that this is an expected behavior in v2.

[2021-12-11 06:33] mgrabenstein commented on #15813
@kbakk , @peterwoodworth ,
I think there are two issues here. One Kristoff has found the best reproducer for. Which is the venv is not being respected by CDK.

Which I am seeing as well through a different set of events. For MacOS, I am using brew to install. I have used it to install miniforge (v3.9) and have built all the packages there. I later installed yamllint which requires python 3.10. Bre

[2021-12-11 07:29] robertd commented on #17933
[code]

Not sure which IDE you're using, but `vscode` has a great intellisense feature.

![image](https://user-images.githubusercontent.com/31543/145668342-8220c85a-b302-4291-bd94-02b9f1362a13.png)

[2021-12-11 09:44] jumic commented on #17948
From my point of view, this is caused by `props.port?.toString()` in [Instances.ts](https://github.com/aws/aws-cdk/blob/4e7a2758eec6999aee5432b3e9e6bbe7626a2d6b/packages/%40aws-cdk/aws-rds/lib/instance.ts#L749). We should replace it by `Tokenization.stringifyNumber(props.port)`.

@skinny85 Are you working on it (because this issue is assigned to you)? If not, I can fix it and submit a PR.

[2021-12-11 10:15] ajolma commented on #12372
Working with the same repository as @markokan above and adding more resources. The best solution seems to put _everything_ into a single nested stack. I don't understand why this repository is a problem as we have others which have a bigger main assembly template and they go through the last pipeline step fine. BTW, I confirmed that it is the size issue as when I minimized (removed whitespace) the

[2021-12-11 10:33] otaviomacedo commented on #17925
@seanWLawrence  `CachingConfig: {}` is valid according to the current CloudFormation spec. But the spec is incorrect and does not match the validation done by the AppSync control plane. Once CloudFormation fixes this bug, `CachingConfig: {}` will no longer be valid. Also, the `ttl` property will have to be made required in the CDK. So brace yourselves for another breaking change.

[2021-12-11 13:29] dyoshikawa commented on #17699
I'll implement this.

[2021-12-11 14:09] LukvonStrom opened #17967 "(@aws-cdk/aws-codecommit): Include CodeCommit Repo initialization via S3 in L2 construct"
### Description

At the moment it is only possible to initialize a codecommit repo via the underlying `CfnRepository` and by orchestrating the asset deployment on one's own.

Implementing it on one's own leads to bugs, such as #16958.

The heavy lifting of this action should be done by the L2 Repository construct instead.

### Use Case

This feature would be neat to provide a "self-unpacking" stac

[2021-12-11 18:34] chowlett commented on #17942
@robertd thanks. My issue is that the feature seems not to be working correctly. The version check is "bootstrap version is not 1, 2, 3, 4, 5", i.e. version is >= 6. My bootstrap version is 9 (verified by inspecting the SSM parameter ../cdk-bootstrap/hnb659fds/version). So I should pass this check. But I am failing it. So the cdk variable "BootstrapVersion" that synch is checking must have the val

[2021-12-11 19:23] TheFlexican opened #17969 "(assets): localTagName assigned to docker image executable"
### What is the problem?

Using cdk pipelines to deploy ecs cluster, with a docker from tarball image. During the Assets codebuild stage I received the error:
`Error parsing reference: "" is not a valid repository/tag: invalid reference format`
After going over my code a couple of times, I figured it had to be something else, and started looking at the source code of cdk-assets.

Found the followi

[2021-12-11 21:47] Dzhuneyt commented on #17312
I see the PR was merged now. Shouldn't this issue be closed?

[2021-12-11 21:48] #17312 closed

[2021-12-11 21:49] Dzhuneyt commented on #14129
Seems like there's nothing to be done here. Shouldn't this be closed?

[2021-12-11 22:30] bwagner5 opened #17972 "(golang): cdk CLI cmds embedded into binary"
### Description

Currently when creating a cdk application in golang, you write the code in golang and then use the cdk CLI to synthesize the go code. This requires two dependencies at deployment time and could be a smoother experience wrt to CLI versioning w/ the CDK application stack code.

### Use Case

I'd like to be able to distribute a single go binary to a CI/CD system to synthesize a cdk g

[2021-12-11 22:37] robertd commented on #17942
@chowlett I was confused too when I first saw it. Mainly because s3 bucket bootstrap version is at 9 as well. But I guess this is the part of the new-style stack synthesis.
![image](https://user-images.githubusercontent.com/31543/145693666-95ef0ede-b3b3-411a-bf3f-4c3983bac3e4.png)

@njlynch Would mind chiming in on this and clarifying the purpose of always seeing this new `CheckBootstrapVersion` r

[2021-12-11 22:41] jerry-shao commented on #17705
I would like to implement this :D

[2021-12-12 03:31] robertd commented on #17939
https://github.com/aws/aws-cdk/pull/17844 added this construct.

It has been released in `1.135.0` but not in `2.1.0` yet.

This issue can be closed.

[2021-12-12 04:11] FrankyCTY commented on #7670
For the identityProvider, just the combination of userPoolProviderName and userPoolClientId is fine, no need to be fancy :)

[code]

[2021-12-12 08:54] eladb commented on #17706
@Dreamescaper are you using v1.135.0?

[2021-12-12 10:24] Dreamescaper commented on #17706
@eladb
No, 2.1.0.

[2021-12-12 12:19] eladb commented on #17706
Okay that makes sense because we haven't propagated this change into the v2 branch yet.

[2021-12-12 14:43] zhelyan opened #17973 "(CLI): outputs machine readable stack output information in all stack related cli operations."
### Description

Stack outputs are a useful abstraction which allows easier integration with downstream tools and processes.
Currently the outputs can only be retrieved programatically by reading the outputs file produced by `cdk deploy -O <file>`.
Provide a way to retrieve the outputs from `cdk diff` and `cdk list` commands.

### Use Case

There are situations when downstream tools need to consum

[2021-12-12 14:50] mnapoli opened #17974 "aws-cdk: cx-api installed twice by NPM"
### What is the problem?

When requiring `aws-cdk` and `aws-cdk-lib` in a project, then the `cx-api` package gets installed twice:

- once as a dependency of `aws-cdk`
- once inside `aws-cdk-lib`

That causes a problem similar to #14468 because of this bit:

https://github.com/aws/aws-cdk/blob/4e7a2758eec6999aee5432b3e9e6bbe7626a2d6b/packages/aws-cdk/lib/api/cloudformation-deployments.ts#L328-L330

[2021-12-12 14:57] mnapoli commented on #14468
Follow up on a similar issue (the one I mention just above): #17974

[2021-12-12 15:41] markusl commented on #17945
This sounds a bit like https://github.com/aws/aws-cdk/issues/16130 where I encountered a problem about adding a manual approval step using the pre/post commands in the CDK Pipelines.

[2021-12-12 16:03] SamuelCabralCruz opened #17976 "lambda: corrupt zip archive asset produced when using node v16.13.1 and CDK v2.1.0"
### What is the problem?

Resource handler returned message: "Uploaded file must be a non-empty zip (Service: Lambda, Status Code: 400, Request ID: 17f6356b-135a-4888-853a-f3a25b58fc70, Extended Request ID: null)" (RequestToken: e1d8746c-a6f9-a802-6bff-5de98eba863b, HandlerError
Code: InvalidRequest)

### Reproduction Steps

trying to deploy lambda from asset folder since update to aws-cdk v2

###

[2021-12-12 16:12] bodokaiser commented on #9628
@rix0rrr any updates on this issue?

[2021-12-12 16:15] Cristian-Vt commented on #17950
anyone found a resolution for this. I get the same error when I use the core to define s3Buckets.

[code]

`Error: Package subpath './core' is not defined by "exports" in /.../node_modules/aws-cdk-lib/package.json`

[2021-12-12 17:02] laguna-rotem commented on #11245
Same issue, a fix would be great!

[2021-12-12 17:59] mrgrain commented on #17950
This worked in CDK 2.0 and started falling in 2.1

I'm not sure if that was working by mistake in 2.0 or if it was an accidental breaking change in 2.1

[2021-12-12 21:40] jolo-dev opened #17977 "(aws-s3-deployment): Typescript error for `destinationBucket`"
### What is the problem?

Typescript is yelling at me because `Property 'transferAccelerationUrlForObject' is missing in type 'Bucket' but required in type 'IBucket'.ts(2741)` when setting a Bucket in the `destinationBucket`- property.

### Reproduction Steps

Basically, I followed the instructions from the docs:
https://docs.aws.amazon.com/cdk/api/latest/docs/aws-s3-deployment-readme.html

[code]

[2021-12-12 23:46] JoshuaToth commented on #17950
@ryparker 's fix works fine

`aws-cdk-lib/core` -> `aws-cdk-lib`

[2021-12-13 05:36] skinny85 commented on #17948
That would be awesome if you could work on this @jumic!

[2021-12-13 06:31] ChristopheBougere commented on #17944
Hi @kaizen3031593
Thanks for having a look! So I am using the `opensearch.Domain` construct. I also had the same error thrown, `Invalid zone awareness configuration; availabilityZoneCount must be 2 or 3`, but as you can see in the initial stack trace, the promise rejection was unhandled, which I think is the reason the deployment continued after that.
However, this is the first time I see this kin

[2021-12-13 06:55] ChristopheBougere commented on #17944
Also, my error seems very similar to this one:
https://github.com/aws/aws-cdk/issues/4927#issuecomment-641514716
I am also resolving config asynchronously in a very similar way, which might make async promise rejection unhandled.

[2021-12-13 07:37] OK-Cactus opened #17978 "CDK : module 'constructs' has no attribute 'IDependable'"
### General Issue

CDK : module 'constructs' has no attribute 'IDependable'

### The Question

On initialising a CDK app (python), while running cdk ls, I'm getting the below errors

cdk ls
Traceback (most recent call last):
  File "app.py", line 4, in <module>
    from aws_cdk import core as cdk
  File ".venv/lib/python3.9/site-packages/aws_cdk/__init__.py", line 21457, in <module>
    from . imp

[2021-12-13 07:45] mrgrain commented on #17950
@peterwoodworth @ryparker I think what I be looking for would be a note on the v2.1.0 release notes mentioning this change and linking to the migration docs.

[2021-12-13 08:28] aritranagnordcloud commented on #17956
Here is the error which gets generated on the CDK update : Only one TargetTrackingScaling policy for a given metric specification is allowed. (Service: AWSApplicationAutoScaling; Status Code: 400; Error Code: ValidationException; Request ID: b5d49413-09ae-4e15-b719-4b46709c0825; Proxy: null)

[2021-12-13 08:47] from20020516 opened #17979 "(aws-s3-deployment): lambda function timeouted with huge bucket."
### What is the problem?

- CloudFormation stack status never change from `UPDATE_IN_PROGRESS` when deploying.

### Reproduction Steps

- Reproduce only with a huge bucket. (in my case, 10TB+/10million+ objects exists.)

[code]

### What did you expect to happen?

- complete deployment with `UPDATE_COMPLETE` CloudFormation stack status.

### What actually happened?

- stack status never change fro

[2021-12-13 09:17] mohammadaliqayyum commented on #3505
@rix0rrr i do not understand why this issues is closed? I have one RouteTable and three PrivateSubnets and i am not able to import the RouteTable:

Error: Number of privateSubnetRouteTableIds (1) must be equal to the amount of privateSubnetIds (3).

@MichaelHindley have you solved this issue in someway?

[2021-12-13 09:57] #17867 closed

[2021-12-13 09:57] peterwoodworth commented on #17956
What resource is the stack attempting to create/modify when this error occurs?

Can you check the `cdk diff` output to make sure you haven't made any changes to your resource?

[2021-12-13 09:59] njlynch commented on #17942
CDK v2 enables the "new-style stack synthesizer" by default (e.g., [`DefaultStackSynthesizer`](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.DefaultStackSynthesizer.html)), which was previously enabled for v1 by setting the `@aws-cdk/core:newStyleStackSynthesis` feature flag. The DefaultStackSynthesizer uses conventionally named roles and concrete asset storage locations, versus the [`Le

[2021-12-13 10:00] modul commented on #13767
@hassanazharkhan sorry to bother you, but do you have any updates on this? Should I open another issue for this to keep better track maybe?

[2021-12-13 10:06] OK-Cactus commented on #17978
Installed constructs using the following command

`pip install aws_cdk.constructs`

Now getting the following error

[code]

Please suggest steps to correct this

[2021-12-13 10:14] njlynch commented on #14129
It seems so. Thanks for pointing this out, @Dzhuneyt .

[2021-12-13 10:14] #14129 closed

[2021-12-13 10:22] mrudelle opened #17982 "(aws-stepfunctions): cross-region grantRead not working"
### What is the problem?

When working with a stack in one region and giving it read access to a state machine on another region the policy statement regarding execution points to executions in the wrong region.

### Reproduction Steps

Create a basic stack with a role and a step function (step function must be in an other region than the environment)

[code]

and
[code]

### What did you expect t

[2021-12-13 10:46] hassanazharkhan commented on #13767
@modul  Yeah would be nice to have another issue with this bug.

if you are blocked by this, I'd suggest adding extra step in your build process to run `tsc` and reference the transpiled `.js `in your nodejs-function

[2021-12-13 11:11] otaviomacedo commented on #17977
@jolo-dev can you please make sure that all your `@aws-cdk/*` dependencies are pointing to the same version? You mentioned that you're using version 1.134, but `transferAccelerationUrlForObject` was not introduced until version 1.135.0.

[2021-12-13 11:15] mannau commented on #17156
I can confirm the issue. The proposed workaround did the trick!

Any updates on this?

[2021-12-13 11:26] jolo-dev commented on #17977
@otaviomacedo thanks for your reply. That's weird. I use `projen` and have chosen `cdkVersion`: 1.134.0
Will check if the upgrade helps

[2021-12-13 11:47] makemefeelgr8 commented on #5810
Will this get addressed, like, ever? Any updates?

[2021-12-13 11:55] Dreamescaper opened #17987 "(aws-s3-deployment): cr-owned is changed each time when dynamic stacks are created"
### What is the problem?

We create feature environments using CDK (i.e. application, which is separate for each feature branch). But some resources are shared across all feature environments. In CDK project that is represented by two stack - SharedResourcesStack (which is same for all environments) and EnvSpecificStack (which is parametrized and separate for each environment).

S3 bucket is share

[2021-12-13 12:04] aritranagnordcloud commented on #17956
This is happening when we try to update the existing stack with no visible changes.
` new TargetTrackingScalingPolicy(this, "TargetTrackingScalingPolicy", TargetTrackingScalingPolicyProps.builder()
        .scalingTarget(iScalableTarget)
        .targetValue(stackProps.getAutoScalingTargetValue())
        .policyName("policy/".concat(service.getServiceName()).concat("/autoscaling").concat(CdkUtils

[2021-12-13 12:05] ReidWeb commented on #17676
@mattiLeBlanc out of interest did this same stack work on node 16 with your intel mac?

[2021-12-13 12:14] msessa opened #17988 "(cli): Cross-account asset publishing broken in v1.135"
### What is the problem?

CDK asset publishing doesn't correctly assume the target asset publishing role in certain cases and fails to deploy S3 artifacts.

The issue seems to have surfaced with the release of cdk 1.135.0 but was possibly introduced in earlier versions.

Initial investigation suggests [this line](https://github.com/aws/aws-cdk/blob/a459fa4940ab50553369ac58eb1394de84f2806a/packages

[2021-12-13 12:39] mattiLeBlanc commented on #17676
I haven't updated my intel machine to node 16 yet.
And I also noticed that the issue is not consistently happening. I think removing my stack did seem to help.
I will keep an eye on it.

[2021-12-13 12:39] anjum-ali opened #17989 "(aws-iot): CfnProvisioningTemplate Template with name already exists"
### What is the problem?

npm package version : 1.132.0 & 1.135.0 (tried with these two)

when creating a iot Provisioning Template using cdk, the following error is thrown:

[code]

**N.B.** it does not matter if we provide a template name or let cdk choose a name as seen above
**N.B.**  the stack is being newly created and so there is NO provisioning template existing whatsoever

### Reproductio

[2021-12-13 13:06] ChristopheBougere commented on #17944
I can confirm that this is not an issue with the opensearch module itself, it happens for any error thrown at deployment time.

The issue comes from the way errors are handled.

I solved it by adding a try/catch with a `process.exit` in my `bin/my-project.ts` file:

**Before**

[code]

**After**

[code]

@kaizen3031593 Feel free to close the issue. However, I feel there might have been a change in

[2021-12-13 13:15] aritranagnordcloud commented on #17956
This issue is similar one described in the following : https://www.reddit.com/r/aws/comments/on8eec/investigating_stack_drift_issue_in_cdk_with_cdk/

[2021-12-13 13:35] Ayan-web commented on #17814
hey everyone.
I want to  make my first contribution to this project
thank you

[2021-12-13 13:50] mconta commented on #12870
@byongwu solution worked for me, thanks!

[2021-12-13 14:24] Dreamescaper commented on #17987
Yeah, but we _do_ have stacks with non-constant names.

[2021-12-13 14:41] otaviomacedo commented on #17928
Can you try:

[code]

and then pass the instance of this class to `BundlingOptions`:

[code]

[2021-12-13 15:18] mohammadaliqayyum commented on #3505
I needed this to be able to create a GatewayVpcEndpointAwsService for S3 and with the imported vpc with fromVpcAttributes i could not import the route tables. I have done the following work around:

    // import VPC with other method by id
    // create an SSM parameters which store the current VPC ID
    new ssm.StringParameter(this, 'VPCID', {
        parameterName: `/VpcProvider/VPCID`,

[2021-12-13 15:28] alexandervandekleutab opened #17991 "`yarn cdk destroy` does not complain or warn when the stack name doesn't match an existing stack"
### What is the problem?

If you do `yarn cdk destroy` and the stack name doesn't match a stack that has been deployed, it tells you that it successfully deleted the stack.

### Reproduction Steps

Deploy a stack. Change its name. Delete the stack via `yarn cdk destroy`.

### What did you expect to happen?

Complain that the stack was not found.

### What actually happened?

Stack claims to have b

[2021-12-13 16:05] #17133 closed

[2021-12-13 16:23] straygar commented on #15224
@otaviomacedo Sure! A workaround for now seems to be to explicitly set the stream encryption:
[code]

[2021-12-13 16:23] bsweeney-gingerio commented on #17460
Problem still exists in CDK 1.134.0 and 2.1.0.

[2021-12-13 16:35] stockf commented on #17558
I'm also interested in how exactly you would do this with @aws-cdk/pipelines. I've tried to solve this for a while now and it is really tricky. I endet up with an additional S3 source with my image tag that I want to deploy and a context-variable for the tag that I overwrite in the build phase.

[2021-12-13 16:37] stockf commented on #16378
`additional_inputs` works. The pipeline ist then also triggered when a new image is pushed.

[2021-12-13 16:55] relm923 commented on #17988
This appears to be happening on `2.1.0` as well

[2021-12-13 17:45] bodokaiser commented on #17925
What is the workaround for this?

[2021-12-13 17:56] #17926 closed

[2021-12-13 18:06] kylevillegas93 commented on #17925
My bad - happy to help if there are any other changes that need to be made but looks like they are all covered - just lemme know.

[2021-12-13 18:18] skinny85 commented on #17989
Hey @anjum-ali,

thanks for opening the issue. Can you explain exactly what are you doing to get this error?

Thanks,
Adam

[2021-12-13 18:23] MrArnoldPalmer commented on #15114
@kaihendry not related to V2, but we are working on improving Go support for both v1 and v2 of the CDK. Because of limitations with JSII, there are some inherent limitations to what types can be rendered in Go. Specifically this issue relates to union types which are currently rendered as `interface{}`.

Specifically, we are investigating improvements to autocomplete through better doc comment gen

[2021-12-13 18:28] aritranagnordcloud commented on #17956
Even changing the Autoscaling code as the following does not work
`        ScalableTaskCount scaling = service.autoScaleTaskCount(EnableScalingProps.builder()
        .maxCapacity(stackProps.getMaxContainer())
        .minCapacity(stackProps.getMinContainer()).build());

        scaling.scaleOnCpuUtilization("CPUSScaling", CpuUtilizationScalingProps.builder()
        .policyName("policy/".concat(s

[2021-12-13 18:36] agusavior opened #17992 "aws_cdk.aws_route53_targets: ElasticBeanstalkEnvironmentEndpointTarget throwing an error"
### What is the problem?

Creating a object of ElasticBeanstalkEnvironmentEndpointTarget is throwing a Exception.

I think this could be an bug because I'm just using this class in the way that it's supposed to be used.
This class receive an environment_endpoint, and that's what I give it to it.

### Reproduction Steps

Just execute this with cdk deploy:

[code]

### What did you expect to happen?

[2021-12-13 18:54] kewur commented on #17807
Is there a workaround to get the commitId from CodeStarConnectionsAction in the meantime?

[2021-12-13 19:04] skinny85 commented on #17962
Hey @vitaliknet,

thanks for opening the issue. To help me pin-down the problem, can you tell me whether you get the same problem when using pure CDK, without `sam-beta-cdk`? So, when running `cdk synth` / `cdk deploy`?

Thanks,
Adam

[2021-12-13 19:09] skinny85 commented on #17807
Yep. Just pass the `variableNamespace` property when creating the `CodeStarConnectionsAction`, and then use the syntax `"#{MyVariableNamespace}.CommitID"` in another Action's definition (like CodeBuild Action's environment variable).

[2021-12-13 19:18] agusavior commented on #17992
I was reading the code. It's interesting.
I do not understand why the url has to be resolved.
I think it has to be resolved because you can't manipulate a string if it has tokens inside.
So, that gives me another question: Do I can workaround this by resolving the URL first?
In order to resolve it, I tryed to add `addDependsOn` to the ARecord (to resolve frist the Enviroment with its url). But ARe

[2021-12-13 20:00] kaizen3031593 commented on #17908
We do the same for `environmentVariablesOverride` so it seems relatively simple to add it in. However, there are a ton of possible overrides and we don't need to support them all. I think this is a question of how useful this particular override is, what the use case is for, and how many people need it (which we measure with +1s).

[2021-12-13 20:08] #15425 closed

[2021-12-13 20:09] kaizen3031593 commented on #17944
@ChristopheBougere I am going to reroute your issue to CDK v2 and @njlynch but I am not sure what, if anything, we can do about building asynchronously.

[2021-12-13 20:25] rdewaele commented on #4096
I would like to point out that the inability of the CDK to import VPC IDs from another CF stack export also means that CF will not be aware of this dependency. For example, modification of the export name will be allowed. This will break the CDK stack, which will only be detected the next time the stack is synthesized. (Could not find export with name xyz.)

This is not the case with plain old clo

[2021-12-13 20:40] npvisual commented on #16378
@stockf : thanks for the response. Agreed. I tested this with a "local" implementation of the changes provided in the PR and it works like a charm. Here's the snipper in Python :

[code]
The source stage of the pipeline will have both actions defined in parallel and the pipeline will get triggered for either an update to the source code or the ECR repo.

[2021-12-13 20:51] peterwoodworth commented on #17956
By "all the resources" do you mean your entire stack?

[2021-12-13 20:52] aritranagnordcloud commented on #17956
We have an existing CF code which needs to be translated to CDK code.

`  AutoScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: !Ref MinContainers
      MaxCapacity: !Ref MaxContainers
      ResourceId: !Join ['/', [service, !ImportValue {'Fn::Sub': '${ExampleStack}-ECSCluster'}, !GetAtt AppServiceDefinition.Name]]
      ScalableDimension: ecs:

[2021-12-13 20:53] aritranagnordcloud commented on #17956
Yes all the resources it seems to be getting updated

[2021-12-13 21:00] vitaliknet commented on #17962
Hi @skinny85 -

the issue was indeed coming from sam-beta-cdk, as discussed in https://github.com/aws/aws-sam-cli/issues/2849

The original "Uploaded file must be a non-empty zip" issue was related to node version, addressed in https://github.com/serverless/serverless/issues/8772#issuecomment-825698908.

Thanks!

[2021-12-13 21:00] #17962 closed

[2021-12-13 21:19] agusavior commented on #17992
[ Little bit off topic ]
Oh, I just realiced that Elastic Beanstalk has many problems with CDK because the enviroment of Elastic Beanstalk creates another Cloudformation template and creates a Stack for its own.

It were be nice if we could, in some way, reference the Stack and read all the resources of the Stack created by the enviroment of Elastic Beanstalk.  The object of CfnEnviroment would ha

[2021-12-13 21:33] peterwoodworth commented on #15813
Thanks for the reproducer @kbakk and your investigation @mgrabenstein, it's very much appreciated.

I'm not sure if there's anything the CDK can do about this, it seems to me like this is a Python venv and npx issue. @rix0rrr what do you think might be causing this?

[2021-12-13 21:37] peterwoodworth commented on #17956
Ah I see, the issue is with importing a CloudFormation stack to CDK.

We have a helpful guide on the topic written by our very own Adam. https://aws.amazon.com/blogs/developer/migrating-cloudformation-templates-to-the-aws-cloud-development-kit/

We also have a docs page on the topic: https://docs.aws.amazon.com/cdk/latest/guide/use_cfn_template.html

Be sure to give these a read; They should help

[2021-12-13 21:44] aritranagnordcloud commented on #17956
Thanks Peter, I will definitely go through the document. I feel if we cannot resolve the above issue programmatically this is the only option.

But i also had a doubt on creating the autoscaling policies on ECS Service. For the target tracking policy , if we generate the CDK code and perform CDK deploy.  It creates a Scalable Target and also a Scaling Policy. However, on updating the same stack wi

[2021-12-13 21:49] peterwoodworth commented on #17991
What exactly do you mean by "stack claims to have been deleted"? This is my output:

[code]

Contrast this to a successful `yarn cdk destroy` command:
[code]

If this is the same thing you're seeing, I can see a feature request here for throwing an error when a stack with the specified name (or any stack at all) isn't found when calling `cdk destroy`.

[2021-12-13 22:23] ffxsam opened #17996 "(aws-s3): Lifecycle rules: "Number of newer versions to retain" option missing from CDK"
### Description

I noticed today that this option is missing from the lifecycle rule options.

![CleanShot 2021-12-13 at 16 10 43](https://user-images.githubusercontent.com/12532733/145898144-66d4dc00-90dd-41f8-a715-58df3a08b878.png)

### Use Case

It exists in the AWS Console, so it should be covered by CDK.

### Proposed Solution

N/A

### Other information

_No response_

### Acknowledge

- [ ]

[2021-12-13 22:40] peterwoodworth commented on #17960
Thanks for reporting this @kylelaker

I'm sorry this happened, govcloud limitations are frustrating to deal with especially since they can be so unpredictable. I have previously submitted a feature request which should help identify these issues ahead of time https://github.com/aws/aws-cdk/issues/16373

You have a good workaround in place, thanks for sharing it!

@maafk if you have anything to add

[2021-12-13 22:49] skinny85 commented on #17777
@eladb ping 🙂

[2021-12-13 23:01] peterwoodworth commented on #17977
This error typically results from misaligned cdk package versions, so the upgrade should help. Let us know if it doesn't

[2021-12-13 23:06] adonisd commented on #17565
@cokia thanks for doing this. I just saw that the PR is failing because the title is not "semantic"
Can you edit the PR title by adding a semantic prefix like fix: or feat: or any other conventional commit type. (https://github.com/zeke/semantic-pull-requests)

[2021-12-13 23:06] #9581 closed

[2021-12-14 00:01] daniel1502 opened #17997 "(aws-cdk v2) creating appsync with lambda resolver could't find Query or Data source"
### What is the problem?

With aws-cdk v2, creating appsync with lambda resolver is throwing the error.
Sometimes the error is  `Type Query not found` or sometimes `No data source found `.

### Reproduction Steps

stack codes are below

[code]

index.ts (lambda function)
[code]

listTodo.ts
[code]

package.json
[code]

Then run `cdk deploy`

### What did you expect to happen?

The deployment shoul

[2021-12-14 00:42] #17433 closed

[2021-12-14 00:51] vennemp commented on #11925
How do you pass it the list of subnetIds for subnetMappings from a vpc or subnet created previously in the cdk app ?

In this I have created a vpc with subnet configurations - I would like to create the firewall in isolated subnets (this may change in future but this is just a poc - i undertand this would require updates to routing).

[code]

However, it keeps throwing up on that saying:
[code]

[2021-12-14 01:11] peterwoodworth commented on #17979
Thanks for taking the time to report this @from20020516

This is a known limitation - closing in favor of https://github.com/aws/aws-cdk/issues/7950

[2021-12-14 01:11] #17979 closed

[2021-12-14 01:27] #16821 closed

[2021-12-14 01:46] MrArnoldPalmer opened #17999 "Add Go to AWS CDK Reference Documentation"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/latest/docs/aws-construct-library.html

### Describe your issue?

Add links to relevant pages on pkg.go.dev for constructs on the cdk api reference documentation.

[2021-12-14 01:52] peterwoodworth commented on #17976
Hey, some more context behind what constructs you're using, and reproduction code would be helpful for us to figure out what's going wrong here 😃

[2021-12-14 02:04] SamuelCabralCruz commented on #17976
I am essentially using the following code to create a lambda function from local directory
[code]

I forgot to mention that it is not the first time I am experiencing this problem.
Essentially the same problem as: [12667](https://github.com/aws/aws-cdk/issues/12667) and [12536](https://github.com/aws/aws-cdk/issues/12536)

[2021-12-14 02:07] SamuelCabralCruz commented on #17976
Also, I don't need if it helps, but I found this issue after migrating from @aws-cdk v1.184 to aws-cdk-lib v2.1.0

[2021-12-14 02:15] skinny85 commented on #17902
Hey @karl-dau,

can you show me the Go module declaration and import you are using?

Thanks,
Adam

[2021-12-14 02:19] topecongiro opened #18000 "(aws-chatbot): SlackChannelConfiguration.fromSlackChannelConfigurationArn fails against the arn created by other CDK stack"
### What is the problem?

`SlackChannelConfiguration.fromSlackChannelConfigurationArn` fails when passed the ARN of `SlackChannelConfiguration` that was created in the other CDK stack.

### Reproduction Steps

Create a new Slack Channel Configuration:

[code]

Go to AWS Console, copy the ARN of the created Slack Channel Configuration, and pass it to `fromSlackChannelConfigurationArn`:

[code]

###

[2021-12-14 02:29] skinny85 commented on #17902
OK, I figured it out. The mistake was that you made the array of `CfnTopicRule_ActionProperty` an array of pointers, but it's in fact an array of values.

This works for me:

[code]

[2021-12-14 02:30] skinny85 commented on #17902
I'm resolving this one, please comment if you need anything else from our side.

[2021-12-14 02:30] #17902 closed

[2021-12-14 02:52] kaizen3031593 commented on #17763
Hi @denys-tyshetskyy! I'm not able to reproduce your bug with the information you've provided. Can you please provide a code sample so I can have a better idea of what you are doing?

Taking a shot in the dark at what I think you might be doing: the line you provided would not create a crawler. You need to use `glue.CfnCrawler(this, 'id', {...}` to create one. From there, there should be a propert

[2021-12-14 02:58] denys-tyshetskyy commented on #17763
Hi @kaizen3031593 , thank you for reply. I have only provided the snippet of the recrawl_policy config that I have used.
`        crawler_raw = glue.CfnCrawler(
            self,
            'Raw-Crawler',
            name='Raw-Crawler',
            role=glue_crawler_role.role_arn,
            database_name=database_name,
            targets={
                's3Targets': [{"path": f"s3://{bucket_

[2021-12-14 03:12] kaizen3031593 commented on #17763
If you can do it via CLI or SDK call, then you can do it in CDK via [Custom Resources](https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html). Other then that, it does look like this is missing cfn.

[2021-12-14 05:18] daniel1502 commented on #17997
Found the reason. This is my bad.   I missed calling `addDependsOn` function on the resolver.
e.g. `listTodoResolver.addDependsOn(graphqlApiSchema);`

[2021-12-14 05:19] #17997 closed

[2021-12-14 06:09] karl-dau commented on #17902
@skinny85 Thanks! that was it!

I got confused with optionals being pointer types and building up those structs with values and not pointers.
The JSON marshal/unmarshal trick works because the reflection code dereferences those pointers.
I guess everything taking `interface{}` also did not help.

[2021-12-14 06:42] mrpackethead commented on #11896
Same topic....  ( request for conformance packs.. ).
https://github.com/aws/aws-cdk/issues/16682

I solved this problem by creating two apps, the first one creates templates, synths them and sticks them in cfassests.out.   The 'main' stack, picks those templates which become 'assests'.. This

[code]

[2021-12-14 07:35] anjum-ali commented on #17989
Hi @skinny85 ,
I am trying to create an aws IoT Provisioning Template resource. As far as i can tell, I am not doing anything specific, a 1000ft view of what I did would be:
1. Define in cdk a lambda which would be the pre provisioning hook
2. Define in cdk a role to be assigned to provisioning template
3. Define in cdk a provisioning template resource, use the role and lambda arn in the definitio

[2021-12-14 07:36] bracki opened #18001 "(aws-eks): Installing helm charts from e.g. public.ecr.aws in the OCI format"
### Description

I want to install Helm charts in the OCI format. For example `oci://public.ecr.aws/aws-controllers-k8s/opensearchservice-chart`.

[code]

### Use Case

Because if it isn't supported these type of charts can't be installed with CDK.

### Proposed Solution

- Set the Helm version to one that supports the `HELM_EXPERIMENTAL_OCI` flag [here](https://github.com/aws/aws-cdk/blob/master/

[2021-12-14 07:48] ssaarela commented on #16830
We ran into this issue with multi-branch pipelines with some shared resources/stacks like networking and database. A shared stack is developed in a feature branch with its own pipeline and after a merge the same stack is deployed by the main pipeline all the way through preprod to prod. This does't really work as the Logical IDs change after the merge and some resources are needlessly attempted to

[2021-12-14 08:12] jolo-dev commented on #17977
Hi @peterwoodworth,

I use [projen](https://github.com/projen/projen) and set the `cdkVersion: 1.135.0`.
The error is still yelling :/
Maybe it's a projen bug.

[2021-12-14 09:06] peterwoodworth commented on #17977
Have you checked your package.json to verify that all `aws-cdk/*` packages are the same version? Once you've verified that, delete your `node_modules` directory and `package-lock.json` then rerun `npm install` to verify that your installed packages are all the same version as well.

[2021-12-14 09:20] jolo-dev commented on #17977
Cool, that did the trick.
Still weird, never had issues when upgrading `cdkVersion` in `projen`.
Thank you!

[2021-12-14 09:57] zxkane commented on #17950
Should it be a breaking change when upgrading from v2.0.0?

[2021-12-14 10:05] modul opened #18002 "(aws-lambda-nodejs): pre compilation with tsc is not being run"
### What is the problem?

Since esbuild does not support some experimental features like emitting typescript decorator metadata a pre-compilation step was included that runs tsc before bundling.

Unfortunately, this new feature does not actually run tsc locally.

### Reproduction Steps

Setup a lambda-nodejs function based on a Typescript file and set `preCompilation: true`.

### What did you expe

[2021-12-14 10:47] eladb commented on #17777
Here's a screen recording of the issue.

https://user-images.githubusercontent.com/598796/145983196-73aa2de1-9685-486c-8a26-d349f7f21cd8.mov

Basically, it looks related to how VSCode handles CTRL+S, which is anecdotal. But:

1. Many of our users are using VSCode
2. It should be possible to implement logic that will handle these cases quite nicely

Basically, we can just stop watching for 1sec bef

[2021-12-14 11:03] timjrobinson opened #18005 "(cdk bootstrap): causes my terminal to crash"
### What is the problem?

When I run the command `cdk bootstrap aws://myaccountid/myregion` my terminal closes with no further information. Sending output to a log file gives no output and still crashes.

When I run with ` strace cdk bootstrap aws://myaccountid/myregion &>./log.txt` to debug it the command works correctly and outputs the strace logs.

I'm running Ubuntu 20.04 with zsh shell.

###

[2021-12-14 11:14] fbrv opened #18006 "(@aws-cdk/aws-apigatewayv2): using an aws-apigatewayv2 as shared resource does not add any route"
### What is the problem?

I have the following scenario: two stacks with shared resources (one with a vpc and the other one with an HttpApi coming from `@aws-cdk/aws-apigatewayv2`) and N stacks containing lambda functions. I want that the lambda functions use the resources inside the shared stacks (already created running the command `cdk deploy VpcStack ApiGatewayStack`). For the vpc there is no

[2021-12-14 11:20] otaviomacedo commented on #16888
@mipearson about item b), specifically, are you referring to the admin role, created here?

https://github.com/aws/aws-cdk/blob/7bbd10deb322daf8ef1504ceb84ad3c895f291ae/packages/@aws-cdk/aws-eks/lib/cluster-resource.ts#L121-L123

Or is it the masters role, created here?

https://github.com/aws/aws-cdk/blob/1faf31d1ec7ffec4c6323a050126b0b054094c63/packages/@aws-cdk/aws-eks/lib/cluster.ts#L1430-L143

[2021-12-14 11:36] OK-Cactus commented on #17978
Tried downgrading CDK CLI to 1.128.0, but still same error
AttributeError: partially initialized module 'aws_cdk' has no attribute 'cx_api' (most likely due to a circular import)

[2021-12-14 11:50] r0bs opened #18008 "cdk deploy fails with "unexpected: --output is required" after upgrade to macOS 12.1"
### General Issue

cdk deploy fails with `unexpected: --output is required` after upgrade to macOS 12.1

### The Question

After upgrading to macOS 12.1 running `cdk deploy` fails with
[code]

cdk synth runs successfully, though

### CDK CLI Version

1.134.0 (build dd5e12d)

### Framework Version

_No response_

### Node.js Version

v14.15.4

### OS

macOs 12.1

### Language

Typescript

### Langu

[2021-12-14 11:50] Dreamescaper commented on #18006
You can use HttpRoute construct for this purpose, I've mentioned it here:
https://github.com/aws/aws-cdk/issues/12337#issuecomment-991092668

[2021-12-14 12:40] otaviomacedo commented on #18001
Thanks for looking into this, @bracki. Please open a PR and I'll be happy to review it.

About testing, did you use the `link-all.sh` script?

[2021-12-14 12:51] r0bs commented on #18008
It started working again, I can't reproduce it and will close this issue.

[2021-12-14 12:51] #18008 closed

[2021-12-14 13:09] aritranagnordcloud commented on #17956
I checked the code again and it seems there was a bug in the implementation. As part of generating a new log group every time the CDK code has added a unique string generator which was changing the whole behaviour. Removing the same fixed the problem 🗡️

Thanks for the help and sharing the documentation

[2021-12-14 13:09] #17956 closed

[2021-12-14 13:35] jeromevdl commented on #17950
I have a similar problem with python.

Tried with:

[code]

Got `ImportError: cannot import name 'Stack' from 'aws_cdk' (unknown location)`

Also tried with:

[code]

Got `AttributeError: module 'aws_cdk' has no attribute 'Stack'`

(using python 3.8.9, cdk 2.1.0)

[2021-12-14 13:44] #17988 closed

[2021-12-14 14:03] jeromevdl opened #18010 "core: unable to import Stack"
### What is the problem?

I have a similar problem to issue #17950 with Python. When migrating to cdk 2.0.0/2.1.0

Tried with:

[code]

Got `ImportError: cannot import name 'Stack' from 'aws_cdk' (unknown location)`

Also tried with:

[code]

Got `AttributeError: module 'aws_cdk' has no attribute 'Stack'`

(using python 3.8.9, cdk 2.1.0)

### Reproduction Steps

Add `aws-cdk-lib==2.1.0` in require

[2021-12-14 14:50] #15847 closed

[2021-12-14 14:55] manhcuogntin4 commented on #8841
Hi, I have the same problem with when I pass a variable enviroment to lambda to take the first lambda enviroment.
 const COMMAND_LAMBDA_ARN = addCommandUserLambda.functionArn;

    const addCommandUserAsynLambda  = new lambda.Function(this, 'addCommandUserAsynLambda', {
      code: lambda.Code.fromAsset(path.join(__dirname, '../../code/recos')),
      handler: 'add_command_asyn.main_handler',

[2021-12-14 14:58] njlynch commented on #17944
Generally, we haven't historically supported async processing within constructs. See https://github.com/aws/aws-cdk/issues/8273 for a long thread on some of the rationale (and counter-arguments) to why that is.

That being said, I'm intrigued by the claim that it worked in v1 but not v2. Can you provide a reproducible example that we can synth/deploy on v1 vs v2 and see what's changed?

[2021-12-14 15:25] andrewjroth commented on #17928
Thanks for the suggestion, but that doesn't seem to work for me...

[code]

Within Stack class:
[code]

Result of `cdk synth`:
[code]

It seems that JSII wants to convert the `local` parameter to `BundlingOptions` to JSON for some reason.  If so, I'm not sure what JSON I could provide to match the signature and define the `try _bundle` function.

Again, the documentation needs to have a valid exam

[2021-12-14 16:03] andrewjroth commented on #17933
That seems to work, thank you!

[2021-12-14 16:03] #17933 closed

[2021-12-14 16:59] r0b0ji opened #18015 "(core): Not all userConfig not read from ~/.cdk.json"
### What is the problem?

I have this content in my ~/.cdk.json

[code]

In my stack, I can get the value of HostedZone Id from this ~/.cdk.json when I do
[code]

But when I try to do `this.node.tryGetContext("dev-allegiance-vpce-endpoint")` I don't get the value defined in my user context, similarly for `key1` and `key2`. In [settings.ts I see the default of readUserContext is true
](https://gith

[2021-12-14 17:13] kylelaker commented on #17960
@peterwoodworth Thanks for following up! I agree that #16373 would be super useful (not just in GovCloud but in some of the commercial regions that are new or move more slowly).

And yeah, totally understand that limitations in GovCloud happen from time to time; though I did want to open this for awareness because it really means that the core `Tags` Aspect "feels" broken in GovCloud (because of t

[2021-12-14 17:44] Seiya6329 commented on #16821
@desoss - we have pushed the support with the gateway route priority. This feature should become available on 12/16 (Thu).

[2021-12-14 18:20] #17911 closed

[2021-12-14 18:24] #16208 closed

[2021-12-14 18:41] skinny85 commented on #17989
@anjum-ali would you mind showing your `provisioningTemplateBody`? I want to reproduce the issue, but I'm having trouble getting a correct template body through the service validation.

[2021-12-14 18:58] nickorka commented on #5286
I've specified TCP protocol for Fargate service, but I'm getting another error now:
`Value 'tcp' at 'protocol' failed to satisfy constraint: Member must satisfy enum value set: [UDP, TCP, TCP_UDP, HTTP, HTTPS, TLS] (Service: ElasticLoadBalancingV2, Status Code: 400`

Here is my code:

[code]
What is wrong?

[2021-12-14 19:08] joel-aws opened #18017 "(aws-elasticsearch): imported Domain's `domainEndpoint` is the full URL, not the Endpoint"
### What is the problem?

For ES Domains imported using `fromDomainEndpoint`, the `domainEndpoint` attribute is [meant to return](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticsearch-domain.html#aws-resource-elasticsearch-domain-return-values) something like: `search-mystack-elasti-1ab2cdefghij-ab1c2deckoyb3hofw7wpqa3cm.us-west-1.es.amazonaws.com`. Instead, it

[2021-12-14 19:42] corymhall commented on #17987
@Dreamescaper this is expected behavior with the `BucketDeployment` construct.

When you use the `BucketDeployment` and "attach" it to a bucket, you are essentially giving it access to manage some of the "state" in the Bucket. And you can have multiple BucketDeployment constructs that all manage some of that state (even overlapping state). We are using the bucket tags to manage this "attachment".

[2021-12-14 19:44] Dreamescaper commented on #17987
@corymhall
Thanks for an explanation!
I'm curious, how is that going to work with imported Bucket?

[2021-12-14 19:55] #13869 closed

[2021-12-14 20:39] #17925 closed

[2021-12-14 20:54] tobytipton opened #18018 "(CodePipeline): shared cross-region support Stacks cause CDK Pipelines self-mutation to fail"
### Description

When you are define more than one pipeline stack inside of the same `app` all which are self-mutating and deploying across regions the support CFN stack which is created to support each of the pipelines use the same CFN stack.  As a result when the pipelines get to the UpdatePipeline stage which ever pipeline gets to SelfMutate step and triggers the update of the cross region stac

[2021-12-14 21:22] willyg302 opened #18019 "@aws-cdk/aws-s3-deployment: Support configuring AWS_CA_BUNDLE"
### Description

We make use of [BucketDeployment](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3-deployment.BucketDeployment.html) to manage content in an S3 bucket as part of our stack. Behind the scenes, this creates a custom CloudFormation resource Lambda function to perform the transfer from the S3 deployment bucket to the desired S3 location.

Currently, the Lambda function

[2021-12-14 22:13] Matt-Butler commented on #17939
https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-rum

[2021-12-14 22:20] #17967 closed

[2021-12-14 22:24] jerry-shao commented on #17705
PR: https://github.com/aws/aws-cdk/pull/18021

[2021-12-14 22:30] peterwoodworth commented on #18015
Hey @r0b0ji,

For context to be read from your context file, you need to have the data under the `context` key, like so:
[code]

Your `fromLookup` example isn't actually reading any data from your context file - the cdk is fetching data from your aws account and storing it in `cdk.context.json`.

[Here's](https://docs.aws.amazon.com/cdk/latest/guide/context.html) our documentation page on the topi

[2021-12-14 22:37] blimmer commented on #17939
Awesome! I'm glad to see this is included as a `Cfn` class in newer versions. I'm on 2.x, so will keep an eye on it.

Moving forward, will it be common for new releases like this to make it into the 1.x branch, but not 2.x? Or is the difference between the cfn-spec between the 1.x and 2.x branches a short-term thing we'll only experience during the transition?

[2021-12-14 22:42] peterwoodworth commented on #18005
Hey @timjrobinson, I'm sorry you're running into this.

I haven't seen anyone report this before, so I'm not too sure that the issue is due to cdk.

The trace you're able to output is successfully working if I understood your post correctly; so I'm not sure how useful it would be to have if it's working normally (and not crashing your terminal). If you aren't worried about exposing your account de

[2021-12-14 22:47] RichiCoder1 opened #18022 "Allow declarative/CLI method to import pre-existing resources"
### Description

Attempting to transition existing resources from non-CloudFormation (even existing CloudFormation) into the CDK currently is a relatively complicated and manual process that requires synthesizing the stack and going through an error prone process via the CFN CLI or Console.

### Use Case

To greatly simplify moving existing resources into the CDK stacks when transitioning from oth

[2021-12-14 22:57] robertd commented on #17939
@blimmer https://github.com/aws/aws-cdk-rfcs/blob/master/text/0079-cdk-2.0.md#aws-cdk-maintenance-policy

![image](https://user-images.githubusercontent.com/31543/146092462-1b2c9a7f-ac21-450e-8278-c8df39749a07.png)

tl;dr - v1 will be fully supported (as it is today) for 6 months. We'll probably see features getting ported back and forth between the versions until 2.x becomes main.

[2021-12-14 23:01] robertd commented on #13574
https://github.com/aws/aws-cdk/pull/17955 addressed this partially. L1 only... no L2 yet.

[2021-12-14 23:04] robertd opened #18023 "(lex): Revisit aws lex module after the next cfnspec bump"
### General Issue

(lex): Revisit aws lex module after the next cfnspec bump

### The Question

As discussed in https://github.com/aws/aws-cdk/pull/17955 I'm creating this issue as a reminder to revisit aws-lex module after next cfnspec bump.

### CDK CLI Version

v1 and v2

### Framework Version

_No response_

### Node.js Version

_No response_

### OS

_No response_

### Language

Typescript

#

[2021-12-14 23:31] skinny85 commented on #18018
Thanks for opening the issue @tobytipton. This is indeed a very interesting side-effect of sharing the cross-region support Stacks. This was done originally to save on the amount of extra resources we create, but I can definitely see how this becomes problematic in CDK Pipelines.

If you want to unblock yourself, you should be able to pass different Buckets for reach region when constructing the C

[2021-12-14 23:41] skinny85 commented on #17558
@stockf there's a pretty detailed explanation on how to achieve this by @tobytipton in https://github.com/aws/aws-cdk/pull/17917#issuecomment-993853634.

[2021-12-15 00:10] #16958 closed

[2021-12-15 00:12] skinny85 commented on #17777
Thanks for the video @eladb!

[2021-12-15 00:30] #17948 closed

[2021-12-15 00:32] skinny85 commented on #17315
@arcrank are we good here, or is there anything else to do on this issue?

[2021-12-15 00:36] dponzo commented on #17753
We will be implementing `TagOptions` as their own L2 Constructs shortly. Will update with the PR when its up.

[2021-12-15 00:37] skinny85 commented on #17288
@jogold do you think we need to do the same for DocumentDB as you did for RDS in https://github.com/aws/aws-cdk/pull/17363?

[2021-12-15 00:38] skinny85 commented on #17182
I'm closing this one due to inactivity. @HeskethGD please comment if you still need help on this issue.

[2021-12-15 00:38] #17182 closed

[2021-12-15 00:40] peterwoodworth commented on #18017
Thanks for reporting this @joel-aws, you're right. I've been looking into what the scope of the issue is, here's what I've found:

The issue lies only with the `fromDomainEndpoint` function, since `fromDomainAttributes` doesn't require having a full URL with `https://` for the domainEndpoint.

`fromDomainEndpoint` will return `fromDomainAttributes` by calling it with the same domainEndpoint which

[2021-12-15 00:47] skinny85 commented on #16784
Hey @strowk,

apologies for the late reply here.

I think there are a few issues with your buildspec, according to the [CodeBuild docs](https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html):

1. You're missing the `version` key.
2. The key is `runtime-versions`, not `runtimeVersions`.

Can you try the following code, and see if that helps?

[code]

Thanks,
Adam

[2021-12-15 00:50] peterwoodworth commented on #18010
Hey @jeromevdl, I'm unable to reproduce this. Are you using the virtual environment?

[2021-12-15 00:50] skinny85 commented on #16272
@kontinuity apologies for not following up on this one. Did you ever figure out what was the problem here?

[2021-12-15 00:52] skinny85 commented on #8282
@njlynch you might want to take a look at this one - it somehow got assigned to me by mistake (?).

[2021-12-15 00:55] skinny85 commented on #17916
Hey @ekeyser,

I believe this is exactly what the issue you linked to, #10595, is trying to achieve too.

What do you think about consolidating the discussion there?

Thanks,
Adam

[2021-12-15 00:57] comcalvi commented on #17544
Unable to reproduce on CDK 2.0.0. @vramanlal @Ivstiv @bjornhandersson can you share a stack that reproduces this?

[2021-12-15 00:59] blimmer opened #18024 "(cli): improve upgrade banner message"
### Description

Today, the upgrade notice is fairly simple: https://github.com/aws/aws-cdk/blob/0745193e4c18ecb118ba3330a380f7474b527a2b/packages/aws-cdk/lib/version.ts#L109-L112

In my opinion, there are a few things that could be improved with this message:

1. If the user is using TypeScript the provided command (`npm i -g aws-cdk`) isn't quite accurate. These users should instead use somethin

[2021-12-15 01:00] blimmer commented on #17939
Awesome - thanks for the information. I opened https://github.com/aws/aws-cdk/issues/18024 with some ideas on how we could expose this type of information more readily to aws-cdk users. I'd love to hear your feedback if you have any!

[2021-12-15 01:00] blimmer commented on #17939
@robertd Awesome - thanks for the information. I opened https://github.com/aws/aws-cdk/issues/18024 with some ideas on how we could expose this type of information more readily to aws-cdk users. I'd love to hear your feedback if you have any!

[2021-12-15 01:52] bicatu opened #18025 "lambda-nodejs: corrupt zip archive asset produced when using node v14.18.2 and CDK v2.1.0"
### What is the problem?

When trying to deploy a simple CDK app using NodeJsFunction it gives error message of empty .zip

CREATE_FAILED        | AWS::Lambda::Function           | Router16807C72  | Resource handler returned message: "Uploaded file must be a non-empty zip (Service: Lambda, Status Code: 400

### Reproduction Steps

Stack definition

import { Stack, StackProps } from 'aws-cdk-lib';

[2021-12-15 01:58] blimmer commented on #18024
I spent a bit of time today attempting to implement the upgrade message improvement (see https://github.com/aws/aws-cdk/compare/master...blimmer:blimmer/improve-upgrade-message?expand=1).

I'm running into some problems with testing that I'll need to spend some more time on, though. Feedback welcome for folks who might be more familiar with the sinon/jest setup in cdk.

[2021-12-15 02:51] radarcg opened #18026 "(secretsmanager): SecretRotation causes circular dependency with target SecurityGroup"
### What is the problem?

A lengthy discussion of this issues provides the best context, https://github.com/aws/aws-cdk/issues/1654#issuecomment-829493022. This describes the best practice of always calling in the 'to' direction rather than the 'from' direction when setting up rules (ingress or egress) which will mitigate or avoid this circular dependency issue.

However, when creating a SecretRot

[2021-12-15 03:10] arcrank commented on #17315
Yeah we can close this, the newer docs have correct syntax.

[2021-12-15 03:10] #17315 closed

[2021-12-15 03:17] kirintwn commented on #18025
May be related to #17976

[2021-12-15 06:13] #18015 closed

[2021-12-15 06:56] peterwoodworth commented on #13574
With that, I'm going to close this issue out 🙂

[2021-12-15 06:56] #13574 closed

[2021-12-15 07:48] stockf commented on #17558
@skinny85 thank you for the reference. Maybe I missed something. But as far as I can see @tobytipton does not use the `@aws-cdk/pipelines` module at all.

[2021-12-15 08:32] jeromevdl commented on #18010
I'm in a virtual env yes. In visual studio, things are correctly imported, and I can browse to the CDK code. But I have the errors above when running tests. And I have this when running `cdk synth`:

Traceback (most recent call last):
  File "/.../cdk/cdk-pipelines-demo/app.py", line 11, in <module>
    pipeline = PipelineStack(app, 'PipelineStack', env={
  File "/.../cdk/cdk-pipelines-demo/.env/l

[2021-12-15 08:40] tmokmss commented on #17932
I guess this issue will also fix https://github.com/aws/aws-cdk/issues/17963

[2021-12-15 09:32] devendra-kumar1 opened #18031 "@aws-ses: Getting issue while creating Configuration Set"
### General Issue

Getting issue while creating Configuration Set

### The Question

I am creating a ConfigurationSet under SES. Getting below error while doing cdk-deploy.
 **Error [ValidationError]: Template format error: Unrecognized resource types: [AWS::SES::ConfigurationSetEventDestination]**

Code:

const cfnConfigurationSet = new ses.CfnConfigurationSet(this, 'MyCfnConfigurationSet',  {

[2021-12-15 10:44] ManashJy commented on #17748
@peterwoodworth Sure thing, please keep me posted about the same.

[2021-12-15 11:09] AymanZahran commented on #18010
I faced the same issue here, it is solved by init new project in a different directory and moving the files to the new project. Also, make sure to specify the same stable versions for aws-cdk packages in requirements.txt

Version=1.83.0 is working fine

What is the version you are using?

[2021-12-15 11:42] TheFlexican commented on #17969
Looking more into it, I think I'm mistaken for what it actually happening here.Have to admit, I'm just a beginner as a coder, so I tried to understand what's going on. My mistake. What i realized is that  localTagName variable is assigned to the output of the command that loads the docker image. Somehow the output of the docker load command is not assigned to the localTagName variable.

Ill dig in

[2021-12-15 11:42] #17969 closed

[2021-12-15 11:50] #16188 closed

[2021-12-15 11:50] #17646 closed

[2021-12-15 12:05] #17863 closed

[2021-12-15 12:05] #17897 closed

[2021-12-15 13:08] rix0rrr opened #18036 "(aws-cdk-lib): improve loading time for monopackage library"
The loading time of the `aws-cdk-lib` library is quite bad, encouraging import styles that will avoid loading the entire library (or saddling people who don't know JS very well with poor performance).

2 things we should be doing to the `aws-cdk-lib` build:

* Bundle and minify each submodule, to reduce the amount of files loaded and amount of characters scanned
  * The above will only help `node`

[2021-12-15 13:11] rix0rrr opened #18037 "(cfn2ts, aws-cdk-lib): cfn2ts not compatible with aws-cdk-lib"
### Description

Some teams (internal, probably also external) are using `cfn2ts` to generate L1 construct libraries from a spec.

Unfortunately, `cfn2ts` generates dependencies on APIs that are not exported from the (now export-restricted) `aws-cdk-lib` package, and so any L1 that's generated that is not itself bundled into `aws-cdk-lib` will not work anymore.

This will hurt v2 adoption, and sho

[2021-12-15 13:26] corymhall commented on #18025
@bicatu at least based on the example you provided, it looks like the issue is that you are not exporting the handler function. If you change it to this it should work. The reason is that `NodejsFunction` uses `esbuild` to do the bundling and esbuild produces an empty `index.js` file when there are no exports.

[code]

[2021-12-15 14:33] alextriaca opened #18040 "Appsync: Add support for custom domains"
### Description

Appsync has recently added support for custom domains. The cloudformation for this can be found here (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-appsync-domainname.html)

### Use Case

Currently Appsync assigns a random URL when creating the API. If for some reason the API is ever deleted this URL is lost and a new and random URL is assigned. This

[2021-12-15 14:38] ekeyser commented on #17916
That's fine. Is there anything I need to do specifically or would you like me to copy my notes to that issue and close this one? I got the impression #10595 was abandoned. If this is a CloudFormation I suspect there's not a whole lot that can be done as it relates to cdk. Could be wrong.

[2021-12-15 14:46] bjornhandersson commented on #17544
@comcalvi
This stack reproduce the issue. I fixed the issue by removing:
[code]
I guess this is no longer needed when the ResourcePolicy is "automatically" created in newer versions of CDK.

Stack:
[code]

[2021-12-15 15:04] jaidisido opened #18041 "(aws-cdk.pipelines): API 2.0 - Adding a CodeBuildStep in an independent stage"
### Description

As part of our migration to CDK V2, we are trying to move away from the original `pipelines` library and leverage the constructs in the Modern API instead.

One snag that we have hit however is an inability to add a `CodeBuildStep` as an independent stage in the CICD pipeline, i.e. without linking it to an application stage as a `pre` or `post` action.

In the Original pipelines A

[2021-12-15 15:51] otaviomacedo commented on #18031
Apparently, this is not supported in all regions yet: https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/326

[2021-12-15 17:52] vennemp commented on #11925
@nicoaws I had to write custom resource to help get around that - it takes the public subnet, looks up az and matches it with the vpc endpoint created by the firewall - this is so you can reference it properly in the route tables.

My problem at the moment is the creation of the nat gateways in those public subnets.

I initially created 3 subnet groups of type PRIVATE_ISOLATED and would just creat

[2021-12-15 17:53] ericzbeard commented on #17436
@blimmer, let us know if this resolves things for you. #18039

[2021-12-15 18:06] markusl commented on #18041
We encountered the same problem already in august and found out that it's not part of the design: https://github.com/aws/aws-cdk/issues/15945

It's not very clear to me why is that because it would make the API much more fluent if this was allowed.

[2021-12-15 18:19] larryboymi commented on #16987
@epalace510 yep that's exactly what my class looked like

[2021-12-15 19:34] TheFlexican opened #18044 "(cdk-assets): ecs.RepositoryImage.fromTarball not working in cdk pipelines"
### What is the problem?

Hi, when trying to create ecs cluster with ecs.RepositoryImage.fromTarball the Asset build step in my pipeline fails with the error:
`Error parsing reference: "" is not a valid repository/tag: invalid reference format`

The command generated to load the docker image in the Asset build step is not properly quoted. Log output of the Asset build step.
`Building Docker image

[2021-12-15 19:55] skinny85 opened #18045 "(CDK watch): skip synthesis if the change is only to an Asset"
### Description

There is a possible performance optimization with `cdk watch`: if a given change event is for a file that belongs to an Asset, we can skip synthesizing the Cloud Assembly again (we know it will be the same).

Since synthesis is actually the bottleneck for many hotswap deployments (like for Lambda, or for StepFunctions), this might be a significant performance improvement for some

[2021-12-15 20:05] #17193 closed

[2021-12-15 20:13] mariobittencourt commented on #18025
it worked. thanks.

I wish the message was clearer.

[2021-12-15 20:33] #16191 closed

[2021-12-15 20:34] peterwoodworth commented on #18025
The error message produced comes from CloudFormation - so we can't do anything about that error message. However, I wonder if it's possible to catch these types of errors ahead of time (before deployment). @corymhall @kaizen3031593 are there any solutions here to make debugging easier on the customer?

[2021-12-15 20:44] peterwoodworth commented on #17976
I'm not able to reproduce this on v2.1.0 - Just to clarify, are you saying that you were not running into this error on `1.134.0`, then you migrated to v2, then this error started occurring without any changes to the lambda?

[2021-12-15 21:03] SamuelCabralCruz commented on #17976
@peterwoodworth yes, exactly. One important point to mention here, the problem is specific to MacOS environment. Everything is running as expected on my CI/CD pipeline which use a Linux.

[2021-12-15 21:22] jamiepeloquin commented on #15213
+1

[2021-12-15 21:26] peterwoodworth commented on #17748
I don't have any updates for you in the past week. Give me a ping again if you'd like me to bump the issue internally

[2021-12-15 21:55] #10722 closed

[2021-12-15 22:55] skinny85 commented on #17916
I think just commenting on that issue, linking to your description here, is good enough. No need to duplicate it in two places 🙂.

[2021-12-15 22:55] Negan1911 commented on #8273
@eladb I don't think that we should keep this sync, it's just nonsense, you're internally using `spawnSync` to execute arbitrary commands and even to do HTTP requests as the async PR says, so you already broke the "deterministic" rule.

Being deterministic or not is not a matter of being async or not, and by not being async you've already broke a bunch of valid use cases with bundlers like rollup

[2021-12-15 23:53] ldecaro commented on #17860
The above proposed solution doesn't work on the use case below. Any ideas?

[code]

error JSII3002: Type "aws-cdk-lib.EndpointConfiguration" cannot be used as a return type because it is not exported from aws-cdk-lib

9 public static endpointConfiguration(stack: Stack, group?: string): api.EndpointConfiguration {
[code]
627 /**
[code]
641 }
~
The referenced type is declared here
lib/api-gateway-he

[2021-12-16 00:09] #17853 closed

[2021-12-16 00:20] smaud commented on #17949
Yeah aws-cdk@2.x is broken.
I have a clean unbootstrapped repo and account and it fails to create the s3 bucket on bootstrap.

[2021-12-16 00:50] smaud commented on #17949
Ok, so when I upgraded to CDK v2.2 i needed to un bootstrap by deleting the CDKToolkit cloudformation remembering to delete the bucket (which doesn't get deleted by default) and then re-bootstrapping. That seemed to fix the issue.

[2021-12-16 00:53] skinny85 commented on #17949
@tamis-laan I believe you're using the new-style synthesis feature flag in your CDK application as turned 'on'. Because of that, you need to bootstrap your CDK application with the new bootstrap Stack. You should be able to do that using the command `npx cdk@2.1.0 bootstrap`.

Thanks,
Adam

[2021-12-16 01:14] #17436 closed

[2021-12-16 01:34] biffgaut commented on #17860
We pinned jsii at 1.47 in our package.json file for the time being, that kept us moving until there's a better solution.

[2021-12-16 01:37] comcalvi commented on #17544
@bjornhandersson thanks for the stack, I can confirm that it reproduces the issue. However the line that you rightfully pointed out causes the problem:

`logGroup.grantWrite(new iam.ArnPrincipal(cluster.ref));`

is working as intended. The `cluster.ref` returns a resource ARN, which is not a valid IAM principal (see docs).

This reproduces the error for the wrong reason (the error is desired here)

[2021-12-16 01:42] RichiCoder1 commented on #17860
Have either of ya'll had a chance to see if https://github.com/aws/jsii/releases/tag/v1.49.0 resolves this issue or is it still present?

[2021-12-16 03:12] RichiCoder1 opened #18046 "(ecs): fromLookup for ECS Cluster"
### Description

Currently there's a way to hydrate an `ICluster` in a stack, but it requires knowing a lot more information then should arguably be necessary for a given stack.

### Use Case

Sharing an ECS Cluster across stacks with minimal information required.

### Proposed Solution

A `fromLookup` method on `aws_ecs.Cluster` that accepts `clusterName` or `clusterArn`

### Other information

_

[2021-12-16 04:12] RichiCoder1 commented on #17860
Update: This _appears_ to have been fixed in v1.49 for me

[2021-12-16 04:30] ManashJy commented on #17748
@peterwoodworth Yes, if possible please check with the issue internally.

[2021-12-16 06:49] manumaki commented on #17925
2.2.0 has same issue

[2021-12-16 07:38] Simon-TechForm commented on #17925
We just deployed successfully after upgrading from 2.0.0 to 2.2.0.

[2021-12-16 07:50] OK-Cactus commented on #17978
Updated CDK version to 2.2.0 and started over again, issue looks fixed

[2021-12-16 07:50] #17978 closed

[2021-12-16 08:02] anjum-ali commented on #17989
@skinny85
sure.
here is the template body
`
const provisioningTemplateBody = {
      Parameters : {
        SerialNumber : {
          Type : 'String'
        },
        ApplianceId : {
          Type : 'String'
        },
        ThingGroups : {
          Type : 'String'
        },
        ThingName : {
          Type : 'String'
        },
        ThingTypeName : {
          Type : 'String'

[2021-12-16 08:33] krzysztof-slowinski commented on #15813
I have the same issue running with node `v16.13.1` - I downgraded to `v14.18.2` where it works.

[2021-12-16 09:07] mnapoli commented on #17974
Here is the patch I did:

[code]

I could send a pull request, but I'm not sure:

- if it's robust enough
- if it's wise enough to fix locally, where it might need to be fixed globally -> is it a scenario where "peerDependencies" might be useful?

[2021-12-16 09:08] manumaki commented on #17925
OK our stack doesn't actually use Appsync. I'll try to figure out what's the problem and create separate issue :) We get the same error though.

[2021-12-16 09:10] rix0rrr commented on #17860
@ldecaro are you still seeing this in 1.48 or later?

[2021-12-16 09:25] kornicameister commented on #17807
That's exactly the workaround I've used.

[2021-12-16 09:29] bjornhandersson commented on #17544
@comcalvi

Thanks for the reply.
I realised that as well but posted since the info might be useful for someone else.
It did deploy successfully on version 1.98.0 but not 1.32.0 or above.
I don't know exactly at which version it stoped working.

[2021-12-16 09:36] einavh opened #18047 "(cloudwatch): graph appears as empty"
### What is the problem?

"When you use a search expression in a graph, the search finds the search expression in metric names, namespaces, dimension names, and dimension values"
taken from :  https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-search-expressions.html

but when using search expression in cloud watch graphs it does not show all the dimensions of the metric with its

[2021-12-16 10:30] #15908 closed

[2021-12-16 10:30] #1578 closed

[2021-12-16 10:30] #2041 closed

[2021-12-16 10:56] jaidisido commented on #18041
Thanks @markusl! Agreed, not sure why it's not part of the design. Adding an independent shell stage seems like a simple requirement any CICD pipeline should support

[2021-12-16 13:00] igilham opened #18050 "(kinesis): add support for StreamModeDetails property"
### Description

Kinesis Data Streams recently added support for on-demand pricing and automated scaling via a new mode. The CloudFormation spec v51 supports a property to select the desired mode and has been pulled into CDK already but CDK does not yet support the mode setting via the [Stream constructor](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-kinesis.Stream.html).

### Use

[2021-12-16 13:23] vumdao commented on #11176
Hi, Any available solutions for this?

[2021-12-16 13:39] #3983 closed

[2021-12-16 14:18] #8282 closed

[2021-12-16 14:23] corymhall commented on #18025
I think CloudFormation is the appropriate place to catch this error message. In this case it's actually the service that is throwing the error that CloudFormation is reporting. The Lambda service has some requirements on what a deployment bundle looks like and I'm not sure we should try and replicate that client side. We could check for empty directories, but what if bundling produces an empty fil

[2021-12-16 14:50] otaviomacedo commented on #13783
Resolved by https://github.com/aws/aws-cdk/pull/14754

[2021-12-16 14:50] #13783 closed

[2021-12-16 14:51] otaviomacedo commented on #13851
Resolved by https://github.com/aws/aws-cdk/pull/14754.

[2021-12-16 14:51] #13851 closed

[2021-12-16 15:01] kbakk commented on #15813
I'm wondering if I missed a step in the reproducer, that's causing this issue – `pip install -r requirements.txt`.

Changing to this, it works:

[code]

Output:

[code]

[2021-12-16 15:15] fractionalJoe opened #18051 "@aws-cdk/assertions: add Match.stringLike method"
### Description

It would be helpful to be able to match string property values with a regex rather than a string literal.

### Use Case

I would like to be able to perform a test like this:

[code]

### Proposed Solution

The proposed method signature would be  `Match.stringLike(pattern:  RegExp): boolean`

Returns true if the pattern is found in the string, otherwise false.

### Other informatio

[2021-12-16 15:43] kaizen3031593 commented on #17976
@SamuelCabralCruz can you show us your build script? It's a little difficult to diagnose whats going on with just the lambda function, but it is possible that you are not copying the output into the correct location. When you bundle a go lambda you need to make sure the binary gets placed in the `outputDir` like [this](https://github.com/aws-samples/cdk-build-bundle-deploy-example/blob/0b0535d2142

[2021-12-16 15:54] SamuelCabralCruz commented on #17976
@kaizen3031593 sure, here is the build script I am using for all my lambdas.
[code]

This is the "default" implementation for all my makefiles, but it is never overridden.

[2021-12-16 15:55] SamuelCabralCruz commented on #17976
@kaizen3031593 Is there an important difference between /main and /bootstrap folders?

[2021-12-16 16:13] rix0rrr opened #18053 "(core): Nested Stacks have a crazy logical ID"
### What is the problem?

Recently, we found out the construct id of the nested stack occurred twice in its logical id.

For example:

[code]

#### Generated template ####
...
"Resources": {
    "MyNestedStackConstructNestedStackMyNestedStackConstructNestedStackResource3E193B32": {
            ^^^^^^^^^^^ oh no                                   ^^^^^^^^^^^^^^^^^^^^^^^
      "Type": "AWS::CloudForm

[2021-12-16 16:14] rix0rrr commented on #18053
Needs a feature flag to fix

[2021-12-16 16:21] otaviomacedo commented on #10312
Duplicate of https://github.com/aws/aws-cdk/issues/17023.

[2021-12-16 16:21] #10312 closed

[2021-12-16 16:42] corymhall commented on #17976
@SamuelCabralCruz the name of the output just has to match the value you provide in `handler`. The example is using the name `bootstrap` because that is required if you are using the `provided` runtime.

[2021-12-16 16:46] SamuelCabralCruz commented on #17976
in my case, I am passing in "main" as default argument

[2021-12-16 16:48] FreeWillaert commented on #17945
I have a similar issue: no matter what I do  - pass an array of steps in addStage, do one or multiple calls to addPost,... - the steps just end up side-by-side, being executed in parallel.
In my case, it's a S3 deploy step and a cloudfront invalidation step.
Using CDK 1.133.

I'm not sure though about the expected behavior: should e.g. multiple calls to addPost effectively result in steps being ex

[2021-12-16 16:57] eladb commented on #17777
This is not reproducing in AWS CDK CLI v2.2.0, so I am closing for now.

[2021-12-16 16:57] #17777 closed

[2021-12-16 17:10] Ivstiv commented on #17544
@comcalvi

I did a few runs with 1.133.0 & 1.136.0 stack dependencies (npm) and could not replicate its previous behaviour from a few weeks ago when I consistently experienced the error and had to roll back the update of the dependencies. I have also updated my aws-cdk npm package since then which might also be related somehow. I guess the issue has been resolved?! Unfortunately (or perhaps fortun

[2021-12-16 17:26] sdomme opened #18054 "(aws-eks): ALB Controller wrong value keys for repository and tag in HelmChart"
### What is the problem?

Hi,
it is not possible to define a different repository and version for albController in the aws-cdk-lib/aws-eks Cluster construct. The alb-controller.ts library use the wrong values schema for the Helm chart:

https://github.com/aws/aws-cdk/blob/2b6c2dadc039f7c4255f6864386ba1dd28b6fc4f/packages/%40aws-cdk/aws-eks/lib/alb-controller.ts#L228-L238

It needs to be:

[code]

[2021-12-16 17:28] corymhall commented on #17976
@SamuelCabralCruz this could be an issue with caching. Can you look in your `cdk.out` directory for an asset folder with a name something like `asset.xxxxxxsomerealylonghash/`. Inside this folder you should see the `main` binary that was produced by the bundling.

If the asset folder is empty try deleting your `cdk.out` directory and running `cdk synth` again to see if you then see the `main` bina

[2021-12-16 17:30] biffgaut commented on #17860
We still see it in 1.49 when building for CDK V2

@aws-solutions-constructs/aws-kinesisstreams-gluejob: lib/index.ts:75:12 - error JSII3002: Type "aws-cdk-lib.CfnTable.ColumnProperty" cannot be used as a list element type because it is not exported from aws-cdk-lib

[2021-12-16 17:31] Dachmian commented on #15908
Much obliged🙌

[2021-12-16 17:39] FreeWillaert commented on #17945
I finally managed to work around this by creating a wave, adding the stage to it with the first post step, then adding the second post step to the wave.
This results in the two steps being sequential in the code pipeline, in the correct order.

[2021-12-16 17:40] Shaangor opened #18055 "(core): CustomResourceProvider entrypoint does not pass Lambda context object"
### What is the problem?

As of CDKv2, the `CustomResourceProvider` class significantly changed its API. In v1, you separately instantiated a Lambda function, then created a `CustomResourceProvider` via `CustomResourceProvider.fromLambda()`. In v2, `CustomResourceProvider` now wraps the Lambda on your behalf, and you specify a code directory to bundle. This is done because an `__entrypoint__.js` i

[2021-12-16 17:42] #9921 closed

[2021-12-16 20:11] skinny85 commented on #17989
Hey @anjum-ali,

this `cdk deploy`s for me without any errors:

[code]

Can you try locally yourself, and see what happens when you `cdk deploy` this code?

Thanks,
Adam

[2021-12-16 20:23] kornicameister commented on #17807
@skinny85 I already have part of the code, one little test is not passing but I should be able to submit the PR by the end of the week.

[2021-12-16 20:25] dobrynin commented on #13767
Also looking for this.

[2021-12-16 20:27] skinny85 commented on #17807
Awesome @kornicameister, thanks for working on this!

[2021-12-16 20:52] perez-alejandrodaniel opened #18060 "aws_cdk.pipelines (python): Unable to install pipelines library with CDK >= 2.0"
### What is the problem?

I'm trying to install aws_cdk.pipelines library in a new project that was created following the page https://docs.aws.amazon.com/cdk/v2/guide/work-with-cdk-python.html. I didn't have any problem to create it, but at the moment to install pipelines lib I can't due to a conflict with construct library versions.

SO: Ubuntu 20.04.3 LTS
Python: 3.9.7
CDK version: 2.2.0 (build

[2021-12-16 21:21] perez-alejandrodaniel commented on #18060
Update:

I have tried to use codepipeline library, with the same results:
I have recreated the project and tried to use the following requirements.txt file:
[code]

I get the following errors:
[code]

If I keep the libraries without versions, the following combination works fine but it uses an old version of the library (0.28.0)
[code]

[2021-12-16 21:29] hoegertn commented on #18060
You are mixing CDK v1 and v2 here. In v2 the pipelines module is already part of the aws-cdk-lib and you do not need to install the modules as separate packages.

[2021-12-16 22:28] peterwoodworth commented on #18060
In v2, everything is part of the aws-cdk-lib package.

You won't need to install any specific packages - simply write these import statements!
[code]

From our documentation page on v2 - https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html

[2021-12-16 22:28] #18060 closed

[2021-12-16 22:28] peterwoodworth commented on #18060
Let me know if you have additional questions!

[2021-12-16 22:43] perez-alejandrodaniel commented on #18060
Thanks very much!

[2021-12-16 23:26] ckifer commented on #17939
Is there any way to compose the JS snippet to inject into your website from the attributes on this Cfn construct? I don't think so after attempting but just want to confirm.

[2021-12-16 23:54] wjensen-godaddy commented on #546
+1

[2021-12-17 00:10] #17899 closed

[2021-12-17 00:12] kaizen3031593 commented on #18051
Happy to take a community contribution on this!

[2021-12-17 01:56] jc1518 opened #18063 "[aws-ec2] Add way to filter VPC subnets by tags #10366"
### Description

Suggesting to reopen  #10366

### Use Case

As the other user mentioned that the situation where the VPC was not created by CDK. And there are multiple same subnet types, but for different purposes. e.g isolated for application, isolated for database.

### Proposed Solution

Add capability to select subnets by tags. e.g. vpc.selectSubnets({tags: { "subnet-tier": "Application" }});

[2021-12-17 01:57] kaizen3031593 commented on #17873
Thanks for the feedback @rittneje! I agree that the Python experience is missing some key components of the TypeScript experience. I'll bring it up with the rest of the team, although I'm not sure what can be done. In this case, `Permission` does not fit the bill of an `IPermission`, because we reserve the `IXxx` interface naming scheme to resources that you can bring in to the CDK stack, like an

[2021-12-17 02:01] comcalvi commented on #17544
@bjornhandersson I can confirm that it did successfully deploy on version 1.98.0. However, if the stack is first deployed without

`logGroup.grantWrite(new iam.ArnPrincipal(cluster.ref));`

and then that line is added and you run `cdk diff`, then the diff is empty. This means that in version 1.98.0, that line didn't add any CloudFormation to the template. The cluster class does not implement `IGra

[2021-12-17 03:35] joekiller opened #18064 "(pipelines): allow specifying cross region support bucket retention policy"
### Description

As a user I'd like to be able to optionally specify in the [CrossRegionSupportStackProps](https://github.com/aws/aws-cdk/blob/f17f29e94265eb450d8f11bdbdbe719f3e511ea2/packages/%40aws-cdk/aws-codepipeline/lib/private/cross-region-support-stack.ts#L88) the retention policy for the CrossRegionSupportConstruct's [bucket](https://github.com/aws/aws-cdk/blob/f17f29e94265eb450d8f11bdbdbe

[2021-12-17 03:40] shanman190 opened #18065 "(pipelines): ManualApprovalStep should support SNS notifications"
### Description

`pipelines.ManualApprovalStep` should be able to send an SNS notification to a user when their approval is requested.

### Use Case

I'm migrating an old `pipelines.CdkPipeline` to `pipelines.CodePipeline`. The previous pipeline is using `codepipeline_actions.ManualApprovalAction` which supports the above functionality, but the parallel `pipelines.ManualApprovalStep` does not.

##

[2021-12-17 04:05] #17165 closed

[2021-12-17 04:05] #17883 closed

[2021-12-17 04:05] #17890 closed

[2021-12-17 04:28] vramanlal commented on #17544
The following code with comments show when it works and when it does not.  I appears to be related to Fn.importValue when importing a role via ARN created in another stack.  Also if the stack props do not provide the env values, then the Fn.importValue lines work.  That is no LogResourcPolicy is output.  This code has been tested with CDK 1.1.36.0.

`import { Stack, Construct, Fn, RemovalPolicy, S

[2021-12-17 06:06] NGL321 commented on #17562
Hey @danw-mpl,
Based on my best understanding of what you are trying to do, you should probably import either the security group or database into the stack that will deploy second. Something like below:

[code]

The only major problem with this (as you noted) is that it creates a deployment dependency that the latter stack must be deployed after each major deployment of the former. Most times, sta

[2021-12-17 06:13] NGL321 commented on #12684
Reopening as an internal support request noted that this behavior still occurs. I have reproduced this behavior in the latest release. According to the PS engineer:

Since this is non-blocking and doesnt significantly impact performance I am leaving as a feature-request and setting priority to low.

[2021-12-17 07:23] anjum-ali commented on #17989
@skinny85
I am at a loss for words. I can't reproduce the issue either. Tried various combinations of template Props and all is green now.

Thanks
Anjum

[2021-12-17 07:48] metametadata commented on #3385
The problem is reproducible in Clojure REPLs because they call `toString` to print the expression results.

We use `Duration` instances in our data structures related to devops tasks and it's not convenient that such data structures cannot be printed.

## Example

[code]

In Java the same error would likely be caused by calling `System.out.println(x)` which can be reproduced in Clojure like this:

[2021-12-17 08:53] #17641 closed

[2021-12-17 09:20] cyanwish commented on #9917
You can try something like this, its quite hacky but it works for me.
Add a new Pre-Shell/CodeBuild Stage step.
Get the current (latest) cloud-assembly artifact from S3.
Remove the assets, in my case all JARs. Copy it back to S3. That's it.
The buildspec should look something like this:
[code]
Don't forget to add a S3::PutObject Permission to the ServiceRole.

[2021-12-17 09:46] rix0rrr commented on #17860
@biffgaut I tried reproducing that but seems to work for me.

When I did the following:

* Ran `npx -p aws-cdk-migration rewrite-imports-v2 **/*.ts` on `@aws-solutions-constructs/core` and `@aws-solutions-constructs/aws-kinesisstreams-gluejob`
* Updated `package.json` to depend on `aws-cdk-lib@2.1.0`
* Updated `package.json` to depend on `jsii@1.49.0`.
* Got rid of the `test/` directories because

[2021-12-17 10:05] #18031 closed

[2021-12-17 10:12] #15123 closed

[2021-12-17 10:21] moltar opened #18066 "cdk-assets: log asset size before publishing"
### Description

Would be great to see the asset size in the log files.

https://github.com/aws/aws-cdk/blob/fd8e0e33816cb46678f7d1beac80b1623cdb6bac/packages/cdk-assets/lib/publishing.ts#L82-L84

### Use Case

Sometimes I want to see asset size increases / decreases and checked the logs assuming it would be reported. But it was not.

### Proposed Solution

Add both total bytes and human-readable

[2021-12-17 10:53] vladm123 commented on #6808
Stumbled upon the same error message today, but not on `arn:aws:s3:::cdktoolkit-stagingbucket-*` as usually seen in tutorials.

1. cdk deployment failed with an error today without any change in the codebase: `Bucket named 'cdk-xxxxxxx-assets-*****-*****' exists, but not in account *****. Wrong account?`.
2. Permissions `s3:GetObject`, `s3:PutObject`, `s3:ListBucket`, `s3:GetBucketLocation` were a

[2021-12-17 11:26] ChrisSargent opened #18070 "(aws-events): EventBus no longer generates a name if needed"
### What is the problem?

Before v1.29.0, when creating an EventBus without giving a specified name, cdk would generate one automatically (or if using `cdk.physicalName.GENERATE_IF_NEEDED`

A change made in v1.29.0 here, changed that behaviour: https://github.com/aws/aws-cdk/commit/707fa003a458039878a1ae5173b6665a84c1170b#diff-e578aba9e8d0d3ee80700fb06d4ab56133d869f88887efd65941d6e2e90bec98

The '

[2021-12-17 12:33] chittasec commented on #17182
Same issue still happening. Why the issue was closed ?

[2021-12-17 12:34] aloksinghGIT commented on #17978
Even with same Mac machine as above issue, I'm getting the issue even with CDK v2.2.0 while launching cdk synth for the first time
--------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/alok/Documents/DEV/awscdk/app.py", line 4, in <module>
    import aws_cdk as cdk
  File "/Users/alok/Documents/DEV/awscdk/.venv/lib/python

[2021-12-17 12:35] mskrip commented on #17728
@skinny85 Unfortunately, the #17746 did not really fix the underlying issue here, since `rds_instance.secret` is not the `Secret` resource but `SecretTargetAttachment`. Therefore, I still have to use the escape hatch here.

[2021-12-17 13:47] stekern commented on #12372
We are currently experiencing the same issue with one of our stacks. We made a change in our code that increased the size of the respective template from 77472 to 78841 bytes. We're able to deploy the stack locally (`$ npx cdk deploy ...`), but it fails on the `Prepare` step when trying to deploy it through CDK Pipelines.

I find it a bit surprising that the error message mentions YAML, while the

[2021-12-17 14:31] aritranagnordcloud opened #18071 "AWS CDK : Unit tests for Java for Resources with HostedZone.fromHostedZoneAttributes"
### General Issue

CDK Unit tests failing for Lookups and existing Resources

### The Question

Hi CDK team,

We have been using the Java CDK toolkit to create the solution construct for our application.
We have an CDK construct which gets created using existing services like Route53 , VPC.  For the normal cdk synth command without any test cases it works absolutely fine. While running the test ca

[2021-12-17 15:27] LukvonStrom opened #18073 "(ecs-patterns): NetworkLoadBalancedServiceBase and NetworkMultipleTargetGroupsServiceBase hardcode port 80 on target group"
### What is the problem?

As stated in the title, both base classes default to port 80 for the Loadbalancer TargetGroup.
The culprit for NetworkLoadBalancedServiceBase is located here: https://github.com/aws/aws-cdk/blob/v2-main/packages/@aws-cdk/aws-ecs-patterns/lib/base/network-load-balanced-service-base.ts#L345

it needs to be changed to something like this:
[code]

The culprit for NetworkMulti

[2021-12-17 15:59] philvarner commented on #9615
+1 to this -- this is particularly annoying now that 2.0 is out, and I get a warning about a (possibly-breaking) upgrade on every command I run.

[2021-12-17 16:14] #17963 closed

[2021-12-17 17:12] lkr2des commented on #6699
Seems similar issue.
I need to create a AssumeRolePolicyDocument  like below attached to a federated role, unable to do that today.Any ideas or help is appreciate.

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::xxxxxxxxxxxxxxxxx:saml-provider/okta-quicksight"
      },
      "Action": "sts:AssumeRoleWithSAML",

[2021-12-17 17:45] #17664 closed

[2021-12-17 18:13] SkySails commented on #2756
Just stumbled upon this issue as well, and while not mission-critical it does feel bad not to be able to replicate some of my old CloudFormation templates completely using CDK despite the fact that I would really like to!

[2021-12-17 18:27] kaizen3031593 commented on #17982
Thanks for the bug report @mrudelle! A PR to fix this would be greatly appreciated!

[2021-12-17 18:44] kaizen3031593 opened #18075 "(backup): granularity of `deleteAfter` and `moveToColdStorage` could be wrong"
### What is the problem?

https://github.com/aws/aws-cdk/blob/d5362f001656dfeecc5d8388b9f1c9ce77190ea4/packages/%40aws-cdk/aws-backup/lib/plan.ts#L184-L185

The CDK limits `deleteAfter` and `moveToColdStorage` to be a whole number of days. This is likely due to the cloudformation spec calling them `deleteAfterDays` and `moveToColdStorageAfterDays`. However, cloudformation docs show both properties

[2021-12-17 19:20] mickychetta opened #18076 "(aws-s3): adding prop to enable EventBridge in S3 BucketProps"
### Description

We can now use Amazon S3 Event Notifications with EventBridge to create new event driven applications after this [announcement](https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-s3-event-notifications-amazon-eventbridge-build-advanced-serverless-applications/).

In order to take advantage of this feature, S3 must have enable EventBridge in the properties sections:
![image]

[2021-12-17 19:24] skinny85 commented on #17989
No worries @anjum-ali, glad you're unblocked! 🙂

I'm resolving this one, let us know if you need anything else from our side for this issue.

[2021-12-17 19:24] #17989 closed

[2021-12-17 19:41] MichaelWalker-git commented on #17950
[code]

@Cristian-Vt , you want to do the following:
- replace new s3.Bucket with aws_s3
- replace new cdk.CfnOutput with just CfnOutput
- your import will look like this:
[code]

[2021-12-17 19:44] joekiller commented on #10190
thanks @jguice for your example. here is something I had to implement with the latest stacks in typescript

[code]

[2021-12-17 19:50] skinny85 commented on #18064
Hey @joekiller,

thanks for opening the issue. Unfortunately, even if we implemented this functionality, it would not help you in this scenario.

The problem is that you can't remove an S3 Bucket in CloudFormation by default if it's non-empty. And that would be the situation in your case. So, even if you set the removal policy of the cross-region Buckets as `DESTROY`, the deletion of the support S

[2021-12-17 19:53] skinny85 commented on #17182
@chittasec can you share your code that's causing you this problem?

[2021-12-17 19:57] skinny85 commented on #17728
That's a fair point @mskrip. I'm re-opening this one.

I'm wondering what should be correct behavior be here? Should calling `applyRemovalPolicy()` on the `SecretTargetAttachment` also change the retention policy of the `Secret` it's pointing to?

[2021-12-17 20:00] #17778 closed