[2021-07-22 11:56] radiosilence commented on #15661
That would be quite cool too. Then we could in theory just copy one class and reference it in our projects.

These are the things that need to be exposed:

[code]

And most of these methods etc could be mixed in somehow:

[code]

[2021-07-22 12:59] goosefraba opened #15713 "CDK / NodeJsFunction: Provide access to bundle role to grant permissions for SSM store"
## :question: General Issue

### The Question
I use CDK and a NodejsFunction from @aws-cdk/aws-lambda-nodejs. As my lambda function requires an external module to be loaded from npmjs (from a private repository) I need to configure the .npmrc file.
In a raw CodeBuild project I do this quite easily by loading the secret key for npmjs.org from the SSM paramter store.

[1] Is there a native way to mo

[2021-07-22 13:20] gshpychka commented on #15584
@MrArnoldPalmer do you need any additional info regarding replicating the issue or the underlying causes?

[2021-07-22 13:24] eladb commented on #2663
@rareelement please take a look at [cdk-ecr-deployment](https://github.com/cdklabs/cdk-ecr-deployment). It should address your use case.

I am also closing this as a duplicate of https://github.com/aws/aws-cdk/issues/12597

[2021-07-22 13:33] nohack commented on #15475
@skinny85 created a pr for this.please check.

[2021-07-22 13:35] nohack commented on #15475
Should we error out if the user pins the engine version and enables autoMinorVersionUpgrade in props.

[2021-07-22 13:52] nohack commented on #15483
The reason for this is lookedup repositories disallow adding policy's as per the code [here](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ecr/lib/repository.ts#L422).

[2021-07-22 14:08] nohack commented on #15619
What are the vpc lookup parameters you wanted to use.vpc id is not mandatory btw.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.VpcLookupOptions.html

[2021-07-22 14:19] rix0rrr commented on #15639
I'm suprised that this setup used to work at all, given that it looks like CodePipeline doesn't seem to support cross-account CodeCommit repositories. There is no mention of account here: https://docs.aws.amazon.com/codepipeline/latest/userguide/action-reference-CodeCommit.html

And when I try your code for myself, I get this error in CodePipeline:

![image](https://user-images.githubusercontent.c

[2021-07-22 14:27] epapathom commented on #15025
One month later this is still not fixed. Can we expect a solution?

[2021-07-22 14:31] jdvornek commented on #15639
I must have missed a dependency between the two stacks, please try deploying `SourceStack` first manually or add an explicit dependency.  Again, I was trying to replicate something illustrative from a much larger application here.

There's a published guide for a [cross-account codepipeline](https://aws.amazon.com/blogs/devops/aws-building-a-secure-cross-account-continuous-delivery-pipeline/), but

[2021-07-22 14:45] rix0rrr commented on #15639
Yes, I've seen it work now which is crazy.

[2021-07-22 14:45] rchristopher opened #15716 "Cognito Identity Pool Attributes for access control"
## :question: General Issue

I have a Cognito Identity Pool created with the CfnIdentityPool object, I've attached a Cognito authentication provider to it, and using the CfnIdentityPoolRoleAttachment object I've set role selection to "Token". This all works when deploying the stack.

I seem to be unable to set the "Attributes for access control" custom mappings key-value pairs for the Cognito auth

[2021-07-22 15:19] luckily commented on #15653
@badfun Sorry, I didn't expect that you might use Windows environment, but I think you can solve this problem with Docker, and you should mount  CDK source of local directory into Docker to execute some commands, and always execute scripts via Docker.

Gitpod is a good choice if you don't have suitable development environment.

[2021-07-22 16:00] brettswift commented on #15334
@mark-ship-it I have tried both approaches as well, with no luck.

1. passing the dashboard into other stacks creates exports, and the only recourse is to delete the dashboard stack on every deploy.
2. keeping the metrics/alarms/widgets in the dashboard stack requires  (for me) ALB ARN's,  ASG 'FullName' and Target Group 'FullName'.      If i try to put these values into SSM on the API stack, and

[2021-07-22 17:38] chris-leach opened #15721 "TarballImageAsset `executable` command in `...assets.json` prevents running `cdk deploy` outside cloud assembly root directory"
We were very excited to use the new [`TarballImageAsset`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecr-assets.TarballImageAsset.html) class to deploy docker images built by Kaniko in our CI pipeline, but it seems to break deployments unless run in a specific and inconvenient way.

### Reproduction Steps

Given the following CDK project, where `hello-world.tar` is produced with

[2021-07-22 17:52] rareelement commented on #2663
@eladb  Is **cdk-ecr-deployment** officially supported by AWS?

Anyways, it is not going to help with my use case of keeping **aws-cdk/assets** repository slim, unless the expectation is that aws-cdk/assets repository will be regularly completely cleaned (which is not realistic in most companies with multiple teams/services). This, now closed issue, is different from #12597.

If ECR supports multi

[2021-07-22 17:55] eladb commented on #2663
@rareelement thanks for the additional context.

I'll reopen the issue and we'll discuss solutions.

[2021-07-22 18:19] JSPRH commented on #15692
Thanks @jumic for the help! Your solution solved my problem.

A hint somewhere in the cdk cognito documentation would probably be a good idea to push people into the right direction.

[2021-07-22 18:30] steved commented on #15709
How would you recommend to approach this? Would the addition of the error code to this exception help? Or a global retry?

https://github.com/aws/aws-cdk/blob/2c4ef0131893e77d373c52b41c62d31847023446/packages/%40aws-cdk/aws-logs/lib/log-retention-provider/index.ts#L25

[2021-07-22 19:20] peterwoodworth commented on #13769
Hmm, if you're 100% certain that you're using your cluster then I don't think this is a CDK issue since your synth output is perfectly fine. I'm sorry about this

[2021-07-22 19:37] peterwoodworth commented on #15602
I've tried to reproduce this and am unable to, if you could give me more information I could try to help you 😄

[2021-07-22 19:40] badfun commented on #15653
@luckily Back in business. I followed the [blog post](https://aws.amazon.com/tw/blogs/developer/contributing-to-the-aws-cloud-development-kit/) you referenced and used WSL2 on WIndows. Got the environment working. Now I can go back to working on the code.

[code]

[2021-07-22 20:16] jefftham opened #15723 "(aws-s3-deployment/BucketDeployment): Deployment failed if file greater than 500mb"
I believe this bug is related to the lambda limitation of the storage size of temp directory (/tmp)
Deployment will be failed if file greater than 500mb.

### Reproduction Steps

### What did you expect to happen?
Support arbitrary size of the file. Since the file is uploaded to s3, it should be able to move it to another s3 when deploy.

### What actually happened?
Deployment failed if file great

[2021-07-22 20:18] madeline-k opened #15724 "(aws-kinesisfirehose): Support for backing up source records to S3"
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-kinesisfirehose-deliverystream-extendeds3destinationconfiguration.html#cfn-kinesisfirehose-deliverystream-extendeds3destinationconfiguration-s3backupconfiguration

### Use Case

[code]

### Proposed Solution

See: https://github.com/aws/aws-cdk/pull/15505/files#

And: https://github.com/aws/aws-cdk-rfcs/blob/master/text/

[2021-07-22 20:21] m90 commented on #13769
The cluster definitely is running as a. it's in use and b. other metrics like memory usage seem to work as expected.

Is this something we need to raise with AWS support then?

[2021-07-22 20:42] mrpackethead commented on #15279
I think all of this is addressed with the migration to the new cdk pipeline api

[2021-07-22 20:42] #15279 closed

[2021-07-22 20:59] peterwoodworth commented on #15619
Thanks for the answer @nohack, this is correct. @vineet85s if you want to import an existing Vpc with fromLookup, all you have to do is give enough LookupOptions (linked above) in any combination which filter down to exactly one Vpc in your account. For example you could accomplish that by assigning those [Vpcs a special tag](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.VpcLook

[2021-07-22 21:05] rix0rrr commented on #15709
I woukd say retry on the specific error

[2021-07-22 21:47] peterwoodworth commented on #15702
`Alias` isn't an attribute. Read the docs [here](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-readme.html#aliases) to learn about how to use aliases

[2021-07-22 22:46] #15532 closed

[2021-07-22 22:55] #15702 closed

[2021-07-22 23:05] peterwoodworth commented on #15680
@shiv-lch task_properties wants to take in an array. Here's an example

[code]

[2021-07-22 23:13] peterwoodworth commented on #15620
Is there a reason you'd like to see EdgeFunction be environment-agnostic? I could relabel this as a feature request @NickDarvey

[2021-07-22 23:13] #14994 closed

[2021-07-22 23:15] NickDarvey commented on #15620
So that it doesn't force the stack that I use it in to be environment-specific.
I wasn't sure it was even possible, but if it is, then yes please make it a feature request @peterwoodworth!

[2021-07-23 00:14] douglasnaphas opened #15728 "(aws-cdk): Broken link to integration test in CONTRIBUTING.md"
Doc: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#integration-tests
Permanent, line-specific link: https://github.com/aws/aws-cdk/blame/91cf79bc55ffd72b1c79e2218eb76921fbac32b4/CONTRIBUTING.md#L254

The Contributing guide has two links to example integration tests. The second link, to a file originally called [packages/@aws-cdk/aws-apigateway/test/authorizers/integ.token-authorizer.t

[2021-07-23 00:33] #10810 closed

[2021-07-23 00:36] #15680 closed

[2021-07-23 00:37] shiv-lch commented on #15680
Thanks.

[2021-07-23 01:39] #15728 closed

[2021-07-23 02:22] peterwoodworth commented on #15569
I don't fully understand your issue @MagdalenaMecinska, how exactly does this issue relate to CDK? I understand you're using the CDK but without understanding you exactly you're implementing things I don't think I can help you.

[2021-07-23 02:39] evanerwee01 opened #15731 "aws_cdk.aws_lambda.LayerVersion: Unable to Sign a layer but can Code Sign Lambda"
## :question: General Issue

### The Question

Lambda functions can be Code Signed, See: [AWS Lambda Construct Library — AWS Cloud Development Kit 1.115.0 documentation (amazon.com)](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda/README.html#code-signing)
Section: Code Signing

I cannot find any way to Code Sign a layer in AWS CDK. Therefore, it appears that,  AWS CDK cannot

[2021-07-23 03:47] vineet85s commented on #15619
fromlookup used either VPC ID or tags .. resulting in hardcoding or either ID or Tags..  which was not solving my problem. I was able to get the solution via SSM parameter and dynamic referencing then synthesising the stack to get the value during the runtime.

This is solved now.

[2021-07-23 03:47] #15619 closed

[2021-07-23 03:55] Voyen opened #15732 "docdb.DatabaseSecret: Secret generated with invalid characters"
docdb.DatabaseSecret by default calls aws_secretsmanager.Secret specifying exclusion characters of '"', '@', and '/'.
However since many databases use a 'proto://user:password@host.....' connection URL, a colon should be included in this exclusions list.

I'm currently trying to spin up a mongo-express container in my ECS environment but can't get it to connect because the secret that was generate

[2021-07-23 04:24] NGL321 commented on #11649
Unclear why the `bug` label was removed. Please adjust if I am incorrect in re-adding it

[2021-07-23 04:25] NGL321 commented on #12705
@skinny85 Were you able to reproduce this in the end?

[2021-07-23 04:29] NGL321 commented on #12853
Hey @mb-dev,

Sorry for long delays in responding to this. Unfortunately because the link is in the comment of a PR it is just part of the commit history and cannot be altered.

I am going through and clearing no-op issues, but please rest assured this was seen.

😸 😷

[2021-07-23 04:29] #12853 closed

[2021-07-23 04:32] dankmemes2020 commented on #55
Hi @eladb @NGL321 can we reopen this issue? There are no Docker instructions in the contribution guide anymore, so building the CDK on Windows doesn't work. Also, it's impossible to use WSL 1 because building the CDK requires docker to be running and accessible. (WSL 2 gets around this by allowing you to interface with the docker daemon from within a WSL container).

Even scripts like `foreach.sh`

[2021-07-23 04:38] NGL321 commented on #15088
Were we able to determine if this was caused by the Cloudformation stack resource limitation or if it is a separate bug unrelated to said limit?

[2021-07-23 04:44] Selimmo commented on #7016
I had the same problem and i ended up doing something like this
[code]
Basically the trick is retrieve the role as if it was created in another stack. (i know and i don't like it as well) but it seems to do the trick for now.

[2021-07-23 07:37] andreialecu commented on #14764
Just ran into this because I noticed VSCode mentioned that `addCapacity` is deprecated. Which I guess happened in a newer version.

After migrating to `addAsgCapacityProvider` there was this diff on a bunch of security groups which seemed suspect:

[code]

I was able to manually add it back by adding this line below the cluster initialization:

[code]

Now the diff properly shows the ports being a

[2021-07-23 07:52] otaviomacedo commented on #15609
Hi, @naseemkullah

We can probably implement some of the optimizations mentioned in the article you linked. However, we can't work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to

[2021-07-23 08:17] andreialecu opened #15733 "(aws-ecs): `addCapacity` is deprecated, but migrating existing stack to `addAsgCapacityProvider` seems impossible"
I recently noticed a deprecation warning about `addCapacity` recommending to use `addAsgCapacityProvider` instead.

After changing the stack to use the newer call, I initially ran into https://github.com/aws/aws-cdk/issues/14764#issuecomment-885457742. After doing the workaround in that comment and trying to deploy however, the deployment failed because the Security Group cannot be updated.

Here'

[2021-07-23 08:45] nija-at commented on #15677
Marking this as a bug for investigation.

[2021-07-23 08:55] istvanszabo92 commented on #4323
Similar problem with 1.115.0 (Object of type @aws-cdk/aws-s3.BucketBase is not convertible to @aws-cdk/aws-s3.Bucket)

[2021-07-23 09:02] nija-at commented on #15025
The fix involves a change like this - https://github.com/aws/aws-cdk/commit/dd308b6610a670f0dd91df2476253cffb4cb04a3 - but behind a feature flag to avoid resource replacements on stacks where this already works.

[2021-07-23 09:09] wchaws commented on #9811
Try this:
[code]

from: https://stackoverflow.com/questions/60905976/cloudfront-give-access-denied-response-created-through-aws-cdk-python-for-s3-buc

[2021-07-23 09:16] andreialecu commented on #15733
It appears that the offending security group is being created here:

https://github.com/aws/aws-cdk/blob/e133bca61b95b71d51b509b646ff1720099ee31e/packages/%40aws-cdk/aws-autoscaling/lib/auto-scaling-group.ts#L934-L937

And later on, an application load balancer adds this rule to it:

https://github.com/aws/aws-cdk/blob/e133bca61b95b71d51b509b646ff1720099ee31e/packages/%40aws-cdk/aws-elasticloadbal

[2021-07-23 10:09] argenstijn opened #15735 "(ITopic/Queue): sqs.addToResourcePolicy not added when topic.addSubscription is executed ealier."
When you have the following code:

[code]

The policy statement is added to the SQS but when you do the following:

[code]

the policy statement is not added!

### Reproduction Steps

See code above.

### What did you expect to happen?

IN both cases the result is the same!.

### Environment

  - **CDK CLI Version  : 1.114.0
  - **Node.js Version: v16.4.0
  - **OS               :Windows
  - **Lang

[2021-07-23 10:11] paya-cz commented on #15636
Same problem for `ScheduledFargateTask`:
https://github.com/aws/aws-cdk/blob/8668e15b8a85b369153e9d36d4eab016fc8856f4/packages/%40aws-cdk/aws-ecs-patterns/lib/fargate/scheduled-fargate-task.ts#L118

[2021-07-23 10:24] otaviomacedo commented on #15700
Hi, @markusz

Thanks for reporting this. In `ManagedKafkaEventSource.bind()` we are trying to create a resource using the cluster ARN as part of the ID. Since in this case the ARN is an unresolved token, it fails, as this is not allowed for any construct. We need a different way to create that ID.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this imme

[2021-07-23 10:33] argenstijn commented on #12607
Using the role arn to fetch the role of the function is really nasty. Because the role is mostly a generated value .

Would be must helpful if the role is just retrieved along with the function.

[2021-07-23 10:33] otaviomacedo commented on #15723
Hi, @jefftham

Can you provide us with some code that we can use to reproduce the issue?

Thanks.

[2021-07-23 10:41] #15628 closed

[2021-07-23 10:45] otaviomacedo commented on #15579
Hi, @XuejiaoZhang

Thanks for reporting this. I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg)

[2021-07-23 11:12] njlynch commented on #15297
It appears this is effectively CloudFormation behavior; without a `AWS::EC2::SecurityGroupEgress`, the default "allow all" rule takes effect. Once a `AWS::EC2::SecurityGroupEgress` resource is created, it replaces the default rule.

This can be worked around in this specific case in two ways:
1. Explicitly create an "allow all rule" as well (making the more specific rule redundant)
2. Import the s

[2021-07-23 11:19] njlynch commented on #15340
Thanks for the feature request.

ECR registries [only charge for storage and usage](https://aws.amazon.com/ecr/pricing/), not for the creation of the registry itself, so having an empty registry will not increase costs. Bootstrapping a region without the registry will cause any future updates which necessitate the registry to fail on deployment, potentially with misleading or hard-to-diagnose erro

[2021-07-23 11:41] njlynch commented on #15605
Thanks for this feature request!

We use +1s to help prioritize our work. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for prioritization.

[2021-07-23 12:32] otaviomacedo commented on #15677
Hi, @TingDaoK

I can't reproduce the issue, either, but can you try to increase the memory limit of the `BucketDeployment`:

[code]

[2021-07-23 12:51] minalvnk commented on #11669
Is this issue resolved ?

[2021-07-23 13:01] otaviomacedo opened #15736 "(aws-eks): Make sure kubectl is compatible with the k8s version"
Currently, to update Kubernetes resources, we use `kubectl` version 1.20, [hardcoded in a lambda layer][1]. For now, this works fine, but eventually, as new Kubernetes versions are released, they won't be compatible with the client anymore. Also, it's not an option to always use the latest version of the client, as we [know][2] that `kubectl` version 1.21.0 is not compatible with version 1.20 (and

[2021-07-23 13:16] otaviomacedo commented on #15672
Hi, @chauncey-garrett

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for

[2021-07-23 13:28] TingDaoK commented on #15677
Hi,

I just tested with the change, but still got the exactly same error.😥 So, you cannot reproduce the issue means you pulled the code base and successfully deployed the stack? Which platform/OS you used? Or is it related to the AWS account setting?

[2021-07-23 13:33] james-mathiesen opened #15737 "(pipelines): DockerCredential.docker_hub() silently fails to auth against Docker Hub"
Using DockerCredential.docker_hub() from CDKPipeline will **silently fail to auth** against Docker Hub during all stages of the build.  In our case this makes ContainerImage.from_asset() intermittently fail when executed via CDKPipeline and makes the overall CI/CD process unstable.

Because most users rely on public images on Docker Hub the failure mode is subtle. In most cases users will observe

[2021-07-23 13:37] lebetz commented on #15425
@theipster , for me it looks very useful and this bug is a showstopper for me and also a security issue. So it would be great if you can submit a formal PR.

[2021-07-23 13:44] jefftham commented on #15723
[code]

[2021-07-23 13:57] otaviomacedo commented on #15723
Thanks!

Yes, I believe it's due to the limitation of the /tmp storage. Since this limit is fixed, maybe we should explore using EFS. However, we can't work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-q

[2021-07-23 15:14] njlynch commented on #15637
Hi @ludbek ,

Thanks for the bug report. I'm afraid I can't reproduce the issue with the given code. My stack is able to successfully find the named subnets from the looked up VPC.

Is it possible that the `rds-private-subnet` configuration was added after the fact, and that stack hasn't yet been updated/deployed?

[2021-07-23 15:52] bgshacklett commented on #15088
It's definitely not a stack resource limitation. We're not even coming close to the old limits on a per-stack basis.

[2021-07-23 16:18] njlynch commented on #15682
Thanks for the report @nickpowpow .

This looks like documented behavior for the underlying `CidrBlock` class that has existed almost since day 1 of the CDK (introduced in #250).

https://github.com/aws/aws-cdk/blob/e133bca61/packages/%40aws-cdk/aws-ec2/lib/network-util.ts#L221-L223

Given the central nature of this class, I don't think we would likely opt to change this behavior without good reas

[2021-07-23 16:23] njlynch commented on #15712
Thanks for the feature request and sample code, @dirkgomez .

We welcome community contributions! If you are able, we encourage you to [contribute](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md). If you decide to contribute, please start an engineering discussion in this issue to ensure there is a commonly understood design before submitting code. This will minimize the number of revi

[2021-07-23 16:48] nickpowpow commented on #15682
I gave 10.101.1/16 and CDK calculated 10.100/16. If it was following the
idea it would go to the next block, it would have proceeded to 10.102, and
not backwards to 10.100.

I'm mostly submitting because I spent three hours trying to figure out why
my code was reusing classes (I was also instantiating another 10.100 VPC)
when it was really a typo caused this bug for me. (10.101.1.0/16 instead of
1

[2021-07-23 17:07] hariseldon78 commented on #12610
Thanks. In my case it was configured with "overlay", and i confirm that switching to "overlay2" fixed the problem.

[2021-07-23 17:17] skinny85 commented on #12705
I didn't try @NGL321, feel free to take a stab at it.

[2021-07-23 17:33] dirkgomez commented on #15712
@njlynch I will try to figure out how a simple event target works, the CodeBuildProject looks like a  good start.

[2021-07-23 18:14] BenChaimberg commented on #15499
closed in #15544

[2021-07-23 18:14] #15499 closed

[2021-07-23 18:15] yashwanthkp commented on #15483
Are there any workarounds to update an existing ECR repo policies programmatically using CDK?

[2021-07-23 19:15] christophgysin commented on #12610
@ryparker Could you please clarify what fix you were referring to? It seems that's all that is standing in the way to get this fixed.

[2021-07-23 19:44] naseemkullah commented on #15609
Hi @otaviomacedo, we were able to speed up the sync by increasing the lambda's memory. Thanks, closing.

[2021-07-23 19:44] #15609 closed

[2021-07-23 21:22] biffgaut opened #15740 "(module name): short issue description"
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.IApplicationLoadBalancer.html
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.ApplicationLoadBalancer.html

These pages show a property called listeners on both ApplicationLoadBalancer and IApplicationLoadBalancer. Looking at application-load-balancer.ts, this property does not e

[2021-07-23 22:06] skinny85 commented on #15705
Hi @flemjame-at-amazon ,

thanks for opening the issue, but both me and @comcalvi tried reproducing this locally, and it worked for both of us.

Can you create a GitHub repository with a sample CDK application that reproduces this problem, so that we can clone it, and see what happens?

Thanks,
Adam

[2021-07-23 22:08] skinny85 commented on #15705
Also, I hope you made a typo, and you're not actually using CDK in version `1.12.0` 😉.

[2021-07-23 22:22] #14067 closed

[2021-07-23 22:28] jumic commented on #15740
Can you please paste a link to the `application-load-balancer.ts` where the property is missing? In IApplicationLoadBalancer, property `listeners` exists:
https://github.com/aws/aws-cdk/blob/774b9ed209558dbb94475ad66d854a907205028a/packages/%40aws-cdk/aws-elasticloadbalancingv2/lib/alb/application-load-balancer.ts#L498

[2021-07-23 22:52] biffgaut commented on #15740
What I was missing was the latest code. I was compiling against v1.107 and listeners was added in 1.112. Thanks.

[2021-07-23 22:52] #15740 closed

[2021-07-23 23:16] flemjame-at-amazon commented on #15705
Nope, it's actually 1.112.0, my mistake!

[2021-07-24 01:14] alushnikov opened #15741 "cdk synth: cyclic dependency reported"
CDK fails to generate cloudformation template for role + policy

### Reproduction Steps
Sample code
[code]

### What did you expect to happen?
Expected role to be created with policy attached

### What actually happened?
`cdk synth` generates error
[code]

### Environment

  - 1.115.0 (build f0ca40f)
  - aws-cdk.core==1.115.0
  - v14.17.3
  - Windows 10
  - Python 3.9.6

---

This is :bug: Bug Rep

[2021-07-24 02:09] NGL321 commented on #15741
Hey @alushnikov,

I have been able to reproduce this and confirmed it is a bug in the python construct library. That said, I recommend you alter the above code to not mix L1 and L2 resources, see here:

[code]

One of the devs will update this issue when they have a chance to look into a fix.

😸 😷

[2021-07-24 02:16] NGL321 commented on #15735
Hey @argenstijn,

Thanks for reporting this, unfortunately the provided snippets are a little too vague to properly attempt to reproduce. Could you provide a minimum reproduction sample?

😸 😷

[2021-07-24 02:25] SamuelCabralCruz commented on #12536
Encountered the present issue in the past and dev team's response did work, but now I faced the problem again following update of aws-cdk from 1.113.0 to 1.114.0 with node 14.17.3. After downgrading aws-cdk back to 1.113.0 and cleaning the staging bucket, everything worked fine again.

Hope you guys will find a real fix soon. 🙏

[2021-07-24 02:37] NGL321 commented on #15691
Hey @awsanitha,

Thank you for reporting this, the repro code was exactly what was needed. However, I tried to reproduce this, but I was able to return the lambda destination without error. Could you provide the incorrect cfn template?

😸 😷

[2021-07-24 02:39] amirfireeye commented on #12536
This ugly script fixes assets after deploy so you can deploy again. Run it in the root folder of your project so it can find `cdk.out`. It iterates over assets listed in `manifest.json`, downloads them from S3, extracts to a temporary folder, re-zips, and finally uploads back to S3.

[code]

[2021-07-24 02:40] NGL321 commented on #15675
Hey @eob,

Thank you for submitting this report. Someone on the team will take a look into it as soon as they are able!

😸 😷

[2021-07-24 02:45] NGL321 commented on #15674
Hey @nlongton,

Thank you for reporting this. It seems from the first issue that the error was internal to Cloudformation, not the CDK. May I ask why you think this is distinct?

If it is indeed a Cloudformation error, since it would seem there wasnt traction since the last issue, I can create an internal ticket for you to that team.

😸 😷

[2021-07-24 02:47] NGL321 commented on #15664
Looks like this has been answered, thanks @jumic! 🎉 🎉 🎉

Closing now due to resolution, please feel free to reopen if I am in error!

😸 😷

[2021-07-24 02:47] #15664 closed

[2021-07-24 02:49] NGL321 commented on #15651
Thanks for reporting this @rectalogic!

Since this is a JSII issue, there is a chance it gets tracked on the JSII repo, if you create a ticket there, please reference this one as well 😄

[2021-07-24 02:58] NGL321 commented on #15483
Hey @yashwanthkp,

Thank you for reporting this. It seems that as @nohack said above, at the moment you cant alter policy on a looked-up repository. The reasoning was correct as well.

Unfortunately, I am unaware of a workaround at the moment, but I have converted this issue to a feature request, and one of the devs will take a look at it as soon as able.

😸 😷

[2021-07-24 02:59] NGL321 commented on #15483
@madeline-k this may be a no-op, but I am routing to you in case there is a way.

[2021-07-24 03:09] NGL321 commented on #15515
Closing as discussed until CloudTrail implements features! Please feel free to reopen as soon as they are added

[2021-07-24 03:09] #15515 closed

[2021-07-24 03:12] NGL321 commented on #15437
@RomainMuller should this issue get transferred over to the JSII repo, or should a parallel issue get opened there?

[2021-07-24 03:21] NGL321 commented on #15090
Hey @iDVB,

Did @otaviomacedo's suggestion above work for you?

[2021-07-24 03:23] NGL321 commented on #14524
Hey @mydarpa,

Thanks for reporting this. I am unsure as to why it was not marked as a bug report, but I have adjusted it. Someone will take a look into this as soon as we are able.

[2021-07-24 03:25] NGL321 commented on #13526
Hey @evilsephiroth,

I am unsure as to why this was not correctly marked as a bug report, but I have now corrected it. Someone from the team will attempt to reproduce your issue as soon as able. Please let us know if you have any updates, and we will update this issue when there is an opportunity to investigate further.

[2021-07-24 03:26] NGL321 commented on #13201
Closing due to resolution. Please reopen if this is in error.

[2021-07-24 03:26] #13201 closed

[2021-07-24 03:37] NGL321 commented on #8986
It looks like this is clear to close, if this is in error please reopen and @ me to let me know!

😸 😷

[2021-07-24 03:37] #8986 closed

[2021-07-24 03:39] NGL321 commented on #11886
I am closing this as the question has been answered!

😸 😷

[2021-07-24 03:39] #11886 closed

[2021-07-24 04:47] vishunayak opened #15743 "CdkPipeline.addApplicationStage: Unable to deploy stack into another/cross account"
### description of the bug:

I am trying to deploy cross account resources using CdkPipeline but the application stack always getting deployed into Tools/Services account even though I specifically configure different account under stage.

### Reproduction Steps
let prodEnv = new AppDeploymentStage(this, "Prod", {
      env: {
        account: "xxxxxxxxxxxx",
        region: "ap-southeast-2",

[2021-07-24 09:51] dirkgomez commented on #15712
@njlynch I hit the first roadblock (which may have been the reason to not implement this in the first place).

I added aws-redshift to the dependencies and the peerDependencies in package.json and I get this error:

In package package.json
- [no-experimental-dependencies] It is not allowed to depend on experimental modules. @aws-cdk/aws-events-targets added a dependency on experimental module @aws

[2021-07-24 10:46] stevehodgkiss commented on #15495
These are not odds and ends use cases. A `cdk plan` with a `cdk deploy` in CI is just asking for danger and if the plan won't be the same in the deploy step (it's not approving anything except good luck friend, but with terraform the apply has an outfile file and will be what you will execute). If you want to build a consistent tool that can be used like terraform then this is an oversight.

I thi

[2021-07-24 11:17] g-wozniak commented on #13339
I've used yarn and npm (the precise same version used to build package.lock in both envs) and yarn.lock and the issue still occurs.

The behaviour is different for `npm` and `yarn` but in both cases there are missing binaries in `node_modules/.bin`. `npm` seems not installing all the packages (installed 360 instead of 1200).

When I took the artifact generated by the CodeBuild I wasn't able to bui

[2021-07-24 12:51] jumic commented on #15281
StandardNpmSynth and standardYarnSynth are part of the original version of CDK pipelines. They don't exist in the modern version of CDK pipelines. --> The optimization is not necessary anymore.

[2021-07-24 12:51] #15281 closed

[2021-07-24 15:06] Andrapyre opened #15746 "(codeartifact): repo dependent on domain name creates before domain"
A CfnRepository dependent on domain name from a CfnDomain tries to create before the domain is finished creating. It then results in the following error: "Domain not found. Domain 'artifactory' owned by account '123456789' does not exist'.

### Reproduction Steps

Deploy the following stack:

    import { Stack, Construct, StackProps } from "@aws-cdk/core"
    import { CfnDomain, CfnRepository } f

[2021-07-24 15:57] Andrapyre commented on #15746
As an update, having found [this guide](https://github.com/aws-samples/aws-cdk-developing-application-patterns-blog/blob/137c9f264009f9f8a6782211428c8ca890f9bee3/prerequisites/lib/CodeArtifactResources.ts), I now understand how to set this up. But the setup is very unclear for newcomers and the virtually non-existent documentation doesn't help.

[2021-07-24 17:18] cesarpball opened #15747 "Java CfnJson Example"
## CfnJson and Java example

Couldn't find the best way to use CfnJson with Java and I getting the following error

### The Question

[code]

And having the following error:
`An exception occured while executing the Java class. Resolution error: Resolution error: Resolution error: "${Token[TOKEN.617]}" is used as the key in a map so must resolve to a string, but it resolves to: {"Fn::Join":["",["\

[2021-07-24 18:46] ReidWeb commented on #15537
To add further clarity to my comment immediately proceeding this, the issue can be broken down on two fronts.

### Problem 1 - Reading the objects/resources from the staging (source) bucket

The [`BucketDeployment` custom resource lambda utilises `aws s3 cp` to download the "archive" onto the file system of the lambda](https://github.com/aws/aws-cdk/blob/2647cf300ae0f9053104e3a545e2fd94dd7249e1/pa

[2021-07-24 19:26] argenstijn commented on #15735
The situation is an existing sns topic and then you create an sqs and add it as subscriber to the topic. If you execute the sqs.addToResourcePolicy before rather than after the subscription the result is different.

I will try to add an example late next week. I am on short break.

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden

________________________________
Van: Noah Litov ***@***.***

[2021-07-24 20:06] mmuller88 commented on #9841
you do have a typo and specified two time the region. but it should be:

[code]

[2021-07-24 21:03] kastork opened #15749 "cli: report undeleted resources after cdk destroy"
It would be useful to receive a report of resources that were NOT deleted after running `cdk destroy ...`

### Use Case

During development, it isn't unusual to need to tear down the whole thing and re-deploy. When in this mode, you probably don't care about production level issues (like data preservation).

When you name things yourself...

For example, Dynamodb tables are not deleted (for good r

[2021-07-25 07:15] ludbek commented on #15637
@njlynch Thanks for taking a look at it. I can confirm that 'rds-private-subnet' has already been created.

[2021-07-25 07:32] eladb commented on #55
Yes, reopening. Thanks

[2021-07-25 07:47] eladb commented on #15721
@chris-leach you will need to specify a path relative to current running script directory.

I believe you can do it like this in python:

[code]

I've created #15750 to improve documentation.

[2021-07-25 07:53] eladb commented on #15516
@jsnowacki thanks for reporting! This sounds like a useful feature to add. It will likely take some time before we are able to work on it, but contributors are more than welcome.

[2021-07-25 08:24] mrpackethead opened #15751 "aws-imagebuilder: CfnImageRecipe DeviceName does not get included in synthed templates."
CfnImageRecipe does'nt create a DeviceName property when synthed.  I've had to drop down to using an escape hatch to get it to be included.

[code]

[2021-07-25 08:30] mmuller88 commented on #9841
If someone struggle with that I've got it running with:

[code]

[2021-07-25 09:23] chris-leach commented on #15721
Hi @eladb, thanks very much for your reply but I think you've misunderstood the issue.

The issue is not that the Python script cannot find the source tarball. I made the contrived example above for the purpose of the issue - apologies if it confused things - in my actual application I do of course use an absolute path to refer to the source tarball (as an aside, [`pathlib`](https://docs.python.or

[2021-07-25 10:08] jogold commented on #15691
Hi @awsanitha,

This is how `ResponseOnly` works. It automatically creates an `EventBridgeDestination` with a Lambda target so that the response part of the event can be extracted by Event Bridge for you.

If you want a `LambdaDestination`, do not specify `ResponseOnly`

[2021-07-25 10:26] itaykat commented on #12916
@ericzbeard @skinny85 any update on that issue? we need to fix the allocatedStorage each time we deploy some changes to the stack... which is pretty annoying and causes ci/cd failures again and again.

[2021-07-25 12:03] bodokaiser opened #15753 "(pipelines): additionalInputs fails for certain repository names"
It appears to me that the `repository` parameter used with `CodePipelineSource.connection` fails when used in `additionalInputs` of the `CodePipeline` props.

In our production setup, we get the following failure in the CodePipeline:
<img width="609" alt="Screen Shot 2021-07-25 at 13 57 46" src="https://user-images.githubusercontent.com/1780466/126898146-560b6c9f-48c6-483b-90b6-6ee2faf5f78c.png">

[2021-07-25 17:03] yogarasu opened #15754 "Body property cannot be added to cfnApi"
## :question: General Issue

### The Question

I’m in the process of creating an OpenAPI that can authenticate and approve Cognito.
I added a Body to the API properties,

[code]

but I get an error stating that there is no Body.
[code]

The working branch where the phenomenon is occurring is the link below.
https://github.com/yogarasu/todolist/tree/feature/add-api

### Environment

  - **CDK CLI V

[2021-07-25 21:34] cesarpball commented on #15747
Fixed with this piece of code:

[code]

[2021-07-25 21:34] #15747 closed

[2021-07-25 21:45] cesarpball opened #15757 "(aws-eks): Validation Error Circular dependency between resources EksCluster, FargateProfile, FederatedPrincipals and IAM Role"
# Overview
EKS Cluster creation with Fargate Profiles. the role assigned to the Fargate Profile has a FederatePrincipal and a ServicePrincipal. The FederatePrincipal is created using CfnJson values depending on ClusterOpenIdConnect. The problem of the circular dependency happens when I added the role create to the FargateProfile

### Reproduction Steps

[code]

### What did you expect to happen?

[2021-07-25 22:59] rahulk94 commented on #11187
After a bit of digging with another developer we've found https://github.com/aws/aws-cdk/commit/37debc0513c5174ca3d918fce94a138d5d34b586 for the Lambda Python module. A similar argument on the Lambda NodeJS module could help achieve the desired behaviour here.

[2021-07-26 05:38] ksco92 commented on #15711
Having the same issue:

https://stackoverflow.com/questions/68523505/add-iam-capabilities-to-stack-in-cdk

By adding this to the resources in my stack I start getting this issue:

[code]

Also happening in 1.115, which I installed today.

[2021-07-26 07:01] cesarpball opened #15758 "(aws-eks): Add version 1_21"
At this moment, EKS cluster can be created trought the AWS Console with the latest version available: 1.21

### Use Case

[code]

### Proposed Solution

add Version 1.21

### Other

Issue that I am having right now:

[code]
* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-26 07:03] #15743 closed

[2021-07-26 07:04] vishunayak commented on #15743
The issue is resolved by passing props into the Pipeline stage

[2021-07-26 08:26] nlongton commented on #15674
Noah
Our AWS rep said to raise it against CDK so I did – if you could forward it on that would be great – it’s really annoying that we have to destroy and deploy for any code change to flink.
Are there any work arounds we could try?
Thanks
Nigel

From: Noah Litov ***@***.***>
Sent: Saturday, July 24, 2021 3:46 AM
To: aws/aws-cdk ***@***.***>
Cc: Longton, Nigel ***@***.***>; Mention ***@***.***>
Su

[2021-07-26 08:43] eladb commented on #15721
@chris-leach thanks for clarifying. I will look into it.

[2021-07-26 08:44] eladb commented on #15721
@pgarbe can you take a look?

[2021-07-26 09:06] pgarbe commented on #15721
@eladb sure, can do

[2021-07-26 09:52] girotomas commented on #8273
One of the big problems in my opinion is that the AWS SDK is asynchronous, so it's not compatible with the CDK.

[2021-07-26 10:35] fh17488 opened #15760 "feat(apigateway): disableExecuteApiEndpoint in SpecRestApi does not work"
I have created an API GW endpoint using the SpecRestApi construct. I want to enable mTLS on this endpoint and disable the default endpoint. There are two locations where I can specify the flag to disable the default endpoint. One is in CDK and the other is in the openapi spec file. I have set the flag in both locations but the default endpoint still gets created.

### Reproduction Steps

In the op

[2021-07-26 11:00] nohack commented on #15737
As mentioned looks like docker credential helper is invoked for the dockers official registry when config.json has full url.

When we login to dockerhub, the below entry is added to config.json in auths section.

[code]

If registry is official they use [lookup](https://github.com/moby/moby/blob/e9b07a730ef02df793a28d07eb8ee3c39bba92d8/daemon/info.go#L56) to get server url  and which is [this](htt

[2021-07-26 11:11] nohack commented on #15737
I think we can pass the full url to in docker credential cdk assets to fetchDockerLoginCredentials and check the domain first and fallback to url as well for special cases like this.I doubt if there are any other cases which are similar.
Currently we are passing domain to fetchDockerLoginCredentials.

[2021-07-26 11:14] pgarbe commented on #15721
I can verify that issue. When I created the feature, I used CdkPipeline and it that case it works very well as the workdir in publish-assets stage is within the cdk.out folder (because how the files is moved between the stages within CodePipeline).

@chris-leach do you have already an idea how to tackle that?

Regarding your other comment: The container image handling fails if the exec command doe

[2021-07-26 11:36] chris-leach commented on #15721
@pgarbe My initial idea was to change the way `dockerImages...executable` works so that the subprocess is always run from the root of the cloud assembly directory, but this might have a fairly large impact on backwards compatibility, and possibly require changes to the cloud assmbly specification (I'm not totally sure how these things work). That said, I'm not sure how often `dockerImages...execut

[2021-07-26 12:34] pgarbe commented on #15721
I like the idea of the environment variable. Solves the issue and is also compatible. I'm not much into the cloud assembly manifest so I'm not sure if it violates the spec. Maybe @eladb or @rix0rrr can guide here?

[2021-07-26 12:43] eladb commented on #15721
How is that different from the normal "docker build" we are doing and referencing a directory inside the cloud assembly? I don't see a reason for this to be any different or am I missing something.

[2021-07-26 13:32] pgarbe commented on #15721
The `fromTarball` implementation uses the `execute` source, and for a Dockerfile `directory` is used. See [definition](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/cloud-assembly-schema/schema/assets.schema.json#L132-L142)

If the asset is build from a Dockerfile, the `directory` contains the relative directory inside cdk.out folder. The `buildImage` [implementation](https://gith

[2021-07-26 14:25] gshpychka opened #15763 "(pipelines): ECS task execution role is not gives access to the env file"
I am deploying a ECS app that uses an Asset Environment File.
The ECS task is failing to start because the task execution role is not getting access to the CDK asset bucket, where the environment file is uploaded to.

Things to note:
- The deployment is cross-region, but in the same account
- There was no Asset stage when I did the initial `cdk deploy` of my pipeline - it was created by the first

[2021-07-26 15:03] jordanmonier opened #15765 "(cloudfront): identifier not found"
We are using some Cloudfront Functions for our distributions but when we are deploying some changes our pipeline fails because it can not find the cloudfront based on its identifier. The problem is that the identifier that CDK Pipeline has is not correct.

Here's the error :

```Resource handler returned message: "Resource of type 'AWS::CloudFront::Function' with identifier 'eu-west-1mdscicdmdOffi

[2021-07-26 15:09] otaviomacedo commented on #10549
Hi, @lschierer

Are you sure the permission denied you're getting is because of the lack of permissions to the key? I managed to deploy your example, pointing to a lambda handler that reads an object from the bucket and returns its contents. Everything worked fine.

[2021-07-26 15:15] sebastian-bustillo opened #15767 "(cloudformation): CloudFormation Template format error"
## :question: General Issue

### The Question

So, there's been something very weird happening with my cdk project.

 1. When I run cdk synth, it run without any issues and generates the .template.json file. However, when I try to deploy the
   CloudFormation template, it throws an error (I have double checked the format and it is correct):
      Template format error: Unrecognized resource types:

[2021-07-26 15:36] skinny85 commented on #15767
Hi @sebastian-bustillo ,

can you please copy&paste the relevant parts of your CDK code, and also the `*.template.json` file that CDK generates, as comments on this issue?

(Generally, putting random ZIP files for people to download is not a great way to get them to look at the problem 😜)

[2021-07-26 15:43] nohack commented on #14216
@gurkarangulati For which specific use case of s3, do you need this flag.During synth actual s3 invocation will not happen if I am not wrong.Resources are created during cdk deploy.

[2021-07-26 15:45] sebastian-bustillo commented on #15767
So sorry about! This my first time posting an issue to GitHub... my b

[code]

I don't have any issues with my code specifically but I can post if it would be helpful. The main problem is that a formatting error creeps in when I run ```cdk deploy ```.

Here's the error:
[code]

 As you can see above, the formatting does follow the documentation for AWS::Kendra::Index and AWS::Kendra::DataSource. S

[2021-07-26 16:05] skinny85 commented on #15767
Can you show the relevant part of your CDK code?

[2021-07-26 16:08] sebastian-bustillo commented on #15767
Here's the creation of the Kendra index and the DataSource
[code]

[2021-07-26 16:09] skinny85 commented on #15767
What region were you trying to `cdk deploy` to?

[2021-07-26 16:10] sebastian-bustillo commented on #15767
us-east-2

[2021-07-26 16:20] skinny85 commented on #15767
Are you sure you tried to deploy this through CloudFormation also in `us-east-2`?

I also get the same error as you did when running `cdk deploy` on that code, but CloudFormation errors out for me too:

<img width="1247" alt="Screen Shot 2021-07-26 at 9 19 53 AM" src="https://user-images.githubusercontent.com/460937/127023679-06d78c73-86ac-4cad-86a8-fb63726d00d1.png">

Perhaps this resource type i

[2021-07-26 16:27] sebastian-bustillo commented on #15767
You're right. Amazon Kendra is not supported in ```us-east-2```.

[2021-07-26 16:28] sebastian-bustillo commented on #15767
Thank you!

[2021-07-26 16:28] #15767 closed

[2021-07-26 16:56] jgreen-linx commented on #8367
Is there a method to get the API key if you don't know its ID but know its name or value as you cant create api keys with the same value.
I have multiple stacks that want to use the same key but didn't want to "hard code" the key into the project.
( fromApiKeyId works if you know the key ID and thats my temp solution )

[2021-07-26 17:45] rcollette opened #15768 "(aws-ecs): Provide an enableExecutionCommand method"
When the `enableExecutionCommand` property was added, the `enableExecutionCommand()` method was made private.  The logic that handles this property should have also been exposed as a method so that this feature could be enabled subsequent to construction of the construct.

### Use Case

For use cases where we do not have direct access to construction of the construct, such as in the case of `Appli

[2021-07-26 17:52] rcollette opened #15769 "(aws-ecs-patterns): Add enableExecuteCommand configuration property ApplicationLoadBalancedFargateService"
Surface the `enableExecuteCommand` property of a Fargate service as part of the ApplicationLoadBalancedFargateService construct.

### Use Case

To enable debugging of services.

### Other
Related to : #15768

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-07-26 20:33] ArielPrevu3D commented on #9073
I'm not sure the bug is on CDK's side. I tried using the service-role `arn:aws:iam::114137092123:role/aws-service-role/spotfleet.amazonaws.com/AWSServiceRoleForEC2SpotFleet` (which exists on my account) and Batch sent a strange ARN when creating the Spot Fleet.

![image](https://user-images.githubusercontent.com/77351275/127054839-25cba569-de93-4821-90ef-dbb269736b06.png)

This is a screenshot of

[2021-07-26 20:34] peterwoodworth commented on #15754
How are you creating your HttpApi and what other configuration do you have for it?

[2021-07-26 20:37] gyang-vonage opened #15772 "Eks, KubernetesManifest needs namespace overriding"
Helm and Cdk8s do not generate namespace into manifests, it would be nice to be able to add/override namespaces in generated manifests.

[2021-07-26 20:52] peterwoodworth commented on #15731
I don't think it's possible to code sign layers with CDK. The CDK is able to code sign functions because [Cloudformation supports it](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html) through their `Function` and `CodeSigningConfig` resources. However, the `LayerVersion` resource doesn't come with any properties that support this functionality

[2021-07-26 21:34] NGL321 opened #15773 "Allow `Name` parameter of StateMachine to support input parameters"
At present, the string parser for generating a state machine configuration does not allow for using Stepfunctions input parameters. The idea is to be able to generate a `Name` property like below.

[code]

At the moment, the name property always generates as `Name:` rather than `Name.$:`, preventing using input parameters.

### Use Case

This will allow for more dynamic and reusable state machines

[2021-07-26 21:49] NGL321 opened #15775 "Mount EFS Volume to lambda with existing permissions"
[`fromEfsAccessPoint()`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.FileSystem.html#static-fromwbrefswbraccesswbrpointap-mountpath) automatically applies new [optional](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.FileSystemConfig.html#policies) policies to the generated `FileSystem`, with no configuration option to disable.

https://github.com/aws/a

[2021-07-26 21:51] jumic commented on #15758
@cesarpball I created a PR for the new version. In the meanwhile, you can use workaround `KubernetesVersion.of("1.21")` instead of `KubernetesVersion.V1_21` to use version 1.21.

[2021-07-27 01:12] richarddotcodes commented on #5137
I've got a change ready that allows setting the metadata options in the autoscaling group construct. I created an interface to wrap the options and am passing it in via the asg props. It made sense to put this interface in the instance construct in aws-ec2, since it's a property of the instances and not asg. The issue I'm facing is that the ec2 tests fail awslint because I'm exporting this interfa

[2021-07-27 05:04] rsamarakoonfraedom opened #15778 "CDK Synth generates different S3 bucket reference for lambda stack"
## :question: General Issue

### The Question
Hi Team, For a stack with lambda,  does CDK synth generate a different reference for the S3 bucket that holds the lambda assets ? This behaviour seems to cause our snapshot test to fail on Github Actions workflow.

### Environment

  - **CDK CLI Version:** 1.111.0
  - **Module Version:**
  - **Node.js Version:**
  - **OS:**
  - **Language (Version):**

[2021-07-27 08:07] Rofor51 commented on #12045
This is still relevant. Would be great to have if you want to create a scheduled build after a commit.

[2021-07-27 08:25] #6548 closed

[2021-07-27 08:44] #7370 closed

[2021-07-27 08:50] argenstijn commented on #15735
[code]

vs
[code]

[2021-07-27 09:25] otaviomacedo commented on #10439
I created this stack:

[code]

and the deployment worked as expected, producing two different event notifications:

<img width="1279" alt="Screenshot 2021-07-27 at 10 09 34" src="https://user-images.githubusercontent.com/288203/127128205-91f86f03-034c-4393-8582-9c13c7751460.png">

When I added or removed objects from the bucket, the corresponding messages were sent to the queue.

So I believe this

[2021-07-27 11:30] fazal-kh4n opened #15783 "Cannot Get SSM Parameter Value and Pass It Into Lambda Environment"
### The Question
Hi,

I am playing around with the CDK, (with localstack) and trying to do the following (mainly to see how it all works):

1. Read some environment variables from a .env file.
2. Save these in SSM.
3. Grab these variables from SSM, and then pass them to a lambda function.

My stack definition file, `cdk_integration-stack.ts`:

[code]

My handler function:

[code]

My docker-compos

[2021-07-27 12:07] otaviomacedo commented on #10310
Hi, @nonken

Just to clarify one thing: when you say "only the first origin is passed in the header", does that mean that, in the request you passed a header `Origin: https://baseline.dev` and got back a response header `access-control-allow-origin: https://baseline.dev`?

If so, that's the expected behavior. If you pass a `Origin` request header and it matches one of the CORS rules defined in the

[2021-07-27 13:40] Taity045 commented on #10002
I'm having the same issue , i have tried this to no avail

[2021-07-27 13:59] hoegertn commented on #10002
The workaround with CfnUserPool only works if you import the CFN template. If you import the userpool using `fromUserPoolId` only the custom resource is a possibility. This is due to the fact that CFN can't manage the trigger at multiple locations. See the comment above for more details.

[2021-07-27 14:17] Taity045 commented on #10002
I see, was hoping CDK now supported this and didn't have to go the workaround route,  will replicate this https://github.com/aws/aws-cdk/issues/10002#issuecomment-854169838

[2021-07-27 16:02] jamiepeloquin commented on #11898
If there is a way to +1 this issue, I would like to add mine. We are using i3 for data nodes, and m5 for masters. The current ES Domain construct does not allow for this mix – and unfortunately it is one we already have in production. This was originally created without issue using the `cfnDomain` construct, so I am not at all sure how this construct missed that you can define data and master node

[2021-07-27 16:19] JFox opened #15784 "(pipelines): Auto approve steps when there is no diff"
Version 1.115.0 added the ability to have manual steps that get auto-approved when the `diff --security-only` command returns that there is no diff and only waits for the human action when there is a diff. It would be great to extend this auto-approval functionality not only to security changes but to diffs in general

### Use Case

Big pipelines with many stacks and dependencies and only one of t

[2021-07-27 17:05] dirkgomez commented on #12354
Haven't observed this in quite some time.

[2021-07-27 17:05] #12354 closed

[2021-07-27 17:25] ajaykarpur commented on #6870
Any updates on adding high-level constructs? Looks like the PR mentioned in https://github.com/aws/aws-cdk/issues/2809 hasn't been merged in yet.

[2021-07-27 17:31] revmischa commented on #1773
Something like what Amplify does would be terrific

[2021-07-27 18:02] peterwoodworth commented on #15778
Hey @rsamarakoonfraedom

What exactly do you mean by "different reference"? What is the difference based on?

[2021-07-27 18:15] peterwoodworth commented on #13769
@m90 did you receive any help?

[2021-07-27 18:18] peterwoodworth commented on #13238
Closing this, any concerns with this should go to #13269

[2021-07-27 18:18] #13238 closed

[2021-07-27 18:21] peterwoodworth commented on #13157
@ashishchandr70 can you confirm if the above is the case? I've been unable to reproduce this

[2021-07-27 18:47] nacitar commented on #7729
Same issue present in PrivateDnsNamespace.FromPrivateDnsNamespaceAttributes

[2021-07-27 19:10] peterb154 opened #15785 "(aws-events-targets): target ECSTask adds incorrect input"
When adding a task to an event rule of type ECSTask with no container options, the CfnRule.Targets[x].Input value is "{}".

This causes the event information not to be passed to the container because according the the cloudformation documentation (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-events-rule.html) "If Input is specified in the form of valid JSON, then the

[2021-07-27 19:24] jordankoppole commented on #15088
I ran into the same issue, there is no information in the error that relates to resource limitation.

`/lib/program.js:9474
                    throw new Error('Malformed request, "api" field is required');
                    ^
Error: Malformed request, "api" field is required
`

[2021-07-27 19:29] dillonharlessCORE commented on #9217
I resolved this by temporarily removing my lambda that required bundling, allowed the pipeline to update itself, and then added it back in afterwards. I believe this issue is introduced when you create a pipeline without a privileged build server, and then you add something like a Lambda function that requires docker to bundle dependencies. This causes you to end up with a pipeline that gets halte

[2021-07-27 19:38] ap00rv opened #15786 "(Route 53): interface like IHostedZone should define construct specific methods"
Interfaces like [`IHostedZone`](https://github.com/aws/aws-cdk/blob/2cefe57835391155aa01962f01fe13fbf7b85c3a/packages/%40aws-cdk/aws-route53/lib/hosted-zone-ref.ts#L6) do not define construct specific methods like `addVpc()` . Same thing applies for other interfaces in this construct like `IPublicHostedZone` and `IPrivateHostedZone`.   This prevents us from creating a construct by importing existi

[2021-07-27 19:40] ap00rv commented on #10413
I believe this is [available now](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-route53.PrivateHostedZone.html) but needs a workaround since the `IPrivateHostedZone` or `IHostedZone` interfaces do not define methods like `addVpc()`.

something like :

`(PrivateHostedZone.fromPrivateHostedZoneId(this, ``R53PrivateZone-${hostedZoneId}``, hostedZoneId) as PrivateHostedZone).addVpc(vpc)

[2021-07-27 19:43] chauncey-garrett opened #15787 "(cdk): Add support for changesets of nested stacks"
Change sets for nested stacks are now supported in CF: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/change-sets-for-nested-stacks.html

### Use Case

As a CDK user, I need to preview the change set of nested stacks.

### Proposed Solution

Add an option to view recursively the change set(s) of nested stacks, similar to the following:

[code]

### Other

Nested stack change sets h

[2021-07-27 20:24] ryparker commented on #15786
:wave: Hey @ap00rv

Thanks for opening this issue. Because this functionality has not yet been implemented I am going to relabel this as a feature-request.

I'm also unassigning and marking this issue as p2 which means that we are unable to work on this immediately. I know the type casting is not ideal but it does serve as a workaround for the mean time. We use +1s to help us prioritize our work,

[2021-07-27 20:34] ryparker commented on #15787
Hey @chauncey-garrett :wave:

This would be nice to have. Thanks for opening this request.

I'm going to mark this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://githu

[2021-07-27 20:41] ryparker commented on #15785
Hey @peterb154 :wave:

Thanks for bringing this to our attention.

I'm going to prioritize this as p1 which means it has been prioritized as important. Please keep in mind that we have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is

[2021-07-27 20:47] ryparker commented on #15784
Hey @JFox :wave:

Thanks for the feature request.

I'm going to mark this issue as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONTR

[2021-07-27 20:55] andrewb1234 opened #15788 "(function): Using Lambda .currentVersion results in deployment failures"
In a single application, we are attempting to create lambdas in some stack A and pass them to some stack B to be used in a state machine definition. In the state machine, we are using ```lambdaFunction.currentVersion```, because we have long running workflows and a lambda deployment in the middle could break ongoing executions.

The problem that we are facing is that since we are using the current

[2021-07-27 21:02] ryparker commented on #15772
Hey @gyang-vonage :wave:

Thanks for opening this request.

Would you mind providing a more specific use case/scenario for this feature?

By the way we highly encourage feature requests to use [this template](https://github.com/aws/aws-cdk/blob/master/.github/ISSUE_TEMPLATE/feature-request.md) to provide more context and help us prioritize accurately.

For now i'm going to prioritize this as p2 wh

[2021-07-27 21:05] rmsy commented on #11625
For anyone who may be interested in doing something similar, here's what I have done:

[code]

Then you can just set the value of the `STACK_BUILD_TARGET_ACCT` environment variable appropriately.

[2021-07-27 21:28] jumic commented on #15783
In my opinion, your issue is related to the differences between localstack and the real AWS environment.

If you deploy your code on AWS, you will receive an error message like this:

CloudFormation tries to import those parameters when you create the stack, but they don't exist yet.

If you create the parameters first, you can create the the stack with your lambda function in a second step. Then,

[2021-07-27 22:17] peterb154 commented on #15785
@ryparker understood... We are developing a workaround internally for this. Once I confirm that it is indeed working, I'd be happy to share back.

[2021-07-27 22:20] ryparker commented on #15769
Hey @rcollette :wave:

Thanks for opening this request.

I'm going to mark this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONTR

[2021-07-27 22:33] rsamarakoonfraedom commented on #15778
Hi @peterwoodworth,
Please look at the screenshot attached. I have marked it it yellow.
![CDK_Snapshot_Test](https://user-images.githubusercontent.com/40221534/127236119-92967c03-c2fe-42c6-8dcd-a6d113b067fe.JPG)

[2021-07-27 22:34] skinny85 commented on #15751
Hey @mrpackethead,

thanks for opening the issue. Can you explain what `cfg` is?

[2021-07-27 22:34] skinny85 commented on #15751
Also, why are you using overrides, if you're working with L1s? Why not just change the properties directly?

[2021-07-27 22:35] ryparker commented on #15768
Thanks for creating this and separating it from the other linked issue #15769. 👍🏻

I'm curious to see what @madeline-k says, but for now I will prioritize this as p1 since you described in the issue that this was previously working as a public method and was changed to private in a recent update.

If anyone is visiting this issue and looking for a quick workaround please take a look at the docs on

[2021-07-27 22:36] #15701 closed

[2021-07-27 22:47] ryparker commented on #15765
Hey @jordanmonier :wave:

This is odd. It looks like the CDK generated identifier is missing an `s`. Could you provide some repro code for this? I'm curious to see exactly how that identifier is being discovered in the CDK code.

[2021-07-27 22:52] newmana opened #15789 "aws-amplify: Cannot change custom rules and have source code provider"
After creating an Amplify application for the first time subsequent changes throws an exception:

[code]

It requires the Github webhook to be manually deleted in order for the change to be made.

### Reproduction Steps

1. Create an amplify app with github source code provider

[code]

2. Make a small change to the rules:

[code]

### What did you expect to happen?

Makes the small configuration

[2021-07-27 23:08] skinny85 commented on #15732
Thanks for opening the issue @Voyen. I see two possible ways out of this:

1. Change the default `excludeCharacters` [here](https://github.com/aws/aws-cdk/blob/6f2384ddc180e944c9564a543351b8df2f75c1a7/packages/%40aws-cdk/aws-docdb/lib/database-secret.ts#L64-L64) to have more characters, like `:`.
2. Allow passing your own `excludeCharacters` to `DatabaseSecret`, like we [do in RDS](https://docs.aw

[2021-07-27 23:08] rcollette commented on #15768
@ryparker I apologize if I wasn't clear.   The method I mentioned was never public.  It was "made" in the first place private.   So probably not as much a bug (not a breaking one at least)

[2021-07-27 23:33] skinny85 commented on #15671
Thanks for opening the issue @schwar! We encourage community contributions, so if you'd like to open us a PR adding this functionality, that would be amazing! Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-07-27 23:34] Voyen commented on #15732
@skinny85 I feel like the ideal scenario would be to go with both. The default should be updated as it's technically not a reasonable default to begin with (allowing invalid connection URLs in environments where you cannot encode it), but the option to be able to specify your own `excludeCharaters` would be a great feature as it both lines up with an existing similar construct (RDS) and allows for

[2021-07-27 23:36] skinny85 commented on #15649
Re-assigning to @otaviomacedo, who knows more about CDK Pipelines than I do 🙂.

[2021-07-27 23:56] ryparker commented on #15763
Hey @gshpychka :wave:

Could you provide an example of how you're initializing the ECS task and role? Could you also provide the failure message you're seeing?

Also double check your CDK bootstrap is setup correctly according to the [docs](https://docs.aws.amazon.com/cdk/latest/guide/bootstrapping.html).

If you're using the legacy bootstrap then it may be a problem with the user profile you're u

[2021-07-27 23:58] ryparker commented on #15768
Gotcha thanks for clarifying.

[2021-07-28 00:03] skinny85 commented on #15375
Thanks for opening the issue @jameszh. Confirming I was able to reproduce it. This looks like a JSII problem, I've opened an issue to that project: https://github.com/aws/jsii/issues/2929, let's see what they say.

[2021-07-28 00:18] skinny85 commented on #14964
Thanks for opening the issue @h1008! We encourage community contributions, so if you'd like to open us a Pull Request adding this feature, that would be fantastic! Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-07-28 00:29] skinny85 commented on #15789
Thanks for opening the issue @newmana. Do you happen to know whether this also happens when using Amplify with pure CloudFormation?

I'm basically trying to figure out if this is a CDK problem, or the CloudFormation Amplify support problem.

Thanks,
Adam

[2021-07-28 00:34] skinny85 commented on #15732
Fair enough @Voyen!

Any chance you could open us a Pull Request implementing this? Here's out "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

Thanks,
Adam

[2021-07-28 01:37] skinny85 commented on #15705
Turns out, the customer was using version `1.96.0` of the CDK, not `1.112.0`. I confirm upgrading to `1.115.0` fixes the bug (this is most likely the same bug as was fixed in https://github.com/aws/aws-cdk/pull/14512, first released in [CDK version `1.103.0`](https://github.com/aws/aws-cdk/releases/tag/v1.103.0)).

Resolving, please comment if upgrading to `1.103.0` does not fix the problem.

[2021-07-28 01:37] #15705 closed

[2021-07-28 02:46] newmana commented on #15789
Thanks Adam for getting back - not sure how to determine this. Do you have steps at my end I can do?

[2021-07-28 02:47] BenChaimberg opened #15790 "(kms): PolicyDocument returned from key.addToResourcePolicy does not implement IDependable"
The `kms.Key.addToResourcePolicy` method should return an `iam.AddToResourcePolicyResult` which [includes a `policyDependable?: cdk.IDependable`](https://github.com/aws/aws-cdk/blob/3f5b9101366cebd656e8b1256ca3b69eb6c01834/packages/%40aws-cdk/aws-iam/lib/grant.ts#L328). However, the method [returns an `iam.PolicyDocument` as the policy dependable](https://github.com/aws/aws-cdk/blob/3f5b9101366ceb

[2021-07-28 02:48] newmana commented on #15789
The error in cloudformation:
[code]

[2021-07-28 07:20] deyceg opened #15791 "(pipelines): custom step in Java"
Creating a custom step in the new CDK pipelines API in Java throws a `JSIIException`

### Reproduction Steps

Follow the recommended guidelines for implementing a custom step using the new API: https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/pipelines/README.md#arbitrary-codepipeline-actions

[code]

### What did you expect to happen?

`cdk synth` was successful

### What actually hap

[2021-07-28 07:39] eladb opened #15792 "(core): Duration.zero"
Since `Duration.days(0) == Duration.minutes(0) == Duration.hours(0)` etc, it would nice to be able to specifically say `Duration.zero`.

### Use Case

Aesthetics.

### Proposed Solution

Add `Duration.zero` that represents a zero-length duration.

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature

[2021-07-28 08:40] pahud commented on #14813
I've created a working POC from my laptop. Wondering if someone is working on this PR?

![圖片](https://user-images.githubusercontent.com/278432/127292106-5ab44834-f695-47cf-a056-4305a5e9834c.png)

[2021-07-28 09:03] McDoit opened #15794 "(custom-resources): Expose IsCompleteHandler in AwsCustomResource"
Would be nice to expose the `IsCompleteHandler `in some way in the `AwsCustomResource`
Maybe with type `AwsSdkCall `and what value to look at in which path

### Use Case

Currently working with TransitGateway and certain attachment operations have states, but the command returns before they reach "ready" states

For example the EC2 `acceptTransitGatewayVpcAttachment `call leaves it in `pending` st

[2021-07-28 09:30] fazal-kh4n commented on #15783
Thanks at @jumic, that makes a lot of sense. I will go back and check as per your comment. Much appreciated!

[2021-07-28 09:30] #15783 closed

[2021-07-28 09:46] jordanmonier commented on #15765
Hi @ryparker 👋

I will do that as soon as possible but to quickly resume the hierarchy, my cf function is located inside :

- CDK Pipeline (id: mds-cicd)
- Stage
- Stack (id: mds-main)
- (Custom construct) (id: FrontOffice) (same bug with or without the custom construct)
- Cloudfront (id: WebDistribution)
- Cloudfront Function (id: StaticSite)

Thank you for your feedback !

[2021-07-28 11:05] patrick-tresp opened #15798 "(assets): Uploaded file must be a non-empty zip"
We are facing the issue, that we can not deploy any environment ( production, staging, development, test ) with `cdk deploy` anymore.

The error that raised:

[code]

We can see that cdk.out folder is filled with aseets.[assets-id] folders, but no zip folders are created.

Also interesting is the fact, that if we create a fresh account on aws, bootstrap it and deploy there, everything works as exp

[2021-07-28 12:18] bes commented on #984
Would love this feature, have a somewhat intricate folder structure and I really don't want to duplicate a lot of files...

[2021-07-28 12:53] deyceg commented on #15791
Looks like its a serialization issue during `CodePipeline.pipelineStagesAndActionsFromGraph`. I can create an instance of `ProduceActionOptions` in Java just fine, but when creating a custom step (and attaching it as `post`) it will call `factory.produceAction()` based on the node type (which is of `ICodePipelineActionFactory`). I guess because the return type is an interface not a concrete class

[2021-07-28 12:57] mattcui commented on #15798
I met the similar problem with my golang based lambda function, but I can see the built main file in the asset folder, like cdk.out/asset.08e3e0605a610fe153bcd368387d926e0e5ef54458413fb7232b708045dcaf63/main. And I also can see main file in s3 stage bucket.

[2021-07-28 13:12] patrick-tresp commented on #15798
@mattcui did you find any solution on that?
it seems like it brings our whole infrastructure to a sudden stop.

[2021-07-28 13:23] awsanitha commented on #15691
Hi @jogold - Ok, I'll try that.

[2021-07-28 13:33] awilkins opened #15799 "(bootstrap): json flag does not affect bootstrap output"
### Expected:

[code]

### Actual:

It emits YAML

### Reason to change this

If you want to grab values from the bootstrap template e.g. to decide whether it needs running in a given account, it would be great to be able to

[code]

`jq` is available in standard CodeBuild images but AFAICT an equivalent for parsing YAML is not.

### Environment

  - **CDK CLI Version  : *1.115.0*
  - **Framework

[2021-07-28 13:36] mattcui commented on #15798
@patrick-tresp not yet, I have been struggling for 2 days, no any progress so far.

[2021-07-28 13:44] nija-at commented on #15493
Can you provide the `AWS::ApiGateway::Method` resources from the synthesized CloudFormation template?

[2021-07-28 13:46] nija-at commented on #15573
As far as I'm aware, the CDK does not invoke the API Gateway endpoint as part of its standard operation.

Please update the issue with details following this guidelines - http://sscce.org/

[2021-07-28 14:02] nija-at opened #15801 "(apigatewayv2): get custom domain url for a given stage"
_Forked off https://github.com/aws/aws-cdk/issues/15689_

The constructor for a `Stage` already accepts API mapping options, including custom domain name and mapping key.

Provide a way to get the URL for this stage that uses this API mapping instead of the `execute-api` endpoint.

---

This is a :rocket: Feature Request

[2021-07-28 14:03] nija-at commented on #15801
The implementation will be a slightly different implementation of https://github.com/aws/aws-cdk/blob/dbe4641666c918c7bba36010fb4656d050ef5556/packages/%40aws-cdk/aws-apigatewayv2/lib/http/stage.ts#L174

[2021-07-28 14:03] nija-at commented on #15689
I've opened a feature request for your second request here - https://github.com/aws/aws-cdk/issues/15801

[2021-07-28 14:04] nija-at commented on #15689
Transferring request to certificate manager for your first request.

[2021-07-28 14:15] nija-at commented on #15710
Acknowledged that this is a bug.

The bug is coming from https://github.com/aws/aws-cdk/blob/dbe4641666c918c7bba36010fb4656d050ef5556/packages/%40aws-cdk/aws-lambda/lib/function-base.ts#L309-L310

The key to the memoization should not just be the `identifier`, which in this case is `s3.amazonaws.com`. The fix is to update the identifier to be the "hash" of the `Grantable` object passed.

The worka

[2021-07-28 14:16] nija-at commented on #15710
Since there is a workaround and we have only received one report on this so far, I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback.

[2021-07-28 14:18] nija-at commented on #15760
Can you provide the resource that was generated for the type `AWS::ApiGateway::RestApi` in the synthesized CloudFormation template?

Is this value - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html#cfn-apigateway-restapi-disableexecuteapiendpoint - correctly configured in the template?

[2021-07-28 14:20] bashleigh commented on #3899
Mine seems to ignore my .dockerignore file anyway. Could be because I've changed to context dir but I have also tried adding the .dockerignore file to the root of my context

[code]

Tried both ~/.dockerfile and ~/packages/deployment-service/.dockerfile. Not sure what else to try!

[2021-07-28 14:44] nija-at commented on #15668
Hi @eduardomourar - what specific parts of the core library are you looking to consume?

[2021-07-28 14:48] athkalia commented on #2608
do we know what the underlying error was by any chance?

[2021-07-28 14:55] nija-at commented on #15226
@eladb - as far as I can tell, this feature is not available as part of docker assets in the cdk. Is this a feature request for docker assets?

[2021-07-28 15:14] mmislam101 commented on #4241
+11

[2021-07-28 15:29] eduardomourar commented on #15668
Currently, I have the following dependency:

[code]

But, because this will most likely be expanded, I have no objection in depending on the full content of `/package/@aws-cdk/core`.

[2021-07-28 15:36] skinny85 commented on #15789
1. Generate the template in CDK code version `#1` (with one `customRules`) with `cdk synth` - it will be in `cdk.out`.
2. Deploy that template directly through CloudFormation (console is fine).
3. Change the CDK code to version `#2` (with multiple `customRules`). Run `cdk synth` again. Compare the generated template in the `cdk.out` directory from this step to step 1, to make sure the only change

[2021-07-28 15:40] Dunmord opened #15802 "(apigateway): API Gateway not picking up MethodResponse"
I am using Java CDK and trying to create a GET method for api gateway. When I deploy my stack, I go to the aws console and see that the GET method
response shows "Select an integration response" (like if there was no integration response created). My requests fail because I need that header for CORS. To fix it, I have to go to my integration request and uncheck proxy integration and check it again

[2021-07-28 15:42] nija-at commented on #15576
+1 to @eladb's comment above.

Drop `cdk-` from here. It's already part of groupId.

[2021-07-28 16:29] offbyone commented on #14930
Pipenv isn't the standard, per se, but rather it's _a_ tool recognized by the Python Packaging group as a useful way to think about dependencies. There are, however, many other ways, and most of them roll up to "build a virtualenv and use that". Given that virtualenv is directly supported in the stdlib, that's probably the right mechanism to ship by default in the CDK Python construct example, and

[2021-07-28 16:46] nija-at commented on #15333
Thanks for filing this issue.

The `EcrImageCode` will need to be updated to use `repositoryUriForDigest()` here -
https://github.com/aws/aws-cdk/blob/929d6aef84eb21aea0d9a4fff953a0f39246288e/packages/%40aws-cdk/aws-lambda/lib/code.ts#L460

and `EcrImageCodeProps` will need to be updated to accept a `digest`. property.

Marking as a feature request.

[2021-07-28 16:53] nija-at commented on #15431
Thanks for submitting this feature request.

I'm marking this issue as a p2, which means we will not be working on this right away. We are accepting pull requests if you would like to contribute.

[2021-07-28 17:14] zanussbaum commented on #12501
Is this being actively developed? This a feature that would be a big win for our current Step Function and make migrating to flexible fleets incredibly easy for our team. Otherwise, we will need to re-haul our step function.

[2021-07-28 17:14] #14826 closed

[2021-07-28 17:15] #15062 closed

[2021-07-28 17:18] nija-at commented on #13395
Closing this issue thanks to @msimpsonnz response.

[2021-07-28 17:18] #13395 closed

[2021-07-28 17:28] fh17488 commented on #15760
I have copied the resource that was generated and the disableexecuteapiendpoint is not present in this template.

  exportDeclarationsAPI895AA183:
    Type: AWS::ApiGateway::RestApi
    Properties:
      BodyS3Location:
        Bucket:
          Ref: AssetParameters4c021db0d93564f5ba02dd69ac7585a7cde99e08b423aa01244bb7aa3e47a865S3Bucket265CEEDE
        Key:
          Fn::Join:
            - ""

[2021-07-28 18:15] skinny85 commented on #15581
Summarizing the team discussion on the topic.

-----------------

We ruled out the following options:

* `2.x.y-alpha.z`, where `2.x.y` is the version of `aws-cdk-lib` this package depends on. It was deemed too confusing.
* `0.2.x` (freezing the minor number to be 2, to emphasize this package can only be used with CDK version 2). The problem is that semantic versioning does not allow breaking chan

[2021-07-28 18:21] skinny85 commented on #15576
The final decision is to put "alpha" everywhere - both in the module name, and in the customer-facing parts of the code.

So, the final names will be:

- NodeJS:
    - module name is `@aws-cdk-alpha/aws-<service>` (compared to V1: `@aws-cdk/aws-<service>`)
- Java:
    - `groupId`: `software.amazon.awscdk.alpha` (compared to V1: `software.amazon.awscdk`)
    - `artifactId`: `<service>` (same as in

[2021-07-28 18:51] #15697 closed

[2021-07-28 19:02] jumic commented on #15802
@Dunmord Could you please provide your CDK code that causes the issue? It's difficult to find the root cause if you only provide the CloudFormation output.

One hint/idea: Did you specify the `integrationResponses` property in the `LambdaIntegration` like in this example? Maybe this is missing.
[code]
(I know, my code is TypeScript and you're using Java. However, there should be a similar property

[2021-07-28 19:14] FinHead commented on #1465
Huge help to me, thank you @zxkane!

[2021-07-28 19:23] Litee commented on #4857
I think this problem is resolved now, in the latest CDK (currently v1.115) there is a `stage` parameter.

[2021-07-28 19:24] rectalogic opened #15805 "(efs): No way to specify FileSystemPolicy for FileSystem"
We need to set a `FileSystemPolicy` on our EFS `FileSystem`
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-efs-filesystem.html#cfn-efs-filesystem-filesystempolicy

Can this only be set via property overrides?

### Environment

  - **CDK CLI Version  :** 2.0.0rc15
  - **Framework Version:** aws_cdk_lib-2.0.0rc15
  - **Node.js Version:** v14.17.1
  - **OS               :

[2021-07-28 19:31] #15543 closed

[2021-07-28 19:45] Litee opened #15806 "(aws-cdk/api-gateway): No way to create a BasePathMapping that does not point to a stage"
According to https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-basepathmapping.html it is possible to create mappings that do not point to any stage and point to REST API only. Current `BasePathMapping ` construct does not allow this (see code snippet below).

### Use Case

I have a production REST API that was created some time ago using CDK 1.45.0. In that ve

[2021-07-28 19:59] brettcannon commented on #14930
To be very clear/nit-picky, virtualenv is not in the stdlib, venv is. Virtualenv is a PyPA project which does extra stuff on top of venv.

And as @offbyone said, pipenv is _a_ recommended tool, but it isn't _the_ recommended tool (basically the people who wrote those docs decided to take an opinionated stance to give clear direction and went with pipenv).

[2021-07-28 20:35] siqusoft commented on #15799
getting the following error while bootstrapping wile executing
the following command
cdk bootstrap  -v 3

'@aws-cdk/core:newStyleStackSynthesis' context set, using new-style bootstrapping
environment.indexOf is not a function
TypeError: environment.indexOf is not a function
    at looksLikeGlob (/usr/local/lib/node_modules/aws-cdk/lib/api/cxapp/environments.ts:7:22)
    at Object.partition (/usr/l

[2021-07-28 20:42] #15546 closed

[2021-07-28 21:58] #15548 closed

[2021-07-28 22:45] madeline-k opened #15807 "(kinesisfirehose): When the user specifies no encryption key, there are extra fields added to the template for encryption anyway."
### Reproduction Steps

### What did you expect to happen?

### What actually happened?

### Environment

  - **CDK CLI Version  :**
  - **Framework Version:**
  - **Node.js Version:**
  - **OS               :**
  - **Language (Version):**

### Other

---

This is :bug: Bug Report

[2021-07-28 22:45] #15551 closed

[2021-07-28 22:46] madeline-k commented on #15807
This issue was created in error.

[2021-07-28 22:46] #15807 closed

[2021-07-29 02:00] brendo-m commented on #7622
This would be useful still. Right now my workaround is this: https://gist.github.com/brendo-m/a10f37a7248029a0e6a09b14b5e1600c

Seems like a small amount of work to add this upstream to CDK

[2021-07-29 02:03] fredski-github opened #15808 "(aws-cloudtrail, aws-route53, aws-ec2, aws-s3): possible bucket policy racing condition"
### Reproduction Steps

### What did you expect to happen?

### What actually happened?

### Environment

  - **CDK CLI Version  :** 1.114.0 (build 7e41b6b)
  - **Framework Version:**
  - **Node.js Version:**  v14.17.0
  - **OS               :** N/A using yaml file from cdk synth
  - **Language (Version):**  3.8.2

### Other

---

This is :bug: Bug Report

[2021-07-29 02:39] brendo-m commented on #7622
https://github.com/aws/aws-cdk/pull/15809

[2021-07-29 03:03] #15554 closed

[2021-07-29 06:13] christophgysin opened #15811 "(events-targets): KinesisFirehoseStream should accept a DeliveryStream"
1.116.0 introduces L2 constructs for KinesisFirehose, e.g. DeliveryStream.

events-targets provides a KinesisFirehoseStream target, but expects a CfnDeliveryStream.

### Reproduction Steps
[code]
### What did you expect to happen?

It compiles.

### What actually happened?
[code]
### Environment

  - **CDK CLI Version  : 1.116.0**
  - **Framework Version: 1.116.0**
  - **Node.js Version: 14.17.3**

[2021-07-29 06:24] suspiration commented on #12897
@iliapolo I'm also running into this issue.  I tried turning minimization off, but is still erroring.  Do you mind sharing your webpack configuration which got it working?  I do not mind the large bundle size.

[2021-07-29 06:48] christophgysin commented on #15811
The obvious workaround:
[code]

[2021-07-29 07:42] m90 commented on #13769
I didn't get around to contacting them yet (we've been without this metric for a long time now ...). I'll post here once I have further info. Thanks.

[2021-07-29 08:38] whoami-defnotme opened #15813 "(cli): Mac Homebrew-installed Node interferes with Python CDK applications"
### Bug

I have a basic Python CDK application with all the dependencies installed inside a Python virtual env. From the CLI while inside the virtual env, I can `cdk synth` my app successfully and `cdk deploy` correctly starts the deployment process. However, using a `cdk-deploy-to` script from [here](https://docs.aws.amazon.com/cdk/latest/guide/environments.html), which calls `npx cdk deploy`, I

[2021-07-29 09:35] covertbert opened #15816 "@aws-cdk/aws-apigateway module: Add ability to reference execution log group ARN or Name"
Adding the ability to reference the log group ARN or name that is generated by the `RestApi` construct.

### Use Case

To be able to do *anything* at all with the log group that gets generated (e.g. add a subscription filter) you need to be able to dynamically reference the name or ARN.

### Proposed Solution

Either:

* Create a readonly property on the instantiated `RestApi` class called `name`

[2021-07-29 10:04] desoss commented on #15025
Still not solved in v1.116.0 😢

[2021-07-29 10:27] nija-at commented on #15668
Unfortunately, we have decided to go with monolithic packaging for CDKv2. This RFC goes into the reasons for this - https://github.com/aws/aws-cdk-rfcs/blob/master/text/0006-monolothic-packaging.md

We have separated out the "constructs" part of the CDK into [its own module](https://github.com/aws/constructs/), so users can build their own CDKs.

For users who want to extend the AWS CDK, they will

[2021-07-29 10:33] nija-at commented on #14930
@gliptak - given what @brettcannon and @offbyone, I'm inclined to close this issue and say that we will support only `virtualenv` for now.
We can revisit this at a later time if the tooling and recommendations change.

You can always build your own pipenv based construct library and publish this out. Check out projen that helps you set this up quickly - https://github.com/projen/projen. We'll be h

[2021-07-29 10:36] nija-at commented on #4857
Indeed it was fixed here - https://github.com/aws/aws-cdk/commit/bfc4b5c6b050f9541dfc77999cb043f2f8d03626

Thanks @Litee

[2021-07-29 10:36] #4857 closed

[2021-07-29 10:40] nija-at commented on #15760
Thanks for the update.

I'm marking this feature as a 'p2' which means we will not get to work on it right away.

The workaround for this would be to -

[code]

[2021-07-29 10:45] martijndierckx opened #15817 "S3: cfnspec removed 'name' on S3 AccessPoint"
Up till 1.115.0 it was possible to create an AccessPoint for an S3 bucket like below.
1.116.0 removed the 'name' property. The name prop is however needed to create an Access Point, and cannot be added in a different way.

### Reproduction Steps

[code]

### What did you expect to happen?

Create an AWS::S3::AccessPoint using the specified name

### What actually happened?

Cannot create AWS::S3::

[2021-07-29 12:07] krishansubudhi opened #15818 "(module name): short issue description"
According to this https://github.com/aws/aws-cdk/issues/10348#issuecomment-692685610 we can import existing bucket if the bucket is created in the same cdk app.

[code]
```cfnBucket.replicationConfiguration``` is still giving me Cannot set property 'replicationConfiguration' of undefined error.

This ```test-bucket ``` is being created in the same cdk app.

Use Case:

I have 2 stack. One i am usin

[2021-07-29 13:12] flemjame-at-amazon commented on #15705
I can confirm this was an issue on my end -- my package-lock.json was on 1.95.1.

[2021-07-29 14:03] james-mathiesen opened #15820 "(ec2/Peer): ability to initialize a Peer from an AWS-managed prefix list"
Currently the Peer resource has one integration point with prefix lists:

[code]

However this is not sufficient to construct a Peer from an AWS managed prefix list.  Such prefix lists have predictable names (e.g. `com.amazonaws.us-east-1.dynamodb`) and are marked in the API as owned by AWS but the actual IDs (e.g. `pl-02cd2c6b`) are unpredictable.

### Use Case

AWS currently provides two managed

[2021-07-29 14:23] fredski-github commented on #15808
Reproduction Steps:

* create bucket with: aws_s3.Bucket
* create VPC and associate with bucket: aws_ec2.Vpc
* create flowlog and associate with bucket: aws_ec2.CfnFlowLog
* create Trail and associate with bucket: aws_cloudtrail.Trail
* create Resolver and associate with bucket: VPC aws_route53resolver.CfnResolverQueryLoggingConfig and  aws_route53resolver.CfnResolverQueryLoggingConfigAssociation

[2021-07-29 14:37] ayozemr commented on #14555
Subscribed, interested on when this is addressed. Thanks for the work.

[2021-07-29 14:39] fredski-github commented on #15808
i checked the cloudformation template and it does have a DependsOn statement. is it a cloudformation issue?

      TrailName: TheTrail
    DependsOn:
      - BucketLogsPolicy239CFD00

[2021-07-29 14:43] otterley opened #15821 "(aws-certificatemanager): Imminent end of support for Nodejs 10 Lambda functions"
Support by AWS Lambda for Node.js 10 is ending on August 31, 2021. We should upgrade the Node version in this module to version 14 ASAP after verifying compatibility.

[2021-07-29 14:45] Dunmord commented on #15802
That did it actually. A little confusing as to why setting a method response in the method does not automatically set the integration response to use it. What's the benefit of setting it in 2 different places? One is like the model and the other one is the actual configuration? Appreciate it if we can make that a bit clearer/more obvious.

Safe to close this issue.

[2021-07-29 15:00] #15802 closed

[2021-07-29 15:00] nija-at commented on #15802
Thanks for helping out here @jumic. Appreciate it.

[2021-07-29 15:20] skyrpex commented on #7536
Should https://github.com/aws/aws-cdk/issues/14391 be in this list? It relates to Kinesis Firehose although the code will likely live in the SNS Subscriptions package.

[2021-07-29 15:23] mattcui commented on #15798
@patrick-tresp Today, I retried the deployment, it's successful this time, looked that something was fixed perhaps from server-side. You could have a try.

[2021-07-29 15:25] yogarasu commented on #15754
Sorry, I misunderstood that HttpApi supports the body property.
https://github.com/aws/aws-cdk/issues/11373

[2021-07-29 15:25] #15754 closed

[2021-07-29 15:27] #14930 closed

[2021-07-29 15:41] jmjava opened #15822 "Guidance on setting up cross account access to ECR for multi account CDK pipeline"
It was suggested that I post an issue for Guidance on setting up Multi Account Pipeline in the CDK.

We are looking to store our ECR images in the "shared services account" referenced in the CDK best practices blog post.

![best_practice](https://user-images.githubusercontent.com/591751/127522425-d0ee56b1-1d42-46e0-8648-7da7ddee6edd.jpg)

https://aws.amazon.com/blogs/devops/best-practices-for-deve

[2021-07-29 15:43] patrick-tresp commented on #15798
Hey @mattcui , thanks for the notice.
Unfortunately it still runs into same issue BUT a fresh provisioned account does run into this error.

Will run several deployments now to verify and move resources to that account. :(

[2021-07-29 15:47] BenChaimberg commented on #7536
Thanks for pointing that out, we'll add it to the list! (Along with #14918.)

[2021-07-29 15:54] #15555 closed

[2021-07-29 16:50] rgoltz commented on #15463
Hi @BenChaimberg - Thank you very much for taking over and checking on this issue. Thanks for the reference to CFN documentation. I'd like to share some more findings with you here.  In a nutshell, we see the root cause by an issue in CloudWatch Canary Ressource once using (any) custom Python-Code. I'm aware that's an issue of an other AWS-team.

You can reconstruct the issue by doing the followin

[2021-07-29 16:58] RigoIce commented on #6768
+1

[2021-07-29 17:13] andrewb1234 commented on #15788
Updating the question to add some more context.

In the simple example above, I tested using another feature of the lambda, the functionName, in the description as below :
[code]

Rather than exporting the lambda only, we are now exporting the functionVersion and the function itself.

[2021-07-29 17:45] skinny85 opened #15824 "Move packages like `@aws-cdk/assert` to the new individual-pkg-gen tool"
After https://github.com/aws/aws-cdk/pull/15722 has been merged, we now have a new tool in our repo, `individual-pkg-gen`, that allows releasing modules separately from the main monorepo.

Move all modules that need that capability, like `@aws-cdk/assert` in version `2.x`, to this new tool.

[2021-07-29 17:48] #15703 closed

[2021-07-29 18:28] #12489 closed

[2021-07-29 18:48] skinny85 opened #15825 "Extract jsii-rosetta samples from the unstable modules"
In the current build of unstable modules implemented in https://github.com/aws/aws-cdk/pull/15722, the `rosetta:extract` task is not being executed by the `scripts/transform.sh` script, even if you pass the `--extract` flag to it. That's because the `jsii-rosetta` tool can't be found in the inner monorepo in `packages/individual-packages` for some reason. We need to investigate why, and find a sol

[2021-07-29 18:57] BenChaimberg commented on #15788
Here is a somewhat finicky way to accomplish your goals of versioned Lambda function execution in a state machine, where the function and the state machine are in different stacks:

[code]

A couple of implementation notes:
- `CfnDynamicReference` is used instead of `ssm.StringParameter.valueForStringParameter` or `ssm.StringParameter.fromStringParameterAttributes` to allow for non-versioned dynam

[2021-07-29 19:12] dillon-odonovan commented on #14395
I have a similar need. I'd like to have some Docker Lambda functions (.NET 5) and also have a need to pull in private packages from an internal repository. I'd prefer to have the packages restored during the Docker build, but I cannot find a way to securely provide the token to the Docker build step.

We're capable of achieving this by defining our own CodeBuild projects, retrieving the value from

[2021-07-29 19:28] andrewb1234 commented on #15788
On your last bullet point :
This can cause a potential issue though right? If we have new versions being created for lambdas that are not actually updated (i.e. we are trying to share two lambdas from LamdaStack to SfnStack and one of them is updated), then a rollback would do nothing as it'd be rolling back to a version that is equal to currVersion right?

[2021-07-29 19:35] peterwoodworth commented on #15473
Closing because the question has been answered and there's been 2 weeks without a response

[2021-07-29 19:35] #15473 closed

[2021-07-29 19:35] #15354 closed

[2021-07-29 19:35] #15541 closed

[2021-07-29 19:37] BenChaimberg commented on #15788
I think your misunderstanding may be how rollback deployments occur in this model. In a word, they are roll *forwards* not roll backs. If I understand the scenario right, here's what would happen:

- You have two functions (F1 and F2) that are both being used in your state machine. They currently are both at version 1 (F1V1 and F2V1) and the state machine definition has resolved to these versions.

[2021-07-29 19:39] andrewb1234 commented on #15788
Apologies, accidentally deleted the comment that was just responded to. A gist of what : If I have LambdaA and LambdaB being deployed, is there a risk of a rollback not making any changes if we are always updating per `addMetaData`

[2021-07-29 19:39] peterwoodworth commented on #15406
Thanks for sharing @devendhirababu, much appreciated.

Editing the bootstrap policies is the suggested way to deal with these issues if you're on the latest bootstrap version. If people are still encountering this issue let me know, I'll be closing it again for now.

[2021-07-29 19:39] #15406 closed

[2021-07-29 19:49] jumic commented on #15818
`s3.Bucket.fromBucketAttributes` doesn't create a new S3 bucket. It only imports an existing bucket. Hence it doesn't contain a CfnBucket (which would create a new bucket).

However, you could pass the bucket object from the first to the second stack. In this case, you could split the definition of the S3 bucket and the replication configuration into to CDK stacks in a CDK app.

Example of both st

[2021-07-29 19:50] armenr commented on #6185
...one year later, and the PNPM audience continues to grow :)

[2021-07-29 19:54] ryparker commented on #15791
Hey @deyceg :wave:

Thanks for bringing this to our attention.

I'm going to mark this as p1 which means it has been prioritized as important, although please keep in mind that we do have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone

[2021-07-29 19:55] andrewb1234 commented on #15788
I was able to get this up and tested on my local stack, not sure if it behaves as expected... I made a change to the Lambda Configuration (just updated timeout) to get a new version published (was previously 3, now 4). However, when I look at the StateMachine definition, it is still pointing to the old version of lambda. Additionally, this deployment to lambda did not update Sfn stack (in my code

[2021-07-29 19:58] ryparker commented on #15788
:wave: Relabeled this as guidance since this is not breaking CDK functionality. Let me know if you think otherwise.

[2021-07-29 20:05] ryparker commented on #15794
Hey @McDoit 👋🏻

Thanks for the feature request.

I'm marking this issue as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.

[2021-07-29 20:15] BenChaimberg commented on #15788
Can you confirm that you also deployed StackB2?

[2021-07-29 20:23] deyceg commented on #15791
Hey @ryparker I'd be happy to take a look at it over the weekend. I'm pretty sure if I wrote a TypeScript equivalent it would work. Reasonably comfortable with both languages though not so much with JSII architecture. The actual exception message is from Jackson so it needs a hint of the class it should instantiate.

[2021-07-29 20:25] andrewb1234 commented on #15788
[code]

I can confirm.

[2021-07-29 20:26] peterwoodworth commented on #15818
Thanks for the reply @jumic, saved me some time here. This is a great solution to the question asked!

@krishansubudhi imported buckets will work the same way regardless if the bucket was originally created in the same CDK app or not. That is; they will return an [IBucket](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3.IBucket.html) which as jumic explained, doesn't contain a CfnB

[2021-07-29 20:37] BenChaimberg commented on #15788
There should *always* be changes to StackB2 because of the `addMetadata`...I'm not sure exactly what's up, but try checking the synthesized template for StackB2 and compare the metadata entry on the state machine with the deployed stack (via console is probably easiest).

[2021-07-29 20:53] andrewb1234 commented on #15788
Figured it out.
In line
[code]
Date.now is missing a ().
Changed it to
[code]
And it worked. Figures.

[2021-07-29 21:01] #15788 closed

[2021-07-29 21:20] wimlewis-amazon commented on #12467
@ryparker @peterwoodworth We're running into this problem as well. For us at least, adding `entry:` doesn't affect the problem (and that key is documented as optional-with-a-reasonable-default anyway, so even if that were a fix, this would still be a bug).

I think it's also significant that the path it's looking for is bonkers — there's no reason that the CDK should ever be assembling a path that

[2021-07-29 21:25] skinny85 opened #15828 "Backport the build of V2 unstable modules to `master`"
In order to keep the `master` and `v2-main` branches as close as possible, we should backport all changes from https://github.com/aws/aws-cdk/pull/15442, https://github.com/aws/aws-cdk/pull/15722 and https://github.com/aws/aws-cdk/issues/15589 to `master` as well.

The reason they are on `v2-main` only today is that the version of the `@aws-cdk/assert` library that is compatible with `aws-cdk-lib`

[2021-07-29 21:52] peterwoodworth commented on #15677
I'm using MacOS, and I pulled the code base and successfully deployed on my own AWS account just fine

[2021-07-29 21:58] peterwoodworth commented on #13153
Would it work if you create a [CfnFargateProfile](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.CfnFargateProfile.html) instead? It looks like all it requires is the name of the cluster.

[2021-07-29 22:04] BenChaimberg commented on #15463
Confirmed this behaviour – weird! Synthetics seems to overwrite Lambda's [default behaviour](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-function-code.html#cfn-lambda-function-code-zipfile) of placing inline code into a file named "index.py" and instead places it in a file named after the first part of the handler string. On top of that, the module-loading

[2021-07-29 22:23] ryparker commented on #15753
Hey @bodokaiser 👋🏻

I wasn't able to reproduce this with the given code (replaced connection arn and repos).

Is that error throwing on the Source stage? Looking at the error I can see it starts with `Error calling startBuild` this seems like an error thrown by CodeBuild and not CodePipeline.

[2021-07-29 22:49] ryparker commented on #12467
Hey @wimlewis-amazon

You may want to open a new issue with this as i'm unable to reproduce the original bug from this issue using the latest CDK. Are you using the latest version?

[2021-07-29 23:02] ryparker commented on #15758
Hey @cesarpball :wave:

Thanks for opening this request.

I've marked this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTI

[2021-07-29 23:32] #15602 closed

[2021-07-30 00:20] skinny85 commented on #15576
In Go, the name of the module is a combination of the Git repository name and the NodeJS package name. Our current repository is ` github.com/aws/aws-cdk-go`, which seems like a fine start for the module name. If we re-use that repository for the unstable modules, their name should be something like `github.com/aws/aws-cdk-go/awscdkalpha/aws<service>`, which I think looks quite good.

So, in summa

[2021-07-30 00:27] #14242 closed

[2021-07-30 00:35] peterwoodworth opened #15831 "(ec2): volumeName doesn't set name of volume"
When creating an L2 EC2 **Volume**, you can supposedly change the physical name of the resource with the property `volumeName`. In the code, the only place where the prop `volumeName` is used is [here](https://github.com/aws/aws-cdk/blob/0028d09486b96ea95196aa39df9480689b022951/packages/%40aws-cdk/aws-ec2/lib/volume.ts#L597-L600) inputted as the `physicalName` prop in super()

`physicalName` is ne

[2021-07-30 02:41] peterwoodworth commented on #15817
Thanks for reporting this issue. Looks like Cfn has removed name as a property, but added name as an attribute. Here's the current declaration in the resource spec:

[code]

Here's the changelog generated by cfnspec:

[code]

[2021-07-30 04:19] den-t opened #15834 "(core): Stack.exportValue() fails in an inscrutable way when called on a construct"
Trying to use .exportValue() to temporarily preserve an output from a stack. Met with a circular dependency when running `cdk synth`.

### Reproduction Steps

[code]

### What did you expect to happen?

Expected the synth command to work and produce CloudFormation output.

### What actually happened?

[code]

### Environment

  - **CDK CLI Version  :** 1.116.0 (build d04661d)
  - **Framework Versi

[2021-07-30 04:23] krishansubudhi commented on #15818
Thanks for the response. My use case is that i will have to create bucket in different region and then set up replication configuration. As far as my understanding i can't create bucket for different region from one stack. Please let me know if my understanding is wrong here.

[2021-07-30 04:46] bodokaiser commented on #15753
@ryparker

The error is thrown in the `Synth` `CodeBuild` step right after the Source stage.

Do you repos contain dashes? My hypothesis is that it has something to do with dashes in the repository name which is either not formated correctly or too carefully validated.

In our production setup, the `Synth` `CodeBuild` step has the error:

<img width="609" alt="Screen Shot 2021-07-30 at 06 41 04" s

[2021-07-30 05:04] peterwoodworth commented on #15818
You're correct, according to the [Cfn Docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket.html):

[2021-07-30 06:26] fh17488 commented on #15760
Thankyou. That works.

[2021-07-30 06:50] aax commented on #12898
I stumbled into this when using a simple PythonFunction construct (no nested stacks).

[2021-07-30 07:18] #15039 closed

[2021-07-30 08:43] fs111 opened #15838 "(s3): allow adding BucketMetrics to unowned buckets"
BucketMetrics allow one to have per prefix cloudwatch metrics on buckets. The IBucket interface does not allow adding new ones. The IBucket interface is however the only way to get to an existing bucket within the CDK.

### Use Case

We are having a data architecture where multiple processes are writing to a central S3 bucket (think data-lake of sorts). We want to be able to build cloud-watch dash

[2021-07-30 08:44] stenzing commented on #15287
Just a comment.

[code]

is working as expected. Not even using that JsonPath object, the only thing to note to add the .$ on the end of the key.

[2021-07-30 09:09] otaviomacedo commented on #15677
Yes, I suspect it's related to the AWS account setting. More specifically with the lambda function, which probably doesn't have enough memory or is timing out or something like that.

[2021-07-30 09:25] otaviomacedo commented on #15838
Yes, I believe the solution will be similar to the notifications one. We can't work on this immediately, however.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-07-30 09:32] otaviomacedo commented on #15597
Thanks for the response. I managed to deploy a cluster based on this code snippet without any errors.

Without more information about your VPC and role (and in which region they are) it's hard to tell what's going on.

[2021-07-30 09:36] #15758 closed

[2021-07-30 10:45] jdiegosierra commented on #10219
Same problem changing ONLY DeletionPolicy

[2021-07-30 11:00] #15228 closed

[2021-07-30 11:41] #12872 closed

[2021-07-30 13:15] ggaller commented on #9040
Workaround for this bug in `C#`:

[code]

[2021-07-30 13:39] njlynch commented on #15689
@revmischa ,

When/where are you getting the mentioned error with the certificate?

Can you show a minimal repro?

The root cause of the issue you linked was that the related account/region wasn't bootstrapped. There's also https://github.com/aws/aws-cdk/issues/10529, which is another case of ApiGateway + Certificate Manager causing this issue; in that case, the endpoint type had been set to REGIO

[2021-07-30 13:43] #15211 closed

[2021-07-30 13:55] revmischa commented on #15689
I have run `cdk bootstrap` for this environment and region.

I am doing this to set up the domain mapping:
[code]

Taken from the docs. I don't want a regional endpoint but I don't know any other way to define my v2 HTTP API as a route53 alias target.

[2021-07-30 13:57] camharris commented on #15197
Here's how I handled this in typescript, maybe it's helpful for others. I added the AWS managed police for `ssmmessages`.

[code]

[2021-07-30 14:13] tvb commented on #12940
Having the same issue.

[2021-07-30 14:20] tvb commented on #8799
@pkasravi I fail to understand how writing your own action mitigates the `Error: Bundling did not produce any output. Check that content is written to /asset-output.` error I am seeing too. Could you elaborate please?

[2021-07-30 14:33] otaviomacedo commented on #15608
Looking at your logs, it seems that this function was not called:

https://github.com/aws/aws-cdk/blob/53e7622dd6e7ab7aed9d55292fabcc04f82668c2/packages/@aws-cdk/aws-eks/lib/cluster-resource-handler/cluster.ts#L33-L53

The log statement of line 34 is not printed and one of the log lines reads `onEventReturned: null`, when it should contain a `PhysicalResourceId`.

We need to spend more time invest

[2021-07-30 14:34] otaviomacedo commented on #15672
I doubt that the two are related, but it's possible.

[2021-07-30 14:39] vgribok commented on #13153
Looking at the spec, it may. I am not actively working on this project for now. Will revisit when I am back on this task.

[2021-07-30 14:56] eduardomourar commented on #15668
I have a meeting with @eladb in August to show him what we've got at [Stedi](https://docs.stedi.com/) in regards to CDK. In sum, we have a service that accepts a CloudFormation-like template, which can be synthesized using a simplified version of the AWS CDK.

Think of this along the lines of cdktf and cdk8s, but requires less customization because we are a lot closer to CloudFormation syntax. In

[2021-07-30 15:02] jrruethe commented on #15450
I am affected by this, and I believe the issue was introduced with this commit:
https://github.com/aws/aws-cdk/pull/14834

[2021-07-30 15:54] roblambell commented on #15255
The property we override here to get this working is `BackupPlan.BackupPlanRule.0.CopyActions`

[2021-07-30 16:22] skinny85 commented on #15828
@nija-at gracefully volunteered to handle the migration of the unstable modules to `@aws-cdk/assertions`. Until that migration is complete, this task is blocked.

[2021-07-30 16:39] skinny85 commented on #15586
This should probably be done in a very similar fashion to https://github.com/aws/aws-cdk/pull/15826, which was solving a very similar issue (https://github.com/aws/aws-cdk/issues/15585) for the `@aws-cdk/aws-lambda-go` package.

[2021-07-30 16:42] skinny85 commented on #15585
Now that https://github.com/aws/aws-cdk/pull/15826 has been merged, we need to remove [this exclusion](https://github.com/aws/aws-cdk/blob/a2e95e97fc775d061b405fdb932ffda269084357/packages/%40aws-cdk/aws-lambda-go/package.json#L106) from `packages/@aws-cdk/aws-lambda-go/package.json` on the `v2-main` branch, and confirm it builds successfully.

[2021-07-30 16:50] peterwoodworth commented on #13153
I can check to see if this works myself sometime in the next week

[2021-07-30 16:54] #15731 closed

[2021-07-30 17:51] jumic commented on #15834
You are trying to export the whole SNS topic construct in this line:
[code]

To resolve the issue, you need to specify which attribute you want to export, e.g. `topicArn`:
[code]

The circular dependency error should disappear after this change.

[2021-07-30 18:22] #15724 closed

[2021-07-30 19:07] aragevorkian opened #15842 "(aws-chatbot): SlackChannelConfiguration.slackChannelConfigurationArn not returning a valid ARN"
I have a setup with two stacks A and B, where B depends on A. I created a ``SlackChannelConfiguration`` resource in stack A and I export the ARN for this resource via ``slackChannel.slackChannelConfigurationArn``.

In Stack B I import this ARN and when I call ``SlackChannelConfiguration.fromSlackChannelConfigurationArn`` I get the error:
`The ARN of a Slack integration must be in the form: arn:aws

[2021-07-30 19:27] den-t commented on #15834
Yep. The issue is that topic is required in the second stack, not just its ARN.

I'm using `lambda.Function.addEventSource(new lambdaEventSources.SnsEventSource(props.snsTopic))`.

[code]

There are workarounds. But they are all rather manual and don't follow the simplicity of .exportValue().

[2021-07-30 19:42] andrewb1234 opened #15843 "(function): lambda.currentVersion doesn't reflects version created outside of CFN"
Issue is a continuation of : https://github.com/aws/aws-cdk/issues/15788 .

I am running into an odd issue that I do not believe is an expected behavior. I have some lambda (functionA) belonging to stackA and a new version of functionA is created outside of a CFN deployment (unsure why but not important). I then pass functionA's current Version to stackB via a SSM parameter.

The problem I'm havin

[2021-07-30 19:49] den-t commented on #15834
Taking it back. :) `this.exportValue(this.snsTopic.topicArn)` produces the same output as using the topic property elsewhere would.

My issue is resolved. But how could it be communicated so that confusion like in my previous message is avoided?

Was genuinely expecting that I need to export the same value as used in the second stack. Turns out can export only the ARN?

[2021-07-30 20:21] jumic commented on #15834
Do both stacks belong to the same CDK app? In this case, you can pass the topic between both stacks as described here:
https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#accessing-resources-in-a-different-stack

CDK does the CloudFormation export/import in the background automatically. You don't have to use `this.exportValue()` in your code.

[2021-07-30 20:24] den-t commented on #15834
I was working toward making changes after I used the topic in another stack.
Essentially following the next section https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#removing-automatic-cross-stack-references

[2021-07-30 20:31] den-t commented on #15834
The second stack is using `ITopic` in `new lambdaEventSources.SnsEventSource(props.snsTopic)`.

So I expected that for the first deploy I need to `.exportValue(ITopic)`, not `.exportValue(ITopic.topciArn)`.

[2021-07-30 21:11] BenChaimberg commented on #15843
Discussed offline – the code value was being supplied to the CfnFunction via CFN parameters which are not updated even if the code changes, so currentVersion did not register a change and thus the template had no changes.

[2021-07-30 21:11] #15843 closed

[2021-07-30 22:53] ryparker commented on #15786
@ap00rv

After some investigation the type returned by `PrivateHostedZone.fromPrivateHostedZoneId()` should not include methods such as `addVpc()` by design. Imported resources cannot be modified using the CDK. Even though the Typescript error is resolved with typecasting you'll notice that modifying the imported resource does not actually do anything.

See the "Importing existing external resourc

[2021-07-30 23:06] peterwoodworth commented on #12486
Closing in favor of #12484

[2021-07-30 23:06] #12486 closed

[2021-07-30 23:20] NathanBWaters opened #15844 "(aws-cdk/aws-ecs): Unable to construct ContainerImage from tarball."
When trying to load a Docker image from a tarball, I get the following error:
[code]

### Reproduction Steps

1. Follow this tutorial: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/tutorial-ecs-web-server-cdk.html
2. Replace `hello-ecs-stack.ts` with:
[code]
3. Create tar of docker image.  I used ` docker save alpine/git -o lib/alpine.tar`.
4. run `cdk list`

### What did you expect

[2021-07-30 23:24] skinny85 opened #15845 "Fix the doc build in the `cdk-v2-main` pipeline"
After #15722 was merged, the `cdk-v2-main` pipeline failed in the doc build:

[code]

Looks like the `@aws-cdk-alpha/*` packages are somehow being picked up by the Python doc build, despite not producing an artifact from `pack`.

Perhaps it's something in the `gen_doc_index.py` file in the doc build for Python?

[2021-07-30 23:38] peterwoodworth commented on #12484
[This section in the docs](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-autoscaling/README.md#machine-images-amis) states that:

@rix0rrr was this how it previously worked? I can't get my machine ami id to cache, this seems to be an error in our documentation. The only things that cache to cdk.context.json are the [context methods](https://docs.aws.amazon.com/cdk/latest/guide

[2021-07-31 00:40] wimlewis-amazon commented on #12467
@ryparker I can't reproduce the bug in the top comment either, whether in the current version or the version it was reported against. Can you reproduce it in an earlier version of the CDK? I'm beginning to think that the problem is actually in one of the non-CDK subclasses of `Stage` that both @smaxwell-amazon and I are using (check the pre-edit version of the issue submission), not with the code

[2021-07-31 00:46] peterwoodworth commented on #13153
@ismferd @vgribok I can confirm that you can attach a fargate profile to a Cluster without needing the cluster object by using [CfnFargateProfile](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.CfnFargateProfile.html). I just created a stack with only the Fargate Profile L1 construct and attached it to an existing cluster by providing the cluster name. Ping me if you need more he

[2021-07-31 00:46] #13153 closed

[2021-07-31 02:47] skinny85 commented on #15845
I have a suspicion this might be related to [this comment](https://github.com/aws/aws-cdk/pull/15722#discussion_r678285130) from #15722, which resulted in changes to the `jsii` keys of the unstable packages on the `v2-main` branch, [like these](https://github.com/aws/aws-cdk/blob/7ae75188211af3fa6427e6ae76e035de44af2076/packages/%40aws-cdk/aws-amplify/package.json#L23-L30).

[2021-07-31 07:39] DioNNiS opened #15846 "How to connect lambda to CloudFront? AWS CDK JS"
## :question: General Issue

Code:

[code]

Error:
[code]

### The Question
1. According to documentation: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudfront-readme.html#connection-behaviors-between-cloudfront-and-your-origin no role needs to be provided.
2. How to provide the required role?

### Environment

  - **CDK CLI Version:** 1.116.0
  - **Module Version:** 1.116.0
  - **Node.j

[2021-07-31 11:08] jumic commented on #15834
You don't need to export the whole topic construct in this case. You only have to export the properties, that are used in the second stack.

Please try to use the following:
[code]

In folder `cdk.out`, you can check the `Outputs` section of the generated CloudFormation template. You need to make sure that the outputs will not change after you remove the cross-stack-reference. Exporting the topicA

[2021-07-31 19:57] den-t commented on #15834
How do I know which properties are used? I'm only specifying the construct reference, please see below.

That's what I've done in this [comment](https://github.com/aws/aws-cdk/issues/15834#issuecomment-890117550):

The confusion is that I'm not using any properties in the second task. Am using the reference to the whole construct.
Please note `.snsTopic`, not `.snsTopic.topicArn` in another stack.

[2021-08-01 00:34] yo1dog opened #15847 "(@aws-cdk/aws-lambda-nodejs): Does not use closest/first lockfile."
`NodejsFunction` bundling does not use the correct lockfile if a lockfile for a different package manger exists in a parent directory.

https://github.com/aws/aws-cdk/blob/58fda9104ad884026d578dc0602f7d64dd533f6d/packages/%40aws-cdk/aws-lambda-nodejs/lib/function.ts#L137-L139

This code searches the current and all parent directories for PNPM, then yarn, then NPM lock files. So even if an NPM lock

[2021-08-01 00:34] yo1dog commented on #15847
Sorry submitted too soon by accident.

[2021-08-01 02:10] whoami-defnotme opened #16039 "Python: jsii throwing error on Python list after recent CDK update"
## :bug: Bug Report

### Affected Languages
- [ ] `TypeScript` or `Javascript`
- [X] `Python`
- [ ] `Java`
- [ ] .NET (`C#`, `F#`, ...)
- [ ] `Go`

### General Information
* **JSII Version:** 1.29.0 (from `python3 -m pip show jsii`)
* **Platform:**     macOS 11.5.1

### Problem

After a relatively recent CDK fix to finally allow an easy method for using static IP addresses (https://github.com/aws/

[2021-08-01 08:15] ggaller commented on #9040
I think that problem start since this [commit](https://github.com/aws/aws-cdk/commit/9a552c275ee011fd794b27735503d139f538f70a). `Tags` property was changed in the schema and `codegen` begin resolved it as `Map` instead `List`.

[2021-08-01 08:37] eladb commented on #15721
@njlynch @rix0rrr it seems like `buildExternalAsset()` runs the executable without setting the `cwd`. Would it make sense that `cwd` will be set to the cloud assembly root?

https://github.com/aws/aws-cdk/blob/a8b1c471b7058bbf739a1d4f5b4860656ebd5432/packages/cdk-assets/lib/private/handlers/container-images.ts#L86

[2021-08-01 08:39] #15711 closed

[2021-08-01 09:30] jumic commented on #15834
Sorry, I thought you are still trying to solve the issue.

As far as I know, there is no overview which properties you have to export. If somebody else knows an overview/documentation, please add it here.

I think you have to options how to get the properties that need to be exported:
- Check `Outputs` section of the CloudFormation in folder `cdk.out`. Maybe it's possible to recognize the properti

[2021-08-01 10:39] jumic commented on #15842
When you import the SlackChannelConfiguration, the token ARN will be resolved during the CloudFormation deployment.
However, the following check will be executed during CDK synth. At this time, the value is not yet available. `slackChannelConfigurationArn` contains a tokenized value which can't be resolved yet and the validation fails.
https://github.com/aws/aws-cdk/blob/a6fac4974fa17949b836c72d04

[2021-08-01 12:23] revmischa opened #15850 "cognito: The provider Google does not exist for User Pool eu-west_xxxx"
When I deploy a stack for the first time with a `UserPoolIdentityProviderGoogle` resource and a client with `UserPoolClientIdentityProvider.GOOGLE` as a `supportedIdentityProvider`, I get an error:

`The provider Google does not exist for User Pool eu-west-1_D4Lw3qvRK.`

If I remove `GOOGLE` from `supportedIdentityProviders` the first deployment and then uncomment it after the pool is deployed all

[2021-08-01 19:46] mikestopcontinues opened #15851 "CLI: Using the CDK programmatically"
The CDK makes it really easy to deploy infrastructure as code, but using the CDK itself is limited to the command line. We should have easy access to `boostrap`, `diff`, `deploy`, and `destroy` functionality within code.

### Use Case

I'm developing a multi-tenant app with custom domains, which hits a lot of AWS quota limits, so I have to spread my user accounts across an arbitrary number of sub-

[2021-08-01 19:53] sesopenko commented on #6068
I'm also experiencing this issue with CDK version 1.111.1.  I lost about an hour trying to sort out a workaround of this issue because the validation error is a red herring, doesn't actually explain what the problem is.  The validation error doesn't assist the user with figuring out how to resolve the issue.

[2021-08-01 20:20] sesopenko commented on #6068
I'm synthesizing CloudFormation templates in a build pipeline for a later deployment stage.  I added resources to the API over time, with multiple deployments.  When trying to remove resources from the API and add a single, new one, I get the above validation error, even if the integration is created before the API resource.  I've tried renaming the resource ID to hopefully hoist a new API resourc

[2021-08-01 20:22] jumic commented on #15850
Seems to be similar to issue #15692.

You have to add the dependency between the IdentityProvider and the WebClient manually.

[code]

Specify dependency:
[code]

After this change, the IdentityProvider will be deployed first. Then, the WebClient will be created. The deployment will not fail anymore because it can find the referenced IdentityProvider (which is created before).

--> As already prop

[2021-08-02 00:25] joekendal opened #15852 "(aws-secretsmanager): rotationSchedule only allows whole days"
## :question: General Issue

Currently, the [RotationScheduleOpts](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-secretsmanager.RotationScheduleOptions.html) only allows for a Duration that can convert to a number of whole days. It cannot work on an hourly basis or on a minutes basis. This seems to defeat the whole purpose of the feature (to allow customisation). It is also misleadi

[2021-08-02 00:27] joekendal commented on #15852
For reference, this repository is the intended use case https://github.com/joekendal/aws-oauth-rotator . It is possible to add a scheduled lambda to manually rotate the secret at a custom interval but this seems like an unnecessary step for users.

[2021-08-02 00:29] joekendal commented on #15852
This issue may need to be transferred to the relevant RFC. Or a pattern should be released to make the custom interval with a lambda

[2021-08-02 02:22] ffxsam commented on #12570
Any suggestions on how we should work around this, since CDK doesn't support it? Other than just enabling it manually via the AWS Console? Or is there some sort of under-the-hood way of defining this in our CDK scripts?

[2021-08-02 02:25] TheAksh commented on #12570
Two options until this issue is implemented/resolved:
1. You can enable it every time in the code that calls the S3 method. (the one that uses aws-sdk)
2. Enable it manually via AWS Console (but this setting will reset every time CDK Deployment happens)

[2021-08-02 02:36] ffxsam commented on #12570
Regarding #1: I don't think that'll work. Transfer acceleration has to be enabled first for the bucket, before you can use it in S3 API calls.

This means the code would have to use [PutBucketAccelerateConfigurationCommand](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-s3/classes/putbucketaccelerateconfigurationcommand.html) in the runtime code.

Not sure either of these op

[2021-08-02 04:08] peterwoodworth commented on #15852
There's nothing the CDK can currently do about this, [CloudFormation asks you to input a number of days.](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-secretsmanager-rotationschedule-rotationrules.html). You can feel free to open a feature request for a workaround to this, but you'll likely need help from [the community](https://join.slack.com/t/cdk-dev/shared_invi

[2021-08-02 04:44] #15852 closed

[2021-08-02 05:09] peterwoodworth commented on #15778
[This thread](https://github.com/aws/aws-cdk/issues/14555) helps explain some of how the hashes are calculated. Currently, hashes are OS-dependent. That could be the source of this issue

[2021-08-02 05:26] peterwoodworth commented on #15846
Hey @DioNNiS, can you show your code where you create your `CloudFrontWebDistribution`? Thanks

[2021-08-02 06:18] peterwoodworth commented on #15637
Hey @ludbek,

I was able to reproduce this error if I:
- First lookup the VPC  _before_ configuring the RDS private subnet
  - this will cache `public-subnet` and `private-subnet` in your `cdk.context.json`
- Then add the RDS subnet to the VPC and deploy
- Add the RDS subnet group to the stack with the looked up VPC. Your `cdk.context.json` already has the data cached for your VPC from when we fir

[2021-08-02 06:46] peterwoodworth commented on #13833
Hey @dxunix, sorry for the long reply here.

Could you post what the difference is in the synth output between the two possibilities here? Thanks

[2021-08-02 06:56] DioNNiS commented on #15846
nothing special

[code]

[2021-08-02 07:52] marmoy commented on #8285
I had this issue when synthesising with the CDK CLI, but if I synthesise with the CDK C# SDK the hashes remain the same. Don't ask me why there's this difference, but maybe the information can help someone else.

[2021-08-02 07:54] whoami-defnotme commented on #15813
Felt like this might be a Node issue, so I filed [this](https://github.com/nodejs/node/issues/39625) as well.

[2021-08-02 08:14] m90 commented on #13769
Surprisingly, it turns out I cannot contact AWS support about this anymore as we've graduated out of Activate recently and are on a Basic support plan, so there's that. Since all non-production environments do work as intended using the same config I guess I will just wait for a good moment to recreate our production stack and see if it fixes that.

[2021-08-02 08:19] luchees opened #15853 "(module name): short issue description"
### Use Case

### Proposed Solution

### Other

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-08-02 09:17] christophgysin commented on #12570
Since it is [supported by Cloudformation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-accelerateconfiguration.html) you can use [Escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html).

[2021-08-02 10:19] tsaluszewski commented on #4907
Any update or workaround 🙏  ?

[2021-08-02 10:51] flavioleggio commented on #15366
Same here, wouldn't have been easier if it was a new method with a simple deprecation of `enableFargateCapacityProviders`?

[2021-08-02 11:24] ffxsam commented on #12570
Perfect, thank you! Looks like `addPropertyOverride` is what I need.

[2021-08-02 11:31] christophgysin commented on #12570
That would work, allthough `addPropertyOverride` is meant for properties that are supported by CloudFormation but missing from the spec. In this case it's even possible to set the property in a type-safe way:
[code]

[2021-08-02 12:29] tifa64 commented on #7237
+1 would love to this feature in CDK

[2021-08-02 13:26] max-allan-surevine opened #15854 "cli: Can't get region/account from CDK_DEFAULT variables"
When trying to get the latest AMI ID, CDK will not deploy/synth because the account/region is not known. It suggests setting environment variables which I have done. But still nothing.

### Reproduction Steps

[code]

### What did you expect to happen?

An SSM parameter created with the value of the AMI ID.

### What actually happened?

[code]

### Environment

  -  cdk version 1.115.0 (build f0ca

[2021-08-02 13:31] max-allan-surevine commented on #15854
NB If I were to add those values to bin/simplestack.ts it kinda works :
[code]
Then it only fails to find an AMI, but at least tries to find it!
[code]

[2021-08-02 15:34] njlynch commented on #15845
All of the service module packages (both stable and experimental) include a `from .._jsii import *` import line within their `__init__.py` file.

This works for all of the stable services, because they are all in a flat directory structure alongside the `_jsii` module:

[code]

However, the alpha packages are all one level deeper (under the `alpha` directory), meaning the correct import statement

[2021-08-02 15:36] BenChaimberg commented on #15463
I am unassigning myself and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to reevaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritizatio

[2021-08-02 16:18] peterwoodworth commented on #13769
Sorry again for the experience here. Please ping me once you're ready to revisit this issue :) Hopefully a recreation will work out since your non-prod environments work. I'll close this issue for now

[2021-08-02 16:18] #13769 closed

[2021-08-02 16:21] richarddotcodes commented on #5137
Checking in again. If I could get some feedback to unblock this change, it would be much appreciated. Thanks!

[2021-08-02 16:26] DahShahar opened #15856 "@aws-cdk/pipelines: CodePipeline does not honor wave names for single stack waves"
When creating a CodePipeline, I've added multiple waves. I recognize that some waves will only have one region/stack. However, this is our `beta` or `Prod-Wave-1`, wherein we are expecting to only have a single region. When we only deploy to one region/stack, then the CodePipeline construct seems to ignore the WaveId I provide, and instead uses the `${region}.${accountId}`, which I provide as the

[2021-08-02 16:47] #15842 closed

[2021-08-02 17:56] ffxsam commented on #12570
Thanks! I definitely would not have figured that out on my own.

[2021-08-02 17:59] ffxsam commented on #12570
One quick note: that should be:

[code]

[2021-08-02 18:24] BenChaimberg commented on #15214
Sorry for all of the back in forth with the labeling. We should definitely allow this to happen, as long as `partitionKeys` are supplied. To fix this, we will need to change the following line to only throw if `partitionKeys` were not supplied or are also empty.
https://github.com/aws/aws-cdk/blob/440ca35cf0f0e9f6f86bef445bd9aa6ef05ff9be/packages/%40aws-cdk/aws-glue/lib/table.ts#L342

I am unassig

[2021-08-02 18:27] lony opened #15859 "(all Cfn Resources): Enable import_value for Cfn resources"
I want to use cdk.Fn.import_value for ALL elements of a Cfn resource.
For example, I have a security group and want to assign a port as a reference to RDS but can only use numbers.
I operate CDK using Python and would love to have the same flexibility as using CloudFormation directly with troposphere.

[code]

### Use Case

- Create CloudFormation resource
- Link values inside stack as using YAML

[2021-08-02 18:58] peterwoodworth commented on #15846
[`LambdaFunctionAssociations`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudfront.LambdaFunctionAssociation.html) should take in:
[code]
You're currently passing in `functionVersion` as the prop instead of `lambdaFunction`. Role isn't what's showing up as undefined, the property `role` (which as you noted isn't required) can't be found on an undefined object. This means that t

[2021-08-02 19:08] christophgysin commented on #12570
Thanks, fixed the example.

[2021-08-02 19:20] ryparker opened #15860 "(aws-lambda): profiling not enabled when `profiling: true` with Python v3.6+ runtime"
CodeGuru profiling for Python lambdas is not supported as [the docs describe](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-readme.html#lambda-with-profiling). CDK supports Java profiling just fine because all that is required on Java lambda’s is to add [two environment variables](https://docs.aws.amazon.com/codeguru/latest/profiler-ug/lambda-custom.html). However for Python lambdas y

[2021-08-02 19:30] sarbajitdutta commented on #3126
I have the same issue it seems onePerAz is not being honored.

[code]

[code]

[2021-08-02 19:32] ryparker commented on #15860
Related SIM #P49919461

[2021-08-02 19:32] peterwoodworth commented on #10002
Thanks to everyone who helped in this discussion. To sum this up, imported resources are inherently limited, so modifications to existing resources can often be tricky and require workarounds. The best workarounds are to use [custom resources](https://github.com/aws/aws-cdk/issues/10002#issuecomment-854169838) or to [import an existing template](https://github.com/aws/aws-cdk/issues/10002#issuecom

[2021-08-02 20:06] nsaman opened #15861 "Shared stepfunction role causing (false) cyclic dependency"
## :question: General Issue
When having parent stack StackA and child stack StackB, If StackA passes a Role used in StateMachine of StackB, a cyclic reference error is produced. I've create code repository SharedStepFunctionRoleDemo to show the below error

### The Question
Is there a defect below?
StackA.ts

[code]

StackB.ts

[code]

app.ts
[code]

package.json

[code]

### Environment

  - **CD

[2021-08-02 21:12] peterwoodworth commented on #15649
The interface `IAction`'s prop `ActionProperties` contains a prop called `role`. Using this prop will result in using that role instead of creating `codepipelineBlahblahblahActionRole`

https://github.com/aws/aws-cdk/blob/7e41b6b745ff185110b7aba3db15d30bb35577bc/packages/%40aws-cdk/aws-codepipeline/lib/pipeline.ts#L694-L709

However, the role has to be owned by AWS. This is the only way that the C

[2021-08-02 21:16] zhouxie123 opened #15862 "aws-ecs: EcsOptimizedImage - inferentia type not supported"
Hi, my team is building a service and setting up our infrastructure through CDK. We are using ECS to deploy and manage our service on EC2 Inferentia inf.6xlarge instances. We are seeking to use ECS-Optimized AMI to build on the instances as documented by ECS team here https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html. However, it seems that inferenia image type is

[2021-08-02 21:38] ffxsam opened #15863 "(aws-cognito): lambdaConfig.customEmailSender description seems incorrect"
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cognito.CfnUserPool.CustomEmailSenderProperty.html

The docs say `lambdaArn` and `lambdaVersion` are both optional. However, when I specify this in my code:

[code]

I get this error upon deployment to CloudFormation:

`
1 validation error detected: Value null at 'lambdaConfig.customEmailSender.lambdaVersion' failed to satisfy constraint

[2021-08-02 21:50] rectalogic opened #15864 "(aws-efs): support one-zone FileSystem"
EFS FileSystem should support one-zone storage class
https://aws.amazon.com/blogs/storage/lower-your-amazon-efs-costs-by-47-with-one-zone-storage-classes/

This is done by setting the `AWS::EFS::FileSystem` `AvailabilityZoneName`
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-efs-filesystem.html#cfn-efs-filesystem-availabilityzonename

### Use Case
It's cheaper

### Pr

[2021-08-02 22:49] dsharkou commented on #14427
+1

[2021-08-03 03:51] whoami-defnotme commented on #15813
Bone-headedly filed that mentioned Node issue in the wrong repo. Now it's [here](https://github.com/npm/cli/issues/3599).

[2021-08-03 05:24] peterjuras commented on #6692
Any update on this?

[2021-08-03 06:57] ludbek commented on #15637
@peterwoodworth The steps you mentions sounds about right.

[2021-08-03 07:07] peterwoodworth commented on #15637
Great, let me know if you need any more help 😄

[2021-08-03 07:35] #15818 closed

[2021-08-03 07:46] KTamas opened #15866 "CLI: give an error message and return 1 when trying to deploy a non-existent stack"
When trying to deploy a stack that does not exist (for example, `cdk deploy thisstackdoesnotexist`), the CDK simply gives no output, even the return code is 0. This is confusing, especially for people new to the CDK.

### Use Case

Use case is people not getting tripped up by this and scratching their heads, especially for people new to the CDK.

### Proposed Solution

Exit with return code 1 and

[2021-08-03 08:07] nija-at commented on #9614
This work is complete. Please use the new module '@aws-cdk/assertions' that is available in all languages.

[2021-08-03 08:07] #9614 closed

[2021-08-03 08:09] nija-at commented on #2621
Hi @auser -

Since when this issue was opened, we've introduced a method called `arrayWith()` in the assert library that you can use to achieve this.

Marking this as 'closing soon'. Let me know if what you're looking for is different.

[2021-08-03 08:46] Dzhuneyt commented on #3247
This is not clear enough. How do we synthesize more than one stack? An example would be useful.

[2021-08-03 08:50] hoegertn commented on #3247
`cdk synth` synthesizes all stacks in your app. The files are in the `cdk.out` folder. If the app only has one stack it is also printed to the console.

[2021-08-03 08:53] markdollan243 commented on #5667
Hello, any news about this issue?

[2021-08-03 09:47] mikestopcontinues commented on #8273
@girotomas This is my use-case exactly.

Because of AWS account quotas, I need to use sub-accounts to scale. So when I want to update my stacks, I need to check current resource usage (dynamo), perhaps create a new account (sdk), and create/update stacks across the fleet.

It's still deterministic. Given a certain state of the database, a certain output is achieved.

[2021-08-03 09:50] nija-at opened #15868 "(assertions): assertion inversion"
Provide the ability to invert the list of assertions - `hasResource()`, `hasResourceProperties()`, etc. - to be inverted or negated, i.e., "does not have resource", "does not have resource with properties", etc.

See https://github.com/aws/aws-cdk/pull/15857#discussion_r681157846

----

Alternatively, the current experience of the following against a template that has no "Foo::Bar" resource will f

[2021-08-03 10:18] nija-at commented on #5399
Hi @ilya-v-trofimov -

We have moved our active development from the 'assert' module to the new 'assertions' module, with the intent to deprecate the former in the coming months.

For your second use case, the 'assertions' module provides a `findResources()` method that you can use to find matching resources and extract the properties you need.

For your first use case, since the logical id of the

[2021-08-03 10:21] nija-at commented on #8136
We have now built up the 'assertions' module that is a replacement to the 'assert' module. This confusion will not occur with this new module.

In the coming months, the 'assert' module will be deprecated.

Marking this as 'closing-soon'. Let me know if I missed anything.

[2021-08-03 10:24] nija-at commented on #9278
Hi @Azwraith42 -

How about doing this instead as -

[code]

Does that address your use case?

[2021-08-03 10:33] ilya-v-trofimov commented on #5399
Thanks, @nija-at for the update. Yes, looks like `findResources` should cover this feature request.

[2021-08-03 12:47] eladb commented on #6692
The current way image assets work in the CDK implies that a single ECR repository is used for all asset images. You can use [cdk-ecr-deployment] in order to deploy image assets to a specific ECR repository in your control.

As for garbage collecting images from the assets ECR repository, this is something we plan to add at some point as part of a broader garbage collection capability (applies to b

[2021-08-03 12:53] ColeSiegelTR commented on #15649
Hey @peterwoodworth, thanks for your response!

Can you clarify what you mean by `the role has to be owned by AWS`? Does it mean I cannot create the role myself in my own AWS account?

It looks like I might be able to use the `IAction` interface to modify the roles for the `SourceAction` and `SynthAction`, but it is unclear how to change other generated roles such as `codepipelineBuildSynthCdkBuil

[2021-08-03 13:04] eladb commented on #8273
When we say "deterministic" in this context we mean that a commit in your repository will always produce the same CDK output. This is a common invariant for compilers and build systems and this is where the CDK tenet comes from. If you consult an external database during synthesis, this invariant may break, depending on the contents of your database.

What I would recommend to do is to write a lit

[2021-08-03 13:10] mikestopcontinues commented on #8273
@eladb Thanks. I'll head in that direction. I found that querying and caching the data seems to be the best way to build CDK apps anyway. As I code my way through the different triggers (user signup, user domain registration/transfer, bulk stack update, etc), I'm finding the natural boundaries seem to line up nicely with the cache method. If a nightly job checks for aws account creation, it can ea

[2021-08-03 13:25] eladb commented on #8273
100% agree. Our experience shows that this pattern works pretty well and helps maintaining healthy architectural boundaries.

[2021-08-03 14:07] armando25723 commented on #10431
Is there an update for this issue? Im able to deploy but the authorizer is created with Payload format version: 1.0. I have to manually change it in the console because there is not a prop payloadFormatVersion in @aws-cdk/aws-apigatewayv2-authorizers.HttpLambdaAuthorizer.

[2021-08-03 14:09] patrick-tresp commented on #15798
Hey @mattcui ,

try this out: empty your s3 bucket from toolkit `cdktoolkit-stagingbucket-xxxxx`.
After emptying this, we could deploy again without running into this error.

We also added this to your github action file with

`aws s3 rm s3://cdktoolkit-stagingbucket-xxxxx --recursive`

Hope that helps you as well.

Cheers,
Patrick

[2021-08-03 15:21] cokia commented on #14949
I checked that this is normally in the document and code. Where did you decide it was missing?

[2021-08-03 15:32] bradleyv8 opened #15871 "(aws-certificatemanager): DnsValidatedCertificate should support RemovalPolicy"
[DnsValidatedCertificate](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-certificatemanager.DnsValidatedCertificate.html) currently does not support the application of a RemovalPolicy. Without this, the certificates default to "Delete". If we want to Retain them, this doesn't seem possible without resorting to ugly syntax like referencing the node children directly.

### Use Case

We

[2021-08-03 16:01] bradleyv8 commented on #15871
I've made a change to add a removalPolicy prop to [DnsValidatedCertificateProps](https://github.com/aws/aws-cdk/blob/ff044eddccfe1e4812e686343ca1a614b73a1a1f/packages/%40aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts#L14) and apply this to the certificate which is created inside the resource. I'm happy to submit a PR for this if this approach is acceptable.

[2021-08-03 17:05] sarbajitdutta commented on #6056
I cannot seem to pass none: {} using cdk

[code]

Gives me error -
[code]

[2021-08-03 18:53] peterwoodworth commented on #15513
So if all it's doing is creating a role, couldn't you create that role yourself using the [iam.Role](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-iam.Role.html) construct? After all, that's all the source code is doing in the constructor for PublicHostedZone

https://github.com/aws/aws-cdk/blob/d04661d5b0f8ce6de7af5b95b2d9aff7afcc998a/packages/%40aws-cdk/aws-route53/lib/hosted-zone

[2021-08-03 21:09] gsdwait commented on #15806
We also ran into this issue. We're working around it by pulling the child CfnBasePathMapping and setting the stage to undefined.

[2021-08-03 22:19] piotrekwitkowski commented on #13457
A Python example how to use command_hooks would be greatly appreciated!

[2021-08-03 22:51] BrettHoutz opened #15875 "aws-secretsmanager: Malformed IAM Policy Resource for CodeBuildAction referencing secret name"
In the Python app below a Secret is created and then referenced in the environment configuration for a CodeBuildAction. Trying to deploy this results in a `MalformedPolicyDocument` error. Sure enough, this is output in `cdk.out/Build.template.json` in the resource `BuildProjectRoleDefaultPolicy`:

[code]

It appears something went wrong in referencing the secret name. When i switch to the secret A

[2021-08-04 01:17] fasatrix commented on #15677
Suddenly I am experiencing the same thing. Assets are no longer transferred into the bucket from my windows machine and we have not changed anything. As a doublecheck we have also checkout the working code that was originally deployed 4 weeks ago and now it is no loger transferring the files

[2021-08-04 04:50] tom10271 opened #15879 "(EC2 VPC): Removing subnet group applied in RDS Replica casues deletion of that subnet"
I was created a RDS and a RDS replica. They were both in Private subnet. I later found I need to expose the replica server in public subnet so I update the CDK code.

### Reproduction Steps
Originally
[code]

To:
[code]

### What did you expect to happen?
It should just remove the subnet applied in the replica but not deleting the subnet.

### What actually happened?
[code]

### Environment

  - *

[2021-08-04 05:14] NGL321 commented on #15447
Hey @warden!

Sorry for our long delay on this. It sounds like your work may be a good candidate to use [Pipelines](https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html), so you might consider using that instead of declaring your own lambdas. More to the point, I strongly recommend against using a lambda to run `cdk deploy` since you will need to bundle the cdk into a lambda layer

[2021-08-04 06:22] akshayp-vwits opened #15880 "@aws-cdk/aws-ecs: Injecting existing SSM Parameter or Secrets into ECS Task definition (Typescript)"
## :question: General Issue

### The Question
I am trying to pass some existing SSM parameters as environment variables into my ecs task definition, but it gives me error.
Below is my sample code.

### Environment

  - **CDK CLI Version:** 1.108.0
  - **Module Version:** 1.115.0
  - **Node.js Version:** v14.15.0
  - **OS:**
  - **Language (Version):** Typescript

### Other information

[code]

It

[2021-08-04 07:16] olivier-schmitt opened #15881 "(aws_ec2): not authorized to create a Transit Gateway but the synthethized template works as it is"
I tried to create a Transit Gateway using the construct  aws_ec2.CfnTransitGateway.

The CFN template is synthetized but the CDK fails to deploy but if I try to create the stack directly in the CFN console it works perfectly, the synthetized template is processed properly and I can see my TGW up and running.

### Reproduction Steps

from aws_cdk import (
    aws_ec2,
    core,
)

class PeeringStac

[2021-08-04 08:01] nonken commented on #10310
@otaviomacedo no, the issue at the time was that I had to do the following:

[code]

Passing an array would create one Rule with two origins. The result would be that one of the two would be ignored.
Instead it should have generated:

[code]

[2021-08-04 08:04] JacobTheEvans commented on #12913
Thanks for the workaround @mrvisser!

[2021-08-04 08:35] DioNNiS commented on #15846
thank you, @peterwoodworth! you are right.

[2021-08-04 08:35] #15846 closed

[2021-08-04 10:17] haofeif opened #15888 "(@aws-cdk/aws-neptune): Amazon CloudWatch Logs Exports properties not available for class DatabaseCluster in Neptune"
### Use Case

It'll be great to add the properties to be able to enable CloudWatch Logs Export in class DatabaseCluster (construct) :
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-neptune.DatabaseCluster.html

### Proposed Solution

Be able to set Cloudwatch logs exports with EnableCloudwatchLogsExports prop :

### Other
Offered by CFN: https://docs.aws.amazon.com/AWSCloudFormation/

[2021-08-04 11:46] markus7811 commented on #13602
Im struggling with the same Problem and I think I can give you some information on this.

With updating the eks version from 16 to 17 you changed the ami id:

```const customAmi = ec2.MachineImage.lookup({ name: `custom-ami_${eksVersion}` });```

This updates the launchtemplate:

[code]

[2021-08-04 12:12] hlascelles commented on #679
We would very much like this.

Actually, just in general, we would like to do `cdk diff --json` or similar. Sometimes we see a diff that shows us a resource is to be created, but not "what is in it". Is it possible to see the full raw stack JSON diff?

[2021-08-04 15:33] mikestopcontinues commented on #15447
I think this is worth giving more consideration to. There are cases where pipelines is just a bad fit.

For instance, I run a multi-tenant app where a new stack has to be deployed when a user account is created, updated when key details change, and destroyed when the account is closed. This is in addition to pushing out bulk updates across accounts. To do this in pipelines would be incredibly inef

[2021-08-04 15:40] naseemkullah opened #15891 "aws-s3-deployment - intermittent cloudfront "Waiter InvalidationCompleted failed" error"
https://github.com/aws/aws-cdk/blob/beb01b549abc5a5c825e951649786589d2150a72/packages/%40aws-cdk/aws-s3-deployment/lib/lambda/index.py#L150-L163

I've come across a deployment where cloudfront was invalidated but the lambda timed out with `cfn_error: Waiter InvalidationCompleted failed: Max attempts exceeded`. ~I suspect a race conditon, and that reversing the order of ` cloudfront.create_invalida

[2021-08-04 17:07] TingDaoK commented on #15677
The error reported is not informative. I don't know what settings to be changed. And as I saw, the lambda function is created by CDK as well. What kind of settings should I change?

[2021-08-04 17:24] TingDaoK commented on #15677
I checked the lambda function for `CustomCDKBucketDeployment`, its configured memory is 256 MB, and timeout is 15 mins. The code I want to deployed is around 500 KB. But still the deployment timed out. And my experience is the same as @fasatrix The same code works fine before and after several weeks without any change, it just fails now.

[2021-08-04 17:41] peterwoodworth commented on #15861
I can reproduce and recreate this error. I'm not sure why this is occurring, let me investigate this

[2021-08-04 18:17] peterwoodworth commented on #15649
I'm not entirely certain what `owned by AWS` exactly means in this case. What the code checks for is if the `owner` property on your [`IAction`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codepipeline.IAction.html) is equal to `aws`. However, I don't see a way to actually configure these properties with either SimpleSynthAction or sourceAction, so I don't know how exactly this pr

[2021-08-04 18:23] jaspotter commented on #11245
+1

[2021-08-04 18:46] peterwoodworth commented on #15880
I'm unable to reproduce this error, could you tell me what exactly the error you're getting is?

[2021-08-04 18:46] #15637 closed

[2021-08-04 18:47] peterwoodworth commented on #15569
Closing this issue for staleness, please provide more information and ping me if you still want help with this :)

[2021-08-04 18:47] #15569 closed

[2021-08-04 19:06] TingDaoK commented on #15677
Hmmm, I just run it again, now it deployed successfully.
I think it's very likely that I built the code to deploy locally and I forgot to delete node_modules folder and makes the code too big to deploy with the limited memory?

[2021-08-04 19:10] peterwoodworth commented on #15449
What part are you currently getting stuck at? The docs [here](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_examples_dynamodb_items.html) show how you can accomplish this just with policies

[Here's a nice guide](https://aws.amazon.com/blogs/mobile/building-fine-grained-authorization-using-amazon-cognito-user-pools-groups/) that describes how to do this (not with the CDK)

Le

[2021-08-04 20:13] #15500 closed

[2021-08-04 20:13] #10783 closed

[2021-08-04 20:13] peterwoodworth commented on #11664
Can anyone else confirm @dannyburke1 's solution?

[2021-08-04 20:28] peterwoodworth opened #15894 "(ecs-patterns): Add ability to import ALB and Listeners to use in ApplicationLoadBalancedFargateService"
ApplicationLoadBalancedFargateService will automatically add a listener and target group in the constructor. We should have the ability to use existing listeners when using this construct

### Use Case

Multiple customers have supplied use cases, see #13759

---

This is a :rocket: Feature Request

[2021-08-04 20:31] peterwoodworth commented on #13759
Created feature request, see #15894

[2021-08-04 20:31] #13759 closed

[2021-08-04 20:47] peterwoodworth commented on #13782
Hey @putnam120, sorry for the long response time.

Could you show how you are defining your custom resource? Did you make sure to fill in the [`onCreate`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_custom-resources.AwsCustomResource.html#oncreate) prop?

[2021-08-04 20:53] peterwoodworth commented on #13773
Hey @micahThor, I apologize for the long response time here.

I've been unable to reproduce this, all of the props show up fine for me. How did you install monocdk and import the modules? Hopefully you've been able to figure this out in the meantime, if not, let me know 😄

[2021-08-04 20:56] #10002 closed

[2021-08-04 21:24] #15449 closed

[2021-08-04 21:26] #15513 closed

[2021-08-04 21:27] peterwoodworth commented on #14555
Hey @jogold, I'm curious if you've made any progress on this or if you've hit any roadblocks

[2021-08-04 21:29] peterwoodworth commented on #15778
I'm pretty certain that what I linked is the source of the different hashes. Please make sure to comment in that thread or give it a thumbs up if you'd like to see hashes be normalized

[2021-08-04 21:29] #15778 closed

[2021-08-04 21:31] jbellavance34 opened #15895 "aws-cdk aspect : cannot use cdk library to centralize cdk aspect for other application"
description of the bug:
I am trying to use aws cdk aspects ( https://docs.aws.amazon.com/cdk/latest/guide/aspects.html ) to create a centralized cdk library and it does not work.

What does work :
Aspect class locally in an cdk application.
Exported aspect class in an other file in the application /lib directory

What does not work :
Exported aspect class in an other file in an other cdk library /

[2021-08-04 22:00] madeline-k commented on #15768
@ryparker Agree with your triage here. And thanks for providing a workaround!

[2021-08-04 22:09] fasatrix commented on #15677
@TingDaoK you might want to take a look at the following issue. At least in our case is very close issue
https://github.com/aws/aws-cdk/issues/12536

Our problem is exactly the same as this
https://www.rehanvdm.com/blog/cdk-shorts-1-consistent-asset-hashing-nodejs

[2021-08-04 22:12] peterwoodworth commented on #13157
I was able to reproduce this issue. According to [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listener.html), if the arn of the Listener is updated (this would happen if you change the id) then a replacement of the resource will need to happen. When cloudformation [replaces a resource](https://docs.aws.amazon.com/AWSCloudFormat

[2021-08-04 22:12] #13157 closed

[2021-08-04 22:28] peterwoodworth commented on #12986
I can confirm that this is a bug and still occurring in `1.116.0`.

relevant synth output for ResourceGroup:
[code]

I tested to see if the same configuration happens with other Cfn resources (such as Bucket), the issue seems to be isolated to `CfnGroup` but there could potentially be other cases of this happening.

[2021-08-04 22:34] peterwoodworth commented on #13427
Hey @gelpenaddict, sorry for the long response time

This isn't exactly a CDK question and I am not familiar with Java, so the help I can offer you is limited here. [Be sure to read the guide on working with CDK in Java](https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-java.html#java-managemodules), I linked the section where it discusses working with dependencies. If you followed this a

[2021-08-04 22:34] #13427 closed

[2021-08-04 23:11] peterwoodworth commented on #9705
Hmm, I'm unable to reproduce this. If you come back to this project and are still experiencing the issue, feel free to open up a bug report. Since you're not working on the project anymore I will close this issue.

[2021-08-04 23:11] #9705 closed

[2021-08-04 23:51] blacha opened #15897 "(aws-cdk): default typescript `cdk init` swallows stack traces"
after using a `cdk init --language=typescript`

The default setup swallows stack traces

### Reproduction Steps
[code]

### What did you expect to happen?

I would expect to see the full stack trace as if i had run it with `node`

[code]

### What actually happened?

The stack trace is swallowed

[code]

### Environment

  - **CDK CLI Version  :** 1.116.0 (build d04661d)
  - **Framework Version:**

[2021-08-04 23:52] NickIannelli commented on #14949
@cokia This was missing at the time for version v1.106.1, however does look to have been added since then.

Closing this issue as it appears to be resolved.

[2021-08-04 23:52] #14949 closed

[2021-08-05 00:46] nwalters512 commented on #15654
Hey @rix0rrr, can you help with triaging this? I'd be happy to help with implementation if I can get some assurance that this change would be accepted.

[2021-08-05 01:48] zechariahks opened #15898 "(aws-config): Add support for ec2-instance-profile-attached managed rule in ManagedRuleIdentifiers class"
Currently [ManagedRuleIdentifiers](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-config.ManagedRuleIdentifiers.html) doesn't support identifier for ec2-instance-profile-attached managed rule (EC2_INSTANCE_PROFILE_ATTACHED). The documentation for this rule is [here](https://docs.aws.amazon.com/config/latest/developerguide/ec2-instance-profile-attached.html)

### Use Case

I should be

[2021-08-05 06:57] akshayp-vwits commented on #15880
I was able to solve this issue, all i had to do was is update the module dependency versions.

[2021-08-05 08:00] #15880 closed

[2021-08-05 08:37] Nicko-13 commented on #14738
The issue is still persisting with CDK version 1.116.0. `npm install -g aws-cdk@1.116.0` still install version 1.113.0.

[2021-08-05 09:33] nija-at commented on #3780
I have a feeling this change would benefit from an RFC.

@eladb - wdyt? Should we move this to the [rfc repo](https://github.com/aws/aws-cdk-rfcs) and start from there?

[2021-08-05 09:39] Scorpil opened #15901 "(aws-cdk): don't let cdk init allow incorrect app names"
## :question: General Issue

### The Issue

`cdk init` does not perform validation on a current directory name, so it may create a broken app.

### Steps to reproduce

[code]

### Expected behavior

Ideally `cdk init` should notify the user that the selected app name is not acceptable instead of generating a broken app.

### Environment

  - **CDK CLI Version:** 1.116.0 (build d04661d)
  - **OS:**

[2021-08-05 10:01] stephnr commented on #13023
This is on my court to finish up. I haven't had much spare time but I need to setup a PR with the adjustments.
On 25 Jun 2021, 19:12 +0200, Data Brezack ***@***.***>, wrote:

[2021-08-05 10:52] #15845 closed

[2021-08-05 10:54] nija-at commented on #15860
Duplicate https://github.com/aws/aws-cdk/issues/13001

[2021-08-05 10:54] #15860 closed

[2021-08-05 12:14] akshayp-vwits opened #15902 "@aws-cdk/aws-ecs: Handling Blue Green Deployment in cdk"
## :question: General Issue

### The Question
Hi all, I am new to aws-cdk and i wanted to do ecs blue green deployments via aws cdk, I checked a lot but could not find any suitable articles. My question is how can we handle ecs blue green deployments in cdk. As on the aws console we simply choose the deployment type during service creation, is there some feature available in cdk to do same thing?

[2021-08-05 12:41] nija-at opened #15903 "(assertions): arrayWith should support unordered list"
Currently, `arrayWith()` matcher expects the sublist to be in the same order as the target list.
Support unordered sublists.

### Use case

Specifically useful to use in properties that are arrays where the order is immaterial. The support will provide more stable testing capabilities.

---

This is a :rocket: Feature Request

[2021-08-05 12:47] stefanopallicca-imagicle opened #15904 "(aws-apigateway v1): Support for multi-level paths in BasePathMapping"
I would like to have the possibility to add a multi-level path in BasePathMapping for Api gateway v1, as already stated in #14822 (but closed in favour of a new feature request like this)

### Use Case
The specific case I'm trying to cover is:
- edge optimized domain name
- edge REST api endpoint
- multi-level path mapping

We are using apigateway v1

### Proposed Solution
I tried a couple of work

[2021-08-05 12:59] KTamas commented on #6626
i'd like to bump this as this has just bitten us in the back

[2021-08-05 13:27] otaviomacedo commented on #15649
The role `codepipelineBuildSynthCdkBuildProjectRole` is generated by the `SimpleSynthAction`. If you are rolling your own action and overriding the role, you don't have to worry about it. Are there others blocking you?

You can also override the `owner` in `ActionProperties`. Make sure you set it to `"AWS"`.

[2021-08-05 13:55] jamiepeloquin commented on #11898
Follow-up. After trying @iliapolo ’s suggestion (code below), I am continuing to get the following error from CloudFormation:

[code]

[2021-08-05 14:14] avanderm opened #15906 "Can't expand on CodeBuildStep IAM permissions"
## :question: Add IAM permissions to CodeBuildStep

### The Question

Using the modern version of CDK pipelines, trying to grant additional IAM permissions to a CodeBuildStep object yields:

Subprocess exited with error 1

Example code:

[code]

How do I work way around this? In the original version you could easily expand on the IAM permissions.

### Environment

  - **CDK CLI Version:** 1.115.0

[2021-08-05 14:21] avanderm commented on #15906
Solved with:
[code]

[2021-08-05 14:22] #15906 closed

[2021-08-05 14:23] blaoueille opened #15907 "CloudFormationStack.template : Cannot read existing template"
Hi,

When I execute a `cdk diff` on my CDK project to get differences with an existing CloudFormation template (that was not initially generated by this project). In fact, it's failing with some stacks and not all of them.
It's really hard to define why as we have no information one the root cause.

I have use the debug mode and verbose mode to have more information, and it's not really helpful.

[2021-08-05 15:28] simonireilly opened #15908 "aws-iam: Allow `string | string[]` in FederatedPrincipal assumeRoleAction"
Allow `string | string[]` in FederatedPrincipal.

This is required when using cognito with principal tag mapping.

### Use Case

AWS has a brief video explaining the use case here: https://www.youtube.com/watch?v=tAUmz94O2Qo

The use case is that, if a cognito user from a user pool is authenticated, then their claims can be forwarded to the policy document to allow for fine-grained access control

[2021-08-05 15:29] masso00 commented on #15017
I am very interested in this, which is something that complements cdk-nag: instead of reporting non-compliance, it configures constructs upfront to follow a set of curated rules (and hopefully custom rules, too).

We're currently planning how exactly we will train different groups in our organization to use the CDK and we have to meet specific security and compliance requirements when deploying AW

[2021-08-05 16:03] blimmer commented on #15661
Is this ticket potentially a dupe of #12671?

[2021-08-05 16:05] Dunmord opened #15909 "(route53): software.amazon.awscdk.services.route53.targets not found"
### Reproduction Steps
Create a new maven project and import

<dependency>
  <groupId>software.amazon.awscdk</groupId>
  <artifactId>route53</artifactId>
  <version>1.116.0</version>
</dependency>

Then in a new java file, try to import the  software.amazon.awscdk.services.route53.targets library.

According to the documentation  here https://docs.aws.amazon.com/cdk/api/latest/java/index.html?soft

[2021-08-05 16:46] otaviomacedo commented on #10310
Right. But what do you mean by "ignored"? You sent a `Origin:` header that matched one of the rules and it would not respond with `access-control-allow-origin`?

[2021-08-05 17:07] njlynch commented on #15909
To access the route53.targets package, you need to install the route53-targets package (https://search.maven.org/artifact/software.amazon.awscdk/route53-targets/1.116.0/jar), as well as the route53 target.

Closing this out; feel free to @mention me if you have any follow-ups.

[2021-08-05 17:07] #15909 closed

[2021-08-05 19:21] MisterGlass opened #15910 "AWS::WAFv2: Undocumented deprecations"
The README states: `All classes with the Cfn prefix in this module (CFN Resources) are always stable and safe to use.`

The [changelog](https://github.com/aws/aws-cdk/blob/master/CHANGELOG.md) only mentions the WAF once

Today I am attempting to update CDK and seem to be running into a deprecation. `aws_wafv2.CfnWebACL.StatementOneProperty` worked in my code last night, but after updating from 1.8

[2021-08-05 20:22] barry-the-sender commented on #10310
@otaviomacedo Correct, because you can not have two origins in one rule:

[code]

[2021-08-05 20:23] nonken commented on #10310
@otaviomacedo Correct, because you can not have two origins in one rule:

[code]

[2021-08-05 20:48] peterwoodworth commented on #15272
Hey @dhirajkhodade, sorry for the long response time.

To use a Lambda function with a custom resource provider, there are certain ways you need to configure your lambda function. Our docs [here](https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html#provider-framework) describe everything necessary to get a function up and running. Notably:

It then provides a nice example o

[2021-08-05 20:48] #15272 closed

[2021-08-05 20:55] peterwoodworth commented on #12856
Please check out #15649 @OperationalFallacy, it has information on how to potentially use your own roles instead of having them be created automatically.

I'll research this more to see if anything else is replaceable

[2021-08-05 21:11] danmactough commented on #15573
@nija-at I'm pretty sure what @tuanardouin is reporting is not that CDK invokes the API Gateway endpoint directly but that when the CloudFormation template is deployed, the service-to-service communication between CloudFormation and API Gateway gets rate-limited and the CloudFormation deploy fails (and reflects that rate-limit error). It's unclear to the user that this is the source of the error t

[2021-08-05 21:13] peterwoodworth commented on #15901
Thanks for submitting this issue!

I can confirm the behavior seen here. I'm labelling this as a feature request as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d

[2021-08-05 21:29] dnz-bdeboer opened #15915 "pipelines: yarn integ fails to deploy"
I'm trying to run `yarn integ` on the pipelines directory. This fails with:

[code]

There is no detail on the internal error, and I have been unable to see what could be the cause here. But I expected the code to run out of the box.

### Reproduction Steps

Just run `yarn integ integ.newpipeline.js` in the `packages/@aws-cdk/pipelines` directory.

### What did you expect to happen?

Expected to b

[2021-08-05 21:49] peterwoodworth commented on #15090
Closing due to staleness, if otavio's suggestion didn't work please ping me and I can reopen the issue

[2021-08-05 21:49] #15090 closed

[2021-08-06 01:25] davidmckenzie opened #15916 "aws-msk: ICluster missing bootstrapBrokers attributes"
Importing an MSK cluster via fromClusterARN returns an ICluster instead of a Cluster. The ICluster class appears to be missing the attributes such as bootstrapBrokers. Use case for this is importing a cluster managed elsewhere so that you can include the broker list in an ECS task's environment variables.

### Reproduction Steps

[code]

### What did you expect to happen?

List of brokers should b

[2021-08-06 02:35] KBB99 commented on #15821
Happy to work on this issue starting Monday.

[2021-08-06 04:59] mrpackethead opened #15917 "pipelines. Trying to assume a role that does nto exisit. Only happens after v1.117"
Pipeslines in v1.117 appears to be breaking things with lookups.

A pipeline that ran without issue in v1.117 is now breaking, because its trying to call a role that does not exisit.

botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the AssumeRole operation: User: arn:aws:sts::2xxxxx5:assumed-role/cirrusstorage-cirrusstoragecdkPipelineBuildSynthCd-CTLNH22505KL/AWSCode

[2021-08-06 07:45] wizofaus commented on #10926
I still get this all the time (even with the latest version of cdk, though still using node 12.2.3), but I noticed that if I just re-run the command it typically works fine, so every I need cdk deploy now I just retry if it fails.

[2021-08-06 08:08] damian-keska-f commented on #5810
I have similar case as @clafollett. I need to store IAM user credentials for Jenkins deployment in the AWS Secrets Manager.
Additionally all passwords from AWS SM are synchronized to Jenkins password manager automatically, so for me it is natural way to just put IAM credentials into Jenkins using AWS SM.

[2021-08-06 08:23] otaviomacedo commented on #10310
When I create a bucket using your example, the generated CORS configuration is, as you point out:

[code]

which contains one rule with two methods and two origins. When I make HTTP GET or HEAD requests for objects in this bucket, it responds with the same `access-control-allow-origin` response header as the `Origin` request header.

[2021-08-06 08:27] njlynch commented on #15821
We upgraded all of our custom resources to use NodeJS 14.x as part of #13488, which was released as part of v1.94.0 in March.

https://github.com/aws/aws-cdk/blob/52553448607c5096aea15a8e4093b95406dd3fe6/packages/@aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts#L88-L94

If you're still seeing the version as NodeJS 10, please upgrade to CDK v1.94.0 or above.

I'm going to close this

[2021-08-06 08:27] #15821 closed

[2021-08-06 09:09] njlynch commented on #15257
By the way, it's worth noting that support for this feature was added to the L1s (CfnKey, CfnReplicaKey) as part of the v1.111.0 release (v1.111.0). Using a combination of the CfnReplicaKey directy, and [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html#cfn_layer_resource) to add the property to the CfnKey, you should be able to use this with existing L2 Keys.

[2021-08-06 10:02] JustinMiehle opened #15920 "aws-cognito: Can not Attach CustomEmailSender"
Hi All!

As described here, Cognito supports "CustomEmailSender" triggers:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-custom-sender-triggers.html

In CDK, the mechanism for adding one (to my understanding) is either via:
`pool.addTrigger(
            UserPoolOperation.of("CustomEmailSender"),
            func
        );`
or
`lambdaTriggers: {
            customEmail

[2021-08-06 10:02] allamand commented on #7160
you can find an example here : https://github.com/aws-quickstart/quickstart-ssp-amazon-eks/blob/main/lib/addons/container-insights/index.ts

[2021-08-06 10:03] robert-lilleker commented on #11199
Hi, multi regional ecs deployments would be very useful to us. Has there been any progress on this?

[2021-08-06 10:23] jogold commented on #14555
Hi @peterwoodworth, not yet. I should have time to address this before the end of August.

[2021-08-06 10:37] otaviomacedo commented on #15916
It's worth checking whether we can move the getters for `bootstrapBrokers`, `bootstrapBrokersTls`, `bootstrapBrokersSaslScram` up to `ClusterBase`.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev c

[2021-08-06 12:29] wiget opened #15922 "(aws-backup): add support for EnableContinuousBackup in BackupPlanRule"
Please add support to specify `EnableContinuousBackup` when creating `BackupPlanRule`. EnableContinuousBackup was added to CloudFormation Resource specification v35.0.0

### Use Case

EnableContinuousBackup is required to have point-in-time recovery for RDS, when using only AWS Backup without automatic snapshots on RDS.

### Proposed Solution

### Other
https://aws.amazon.com/blogs/storage/point-i

[2021-08-06 13:11] antawad commented on #3067
Same issue here, using 1.117.0. Feel free to reach out if you need more info to reproduce. Thanks

[2021-08-06 13:41] mattcui commented on #15798
@patrick-tresp Thanks, we haven't had this problem for days, I am not sure what caused the problem, and why it disappeared.

[2021-08-06 13:50] njlynch commented on #15735
Thanks for the reproduction, @argenstijn !

Unfortunately, even with that, I'm not seeing the behavior you're describing. I synth'ed both of the above examples and compared them. They were exactly identical, except for the order of the actions in the QueuePolicy PolicyDocument.

If you try your own reproduction with a clean CDK app, do you see differences? Perhaps this repro isn't complete.

[2021-08-06 14:01] njlynch commented on #15746
I'm glad you found the solution.

We have this documented somewhat in the [Developer Guide](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html#constructs_tree)

Our L1s are at the mercy of the default CloudFormation logic. In this case, there's nothing for CloudFormation (or CDK) to explicitly understand the link between these two L1s. This can be fixed in another way besides `addDepende

[2021-08-06 14:01] #15746 closed

[2021-08-06 14:22] ThinkinGim commented on #14423
Would you mind updating me on the status of this request? If there is no issue to add  S3 into InterfaceVpcEndpointAwsService, it should be done as quick as possible because to access to S3 through Interface-Endpoint is common practice for security reason, I think.

[2021-08-06 14:41] patrick-tresp commented on #15798
AWS Magic …

[2021-08-06 14:41] #15798 closed

[2021-08-06 14:46] dizzler commented on #10962
This 🐛  needs ❤️
This is a pretty glaring issue. Human babies have been conceived, grown and delivered since this bug was reported...

As a workaround, you can:

1. create the Ec2TaskDefinition
2. use the obtain_execution_role() method to get the IRole
3. use the "grant_principal" attribute of the IRole to grant additional permissions to the task execution role

Something like an example in python

[2021-08-06 17:51] ericsun95 commented on #12757
Do we have any updates on this?

[2021-08-06 17:59] BenChaimberg commented on #15922
Pretty straightforward feature: add a `continuousBackup: boolean` prop to [BackupPlanRuleProps](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-backup/lib/rule.ts) and make the corresponding change in `BackupPlan.addRule` to transfer that to the CFN properties
https://github.com/aws/aws-cdk/blob/4ce318224453cebcf817b7683e5020780ab5df87/packages/%40aws-cdk/aws-backup/lib/plan.ts#

[2021-08-06 18:21] peterwoodworth commented on #15907
Hey @blaoueille,

Sorry you're running into this issue. I don't think I have a clear picture of what's happening, some clarification on these would be great:

- You only run into this error when the stack is already deployed, correct?
- How are you first deploying the initial stack?
- What did you do differently between `my-stack-01`  and `my-stack-02`?

Thanks!

[2021-08-06 18:49] piotrekwitkowski opened #15925 "(certificatemanager): DnsValidatedCertificate: Tokens in the domainName property break cdk deploy"
For the [DnsValidatedCertificate](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-certificatemanager.DnsValidatedCertificate.html) construct, [tokens](https://docs.aws.amazon.com/cdk/latest/guide/tokens.html) within the `domainName` property break the `cdk deploy` with the following error:

[code]
### Reproduction Steps
[code]

### What did you expect to happen?

I wanted to get a (wi

[2021-08-06 19:27] peterwoodworth commented on #15881
I can't seem to reproduce this, even without having a bootstrap stack. I'm not sure what could be the cause of this, I'd double check your permissions. Are you able to create any resources with the CDK?

[2021-08-06 20:07] piotrekwitkowski opened #15926 "(certificatemanager): DnsValidatedCertificate breaks during cdk deploy when tokens are taken from the secretsmanager"
I am trying to build the `IHostedZone` object using the `fromHostedZoneAttributes` method. My `hostedZoneArn` is something like this: `hostedZoneArn arn:${Token[AWS.Partition.5]}:route53:::hostedzone/${Token[TOKEN.107]}`.  However, during deployment, the `hostedZoneId` gets resolved to `{{resolve:secretsmanager:arn:aws:secretsmanager:eu-central-1:123456789012:secret:HOSTED_ZONE_ID:SecretString:::}

[2021-08-06 20:17] piotrekwitkowski commented on #15926
Interestingly, the certificate will be created in the Certificate Manager, but the stack deployment fails and rollbacks. The fresh certificate will be orphaned and will not be removed.

[2021-08-06 20:36] naseemkullah opened #15927 "(cognito): add adminSetUserPassword() function"
Please add a function that calls  [adminSetUserPassword](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#adminSetUserPassword-property) to set a user password (and confirm that user) programatically, after having created it via https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cognito.CfnUserPoolUser.html

### Use Case

Automate test user crea

[2021-08-06 20:45] peterwoodworth commented on #15813
I can't reproduce this when following the same steps as you @whoami-defnotme, have you been able to reproduce this on a fresh build?

[2021-08-06 20:46] mrpackethead commented on #15917
this turned out not be be an issue with v1.117.   An unfortanate set of coincidences togethe...  The issue was of our own making.

[2021-08-06 20:46] #15917 closed

[2021-08-06 21:18] salmontecbsi commented on #3416
Thanks guys. This post helped me get my issue resolved as well.

`npm update -g`

[2021-08-06 21:39] pradoz commented on #13756
Running into a similar issue for importing autoscaling groups that run on EKS. With full access to EKS, there is no way of even identifying any attached autoscaling groups. It doesn't look like `AutoscalingGroup.fromAutoScalingGroupAttributes()` is available in the version of CDK this project uses.

What's the recommended workaround for this? Currently the best options seems like asking users to p

[2021-08-06 21:40] peterwoodworth commented on #15817
The Resource Specification has been updated to fix this. The next CDK release will likely have this fixed.

[2021-08-07 00:55] ffxsam commented on #929
@skinny85

This still seems problematic (or at least not clearly documented).

For instance, `engine.bindToCluster` is required - but what is it? I don't see it documented anywhere. The docs say it's a method, but when I'm defining my cluster using `rds.ServerlessCluster`, it treats it as a required property.

Also, why are `singleUserRotationApplication` and `multiUserRotationApplication` needed?

[2021-08-07 01:15] ffxsam opened #15929 "(aws-ec2): Why are NAT gateways required for private subnets?"
## :question: General Issue

### The Question

I'm very curious why this check is in place:
https://github.com/aws/aws-cdk/blob/283ed02c64f827161edba3e11c3cead3b54b7ee9/packages/%40aws-cdk/aws-ec2/lib/vpc.ts#L2036-L2039

NAT gateways are, if I'm not mistaken, only required if resources within your private subnets need to access the Internet through an Internet gateway. In this case, I'm unable to

[2021-08-07 01:20] ffxsam commented on #929
Related: #15929

[2021-08-07 01:55] conrc commented on #9455
I ran into the same issue. My fix was granting `repo` access scope to the personal access token on Github.
<img width="548" alt="Screen Shot 2021-08-06 at 6 55 02 PM" src="https://user-images.githubusercontent.com/40677917/128584358-a0ebceb3-68b6-4b2d-8f21-a8bc72efab38.png">

[2021-08-07 03:55] HsiehShuJeng opened #15930 "(@aws-cdk/aws-s3): Missing attribute of `CfnAccessPoint`"
At the L1 level of `CfnAccessPoint`, i.e. `AWS::S3::AccessPoint`, there is an [attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-s3-accesspoint.html#cfn-s3-accesspoint-name) of `name`. Yet at the moment, when I attempted to deploy an S3 access point via the CDK, I encountered the following error message:

[code]
[code]

### Reproduction Steps
[code]

### What d

[2021-08-07 06:28] heiba commented on #12618
@kirintwn any chance we can publish your branch if it's fully working ? we need this feature terribly.

[2021-08-07 06:29] heiba commented on #12618
@MrArnoldPalmer is there anyway the CDK team can help on publishing this feature ?

[2021-08-07 06:32] heiba commented on #2765
@kirintwn referencing your new branch that includes deleting of ecr repos via a custom resource.

https://github.com/aws/aws-cdk/issues/12618

[2021-08-07 07:44] zhahaoyu commented on #4599
Any update on this?

[2021-08-07 08:36] kirintwn commented on #12618
Hi @heiba , I have updated my branch, added more tests & opened a PR #15932.

[2021-08-07 09:35] jerome-comtylink opened #15933 "(aws-cognito): Cannot re-use same lambda as lambdaTriggers for different Cognito"
Hi there,

I'm currently using CDK in typescript, but have some issues with lambdaTriggers.

My project is using multiple cognito user pools in order to manage multi-tenancy.

In order to manage the multi-tenancy, I need to override the JWT token key generated by Cognito, for that I would like to use the preTokenGeneration trigger.

I created my lambda in CDK and can easily attach it to one cognit

[2021-08-07 20:19] johfer-bd opened #15935 "cdk diff not picking up differences if old/new value is in format x.y.z"
"cdk diff" in the current version (1.117.0 / 2.0.0-rc.16) doesn't pick up differences if the old/new value has a number-like format but actually isn't a number (e.g. 0.31.1)

### What did you expect to happen?

I expected the differences are picked up and shown

### What actually happened?

I received "There are no differences"

### Environment

  - **CDK CLI Version  : 2.0.0-rc.16
  - **Node.js V

[2021-08-07 23:54] amirfireeye opened #15936 "(ecr-assets): image with variable buildArgs being rebuilt every time"
https://github.com/aws/aws-cdk/pull/5705 made [DockerImageAsset](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecr-assets.DockerImageAsset.html) generate the asset hash based on, among other things, the `buildArgs` argument. This means that if build arg is used for anything dynamic the image will be rebuilt for every synth.

Can we have another argument allowing to control the hashi

[2021-08-08 06:07] #2621 closed

[2021-08-08 06:07] #8136 closed

[2021-08-08 07:02] nemanjko commented on #13526
@evilsephiroth I have the same issue.

Unable to run new deployment to update a stage in API Gateway. Tried previous suggestion by @ baumannalexj but still the same.

The workaround I use is to run Lambda custom resource and trigger the deployment explicitly:

    response = boto3.client.create_deployment(
        restApiId='hvgcqh4dgk',
        stageName='device4'
    )

[2021-08-08 13:21] jumic commented on #15926
DnsValidatedCertificate [uses a CustomResource](https://github.com/aws/aws-cdk/blob/a04c017323130cb6f88a530e192e9e0e86fb137a/packages/%40aws-cdk/aws-certificatemanager/lib/dns-validated-certificate.ts#L108) to validate the certificate. The hosted zone id will be passed to this custom ressource.

According to the [CloudFormation documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/Us

[2021-08-08 18:29] Pearcekieser opened #15938 "(aws-cdk): cdk init sample-app pytest fails on name with '-'"
On windows I ran cdk init in a directory called "aws-data-pipeline".  After codegen, I created the virtual env, enabled the venv, installed the dependencies,  cdk commands were working (ex. cdk synth, info and diff), but pytest failed.

[code]

### Reproduction Steps

[code]
activate the venv I ran `.venv\Scripts\activate.bat` bc windows
[code]

### What did you expect to happen?

expected pytest

[2021-08-08 22:58] collinarnett opened #15940 "Delete resources associated with a test stage"
If I'm creating a testing stage for my application in another account, how would I go about deleting the resources associated with the testing stage?
[code]

  Researching the issue only leads answers associated with `cdk destroy` in the command line.

[2021-08-09 04:15] dz902 opened #15941 "(core): provide token-aware string manipulation functions"
I did this because I wanted my subnets to be named as `pub-a`, `pvt-b`, etc.

[code]

However this did not work as availabilityZone is a token which is only known after stack creation.

### Proposed Solution

This has gone silently without errors or warnings. Would be nice to have a warning if someone tries to string-manipulate a token, as most users may not have the correct mental model to realiz

[2021-08-09 07:50] cqcmdwym commented on #15522
Hi @peterwoodworth is there any update on it? Thanks.

[2021-08-09 08:25] johfer-bd commented on #15935
Ok, I looked into this and the culprit is this part in the `deepEqual` function that compares the old and new template:

https://github.com/aws/aws-cdk/blob/a04c017323130cb6f88a530e192e9e0e86fb137a/packages/%40aws-cdk/cloudformation-diff/lib/diff/util.ts#L27

[code]

In my case `lvalue` and `rvalue` are two version strings like "0.31.1-prod" and "0.31.2-prod" which are both parsed into "0.31" (and

[2021-08-09 08:46] johfer-bd commented on #15935
I think this can be handled as edge case in `safeParseFloat` which already makes provisions for things like "0.0" but not for "0.1.something", or "1 something", or whatever is parsed by parseFloat into a (finite) number but actually isn't a number.

Also, the title of the issue should probably be changed to something like "cdk 2.x: cdk diff not picking up differences if old/new value have number-l

[2021-08-09 09:16] nonken commented on #10310
@otaviomacedo have you tried fetching the assets with the rule from both origins? When I opened the issue, it would only work for the first origin in the array until I declared two separate rules. If this works as expected now for all origins specified, then the issue is no longer valid.

[2021-08-09 10:41] otaviomacedo commented on #15930
Hi, @HsiehShuJeng

Is the problem still happening? This was caused by a breaking change in the CloudFormation template. The issue was fixed on Friday (6 August).

[2021-08-09 10:42] #15589 closed

[2021-08-09 11:06] cyuste commented on #14803
As a workaround, you can use this code
[code]

[2021-08-09 11:54] njlynch commented on #15576
Latest proposal:

- NodeJS:
    - module name is `@aws-cdk/aws-<service>-alpha` (V1: `@aws-cdk/aws-<service>`)
- Java:
    - `groupId`: `software.amazon.awscdk` (V1: same)
    - `artifactId`: `<service>.alpha` (V1: <service>)
    - Java package: `software.amazon.awscdk.services.<service>.alpha` (V1: `software.amazon.awscdk.services.<service>`)
- C#:
    - `packageId`: `Amazon.CDK.AWS.<Service>.Alp

[2021-08-09 13:16] SimonJang commented on #13296
I encountered the same issue, but there is a simple workaround using the `CfnQueuePolicy` construct instead. @vikrantsundriyal worked for me, hope it helps.

[code]

[2021-08-09 13:47] eladb commented on #3780
@nija-at Yes, a short RFC to discuss and approve the CLI APIs is likely a good idea as it will allow us to muse about the correct switches/behaviors.

Generally I really like where https://github.com/aws/aws-cdk/pull/15494 is going.

@stevehodgkiss are you able to kick off an RFC process for this?

[2021-08-09 13:52] markusl opened #15943 "(pipelines): Specifying variable namespace for pipelines.CodeBuildStep"
We are currently looking into the new pipelines API but I cannot seem to find a way to specify variable namespace for `pipelines.CodeBuildStep`. Is this implemented or is this a missing feature from the new API?

### Use Case

We would like to execute commands and use their outputs in the CodePipeline:

[code]

### Proposed Solution

### Other

* [ ] :wave: I may be able to implement this feature

[2021-08-09 13:53] rix0rrr commented on #15799
Hi @siqusoft, your issue seems unrelated to the OP. Please open a new bug report for that.

[2021-08-09 13:54] rix0rrr commented on #15799
As for the original report: reasonable ask, although one that will probably have to be contributed.

[2021-08-09 13:59] rix0rrr commented on #15808
Pretty unlikely that this is a CloudFormation bug. I imagine this code path would be well-trodden.

If anything, it could be S3 policy replication latency, but even that seems unlikely.

Can you confirm that in the template the dependencies are added on the right policies etc?

[2021-08-09 14:10] rix0rrr commented on #15834
To start with, we should just reject calling `exportValue` on anything that's an object but not a token.

Second, it's a good idea to list all values that are being exported from a stack (probably emitted to metadata) so that users can use this information to write matching `exportValue()` calls.

[2021-08-09 14:11] rix0rrr commented on #15856
It is intended behavior. CDK Pipelines will always choose minimal stage and action names, only adding as much information as is necessary to distinguish from other stages and actions.

[2021-08-09 14:11] #15856 closed

[2021-08-09 14:13] rix0rrr commented on #15875
Looks like the `CodeBuildAction` is doing string processing on the string token, thereby messing it up.

[2021-08-09 14:29] rix0rrr commented on #15895
Because of the way NodeJS works, the following is likely to fail:

[code]

This is because in your setup, where you have two libraries, the files on your disk probably look like this:

[code]

* Because both your application and your library install a copy of the CDK, the same file with the same contents is on your disk two times, in different locations.
* NodeJS does not have the concept of libra

[2021-08-09 14:29] #15895 closed

[2021-08-09 14:31] robert-lilleker commented on #11199
I've created a pr for the issue https://github.com/aws/aws-cdk/pull/15944

[2021-08-09 15:08] markusl opened #15945 "(pipelines): The given Stage construct ('foo/bar') should contain at least one Stack"
We receive an error "The given Stage construct ('foo/bar') should contain at least one Stack" when migrating our code to the modern pipelines.

### Reproduction Steps

[code]

### What did you expect to happen?

We would like to continue adding custom stages containing only CodeBuild projects and/or Lambda Invoke actions. Not all of our stages have stacks.

### Environment

  - **CDK CLI Version