[2022-01-09 08:54] #18325 closed

[2022-01-09 10:20] jogold commented on #13274
I will try to have a look at it this week or next week.

[2022-01-09 10:28] iliapolo commented on #18322
A note on this. If you are installing the CLI with `npm`, you should be safe from this issue because the CLI comes with an `npm-shrinkwrap` file that pins colors to `1.4.0`.

If you are installing with `yarn`, adding a resolution as mentioned [here](https://github.com/aws/aws-cdk/pull/18324#issuecomment-1008262155) will resolve this.

[2022-01-09 10:55] nkoudelia commented on #18322
What about `yarn global add aws-cdk`? Is there a way to pin dependencies for global packages?

[2022-01-09 11:26] luistrigueiros commented on #557
I agree that TS is not bad alternative, my preference for Kotlin comes from the fact that:

1. Kotlin has excellent, support of internal DSL's, but I have doubt whether this is possible with the current infrastructure for code generation from JSII as the code generation would have to be done in a way that makes possible to leverage  Kotlin's idioms like type safe builders [https://kotlinlang.org/d

[2022-01-09 11:34] iliapolo commented on #18322
@nkoudelia I'm not sure there is. The best way to workaround this issue (and future similar ones) is to install with NPM and take advantage of the shrinkwrap file. Is there a specific reason you need to use `yarn` here?

[2022-01-09 11:52] nkoudelia commented on #18322
No specific reason for `yarn` really - just a matter of taste. The question is not really abot `yarn` vs. `npm` - it's rather about "global" vs. "local" packages. And there is no real reason for using a global package either. I switched to local and added the `"resolutions": { "colors": "1.4.0" }` to my package.json and it works fine now. Thanks for the tip!

[2022-01-09 13:19] bodokaiser commented on #14823
@pfried as you both have pointed out it seems sufficient to insert an install command through the `commandHooks`.

For reference, the following worked for me when you pull a separate repo with independent dependencies next to the cdk directory, i.e., `../lambda` if `cwd` is the cdk directory:

[code]

If you pull in the codebase **into** the cdk directory, you need to exclude it via `tsconfig.json

[2022-01-09 16:31] #18322 closed

[2022-01-09 17:50] blimmer opened #18329 "(cli): replace colors.js with chalk"
### Description

A recent publish of `colors.js` is causing problems for a lot of software projects, including aws-cdk (see https://github.com/aws/aws-cdk/issues/18322, https://github.com/aws/aws-cdk/issues/18323, and https://github.com/aws/aws-cdk/pull/18324). The author of colors.js seems to be in crisis right now, and relying on their projects is risky.

Migrating from colors.js to [chalk](http

[2022-01-09 19:52] l0b0 commented on #17517
Oh right, you also need to `npm install`:

[code]

[2022-01-09 20:11] l0b0 commented on #17517
Please reopen.

[2022-01-09 20:31] PhilippBs commented on #17322
I was also running into the same issue and sadly I think the merged code is not fixing this. The fix is when the backend of a virtual node is also the virtual service itself where it is provider. However, the issue above mentions that if we have two virtual nodes which have a virtual service respectively and we wanna create a bidirectional backend setup between them.

This is still running into ci

[2022-01-09 20:41] shadogar opened #18331 "(lambda): Incorrect profiler arn on import when profiling is off"
### What is the problem?

When importing an existing profiling group into a lambda function using `ProfilingGroup.fromProfilingGroupArn` if profiling is flipped to false, the lambda role policy receives an invalid profiling group arn on it's resource.

The resource arn becomes arn:aws:codeguru-profiler:<region>:<accountid>:profilingGroup/profilingGroup

The name of the profiling group is invalid i

[2022-01-09 21:24] strongishllama opened #18332 "(aws-cdk/lib): change init template file extensions"
### Description

Currently, the init templates for the Golang sample app are being picked up by various tools, ```gopls``` and ```gosec``` for example. I believe this is because the file extension ends in ```.go```.

### Use Case

This is a (minor) issue because for every project that uses these tools you have to configure them all individually to ignore the directory that contains these files.

#

[2022-01-09 21:26] l0b0 opened #18333 "(Python packaging): Dependabot overrun trying to resolve all versions"
### General Issue

Dependabot is unable to determine most recent package versions, resulting in timeout

### The Question

To reproduce:

1. Create a GitHub repo.
2. Install a few Python AWS CDK packages ([17 in this case](https://github.com/linz/geostore/blob/79439c06b33414e1e26b3aa4b93a72fd7cbbae83/pyproject.toml#L86-L102)).
3. Configure [Dependabot for pip](https://github.com/linz/geostore/blob

[2022-01-09 22:02] markussiebert commented on #17938
Now, that I have thought about it for some time and looked deeper into the assertions, I came up with this:

Let's create a new Matcher, that will resolve the cfn intrinsic functions and accept other matchers ...

```Match.resolveCfnIntrinsic(pattern: any, options: ResolveCfnIntrinsicOptions)```

I can imagine options like:
[code]
This matcher will perform the serialization / resolve on the subtre

[2022-01-09 23:25] rsadr0pyz commented on #18323
**npx marak-free**

[2022-01-10 00:55] iliapolo commented on #18322
Fixed versions:

- https://github.com/aws/aws-cdk/releases/tag/v2.5.0
- https://github.com/aws/aws-cdk/releases/tag/v1.138.2

[2022-01-10 02:39] antonfelich commented on #2125
+1 to @damnhandy that's exactly what I'm currently looking for

[2022-01-10 02:54] ondbyte commented on #18323
How many projects are affected? Damn I came across two in the last 5 min

[2022-01-10 02:54] automartin5000 commented on #9565
@rix0rrr @eladb @NetaNir Could we get a comment on fixing this? As previously mentioned, this is a bug when using the CDK _as designed_.

[2022-01-10 03:58] dmschauer commented on #10820
@YikaiHu
Can someone please commet on the last line in this piece of code?
What does `lambdaTrigger.node.addDependency(ecrStateMachine, smRule)` do? I didn't see `ecrStateMachine ` and `smRule ` being created here so I'm confused.

Is this line necessary for automated execution of the Lambda function after it was created? Or is it sufficient to define `lambdaTrigger`?

[2022-01-10 04:05] im-coder-lg commented on #18322
Hi, I saw this issue pop up on my Google feed. Some open source dev pushed a commit to color.js that made it like this. I think hotfixes are given and a new version might be out soon. Is this repo famous on GitHub?

[2022-01-10 04:52] dineshraj01 commented on #18092
I would like to take this up.

[2022-01-10 04:56] automartin5000 opened #18337 "aws_stepfunctions_tasks.EcsRunTask: Resource not being created"
### What is the problem?

When I create a `EcsRunTask` resource, it strangely only seems to create the security group (as well as the DependsOn attributes and security group ingress/egress entries) and not the actual Step Functions job. There's no errors. The stack synths and deploys correctly. It just has no Step Functions resource, just the the security group.

Removing the dependency and the se

[2022-01-10 05:29] Seiya6329 commented on #17322
@PhilippBs - Thanks for reporting the issue. We will further validate if the issue is still reproducible.

@FranzBusch - Please also let us know if you are experiencing the same issue.

[2022-01-10 06:06] srameshr commented on #18323
@ondbyte Ours too. Building the product just prints rubbish on the console.

[2022-01-10 06:19] ondbyte commented on #18323
Literally everything that uses colors.js is affected

[2022-01-10 08:38] blizzz commented on #18323
Does this mean Amazon is including code from external sources without reviewing it?

[2022-01-10 08:41] DanielRuf commented on #18323
The CDK is for local development and does not run on their servers afaik. These are completely different things. The CDK is a tool to build products.

Provisioning is not done with this and the projects also do not run with this in production. Like any SDK, a CDK is a development tool, nothing more.

https://duckduckgo.com/?t=ffab&q=aws+cdk&ia=web

[2022-01-10 08:55] stoicad commented on #18245
We are also trying to attach an existing security group to an ELB without modifying the egress/ingress rules.

I am doing it like this:
const securityGroup = SecurityGroup.fromSecurityGroupId(this, "ELB Security Group", securityGroupId, { mutable: false, allowAllOutbound: true });

however, when looking at the cdk.context.json the generate JSON looks like this:
  "security-group:account=3268338181

[2022-01-10 08:57] rix0rrr commented on #14764
Mitch, assigning back to you for triage. I'm missing the context to know if something has happened here recently and whether this is still relevant or no...

[2022-01-10 08:57] gshpychka commented on #15584
@NGL321 I don't think I have enough experience to test this, but from my understanding, that commit is still in a draft PR and hasn't been merged. If it's merged, CDK releases would fail, since they don't satisfy the constraints.

[2022-01-10 08:59] stockf commented on #17558
Thx @tobytipton that is a helpful example.

[2022-01-10 09:17] rix0rrr commented on #18262
I had trouble reproducing this, but you are indeed correct. This must be because of https://github.com/aws/aws-cdk/pull/17668,

where the putObject call has been turned from:

[code]

into

[code]

I'm guessing the inclusion of `ServerSideEncryption` but lack of key ID is making it fall back to the default key.

[2022-01-10 09:21] #15737 closed

[2022-01-10 09:22] rix0rrr commented on #18262
Trace:

[code]

[2022-01-10 09:34] rix0rrr commented on #18262
Suspicion confirmed. With a locally fixed version of the CLI that includes the key ID it works:

[code]

[2022-01-10 09:56] ondbyte commented on #18323
More on why the developer has done it here. https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/

[2022-01-10 09:56] ondbyte commented on #18323
Check the link.

[2022-01-10 12:14] #18076 closed

[2022-01-10 12:16] paulrob-100 commented on #5455
@rix0rrr please could you help us understand where this is on the various roadmaps?
I can see it in the [CLI project](https://github.com/aws/aws-cdk/projects/11) in the "Needs RFC" column

I was hoping the CDK v2 would take the opportunity to upgrade to the AWS CDK for Javascript v3 which includes SSO support (see https://github.com/aws/aws-cdk/issues/5455#issuecomment-801111128), however it's sti

[2022-01-10 12:22] bedaka commented on #18245
While the issue pointed out by @stoicad might have the same / similar route cause it's not quite the same and I don't think this workaround would work for my scenario.

In case my description was not clear enough:

[2022-01-10 12:40] rix0rrr commented on #18282
Here is the problem:

[code]

You can't stringify number tokens in this way. You should be calling [`Tokenization.stringifyNumber()`](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.Tokenization.html#static-stringifywbrnumberx)... but I agree this is a bit of a bother, and we might be able to do the detection automatically instead.

[2022-01-10 12:46] Woozyman commented on #18322
This is not a joke.
[https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/](url)
The solution can be to lock the version in package.json
At least like so: (Any version above 1.4.0 has this endless loop.)
`"overrides": {
    "colors": "1.4.0"
  }`
else follow this Npm documentation close to specify these overrides to each package dependenc

[2022-01-10 12:51] Woozyman commented on #18323
The solution can be to lock the version in package.json
At least like so: (Any version above 1.4.0 has this endless loop.)
`"overrides": { "colors": "1.4.0" }`
else follow this Npm documentation close to specify these overrides to each package dependency
[https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides)
Find

[2022-01-10 12:51] rix0rrr commented on #18294
The combination of the things you pointed to with arrows:

[code]

and

[code]

Is simply not possible. What that tells me is that one of these things does not reflect reality.

The log probably DOES reflect reality, which means the snippet you showed where `base-directory` is something else probably does not. I'm going to guess that:

* The snippet you showed is the BuildSpec in the CloudFormatio

[2022-01-10 12:52] rix0rrr commented on #18317
The documentation is incorrect, thanks for point it out.

It needs to say that *deployment* will fail, not *synthesis*.

[2022-01-10 13:00] #4995 closed

[2022-01-10 13:06] venkat513 commented on #5927
vpc construct is at high level where the new vpc creation is made very easy at case. and subnets can be referred easily by type. But now the problem :
 for a existing  vpc
1.iam trying to add subnets  its is creating individual route tables for each subnets.
2.The subnet association to a common Route Table is hard for a group of new subnets (for ex DB subnets)

i have to pass on the cidr's and har

[2022-01-10 13:28] njlynch commented on #18301
See also this comment from @chrispykim: https://github.com/aws/aws-cdk/pull/18082#issuecomment-1008442363

[code]

[2022-01-10 13:39] im-coder-lg commented on #18322
Oh... It seemed like a joke. I mean, millions of packages depend on this and that fellow who committed that change just destroyed this. I hope everything goes out fine here!

[2022-01-10 13:41] mohamed-ali commented on #11171
Hello, any updates on this issue?

[2022-01-10 13:44] naxxster commented on #18282
I can workaround the error with following code:
[code]

I suggest to make the code consistent with `elasticache.CfnReplicationGroup.attrPrimaryEndPointPort` or `rds.CfnDBCluster.attrEndpointPort`, which translate token as string with `Token.asString`.

[2022-01-10 13:49] qoomon opened #18343 "(opensearch): domain should throw error if both accessPolicies and useUnsignedBasicAuth are set"
### General Issue

security concern DomainProps.useUnsignedBasicAuth implicitly negate accessPolicies

### The Question

Following code, to create an OpenSearch `Domain`, will result in two accessPolicies. First one is explicitly defined with an `aws:SourceIp` condition, the second one is created implicitly by `useUnsignedBasicAuth: true`, however this will negate the explicitly  defined policy.
[

[2022-01-10 14:04] iurquiza commented on #18249
I believe updating the `sarMapping` addressed the original issue, but the function is still failing to connect to the database. I need more time to test and verify that the issue has been resolved. This change packages the Lambda handler and it dependencies differently making it difficult to trace, since the source code for the rotation function is no hosted locally. I will post an update a soon a

[2022-01-10 14:26] jogold commented on #17288
Yes it looks like it (sorry for the late reply).

[2022-01-10 14:28] #18317 closed

[2022-01-10 14:36] fourhundredfour commented on #18329
I completely agree that the change should be made, however, it is not as critical as it is portrayed here.

There is a `yarn.lock` file in which among other things the hash is locked as well as the version number.

Also a hotfix was published. See https://github.com/aws/aws-cdk/pull/18324

[2022-01-10 14:39] makemefeelgr8 commented on #18294
I can confirm it doesn't work on 2.5.0.

[2022-01-10 15:01] corymhall commented on #18290
The `aws:cdk:bundling-stacks` is internal context that cannot be set by the user. This value is calculated based on the stacks that are provided with the `--exclusively` option. So if I have 2 stacks `StackA` and `StackB` and I run

[code]

Then `aws:cdk:bundling-stacks` will be `['StackA']` and bundling will be skipped for `StackB`

It is currently not possible to skip bundling for a stack that y

[2022-01-10 15:31] rob3c commented on #5455
We've switched away from the IaC-unfriendly, rather opaque and inflexible Control Tower headache to the much nicer [org-formation](https://github.com/org-formation/org-formation-cli) project for easier AWS Organizations multi-account management using IaC. It works well with SSO, and although it's originally (and still primarily) a direct CloudFormation tool, it has CDK support.

We deploy the CDK

[2022-01-10 15:58] leantorres73 opened #18345 "(elasticsearch): No longer support for parameter store value in masterNodes"
### What is the problem?

[code]

I had this piece of code working until I updated from 1.129.0 to 1.138.2. Now I'm getting the following error:

`Incorrect format is used in the following SSM reference: [{{resolve:ssm:ESMasterNodeSSM:vector-infrastructure/elasticsearch/master-nodes}}] `

### Reproduction Steps

Create an es Domain and set an SSM value for masterNodes.

### What did you expect to

[2022-01-10 16:04] #18262 closed

[2022-01-10 16:06] skinny85 commented on #18302
That's awesome @tmokmss, thanks so much for doing that! I'll check out the PR today.

[2022-01-10 16:25] guybagi435 commented on #14069
@Marakai did you manage to solve the issue?
I'm currently struggling with the same exact issue.

[2022-01-10 16:27] jogold commented on #13274
See #18346

[2022-01-10 18:23] dontirun opened #18347 "(assertions): Add ability to read Annotations"
### Description

Add the ability to read and validate against Annotations with the the assertions

### Use Case

The `@aws-cdk/assert` module has the ability to read messages of stack using `SynthUtils`. This is helpful when trying to validate that there are no errors/warnings in the stack, especially when using Aspects to apply annotations

[code]

### Proposed Solution

It would be nice to have

[2022-01-10 18:38] batara666 commented on #18322
Why you didn't fund marak?

[2022-01-10 19:45] sattigar opened #18348 "(module name): short issue description"
### Description

Support property ‘DisableExecuteApiEndpoint’  in REST- API, which was recently added in SAM.

SAM link -https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-resource-api.html#sam-api-disableexecuteapiendpoint
The same property is already supported by CDK for Http APIs - https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-sam.CfnHttpApi.html

###

[2022-01-10 21:05] joel-aws opened #18350 "(cli): optionally use current AWS credentials with new-style synthesis"
### Description

Add the ability to use the current AWS credentials with new-style stack synthesis instead of assuming the roles created by the Modern Bootstrapping Template.

I can get this behavior by setting ARNs in a custom [`DefaultStackSynthesizer`](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_core.DefaultStackSynthesizer.html) to non-assumable/existent roles, which then defaults to

[2022-01-10 21:09] skinny85 commented on #18350
@rix0rrr this is needed for some edge cases in the isolated/restricted regions.

[2022-01-10 21:28] raincoastchris commented on #18301
@otaviomacedo can you confirm this is fix causes python lambdas to work as expected in `cdk>=1.138.1`?  I have a project in which Python code is still bundled at `<asset-root>/asset-input/` instead of at `<asset-root>/` as expected, when using both 1.138.1 and 1.138.2.  For now I will pin CDK to 1.136.0, but I don't think the issue in CDK 1.x is resolved.

[2022-01-10 21:29] lewisje commented on #18323
*[Ars Technica](https://arstechnica.com/information-technology/2022/01/foss-developer-who-nuked-his-apps-embraced-qanon-theory-involving-aaron-swartz/)* is covering this issue too.

[2022-01-10 22:06] bestickley opened #18351 "(@aws-cdk/aws-appsync-alpha): Missing AppSync Resolvers"
### General Issue

Missing AppSync Resolvers

### The Question

The following CDK construct follows the documentation in how to create a GQL API but the resolvers are not being created:
[code]

[code]

Related CloudFormation created. Notice there is no AWS::AppSync:Resolver resource created.
[code]

### CDK CLI Version

2.5.0 (build 0951122)

### Framework Version

2.5.0

### Node.js Version

14.1

[2022-01-10 22:34] shadogar commented on #18331
I would be happy to open a PR to fix this bug, if that is alright with the cdk team

[2022-01-10 22:36] wplucinsky commented on #17322
@PhilippBs The latest version of `@aws-cdk/aws-appmesh` has not been published yet to NPM so the issue will persist until the CDK team publishes a new version. They do this every week around Wednesday. I will comment when it is updated. In the meantime you can use the [link-all utility](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#linking-against-this-repository) to pull in the lates

[2022-01-10 22:52] codeJack commented on #13532
Same issue reproduced with a python based CDK app.

[2022-01-10 22:59] fbrv opened #18352 "(@aws-cdk/aws-apigatewayv2-authorizers): add an HttpLambdaAuthorizer to an HttpRoute return http 500 internal server error"
### General Issue

When I add a HttpLambdaAuthorizer to an HttpRoute the endpoint stop working and returns http code 500 with the message "Internal server error"

### The Question

Hi there,
We are making some experiments with aws-cdk and we incurred the following issue: whenever we add an HttpLambdaAuthorizer to an HttpRoute defined in one of our stacks the message that we get is
[code]
with 500

[2022-01-11 00:58] geoff192 opened #18353 "(aws-ec2): Nat Instance & Elastic IP association"
### General Issue

Unable to Associate NAT Instance with Elastic IP

### The Question

I believe there's a limitation to associate Elastic IPs with NAT Instances.

### Documentation Link

https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.NatProvider.html#static-instanceprops

### Issue

I created a NAT instance using AWS CDK.

[code]

Then I created an elastic IP.

[code]

Now I need to

[2022-01-11 02:40] sphinx07 opened #18354 "(aws-secretsmanager): Cannot create subscriptions for SNS topics"
### General Issue

Problems in retrieving secrets from secret manager using 'fromSecretNameV2', secret values cannot be added to subscriptions

### The Question

I am using the method 'fromSecretNameV2' to get my secret values stored in secret manager, then add the secret values to subscriptions in SNS topics.Using this method 'fromSecretNameV2' I saw the SNS topic created in the console UI, but t

[2022-01-11 02:41] byongwu commented on #18294
Thanks for the feedback. Somehow `ln -s` call did not get executed. Just to let you know that, after the synth call `npx cdk synth`, CodeBuild came out with failure like above. Regardless of adding/removing symlink, it didn't work out for me.

Good information. I will try with CDK 2.5.0 with the fresh new bootstrapping. FYI, this is the bootstrapping method I am using as [CDK v2 + CodePipeline](ht

[2022-01-11 02:44] #17242 closed

[2022-01-11 03:27] ondbyte commented on #18323
What's ironic is, the developer has been locked out of his/her account and npm has reverted to last working version of these packages.

[2022-01-11 04:45] jfpolly opened #18355 "msk: add bootstrapBrokersSaslIam"
### Description

Currently @aws-cdk/aws-msk-alpha package supports:
* `bootstrapBrokers`
* `bootstrapBrokersTls`
* `bootstrapBrokersSaslScram`

Please add support for a new property
* `bootstrapBrokersSaslIAM`

### Use Case

In the case where the Kafka cluster is configured using Sasl with IAM, e.g.:

[code]

It is currently not possible to access the bootstrap brokers directly as a property of th

[2022-01-11 05:37] Jerry-AWS commented on #16488
I'll have a look at doing this soon.

[2022-01-11 08:19] byongwu commented on #18294
Awesome. I tried the fresh CDK 2.5.0 and it resolved my issue and correctly got this output.

[2022-01-11 08:21] byongwu commented on #18294
Thank you, @makemefeelgr8 and @rix0rrr for your time. Case resolved.

[2022-01-11 08:21] #18294 closed

[2022-01-11 08:35] dannysteenman opened #18357 "(aws-s3): aspects not applying to the resources that are created when enabling `autoDeleteObjects` on `Bucket`"
### What is the problem?

When I enable the prop `autoDeleteObjects` on the `Bucket` construct it automatically creates a custom resource with lambda and an IAM role.

However, I have an aspect that adds an override to all "AWS::IAM::Role" resources to include a permission boundary.

The problem is that it won't override the resources that are created when `autoDeleteObjects` is set to 'true'.

##

[2022-01-11 08:48] nomadme opened #18358 "Ability to pass multiple deployment roles to different stacks on single deployment call"
### General Issue

Yes

### The Question

Is there a way to pass role for the parent stack to be invoked as?

just like when invoking a specific stack from the cdk:
`cdk deploy StackA -r <arn>`

My use case is, we need to create a parent stack with different role arn, and the child stack uses another role to be invoked.

Here is the general dependency I have.
[code]

But, the StackA needs a differ

[2022-01-11 09:27] njlynch opened #18360 "(redshift): tags not applied to cluster"
### What is the problem?

(Copied from https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/999 on behalf of @xdiegoro):

When creating for Redshift cluster via CDK , the CFN template is not getting the tags. Tags are applied when using native cfn but not when using CDK.

In the cdk stack (CDK v2.1) a redshift-subnetgroup, redshift-parametergroup and a redshift-cluster are

[2022-01-11 09:40] njlynch commented on #18360
@xdiegoro and @pepdekpd --

Can you please provide a reproducible example for the above? I so far have been unable to reproduce; the cluster is tagged appropriately in each instance.

As an example:

[code]

[2022-01-11 09:53] otaviomacedo commented on #18301
@raincoastchris thanks for calling this out mergify closed the issue automatically. I'm reopening, as the actual fix will be available in the next release.

[2022-01-11 09:59] pharindoko commented on #1498
Horrible ... they should never have created cdk as wrapper for cloudformation.

[2022-01-11 10:08] fbrv commented on #18352
It turned out that the authorization function was not configured properly.
Adding ``` $context.authorizer.error``` to the api-gateway logs it displayed the error. The suggestion is also to add a paragraph on ```$context.authorizer.error``` since is not documented

[2022-01-11 10:08] #18352 closed

[2022-01-11 11:13] igilham commented on #17150
I'm finding this problem to also exist for the deploy command e.g. `cdk -r arn:aws:iam:::role/my-cfn-role deploy MyStack`.

Using CDK 2.5.0 NodeJS on MacOS.

[2022-01-11 11:35] Harshit22 commented on #18139
@igilham
What is the mitigation for the Cloudformation deployment as CDK still defaults `ShardCount` as 1 internally.

CDK code
[code]

Excerpt from snapshot test generated artifact
[code]

Am I missing something?

[2022-01-11 12:09] tgjorgoski commented on #13767
Hi @hassanazharkhan and others, I'm trying to use the workaround, but not sure what I'm doing wrong.
The situation is this: I have `handler.ts` file for the lambda, and it references `../dao/Customer.ts` which has typeorm annotations.
I transpile both files using `tsc`, and I see transpiled js files `handler.js` and `Customer.js`. When I open `Customer.js` I see the decorator metadata being presen

[2022-01-11 12:20] igilham commented on #18139
@Harshit22 This issue is fixed in CDK versions `1.138.2` and `2.5.0`.

The buggy version can be worked around using the code posted above by @pierre-vr.

Modifying it to match your example:

[code]

I have just created the following minimal test project to demonstrate that the fix works (using CDK 2.5.0):

### app.ts

[code]

### cdk.json

[code]

### command to run

[code]

### Output cdk.out/MyS

[2022-01-11 12:20] bestickley commented on #18351
I'm missing `dataSource.createResolver({ ... })` for each query and mutation.

[2022-01-11 12:49] #8432 closed

[2022-01-11 13:08] vxiiduu commented on #18322
because he does it for free

[2022-01-11 13:09] im-coder-lg commented on #18322
That's savage. Anyway, it's solved, someone create a backup of colors.js if
Marak decides to delete it.

[2022-01-11 14:36] cvwjensen opened #18362 "@aws-cdk/aws-s3: EventType does not contain enums for s3:ObjectTagging:*"
### What is the problem?

EventType does not contain enums for s3:ObjectTagging:* making it impossible to trigger Lambda when an object is tagged.

The documentation states that this should be possible: https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-s3.EventType.html#object_tagging_put

### Reproduction Steps

N/A

### What did you expect to happen?

I can use EventType.OBJECT_TAGGING li

[2022-01-11 14:37] joel-aws commented on #18357
Try using something like:

[code]

Credit to @robertd https://github.com/aws/aws-cdk/issues/13310#issuecomment-787410159

[2022-01-11 14:38] awsiv commented on #7413
Same issue with Security groups 😞

[2022-01-11 15:44] RigoIce commented on #18362
Hi all. I just checked that and I'm pretty sure it was introduced in the course of #18013 as the object tagging is available for me in CDK 1.37.0 and 2.4.

@cvwjensen could you please check your project's dependencies in the package.json to have at least 1.37.0 configured and installed? This could differ from the CDK CLI version. Maybe this already solves the problem for you quickly. :-)

[2022-01-11 16:27] ranjith-fh commented on #11445
@skinny85 Is this feature request has been moved?

[2022-01-11 16:55] cvwjensen commented on #18362
I'm SO sorry for raising false alarm. I forgot to upgrade my package.json from 1.131.0 to 1.38.2. In 1.138.2 it is present.

[2022-01-11 16:55] #18362 closed

[2022-01-11 18:36] kaizen3031593 commented on #18343
From the [README](https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-opensearchservice/README.md#L20):

that use basic auth. Unless the domain is configured to be part of a VPC this
means anyone can access the domain using the configured master username and
password.

policy that allows anyonmous requests, HTTPS required, node to node encryption,
encryption at rest and fine grained a

[2022-01-11 18:55] mrgarcia1998 commented on #15318
I was able to work around this issue by using the `CfnGlobalTable` class rather than the `Table` class.

Ensure your table's `RemovalPolicy` is set to `RETAINED` so it doesn't get deleted, remove the Table object from your CDK code, and deploy the changes. This will remove the table from the Cloudformation template but NOT from your account. Now, add back your table in CDK but instead as a `CfnGlo

[2022-01-11 19:51] skinny85 commented on #11445
If by "moved", you mean "has someone started working on it", then the answer is "No". It's all yours 🙂.

[2022-01-11 20:13] ahammond opened #18367 "(aws_elasticloadbalancingv2): logAccessLogs(myBucket) doesn't grant correct permissions"
### What is the problem?

Permissions granted to the bucket policy by `applicationLoadBalancer.logAccessLogs(logBucket);` do not match permissions required for logging as documented at https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-access-logs.html

Specifically, per the docs the policy needs to include
[code]

The `logAccessLogs()` method appears to be adding th

[2022-01-11 20:36] austin-payne commented on #17290
Same here, and even if set manually it's reset when the stack is deployed again

[2022-01-11 20:42] SamStephens opened #18368 "(cdk cli modules): change dependency specification or packaging to fix the dependencies for a given CLI version"
### Description

The fix for the colors.js and faker.js sabotage fixes the issue by [fixing those package version numbers to a fixed version](https://github.com/aws/aws-cdk/commit/b851bc340ce0aeb0f6b99c6f54bceda892bfad0e).

However all other packages are still using a caret version range. So the cdk CLI is still vulnerable to accidental or malicious breaking changes to other packages.

The best pr

[2022-01-11 21:57] #13274 closed

[2022-01-11 22:39] ahammond commented on #18367
Interestingly that first stanza, which is generated by CDK, is coming up as follows:
[code]
Note that the account in the principal does not match the account id in the resource. These are both deployed in the account identified by the resource. I'm also not sure where the Abort* comes from.

[2022-01-11 23:15] ahammond commented on #18367
Ah, the different account ids is intentional and correct (I read further in the docs).

[2022-01-12 01:17] cesarzapatawfm opened #18369 "lambda event rules"
### General Issue

The final policy size is bigger than the limit (20480) when adding many event rules to lambda

### The Question

I need to create about 50 event rules to run a lambda.

I have this code in c#
[code]
Now everything works but this code also adds the rules to the policy one by one which generates this error "The final policy size is bigger than the limit (20480)" I understand the i

[2022-01-12 02:51] ranjith-jagadees commented on #11445
@skinny85 Thanks for the update.

[2022-01-12 04:27] dragonfirefox commented on #18323
What the heck, I also found a [tweet](https://mobile.twitter.com/marak/status/1479200803948830724?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1479200803948830724%7Ctwgr%5E%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fwww.bleepingcomputer.com%2Fnews%2Fsecurity%2Fdev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps%2F) from the developer if this package.

[2022-01-12 05:37] fitzoh commented on #8996
Still present in 2.X (specifically 2.5.0

[2022-01-12 05:58] antonrogo1 commented on #14738
Hi recently began experiencing similar issue:
This CDK CLI is not compatible with the CDK library used by your application. Please upgrade the CLI to the latest version.
(Cloud assembly schema version mismatch: Maximum schema version supported is 15.0.0, but found 16.0.0)

Running commands
npm uninstall -g aws-cdk
npm install -g aws-cdk
didn't do the trick.

cdk --version
2.5.0 (build 0951122)

no

[2022-01-12 06:36] misterjoshua opened #18370 "(pipelines): v1 Cloud Assembly Schema version bumps break pipelines until v2 CDK CLI is released"
### What is the problem?

v1.139.0 synthesizes Cloud Assembly Schema Version 16.0.0, but the latest CLI doesn't support it. In CDK Pipelines, without explicitly setting `cliVersion: '1'`, the self-mutation step currently fails.

![image](https://user-images.githubusercontent.com/644092/149074980-574d1991-91aa-4896-b072-4d37a77b1c86.png)

I'm sure that v2's CLI will be released soon, but given that

[2022-01-12 06:49] stoicad commented on #18245
@bedaka, could you check the **cdk.context.json** file, in particular the value of the **allowAllOutbound** under the security group attached to ALB? Is it true or false? or it's not there at all?

[2022-01-12 07:30] MinCheTsai commented on #14738
same problem

cdk --version
2.2.0 (build 4f5c27c)

node --version
v14.18.1

npm --version
6.14.15

[2022-01-12 08:07] qoomon commented on #18343
That might be a good default, however how to setup an unsigned access for just a subset of `es:ESHttp*` actions or with a condition like `IpAddress` filter (see my example). Therefore I think there should be at least an option to prevent adding this default `unsignedAccessPolicy`

[2022-01-12 08:22] esteban-uo commented on #3663
@adrian-skybaker `domainZone` is already optional for `ApplicationLoadBalancedServiceBase` at least in master. If you need to use an older version, you could create a class and mock it and will also work. Hopefully works for someone else:

[code]

[2022-01-12 09:02] bedaka commented on #18245
@stoicad We do not use a cdk.context.json file in our project and there is also no such setting in the cdk.json context node.
However I tested setting the context in my example like this:
`this.node.setContext("allowAllOutbound", true);`
and run it both with **false** and **true** but it did not change the resulting Cloudformation.

[2022-01-12 10:31] jdotw opened #18375 "opensearchservice: master user is not added to domain"
### What is the problem?

The master user isn't actually created when a username is specified and/or if a password is specified.

### Reproduction Steps

Create a domain like this:

    const prodDomain = new opensearch.Domain(this, "Domain", {
      version: opensearch.EngineVersion.OPENSEARCH_1_0,
      capacity: {
        masterNodes: 3,
        masterNodeInstanceType: "m4.large.search",

[2022-01-12 11:22] toby-lego commented on #8707
Thanks, this got it working for me. Because it seems happy to create the directory itself and each run will get a fresh container we can just pass those options as enviroment variables:

[code]

Maybe we can resolve this issue by having those set by default in the bundling docker image?

[2022-01-12 11:25] stoicad commented on #18245
@bedaka, yes I think that's the issue is that basically the allowAllOutbound property is ignored when it's set programmatically. However, when this property it's set in the configuration, on my side it does work.
Have you tried to set the allowAllOutbound in the cdk.json? (this should be a new entry inside the **context** node, it doesn't have to be already there, but you should use your account i

[2022-01-12 11:55] Hi-Fi opened #18376 "(bootstrap): Allow to enable tag immutability in ECR repos"
### Description

Currently when CDK bootstrap is running, it created ECR repositories to bootstrapped (target) account. That ECR repository has `Tag immutability` disabled (actually not set which defaults to MUTABLE).

https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml#L203-L211
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-re

[2022-01-12 11:58] jezxube commented on #14738
I'm getting the same issue using CodeBuild:
[code]

[2022-01-12 12:00] gshpychka commented on #14738
This is because schema version 16.0.0 was introduced in CDK 1.139. CDKv2 does not support it yet as of 2.5.0.

Solutions:
1. Use the 1.139 version of the CDK CLI instead of the latest v2.
2. Downgrade your construct modules to 1.138
3. Switch your construct modules to CDKv2.

[2022-01-12 12:07] #17996 closed

[2022-01-12 12:09] jezxube commented on #14738
Solution 1 worked for me - thanks!

[2022-01-12 12:12] ahileseverquote commented on #14738
Thanks @gshpychka - Solutions 1 and 2 have helped unblock my team.

[2022-01-12 13:06] RomainMuller commented on #18320
What is generating this error (`reading go.work: /path/to/projectroot/go.work:3: unknown block type: directory`)? Is this somehow `go`? Or is `cdk` somehow trying to process this file for some reason?

[2022-01-12 13:39] OrGamliel8 commented on #14738
Solution 1 worked for me too !

[2022-01-12 13:51] robertd commented on #17290
@ChrsWoo Can you please create new GitHub issue for better visibility.

If you need more assistance, please either tag a team member or open a new issue that references this one.
If you wish to keep having a conversation with other community members under this issue feel free to do so.

[2022-01-12 14:22] ALxWi opened #18381 "Ec2.ClientVpnEndpoint construct is missing tagSpecifications"
### Description

It is currently not possible to add specific tags to ec2.ClientVpnEndpoint. There is no property in the interface to specify the tagSpecifications. The core Tags functionality (Tags.of(scope)add())does not work with the endpoint.

The CfnClientVpnEndpoint construct accepts tagSpecifications.

### Use Case

I need this to apply the appropriate tags to the endpoint.

### Proposed So

[2022-01-12 15:12] a-h commented on #15415
I'm encountering this with CDK 1.138.2, deploying inside the node:16  Docker container inside Github Actions.

[2022-01-12 16:15] afreyermuth98 commented on #17942
Hello !

I'm facing the same issue. When I bootstrap my account, it installs bootrap version 10 but my cdk deployment wants absolutely version 6. I tried to edit the cloudformation template to 6 but it installs 10 by default.
Moreover, is it possible to maybe skip the bootstrapping as it was with cdk v1 ?

Thanks by advance

[2022-01-12 16:33] brandomeniconi commented on #17002
+1  We are hitting 10 policies limit too. The policy is not required to put logs because we actually forked the `CloudWatchLogGroup` target class (v2.5.0) and removed the policy setup :

[code]

It actually works and logs are still being streamed from the eventbus to the log-group. If you think that adding a flag in the options to opt-in or opt-out the auto policy generation would be a good soluti

[2022-01-12 16:48] flavioleggio opened #18383 "(aws-lambda-nodejs): bundling logLevel property is ignored when nodeModules are required"
### What is the problem?

When a stack contains a NodejsFunction construct requiring node modules and with a log level in the bundling configuration, every cdk command in the same app starts the asset bundling ignoring that logging configuration.

### Reproduction Steps

Create a sample application and a stack containing this resource.
[code]
Now run whatever cdk command on that app.

### What did

[2022-01-12 17:13] kaizen3031593 commented on #18337
A StepFunctions task is meant to be added as part of a StepFunctions StateMachine definition. The task alone does not map to any particular resource. Are you also creating a StepFunctions StateMachine that uses the task as part of the definition?

Here's an example of how you can use `EcsRunTask` as part of a state machine:

https://github.com/aws/aws-cdk/blob/a8094c7d9970557077f560ccd24882216094e

[2022-01-12 17:17] polothy commented on #18370
@rix0rrr and CDK team friends - it would be helpful to make it clear if CDK CLI v2 is supposed to work with CDK v1 Apps. When I read the "CDK Toolkit compatibility" section of the [migration doc](https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html), I thought CDK CLI v2 could work with either v1 or v2 CDK apps (I could be totally wrong 😄).  Thanks for you help on this! 🍻

[2022-01-12 18:02] otaviomacedo commented on #18260
Hi, @thomasstep. Thanks for bringing up this use case and for volunteering to help implement this feature.

Yes, it's possible. We would just need to add some `Lazy.any()` in some places to postpone the rendering until the construct has all the models to render. But before moving on with the implementation, can you share a more complete example of how the interface would look like, in your opinion

[2022-01-12 18:11] leantorres73 commented on #18345
You're right, believe it or not, that code has been working for several months before the last update into 1.138.2 (who knows why).
I'll fix it and see if it fails or not.
Thanks and sorry!

[2022-01-12 18:11] #18345 closed

[2022-01-12 18:16] sammi252 commented on #11154
Thank you! @du291  and @mfm24  for bringing this up

[2022-01-12 18:34] mneirynck commented on #17792
I'll try with another secret name, as I was indeed using SOMETHING-SECRET as the secret name, which happens to be 6 chars after the hyphen.

[2022-01-12 19:24] skinny85 commented on #14738
Related issue: https://github.com/aws/aws-cdk/issues/18370.

[2022-01-12 19:53] #15008 closed

[2022-01-12 21:21] kornicameister commented on #12120
What's the status here? Stumbled on this few days ago?

[2022-01-12 21:22] kornicameister commented on #8581
Given that it seems to be already supported on nested stack it shouldn't bee to much of a trouble to add this for top-level stacks, right?

[2022-01-12 21:29] skinny85 opened #18386 "(CLI): hotswapping should wait for Lambda's `updateFunctionCode` operation to complete"
### Description

Right now, when hotswapping Lambda code, we don't wait for the `updateFunctionCode` API call we make to complete.

However, according to [the documentation](https://aws.amazon.com/blogs/compute/coming-soon-expansion-of-aws-lambda-states-to-all-functions/), this operation is actually eventually consistent today for Lambda functions that use Docker images, or are present in a VPC, a

[2022-01-12 21:33] kornicameister opened #18387 "(aws-sns): grantPublish should also grant permission to decrypt master key"
### What is the problem?

When calling `grantPublish` on topic method should add permissions to decrypt master key in order to properly send messages.

### Reproduction Steps

[code]

### What did you expect to happen?

`RoleDefaultPolicy5FFB7DAB` is generated with enty allowing to encrypt published message.
[code]

### What actually happened?

`RoleDefaultPolicy5FFB7DAB` contains a permission to

[2022-01-12 22:13] douglasnaphas opened #18388 "(aws-cdk-lib): h2 and h3s in comment break auto-docs"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2//docs/aws-cdk-lib.Stack.html#example-1

### Describe your issue?

There is a method comment for `Stack.exportValue`. It has an example. The method comment introduces the example with an h2 `## Example` and h3s `### Deployment 1: break the relationship` and `### Deployment 2: remove the bucket resource`. This makes the docs come

[2022-01-12 22:35] ronakkenia commented on #15318
Hey all, yeah as @mrgarcia1998 wrote, that is the workaround that we and a partner team ended up using to get around this issue. Since the problem still exists, I'll leave the GitHub issue open. If the project owners see fit, feel free to close it out, but the issue is handled on our end.

[2022-01-12 23:15] peterfranzen opened #18390 "CDK Pipelines: S3 Access Denied on UpdatePipeline 'Self Mutate' stage"
### What is the problem?

First-- I'm aware that others have posted similar bugs.  I'd like to add to that body of knowledge with this one.

Bootstrap version: 9
CDK Version: 2.4

The following error message occurs when I try to run a pipeline.  This is a brand new deployment that had been working previously, prior to deleting the pipeline and then re-deploying it.  The account has not been re-boo

[2022-01-12 23:50] ericzbeard commented on #17545
This looks fairly simple, I'm going to work on it this week.

[2022-01-13 00:39] madeline-k commented on #17269
@peterwoodworth, I agree with what you said [here](https://github.com/aws/aws-cdk/issues/16117#issuecomment-940483105). And this is the same scenario, just with a different construct.  But I also agree this is confusing and we could consider either changing how the connections objects work on all constructs or changing the documentation.

@matsaune  Thanks for opening this issue and providing the

[2022-01-13 00:43] #17566 closed

[2022-01-13 00:45] madeline-k commented on #17269
Oh, and this is happening with the underlying `FargateService` construct the is created by the `NetworkLoadBalancedFargateServicePattern`. So the same issue will happen with both.

[2022-01-13 00:45] #18369 closed

[2022-01-13 01:46] #17747 closed

[2022-01-13 05:07] lschierer commented on #9841
I am struggling to get this to work with default ubuntu AMIs.  An example of this in the cdk examples repo would be awesome.

[2022-01-13 05:28] dhawalschumi commented on #15257
We tried using escape hatches for use case  wherein Primary Key is in us-east-1 region and replica keys are in us-west-2 and eu-west-1 regions. We ran into Cross Stack Reference issue while passing primary key arn to replica keys of us-west-2 and eu-west-1 regions.

Exception -
Stack "<Replica Key Stack>" cannot consume a cross reference from stack "<Primary Key Stack>". Cross stack references are

[2022-01-13 05:44] setu4993 commented on #18301
This is resolved for me in https://github.com/aws/aws-cdk/releases/tag/v1.139.0.

[2022-01-13 06:26] frishrash commented on #15366
Thanks @madeline-k !

If anyone is interested in the Pythonic version of this workaround using CDK 2.x:
[code]

[code]

[2022-01-13 07:02] DarshanAwachat commented on #17869
Hi, Thanks @peterwoodworth It worked. I also wanted to know, are there issues in maitaining LogicalId's in codebase. Doing override like this
`distributionCfn.overrideLogicalId('LogicalId')`

[2022-01-13 07:16] TomaszCypser opened #18395 "(AWS.AppSync): Creation of CfnDomainNameApiAssociation fails when CfnDomainName object that association applies to is created under the same stack"
### What is the problem?

Creation of CfnDomainNameApiAssociation and CfnDomainName that the previously mentioned object applies to fails, if is being done under the same stack. If I were to separate them into two different stacks, the error would not occur.

### Reproduction Steps
1. Create GraphqlApi instance.
1. Setup domain name using this code snippet:

[code]

### What did you expect to happ

[2022-01-13 09:31] rix0rrr commented on #18370
Yes, CLIv2 works with v1 apps. It's just that the way our release train works, the statement "the CLI must have equal version or higher" becomes a bit inscrutable.

This situation is an artifact of us still supporting (and developing on) v1 for the next 6 months. Once we drop support for v1, all future changes will go into v2 directly and any inconsistency windows will disappear.

![image](https:/

[2022-01-13 10:06] Harshit22 commented on #18139
Thanks @igilham for detailed workaround ! Upgrading to CDK version `1.138.2` fixed the issue.

[2022-01-13 10:06] niks913 opened #18399 "aws-appmesh: Error: Resolution error: Supplied properties not correct for "CfnVirtualNodeProps""
### What is the problem?

Failure during cdk diff or cdk deploy with the recent version updates.
This works till aws-cdk-lib==2.5.0

### Reproduction Steps

[code]

### What did you expect to happen?

`cdk diff` or `cdk deploy` command to pass without errors

### What actually happened?

[code]

### CDK CLI Version

2.7.0 (build cfb09d5)

### Framework Version

_No response_

### Node.js Version

[2022-01-13 10:10] markussiebert commented on #17938
@kaizen3031593 Hi, if you wan't you can take a look at the WIP pullrequest I created.

Some things I have "introduced":
- handle all CfnFunctions and PseudoParameters: I think this is necessary :-)
- some Mock mechanism: With default values - So you can Mock the return values of Cloudformation Resource(attributes) and Pseudoparameters..

What do you think?

[2022-01-13 10:28] daniel4x commented on #1606
Following @basverweij-pp reply, I had the same problem and translated his code to Python.
For reference:
[code]

[2022-01-13 10:42] tranhl opened #18401 "stack: inline markdown headers introduces misleading "Example" section in right-side navigation"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.Stack.html#example-1

### Describe your issue?

Problem as per title describes. Screenshot provided for reference. Notice how there's an "Example" section halfway through the "Methods" section, and then two more subsections after "Example" ("Deployment 1: break the relationship"
 & "Deployment 2: remove the buc

[2022-01-13 10:57] flavioleggio opened #18402 "(aws-apigateway): enabled property of ApiKeyProps is ignored"
### What is the problem?

When a new ApiKey is created the `enabled` property is ignored and che key is always enabled.

### Reproduction Steps

Create a sample app with a stack containing a new ApiKey with enabled set to `false`
[code]

### What did you expect to happen?

A new api key is created and enabled is set to false.

### What actually happened?

The ApiKey resource gets synthesized with

[2022-01-13 10:59] #17545 closed

[2022-01-13 11:43] hassanazharkhan commented on #13526
@otaviomacedo So just to sum up there is no way to set the Deployments to the current stage if the RestApi is imported using CDK?

FYI, I'm able to set the current deployment using the console

[2022-01-13 12:38] #18301 closed

[2022-01-13 13:15] #13526 closed

[2022-01-13 13:30] jatsrt opened #18405 "(aws-events): Cross Stack Rule Requires Concrete Account"
### What is the problem?

When setting up a rule against a lambda defined in another stack that is in the **same account and region**.  CDK is now returning an error:

"You need to provide a concrete account for the target stack when using cross-account or cross-region events"

This is for any CDK version > 2.3.0

### Reproduction Steps

Create and export the ARN of a lambda function from one stac

[2022-01-13 13:32] deathquin opened #18406 "There is a problem with the firehose delivery stream code."
### What is the problem?

The following code was implemented.
However, the following errors occur.

Error Message:
[code]

The same is true of entering values of `bucketarn` and `roleArn` directly.

Also, Processing Configuration does not work.

If you change the same code to typescript and test it, it works.
Maybe there is a problem with golang cdk.

I hope you can check it out.

Thank you

### R

[2022-01-13 13:41] deathquin commented on #18406
Bucketarn and rolearn of s3configuration are also not recognized in the two codes below.
An error called missing occurs.

Check please.

Thank you.

[code]

[code]

[2022-01-13 14:35] dannysteenman commented on #18357
Thanks for sending the link, I was able to fix it by doing the following:
[code]

[2022-01-13 14:36] #18370 closed

[2022-01-13 14:53] corymhall commented on #17563
This was addressed in https://github.com/aws/aws-cdk/pull/17665

[2022-01-13 14:53] #17563 closed

[2022-01-13 14:54] #18122 closed

[2022-01-13 14:57] corymhall commented on #17932
@jonniedarko we've removed the `latest` version in favor of specific version tags (`v1` and `v2`)

https://docs.aws.amazon.com/cdk/api/versions.html

[2022-01-13 14:57] #17932 closed

[2022-01-13 16:05] tylerzey opened #18410 "(apigatewayv2): grantManagementApiAccess only grants "POST""
### What is the problem?

The grantManagementApiAccess function on the WebSocketApi (or WebSocketStage), creates the following iAM permission:
`arn:aws:execute-api:us-east-1:account-id:api-id/stage-name/POST/@connections/*`.

This denies the iAM user "DELETE" permissions on the WebSocketApi. Example iAM denied error:
[code]

I believe the naming of the `grantManagementApiAccess` function implies t

[2022-01-13 16:29] wplucinsky commented on #17322
A new version of `@aws-cdk/aws-appmesh` has been published to NPM. Versions >= 1.139.0 contain the fix.

[2022-01-13 16:41] flavioleggio commented on #17891
We are migrating a huge cdk project (250+ files) from v1.125.0 to v2.7.0 and a couple of production applications use common libraries we upgraded to v2 and `ecs-service-extensions`. We are very interested in this issues as it is blocking our migration to v2.

[2022-01-13 17:42] #17322 closed

[2022-01-13 17:49] Seiya6329 commented on #18399
@niks913 - Thank you very much for reporting an issue and we deeply apologize for the inconvenience you are experiencing from this. We are taking a look at this.

Will update this thread by end of the week.

[2022-01-13 17:50] tebatalla opened #18415 "aws-iam: Wrong type for conditions"
### What is the problem?

The type for `conditions` in [`policy-statement`](https://github.com/aws/aws-cdk/blob/a684ff47d56038a94c82cdbad9588da939963351/packages/%40aws-cdk/aws-iam/lib/policy-statement.ts#L582) does not correctly narrow valid types. Per that type, the following two types are valid per the typescript checker:

[code]

 Per cloudformation docs, the array should not be valid input: h

[2022-01-13 18:07] chrisjgray opened #18416 "(bootstrap): Least privilege deployments with CDK V2"
### General Issue

Least privilege deployments with CDK V2

### The Question

When migrating to AWS CDK v2, there was a significant change in the way roles are used to deploy the cloudformation stack updates. Previously, a role could be assumed which has least privilege access to be able to deploy aws cdk resources within an account. With the upgrade, now we are responsible for creating a role tha

[2022-01-13 18:08] mcsheehan opened #18417 "(aws_cdk.aws_lambda): The python typing has errors for almost all of the cdk examples, pycharm lights up like a christmas tree of type errors"
### What is the problem?

There are a number of items in the python cdk, which have incorrect typing information, which is flagged immediately upon opening the examples in pycharm. https://github.com/aws-samples/aws-cdk-examples/tree/master/python

Just load in the api-cors-lambda example and see pycharm light up with type errors:
https://github.com/aws-samples/aws-cdk-examples/blob/master/python/

[2022-01-13 18:44] patrickmryan commented on #12207
This issue is still not resolved. While it is possible to add a permissions boundary on a CDK stack, the bootstrap process does not include the option to attach a boundary policy to the IAM roles created by the bootstrap. As a result, the bootstrap process will fail if it is executed in an environment where we are not permitted to create an IAM role without a boundary policy.

I forked the repo an

[2022-01-13 18:53] einstein-it opened #18418 "(aws-cdk-lib/core): Resource tags (i.e. 'Name') are now missing from many resources"
### What is the problem?

We upgraded our stacks to CDK v2.7.0, re-bootstrapped our environment as described in documentation and were able to deploy. However, none of the deployed resources are being tagged now. We are using the same method, i.e. ```cdk.Tags.of(...).add(...)```, for all resource tagging where applicable, for example:

[code]

Here is the synthesized template from a stack containi

[2022-01-13 18:54] kaizen3031593 commented on #18347
Labeling this as p2 for now, going to wait and see if this is something users want. As always we measure interest via +1s.

[2022-01-13 19:06] OsamaAbbas commented on #18322
No, the question now is: why you won't sue that idiot?

[2022-01-13 19:08] einstein-it commented on #17615
Upgraded to v1.139.0, the same issue.

[2022-01-13 19:19] kornicameister commented on #18417
Pycharm is quite opinionated when it comes to setup, I often found it to differ greatly in opinion with `mypy`. Not to mention that `mypy` differs from `pyright`. It is a matter of preference obviously but I stopped using Pycharm because it often conflicted with `mypy` or `flake8` or `yapf` or even `black`.

PS. I don't have your sorts of issues when running my code via `neovim` with `mypy` interg

[2022-01-13 20:01] ryparker commented on #18405
Her @jatsrt 👋🏻

This is intentional. When importing a resource in CDK using a method such as `.fromFuncitonArn()` works only in stacks that are defined with an explicit account and region in their env property. If the AWS CDK attempts to look up an Amazon Lambda from an environment-agnostic stack, the CLI does not know which environment to query to find the Lambda.

See [How to define environment

[2022-01-13 20:15] ryparker commented on #18417
@mcsheehan This doesn't sound like a bug with CDK. As mentioned by kornicameister linters like Pycharm are opinionated and the CDK examples repo doesn't have any requirement to match `Pycharm` formatting.

You could always open a feature request in the CDK examples repo requesting for a `Pycharm` configuration and updated example projects. Contributions are always welcome.

[Create a new issue in

[2022-01-13 20:15] #18417 closed

[2022-01-13 20:22] metdockal commented on #11106
Grat tip @lielran !

I just extended your example with `onDelete` and `onCreate` hooks

[code]

[2022-01-13 20:42] MMOSimca commented on #9404
I also spent a decent amount of time confused by this recently.

I had it set to the same value as the containerPort at first, which does not work and results in weird errors.

[2022-01-13 20:44] ryparker commented on #18418
Hey @einstein-it 👋🏻

I'm having trouble reproducing this.

Here's what I'm testing with:

[code]

CloudFormation template (just the SecurityGroup):

[code]

Are you aware of any tag removal statements in your code?

i.g.
[code]

[2022-01-13 20:53] skinny85 opened #18420 "(cfn-include): AWS::NoValue fails for a boolean-typed property"
### What is the problem?

When trying to include a template with the `cloudformation-include` module that uses `{ Ref: 'AWS::NoValue' }` for a boolean-typed property, you get an error like:

[code]

### Reproduction Steps

Here's a minimal template showing the issue:

[code]

[2022-01-13 21:06] kaprah commented on #18416
Also as apart of this, Cloudformation stacks that were deployed before the cdk.json flag of `"@aws-cdk/core:newStyleStackSynthesis": false` was set, gets assigned the Service execution role created by CDK in V2. If you then change the `newStyleStackSynthesis` option to be `false` this still keeps the IAM service role that is assigned to the stack and it seems the only way to remove that role is to

[2022-01-13 21:16] skinny85 commented on #18420
The problem is [here](https://github.com/aws/aws-cdk/blob/c7c51debabeb3ec1de4f4c2dc986dfdfac27756b/packages/%40aws-cdk/core/lib/cfn-parse.ts#L802-L802). Our CFN parser uses the built-in [`Aws.NO_VALUE` constant](https://github.com/aws/aws-cdk/blob/c7c51debabeb3ec1de4f4c2dc986dfdfac27756b/packages/%40aws-cdk/core/lib/cfn-pseudo.ts#L29-L29), which erroneously assumes that `AWS::NoValue` can only be

[2022-01-13 21:30] caevv commented on #13292
This is happening to me as well, bucket is not even being created. I noticed that if I disable encryption it will work and upload, and if after I remove the data from the bucket and then enable encryption it will upload but in the end, it will give the same error.

[code]

[code]

[code]

[2022-01-13 21:47] kaprah commented on #18416
With modifying the bootstrap template we are able to add in a `iam:PassRole` permission that corresponds with deployment roles that we do have, we can then run through `cdk deploy --role-arn  <roleArn>` with the stacks that have the original bootstrap ones to update those particular stacks with our deployment roles that we want, the downside is we need to go through `cdk bootstrap --show-template`

[2022-01-13 22:02] caevv opened #18421 "(aws-s3-deployment): s3 sync error"
### What is the problem?

I'm getting errors deploying a CloudFront bucket. I notice that the bucket is being created and data is uploaded but the error still shows up triggering a rollback.

### Reproduction Steps

const bucket = new s3.Bucket(this, `${app.name}-deployment-bucket`, {
      bucketName: `web-assets`,
      websiteIndexDocument: "index.html",
      websiteErrorDocument: "index.html"

[2022-01-13 22:11] #18320 closed

[2022-01-13 23:18] ryparker commented on #18421
Hey @caevv 👋🏻

I'm having trouble reproducing the error.

Here's what I'm using:

Note: I have one HTML file at `assets/index.html`.

[code]

_[Full project available here](https://github.com/ryparker/aws-cdk-sample-s3-deployment)_

[2022-01-13 23:24] ryparker commented on #18421
Would you mind attempting the deploy with the `--verbose` flag?

i.g. `cdk deploy --verbose`

[2022-01-14 00:08] MMOSimca opened #18422 "(aws-elasticloadbalancingv2): ALB Target Group for NLB Incorrectly Assumes HTTP Protocol When No healthCheck Object Provided"
### What is the problem?

This is a bug present in the new NLB -> ALB functionality added to AWS and CloudFormation a few months ago and added to CDK shortly afterwards.

If you don't provide a healthCheck object, it incorrectly assumes the protocol for the healthCheck is HTTP, which puts the target group into an unhealthy state.

### Reproduction Steps

import * as cdk from '@aws-cdk/core';
impor

[2022-01-14 00:20] peterwoodworth commented on #18333
Hey @l0b0,

I'm not seeing the same behavior here. I've copied the CDK dependencies you have, and Dependabot will check them all within a couple minutes without downloading every version.

I'm not super familiar with Python dependencies or dependabot, but I have it set up the way you've described. I have configured poetry and pyproject toml files (installing the same cdk dependencies as you), and

[2022-01-14 00:43] MMOSimca commented on #18422
I updated my example a little. Bit of a CDK noob so the certificate and VPC info need to be imported for the example to run, but otherwise it should replicate the situation.

After further thought, I'm not sure what the right answer is here or if this is a bug in AWS itself, CFN, or CDK.

The traditional approach for NLB -> ALB is that the transfer protocol is TCP and the health check protocol is

[2022-01-14 00:49] l0b0 commented on #18333
@peterwoodworth Could you post your log file, so we can make sure we're comparing apples to apples?

[2022-01-14 00:54] peterwoodworth commented on #18333
<details>
<summary>Log file</summary>
<br>
  proxy | time="2022-01-14T00:21:17Z" level=info msg="proxy starting" commit=97925bb09c93ffdb9ffa4337cfa17277d7a43c14
  proxy | 2022/01/14 00:21:17 Listening (:1080)
updater | 2022-01-14T00:21:17.415210337 [anonymous-instance:main:WARN:src/firecracker/src/main.rs:370] You are using a deprecated parameter: --seccomp-level 2, that will be removed in a futur

[2022-01-14 02:01] peterwoodworth commented on #18353
Hey @geoff192,

The [configuredGateways](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.NatInstanceProvider.html#configuredgateways) prop on `nat_instance_provider` should return the instance id on the `gatewayId` property of each instance it created. Have you tried this out?

[2022-01-14 02:02] l0b0 commented on #18333
Could you please attach that as a file instead? GitHub has mangled the newlines in that log.

[2022-01-14 02:37] WinterYukky commented on #18353
It's just as @peterwoodworth described it.

This is my solution.
[code]

[2022-01-14 03:49] madeline-k commented on #17876
@aetos382 thanks for opening this issue, and providing repro steps. I was able to reproduce this issue, and I think it may be a regression.

[2022-01-14 06:04] youngjeong46 opened #18423 "(aws-eks): IPv6 support for EKS Clusters"
### Description

I'm requesting IPv6 support for EKS Clusters provisioned with CDK.

### Use Case

AWS recently announced support for IPv6 on EKS, focused on resolving the IP exhaustion problem, which is constrained by the limited size of the IPv4 address space, a significant concern as many scale their EKS applications. `eksctl` already supports cluster creation with IPv6

### Proposed Solution

[2022-01-14 07:26] peterwoodworth commented on #18333
[Here ya go](https://github.com/aws/aws-cdk/files/7868568/log.txt)

I'll continue investigating this tomorrow

[2022-01-14 08:22] RaphaelManke opened #18424 "(aws-secretsmanager):Partial arn generated in policy when addRotationSchedule used on imported Secret"
### What is the problem?

Given a secret a is imported by `Secret.fromSecretNamev2` and a rotation lambda is added by `Secret.addRotationSchedule()` the policy that is added to the lambda which grants the required permissions for updating the secret during rotation, is invalid because the ressource arn generated for the policy does not include the suffix `-??????`.
This results that the rotation l

[2022-01-14 09:07] cbm-gplassard commented on #18405
Hello, as discussed in #18255, this used to work when using cdk.ScopedAws (in cdk 1.138.0)

CDK didn't need to know the region & account when using the cdk.ScopedAws().{region, accountId} because it uses the Ref AWS::Region & Ref AWS::AccountId from cloudformation

[code]
I created a reproducer stack (when using with codepipeline since it's my use case but the issue seems to be the same) : https:/

[2022-01-14 09:24] mariusingjer opened #18428 "(aws-cdk-lib.pipelines): not able to output variables from cloudformation action"
### Description

Cloudformation action supports exposing outputs as variables: https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-variables.html#w2aac51c29b9b7

When adding stages with stacks, like this:

``
    pipeline.addStage(
      new DeployToStage(
        this, ...
``

There is no way of specifying the variable namespace for each stack inside the stage, and therefore not p

[2022-01-14 09:49] ivyxjc opened #18429 "ecs s3 environment's arn path is incorrect if partition is aws-gov"
### What is the problem?

We use `aws-gov` cloud. And I try to bind s3 environment to ecs. The generated cloud formation of the config is still
`arn:aws:s3:::....`.

following is the sample code

[code]

I review the source code of `aws-cdk`, I think the following code is the root cause. The arn may should use bucket's arn otherwise hard code `arn:aws:s3:::....`

https://github.com/aws/aws-cdk/blo

[2022-01-14 09:53] lacteolus opened #18430 "(aws-lambda-python): CDK synth fails while bundling asset for lambda function or layer"
### What is the problem?

CDK synth fails when aws_cdk.aws_lambda_python_alpha is used. It worked with 2.2. version but fails in 2.5 and 2.8. Maybe other versions are affected as well.
The problem seems to be in Windows environment only because it works in AWS Codebuild (aws/codebuild/standard:4.0 which is Ubuntu 18.04)

### Reproduction Steps

Init CDK app:
`cdk init app --language=python`

Simpl

[2022-01-14 09:59] rix0rrr commented on #18368
NPM does provide a mechanism to lock dependencies, called "shrinkwrapping", which the CDK uses. If you use NPM to install the CDK, you can rest assured that you will not accidentally start consuming untested malicious dependencies.

Yarn does not support such a mechanism, and the [developers are hesitant to implement it](https://github.com/yarnpkg/berry/issues/3968).

However, we are working on a

[2022-01-14 10:05] moritzluedtke opened #18431 "(OpenSearch): Update EngineVersion to support OpenSearch 1.1"
### Description

The EngineVersion class in `packages/@aws-cdk/aws-opensearchservice/lib/version.ts` should support the latest OpenSearch version supported in AWS which is OpenSearch `1.1`.

### Use Case

We would like to be able to use the newest version of OpenSearch without putting the version in ourselves via the custom version method.

### Proposed Solution

I've created a PR for this (#18432

[2022-01-14 10:08] lacteolus commented on #18430
Directory mentioned in error message - D:\Repositories\pythonProject1\cdk.out\asset.5470a3f49d3959d7cf18d599c13ca7a43389e2f9bfde4e13b42afb69b223e444-error
is empty

[2022-01-14 10:35] caevv commented on #18421
<details><summary>verbose</summary>

[code]

</details>

[2022-01-14 12:00] MrSwayne opened #18433 "(aws-codepipeline): Multiple Cross Account Pipelines Using Same Support Stack"
### What is the problem?

When utilising CodePipeline and cross account actions, a support stack is created in the target account under the name `${pipelineName}-support-${targetAccountNumber}`. This stack contains the roles needed to create/update cloudformation stacks in the target account.

For our use case we have multiple pipelines which are under the same cdk app (One is the production pipel

[2022-01-14 12:27] MMOSimca commented on #18422
Updated my post a bit more after additional testing and research, including suggesting fallback logic in the 'Other information' section of the OP that I think will resolve the issue as users expect this to function.

[2022-01-14 12:29] jatsrt commented on #18405
@ryparker the top level env that is being passed in with the scope to the lookup has both account and region defined in it in this scenario.  So, I think (again worked previously) this should work as it does have an account to base the lookup on.

[2022-01-14 12:36] jatsrt commented on #18405
This is what was generated by CDK <= 2.3.0

[code]

[2022-01-14 12:51] #18402 closed

[2022-01-14 13:43] kornicameister commented on #10308
I actually just stumbled onto that again. Having methods like `grantRead` or `grantPublish` is quite convenient but they usually change default policy in group, role or whatever. Having named policies that can be later on attached to said groups roles seems nicer.

i.e.

[code]

that gives us correct policies or managed policies with correct statements.

[2022-01-14 14:34] max-allan-surevine opened #18434 "ec2: VPC recreation will fail due to missing NAT property "dependsOn IGW""
### What is the problem?

Deploy a VPC with a NAT gateway.
Update the VPC definition so that it needs to create a new VPC and attempt to redeploy.
The deploy will fail to create a NAT gateway because the Internet gateway is not listed as a dependency.

### Reproduction Steps

Deploy this template and then change the CIDR to 10.2.0.0/16. Deploy the changed template.
[code]

### What did you expect

[2022-01-14 14:46] max-allan-surevine commented on #18434
Oh, it is worse than that. You can't update the IGW because there is an EIP allocated to the old network. Maybe this is a CFN bug that it shoud create a new IGW not update the old one...

[2022-01-14 14:49] njlynch commented on #17876
For what it's worth, here is an equivalent stack definition in Typescript:

[code]

I can't reproduce the above error in Typescript using the above (with the appropriate CDK versions). That certainly points the finger to a quirk of `jsii`. I think the culprit is #17328, which changed a lot of code to avoid deprecation warnings within the CDK itself. It changed a lot of explicit property passing to

[2022-01-14 15:03] spssmn-aws commented on #18416
+1 my customer is affected by this issue

[2022-01-14 15:08] arian-saliu opened #18436 "EC2.VPC: incorrect subnet calculation"
### What is the problem?

VPC resource disregards the maxAz variable. I want to create subnets spanning across the whole AWS region.
I came across other similar bugs where the resolution was:

`env: { account: '12345678912', region: 'eu-central-1' },`

This is set for my environment but does not resolve my problem.

### Reproduction Steps

[code]

### What did you expect to happen?

I expected sub

[2022-01-14 15:21] Stazz-Sphinx commented on #17544
Hello there.
Any updates regarding that issue. I have the same problem when upgraded till version 1.139.0. ?

[2022-01-14 15:57] kaizen3031593 commented on #9537
@spssmn-aws this is not in my immediate roadmap, but I would be happy to field community contributions on this. It looks like the PR #14633 is pretty stale at this point and didn't really get super far along in the API design process. Since this is a fairly complicated ask, the first step would be to iterate over the API design a few times before we get into the weeds of the implementation.

For a

[2022-01-14 16:11] ulf5 opened #18438 "(v2 docs): Link to source code broken in v2 docs"
### What is the problem?

The link to the source code from the documentation is incorrect.

### Reproduction Steps

Go here:
https://docs.aws.amazon.com/cdk/api/v2//docs/aws-cdk-lib.LegacyStackSynthesizer.html
Press "source" next to TypeScript.

### What did you expect to happen?

See source code

### What actually happened?

Page not found.

### CDK CLI Version

2

### Framework Version

_No resp

[2022-01-14 16:31] gburke-ppb opened #18439 "(maybe lambda): Pipeline stack which uses cross-environment actions must have an explicitly set region"
### What is the problem?

Using aws-cdk 1.139.0 we are getting the error `Pipeline stack which uses cross-environment actions must have an explicitly set region` when running some unit tests.  Locking to 1.138.0 or before doesn't show this issue.

### Reproduction Steps

Being thrown due to this code, it seems:

[code]

[code]

### What did you expect to happen?

The code to work as it has always

[2022-01-14 16:37] gburke-ppb commented on #18439
This is being called thus:
[code]
in the test.

[2022-01-14 17:13] atkinsonm commented on #11100
@lifeofzero's example worked for me without the policy; the `grantWrite` provided `logs:CreateLogStream` and `logs:PutLogEvents` which was sufficient in my case for writing logs

[2022-01-14 17:20] stekern opened #18440 "(pipelines): Various pipeline-related constructs not visited by aspect"
### What is the problem?

I noticed this issue when trying to tag all resources that are created when using the`pipelines.CodePipeline` construct. Some constructs (e.g., `<...>/UpdatePipeline/SelfMutate/CodePipelineActionRole/Resource`) were created and available in my cloud assembly, but never visited by my aspect (and thus not tagged).

I've observed the following behavior:
- various pipeline-re

[2022-01-14 17:43] kaizen3031593 commented on #18316
HI @aws-painec! Thanks for alerting me of this issue. You are right that this example is currently broken, actually in more ways than one. I am surprised that your workaround works for myriad reasons (did not work for me). Here's what I've got:

The TypeScript example is broken already. Should look like this:

[code]

Ideally this translates to this in Python (although I'm not certain how we can g

[2022-01-14 18:08] #18302 closed

[2022-01-14 18:23] corymhall commented on #18386
After looking into this, there are some nuances to account for. Here is what I've found.

There are a couple pieces of information that we get from Lambda after updating the function code
### `State`
controls whether we can update the function _and_ whether we can invoke it
- `State=Active`: Function can be invoked _and_ updated
- `State=Pending`: Function cannot be invoked or updated

For our pur

[2022-01-14 18:34] skinny85 commented on #18386
Awesome work @corymhall researching this, super thorough! I agree with all of your recommendations 🙂.

Given that, do you have enough information to start working on implementing this?

[2022-01-14 18:36] corymhall commented on #18386
@skinny85 yep I've already started working on it :)

[2022-01-14 18:51] skinny85 commented on #18433
Hey @MrSwayne,

thanks for opening the issue. Yes, you're right that the cross-account support Stacks are shared between multiple pipelines in the same application. This was done to save on the number of Stacks that are automatically generated. However, I see how this can be tricky in your case.

We recently had a similar issue about the cross-region support Stacks (https://github.com/aws/aws-cdk/

[2022-01-14 19:35] dggmsa commented on #10413
+1

[2022-01-14 19:53] cokia commented on #18381
https://github.com/cokia/aws-cdk/commit/cccfafceaefb47826600d62d2d52968a1bbafbad

I made a simple modification for this issue.

Please tell me if the issue I understood is what you think.

If correct, I will write a test code, update the readme, and write a PR.

[2022-01-14 20:22] aisamu opened #18443 "(aws-apigateway): incorrect cross-region/partition LambdaAuthorizer references"
### What is the problem?

The existing ARN reference mechanism used by the `TokenAuthorizer` only allows pointing to lambdas on the same `account`.

Both the partition and the region are [being incorrectly inferred from the stack where the reference itself was defined instead from what it refers to.][1]

More concretely:

[code]

`cdk.Stack.of(fn).region` refers to `REGION-A`, not the desired/expe

[2022-01-14 20:30] #17209 closed

[2022-01-14 20:57] skinny85 commented on #18249
@iurquiza make sure the connectivity is in place for the rotation Lambda to reach all of the needed services ([here is the CDK documentation](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_rds-readme.html#rotating-credentials) on the topic).

[2022-01-14 21:32] lschierer opened #18446 "(aws_kms): outdated reference to defaultKeyPolicies"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_kms-readme.html

### Describe your issue?

The API reference instructs users to use either the '@aws-cdk/aws-kms:defaultKeyPolicies' feature flag or to set trustAccountIdentities to true in the Key Policies section.  The former yields

[code]

during cdk synth.

The latter yields errors during npm run build

[2022-01-14 22:57] moritzluedtke commented on #18431
PR is merged. I'll close this issue.

[2022-01-14 22:57] #18431 closed

[2022-01-15 00:49] jcpage commented on #12472
For the use case of building an x86 lambda layer on a M1 Mac, after fighting with it for quite a while I realized there was a completely trivial solution...

I just changed

[code]
to

[code]

[2022-01-15 01:10] RichiCoder1 opened #18448 "(aws-synthetics): add cleanup lambda"
### Description

Currently, when you delete a synthetic it leaves behind a massive set of detrius. This includes CW resources, buckets, lambdas, and other resources. This is a limitation of the Synthetics API where it will not explicitly delete resources left behind.

### Use Case

To fully cleanup resources upon stack deletion.

### Proposed Solution

Similar to S3, provision an additional lambda

[2022-01-15 01:25] skinny85 commented on #18386
@corymhall one last question. I understand your comment gives a great summary of the current state.

Do you know how will that description be affected by the changes outlined in the blog post linked in the issue description, that are scheduled to go out on February 1?

[2022-01-15 01:41] jdotw opened #18449 "aws-opensearchservice: specify multiple subnets allowed in CDK, but fails in deployment"
### What is the problem?

The vpcSubjects property is defined as ec2.SubnetSelection[]. This indicates that an array of (i.e multiple) subnets can be defined under the domain. However, specifying more than one subnet in that array results in a deployment failure "You must specify exactly one subnet"

### Reproduction Steps

    const prodDomain = new opensearch.Domain(this, "Domain", {
      versi

[2022-01-15 02:05] shadogar commented on #18331
Seems to be a thumbs up on my offer, go ahead and assign me to this issue and I'll open up a PR

[2022-01-15 02:47] gasser-mamdouh commented on #17744
I'm really interested to work on this task, can I work on this task?

if I can, for example: if a user has a max of 5 parallel runs, and has 8 assets, I want to make the assets stage have 2 steps the first step have from FileAsset1 to FileAsset5, and the second step have from FileAsset6 to FileAsset8, that's the expected behaviour right?

[2022-01-15 03:43] niks913 commented on #18399
I'll give it a try and update you.

Thank you

On Fri, 14 Jan 2022, 06:30 Seiya6329, ***@***.***> wrote:

[2022-01-15 04:43] tmokmss opened #18451 "(cli): cdk watch shows "...messages supressed..." logs infinitely"
### What is the problem?

Hi team, thank you very much for releasing the cool feature to monitor Lambda logs #18159!
I tried it and it's working fantastic, but noticed that it sometimes shows invalid logs infinitely. Details are below.

Could you check it when you get a chance? Thanks.

### Reproduction Steps

Deploy a function with `cdk watch`, and invoke it.

### What did you expect to happen?

[2022-01-15 05:27] automartin5000 opened #18452 "Secrets-Manager: Verify imported secrets"
### What is the problem?

When using `secretsmanager.Secret.from_secret_name_v2`, I would expect that CDK synth would be verifying the existence of the secrets in the target account and throwing an error if they don't exist. But it doesn't seem to do that. Instead, my deployments make it all the way to ECS trying (and failing) to launch new tasks with secrets that don't exist.

### Reproduction St

[2022-01-15 12:02] VXConsulting opened #18453 "[cdk deploy] cdk deploy does not take into account the specific bootstrap qualifier"
### What is the problem?

I had bootstraped my account with the following qualifier : devops
The synth command synthesizes the stack with the correct values of bootstrap :
`
BootstrapVersion:
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cdk-bootstrap/devops/version
    Description: Version of the CDK Bootstrap resources in this environment, automatically retrieved from SSM Parameter

[2022-01-15 14:04] univerze commented on #7746
Hi, I had the same problem, I managed to get a workaround with the pattern. It's more code though
[code]
At this point it may be better to drop the pattern and create everything manually. With this tho I can use GitHub actions to push to the ecr repo with no issues, and the nodejs app starts.

[2022-01-15 14:16] asquithea commented on #18211
I've been using `SdkProvider` and `CloudFormationDeployments` to wrap a service around CDK to deploy templated infrastructure on demand. My usage pattern is to use `CloudFormationDeployments` to upload assets and prepare a CloudFormation change-set, and then use the standard CloudFormation API to execute and monitor that change-set using SNS notifications.

Was aware from the start that these are

[2022-01-15 14:22] kaizen3031593 commented on #18448
I like the idea! Seems doable with a custom resource like s3.

[2022-01-15 14:32] asquithea commented on #15851
Adding my voice here:

For v1, I built a serverless application that provides templates that can populate a cdk.Stack. A lambda then uses `CloudFormationDeployments` to setup the CloudFormation changeset (i.e. without executing). Combined with the SNS notifications and a client request token, this can then execute asynchronously and we can monitor the deployment progress from another lambda.

As w

[2022-01-15 17:42] misterjoshua opened #18454 "(stepfunctions): lazily calculate state machine definition"
### What is the problem?

Step functions state machines silently fail to add states after the state machine resource has been created.

### Reproduction Steps

[code]

### What did you expect to happen?

I expected the state machine definition to include the `test1` and `test2` Pass states.

### What actually happened?

The state machine synthesizes a definition that doesn't include the `test1` an

[2022-01-15 18:00] pflorek commented on #2877
Yeah, I was also looking for a Constructs library with AWS Organizations and AWS Account constructs.

See I created a simple one: https://github.com/pepperize/cdk-organizations

What do you think?

[2022-01-15 18:16] coreycoto commented on #2877
@pflorek this is excellent! Kudos to you and all of the contributors on the project. Very well done! The Construct Types and examples appear to be well thought out and clear. Also, great use of GitHub Actions too. I haven't tried using project yet but plan to in the near future 🙌

Hey AWS team... what about pulling this CDK library into the core CDK typescript package? 🤷‍♂️

[2022-01-15 18:45] deybhayden commented on #7120
Hey there - has anyone been able to put CloudFront in front of their ApplicationLoadBalancedFargateService and have the communication between the ALB & Cloudfront be over HTTPS? Since the pattern requires a certificate/domain name I'm struggling with either invalid SSL (wrong domain name for the cert for ALB), or Route53 not pointing at my Cloudfront, but ALB instead.

[2022-01-15 18:56] jmjava commented on #2877
Wow!

On Sat, Jan 15, 2022 at 1:00 PM Patrick Florek ***@***.***>
wrote:

[2022-01-15 19:43] fc commented on #11238
In my case, I resolved this error with:
[code]

[2022-01-15 20:33] pflorek commented on #2877
@coreycoto thank you!

The project wraps [AWS Organization API](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Organizations.html) just by [CDK Custom Resources](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.custom_resources-readme.html).

The Github Actions are the defaults from [projen](https://github.com/projen/projen), which is just CDK for projects from the AWS devs.

Curre

[2022-01-16 02:54] automartin5000 opened #18457 "IAM: Maximum policy size of 10240 bytes exceeded for role.."
### What is the problem?

Our app has a lot of resources (mostly a lot of secrets). This is causing the auto-generated inline policy max combined size to be exceeded. Even though this bug is technically covered by [this feature request](https://github.com/aws/aws-cdk/issues/7448) since using Managed Policies is probably the primary fix, I thought I should formally file this issue.

### Reproductio

[2022-01-16 02:55] automartin5000 commented on #7448
Just ran into the inline policy limit where this could've solved for that. Reported bug here: https://github.com/aws/aws-cdk/issues/18457

[2022-01-16 02:59] automartin5000 opened #18458 "IAM/Secrets Manager/ECS: Consolidate IAM policies under path"
### Description

Best practice of Secrets Manager recommends the use of using an `env/` path pattern for secrets naming. CDK should detect the use of this pattern and consolidate IAM policies under `env/*`, especially when using the `aws_ecs.secret` construct.

### Use Case

Simplify IAM policies, but also to solve this bug: https://github.com/aws/aws-cdk/issues/18457

### Proposed Solution

Switc

[2022-01-16 03:55] mrpackethead commented on #18457
Related

https://github.com/aws/aws-cdk/issues/18167
https://github.com/aws/aws-cdk/issues/18293
https://github.com/aws/aws-cdk/issues/16350
https://github.com/aws/aws-cdk/issues/9243

[2022-01-16 03:57] mrpackethead commented on #18453
Have you modifiyed your cdk.json to reflect that you are not using the default qualifier?

hnb659fds is the default value for a cdk project.

[2022-01-16 03:58] automartin5000 commented on #18457
I saw that, but those issues were related to Pipelines and the fixes all seemed to be specific to Pipelines. Whereas I was hoping this issue could cover a broader set of use cases.

[2022-01-16 04:57] robertd commented on #17942
@afreyermuth98 Checkout @njlynch 's comment above (https://github.com/aws/aws-cdk/issues/17942#issuecomment-992295898)

[2022-01-16 05:46] apoorvmote opened #18459 "(aws-lambda-nodejs): Uploaded file must be a non-empty zip"
### What is the problem?

I updated lambda function dependancies and deploying the lambda function but it fails with following error.

![error](https://user-images.githubusercontent.com/9799239/149648637-856d0a06-3a4e-408a-a3a4-b7005071d354.jpg)

I also have another api under the same project and I updated its lambda function dependancies and it was deployed successfully.

Both api's and its lambd

[2022-01-16 08:57] tmokmss commented on #18201
WebSocket API also has the same issue https://github.com/aws/aws-cdk/issues/18208.
Currently it seems we cannot share the same integration instance with multiple routes.

Another workaround is to create an integration instance per route.

[2022-01-16 09:55] joelchen opened #18460 "aws-ecs: Support MaxSwap and Swappiness in LinuxParameters"
### Description

Please support MaxSwap (https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/cfnspec/spec-source/specification/000_cfn/000_official/000_AWS_ECS.json#L975) and Swappiness (https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/cfnspec/spec-source/specification/000_cfn/000_official/000_AWS_ECS.json#L987) in LinuxParameters (https://github.com/aws/aws-cdk/blob/master/pa

[2022-01-16 12:03] zxkane opened #18461 "(aws-lambda): wrong package name for typescript"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_lambda-readme.html

### Describe your issue?

The correct package name in v2 should be `aws-cdk-lib/aws-lambda`, but it's `aws-cdk-lib » aws_lambda` in doc.

It impacts all stable modules.

[2022-01-16 12:14] NaincyKumariKnoldus commented on #18461
Hey @zxkane Can I do this please?

[2022-01-16 18:37] kbakk commented on #15813
It looks like this has been resolved in the Homebrew issue tracker – https://github.com/Homebrew/homebrew-core/issues/92116, via commit https://github.com/Homebrew/homebrew-core/commit/4d2c0d05743627f01d3ca9dbfc6f298c4906e12b.

Tried upgrading node@16 and running:

[code]

It now works 🙂

[2022-01-16 23:09] automartin5000 commented on #15813
Just tried it and it seems to be working for me too.

[2022-01-17 06:33] automartin5000 opened #18462 "ECS Patterns: Add `RuntimePlatform ` to L3 Constructs"
### Description

Add [this](https://github.com/aws/aws-cdk/issues/17242) `RuntimePlatform` property to ECS Patterns constructs. I'm specifically interested in QueueProcessingFargateService and NetworkLoadBalancedFargateService

### Use Case

I want to run Fargate containers on Graviton instances

### Proposed Solution

Implement the `RuntimePlatform` property recently added [here](https://github.c

[2022-01-17 06:54] ubergeoff opened #18463 "Unable to assign responseHeadersPolicy to my Distribution"
### What is the problem?

Unable to assign `responseHeadersPolicy` within my `Distribution` when using `aws-cdk-lib/aws-cloudfront`

Error seen is:

[code]

### Reproduction Steps

Assign a `responseHeadersPolicy` to the distribution:

[code]

### What did you expect to happen?

I expect that the Response Header Policy is assigned to the correct cache Behavior. i.e. should be assigned to my `defau

[2022-01-17 07:59] VXConsulting commented on #18453
Yes I have.
But, I detected that this problem now occurs only on one account.
I will clean the stacks and the bootstrap stack and see if I still have the problem.

[2022-01-17 09:19] RomainMuller commented on #17876
We identified the cause for this issue (see aws/jsii#3339 for more details).

The jsii runtime bug has been there virtually forever, but CDK did not previously trigger that, so it went unnoticed.

Once aws/jsii#3339 is released, ensuring the updated version of the jsii runtime library should be enough to get the problem fixed (no need to wait for a CDK release).

[2022-01-17 10:22] jogold commented on #18459
Looks like for some (unknown) reason an empty zip file landed on S3 for this asset.

It should be fixed If you manually remove the asset file from the bootstrap bucket and then retry.

[2022-01-17 10:34] TomaszSzusterTR opened #18466 "(cloudwatch): Row class to use list of widgets"
### Description

Can class Row accepts list of widgets or maybe implement a method for adding new widgets?

Now we need to explicitly write all widgets when defining a  new row as below:
`cloudwatch.Row(widget1, widget2, widgetN)`

### Use Case

To generate widgets in a loop and add them in batch in a programmatic way.

### Proposed Solution

Thus there is no option to add a generated list of widg

[2022-01-17 12:27] flavioleggio commented on #15301
Any news on this? We really need to update certs in our production environment. This can be a security issue.

[2022-01-17 13:49] azatoth opened #18470 "(aws-lambda-nodejs): Use esbuild API instead of CLI for bundling"
### What is the problem?

If a dependency has a `.node` dependency, for example `ssh2` in `node_modules/ssh2/lib/protocol/crypto.js` has

`binding = require('./crypto/build/Release/sshcrypto.node');`,

this will have esbuild fail the bundling with

`error: No loader is configured for ".node" files: ../node_modules/ssh2/lib/protocol/crypto/build/Release/sshcrypto.node`.

In https://github.com/evanw

[2022-01-17 15:04] mjgp2 commented on #18460
Example workaround:

[code]

[2022-01-17 15:08] jogold commented on #18470
Does it work with this?

[code]

See https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-lambda-nodejs#install-modules

[2022-01-17 15:48] MousaZeidBaker opened #18473 "(bootstrap): Bootstrapping with CDK v1.139.0 removes IAM policy from the ECR asset repository"
### What is the problem?

Bootstrapping from `1.138.0` to `v1.139.0` removes IAM policy from the `cdk-hnb659fds-container-assets-1234567890-eu-central-1` ECR repository resulting in Lambdas being unable to run due to not able to access their images. The following policy was removed:

[code]

resulting in the following Lambda error:
[code]

### Reproduction Steps

1. Bootstrap account with `v1.138.

[2022-01-17 16:00] tvb commented on #3433
How is defaulting to "egress allow all" providing least-privilege permissions?

[2022-01-17 18:13] nguyen-tran opened #18475 "(aws-glue): CfnTable name does not resolve correctly in CloudFormation template"
### What is the problem?

I am trying to pass a table name to a function that creates a Glue table using the L1 construct CfnTable because I need to also set parameters (see: https://github.com/aws/aws-cdk/issues/7826). However, when I run `cdk synth MyStack`, the table name resolves as `${token[token.206]}` in the outputted CloudFormation template:

[code]

Passing a static string does not have t

[2022-01-17 18:42] shubhamk1997 commented on #8581
Any updates on this ? I agree this should be a part of the Stack construct rather than the NestedStack construct.

[2022-01-17 19:49] l0b0 commented on #18333
Thanks! The only interesting difference I could find so far is that your log says `updater_version=0.171.1-6726693b8b0ce3a75bc7bbc3c216aaf964f4172e` while mine says `updater_version=0.170.0-7df2e74d95609abe209b12e940dacb015e01a2e4`.

That's it. Could you post the pyproject.toml/poetry.lock files you used as well? If they're different from mine that might explain it.

[2022-01-17 19:57] israelg99 commented on #4776
Update on this?

[2022-01-17 21:40] plmwd commented on #18421
I am getting the same error, and I'm having a hard time viewing logs of the deployment since it is a deploy stage in a CDK pipeline.

[2022-01-17 22:10] l0b0 opened #18477 "(ec2): aws-cdk 2.1.0 results in empty subnet lists"
### What is the problem?

I've got a (private, sorry) project which works with CDK 2.0.0 but not with 2.1.0 or any more recent versions up to and including 2.8.0. The VPC is fetched like this: `vpc = aws_ec2.Vpc.from_lookup(self, "vpc", tags={"foo": "yes"})`. I then use the VPC in two ways:

[code]

and

[code]

After upgrading to 2.1.0 I got the following error message related to the first snippe

[2022-01-17 22:32] plmwd commented on #18421
My issue was the lambda deploying the code to s3 ran out of memory. @caevv does adding a `memoryLimit: 512 // or 1024` to s3deploy fix the issue?

[2022-01-17 22:53] plmwd commented on #18421
[code]

[2022-01-17 23:14] plmwd commented on #18421
I'm not really sure what's wrong. It was working (to my knowledge) yesterday or a few days ago. Here's the repo: https://github.com/UCF-Aether/Aether-App/tree/feature/infra-pipeline-sm-env.

[2022-01-17 23:22] gjmveloso opened #18478 "(aws-eks): Exposing the Auto Scaling Group from a Nodegroup"
### Description

The idea of this feature request is to add to EKS Construct Library the ability of exposing the resulting Auto Scaling Group created for a EKS Managed Node Group

### Use Case

Enable Interacting with the resulting Auto Scaling Group created by `addNodegroupCapacity` method

### Proposed Solution

N/A

### Other information

_No response_

### Acknowledge

- [ ] I may be able to i

[2022-01-18 00:02] joelchen commented on #18460
@mjgp2 Thank you, it got registered in repository's template.json and tree.json. However after deployment, `docker inspect` the running container of bottlerocket-os shows MemorySwap as 0.

[2022-01-18 00:40] grousseva commented on #13777
@erudisch how were you able to get the password later from the generated secret from the cluster?

[2022-01-18 00:51] plmwd commented on #18421
Weirdly enough, it works with selfMutation enabled, but not when disabled. I've even done a fresh deploy (deleted the stacks). I noticed the selfMutation stage performed additional deployments even though I both manually deployed and commit my changes to the git repo.

[2022-01-18 01:19] trompx commented on #18005
Also having this problem running aws-cdk 2.8.0.
It crashes my main terminal (st terminal) on Linux Mint 20.2.
However, when running the command inside the vscode terminal, it executes without errors.

[2022-01-18 01:20] kobakeiara commented on #17877
@kirintwn thank you for your advice.

[2022-01-18 04:57] grousseva commented on #13777
@njlynch any chance you know how to access the secret in the same stack^? P

[2022-01-18 06:48] azatoth commented on #18470
This would work as a workaround, though I wouldn't say its a solution to the problem.

[2022-01-18 08:42] charlesxucheng commented on #6643
I was using the workaround mentioned above by Kyle but it stopped working after I upgraded to CDK 2.5.0. As advised by AWS support, the following works in my case:
[code]

[2022-01-18 08:54] akash1810 commented on #17973
I've been wanting this too and have devised two potential solutions (barring first class support from CDK):
  1. Performing a `cdk deploy` setting [`--no-execute`](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/bin/cdk.ts#L101) and then using the [AWS CLI](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/describe-change-set.html) to describe the change set `aws cloudfor

[2022-01-18 09:05] akash1810 commented on #679
I've been wanting this too and have devised two potential solutions (barring first class support from CDK):
  1. Performing a `cdk deploy` setting [`--no-execute`](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/bin/cdk.ts#L101) and then using the [AWS CLI](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/describe-change-set.html) to describe the change set `aws cloudfor

[2022-01-18 09:09] mjgp2 commented on #18460
@joelchen - you probably need to enable some swap space on the EC2 host instance.

[2022-01-18 09:31] Lewenhaupt commented on #16508
@revmischa I'm doing a workaround myself currently where I use the root stack as the scope for all constructs in my nested stacks. I just toggle this behaviour with a flag passed to the root stack such that I can avoid it when deploying to our staging/production environments. I.e. fast deploys for individual developer environments and better stack structure in prod/staging.
It's definitely not per

[2022-01-18 09:52] shearn89 commented on #2841
Just for future googlers - I just bumped into this on CDK 2.8. I was referencing the region/account passed in via `env` as `self.env.region` in my stack. Turns out that you need to reference them as `self.region`! Took me a few minutes to work out, doh!

[2022-01-18 10:29] #16720 closed

[2022-01-18 10:37] aamielsan commented on #5637
We are also seeing this issue, hoping we could have a way to configure the retries. Even something similar to: AWS_RETRY_MODE, AWS_MAX_ATTEMPTS when using the AWS SDK

[2022-01-18 10:59] fab-mindflow commented on #16253
Bump. Any news on this?
We are also facing the same issue, not able to distinguish `null` from `undefined`.

[2022-01-18 11:04] stekern commented on #18440
Seeing similar behavior in CDK v2.8.0 as well.

[2022-01-18 11:07] flavioleggio commented on #13616
I am facing with the same issue now, upgrading my cdk lib version. Wouldn't it be better to just explicitly exclude the `PutObjectAcl` action with a deny effect on the policy instead of removing all `PutObject*` related acions?

[2022-01-18 11:08] pepdekpd commented on #18360
Passing tags to cfn like this:
[code]

and here is the code for RedshiftClusterStack
[code]

This will result in a redshift subnetgroup and paametergroup with the appropiate tag, but the cluster itself is without tags.

Kind Regards,

Pepijn

[2022-01-18 11:09] FrontierPsychiatrist commented on #17544
I also have this issue when trying to create a log group and use it for an ECS Task container with version 1.139.0.

[2022-01-18 11:39] Dare2python commented on #3911
+1

[2022-01-18 11:44] timjrobinson commented on #18005
I think I'm using st terminal too. As I'm using Regolith as my main GUI.

[2022-01-18 11:59] jayPJ opened #18484 "(tools): Could not find any VPCs matching"
### What is the problem?

The problem is that  I am creating 3 stacks consecutively
Stack 1 : Creating some logs and bucket
Stack 2: Creating vpc
Stack 3 : Implemented cdkpipeline to create rest of the stacks(bjs is a stack added as an application stage in cdkpipeline that imports vpc and creates lambda function)
so when I do cdk synth  , it throws error mentioned  below, although execution does n

[2022-01-18 14:43] andrei-cdl opened #18493 "(core) - multiple stack with same name only deploy first stack listed"
### What is the problem?

for example if I have an `infrastructure.ts` like the following

[code]

I'm under the assumption from other docs and tutorial that it's valid to supply the same stack with different configurations and resource name.

if I run `cdk deploy StagingStack` it will still use `DevStack` and not pass in the staging `deploymentEnv`. If I move the staging stack above the dev stack

[2022-01-18 14:43] #17656 closed

[2022-01-18 15:03] stekern opened #18495 "(aws-iam): TypeScript error when using IGrantable"
### What is the problem?

I'm getting a TypeScript error when using `cdk.Stack.of` to get current AWS account ID and region on an `iam.IGrantable`.

The error appeared after upgrading from CDK v1 to v2. I'm not sure if this is a bug in v2 or if we've been relying on some kind of undocumented CDK v1 functionality that has been removed in v2 and that the error is actually valid.

I've seen other Typ

[2022-01-18 15:22] IamFlowZ opened #18503 "docs(cloudwatch): MetricProps lists "dimensions" but type definition lists "dimensionsMap""
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_cloudwatch.Metric.html#dimensions

### Describe your issue?

discrepancy between docs and type defs for Metric props in Cloudwatch

[2022-01-18 17:29] corymhall commented on #18386
@skinny85 my comment describes the state with those changes in place. In the current state the `State` will always be active and the `LastUpdateStatus` will always be `Successful`.

[2022-01-18 17:54] hermanmedsleuth commented on #18484
Similar behavior has been observed when I have attempted to create a new infrastructure as well. Interestingly the error disappears on any subsequent invocations of the `create.sh` script.

[2022-01-18 18:06] rileysea opened #18506 "(EC2): Latest Image not pulled unless stack is recreated"
### What is the problem?

```MachineImage.latestWindows(WindowsVersion.``` method is not generating the latest image for my CDK stack unless I entirely redeploy the stack that is using this method.

### Reproduction Steps

Use the following AMI lookup as an example:

[code]

For my existing CDK stack, during CDK Synth no differences were detected & the following AMI was reflected: `ami-08665286836

[2022-01-18 18:38] scedward commented on #18473
We also saw this unexpected change after upgrading to the latest bootstrap stack.  For a quick fix, making a trivial change to the Dockerfile of the affected Lambda was enough to change the asset hash and led to restoration of the lost policy statement.

[2022-01-18 18:52] leestkly commented on #18410
Since GET is also available on the @connections API to get the status of the connection, should the resource pattern also allow that method?

Seems like the pattern for a stage should look like `arn:aws:execute-api:us-east-1:account-id:api-id/stage-name/*/@connections/*`, and the pattern for the whole API should be `arn:aws:execute-api:us-east-1:account-id:api-id/*/*/@connections/*`.

Do you agree

[2022-01-18 19:13] quaeler opened #18508 "(stepfunctions): Pass class documentation contains typo"
### link to reference doc page

https://github.com/aws/aws-cdk/blob/7966f8d48c4bff26beb22856d289f9d0c7e7081d/packages/%40aws-cdk/aws-stepfunctions/lib/states/pass.ts#L119

### Describe your issue?

`exeuction's` → `execution's`

[2022-01-18 19:25] peterwoodworth commented on #15813
Seems like the root of the issue has been fixed via homebrew, please ping me if anyone continues to experience this issue

[2022-01-18 19:25] #15813 closed

[2022-01-18 19:31] MMOSimca commented on #18422
It's not just health check's protocol that needs this logic applied, technically, by the way. Health check's port does as well. Same idea, though.

[2022-01-18 20:23] jumic commented on #15375
@skinny85 The problem should be fixed in #18275. You can probably close this issue.

[2022-01-18 20:29] bestickley opened #18514 "(aws_lambda_nodejs module): projectRoot should default to process.cwd"
### Description

I've got a mono repo setup like so:
- back-end/
- front-end/
- package.json
- pnpm-lock.yaml
- pnpm-workspace.yaml

esbuild is listed as a dependency in back-end/package.json. I've got a NodejsFunction construct in back-end that when I deploy gives me an error "esbuild not found" unless I install esbuild within the root package.json. The script that's deploying the stack looks som

[2022-01-18 20:58] peterwoodworth commented on #18333
Sure, here:
[poetry.txt](https://github.com/aws/aws-cdk/files/7892354/poetry.txt)
[pyproject.txt](https://github.com/aws/aws-cdk/files/7892355/pyproject.txt)

I haven't been able to look into this further yet, my apologies!

[2022-01-18 21:05] ivandres73 commented on #18139
Had this issue today.
Fixed it by removing package-lock.json and node_modules/
[code]

then, reinstalling all dependencies
[code]

doing that updated my packages to version `1.139.0` which included the fix.
Thank you @igilham

[2022-01-18 21:38] peterwoodworth commented on #18449
Hey @jdotw,

You're only specifying the subnet types for your Vpc Subnets, so your Domain will have the total number of public and private subnets that your vpc has. So, even if you only specify one of these types, there could be multiple subnets that meet that criteria. [Here are our docs on how SubnetSelection works](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-ec2-readme.html#choosing-subnet

[2022-01-18 21:39] picosam commented on #11818
Any news about this feature please? Thank you!

[2022-01-18 21:40] peterwoodworth commented on #18451
We've put in a fix for this, should be merged shortly. Thanks for the bug report 🙂

[2022-01-18 21:51] l0b0 commented on #18333
Looks like you posted poetry.toml, not poetry.lock…

[2022-01-18 22:18] peterwoodworth commented on #18452
Hey @automartin5000,

This is how most of our imports work in CDK. With the exception of the `fromLookup()` method and a [couple others](https://docs.aws.amazon.com/cdk/v2/guide/context.html#context_methods) (none of these are featured on the Secret construct), our methods which import resources don't actually communicate with your account at all. Imported resources in this case are instead mock c

[2022-01-18 22:20] peterwoodworth commented on #18453
Let us know once you have an update here 🙂

[2022-01-18 22:41] codeslubber commented on #9268
Sad....

[2022-01-18 23:05] peterwoodworth commented on #18333
oops...
[poetry.lock](https://github.com/aws/aws-cdk/files/7892939/poetry.txt)

[2022-01-18 23:13] l0b0 commented on #18333
Oh, I see. You've got aws-cdk 1.139, while the Geostore project still lingers at 1.92, presumably because of version incompatibilities with other packages. So this should be fixed once we're able to upgrade somewhere between 1.93 and 1.139. We can probably close this; I'll just create a new issue if this comes up with newer versions.

[2022-01-18 23:13] #18333 closed

[2022-01-18 23:15] automartin5000 commented on #18452
That's actually what I thought, but then I saw that the Bootstrap's "Lookup Role" has `secretsmanager:List` and `secretsmanager:Describe` permissions and thought maybe it was meant to do it. But looking at it again, I now realize it's just a standard ReadOnly Amazon Managed policy. Sorry, I digress. This would be a nice feature though!

Yeah I was thinking I could take advantage of the credentials

[2022-01-18 23:22] madeline-k opened #18519 "(ecs-patterns): omiting cluster and specifying only vpc for"
### What is the problem?

The ecs-patterns README states that 'Instead of providing a cluster you can specify a VPC and CDK will create a new ECS cluster.' However, omiting the cluster prop and only provided a vpc results in an error. And there is not clear direction on how to do this properly.

So far I have noticed this issue with the following constructs. It might apply to more.
- NetworkMultip

[2022-01-18 23:35] peterwoodworth commented on #18454
This is expected @misterjoshua, the StateMachine is created with the definition you pass in at the time of creation, so unfortunately this approach won't work. I don't see this explicitly called out in our docs anywhere, but this is the typical behavior of constructs in the CDK. The exceptions are lazy values - an example of a construct that has this is TaskDefinition which will synthesize changes

[2022-01-19 00:07] peterwoodworth commented on #18463
I'm unable to reproduce this @ubergeoff, is this happening at the very beginning of deployment? Which region are you deploying into?

[2022-01-19 00:27] skinny85 commented on #679
Hey @akash1810 ,

a few minor points:

1. Make sure to use the `CfnInclude` class from [this module](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_cloudformation-include.CfnInclude.html), and **not** the one from the [core module](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_core.CfnInclude.html) (which is deprecated).
2. I think you can achieve that gate you mentioned by using the

[2022-01-19 01:15] peterwoodworth commented on #18475
[Table.tableName](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-dynamodb.Table.html#tablename-1) is already a `string`, it's passed as a token because it directly references the table name on the CloudFormation resource. So, if you `.toString()` a token, you'll turn it into a string that says token rather than allowing it to function as a token.

This is what correct output should look

[2022-01-19 01:21] trompx commented on #5247
Hey @ryparker,

The problem is that object lock must be set **when the bucket is created**.

By doing what you suggests, the addPropertyOverride applies on an already existing bucket, thus failing with the following error:
`Object Lock configuration cannot be enabled on existing buckets (Service: Amazon S3; Status Code: 409; Error Code: InvalidBucketState; Request ID: XXX; S3 Extended Request ID:

[2022-01-19 01:25] peterwoodworth commented on #18477
From the PR you linked, fetching the context for your VPC slightly changed. Are you making sure to [reset the context](https://docs.aws.amazon.com/cdk/v2/guide/context.html#context_viewing) between deployments? The CDK won't fetch new context if existing context already exists for your construct

[2022-01-19 01:35] l0b0 commented on #18477
@peterwoodworth I'm not version controlling `cdk.context.json`, so I don't think that's the issue.

[2022-01-19 01:40] peterwoodworth commented on #18495
There is no `aws-cdk-lib/core` package, just use `aws-cdk-lib`!

[code]

I hope that this would fix it

[2022-01-19 01:45] peterwoodworth commented on #18506
Have you tried resetting the context? View this note in our [docs](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-ec2-readme.html#machine-images-amis):

[2022-01-19 01:47] peterwoodworth commented on #15375
You're right, the issue can be closed.

[2022-01-19 01:47] #15375 closed

[2022-01-19 05:57] #18451 closed

[2022-01-19 06:43] #17394 closed

[2022-01-19 07:43] stekern commented on #18495
@peterwoodworth Typo on my end. Issue remains when changing the import to `aws-cdk-lib`.

[2022-01-19 08:02] Zainabalhaidary commented on #16179
Can you please prioritise this issue? It's really needed and expected.

[2022-01-19 08:43] yamatatsu commented on #11286
This is resolved by ＃15320 :+1:

[2022-01-19 09:02] akash1810 commented on #679
Thanks for the response.

Ah yes! I am using `CfnInclude` from `@aws-cdk/cloudformation-include` - the link I shared was just the first returned in search.

From what I understand, the `--fail` flag for the `diff` command only [changes the exit code](https://github.com/aws/aws-cdk/blob/d0b8512449759bf74bb53aabbb6d5224b5f8c5ae/packages/aws-cdk/lib/cdk-toolkit.ts#L114).

The questions I'm looking to

[2022-01-19 09:33] peterwoodworth commented on #18495
Ah, I see what the issue is. You're trying to use `Stack.of` on an `IGrantable`. You're required to pass in something which implements `IConstruct`. You will be able to pass in constructs which implement `IGrantable`, the variable which you pass in to `Stack.of` can't be declared as just an `IGrantable` however.

[2022-01-19 09:52] stekern commented on #18495
The main reason for raising this issue is that I am upgrading a CDK codebase from v1 to v2. I am not getting any errors for  code using `IGrantable` in a similar manner in v1, and the cloud assembly is synthesized without issues, while I'm getting the aforementioned errors in v2. In v2 I can ignore type checking for the offending lines, and the region and account ID will be available in the synthe

[2022-01-19 10:47] milesgranger opened #18526 "(stepfunctions): Set state id"
### Description

When attempting to migrate to CDK, I find this will fail with `jsii.errors.JSIIError: There is already a Construct with name 'Step 1' in Stack [MyStack]`

[code]

These are two different StateMachine's and should be allowed to have repeated state ids.
I've attempted to set `state_id`, but that is not allowed.

### Use Case

We generate state machines dynamically using SAM with sta

[2022-01-19 11:49] milesgranger commented on #18526
Should also mention, one can get around this by wrapping the state machine creation in its own `Construct`.

[2022-01-19 12:18] milesgranger commented on #6023
I also experience this, but the workaround doesn't appear to work for Python, namely nothing involving default policy attribute on the state machine's role.

Furthermore, when trying to circumvent this by providing the role directly, the documentation for the role parameter says default behavior is to create a role. However, even when providing the role directly, it still creates the default role,

[2022-01-19 12:29] robson-araujo-solvimm commented on #8585
I also ran into this bug using AWS Amplify. No solution yet.

[2022-01-19 14:06] VishnuSM commented on #8867
@skinny85 Can we use FILE_PATH filter with Github Enterprise one's still???

[2022-01-19 14:44] #17703 closed

[2022-01-19 15:17] kaizen3031593 commented on #11286
Thanks for the bump @yamatatsu. I'm going to close this issue although there definitely is work to be done modeling intrinsics in a CDK-native way.

For reference, #15320 added `JsonPath.stringAt()` for which you can do something like this:

[code]

This is also demonstrated in many examples in the stepfunctions [README](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-stepfuncti

[2022-01-19 15:17] #11286 closed

[2022-01-19 15:41] caevv commented on #18421
I can see an interesting log on CW:

[code]

[2022-01-19 16:08] yeti-g commented on #17010
The absence of this attribute causes a warning in the AWS console.

<img width="430" alt="Screen Shot 2022-01-19 at 11 04 59 AM" src="https://user-images.githubusercontent.com/95112011/150168946-413a61d6-7a7c-4bf6-b059-198a3454dcc4.png">

[2022-01-19 16:13] akashv-builder opened #18531 "aws-cdk_pipelines: Maximum policy size of 10240 bytes exceeded for role"
### What is the problem?

Experiencing an error with CDK Pipelines and a limit with respect to the Managed IAM Role associated with the Pipeline. Every-time a assets in the pipeline, the pipeline automatically adds assume role permissions to a cdk managed role during the "Self Mutate" state. When we add 60+ assets/lambda functions to a CDK pipeline, the IAM role becomes too large and as a result,

[2022-01-19 16:27] rix0rrr commented on #18416
If the default permissions of the CloudFormation execution role are too broad for you, [you can configure a different policy for them using the `--cloudformation-execution-policies` argument to `cdk bootstrap`](https://docs.aws.amazon.com/cdk/v2/guide/bootstrapping.html#bootstrapping-customizing).

[2022-01-19 16:32] ralphmr opened #18534 "CDK Synth: Running raw cloud formation instructions"
### General Issue

How do I run the raw underlying cfn produced by CDK Synth?

### The Question

I have a stack and ran `cdk synth -o MyStack` to synthesize the underlying CloudFormation template.
I then want to publish this CloudFormation template elsewhere (I don't want my users to have to install CDK etc to launch my solution). So essentially I wish to share the newly generated `MyStack` direct

[2022-01-19 16:36] yeti-g commented on #17010
@njlynch please share an escape hatch example for a Fargate task's target group.

[2022-01-19 17:04] skinny85 commented on #679
But isn't the idea to include the template, run the diff, see if there are any differences - if there are, fix and repeat, if not, you are done?

Migration should be a one-time thing, not something that needs to be done constantly.

[2022-01-19 17:17] skinny85 commented on #8867
@VishnuSM I believe the answer is "no", according to the [CodeBuild documentation](https://docs.aws.amazon.com/codebuild/latest/APIReference/API_WebhookFilter.html#CodeBuild-Type-WebhookFilter-type).

[2022-01-19 18:20] jfly opened #18535 "Feature request: enable feature flags when running tests"
### Description

Right now, feature flags in `cdk.json` take effect when inside of a `cdk synth`, but are *not* picked up when in tests. @nija-at says that [this is intentional](https://github.com/aws/aws-cdk/issues/17553#issuecomment-982783755).

### Use Case

I don't think this is a very sane default for users of cdk: I can totally see why people *working* on cdk would not want feature flags to

[2022-01-19 18:35] chrisjgray commented on #18416
That doesn't solve an issue for us.
If you have one app in the account needing to have least privilege to deploy just IAM Roles, then we would update the execution policies to just have IAM permissions.
If I have a second app that needs to deploy lambdas in that same account, now the execution policy needs to have both IAM permissions and Lambda permissions. That now means, someone can deploy lamb

[2022-01-19 19:36] fedonev opened #18540 "(eks, core): eks.Cluster has malformed IAM policy resource ARNs if clusterName is part-string, part token"
### What is the problem?

When passed a part-string, part-token `clusterName` like `foo-${param.stringValue}`, the `eks.Cluster` constructor incorrectly generates the resource ARNs in the adminRole policies. Specifically, the resourceName ARN component is resolving as `[object Object]`, as in `":eks:us-east-1:112233445566:cluster/[object Object]"`.   In contrast, the `Custom::AWSCDK-EKS-Cluster` `

[2022-01-19 19:38] magnber commented on #10988
As someone just getting startet with cdk I'm also struggling with this. My team and I would like to host an api with its own dependencies on a lambda, built and deployed through a pipeline, but i can seem to figure out how.
I've done the [workshop](https://cdkworkshop.com/20-typescript.html) and gone through a lot of articles, but most of them just seem to mimic this workshop, not really addressin

[2022-01-19 19:44] peterwoodworth commented on #18493
I'm not finding the same behavior here @andrei-cdl. `cdk synth/deploy StackName` is only operating on the stack name I've specified. Is there any other context you have that may be affecting things here?

[2022-01-19 20:05] peterwoodworth commented on #18495
Ah when I responded last night I had forgotten you said this worked for you in v1. I've been able to reproduce this behavior, it's strange to me, I feel like TS should've prevented that from happening in v1. Not sure what would have changed from v1 to v2 to enforce this

Either way, the behavior seen in v2 is for the best, and is likely expected from the SDEs. I agree with your hypothesis that thi

[2022-01-19 20:05] #18495 closed

[2022-01-19 20:14] peterwoodworth commented on #18484
When you run `cdk deploy --all` or `cdk synth --all`, the CDK will synthesize all stacks at the beginning before starting deployment. A consequence of this is that you can't perform from one of these stacks to another before deployment.

You can do a couple things here. One is to deploy the stack that contains your VPC first (`cdk deploy StackName`), then deploy the rest of your stacks (`cdk deplo

[2022-01-19 20:40] mvs5465 opened #18542 "(eks fargate): provider framework handler times out after 15 minutes"
### What is the problem?

When trying to deploy an EKS cluster on Fargate using the CDK this error happens:
[code]

Even though the cluster gets successfully created, it appears the handler times out and gets retriggered, causing this error.

### Reproduction Steps

Recreate just by attempting to create an EKS Fargate cluster:
[code]

### What did you expect to happen?

Expect handler to report su

[2022-01-19 20:42] mvs5465 commented on #18542
Just to be clear the provider framework handler will time out after 900 seconds and retrigger, hence why I titled it this way.

[2022-01-19 20:57] ryparker commented on #5247
Actually the example I provided would create a new bucket with the property override. However if you are importing the bucket using a method such as [`Bucket. fromBucketName()`](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-s3.Bucket.html#static-fromwbrbucketwbrnamescope-id-bucketname) then you wouldn't be able to change the resource at all. This applies to all resources that are import

[2022-01-19 21:08] mgolden opened #18543 "Use prefix-list in a call to CfnRoute"
This ticket was closed but shouldn't have been:

_Originally posted by @github-actions[bot] in https://github.com/aws/aws-cdk/issues/17468#issuecomment-969073347_

[2022-01-19 21:20] skinny85 commented on #10988
@akashv-builder @magnber I think what you're looking for might be the `Code.fromCfnParameters()` method. See the [CDK CodePipeline module documentation](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-codepipeline-actions-readme.html#lambda-deployed-through-codepipeline) for an example on how to use it.

Hope this helps!

[2022-01-19 21:33] peterwoodworth commented on #18477
When you synth the stack above version 2.1.0, what does your `cdk.context.json` look like? Also, what are all the subnets you're expecting to be available on your Vpc?

Additionally, make sure you're using `SubnetType.PRIVATE_WITH_NAT` for private subnets, and `SubnetType.PRIVATE_ISLOATED` for isolated subnets. The values `SubnetType.PRIVATE` and `SubnetType.ISOLATED` are no longer present in v2.

[2022-01-19 21:51] jatsrt commented on #18405
@ryparker and @cbm-gplassard Ae we sure we are talking about the same issue.
From my testing this is a regression that appeared after 2.3.  With multiple stacks, the account and region defined in each stack, this is not not working where it was before.

[2022-01-19 22:04] andrei-cdl commented on #18493
I just want to verify this is using the same CDK version 1.134? There's some changes in latest of 1.139.0 around apigatewayv2 that is stopping me from using it until those issues are resolved.

It's a standard cdk project; even the stack itself being empty results in the same behavior it really only involves `infrastructure.ts` and those 3 apps listed (I omitted but I also have a prod stack) that

[2022-01-19 22:43] camba1 commented on #18421
Just ran into what looks like the same error:

` Message returned: Command '['/opt/awscli/aws', 's3', 'sync', '--delete', '/tmp/tmpdsecs2fto/contents', 's3://web-app-ea-1/']' returned non-zero exit status 1`

I was helping deploy a static application to S3 using cdk(java). After much testing, it was determined that the stack was crashing when the folder `META-INF` (which only contains a `manifest.

[2022-01-19 23:06] peterwoodworth commented on #18531
Thanks for reporting this @akashv-builder,

We're aware of this issue, and haven't had the time to put in the fix for it since messing with policies is really tricky. We're tracking the issue in a few places, as there are a couple different ways we can help to prevent this error. Here's where we're tracking it: #16244 #14713 and a PR #16350

Please give thumbs up on these issues, that is the best

[2022-01-19 23:06] #18531 closed

[2022-01-19 23:08] akash1810 commented on #679
Not quite in our use-case. The ambition is to stop using YAML entirely, meaning "done" is achieved when each YAML resource has been replaced by a CDK construct/pattern and the YAML file has been deleted.

CDK is opinionated. The way it, for example, grants access to a bucket doesn't necessarily match the way access was granted in the YAML template. Whilst we could create a custom CDK construct tha

[2022-01-20 00:05] cmazuc commented on #17161
Appreciate the work on this so far, are there plans to support cfn-hup?

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-hup.html

Right now the generated UserData doesn't configure cfn-hup so any updates to the AWS::CloudFormation::Init resource aren't picked up without a host replacement.

[2022-01-20 00:11] #18337 closed

[2022-01-20 00:27] peterwoodworth commented on #18461
I believe that this is intentional, and meant to signify that in V2 the packages which have ">>" are packages within the aws-cdk-lib monopackage. Contrast this to the non-stable modules like [apigwv2](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-apigatewayv2-alpha-readme.html) or the [v1 packages](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-lambda-readme.html), which are all their own packa

[2022-01-20 00:28] peterwoodworth commented on #18461
Let me know if you have any concerns or thoughts about this 🙂

[2022-01-20 01:09] skinny85 commented on #679
@akash1810 I wonder if you realize that `cdk diff` also tells you if replacement will happen?

Here's some example output:

[code]

So maybe you can simplify the cycle?

(I assume you've already completed step 1, and have the template included in your CDK code, and deployed with the include)

1. Move a resource from YAML to CDK.
2. Run `cdk diff`.
3. See if there are replacements in the output.
4.

[2022-01-20 01:29] brad-lucas commented on #11876
@nija-at @makru21 I'm running into this problem now when trying to upgrade to CDK v2 (albeit in Python) and as someone newer to CDK I'm having trouble figuring out how to patch this code.

- after which point should the usage plan's children be filtered and the override applied?
[code]
- how do you programmatically get the previous logical ID from within the `Stack`?

[2022-01-20 01:41] harshadbhatia commented on #18001
I have created the following PR. @otaviomacedo . Can we please review and merge this !😄

[2022-01-20 01:50] garrettsparks commented on #9327
Here's a solution that's similar to the ones above but for `HttpApi` from [apigatewayv2](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-apigatewayv2-readme.html) and the [LambdaProxyIntegration](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-apigatewayv2-integrations-readme.html)

[code]

[2022-01-20 02:24] skinny85 opened #18549 "(CDK Pipelines): allow passing a Role to `CodePipeline`"
### Description

Because of https://github.com/aws/aws-cdk/issues/16244, customers have to sometimes create a Role manually and control its permissions.

We should make that easy in `CodePipeline`.

### Use Case

See above.

### Proposed Solution

Add a new property `role` to the `CodePipeline` construct.

### Other information

_No response_

### Acknowledge

- [ ] I may be able to implement this

[2022-01-20 07:23] zxkane commented on #18461
I know all stable packages are built in `aws-cdk-lib` since v2.

But the developer must import the types like below when uses DynamoDB in typescript,

[code]
But the documentation like below screenshot really led to import package with wrong name,

![image](https://user-images.githubusercontent.com/843303/150291956-fef3b76d-7371-40bb-8ef3-d1cffd516362.png)

[2022-01-20 07:59] ubergeoff commented on #18463
Hi there

We are deploying within the `af-south1` region. Could this make a difference ..?

More info: Tried a couple of things, including: Deploying the CloudFormtion template file via the AWS cli

[code]

The same error occurs

[2022-01-20 08:20] akash1810 commented on #679
Oh gosh, you're totally right! I've just performed a YAML to CDK migration using totally vanilla AWS CDK and `diff` works exactly as you describe. I still have something awry _somewhere_, but it is not within the `diff` command. Please ignore most of what I previously said, and apologies for any noise it's created!

JSON output from `diff` for consumption by downstream tools would still be a nice

[2022-01-20 08:36] cbm-gplassard commented on #18405
Hello @jatsrt ,

indeed you're right we don't have exactly the same use case as if I understand correctly
* you pass the entire ARN in a stack to which you pass the account & region
* I construct the ARN dynamically using ScodedAws in a stack in which I don't pass the region & account

But both use cases trigger the same error message and might be cause by the same issue. And as you said both use

[2022-01-20 09:00] rix0rrr commented on #18416
Am I correct in understanding that you are going to evaluate, before each deployment, what resources are going to be changed and then update the permissions of the role to only have the permissions that the CloudFormation deployment would need?

Or do you group different types of resources in different apps that get deployed separately, by different people? As in, there is a team over here that on

[2022-01-20 09:02] rix0rrr commented on #18549
You can pass a `codepipeline.Pipeline` to `CodePipeline`. It can be initialized with the role you need.

[2022-01-20 09:32] PieterVanEde opened #18553 "(CDK v2 Synth/Deploy): deploy always needs bootstrapped env despite docs claiming otherwise"
### What is the problem?

I have an application consisting of multiple stacks. Some stacks include lambda functions or files in a S3 bucket. When running synth, they use assets and hence require the target region to be bootstrapped. Those stacks are all located in eu-central-1.

However, I also have a stack for defining a cloudfront distribution located in us-east-1 (it is backed by a s3 bucket in

[2022-01-20 10:27] peterwoodworth commented on #18543
Could you please provide more detail? Looking at the issue, it seems OP's issue has been resolved.

[2022-01-20 10:41] jayPJ commented on #18484
* fromVpcAttributes() can not be used as I want to import vpc in a dynamic way using name and not with the ID.
* Secondly I am using a bash file where I am running stacks consecutively and was doing same thing as you suggested above , like deploying vpc stack before stacks importing vpc.

![image](https://user-images.githubusercontent.com/89519652/150302065-65d9fcfc-cc49-420d-ac0b-5766738caa93.png

[2022-01-20 10:57] trompx commented on #9233
Hey everyone,

That is sad to see it has not yet been implemented.
I don't know if this is by lack of time or they really try to push the NAT gateway/Private Link instead...

Anyway, I found a way to raw edit the CFN via CDK after a resource has already been created. The use of `cdk.CfnResource` as advertised on the escape hatches doc page : https://docs.aws.amazon.com/cdk/v2/guide/cfn_layer.html

[2022-01-20 10:58] trondhindenes opened #18555 "aws_secretsmanager: fromSecretNameV2 doesnt work"
### What is the problem?

Given this code:
[code]
the resulting iam policy has a bunch of question marks in it:
[code]
which is invalid

### Reproduction Steps

see above

### What did you expect to happen?

valid iam policy

### What actually happened?

invalid iam policy

### CDK CLI Version

2.8.0 (build 8a5eb49)

### Framework Version

2.8.0

### Node.js Version

v14.18.3

### OS

Ubuntu 20.04

[2022-01-20 11:05] trondhindenes commented on #18555
fyi:
If I create a `CfnOutput` with `my_secret.secret_arn`, the correct arn is produced. So there must be something wrong with the "grant" function.

[2022-01-20 11:11] m17kea commented on #10413
Using 'as' leads to a null object.

[2022-01-20 11:12] yamatatsu commented on #11286
@kaizen3031593
Thanks for closing, and we can close also this #11286 !

[2022-01-20 12:03] AndyW22 opened #18557 "@aws-cdk/aws-amplify-alpha module: Add performance mode option"
### Description

On the amplify console, there is a "performance mode" option on each branch, this is not present in CDK.

![image](https://user-images.githubusercontent.com/76787794/150334206-10d1a3e9-4dba-4427-b08d-b042871ecd09.png)

### Use Case

Performance mode is useful with cache policies for the cloudfront distribution and should be an option for each branch.

### Proposed Solution

`perfo

[2022-01-20 12:38] njlynch commented on #18360
Thanks for the reproduction code, @pepdekpd .

I'm not seeing where in the above example you're actually tagging your resources.

I see you passing tags to the stack:

[code]

... and you referencing those tags within the stack:
[code]

But that `tags` variable appears completely unused in your above reproduction. At some point, somewhere, you should be doing something like `Tags.of(this).add(...)

[2022-01-20 13:08] trondhindenes commented on #18555
from what I can see, the `from_secret_name_v2` function no longer currectly identifies the actual arn of the secret.

[2022-01-20 13:23] pepdekpd commented on #18360
Thank @Njlynch for looking into this. You need to bare a little patience with me, I am not very experienced, as you saw...
The funny thing though is that the tags are created on redshift subnetgroup and redshift parametergroup which in my opinion are created in exactly the same manner as the redshift cluster in the same example code.So I was thinking that they weren't on the cluster was wrong. So

[2022-01-20 13:39] njlynch commented on #18360
I honestly have no idea. Is it possible the Tags were added by some other part of the code, or manually?

I tried reproducing with your above code, and the tags passed into the stack do not appear anywhere in the output of `cdk synth`; there is nothing in the RedshiftStack that is tagging anything, so the tags must have been added somewhere/somehow else.

In any case, if you add the code above (e.

[2022-01-20 13:39] #18360 closed

[2022-01-20 13:40] kornicameister commented on #13250
[code]

that code does not even create log groups for me :/

[2022-01-20 13:52] pepdekpd commented on #18360
@njlynch I think it has to do with this:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html

The tag is created on the cloudformation stack itself and then automatically propagated to the subnetgroup and parametergroup resources in the stack. But apparently the cluster resource is not (yet?) supported as a tag propagation resource, as I read here not a

[2022-01-20 14:07] PieterVanEde commented on #18553
Looking a bit around in the source code, I see that the default synthesizer [always adds the template file as an asset](https://github.com/aws/aws-cdk/blob/455d0b3ec254a3ae37ff705b8e0e5615efb8a0a3/packages/%40aws-cdk/core/lib/stack-synthesizers/default-synthesizer.ts#L471). As a result, all stacks require bootstrapping, [contrary to what the docs say](https://docs.aws.amazon.com/cdk/v2/guide/boots

[2022-01-20 14:11] mgolden commented on #18543
The original post ends with a comment from a bot saying not to close the issue, because the team will not have visibility. That is what prodded me to reopen it. If you're referring to the last comment on the linked coverage roadmap, that is inadequate. Yes, this same result can be accomplished through the use of an AwsCustomResource, and that is in fact what I proceeded to do. But of course, anyth

[2022-01-20 14:47] reece2208 commented on #18463
We tried to deploy the same template in 2 regions now, it passes in eu-west-2 and fails in af-south-1 with the same error.

[2022-01-20 15:25] hermanmedsleuth commented on #18484
This general problem seems to be endemic in the AWS environment. Many differing types of resources exhibit some latency upon access, and are not available immediately upon creation.

It is useful to poll and check for availability prior to attempting to access, although in many cases checking for availability entails attempting to access. In those cases well bounded repetitive access attempts, wit

[2022-01-20 15:29] #18051 closed

[2022-01-20 15:47] otaviomacedo commented on #18542
Hi, @mvs5465. Do you see any error message in the custom resource logs? The cluster is created asynchronously, so the `onCreate()` method should return immediately. The fact that it's timing out after 15 minutes suggests that this is not happening.

[2022-01-20 16:04] PieterVanEde commented on #18553
I've tried fiddling around a bit more, and when I specify the BootstraplessSynthesizer, I see the <stack>.assets.json is no longer generated by cdk synth. However, it then complains during deploy about not being able to assume the cfn-exec role. Of course that role isn't there, because the env was not bootstrapped. Anybody got an idea how to get around this?

[2022-01-20 16:18] #17600 closed

[2022-01-20 16:18] rittneje opened #18563 "aws_lambda: default layer name reused across stacks"
### What is the problem?

If two different stacks both create a LayerVersion with the same logical id and no explicit name, they will both use the exact same Layer name, which is extremely confusing and unexpected.

### Reproduction Steps

Deploy two stacks into the same region. In each, create an `aws_lambda.LayerVersion` with the same logical id, and do not explicitly specify a `layer_version_na

[2022-01-20 16:43] kaprah commented on #18416
So we have it separated by particular services, so one particular service might have IAM, lambda, sqs, and s3 permissions and that CICD process will use that particular role based off of the repo they are working out of.

Another service will have its own deploy role with its individual permissions such as s3, and IAM.

These are tied into the CICD process and the repo with where these services ex

[2022-01-20 16:57] benmunro opened #18564 "(aws-iam): changes in #17689 increase assume role policy size"
### What is the problem?

After updating to CDK verison 1.138.0 from 1.112.0 my CloudFormation deployments started failed with the following error

[code]

This is because the formatting of the role policy changed to have a statement per principal allowing the `sts:AssumeRole` action rather than a single statement for all the principals. My role allows ~25 accounts to assume it which generates a p

[2022-01-20 16:58] skinny85 commented on #18549
Yep, that's what I recommended the customer do, but it's pretty non-trivial to figure out. A property in the construct props would make it more discoverable.

[2022-01-20 17:03] rbarcia opened #18565 "ec2.BastionHostLinux: No easy way to pass in keyName to ssh in from this class"
### What is the problem?

[code]
I expected keyName to be a top level property at construction.  If i want to create a Bastion with ssh Key, then I have to use regular Image class since it is a construct prop.

I am using Typecript.

### Reproduction Steps
[code]
### What did you expect to happen?

Simple property to add keyName.

### What actually happened?

keyName cannot be set cause Image is p

[2022-01-20 17:23] grl-wang opened #18566 "(api gateway-lambda) CDK create Incorrect lambda trigger"
### What is the problem?

* we use the apigateway.LambdaIntegration for api gateway to integration with lambda
* when we deploy our code to different aws account for different stage, we found some lambda triggers create incorrectly with the the stage as `test-invoke-stage`, not the correctly one with the stage as `beta` or `pre-prod`
*  Besides, in different stage, it randomly create the incorrect

[2022-01-20 17:57] mvs5465 commented on #18542
Hey @otaviomacedo - I don't see any error. On the first invocation of the function the create request almost immediately returns 200. The next log message is "starting waiter" and that is the last log message until the function times out and retriggers.

[2022-01-20 18:12] McDoit commented on #16053
@Project0 There is a nice comment about it in the source of the aws custom resource:
[code]
I had an issue with ses permissions as well just now

[2022-01-20 19:24] peterwoodworth commented on #18463
Yeah, the issue here is that CloudFormation doesn't support `ResponseHeadersPolicyId` in the `af-south-1` region (and possibly others). This is defined in the CloudFormation [resource specs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html)

Unfortunately, this is out of our control. The best thing to do would be to go submit an issue on the [CloudForm

[2022-01-20 19:25] gorjusborg commented on #14290
Thanks for posting this @danielholmes, I had the same issue.

We had some Custom::Trigger that would run to populate user data on deploy. Unfortunately, the lambda handler was thrown in the same module as some CDK code that was loosely related. This caused esbuild to bundle `aws-cdk-lib/aws-cognito` in the lambda, which declares a 'bundledDependency' on 'punycode/', but apparently it isn't bundled

[2022-01-20 19:49] peterwoodworth commented on #18543
The bot automatically responds to issues which have already been closed. In this case, the issue was closed because the creator of the issue closed it, as they deemed the response acceptable.

So, thanks for elaborating on why you think the issue should still be open. I agree that this experience is less than ideal. However, there isn't anything that our team can do about this. This is dependent o

[2022-01-20 19:53] ChrisSargent commented on #18125
there is a bundlingStacks option in the context, in our tests we do something along the lines of:

[code]

[2022-01-20 19:56] peterwoodworth commented on #18463
Just kidding found an open issue for it https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/969

[2022-01-20 20:05] gjmveloso opened #18570 "(aws-route53): HealthCheckConfigProperty missing RoutingControlArn"
### What is the problem?

The `CfnHealthCheck.HealthCheckConfigProperty` is missing the `RoutingControlArn` property.

According to [Route 53 docs](https://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html), the `HealthCheckConfig` contains a `RoutingControlArn` property

### Reproduction Steps

[code]

### What did you expect to happen?

Cfn* constructs generated from Clo

[2022-01-20 20:05] #18390 closed

[2022-01-20 20:05] mgolden commented on #18543
OK, closing it!

[2022-01-20 20:05] #18543 closed

[2022-01-20 20:11] ghost23 opened #18571 "(aws-lambda-event-sources): Unable to establish MSK trigger with secret"
### What is the problem?

I have a stack with a MSK cluster that uses clientAuthentication via SASL/SCRAM. I have created a KMS key and a secret, that uses that key via the Web UI. The secret is setup according to the documentation (username, password, secret has the AmazonMSK_ prefix). In the stack I also set up a Lambda function which should be triggered for a specific topic. At first I had test

[2022-01-20 20:19] johnslay commented on #16181
Hey @sarbajitdutta, I managed to get your code to work by overriding the last part to be:

[code]

[2022-01-20 20:25] kaprah commented on #18416
We are also validating this option and it seems to be a potential solution for stacks that have not been deployed. For those that have been deployed it seems like the only option is updating the bootstrap with additional IAM pass role permissions, to allow us to specify a role arn on the deployment, then switch them over to using the legacy stack synthesizer since there is not a way to un-associat

[2022-01-20 20:39] corymhall commented on #16852
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

Also

[2022-01-20 20:42] adambro opened #18572 "(cdk-pipelines): `newStyleStackSynthesis` confusion"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines-readme.html

### Describe your issue?

I've stumbled upon this on CDK Pipelines API doc (from module README), where it the `"@aws-cdk/core:newStyleStackSynthesis": true` is a requirement.  I guess v2 has the new style by default, right?

It is mentioned on this reference page twice. One is the confusi

[2022-01-20 20:43] muhammadhassaan2022skipq commented on #1299
facing the warning and errors

current credentials could not be used to assume 'arn:aws:iam::id:role/cdk-hnb659fds-deploy-role-id-eu-west-3', but are for the right account. Proceeding anyway.
[0%] start: Publishing 2c53ef6888e9dfdbd68f018e34cf72270027b07ea80bfe"id"f0:current_account-current_region
current credentials could not be used to assume 'arn:aws:iam::id:role/cdk-hnb659fds-file-publishing-r

[2022-01-20 20:47] muhammadhassaan2022skipq opened #18573 "(cdk): is aws account bootstrapped?"
### General Issue

is aws account bootstrapped

### The Question

i am stuck to solve this

### CDK CLI Version

2.8.0

### Framework Version

_No response_

### Node.js Version

_No response_

### OS

ubuntu server

### Language

Python

### Language Version

python3.6

### Other information

_No response_

[2022-01-20 20:53] peterwoodworth commented on #18573
Hey @muhammadhassaan2022skipq, welcome. I'd love to help you out with this. However, some more context as to what you've done and when exactly this is occurring would help us to identify what the problem is 🙂

[2022-01-20 21:40] ahtsan opened #18575 "(S3): inline documentation about `Bucket.import` is outdated"
### link to reference doc page

https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-s3/lib/bucket.ts#L360

### Describe your issue?

`Bucket.import` is no longer valid, it should be either `Bucket.fromBucketArn` or `Bucket.fromBucketName`

[2022-01-20 21:56] sarbajitdutta commented on #16181
@johnslay Thank you for pointing it out. I was able to eventually overcome it by creating the target from scratch. But this way looks much cleaner. I will try it out and let you know if it works in my account.

This is how I did it now - [eventsRoleEscapeHatch](https://github.com/wcmc-its/ReCiter-CDK/blob/be6a3f62977421bd3016f6e16f1c682206bb26dd/src/main/java/edu/wcm/reciter/ReCiterCDKECSStack.jav

[2022-01-20 22:00] peterwoodworth commented on #18354
Hey @sphinx07, sorry for the delay here. We've had a few issues come in regarding this recently, and I believe [this PR](https://github.com/aws/aws-cdk/pull/18567) is set to fix the issue. Let me know if you don't think that's the case and I'll take a closer look at this 🙂

[2022-01-20 22:06] peterwoodworth commented on #17792
I believe [this PR](https://github.com/aws/aws-cdk/pull/18567) is set to fix this issue.

[2022-01-20 22:08] peterwoodworth commented on #18555
Thanks for submitting this issue @trondhindenes.

We've had a few issues come in regarding this recently, and I believe [this PR](https://github.com/aws/aws-cdk/pull/18567) is set to fix the issue. Let me know if you don't think that's the case and I'll take a closer look at this 🙂

[2022-01-20 22:42] AustinGomez opened #18578 "RDS: DatabaseProxy dbProxyName is not autogenerated by CloudFormation"
### What is the problem?

The documentation gives the following info for the dbProxy prop:

"Type: string (optional, default: Generated by CloudFormation (recommended))"

However, the dbProxyName is not autogenerated by CFN. Instead the dbProxy name is set to the `id` string if props.dbProxy is not present.

### Reproduction Steps

Create a DatabaseProxy without specifying a `dbProxyName`.

### Wh

[2022-01-20 22:45] angelinatquach opened #18579 "CDK accepts Role.fromRoleArn for an ARN that does not exist."
### What is the problem?

Calling `fromRoleArn` for an ARN that does not exist actually returns a role.

[code]

This seems like a bug since this provides a false positive for developers. If I am under the impression that a role has been found with the provided role ARN, than I will continue forward with my other code logic and my code will fail somewhere down the line.

Please improve the logic o

[2022-01-20 22:47] kornicameister opened #18580 "(pipelines): A guidance to writing programatic smoke test"
### General Issue

How to get a proper permission (assume role) to launch integration test

### The Question

In short, I am looking on a problem of defining a test after a stage deployment that utilized said stage outputs and runs integration/smoke tests using Python's `pytest` + `boto3`. Now I am using `ShellStep` as `post` stage step and `envFromCfnOutputs` feature to get ahold of couple of ARN

[2022-01-20 23:02] misterjoshua opened #18581 "(cli): Add hot-swap support for AWS Synthetics Canaries"
### Description

I'd like to hot-swap the code for AWS Synthetics Canaries.

### Use Case

The development experience for canary scripts would be much faster.

![image](https://user-images.githubusercontent.com/644092/150435472-53ee42e2-ac70-4e01-89eb-c34995dc72d5.png)

### Proposed Solution

I'm not too familiar with the hot-swapping code, but hot-swap likely boils down to uploading the code asse

[2022-01-20 23:03] phstc opened #18582 "(dynamodb): pointInTimeRecovery for global tables (replicationRegions)"
### Description

I want to enable `pointInTimeRecovery`  for global tables.

`replicationRegions` creates tables on the given regions, but the `pointInTimeRecovery` setting is not inherited from the main table definition.

### Use Case

I want point-in-time recovery from any global table region.

### Proposed Solution

I would like to propose that the global tables inherit `pointInTimeRecovery` fr

[2022-01-20 23:07] peterwoodworth commented on #18534
Hey @ralphmr,

The issue you're running into is that your app has assets that it needs to upload. The CDK does this as part of the deploy command, before deploying your stack. [Read here](https://docs.aws.amazon.com/cdk/v2/guide/assets.html#assets_details) to learn in depth about our asset uploading process. I'd like to specifically call out this section:

So unfortunately, this whole process is b

[2022-01-20 23:28] madeline-k commented on #18462
Thanks for opening this issue, @automartin5000! I'm labelling it as p2 for now, which means the CDK team won't prioritize implementing this right now. However, contributions are always welcome! Check out the [contributing guide](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) to get started.

[2022-01-20 23:34] madeline-k commented on #18466
@TomaszSzusterTR I like this idea! I am labelling as a p2 for now, which means the CDK team will not be able to prioritize this right now. However, we always welcome contributions! Take a look at the [contributing guide](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) to get started.

I think we should do both: accepting an array of widgets in the `Row` constructor, and adding an `addW

[2022-01-20 23:44] joel-aws commented on #18125
That's a great idea, @ChrisSargent ! I couldn't get it to work, but am going to keep trying iterations of it.

I searched around a bit and saw https://github.com/aws/aws-cdk/issues/18290#issuecomment-1008956462, which makes me think this wasn't possible?

[2022-01-21 00:00] peterwoodworth commented on #18579
Hey @angelinatquach,

This is how most of our imports work in CDK. With the exception of the `fromLookup()` method and a [couple others](https://docs.aws.amazon.com/cdk/v2/guide/context.html#context_methods) (none of these are featured on the Role construct), our methods which import resources don't actually communicate with your account or AWS at all. Imported resources in this case are instead m

[2022-01-21 00:05] idm-ryou commented on #12957
Using [assertions.Template.toJSON](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_assertions.Template.html#towbrjson) addressed this issue now.

[2022-01-21 00:05] #12957 closed

[2022-01-21 00:12] madeline-k commented on #18503
Thanks for opening this issue @IamFlowZ. In CDK v1, there are two properties for dimensions: `dimensions` (which is actually deprecated, but this is not showing correctly in the docs) and `dimensionsMap`. In v2, there is only `dimensionsMaps`.

The docs are incorrect here, thanks for pointing this out! The prop you should be using is `dimensionsMap`

[2022-01-21 00:14] peterwoodworth commented on #18452
The lookup role should have a consistent name/arn. Assuming you haven't made modifications to the bootstrap stack, it should look like this:

Arn: `arn:aws:iam::123456789012:role/cdk-QUALIFIER-lookup-role-123456789012-REGION` Name: `cdk-QUALIFIER-lookup-role-123456789012-us-east-1` (the qualifier is `hnb659fds` by default)

[2022-01-21 00:19] peterwoodworth commented on #18461
Thank you for the feedback 🙂

@rix0rrr @corymhall seems this is causing some confusion, intentional or not

[2022-01-21 00:27] peterwoodworth commented on #18484
Interesting, when _exactly_ is the error occurring during the scrupt @jayPJ?

[2022-01-21 00:28] skinny85 commented on #18578
Hey @AustinGomez,

thanks for opening the issue. Indeed, this is a mistake in the documentation, and we should fix that.

Using the `id` was actually a mistake, as it's not guaranteed to be unique across the CDK application (https://github.com/aws/aws-cdk/issues/14374), but fixing that will be a much more involved issue that just a documentation fix.

Would you consider opening us a Pull Request,

[2022-01-21 00:32] #18429 closed

[2022-01-21 00:45] peterwoodworth commented on #18312
Everything here is good on our end, so this is probably a Pycharm specific issue. Given that, I'm not sure there's much we can do here to help. Is there anything else you'd like from us here?

[2022-01-21 00:48] peterwoodworth commented on #18239
I'm so sorry this fell off my radar. @automartin5000 I assume you're still running into this issue yes? I'll follow up with the teams internally

[2022-01-21 00:49] peterwoodworth commented on #18239
Oh, and if you're able to provide your stack ID here that would be a big help for the teams internally, but I understand if you aren't able to.

[2022-01-21 00:54] tmokmss commented on #18416
fyi you can specify CDK bootstrap stack name by `--toolkit-stack-name` for each bootstrap and deploy. Does it help?

[code]

[2022-01-21 01:10] hermeschrisPFG opened #18584 "(cloud9): cdk v2 deploys but no cloud9 environment available from console"
### What is the problem?

Creating a cloud9 environment with CDK v2 and no additional context parameters appears to work, but yields no available cloud9 environments.

If I edit cdk.json to contain the following, then it works.
[code]

### Reproduction Steps

Federated User (signed in with aws sso).

Code used to create the cloud9 environment:
[code]

cdk.json can have empty context or the followi

[2022-01-21 01:21] skinny85 commented on #18582
Hey @phstc,

thanks for opening the issue. I think this might be tricky to do in our implementation of the global Tables backing `replicationRegions`, as we use a CloudFormation Custom Resource for this purpose. We do an [UpdateTable API call](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateTable.html) ([here is the code where that happens](https://github.com/aws/aws-cdk/b

[2022-01-21 01:38] trompx commented on #5247
Thanks for your input @ryparker
But I tried again to `cdk deploy` after a `cdk destroy`, making sure the buckets were not existing, with the following setup and am still having the error.
[code]

[2022-01-21 02:29] peterwoodworth commented on #18575
Wow this is _really_ old! Check out [the commit](https://github.com/aws/aws-cdk/commit/41f747ddbecab98a90455e639ac1a51c9a368121) this is from. I never knew about the `export` function. Thanks for pointing this out, I'll get this cleaned up tomorrow

[2022-01-21 03:06] automartin5000 commented on #18239
Thanks for the follow up on this @peterwoodworth. Last I checked was when I posted above and it was still broken. I don't think those stacks are there anymore, so I don't have a stack ID provide. But if the engineering team is convinced the bug is fixed, I can try to test it again sometime in the next week.

[2022-01-21 03:07] automartin5000 commented on #18452
Thanks, I did just come across that qualifier in the docs. So is that a stable qualifier I can use for a convention?

[2022-01-21 03:14] #18073 closed

[2022-01-21 04:05] #18353 closed

[2022-01-21 05:48] madeline-k commented on #18503
Hey @IamFlowZ , please disregard my earlier comment. The `dimensions` property of the `Metric` class is correct in the documentation here: https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_cloudwatch.Metric.html#dimensions. This is referring to a public property of the `Metric` class, and not a constructor property.

The constructor props for `Metric` are documented in the `MetricProps`

[2022-01-21 05:48] #18503 closed

[2022-01-21 06:09] kornicameister commented on #18580
I am bit worried that it might be quite hard to pull it off. Inside a code build action we are dealing with assumed role so if I were to create my test role to allow being assumed by code build I would have to specify full ARN as defined in documentation for IAM principal:

![image](https://user-images.githubusercontent.com/1029674/150475368-37fc10f0-475d-4d51-a876-6b588b510500.png)

[2022-01-21 08:07] apoorvmote commented on #18459
The real issue is docker build with golang is not working. For my usecase golang lambda is still experimental. I am just keeping an eye on it for future use. I am heavily into NodeJS lambdas and they are working fine. So I just deleted single golang function and everything got deployed.

Again the issue is not resolved. But golang lambda is not priority for me so I am closing this thread.

[2022-01-21 08:20] Project0 commented on #16053
maybe it is not clear for everyone, but the workaround is to set the policy manually, e.g for SES:
[code]

[2022-01-21 08:40] trondhindenes commented on #18555
hm good question. As far as I can see, the output of "fullarn" is also incorrect if I define a cloudformation stack. So I think this problem lies deeper than the PR. That said, I'm no expert in typescript nor the cdk codebase so I could be wrong. I guess an integration test where a secret is imported by name and then the full arn was exported as an output would prove or disprive the case.

[2022-01-21 08:52] kornicameister commented on #18580
What I have done now was to do:

1. set assume statement for code build roles to require `my-tag: my-value` on role that is assumed
[code]

2. Create a test role in test stack with principal like so:
[code]

3. And inside the integration test I am using `boto3` to assume a role with `RoleSessionName=my-smoke-test`.

I would appreciate an opinion on this setup ;)

[2022-01-21 09:09] rix0rrr commented on #14184
You must use `JsonPath.taskToken`, putting `$$.Task.Token` in the middle of a string is apparently not correctly detected by our library.

The code probably needs to look like this:

[code]

[2022-01-21 09:10] rix0rrr commented on #14181
From this ticket: https://github.com/aws/aws-cdk/issues/14184, apparently you need to put `States.Array()` around the task token:

[code]

[2022-01-21 09:29] aloksinghGIT commented on #13756
Dear All,

Do we have a closure on this? I am stuck on this issue for a while

[2022-01-21 09:43] #18449 closed

[2022-01-21 09:47] bebbo-zz opened #18589 "(aws_lambda): Broken link to example"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_lambda-readme.html

### Describe your issue?

Link to "Example of Lambda Code from Local Asset" is broken and does not lead anywhere.

[2022-01-21 09:50] njlynch commented on #18555
Why do you believe the generated policy (`arn:aws::secretsmanager:eu-west-1:123123123123:secret:hello-??????`) is invalid? Is the policy not working for you for a specific use case? The above represents the ARN of the secret, including the SecretsManager-appended 6-character suffix. If you create a secret with the name 'hello', the full ARN will be something like `arn:aws:secretsmanager:eu-west-1:

[2022-01-21 10:24] jdotw commented on #18375
I tried a work-around of setting the master username and password using the cli... but it still failed

`ES_MASTER_SECRET_ARN=$(aws secretsmanager list-secrets --query "SecretList[?starts_with(Name, 'DomainMasterUser')].ARN" --output text)
echo "ES_MASTER_SECRET_ARN: ${ES_MASTER_SECRET_ARN}"
ES_MASTER_USERNAME=$(aws secretsmanager get-secret-value --secret-id ${ES_MASTER_SECRET_ARN} | jq --raw-out

[2022-01-21 10:26] jdotw commented on #18375
The only work-around that seems to work is extracting the secret and then going to the console and setting a (new) master-user. This is ..... really disappointing.

[2022-01-21 10:40] njlynch commented on #18354
@sphinx07 ,

Looking at #11526 is certainly potentially relevant. Does your secret name end in a dash and six characters (e.g., `my-secret`, `database-passwd`)? If so, that would be the reason why the above fails; the "partial" ARN that a secret imported by name is given can be confused by various services as a "full" ARN, resulting in a failed lookup. You can see this yourself using the SDK or CL

[2022-01-21 10:43] mtimbs commented on #15904
Any update on this. Is this an underlying issue with CloudFormation or simply a change required to CDK? Currently it is impossible to version APIs without manually going to the console which is just not feasible for large, multi-gateway, multi-region and multi-environment scenarios.

[2022-01-21 10:52] hugomallet opened #18591 "(s3-deployment): avoid asking for IAM Statement Changes every time"
### Description

Hi,

Each time I deploy a static website using the BucketDeployment construct, I have to validate the IAM Statement Changes.
It's quite annoying and I would prefer to not use "--require-approval NEVER" because it would not ask for other security changes.
Is there any solution to allow only the changes required by the bucketdeployment ?

Thanks,

### Use Case

I'd like to deploy wi

[2022-01-21 11:13] njlynch commented on #18348
Thanks for the feature request. It's worth noting that in general the SAM spec used by the CDK is quite out of date, and we have no proposed solution for keeping it up to date automatically (see https://github.com/aws/aws-cdk/issues/13507). In the meantime, individual tweaks to the spec can be made.

[2022-01-21 11:16] njlynch commented on #18388
Thanks for pointing this out! I agree we could either downlevel the headings, but it's probably better to just replace the markdown-style headings with something else entirely, so we don't conflict with the generated docs' overall layout.

We welcome community contributions! If you are able, we encourage you to [contribute](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md).

[2022-01-21 11:46] njlynch commented on #18446
The `kms:defaultKeyPolicies` flag is set to true by default in V2. You don't need to do anything to enable the behavior.

Closing out; let me know if you have any follow ups!

[2022-01-21 11:46] #18446 closed

[2022-01-21 12:20] muhammadhassaan2022skipq commented on #18573
I have setup the cdk for my project initially i use aws-cdk docs and when i install the packages and everything goes well, all installing in my .venv.
when i run the` cdk synth` goes well synthesis the cloud formation.
after that i run the `cdk deploy ` give me an error that is is aws account bootstrapped.
i try the command that were given on the stack overflow and docs too didn't work
may be in f

[2022-01-21 12:32] aloksinghGIT commented on #13756
How can we leverage Boto3 to address the problem? Example below:
import boto3
cloudformation = boto3.resource('cloudformation')
#get the logical ID of resource created from STACK-A
stack_resource = cloudformation.StackResource('STACK-A,'logical_id')
#Typecast this as per the Resource and use that in STACK-B

[2022-01-21 12:36] njlynch commented on #18381
The reason normal tagging conventions don't apply here is because the `ClientVpnEndpoint` structure in CloudFormation is using a non-standard name (`tagSpecification`), rather than just `tags`. The fix above by cokia would be one solution, but wouldn't allow the CDK standard tagging mechanism (e.g., `Tags.of(..).add`) to work.

The correct fix likely lies in fixing our `cfn2ts` code generation too

[2022-01-21 13:03] trondhindenes commented on #18555
thanks for the feedback @njlynch . I assumed the bug was caused by the question mark, but I later realized that that's just cloudformation's "any single character" wildcard. Still, when I try and use the full arn of a secret in a CdnOutput I don't get a valid arn back.

[2022-01-21 14:27] mehmetalpsumer opened #18593 "(secrets-manager/rds): Credentials as Secret ValidationError"
### General Issue

Secret "Given input did not match expected format"

### The Question

Hello,
I am trying to create a RDS instance via aws-cdk. For the credentials I am using:

[code]

And in my template I see the password being resolved as `"MasterUserPassword": "{{resolve:secretsmanager:arn:aws:ssm:eu-west-1:<account-id>:parameter/secrets/service/<service-name>/eu/staging/database/password:Sec

[2022-01-21 14:36] rix0rrr commented on #14181
Nevermind, this does not work.

[2022-01-21 14:36] rix0rrr commented on #14184
Nevermind, this does not work.

[2022-01-21 14:45] otaviomacedo commented on #18401
Re-assigning to @rix0rrr, who has more context on this.

[2022-01-21 14:54] njlynch commented on #18535
When invoking the cdk CLI, the CLI itself takes care of loading the `cdk.json` file and parsing out the context; however, it's difficult to provide a one-size-fits-all solution to enable that context while running inside any given test runner in all of the languages we support.

That being said, the solution in any given language + test runner is fairly trivial; you simply need to pass the `contex

[2022-01-21 14:54] #18535 closed

[2022-01-21 14:58] njlynch commented on #18332
Can you provide a bit more detail? When working with a CDK Go project, the included template files from within the CDK itself are being flagged? Is that correct?

We _could_ theoretically change all of the init templates to end in `.template` instead of `.template.ext`; some research would need to be done to ensure none of the rest of the init code relies on the file extension for anything else.

[2022-01-21 15:14] #18443 closed

[2022-01-21 15:16] endosama opened #18597 "(aws_apigatewayv2): cannot import HttpApi in nodejs using aws-cdk-lib"
### General Issue

Cannot import aws_apigatewayv2.HttpApi using cdk v2

### The Question

I've recently migrated my project to CDK v2.
I'm not able to import the HttpApi construct from
`import { aws_apigatewayv2 as apigatewayv2 } from "aws-cdk-lib";`
and the linting give me the following issue
`Property 'HttpApi' does not exist on type 'typeof ..node_modules/aws-cdk-lib/aws-apigatewayv2/index`
Thi

[2022-01-21 15:38] njlynch commented on #18555
That's because we don't have all of the information to construct the full ARN. The only way to get the full ARN from just the secret name would be to do a lookup. We don't currently have/support a `secret.fromLookup` method. That being said, it's rarely necessary. You can use the secret name, and secrets imported by name, in nearly every use case where you'd otherwise use the full ARN.

[2022-01-21 15:47] RomainMuller commented on #16698
In fact, `scope` and `id` are conventions, not reserved words.

`jsii` has this process where if a keyword argument conflicts with a positional argument, we'll append `_` at the end of the positional argument's name until it no longer clashes. This in turn might become a problem as Python allows all arguments to be used by-name (and hence, changing the name breaks those call sites).

We might be a

[2022-01-21 15:47] RomainMuller commented on #16698
Also - this feature request belongs with `jsii` so I'm moving it to the aws/jsii repository.

[2022-01-21 15:49] blimmer commented on #18312
Sounds good - I'll close this. Thanks!

[2022-01-21 15:49] #18312 closed

[2022-01-21 17:25] paulrosania commented on #17686
We ran into this today while trying to reduce context size for each image in a monorepo. Since images share library code, they all need to run using the monorepo root as the build context directory. We were hoping to use `Dockerfile.dockerignore` to slim down the context on a per-image basis.

[2022-01-21 17:36] #18386 closed

[2022-01-21 18:04] meeber commented on #16244
We just ran into this. Glad to see it has recent attention in #18549 and #16350. It'd be great if we could pass a parameter like `wildcard_policy = True` to `CodePipeline` so that it automatically generates a less granular policy using wildcards that'll scale to deployments with thousands of target environments. In the meantime, we'll explore the suggestion to "pass a codepipeline.Pipeline to Code

[2022-01-21 18:40] misterjoshua opened #18599 "(cli): confusing/misleading cli output when synthesizing stacks in an app with a `Stage`"
### What is the problem?

CDK CLI shows confusing, sometimes misleading, output when synthesizing a CDK app with a `Stage` containing stacks.

### Reproduction Steps

Put this app in a CDK app project:

[code]

Then run `cdk synth`. CDK CLI will display this confusing output:

[code]

If a user saw #14379, they might try to run `cdk synth '**'`. If they do, the CDK CLI will then supply (misleading

[2022-01-21 18:41] robertsonsamuel commented on #10202
@mrvini also trying to do this in https://github.com/serverless-nextjs/serverless-next.js/issues/2284 and hitting the same roadblock. Would love not to have to update logs here. Did you ever find a workaround for this? Does AWS expose any ability to set the distribution id yet?

[2022-01-21 18:56] sphinx07 commented on #18354
@njlynch , you are absolutely correct. My secret does have six character suffix and your explanation does make sense. Thanks a lot for your help!!

[2022-01-21 19:12] peterwoodworth commented on #18452
Yes, that's a stable qualifier for all CDK users unless specified otherwise. see [--qualifier](https://docs.aws.amazon.com/cdk/v2/guide/bootstrapping.html#bootstrapping-customizing)

[2022-01-21 19:53] automartin5000 opened #18600 "Logs: Subscription Filter with existing cross-account destination"
### Description

Not sure if this is a documentation issue or feature request, but according to [the docs](https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_logs/SubscriptionFilter.html), there doesn't seem to be  a way to just use a string ARN to reference and existing cross-account Logs destination (could've been created by another CDK stack). And the CrossAccountDestination construct, d

[2022-01-21 19:54] peterwoodworth commented on #18597
Hey @endosama,

Our ApiGwV2 libraries are still in "experimental" state. Our packages that aren't considered fully stable need to be installed independently in v2

`npm install @aws-cdk/aws-apigatewayv2-alpha`
[code]

Our second bullet point in the [Migrating to V2 guide](https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html) fully describes the lifecycle of an experimental package if you're

[2022-01-21 20:33] #18354 closed

[2022-01-21 21:04] jumic commented on #11478
The CloudFormation issue `SMS configuration and Auto verification for phone_number are required when MFA is required/optional` was resolved, see https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/769.

I was able to deploy the examples from the original issue (`sms` set to `true` and `false`) and from the [replies](https://github.com/aws/aws-cdk/issues/11478#issuecomment-

[2022-01-21 21:26] jumic commented on #14964
Does this option exist for DocumentDB in general? I couldn't find it in the AWS console when creating a new DocumentDB cluster.

Attribute `autoMinorVersionUpgrade` has the following comment in the [CloudFormation documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-docdb-dbinstance.html#cfn-docdb-dbinstance-autominorversionupgrade):

So I think we shouldn't a

[2022-01-21 21:27] #18508 closed

[2022-01-21 21:40] peterwoodworth commented on #18573
The environment you deploy into will often need to be [bootstrapped](https://docs.aws.amazon.com/cdk/v2/guide/bootstrapping.html) when using CDK. This will provision some resources, like an S3 bucket, which will be used to help deploy your stack.

To [bootstrap your account](https://docs.aws.amazon.com/cdk/v2/guide/bootstrapping.html#bootstrapping-howto), all you have to do is run `cdk bootstrap`

[2022-01-21 21:45] ethanresnick opened #18603 "(eks): better report when resources are "complete""
### Description

I'd like CDK Kubernetes resources (i.e., `Custom::AWSCDK-EKS-KubernetesResource` resources) to support an optional `isComplete` handler. That way, the CDK won't show the resource as having been provisioned if something fails within the cluster. The `isComplete` handler would be powered by `kubectl wait`, with a wait condition being provided by the user (as a property on the custom

[2022-01-21 21:47] peterwoodworth commented on #18239
That would be much appreciated @automartin5000, thank you 🙂

[2022-01-21 22:14] endosama commented on #18597
Sorry, I missed that 😅
Thanks a lot!

[2022-01-21 22:14] #18597 closed

[2022-01-21 23:53] #18575 closed

[2022-01-22 02:34] automartin5000 commented on #18452
Got it, thanks @peterwoodworth!

[2022-01-22 02:34] #18452 closed

[2022-01-22 06:59] automartin5000 commented on #6884
I just opened [this issue](https://github.com/aws/aws-cdk/issues/18600), but I see that it might be a duplicate of this one. One thing I don't understand about the CrossAccountDestination is how it's even supposed to work? Is it creating a CloudFormation Stack Set? And if so, where does the CDK get the permissions for that. It seems like a much more common use case for there to be an already provi

[2022-01-22 07:10] fullstackcreatives commented on #18201
Same issue here after upgrading to cdk v2 and to "@aws-cdk/aws-apigatewayv2-integrations-alpha" I get

"The IAM role configured on the integration or API Gateway doesn't have permissions to call the integration. Check the permissions and try again"

for all routes but the first one.

If you create a "HttpLambdaIntegration" for each route it works. Is this the expected behaviour?

[2022-01-22 11:27] bodokaiser opened #18611 "(aws-lambda-go): go binary in Docker image is compiled without CGO making it impossible to run local tests using sqlite"
### Description

When using go modules which bind to C code using CGO in `GoFunction`, the compilation inside the Docker bundling fails with, e.g.,

[code]

### Use Case

While my actual `GoFunction` does not use a module which requires CGO, I run local tests before bundling
[code]

which require [`mattn/go-sqlite3`][https://github.com/mattn/go-sqlite3], a pretty common package.

### Proposed Solu

[2022-01-22 15:23] dalenewman opened #18612 "cdk: .net 6 depreciation warning"
### General Issue

.NET 6 Produces Depreciation Warning

### The Question

Doing `cdk bootstrap` or `cdk deploy` and perhaps any command that subsequently calls `dotnet run` produces this warning.

`Warning NETSDK1174: The abbreviation of -p for --project is deprecated. Please use --project.`

### CDK CLI Version

2.8.0

### Framework Version

_No response_

### Node.js Version

v14.17.4

### OS

[2022-01-22 15:33] mrgum commented on #3894
just fyi require-approval can be "never", "any-change" or "broadening"
broadening is quite useful once the app is stable

[2022-01-22 15:50] muhammadhassaan2022skipq commented on #18573
thank you for the help @peterwoodworth  :) well explained I'm learning how to use GitHub and learning aws with

[2022-01-22 15:50] #18573 closed

[2022-01-22 16:04] dalenewman commented on #18612
Oh I see now I can just change `-p` to `--project` in my *cdk.json* file as a work around.  This looks like an easy fix in the source code as well.

[2022-01-22 19:07] flavioleggio commented on #18466
Hi @TomaszSzusterTR,

In typescript you can actually work around your issue by passing your generated array of widgets to the constructor with the spread operator `...`.

[code]

In the lib's typescript source code there is no simple and clean way to overload the constructor to support both variadic and array arguments, thus I think that the `addWidget()` helper method would be enough. I submitted

[2022-01-22 23:47] amitsharma1729 opened #18616 "DynamoDB table: Customer Managed encryption throws KMS key access denied"
### What is the problem?

Whenever I create a new Table resource in my stack it throws a KMS access denied/Not found exception upon deployment of the CloudFormation stack. The table that I am creating has the following properties:

[code]

Whenever this resource is on the step of being created it throws following error:

[code]

The only change in my previously successful deploying stack is additi

[2022-01-23 07:01] nikita-sheremet-clearscale commented on #6023
Any updates? Any workarounds about creating state machine which calls another one? How generate "StateMachineArn.$" ? Like that:

{
   "Type":"Task",
   "Resource":"arn:aws:states:::states:startExecution.sync",
   "Parameters":{
      "Input":{
        "Comment": "Hello world!",
        "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
       },
      "StateMachineArn.$":"$.arn",

[2022-01-23 07:54] sabarnac commented on #6023
I used the following code to remove the default policy statements that the Step Function CDK generates for the state machine when providing a dynamic ARN.
[code]
After this, then you can add in your own policy statement for what other state machine ARNs the current one is allowed to call. Make sure to provide policy statements for all the actions that were removed.

[2022-01-23 07:55] dannysteenman commented on #5455
I wrote a small shell function that exports the temp credentials using `aws-vault` (`brew install aws-vault`) so you can run cdk commands using your sso profile. Just add the following function in your `.zshrc:

[code]

Then just run the following in your shell:
[code]

To stop your session run `awsprofile`.

If you're using a prompt like `starship` then it will also show the remaining time of the

[2022-01-23 10:01] milesgranger commented on #6023
@sabarnac I don't believe that works in Python world.

[2022-01-23 16:00] h1008 commented on #14964
Yes, I think you're right! Sorry for the confusion - I assumed this option existed because [prowler](https://github.com/toniblyx/prowler) complained that it should be set. But apparently this was an issue with prowler...

[2022-01-23 16:00] #14964 closed

[2022-01-23 16:04] mathieubrd commented on #15025
Any update on this?
Bug still there with CDK v2.8

[2022-01-23 16:16] emetwall opened #18618 "(bootstrap): Cannot use customized bootstrap bucket name"
### What is the problem?

cdk deploy command fails if the bootstrapping command used a custom bucket name.

--- Steps to reproduce -----------------

1) npx cdk bootstrap aws://111111111/us-east-1 --profile PROFILE     --cloudformation-execution-policies arn:aws:iam::aws:policy/AdministratorAccess  --change-set-name Changeset --bootstrap-bucket-name BUCKETNAME

2) cdk deploy
----------------------

[2022-01-23 18:13] phstc commented on #18582
@skinny85 thank you - that's very helpful.

Since it is an existing table, I'm wondering if changing to `CfnGlobalTable`  would cause CDK/Formation to consider it a new resource instead of updating it, and it would try to delete the existing table and create a new one.

Could that also call [`updateContinuousBackups`](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#updateCont

[2022-01-23 18:23] LukvonStrom commented on #18566
hi @grl-wang,
the creation of a `test-invoke-stage` is expected, when `allowTestInvoke` is not explicitly set to false (see here: https://github.com/aws/aws-cdk/blob/5436ce27a39499d019d45c0f2bb523d5e9d17607/packages/%40aws-cdk/aws-apigateway/lib/integrations/lambda.ts#L17) when creating the Lambda Integration.

Could you please verify that:
1.  the bug "disappears" when you turn `allowTestInvoke`

[2022-01-23 19:30] RichiCoder1 commented on #5455
It's worth noting one of the reasons AWS Vault doesn't enable something like this by default is to not expose credentials unnecessarily. As mentioned above, the best (current) solution is SSO profiles combined with `aws-vault`'s [`credential_process`](https://github.com/99designs/aws-vault/blob/master/USAGE.md#using-credential_process) support which accomplishes effectively the same thing 😄.

[2022-01-23 20:07] addihorowitz commented on #547
You may track the Go GA project board [here](https://github.com/orgs/aws/projects/14)

[2022-01-23 23:39] strongishllama commented on #18332
@njlynch Sorry I should have given a better explanation. So a typical folder structure might look like this.
[code]
You have the standard CDK ```bin/```,  ```lib/``` and ```node_modules/``` directories. Then ```internal/``` and ```lambdas/``` contain the Golang code for the Lambda functions. There is also a ```go.mod``` file at the top level so all the Lambdas can share the same dependencies.

The

[2022-01-24 00:13] hermanmedsleuth commented on #18484
I believe that this is an important issue, and that resolution of it is required for success of this project.

@jayPJ can you try using `fromVpcAttributes()`, instead of `fromLookup()`, as @peterwoodworth proposed?

[2022-01-24 04:23] automartin5000 commented on #5455
Just tried this, and while I was able to get `aws-vault exec` working with AWS SSO, I couldn't get `credential_process` working. Kept getting `The provided token has expired`. Any ideas?

[2022-01-24 04:25] Blufe commented on #15025
Me too...

[2022-01-24 05:22] RichiCoder1 commented on #5455
I don't know what does or doesn't cause aws-vault to automatically kick of the interactive login, but the fix for this is to `aws sso login --profile <name-of-sso-profile>` so the `--profile administrator-sso` in this example. It's because the aws sso profile in question [doesn't have cached credentials yet]( https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html#:~:text=Running%2

[2022-01-24 05:57] Raghunath-SK opened #18619 "waf2: adding logging configuration fails to deploy."
Hi ,

Im using cdk version 1.139.0, and I had a waf earlier added in my previous deployment.
Now I tried to add the logging configuration for that waf. So I added the below code in cdk and generated the template.

new CfnLoggingConfiguration(scope,'WafLoggingConfig',{
      resourceArn:webAcl.attrArn, // here I attached the wabacl using wabacl code reference.
      logDestinationConfigs:[`arn:aws:

[2022-01-24 06:14] literalice opened #18620 "(eks): Use L1 construct (CfnCluster) for L2 eks.Cluster"
### Description

Currently L2 Cluster construct of eks module doesn't use L1 CfnCluster.
It's confusing, for example if users need to "[escape hatches](https://docs.aws.amazon.com/cdk/v2/guide/cfn_layer.html)" adding overrides to L1 CfnCluster doen't work.

### Use Case

* Users can escape hatches like as standard L2 constructs.
* It should make it easy to catch up with the new features of EKS.

[2022-01-24 06:35] #18619 closed

[2022-01-24 07:47] jayPJ commented on #18484
Error is coming as soon as command  **cdk synth ${INFRA}-main --require-approval never** runs.

[2022-01-24 07:47] jayPJ commented on #18484
Error is coming as soon as command cdk synth ${INFRA}-main --require-approval never runs.

[2022-01-24 08:22] tmokmss opened #18621 "(aws-lambda-python): Command Hook support"
### Description

It would be great if `PythonFunction` also supports command hook feature, which is already supported by  [`NodeJsFunction`](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_lambda_nodejs.BundlingOptions.html#commandhooks) and [`GoFunction`](https://docs.aws.amazon.com/cdk/api/v2/docs/@aws-cdk_aws-lambda-go-alpha.BundlingOptions.html#commandhooksspan-classapi-icon-api-ic

[2022-01-24 08:35] TomaszSzusterTR commented on #18466
@flavioleggio the addWidget() will also be sufficient :)

[2022-01-24 09:29] DuncanHouston commented on #8585
I have now also run into this problem after updating Auth. It's on my dev branch, and I can't roll forward or backwards. And I'm uncertain as to what will happen when I push to prod.

[2022-01-24 10:55] Kruspe commented on #18405
I see the same issue @jatsrt is describing. Through the change from #18255 the account and region are trying to be imported from the lambda arn which is not known yet, since it is being imported.

Not sure if this is something we can fix in the events section here. Maybe a specific field for the event could be a solution but it is not the prettiest one.

[2022-01-24 11:05] plumdog opened #18625 "(pipelines): Migrating from "original" to "modern" pipelines API"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v1/docs/pipelines-readme.html

### Describe your issue?

The linked docs say:

I have recently upgraded one of our projects to a CDK version that generates deprecation warnings for use of `CdkPipeline`, which is why I've found this. I'm eager to work out what is involved in migrating (especially as the "original" API is gone in CD

[2022-01-24 11:38] otaviomacedo commented on #18006
Hi, @fbrv. That's just how CloudFormation works. If you run `cdk synth`, you'll see that the template for `ApiGatewayStack` has been changed to include the new route. But until you deploy that template, CloudFormation will hold on to the version of the template that was last deployed.

Taking a step back, is there a strong reason to keep each lambda function in its own stack rather than having a s

[2022-01-24 12:31] jayPJ commented on #18484
Yes I will trying that too.

[2022-01-24 12:54] #18589 closed

[2022-01-24 13:20] corymhall commented on #18611
@bodokaiser does this work if you set `cgoEnabled` to `true`?

[code]

[2022-01-24 13:20] entest-hai commented on #18065
Same issue, can you please share the workaround solution in with detail? How to create a custom "Step?

[2022-01-24 13:21] corymhall commented on #18621
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-01-24 13:29] corymhall commented on #11478
@jumic thanks for letting me know! I'll close this issue for now since the issue looks to be resolved, but if anyone thinks the issue is not resolved let me know.

[2022-01-24 13:29] #11478 closed

[2022-01-24 14:04] #9918 closed

[2022-01-24 14:12] otaviomacedo commented on #18591
Hi, @hugomallet. What are you changing between deployments? Are you using dynamic IDs for the bucket, by any chance?

[2022-01-24 14:33] hugomallet commented on #18591
[code]

[2022-01-24 14:50] otaviomacedo commented on #18591
I can't reproduce it. If I change the contents of the file, it re-deploys the assets. If I change any attribute in any resource, it re-deploys the stack. But it never asks me to confirm IAM changes. In your case, what changes is it asking you to confirm?

[2022-01-24 14:52] hugomallet commented on #18591
![image](https://user-images.githubusercontent.com/1888705/150805791-a1f26626-ba8b-4e1e-bbd7-f35cb00e3e1a.png)

[2022-01-24 14:58] milesgranger commented on #11071
It seems, propagating the tags for a given deployment to the ECR images and s3 assets would be enough for users to generate their own garbage collection.

We tag our deployments/assets using standard semantic versioning, and can 'easily' remove objects past a given version. However, it doesn't appear assets loaded into the bootstrap s3 bucket get the same tags as resources in the stack; which I fi

[2022-01-24 15:01] otaviomacedo commented on #18620
Hi, @literalice. If you look at the custom resource [handler] that is responsible for managing the lifecycle of EKS clusters, you'll see that there is a lot of custom logic involved. If we used the L1 directly, we would lose that.

[handler]: https://github.com/aws/aws-cdk/blob/87c957029ba5adecc9dddd72d9190d8a7abb913f/packages/@aws-cdk/aws-eks/lib/cluster-resource-handler/cluster.ts

[2022-01-24 15:20] otaviomacedo commented on #18591
The ARN of the bucket is changing. That shouldn't happen if you use a bucket created with `new Bucket(this, 'ImmutableBucketId', ...);`

And if the bucket is changing, the CLI needs to confirm that you want to apply this policy to the target bucket, which is expected.

[2022-01-24 15:44] ahmetsevki commented on #16457
Plus one that `fromConstruct` doesn't put the cluster into protected resources. However, how do you get the arn of the `DatabaseCluster` to put inside `fromArn`?

[2022-01-24 16:10] skinny85 commented on #3894
I would strongly suggest using `cdk destroy --force` instead 🙂.

BTW, if you're ever unsure what options each of the commands take, you can run them with the `--help` switch (for example, `cdk deploy --help`).

[2022-01-24 16:31] grutt commented on #12524
So, looping in here with the same problem.

I was hopeful that behaviors would be treated similar to a record for Root53 (i.e. an ARecord) In this case, the ARecord belongs to the sub-stack. Unfortunately there is no equivalent construct for Behavior or Origin on CloudFront.

Am I correct that this established design pattern would not work for CloudFront since Origin and Behaviors are not referenc

[2022-01-24 16:32] ahmetsevki commented on #16457
I constructed the arn for the cluster via:
[code]
And then called
[code]

But the cloudformation errors with: `Specified 'rds' resource is not supported by AWS Backup.`

What do you pass to `fromArn` part?

[2022-01-24 16:35] hugomallet commented on #18591
The asset parameter value is equal to the "cdktoolkit-stagingbucket" bucket name. This bucket exists since a long time. So it's only the name of parameter that changes.

[2022-01-24 16:39] jumic commented on #18591
Which CDK version are you using?

If you are using CDK 1.x:
Are you using the `DefaultSynthesizer` (`@aws-cdk/core:newStyleStackSynthesis` feature flag enabled in `cdk.json`)?

As far as I remember, I have seen a similar behavior in my projects. However, I couldn't reproduce it at the moment (example project with CDK 2).

[2022-01-24 16:40] ahmetsevki commented on #16457
I did the following:
[code]
I can see my cluster arn in plan selection, however the protected resources still do not have my cluster.
Did you pass the cluster arn, or the individual database server arns for it to show up in protected resources?

[2022-01-24 16:55] joel-aws commented on #18565
Can you [set the property via its CloudFormation](https://docs.aws.amazon.com/cdk/v2/guide/cfn_layer.html#cfn_layer_resource)?

[2022-01-24 17:01] jumic commented on #18591
I can reproduce the behavior. It occurs if you are using the legacy bootstrapping.
You should enable the [modern bootstrapping template](https://docs.aws.amazon.com/cdk/v1/guide/bootstrapping.html#bootstrapping-templates) / `@aws-cdk/core:newStyleStackSynthesis` in your project. Then the approval is no longer required.

[2022-01-24 17:10] #13572 closed

[2022-01-24 17:39] bodokaiser commented on #18611
@corymhall that worked perfectly. Great thanks :)

[2022-01-24 17:39] #18611 closed

[2022-01-24 17:52] jayPJ commented on #18484
After using fromVpcAttributes() , I don't see that error anymore, but for using fromVpcAttributes() I had to change code to this , and adding interface for sharing resources between stacks.

  * const myVpc = ec2.Vpc.fromVpcAttributes(this, 'vpcdev', {
    vpcId:props.vpc.ref,
    availabilityZones: [cdk.Stack.of(this).region],
    privateSubnetIds: [props.subnet1.ref],
    publicSubnetIds: [props

[2022-01-24 17:57] peterwoodworth commented on #18484
I'm glad you were able to move forward with `fromVpcAttributes()` 🙂

However, I'm still interested in why the script is throwing an error when attempting to synth only the first stack. I'll try to reproduce and investigate this at some point this week

[2022-01-24 17:57] #18347 closed

[2022-01-24 18:00] hugomallet commented on #18591
Fixed ! Many thanks

[2022-01-24 18:00] #18591 closed

[2022-01-24 18:02] emccullagh commented on #18453
Just hit this issue as well. On an environment that doesn't have the default CDK bootstrap stack deployed (hence no `/cdk-bootstrap/hnb659fds/version` SSM param existed). I've tried setting the qualifier in both the `cdk.json` file and via the `DefaultStackSynthesizer`, but I still get the same ValidationError mentioned above. I'm using CDK v2.8.0, but also got the error with v2.7.0

[2022-01-24 18:02] peterwoodworth commented on #18612
You're right that this is an easy fix! Would you like to take this up?

This issue was reported last month, let's move discussion there 🙂 https://github.com/aws/aws-cdk/issues/18092

[2022-01-24 18:28] Z11 commented on #18301
This is still an issue on CDK Python since it's still creating the asset directory and lambda is unable to find the handler. The workaround was to stay on 2.3.0-alpha.0 as stated by @njlynch :

aws-cdk.aws-lambda-python-alpha==2.3.0a0

[2022-01-24 18:39] peterwoodworth commented on #18620
@otaviomacedo have we considered offering an alternate L2 construct, or an alternate EKS library for constructs which utilize the L1 EKS constructs? I agree with both of the use cases OP listed as valid reasons to want this.

[2022-01-24 18:45] alex-hladun opened #18627 "aws-cdk-lib: Property 'node' does not exist on type 'App'."
### General Issue

aws-cdk-lib: Property 'node' does not exist on type 'App' when using app.node.tryGetContext

### The Question

Currently trying to migrate to aws-cdk-lib v2.8.0, and am having a problem retrieving the build context.

Current implementation

[code]

I am getting TS error on line 6, _Property 'node' does not exist on type 'App'_
Is there something i'm doing wrong? This is straight

[2022-01-24 19:11] flavioleggio opened #18628 "(cloudfront-origins): allow to extend `readTimeout` over 60 seconds"
### Description

CloudFront defines a default limit of 60 seconds for response timeout in http origin configurations. The library follows this default limit by validating the `readTimeout` attribute in `HttpOriginProps` by constraining the value between 1 and 60 seconds.

This is a soft limit and a limit increase is possible: in such a case the origin configuration should allow setting this value

[2022-01-24 19:12] jumic commented on #18329
colors.js was replaced with chalk in #18363.
@peterwoodworth I think this issue can be closed. Thanks.

[2022-01-24 19:17] a-h opened #18629 "(@aws-cdk/aws-ecr-assets): DockerImageAsset - can't tell which images are outdated, and where they came from"
### Description

I got the results back from a 3rd part security test of our AWS account. The results included this finding:

And it listed the affected assets. They were all CDK assets.

[code]

So I went to ECR to take a look.

<img width="1298" alt="Screenshot 2022-01-24 at 19 10 48" src="https://user-images.githubusercontent.com/1029947/150848480-2c6786cd-fc98-4c7b-abd0-9aca24196d32.png">

But

[2022-01-24 19:53] #18329 closed

[2022-01-24 20:36] peterwoodworth commented on #18092
@dineshraj01 would you still like to take this up? Please check out [CONTRIBUTING.md](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) to get started, and let me know if you have any questions 🙂

[2022-01-24 20:41] jumic commented on #16457
I found this note in the [documentation](https://docs.aws.amazon.com/aws-backup/latest/devguide/listing-backups.html#list-by-protected-resources):

Did you wait until a backup should be created?

[2022-01-24 20:42] alex-hladun commented on #18627
solved by using `process.env.ENV` as part of our build pipeline

[2022-01-24 20:42] #18627 closed

[2022-01-24 20:43] peterwoodworth commented on #18627
Check your package.json to make sure all cdk versions are the same, and try reinstalling your node packages for good measure. This error usually shows up due to something like that 🙂