[2020-06-22 18:44] eickler opened #8684 "(aws-ecr): Default RemovalPolicy for ECR is RETAIN"
Reference: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.RemovalPolicy.html

The reference states that the default removal policy is DESTROY, but an ECR Repository is actually retained during the destroy phase. I created a repository using

    new ecr.Repository(this, 'repository', { imageScanOnPush: true, repositoryName: ... } })

and the generated template is

    repository9F1A

[2020-06-22 19:08] GriffinMB commented on #8508
Merged: https://github.com/aws/aws-cdk/pull/8525

[2020-06-22 19:08] #8508 closed

[2020-06-22 19:32] SomayaB commented on #3816
Hi @hertzknight, I'm so sorry for the long overdue response. Do you still need guidance on this issue?

[2020-06-22 19:41] neg3ntropy commented on #8676
@rix0rrr Yes, sorry I meant to extend Stage in the example, but I did a couple of experiments and ended up copying the wrong code. Updated now.

[2020-06-22 19:43] SomayaB commented on #5488
Hi @maxsap, so sorry for the late response. Do you still need help with Kinesis Analytics?

[2020-06-22 19:46] SomayaB commented on #6010
Closing this issue since there hasn't been a response in a while. Feel free to reopen.

[2020-06-22 19:46] #6010 closed

[2020-06-22 19:53] jogold commented on #8233
mmmh... only for assets that are going to be used for Lambda then? Not sure you can play with file permissions for Docker assets...

[2020-06-22 20:04] shivlaks commented on #7884
@whoiskevinrich - you're absolutely right, it's not usable in Python, C#, or Java the way it is currently modeled.
PR with fix is in review #8466

[2020-06-22 20:09] SomayaB commented on #8132
Closing this issue since it seems to have been resolved by #8264. Feel free to reopen.

[2020-06-22 20:09] #8132 closed

[2020-06-22 20:40] michaeltarleton commented on #4096
For now my solution is to hard-code the VPC Name and do the lookup by vpc name rather than VPC ID. It's a temp fix in my eyes but necessary for me to move on w/ my project.

[code]

[2020-06-22 20:55] neharungta opened #8685 "(aws-backup): Incorrect validation of backupvault name"
The validation of ```BackupVaultName``` incorrectly allows spaces in the name when creating a ```BackupVault```. The documentation - https://docs.aws.amazon.com/aws-backup/latest/devguide/creating-a-vault.html

The validation needs to be updated.

### Reproduction Steps

[code]

### Error Log
when running `cdk deploy`

[code]

### Environment

  - **CLI Version      :** `aws-cli/1.16.291 Python/3.

[2020-06-22 23:34] alexmv commented on #7153
@rix0rrr: Am I misunderstanding your comment, or was this issue closed in error?

[2020-06-22 23:54] oonisim opened #8690 "aws-ec2: XLARGE6 size is not available in InstanceSize class"
AWS Case ID 7117312581 - XLARGE6 size is not available in aws_cdk.aws_ec2.InstanceSize.
Reply from AWS support engineer:
[code]

As in https://aws.amazon.com/ec2/instance-types/inf1/ , there is XLARGE6 instance size, but there is not in https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.InstanceSize.html.  Please add XLARGE6.

### Environment

  - **CLI Version      : 1.42.0
  - **Fr

[2020-06-23 00:38] #8666 closed

[2020-06-23 01:37] ThomasSteinbach opened #8691 "(aws-iam): role contains invalid characters for service roles"
I have a service account role - generated by AWS itself - with about following ARN:

[code]

Then

[code]

returns `aws-service-role/ssm.amazonaws.com/AWSServiceRoleForAmazonSSM` but should return just `AWSServiceRoleForAmazonSSM` instead.

Using the Role `from_role_arn` leads to errors on deployment, as the role name contains invalid characters like `/`.

---

This is :bug: Bug Report

[2020-06-23 01:51] shamhub commented on #6605
Check this NPM plugin which helps with blue-green deployment using CDK.

https://www.npmjs.com/package/@cloudcomponents/cdk-blue-green-container-deployment

[2020-06-23 02:28] strottos commented on #7063
Possible this may be fixed by the following PR given that this will build this as native CloudFormation (though may need verifying once that has merged): https://github.com/aws/aws-cdk/pull/8552

[2020-06-23 03:23] zxkane commented on #8669
You can add multiple target groups to the listener of application load balancer. The target group can be different ECS services. You can refer to [this example](https://github.com/zxkane/cdk-collections/blob/44f37afa8ae60e3e5680a19292cb27e82380ca3e/ecs-sonatype-nexus3/lib/ecs-sonatype-nexus3-stack.ts#L236) though it has only one target group.

[2020-06-23 04:42] mutovkin opened #8695 "(aws-cdk/aws-ecs): Enable adding custom IAM policies to Task Role"
Ability to add a managed IAM policy to the Fargate FargateTaskDefinition Task Role.

### Use Case

A separate stack is managing access permissions for all roles controlling our environment.  A list of ARNs to managed policies is exported from that stack. Fargate task definition stack is importing that list and attempts to import individual managed IAM policies through ARNs.

Currently, it is only

[2020-06-23 04:45] dmcgowandmc commented on #8282
Just curious, for people effected, does it eventually work or does it consistently fail?

For me, it fails consistently if I have 2 or more subjectAlternativeNames. One or none, always works

Either way, supporting native Cloud Formation DNS sounds like the best solution so hopefully it is available soon

[2020-06-23 05:51] shivlaks commented on #8610
@yashwanthkp added a commit to #8451 that honors the fargate platform version. Note that this is the newer style of calling service integrations with Step Functions, which we are aligning so we can push Step Functions towards `stable` and drop the `experimental` tag

[2020-06-23 06:12] #8452 closed

[2020-06-23 07:56] hertzknight commented on #3816
Honestly this was so long ago, I am not sure if this was fixed in a frequent update or not. I will close this as I switched over to typescript and forgot about this/no longer need this.

[2020-06-23 07:56] #3816 closed

[2020-06-23 07:57] damonmcminn commented on #8678
Many thanks - I was unclear that was a need beyond the initial bootstrap - works perfectly now.

[2020-06-23 08:01] ThomasSteinbach commented on #8691
I have added a code change #8692 which shows, how the bug could be fixed in my opinion. Note that I am not a typescript developer and the code change is just a proposal. Hopefully ist accelerates the bugfix.

[2020-06-23 08:02] abhinavdigital1 commented on #7844
@shivlaks I faced the above issue as well.

`$ cdk init app --language java

Applying project template app for java
Executing mvn package...
[ERROR] Failed to execute goal on project cdk-sample: Could not resolve dependencies for project com.myorg:cdk-sample:jar:0.1: Could not find artifact com.fasterxml.jackson.core:jackson-databind:jar:2.11.0-SNAPSHOT -> [Help 1]
`
java version "1.8.0_211"

Unab

[2020-06-23 08:26] eduardomourar commented on #6806
This is probably related #7592. And you should be able to resolve by using method [`addDepencies`](https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#construct-dependencies).

[2020-06-23 08:54] nija-at opened #8696 "[CLI] display issues with new deployment monitoring in the CDK CLI"
_Originally posted by @robertd in https://github.com/aws/aws-cdk/pull/8165#issuecomment-647178526_

It's not working really well on iTerm2 with zsh (using robbierussel/oh-my-zsh)?

Is there a way to use more verbose output (~for CI/CD purposes too~)?

[code]

.
.
.

**edit**: Luckily everything looks fine in Gitlab's CI/CD pipeline.

![image](https://user-images.githubusercontent.com/31543/8523635

[2020-06-23 08:55] nija-at commented on #8696
_Originally posted by @slotnick in https://github.com/aws/aws-cdk/pull/8165#issuecomment-647998179_

Encountering exactly the same here. Is there an option to disable this mode and revert to the previous display? It’s also useful to understand what happened during the build, which is lost with this update. My working model is to kick off a build, then check back after awhile to see what happened.

[2020-06-23 09:18] mmajis opened #8697 "[certificate manager] DnsValidatedCertificate deployment fails in cn-north-1 region"
## :question: General Issue

### The Question

I'm trying to create a DNS validated certificate in cn-north-1. Running `cdk deploy` fails with `Failed to create resource. Credential should be scoped to a valid region, not 'cn-north-1'.`

Snippet from `cdk deploy -v` output:

[code]
Code:

[code]

Looking at the logs for the custom resource lambda, it seems to be an issue with upserting Route53 rec

[2020-06-23 09:57] ThomasSteinbach commented on #8691
Hi @skinny85 , I've seen that you have implemented the original support for service roles. However AWS also known "service linked roles" which have a little different ARN which `aws_cdk.aws_iam.Role.fromRoleArn` currently can't handle. See the documentation:

https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html

The ARN format is

[code]

In the `cdk synth` CloudFormati

[2020-06-23 10:27] m0rph13 opened #8698 "appsync - apiKeyConfig expires outputting incorrect format"
When specifying the attribute "expires" for apiKeyConfig, the rendered cloudformation gets a value of null.

### Reproduction Steps
[code]

### Error Log

Synth gives:
[code]

### Environment

  - **CLI Version      :** 1.46.0
  - **Framework Version:** 1.46.0
  - **Node.js Version:** v12.16.1
  - **OS               :** OSX
  - **Language (Version):** 3.8.3

### Other

---

This is :bug: Bug Repor

[2020-06-23 10:58] joa44741 commented on #8519
I'm facing the same problem. Do you have any workaround for this?

[2020-06-23 14:00] trusanen-bpg commented on #7010
Bumped into this same issue recently, any progress with it? Also, I would be interested to hear about any workaround.

[2020-06-23 14:37] civilizeddev commented on #8698
According to the definition:

[code]

### Workaround

You should set `expires` like `2020-12-31T23:30:00Z`

Use `new Date(...).toISOString()` or any other date/time library.

### Proposed solution

But in fact, it is also prone to errors and needs to be changed in a different way.

[code]

Any good idea?

[2020-06-23 15:04] ottokruse commented on #7010
We use this work around now @trusanen-bpg :

[code]

[2020-06-23 15:05] eladb commented on #5045
Closing in favor of https://github.com/aws/aws-cdk-rfcs/issues/116

[2020-06-23 15:05] #5045 closed

[2020-06-23 16:03] ThomasSteinbach opened #8699 "(aws-iam): StringParameter.value_from_lookup's dummy value did not suffice"
[code]

returns a `dummy-value-for-${parameterName}` during synthesis (from #3654). This value did not suffice for use as ARN. The dummy value itself should represent a dummy ARN pattern to avoid errors.

### Reproduction Steps

Here is a short (and stripped) example, which currently leads to an error:

[code]

### Error Log

During synthesis this leads to an error:

[code]

### Workaround

[code]

[2020-06-23 17:50] yashwanthkp commented on #8610
@shivlaks Thanks for the response! Why version of CDK will the above change be rolled out in?

[2020-06-23 18:43] MrArnoldPalmer commented on #1559
As mentioned by @shamhub in #6605 there is a construct out there supporting this that may provide some guidance for implementation.

https://www.npmjs.com/package/@cloudcomponents/cdk-blue-green-container-deployment

[2020-06-23 20:02] ChristophMalassa commented on #8669
thank you zxkane. We will give it a shot but are probably going to go the the low level Cfn implementations as those give us more control over every detail, e.g. naming conventions

[2020-06-23 20:19] cynicaljoy commented on #8405
This is actually saving my bacon right now. So, if this is fixed it would be helpful to have a way to ignore the version and keep using the latest version.

[2020-06-23 20:35] bvtujo commented on #8669
Hi Chistoph,

Currently the ecs patterns support the use case of a single load balancer and single service (`*LoadBalanced*Service` constructs) or a load balancer with multiple target groups on the same container (`*LoadBalancedMultipleTargetGroups*Service` constructs).

There are a lot of configuration options involved in path-based routing, so I think your best bet may be to create the ALB, serv

[2020-06-23 20:35] skinny85 commented on #8691
Replied in the PR 🙂

[2020-06-23 21:16] nija-at commented on #8446
Hypothesis - Perhaps the order in which Cloudformation applied these updates caused this. This could happen if the update happens to the lambda function before it updates the lambda layer.

@rehanvdm - are you able to provide the full output of `cdk deploy` including the error, so we can see the full set of actions Cloudformation executed before hitting this error?

[2020-06-23 21:43] KitFristo commented on #2562
This would be a nice feature. Our team has had a plethora of difficulties trying to work with AWS Support on tickets because we cannot disable rollback.

[2020-06-23 22:17] shivlaks commented on #8518
I'm sorry you ran into this pain point... we're working on simplifying this test so it doesn't need Docker as a unit test *should* be self contained.

a workaround for now would be to run:
[code]

[2020-06-23 22:27] shivlaks commented on #8610
@yashwanthkp there's still some feedback to work through before it'll be merged and i'm currently on it.
After it's merged, it'll be included in the next released version of the CDK. you can follow [release notes](https://github.com/aws/aws-cdk/releases) to keep an eye out for the new ECS service integration with Step Functions when it pops up.

[2020-06-23 23:13] ccfife commented on #7837
Support importing a CloudFormation template in an AWS account from its ARN, in addition to importing templates from a local JSON/YAML file.

[2020-06-23 23:22] alexnikolis opened #8702 "(@aws-cdk/aws-lambda): add an object version parameter to CfnParametersCode"
The `CfnParametersCode` class currently adds a `bucketName` and `objectKey` parameter to the stack. I would like to add `objectVersion` as well.

### Use Case

I am concerned about a scenario where a hotfix needs to be made to the CloudFormation template that should not include an update to the Function's code, but the s3 code archive has been update separately.

Since the object version has not b

[2020-06-23 23:25] evanwieren opened #8703 "[cognito] Invalide check in domainPrefix for cognitoDomain can contain only lowercase alphabets, numbers and hyphens"
**The test is not valid**

Based on the dynamic nature of CDK, the url cannot be properly vetted before deployment.

https://github.com/aws/aws-cdk/blob/681b3bbc7de517c06ac0bd848b73cc6d7267dfa1/packages/%40aws-cdk/aws-cognito/lib/user-pool-domain.ts#L97

It is actually in lines 93 - 98.  You are testing for the value of the domain.
[code]

However, this is CDK, and even in cloudformation, and you

[2020-06-24 00:01] MrArnoldPalmer commented on #8405
yeah @cynicaljoy thats definitely on the radar. Trying to figure out where logic for versioning should go and how to make sure have that information. Right now the arn of the parameter doesn't contain the version, but if its provided by the user during import we "have" it. ECS docs aren't very clear that providing `secretarn:version` works though.

[2020-06-24 00:02] MrArnoldPalmer commented on #8668
Resolved via https://github.com/aws/aws-cdk/pull/8673

[2020-06-24 00:02] #8668 closed

[2020-06-24 00:05] MrArnoldPalmer commented on #1490
@sebastian-schlecht I believe it is. Reopening.

[2020-06-24 01:31] salimhamed commented on #7143
I'm running into the same issue with `aws_cloudwatch.Metric` not correctly implementing `IMetric`. Here's a snippet that demonstrates the issue:

[code]

Checking types with Mypy results in the following error:

[code]

[2020-06-24 02:25] sarjarapu commented on #8343
@RomainMuller here is my sample.

`queue_name = 'my-queue'
        queue = sqs.Queue(self, queue_name,
            visibility_timeout=core.Duration.seconds(300),
            receive_message_wait_time=core.Duration.seconds(20),
            encryption=sqs.QueueEncryption.KMS
        )
        cfnQueue = queue.node.default_child
        cfnQueue.override_logical_id("myqueue")
`

after running `cdk de

[2020-06-24 02:45] shivlaks commented on #8678
seems like you're all set @damonmcminn - thanks for jumping in and providing guidance @hoegertn
I'm resolving this issue as I don't believe further action is required.

Feel free to reopen if I missed something.

[2020-06-24 02:45] #8678 closed

[2020-06-24 05:14] guywilsonjr commented on #8042
I will add in complete agreement with @brendonmatheson I can honestly say I've spent at least 50 wasted hours(on the low end) on this problem. The true question is who is the most gracious and honorable typescript expert with time, energy, and enthusiasm to make it happen? hint? hint?

[2020-06-24 05:45] eladb commented on #8649
This is something much better achieved through a CI/CD system, and in fact will be the default set up for the upcoming CI/CD feature.

Closing for now.

[2020-06-24 05:45] #8649 closed

[2020-06-24 05:54] ookangzheng commented on #4067
Why dont you implement this feature?
Cuz on many commercial use case as far I know, they only allow whitelist IPs to call their Api. Its kinda ugly to work around.

Will run cdk deploy and force to run `modifyIP.js` to rewrite `cloudformation` template

[code]

[code]

[2020-06-24 06:29] eladb commented on #6279
This is fixed by [this commit](https://github.com/aws/aws-cli/commit/fe14153e519125ac61ef2e4091eeb9159ab89ee6) and released in AWS CLI 1.18.70.

@pahud the aws-eks I can see that latest version of the kubectl layer ([2.0.0-beta3](https://github.com/aws-samples/aws-lambda-layer-kubectl/releases/tag/2.0.0-beta3)) currently uses AWS CLI 1.18.37. What would it take to release a new version with the la

[2020-06-24 06:35] eladb commented on #8607
@bleish @sogos can you use `cluster.addServiceAccount()` instead of explicitly creating the OIDC provider (see [docs](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-eks#service-accounts))?

[2020-06-24 06:38] eladb commented on #8520
I suspect this was fixed by https://github.com/aws/aws-cdk/pull/8548 - please reopen if this is still an issue.

[2020-06-24 06:38] #8520 closed

[2020-06-24 06:40] eladb commented on #8394
Can you please be more specific? Can you point me to the line of code where this is created and where you would expect to be able to obtain the ARN?

[2020-06-24 06:41] eladb commented on #8340
I would recommend @zxkane's approach (load the YAML during synthesis).

@zxkane would you be interested in contributing a short example to the aws-eks README which describes this pattern?

[2020-06-24 06:43] eladb commented on #8004
@yjw113080 is this still an issue?

[2020-06-24 06:44] eladb commented on #7825
Related to #8608

[2020-06-24 06:47] eladb commented on #7592
We will add some documentation about dependencies as part of #4291

[2020-06-24 06:47] #7592 closed

[2020-06-24 06:48] eladb commented on #6806
Closing as dup

[2020-06-24 06:50] eladb commented on #7216
Would be nice to include this as part of #6279

[2020-06-24 06:52] eladb commented on #6806
Does this happen for any two Helm charts? If that's the case we can serialize Helm chart updates.

[2020-06-24 06:55] eladb commented on #6028
The `fromClusterAttributes` returns an object that implements `ICluster` and not a `Cluster` class. There are some things that you currently cannot do with imported clusters,. such as adding auto scaling groups.

Related to #8608

[2020-06-24 06:55] #6028 closed

[2020-06-24 06:56] eladb commented on #6005
@pahud  is this still an issue in >= 1.46.0

[2020-06-24 06:57] eladb commented on #5709
Duplicate #4159

[2020-06-24 06:57] #5709 closed

[2020-06-24 06:58] eladb commented on #5328
Related to #6279

[2020-06-24 07:01] eladb commented on #2963
Duplicate #7762

[2020-06-24 07:01] #2963 closed

[2020-06-24 07:02] eladb commented on #6642
Duplicate https://github.com/aws/aws-cdk/issues/5220

[2020-06-24 07:02] #6642 closed

[2020-06-24 07:02] eladb commented on #7084
Dup https://github.com/aws/aws-cdk/issues/5220

[2020-06-24 07:02] #7084 closed

[2020-06-24 07:06] eladb commented on #6279
Should be resolved by https://github.com/aws/aws-cdk/issues/7216

[2020-06-24 07:06] #6279 closed

[2020-06-24 07:06] eladb commented on #7216
@pahud can we also include the latest CLI in this upgrade so it will address https://github.com/aws/aws-cdk/issues/6279#issuecomment-648619829

[2020-06-24 07:07] eladb commented on #5328
Should be addressed by #7216

[2020-06-24 07:07] #5328 closed

[2020-06-24 07:08] eladb commented on #8608
Duplicate #5383

[2020-06-24 07:08] #8608 closed

[2020-06-24 07:17] ThomasSteinbach commented on #8699
Hi @eladb , is looks like you have created the original implementation of the "dummy-value" for ssm-StringParameters. If so, could you please have a look on my proposed solution code (#8700 ) for this bug report? Thank you :)

[2020-06-24 07:37] zxkane commented on #8394
I'm using [cluster.addChart](https://github.com/zxkane/cdk-collections/blob/master/eks/sonatype-nexus3/lib/sonatype-nexus3-stack.ts#L334) to deploy the Helm chart [sonatype-nexus](https://hub.helm.sh/charts/oteemo/sonatype-nexus), which deploys Nexus OSS with ingress using ALB. So an ALB will be created after the chart is deployed successfully.

It would be useful to add optional query parameters

[2020-06-24 07:42] eladb opened #8706 "EKS: fargate profile name too long when defined in deeply nested stacks"
When defining a fargate profile in a deeply nested stack, the generated name is too long (over 100 chars).

### Error Log

[code]

### Environment

  - **CLI Version      :** 1.46.0
  - **Framework Version:**
  - **Node.js Version:**
  - **OS               :**
  - **Language (Version):**

---

This is :bug: Bug Report

[2020-06-24 07:50] abelmokadem commented on #7762
Nice to see this one 👍

[2020-06-24 07:57] eladb commented on #8394
Okay, I think I understand the use case. Basically what you are looking for is a way to reference values returned from a `kubectl get` in your CDK app.

I think the main problem with this, in k8s, is that most of the apply operations are asynchronous. This means that you would need to "wait" for the resource to stabilize before we can issue the query, but I guess this query operation can also have

[2020-06-24 08:24] zxkane commented on #8394
It's exactly what this feature requests. It could be a feature to verify the status of resources deployed via CDK.

[2020-06-24 08:24] skorfmann opened #8707 "Code.fromAsset Bundling for NodeJS uses Wrong User"
When using the `bundling` option to provide Lambda code, the default behaviour for NODEJS based runtimes is broken, since it's using a non-root user within the Docker container.  It can be manually fixed by providing `root` as user as part of the `bundling` options.

### Reproduction Steps

[code]

### Error Log

[code]

### Environment

  - **CLI Version      :** 1.46.0 (build 63860b2)
  - **Fram

[2020-06-24 08:28] zxkane commented on #8340
Sure thing. Will submit a PR for it.

[2020-06-24 08:41] AlexCheema commented on #8649
Is there somewhere I can track the progress of this feature?

[2020-06-24 09:32] zxkane commented on #8697
It's same as IAM endpoint issue(https://github.com/aws/aws-cdk/issues/8185#issuecomment-645189298) in region `cn-northwest-1`.

The JS SDK has fixed the endpoint issue, but the lambda nodejs runtime still does not pick up the latest version yet.

[2020-06-24 10:24] #6581 closed

[2020-06-24 10:51] trusanen-bpg commented on #7010
Thank you @ottokruse , that is a good workaround, to pass the values as static request parameters 👍

[2020-06-24 11:18] sogos commented on #8607
Hello @eladb ,

That seem to work perfectly :+1:

Tested with alb-ingress-controller:
https://gitlab.com/thibault.cordier1/cdk-eks-fargate/-/blob/master/lib/eks-stack.ts#L68

But i don't understand why the thumbprint on the identity provider is false.
I use the command:
[code]

[2020-06-24 11:31] zxkane commented on #8697
Due to you explicitly specify the route53 endpoint in `DnsValidatedCertificate`, it should use correct endpoint in that [verification lambda](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-certificatemanager/lambda-packages/dns_validated_certificate_handler/lib/index.js#L83).

I did a try in `cn-northwest-1` region, it failed on the timeout to verify the certification issued in

[2020-06-24 11:37] logemann commented on #8518
still not able to finish the build.

[code]

[2020-06-24 11:54] eladb commented on #8607
Glad to hear that `addServiceAccount()` worked for you. We need to investigate why the default behavior of the `iam.OpenIdConnectProvider` resource is unable to extract the correct thumbprint from EKS. The current implementation in @aws-cdk/aws-eks actually hard codes the thumbprint ([ref](https://github.com/aws/aws-cdk/blob/6166a70800caff8530f55a14fd8e71ca9dd4e9f8/packages/%40aws-cdk/aws-eks/lib/

[2020-06-24 11:56] eladb commented on #8607
Our EKS code currently has the following comment:

[code]

https://github.com/aws/aws-cdk/blob/6166a70800caff8530f55a14fd8e71ca9dd4e9f8/packages/%40aws-cdk/aws-eks/lib/cluster.ts#L711

[2020-06-24 11:56] eladb commented on #8607
Routing to IAM

[2020-06-24 12:03] #8108 closed

[2020-06-24 12:12] heikkis opened #8710 "@aws-cdk/aws-codebuild: Is there any easy way to extend auto generated role with a policy?"
## :question: General Issue

### The Question

I'm looking easy way to extend auto generated role for eg. codebuild with a custom policy.

In my current case I need to allow the codebuild role to assume cross-account role for assets uploading. Is there any easy way to do this? I would not like to create the default codebuild role by myself and maintain it manually.

### Environment

  - **CDK CLI

[2020-06-24 12:50] tyroneerasmus commented on #8618
I am facing the same issue.

Am trying to import a table from another stack and get
[code]

P.S. Using Python CDK

[2020-06-24 13:02] tyroneerasmus commented on #8618
A similar issue was solved here: https://github.com/aws/aws-cdk/pull/6635

[2020-06-24 13:14] mcliff1 opened #8712 "[cli] cdk synth should allow for an option to compact the template file (remove whitespaces)"
When producing JSON output cdk synth should have an option to minimize the output template file size.

### Use Case
AWS Cloudformation  has a limit on the template body size for an template on S3 at 460,800 bytes.

I had attempted to inject this type of filtering after cdk synth in the `cdk deploy` flow, but quickly got lost.

This will allow deployment of larger stacks.

### Proposed solution
Add

[2020-06-24 13:35] heikkis commented on #8710
project.addToRolePolicy()

[2020-06-24 13:35] #8710 closed

[2020-06-24 13:39] zxkane opened #8713 "(eks): Newly introduced default timeout of helm chart breaks 'wait' option"
After upgrading cdk to latest `1.46.0`, deploying a helm chart to EKS failing on timeout.

### Reproduction Steps

Deploy a helm chart without specifying `wait` and `timeout` in slow network env(such as China regions) like below,

[code]
See complete app [here](https://github.com/zxkane/cdk-collections/blob/master/eks/sonatype-nexus3/lib/sonatype-nexus3-stack.ts#L334).

The deployment fails on tim

[2020-06-24 14:02] NickBlow opened #8714 "(aws-appmesh): Appmesh health check protocol enum does not support GRPC or HTTP/2"
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-appmesh.Protocol.html does not support GRPC or HTTP/2 even though Cloudformation does

### Reproduction Steps
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-appmesh.Protocol.html differs from

https://docs.aws.amazon.com/app-mesh/latest/APIReference/API_HealthCheckPolicy.html

### Error Log
N/A

### Environment

  - **CLI V

[2020-06-24 14:17] rehanvdm commented on #8446
@nija-at I came to the same hypothesis. Unfortunately I can not provide it without permission from the client, it is an enterprise client, lot's of red tape so I am not even going to try. We did solve this by updating the lambda and removing the big libraries, then doing another deploy that adds the layer. I just found it strange that no one has reported it yet (not on CDK explicitly, but no where

[2020-06-24 14:47] bleish commented on #8607
It looks like the lambda is using the `tlsSocket.getPeerCertificate` method to retrieve the intermediate certificate. By default, that only retrieves the first certificate in the chain. If you pass `true` to the method it'll return the full chain, linked by the `issuerCertificate` property. You can follow the chain until you reach the root CA, after which `issuerCertificate` becomes a cyclical ref

[2020-06-24 15:33] NickBlow commented on #8714
I've added the enums in the following PR - let me know if there's anything else I need to do
https://github.com/aws/aws-cdk/pull/8716

[2020-06-24 15:47] shearn89 commented on #1606
Just about to (I think) bump into this. One use case I can see is that the CIS security benchmark for AWS dictates that all default security groups should restrict all traffic (control 4.3 - https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-cis-controls.html#cis-4.3-remediation). To comply with that, it would be nice to configure the default security group as part of the CDK tem

[2020-06-24 15:56] gradybarrett opened #8717 "(core): CustomResource - expose ICustomResource public interface"
Expose the public interface of CustomResource.

### Use Case

Exposing this interface makes it possible to implement patterns like proxy and decorator when building out our own CustomResource interfaces. This is useful because we're encouraged to [subclass CustomResource][cr-docs] and supply our own strongly typed props object to define accepted properties. If we need to perform operations on thos

[2020-06-24 16:06] bomkamp commented on #8717
Also Interested in understanding the best (or intended) approach to implementing CustomResources i.e. Extending CustomResource & setting values or implementing the abstract interface behind the scenes.

+1 👍

[2020-06-24 16:35] eladb commented on #8713
Thanks for reporting

[2020-06-24 16:35] pahud commented on #7216
Yap. Just bumpped **aws-lambda-layer-kubectl** to [release 2.0.0](https://github.com/aws-samples/aws-lambda-layer-kubectl/releases/tag/2.0.0) with the latest kubectl, awscli and helm3.

Layer is also available in SAR and might take 24-48hours to replicate to all global regions.

I will test the latest layer in the next 1-2 days and create a PR for aws-eks cdk construct.

kubectl | v1.16.8-eks-e163

[2020-06-24 16:41] eladb commented on #7892
I still believe the actual deployed stack name in this case will be "Bar". That's at least what's supposed to happen. The name of artifact is intentionally based on the construct path to enforce uniqueness and allow you to have multiple stacks with the same name deployed to different AWS environments (see details https://github.com/aws/aws-cdk/pull/4895)

[2020-06-24 16:56] kirtfitzpatrick commented on #7892
Yes. I mentioned that as "It clobbers the scope created by the parent constructs." I don't have an issue with what "stack_name" does, but a solution to my problem it is not. This issue is about granting access to the node. Could you speak to my issue?

[2020-06-24 17:02] arjanschaaf opened #8718 "(EKS): CDK uses integer for timeout; Helm expects duration"
Wanted to test the new timeout parameter in the EKS Helm construct as I had problems deploying a large Helm chart like the prometheus-operator chart. But I just ran it and hit a problem: CDK translates the timeout to an integer value in seconds but the Helm version used (v3) expects a duration specification. So 900s instead of 900.

### Reproduction Steps

[code]

### Error Log

[code]

### Enviro

[2020-06-24 17:28] bvtujo commented on #8654
Hi @jonathanmorley, thanks for reaching out about this. It's currently expected behavior that cluster deletions fail while tasks are running, unfortunately--I think that's a tradeoff made in CF, not necessarily the CDK construct.

I think your options here are the following:
* Your custom resources solution
* Use a combination of `aws ecs list-clusters`, `aws ecs list-tasks --cluster <yourCLuster>

[2020-06-24 17:28] #8654 closed

[2020-06-24 18:00] rothgar opened #8720 "[CLI] init failed virtualenv for python should print errors in red or not print Welcome message"
### The Question

If I run `cdk init --language python` and I don't have python3-venv installed the Welcome message output scrolls the error messages off of the screen and are not obvious.

Error in the code references this command https://github.com/aws/aws-cdk/blob/0e96415ea9f365db93aa4b26e7464096b3d62af2/packages/aws-cdk/lib/init.ts#L323

The output is very helpful but ultimately not noticeable

[2020-06-24 18:03] MrArnoldPalmer commented on #8720
@shivlaks the error in the init template is definitely easily missed. Can we make the output red and move it down so its not gone when the command finishes?

[2020-06-24 18:18] MartinLoeper commented on #8285
Oh no this should not have been closed. This IS an issue =(

I will provide more information once I get back to work and have the time.

[2020-06-24 18:44] nathanpeck commented on #8518
I was able to make it much further into the build process without the tests however the build still failed with the following error:

[code]

It looks like the build process is picking up the .DS_Store hidden folder automatically created by Mac OS X. I can delete it manually to workaround this but we should make the build process more resilient

[2020-06-24 18:56] eladb commented on #7892
Sorry, I missed your other comment.

Not sure what you mean by "clobbers the scope created by parent constructs". Can you elaborate?

We have an issue to be able to use stack names in the CLI: https://github.com/aws/aws-cdk/issues/8390

Generally, CFN does not support dashes in logical names, but you can determine how logical names are assigned to resources in a stack by overriding [allocateLogica

[2020-06-24 19:16] rrrix commented on #8282
Here's my custom construct I'm using to use the built-in CfnCertificate with DNS Validation:

[code]

Use it kinda like this:

[code]

It's faster, works 100% of the time (with any number of SAN's), cheaper (no Lambda) and has the same great taste of automated DNS Validated ACM Certificates!

[2020-06-24 19:16] #8690 closed

[2020-06-24 19:28] rrrix commented on #8712
In another life in another project, I was using the AWS Amplify CLI, which also outputs everything as very spacey CloudFormation JSON and had hit that same CloudFormation template file size limit.

I ended up added a "hook" (hack?) in the Amplify CLI to use `cfn-flip` (https://github.com/awslabs/aws-cfn-template-flip) which converts everything to YAML, and has a `--clean` option (which allows it t

[2020-06-24 19:33] shivlaks commented on #5547
adding the `response requested` label as this issue needs a repro.
Common gotchas have been configuration of `env` and the setup of credentials.

@optinirr - can you provide a minimal example where it works and is not usable in tests? Perhaps there's something actionable that we can follow up with.

[2020-06-24 19:35] shivlaks commented on #3008
marking as `p1` to prioritize a fix

[2020-06-24 20:00] #8627 closed

[2020-06-24 20:23] mlkirkpatrick commented on #8329
Sorry about that. Forgot the repo I linked to was private. I've updated with gists for the examples:
https://gist.github.com/mlkirkpatrick/3befe93726113d19f48a908fb8eebad1
https://gist.github.com/mlkirkpatrick/b0ccad32a47fbe6c6102d1d54e2bf277

[2020-06-24 20:37] kirtfitzpatrick commented on #7892
Interesting. allocate logical id doesn't appear to be documented in the Python docs for [Stack](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.core/Stack.html). Is this intended? (Alternatively, I might be blind and simply not seeing it.)

Either way, I noticed the docs referring to it were apparently incorrect up until [2 weeks ago](https://github.com/aws/aws-cdk/commit/d79595d854adf16

[2020-06-24 20:37] shivlaks commented on #8720
@MrArnoldPalmer @rothgar I moved the post installation steps towards the end so they'll be the last things you see when you init a template. Modified the messages to be warnings rather than errors, which would show up as yellow.

I'm not strongly opinionated that it must be yellow, but it feels reasonable given there are steps to reconcile and the project was still initialized. thoughts? feel free

[2020-06-24 20:43] ConradMearns opened #8724 "Make bucket encryption optional for bootstrap"
As a developer operating in a federated AWS space, I need to be able to bootstrap the CDK without it attempting to set `s3:SetBucketEncryption` properties.

### Use Case

When attempting to run `cdk bootstrap`, `cdk bootstrap --without-public-access-block-configuration`, `cdk bootstrap --public-access-block-configuration true` or `cdk bootstrap --public-access-block-configuration false`, the creat

[2020-06-24 21:03] gradybarrett commented on #8630
Having openid capabilities would be fantastic since it enables us to bring our own identity provider. That's a major use case for large orgs where user pools are blacklisted for use in favor of centralized IdPs.

[2020-06-24 21:05] eduardomourar commented on #6806
I cannot say for previous CDK versions, but with current v1.46.0 I am able to deploy two helm charts in the same stack. Whenever I ran into these issues, I solve it by setting the wait flag to true and adding dependency.

[2020-06-24 22:21] eladb commented on #7892
I am still not sure I understand your use case. Can you please describe it again? If `stack_name` is not specified, it will default to the artifact ID which does take into account the scope & unique hash systems.

[2020-06-24 22:32] eladb commented on #7216
🤝

[2020-06-24 22:34] eladb commented on #8607
@bleish wow thanks so much for the detailed explanation. Would you say the preferred behavior for the OIDC provider resource is to always use the root CA thumbprint?

[2020-06-24 22:55] pahud commented on #8718
cdk 1.46.0 has a pinned version of aws-lambda-layer-kubectl 2.0.0-beta2, which should be immutable.
https://github.com/aws/aws-cdk/blob/509133373679fe514be5b4ce8d58988e3eecdd90/packages/%40aws-cdk/aws-eks/lib/kubectl-provider.ts#L27

I haven't tried the helm timeout feature yet. Was it working and now it just failed?

[2020-06-24 23:31] acomagu opened #8726 "aws-lambda: add permissions to imported functions"
[code]

This causes an error in deployment, `Could not execute the lambda function. Make sure you have given CloudWatch Logs permission to execute your function.`.

Normally such permission should be created in [`LambdaDestination.bind()`](https://github.com/aws/aws-cdk/blob/5091333/packages/@aws-cdk/aws-logs-destinations/lib/lambda.ts#L16-L22). But don't for imported function because of [here](ht

[2020-06-24 23:33] bleish commented on #8607
@eladb
It seems so. According to their [documentation](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_oidc_verify-thumbprint.html):

One gotcha I ran into when testing the `getPeerCertificate(true)` method was that the certificate chain contained one more certificate beyond the root CA.  When following the openssl steps from the documentation above, I get a chain of 4 c

[2020-06-24 23:52] JamesLuoau commented on #6806
I was trying to install "external-dns" and "aws-alb-ingress-controller" together and no luck. I will give the new version an other try. Thanks for looking into this.

[2020-06-25 00:04] bleish commented on #8607
It looks like openssl s_client [doesn't always return the full certificate chain](https://github.com/openssl/openssl/issues/4933).  The [documentation](https://www.openssl.org/docs/man1.0.2/man1/openssl-s_client.html) for the `-showcerts` flag on s_client states:

Using `getPeerCertificate(true)` does appear to return the full chain, so it seems the Open ID Connect Identity Provider doesn't necess

[2020-06-25 02:40] ywauto83 opened #8728 ""cdk bootstrap --public-access-block-configuration false" is throwing an error"
[code]

### Reproduction Steps

### Error Log

[code]

### Environment

  - **CLI Version      :**  1.47.0 (build c2b499a)
  - **Framework Version:**
  - **Node.js Version:**  12.8
  - **OS :** MAC
  - **Language (Version):** typescript 3.8.3

### Other

---

This is :bug: Bug Report

[2020-06-25 04:16] SomayaB opened #8731 "[codepipeline] Insufficient permissions while pulling source from GitHub"
_Originally posted by @jayakumarselvan in https://github.com/aws-samples/aws-cdk-examples/issues/307

I'm trying to make pipeline through AWS CDK with python.

That pipeline simply pulling source from GitHub and deploy to S3 bucket.

When I'm deploy the pipeline (like 'cdk deploy cdkabc'), the pipeline is creting.

But trying to release the pipeline, i'm getting error

**Insufficient permissions**

[2020-06-25 05:11] ywauto83 commented on #8728
1.46.0 is having the same issue

[2020-06-25 05:46] denmat commented on #8100
Thank you for your detailed response. `*filters` had me stumped and trying to come up with a google search for an `*` did my head in :)

[2020-06-25 05:46] #8100 closed

[2020-06-25 06:29] optinirr commented on #5547
@shivlaks it was an env issue for me as well, as my env for deploy and test are not the same and my test env did not contain an "account" or "region".

[2020-06-25 06:49] arjanschaaf commented on #8718
No @pahud It was the first time I used it as well. Then it is not related to your last change. As for as I can find in the Helm documentation the `--timeout` switch from Integer to Duration with the launch of Helm V3, so I'm a bit surprised I'm running into this issue.

[2020-06-25 07:55] tp6m4fu6250071 opened #8732 "[aws-cdk/aws-codepipeline] It seems using the same token for oAuthToken and the SecretToken of the webhook when using Github in the source stage."
## :question: General Issue

### The Question

I'm following this document: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.app_delivery.README.html
[code]
However, since it's using GitHub source, it should add the arguments **oauth_token**, **owner** and **repo**, so I modified it as:
[code]

After synthesizing the above code, it generates the template like this:
[code]

**My question i

[2020-06-25 08:06] ManuLdb opened #8733 "[CLI] unable to get local issuer certificate"
Hi!

I try to learn how to use CDK CLI for AWS but everytime I do an action with the cdk command (cdk ls, cdk synth...) I have this error that show up in the cmd:
`unable to get local issuer certificate`

I'm really new on this. Do you know how I can fix this ?

Thanks a lot for your help

[2020-06-25 08:20] beuleal commented on #5455
I know its a bit old, but I'd like to contribute too.

I was facing the following error:
_Unable to resolve AWS account to use. It must be either configured when you define your CDK or through the environment_

I did a wrap for deploy into multiples account:

`
...
  console.log(` Setting Profile: ${account.name}`);
  let access_key = execSyncCmd(
    `aws configure get aws_access_key_id --profile

[2020-06-25 09:01] nija-at commented on #8679
Thanks for reporting this bug. I don't think there are any workarounds for this.
Marking this as a p1 bug since there are no workarounds.

[2020-06-25 09:03] eduardomourar commented on #8718
I believe it was my mistake, so I will gladly fix it.

[2020-06-25 09:20] Pomdap opened #8734 "[CLI] Parameters are ignored for all subsequent deployments"
## :question: General Issue

### The Question

When deploying a stack using parameters, changes are not detected for any deployment after the initial one.
Using this simple stack :
[code]

The tag is set to "value" using this deployment code :
`cdk deploy --parameters CdkStack:parameter=value`

But for any subsequent deployments changes are not detected when using a different parameter:
`cdk deplo

[2020-06-25 09:22] nija-at commented on #8703
A [fix for this](https://github.com/aws/aws-cdk/commit/681b3bbc7de517c06ac0bd848b73cc6d7267dfa1) has been released in [`1.45.0`](https://github.com/aws/aws-cdk/releases/tag/v1.45.0). Can you check if this fixes the issue?

If not, can you explain what you mean by 'generate the domain name dynamically'.

[2020-06-25 10:25] wzr1337 commented on #2872
I feel I am almost there... Can anyone spot the error?

I am using `1.47.0`of the cdk

[code]

the code is:

[code]

[2020-06-25 10:27] binarythinktank commented on #2872
@wzr1337 principal is apigateway.amazonaws.com

[2020-06-25 10:29] wzr1337 commented on #2872
search and replace at its best i guess :D

I will give it another try now

Thx!

[2020-06-25 12:59] reni11111 opened #8736 "Template format error: Parameter count 63 is greater than max allowed 60"
Cloud formation seems to have limit of 60 parameters, but these parameters are set by DEFAULT by CDK.
I'm just creating lambdas like this:

[code]
and 3 parameters for each lambda are created (see **hash** at the picture).

Cloud formation seems to suggest using maps when limit is reached, but this is set by CDK and **there is no documentation** how to modify these default parameters.
(please no s

[2020-06-25 13:06] eikeon commented on #7949
It'd be great to have the above proposed Secret.fromSecretName for the "multiple accounts for multiple environments" use case -- as then references could be kept relative to an account.

[2020-06-25 14:43] dkboon01 commented on #5583
can someone show me how to retrieve the listener arn if it is attached to a existing load balancer?  I'm using this to create the load balancer and the listener is automatic added to port 80.
 loadbalancerBuild = elb.ApplicationLoadBalancer(
                    self,
                    f"{ECR_REPO_NAME}-{APP_STAGE_BUILD}-ALB-Fargate1",
                    load_balancer_name=f"{ECR_REPO_NAME}-{APP

[2020-06-25 14:49] skinny85 commented on #8732
Hey @tp6m4fu6250071 ,

if you want to configure `AWS::CodePipeline::Webhook` separately, pass `codepipeline_actions.GitHubTrigger.NONE` as the `trigger` property when creating `GitHubSourceAction`, and create an instance of `codepipeline. CfnWebhook` separately with whatever values you need. No need to use `CfnPipeline`.

Thanks,
Adam

[2020-06-25 15:30] #8603 closed

[2020-06-25 15:44] mateja82 commented on #1656
Not sure if this helps anyone, but in my organization we use AWS SSO, with over 90 AWS Accounts, with MFA, so it was impossible to manage CDK without AWS SSO support. I found a way to solve it, so till its officially relesed, you can use this, it works quite all right: [MatsCloud blog - CDK with AWS SSO multi account multi profile](https://www.matscloud.com/blog/2020/06/25/how-to-use-aws-cdk-with-

[2020-06-25 15:45] mateja82 commented on #5455
Not sure if this helps anyone, but in my organization we use AWS SSO, with over 90 AWS Accounts, with MFA, so it was impossible to manage CDK without AWS SSO support. I found a way to solve it, so till its officially relesed, you can use this, it works quite all right: [MatsCloud blog - CDK with AWS SSO multi account multi profile](https://www.matscloud.com/blog/2020/06/25/how-to-use-aws-cdk-with-

[2020-06-25 15:56] mateja82 commented on #3396
Not sure if this help, but in my organisation we use AWS SSO, with over 90 AWS Accounts, with MFA, so it was impossible to manage CDK without AWS CLIv2 with profiles, and AWS SSO support.

I found a way to solve it, so till its officially released, you can use this, it works quite all right: [MatsCloud blog - CDK with AWS SSO multi account multi profile](https://www.matscloud.com/blog/2020/06/25/h

[2020-06-25 16:01] kennu commented on #8286
Hmm... What should I be checking? Latest AWS CDK 1.47.0 still removes the {"SSEEnabled":true} attribute and gives the same "At least one of..." error on deployment if I set serverSideEncryption to false.

[2020-06-25 16:31] iliapolo commented on #8371
Hi @k-jjmartinez - Unfortunately I don't understand the issue.

In the `Reproduction Steps` section you link to an already synthesized template, rather than a code snippet that reproduces the issue.

In the `Error Log` section you link to a zip file that doesn't actually contain an error. It contains a source code file with **400** lines of code, and a synthesized template, which I assume is someh

[2020-06-25 16:39] Ajaydiwa commented on #8646
Thanks @nija-at for the update.

This worked when implementing RestApi construct instead of CfnRestApi, CfnDeployment and CfnStage constructs separately.

[2020-06-25 16:43] nija-at commented on #8446
I was able to reproduce this error (code and error pasted below) and can confirm that my hypothesis was wrong. The lambda layer does get updated before the lambda function so this is not an ordering problem.

This doesn't look like an issue coming from the CDK. We'll have to take it up with the lambda service.

Code:

[code]

Deploy error:

[code]

[2020-06-25 16:51] nija-at commented on #8446
Internal ref: tt/0503226377

[2020-06-25 17:31] rehanvdm commented on #8446
@nija-at Thanks for taking the initiative and creating an example, appreciate it. Will you leave this ticket open until you get response from internal teams?

[2020-06-25 17:41] zubairzahoor commented on #8679
Thanks @nija-at . Counting on you for this one.

[2020-06-25 17:47] iliapolo commented on #8490
Hi @fmcmac

Yes, the solution you posted is definitely the correct way to configure this. The fact `args` is an array and not simply a string, is exactly to allow this way of configuration and avoiding escaping problems. 👍

Closing the issue.

[2020-06-25 17:47] #8490 closed

[2020-06-25 18:38] rrrix commented on #8518
@nathanpeck try to add a `.dockerignore` file:

[code]

https://docs.docker.com/engine/reference/builder/#dockerignore-file

[2020-06-25 19:09] iliapolo commented on #8538
Hi @IndikaUdagedara - Thanks for reporting this!

Definitely looks like a bug. Adding to our docket 👍

[2020-06-25 19:23] SZubarev opened #8742 "[lambda] Lambda Layers in different stacks"
When I have two stacks and each stack deploys layers with the same logical names CDK deploys only one lambda layer until logical names are made different. I would expect to have the layers prefixed with the stacks names (similar to Lambda) and two independent layers in this case.

### Reproduction Steps

N/A

### Error Log

No errors, just getting one layer instead of separate copies for each stac

[2020-06-25 19:39] #8720 closed

[2020-06-25 19:49] AaronHarris commented on #8640
Do we even have low-level constructs for this service yet?

[2020-06-25 20:08] dkboon01 commented on #7725
I'm trying to retrieve the listener that is created on port 80 when I create an application load balancer.
I'm trying to use this ApplicationListener.fromApplicationListenAttributes
When I try cdk synth it tells me that:
 AttributeError: type object 'ApplicationListener' has no attribute 'fromApplicationListenerAttributes'

Can you show me what you put after the word scope in your code on line:

[2020-06-25 20:08] dkboon01 opened #8743 "[elb] I'm trying to retrieve the listener that is created on port 80 when I create an application load balancer."
I'm trying to retrieve the listener that is created on port 80 when I create an application load balancer.
I'm trying to use this ApplicationListener.fromApplicationListenAttributes
When I try cdk synth it tells me that:
 AttributeError: type object 'ApplicationListener' has no attribute 'fromApplicationListenerAttributes'

Can you show me what you put after the word scope in your code on line:

_

[2020-06-25 20:38] SomayaB commented on #8736
Hi @reni11111, thanks for opening an issue. I wonder if any of the solutions provided here would be helpful? #3266 #3463
Let us know.

[2020-06-25 21:06] shivlaks commented on #8680
hey @edisongustavo - what's the desired state machine flow you're trying to get to. What would be ideal authoring workflow?

Would it be possible to share a visual representation / ASL definition of the desired state machine?

I want to make sure I understand your readability issue first before I think of suggestions or potential improvement(s) on the CDK side of things.

[2020-06-25 21:08] Ophirr33 commented on #8696
I'm seeing a bunch of escape codes being dumped when running `cdk deploy --no-color` in a jenkins job. e.g.,
[code]
Is there a way to revert to the prior display mode when running with `--no-color`?

[2020-06-25 22:25] comcalvi opened #8745 "[cloudformation-include] Add support for YAML templates"
Adding support for YAML templates, since cloudformation accepts both JSON and YAML.

### Use Case

Cloudformation supports both YAML and JSON templates, so the CDK should as well.

### Proposed Solution

I will be opening a PR to address this.

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Re

[2020-06-25 23:50] NetaNir commented on #8479
Hi!

Thanks for diving into this and sharing your test results!
To address this, version 1.46.0 introduced a flag for disabling stack trace collection, out early testing shows it improves synth time:
[code]
This will allow turning on stack trace collection only when required.

[2020-06-26 02:24] jakebanks commented on #6867
This looks fixed now actually! I am using 1.31.0 of aws-autoscaling. Thanks for looking.

`Instance xxxxxx has container instance ARN arn:aws:ecs:xxxxxxxxxx`

[2020-06-26 04:09] #8646 closed

[2020-06-26 06:12] #8538 closed

[2020-06-26 06:19] fmcmac commented on #8598
EmrCreateCluster is missing a Construct Props for Steps (similar to https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-emr.CfnCluster.html#steps). Is this planned or should this be added here?

[2020-06-26 06:36] shivlaks commented on #8598
@fmcmac thank you for adding that information! It was not on my radar but absolutely belongs here.

This is the right place to collect anything we're missing, modeled incorrectly, presents a usability issue, etc.
We likely need to rewrite/redesign parts of the integration to start driving it towards the direction of stability.

[2020-06-26 07:27] inirudebwoy commented on #7826
Thanks @jorgenfroland :)
Your comment help me solving same problem.

[2020-06-26 07:33] jogold commented on #8544
@Dzhuneyt do you still want to propose this change? Let met know if you need some help.

[2020-06-26 07:46] am29d commented on #8518
I think the best way to run a dockerized build right now is to run a container in interactive mode and execute `build.sh`.

[code]

It is also stated in the contributing doc, but lots of people try to run docker build which has issues right now. We can also pass the privilege flag and execute docker in docker builds for the tests.

[2020-06-26 07:57] #8218 closed

[2020-06-26 08:52] logemann commented on #8518
In order to run something in a docker container you have to build the image right?

[2020-06-26 09:03] am29d commented on #8518
No, we use the [jsii/superchain](https://hub.docker.com/r/jsii/superchain) docker image, it is available on docker hub.

[2020-06-26 09:46] wzr1337 opened #8750 "[apigateway] WebSocket url output missing from generated cloudformation json"
When you create a RESTApi with APIGateway, the cloud formation template does contain something like:

[code]

### Use Case

When deploying, you will be prompted the REST API Endpoints but you miss the WebSocket connection endpoints.

### Proposed Solution

Please add a similar output for the WebSocket endpoint so that the cloudformation template contains:

[code]

* [x] :wave: I may be able to imp

[2020-06-26 09:50] RomainMuller commented on #8728
Turns out the feature was not tested (and is broken) with "legacy" bootstrap templates. The fix is pretty straight forward... I'm adding an integration test and will ship a PR soon.

[2020-06-26 09:51] RomainMuller commented on #8728
The faulty feature was added in aws/aws-cdk#8171. The culprit is a missing `Ref:` in front of an `AWS::NoValue` marker.

[2020-06-26 12:39] asterikx commented on #8615
I stumbled across this too.

For now, I have removed the API key requirement from the RestApi and added it to each resource. This isn't ideal though.

[2020-06-26 12:50] mikkotikkanen opened #8752 "[CodeBuild] CodePipeline + CodeBuild + SecretsManager/SSM seems to have permission issues"
Trying to add SecretsManager secret (same applies for SSM Parameter Store) to CodeBuild runs into AccessDeniedException when trying to run the CodePipeline. Weird thing is that the env varible is correctly visible and set in Environment Variables in CodeBuild but still can't be accessed by the CodeBuild project. I have also checked that the grantRead actually creates required policies to access th

[2020-06-26 12:59] mikkotikkanen commented on #8752
Also, same thing happens when manually setting the policy

[code]

[2020-06-26 13:15] mateja82 opened #8753 "After upgrade to 1.47 - ERROR: File "setup.py" not found. Directory cannot be installed in editable mode"
Once I upgrader to 1.47, once I 'freeze" into the requirements.txt, I get the following error:

`ERROR: File "setup.py" not found. Directory cannot be installed in editable mode: ` along with the folder name.

This happens both in my existing stacks, as well as in the new stacks I create.

### Reproduction Steps

pip install -r requirements.txt
All OK

pip install aws-cdk.aws-s3 aws-cdk.aws-cloudf

[2020-06-26 13:28] #8753 closed

[2020-06-26 13:28] mateja82 commented on #8753
Not sure if this is a bug or not, but it seems that when there's a git install with no remote, this line is added to requirements.txt:
# Editable Git install with no remote (unicornstartup==0.0.1)
-e /Users/mjovanovic/unicornstartup/unicornstartup

This is what causes an error. Im closing the issue

[2020-06-26 13:34] nija-at commented on #7838
It looks like you're using the `@aws-cdk/aws-elasticbeanstalk` module here. Unfortunately, we don't have higher level support for this module which means all the code you're using is autogenerated based off the CloudFormation spec. CDK does not add any additional logic on top of this.

Please check that the generated CloudFormation template is configured as you would have expected. It's unlikely t

[2020-06-26 13:57] nija-at commented on #8742
This difference in behaviour is not coming from the CDK.

It's coming from either CloudFormation or the Lambda backend. In both cases, layers or functions, we treat them the exact same way by not passing the name property when not specified.

Perhaps this is something we can hide under the CDK and make it a little better for the user.

[2020-06-26 14:05] nija-at commented on #8742
Internal ref: tt/0503389452

[2020-06-26 14:16] nija-at commented on #8506
Instead of concluding on code changes, can we express the conclusions in the format of the APIs?

[2020-06-26 14:25] erik-sab opened #8754 "[stepfunctions] CustomState loses explicit null fields from parsed JSON"
CustomState https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions.CustomState.html
looses explicit `null` fields from parsed JSON.

### Reproduction Steps

JSON provided bellow

[code]
generates next output parsed as CustomStep and added to the flow

[code]
**"ResultPath": null** is missing in the result

### Environment

  - **CLI Version      : 1.47.0**
  - **Framework Versi

[2020-06-26 14:42] nija-at commented on #8750
What is a websocket endpoint url on a REST API?

[2020-06-26 14:55] nija-at commented on #8446
as best as possible, at least until the issue gets ack'ed.

[2020-06-26 15:54] #8728 closed

[2020-06-26 16:29] ahammond commented on #4144
I see that https://github.com/aws-samples/aws-secrets-manager-rotation-lambdas/pull/32 now supports configurable `EXCLUDE_CHARACTERS` via an env-var of the same name.

[2020-06-26 17:03] ahammond commented on #4144
It looks like while the lambda is updated, the SAM isn't yet: https://console.aws.amazon.com/lambda/home?region=us-east-1#/create/app?applicationId=arn:aws:serverlessrepo:us-east-1:297356227824:applications/SecretsManagerRDSMySQLRotationSingleUser doesn't have excludedCharacters in the Application settings. I guess next step is finding that code and adding a PR.

[2020-06-26 17:24] misterjoshua opened #8757 "[aws-lambda-nodejs] Broken in BitBucket Pipelines"
There seems to be a problem with NodejsFunction in Bitbucket Pipelines. When I attempt to create a lambda using that construct and synthesize, I get an error about `lscpu` and another `Error: EACCES: permission denied, open '/asset-output/index.js'`.

### Reproduction Steps
**bug-stack.ts**
[code]
**bug-stack.handler.ts**
[code]
**bitbucket-pipelines.yml**
[code]

### Error Log
[code]

### Environ

[2020-06-26 17:26] MrArnoldPalmer commented on #8720
Sounds good. Thanks!

[2020-06-26 17:54] alexnikolis commented on #8702
Another thought I had on this - `fn.currentVersion` is currently only supported for functions that use `lambda.Code.fromAsset` or `lambda.Code.fromInline`. This is problematic since `addVersion` is depreciated now, so continuous deployment for a Function using external Code seems to require using the `latestVersion` property, which has a number of disadvantages.

I believe an object version could

[2020-06-26 18:01] skinny85 commented on #6537
@comcalvi has actually added support for CloudFormation short-forms in this PR: #8746 .

We'll probably have to extract his logic after that PR is merged to use the same YAML parsing in the `cdk diff` command.

[2020-06-26 18:02] iliapolo commented on #8505
Hi @ali-habibzadeh

Can you please provide some more detail on the requested feature?

From what I gather, you are talking about an option to extract specific runtime data from Glue resources and expose them as stack outputs. Is that right?

If so, what data exactly? can you refer us to the Glue API that exposes this data? It would also help a lot if you could provide a sample CDK stack that can b

[2020-06-26 18:19] iliapolo commented on #5925
From an initial investigation, it seems that the `*` is used because the `BucketNotificationsHandler` policy is created once per stack, and not per bucket. It therefore doesn't know in advance which buckets it will have to configure notifications for.

Relevant code starts here: https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-s3/lib/notifications-resource/notifications-resource.ts

[2020-06-26 18:57] shivlaks commented on #8754
@erik-telesoftas are you able to use the special value `DISCARD` as we would with other states?
I believe this concern of the null not translating to other languages did come up, I'll take a look at the Java experience and see what we can do to address this bug!

[2020-06-26 20:05] jayakumarselvan commented on #8731
i got the solution from below code

`oauth_token=core.SecretValue.secrets_manager('**secrets_manager_name**', json_field='**secrets_manager_key**'),`

[2020-06-26 20:32] misterjoshua commented on #8757
I've done some digging. I think using mkdtemp to create the staged asset directories is where the problem starts.

From what I'm seeing, mkdtemp is creating the asset staging directories with mode 0700. It seems that unless "group" and "other" have read/write on that directory (i.e., mode 0777), the volume is inaccessible from the bundler in Bitbucket Pipelines.

I managed to get the bundler to wo

[2020-06-26 20:53] iliapolo commented on #8472
@sam-goodwin - As the original author of [this](https://github.com/aws/aws-cdk/pull/1988), mind if I pick your brain?

[2020-06-26 21:25] skinny85 commented on #8458
Hey @MisterBianco ,

I've talked to the CodePipeline team, and unfortunately I don't have good news 😕 . This is a known issue - apparently the escaping for CodePipeline Variables is incorrect for some action configurations, and CodeBuild environment variables are one of those. So basically, right now, the best advice I can give is to just not use the `commitMessage` variable with conjunction with

[2020-06-26 21:25] #8458 closed

[2020-06-26 22:05] vgribok opened #8759 "[EC2] make GenericMachineImage use CfnMapping in an agnostic stack"
CDK demands AWS Region to be known at synth time when resolving IMachineImage for the EC2 Instance class, seemingly making it impossible to create a region-agnostic stack for launching an EC2 instance, while it's perfectly possible to defer region resolution in plain vanilla CFN to the run/deploy time.

### Use Case

I need a stack that can launch an EC2 in any region. CFN allows to do that via a

[2020-06-26 22:45] skinny85 commented on #8506
I don't see the value in this issue anymore. Let's continue the discussion in #8686 , that contains the customer-facing API.

[2020-06-26 22:45] #8506 closed

[2020-06-26 22:48] shivlaks commented on #8724
@ConradMearns There was a bug in disabling the `public-access-block-configuration` implementation.

just wanted to confirm whether the fix shipped in #8755 would work for your use case or whether the entire property needs to be omitted. From the sounds of it, it seems like it might, but I haven't quite tested that yet myself.

[2020-06-26 22:58] ConradMearns commented on #8724
I got around the issue by cloning aws-cdk and removing

https://github.com/aws/aws-cdk/blob/d2ae4bc35b6d79262da037d431e321c77e178524/packages/aws-cdk/lib/api/bootstrap/legacy-template.ts#L19-L26

It doesn't look like this has a toggle available yet, and nothing in #8755 :(

After more research within my org, it turns out that our admins have SCP's that force encryption everywhere, and they have ba

[2020-06-26 23:36] shivlaks commented on #8724
@ConradMearns thanks for the quick response. seems like this is certainly a feature request as there's currently no path forward for you without having to muck around with the template

so the entire BucketEncryption key is problematic and not just properties within it.

[2020-06-26 23:38] #6271 closed

[2020-06-27 00:28] immmapig commented on #8396
I am dealing with a similar issue.

Code before the change:

    .provisionedThroughput(
                                ProvisionedThroughputProperty.builder()
                                        .readCapacityUnits(1)
                                        .writeCapacityUnits(1)
                                        .build())

Code after the change:

     .provisionedThroughput(

[2020-06-27 04:45] amitksahu opened #8760 "[custom-resources] How to call cfnresponse.send"
As per the latest documents "https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html" cfnresponse is now part of CDK construct. Could you please share some examples of how to implement it using python.
How to call `cfnresponse.send`?

### The Question

### Environment

  - **CDK CLI Version:**
  - **Module Version:**
  - **Node.js Version:**
  - **OS:**
  - **Language (Version

[2020-06-27 06:11] #8549 closed

[2020-06-27 06:11] #8672 closed

[2020-06-27 06:25] phillipCouto commented on #7413
To work around this I actually used the Designer in AWS Management console to convert my YAML template into a JSON one and updated the stack. Even though there was only some metadata change the update took. Then I could run `cdk diff` pointing to my non-cdn stack and actually migrated cleanly.

I strongly recommend creating a changeset when you convert it just to make sure there are no substantial

[2020-06-27 08:10] thedevopsguyblog opened #8762 "[ECS] Task definition is generating an extra port mapping that is empty"
When creating a TaskDef with a container port but no host port, CDK will create an empty port mapping.

Here is the CDK output: https://pastehub.me/S3ScevBrNj
Original StackOverflow question: https://stackoverflow.com/questions/62498346/ecs-taskdefinition-creation-fails-with-error-invalid-containerport

### Reproduction Steps

[code]

### Error Log

16/31 | 6:03:05 PM | CREATE_FAILED        | AWS:

[2020-06-27 09:44] asterikx opened #8763 "[aws-secretsmanager] Unnecessary updates of SecretRotationApplication if no resources have been modified"
The `SecretRotationApplication` construct is updated even if no resources of the enclosing stack have been modified.

* Running `cdk diff DbStack` produces `There were no differences`.
* Running `cdk deploy DbStack` produces:
[code]
* Running `cdk deploy DbStack --verbose`, I see the following lines:
[code]
   But I cannot see which parameters actually changed. (How can I see those?)

### Reproduc

[2020-06-27 13:22] ufoo68 opened #8764 "[appsync] I want to fix example code"
doc page: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-appsync-readme.html

I want to fix example code

[code]

to

[code]

---

This is a 📕 documentation issue

[2020-06-27 14:12] slyfoxza commented on #8131
I ran into a similar issue with `af-south-1` when dealing with a cross-account configuration (where the IAM user credentials were in account A, assuming a role in account B). I had to enable v2 global endpoint tokens in the _source_ account A (and wait for the change to propagate) to have EC2 accept credentials used for a context lookup in account B. Failing to do so resulted in the same "security

[2020-06-27 14:17] Dzhuneyt commented on #8544
Yes, I will try to implement this. It's my first major contribution to AWS CDK, so I might need some guidance. I'll write here if i need any help.

[2020-06-27 15:30] workeitel commented on #7080
Some ideas for the interface.

# 1. Same CFN stack (already works)

    const parentZone = new route53.PublicHostedZone(this, "TopZone", {
      zoneName: "someexample.com"
    });

    parentZone.addDelegation(new route53.PublicHostedZone(this, "SubZone", {
      zoneName: "sub.someexample.com"
    }));

# 2. Same account and region (already works)

It uses CFN import/export to pass route53 zone

[2020-06-27 17:26] whimzyLive commented on #8615
@asterikx until issue is resolved correctly, you can use [cdk escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html#cfn_layer_raw) as also suggested by @nija-at.

For my case I did
[code]

[2020-06-27 17:33] asterikx commented on #8615
@whimzyLive thanks for sharing! I was not sure how to this.

[2020-06-27 17:50] kasarlaharish commented on #5409
can i add data into dynamodb  table through cdk

[2020-06-27 18:50] johnschultz commented on #8136
Wanted to chime in to say I ran into this same issue last night. Definitely confusing for new CDK users and double or triply so for developers new to Typescript and/or Jest. Speaking as one of those developers, I had no idea Jest's `expect` is included in the namespace by default; it probably would have taken me quite a while to figure this out if I hadn't found this issue. Thanks @strottos

[2020-06-27 20:44] fmcmac commented on #8598
The apparent inability to inject parameters into step args is a significant issue for adaptable step functions:
[code]
This fails with "jsii.errors.JSIIError: Cannot use JsonPath fields in an array, they must be used in objects"

[2020-06-27 21:30] asterikx commented on #7779
In response to @eladb, I would prefer co-locating my lambdas in a `lambdas` folder using Lerna or a Lerna-style setup so that I have full control over bundling and what dependencies are included with each lambda.

[code]

Parcel would then need to bundle each lambda using the configs (`package.json` and `tsconfig.json`) in the respective Lerna package. Is something like this possible with Parcel?

[2020-06-27 22:26] asterikx commented on #8745
What's the motivation for this?

[2020-06-27 23:03] asterikx commented on #8636
I would love to see:
1. Slack manual approval flows and
2. Slack deployment and health notifiers

There is an existing third-party construct library [@cloudcomponents/cdk-codepipeline-slack](https://github.com/cloudcomponents/cdk-constructs/tree/master/packages/cdk-codepipeline-slack) for this. However, the constructs stopped working as Slack did deprecate some APIs very recently (see my issue [he

[2020-06-28 06:11] #7257 closed

[2020-06-28 07:48] eladb commented on #8736
Duplicate #3463

[2020-06-28 07:48] #8736 closed

[2020-06-28 07:55] eladb commented on #6005
Closing in the meantime, please open if relevent.

[2020-06-28 07:55] #6005 closed

[2020-06-28 07:56] eladb commented on #8004
Closing in the meantime. Please open if relevant.

[2020-06-28 07:56] #8004 closed

[2020-06-28 08:01] eladb commented on #8707
@jogold not sure how setting all files to 777 under /asset-output would solve this problem

[2020-06-28 08:02] eladb commented on #8718
@eduardomourar thanks! let me know if you need assistance.

[2020-06-28 08:03] eladb commented on #8757
@jogold  can you take a look?

[2020-06-28 08:04] eladb commented on #8717
@gradybarrett Could you please add a concrete example? I am not sure I fully understand the use case/problem.

[2020-06-28 08:36] arjanschaaf opened #8769 "[ec2] can't filter vpcSubnets on availabilityZones on EC2 instance creation"
I'm trying to create a new VM in the VPC I created and I want to explicitly configure in which (private) subnet in a specific availability zone the VM instance is created. I am able to filter the vpcSubnets on other criteria such as subnetType. But once I add a filter on availabilityzone I get an error.

### Reproduction Steps

[code]

### Error Log

[code]

### Environment

  - **Framework Versio

[2020-06-28 09:00] houranii opened #8770 "[ec2] unable to tag subnet created by SubnetConfiguration"
After creating the subnet with SubnetConfiguration

subnet_public_1 = SubnetConfiguration(cidr_mask=24, name=f'public-1-{namespace}',
                                              subnet_type=SubnetType.PUBLIC)

### Use Case

I'd like to be able to add custom tags to resources created.

        core.Tag.add(subnet_public_1,key='Project',value=f'{namespace}-envname')

### Proposed Solution

### Oth

[2020-06-28 13:08] flavioleggio commented on #8131
@slyfoxza, you are definitely my hero of the day!
Setting the v2 tokens configuration in my production account, which holds my identities, I managed to use the CDK CLI with no issues. I actually had to specify the `eu-south-1` region when setting security token preferences on my production account.

@shivlaks I think we can close this issue, this is related with the CDK CLI.
Still I believe this p

[2020-06-28 14:00] logemann opened #8771 "[ecs-patterns] supplying cloudMapOptions.name results in random prefix"
take this code:

[code]

When deploying this, i get the following Arecord in my private Zone:

`22c78387-cdb4-4552-8c89-4b24ab8a8444.docker.mydomain.com.     A.   10.10.10.10`

Instead of

`docker.mydomain.com.     A.   10.10.10.10`

Which makes the whole cloudMap definition useless because of course i need a predictable name which i can reference in other services. So this **22c78387-cdb4-4552-8c

[2020-06-28 14:52] logemann commented on #8771
Not a bug just a different way of handling CloudMap when using a loadBalanced ECS Service instead of a plain one. In one case you will receive a SRV & A record, while the latter just creates an A record.

[2020-06-28 14:52] #8771 closed

[2020-06-28 14:56] ivawzh commented on #7761
@iamhopaul123 sorry, it's been a while and my repo had changed a lot since. I have lost the git commit at that time thus cannot reproduce the issue anymore.

From memory, I have changed the approach to use the primitive account KMS key instead.

[2020-06-28 19:28] nonken opened #8774 "[aws-s3-deployment] max-age header not set correctly"
The Cache-Control max-age key value gets set wrongly when using an S3DeploymentAction.

**Current** `max-age: Number`
**Expected** `max-age=Number`

Thanks to the excellent and super fast triage from @mikesherov 🙏.

https://twitter.com/mikesherov/status/1277320422791528457

The faulty line can be found here:

https://github.com/aws/aws-cdk/blob/8d5b801971ddaba82e0767c74fe7640d3e802c2f/packages/%40

[2020-06-28 19:29] nonken commented on #8774
The same applies here https://github.com/aws/aws-cdk/blob/8d5b801971ddaba82e0767c74fe7640d3e802c2f/packages/%40aws-cdk/aws-codepipeline-actions/lib/s3/deploy-action.ts#L35

[2020-06-28 20:38] pgollucci commented on #1099
No, I'm insane.  Its open.

[2020-06-28 21:48] logemann opened #8775 "[ecs-patterns] ApplicationLoadBalancedEc2Service with httpToHttps mechanics"
In the vein of having useful patterns for every day problems, i wonder if it wouldnt be useful to have a property like **redirectToHttps: true|false**  in the properties of ApplicationLoadBalancedEc2Service.

### Use Case

I think that most of the usage patterns of ApplicationLoadBalancedEc2Service is having a internet facing LoadBalancer for something like web applications. For that, you definite

[2020-06-28 23:14] workeitel opened #8776 "[Route53] Support for cross account DNS delegation"
Right now CDK already supports cross stack Route53 delegations and even cross region delegations (since Route53 is a global service).

But with sub-zones it's not uncommon to have a root DNS account and delegating zones into the sub-accounts. It would be great if CDK could help creating the cross account delegation.

### Use Case

Creating a global DNS structure across multiple accounts and delega

[2020-06-29 00:05] pgollucci commented on #8335
This is not yet in CfnTrailProps which is generated

I have it implemented minus that.

[2020-06-29 00:17] pgollucci commented on #8335
It is not yet in the roadmap

https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/projects/1

[2020-06-29 01:50] kennu commented on #8618
I'm having the same problem, because I want to create my DynamoDB tables in a separate stack (and possibly import orphaned tables after CloudFormation migrations in the future).

[2020-06-29 03:02] erik-telesoftas commented on #8754
Using `DISCARD` does not work either.

It creates `"ResultPath":"DISCARD"` and stack creation fails with an error:

[code]

[2020-06-29 05:29] #6323 closed

[2020-06-29 05:29] #7912 closed

[2020-06-29 05:44] eladb commented on #6806
Since both charts install the same nginx CRD you won't be able to install them concurrently so make sure to add a dependency between the two charts.

[2020-06-29 06:11] #8599 closed

[2020-06-29 06:43] eladb commented on #2562
Sounds like this is something we should add at the CLI level and also at the framework level as a stack option.

@shivlaks can you pick this up?
@rix0rrr should also be supported in CDK Pipelines

[2020-06-29 07:07] jogold commented on #7779
@blimmer `NodejsFunction` now uses Parcel 2, see #8681

[2020-06-29 07:11] #8718 closed

[2020-06-29 07:52] eladb commented on #7779
Can we resolve this?

[2020-06-29 07:57] jogold commented on #7779
Yes

[2020-06-29 10:10] eladb commented on #8126
I am still running a similar issue (albeit with a different error message) in 1.45.0:

1. Deployed a stack
2. Tried to update, it failed and rolled back successfully. Now the status is ROLLBACK_COMPLETE
3. Try to update but the CLI fails with `The stack named ... is in a failed state`

From a quick inspection, it seems like the `isSuccess` property in `stack-status.ts` deems any stack with the wor

[2020-06-29 11:06] eladb commented on #8713
Resolved by #8548

[2020-06-29 11:06] #8713 closed

[2020-06-29 11:21] nija-at opened #8781 "ability to add policy statements to RestApi after initialization"
Originally opened from https://github.com/aws/aws-cdk/issues/2387

From @brettswift - "The resource policy is readonly in the RestApi. It's only injectable at the constructor. This is a problem because I can't get the ARN into the policy to control method level invocations. It seems like there's a chicken/egg situation."

This can be fixed by allowing of `PolicyStatement`s as new methods on RestAp

[2020-06-29 11:21] nija-at commented on #2387
There are two parts to the original issue.

1. Changes in policy does not trigger a new deployment. This was [fixed](https://github.com/aws/aws-cdk/commit/1b3aeaf27b6491bc6d9c7c83dc7b03b8cd488534#diff-f555223d437a822094c168c0b2aee75c) a few months ago and released in `1.35.0`.

2. Ability to add statements to the RestApi policy after initialization. I've opened a separate feature request to track

[2020-06-29 11:44] jamiepmullan opened #8783 "[Certificate Manager] DnsValidatedCertificate - Certificate Validation across multiple hosted-zones"
We have a use case where we want to create a Certificate across multiple hosted zones:
i.e.

`{
    domainName: "example.com",
    subjectAlternativeNames: "example.co.uk",
    hostedZone: xxxx,
  }`

Because we're specifying 1 hosted zone, we (obviously) get the error:
`Failed to update resource. [RRSet with DNS name _xxxxx.example.co.uk. is not permitted in zone example.com.]`

If we create the

[2020-06-29 12:43] logemann commented on #8518
thanks for pointing out @am29d . But to be honest. The only reference to that docker image is in the partial build section. Not the first thing you will read when you want to start building this project.  I contributed to a lot of oss projects over the years, but this one here is definitely one of the tougher ones to get going and CONTRIBUTING.md doesnt help much as it is right now. To attract mor

[2020-06-29 12:56] jacques- commented on #1973
+1, would save us significant deploy time.

[2020-06-29 12:58] jacques- commented on #1973
+1, would save us significant deploy time as well.

[2020-06-29 13:37] mmuller88 commented on #8347
Mhh it doesn't look like that the chick-and-egg problem is solved. I can't see that the code handles that somehow. I worked around that with deploying two times and doing a json merge to have the x-amazon-apigateway-integration into the spec. I described it in the Workaround section here: https://martinmueller.dev/cdk-swagger-eng/ but yeah is kind of hard to explain.

[2020-06-29 14:15] nija-at commented on #8679
I've posted a fix for this here - https://github.com/aws/aws-cdk/pull/8785

[2020-06-29 14:45] blimmer commented on #7779
Thank you!

[2020-06-29 14:45] #7779 closed

[2020-06-29 14:51] winjer opened #8786 "[aws-eks] regression in 1.47.0 breaks awsAuth.addRoleMapping"
calling awsAuth.addRoleMapping clobbers existing role mappings for nodes, which means they can no longer connect to the cluster.

### Reproduction Steps

[code]

### Error Log

AccessDenied

### Environment

  - **CLI Version      : 1.47.0**
  - **Framework Version: 1.47.0**

### Other

This worked fine in 1.46.0

---

This is :bug: Bug Report

[2020-06-29 14:52] #8679 closed

[2020-06-29 14:59] Pomdap commented on #1756
This is on the roadmap ? I'm facing the same issue on different Cfn ressources with the C# CDK :
- `CfnDBCluster.ScalingConfigurationProperty.MinCapacity`
- `CfnDBCluster.ScalingConfigurationProperty.MaxCapacity`
- `CfnDBInstance.MaxAllocatedStorage`

The only way is to use `AddPropertyOverride` to set the properties.
It should be great to have a `Fn.FindInMap` method that return the good type (or

[2020-06-29 15:03] MrArnoldPalmer commented on #8699
@ThomasSteinbach I'm curious to know about the use case that is breaking with this right now. Can you provide details about what constructs/processes you're using that aren't supported currently?

[2020-06-29 15:05] skinny85 commented on #8745
This is for the [`cloudformation-include`module](https://docs.aws.amazon.com/cdk/api/latest/docs/cloudformation-include-readme.html) - this adds support for ingesting a CloudFormation template in YAML format, in addition to JSON. So it's not changing anything in CDK internals, it's about accepting another format as input.

[2020-06-29 15:08] asterikx commented on #8745
Sorry, missed the module prefix in the title. Please ignore my comment ;-)

[2020-06-29 15:08] winjer commented on #8786
Well it looked like it was only in 1.47.0, but I just ran it in 1.46.0 where awsAuth.addRoleMapping was called twice, and that seems to have clobbered the node roles as well.

[2020-06-29 15:09] MrArnoldPalmer commented on #8618
Yeah changing from accepting `Table` to `ITable` is the right way to go here. Should be relatively simple to implement and non-breaking for users.

[2020-06-29 15:30] machender1 commented on #2677
I am facing a similar issue when trying to override Path property on an instance profile. I do not see path getting attached to my resource generated on cfn.

`if (node instanceof iam.CfnInstanceProfile ) {

          //node.addPropertyOverride('Path', this.pathArn);
          const instanceProfileResource = node.node.findChild('Resource') as iam.CfnInstanceProfile;
          instanceProfileResour

[2020-06-29 15:33] skinny85 commented on #8774
Thanks for opening the issue @nonken !

Any chance you can open us a PR fixing this? https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#getting-started 😃

[2020-06-29 15:35] jogold commented on #8707
If we go back to running the container as root we will have content owned by root in `/asset-output` (#8489). A solution could be to run as root and then run again as root to change permissions (hacky?).

[2020-06-29 15:52] BryanPan342 commented on #7043
@wbprice tackling the issue at the moment, will come back with queries if they come up!

[2020-06-29 15:56] MrArnoldPalmer commented on #8652
@rahul-ve The output looks like its what is expected unless I'm missing something. Is the imported `IRepository` construct not working as expected when passed to another construct or otherwise breaking your app?

CDK uses a system of `Token`s  to reference values that may or may not be present during stack synthesis. That is what you're seeing when you `print` the repository arn of the imported re

[2020-06-29 15:58] kennu opened #8789 "[appsync] MappingTemplate.dynamoDbGetItem can't specify sortKey (only partitionKey)"
The AppSync module's MappingTemplate.dynamoDbGetItem and .dynamoDbDeleteItem are missing a way to specify sortKey in https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-appsync/lib/graphqlapi.ts#L1242.

The [underlying template](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#aws-appsync-resolver-mapping-template-reference-dynamo

[2020-06-29 16:06] MrArnoldPalmer commented on #8789
Seems this should be fairly easy to fix in a non-breaking way.

Thanks for the report! Additionally, @duarten is working on a proposal for a higher level interface for mapping templates for any interested in checking that out and providing feedback. https://github.com/aws/aws-cdk-rfcs/pull/177

[2020-06-29 17:26] #8712 closed

[2020-06-29 17:28] mcliff1 commented on #8712
@rrrix re: approach of plugging in a hook into `cdk deploy`

I spent a fair amount of time trying to do that and quickly discovered that *deploy* action is pretty complex;  I think a great solution to this feature request could be to enable a hook for 'post-processing' with the deploy.

[2020-06-29 17:32] dtserekhman-starz commented on #5953
Hello, I don't think this addresses the initial request/concern.
Sometimes, Alias name cannot be used in IAM Policies, but the actual KMS key ARN must be used.
The above call, kms.Alias.fromAliasName(this, 'myKey', 'alias/myTestKey'), returns aliasName, which is great. But then I would like to get a Key ARN from that alias name.

If I do it like this (I'm using python),

kms.Alias.from_alias_name(

[2020-06-29 18:12] MrArnoldPalmer commented on #8775
Hey there, this has been discussed a lot in a few other issues.

https://github.com/aws/aws-cdk/issues/5583 discusses how users can accomplish this today creating their own listener.

https://github.com/aws/aws-cdk/issues/8488 - tracks the implementation of some convenience property like `forceHttps` similar to what you're describing.

Gonna close this as a duplicate of #8488. Feel free to reopen

[2020-06-29 18:12] #8775 closed

[2020-06-29 18:18] SoManyHs commented on #8762
Hi @thedevopsguyblog,

I see here that you have awsvpc network mode. This is relatively unusual for EC2 launch type -- was this intentional?

[2020-06-29 18:35] rahul-ve commented on #8652
@MrArnoldPalmer  Using either of the methods  allows for proper synchronization but deployment fails when the from_repository_name()  method is used. Is there a way to identify the cause?

[2020-06-29 18:38] logemann commented on #8488
+1 for this idea which i also had and accidentally opened a new FR ;-)

[2020-06-29 18:39] logemann commented on #8775
sorry for not checking if related issue exist

[2020-06-29 18:41] #8745 closed

[2020-06-29 19:11] skinny85 opened #8792 "Reduce the amount of stack trace collection by default"
We currently collect stack traces in:
- Every time metadata is added to a construct. This is primarily used to track back CFN deployment issues from L1 to code.
- Every time a token is created. This is used to improve diagnosability when tokens cannot be resolved (the creation stack trace is attached to the error).

I would recommend to:
- Remove stack trace collection from metadata entries
- Only

[2020-06-29 19:31] eladb commented on #8786
Can you please provide a few more details on what exactly happened to the role mapping? What did you expect and what is the actual result?

[2020-06-29 19:38] skinny85 commented on #8352
@kastork ,

thanks for opening the issue. Since you've solved the CodePipeline part, can this be closed, and maybe open a new issue about the Endpoints problem?

Thanks,
Adam

[2020-06-29 19:39] nonken commented on #8774
@skinny85 I should be able to get to this sometime this week yep. Especially for a former colleague 🤗

[2020-06-29 19:47] skinny85 commented on #7777
Hi @jimfum ,

thanks for opening the issue, but `DnsValidatedCertificate` does support the `validationDomains` property: https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-certificatemanager.DnsValidatedCertificate.html#validationdomains-span-class-api-icon-api-icon-experimental-title-this-api-element-is-experimental-it-may-change-without-notice-span

Are you saying it doesn't work someh

[2020-06-29 19:50] eladb commented on #7216
Resolved by https://github.com/aws/aws-cdk/pull/8739

[2020-06-29 19:50] #7216 closed

[2020-06-29 20:03] skinny85 commented on #7949
Related: #7444, https://github.com/aws/aws-cdk/issues/6889#issuecomment-604277642

[2020-06-29 20:04] #8757 closed

[2020-06-29 20:05] skinny85 commented on #7994
Related: #7444, https://github.com/aws/aws-cdk/issues/6889#issuecomment-604277642

[2020-06-29 20:14] skinny85 commented on #8050
Hi @ranman ,

thank you for the feature request, but this is not possible using the CDK today 😕. CDK relies on CloudFormation to generate physical names on our behalf, and you can't really control the exact name it generates. Generally, the name usually contains the stack name and the logical ID of the resource, but there's no way to give it a well-known prefix.

Apologies I don't have better news

[2020-06-29 20:26] vibe opened #8793 "[RDS] Serverless MySQL 5.7"
Using the python api and CfnDBCluster I am unable to spin up a serverless mysql 5.7 cluster in us-west-2, which was just announced last week.
[Announcing Amazon Aurora Serverless with MySQL 5.7 compatibility](https://aws.amazon.com/about-aws/whats-new/2020/06/announcing-aurora-serverless-with-mysql-5-7-compatibility/)

I can confirm I can spin up the instance manually with the same settings.

###

[2020-06-29 20:28] Samrose-Ahmed opened #8794 "[aws-stepfunctions-tasks] SageMakerCreateTrainingJob AlgorithmSpecification missing EnableSageMakerMetricsTimeSeries"
The `AlgorithmSpecification` is missing `EnableSageMakerMetricsTimeSeries` which should be present as per docs (https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_AlgorithmSpecification.html#SageMaker-Type-AlgorithmSpecification-EnableSageMakerMetricsTimeSeries).

### Other

Need to modify [here](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-stepfunctions-tasks/lib/

[2020-06-29 20:29] skinny85 commented on #7983
Hi @JustasVersekys ,

thanks for opening the issue. Like @jumi-dev mentioned (thanks!), I think what you're looking for are CodeStar Notifications, not CloudWatch Events here. Sorry for the confusion.

Let me know if this helps.

Thanks,
Adam

[2020-06-29 20:31] ranman commented on #8050
@skinny85 are you certain on that one?

I can add prefixes to different constructs using the method I showed above... why not secrets?

My idea, given the nature of secrets manager, is to just make that prefix a prop instead of making folks extend the default secrets construct just for this functionality.

[2020-06-29 20:42] netmailgopi opened #8795 "[QueueProcessingFargateService] Can't add existing security group"
I have an existing security group in my account that I want to add to the fargate task. I tried couple methods from github issues on the project, none worked.

### Reproduction Steps

[code]

### Error Log

[code]

### Environment

  - **CLI Version      : 1.23.0**
  - **Framework Version: **
  - **Node.js Version:** v10.20.1 -->
  - **OS               : Red Hat Enterprise Linux Server release 5.3

[2020-06-29 20:42] skinny85 commented on #8697
Hello @mmajis ,

thanks for opening the issue. Does @zxkane 's response here: https://github.com/aws/aws-cdk/issues/8697#issuecomment-648764918 solve your problem?

Thanks,
Adam

[2020-06-29 20:52] skinny85 commented on #8763
Hello @asterikx ,

I wonder whether the problem was a CDK version upgrade. In some cases, the hash of the assets that implement our Custom Resources change, and the result is a different parameter (for an example, see this PR: https://github.com/aws/aws-cdk/pull/8632 ).

Can you try if you can reproduce this problem when upgrading between CDK versions `1.45.0` and `1.46.0` (that's when the above P

[2020-06-29 21:03] OperationalFallacy opened #8797 "[glue] glue.CfnTriggeractions is empty"
## :question: General Issue

### The Question
I'm creating Glue job (worked well) and was adding job trigger but can't figure out how actions are populated

[code]

makes a resource with empty Actions

[code]

### Environment

  - **CDK CLI Version:** 1.47.0 (build c2b499a)
  - **Module Version:** aws-cdk.aws-glue 1.47.0
  - **Node.js Version:** v12.18.0
  - **OS:**  OSX Mojave
  - **Language (Ver

[2020-06-29 21:25] vibe commented on #8793
Closing as I have figured this out.

[code]

[2020-06-29 21:25] #8793 closed

[2020-06-29 21:31] skinny85 commented on #7676
Hey @Cloudrage ,

can you show the CloudFormation template that you get when you `cdk synth` that code with:

[code]

present?

Thanks,
Adam

[2020-06-29 21:36] skinny85 commented on #8050
Yes, I am. Your method is not adding a prefix, you're just setting the physical name to a specific value (`${props.prefix}${id}` in your case).

[2020-06-29 21:40] MrArnoldPalmer commented on #8775
No worries, good to know others are wanting this! 😄

[2020-06-29 21:45] skinny85 commented on #8797
Hey @OperationalFallacy ,

that's because `actions` is an array of instances of class `CfnTrigger.ActionProperty`, like this:

[code]

Thanks,
Adam

[2020-06-29 21:53] skinny85 commented on #8519
See https://github.com/aws/aws-cdk/issues/3463 . Yes, we are working on this problem :).

[2020-06-29 21:54] #8519 closed

[2020-06-29 21:57] skinny85 commented on #8731
Hey @jayakumarselvan ,

is the Secret you're referencing above for an access token that has read permissions to your GitHub repositories? Like this:

<img width="851" alt="Screen Shot 2020-06-29 at 2 56 47 PM" src="https://user-images.githubusercontent.com/460937/86060039-cc6e8d00-ba18-11ea-8e25-d1a7978f1792.png">

[2020-06-29 21:58] ranman commented on #8050
Gotcha so the physical name is enough for me in this case because with secrets manager most customers organize their secrets (and/or parameters in SSM) by "/" delimited namespaces.

So this:
[code]

Results in this:
<img width="206" alt="Screenshot 2020-06-29 14 56 20" src="https://user-images.githubusercontent.com/175163/86060097-ec9e4c00-ba18-11ea-967b-e966d988a0fe.png">

Which is the desired ou

[2020-06-29 22:13] jayakumarselvan commented on #8731
Yes I given full access to **repo**. (Full control of private repositories).

[2020-06-29 22:19] skinny85 commented on #8050
I'm sorry, but I don't see a point in the class `RandallSecret`. It's the same as doing

[code]

[2020-06-29 22:32] alekitto opened #8799 "[core] allow asset bundling on docker remote host / docker in docker"
Core `AssetStaging` is now exposing a `bundling` option key allowing assets to be built before being uploaded through a docker image.
Unfortunately the docker command is now using volume mount flags to mount input and output folder, making it impossible to execute if docker is set to run on a remote host or in a docker-in-docker env.
### Use Case

I encountered this problem trying to build a coupl

[2020-06-29 22:39] ranman commented on #8050
Right, but I don't want to specify the secretName most of the time - most of the time I just want to make sure it is in the same namespace as the other things in the stack. If I specify the name then, with tokenization, it gets harder to deal with importing/exporting later.

The only reason I need the "RandallSecret" is that I can't set a namespace for the secret in the existing Secret construct.

[2020-06-29 22:47] skinny85 commented on #8050
Sorry, I don't understand what you're saying here. `RandallSecret` is also passing `secretName`. It's right there in the constructor. So there is no difference in tokenization anywhere.

I hope it's clear that was just an example. You're free to model this how you want. For example:

[code]

[2020-06-29 23:16] shivlaks commented on #8794
@Samrose-Ahmed thanks for the report. This is an experimental service integration so likely has other feature gaps. I'm removing the `bug` label and adding `feature` so we can track exposing these properties.

[2020-06-29 23:17] duarten commented on #8789
Btw, this duplicates https://github.com/aws/aws-cdk/issues/6227.

[2020-06-29 23:19] jayakumarselvan commented on #8731
It is working fine.

[2020-06-29 23:25] MrArnoldPalmer commented on #8652
@rahul-ve what is the error that comes up during deploy?

[2020-06-29 23:25] kennu commented on #8789
True, I didn't find it with the keywords I searched for before reporting.

[2020-06-30 00:34] zxkane commented on #8697
I do reproduce it with same error in region cn-north-1, it's related to route53 as global service misconfigured in built-in aws-sdk of lambda. The issue should be resolved after aws-sdk of lambda runtime is updated with pr mentioned above.

[2020-06-30 00:53] OperationalFallacy commented on #8797
Awesome, that worked. Thank you!

[2020-06-30 00:53] #8797 closed

[2020-06-30 01:21] skinny85 commented on #8731
I'm glad. Is there anything else we can help you here @jayakumarselvan ?

[2020-06-30 01:45] shivlaks commented on #7967
since `RunEcsEc2Task` and `RunEcsFargateTask` are going to be marked as `@deprecated`, this feature should be introduced in `RunTask`

[2020-06-30 02:20] jitsunen opened #8800 "[@aws-cdk/aws-dynamodb] Table creation fails"
Creation of a new table fails.

### Reproduction Steps
``` cdk diff```

For the following code

[code]

Package.json

[code]
### Error Log
[code]

### Environment

  - **CLI Version      : 1.47.0**
  - **Framework Version:**
  - **Node.js Version: v12.14.1**
  - **OS               : Ubuntu**
  - **Language (Version): Javascript/TypeScript**

### Other

---

This is :bug: Bug Report

[2020-06-30 02:41] jitsunen commented on #8800
Updating the code to

[code]

Fixes the problem.

[2020-06-30 03:07] jayakumarselvan commented on #8731
Thanks @skinny85 But the thing is need to update document.

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_codepipeline_actions.README.html#github

[2020-06-30 03:32] jindriago-scf opened #8801 "[aws-stepfunctions-tasks] StepFunctionsStartExecution should receive a JSON Path at name instead a fixed string"
When the aws-stepfunctions-tasks.StepFunctionsStartExecutionProps.name is assigned
and I execute more than one NestedStateMachine, the second State Machine It try to execute fails because a State Machine with the same name already exist.

The `aws-stepfunctions-tasks.StepFunctionsStartExecution` receives the `name` parameter. With this name the class generates the following result:
[code]

### Rep

[2020-06-30 03:38] gregorypierce commented on #8347
I'm still seeing this as well, just in Typescript.

I am creating a LambdaFunction and a LambdaIntegration for that function so that they can be the default handler. If I give that toa SpecRestApi, it just ignores it and throws an exception:

No integration defined for method (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException; Request ID: fcf92d52-dab4-4c7e-9b0c-598f77ed

[2020-06-30 03:52] zacyang commented on #5352
is there a workaround for this, I had the same issue for creating hydrate dynamodb with a reference to bulk import

[2020-06-30 04:35] zxkane commented on #8340
Submitted PR https://github.com/aws/aws-cdk/pull/8802.

[2020-06-30 04:37] nsstensoriot commented on #8696
I agree. While this is very pretty, it's a bit of a hit to usefulness when doing complex debugging of stacks if I can't see what was actually deployed after it's been deployed. Adds a lot of friction to the process.

[2020-06-30 04:53] rinfield commented on #8799
I'm also struggling this problem with VSCode Remote Container environment.

[2020-06-30 05:14] eladb commented on #8799
Copy @jogold

The plot thickens... (which is a good thing!)

[2020-06-30 05:37] shivlaks commented on #8801
@jindriago-scf - you should be able to reference task input and assign it to your name with something like the following to assign it the value of your order id.

[code]

note that `Data` will be changing to `JsonString`

[2020-06-30 05:53] shivlaks commented on #8801
I'm dropping the `bug` label from this as I believe ` JsonPath` can be provided for the `name` property.
If that's not the case, let me know and we can revisit.

[2020-06-30 06:38] rahul-ve commented on #8652
@MrArnoldPalmer  I will have to do another test and cut down my stack to keep it specific. Will report back in the next couple of days.

[2020-06-30 06:51] shivlaks commented on #7967
@mb-dev PR incoming once I merge in #8451 to make `launchType` optional. Step Functions does not support specifying `capacityProviderStrategy` as a parameter.

As per documentation you've referenced

Although this unlocks some usage, it's still incomplete until users can supply a capacity provider strategy. Since we're limited I'm inclined to agree with your suggested stop-gap. It will still be co

[2020-06-30 07:18] shivlaks commented on #7967
per @mb-dev in [comment](https://github.com/aws/aws-cdk/pull/8451#issuecomment-651589659)

[code]

[2020-06-30 07:21] #8610 closed

[2020-06-30 07:39] shivlaks commented on #7967
@mb-dev `launchType` was never really exposed as a property (with the old classes or with the new implementation)
The thinking was to associate `launchTarget` closely to `launchType`.

I was thinking of introducing something like `IEcsCapacityProvider` to add the capability to specify capacity providers. Users would specify either capacity providers or a launch target (which would become optional)

[2020-06-30 07:39] am29d commented on #8518
I completely agree, there should be a better documentation to make the life of contributors easier. It was also hard for me to start and find these details, and I am not a contributor (yet) :). Right now the steps in documentation can not lead to successful builds and we should fix that.

I will try to submit a PR for clearer documentation steps.

[2020-06-30 07:43] shivlaks commented on #8518
@am29d @logemann absolutely agree. I'm already on it (PR to improve the documentation of `CONTRIBUTING`, let me know if you'd like to write it. I'm happy to yield way to avoid duplication of effort)

[2020-06-30 08:01] am29d commented on #8518
@shivlaks if you are already on PR then I will wait. I am sure there more details you want to put into it, that I am not aware of. I can provide feedback by running through the new `CONTRIBUTING` on a clean dev machine.

[2020-06-30 08:27] tp6m4fu6250071 commented on #8732
Hi @skinny85,

Thanks for the solution :)

[2020-06-30 08:27] #8732 closed

[2020-06-30 08:48] RomainMuller commented on #8233
Alright so it turns out this is likely caused by how the `@jsii/kernel` unpacks the NPM libraries at run-time. When using `npm` directly (e.g: in a TypeScript app), the problem does not happen, because `npm` will reset permissions of extracted files (I have yet to establish if those are what is encoded in the tarball, or something else)... But the `@jsii/kernel` does not do that, and the `umask` g

[2020-06-30 09:16] nija-at commented on #8347
Re-opening to investigate.

[2020-06-30 09:35] klima-markus commented on #6683
It looks like that the same happens if you increase the number of subnets in the following way
[code]
if you add another subnet after a deployment like
[code]
=> conflicts with another subnet error

[2020-06-30 09:49] raphaelsalomao3 commented on #7044
@watkinsmatthewp did you manage to solve this issue? I'm running into the same problem.

This is my setting:
Account A, us-east-1: SNS topic
Account B, eu-west-2: SQS queue

From Account A, when I try to subscribe to Account B topic, it throws InvalidParameter:

[code]

Throws:
`An error occurred (InvalidParameter) when calling the Subscribe operation: Invalid parameter: TopicArn`

[2020-06-30 09:51] nija-at commented on #8347
Re-reading some of the comments here.

The CDK does not open and read the OpenAPI definition files. This means that any value provided under `defaultIntegration` or any other property in the CDK application will only apply to Methods and Resources in the CDK app. We are not able to (and currently do not) apply these to the Methods and Resources defined in the OpenAPI definitions.

Perhaps having a

[2020-06-30 10:42] elgordino commented on #8696
I would like to add to the request to have an option to revert to the previous behaviour. In the event of a failed deploy it gives basically no feedback as to what went wrong.
[code]

Previously I could see which components had been deployed and rolled back, now I need to login to the console to find out.

[2020-06-30 11:05] #3433 closed

[2020-06-30 11:48] RomainMuller commented on #3690
As of the current codebase (`1.47`), it looks to me the hash and range keys are automatically added as appropriate to the `AttributeDefinitions` property. I will hence resolve this issue since it has been implemented already 🎉

[2020-06-30 11:48] #3690 closed

[2020-06-30 12:00] udondan commented on #6936
@l8on @blimmer Is this still working for you? I just came back to my Athena project and now this seems to be broken beyond fix via overrides. I'm getting

For `RecursiveDeleteOption` and `RequesterPaysEnabled`. The template for sure contains booleans, so there is nothing to override. Even when those are not set, `RecursiveDeleteOption` is automatically set to `true`.

[2020-06-30 12:02] RomainMuller commented on #8800
Hey,

It looks like the version of libraries in your runtime has been updated from an ancient version (older than [`0.36.0`](https://github.com/aws/aws-cdk/releases/tag/v0.36.0)) to a more recent version. This will have included a [breaking change](https://github.com/aws/aws-cdk/commit/dbf3e1744027b7d2144fd7bc9a286bd8667c042b) where we renamed all enum constants to be `UPPER_SNAKE_CASED`, so that

[2020-06-30 12:02] #8800 closed

[2020-06-30 12:38] bhartm3 commented on #7424
Facing the same issue, is there a workaround? Can I somehow get a INetworkLoadBalancer from CfnLoadBalancer?

[2020-06-30 14:12] qmg-rbass opened #8808 "[aws-cloudwatch] Add missing alarm comparison operators"
Add missing alarm comparison operators `GreaterThanUpperThreshold` and `LessThanLowerThreshold` as per: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cw-alarm.html#cfn-cloudwatch-alarms-comparisonoperator

### Use Case

For anomaly detection alarms

### Proposed Solution

Add new enum values to `ComparisonOperator`

### Other

* [x] :wave: I may be able to implement

[2020-06-30 14:15] rampatina opened #8809 "[aws-events-targets] Cannot install @aws-cdk/aws-events-targets@1.47.1"
## :question: General Issue

Hi, We are facing an issue on installing the @aws-cdk/aws-events-targets@1.47.1 and below the issue getting:
[code]
Please advice how to resolve it.

### Environment

  - **CDK CLI Version:** 1.47.0
  - **Module Version:** 1.47.1
  - **Node.js Version:** 12.16.1
  - **OS:** Linux
  - **Language (Version):** TypeScript

[2020-06-30 14:23] stevenjackson121 opened #8810 "[lambda] Add metricConcurrentExecutions() to Lambda Function API"
Add `metricConcurrentExecutions()` to  [Lambda Function API](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html) to improve consistency between "How do i get this metric across all functions" and "How do I get this metric for this specific function"

Current metrics available for a given Lambda Function:

metricDuration(props?) | How long execution of this Lambda tak

[2020-06-30 15:23] mb-dev commented on #7967
@shivlaks thanks for moving the discussion here. The capacity providers are a property of ECS cluster, while the task level property is choosing one of the providers specified in the cluster definition.  Given that users might create ECS cluster or capacity providers outside of CDK, and that there's an option for default capacity provider (as this stop gap suggests)

there are actually 3 scenarios

[2020-06-30 15:37] rampatina commented on #8809
Now we are getting this error after some time, still cannot install.
[code]
It is a blocker for us. Please help us on this. Thanks

[2020-06-30 15:55] jogold commented on #8799
@alekitto thanks for opening this issue.

Can you detail the exact problem you're seeing?

It currently runs without issues in CodeBuild which is a docker-in-docker setup. Can you elaborate on the Gitlab CI setup maybe?

Is your solution something along those lines?

[code]

For the `@aws-lamda-nodejs.NodejsFunction` we currently mount the projet root as the asset source, for a large repo (or even

[2020-06-30 16:03] skinny85 commented on #8732
No problem, glad I could help 🙂

[2020-06-30 16:07] njlynch commented on #5953
@dtserekhman-starz - This feature was tracking the more lightweight version where only the alias was needed (e.g., with CloudTrail). Can you open a new feature request for that "lookupKey" functionality?

[2020-06-30 16:14] iliapolo commented on #8065
Hi @baer - Sorry for the delayed response.

Thanks for taking the time and detailing the confusion and intent around asset usage in the CDK. It definitely sounds like its worth some clarification and alignment.

Specifically to focus on this use case, I think the `elasticBeanstalk.Code.fromAsset` you suggested is actually pretty nice. This does seem appropriate since it conveys Elasticbeanstalk's

[2020-06-30 16:17] #8808 closed

[2020-06-30 16:20] john-tipper commented on #8347
@nija-at Actually, I think it might just be fine to call this out clearly in the documentation, as I had interpreted the name `defaultIntegration` to mean exactly that, i.e. if I do nothing then it it the integration used, come what may, whereas it is only ever used if the API is defined using Methods and resources.

@mmuller88 I got around the chicken and the egg problem by templating the API spe

[2020-06-30 16:32] skinny85 commented on #8731
@jayakumarselvan do you mean this part?

[code]

?

[2020-06-30 16:33] iliapolo commented on #7350
Hi @cfriedline. Yes, baring any unforeseen circumstances, it will be possible to provide multiple tags.

[2020-06-30 16:41] iliapolo commented on #6462
@9tontruck It still is not available in CloudFormation unfortunately.

I encourage you to [open](https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/new) a feature request for CloudFormation as well.

[2020-06-30 16:47] #6706 closed

[2020-06-30 17:13] iliapolo commented on #8074
@rix0rrr Is this still relevant? I seem to remember a PR you made that addressed this...no?

[2020-06-30 17:27] #8491 closed

[2020-06-30 17:38] alekitto commented on #8799
I'm trying to build compile a lambda from typescript down to js to be executed on node_10.x runtime.
A `docker:dind` service container is run and correcly responds to `tcp://docker:2375`, then the build starts.
When executing cdk diff, I can see that another node container has been pulled and run by cdk with the arguments set in code `bundlingOptions`.
For a coincidence, Gitlab CI mounts the build

[2020-06-30 17:44] gmiretti commented on #8707
Oh, men! I would have saved a lot of time with the fix proposed by @jogold

After enabling debug in docker daemon, running lambda docker images by hand, I figured this.

At least in a Python project using cdk 1.47.1, `chmod -R 777 .cdk.staging` after `cdk synth --staging` allowed me to run successfully 'sam local invoke' a lambda bundling asset code

[2020-06-30 18:02] blimmer commented on #7912
For others that might be running into this problem in CircleCI, I highly recommend switching from the [Docker executor](https://circleci.com/docs/2.0/executor-types/#using-docker) to the [Machine executor](https://circleci.com/docs/2.0/executor-types/#using-machine). Even with the improvements referenced in this ticket, there are still issues with how CircleCI runs docker-in-docker that causes ton

[2020-06-30 18:08] blimmer commented on #8696
Agreed. In addition to providing an option for people to choose, I think non-interactive terminals (like CI) should default to the other output style. Most (all?) CI platforms set the `CI` environment variable, so maybe when the `CI` variable is set (or another non-interactive terminal is detected), CDK automatically reverts to the old behavior?

[2020-06-30 18:44] baer commented on #8065
No problem. It looks like, as of right now, [Elastic Beanstalk does not have a module in CDK beyond the auto-generated Cfn-prefixed resources](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-elasticbeanstalk-readme.html). I haven't looked at that code but, I'm assuming that to create something like `elasticBeanstalk.Code.fromAsset`, somebody would have to scaffold out the initial boilerplate o

[2020-06-30 18:50] alekitto commented on #8799
Could be related to #8544?
Creating volumes for input and output can avoid `osxfs` performance issues on io intensive operations (skipping continuous syncs between macos filesystem and the virtual machine hosting docker).

[2020-06-30 19:15] pofallon opened #8815 "[custom-resources] Allow setting of provider lambda's log retention"
Defining a new custom resource provider creates a lambda to wrap the user-provided `onEventHandler` lambda.  The CloudWatch log group for this wrapper lambda has a default retention policy of 'Never Expire'.  It would be helpful if ProviderProps were extended to include a `logRetention` property that could be used to set the log retention of this wrapper lambda.

### Use Case

Without this propert

[2020-06-30 20:22] BryanPan342 commented on #5547
@optinirr Can you help me wrap my head around the scope of the issue? My understanding is that `fromLookup` does a query to your AWS account for the `HostedZoneId`, which is why it is necessary to have environment variables declared as to provide context for the query.

If we look at the source code, we can see that `fromLookup` actually implements `fromHostedZoneAttributes`

https://github.com/aw

[2020-06-30 20:30] evanwieren commented on #8703
Will check. we were running 1.42

[2020-06-30 20:55] cicchiel opened #8816 "[ecs-patterns] Make sslPolicy configurable with ApplicationLoadBalancedFargateService"
When adding an ApplicationListener to an ApplicationLoadBalancer the sslPolicy can be configured. However when using an ApplicationLoadBalancedFargateService or an ApplicationLoadBalancedEc2Service the construct automatically adds the listener and there is no option to configure the sslPolicy.

I worked around this feature gap by extending ApplicationLoadBalancer and overriding the addListener met

[2020-06-30 21:01] evanwieren commented on #8703
We get the name from a MAP based on account, and a predefined prefix.  This means that the validation will always fail, as the value generated is a token to be evaluated at deployment time.

There should actually not be a validation here in that case. Only if a hard coded value is used.

For example.  If you set the domainPrefix to  'myuniquestring-${this.account}'   it should be valid.  Actually

[2020-06-30 21:06] shivlaks commented on #5547
@BryanPan342 I think the primary issue is confusion on when to use which API and the pre-requisites for each (local vs. requiring environment configuration). To reduce friction and avoid this common point of confusion, we need to shore up the `README`

Additionally, there's also `fromHostedZoneId(...)` and `fromHostedZoneName(...)` which will return an `IHostedZone` with just the ZoneId or the Zon

[2020-06-30 21:41] jarjis opened #8818 "[cli] CDK Bootstrap not working as expected"
**cdk bootstrap aws://[Account]/[us-east-2] is not working as expected.**
[code]
I didn't see a related issue for this. Did anyone else face this issue ?

### Environment

  - **CDK CLI Version:** 1.7.0 (build 8870695)
  - **Module Version:**
  - **Node.js Version:** v14.4.0
  - **OS:**  MacOS
  - **Language (Version):**
[code]

[2020-06-30 21:48] BryanPan342 commented on #5547
In this case, I think this is a documentation issue rather than a bug so changing the label to `documentation` and I will work on changing the documentation to make the use cases of each more clear.

[2020-06-30 22:00] Dzhuneyt commented on #7785
Duplocate of https://github.com/aws/aws-cdk/issues/6406

[2020-06-30 22:06] comcalvi opened #8820 "[cloudformation-include] Add support for retrieving and modifying output objects from templates"
Retrieving and mutating output objects is currently not supported.

### Use Case

The main reason to retrieve output objects is to modify them, but currently they are immutable.

### Proposed Solution

I will be opening a PR to address this.

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Requ

[2020-06-30 22:06] Dzhuneyt commented on #1248
I use https://github.com/99designs/aws-vault as a workaround. It supports MFA natively and is a tiny wrapper around the "cdk deploy: command basically.

My tipical workflow would like:
[code]

[2020-06-30 22:55] iliapolo commented on #8065
@baer for sure. It’s probably gonna take a bit longer but if you’re up for it we would gladly accept it.

If you’re willing, we can hash out the MVP for this API by first creating a small README.

[2020-06-30 22:59] iliapolo commented on #8065
@baer P.S regarding the scaffolding, you can have a look at our [example construct library](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/example-construct-library) package to get a sense of what it should look like.

[2020-07-01 00:10] dtserekhman-starz opened #8822 "[KMS] Add Alias.fromLookup()"
Add ability to lookup full KMS key object by alias name so we can retrieve the target kms key ARN.

### Use Case

See issue 5953 (https://github.com/aws/aws-cdk/issues/5953).

kms.Alias.fromAliasName(this, 'myKey', 'alias/myTestKey'), returns aliasName, which is great. But then I would like to get a Key ARN from that alias name.

### Proposed Solution

### Other

* [ ] :wave: I may be able to impl

[2020-07-01 00:11] dtserekhman-starz commented on #5953
@njlynch  Opened https://github.com/aws/aws-cdk/issues/8822. Thanks.

[2020-07-01 00:28] robertd commented on #7785
FWIW my local builds (on Mac) have been failing since Feb (see #6406) and the only way was to run builds in docker.

[code]

[2020-07-01 02:56] blimmer commented on #6936
The tags override I described [in this post](https://github.com/aws/aws-cdk/issues/6936#issuecomment-645001724) is still working for me as of 1.47.1.

[2020-07-01 04:13] erik-sab opened #8827 "[aws-apigateway] impossible to remove default method authorization"
It seems not possible to remove authorization for API Gateway methods if it is defined in `defaultMethodOptions` on `RestApi` level.

### Reproduction Steps

First I create RestApi Gateway (https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.RestApi.html) with custom authorizer set by default for all methods:
[code]

And then in resources stack I try to create documentation Met

[2020-07-01 04:53] thedevopsguyblog commented on #8762
Hi @SoManyHs,

For my troubleshooting and more context please see (this StackOverflow Question)[https://stackoverflow.com/questions/62498346/ecs-taskdefinition-creation-fails-with-error-invalid-containerport]

Originally I tried 'bridge' networking mode but that didn't work.
Then I tried 'awsvpc' but no luck.

It was then recommended to use awsvpc.

[2020-07-01 07:07] ShawnWu33 commented on #4678
Hi @joncantu @hencrice ,

I saw you add the security group to the cluster.connection however the default security group are always been created in EC2 DefaultAutoScalingGroup, with no inbound rules.

If you are trying add your security group to your ec2 resources that used by your cluster, here is the way:
(the following code is using aws-cdk@1.4.7
[code]
I have tested this solution and it works,

[2020-07-01 07:29] wzr1337 commented on #8750
The WebSocket endpoint is the `wss://....` uri you are connecting to, it is presented in the APIGateway console for your WebSocket API. Very similar to the `https://..` endpoints of a REST API, just a different protocol is reported.

based on
[AWS API GateWay WebSocket documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-set-up-websocket-deployment.html)

we just

[2020-07-01 07:54] #4814 closed

[2020-07-01 08:27] alekitto commented on #8799
UPDATE: my current workaround (valid with docker executor on gitlab-runner only) is to configure gitlab-runner to share the `/tmp` path mounting it as a volume across all the containers in the same build job.
This way the build (cdk) container and the docker:dind container share the same `/tmp`, allowing cdk to find the output files.

[2020-07-01 08:30] jogold commented on #8799
@alekitto This has been fixed in #8601 and released in v1.46.0, can you try with this a version >= 1.46.0?

[2020-07-01 08:43] alekitto commented on #8799
I tried with 1.47 from local, but i cannot make it working when using docker-machine (it throws `package.json not exists` error), because the input are on my computer and it tries to mount a non-existent path on the docker host.

[2020-07-01 08:47] #8475 closed

[2020-07-01 08:47] jogold commented on #8799
CDK or inside the container?

which path?

[2020-07-01 08:53] alekitto commented on #8799
The bundling container, when executing `npm install`.

It tries to mount `/home/alekitto/my-project-folder/cdk/lib/construct/kms/lambda` which is the path of the code to be compiled on my local machine, currently non-existent in a newly created docker-machine where the docker engine is hosted.

[2020-07-01 09:38] jogold commented on #8799
Not sure I'm following here... you can detail this?

[2020-07-01 09:49] webysther opened #8832 "[glue] Tags on CfnTrigger not working python (support for tag_resource)"
Support Glue TagResource:

They create the tags as said in documentation, but only in resource creation, change resource don't do nothing if you change tags.

https://docs.aws.amazon.com/glue/latest/webapi/API_TagResource.html

https://docs.aws.amazon.com/glue/latest/dg/monitor-tags.html

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-glue.CfnTrigger.html#properties

https://boto3.am

[2020-07-01 09:55] logemann opened #8833 "[elbv2] throw an exception when setting the default action multiple times"
I am not able to set up a default Action for a Listener on the loadBalancer when also using targetGroups.

My **desired** configuration should look like this:

<img width="1228" alt="Bildschirmfoto 2020-07-01 um 11 44 31" src="https://user-images.githubusercontent.com/346353/86230078-e206c280-bb90-11ea-8a7d-194aca7dab87.png">

**but i am getting** this (see the default action)

<img width="1248" a

[2020-07-01 10:08] nija-at commented on #8703
`Token.isUnresolved('pmt-${Token[AWS::AccountId.0]}')` will return `true` so this check should not get triggered.

Can you check if that the version of your framework is `1.46.0` and not the version of the CLI? The version of the framework can be found in `package-lock.json` or `yarn.lock` (assuming javascript/typescript).

[2020-07-01 10:13] alekitto commented on #8799
I'm not currently executing the docker engine on my local machine.
After `docker-machine create --driver amazonec2 docker-aws` a ec2 instance is provisioned to run the docker engine, exposing the docker tcp port (2376).
After provisioning is finished I run `eval $(docker-machine env docker-aws)` to be able to run docker command on the newly created host.

Then I try to run `cdk diff` which invokes

[2020-07-01 11:47] devendra-kumar1 opened #8835 "[aws-efs] Getting error while creating efs using aws-cdk and attaching this efs to a lambda created subsequently"
## :question: General Issue

### The Question

### Environment

  - **CDK CLI Version:** 1.47.0
  - **Module Version:** 1.47.0
  - **Node.js Version:**  12.18.1
  - **OS:**  Windows 10
  - **Language (Version):** TypeScript (3.9.5)

### Other information
HiTeam,
  I am creating a efs using aws-efs cdk lib and adding a accesspoint to that post creation. After this i am creating a new lambda using c

[2020-07-01 11:59] #6806 closed

[2020-07-01 12:59] #8544 closed

[2020-07-01 14:42] zxkane opened #8836 "[aws-eks] AWS load balancer controller support"
It's a common use case to deploy ALB ingress controller on EKS, it would be helpful to support it in L2 class level.

### Use Case

Deploy ALB ingress controller for using ALB to deploy ingress of K8S.

### Proposed Solution

Might implement a new L2 class `ALBIngressController` like below,

[code]

### Other

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This featur

[2020-07-01 15:07] jogold opened #8837 "[aws-lambda-nodejs] NodejsFunction broken on v1.48.0"
The `NodejsFunction` construct is broken on v1.48.0 because it wrongly searches for the closest `package.json`.

### Error Log
`@parcel/core: Could not find target with name "cdk-lambda"`

### Environment

  - **CLI Version      :** 1.48.0
  - **Framework Version:** 1.48.0
  - **Node.js Version:** all
  - **OS               :** all
  - **Language (Version):** all

### Other

Already working on a P

[2020-07-01 15:08] jogold commented on #8837
@eladb can you pin this issue?

[2020-07-01 15:39] ericzbeard commented on #929
See https://github.com/aws/aws-cdk/pull/8686. That should be merged before making changes on this issue.

[2020-07-01 16:25] #8837 closed

[2020-07-01 16:58] jindriago-scf commented on #8801
ohh cool, will check and be right back, thx @shivlaks

[2020-07-01 17:04] eladb commented on #8574
This is still an issue with the latest version 1.48.0. Reopening.

[2020-07-01 17:16] rigsbyt opened #8841 "[aws-lambda] Cannot get ARN of version obtained via currentVersion"
`.currentVersion` causes the logical ID of the version resource to be overridden in the prepare step.

I am trying to get the ARN of a version resource elsewhere via `.functionArn` on the resource retrieved by `.currentVersion`

This is causing: `Error [ValidationError]: Template format error: Unresolved resource dependencies [MyFunctionCurrentVersionCAC64D50] in the Resources block of the templat

[2020-07-01 17:18] jindriago-scf commented on #8801
@shivlaks It worked!
You can drop it if you want, or maybe I can change it to add in the docs that this is possible cause for me wasn't that evident.
Thx a lot!

[2020-07-01 17:58] jldsLopez opened #8842 "[wafv2] Argument of type 'this' is not assignable to parameter of type 'Construct'"
## :question: General Issue

### The Question

We are facing this error:

![image](https://user-images.githubusercontent.com/15650645/86276086-4716e400-bba2-11ea-9ae1-d2ab42fa09d0.png)

when we run a: `npm run build`.

All our dependencies are set to **1.48.0** version, except **aws-cdk/aws-wafv2** than is set to **1.47.0** version.

![image](https://user-images.githubusercontent.com/15650645/8627

[2020-07-01 18:31] netmailgopi commented on #8795
I'm interested in submitting a PR. From the looks of it, it seems like I could

1. Add a securityGroup property to https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ecs-patterns/lib/base/queue-processing-service-base.ts

2. Pass it in this call to create FargateService https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ecs-patterns/lib/fargate/queue-processing-farg

[2020-07-01 18:44] emurphy58 opened #8843 "[apigateway] methodResponses is missing from AwsIntegration"
adding method responses to AWSIntegration options causes this: "Object literal may only specify known properties, and 'methodResponses' does not exist in type 'IntegrationOptions'"

### Reproduction Steps

[code]

The methodResponses part causes the error

### Error Log

### Environment

  - **CLI Version      :** aws-cli/1.18.36
  - **Framework Version:** cdk version 1.48.0 (build 6080fa8)
  - **

[2020-07-01 19:39] KurtMar commented on #1575
@st-quando I'm still having some permission issues when requesting content from the site, but this does deploy:

In your lambda stack you store the version ARN in SSM Parameter store:

[code]
And in your CloudFront stack you get the parameter and instantiate a Version object with the ARN (note the region in AwsCustomResource):

[code]

[2020-07-01 19:49] tombuckley91 opened #8844 "[aws-cdk/appsync] - aws_auth directive ignored"
[code]

It would be expected that the above code would restrict the getCustomers query to users who exist in the Admins group. This is an example of the starter code made available on the AppSync CDK page.

### Reproduction Steps

Copy the demo code from AppSync CDK, add the above directive to the included graphql.schema, deploy your changes, make a query from a user that is not the specified grou

[2020-07-01 20:02] tgandrews commented on #8837
@jogold when is this likely to be released?

[2020-07-01 20:46] Pankajc123 commented on #7392
Hello,

Is this issue resolved?

[2020-07-01 21:14] mb-dev commented on #5471
Capacity Providers were just added to Cfn: https://github.com/aws/aws-cdk/commit/4ce27f4195c70bd9e365ec0e0df5c0ede863bc8a#diff-4a4e15a081904ee16b4d84e2f5cf5aee

[2020-07-01 21:14] mb-dev commented on #5471
FYI: @SoManyHs

[2020-07-01 21:15] mb-dev commented on #7967
Capacity Providers were added to Cloudformation:
https://github.com/aws/aws-cdk/commit/4ce27f4195c70bd9e365ec0e0df5c0ede863bc8a#diff-4a4e15a081904ee16b4d84e2f5cf5aee

So now it's even more important to be able to omit launchType

[2020-07-01 22:27] skinny85 commented on #6889
@machielg can you let me know which service allowed you to use this non-full ARN, and it worked? Because I just tried it with CodeBuild with the secret ARN equal to `arn:aws:secretsmanager:us-west-2:123456789012:secret:dockerhub-token-personal`, and I got the following error:

[code]

Very curious which service allows these partial ARNs.

[2020-07-01 23:35] ericzbeard opened #8847 "Improve error messages for missing build dependencies"
I'd like to spend some time working on the experience for a new contributor who misses some of our dependencies. You end up getting pretty deep into a build before you discover things like missing .net core, or that you have a globally installed version of typescript/tslint that is not compatible. The error messages you get from the build are hard to interpret.

### Proposed Solution

Add checks e

[2020-07-01 23:37] NetaNir commented on #7094
H @tomgreenwood1 !

Thank you for submitting the PR, I have added a comment about possible tests.

[2020-07-02 00:30] madhavmurthy93 commented on #8069
@nikolajwestergaard yes definitely important for defining dictionaries and we need support for that right now. @nija-at any update on when this will get worked on?

[2020-07-02 01:26] shivlaks commented on #7967
@mb-dev

The recommended workaround for coverage that isn't quite supported in the `aws-stepfunctions-tasks` module is to supply the needed ASL as a [custom state](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-stepfunctions-readme.html#custom-state).

We're still discussing options, but are not convinced that the stop-gap needs to be introduced directly into the task or folded into the `EcsE

[2020-07-02 03:48] mb-dev commented on #7967
Ooo, i totally missed the escape hatch in the changelog. I will try that tomorrow and maybe that will be enough until full capacity providers support is added.

My pre-refactor EC2 integration is straightforward (in Python):
[code]
So I personally won't need `launchTarget`, just not `launchType`.

[2020-07-02 04:50] gregorypierce commented on #8347
I think it creates some confusion only because there is some assumption
that it helps with defining the required pieces for OpenApi. Removing it
would make it clearer that there is no functionality there and folks need
to, unfortunately, roll there own solution.

Maybe an example of how it's intended to work would help. There are a lot
of people parsing the spec and inserting tokens and such. Is t

[2020-07-02 05:38] SeekerWing opened #8851 "[lambda] add support for profiling group"
enable support for profiling groups from lambda compute environment
ref: https://docs.aws.amazon.com/codeguru/latest/profiler-ug/setting-up-lambda.html

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-07-02 06:32] eladb opened #8854 "[eks] Kubernetes resources fail to create if fargate profiles are not stable"
When trying to deploy `kubectl` resources (such as `KubernetesResource` or `HelmChart`) against an EKS cluster with Fargate Profiles that are still being created, the API server may not be reachable. This causes these resources to to fail, the deployment to roll back and worst of all, as the rollback happens, CFN tries to delete the FargateProfile resources, but they still being creating. Basicall

[2020-07-02 06:41] rdavison opened #8856 "[aws-stepfunctions-tasks] EvaluateExpression error when key specified multiple times"
### Reproduction Steps

Input:
[code]

Code:
[code]

Expected Result:
[code]

### Error Log

[code]

### Environment

  - **CLI Version      :** 1.48.0
  - **Framework Version:**
  - **Node.js Version:** v14.3.0
  - **OS               :** Linux
  - **Language (Version):**

### Other

---

This is :bug: Bug Report

[2020-07-02 06:44] slavkv commented on #894
The same problem here. I will be great to have simple options in ec2.SubnetConfiguration to indicate if a subnet should have IPv6 prefix, and in ec2.Vpc to assign IPv6 prefix.

[2020-07-02 06:55] fmcmac opened #8857 "[aws-eks] EKS FargateCluster fails to create with "r\nerror: the server doesn\'t have a resource type "deployment"\n'""
Attempt to create an EKS cluster with minimal python code:

[code]
returns an error as per error log below.

### Reproduction Steps

To reproduce use the python code above and run ```cdk deploy```

### Error Log

17:36:28 | CREATE_FAILED        | Custom::AWSCDK-EKS-KubernetesPatch    | eks_cluster/CoreDn...h/Resource/Default
Failed to create resource. Error: b'E0702 05:35:35.532880      13 round_t

[2020-07-02 08:28] Cloudrage commented on #6459
That's the deal, I'm requesting/waiting for those 2 supports  :
- **LaunchTemplates**
- `Encryption `prop for **BlockDeviceVolume**

Keep waiting...

[2020-07-02 08:30] devendra-kumar1 commented on #8835
I followed below article to solve my issue.
https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#dependencies.

[2020-07-02 08:30] #8835 closed

[2020-07-02 08:35] Cloudrage commented on #8406
Thanks @shivlaks for your time & explanations !

[2020-07-02 08:42] #7043 closed

[2020-07-02 08:47] seziCZ commented on #5094
I seem to have hit the same problem when testing with `unittest`:

[code]

Running the snippet (as an administrator under Windows Enterprise 10.0.18363, Build 18363) results in following stack trace (`JSII_DEBUG` enabled):

[code]

Virtual environment created by the init `sample-app` template was used, together with dependencies listed in autogenerated `requirements.txt`:

[code]

[2020-07-02 09:02] #5306 closed

[2020-07-02 09:28] pahud commented on #7762
PR WIP. Will create a PR draft today.

[2020-07-02 09:31] asterikx commented on #8763
Hi Adam,

the problem occurs all the time (not only occur after upgrading between CDK versions).

When I deploy the stack multiple times in a row, the `Database/RotationSingleUser` resource is being updated each time, e.g. `[(0) cdk synth ->] (1) cdk deploy DbStack -> (2) cdk deploy DbStack -> ...` updates the resource in step 1, step 2, ...

[2020-07-02 10:00] Cloudrage commented on #7676
Hi @skinny85 !

See the synth :
[code]

[2020-07-02 10:23] rinde commented on #6768
Is there a reason why this issue is not marked as required for graduation in [this overview](https://github.com/aws/aws-cdk/issues/8629)? According to the [Cognito limits](https://docs.aws.amazon.com/cognito/latest/developerguide/limits.html) that come with the default settings, maximum 50 emails can be sent per day, severely limiting the number of people that can use my service. Therefore, I thin

[2020-07-02 10:56] asterikx commented on #6768
@rinde The workaround is quite easy.

Just change the `emailConfiguration` by modifying the CFN resource encapsulated by the CDK UserPool construct (see CDK Developer Guide [here](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html#cfn_layer_resource)):

[code]

I agree that these SES configurations should be added to the CDK construct since almost every customer-facing app requires SES in

[2020-07-02 11:14] asterikx commented on #8763
@skinny85

Below is the changeset created during `cdk deploy` in case that's of any help. But I cannot find what parameter changes cause `cdk deploy` to create a changeset in the first place.

<details>
<summary>Changeset</summary>

[code]
</details>

[2020-07-02 12:06] eladb commented on #8857
There is a known issue with Fargate which is being addressed as part of #8859 and will be released next week. I believe this is related.

[2020-07-02 12:07] asterikx commented on #8636
Higher-level constructs for budget alert notifications would be very useful.

[2020-07-02 12:21] #8574 closed

[2020-07-02 12:21] #8854 closed

[2020-07-02 12:22] bweigel opened #8863 "[@aws-cdk/aws-glue] Support Glue::Crawler as L2 construct"
We are getting more heavily invested into AWS Glue. Right now we have some L2 constructs internally and it would be good to have them upstream.

### Use Case

Have L2 Construct for L1 `CfnCrawler`.

### Proposed Solution

Have a workflow like this:

[code]

**Here is a test, that we run for additional info**:

<details>

[code]

</details>

### Other

* [X] :wave: I may be able to implement this f

[2020-07-02 12:57] fogfish opened #8865 "[core] Inconsistent context type(s)"
The CDK context is defined as a pair `string -> any`

[code]

However `AppProps` defines a context as `string -> string` pair.

[code]

### Reproduction Steps

Once an application start to use JSON structs as a context value then it becomes almost impossible to mock an application with the context (everything works with deployment because context is passed via cdk.json):

[code]

Here two major qu

[2020-07-02 13:25] salsa2k commented on #5547
When I try to use:

[code]
I got:

[code]

[2020-07-02 13:31] salsa2k commented on #5547
I'm having some problems related to this.

When I try to use:

[code]
I got this error:

[code]

To verify if my domain and id's are ok I have used:

[code]

Everything is in the list, and is also included in cdk.context.json

[code]

[2020-07-02 13:42] Nikamura opened #8867 "[aws-codebuild] Codebuild source Github PR doesn't work with FILE_PATH"
Trying to create codebuild project with github source and adding pull request created/updated trigger with file_path filter results in an error, while this succeeds doing in the UI.

### Reproduction Steps

```codebuild.FilterGroup.inEventOf(codebuild.EventAction.PULL_REQUEST_UPDATED).andFilePathIsNot("^my_path.*")```

### Error Log

[code]

### Environment

  - **CLI Version      :**
  - **Framew

[2020-07-02 14:13] salsa2k commented on #3913
@helzich Did got this fixed it? if yes, how?

[2020-07-02 14:28] Cloudrage commented on #8053
Thanks again @NetaNir , perfect now :)

[2020-07-02 15:06] andrestone commented on #8348
Is having a context provider to fetch the InstanceProfile for the Role a good solution?

[2020-07-02 15:08] BryanPan342 commented on #5547
@salsa2k If you know the zone id, I suggest using the function `fromHostedZoneAttributes`, unless the `hostedZoneNameServers` is desired. I also would suggest to look whether the `env` variable you, hopefully, declared uses the `account` and `region` of profile `poweruser`.

For example, if you had a app configuration like this:
[code]
What I suspect might be happening is that CDK is looking at th

[2020-07-02 15:09] iliapolo opened #8869 "[aws-apigateway] Lambda integration broken for imported functions"
Passing in imported function to the `LambdaRestApi` construct results in the following error:

[code]

### Reproduction Steps

Excerpt taken from [aws-cdk-examples](https://github.com/aws-samples/aws-cdk-examples/blob/master/python/cross-stack-resources/raw-strings/raw_strings/application_stack.py#L13)

[code]

### Environment

  - **CLI Version      : 1.49.0**
  - **Framework Version: 1.49.0**

[2020-07-02 15:31] andrestone commented on #8335
AwsCustomResource to the rescue?

[2020-07-02 16:15] keithlayne commented on #7828
I appreciate that this issue doesn't seem to be affecting anyone else, but it was pretty annoying for me - I wasn't able to follow the docs successfully.  I can send a small documentation PR if that's okay - @shivlaks do you have a preference on what that would look like?  I figure these are the options:

1. Add a note about if you have `CDPATH` set and it includes `.` (99.99% can ignore)
2. Just

[2020-07-02 16:19] jmcwhirter commented on #8136
Ugh. This wasted too much of my time.

[2020-07-02 16:22] logemann commented on #8833
I might have run into this. So yes, throwing is a much better option here, even if if breaks code, but still dont know why there is an implicit default action definition in addTargetGroups()

[code]

[2020-07-02 16:30] #8869 closed

[2020-07-02 16:57] skinny85 commented on #7676
Can you also show the JSON form? (You should find the template in the `cdk.out` directory)

[2020-07-02 17:01] alanbo opened #8872 "[aws-codebuild] - Typescript, missing BuildSpec type definition"
There is no code completions/validation for `codebuild.BuildSpec.fromObject`. Typescript definition of it has an Indexable Type instead of proper definition:

[code]

The main reason to use CDK is having code completions/validation to avoid error - in this case, it is missing.

### Reproduction Steps
use `BuildSpec.fromObject` of `@aws-cdk/aws-codebuild`.

---

This is :bug: Bug Report

[2020-07-02 17:10] #8820 closed

[2020-07-02 17:12] kferrone opened #8873 "[ec2] Reference Subnets CIDR Block"
Allow user to reference the CidrBlock from a subnet.

### Use Case

I want to use the subnet value elsewhere, e.g. a security group.

### Proposed Solution

Make the cidr block a token like other props on subnet.

I would like to use the following:
[code]
instead of
[code]

This is a :rocket: Feature Request

[2020-07-02 17:45] skinny85 commented on #8872
Hey @alanbo ,

this is not a bug, it's a feature :). The `BuildSpec.fromObject()` is not typed, so that you're not blocked by us from using all of the new Buildspec features that CodeBuild releases (which is actually quite frequent!).

We have an issue about providing a better, type-safe alternative: https://github.com/aws/aws-cdk/issues/2039 , probably something like `BuildSpe.version02(...)`. If

[2020-07-02 18:01] skinny85 commented on #8867
Hi @Nikamura ,

thanks for opening the issue. Looks like this changed since we introduced our validation. [The docs now say](https://docs.aws.amazon.com/codebuild/latest/APIReference/API_WebhookFilter.html#CodeBuild-Type-WebhookFilter-type):

Looks like we're still validating GitHub (and most likely BitBucket) sources the same way we do GitHub Enterprise ones.

This needs a code change from our si

[2020-07-02 18:12] skinny85 commented on #8763
@asterikx Can I ask you to try something for me? Can you let me know if you get the same behavior for the "standard" `DatabaseCluster` from RDS, when you use the `addRotationSingleUser` method?

Thanks,
Adam

[2020-07-02 18:18] jogold commented on #8837
https://github.com/aws/aws-cdk/releases/tag/v1.49.0

[2020-07-02 18:39] #8340 closed

[2020-07-02 18:45] arjanschaaf commented on #8769
I learned a valuable lesson today about the behaviour of the CDK when not explicitly setting the environment. The situation above is a result of me expecting the CDK to know everything by just supplying a profile using `cdk --profile` but it turns out that without setting the environment for the stack you get a stack that is said to be environment-agnostic.
https://docs.aws.amazon.com/cdk/latest/g

[2020-07-02 18:48] arjanschaaf commented on #8769
I learned a valuable lesson today about the behaviour of the CDK when not explicitly setting the environment. The situation above is a result of me expecting the CDK to know everything by just supplying a profile using `cdk --profile` but it turns out that without setting the environment for the stack you get a stack that is said to be environment-agnostic.
https://docs.aws.amazon.com/cdk/latest/g

[2020-07-02 18:48] #8769 closed

[2020-07-02 18:50] UnbiasedGoat commented on #1680
Also really need this

[2020-07-02 19:04] arjanschaaf opened #8875 "[CLI] generate environment settings on cdk init"
I learned today that several issues I encountered are all related to the same root cause: I forgot to set the environment as documented: https://docs.aws.amazon.com/cdk/latest/guide/environments.html

I assumed that using `cdk --profile` would have configured the cdk with all the information about my environment. But it turns out you need to point the environment of your stack to the settings prov

[2020-07-02 19:09] salsa2k commented on #5547
Sorry, I forgot to mention this, but I also have tried to use this kind of approach.

[code]

[code]

[code]

[code]

cdk version is: 1.4.8

[2020-07-02 19:29] helzich commented on #3913
@salsa2k no I have not. Tom at stackoverflow (https://stackoverflow.com/a/60971592/4556546) says that the code he pasted there is working (it was not working for me at the time), but I have not tried again since April.

[2020-07-02 19:31] tgandrews commented on #8837
Thanks for this and your work on CDK. It’s so much better than the
alternatives.

On Thu, 2 Jul 2020 at 19:18, Jonathan Goldwasser <notifications@github.com>
wrote:

--
tomandrews.co.uk

[2020-07-02 19:43] asterikx commented on #8763
@skinny85 `rds.DatabaseCluster` with `rds.DatabaseClusterEngine.AURORA` engine works as expected (no unnecessary updates to `SecretRotationApplication`).

Have you any suspicion what might be causing the problem in my code? Is there a way to see which parameters have changed (more details on `DbStack: Parameters have changed`)?

[2020-07-02 19:50] instigardo commented on #5471
[code]

This keeps on giving error
`Invalid request provided: CreateCapacityProvider error: The specified Auto Scaling group ARN is invalid. Specify a valid ARN and try again.`

[2020-07-02 20:24] skinny85 commented on #8763
Nothing jumps out to me at a quick glance...

Can you maybe text-compare two templates that your code generates, and see if that urns up anytihng? (`cdk synth` once, copy the template you get in `cdk.out` somewhere else, `cdk synth` again, compare the new file in `cdk.out` to the one that was copied before)

[2020-07-02 20:34] mb-dev commented on #5471
See here about some issues with the current implementation:
https://github.com/aws/containers-roadmap/issues/631

These are items that still planned to be implemented:
[code]

[2020-07-02 20:42] brennick commented on #3463
After running the new bootstrap command, I'm getting the following error when doing `cdk deploy`

[code]

Any idea what I'm doing wrong?

[2020-07-02 20:43] asterikx commented on #8763
I tried that already, the produced templates are identical (used a diff-tool to compare them).

The updating behavior is a bit annoying, but not a deal-breaker. So I guess the best I can do right now is to wait until Aurora Serverless makes it to an L2 construct ;)

[2020-07-02 20:57] cal5barton opened #8880 "[lambda] IFunctionOptions and IEventInvokeConfigOptions in C# library not forcing my class to implement public properties"
When trying to create my own class that implements IFunctionOptions and IEventInvokeConfigOptions my class is not forcing me to implement any properties.

### Reproduction Steps

    /// <summary>
    /// My class
    /// </summary>
    public class MyClass : IFunctionOptions
    {

    }

### Error Log

No errors

### Environment

  - **CLI Version      :** 1.47.1
  - **Framework Version:** 1.47.

[2020-07-02 22:56] w601sxs opened #8881 "[kinesisfirehose] Error using Python CDK for Kinesis Steam to Firehose and the S3 bucket"
## :question: General Issue

### The Question

Trying to do this:

`
        S3_dest_config= {
            "bucketArn": ingest_bucket.bucket_arn,
            "bufferingHints": {
              "intervalInSeconds": 60,
              "sizeInMBs": 128
            },
            "roleArn": kRole.role_arn,
            "prefix": 'raw-data/',
            "compressionFormat": 'UNCOMPRESSED',
            "s

[2020-07-02 23:14] misterjoshua opened #8882 "[core] make the asset bundler able to re-use assets"
I'd like to request that the asset bundler re-use assets that it has already created if it's instructed to use a source asset hash type.

### Use Case

As it stands, the bundler runs the bundling containers before it checks to see if the assets have already been emitted. This is a problem for me when assets are slow to bundle and when there are several stacks (say, one per deployment environment)

[2020-07-03 00:36] gunggmee commented on #7296
I've just experienced the same problem. CDK doesn't allow me to specify CIDR as `10.0.0.0/26~28`, otherwise the CDK throws `InvalidCidrRangeError`. I have to pass `10.0.0.0/25` to make it work.

- `x.x.x.x.28` => "`x.x.x.31` is not a valid VPC CIDR range ..."
- `x.x.x.x.27` => "`x.x.x.30` is not a valid VPC CIDR range ..."
- `x.x.x.x.26` => "`x.x.x.29` is not a valid VPC CIDR range ..."
- `x.x.x.x

[2020-07-03 00:52] roystchiang opened #8884 "[aws-eks] Creating a ServiceAccount in a different stack than the EKS Cluster causes a circular dependency."
I'm trying to create a ServiceAccount in a different stack than the EKS cluster. CDK throws a circular dependency error.
I tried to work around it by importing the cluster in my service account stack and creating a resource, but I can't because of ServiceAccount expects a Cluster instead of ICluster, which Cluster.fromClusterAttributes() returns.

### Reproduction Steps
[code]

### Error Log
[code

[2020-07-03 03:50] tbrand opened #8885 "[DatabaseProxy] Model validation failed (#: required key [TargetGroupName] not found)"
I tried DatabaseProxy with Database Cluster (Aurora, Postgres) but it's failed as titled.

### Reproduction Steps

[code]

### Error Log

[code]

### Environment

  - **CLI Version      :** 1.49.1
  - **Framework Version:** 1.49.1
  - **Node.js Version:** v13.7.0
  - **OS               :** 10.14.6
  - **Language (Version):** TypeScript (3.7.5)

### Other

---

This is :bug: Bug Report

[2020-07-03 04:06] civilizeddev commented on #8698
What about using kind of `Expires`?

### AS-IS

[code]

### TO-BE

- `expires: Expires.atDate(new Date(1614164998000))`
- `expires: Expires.after(cdk.Duration.months(6))`
- `expires: Expires.fromTimestamp(1614164998000)`
- `expires: Expires.fromString('1614164998000')`

## References

I hope the things below would be promoted to `@aws-cdk/core`, as well as `Duration`

### Expires

https://github.c

[2020-07-03 04:29] tbrand commented on #8885
I also tried below but still failed.

[code]

[2020-07-03 04:59] chefren commented on #2812
Found that if using a Classic ELB, this still happens, is there another workaround for this case?

[2020-07-03 05:21] udondan commented on #6936
@iliapolo I checked the [CFN spec](https://dnwj8swjjbsbt.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json) and indeeed it is wrong.

It should be

[code]

instead of

[code]

Nothing wrong with the generator.

[2020-07-03 06:52] thekevinbrown commented on #1474
Here's an example: https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-cloudfront/test/integ.cloudfront-lambda-association.ts

[2020-07-03 07:01] civilizeddev opened #8886 "[aws-lambda-nodejs] SyntaxError: Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
# Solution

[code]

# Original Issue

As of 1.48.0, lambda functions with decorators are broken.

[code]

### Reproduction Steps

- `custom-message.ts`

[code]

- `stack.ts`

[code]

### Error Log

[code]

### Environment

  - **CLI Version      :** aws-cli/2.0.27 Python/3.8.3 Darwin/19.5.0 botocore/2.0.0dev31
  - **Framework Version:** 1.49.1, 1.49.0, 1.48.0
  - **Node.js Version:** 14.5.0
  - **

[2020-07-03 07:21] thekevinbrown commented on #6259
@mattrigg9 looks like there's an easier way with SSM: https://github.com/aws/aws-cdk/issues/1575

[2020-07-03 07:43] nideveloper commented on #8885
I have hit the same issue, tried DatabaseCluster and DatabaseInstance (MySQL, Postgres and Aurora MySQL) - no difference

[2020-07-03 08:12] nideveloper commented on #8885
Incase it helps whoever picks this up, when digging in earlier. The only place I can see TargetGroupName is set is inside CfnDBProxyTargetGroup as cdk.Token.asString(this.getAtt('TargetGroupName'));

[2020-07-03 08:18] dirkgomez opened #8887 "[redshift] Single node cluster creation fails with cloudformation error"
When trying to create a single-node cluster in our acceptance environment, creation fails at the cloudformation level:
[code]

### Reproduction Steps
Here's the relevant code snippet that creates the erroneous cloudformation:

[code]
Number of nodes must be not be supplied for cluster type single-node
[code]

[2020-07-03 08:23] civilizeddev commented on #8885
I'll take a look.

[2020-07-03 08:37] civilizeddev commented on #8886
Please help me @jogold

[2020-07-03 08:41] tbrand commented on #8885
Thanks!

[2020-07-03 08:45] jogold commented on #8763
@asterikx Are your referencing SSM parameters?

[2020-07-03 09:02] jogold commented on #8886
Looks like you need the right babel plugin and config (.babelrc) to support decorators.

Not really something for the `NodejsFunction` construct.

[2020-07-03 09:06] civilizeddev commented on #8886
I have been using it without any extra configuration.

[2020-07-03 09:08] jogold commented on #8886
We now use Parcel v2... can you try to see if it works with a proper Babel config?

[2020-07-03 09:30] Cloudrage commented on #7676
[code]

[2020-07-03 09:41] nija-at opened #8888 "[CLI] stack updates does not pick up updated SSM parameters"
I'm using two stacks where one stack creates an SSM parameter and the other uses this as an [SSM parameter type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/parameters-section-structure.html#aws-ssm-parameter-types).

Running `cdk deploy` after changing the value of the SSM parameter on the first stack does not update the second stack and hence the value is not updated.

### Rep

[2020-07-03 09:42] nija-at commented on #8888
Running `cdk deploy -vv` contains this output -

[code]

We seem to be overly optimizing for when to update.

[2020-07-03 09:46] asterikx commented on #8763
@jogold wow, you seem to have pinpointed the source of the problem.

I'm using SSM parameters (indirectly). I have a [`BastionLinuxHost`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.BastionHostLinux.html) in my stack, that connects to the database. The `BastionLinuxHost` construct is receiving its instance image config from SSM parameter store (see [here](https://github.com/aw

[2020-07-03 09:48] vengadanathan commented on #6923
Any update on the same ? seems like a bad bug, would be great if you guys can fix it. I am currently blocked on the same

[2020-07-03 10:06] jogold commented on #8763
The secret rotation application creates a nested stack and CloudFormation will always attempt to update nested stacks when you start a deploy (even if they did not change).

To avoid unnecessary updates of nested stacks the CDK compares the template, tags and parameters and if it can it skips deploy:
https://github.com/aws/aws-cdk/blob/254556d875f9a378ac98d5c3193306250068d3c9/packages/aws-cdk/lib/

[2020-07-03 10:15] nija-at commented on #8888
Never mind. This was all on CDK CLI 1.45.0. The new version 1.49.1 has all this fixed.

Closing.

[2020-07-03 10:15] #8888 closed

[2020-07-03 10:24] asterikx commented on #8763
@jogold thanks for the detailed explanations. Well, I guess, then I have to live with those updates ...

The only solution I can think of is to rewrite the rotation functionality within the CDK, rather than using the rotation application(s) from the AWS Serverless Application Repository. But I think that's something that shouldn't be done.

[2020-07-03 10:36] civilizeddev commented on #8886
No luck.

[code]

[2020-07-03 10:45] civilizeddev commented on #8181
Adding additional Babel configurations does not respect my `~/.npmrc` files that contain credentials from my personal package repository.

That's why I don't add babel configuration.

[2020-07-03 11:03] ben-eb opened #8890 "[aws-events] Don't render undefined 'enabled' state"
Hello :wave:

Currently, the implementation of [`Rule`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-events.Rule.html) means that if the `enabled` property is not set, it is defaulted to `true`.

### Use Case

We have a use case where we want to turn off rules at certain times of the year, and would like to do this independently of deploying the stack. We are planning to write a sc

[2020-07-03 11:54] jogold commented on #8886
If you can get it to build with Parcel v2 then it should work with the `NodejsFunction` construct. This is more something for https://github.com/parcel-bundler/parcel or [StackOverflow](https://stackoverflow.com/questions/tagged/parcel).

[2020-07-03 12:05] civilizeddev commented on #8886
Really?

I want you to pay more attention to end user experience on your work.

I hope you wouldn't think that I'm the just one having trouble with this.

[2020-07-03 13:40] jogold commented on #8886
Can you share a minimal repro of the problem in a repo? I will try to have a look at it so if the issue comes from CDK or Parcel.

[2020-07-03 14:00] civilizeddev commented on #8886
You didn't catch the point.

Just Imagine a user facing a breaking change and how he feels like.

If I were you, I wouldn't say 'it's not my job.'

[2020-07-03 14:41] jogold commented on #8886
Of course I understand this frustration

I think that all my contributions to the CDK prove that I attach a lot of importance to this... the whole point of the `NodejsFunction` construct is to offer the best possible developer experience.

Never said that... just think is not CDK related. Anyway, I spend a lot of my *free time* here...

I'm not resentful... if you still want me to have a look plea

[2020-07-03 15:00] farzad-xgen opened #8893 "[cli] - New progress bar method of giving feedback while deploying the stacks hides useful details"
## :question: General Issue

### The Question
The new feedback method, showing the progress bar plus the few last lines of the CloudFormation events, hides useful information from the user:
1- It doesn't give you the proper sense of progress by hiding what is really going on.
2- You cannot review the changes while it is deploying, finding possible flaws.
3- If the update fails, you have no way to

[2020-07-03 15:03] civilizeddev commented on #8886
You just do what you want to do, and that's it.

You don't like to listen to the user's opinion.

My feedbacks as a user were ignored by you second time  #8181

I won't force you anymore if you don't want to.

[2020-07-03 15:25] vfarah-if commented on #6953
I am suffering from the same problem, in that there is no property for **_"ImageFile"_**, Will this issue every be fixed?

[2020-07-03 15:26] w601sxs commented on #8881
Upgraded to 1.49.1, still same isse

[2020-07-03 16:08] w601sxs commented on #8881
Passing both kinesis stream source and S3 destination fails...

`
kfirehose = firehose.CfnDeliveryStream(self,
                            'kfirehose',
                            delivery_stream_name='deliverystream',
                            delivery_stream_type='KinesisStreamAsSource',
                            extended_s3_destination_configuration = S3_dest_config)#,

[2020-07-03 17:20] ethanjdiamond commented on #557
Any updates on this?

[2020-07-03 17:23] ilkomiliev commented on #8233
Hi, which CDK Version will integrate the fix, we desperately waiting for this?

Thanks!

[2020-07-03 18:08] #7762 closed

[2020-07-03 18:18] deathquin opened #8894 "[codepipeline] The image definition file images.json contents invalid JSON format"
The image definition file images.json contents invalid JSON format

## :question: General Issue
The image definition file images.json contents invalid JSON format

### The Question
Codepipeline is being implemented with aws cdk. When you create codepipeline with cdk while referring to the Internet, the error "The image definition file images.json contents invalid JSON format" occurs in deploy. If

[2020-07-03 18:52] guydelta commented on #8885
This was my original workaround:
Prior to rds.DatabaseProxy's introduction in 1.49 I had to create the DB Proxy with CfnDBProxy.
This route required me to set the proxy's target group as follow:

[code]
This caused the same **required key [TargetGroupName]** error. After many hours of struggling and diving into the cdk source I realized there is no place where *TargetGroupName** seems to be assign

[2020-07-03 19:12] tbrand commented on #8885
That's awesome! I will try the workaround.

[2020-07-03 19:15] jogold commented on #8886
@civilizeddev I won't go about your rude comments and false accusations here...

This is a repro: https://github.com/jogold/decorator-cdk. Did this out of *personal curiosity* and because I *do care* about the `NodejsFunction` construct being functional and offering a good developer experience (even though the discussion here didn't make me want to do it). And luckily for you it works with decorat

[2020-07-04 00:47] pahud commented on #7595
@eladb

I believe this is because we don't do the AwsAuth for managed ng and let the eks control plane do it instead. So the state will be inconsistent.

https://github.com/aws/aws-cdk/blob/a732d149ff33f6958b83d539ba3429a025dcd631/packages/%40aws-cdk/aws-eks/lib/managed-nodegroup.ts#L266-L267

Maybe we still should do it for manage nodegroups? Let me try add this logic?

[2020-07-04 01:37] civilizeddev commented on #8886
I apologize.

Thank you for your effort. @jogold

Just give me a good review in my work later.

[2020-07-04 01:48] civilizeddev commented on #8885
Sorry for inconvenience caused.

It seems something has suddenly changed in CloudFormation. (They implicitly set TargetGroupName before)

Fortunately, I can find the point early with your help.

I hope this would work.

[2020-07-04 04:53] tbrand commented on #8885
Another problem has happened. After I applying this patch, the deployment was failed with the message "Timed out waiting for target group to become available.".
But I confirmed that the database proxy had been created successfully on the AWS Management Console.

Does anyone hit the same problem?
Should I open another issue?

[2020-07-04 06:13] #2387 closed

[2020-07-04 06:13] #5488 closed

[2020-07-04 09:10] civilizeddev commented on #8885
To initialize DB Proxy Target Group,

`DB Proxy` to `DB` connection should be established.

Check if the security groups specified in the DB Proxy are allowed to access network that DB resides.

[2020-07-04 12:57] civilizeddev commented on #8885
In AWS Management Console:

I found that DB Proxy target was staying unavailable when I put a security group which is not allowed to access RDS instance.

![image](https://user-images.githubusercontent.com/15084045/86510943-624a5380-be2f-11ea-9b30-be2cafa1f05c.png)

In CDK or AWS CloudFormation, It will time out.

@tbrand Can you open new issue for this?

[2020-07-04 13:15] tbrand commented on #8885
@civilizeddev Thanks for the digging!

Is that correct? I thought that the closed security group occurs the timeout. So opened security group would solve the issue. (I haven't try.)

[2020-07-04 13:16] jayakumarselvan commented on #8731
Yes. I think

[2020-07-04 18:14] pgollucci commented on #8893
To be fair you can use the CLI et al too, but yes, this has been driving me
bonkers.  You routinely even just see a blank screen on a stack with 50+
resources. Esp if you are running in a VSCode Integrated terminal.

+1 cli option or flag please.  If someone links me to the original change,
I'll implement the flag.

On Fri, Jul 3, 2020 at 11:00 AM farzad-xgen <notifications@github.com>
wrote:

--

[2020-07-05 04:37] ralovely commented on #6056
Given this page is the first (and only, really) coming up in Google for the error

I would add to @tmo-trustpilot 's comment above:

- You need to specify `overrideAction` **and**
- You need to **not** specify `action`

Hope this helps someone.

[2020-07-05 05:39] ddneilson commented on #7712
+1 -- From personal experience, just now, it's a nasty surprise to set up a lifecyclehook using the existing L2 mechanisms to only discover that the instance-launch event isn't being received for all instances in the ASG. You, obviously, don't get it for instances that came up before CloudFormation completed setting up the LifecycleHook resource.

Back-dooring the L1 works, but it feels bad.

[2020-07-05 05:56] #5786 closed

[2020-07-05 05:58] eladb commented on #8882
Copy @jogold

[2020-07-05 06:05] eladb commented on #8886
@jogold thanks so much for looking at this.

Just to summarize, is this the Config that worked?

[code]

[2020-07-05 06:06] eladb commented on #7595
I see. Yes. I think we must also do it for Managed Node Groups or otherwise we will lose track of the state.

[2020-07-05 06:09] eladb commented on #3463
@rix0rrr Is this documented in the CDK pipelines docs?

[2020-07-05 06:15] pahud commented on #7595
@eladb  OK. Let me create the PR.

[2020-07-05 10:10] iliapolo commented on #8832
Hi @webysther .

Could you please clarify exactly what you mean? The best way is to provide a code snippet and describe the expected vs the actual behavior.

I understand you imply there is some issue with tagging a `CfnTrigger`, is it the fact that the `tags` property accepts a `TagManager` rather than a JSON? Please be more specific.

[2020-07-05 10:16] iliapolo commented on #8863
Hi @bweigel - Thanks for opening this.

We would love to have these constructs, let us know if you up to taking this on and we can a proper API discussion here :)

Thanks!

[2020-07-05 10:21] iliapolo commented on #1575
We have an ongoing effort of redesigning the CloudFront module. To that end, we are currently in the middle of an [RFC](https://github.com/aws/aws-cdk-rfcs/pull/174) and we would love feedback from all interested parties.

Specifically, checkout the [`Lambda@Edge`](https://github.com/njlynch/aws-cdk-rfcs/blob/njlynch/rfc171/text/0171-cloudfront-redesign.md#lambdaedge) section.

[2020-07-05 10:57] sreekanth-bg commented on #6889
this seems to be working while I was trying create env vars out of secrets for the ECS fargate tasks...

[code]

however, im also looking forward to [import]([https://github.com/aws/aws-cdk/issues/7444]) the secrets through the API as the above seems to be a hack...

[2020-07-05 11:15] jogold commented on #8886
Yes, exactly.

[2020-07-05 11:40] civilizeddev commented on #8885
This diagram is more descriptive.

![image](https://user-images.githubusercontent.com/15084045/86531828-87a69280-beff-11ea-8e7c-c805a5c6303d.png)

[2020-07-05 11:49] nideveloper commented on #8885
This is still a work in progress, it will be launched on cdkpatterns in the next couple of days but if you are anyone else following this wants some working code for a MySQL DB Instance, an RDS Proxy and a Lambda function which runs several queries integrated with an API Gateway HTTP API - https://github.com/nideveloper/serverless/blob/master/the-rds-proxy/typescript/lib/the-rds-proxy-stack.ts

[2020-07-05 14:06] d2kx commented on #8885
I stumbled into this, and I also had to add another property override, because doing DBCluster#addProxy added both DBClusterIdentifiers *and* DBInstanceIdentifiers to the ProxyTargetGroup, which is not allowed. So my overrides look like this:

[code]

which solves the problems.

[2020-07-05 14:52] civilizeddev commented on #8885
@d2kx Thank you for reporting.

fixed by 84d0a4a

[2020-07-05 17:51] #953 closed

[2020-07-05 18:23] machielg commented on #6889
@skinny85  I couldn't reproduce the lookup like you're showing. I solved my problem by switching to the Systems Manager parameter store which also supports secrets and those parameters can be referenced by name.

[2020-07-05 19:07] donaldpipowitch commented on #8585
I ran into this as well. I used

[code]
and tried:
[code]
but got `Invalid AttributeDataType input, consider using the provided AttributeDataType enum.`

It works by using
[code]

[2020-07-05 23:10] pgollucci commented on #8335
I mean you can always do anything that way, but not in the official release........

[2020-07-05 23:19] gradybarrett commented on #8717
Hi @eladb. Sorry for the delayed response.

Here's a stripped-back class structure sans implementation to keep things simple. Comments in the different Props interfaces indicate implementation needs.  I can fill in more details if needed.

The below code extends CustomResource, which means if I want to do any coercion, defaulting, or validation of props I have to do so before calling `super` and c

[2020-07-05 23:33] justinThompson opened #8899 "[apigateway] defaultMethodOptions not available when using RestApi.fromRestApiAttributes()"
The new asset system and `fromRestApiAttributes()` updates have been great, they have solved some of my long held problems.

I came across this in the last step of splitting up my API stacks, everything looked ok until I realised the endpoints were missing their `options` methods.

Maybe this is intended, but I couldn't find an explanation in the docs.

When adding methods to a restApi that was im

[2020-07-06 01:48] niyazpk opened #8900 "[rds] Not able to instantiate Serverless Aurora with MySQL 5.7"
I am trying to create a new Serverless Aurora cluster with MySQL 5.7 support.

### Reproduction Steps

[code]

### Error Log

Fails with:
[code]

### Environment

  - **CLI Version      :** 6.14.4 (from npm cdk -v)
  - **Framework Version:** 1.49.1 (from package.json)
  - **Node.js Version:** v14.0.0
  - **OS               :** MacOSX 10.14.6
  - **Language (Version):** TypeScript 3.7.2

### Other

[2020-07-06 01:50] tbrand commented on #8885
Thanks guys. Finally I successfully created the proxy! :tada:
Here is the code.
[code]

[2020-07-06 02:03] niyazpk commented on #8900
I was able to make this work once I changed the config to:

[code]

(from `engine: "aurora-mysql",`)

Although, I was able to spin up MySQL 5.6 with  `engine: "aurora",`

Feel free to close this.

[2020-07-06 02:14] NetaNir commented on #8285
Here is what in think is happening, if the lambda function code which is checked in is in `typescript`, the asset hash might change depending on the `typescript` version used to compile the `ts` files to `js`.
Can you verify you are using the same `typescript` version?

[2020-07-06 02:17] meleksomai commented on #5618
Any progress on this feature? Any workaround in the meantime?

Thanks!

[2020-07-06 04:15] NetaNir commented on #8842
I have verified now and version `1.48.0` of `@aws-cdk/aws-wafv2` does exist:
[code]

Can you try again? Maybe you hit a a point in time where version `1.48.0` was being published? We published all of the `@aws-cdk/*` modules at the same time, but theoretically since each is a separate module, there could be a (short) point in time where not all modules are available in the latest published version

[2020-07-06 04:31] brianfoody commented on #1754
Python: `self.account` and `self.region`
TypeScript: `this.account` and `this.region`

[2020-07-06 05:47] #7595 closed

[2020-07-06 06:32] andrestone commented on #8335
I actually meant to suggest AwsCustomResource as a way to implement it in the construct library.

[2020-07-06 06:42] th3r10n opened #8902 "AWS CDK Java "cdk synth" with NodejsFunction construct returns [ERROR] RangeError: Maximum call stack size exceeded"
Executing "cdk synth" on a Java CDK project with a Stack that has a NodejsFunction construct is returning:
[ERROR] RangeError: Maximum call stack size exceeded

[CreateCommandRestControllerStack.zip](https://github.com/aws/aws-cdk/files/4877077/CreateCommandRestControllerStack.zip)

### Reproduction Steps

Synthesize the attached CreateCommandRestControllerStack to see the error. Removing the foll

[2020-07-06 08:17] mattiLeBlanc opened #8903 "[dynamodb] aws-dynamodb fromTableName not returning tableStreamArn"
When using the CDK's `Table.fromTableName` I expected to get the arn of my Table Sream
However, the Arn is not returned in general by this function, but it does return the `tableStreamArn` with an undefined value.
So either, add the stream in the return or remove the key from the response?

![image](https://user-images.githubusercontent.com/5285035/86571405-adda3a00-bfb4-11ea-9e33-f3c66bf85dd3.png

[2020-07-06 08:40] dammg opened #8904 "[aws-elasticloadbalancingv2] Constructing a ListenerRule Condition value from SecretValue runs into character limit error"
Hi,

I'm currently trying to generate a forward rule with basic authentication for my load balancer and since I don't want the user and password in my source code I'm using a SecretValue from the SecretManager. Unfortunately when I try to deploy the stack update, I get an error telling me that I used to many characters for the http-header value (see log below).

Is it maybe possible to validate th

[2020-07-06 08:43] mattiLeBlanc commented on #3463
Yes, I am here with the same issue. Only when I delete my S3 bucket and bootstrap again, can I deploy. So I can only deploy one time locally before I have to do this again.

My CDK version is 1.49.1

[2020-07-06 08:46] nija-at commented on #5618
@meleksomai - you can use the the construct at the CFN layer - `CfnAuthorizer` - to work around this. However, you will need to configure all of the properties correctly yourself.

[2020-07-06 08:48] iliapolo commented on #8472
Marking this as a feature request to use an empty string as the default data location, which seems like a more reasonable default.

[2020-07-06 08:56] nija-at commented on #8899
Unfortunately, this is not a bug but perhaps a feature request.

It was never intended for `defaultMethodOptions` or `defaultCorsPreflightOptions` to be available when imported via `fromRestApiAttributes()`.

For the time being, you have to restate both of these properties for every Resource/Method specified after import.

[2020-07-06 09:24] justinThompson commented on #8899
Fair enough. I decided to turn CORs off and finally put my dev api on a proper subdomain.

[2020-07-06 09:47] rix0rrr opened #8905 "Support cross-account context queries from bootstrap stack"
See title.

---

This is a :rocket: Feature Request

[2020-07-06 09:50] gattasrikanth opened #8906 "[aws-lambda] Cannot use 'in' operator to search for 'accountId' in principle"
CfnPermission props requires **principal** to be type string but cdk synth failing because **parsePermissionPrincipal** expecting an object

### Reproduction Steps

[code]

### Error Log

[code]

### Environment

  - **CLI Version      :** AWS CLI Version? when I type `aws --version` this is what I see: `aws-cli/2.0.0 Python/3.7.4 Darwin/18.7.0 botocore/2.0.0dev4`
  - **Framework Version:** CDK? `

[2020-07-06 10:46] MartinLoeper commented on #8285
@NetaNir That is a good hint, I thought of the same recently. I will update to the next typescript version, observe what happens and report back.

I think this could explain why it is difficult to share a CDK repository with the team. If they a) use the globally installed TypeScript binary or b) the package.json contains a TypeScript version which is not fixed (e.g. using the npm caret), the hash

[2020-07-06 10:48] #7847 closed

[2020-07-06 10:56] ali-habibzadeh commented on #8505
Keep open

[2020-07-06 11:34] justinThompson commented on #8899
Thinking about it a bit more, is CORS not a pretty common use case for api gateway?

And if this approach is the recommended way to split up api stacks, lots of people will encounter this issue when they reach a certain number of api methods.

So they will all have to do some pretty heavy duplication of code across their projects i.e. preflight and method options on every method.

It seems like a

[2020-07-06 12:28] jogold commented on #8902
@th3r10n can you try with an absolute path for your `entry`?

[2020-07-06 12:39] jogold commented on #8902
@eladb both #8907 and #8874

[2020-07-06 12:42] pigna90 commented on #4323
+1

[2020-07-06 13:00] salsa2k opened #8908 "[apigateway v2] Custom domain for API Gateway V2"
Custom domain for API Gateway V2.

### Use Case

Here we have the documentation to create custom domains for API Gateway and routes on Route 53. But sadly the same thing doesn't work for Api Gateway V2.

I have tried to apply the same config using v2.

[code]

There is 2 problems here:
1. In CfnDomainName I'm not able to use domainNameConfigurations, looks like this interface is broken.
2. For rou

[2020-07-06 13:12] eladb opened #8909 "[WIP] Migration guide from CDK v1.x to v2.0"
### Nothing to see here (yet)

This issue has been created as part of devising our plan for CDK v2.0 - it is intended to collect the various migration activities users would need in order to move to the new version.

-----

[2020-07-06 13:33] jargelo commented on #8574
Today I've also gotten the same error but on the `ec2:DescribeVpcs` permission. This was not the case on Friday because I rolled out an EKS cluster with a CDK build done from the master branch. Adding the DescribeVpcs permission solved the problem, same as the PR in #8859

Seems like AWS is changing stuff on their end that requires more permissions?

[2020-07-06 14:14] elthrasher opened #8910 "[core] asset bundling fails with DOCKER_BUILDKIT=1"
Asset bundler fails with Docker buildkit. This is because of a regex searching for "Successfully built <imageId>" which doesn't appear when using buildkit. Buildkit may some day be the default and some systems are already using buildkit by default so it's best to support both versions of docker build.

### Reproduction Steps

The tests in aws-s3-assets can reproduce this issue handily:

[code]

Th

[2020-07-06 14:20] elthrasher commented on #8910
Should be fixed by https://github.com/aws/aws-cdk/pull/8911

[2020-07-06 15:01] rix0rrr commented on #8893
`-v` will also switch back to the old progress method, as a temporary fix.

I'd like to understand the objections in a little more detail though.

I specifically changes this to show you "what is going on", right now. What information are you missing?

What kind of flaws do you normally detect in this way, and how do you detect them?

It should definitely be showing you the failures front and cent

[2020-07-06 15:01] jebaney opened #8913 "[aws-cloudwatch] Incorrect comparison operator for alarm annotation label"
[Alarm.OPERATOR_SYMBOLS](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-cloudwatch/lib/alarm.ts#L72) has the incorrect string value for `LessThanOrEqualToThreshold`.  Instead of `<=` (less than, equal to) it has `>=` (greater than, equal to).

[code]

When the annotation is eagerly created (Alarm Line 201)[https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-cloud

[2020-07-06 15:03] skinny85 commented on #8731
Well, this depends on how you store your token in SecretsManger. You can store it as PlainText, and it this case `cdk.SecretValue.secrets_manager("my-github-token")` works fine. Or, you can store it as a JSON key-value pair, and in that case you need `cdk.SecretValue.secrets_manager("my-github-token", json_field="my_key")`.

Wondering how to make it clear in the docs the difference between the 2 c

[2020-07-06 15:09] crash7 commented on #8893
I have this issue, and the error I see a lot is:

[code]
 Lots of this... and then the message (with the error) in vertical:

![image](https://user-images.githubusercontent.com/1450075/86608764-5a022d80-bf81-11ea-951a-4ab6b852667e.png)

So the error is there (if I read the vertical line I can read the error) but hard to read.

[2020-07-06 15:18] rix0rrr commented on #8893
Wooaahhh.

[2020-07-06 15:23] #8902 closed

[2020-07-06 15:24] #8900 closed

[2020-07-06 15:25] skinny85 commented on #6889
@sreekanth-bg Sure, passing an environment variable that way works. But did you actually try to use the `TEST_SECRET` environment variable from your ECS service to call SecretsManager, and did it work?

[2020-07-06 15:31] rix0rrr commented on #8893
Can you share CDK CLI version if you get the cut-off column?

[2020-07-06 15:44] skinny85 commented on #8903
Hi @mattiLeBlanc ,

`tableStreamArn` is undefined, because we can't fill it just from the Table name that you provide in `fromTableName`.

If you want to provide it, feel free to use the [`fromTableAttributes` method](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.Table.html#static-from-wbr-table-wbr-attributesscope-id-attrs).

[2020-07-06 17:03] nija-at commented on #1972
To anyone who has or had this issue -

Do you have any stacks running production systems that is affected by this issue?

If not, how have you worked around this? Did you work around this by keeping the lambda function and its layer in the same stack?

(Asking to get a sense of what state people are in today)

[2020-07-06 17:49] shaftoe commented on #1972
@nija-at yeah, personally I've worked around that not sharing layers between stacks, in the end it's not that bad with the little helper function utility and folder structure, so I define the layer once for the project and I create a new one per stack whenever needed. Easier showed than said:

- [the codebase](https://github.com/shaftoe/api-l3x-in)
- [the utility function](https://github.com/shaft

[2020-07-06 18:28] #8885 closed

[2020-07-06 19:32] Jerry-AWS opened #8914 "[jsii] Use abstract base classes (ABCs) to implement interfaces in Python"
Python abstract base classes (`abc` module) can be used to prevent Aspects and other types from being instantiated if they don't have the required methods, and bring Python support closer to parity with languages that support interfaces. It will also help improve the experience in popular IDEs (I know PyCharm can create stubs for required methods, for example).

This was suggested by a customer us

[2020-07-06 20:08] ranguard commented on #1972
I split the layers into a stack of their own, and share the ARN via SSM.Params, to then be used by a lambda in another stack. So no hard dependency...

You can see both the layer creation and then usage (which would usually be in a separate stack)

https://github.com/ranguard/cdk-talk-examples/tree/master/code/lambda_layer_example/lib

We have a 'layers' stack

AWS keeps layer versions around, whi

[2020-07-06 21:14] #8595 closed

[2020-07-06 23:20] #5547 closed

[2020-07-07 00:37] mattiLeBlanc commented on #8903
@skinny85 I did try `fromTableAttributes` but then I also need to add the StreamArn as an Output in our dynamo table stack.
We use separate stacks and using Outputs links those stacks together, creates problems if you have to remove one of the stacks.
It would have been nice if the `fromTableName` could have offered that info, it is getting all the other Table details, why couldn't it fetch the St

[2020-07-07 00:49] sam-goodwin commented on #8472
There was no intelligent reasoning. I agree it should be changed since it’s too opinionated.

[2020-07-07 00:49] skinny85 commented on #8903
In those cases, just pass the Table from one Stack to the other. The CDK will automatically create the Export in the producing Stack, and then the `Fn::ImportValue` in the consuming Stack. No need to use `fromTableAttributes`.

[2020-07-07 02:10] mattiLeBlanc commented on #8903
I am not sure if I understand: Our stacks are separate, Appsync API, DynamoDB, ApiGateway etc. They all live in separate repos and are separate stacks with no coupling.
The Appsync stack can deploy without the DynamoDB stack being deployed, it would just not create a datasource. If you deploy the DynamoDb and then redeploy the Appsync stack it would create the datasource etc.

With this context, h

[2020-07-07 02:27] alluriv opened #8918 "[@aws-cdk/aws-elasticloadbalancingv2] Unable to add multiple certificate for NLB (TLS)"
I am able to manually add certificates in NLB Listener TLS:443 listener but when I try to add using below cdk it is throwing above error

    const listener = this.service.loadBalancer.addListener('SecureListener', {
      port: 7443,
      defaultTargetGroups: [this.service.targetGroup],
      certificates: [
        {
          certificateArn: serverCertArn,
        },
        {
          certif

[2020-07-07 03:00] civilizeddev opened #8919 "[aws-rds] Timed out waiting for target group (CfnDBProxyTargetGroup) to become available."
There is no way to validate a wrong configuration on DBProxy's security group.

That is, there is no way to verify the connection from the proxy to the DB.

_Originally posted by @tbrand in https://github.com/aws/aws-cdk/issues/8885#issuecomment-653721193_

![](https://user-images.githubusercontent.com/15084045/86531828-87a69280-beff-11ea-8e7c-c805a5c6303d.png)

The connection from the proxy to th

[2020-07-07 04:06] ookangzheng commented on #8837
on cdk `1.49.1` version  still not working with Nodejs Function parcel error, we have to stick with `1.47.1`
[code]

[2020-07-07 04:10] taylor-zr opened #8920 "[aws-elasticsearch] ElasticSearch Domain Name Change Unsupported"
Changing DomainName for ES domains created with aws-elasticsearch is not supported. For example, I changed:

[code]

To

[code]

And I received:

[code]
### Environment

  - **CLI Version   :** 1.46.0
  - **Framework Version:** 1.49.1
  - **Node.js Version:** 12.14.1
  - **OS               :** Mac 10.14.6
  - **Language (Version):** Typescript

[2020-07-07 06:15] #5593 closed

[2020-07-07 07:01] #6489 closed

[2020-07-07 07:39] th3r10n commented on #8902
I've added the absolute path to the "entry". But now it complaints about:

ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.6.0:java (default-cli) on project 02-ecom-create-command-rest-controller: An exception occured while executing the Java class. Cannot find a `package.json` in this project.

See [errors.txt](https://github.com/aws/aws-cdk/files/4883275/errors.txt)

[2020-07-07 07:45] th3r10n opened #8921 "CLI hangs with "unexpected: --output is required" (is it related to NodejsFunction?)"
After adding a NodejsFunction construct to my stack and having succesfully
[controller.zip](https://github.com/aws/aws-cdk/files/4883316/controller.zip)

### Reproduction Steps

### Error Log

### Environment

  - **CLI Version      :**
  - **Framework Version:**
  - **Node.js Version:**
  - **OS               :**
  - **Language (Version):**

### Other

---

This is :bug: Bug Report

[2020-07-07 07:50] th3r10n opened #8922 "[lambda-nodejs] AWS CDK TypeScript project. "cdk synth/deploy" hangs when there is a NodejsFunction construct in the stack."
After adding a NodejsFunction construct to my stack and having successfully ran "npm run build", If I try to synthesize or deploy the stack the process just hangs without ever returning.

### Reproduction Steps

Synthesize the attached [controller.zip](https://github.com/aws/aws-cdk/files/4883316/controller.zip)

### Error Log

No errors are displayed after executing "cdk synth" or "cdk deploy". N

[2020-07-07 07:51] jogold commented on #8902
@th3r10n can you share your folder structure?

[2020-07-07 07:52] eladb commented on #8921
Please run with `—verbose` and pasting your output?

 Copy @jogold

[2020-07-07 08:01] th3r10n commented on #8902
Here it is @jogold :
[Uploading command-controller.zip…]()

[2020-07-07 08:02] th3r10n commented on #8902
Here it is @jogold:
[command-controller.zip](https://github.com/aws/aws-cdk/files/4883390/command-controller.zip)

[2020-07-07 08:09] th3r10n commented on #8921
CDK toolkit version: 1.49.1 (build 7d6321f)
Command line arguments: {
  _: [ 'synth' ],
  v: 1,
  verbose: 1,
  e: true,
  exclusively: true,
  r: undefined,
  'role-arn': undefined,
  roleArn: undefined,
  b: true,
  o: '',
  output: '',
  s: true,
  'ignore-errors': false,
  ignoreErrors: false,
  json: false,
  j: false,
  ec2creds: undefined,
  i: undefined,
  'version-reporting': undefined,

[2020-07-07 08:13] jogold commented on #8902
@th3r10n can you add an "empty" `package.json` in `resources/lambda` and test if it works?
[code]

The construct currently expects a `package.json` file to be present somewhere in the folder structure. Will see if we can create one if we don't find it. For 100% JS/TS projects a `package.json` will always be present somewhere and I haven't thought about this mixed programming languages pattern when

[2020-07-07 08:29] hugomallet opened #8923 "[assets]: exclude glob from project root directory"
Hello,

I try to exclude a file only from the root directory of the project but it does not seem to work.

Example
[code]

It should exclude the file "a-file" from the "project" root directory and it should keep "a-file" files in sub directories.

But the exclusion seems ignored.

What is the root directory for the glob matching ? I tried to exclude "../a-file" as well but it didn't work either.

[2020-07-07 08:30] th3r10n commented on #8902
If I add the package.json(with or without content) the "cdk synth/deploy" just hangs. Adding -X in cdk.json and then executing cdk synth hangs at:
[DEBUG] Setting accessibility to true in order to invoke main().
See [cdk-synth-output.txt](https://github.com/aws/aws-cdk/files/4883570/cdk-synth-output.txt)
See https://github.com/aws/aws-cdk/issues/8921

[2020-07-07 08:34] jogold commented on #8837
@ookangzheng can you share your folder structure? Is it a git repository?

[2020-07-07 09:05] iliapolo commented on #3257
@djorg83 The `StaticWebsiteAppConfig` construct looks cool. I'm having second thoughts though about the place of such functionality in the core modules. The only module I feel might include this is [`@aws-cdk/aws-cloudfront`](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudfront-readme.html), but even then, it seems a little too specific and involves a lot of moving parts.

We are current

[2020-07-07 09:45] eladb commented on #8902
@jogold wondering if we should have been more explicit about the project root instead of magically looking for a git repo.

[2020-07-07 10:34] jogold commented on #8902
There two issues here:
1. finding the project root = the source path of the asset (this is https://github.com/aws/aws-cdk/issues/8837#issuecomment-654691176?). How about also looking for a `cdk.json`?
2. finding a `package.json` = we need to configure it for parcel. Looks like even with a `package.json` @th3r10n has a deploy problem, lets continue this discussion in #8921.

[2020-07-07 10:35] jogold commented on #8922
@th3r10n can you close this one in favor of #8921, is it the same?

[2020-07-07 11:05] eladb commented on #8922
Dup #8921

[2020-07-07 11:05] #8922 closed

[2020-07-07 11:23] nonken commented on #8774
@skinny85 I have opened a PR, would be amazing if this can go in as it is breaking the interwebs 😄

[2020-07-07 11:49] jogold commented on #8921
@eladb the error seems to originate from here:

https://github.com/aws/aws-cdk/blob/ae2378cc2a537277025c9104bc43a4cc68318650/packages/aws-cdk/lib/api/cxapp/exec.ts#L59-L61

any idea what might cause this and how it could be related to the `NodejsFunction` construct?

[2020-07-07 12:49] crash7 commented on #8893
I found that I was using 1.46, so I upgraded the CI build to use 1.49.1 and the "progress bar error" is gone but the cut-off column is still here.

OP also says it's in 1.49.1

[2020-07-07 12:56] mmajis commented on #8697
Specifying the endpoint as suggested in https://github.com/aws/aws-cdk/issues/8697#issuecomment-648764918 does not resolve the issue.

I believe the aws-sdk update of lambda runtime will fix this as @zxkane suggests.

[2020-07-07 12:58] nija-at commented on #1972
Thanks for sharing @shaftoe and @ranguard

[2020-07-07 13:10] nija-at commented on #8285
@MartinLoeper - if this is the case, then the CDK is behaving as designed. Different versions of typescript can produce slightly different variations of the output javascript which can cause the asset hash to be produced differently.

If the javascript handler for lambda function changes, I believe it is correct to deploy these into the lambda functions.

Was/Is there an impact when assets changes

[2020-07-07 13:16] nija-at commented on #8585
Apologies for that @donaldpipowitch. That was an unintended side effect of that change. I'm glad you got it to work.

[2020-07-07 13:16] nija-at commented on #8585
Closing this since the number of people affected is small, and it doesn't look like the stacks were in production.

[2020-07-07 13:27] donaldpipowitch commented on #8585
No worries. Thanks for the response.

[2020-07-07 13:46] zxkane commented on #8697
The lambda team is working on updating aws sdk for nodejs runtime. It'd better keeping the issue opening until it's validated.

[2020-07-07 14:08] shivlaks commented on #7967
@mb-dev let me know if I can help with checking out the implementation of the custom state or if it would help for me to whip up an example!

[2020-07-07 14:42] shivlaks commented on #8043
@reisingerf - ran into some delays, but haven't forgotten about this. This integration is back in focus for me and I'm actively working on it

[2020-07-07 15:55] tomgreenwood1 commented on #542
Just to add, for anyone still struggling even after the helpful comments above:

After you nuke node_modules and package-lock.json, you then have to change all the versions for cdk things in package.json UP TO THE NEW VERSION, not down the old one. I tried changing it down (since I'd prefer not to be forced to use the latest minor release within minutes of it being released) and that didn't work.

[2020-07-07 16:18] tlinkin commented on #3092
Issue still active in 1.50

[2020-07-07 16:39] shivlaks commented on #8764
closed by #8765

[2020-07-07 16:39] #8764 closed

[2020-07-07 16:52] jimfum commented on #7777
Hi @skinny85,

That is right. It didn't work for my use case which is a certificate for a.company.com with alternative names like a.company.co.uk and a,company.ca. One would expect the domain ownership verification records to be created in all three domains but that didn't happen (only in the first .com one did) making the certificate to be never validated. The documentation, by mentioning validat

[2020-07-07 17:02] jackm-ts commented on #8893
I am on cdk cli 1.50.0 and still getting the cut-off column

[2020-07-07 19:08] Jerry-AWS commented on #542
Maybe a version mismatch check could be added to `cdk doctor`?

[2020-07-07 19:24] salsa2k commented on #8908
With the cdk 1.5.0 I'm now able to "create" like that:

[code]

The only problem here is, that mapping doesn't get applied at the same time of the api.
This means, that I need comment out the mapping section, deploy the stack, then uncomment the mapping section and deploy again to make it work.

I'm getting this error:
[code]

[2020-07-07 19:37] skinny85 commented on #8774
Approved - I don't want to keep the interwebs waiting! 😅

Thanks so much for taking care of this issue @nonken !

[2020-07-07 19:56] #8774 closed

[2020-07-07 21:37] lanefelker commented on #8841
I'm encountering the same problem

[2020-07-07 21:53] mikestopcontinues commented on #5700
I think this issue might be closable. @jogold can you confirm?

[2020-07-07 22:13] skinny85 commented on #7777
Hey @jimfum ,

could your problems be possibly related to #7995 ?

Thanks,
Adam

[2020-07-07 22:51] djheru commented on #5971
I am trying to accomplish something very similar. When the stack is first deployed, I would like to pass the `taskImageOptions` an image created using `ContainerImage.fromAsset` and local assets. I have a pipeline set up as part of the stack, where pushes to CodeCommit will trigger a build from CodeBuild and then an ECS Deployment. I also have a pipeline for CDK itself, to deploy CDK changes. My g

[2020-07-07 23:18] Jerry-AWS commented on #7463
I've recently added a section on using Cfn constructs to the Constructs topic in the Dev Guide.

https://docs.aws.amazon.com/cdk/latest/guide/constructs.html#constructs_l1_using

I'd be interested in feedback (here, at the Guide repo, by clicking the feedback link on docs.aws.amazon.com...)

[2020-07-07 23:18] Jerry-AWS commented on #4497
https://docs.aws.amazon.com/cdk/latest/guide/resources.html#resources_removal

[2020-07-07 23:23] Jerry-AWS commented on #5981
This issue has been addressed (and documented in the CDK Guide).

https://docs.aws.amazon.com/cdk/latest/guide/context.html
https://docs.aws.amazon.com/cdk/latest/guide/featureflags.html

[2020-07-07 23:24] #5981 closed

[2020-07-07 23:24] #4497 closed

[2020-07-07 23:25] Jerry-AWS commented on #3263
Or maybe `cdk ls` should show the resource count next to the stack name...

[2020-07-07 23:33] reisingerf commented on #8043
Thanks for the update!

[2020-07-07 23:39] skinny85 commented on #6713
We decide to forgo this large "reboot" in favor of incremental improvements, and minimizing breaking changes.

[2020-07-07 23:39] #6713 closed

[2020-07-07 23:39] kenkit commented on #5889
Possible way to circumvent this is switching regions.
But remember you can run out of regions.

[2020-07-08 00:15] skinny85 opened #8932 "Finalize the design of ParameterGroup in RDS"
The current `ParameterGroup` class in RDS leaves a lot to be desired.

1. The naming is a little weird - right now, we have 2 classes, `ParameterGroup` and `ClusterParameterGroup`, that implement the `IParameterGroup` interface. The first one should probably be called `InstanceParameterGroup` instead.
2. It doesn't seem to be a great experience to have 2 basically identical classes there at all. I