[2021-06-07 20:29] #14710 closed

[2021-06-07 20:37] alukach commented on #12472
I'm taking a crack at this is #14908 however am a bit strapped for time.  If anyone would like to pair on it, please take a 👀 and provide comments on that PR.

[2021-06-07 20:49] #14972 closed

[2021-06-07 20:57] hoegertn commented on #14967
I am still hoping for an esbuild plugin for ES5. But I am completely open for any other ideas how to transpile this. I did not have the time to try webpack for this.

[2021-06-07 21:49] NGL321 commented on #12289
Thank you for submitting this @itzhapaz!

We have gotten a request for this from an external source, so I am bumping this feature-request.

😸 😷

[2021-06-07 22:06] shivlaks commented on #12757
@joehillen thanks for that! corrected.

[2021-06-07 22:35] shivlaks commented on #12757
update: checking with the Step Functions team whether they're aware of these changes given that it's still not [documented](https://docs.aws.amazon.com/step-functions/latest/dg/connect-glue.html)

#### Remaining
- [ ] model the `NumberOfWorkers` and `WorkerType` properties
  *  one thing to consider is whether they're supported as dynamic properties (can be supplied through JSON Path) which will d

[2021-06-07 23:52] BenChaimberg commented on #15014
smaller reproducible example without SSM:
[code]

[2021-06-08 01:52] karthikns16 opened #15019 "(s3-deployment): deployment fails if retain_on_delete=False"
s3-deployment fails to deploy when the bucket is recreated

### Reproduction Steps

* Deploy this stack
[code]

* the stack will deploy successfully
* Now make an ID change to DataBucket1 in Line 11 of the code snippet
* Redeploy the stack

### What did you expect to happen?

* A new bucket would get created
* The files would get deployed

### What actually happened?

![image](https://user-images.

[2021-06-08 03:54] shubham391 commented on #14710
@peterwoodworth Thanks for your response. I ended up installing CDK via Homebrew rather than directly via npm. Upgrades happen just fine with Homebrew.

[2021-06-08 04:25] michaelbrewer commented on #1293
Unfortunately, my attempt to add Gradle was rejected (fyi: @eladb)

[2021-06-08 04:42] thantos opened #15021 "(apigateway): fromRestApiAttributes always takes account and region from stack"
Policy created by `CallApiGatewayRestApiEndpoint` for cross account Apis is created for a reason in the current account, not the target account.

### Reproduction Steps

[code]

### What did you expect to happen?

Create a valid role which allows step functions to make a call to API Gateway,

[code]

### What actually happened?

A role is created, assuming the api gateway endpoint is in the curren

[2021-06-08 05:05] thantos opened #15022 "(aws-stepfunctions-tasks): CallApiGatewayRestApiEndpoint doesn't support json path for path field."
Sometimes API Gateway paths need to use variables from the state machine state, but this task will fail when computing the arn from Api Gateway.

### Reproduction Steps

[code]

### What did you expect to happen?

Path should be a computed path, resource arn should reflect a wildcard for the path.

### What actually happened?

[code]

https://github.com/aws/aws-cdk/blob/52c443474a97a6f8d5cac402e9c

[2021-06-08 05:38] codeedog opened #15023 "(aws-lambda-nodejs): redeploy triggers when no code changed although root directory changed"
If we have a function with node_modules and an included sub module, `cdk deploy` triggers a re-deploy without any code changes to a lambda function, but with a file path change to the root source directory.

Assume a lambda function that requires a module and that has a submodule. If the root directory of the project changes (for example, is in a second cloned git repository or is on another machi

[2021-06-08 06:07] revmischa commented on #15000
Okay must be something wrong on my end, thanks

[2021-06-08 06:07] #15000 closed

[2021-06-08 07:22] Flauschbaellchen opened #15024 "AWS::IAM::Role of an instance cannot be automatically deleted"
If deleting an Auto-Scaling-Group or a LinuxBastionHost, the linked IAM instance role cannot be deleted as an attached AmazonSSMManagedInstanceCore policy blocks the deletion.

### Reproduction Steps

Create a minimal LinuxBastionHost or an Auto-Scaling-Group, e.g.
[code]

### What did you expect to happen?

On stack deletion all components should be deleted cleanly.

### What actually happened?

[2021-06-08 07:36] lavie opened #15025 "aws-ecs: wrong cfnspec for EFS volume configuration (casing issue)"
CDK currently generates two resources with casing mistakes when `EFSVolumeConfiguration` is specified for task definitions.

`EfsVolumeConfiguration` should be
`EFSVolumeConfiguration`

`FileSystemId` should be
`FilesystemId`

The corresponding test is also wrong:
https://github.com/aws/aws-cdk/blob/23986d70c5cd69ce212b5ffdc1bcf059f438f15b/packages/%40aws-cdk/aws-ecs/test/ec2/ec2-task-definition.t

[2021-06-08 09:21] covertbert commented on #14967
Fair enough, makes sense! I will see if I can contribute to this in some way. Thanks for all your work on this anyway!

[2021-06-08 09:31] mwiarda-fette opened #15028 "(aws-cdk/aws-amplify): basicAuth cannot be removed"
Hi,

basicAuth can be enabled on an amplify application using the cdk.
Unfortunately, that setting can not be reversed. The cloudformation template changes but basic auth is still active in amplify.

### Reproduction Steps
1)  Create new amplify app with basic auth:

[code]
2) Website should now be password protected
3) Remove line basicAuth: amplify.BasicAuth.fromCredentials("admin", this.secret.

[2021-06-08 09:59] chtpl opened #15029 "aws-apigatewayv2: CfnApi how to get API ID"
I want to create a route 53 record and pass the API ID (the few cryptic character string) to my backend which it uses to construct the API URL inside my backend code

It is not clear to me where I can get a string value with the API ID on the CfnApi object (note that I don't mean the ID that I have given it in the constructor)

[code]
---

This is a 📕 documentation issue

[2021-06-08 10:52] chtpl commented on #15029
Figured it out I think:

[code]

[2021-06-08 11:39] trevorrobertsjr commented on #15007
Thank you for the suggestion. CDK 2.0.0 rc6 did not have L2 constructs for CloudFront Functions (at least, I could not find them). My code worked after I changed back to CDK 1.0.7 and used the L2 construct syntax (i.e. newFunction instead of NewCfnFunction). There were differences in the syntax between the L1 and L2 functions, and I adjusted accordingly for the deploy to succeed.

Any ideas why th

[2021-06-08 12:16] smmnloes commented on #10841
+1
In the current state it is not possible to have a stack containing an ES-Domain be accessed by other stacks via exports, unless the stacks are deployed together (which in our case they are not, they live in different repos).
This would be a really useful feature if tokens would work.

[2021-06-08 12:19] JacobTheEvans commented on #13127
I am experiencing the same issue did you ever find a work around @tai-acall?

[2021-06-08 13:58] jpSimkins commented on #15010
6 days now... I cannot re-deploy the stack either
[code]

[2021-06-08 14:16] #15029 closed

[2021-06-08 14:20] OzoTek opened #15032 "(aws-lambda): Tags are not propagated to LogRetention lambda"
When applying tags to a stack, they're supposed to propagate to all the children resources created inside this stack.
When creating a [Function](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html) and passing the `logRetention`, another Function is created automatically, and tags don't seem to be applied to this resource as it is for other resources.

The `AWS::IAM::

[2021-06-08 15:12] #14351 closed

[2021-06-08 15:12] rix0rrr commented on #14351
Great to hear that you figured it out!

[2021-06-08 15:14] #14701 closed

[2021-06-08 15:16] rix0rrr commented on #14995
Problem with the spec?

[2021-06-08 15:17] rix0rrr commented on #15024
Did `AmazonSSMManagedInstanceCore` get attached by some other mechanism after creating the Role using CloudFormation?

By hand using the console, by using some script, by using the CLI, ... ?

[2021-06-08 16:49] Glyphack opened #15033 "(stepfunctions-tasks): PutEvent task"
I see Task class in aws_stepfunctions is breaking into specific tasks and move to aws_stepfunctions_tasks. and recently eventbridge integration introduced for stepfunctions. I think it's appropriate to have EventBridgePutEvent task here.

### Use Case
using stepfunctions integration with EventBridge
https://docs.aws.amazon.com/step-functions/latest/dg/connect-eventbridge.html

### Proposed Solutio

[2021-06-08 17:30] AdeboyeML commented on #11154
Thanks @mfm24!! for ☝️..works as expected

[2021-06-08 17:38] #14607 closed

[2021-06-08 17:52] bluesun33 opened #15035 "(aws-cdk): add "diode" to service principal exceptions"
Add "diode" to service principal exceptions.

### Use Case

Per Amazon internal docs, diode uses the Service Principals "diode.sc2s.sgov.gov" and "diode.c2s.ic.gov" for Secret and Top Secret regions, but the current code always returns "diode.amazonaws.com" when we specify the above SPs.

### Proposed Solution

Proposing to add exceptions for diode to allow for the partitional principal [here](htt

[2021-06-08 19:07] daniel-michael38 opened #15036 "StageProps.MethodOptions: / is being replace by ~1 in ResourcePath"
## :question: General Issue

### The Question
I'm utilizing AWS's CDK to develop our API layer. Everything has worked so far and now I am adding in caching. I enabled CacheCluster in the stage and am trying to enable it for a handful of my endpoints. The problem I am facing is the CDK is changing the resource path from something like `/v1/configuration` to `/~1v1~1configuration`. I've tried escapi

[2021-06-08 19:50] tevans-submittable commented on #6819
In the meantime you can keep sensitive values out of source control with pulling the value at synthesis, but depending on how you manage the CDK output and Cfn permissions this value will still be exposed.
[StringParameter.ValueFromLookup(this, "my-plain-parameter-name");](https://docs.aws.amazon.com/cdk/latest/guide/get_ssm_value.html)

[2021-06-08 20:19] peterwoodworth commented on #15036
Hey @daniel-michael38,

This is actually intended functionality. According to the [cloudformation docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-apitgateway-stage-methodsetting.html#cfn-apigateway-stage-methodsetting-resourcepath) `Forward slashes (/) are encoded as ~1 and the initial slash must include a forward slash`

You can see how the CDK does this here:

[2021-06-08 20:49] mitchlloyd opened #15038 "(log-retention): Using Node 12.x lambda when a new LTS is available"
## :question: General Issue

As I'm upgrading CDK in many projects to remove EOL Node 10.x lambdas, I'm seeing an upgrade go from 10.x -> 12.x instead of the expected 14.x (current LTS). This means that I'm going to need to revisit this upgrading process sooner than if this were set to 14.x.

This construct is specifying `'nodejs12.x'` https://github.com/aws/aws-cdk/blob/b1ecd3d49d7ebf97a54a80d067

[2021-06-08 21:44] skinny85 commented on #14995
Hey @OksanaH,

the property `objectLambdaConfiguration` is not a dictionary, but a well-typed object, of type `CfnAccessPoint.ObjectLambdaConfigurationProperty`:

[code]

Hope this helps!

Thanks,
Adam

[2021-06-08 22:23] Matt-Butler opened #15039 "(aws-appsync): Bad error message - Missing default OIDC Configuration"
https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-appsync/lib/graphqlapi.ts#L498

if (mode.authorizationType === AuthorizationType.USER_POOL &amp;&amp; !mode.userPoolConfig) {
  throw new Error('Missing default OIDC Configuration');
}

----

 throw new Error('Missing userPoolConfig');

[2021-06-08 22:53] blaenk opened #15040 "(aws-msk): Missing L2 Cluster construct in 2.0 RC"
I'm not sure if this is a bug or not, I'm not sure what the strategy is with version 2 RCs, maybe you're not merging in new features since the 2.0 RC came out?

Specifically, it seems that PR #9908 which added the MSK L2 construct for a Cluster and was released as part of [1.103.0](https://github.com/aws/aws-cdk/blob/master/CHANGELOG.md#11030-2021-05-10) never got into the RC line, but maybe this

[2021-06-08 22:56] #14895 closed

[2021-06-08 23:44] peterwoodworth commented on #15039
Hey @Matt-Butler, can you more clearly state what the problem here is? Thanks.

[2021-06-09 00:22] peterwoodworth commented on #15038
Thanks for this submission @mitchlloyd, would you like to go ahead and implement this fix?

[2021-06-09 00:37] #14730 closed

[2021-06-09 01:21] #15036 closed

[2021-06-09 01:43] bryanmig commented on #14696
For me it turned out to be a dependency conflict - I ha copied some example code which used an old/incompatible version.  Once I updated, the issue was gone.

[2021-06-09 02:19] yukihato commented on #4241
+1

[2021-06-09 03:32] mmccall10 commented on #13269
Spent many hours debugging and working around the `only one resolver is allowed per field` CFN error and the detached resolver issue. Have not encountered these problems since we started creating the resolver from the api construct and not the datasource.

[2021-06-09 03:57] briancaffey commented on #14933
@zxkane I am experiencing the same issue with `KubernetesObjectValue`. It would be nice if this worked correctly. I'm currently getting around this by annotating my Ingress:

[code]

 and then doing a `.fromLookup`:

[code]

Then I can do:

[code]

[2021-06-09 04:51] tai-acall commented on #13127
I have side containers in my work, so I let the memory limitation of ECS service as variable then setting each container limitation separately. that will trigger the deploy process because the task definition will be changed while the ECS service limit be changed and limitation of each container will be changed too.

ex:
ECS Service memory = 1024
Container A memory usage limit = 512
Container B me

[2021-06-09 05:22] Matt-Butler commented on #15039
In this case, the user isn't missing the OIDC configuration. The user is missing userPoolConfig.

Expected:
[code]

Actual:
[code]

[2021-06-09 06:41] adriantaut commented on #14696
I agree, I will close the issue. Many thanks!

[2021-06-09 06:41] #14696 closed

[2021-06-09 09:19] luchees commented on #10901
I am experiencing exactly the same issue in typescript. I'm using cdk 107.0.
After the fix of @jpSimkins  I was able to resolve it.

EventRule generated by the `EcrSourceAction` that does not trigger the pipeline
[code]

EventRule Created by the workaround of @jpSimkins that does trigger the pipeline
[code]

[2021-06-09 09:40] mteichtahl commented on #15025
I have also experienced this bug with the same symptoms and reproducibility. This is a significant issue for those needing to mount EFS volumes to a garbage container.

[2021-06-09 09:47] JacobTheEvans commented on #13127
Thanks @tai-acall ! I found a different solution.

**Solution**
As I dug deeper what I found was that memoryLimitMiB and cpu in ApplicationLoadBalancedFargateService is not used as the default for the containers. I went into the documentation [here](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecs-patterns.ApplicationLoadBalancedFargateService.html#memorylimitmib) and found the fol

[2021-06-09 10:06] namedgraph commented on #8396
@bollig what is the workaround mechanism here?

I want to set `NetworkLoadBalancedEc2Service.domainZone()` if `HostedZone` is provided, but not sure how to do it with `Fn.conditionIf()` since it provides a string and not an object :/

[2021-06-09 11:23] markusl commented on #10151
I believe this has been fixed as part of some other issue. Assets currently build in a VPC when specifying a vpc parameter for the CDK Pipeline.

[2021-06-09 11:23] #10151 closed

[2021-06-09 12:14] danielwoerner opened #15047 "(aws-logs): FilterPattern.stringValue creates invalid metric filter pattern"
Creating a filter pattern for a metric filter via the `FilterPattern.stringValue()` method, results in an `InvalidParameterException` when deploying via `cdk deploy`.
`cdk diff` does NOT fail and correctly shows the MetricFilter.

### Reproduction Steps

[code]
deploy via `cdk deploy`

### What did you expect to happen?

I want to create a metric filter for having API Gateway HTTP Errors as CloudW

[2021-06-09 13:23] bollig commented on #8396
See
https://github.com/aws-samples/no-tears-cluster/blob/31d881b9a7fc864bf01538fb05266978cb8562c6/pcluster/pcluster_stack.py#L140
for the working solution and full context.

Cheers,
-E

On Wed, Jun 9, 2021 at 5:07 AM Martynas Jusevičius ***@***.***>
wrote:

--
-Evan Bollig
***@***.***
***@***.***

[2021-06-09 13:25] rcollette opened #15050 "(aws-ecs-patterns): ApplicationLoadBalancedFargateService - Add AAAA DNS record for IPV6 Support"
Include AAAA DNS record in Route53

### Use Case

We have government customers that are requiring IPV6 functionality from our services.   The ALB fully qualified host names being referenced by A records already have 'dualstack' in them, which indicates an intent to support IPV6, but the AAAA record to publish the actual IPV6 address is not created by this CDK construct.

### Proposed Solution
Add

[2021-06-09 13:50] SeekerWing opened #15051 "(ecs-patterns): Add ability to configure VisibilityTimeout"
VisibilityTimeout determines the time taken to process a single message. For the default queue created by the pattern, this parameter is not configurable. This is an issue where processing messages takes longer than 30 seconds.

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-06-09 14:04] danielwoerner commented on #15047
after some troubleshooting, i think I know where the issue is:

the FilterPattern should look like this:
`{ ($.status = \"400\") }`
or
`{ $.status = \"400\" }`

In the template which was generated by my code `$.` is missing.
I'll try again with using

[code]

as the filter pattern. Should this work, this bug report can be closed, although the question remains, if this way of accessing the JSON fie

[2021-06-09 14:29] relm923 opened #15054 "(aws-lambda-nodejs): support overriding project root"
The current logic assumes the lambda project root is where the lock file lives ([link](https://github.com/aws/aws-cdk/blob/52da59c34c4be74d696af0637521eeb0d6e69fa9/packages/%40aws-cdk/aws-lambda-nodejs/lib/bundling.ts#L177))

This assumption is accurate for simple Node repos but breaks down in more complex codebases like mono-repos (lerna/rush)

### Use Case
Some complex codebases have a repo wide

[2021-06-09 14:33] danielwoerner commented on #15047
What I stated in my previous comment made it work.
So I guess this bug report is invalid and can be closed.

[2021-06-09 15:18] jefftham opened #15056 "(pipelines): redundant default installCommand"
https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/pipelines/lib/synths/simple-synth-action.ts#L210

as document stated, developer pass either `installCommands` or `installCommand`.
However, `installCommand` is default it anyhow.

### Reproduction Steps

 synthAction: SimpleSynthAction.standardNpmSynth({
        sourceArtifact,
        cloudAssemblyArtifact,
        environment: {

[2021-06-09 15:43] otaviomacedo commented on #14898
Fixed by #15046.

[2021-06-09 15:43] #14898 closed

[2021-06-09 16:14] otaviomacedo commented on #15040
Hi, @blaenk

This is expected. Version 2 of the CDK is still in developer preview. During this phase, it won't be possible to use experimental modules. So you basically have two options: use v1 or wait until v2 is released to general availability later this year.

[2021-06-09 16:14] #15040 closed

[2021-06-09 16:44] alexs20 opened #15057 "(aws-cloudformation): Problem deleting stack with NLB and EIP attached to it"
Deleting stack that has Network-Load-Balancer with two Elastic IP addresses attached creates an error "API: ec2:disassociateAddress You do not have permission to access the specified resource."

### Reproduction Steps

Create stack using this template (please note it has subnet definition missing, use any public subnet)
[code]

### What did you expect to happen?

The stack should be deleted, NLB d

[2021-06-09 16:47] jstag711 commented on #11208
Honestly... what?

"property" is a synonym for "attribute". This is very unintuitive behavior by CDK and should be treated as a bug.

I am tired of AWS employees blaming issues on cloudformation. I've seen it time and time again. Cloudformation is part of AWS AFAIK, so maybe you should improve that product instead of offering all of these workarounds in github bug reports.

It's ridiculous how man

[2021-06-09 16:48] rgustafson-ie opened #15058 "aws_kinesisanalytics_flink: Unable to set application name via L2 construct"
Setting the application name for a KDA Flink Application using the L2 construct constructor does not take effect.  An internally generated name is still used.

### Reproduction Steps

[code]

### What did you expect to happen?

The `ApplicationName` should be set on the `AWS::KinesisAnalyticsV2::Application`.

### What actually happened?

The `ApplicationName` is not present, which results in a ge

[2021-06-09 17:16] mitchlloyd commented on #15038
@peterwoodworth I'd be happy to create a PR.

Is there a reason we want to avoid a dependency on the `aws-lambda` package for the log-retention and customer-resource-provider modules? I imagine in the pre-monocdk/v2 era it made sense to avoid pulling in sibling service packages when possible. Going forward do we still want these packages to remain independent from `aws-lambda`? If not, it may make

[2021-06-09 17:18] jindriago-scf commented on #5819
@skinny85 made a cool post working this thing around!

https://www.endoflineblog.com/cdk-tips-03-how-to-unblock-cross-stack-references

If your CDK version is grater than 1.90.1 you can do:
`this.exportValue(bucket.bucketArn);`
where `this` is the `Stack` instance.

[2021-06-09 17:21] Flauschbaellchen commented on #15024
Hi @rix0rrr,

sorry for the report. It seems that the organisation set up some lamda function/hooks within the account to inject those policies automatically.
Since this was just about the time I updated the CDK, I figured this would be a bug. :see_no_evil:

Thanks anyway for pointing me in the right direction.

[2021-06-09 17:21] #15024 closed

[2021-06-09 17:24] skinny85 commented on #11208
That's fair @jstag711. Apologies for the bad experience.

[2021-06-09 17:24] iRoachie commented on #10534
@eikeon waiting on review for https://github.com/aws/aws-cdk/pull/14853

The default case is handled - https://github.com/aws/aws-cdk/pull/14853/files#diff-bd5f262e88889ac7224d414c05765806bf9a20d2c12d45f6db521f2d4c05f8ebR29-R46

[2021-06-09 17:28] #14824 closed

[2021-06-09 18:13] MightyCrabKing opened #15059 "Windows Subsystem for Linux Support (SyntaxError: Unexpected token 'export')"
Hi,

I'm currently trying to setup a new project with the CDK however im experiencing the following error after install:

cdk --version
/usr/local/lib/node_modules/aws-cdk/node_modules/uuid/dist/esm-browser/index.js:1
export { default as v1 } from './v1.js';
^^^^^^

SyntaxError: Unexpected token 'export'
    at wrapSafe (internal/modules/cjs/loader.js:984:16)
    at Module._compile (internal/modul

[2021-06-09 18:37] jessekrubin commented on #14885
@iliapolo Yes I can. sorry for the late reply. Was on vacation.

[2021-06-09 19:57] bweigel commented on #8863
I have not worked on this (at least to the point where it is worthy of a pr), bc my focus at work had shifted in the meantime.

[2021-06-09 20:05] lenonestrella commented on #10850
Hi, we have a separate cdk app for deploying all of our monitoring resources, and this feature would be helpful for us. Right now we are relying on creating and managing each of those metrics, which has proved to be a big effort.

In addition to ApplicationTargetGroup and ApplicationLoadBalancer, there are several other resources whose metrics could be exposed on the interface. Should I create a f

[2021-06-09 20:29] peterwoodworth commented on #14880
@stefwoj I've been researching this, neither the `fromRestApiId` or `fromRestApiAttributes` functions have the ability to return the `deploymentStage`. They don't actually get data from AWS, so there's no way to get the deployment stage of an existing Api. Our imported resources are typically pretty barebones and minimal, however there are some exceptions. Unfortunately though, this isn't an excep

[2021-06-09 20:33] peterwoodworth commented on #15039
Thank you for clarifying, is this something that you'd like to fix yourself? I'd be happy to take a look at the PR you make

[2021-06-09 20:35] peterwoodworth commented on #15038
If we have a dependency on `aws-lambda` in `aws-logs` it will create a circular dependency, so hardcoding it in this case is a good call 😄

[2021-06-09 20:52] mbonig commented on #14690
I am using nvm and I'm seeing this.

[2021-06-09 20:57] peterwoodworth commented on #15059
Hey @MightyCrabKing, sorry you're having trouble with this.

Have you used the CDK before? Typically I upgrade my version by running `npm uninstall -g aws-cdk` then running `npm install -g aws-cdk@latest`

[Here's the docs](https://docs.aws.amazon.com/cdk/latest/guide/getting_started.html#getting_started_prerequisites) for all the prerequisites to using the CDK

If you're still having issues let m

[2021-06-09 21:15] keirwhitlock commented on #6240
Any update on this bug. I can't see why cdk would force you to create a task definition; rather than import an existing one via the class methods available and use that.

[2021-06-09 21:19] #11902 closed

[2021-06-09 21:31] mmuller88 commented on #10464
Until then you can hack the cdk a bit like that

[code]

[2021-06-09 21:55] peterwoodworth commented on #15058
Thanks for submitting this - you're right, changing the applicationName does nothing for the L2 construct. I've submitted a PR for this

[2021-06-09 22:16] #14477 closed

[2021-06-09 23:08] peterwoodworth commented on #14724
Hey @lucaswilric are you interested in creating a feature request out of this issue?

[2021-06-09 23:47] hoegertn commented on #15056
@rix0rrr should we just clean this up and use the new args only? I added testCommands so I could cleanup the rest. But it would be a breaking change.

[2021-06-10 02:35] MrArnoldPalmer commented on #15025
TLDR: This validation message is a warning, if you're stack is failing to deploy it's because of another problem. If it's unclear in the cloudformation console check out ECS console and look at your stopped tasks during the stack deploy to find the error messaging. We will fix this in 2.0!

So we know about the incorrect casing on these properties, but it doesn't cause the stack deploy to fail. Wh

[2021-06-10 02:37] MrArnoldPalmer commented on #14118
Hey everyone, check out [this comment here](https://github.com/aws/aws-cdk/issues/15025#issuecomment-858233367) for an explanation. I'm closing this in favor of #15205 since they are the same issue. Add comments/responses there please 🙏🏻

[2021-06-10 02:37] #14118 closed

[2021-06-10 03:10] mteichtahl commented on #15025
A hack approach to remove those warnings

[code]

[2021-06-10 04:59] uqahump3 opened #15061 "(apigateway): Support naming integrations"
The apigateway.MockIntegration feature is used to let API Gateway return a response without sending the request further to the backend. This is very helpful in the use case provided for CORS responses.
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.MockIntegration.html

The MockIntegration needs to add support for naming the integration. This will allow for better integrat

[2021-06-10 07:09] rehanvdm commented on #9327
Author of the comment that is referenced in this ticket. It has been a few versions since that was posted and no longer works. I took some inspiration from @nija-at comment above. Rather extending the class as I did in the old method than using Aspects that apply it over all the whole API GW methods. So my alternative updated version that seems to work:

[code]

[2021-06-10 07:10] rehanvdm commented on #5774
Does not work anymore since the Method signature changed, refer to the newly opened ticket addressing this and the new solution here: https://github.com/aws/aws-cdk/issues/9327#issuecomment-858372987

[2021-06-10 08:34] vkml opened #15062 "(@aws-cdk/aws-lambda): lambda asset created with Code.fromDockerBuild output empty .zip"
Trying to deploy EdgeFunction:
[code]
leads to a deployment error: `Uploaded file must be a non-empty zip (Serv
ice: Lambda, Status Code: 400, Request ID: 1745237f-146a-45e4-a67b-f918e8a4e5f9
, Extended Request ID: null)`.

### Reproduction Steps

Running `cdk deploy` with code snippet above

### What did you expect to happen?

Lambda@edge successfully deployed

### What actually happened?

Zip fi

[2021-06-10 09:12] honey-malviya commented on #5252
we need this feature too. please add it asap.

[2021-06-10 09:13] vipulp86 commented on #9369
Team, we need backtrack window parameter too in RDS CDK for DatabaseCluster. Is it being released soon?

[2021-06-10 10:57] westonsteimel opened #15063 "(@aws-cdk/aws-sqs): Support configuring high throughput for FIFO queues"
[High throughput mode](https://docs.amazonaws.cn/en_us/AWSSimpleQueueService/latest/SQSDeveloperGuide/high-throughput-fifo.html) on FIFO SQS queues is now generally available, and it would be convenient to be able to configure it via the CDK

### Proposed Solution

Allow setting the following queue attributes:

deduplication_scope:
- MESSAGE_GROUP
- QUEUE

Default: QUEUE

fifo_throughput_limit:
-

[2021-06-10 12:47] covertbert opened #15065 "package/tools: Force deploy flag does not work"
Running `cdk deploy stack-name --require-approval never --force` does not work. Specifically its skips updating the stack with `(no changes)` outputted in the command line. I've also tried the following patterns:

- `cdk deploy stack-name --force`
- `cdk deploy --force stack-name`

### Reproduction Steps

Repo is private so cannot link but simply running one of the above commands with cdk toolkit

[2021-06-10 14:09] ghost opened #15066 "Windows template version parsing failing to detect modern template"
When running `cdk bootstrap` attempting to combine the flags `--template` and `--cloudformation-execution-policies` I receive the following error.

[code]

Flag reference

[code]

I am using the template from https://github.com/aws/aws-cdk/blob/7966f8d48c4bff26beb22856d289f9d0c7e7081d/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml

When attempting this from a Linux shell it works fine.

[2021-06-10 14:19] nija-at commented on #15062
Hi @vkml -

To reproduce and further debug this issue, you will need to provide the contents of the folder `pathToLambdas`.

[2021-06-10 14:22] ben-mccown commented on #15066
Also relevant:

https://github.com/aws/aws-cdk/blob/0d00e50743074e31b40bcb46e6d4e0869a11419b/packages/aws-cdk/bin/cdk.ts#L364

[2021-06-10 14:52] #14143 closed

[2021-06-10 15:14] luckily commented on #5020
In progress. 🙂

[2021-06-10 15:20] mascarim9 commented on #15017
Would love to have the ability to give builders confidence when building against compliance frameworks like NIST or HIPAA. If we could reduce the time researching the attributes of a compliant "s3-bucket" and provide them a basic bucket with the required aspect. i.e. SSE-S3 at a minimum, AccessLogging=Enabled, BlockPublic=True

[2021-06-10 15:34] danwiltshire opened #15070 "(aws-codepipeline-actions): TagParameterContainerImage unusable cross-account"
Using `TagParameterContainerImage` as a property for a stack in a different account causes a resolution error.

### Reproduction Steps

[code]

### What did you expect to happen?

Stack `my-app` should reference the ECR repo from `my-pipeline`.

### What actually happened?

`Error: Resolution error: Resolution error: Resolution error: Resolution error: Resolution error: Cannot use resource 'my-app

[2021-06-10 16:11] MightyCrabKing commented on #15059
Interestingly if i prefix with npm i get a valid return, also using npx works for a local directory install.

$  cdk --version
/usr/local/lib/node_modules/aws-cdk/node_modules/uuid/dist/esm-browser/index.js:1
export { default as v1 } from './v1.js';
^^^^^^

SyntaxError: Unexpected token 'export'
    at wrapSafe (internal/modules/cjs/loader.js:984:16)
    at Module._compile (internal/modules/cjs/lo

[2021-06-10 16:46] mattchrist opened #15072 "‼️ NOTICE: aws-eks "error retrieving RESTMappings to prune: invalid resource networking.k8s.io/v1""
Please add your +1 👍 to let us know you have encountered this

---

### Status: IN-PROGRESS

### Overview:

Version 1.106.0 and later of the aws-eks construct library throw an error when trying to update a `KubernetesManifest` object, this includes objects used in the `cluster.addManifest` method.

#### Complete Error Message:

[code]

### Workaround:

Downgrade to version 1.105.0 or below

------

[2021-06-10 18:11] cervantn commented on #15035
Hello bluesun33,

I believe whatever AWS Diode documentation you're referring to is out of date. Please use the `diode.amazonaws.com` Service Principal instead in the Secret and Top Secret regions.

[2021-06-10 19:02] enterprisebuild-newforma opened #15074 "(@aws-cdk/aws-certificatemanager): DnsValidatedCertificate.applyRemovalPolicy not removing log groups in CloudWatch"
When deploying a stack with a `DnsValidatedCertificate` construct, a log group is created with the following naming convention: `/aws/lambda/stackName-acmConstructName-AbCdEf012345`

Upon destroying the stack, these log groups (sometimes more are created over time) remain as orphaned. This is also true even when calling the method `applyRemovalPolicy`.

The result is that the user must manually de

[2021-06-10 19:07] clemans opened #15075 "(@aws-cdk/aws-certificatemanager): DnsValidatedCertificate.applyRemovalPolicy() not deleting CloudWatch log groups"
### Brief Description

When deploying a stack with a `DnsValidatedCertificate` construct, a log group is created with the following naming convention: `/aws/lambda/stackName-acmConstructName-AbCdEf012345`

Upon destroying the stack, these log groups (sometimes more are created over time) remain as orphaned. This is also true even when calling the method `applyRemovalPolicy`.

The result is that th

[2021-06-10 19:19] #3721 closed

[2021-06-10 19:39] dayyehm opened #15076 "(module name): short issue description"
The documentation is missing the following regarding importing existing firehose stream to CFN stacks :
https://docs.aws.amazon.com/cdk/api/latest/docs/aws-kinesisfirehose-readme.html
This is for Firehose

We don't see a construct : "fromSteamArn" method on kinesisfirehose.CfnDeliveryStream,  is this a missing feature for this construct?

========The requirement is to import existing resource usin

[2021-06-10 20:02] #15035 closed

[2021-06-10 21:02] druska commented on #15063
As far as I can tell, these properties aren't even available in CloudFormation yet.
https://docs.amazonaws.cn/en_us/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-queues.html

[2021-06-10 21:37] levischuckeats opened #15077 "elasticloadbalancingv2: Fargate Target Groups use first port for all target groups"
While trying to follow the documentation for "Exposing multiple ports from the same container"
https://docs.aws.amazon.com/AmazonECS/latest/developerguide/register-multiple-targetgroups.html

I specified the
1. A container definition with two port mappings 8080, 50051 (grpc)
2. A single FargateService with that container definition, no other containers
3. created a target group for HTTP with the i

[2021-06-10 21:50] peterwoodworth commented on #15059
Interesting, thanks for following up. Ping me if you have any more troubles with this

[2021-06-10 21:50] #15059 closed

[2021-06-10 22:37] peterwoodworth commented on #14702
Hey @acomagu, sorry for the long response time.

Here's a template for what you'll want to input:

[code]

The [`fromString`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions-tasks.DynamoAttributeValue.html#static-fromwbrstringvalue) method can be a JsonPath 😄

[2021-06-10 22:37] #14702 closed

[2021-06-10 23:54] Seiya6329 commented on #10049
I was able to reproduce the error.

Although I am still investing the root cause, **I was able to avoid the error by** creating the `mesh` resource inside the `meshed-service-stack` instead of creating inside the `infrastructure-stack`.

For sample code. please refer https://github.com/Seiya6329/appmesh-cross-stack-bug/tree/wayaround

**Next step:**
Identify the root cause.

[2021-06-11 00:05] lucaswilric opened #15079 "(aws-eks): Ability to suppress selected warnings"
Introduce a means of selectively suppressing warnings

### Use Case

The `@aws-eks/Cluster` construct sometimes emits warnings for which the most appropriate response is to ignore them. See #14724 for an example of this.

Non-actionable warnings introduce a usability issue because they make it harder to spot warnings that do need action.

To remedy this, it would be useful to have some way of sele

[2021-06-11 00:07] lucaswilric commented on #14724
Thanks for the prompt @peterwoodworth. I have created feature request #15079.

[2021-06-11 00:07] #14724 closed

[2021-06-11 00:55] arnab opened #15080 "(DynamoDB): Enabling ContributorInsights (boolean flag) does not reflect in child/related resources (like GSIs and replication regions)"
CDK's support for [DynamoDB's ContributorInsights feature](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/contributorinsights_HowItWorks.html) is enabled via a simple boolean flag: [Table#contributorInsightsEnabled](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.Table.html#contributorinsightsenabled).

However, turning on this single boolean field does not

[2021-06-11 02:48] diegotry opened #15081 "(aws-stepfunctions): L3 Construct for API Gateway HTTP/REST Api Backed by Step Functions"
As a CDK user, I'd like to have a simpler way to create an API Gateway (either REST or HTTP) with Step Functions Synchronous Workflows. The new construct will be responsible for creating the API Gateway resources, connecting it to a Step Functions State Machine with the necessary permissions and predefined features.

### Use Case

I want to build APIs that are handled by Step Functions as my API o

[2021-06-11 02:57] BenChaimberg commented on #15081
Thank you for your feature request! This seems like a great pattern for customers, but would not really belong in this library as it is fairly abstract (an L3, as you point out). Check out awslabs/aws-solutions-constructs#145 for a better place, maybe you can help the design and implementation effort over there!

[2021-06-11 03:27] BenChaimberg commented on #15081
Actually, on a further look, this may be a good fit for [aws-apigatewayv2-integrations](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-apigatewayv2-integrations). What do you think, @nija-at?

[2021-06-11 03:33] diegotry commented on #15081
I believe we may offer two types of integrations - or maybe more. My intention is to use Synchronous Workflows from AWS Step Functions and not the standard workflows, which is asynchronous.

HTTP APIs -> Synchronous Workflows (cheaper and potentially faster), but without all the features from REST APIs.
REST APIs -> Synchronous Workflows (has input/output transformation, but it is more expensive a

[2021-06-11 04:21] nkumarkr01 commented on #8569
sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

The above code is ending with errors.

[2021-06-11 05:39] #14780 closed

[2021-06-11 06:53] peterwoodworth commented on #15079
I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-06-11 06:56] shubham391 commented on #7160
@shubhamjainy Yes. Container Insights requires the following components:
- Namespace
- Service Account (with Cluster Role and Binding)
- ConfigMap
- DaemonSet

You can find the definition of each component here: https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-setup-metrics.html

CDK supports creation of these components in EKS via the following methods:
- https://

[2021-06-11 07:16] peterwoodworth commented on #15065
I can't seem to reproduce this, what changes did you make to your stack?

[2021-06-11 07:28] peterwoodworth commented on #15076
Hey @dayyehm,

All our constructs starting with "Cfn" are [Level 1 resources.](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html#constructs_l1_using) Meaning they are imported from CloudFormation and have no additional functionality (such as importing). So unfortunately without an L2 construct this won't be possible.

[Looks like it's currently being worked on though!](https://github.co

[2021-06-11 07:28] #15076 closed

[2021-06-11 08:07] danwiltshire commented on #15070
Hey @skinny85 thanks, this got me a bit further.  I'm now getting another issue where the ECR policy principal is not valid.

**Error**: `Invalid parameter at 'PolicyText' failed to satisfy constraint: 'Invalid repository policy provided'`

**Cause**: The `Principal` field must contain an asterisk but instead references a full role ARN.

**Synthed CFN**:
[code]

**Working policy**:
[code]

**Other

[2021-06-11 08:34] covertbert commented on #15065
I didn't make any changes to my stack. My understanding is that the point of the force flag is that it will at least trigger Cloudformation regardless of whether you've changed anything and then Cloudformation will determine what needs updating and what doesn't. In reality, for me at least, the CDK CLI just skips it completely and Cloudformation is never triggered.

[2021-06-11 08:44] fkjellman commented on #5810
@njlynch This is exactly what I'm looking for, any progress or eta updates on this issue?

Thanks in advance!

[2021-06-11 08:48] FreeWillaert commented on #4323
Any news here?

[2021-06-11 09:12] njlynch commented on #15063
Thanks for the feature request!

As @druska points out (thanks!), it looks like this feature isn't available via CloudFormation yet. Once support is added there, we can introduce the support to the `Queue` construct.

[2021-06-11 09:24] njlynch commented on #15010
Hi @jpSimkins ,

I've not heard of Lambda@Edge functions persisting for multiple days like this before.

The resolution here likely lands outside the scope of the CDK itself, but here are some things I would try if I were you:
1. `cdk destroy` the stack you want to delete - I see logs above for doing a deploy/update, but attempting a delete/destroy might yield better results.
2. Try to delete the

[2021-06-11 09:24] #15010 closed

[2021-06-11 09:26] athewsey opened #15083 "(core|pipelines): Easily 'stage' a usable CloudFormation template with assets, like SAM"
(I've been looking at this use case for a while now and still not fully sure if I'm just missing some easy/obvious way to do this... If nothing else, would ask for the documentation to better reflect the use case!).

Looking for a straightforward way to "package" a CDK stack with basic assets (for me, mainly just Lambda function bundles) to a *human-usable* CloudFormation template:

- With the loc

[2021-06-11 09:36] nija-at commented on #15081
From a basic read of this issue, @BenChaimberg is right. This does not have to be an L3. It just needs to an aws service integration pattern.

We are tracking this already here - https://github.com/aws/aws-cdk/issues/11947.

Let me know if there are other reasons why being L3 would be advantageous.

[2021-06-11 09:42] devendra-kumar1 opened #15084 "Issue with conditions, intrinsic functions and CDK's construct non-string properties"
[code]

It is not allowing me to set **pointInTimeRecovery** to set it conditionally.

However i tried to set string type property it allowing me to do so.

Can you please help me out here ?
### Environment

  - **CDK CLI Version  :*1.90.0*
  - **Framework Version:**
  - **Node.js Version:*14.0*
  - **OS               :*windows*
  - **Language (Version):**  TypeScript (3.8.3)

### Other

---

This

[2021-06-11 10:02] chtpl commented on #2872
I still struggle to have my lambda triggered by the websockets API Gateway. I added the lambda as integration target but in the lambda the API Gateway does not occur as trigger. When trying to add it manually I can't even select the websockets API gateway

[2021-06-11 10:10] otaviomacedo commented on #14397
Hi, @rareelement

In your pipeline stack, you are [referencing the application stack template][1]. But you should also make sure that the asset has been uploaded to S3 by the time the pipeline template is deployed to CloudFormation. To do this, you'll need to use [cdk-assets] in one of your build specs.

Alternatively, you can try out [CDK Pipelines](https://aws.amazon.com/blogs/developer/cdk-pipe

[2021-06-11 10:11] njlynch commented on #14827
Sorry for the delay in response here.

The error here reflects a general limitation of CloudFormation, and by extension, the CDK. We generally cannot edit the definitions of existing, imported resources (without resorting to creating CloudFormation custom resources which make SDK calls). Adding a Lambda function to an app target group is accomplished by updating the [`targets`](https://docs.aws.am

[2021-06-11 10:11] #14827 closed

[2021-06-11 10:27] otaviomacedo commented on #14968
Got it. I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritizatio

[2021-06-11 10:41] otaviomacedo commented on #14973
@pachicoo can you please make sure that the IAM role or user that you are using to set the acceleration configuration has the `s3:PutAccelerateConfiguration` permission? For more information, see [Configuring Transfer Acceleration](https://docs.aws.amazon.com/AmazonS3/latest/userguide/transfer-acceleration.html).

[2021-06-11 10:51] danwiltshire opened #15086 "(aws-codepipeline): cross-account-support-stack customisation"
## :question: General Issue

### The Question
Is it possible to customise the `cross-account-support-stack` created by CodePipeline?  In my case I need to supply a permission boundary for IAM Roles to appease organisation config rules.

### Environment

  - **CDK CLI Version: 1.107.0 (build 52c4434)**
  - **Module Version: 1.107.0**
  - **Node.js Version: 14.16.0**
  - **OS: WSL2 (Ubuntu 20.04) on

[2021-06-11 11:18] njlynch commented on #14888
This works if the stack isn't environment-agnostic (e.g., the AZs are looked up by context). It doesn't work in environment-agnostic stacks because the value of `Stack.availabilityZones` isn't memoized; each time you call it, you'll get back new tokens representing the `Fn::Select` and `Fn::GetAZs` function calls. So `vpc.availabilityZones` is set to _a_ call to `stack.availabilityZones`, and your

[2021-06-11 11:26] plumdog commented on #14888
@njlynch Thanks for your response. No, this is not blocking me as my workaround is achieving what I need.

I hit this because I have a VPC using 2 AZs, and an EKS cluster, and when I tried to deploy a nodegroup into the private subnets in each AZ I was told that I had passed no subnets, which surprised me, and chased it back to the simple example above.

[2021-06-11 12:00] #14397 closed

[2021-06-11 12:10] AntonUspehov commented on #8799
@pkasravi It would be great if you could share the example of your solution or some snippet.

[2021-06-11 12:27] bgshacklett opened #15088 "Toolkit: Python application containing N+ Resources Crashes with error: `Malformed request, "API" field is required`"
My team has run into an issue with the CDK toolkit crashing when when reach a certain number of resources within our application. We've ended up having to split the application multiple times, at this point, to deal with this limitation, which does not appear to be documented.

Any operation which causes CDK to run `app.synth()` appears to result in a crash. This may be as simple as running `cdk l

[2021-06-11 12:37] Dachmian commented on #13269
Is this being worked on actively by the Appsync team?

The CFN error `only one resolver is allowed per field` has been reported on various forums, posts etc all the way back to 2018 and its seems like there is **complete silence from the Appsync team** on why this is happening and the only things you can find are various people suggesting different workarounds with renaming resources etc.

Can we

[2021-06-11 13:00] jpSimkins commented on #15010
Hello @njlynch,

The error I posted in the initial post was the `cdk destroy` response. I added the second error to show that a `cdk deploy` would not work either. I did try to delete the stack manually but I got the same error as was in the initial post. I even tried to delete the lambda function but that wouldn't work either. I did post in the forums as well but no response after a few days eith

[2021-06-11 13:04] iDVB opened #15090 "(aws-s3-deployment): Support "include" for Source.asset options"
Add support for `include` (not just exclude) to "Source.asset()" options.

### Use Case
Prerendered SPAs like GatsbyJS have a directory structure of assets that each have [specific caching requirements](https://www.gatsbyjs.com/docs/caching/).
In the before-CDK days, we would manage asset caching/uploading using a aws cli bash script to handle this.
As you can see below, this requires a strategic

[2021-06-11 13:14] iDVB commented on #15090
Actually, now that I see that in the CLI the order of the `exclude` and `includes` matter.... I'm not entirely sure how this can translate to Source.assets() neatly. But maybe I've not had enough ☕  yet? Thoughts?

[2021-06-11 13:59] nija-at commented on #10827
Nice. I'm glad you were able to figure this one out.

[2021-06-11 13:59] #10827 closed

[2021-06-11 13:59] BenChaimberg commented on #15021
As you point out, this is an issue with API Gateway, not with Step Functions. The solution will be to add `account` and `region` to [RestApiAttributes](https://github.com/aws/aws-cdk/blob/9718b393b6bb0f50ee4595591f6499f44800eafe/packages/%40aws-cdk/aws-apigateway/lib/restapi.ts#L639) so that they can be provided to the [constructor of `Import`](https://github.com/aws/aws-cdk/blob/9718b393b6bb0f50e

[2021-06-11 14:07] BenChaimberg commented on #15021
A more generic workaround than what is provided above would be to subclass RestApiBase like so:
[code]

[2021-06-11 14:33] romanolux commented on #8146
We wanted to add this vote as well to support this feature request; this would be very useful in several projects!

[2021-06-11 14:34] mlafeldt commented on #13971
Since this is still a problem and there's now a v2 template for Go, I had to update my workaround a bit:

[code]

[2021-06-11 14:37] hariseldon78 commented on #12610
I have the same problem. I'm using arch linux. The same build works fine on a Ubuntu vm.
It's 4 or 5 months already that I have to do my cdk development by ssh into a vm, with a sshfs file system to edit the code. `docker system prune` doesn't help, can anyone suggest any workaround?

[2021-06-11 14:44] bgshacklett commented on #15088
As I was writing a test case for this, I found that the most recent versions of CDK are at least resulting in a useful error in this situation:
[code]

I think it makes sense to close this issue, though a limit of 500 resources is super low given that CDK is supposed to be dealing with multiple stacks compiled into Applications _and_ CDK constructs often create many resources on their own.

[2021-06-11 14:53] #14038 closed

[2021-06-11 15:11] skinny85 commented on #15070
Hmm, but the error you get and the resolution don't match each other...?

[code]

This does not contain a `*` in the Principal of the Statement...?

[2021-06-11 15:14] BenChaimberg commented on #15022
[RestApiBase's `arnForExecuteApi`](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-apigateway/lib/restapi.ts#L364) needs to check if its arguments are unresolved Tokens and, if so, use wildcards instead.

Workaround is to subclass whatever REST API is being passed to CallApiGatewayRestApiEndpoint to override  `arnForExecuteApi` and modify the validation:
[code]

[2021-06-11 15:17] BenChaimberg commented on #15081
Closing in favour of the already open issue, any further discussion of the integration should be located there. Discussion of a possible L3 should occur in the solutions constructs issue mentioned above.

[2021-06-11 15:26] danwiltshire commented on #15070
Correct, that seems to be the second available solution.

If you were to take a role ARN and put an asterisk in, that works to.

[2021-06-11 15:35] MasonHM opened #15092 "(CfnInclude): Nested stack parameters must be strings"
When using the CfnInclude module to import a nested stack with a 'Number' parameter and the parent stack provides an unquoted number, CDK throws an error saying:
[code]

Changing the parameter to a quoted string (`60` --> `'60'`) in the parent template fixes the problem. In my case, this would mean changing the parameter format in dozens of locations, so I'd rather have CDK support number paramete

[2021-06-11 15:42] andreasanta commented on #5213
Hi everybody, do we have an ETA for this? It's important for our security.

[2021-06-11 15:48] #12654 closed

[2021-06-11 15:54] njlynch commented on #15007
I think this might be a bug in jsii that's Go-specific. I filed an issue https://github.com/aws/jsii/issues/2880 to track it. Please track the resolution there.

In the meantime, CDK 2.0.0 rc7 has the Function L2, which does work:

[code]

[2021-06-11 15:54] #15007 closed

[2021-06-11 16:36] bgshacklett commented on #15088
It would appear that I closed this issue prematurely. The limit that I saw was actually a per-stack limit, not a limit across the application. Effectively, my test case was wrong. In my additional attempts to replicate a proper test case, I've found that this seems to require more than a significant number of resources, but those resources must contain sufficient configuration detail to increase t

[2021-06-11 16:48] bttong opened #15093 "(LayerVersion): Logical ID must adhere to the regular expression"
[code]

### Reproduction Steps

Python code:

[code]

### What did you expect to happen?

Creating a Lambda layer
### What actually happened?

Encountered the following error when running cdk synth cli:
[code]

### Environment

  - **CDK CLI Version  :** 1.108.0 (build b23f781)
  - **Framework Version:**
  - **Node.js Version:**  v14.15.4
  - **OS               :** macOS Calalina
  - **Language (V

[2021-06-11 17:25] diegotry commented on #15081
Correct me if I'm wrong.

Integration pattern works for API-GW V2 (which is HTTP APIs product). The Step Functions integration with HTTP APIs needs a similar version of https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigatewayv2-integrations.LambdaProxyIntegration.html which is for Lambda.

For API-GW V1 (a.k.a. REST APIs) the integration is a bit different. This is the corresponding

[2021-06-11 18:20] peterwoodworth commented on #15061
Thanks for the feature request! How are you expecting to be able to add a name and get the name from the Integration?

[2021-06-11 18:28] ibrahimcesar commented on #15081
I was working in integrating API Gateway HTTP with Synchronous Express Workflows and this proposal is exactly "the missing link". I think these abstractions baked-in would be a huge leap for a better understanding (and use) of the potential Step Functions have. A perfect fit for checkout-like workflows to anyone using CDK.

[2021-06-11 18:40] skinny85 commented on #15086
Hey @danwiltshire,

today, there is not. However, you can simply pass your own `role` to the appropriate Action, and no `cross-account-support-stack` will be generated.

This way, you have full control over the entire Stack that Role belongs to, and you can customize it in whatever way you want.

Thanks,
Adam

[2021-06-11 18:41] skinny85 commented on #15070
But an asterisk where? 🤔 Just tack it on randomly at the end of the Role ARN?

[2021-06-11 19:05] skinny85 commented on #15093
Thanks for opening the issue @bttong , but isn't it obvious from the error message what is happening?

And you gave `"1"` as the logical ID.

[2021-06-11 19:06] peterwoodworth commented on #14695
I can reproduce this on both Typescript and Python. This is likely a bug as I can't get it to synth as an array, and looking at the implementation I can't find anything that would force it to be an array.

The [stepfunctions docs](https://docs.aws.amazon.com/step-functions/latest/dg/connect-api-gateway.html#connect-api-gateway-auth) confirm that an array is what stepfunctions expects

I was never

[2021-06-11 19:07] iDVB commented on #15090
UPDATE: Currently trying to formulate an complex exclude glob that negates to get what I would want...
My brain hurts already... closest I can get is what I want in an INCLUDE pattern
`{**/!(sw).js,**/*.css,/static/**}`
But struggling to get this inverted to work as an EXCLUDE.

[2021-06-11 19:13] peterwoodworth commented on #14715
Closing now because the bot missed it

[2021-06-11 19:13] #14715 closed

[2021-06-11 19:16] pkasravi commented on #8799
@AntonUspehov sure no problem!

[code]

[2021-06-11 19:19] #14164 closed

[2021-06-11 19:20] skinny85 commented on #15084
Hi @devendra-kumar1 ,

this is a limitation of the `Table` class. If you want to set it, you will need to use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to set it:

[code]

Thanks,
Adam

[2021-06-11 19:25] peterwoodworth commented on #13832
Closing because it seems like the issue has been solved, also has gone more than 2 weeks without response. Please ping me if you want to reopen this issue 😄

[2021-06-11 19:25] #13832 closed

[2021-06-11 19:27] peterwoodworth commented on #14437
Thanks for the update! I'll be closing the issue now, feel free to ping me if anyone wants to reopen this issue!

[2021-06-11 19:27] #14437 closed

[2021-06-11 19:29] peterwoodworth commented on #14452
Closing because issue has gone more than 2 weeks without response. Please ping me or Adam if you want to reopen this issue 😄

[2021-06-11 19:29] #14452 closed

[2021-06-11 19:30] peterwoodworth commented on #14489
Closing because it seems like the issue has been solved, please ping me if you'd like to reopen this 😄

[2021-06-11 19:30] #14489 closed

[2021-06-11 19:32] peterwoodworth commented on #14606
Closing because the bot missed this, been open for at least 2 weeks without a response. Please ping me if you want this issue to be reopened! 😄

[2021-06-11 19:32] #14606 closed

[2021-06-11 19:33] skinny85 commented on #15092
Thanks for reporting @MasonHM, confirming I was able to reproduce the error. Working on a fix.

[2021-06-11 19:39] peterwoodworth commented on #14700
Closing because it's been more than 2 weeks without a response (bot missed this!) Ping me if you'd like to reopen this issue 😄

[2021-06-11 19:39] #14700 closed

[2021-06-11 20:28] peterwoodworth commented on #14764
Hey @Insidexa, any update on the PR?

[2021-06-11 20:29] peterwoodworth commented on #14806
Closing because the bot missed this, has gone 2 weeks without response. Please ping me if you want to reopen this issue!

[2021-06-11 20:29] #14806 closed

[2021-06-11 20:29] iDVB commented on #9146
@danielsharvey We've been trying with both `GLOB` and `GIT` with almost exactly the same outcomes.
We still come up against the issue @Tehnix [points out](https://github.com/aws/aws-cdk/issues/9146#issuecomment-667108920). `['*.*', '!*.html']`

The closest we've come is using that method but with two issues:
1) It doesn't exclude files WITHOUT an extension (files that appear to be like directories

[2021-06-11 20:31] peterwoodworth commented on #14810
Closing because the issue has gone 2 weeks without a response, the bot missed this issue. Please ping me if you want to reopen this feature request!

[2021-06-11 20:31] #14810 closed

[2021-06-11 20:34] peterwoodworth commented on #14885
@jessekrubin are you still able to provide more information for this issue?

[2021-06-11 20:39] peterwoodworth commented on #12467
Closing because the bot missed this, please ping me or ryan if you need more help with this!

[2021-06-11 20:39] #12467 closed

[2021-06-11 20:53] skinny85 commented on #15080
Hey @arnab,

thanks for opening the issue.

1. GSIs: Yes, you're probably correct. We could do it automatically if `contributorInsightsEnabled`, or allow passing it in [`GlobalSecondaryIndexProps`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.GlobalSecondaryIndexProps.html). Which do you think is better?
2. Replica tables: I'm afraid I don't see a way to enable contributor

[2021-06-11 21:37] michanto opened #15100 "Stack override of addFileAsset not honored by Asset."
Asset class calls wrong function.

https://github.com/aws/aws-cdk/blob/3d4a13ee7ec241da72100c433a8728c40ca9f46e/packages/%40aws-cdk/aws-s3-assets/lib/asset.ts#L145

This line:
[code]

Should be:
[code]

### Reproduction Steps

Created an asset:
[code]

### What did you expect to happen?

I expected the bucket and zipFilePath to be correct (I use a stack that overrides addFileAsset)

### What actua

[2021-06-11 22:21] gshpychka commented on #10190
@rix0rrr Is this not planned anymore?

[2021-06-11 22:26] arraafat commented on #3260
Also when i run  [attach_managed_policy = iam.ManagedPolicy()] i got error [TypeError: __init__() missing 2 required positional arguments: 'scope' and 'id']

[2021-06-11 22:43] michanto commented on #15100
Oh my.  Now I realize that our internal stack is not compatible with new style stack synthesis.  This appears to not be a CDK issue.  Closing.

[2021-06-11 22:43] #15100 closed

[2021-06-11 23:11] Jerry-AWS commented on #14697
Reopening to remind me.

[2021-06-12 02:41] BenChaimberg commented on #14695
Confirmed that there is no easy way to get the headers field to be an array with the task token that does not trigger the error reported above (as supplying the literal string should work but the error is thrown because the CDK Token that represents the task token does not exist).

Further, using just the task token without an array as [specified in the unit tests](https://github.com/aws/aws-cdk/b

[2021-06-12 02:56] BenChaimberg commented on #14695
Marked as "small" effort since we can just change the exception condition to expect the very specific literal string `'States.Array($$.Task.Token)'`. However, the better way of going about this would be to generate the header based on the integration pattern. The even better improvement would be supporting arrays with JSON paths encoded using `States.Array`.

[2021-06-12 04:17] Insidexa commented on #14764
@MrArnoldPalmer @peterwoodworth Pull request - https://github.com/aws/aws-cdk/pull/15107
Sorry for long response

[2021-06-12 08:09] devendra-kumar1 commented on #15084
Thanks @skinny85 . It worked :)

[2021-06-12 08:09] #15084 closed

[2021-06-12 13:59] OksanaH commented on #14995
@skinny85 @rix0rrr Thanks, yes that works! And sorry for raising the bug!! Do you think it will be helpful to put an example in C# into the `aws-cdk-examples` repo? (unless it's going to be converted to L2 soon)?

[2021-06-13 02:03] brno32 opened #15108 "(aws-cdk.aws_ecs): get task definition name"
I'm outputting various resource names for my cloudformation stack, such as the ecs cluster name and the service name, but I'm not able to do the same for the task definition, as it doesn't have an equivalent method.

### Use Case

[code]

### Proposed Solution

Add a `task_definition_name` to the `FargateTaskDefinition` class which returns the name of the task definition. I believe in the task def

[2021-06-13 04:10] brno32 commented on #3908
I still think it would be useful to include `ssm:GetParametersByPath` in the allowed actions. Maybe an optional flag that must be explicitly set for it to be included would be a good compromise for those of us who want to grant access all willy nilly?

[2021-06-13 05:30] brno32 commented on #15108
Nevermind. I believe this is already supported via an attribute called `family`.

[code]

[2021-06-13 05:30] #15108 closed

[2021-06-13 05:36] #12544 closed

[2021-06-13 05:50] vitalii-boink opened #15109 "CloudFront: KeyGroup construct throws "Invalid Request""
Resource handler returned message: "Invalid request provided: AWS::CloudFront::KeyGroup"
The key is being created successfully, but the KeyGroup is raising an exception.

### Reproduction Steps

[code]

### What did you expect to happen?

A KeyGroup to be created

### What actually happened?

an Error while deploying, no error while synth

### Environment

  - **CDK CLI Version  :**
[code]
  - **F

[2021-06-13 07:13] vitalii-boink commented on #15109
Eventually I was able to figure it out. The problem was in the keyGroupName parameter - it must be a one_word, no spaces. Would be nice if the error was a bit more verbose.

[2021-06-13 07:13] #15109 closed

[2021-06-13 16:37] skotadia commented on #14629
I am using AWS SAM template. I believe, underneath, it is using aws cdk. I am getting same issue. I don't have an option of deletion of the stack or doing it manual. Do we have any workaround for aws sam CLI? Thanks

[2021-06-14 01:31] l0b0 commented on #9146
@iDVB `*.*` matches files containing a dot, so it makes sense that it doesn't match files without an extension. Use `*` instead.

[2021-06-14 01:37] mariobittencourt commented on #15081
Hi there, I am a bit confused about the current state of this issue. Will we have a v2 integration - like the lambdaproxy - for the API gateway so it enables us to startExecution/startSyncExecution of step functions without an in-between lambda?

[2021-06-14 01:46] JihnDai commented on #13792
This may be an issue with the underlying AWS SDK for Javascript ( https://github.com/aws/aws-sdk-js ) that is being used in this cli.

Testing with an upper-cased credential file in `~/.aws/credentials`, the JS SDK v2.927.0 also produced a similar error that says `Could not load credentials from any providers`. On the other hand, the Python SDK (Boto3) v1.17.93 worked regardless of whether it was

[2021-06-14 03:02] vitalii-boink commented on #15109
@njlynch would be nice to add a validation for the params! thanks in advance!

[2021-06-14 07:39] rrhodes commented on #11122
I may be mistaken, but this sounds like a duplicate of #2504.

[2021-06-14 07:40] christophgysin commented on #12610
@hariseldon78

[2021-06-14 07:53] rix0rrr commented on #14690
I wonder if it might be this bug: https://github.com/npm/cli/issues/3196

Which I *think* should have been fixed by this: https://github.com/npm/arborist/commit/2ead1e8588cc0cb424e577de9fc561f47d3eb8ab

Released in `@npm/arborist 2.6.1`, which should be in NPM 7.15.1.

Can you give upgrading to 7.15.1 a shot and then retrying? (Might be worth a clean install as well, just to be sure...)

[2021-06-14 08:30] rix0rrr commented on #14814
I wonder if you've also fallen victim to: https://github.com/npm/cli/issues/3196

Which I *think* should have been fixed by this: https://github.com/npm/arborist/commit/2ead1e8588cc0cb424e577de9fc561f47d3eb8ab

Released in `@npm/arborist 2.6.1`, which should be in NPM 7.15.1.

Can you give upgrading to 7.15.1 a shot and then retrying? (Might be worth a clean install as well, just to be sure...)

[2021-06-14 09:02] nija-at commented on #15081
@diegotry - I'm not able to follow all of your arguments or statements in your comment. Let me try and respond to the ones I did.
I'm also not very familiar with all of the various integrations available, so bear with me if I'm missing the obvious.

We should aim to also build the specific integrations in the AWS CDK. We could have a generic interface for AWS services that are not yet implemented

[2021-06-14 11:09] rix0rrr commented on #15047
The pattern is documented here: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-logs-readme.html#text-patterns

[2021-06-14 11:09] #15047 closed

[2021-06-14 11:10] rix0rrr commented on #15056
I am loath to break backwards compatibility, so preferably no.

[2021-06-14 11:12] rix0rrr commented on #15057
[code]

This indicates that the role you used to originally create the stack does not have the correct EC2 permissions. Does that ring any bells on your side on what might be the issue?

[2021-06-14 11:12] a-h opened #15114 "Go: AppRunner - failed mapping between fields and types"
## :question: General Issue

The generated Go code doesn't connect fields with the correct data types.

In the example below, the `CfnServiceProps` struct has a `SourceConfiguration` field, but this field is of type `interface{}` instead of the generated type`CfnService_SourceConfigurationProperty`.

[code]

This led me to (incorrectly) guessing at the config:

[code]

This resulted in incorrect S

[2021-06-14 11:44] danwiltshire commented on #15070
Yeah pretty much. I wonder if ECR just doesn't allow granting access to roles?  Looking at the AWS docs granting a role isn't listed: https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html

[2021-06-14 11:47] danwiltshire commented on #15086
Thanks.  So I've achieved this with a new stack in the target account.  Would there be any easy way to avoid cyclic dependencies if I wanted to dynamically populate information for the 'role stack' as the CDK does already with the default cross-account-support-stack?

[2021-06-14 12:45] pravan commented on #1882
I would recommend using (new URL(api.graphqlUrl)).hostname.

[2021-06-14 12:54] #15086 closed

[2021-06-14 13:09] rix0rrr commented on #15017
This is a great idea! We might prioritize it if it gets enough upvotes.

At the same time, I'd like to remind everyone that the CDK team aren't the only people that can write and vend CDK code. Community members could self-organize and build and publish it, without having to wait for us!

[2021-06-14 13:12] rix0rrr commented on #15083
At the moment, making template-agnostic stacks that use the `DefaultStackSynthesizer` seems like it would get you closest to what you want. Yes, this mechanism is required by CDK Pipelines, but it's also available independently of CDK Pipelines (that is: you don't need to make a pipeline to deploy these!).

I believe there's also an ongoing PR to add Service Catalog support. Maybe wait for that su

[2021-06-14 13:21] alanraison opened #15115 "ec2: look up AWS managed Prefix Lists"
There is currently no way to lookup the IP of an AWS-managed Prefix List (i.e. those for S3 and DynamoDB).

### Use Case

In order to use an S3 or DynamoDB Gateway endpoint, with a Security Group which allows only specific outbound access, it is necessary to lookup the `com.amazonaws.<region>.s3` or `com.amazonaws.<region>.dynamodb` Prefix List's ID. This is currently not possible.

### Proposed S

[2021-06-14 13:33] BenChaimberg opened #15116 "(glue): table read permissions contain BatchDeletePartition"
The table construct's [default read permissions](https://github.com/aws/aws-cdk/blob/fb0977ab6f58edc4713267db3a3a9305baf5f8ec/packages/%40aws-cdk/aws-glue/lib/table.ts#L403) (used in `grantRead*`) include "glue:BatchDeletePartition" which sounds off. Must investigate.

---

This is :bug: Bug Report

[2021-06-14 13:44] gshpychka commented on #13043
@rix0rrr can you shed some light on the plans for this?

[2021-06-14 14:39] silk-bahamut opened #15117 "(elasticsearch): Cluster config doesn't allow for config supported by cloudformation and vice versa"
master node validation does not match the one in cloudformation :
- t3 nodes are not allowed as master node through cdk but are valid in cloudformation.
- r5.meduim are allowed with the cdk but do not work in cloudformation.

### Reproduction Steps
This configuration gives me this error in cloud formation but nothing during cdk synth (version : 1.104.0) :
` "ElasticsearchClusterConfig": {

[2021-06-14 14:39] alexs20 commented on #15057
I have full access to the system.
moreover, if i wait 20-30 seconds and try to delete the stack again it runs OK and releases EIPs
it creates that error because it think that EIPs are still in use by NLB, but they are not, it simply takes some time to completely release them
The cloudformation should handle that delay and wait for the relese, the same way as it does when we are deleting stack that

[2021-06-14 16:13] diegotry commented on #15081
Let's say I have a website that sends a request to API-GW HTTP APIs. Behind the API I have a Step Functions workflow. As a user, all I want from the workflow is the output, not all the fields that are returned in the StartSyncExecution API.

HTTP APIs returns all the response from the service it integrates. Rest APIs has a feature to manipulate the API output, so in this case, I can return only th

[2021-06-14 16:30] bttong commented on #15093
oh, thank you for pointing that out. I mistakenly have version string instead of logical ID. It would be clearer if the error would say `got '1'` instead of `got '1F843E172'`

[2021-06-14 16:31] #13183 closed

[2021-06-14 17:17] #14877 closed

[2021-06-14 17:19] ProficientBell opened #15119 "Error during codepipeline build when cdk.contest.json is removed"
### The Question

With [#8905](https://github.com/aws/aws-cdk/issues/8905) being fixed I tried to remove the local cdk.context.json from one of my pipelines and re bootstrapped each account but received the following error for each account/stage I was deploying to (accounts and other variables replaced, note ${AWS::Partition} was not resolved):

Could not assume role in target account using curren

[2021-06-14 17:53] #15093 closed

[2021-06-14 18:52] mrpackethead opened #15121 "(pipeline): Shell Script Actions - Environment Variables don't do anything?"
Shell Script Actions / Environment Varibles issue.  ( Python ).

 I am trying to pass some environment information to this Shell Script Action..    This synths ok, but the resulting cf, does not have any environment_variables set.  Heres a code snippet.

[code]

[2021-06-14 19:00] erudisch opened #15122 "codebuild: CDK_DEFAULT_ACCOUNT is not set"
Somehow the env var `CDK_DEFAULT_ACCOUNT` is not set. We are using a https proxy and prefix the install command of our synth action with `HTTPS_PROXY=<proxy_url>`.

We also didn't find a solution [here](https://github.com/aws/aws-cdk/issues/5743)

The `.aws` folder is missing as well.

![image](https://user-images.githubusercontent.com/57360330/121944874-71ca6000-cd53-11eb-8edc-2d18d983c079.png)

[2021-06-14 19:01] jasonwadsworth opened #15123 "(apigatewayv2): addRoutes doesn't allow authorizationType: 'AWS_IAM'"
The L2 construct doesn't yet support IAM auth, so as a work around I had included the following code:

[code]

This allowed me to do an `addRoutes` that looked something like this:

[code]

...which resulted in CloudFormation like this:

[code]

When updating my CDK to the latest this no longer works due to this line of code: https://github.com/aws/aws-cdk/blob/7ea9e4882119eca5273a3da45f8fd4f8785d

[2021-06-14 20:19] madeline-k commented on #15075
@njlynch I removed the cloudwatch label, since I think the fix for this will be entirely in the aws-certificatemanager module. I might take a stab at fixing this anyway though.

[2021-06-14 20:21] iDVB commented on #7950
Anyone get to the bottom of why we could be getting `Signals.SIGKILL: 9` when our dataset is less than 100MB?

[2021-06-14 20:29] brno32 commented on #9710
I need this as well

[2021-06-14 20:53] peterwoodworth commented on #14995
Hey @OksanaH, I'm glad that the advice given has helped you!

If you'd like to contribute to the examples repo, make sure you read the [contributing document](https://github.com/aws-samples/aws-cdk-examples/blob/master/CONTRIBUTING.md#New) first. We don't require you to have the example in every language anymore (that part of the contributing guide is outdated), and we would love to have more C# e

[2021-06-14 20:53] #14995 closed

[2021-06-14 21:11] cweidinger commented on #15072
This is also a problem for us +1. Also happens with 1_20 on our real cluster

[2021-06-14 21:12] #15092 closed

[2021-06-14 21:31] mrpackethead commented on #15121
THis is not a bug. It is a user error.

environment variables has to have the type set.

[2021-06-14 21:31] #15121 closed

[2021-06-14 21:41] ryparker commented on #11650
Hey @diana-tchalakova

Thanks for bringing this to our attention. This does seem like a valid bug. I was able to reproduce that error using what you had provided. Thank you!

A dev will pick up this bug in order of priority. This is marked as p1 which means it has been prioritized as important and should see attention soon, although please keep in mind that we do have a large number of issues at t

[2021-06-14 21:45] ryparker commented on #11650
@robpolak Would you mind providing some repro code?

[2021-06-14 23:01] peterwoodworth commented on #14854
Hey @philasmar, sorry for the delayed response.

[We've decided to not use strong names](https://github.com/aws/aws-cdk/pull/12632). Microsoft doesn't recommend doing this anymore, so unfortunately this isn't something we'll be looking to add to the CDK. Apologies for the roadblocks you experience due to this decision

[2021-06-14 23:01] #14854 closed

[2021-06-14 23:06] peterwoodworth commented on #14855
I'm going to close this issue and ask for discussions and workarounds to be moved to the [feature request](https://github.com/aws/aws-cdk/issues/12529) for cfn-hup. That thread would appreciate what you both have contributed so far 😄

[2021-06-14 23:06] #14855 closed

[2021-06-14 23:09] peterwoodworth commented on #14936
Closing this issue because the bot missed it and there's not much the CDK can do here. Please ping me if you have any additional concerns with this issue 😄

[2021-06-14 23:09] #14936 closed

[2021-06-14 23:12] peterwoodworth commented on #14880
We're going to update our documentation to make the limitations of importing resources more clear. Let me know if you have any more concerns regarding this issue 😄

[2021-06-14 23:12] #14880 closed

[2021-06-14 23:17] dillon-odonovan opened #15124 "(stepfunctions-tasks): checking for task token in EcsRunTask containerOverrides causes memory explosion"
After the release of 1.108.0, I'm no longer able to successfully `cdk synth` my Step Function. The exact same implementation works in 1.107.0 and before (initially written on version 1.95.1).

### Reproduction Steps

I'll try to provide a more concise example, but here's what I have (I recognize it's not complete because there are some dependencies where aren't included)

<details>
<summary>Expand

[2021-06-14 23:20] ryparker commented on #12300
Hey @larry-palmer

Thanks for bringing this to our attention. I spent some time attempting to reproduce this with the latest CDK package (Version 1.108.1). It's likely that this was fixed in a recent update. Could you confirm if this is still an issue?

Here's what I did to reproduce...

Code:

[code]

Then I ran

[code]

and compared that output with the output for the other lambda function's pol

[2021-06-14 23:53] vincent-dm opened #15126 "aws-cognito: support token revokation"
Cognito [recently introduced token revocation](https://aws.amazon.com/about-aws/whats-new/2021/06/amazon-cognito-now-supports-targeted-sign-out-through-refresh-token-revocation/), which needs to be enabled at the user pool level, but is apparently not yet supported by CDK.

### Use Case

To revoke tokens; same reason as why Cognito introduced it.

### Proposed Solution

[According to the Cognito d

[2021-06-15 00:19] arnab commented on #15080
Thanks for the response, @skinny85 !

I think you will need to make this a property of `GlobalSecondaryIndexProps` so it's configurable per index (like in the Console). At the same time, a sane default would be to assume that all GSIs want it turned on, if it's specified at the table-level and the GSI itself does not specify it.

[2021-06-15 00:26] arnab commented on #15080
If this was directly modelled as a wrapper around a CloudFormation resource, it would have made sense to request it as a feature from CloudFormation. From what I get, `globalTables` is a CDK specific feature (i.e. not backed by a direct CF resource and instead it's a Table resource + API calls (one per region) to create replicas), right? (Re: https://github.com/aws/aws-cdk/pull/5821)

Since it's a

[2021-06-15 01:05] #5213 closed

[2021-06-15 01:18] peterwoodworth commented on #14735
Hey @evanj354, sorry for the long response time.

What happens when you create multiple target groups is this function is called with the props you passed in as the `targetProps`

https://github.com/aws/aws-cdk/blob/9d01b4fabdf50a1e6691c054a674d768e5816a3c/packages/%40aws-cdk/aws-ecs-patterns/lib/base/application-multiple-target-groups-service-base.ts#L462-L483

On line 464 you can see that the CD

[2021-06-15 02:52] iDVB opened #15129 "(@aws-cdk/aws-s3-deployment): Add support for a deploy`order` when using multiple deploys"
Add support for a deploy`order` when using multiple deploys to control the order in which they execute.

### Use Case
When using multiple deploys like in the example here, we also want only the FIRST one to prune the bucket? Otherwise, how can we be sure the bucket is empty of old files?

I was hoping this would work and they would execute in order, with the prune first...
[code]

But it appears t

[2021-06-15 04:01] mrpackethead opened #15130 "pipelines: multiple synths in a 'for' loop with a custom lookup role stopped working in 1.103"
My codebuild is breaking now when trying to synth in a cdkpipeline.
It appears that code build is trying to do some kind of cross accoutn lookup, using a cross account lookup role.
Its complaining it can not assume the role in the acconnt where the lookup is.

I found that a cross account  lookup role has been introuduced in 1.108.. Are there any other changes that have occured in the way synths o

[2021-06-15 05:01] Andrapyre opened #15131 "@aws-cdk/aws-lambda-nodejs: permission error on WSL 2"
When developing on Windows Subsystem for Linux 2, creating a NodeJsFunction leads to the following error on cdk synth:

"Got permission denied while trying to connect to the Docker daemon socket"

### Reproduction Steps

[code]
### What did you expect to happen?
I expected it to synthesize on cdk synth.

### What actually happened?
It generated the following error: "Got permission denied while try

[2021-06-15 05:30] mrpackethead commented on #15130
@skinny85 , have sent you via private message in cdk.dev slack codebuild log.

[2021-06-15 05:31] #15131 closed

[2021-06-15 05:38] mrpackethead commented on #15130
[code]

[2021-06-15 06:59] devendra-kumar1 commented on #13349
@skinny85  can you please help me here. I tried using cfnFunction props but saw **reservedConcurrentExecutions** has not of type **IResolvable** so not able to apply intrinsic function.
Sample code i used :

[2021-06-15 08:30] khamooshi commented on #5070
Running into a similar problem creating a Kinesis stream with a `redshiftDestinationConfiguration` where I need to pass Redshift credentials. `redshiftCluster.secret?.secretValueFromJson('password')` is not resolved in CDK code. Any workaround for this?

[2021-06-15 09:35] brightsparc commented on #14887
CloudFormation [AWS::Events::Rule Target](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-events-rule-target.html) is currently missing the SageMaker pipelines target but will updated soon.

[2021-06-15 09:39] rix0rrr commented on #15057
I agree!

Unfortunately, we don't control CloudFormation's behavior here, and there's not much else for us to do. I would recommend you take this up with the CloudFormation team directly, either through Customer Support or via their [public roadmap](https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues)

[2021-06-15 09:39] #15057 closed

[2021-06-15 09:46] rix0rrr commented on #15130
The reason this is happening is because there is context information missing from `cdk.context.json`. Run the `synth` on your desktop and commit the result.

How did this use to work in the past? Your `PlaceholderStack2` could not have synthesized and deployed correctly, since the information was missing and there should not have been a way for the `cdk synth` step to pick that up properly.

[2021-06-15 10:30] mrpackethead commented on #15130
It absolutely did syntheisese and deploy correctly in versions lower than 1.102 and i am able to demonstrate that to you.  It is the way that i showed you in our call much ealier this year.   Happy to show you the pipleines that actually build and deploy.   So, not helpful to say ' It could not deploy '. We've been deploying this way for months!
I CANNOT run the synth on the desktop as I do not ha

[2021-06-15 10:43] mrpackethead commented on #15130
My best guess is this is where things have gone badly.

https://github.com/aws/aws-cdk/pull/14613/commits/7f75416ab987fd6cc5b8557cb1ce7c86f5880947

[2021-06-15 10:58] I2olanD opened #15133 "(wafv2): required key [Name] not found, extraneous key [name] is not permitted"
Hello,

i'm not sure if this is a bug or not, but creating a statement with a field to match for singleQueryArgument throws an error, if the key [Name] is actually lowercase.

required key [Name] not found, extraneous key [name] is not permitted.

### Reproduction Steps
[code]
### Environment

  - **CDK CLI Version  :*1.100.0*
  - **Framework Version:*1.100.0*

This is :bug: Bug Report

[2021-06-15 11:26] d1manson opened #15134 "aws-appflow: How to setup Salesforce to EventBridge"
[Here's an AWS blog post](https://aws.amazon.com/blogs/compute/building-salesforce-integrations-with-amazon-eventbridge/) describing connecting Salesforce to EventBridge with AppFlow.

I have managed to do that using the web console (as shown in the blog screenshots), however I'm finding it very tough to do the same with cdk. I accept I may need to setup the initial "connection" to Salesforce usin

[2021-06-15 11:28] warden opened #15135 "(aws-ssm): Parameters X referenced by template have types not supported by CloudFormation"
I am aware of [this limitation](https://stackoverflow.com/questions/56891180/referencing-aws-parameter-stores-secure-string-in-cloudformation-template) however, the behaviour seems inconsistent to me. In the stack, I have:
[code]

That works fine, but when I remove `version: 1` to permanently grant the permission to all versions (or actually the "current" version), then `cdk deploy` fails with:
[c

[2021-06-15 11:53] hross-frae commented on #15130
This issue is also affecting us, it seems we have a similar setup to @mrpackethead, where our pipeline account has the required cross account permissions for deployment and in general our devs do not. Ideally we don't want to give devs access to production accounts just so we can allow the pipeline to work.

It was also working for us prior to the latest releases

[2021-06-15 12:02] romanfq commented on #6836
Is this missing a data source for a lambda alias?

[2021-06-15 12:49] bitoku commented on #14129
There seems to be an option in [EbsDeviceProps](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.EbsDeviceProps.html), which is the argument of [BlockDeviceVolume](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.BlockDeviceVolume.html).

This is the example to use the `deleteOnTermination` option.

[code]

[2021-06-15 12:52] rix0rrr commented on #15130
I see. You all have scripted a `for` loop around a number of `synth` calls to do lookups in the pipelines build step, using some roles you provisioned yourselves?

That is fine, but I would repeat that standing guidance was to:

* [Not use lookups in Pipelines](https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html#current-limitations)
* [Commit `cdk.context.json` to version control

[2021-06-15 13:00] rix0rrr commented on #15066
Tried reproducing on Windows but works fine for me:

![image](https://user-images.githubusercontent.com/524162/122056851-51011980-cdea-11eb-8a5c-089161124ab8.png)

Please double-check that `bootstrap-template.yaml` actually contains the v2 template.

[2021-06-15 13:01] rix0rrr commented on #15066
Same for CDK v1 btw:

![image](https://user-images.githubusercontent.com/524162/122057147-9a516900-cdea-11eb-87da-45ebb4775dff.png)

[2021-06-15 13:03] rix0rrr commented on #14814
Going to close this as nonreproducible.

[2021-06-15 13:03] #14814 closed

[2021-06-15 13:10] dillon-odonovan commented on #15124
I took a little bit of a deeper look into this and it seems most of the reproduction can be removed and still produce the same behavior:

[code]

Will continue to try and produce an even smaller and more complete repro.

[2021-06-15 13:53] jonlegendre commented on #14456
So this is a known issue with AWS Glue. When a glue job runs, it dynamically creates ENIs as needed based on the ENIs created in the stack. If a glue job fails, not all ENIs are deleted. Subsequently when the delete is attempted the security group fails to delete as these dynamically created ENIs are not deleted as they are not part of the stack.

[2021-06-15 13:53] #14456 closed

[2021-06-15 14:23] dillon-odonovan commented on #15124
Hmm. Maybe this is more closely related to #3325. I tried putting the offending code in a new project and don't run into issues. I also don't run into issues if I synth just the stack above (Stack A) and its dependencies. I have another stack (Stack B) that is disjoint from this one with no dependencies, and it's only when I try to synth _both_ Stack A and its dependencies _and_ Stack B. If I only

[2021-06-15 14:31] BenChaimberg commented on #15124
I don't see anything that immediately jumps out as related to #14628 but please continue to pare down your example so we can attempt to reproduce this! Can you also confirm that you have made no other changes to your application besides bumping from 107 to 108?

[2021-06-15 14:36] davecap commented on #6184
Is there a known workaround for CDK Python?

[2021-06-15 15:02] dillon-odonovan commented on #15124
I can also say that it's scoped to the following packages:
- Amazon.CDK.AWS.StepFunctions
- Amazon.CDK.AWS.StepFunctions.Tasks

I can update the version of all other CDK packages to 1.108.0 or even 1.108.1 and still synth successfully. It's only when bumping these packages that I run into issues.

[2021-06-15 15:06] kromanow94 commented on #11775
Is there any update on that? I have following issue when using python:

This is simplified version of my code:

[code]
And this is the result in cdk.out json:

[code]

Which is not good. From CloudWatch logs:
[code]
Where `patch_json` is the one mentioned above which results in:
[code]

Using:
[code]

[2021-06-15 15:15] #14198 closed

[2021-06-15 15:40] skinny85 commented on #13349
You need the [`Token.asNumber()` method](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Token.html#static-aswbrnumbervalue):

[code]

(I assume you wanted to use `Aws.NO_VALUE`, not `undefined`, as the latter would result in literally nothing being output in the template, which would result in an invalid template (`Fn::If` with 2 arguments instead of 3))

[2021-06-15 16:01] #13611 closed

[2021-06-15 16:12] AdamTylerLynch commented on #9276
I am not able to access that repo. Is it public?

[2021-06-15 16:38] yanyansk commented on #10113
Hi, I got a same error.
This error occurred when adding a service to the ALB target with the LogRouter defined before the app container.
[code]
If I defined the container with port mapping first, this error did not occur.

[2021-06-15 16:38] tomyam1 commented on #9248
Got here after getting the `The request contains an invalid set of changes for a resource record set` error from CloudFormation.

After reading https://github.com/aws/aws-cdk/pull/9291 it was clear that I just need  to remove the star domain from DomainValidationOptions and then the build was successful

[2021-06-15 17:14] #14967 closed

[2021-06-15 17:23] iDVB commented on #9146
@l0b0 As [mentioned above](https://github.com/aws/aws-cdk/issues/9146#issuecomment-667108920), using `*` doesn't work as it removes all directories.
Would love to see a working config if anyone thinks they have the solution.

[2021-06-15 17:26] iDVB commented on #15129
Just thought to ordering them based on their dependencies of eachother (last 2 lines)...
[code]

However, it resulted in this error...
![image](https://user-images.githubusercontent.com/189506/122096863-0200b780-cddd-11eb-881c-31e4e01d526c.png)

Which seems wrong? The cdk [docs for BucketDeployment](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3-deployment.BucketDeployment.html#cl

[2021-06-15 17:35] ProficientBell commented on #15130
@rix0rrr I am trying to take advantage of the new lookup role but ran into issues during the pipeline build stage.  Not sure if there is something I'm doing wrong or this is a bug.  Please see #15119

[2021-06-15 17:55] dillon-odonovan commented on #15124
@BenChaimberg Here's the most minimal reproduction I can come up with.

Synthing either of these stacks individually is not an issue - it's only doing both.

Removing either of the following will result in successful synth. I believe all other properties are required
- `AddToTaskRolePolicy`
- `IntegrationPattern = IntegrationPattern.WAIT_FOR_TASK_TOKEN`

<details>
<summary>Program.cs</summary>

[c

[2021-06-15 18:12] rupertevill commented on #4907
Any update on this? 🙂

[2021-06-15 18:43] BenChaimberg commented on #15124
Confirmed reproducible, see: https://github.com/BenChaimberg/cdk-test-app-dotnet/tree/sfn_heap_oom_15124

[2021-06-15 18:48] BenChaimberg commented on #15124
Thank you for your work to reduce this to a manageable size! I've confirmed that the error occurs on 1.108 and not on 1.107

cc @RomainMuller since there's certainly some jsii trickery going on

[2021-06-15 18:52] ryparker commented on #12349
Hey @kennu :wave:

Thanks for opening this issue. This definitely looks like a good opportunity for optimization.

I just wanted to follow up here and let you know that this is still on our radar. The issue is labelled as p2 which means that we are unable to work on this immediately. However we use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is in

[2021-06-15 18:53] mrpackethead commented on #15130
* [Not use lookups in Pipelines](https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html#current-limitations)

Not using lookups in pipelines would have rendered CDK in the useless pile to us.

A Validation htat never exisited before, and has introduced a breaking change.   We coded around the **KNOWN** behavior.

How do we do that?  I dont' have any control of how synth validates th

[2021-06-15 18:53] BenChaimberg commented on #15124
Looking into #9319 which seems to be the original impetus for the code in question

[2021-06-15 19:00] aadhikary commented on #2562
Any ETA on this. This seems to be a pain. We use the nested stacks on CDK to speed up the build (which has worked). But during development time this causes a lot of pain in case of failures. Yes you can look at nested deleted stacks to see what caused the error but that still does not allow us to test the whole process in speedy way. A way to continuously update the stack will help build on AWS se

[2021-06-15 19:11] #14971 closed

[2021-06-15 19:27] ryparker commented on #12435
Hey @stuartgraham  :wave:

Thanks for opening this issue. This issue is marked as p1 which means it has been prioritized as important and should see attention soon, although please keep in mind that we have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as always we are happy to take cont

[2021-06-15 19:30] skinny85 commented on #15080
Love it! Any chance you could submit us a PR with this change @arnab? Our "Contributing" guide is here: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

[2021-06-15 19:35] gshpychka commented on #12747
@skinny85 Maybe it'd be a good idea to document this?

[2021-06-15 19:36] ryparker commented on #12945
Hey @rittneje :wave:

I just wanted to follow up on this and let you know that we've marked this issue as p1 which means that it has been prioritized as important and should see attention soon. Although please keep in mind that we do have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as

[2021-06-15 19:37] spyoungtech commented on #9793
It would be nice if the version were not required to use a secure string parameter with the [Secret](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecs.Secret.html) construct because it's not required for [the cloudformation definition](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ecs-taskdefinition-secret.html).

[2021-06-15 19:37] skinny85 commented on #15080
It's implemented as a Custom Resource, yes, because CloudFormation support was not added until very, very recently.

We will need to switch to the new CloudFormation resources at some point, and deprecate the current Custom Resource-based implementation.

However, I still don't see the new resource having the option to [enable ContributorInsights](https://docs.aws.amazon.com/AWSCloudFormation/late

[2021-06-15 19:40] skinny85 commented on #12747
Agreed @gshpychka 🙂. Want to open us a Pull Request clarifying this? Our "Contributing" guide: https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md.

[2021-06-15 19:49] ABevier commented on #8816
I'm running in to this too and I don't think #11841 will be able to fix it.  The SSL policy on the listener is immutable after it has been created and I'm not sure it's possible or desirable to change it.

It looks like this issue is somewhat separate from #11841 and both should be done independently.  This issue will fix the SSLPolicy and exposing the listeners as a collection will allow calling

[2021-06-15 19:50] ben-mccown commented on #15066
I am using the template from https://github.com/aws/aws-cdk/blob/7966f8d48c4bff26beb22856d289f9d0c7e7081d/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml

I will attach it here as well.

I see you're getting an error relating to credentials needing to be configured. Are you sure the bootstrapVersionFromTemplate function will run even with credentials not being configured? I would expect

[2021-06-15 19:50] rohitingle9 commented on #14735
@peterwoodworth,

How can we configure the health checks (or other properties) for the non-default target group today?

[2021-06-15 19:53] ryparker commented on #13005
Hey @muelleme :wave:

Thanks for opening this feature request and for opening a PR! 🚀

I just wanted to follow up here and let you know that we've marked this request as p2 which means that we're unable to work on this immediately, but we're grateful for your contribution and will continue the discussion on your PR https://github.com/aws/aws-cdk/pull/13008.

Thanks again!

[2021-06-15 19:56] #14996 closed

[2021-06-15 19:58] peterwoodworth commented on #14735
I don't think you're currently able to do configure non-default target groups with this construct unfortunately. I might be wrong, but I wasn't able to find any ways to do this

[2021-06-15 20:09] jessekrubin commented on #14885
I am working on recreating the issue in a simple repo.

[2021-06-15 20:11] upparekh commented on #10113
Hi @yanyansk , thanks for providing your task definition. When using the `service` object as target for the Application Load Balancer (ALB) here:
[code]
it uses the first essential container (in the error case it is the Firelens log router) as the target. `cdk synth` will throw this error as the LB target is expected to have an exposed port while the Firelens log router doesn’t have one. When the

[2021-06-15 20:15] gshpychka commented on #12747
Sure! What would be the correct clarification, though? Do we advise something at least relatively specific, or do we just say "if you have a lot of variables, use this way" without specifying what "a lot" is?

[2021-06-15 20:20] kennu commented on #12349
Thanks for the note @ryparker. I'll take this opportunity to ask about decdk contributions in general:

1) How strict is the tests-required policy on decdk?
2) I have been unable to successfully run decdk tests on my own computer; will GitHub run them if I make a pull request?

I've been working on making fromConstructArn() work and thinking about making a PR of that.

[2021-06-15 20:22] bonoethanPFG commented on #11100
Hi! Just curious if there's been any more progress made on this feature. Would love to have this available some time in the future!

[2021-06-15 20:23] skinny85 commented on #12747
How about we base it on the error the OP encountered?

[code]

"If you encounter an error similar to this, try this instead", something like that?

[2021-06-15 20:30] BenChaimberg commented on #15124
The exact reproduction from the C# code to TypeScript *did not* reproduce this failure

[2021-06-15 20:47] ryparker commented on #14994
Hey @dfonnegra :wave:

I'd like to offer some help.
Let me make sure I understand this right, bare with me...

[code]

Do I have that correct?

If so, how were you able to deploy the development stack without running into this issue? Are you using the same region for both deployments?

Any example code of your setup would be helpful as well. 😄

[2021-06-15 20:48] #7680 closed

[2021-06-15 20:52] jessekrubin commented on #14885
With the following cdk typescript app I see no way to add more than one efs mount. Any suggestions would be greatly appreciated.

[code]

[2021-06-15 20:52] l0b0 commented on #9146
You might be able to use `!*/` to include directories.

[2021-06-15 21:42] #9680 closed

[2021-06-15 21:50] zhangyuwanzi opened #15138 "(synthetics): add Runtime property for syn-python-selenium-1.0 to create synthetics canary"
I want to use CDK to create synthetic canary in python and selenium. However, when I try to write some code, i found the there is no matching runtime property.

Not found **syn-python-selenium-1.0** from the API docs: - https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_synthetics/Runtime.html - https://docs.aws.amazon.com/cdk/api/latest/typescript/api/aws-synthetics/runtime.html#aws_sy

[2021-06-15 21:51] vihangshah8 commented on #2562
I am currently using cloudformation init and its hard to debug in case of issues since the template rolls back by default. This would be a great feature if added as a flag to the cli itself which can be controlled when we do cdk deploy.

[2021-06-15 23:06] BenChaimberg commented on #15124
I'm fairly confident that the change mentioned above (#14628) caused the original issue (#9319) to resurface, albeit in a slightly different manner. Preventing cycles in the recursion (#11225) alleviated the call stack as the bottleneck but did not solve the underlying issue, causing memory limits to become the next to fail. The path in this current issue is as follows: every construct that is vis

[2021-06-16 05:21] Andrapyre opened #15141 "(pipelines): move update pipeline stage to before build stage"
The update pipeline stage should come immediately after the source stage and before the build stage.

### Use Case

This is especially important if I need the pipeline to update in order for the build to pass. For example, if I added a lambda function via the NodejsFunction, which requires Docker, but forgot to pass in the privileged flag to the standard yarn synth action. Fixing this, under the c

[2021-06-16 05:56] devendra-kumar1 commented on #13349
Thanks a lot @skinny85. It is working fine :)

[2021-06-16 05:56] #13349 closed

[2021-06-16 06:20] daniel-harrison commented on #8816
I've hit this issue as well, I don't know if this will help someone but overrides work in the meantime
`
  const listener: elbv2.CfnListener = fargateService.listener.node.defaultChild as elbv2.CfnListener;
  listener.addOverride('Properties.SslPolicy', SslPolicy.TLS12_EXT);
`

[2021-06-16 07:32] O7Oghany opened #15142 "(Go: awsec2): adding Cidr option in SubnetConfiguration"
**Is your feature request related to a problem? Please describe.**
yes, as I want control over the IP for each subnet

**Describe the solution you'd like**
adding Cidr option so Developer can choose, if he wants control, or let AWS assign IP range from the VPC Cidr
[code]

**Describe alternatives you've considered**
fo the time being, I have just this option to choose the CidrMask

[2021-06-16 09:50] rix0rrr opened #15145 "(assertions): add a helper method to retrieve all logical ids for stateful resources"
So I can easily write assertions on the logical ids of my stateful resources without having to resort to full-blown snapshot tests (which test too much).

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-06-16 11:58] rix0rrr commented on #15119
You are correct! We identified the issue and working to resolve it.

[2021-06-16 12:04] rix0rrr commented on #15130
We are working on that right now. Hope to get it out later today. Stay tuned.

[2021-06-16 12:05] luckily commented on #5020
@teuteuguy, merged!

[2021-06-16 12:12] luckily commented on #9682
Resolved by this PR #10833

[2021-06-16 12:12] #9682 closed

[2021-06-16 12:16] neilferreira commented on #7710
@Cloudrage are you able to attach how you achieved this using `CfnRule` ?

[2021-06-16 12:48] #15119 closed

[2021-06-16 12:59] normjon opened #15150 "(Role): role.d.ts[24,14] Class Role incorrectly implements interface IRole"
### Reproduction Steps

### What did you expect to happen?

### What actually happened?

### Environment

  - **CDK CLI Version  :1.107.0 (build 52c4434)
  - **Framework Version:1.108.1
  - **Node.js Version:v16.3.0
  - **OS              :MAC
  - **Language (Version):Typescript

### Other

---

This is :bug: Bug Report

[2021-06-16 13:07] luckily opened #15151 "Remove unnecessary peerDependency in codepipeline-actions"
No need to add `@aws-cdk/aws-codestarnotifications` in `"devDependency"` like `@aws-cdk/aws-cloudtrail` is not in `"peerDependencies"`, even though it's a `"devDependency"` as well.

_Originally posted by @skinny85 in https://github.com/aws/aws-cdk/pull/10833#discussion_r652100462_

[2021-06-16 14:11] #13385 closed

[2021-06-16 14:24] KennethVrb commented on #7016
any further news on this? i'm havinga  similar issue where a userpool depends on a lambda as it trigger for CustomMessage but the lambda needs the userpoolid as an environment variable

[2021-06-16 14:53] evanerwee01 opened #15154 "(CodeStarConnectionsSourceAction): repo name wrongly formated"
# :question: Repo name wrongly submitted. (Pipeline fail) Unwanted character added.

When a repo name is specified, e.g. f'dso', a '/' is always inserted in front. Example:
f'Greenwidget/dso' become /Greenwidget/dso'
f'dso' become /dso'

## Code Sample

[code]

### The Question

Repo field must have the ability to pass the name without formatting, e.g. Organization/RepoName, example: Greenwidget/d

[2021-06-16 15:04] Townsheriff commented on #7016
Lambda receives userPoolId in the event argument.

[2021-06-16 15:06] ben-mccown commented on #15066
Also failing for me with the boostrap-template.yaml from master.

https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml

[bootstrap-template.zip](https://github.com/aws/aws-cdk/files/6663959/bootstrap-template.zip)

Maybe worthy of note is that CDK_NEW_BOOTSTRAP is set to 1, although I'm not sure that would matter.

[code]

[2021-06-16 15:11] rix0rrr commented on #15130
We added `--no-validation`, or `CDK_VALIDATION=false`.

[2021-06-16 15:24] YawenSun9 commented on #13942
+1, we are facing the same issue, and it's causing problem in showing 1-minute data for graphs containing MathExpression even we set period of MathExpression and all submetrics to 1 minute.

[2021-06-16 15:32] #15130 closed

[2021-06-16 15:32] MasonHM opened #15155 "core: Double nested stack outputs not resolved correctly"
When multiple stacks are nested inside of each other, accessing resources that depend on parameters doesn't seem to work correctly. I don't have a good explanation of what is happening, but I have multiple ways to fix whatever the problem is.

The CloudFormation I'm trying to import that is failing looks like:
[code]
The problem we're running into is using the `TargetGroup` from `load-balancer-sta

[2021-06-16 16:57] dillon-odonovan commented on #15124
My thoughts:

I agree with your assessment. It certainly seems to me that `recurseObject` is doing more work than necessary (for this specific use-case - ecs).
From a high level, don't we only need to recurse the particular structure that could contain the task token? That appears to be the current intent as-is.

Services which support task tokens and their properties where the task token can be p

[2021-06-16 17:11] michaelbrewer commented on #2004
PR has now been approved by i had to move it to my personal repo as mergify has issues (https://github.com/aws/aws-cdk/pull/15158)

[2021-06-16 17:45] arnab commented on #15080
_Hmmm unfortunately, I won't be able to contribute to the solution at this time :( Happy to provide any discussion/feedback if you need though._

---

I see. It appears that there is a different API for enabling `ContributorInsights` per table/index (i.e. per region), as described here:

* [DynamoDB#UpdateContributorInsights](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Updat

[2021-06-16 17:45] iDVB commented on #1773
It would be super helpful if there were two additions to `--outputs-file`
1) that you could pick the output type. We typically slurp these up as TOML files in `.env`
2) that I could choose to flatten the file for that the top node is just the vars and not the stackname. At the very least that this would happen if you only have a single stack.

We're currently trying to get CDK outputs into a Gatsb

[2021-06-16 17:51] iDVB opened #15159 "(aws-cdk): Add support for TOML to output-file"
It would be super helpful if there were two additions to `--outputs-file`
1) that you could pick the output type. We typically slurp these up as TOML files in `.env`
2) that I could choose to flatten the file for that the top node is just the vars and not the stackname. At the very least that this would happen if you only have a single stack.

### Use Case
We're currently trying to get CDK outputs

[2021-06-16 18:12] skinny85 commented on #15155
Hey @MasonHM,

thanks for reporting the issue, and for the awesome small reproduction, as always!

Unfortunately, I'm afraid you're running into a limitation of the CDK Nested Stack support, not necessarily anything with `cloudformation-include`.

You can see that in the following example:

[code]

Which fails synthesis with roughly the same error as your example:

[code]

[2021-06-16 18:28] skinny85 commented on #15155
I can even minimize the reproduction further:

[code]

[2021-06-16 18:31] #2004 closed

[2021-06-16 18:47] skinny85 commented on #15155
Looks like the problem is here: https://github.com/aws/aws-cdk/blob/7d218c22e5cbfeaf19b1573b537fc34dd07f7b22/packages/%40aws-cdk/core/lib/private/refs.ts#L204

Apparently `reference.displayName` can contain a Token, which is then used as the logical ID of the `CfnOutput` construct, which is not allowed.

[2021-06-16 18:47] skinny85 commented on #15155
Paging @eladb on this one, as he's much more proficient at Nested Stacks than I am 🙂.

[2021-06-16 19:01] skinny85 commented on #15154
Hi @evanerwee01,

can you please show what is `self.repo_name` in your above code?

Thanks,
Adam

[2021-06-16 19:04] skinny85 commented on #15154
And `self.repo_owner` and `self. repo_name`, while we're at it 😜.

[2021-06-16 19:10] KirkF opened #15160 "(aws-elasticloadbalancingv2): expose target group routing algorithm"
Although it appears to be supported in [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-elasticloadbalancingv2-targetgroup-targetgroupattribute.html) changing the target group routing algorithm from the default of round_robin to least_outstanding_requests does not seem possible in CDK according to both the API documentation and my understanding of the

[2021-06-16 19:19] skinny85 commented on #12747
Sure! Yes, the limitation comes from the fact that passing `environment_variables` directly in `SimpleSynthAction` sets them on the CodePipeline configuration for an Action, and that configuration has a limit of 1,000 characters.

Passing them inside `environment` sets them on the CodeBuild Project itself, which does not have a size limitation. _However_, it's important to note that you can't use

[2021-06-16 19:24] skinny85 commented on #15080
Hard to argue with that logic 🙂.

[2021-06-16 19:27] evanerwee01 commented on #15154
self.repo_name is set to Greenwidget/repo-name.

        for pod in helpers.ECS_PODS:
            self.team_name = f'{pod}'.lower()
            self.mssp_pipeline_id = f'{helpers.NESTED_ENTITY_PREFIX}-{self.team_name}-pipeline-{helpers.STAGE}'
            self.mssp_pipeline_state = ECRPipelineMasterStack(
                self,
                self.mssp_pipeline_id,
                branch_name='mai

[2021-06-16 19:41] skinny85 commented on #15154
That's wrong then. `repo_owner` should be `'Greenwidget'` (it's now empty), and `repo_name` should be `'repo-name'`.

[2021-06-16 19:48] evanerwee01 commented on #15154
Fantastic. Let me change the code and I will post back shortly. Thank You.

[2021-06-16 19:51] pankajagrawal16 opened #15161 "(custom-resources): Should optionally flatten response from SDK calls"
As of today, Any nested json returned by SDK Api calls are flattened in custom resource lambda created by construct.

In certain scenario, it is needed to have entire nested json payload acceesible as response in cdk app.

![image](https://user-images.githubusercontent.com/8058415/122526873-0f0aea00-d01b-11eb-9dcd-3b597c5bf742.png)

### Use Case

For example, cdk ecs construct does not makes task

[2021-06-16 19:58] gshpychka commented on #12747
Yes! One more thing, and I apologize: what are CodePipeline Variables?

[2021-06-16 20:02] evanerwee01 commented on #15154
I can confirm that setting the **repo_owner** to the Github **organization** name solve the problem. Thank you for the very quick response.

[2021-06-16 20:05] evanerwee01 commented on #15154
### Code snippet now.

        for pod in helpers.CDK_PODS:
            self.team_name = f'{pod}'.lower()
            self.mssp_pipeline_id = f'{helpers.NESTED_ENTITY_PREFIX}-{self.team_name}-pipeline-{helpers.STAGE}'
            self.mssp_pipeline_state = CDKPipelineMasterStack(
                self,
                self.mssp_pipeline_id,
                branch_name='main',
                repo_n

[2021-06-16 20:10] #15154 closed

[2021-06-16 20:11] skinny85 commented on #12747
It's a CodePipeline feature that allows you to easily transfer certain information between Actions in a CodePipeline - for example, a source Action can easily transmit what is the Git hash of the last commit that triggered the Action.

More information: https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-variables.html

[2021-06-16 20:22] ryparker commented on #13530
Hey @YizhouHao :wave:

I'd like to help you out here.

I attempted to recreate your scenario however did not experience the same error. I'll attach my reproduction code below.

You might want to take a look into the following:

- Make sure the IAM user you have hardcoded in the policy statement has the proper permissions to access that SQS resource.
- There have been many updates to the CDK since

[2021-06-16 20:58] ryparker commented on #12349
Checkout the ["Work your magic" section](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#step-3-work-your-magic) of the contribution guide for details but here's an outline:
- A unit test is required for every change.
- If you are working on a new feature that is using previously unused CloudFormation resource types, or involves configuring resource types across services, you need to wr

[2021-06-16 21:06] misterjoshua opened #15162 "(aws-cdk): The CDK CLI fails to run via npx in node:12 and node:14"
The CDK CLI fails to run via `npx` in the `node:12` and `node:14` container images. The `postinstall` script for the `aws-sdk` dependency fails with a `MODULE_NOT_FOUND` error.

This is problematic in container-based build environments. For instance, as a step in one of our build pipelines, we like to run `npx cdk --app cdk.out diff SomeStack` or `npx cdk --app cdk.out deploy SomeStack`. But, this

[2021-06-16 21:20] namedgraph commented on #8348
And how about `EC2Cluster`, how do I specify an instance profile for it?

[2021-06-16 21:21] BenChaimberg commented on #15081
Thank you for your clarifications – I think we've come to a better understanding of what you're proposing! This seems to be an API Gateway feature that allows proxy integration with an AWS service (maybe `AwsRestApi`). Then, we will have a `StepFunctionsRestApi` subclass that adds some stricter typing and default transformations to pare down to just a response body. My concern here is that the num

[2021-06-16 22:39] hugdru opened #15164 "(aws-lambda-nodejs): pnpm esbuild localCommand fails"
The created localCommand for pnpm is failing because of an `--` after esbuild:

[code]

Returns:

`> error: Invalid build flag: "--"`

The command works if I run it without the "--".

### Reproduction Steps

[code]

### What did you expect to happen?

A successful bundling when using pnpm

### What actually happened?

The esbuild command failed with `> error: Invalid build flag: "--"`

### Environ

[2021-06-16 22:56] BenChaimberg commented on #15124
1. Agreed.
2. I think just one environment is fine, as long as it exists *somewhere*.
3. The difference would be essentially taking the output of `renderOverrides` and passing that to `containsTaskToken` (so would either only be caught at synthesis-time or we could move the rendering earlier).
4. Agreed.

We could have `ContainerOverride.environment` be `sfn.TaskInput` but that wouldn't really hel

[2021-06-16 23:08] NGL321 commented on #14755
Hey @Fitmavincent,

The best way to do this is to use the SDK to try to get the HostedZone. This way the existence of the resource is determined not during deploy time but during synth. Additionally, this means that no extraneous Cloudformation actions are taken.

This is our standard method (something I have used a few times). It should look something like the below:
[code]

I hope that this help

[2021-06-16 23:08] #14755 closed

[2021-06-16 23:53] #10515 closed

[2021-06-17 00:22] peterwoodworth commented on #14787
I don't think there's currently any way to access the `methodXXX` functions on property `defaultStage` when using an `HttpApi`.

https://github.com/aws/aws-cdk/blob/ae24d8a700b280bc90d2b681a6c7480d7833aaa2/packages/%40aws-cdk/aws-apigatewayv2/lib/http/api.ts#L430-L435

This is where the CDK creates the default `HttpStage`. However, since the property is declared as an `IStage `https://github.com/a

[2021-06-17 00:24] NGL321 commented on #14871
Hey @suryakola!

It looks like there is a missed opportunity here to use the [`Choice` state](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-stepfunctions-readme.html#choice). This state will allow for dynamic retries. Remember, when declaring the state machine in CDK, you define your tasks and THEN order them. This allows you to create sub-loops (smaller state machines essentially).

In your

[2021-06-17 00:35] NGL321 commented on #14844
Hey @TiffanyHsuuuu,

This is a bit of a non-sequitur. While you can absolutely interface between services across accounts, and those services can be deployed via the CDK, the actual interfacing would not consist of CDK code. You have to write an application of some kind using the AWS SDK or direct API service calls.

I'm not certain what it is you would like to do with the CDK here, but I recommen

[2021-06-17 01:52] diegotry commented on #15081
Not sure I understood your point here. API-GW RestApi offers integration with 100+ services.

![Screen Shot 2021-06-16 at 6 40 41 PM](https://user-images.githubusercontent.com/33488603/122317502-85e89b80-ced2-11eb-9048-f2f10532a620.png)

Whoever is creating the API should specify what HTTP Method they want and what AWS Operation they want to match. (ex: HTTP POST -> <Service>.<Api>).

I think the

[2021-06-17 02:28] dillon-odonovan commented on #15124
Agree that having `ContainerOverride.environment` implement `sfn.TaskInput` wouldn't resolve the issue on its own.

I can take a crack at it. I've tried scouring AWS documentation to confirm that the task token can't be used in the command override. If it can we have a problem, but I haven't seen anything to indicate it.

I'll follow the contributing guidelines as best as I can :)

[2021-06-17 03:45] BenChaimberg commented on #15124
Awesome, thank you! And I support checking `ContainerOverride.command` as well, I think that's a good idea

[2021-06-17 05:09] dillon-odonovan commented on #15124
No need to support task token in `ContainerOverride.command` as it's defined as an array of strings and `JsonPath` throws an error since the task token must be provided in an object, not an array:

https://github.com/aws/aws-cdk/blob/0db3effa033fd3bcc8903884e86f37e4a8154afe/packages/%40aws-cdk/aws-stepfunctions/lib/json-path.ts#L133-L137

[2021-06-17 05:47] peterwoodworth commented on #15150
Hey @normjon, without more information I'm not able to help you. Can you tell me more about your problem?

[2021-06-17 05:52] peterwoodworth commented on #15159
Thank you for the request @iDVB 😄

I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprio

[2021-06-17 06:06] suryakola commented on #14871
Hi @NGL321 I will give a try to check if it works or not, but Task class from software.amazon.awscdk.services.stepfunctions is deprecated in java so we cannot use it.

[2021-06-17 06:21] #15151 closed

[2021-06-17 06:23] boazsilverman commented on #9873
Reading these comments, it seems to me that there currently is a possibility to use CDK for creating nodes with custom AMI. Can someone please explain how to do this?
Thanks

[2021-06-17 06:36] peterwoodworth commented on #15142
Hey @abdelmmu,

You can directly configure the CidrBlock of your Subnets. [There's an L2 Subnet Construct](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Subnet.html) where you can use the `cidrBlock` property and assign it to your VPC on creation of the Subnet

Let me know if you need additional help with this 😄

[2021-06-17 07:05] jogold commented on #15164
@relm923 any idea?

[2021-06-17 07:14] abdelmmu commented on #15142
Hi @peterwoodworth,

thanks for pointing me out to this, I thought that under `SubnetConfiguration`  can be implemented, so I can add it as `SubnetProps `or `SubnetAttributes`.
Example working fine:
[code]
with the creation of the VPC with `SubnetConfiguration `, aws will assign the CidrBlock based on the `CidrMask `, is there a way to do both world 😄? SubnetConfiguration  and control the CidrBloc

[2021-06-17 08:11] bmacher opened #15168 "(pipelines): add testCommand(s) property to standardYarnSynth and standardNpmSynth action"
When creating a `SimpleSynthAction` it is preferred to use the helpers `standardYarnSynth` and `standardNpmSynth`. However both are missing the `testCommands` property from `SimpleSynthAction` which is kind of useful. Otherwise we have to put the test command into the build or synth command. Like:

[code]

### Use Case

With the `testCommands` prop I don't have to mix the test command with build o

[2021-06-17 08:16] rix0rrr opened #15169 "(pipelines): need full control of BuildSpec"
So set things like `runtime-versions`, `caching`, etc.

Would be good if we could merge artifacts parts of buildspecs...

---

This is a :rocket: Feature Request

[2021-06-17 08:17] paulrichards-provar commented on #1649
Do you have a more complete example? When I try to use that code snippet it can't find a child called Resource on the pipeline construct.

const pipeline = new CdkPipeline(this, "SomePipeline", {...})
pipeline.node.findChild('Resource')

When running cdk synth I get a "No child with id: 'Resource'" error.

[2021-06-17 08:23] hoegertn commented on #15169
For which CodeBuild job? Synth, Assets, or UpdatePipeline?

[2021-06-17 08:24] hoegertn commented on #15168
This was release today

https://github.com/aws/aws-cdk/pull/14979

[2021-06-17 08:25] rix0rrr commented on #15169
Synth is foremost in my mind.

[2021-06-17 09:44] nirvana124 commented on #14738
I am facing this issue on version 1.106.1 as well as 1.108.1.
I have tried uninstalling, used npm version 6.14.4 and 7.17.0 but still getting below error :
This CDK CLI is not compatible with the CDK library used by your application. Please upgrade the CLI to the latest version.
(Cloud assembly schema version mismatch: Maximum schema version supported is 11.0.0, but found 12.0.0)

[2021-06-17 10:17] dr-star opened #15170 "aws-docdb - missing deletion protection"
In aws-cdk/aws-docdb I saw that isn't possible to set the deletion protection using the construct DatabaseCluster.

### Use Case

Is possible to add also in that construct the attribute "deletionProtection" that is available into CfnDBCluster ?

### Proposed Solution

...

### Other

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking ch

[2021-06-17 10:23] Cruaier opened #15171 "(stepfunctions-tasks): EcsRunTask containerOverrides throws if container name doesn't match construct ID"
I ran into an issue while updating CDK from 1.77.0 to1.109.0. I create a step function which utilizes ECS tasks (Fargate) to run a long-running task. It uses `EcsRunTask` from the `@aws-cdk/aws-stepfunctions-tasks` library.

### Reproduction Steps

[code]

### What did you expect to happen?

No error, since the container definition defined in the override is directly returned from the call to `Tas

[2021-06-17 10:23] #14307 closed

[2021-06-17 11:00] #14072 closed

[2021-06-17 11:08] d1manson commented on #15134
Update...

I believe the `object` can be a string of the form  `aws.partner/appflow/salesforce.com/<aws-account-id>`. I presume you can't actually create that using cdk (yet), which isn't too terrible, though it would be nice if you could.

Also, the error I'm currently faced with seems to relate to the `tasks` section...
[code]

I've tried all kinds of things but can't seem to get past that error

[2021-06-17 11:25] nirvana124 commented on #14738
After a lot of trials it is working for me for below settings:
cdk lib version: 1.108.1
cdk cli version: 1.109.0
npm version: 7.17.0
node version: 14.17.1

[2021-06-17 13:00] bmacher commented on #15168
Sorry, just looked in the Issues sections.

[2021-06-17 13:00] #15168 closed

[2021-06-17 13:00] markusl opened #15172 "(aws-cdk): Error after upgrading to 1.109.0: This CDK deployment requires bootstrap stack version '6', found '5'."
Our deployments fail after upgrading CDK to the latest version: `This CDK deployment requires bootstrap stack version '6', found '5'. Please run 'cdk bootstrap'.`.

### Reproduction Steps

Upgrade from 1.108.0 to 1.109.0.

### What did you expect to happen?

Smooth upgrade process.

### What actually happened?

It seems a breaking change has been introduced without any notice in the changelog.

##

[2021-06-17 13:28] dillon-odonovan commented on #15124
@BenChaimberg I made my change and added unit tests, but I'm running into issues when packaging the module up through jsii to test the .NET version. I followed the [pack section](https://github.com/aws/aws-cdk/blob/0db3effa033fd3bcc8903884e86f37e4a8154afe/packages/%40aws-cdk/aws-stepfunctions/lib/json-path.ts#L133-L137) of the README, but when it gets to `aws-s3-deployment`, the `dotnet build` com

[2021-06-17 14:30] markusl commented on #15172
@straygar the issue here is we have hundreds of accounts and this kind of change is very unexpected and will break the usual workflows. I wish this change would have been bundled with CDK v2 which includes other breaking changes.

[2021-06-17 14:35] jonathanlemonsonos commented on #15172
I am seeing the following, when trying to then bootstrap my application:

This CDK CLI is not compatible with the CDK library used by your application. Please upgrade the CLI to the latest version.
(Cloud assembly schema version mismatch: Maximum schema version supported is 11.0.0, but found 12.0.0)

[2021-06-17 14:49] adirshab opened #15178 "@aws-cdk/aws-lambda-event-sources: Unable to add sqs event source to lambda"
## :question: General Issue

### The Question
I'm trying to add SQS event source from existing queue to a new lambda, but when i'm running cdk deploy i encounter this problem.

`5:08:08 PM | CREATE_FAILED        | AWS::IAM::Policy                | <PolicyName>
The policy <PolicyName> already exists on the role <Role>.`

I was able to add a lambda trigger to the queue manually after deploy the lamb

[2021-06-17 15:04] Willooz commented on #11494
I solved this by upgrading my version of node from 12 to 14 (with nvm) for cdk 1.109.0.

`This CDK CLI is not compatible with the CDK library used by your application.` This might somehow mean your local version of node is too old for your cdk config...

[2021-06-17 16:18] g-farrow opened #15179 "core: Error when running in GitHub Actions: `Error: EACCES: permission denied, mkdir `"
When running a cdk deploy in GitHub Actions I have started to get the following error:

Error: EACCES: permission denied, mkdir.

This error occurs since upgrading from `v1.102.0` to `v1.1.9.0`

[code]

### Reproduction Steps

[code]

`package.json` dependencies:
[code]

GitHub Actions config:

[code]

### What did you expect to happen?

CDK will deploy as it did before I upgraded

### What actual

[2021-06-17 16:31] NetaNir commented on #15138
The `Runtime` is a class so you can specify any string you want:

[code]

[2021-06-17 16:55] carlosrochacardoso opened #15180 "Error using method aws_cdk.aws_events_targets.SfnStateMachine"
### Reproduction Steps

1. Use method aws_cdk.aws_events_targets.SfnStateMachine
SfnStateMachine(machine=<machine>,  role=<role>) or
SfnStateMachine(machine=<machine>)

2. cdk synth

3. Error

**Error if passing role**

jsii.errors.JSIIError: Resolution error: Resolution error: Resolution error: Resolution error: Logical ID must adhere to the regular expression: /^[A-Za-z][A-Za-z0-9]{1,254}$/, got

[2021-06-17 17:06] namedgraph commented on #15025
@MrArnoldPalmer what do you mean with "if you're stack is failing to deploy it's because of another problem"? My stack fails to deploy after I started using `efsVolumeConfiguration()` on my task definition:
[code]

[2021-06-17 17:10] mteichtahl commented on #15025
It may appear to be the cause though these are warnings. They won’t cause your stack to fail.

However, if you depend on the volume it’s likely to not be deployed causing “other” issues.

Please note: My working hours may not be your working hours. Please do not feel obligated to reply outside of your normal work schedule!

Sent on the go - please excuse mistakes

On Jun 18, 2021, at 3:06 AM, Mart

[2021-06-17 17:14] namedgraph commented on #15025
@mteichtahl well why use the volume if not to depend on it? :) We want to use an EFS volume to persist DB data. If that doesn't work, of course our DB container will fail.

Let me ask this way: is EFS volume support for task definitions currently broken in CDK?

[2021-06-17 17:15] #15129 closed

[2021-06-17 17:24] BenChaimberg commented on #15138
Sorry, should have specified the workaround: `new Runtime('syn-python-selenium-1.0')`. But should keep this open to support this via a static method.

[2021-06-17 17:53] iDVB opened #15182 "(@aws-cdk/aws-s3-deployment): BucketDeployment Prune function does not align with aws s3 sync --delete"
BucketDeployment Prune is based off only the filtered assets and not the local directory.

### Reproduction Steps
Compare...
**A:**
[code]
and
**B:**
[code]

In example **A** only **html files** would get pruned/deleted if orphan.
However, in example **B** ALL FILES not in `/local` will be deleted.

### What did you expect to happen?
I think the intension is for prune to function the same as does

[2021-06-17 18:11] rmsy commented on #14466
Just wanted to ask about the same thing, but for the ECS variant of the image:
https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-ecs/lib/cluster.ts#L788

An AMI does exist for `aws-ecs-1`/`arm64`. If this is something straightforward to submit a PR for, I would be willing to give it a shot.

[2021-06-17 18:20] BenChaimberg commented on #15171
Workaround before a fix can be made: set the construct ID and the container name to be the same value:
[code]

[2021-06-17 18:25] BenChaimberg commented on #15171
@Cruaier please feel free to assign me to a fix PR if you happen to work on one. The proper solution is probably to just expose `ecs.TaskDefinition.findContainer` as public and use that instead of inspecting the construct tree as we do currently. But happy to discuss different options!

[2021-06-17 18:40] carlosrochacardoso commented on #15180
It was my fault.
I was using uuid.uuid4().hex to set id to role and state machine with StateMachine.from_state_machine_arn and iam.Role.from_role_arn methods. The error occurs when the uuid begins with number.

[2021-06-17 18:40] #15180 closed

[2021-06-17 19:00] skinny85 commented on #15122
Hi @erudisch,

can you specify what command are you running on the CodeBuild job?

Thanks,
Adam

[2021-06-17 19:02] skinny85 commented on #15028
Hi @mwiarda-fette,

thanks for opening the issue. Do you perhaps have Premium Support? I think this might be worth it to open to the Amplify team directly - looks like their CloudFormation support does not handle edits correctly. Unfortunately, there's not much we can do here from the CDK side.

Thanks,
Adam

[2021-06-17 19:12] dontirun opened #15183 "(dynamodb): CfnGlobalTableProps missing pointInTimeRecoverySpecification"
GlobalTables have a [point in time recovery](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-dynamodb-globaltable-pointintimerecoveryspecification.html) property which is missing from the CfnGlobalTableProps

### Environment

  - **Framework Version:** 1.108.1
  - **Language (Version):** all

---

This is :bug: Bug Report

[2021-06-17 19:29] skinny85 commented on #15183
Hey @dontirun ,

thanks for opening the issue. The documentation that you pointed to is for the type. However, there doesn't seem to be a property yet on the [`AWS::DynamoDB::GlobalTable` resource](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-globaltable.html) that uses that type:

[code]

So, pretty sure the DynamoDB support for this feature is still not do

[2021-06-17 19:39] dontirun commented on #15183
My mistake! Looks like there is nothing to be done then.

[2021-06-17 19:52] peterwoodworth commented on #15178
Hey @adirshab, can you share which `<PolicyName>` already exists, and which role it's trying to add the policy to?

I wonder if it was [either of the policies](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html#role) that are required for the lambda function to have

I wasn't able to reproduce this so I'm going to need more info to help you out. How are you creating

[2021-06-17 19:55] #15183 closed

[2021-06-17 19:56] dfonnegra commented on #14994
Yes. On staging, it deployed successfully because I was deploying the stack gradually as soon as I was writing the code. So when I was creating the CodePipeline, there was already an ECR image and an ECS cluster.

To summarize a little bit the issue, I have the following setup:
- ECR
- ECS
    - One service
    - Two task definitions
- ALB
- CodePipeline
    - Source Github
    - Build Project tha

[2021-06-17 19:58] longtv2222 opened #15184 "(@aws-cdk/assert): Unable to pass test if a resource doesn't exist"
## :question: General Issue

### The Question

I want to write validation tests and make it a library so that every stack can follow best security practices, naming convention, ... for my cdk stacks.

I've been looking at aws-assert for it and it seems not possible to run test **only**  if a resource exists in the stack.

For example, if I were to write:

[code]

without any bucket in the stack th

[2021-06-17 20:18] rkustner commented on #15172
we feel the same pain as @markusl ... we could push the bootstrap upgrade to all accounts but I wonder if the new bootstrap is backwards compatible? so will it work if an account is using a slightly older version of the cdk?

[2021-06-17 20:22] NGL321 commented on #15179
Hi @g-farrow,

Thank you for reporting this. I havent had an opportunity to reproduce yet, but someone will take a look when they have an opportunity. We have marked this issue as a `p2`, this means it may be some time before it gets addressed. If you think this should be a higher priority, feel free to get upvotes and we will escalate.

If you need this done more quickly than we can offer, please

[2021-06-17 20:26] peterwoodworth commented on #15184
Hey @longtv2222, I think in theory what you posted should work, can you tell me what specifically is going wrong when the test doesn't pass?

[2021-06-17 20:27] peterwoodworth commented on #15142
I'm not sure I understand exactly what you're asking for @abdelmmu, what is it exactly you would like to accomplish and why does creating the subnets after creating the VPC not work for you?

[2021-06-17 20:31] NGL321 commented on #15170
Hey @dr-star,

Thank you for submitting this request. I have looked it over and it sounds like something that should be added to our L2!

It looks like this is a feature that exists in the L1, so if you need a workaround before this is implemented, using the L1 should do the trick!

If you want to see this get implemented faster, feel free to garner upvotes or submit a PR with the feature yourself

[2021-06-17 20:43] longtv2222 commented on #15184
I created a sample repo for this https://github.com/longtv2222/cdk-assert-error. (Created with ```cdk init sample-app --language typescript```)

![image](https://user-images.githubusercontent.com/61606375/122469144-d36c1380-cf79-11eb-932b-0ac3e8e3426f.png)

It seems to me that the if statement didn't verify the existence of Queue.

[2021-06-17 20:51] peterwoodworth commented on #15066
I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-06-17 20:52] mrpackethead commented on #15172
@rkustner .. the bootstrap is backwards compatible,   templates created with cdk 1.109 need bootstrap 6 or higher..    So a template that requried version 4 or higher ( about version 0.72? ) will work very happily with bootstreap version 6.

We run an evergreen environment.  We take the approach that we'll always keep uptodate, and we'll make what changes we need to keep to date at all times.   It

[2021-06-17 20:53] longtv2222 commented on #15184
For sanity check, I tried

[code]
with

[code]

However the test passed
![image](https://user-images.githubusercontent.com/61606375/122470768-af113680-cf7b-11eb-823f-8ea71d4b3256.png)

[2021-06-17 20:54] peterwoodworth commented on #12985
I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-06-17 20:59] peterwoodworth commented on #14787
I'll be closing this now because the workaround I posted above is pretty simple. If anyone would like to revisit changing the `defaultStage` prop to an `IHttpStage` ping me and let me know 😄

[2021-06-17 21:00] mhoc commented on #11602
I'm not sure if this will specifically address the issue you're seeing, but: We ran into the same thing, and it seems like it had something to do with adding bucket policies in addition to the ones cloudtrail/cdk would automatically attach.

Specifically: with `enforceSSL: true` on the bucket configuration, it wouldn't work. This flag simply instructs the CDK to add another `Deny` clause to the bu

[2021-06-17 21:03] mrpackethead opened #15186 "Prior warning for bootstrap changes"
Changes to the bootstrap are evitable, as CDK evolves..  There can be a bit of pain when it changes, particularly if it catches you out when a version updates and things no longer work...

So..

(1) It would be great if new bootstrap templates versions get released several versions before cdk generates templates requiring them.   As there is backwards compatibility,   this wont' cause much trouble

[2021-06-17 21:10] madeline-k commented on #13942
Hey @zijuexiansheng, thanks for opening this issue! I am working on repro-ing the issue before triaging it. Can you provide a minimal, example reproduction of the issue?

[2021-06-17 21:26] peterwoodworth commented on #15184
Hmm I'm finding the same thing as you. The if statement isn't working, I'll research this and get back to you

[2021-06-17 21:43] BenChaimberg commented on #15124
Very odd, I think the `private` key in the lambda-layer-awscli package.json should actually be removed, not set to `false`. Try that, then package it, then continue with packing the entire monorepo.

[2021-06-17 22:22] peterwoodworth commented on #15114
I'm not too familiar with Go, but I can answer some of the concerns here.

`interface {}` is what we use for `any` or `JSON` types. So looking at the [CfnServiceProps](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apprunner.CfnServiceProps.html) all the fields which have the `interface {}` are JSON types. Looking at all the other `Cfn` declarations in Go, they all follow this patter

[2021-06-17 22:31] peterwoodworth commented on #14871
The Task construct is deprecated because the [Stepfunctions-Tasks](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-stepfunctions-tasks-readme.html) library exists! Use the constructs in this library in place of the generic tasks in the example

[2021-06-18 01:24] dillon-odonovan commented on #15124
That did the trick and I also had to do it for `lambda-layer-kubectl`. Should I check in the removal of the `private` key from their respective `package.json`s?

[2021-06-18 01:40] berenddeboer commented on #1649
@paulrichards-provar that's exactly how it works for me. I'm assuming you are on the latest CDK. Perhaps you can come up with a small example that gives that error?

[2021-06-18 02:28] BenChaimberg commented on #15124
No that's okay, I think CI builds will be fine. I'll open a separate issue for it. Did the packaged code exhibit the erroneous behaviour?

[2021-06-18 02:48] dillon-odonovan commented on #15124
Nope - everything was fine!

I'll open a PR soon :)

Thanks for all your help!

[2021-06-18 04:35] pahud commented on #14466
According to the bottlerocket github repo, we do have `arm64` support now.
https://github.com/bottlerocket-os/bottlerocket#architectures

[code]

I support the PR for it.

[2021-06-18 04:58] HelioStrike opened #15188 "(elasticsearch): Domain.fromDomainAttributes gives "Invalid URL" when endpoint is a token"
I'm getting a `Invalid URL` when trying to use `Domain.fromDomainAttributes` with a CfnDomain object. The CfnDomain object was retrieved from a CfnInclude object. Here's the snippet of code that's failing for me.

[code]

### Reproduction Steps

Here's some minimal code that causes the bug.
[code]

### What did you expect to happen?

The error shouldn't happen and the Domain object should be succe

[2021-06-18 07:09] jogold commented on #15028
There's maybe something to do with https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-amplify-app-basicauthconfig.html#cfn-amplify-app-basicauthconfig-enablebasicauth?

[2021-06-18 07:14] mwiarda-fette commented on #15028
Hi Adam, thanks for the feedback.
Unfortunately, we only have basic support.
I will try to create a case anyway. Maybe they are interested in this.

Best,
Michael

[2021-06-18 07:15] namedgraph commented on #15025
I checked my ECS service logs and what I see is:
[code]

[2021-06-18 07:45] rix0rrr commented on #12985
Thanks Peter, but I'm actually working on this right now :).

[2021-06-18 08:41] #5797 closed

[2021-06-18 08:43] ttais2017 opened #15189 "(AppConfig from CloudFormation): Error "S3 Bucket not owned by this account" while creating app-config profile (with S3 as source)"
After having created a Bucket (Bucket.Builder) and followed other additional successfully steps (for app config, such as create an application, setup an environment), I'm trying to create a CfnConfigurationProfile which source is a file located on the above described bucket.  An error is generated by deployment:  S3 Bucket not owned by this account

### Reproduction Steps
using cdk java classes:

[2021-06-18 09:26] ytsipun commented on #2562
+1

[2021-06-18 09:39] mrpackethead commented on #15169
+1 for this.  This would be reallyk handy.

[2021-06-18 09:41] mrpackethead commented on #12748
We need to implement a two person manual approval in our pipelines.

[2021-06-18 09:57] hffmnn commented on #14787
@peterwoodworth Personally I would not close it and label it as `good first issue` instead.

[2021-06-18 10:16] hoegertn commented on #15169
@rix0rrr did you create this for tracking only or is this not on your roadmap? I could take it over if you like.

[2021-06-18 10:18] david-fractiunate commented on #11544
+1 Push, we need this.... CDK Docker Assets are not usable without it for our team.

[2021-06-18 10:18] david-fractiunate commented on #10999
+1 Push, we need this.... CDK Docker Assets are not usable without it for our team.

[2021-06-18 10:29] suryakola commented on #14871
Thanks a lot @NGL321  it worked :)

[2021-06-18 10:29] #14871 closed

[2021-06-18 10:44] eladb commented on #14285
@jfrconley I ran some tests and it seems like the latest version of public.ecr.aws/sam/build-python3.7 includes `bash`, so I believe your issue should now be resolved.

I am closing this issue for now. Can you please verify and reopen the issue if your issue persists?

[2021-06-18 10:44] #14285 closed

[2021-06-18 10:44] otaviomacedo commented on #15019
Hi, @karthikns16. Thanks for reporting this.

As part of this flow, the custom resource tries to delete the contents of the old bucket. But, at this point, it has gained permissions to the new bucket and lost permissions to the old one, resulting in this error (see log messages from the lambda below).

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this

[2021-06-18 12:01] Raketenpete commented on #11494
Saved our friday! Thank you<3

[2021-06-18 12:51] rix0rrr commented on #15172
You are correct @markusl, this should have been in the changelog. Sorry about that.

[2021-06-18 13:00] JoeShi opened #15194 "(CDK Pipeline): How to build and deploy another CDK project in CDK Pipeline"
## :question: General Issue

### The Question
I am tring to use the CDK Pipeline to build and deploy multiple CDK projects. One CDK Project contains the Pipeline itself and rest CDK projects contains applications. I cannot write all the applicaitons in just one CDK project, because it will make the project super huge. The CDKPipeline only allow one source acition and one synthAction. How can I use

[2021-06-18 13:19] g-farrow commented on #15179
Hi @NGL321

It looks like this is not a CDK issue - but actually, an issue caused by a change to the GitHub Action's base image: https://github.com/youyo/aws-cdk-github-actions/issues/36

Therefore I'm going to close this issue - thanks!

[2021-06-18 13:19] #15179 closed

[2021-06-18 13:31] eladb commented on #15155
I'll take a look next week

[2021-06-18 13:33] eladb commented on #14910
Seems like a useful addition, contributions are welcome.

[2021-06-18 13:43] severn-everett opened #15196 "v1.109.0 CLI cuts off step progress and outputs misleading "Failed resources:" message"
When deploying an AWS stack using v1.109.0 the CLI...

- Outputs "Failed resources:" message even if all resources were deployed successfully.
- Does not print finished progress of every step.

### Reproduction Steps
Upgrade from 1.108.1 to 1.109.0.

### What did you expect to happen?
AWS stacks should deploy as they did before.

[code]

### What actually happened?
The stack deployment fails to cl

[2021-06-18 14:04] paul-doherty commented on #15063
The attributes look to be available in CFN now https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-queues.html#aws-sqs-queue-deduplicationscope

[2021-06-18 14:29] ghost opened #15197 "(aws-ecs-patterns): ECS Exec Support"
Add ECS Exec Support to the higher level constructs in ecs-patterns

### Use Case

As a user, I want to set the flag `enableExecuteCommand: true` in my `aws-ecs-patterns.ApplicationLoadBalancedFargateService` construct.

### Proposed Solution
This is currently possible with the `ecs` module but not the `ecs-patterns` (see https://docs.aws.amazon.com/cdk/api/latest/docs/aws-ecs-readme.html#ecs-exec

[2021-06-18 14:39] a-h commented on #15114
Thanks @peterwoodworth!

## Generation

In that case, I'm think there's a wider problem with the Go CDK generation. I've been using TypeScript CDK for a while, and decided to give the preview Go support a try.

Go's a strongly typed language, and the types have clearly been generated, it's just that the types of the fields are not being set. This means there's no IDE autocomplete, I'm pretty sure

[2021-06-18 14:45] #15172 closed

[2021-06-18 15:41] BenChaimberg commented on #15188
We should extract the domain name from the ARN instead of the endpoint, if it's available. Change required here: https://github.com/aws/aws-cdk/blob/7c5b2aa4854d24535693e1ceefa7e7fb38313887/packages/%40aws-cdk/aws-elasticsearch/lib/domain.ts#L1214 to use [`Stack.parseArn`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Stack.html#parsewbrarnarn-sepiftoken-hasname).

@HelioStrike if

[2021-06-18 16:18] roryf commented on #11625
Not experienced this with CDK, but I've had similar issues previously with Terraform (deploying simple Lambda change required full infra comparison). My conclusion was that tightly coupling your infrastructure deploy to you app code bundling, and even deployment, isn't a good idea - they are different concerns.

[2021-06-18 16:31] MrArnoldPalmer commented on #15025
@namedgraph what I mean is that I was able to deploy a stack successfully using efsVolumeConfiguration, so my conclusion was that this message is a warning but ultimately it doesn't affect stack deployment.

The error in your service logs looks related to incorrect cluster/instance configuration. `fs.connections.allowDefaultPortFrom(service);` is used to give the service access to the filesystem,

[2021-06-18 16:48] namedgraph commented on #15025
@MrArnoldPalmer so OK, maybe there is another error but it's got to be EFS-related, because if I replace `efsVolumeConfiguration()` with `host()` my stack deploys just fine.

But I haven't been able to find that specific error yet.

[2021-06-18 16:53] MrArnoldPalmer commented on #15025
@namedgraph makes sense to me. Are you able to share your code or a minimal reproduction that has the same error?

[2021-06-18 17:03] namedgraph commented on #15025
@MrArnoldPalmer if I had a good example, it would probably take me less time to fix my problem than to create a reproduction :)
I can see I'm missing some permissions:
https://gist.github.com/cajames/3daec680b1101c8358e2ff30dfadd52a?fbclid=IwAR0UGQ3TfwIyWvsi6R64zH4TUNFgc-1iEdNNAajRpCsCffx0nWMCbpIRrs4#file-fargate-efs-cdk-stack-ts-L176

[2021-06-18 17:29] BenChaimberg opened #15203 "(lambda-layer-kubectl): local pack skipped because package.json contains invalid value for "private" key"
Running `./foreach.sh --up yarn run package` for @aws-cdk/aws-eks fails with error:

This is because, earlier in the tree traversal, the packaging for lambda-layer-kubectl was skipped with message:

This is due to [the "private" entry in package.json](https://github.com/aws/aws-cdk/blob/7c5b2aa4854d24535693e1ceefa7e7fb38313887/packages/%40aws-cdk/lambda-layer-kubectl/package.json#L3) in lambda-lay

[2021-06-18 17:29] namedgraph commented on #15025
I added `ec2Service.getService().getConnections().allowFrom()/allowTo()` but the deployment still fails.

Though I was finally able to find the actual error in the DB task logs:
[code]

[2021-06-18 17:30] BenChaimberg commented on #15203
cc @dillon-odonovan

[2021-06-18 17:36] BenChaimberg commented on #15124
Opened #15203 for the packaging issue

[2021-06-18 17:47] #15124 closed

[2021-06-18 18:40] rdbatch02 opened #15205 "(@aws-cdk/aws-rds): DatabaseInstanceFromSnapshot with SnapshotCredentials.fromPassword() does not work"
When deploying an RDS database instance from a snapshot, using `SnapshotCredentials.fromPassword()` causes CloudFormation to throw an error "Property MasterUsername cannot be empty". The MasterUsername in CloudFormation is supposed to be set to the username from the snapshot, but there's no API provided to set this value in `SnapshotCredentials`, and it doesn't do any sort of auto-populating.

Ide

[2021-06-18 19:13] ryparker commented on #15196
Hello @severn-everett :wave:

After investigating this CLI output it looks to be a little misleading. The CLI will always output `Failed resources:` even when there are no failed deployments (see implementation). As long as all resources listed have the green checkmark emoji (`✅`)  this means that all resources succeeded.

You should be able to see that the stack was successfully deployed via the

[2021-06-18 19:25] gliptak opened #15206 "(construct): consistent naming for construct resources"
`cdk` generates below naming pattern like `stackName-constructNameresourceNamepostfix`

note no dash between constructName and resourceName

https://cdkworkshop.com/30-python/40-hit-counter/logs1.png
![image](https://user-images.githubusercontent.com/50109/122607156-257b6a80-d048-11eb-8423-e5b51596b282.png)

### Use Case

Separating constructName and resourceName with dash makes listing of resourc

[2021-06-18 19:36] severn-everett commented on #15196
What about the cleanup step (4/4)? That output has disappeared in the deployments using 1.109.0 as well.

[2021-06-18 19:41] otaviomacedo commented on #15090
What you can do is use the glob strategy to simulate the same sequence of includes and excludes you used to do with the AWS CLI:

[code]

[2021-06-18 19:53] xavierbuspatrol commented on #15197
FYI, I found a workaround using Escape Hatches https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html

My workaround is (Python) :
[code]

[2021-06-18 20:02] ryparker commented on #15196
I missed that bug, sorry about that. I opened a [PR](https://github.com/aws/aws-cdk/pull/15207) to fix the misleading `Failed resources:` message but will need to dedicate more time into investigating the cutoff of step progress output.

I am marking this issue as p1 due to the number of users that will be impacted. It has been prioritized as important and should see attention soon. We use +1s to

[2021-06-18 20:25] BenChaimberg commented on #10449
The value for `ip_addresses` should be:
[code]

[2021-06-18 20:25] #10449 closed

[2021-06-18 20:28] mteichtahl commented on #15025
Can you share the synthesised cloud formation for the efs mount point ?

Please note: My working hours may not be your working hours. Please do not feel obligated to reply outside of your normal work schedule!

Sent on the go - please excuse mistakes

On Jun 19, 2021, at 3:30 AM, Martynas Jusevičius ***@***.***> wrote:

﻿
I added ec2Service.getService().getConnections().allowFrom()/allowTo() but t

[2021-06-18 20:30] ryparker commented on #15206
Hey @gliptak :wave:

Thanks for suggesting this feature request. If you're in need of a workaround you can always name the lambda function manually via the `functionName` prop. See [CDK lambda docs](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.FunctionProps.html)

I am marking this issue as p2 which means that we are unable to work on this immediately.
We use +1s to help us

[2021-06-18 20:40] gliptak commented on #15206
@ryparker any pointers on what changes might this require (and I will work towards a PR)?

[2021-06-18 21:21] peterwoodworth commented on #13669
Seems like this issue is resolved, ping me if you have more concerns with this :smile:

[2021-06-18 21:21] #13669 closed

[2021-06-18 21:22] peterwoodworth commented on #13325
This issue seems resolved

[2021-06-18 21:22] #13325 closed

[2021-06-18 21:27] peterwoodworth commented on #15114
Thanks for the thorough reply. @MrArnoldPalmer can you take a look at this?

[2021-06-18 21:38] ryparker commented on #14479
Hey @hertzsprung :wave:

Thanks for opening this feature request.

I just wanted to follow up and let you know that we've marked this issue as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution

[2021-06-18 21:39] peterwoodworth commented on #10800
Closing because Adam has given a full response to the issue. Again, apologies for the experience here

[2021-06-18 21:39] #10800 closed

[2021-06-18 21:41] peterwoodworth commented on #13020
Closing because Adam has appropriately responded to the issue and no further discussion has taken place

[2021-06-18 21:41] #13020 closed

[2021-06-18 21:44] ryparker commented on #13636
Hey @mimozell :wave:

Thanks for bringing this to our attention.

This is marked as p1 which means it has been prioritized as important and should see attention soon, although please keep in mind that we do have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as always we are happy to take

[2021-06-18 21:53] peterwoodworth commented on #12295
Closing because this is related to cloudformation

[2021-06-18 21:53] #12295 closed

[2021-06-18 22:08] peterwoodworth commented on #11051
Whether they have ARNs here or not isn't up to us here. If cloudformation doesn't have it, then the CDK won't provide it for an L1. Apologies for the inconvenience here, if you'd like to see the ARN attribute available open an issue [with Cloudformation](https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues) if there isn't already a request for this

[2021-06-18 22:08] #11051 closed

[2021-06-18 22:25] peterwoodworth commented on #10282
Unfortunately, this currently isn't possible, open up a feature request if you'd like to see this! https://github.com/aws/aws-cdk/blob/c647e389bd279b34e91110c9418885fe904739c3/packages/%40aws-cdk/aws-ecs/lib/cluster.ts#L1106-L1110

Aside from that, Shamelesscookie's response gave appropriate guidance here, thank you!

[2021-06-18 22:25] #10282 closed

[2021-06-18 22:31] peterwoodworth commented on #14787
you're right, relabeled as a feature request

[2021-06-18 23:03] peterwoodworth commented on #12086
Pretty sure that this is a requirement from cloudformation. The strings [seen on this page](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html) are what the CDK generates, so it's not actually getting the values before deployment time.

[This response](https://stackoverflow.com/a/59774628) explains how to get around this with CDK custom resources, and without ha

[2021-06-18 23:03] #12086 closed

[2021-06-19 00:55] skinny85 commented on #10049
Minimal reproduction:

[code]

[2021-06-19 00:56] skinny85 commented on #10049
The fact this also causes the cycle to happen:

[code]

worries me a little bit.

[2021-06-19 01:30] epheat opened #15211 "[Route53]: CrossAccountZoneDelegationRecord should support RemovalPolicy"
[CrossAccountZoneDelegationRecord](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-route53.CrossAccountZoneDelegationRecord.html#towbrstring) currently does not support the application of a RemovalPolicy. When the resource is deleted, it will assume the DelegationRole and issue a ChangeResourceRecordSets call with action DELETE. In our case, we would rather leave the delegation intact

[2021-06-19 01:35] epheat commented on #15211
Alternatively, the CrossAccountZoneDelegationRecord could somehow inherit the RemovalPolicy from the HostedZone that it delegates to. It would be an antipattern to have a HostedZone with RemovalPolicy.DESTROY, meanwhile a Delegation with RemovalPolicy.RETAIN, since that would leave you with a dangling delegation.

[2021-06-19 05:18] varnenec commented on #14408
@ericzbeard how do I mark this as a bug?

[2021-06-19 07:23] n0ts opened #15212 "(aws_codestarnotifications): props.source.bindAsNotificationRuleSource is not a function"
I use example code for codestarnotifications.
https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_codestarnotifications/README.html

But I failed that set notification for codebuild.

### Reproduction Steps

[code]

### What did you expect to happen?

Successfully Notification configuration for CodeBuild.

### What actually happened?

I got a below error.

[code]

### Environment

  - **

[2021-06-19 08:15] namedgraph commented on #15025
These are the relevant parts from the template, I think:
[code]
Am I supposed to create the directories on EFS?

Using CDK 1.102.0.

[2021-06-19 09:55] mrpackethead opened #15213 "[Route53] cdk-route53 Cross account records."
Extend Cross Acount Records to be more than Just Zone Delegations.     It would be great if out of the box, we could do any kind of record in a zone that was not in the account that the stack is in.

### Use Case

many times, we want to be able to add records for external things... eg

customerportal.domain.com
www.domain.com

### Proposed Solution

### Other

* [ ] :wave: I may be able to impleme

[2021-06-19 10:06] mrpackethead commented on #15142
My understanding is that ec2.Vpc will divide the entire CIDR block up, and create all the subnets for you.  Its that behavior thats problematic.     I have for a long time, really disliked the ec2.Vpc construct, as it is not flexible enough to build 'real world' networks. Its probalby fine for one project vpcs, but at least in the enterprise space this doe'stn work.

The way I have worked around t

[2021-06-19 12:04] wolfadr opened #15214 "Glue: Table construct insists on having columns even with partition keys present"
I wish to create a table definition that contains only partition keys and no other columns. These are to be discovered later by a Glue Crawler. However, the `Table` construct doesn't allow me to do that. CDK responds with either a type error, if I omit the `columns` property or with the error _"you must specify at least one column for the table"_, if I give it an empty array.

If I construct the s

[2021-06-19 14:23] normjon commented on #15150
I thought I provided details, but clearly I didn't.  Here you go.

Example code giving error:
const role = new iam.Role(this, 'myRole', {
      assumedBy: new iam.AccountPrincipal('1234')
});

Error description coming from IDE:
Type 'AccountPrincipal' is not assignable to type 'IPrincipal'.
  Types of property 'principalAccount' are incompatible.
    Type 'string | undefined' is not assignable to

[2021-06-19 16:31] lavie commented on #15025
@namedgraph I don't see how this is contributing to the issue I've reported. The team has acknowledged the error and presumably it will be fixed soon, since it's quite a simple fix. If you're having problems deploying even after using the workaround which fixes the original issue then I suggest you open a separate ticket.

[2021-06-19 16:36] namedgraph commented on #15025
@lavie sure. What exactly is the workaround - this? https://github.com/aws/aws-cdk/issues/15025#issuecomment-858245732

[2021-06-19 17:26] lavie commented on #15025
yea, it works.

[2021-06-19 17:58] fractionalJoe commented on #14703
Following up on this, I'm still unable to make progress and it's becoming a blocker. I have read through the docs and am unable to see what I'm doing wrong. Any update?

[2021-06-19 20:07] shivlaks commented on #8080
@BenChaimberg - now that the `@experimental` annotations have been dropped from all constructs, what's the path forward for adding support here in a stable manner?

The `Emr` constructs are still not backed by L2s, which is one of the reasons it was marked as experimental. Would we need to add new properties so that we remain backwards compatible?

[2021-06-20 02:20] longtv2222 commented on #15206
I'm sorry but wouldn't changing the naming scheme for lambda will be a breaking change?

For example, when you deploy a stack with cdk generated name and another stack imports that lambda function using fromFunctionArn. Next time you update the function with new naming scheme, it'll break or if the updated function has deletion policy to be **delete**, then fromFunctionArn lookup wouldn't work at

[2021-06-20 03:13] codeedog opened #15217 "(aws-certificatemanager): DNS Validation fails when alternates are in different hosted zones"
Although SSL Certificates may contain alternate subject domains with different hosted zones and it is possible to create such certificates via Web Console, aws command line and, in fact, CDK (using the `Certificate` class), it is not possible to do this with `DnsValidatedCertificate`. The certificate is, in fact, **actually** created. However, the CDK management code triggers an error causing a ro

[2021-06-20 07:00] adirshab commented on #15178
The policy is `CreativesServiceRolePolicy03F02C35` and the role is `CreativesServiceRole`.

Both already existed before i tried to deploy with the sqs trigger

[2021-06-20 14:16] iliapolo commented on #9873
@boazsilverman https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-eks#launch-template-support

[2021-06-20 14:33] iliapolo commented on #14885
@jessekrubin Thanks for the details.

To my understanding, you are looking for a way to attach multiple file systems to a lambda function, similarly to how you can do this in CloudFormation: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-filesystemconfigs

This is currently not supported by the L2 `Function` construct. I am repu

[2021-06-20 14:53] iliapolo commented on #4323
Even though https://github.com/aws/aws-cdk/pull/15158 was merged, we still can't change the type since it constitutes a breaking change. Would need to come up with some additive approach.

[2021-06-20 15:11] iliapolo commented on #14466
@pahud Thanks. Converting this to a feature request. Happy to accept a contribution here.

[2021-06-20 15:27] adirshab commented on #15178
Found the issue, an auto generated policy has not beed destructed correctly. Thanks!

[2021-06-20 15:27] #15178 closed

[2021-06-20 18:53] shivlaks commented on #9354
the usage for using a Json Path for specifying the algorithm should actually be:

[code]

which will render to:

[code]

Having said that, I think the `fromJsonExpression` method should automatically do the `JsonPath.stringAt` part so users don't have to. Given that the `@experimental` annotation was dropped, one thing I can think of to support this would be to check if the provided string is a an

[2021-06-21 00:38] carlsborg opened #15218 "cli: passing a --region param should be treated as an unknown flag"
## :question: General Issue

### The Question

cdk deploy happily takes a --region flag but ignores it. given the region is picked up from the env var or the hard coded env, the cli should print a message about an unknown argument  and exit.

### Environment

  - **CDK CLI Version:** 1.109.0 (build c647e38)
  - **Module Version:**
  - **Node.js Version:** v14.15.4
  - **OS:** Ubuntu
  -   **Langua

[2021-06-21 03:10] adam-nielsen commented on #11625
That's a very good point, it does make sense to split the build and the deploy.  It makes rollbacks easier too because you can just run another deploy with the previous version, as opposed to rolling back the code and then rebuilding the previous version from scratch in order to deploy it.

All the CDK examples have the deploy as the main focus with the actual code you're running tacked on almost

[2021-06-21 04:32] longtv2222 commented on #15184
For anyone who encounters this problem, my work around is to wrap haveResourceLike inside a try catch to check if a resource exists or not.
Sample code is as below:
[code]

[2021-06-21 04:32] #15184 closed

[2021-06-21 05:23] boazsilverman commented on #9873
Hi Eli, thank you very much for the response. I am writing my code in
Python, and when I try to translate the code you referenced to python it
doesn't seem to work.
Any chance you have that same code in Python that I can use as a reference?

Thanks a lot,
Boaz

On Sun, Jun 20, 2021 at 5:16 PM Eli Polonsky ***@***.***>
wrote:

[2021-06-21 05:47] keshav0891 commented on #7950
Try increasing the memory allocation to your lambda function. Default limit is 128MB which might be low for your usecase.

[2021-06-21 05:57] Seiya6329 commented on #10049
Thanks @skinny85 for pasting the minimal reproduction sample code here.

Just to highlight the root cause, `new appmesh.VirtualNode()` scenario is causing the `MeshStack` to reference `ServiceStack` because:

1. `VirtualNode` resource is created in `this` stack
2. `VirtualRouter` resource is created in same stack where `Mesh` resource is created
3. `Route` resource is created in same stack where `

[2021-06-21 06:36] boazsilverman commented on #9873
Hey, when trying to apply exactly the same logic, just in Python, here is
the result I got:
[image: image.png]

My code is attached:
ssh_connection = aws_eks.NodegroupRemoteAccess(
            ssh_key_name="cdk-pair-ohio",
            source_security_groups=[cluster.cluster_security_group]
        )
        user_data = aws_ec2.UserData.custom(
'/aws/service/eks/optimized-ami/1.16/amazon-linux-2/re

[2021-06-21 06:38] Seiya6329 commented on #10049
I believe the concern is what would be the probability for a user to face this issue.

Essentially there are two high-level scenarios to reproduce this error. To simplify, I will refer `StackA` and `StackB` as an example while a user may have much more stacks.

Scenario #1: Uses a method to create a resource
1. `Mesh` resource is created in `Stack A`
2. `Stack B` refers `Mesh` resource from `Stack

[2021-06-21 09:24] krishansubudhi opened #15221 "(aws_s3): Is there a way to apply s3 replication rule on existing bucket ?"
I am trying to apply s3 replication rule using existing s3 bucket(which is not created using cdk).

[code]

Here my source_bucket already exists. Is there a way to pass already existing bucket instead of creating a new one ?

[2021-06-21 09:44] fab-mindflow commented on #15016
It looks like [AWS::Amplify::App in CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-amplify-app.html) has no custom build image property. If right, that means it is not even possible yet with Cfn constructs as a workaround.

[2021-06-21 10:11] ciaranevans opened #15222 "(aws-cloudwatch): GraphWidget.to_json not returning not-tokenised JSON"
When using `aws_cloudwatch.GraphWidget`, I expect `to_json` to return me a JSON object that I could dump to a JSON string with `json.dumps()`. However the JSON object returned instead has references to `<jsii._reference_map.InterfaceDynamicProxy object at 0x1052041c0>` like objects.

For context, I'm trying to expose Widget JSONs as CfnOutputs of my Stack.

### Reproduction Steps

[code]
### What

[2021-06-21 10:15] MousaZeidBaker opened #15223 "(aws-stepfunctions-tasks): Set StepConcurrencyLevel when creating EMR clusters through Step Functions"
How do one specify the `StepConcurrencyLevel` parameter when creating EMR clusters through Step Functions?

The following can be found in the [AWS Step Functions docs](https://docs.aws.amazon.com/step-functions/latest/dg/connect-emr.html)

... but there is nothing about step concurrency level in the CDK Step Functions Task [EmrCreateCluster docs](https://docs.aws.amazon.com/cdk/api/latest/docs/@aw

[2021-06-21 10:59] straygar opened #15224 "(kinesis): StreamEncryption supported region condition does not respect allocateLogicalId"
### Reproduction Steps
1. Create a Stack, which implements `allocateLogicalId`, adding a static prefix to resource name
2. Create a `kinesis.Stream` in this stack
3. `cdk deploy`

### What did you expect to happen?
Stack deploys successfully

### What actually happened?
Stack deployment fails, with the error message:
[code]

### Environment

  - **CDK CLI Version  :** 1.109.0
  - **Framework Versi

[2021-06-21 11:28] luckily commented on #15212
Hi @n0ts ,
My environment is similar to you, but it's works for me.

Something like this:
[code]

And `install_requires` parameter in `setup.py`
[code]

[2021-06-21 11:54] rix0rrr commented on #15088
The 500 resources per stack limit is imposed by CloudFormation and not something we can influence. Sorry you're experiencing problems with that right now. You should have been seeing a warning appear when you started to approach this limit, that's unfortunately the best we can do. The only thing I can recommend is breaking your application up into Stacks or Nested Stacks to keep the resource count

[2021-06-21 11:57] rix0rrr commented on #15135
It depends on what ends up in the generated template.

If this is a SecureString, that might be the issue, as CloudFormation doesn't support those:

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/parameters-section-structure.html#aws-ssm-parameter-types

[2021-06-21 12:02] rix0rrr commented on #15162
As this is a JS SDK issue, not something the CDK can do something about. Upgrading to JS SDK v3 won't help as it has the exact same `postinstall` script.

Experimentation shows that the following environment variable serves as a workaround:

[code]

Good luck.

[2021-06-21 12:02] #15162 closed

[2021-06-21 12:02] erikatgreenbyte commented on #14343
@ericzbeard Any news to share regarding ETA for a fix?

[2021-06-21 12:05] rix0rrr commented on #15189
Can you tell me why you think this is a bug in CDK?

Have you looked at the resulting CloudFormation template? Does it look right or wrong?

Show us some code or show us the template, otherwise we cannot help at all.

[2021-06-21 12:14] rix0rrr commented on #15141
Unfortunately this cannot work.

We cannot update the pipeline before the build happens because the build produces the cloud assembly that contain the pipeline definition.

Yes, this is an unfortunate limitation of self-mutation. We will have to see how we might work around that, but I don't see how moving the stages around would fix things (at least not naively).

Keeping this thread open for dis

[2021-06-21 12:15] rix0rrr commented on #15161
Discussed in a side channel. Submitted to do some experimentation and come back with a proposal.

[2021-06-21 12:25] ttais2017 commented on #15189
-- I think this is a bug in CDK, since I tested already creating the same resources (but manually directly from the AWS-console) in AppConfig.  The resources could be created without problems.
Now, using the CDK (Java Classes) I was able to create partially resources of my use case.  Nevertheles I could not create the AppConfig profile, because the described error ""S3 Bucket not owned by this acc

[2021-06-21 12:29] ttais2017 commented on #15189
{
  "Resources": {
    "ManPccRepositoryManPcc00PipelineStackPipeline993B49C7EventRule2FB254ED": {
      "Type": "AWS::Events::Rule",
      "Properties": {
        "EventPattern": {
          "source": [
            "aws.codecommit"
          ],
          "resources": [
            {
              "Fn::Join": [
                "",
                [
                  "arn:",
                  {

[2021-06-21 12:43] sebsto opened #15226 "aws_lambda AssetImageCodeProps : I need to pass arguments to docker build"
I would like to pass additional arguments to the docker build command, such as "--tag" and "--volume"
Tag will make developer life easier to track all docker images on their machines
Volume will allow to speed up build process when having many dependencies.

### Use Case

Currently the `buildArgs` property only allows to pass value to `docker build --build-args`
It is not possible to pass arbitrar

[2021-06-21 12:44] nija-at commented on #15123
Marking this as a feature request.

[2021-06-21 13:07] nija-at commented on #15023
Hi @codeedog,

Thanks for filing this issue.

Based on this, somehow the absolute path of your repo is getting inside the `package.json` of the `axios`. This will (correctly) trigger a re-deployment of the asset. We re-deploy the asset if anything about the asset has changed. It's hard (almost impossible) for us to determine what changes should and should not be re-deployed.

I tried re-producing

[2021-06-21 13:11] nija-at commented on #15023
On the other hand, running the following command yields,

[code]

This difference is coming from -

https://github.com/aws/aws-cdk/blob/163e8122db994d0bea7077f025876dbeac490ead/packages/%40aws-cdk/core/lib/asset-staging.ts#L411

@eladb, @jogold - is it expected that the same repo cloned into different locations should yield different asset hashes? Feels incorrect.

[2021-06-21 13:14] nija-at commented on #14930
Why is `pipenv` preferred over `virtualenv`?

[2021-06-21 13:16] nija-at commented on #15013
Please provide the list of CloudFormation resource types or properties that need to be configured to enable this.

Additionally, please provide links to Cognito docs that describe this feature.

[2021-06-21 13:19] nija-at commented on #15126
This is a feature of user pool client, and will need to only be supported there.

[2021-06-21 13:37] gliptak commented on #14930
@nija-at as above linked page https://packaging.python.org/tutorials/managing-dependencies/ states, `Pipenv` is the standard dependency management tooling

[2021-06-21 13:54] ttais2017 commented on #15189
Resources:
  devitems19A1DDE0:
    Type: 'AWS::DynamoDB::Table'
    Properties:
      KeySchema:
        - AttributeName: itemId
          KeyType: HASH
      AttributeDefinitions:
        - AttributeName: itemId
          AttributeType: S
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      TableName: dev_items
      Tags:
        - Key: PROJECT

[2021-06-21 13:58] rix0rrr commented on #15169
Notes on our discussion:

- BuildSpecs will become mergeable
- In principle this can be serviced by doing a deep JSON merge (recurse into objects, append lists), with the following exceptions:
  - Decided to disallow merging of artifact specs (actually impossible since we can't merge two buildspecs with a single primary output into a buildspec with multiple outputs--in case of multiple outputs the

[2021-06-21 14:02] rix0rrr commented on #15134
It might be that the enum value you're looking for hasn't been implemented in CloudFormation yet. Unfortunately we are limited by CloudFormation as to what we can achieve.

I'm sorry, but it doesn't look like your issues are actually related to the CDK, but more to CloudFormation (and specifically CloudFormation's implementation of AppFlow -- it's always a tough call to figure out if problems are

[2021-06-21 14:02] #15134 closed

[2021-06-21 14:08] ttais2017 commented on #15189
In Java code (with stage="dev"):

  private void createAppConfigBasics()
  {
    CfnApplication appConfigApp = CfnApplication.Builder.create(this, stage + "appAC")
        .name(stage + "appAC")
        .build();
    String appRefId = appConfigApp.getRef();

    CfnEnvironment acEnv = CfnEnvironment.Builder.create(this, stage + "envAC")
        .applicationId(appRefId)
        .name(stage + "envAC

[2021-06-21 14:13] rix0rrr commented on #14663
The SelfUpdate action will always deploy the stack the pipeline is defined in, plus the stacks that stack depends on.

If you want to deploy multiple different stacks, make sure there is a dependency between the pipeline stack and the stack you want deployed. Normally this happens automatically if you use constructs in a cross-stack fashion, but if it doesn't you can always call [stack.addDependen

[2021-06-21 14:13] #14663 closed

[2021-06-21 14:15] rix0rrr commented on #15218
In fact CDK CLI will take `--any --argument` and ignore it if it's unknown.

I agree with you that it's poor behavior. At the same time, it's hard to change this now for fear of breaking existing users who mistyped arguments but the CLI happily keeps on trucking. They will feel like we broke them if their scripts suddenly fail.

I would accept a PR that adds strict command line validation in case

[2021-06-21 14:58] skinny85 commented on #15212
Hey @n0ts,

can you show the output of `pip list` in your project?

Thanks,
Adam

[2021-06-21 15:03] jogold commented on #15023
@nija-at looks like this is https://github.com/npm/npm/issues/10393 and https://github.com/npm/npm/issues/12110.

For some reason, NPM stores absolute paths in some underscored keys when modules are installed...

![image](https://user-images.githubusercontent.com/12623249/122782081-b6547f00-d2b0-11eb-80a8-099641046e43.png)

We use a temporary bundling directory for bundling and node modules instal

[2021-06-21 15:06] jogold commented on #15023
Will not solve the problem because NPM always saves absolute paths in the `package.json` after installation.

If think we need to solve this in the `NodejsFunction` after installing node modules and not in `core`. Something based on https://github.com/juanjoDiaz/removeNPMAbsolutePaths maybe? @eladb wdyt?

[2021-06-21 15:13] codeedog commented on #15023
@nija-at Looks like you and the team have reproduced and isolated the issue and you've moved on to an analysis that does not require any response from me re: the axios npm library. I look forward to seeing what you're all able to figure out. Thank you.

[2021-06-21 15:13] ABevier opened #15228 "(aws-ec2): Allow selecting subnets by Id or CIDR mask"
I would like the ability to create a SubnetSelection based on the exact subnet ids or based or the CIDR range of subnets in a VPC.  While `SubnetSelection` does allow specifying a list of explicit subnets to use, these use cases are probably common enough support first class without requiring a "custom" filter.

### Use Case

I would like this feature because some of the VPC's I'm using have multi

[2021-06-21 15:14] warden commented on #15135
IIRC in that case the parameter was plaintext, I'm aware of the SecureString limitation. Let me know in case you have trouble reproducing it, I'll double-check it again then.

[2021-06-21 15:17] MrArnoldPalmer commented on #15088
"Malformed request" doesn't really fit but my first guess would be an OOM error. @RomainMuller wdyt?

[2021-06-21 15:20] jogold commented on #15023
Looks like installing with `npm ci` instead of `npm install` solves this.

[2021-06-21 15:46] zradlo1984 commented on #5804
What about this in sdk-provider.js to setup both proxy and CA budle

        const ProxyAgent = require('proxy-agent');
        config.httpOptions.agent = new ProxyAgent(proxyAddress);
        config.httpOptions.ca = readIfPossible(caBundlePath);

also _if then else_ structure is wrong in parseHttpOptions. When both proxy and CA are specified, then only last if (with CA settings) wins and overwrit

[2021-06-21 16:10] peterwoodworth commented on #14844
Closing because the closing soon label has been applied for over 4 days. Ping me if you need more help with this! 😄

[2021-06-21 16:10] #14844 closed

[2021-06-21 16:16] skinny85 commented on #10049
I think I agree with your conclusions @Seiya6329. Looks like I was worried about that `new VirtualNode(...` case for nothing 🙂.

This looks to be just a matter of various references between CDK constructs causing dependencies between Stacks. I don't think there's anything unusual here for AppMesh.

For the problem posted originally in the issue, it's just a matter of changing from:

[code]

to:

[

[2021-06-21 16:55] Seiya6329 commented on #10049
This is really great point and has been suggested by @dfezzie as well.

#### Conclusion:
- No actions to change the code
- Update the CDK documentation to clarify the difference of using `.add()` method and the constructor to create a resource.

[2021-06-21 16:56] peterwoodworth commented on #15223
This currently isn't possible. When you use the `EmrCreateCluster` construct, the CDK will create a new Emr Cluster here: https://github.com/aws/aws-cdk/blob/c647e389bd279b34e91110c9418885fe904739c3/packages/%40aws-cdk/aws-stepfunctions-tasks/lib/emr/emr-create-cluster.ts#L235-L259
Note how there is no `StepConcurrencyLevel` prop set here.
However, the [`StepConcurrencyLevel` is on `CfnCluster`](h

[2021-06-21 16:58] Seiya6329 commented on #10049
ETA for updating the documentation: 7/1/21

[2021-06-21 16:58] BenChaimberg commented on #14243
The [`apiPath` property of CallApiGatewayHttpApiEndpointProps](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions-tasks.CallApiGatewayHttpApiEndpointProps.html#apipath) is a `string`, not an `InputPath`, so we do not support turning a JSON path value into a key with the proper suffix.

Workaround:
[code]

[2021-06-21 17:30] peterwoodworth commented on #15221
Hey @krishansubudhi,

Couple things here. You say that your `source_bucket` exists but the code you just gave _is_ creating a new bucket. If you want to use the [`Bucket.fromBucketAttributes` function](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-s3.Bucket.html#static-fromwbrbucketwbrattributesscope-id-attrs)

However, once you have that imported bucket [you cannot modify the impor

[2021-06-21 17:38] BenChaimberg commented on #14243
I am unassigning myself and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to reevaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritizatio

[2021-06-21 17:41] BenChaimberg commented on #14553
Workaround:
[code]

[2021-06-21 17:42] BenChaimberg commented on #14553
I am unassigning myself and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to reevaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritizatio

[2021-06-21 17:45] peterwoodworth commented on #15150
Can you check your package.json to make sure all CDK related packages are the same version?

[2021-06-21 18:05] vobornij opened #15230 "(aws_ecs): Add support for `DefaultCapacityProviderStrategy` to the `Cluster` L2 construct"
Step Function state language does not support provider parameter for running ECS task https://docs.aws.amazon.com/step-functions/latest/dg/connect-ecs.html. I think default provider is the only option there. To use it conveniently from CDK, there is an open ticket with a described workaround https://github.com/aws/aws-cdk/issues/7967#issuecomment-651583630.

### Proposed Solution

The L2 construct

[2021-06-21 18:36] whiskeylover opened #15231 "(cli): cdk deploy "fail: socket hang up" error on Big Sur w/ AnyConnect"
Deployment using `cdk deploy` fails with `fail: socket hang up`. This has started happening since upgrading to Big Sur (MacOS). I opened a support ticket with AWS, and they directed me to here.

I have upgraded `npm` and `node` and aws utils to the latest versions as asked by the AWS support.

### Reproduction Steps
`cdk deploy`

Output: -
[code]

### What did you expect to happen?
Successful depl

[2021-06-21 18:45] kellertk commented on #15066
I was able to reproduce this on Linux using the template attached to this issue (bootstrap-template.zip)

![image](https://user-images.githubusercontent.com/1083460/122811674-a2dfee80-d285-11eb-8447-954051cf0995.png)

It looks like this is because the template isn't being parsed as valid yaml by [loadStructuredFile](https://github.com/aws/aws-cdk/blob/f66f4b80da22b4d24d4419acc3984b56d5690b2e/packa

[2021-06-21 18:58] erikatgreenbyte opened #15232 "(lambda-python): allow bundling CDK app into the function"
Background: To use CDK to deploy some legacy services I am trying to init my CDK app in a directory where the service source code resides in the CDK app's parent folder.

[code]

However, when specifying the entry for `lambda.py` as the parent folder to the CDK app the synthesis just stalls.

Workaround seems to be to relocate `lambda.py` to not reside in the root/parent folder directly like:
[cod

[2021-06-21 19:02] ericzbeard commented on #14343
This issue is included in the GA milestone, which we are actively working towards. Can't promise a date, but hopefully within a month.

[2021-06-21 19:34] ben-mccown commented on #15066
Thank you @kellertk for reproducing the issue. This led me to check again and it still didn't work for me with the exact same template file.

I then noticed in VS Code that the file encoding was set to UTF-16 LE. Set to UTF-8 and the issue was resolved. VS Code defaults to UTF-8 encoding so I was a bit confused as to how I ended up with UTF-16 LE set. That's when I remembered that the original yam

[2021-06-21 19:35] madeline-k commented on #13942
Here is a code sample that repro's the issue:

[code]

In the resulting cloudwatch dashboard, while each metric has an id, each Math Expression does not have an id in the dashboard body JSON. This results in both math expressions getting the default id 'm1' in the resulting widget.

I think the fix for this will need two things:
1. Allow the user to specify the id for their Math Expressions.
2. Wh

[2021-06-21 19:36] kellertk commented on #15066
Turns out, this is due to the way that PowerShell handles redirection to files with the `>` and `>>` operators. The files are created with UTF-16LE instead of your normal UTF-8. See the [PowerShell docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_character_encoding?view=powershell-7.1#character-encoding-in-windows-powershell).

This breaks the yaml par

[2021-06-21 19:47] erikatgreenbyte commented on #14343
Thanks! Appreciate the answer nonetheless! 🙏

[2021-06-21 19:58] madeline-k commented on #13942
Assigning p2, which means we will not fix this right away but it is in the backlog, and we will get to it when we can.

Since this issue does not cause widgets with Math Expressions to render incorrectly, it just makes it impossible to reference a Math Expression within another Math Expression via its id.

[2021-06-21 20:25] iliapolo commented on #9873
@boazsilverman

the result I got:
[image: image.png]

Looks like the image didn't upload.

If you feel you are encountering a bug, please open a separate issue with the reproduction and the error message.
In the meantime I can offer this: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_eks/README.html#launch-template-support

[2021-06-21 20:30] philvarner commented on #7120
Thanks to all the previous posters for getting me bootstrapped with this.  My definition ended up being like this:

[code]

[2021-06-21 20:39] BenChaimberg commented on #14777
The JSON path lookup functionality needs to be updated to match either one or two $ at the beginning of beginning of the path: https://github.com/aws/aws-cdk/blob/7bc6c6eb14ee73c490caa649aeff509e34eb2c52/packages/%40aws-cdk/aws-stepfunctions-tasks/lib/evaluate-expression.ts#L73

Workaround: create [a Pass state](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions.Pass.html)

[2021-06-21 20:39] BenChaimberg commented on #14777
I am unassigning myself and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to reevaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritizatio

[2021-06-21 20:44] BenChaimberg commented on #14778
@hassanazharkhan yes, please feel free to open a PR for this feature. I think an appropriate name for the property would be `associateWithParent` and it should default to `true`

[2021-06-21 21:11] h3adache opened #15233 "aws-ecs-patterns: adding loadbalancerName fails to update existing ApplicationLoadBalancedFargateService"
Adding a loadBalancerName to  an existing `ApplicationLoadBalancedFargateService` fails to deploy name change.

loadBalancerName was added in `1.108.0`

### Reproduction Steps

Create an `ApplicationLoadBalancedFargateService` without a `loadBalancerName` using the ecs pattern.
Deploy it.
Update the cdk to add a `loadBalancerName`

The only change is
[code]

### What did you expect to happen?

I e

[2021-06-21 21:21] peterwoodworth commented on #15142
Thanks for the response @mrpackethead, you're correct in that the VPC will divide the entire CIDR block up and create the subnets for you. But this is only true if you don't use the [`subnetConfiguration`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.Vpc.html#subnetconfiguration) property. If you [use the subnetConfiguration property](https://docs.aws.amazon.com/cdk/api/latest/

[2021-06-21 21:44] matthewsvu opened #15234 "(stepfunctions-tasks): emr-containers CreateVirtualCluster, DeleteVirtualCluster, and StartJobRun task"
EMR on EKS (emr-containers) integration has been introduced in Step Functions for a few months now, CDK support has been held off until recently till I took up the issue.

### Use Case

To use Step Function's integrations with EMR on EKS on CDK, it's been on the backlog for quite a bit.
https://docs.aws.amazon.com/step-functions/latest/dg/connect-emr-eks.html

### Proposed Solution

The implementa

[2021-06-21 21:59] peterwoodworth commented on #15142
If you really want to be able to change the CIDR block of these subnets instead of having the CDK create the blocks for you, you can override the properties:

[code]

[2021-06-21 22:18] warden opened #15235 "(codepipeline): AccessDeniedException when calling the PutJobSuccessResult"
This is likely to be a guidance question, but I'm not sure I'm not hitting some CodePipeline limitation. I have a scenario like this:

1. I have a devops central IAM account that I have the pipelines
1. in that pipeline I am invoking a lambda, that uses a PipelineRole on a cross-IAM another target IAM account
1. that Lambda executes some operations (e.g. CloudFront)

Those three things work fine,

[2021-06-21 23:02] peterwoodworth commented on #13572
I am marking this issue as p2, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2021-06-21 23:37] madeline-k commented on #13942
While we are working on a fix, if you want to be able to set the `id` of a Math Expression in a Cloudwatch dashboard, after creating the dashboard using [Dashboard](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudwatch.Dashboard.html), then here are a couple of crazy workaround options.

**Option 1**
Use an escape hatch to get the underlying `CfnDashboard.dashboardBody` property

[2021-06-21 23:37] alanalabouchardiere opened #15238 "(aws-events-targets): Unable to add Dead Letter Queue to BatchJob Event Target"
CDK does not support the ability to add a dead letter queue to event targets that are batch jobs. This is available in the console, as well as CFN but has yet to be implemented in CDK.

### Use Case

The dead letter queue is useful to determine any issues where batch fails to run. There is not other way to troubleshoot any issues or be alerted if batch fails

### Proposed Solution

### Other

Trie

[2021-06-21 23:58] bgshacklett commented on #15088
@rix0rrr It's not a per-stack limitation that we've run into, though. We're keeping the number of resources below 200 per stack, so far. OOM is an interesting thought; I'll investigate that front.

[2021-06-22 00:22] wedge-jarrad commented on #14685
Looks like CloudFormation has caught up and this bug is no longer a bug. GP3 is now a valid value.

IO2 is still invalid, but that's a different bug report.

[2021-06-22 00:30] skinny85 commented on #15235
Hey @warden ,

thanks for opening the issue. I think this might not work, because you would need to give the Lambda's execution Role in the other account permissions to `codepipeline:PutJobSuccessResult` and `codepipeline:PutJobFailureResult` in your pipeline account. However, CodePipelines do not have a resource policy, and so they cannot trust your Lambda account.

Sorry for the bad news 😕.

Tha

[2021-06-22 02:57] michaelbrewer commented on #9614
yep, otherwise Typescript is the only runtime that is fully supported