[2022-02-24 11:08] kornicameister commented on #12955
In Python, I managed to do something like:

[code]

This makes it possible to create an app but it does build successfully although I followed documentation as described [here](https://docs.aws.amazon.com/prescriptive-guidance/latest/patterns/integrate-a-bitbucket-repository-with-aws-amplify-using-aws-cloudformation.html)

[2022-02-24 11:47] AndreeaIugaTR opened #19134 "@aws-cdk/aws-route53: DNS Record Names using SSM resolved hosted zone names, have an extra . at the end"
### What is the problem?

A “.” is appended to the dns records using SSM resolved hosted zone names.

### Reproduction Steps

[code]

### What did you expect to happen?

[code]

### What actually happened?

[code]

### CDK CLI Version

2.13.0

### Framework Version

_No response_

### Node.js Version

14.19.0

### OS

All

### Language

Typescript

### Language Version

_No response_

### Other in

[2022-02-24 11:48] AndreeaIugaTR opened #19135 "aws-cdk: Issue with custom cdk deploy command"
### What is the problem?

I'm working on a project which is an extension to the existing cdk cli toolkit. When I migrated it to cdk v2, I ran into a dependency mismatch error.

### Reproduction Steps

[code]

### What did you expect to happen?

Deploy a custom stack

### What actually happened?

error TS2741: Property 'name' is missing in type 'import("/../node_modules/aws-cdk-lib/cx-api/lib/artif

[2022-02-24 12:52] otaviomacedo commented on #18189
@adambro changing the type of public properties is a breaking change. So there are two things we can do:

1. Apply the validation to the strings
2. Create new properties (e.g., `serviceAccountName`) with the new type and deprecate the current properties.

I think doing #1 is worth doing right now. If you can contribute, I'd be happy to review your PR.

[2022-02-24 12:59] Hi-Fi opened #19136 "(pipelines): generate shell script and call that in assets instead of requiring self mutation"
### Description

Currently asset stage command are directly at the build spec. Those include e.g. image hashes, that require self mutation to get new image published.

If synth would just generate command to shell script and asset stage call that shell script (as it already get the input from cdk.out) purely application updates woudn't require self mutation.

### Use Case

- Simplifies and speeds

[2022-02-24 13:01] rix0rrr commented on #19117
Can you share or link the communication you've gotten from Lambda? I can't seem to find any easily.

[2022-02-24 13:05] rix0rrr commented on #19130
I assume it would have to go into all `AssumeRolePolicyDocument`s in this file: https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/api/bootstrap/bootstrap-template.yaml#L215

[2022-02-24 13:06] pkwarren commented on #19117
We've not gotten communication from AWS Lambda yet but we've in the process of updating all of our existing CDK projects because of Node 10.x no longer being supported: https://docs.aws.amazon.com/lambda/latest/dg/runtime-support-policy.html

Since Node 12.x is no longer receiving security updates this spring (https://nodejs.org/en/about/releases/) it felt like a good preventative change to keep a

[2022-02-24 13:06] rix0rrr commented on #19136
Duplicate of https://github.com/aws/aws-cdk/issues/9080

[2022-02-24 13:06] #19136 closed

[2022-02-24 13:11] #18899 closed

[2022-02-24 13:14] rix0rrr commented on #19135
It's hard to say exactly what's wrong, because this is probably a version/dependency mismatch somewhere but you haven't posted any of the code that shows how your dependencies and versions (i.e. `package.json`).

What you are doing is not supported though, and it's great that it worked for you in the past but we don't commit to support using the CDK like this, and may break at any moment. The CLI

[2022-02-24 13:14] #19135 closed

[2022-02-24 13:17] jaecktec commented on #19130
is there any downside of always adding this permission?

[2022-02-24 13:59] jwang1048 commented on #18239
Hi, I saw a similar error and opened an AWS support case (but didn't get my problem resolved there). I am able to reliably reproduce the error with a small snippet of (mostly) vanilla CDK code :

[code]
Looking at the CloudTrail logs, it appears that there are throttling exceptions on the ListTags and DescribeDomain operations. Most likely it was caused by a throttling on this DescribeDomain reque

[2022-02-24 14:28] ifitzsimmons commented on #19120
Is there a plan to support LambdaInvocation actions through the CDK like before?

It's not really an arbitrary action because it is support natively by Pipelines. It feels weird to hack that together as a temporary workaround.

[2022-02-24 14:48] shanebishop commented on #15674
I am also experiencing this issue. This issue seems to be the same as https://github.com/aws/aws-cdk/issues/9652.

@NGL321, is there somewhere we can externally raise a CloudFormation ticket for this? Should we use https://forums.aws.amazon.com/index.jspa to create the ticket, or some other else that is preferred?

[2022-02-24 14:48] #19021 closed

[2022-02-24 15:05] rosskarchner commented on #16209
I opened a PR with the code tweak that seems to make this work.

I also wanted to note, if you have Podman running as a user daemon, and have DOCKER_HOST pointed at it (on my machine `DOCKER_HOST=unix:///run/user/1000/podman/podman.sock`, then you can install plain old Docker, and use it as a client for podman. CDK seems to work just fine with the setup.

[2022-02-24 15:10] hoegertn commented on #19136
Using `publishAssetsInParallel: false` on the pipeline you can achieve this to some degree

[2022-02-24 15:25] shishkin commented on #8273
@eladb Thanks for posting the links to construct hub workflows. I'm not sure that level of accidental complexity and moving parts is justified to something that otherwise could be as easy as calling an async function. I would definitely disagree it being a recommended pattern, maybe a workaround at best.

Overall, the CDK's noble ideal of guaranteeing reproducibility and audit trail is not achieva

[2022-02-24 15:35] Negan1911 commented on #8273
@eladb I don't see why then async or not async would make the difference... having the ability to use async functions does not mean that something will be invariant or not regarding changes, it's just a different way of pulling that data.

I have another use case for you, I need to compile a lambda with webpack, and that compilation happens in an async manner, so I'm respecting the rule to be inva

[2022-02-24 15:46] eladb commented on #8273
@Negan1911 I agree. The async constraint in JavaScript is not a fool proof way to encourage deterministic builds, and as you said, if you really need to perform network calls or other async activities in JavaScript, you can always spawn a child process synchronously to work around this limitation.

Having said that, I think this thread is a testament that this constraint is actually a good way to

[2022-02-24 15:52] Negan1911 commented on #8273
Why would then have to do that complex thing only to do something that can be resolved easily with using async.

I don't think so, this issue is the living proof of valid use cases where we don't break those rules but we need async functionality, and the answer is "screw you, implement your own child process because no particular valid reason".

Yeah, only one good example, I repeated two times a

[2022-02-24 16:06] pmkuny commented on #18843
@robertd - Sorry to hear that. I think leaving this issue open then is appropriate.

Can I ask *why* you're trying to do administer the EKS cluster with SSO credentials instead of using the vended role that CDK creates during cluster creation (assumable by the account principals)? After some more research, it seems that this behavior of creating a separate role to administer the cluster (and addit

[2022-02-24 16:20] hofnarwillie commented on #17002
+1

[2022-02-24 17:17] EduRomoGO commented on #17002
+1

[2022-02-24 17:29] peterwoodworth commented on #19120
I'm not aware of any plans right now for the new API to directly support codepipeline actions - Based on the arbitrary action documentation existing, I think it's safe to assume it's not on our short term plan.

That said, we very much welcome [contributions](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md)

[2022-02-24 17:31] v1pz3n commented on #12372
We are also experiencing this issue [2]

[2022-02-24 17:31] peterwoodworth commented on #18239
Yes, the service team has gotten back to me and confirmed for the stack arns available, that all of them were due to the throttling limits.

I'm working with them on getting the error message improved, to make it clear to the user what the failure is being caused by

[2022-02-24 17:32] ifitzsimmons commented on #19120
I'd actually love to take a stab at this. How would you envision the feature? Would it be split into incremental features to add native Pipeline actions as steps?

[2022-02-24 17:38] peterwoodworth commented on #19120
@skinny85 will be the best one to address any design questions 😄

[2022-02-24 17:52] jzybert commented on #5223
Is there a way to have `extract: false` but retain the "folder" path structure?

Example: My artifact is path in the `buildspec.yml` is `/v1.5/app.exe` and I would like that to be outputted in S3 using the `S3DeployAction` as `/v1.5/app.zip`. Right now, you have to manually specify an `objectKey` but you don't have access to the original artifact path

[2022-02-24 18:05] jzybert commented on #5223
The error I get when I try and do `artifact.s3Location.objectKey`:
[code]

[2022-02-24 18:23] gbisaga commented on #18861
I am having the same problem with

    "@aws-cdk/aws-lambda-python-alpha": "^2.13.0-alpha.0",
    "aws-cdk-lib": "^2.13.0",

Here's a sample minimal project @corymhall :

https://github.com/gbisaga/aws-cdk-issues-18861

[2022-02-24 18:24] jwang1048 commented on #18239
@peterwoodworth
I think this is more than a non-informative error message (and user education) - it does not occur when using the AWS::Elasticsearch::Domain resource where I am able to create at least 15 Lambda functions with tags. There are also throttling errors in CloudTrail there, but the difference is that the service doesn't "give up" creating the resource on the first throttle. There needs

[2022-02-24 18:48] skinny85 commented on #15674
@shanebishop if you have Enterprise Support, raising a ticket through there is probably your best bet.

[2022-02-24 18:57] tomlismer-youi commented on #10830
I second @ivanmilevtues -> I would also like to see this so an ugly workaround is not needed.

[2022-02-24 19:12] robertd commented on #10830
@ivanmilevtues  @tomlismer-youi  Since `CloudFrontWebDistribution` is going to be deprecated at some point, may I ask what functionality in `Distribution` construct are you missing and is preventing you from migrating over?

[2022-02-24 19:39] skinny85 commented on #19120
Definitely Rico is the better person to ask here 😃.

[2022-02-24 19:50] tomlismer-youi commented on #10830
Hello @robertd - Thank you for your note! I wasn't aware Distribution was replacing CloudFrontWebDistribution.

I will give migration a go and see what happens. For now, ignore my comment.

Tom

[2022-02-24 19:55] ivanmilevtues commented on #10830
Hi all,
Thank you for your responses I am out of office till Monday and can't quite recall what was the functionality we needed from CloudFrontWebDistribution. As soon as I am back in the office I will answer.

Thanks,
Ivan

[2022-02-24 20:05] #11230 closed

[2022-02-24 20:22] behr-davide commented on #19045
Through trial and error I was able to find the `domainNameAliasTarget` and `domainNameAliasHostedZoneId` values in both the AWS Console and in the CLI, though they are not explicitly labeled as such and the documentation for the `DomainName.fromDomainNameAttributes` method does not indicate where these values come from.

If you are using the AWS Console, the value of the API Gateway domain name in

[2022-02-24 20:35] skinny85 commented on #5223
Yes, `artifact.s3Location.objectKey` is not supported as a `path` (that is supported only in the parameter overrides of the CloudFormation deploy Stack action).

I think what you want is to create an artifact in CodeBuild containing `/v1.5/app.zip`, and then just have root as the `path`.

[2022-02-24 20:37] badfun commented on #18163
Thanks @peterwoodworth . This tripped me up for awhile.

[2022-02-24 20:42] jzybert commented on #5223
Is there a supported `zip` buildspec command for a `WindowsBuildImage.WIN_SERVER_CORE_2019_BASE`? I think right now that's my hangup on the suggestion, not sure how properly zip it

[2022-02-24 20:50] skinny85 commented on #19031
Yes, the `fromFunctionName()` was created specifically for solving this problem.

Absolutely, this workaround would work too.

Yes, that should work. Sorry for encountering some many obstacles here 😕.

Hopefully, your workaround with formatting the ARN "manually" from above should unblock you until we release a version with the `fromFunctionName()`, where you'll be able to use that directly, witho

[2022-02-24 21:21] alamathe1 commented on #19127
Closing the ticket as this issue was due to a bug on our side.

[2022-02-24 21:21] #19127 closed

[2022-02-24 21:34] #18994 closed

[2022-02-24 21:37] moali87 commented on #8273
To give a bit more context, I was looking to create a pattern where the user can request a domain within a given selection, and the request would pull up the public IP's.  Those public IP's can then be used in a rule group(s) for a network firewall.

However, since most/all request type libraries are async, I would need to handle it in async fashion or use promise returns.  Promise returns are a b

[2022-02-24 21:42] skinny85 commented on #5223
You can use PowerShell on that platform, so it should be easy. Quick Googling found [this](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/compress-archive?view=powershell-7.2), for example.

[2022-02-24 22:01] ggallotti commented on #15875
Same problem here

[2022-02-24 22:16] #10010 closed

[2022-02-24 22:24] jzybert commented on #953
Still need this

[2022-02-24 22:59] skinny85 commented on #19126
Hey @vobarian,

thanks for opening the issue. I'm working on a fix.

[2022-02-25 00:15] ThomasSteinbach commented on #19122
@ryparker fyi - We have migrated our library to AWS CDK v2. First tests show, that the bug does't occur with `PRIVATE_ISOLATED` subnets in that version.

However the bug seems to be present for people using CKD v1.

[2022-02-25 00:47] shanebishop commented on #15674
I found a minimal reproducible example (that admittedly uses [serverless framework](https://www.serverless.com/framework/) rather than CDK), and I made a demo video to demonstrate how to reproduce this: https://youtu.be/wVH314I052I

I feel rather confident this issue is a CloudFormation issue and not unique to CDK.

[2022-02-25 00:53] bellkev opened #19147 "aws_eks: containerPort and apiVersion should not be in snake_case (i.e. container_port and api_version)"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_eks/README.html#quick-start

### Describe your issue?

When going through the aws_eks quickstart as-written in Python, the deploy fails with errors like this:

[code]

(The specifics vary slightly for the apiVersion and containerPort cases. That's from the containerPort issue.)

I'm guessing that these are co

[2022-02-25 01:32] hastarin opened #19148 "(aws-lambda): Add support for dotnet 6"
### Description

Dotnet 6 has been released.

https://aws.amazon.com/about-aws/whats-new/2022/02/aws-lambda-adds-support-net6/

Can the Runtime class be updated to support this?

### Use Case

To be able to use CDK to deploy dotnet 6 Lambdas.

### Proposed Solution

Add support to the Runtime class along with any other required changes.

### Other information

_No response_

### Acknowledge

- [ ]

[2022-02-25 02:15] skinny85 commented on #19083
Thanks for the code @apollack. I'll investigate the issue.

[2022-02-25 02:19] mzaatar commented on #17949
After battling with this one for a while on a couple of projects, we found that upgrading `aws-cdk` and `aws-cdk-lib` to `^2.13.0` solved our problem.

[2022-02-25 02:24] #18773 closed

[2022-02-25 04:55] ldecaro commented on #5312
Hi @skinny85, I'm trying to trigger a cross-account deployment using an existing remote deployment group and application. From the pipeline account, I want to invoke the `CodeDeployEcsDeployAction` triggering a deployment in a remote account using artifacts from the pipeline account.

Given I'm using CDK 2+ and it is bootstrapped in both accounts, how could I specify the remote account when using

[2022-02-25 07:14] ldecaro commented on #5312
Hi @skinny85. Trying to use `CodeDeployEcsDeployAction` to trigger a cross-account deployment. Not sure how to leverage the `EcsDeploymentGroup.fromEcsDeploymentGroupAttributes` to reference the environment from the target account. Would you be able to provide any guidance in this case?

I tried executing the `EcsDeploymentGroup.fromEcsDeploymentGroupAttributes` from inside a stack that is deploye

[2022-02-25 07:34] ksinkar commented on #18633
@corymhall Still facing this issue in `"aws-cdk": "^2.14.0"` (npm only, no python)

[2022-02-25 08:27] Nemanjalj66 commented on #19031
OK, thank you for your help!

[2022-02-25 10:14] Lilja commented on #15257
I spent some time reading the `CfnKey` and `CfnReplicaKey` documentation. From what I've understand, in CDK, the suggestion is to create this from the low level APIs, since the features aren't available in the higher level constructs.

In the KMS Console after creating a multi region key, it's from that specific key's view you create replicas to other regions.
![image](https://user-images.githubus

[2022-02-25 10:45] bergac opened #19155 "(ecr): imageScanOnPush: true setting not working"
### What is the problem?

Hi!

I was updating the cdk version from 1.63.0 to 1.145.0 and did not change anything on the ecr specific code.
However, I saw the imageScanOnPush was changed from `Scan on push` to `Manual` and some scan on push configurations where deleted in the generated CloudfFormation template.

I think it is a bug (looking at the CDK docs, I'm doing exactly what the thing to enabl

[2022-02-25 11:33] guledmahdi commented on #18627
adding https://www.npmjs.com/package/constructs to my application resolved this.
`npm i constructs`

[2022-02-25 12:18] dhawalschumi commented on #15257
@[Lilja](https://github.com/Lilja) - Given there is no way as of now,  we went ahead with creating keys via AWS CLI and used they KMS arns for our global table use case.

[2022-02-25 12:28] alexbaileyuk commented on #17768
@AllanZhengYP this looks really useful for our needs. Do you have any idea on how we can get a second approval so this can move forward.

@jogold I see you had a comment on the PR but it looks like it's been resolved. Any chance you can pick it back up?

The use case for this is that we want to use the SDK V3 in our functions. Without tree shaking it adds several MB and with tree shaking it's <500

[2022-02-25 12:50] onebytegone commented on #18553
@rix0rrr Do you have a link to the docs that were updated? The bootstrapping docs in the CDK guide haven't been changed since 2022/02/15 ([last change](https://github.com/awsdocs/aws-cdk-guide/commit/4c83259af44b702414e9320725bbc47d414159f5#diff-c0305750bf9f9c8e0a7245897f7de1b2087384f8d7d2b60453e6f5c6dc71f974)) and I'm not seeing any changes in this repo that are related. This issue is causing me

[2022-02-25 13:57] pedrovanzella opened #19157 "(pipelines): bundle assets in the `assets` project instead of `synth`"
### Description

Whenever you use a Docker image in a stack deployed by the `pipelines` module, it gets built in the `assets` project. However, if you use an `asset` bundled in docker (for example, by using a `lambda_nodejs_function` or a `s3_deployment`), the assets get bundled in the `synth` project.

Ideally all assets would be built in the same project, so they can be built in parallel.

### U

[2022-02-25 14:36] otaviomacedo commented on #6227
@alan-cooney feel free to submit your PR.

[2022-02-25 15:22] A-ndy-git opened #19158 "(module name): short issue description"
### What is the problem?

Installing `@aws-cdk/aws-apprunner-alpha` leads to an error:

`npm i @aws-cdk/aws-apprunner-alpha
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: atp@0.1.0
npm ERR! Found: aws-cdk-lib@2.10.0
npm ERR! node_modules/aws-cdk-lib
npm ERR!   aws-cdk-lib@"2.10.0" from the root project
npm ERR!
npm ERR! Could not resol

[2022-02-25 15:30] otaviomacedo commented on #18907
It seems that AppSync doesn't support this feature yet: https://github.com/aws/aws-appsync-community/issues/38.

[2022-02-25 15:33] A-ndy-git commented on #19158
Resolved by appending `--force`.

[2022-02-25 15:33] #19158 closed

[2022-02-25 15:54] TinoSM commented on #18239
In my case it was caused because I was passing the endpoint URL to a lambda (CustomResource) on each call (which I guess caused resolution of the attribute multiple times).

I changed it to environment variable in the lambda and its solved now.

[2022-02-25 16:12] #11697 closed

[2022-02-25 16:52] blimmer opened #19160 "(cli): apps with many resources scroll resource output off-screen"
### What is the problem?

When a stack contains a lot of resources, the "progress-bar" style (default) output seems to expand to a very large height, making future updates occur off-screen.

For example, here's what I'm talking about (note the "scrollbar indicator" in the bottom-right - that'll show you when I'm scrolling up:

![cli-offscreen](https://user-images.githubusercontent.com/630449/15575

[2022-02-25 17:05] DariusKunce opened #19161 "(@aws-cdk/aws-lambda-python): handler parameter is wrong when bundling.output_path_suffix is specified"
### What is the problem?

When I specify an output_path_suffix in the bundling options of the PythonFunction construct, handler parameter is resolved to a value that does not work in the deployed instance of the function.

### Reproduction Steps

1. Define PythonFunction as follows:

[code]

2. run `cdk deploy`.
3. invoke the lambda function.

### What did you expect to happen?

Lambda function ex

[2022-02-25 17:26] automartin5000 commented on #18239
@peterwoodworth I could imagine this being our issue too, although we only have 5 task definitions using that value. This seems like something CloudFormation should just auto-retry?

[2022-02-25 18:02] ifitzsimmons commented on #19120
Hey @rix0rrr ,

I was pretty tempted to ping you on slack but didn't want to bother you at work lol. I'd love to pitch in here if possible. If you have an idea about how this should be implemented I'd love to hear it. If not, I can just start working on it and go through the usual PR process.

[2022-02-25 18:12] skinny85 commented on #19158
@A-ndy-git the error message tells you that the `@aws-cdk/aws-apprunner-alpha` module in version `2.14.0-alpha.0` requires `aws-cdk-lib` in version `2.14.0` (or later), while you're using `2.10.0` currently.

Instead of using `--force`, which might result in runtime errors, I would suggest upgrading your `aws-cdk-lib` version to `2.14.0`. That should be a safe upgrade.

[2022-02-25 18:26] skinny85 commented on #19031
Of course! And apologies again for the bad experience.

I'm going to close this one, please comment if you need anything else form our side for this issue.

[2022-02-25 18:26] #19031 closed

[2022-02-25 18:35] comcalvi opened #19162 "(cli): Update `TemplateDiff` to include nested `TemplateDiff`s"
### General Issue

Nested Stack handling in the CLI would benefit from a change to `TemplateDiff`

### The Question

Both the nested stacks diff output and the hotswapping support for resources in nested stacks would benefit from a modification to `TemplateDiff`. Nested stacks should contain their own `TemplateDiff`, as  this would prevent us from recalculating it during hotswapping and it would g

[2022-02-25 18:36] deybhayden commented on #14100
Hey everyone, I just stubbed my toe one this issue installing `amazon-cloudwatch-agent` as well. Curious if anyone got around this and still used `ec2.InitFile.fromObject()`, or if people just use `ec2.InitFile.fromString()` instead.

[2022-02-25 18:39] skinny85 commented on #5312
@ldecaro would you mind opening us a new issue about this? I suspect I know what the problem is, and I think we'll need a PR to fix it. A new issue will make it easier to track.

[2022-02-25 19:06] ldecaro opened #19163 "CDK Pipelines: cross-account ECS CodeDeploy Action"
### What is the problem?

Hi team, I have two AWS accounts. In one account, _pipeline-account_, there is a pipeline and in the other account, _target-account_, I have a CodeDeploy already configured. I want to trigger the deployment in the _target-account_ from the _pipeline-account_ using CodeDeploy.

My use case requires that I use the `CodeDeployEcsDeployAction` to trigger a cross-account deplo

[2022-02-25 19:15] ldecaro commented on #5312
Hi @skinny85. I created the issue, thanks!

[2022-02-25 19:34] zandaleph opened #19164 "Triggers: Module not included in 2.14 release"
### What is the problem?

I'm trying to use the new triggers functionality which was announced as part of the 2.14.0 release.  After upgrading, it does not appear to be present.  When I try to import the library via:

`import * as triggers from "aws-cdk-lib/triggers";`

I get the following error:

[code]

Is it possible this was accidentally not included in the 2.14.0 release?

### Reproduction St

[2022-02-25 19:37] #19126 closed

[2022-02-25 21:27] danimorelo opened #19165 "(aws-eks): kubectlProvider hits lambda payload limit for large manifest"
### General Issue

eks.KubernetesManifest can't handle large manifests

### The Question

Trying to deploy a bundle yaml manifest of 1.6MB, I come across the following error:

[code]

Is there a way for CDK to manage this? or the expectation is to break down the manifests?

Thank you,
Daniel

### CDK CLI Version

2.6.0 (build 1a22ad7)

### Framework Version

_No response_

### Node.js Version

_No

[2022-02-25 21:39] omar-dulaimi commented on #542
@skinny85 Thanks. I was following some tutorials. It would have been better if the library showed a warning about this. It's confusing for new users.

[2022-02-25 21:45] rkolias commented on #18968
I am suffering from this one from the absence of the Ipv4IpamPoolId property, which is now implemented in CloudFormation (though very recently).

What threw me is the v2.14.0 documentation shows this property as present, however tracing the git subway map shows that commit (24a52ae1c250ec1875e64d6fc4ef8bec2f47399a) seems not to be recognized when I build my project (no such property). I do see it

[2022-02-25 22:10] ryparker commented on #19164
Hey @zandaleph 👋🏻

Thank you for reporting this, i've let the team know.

[2022-02-25 22:11] skinny85 commented on #542
Agreed @omar-dulaimi. The problem is it's tricky to do dependency-related detection (we are another dependency in your closure, after all).

[2022-02-25 22:51] peterwoodworth commented on #18968
I'm not finding the same behavior @rkolias, the new properties `ipv4IpamPoolId` and `Ipv4NetmaskLength` exist for me on `CfnVPC`. are you sure your locally installed packages are on the latest version?

[2022-02-25 22:54] leftiness opened #19166 "(aws-ec2): Support configuring credit specification on NAT instance"
### Description

Support configuring credit specification on NAT instance.

### Use Case

I want to deploy a NAT instance with standard credit specification. The default for t4g.nano is unlimited.

### Proposed Solution

Pass a creditSpecification property from NatInstanceProvider down to CfnInstance.

### Other information

idea

* Add a creditSpecification property to NatInstanceProps for NatIns

[2022-02-25 23:04] mvs5465 opened #19167 "(eks oci repository): Installing from OCI repository causing helm seg fault"
### What is the problem?

I am trying to use the new OCI repository support (thanks for adding that!) and am running into a helm error when trying to use it:

[code]

### Reproduction Steps

My CDK code looks like this:

[code]

I followed the instructions here to create an ECR OCI repo and upload my chart: https://docs.aws.amazon.com/AmazonECR/latest/userguide/push-oci-artifact.html

Then followe

[2022-02-25 23:12] mvs5465 commented on #19167
Removing the tag on the end of the repository also gives this error:
[code]
not sure if this is expected?

[2022-02-25 23:26] skinny85 commented on #19163
Hey @ldecaro,

thanks for opening the issue. Can you show the code that creates the `dg`? I think that will be the key to this problem.

Thanks,
Adam

[2022-02-25 23:53] skinny85 commented on #19083
@apollack can you clarify this point for me?

Can you provide more details? What was the CDK code of the deployed Stack, what did you change in that code, what exact error did you get (I assume it happened during deployment - if not, let me know when the error happened)?

[2022-02-26 01:19] skinny85 commented on #19083
I did some preliminary testing. I went from this being successfully `cdk deploy`ed:

[code]

To this:

[code]

Without any errors.

[2022-02-26 01:26] isker commented on #9251
This is still a problem, as far as I can tell.  I'm trying to deploy a single yarn workspace with its node_modules.  Yarn gives workspaces a symlink to themselves (i.e. `packages/foo/node_modules/` has a symlink `foo` pointing up a directory) so that they can resolve themselves by name.  In this case the upload fails as it has infinitely recursed, resulting in ENAMETOOLONG.

I guess solutions are

[2022-02-26 01:29] rix0rrr commented on #19120
You can implement this yourself, so there is not necessarily a strict need to upstream it into the library: https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines-readme.html#arbitrary-codepipeline-actions

I can see how it might be helpful to have this built-in. It will be a CodePipeline engine-specific step then, just like `CodeBuildStep`.

[2022-02-26 01:31] rix0rrr commented on #19157
Bundling currently happens during `synth` because we need to have the produced output files in order to calculate their hashes (which means we need to have done the work already).

I'm not happy with how bundling works, and have thoughts in my head for how to change it, but I can't promise it's going to happen any time soon.

[2022-02-26 01:32] rix0rrr commented on #19160
Solution would be to limit the number of resources we print in one go, I suppose

[2022-02-26 01:38] apollack commented on #19083
In the example you just showed for recreating the issue, your initial table only has a WRITE scaling policy, and the added GSI has a READ scaling policy.

My experiment was with having both READ and WRITE on both. I would expect that you might see the error if you used the same (either read or write) for both step 1 and step 2.

The error I was seeing looked like:

`"table/****/index/*****|dynamod

[2022-02-26 02:27] skinny85 commented on #19083
@apollack can you answer my questions from https://github.com/aws/aws-cdk/issues/19083#issuecomment-1051378272?

[2022-02-26 02:36] #18670 closed

[2022-02-26 03:07] abury commented on #6609
This still seems to be an issue? I have a queue encrypted with `KMS_MANAGED` and I'm still seeing this error.

[2022-02-26 03:09] apollack commented on #19083
@skinny85 I’m not sure what more details I can add. The relevant CDK code was exactly the code I pasted earlier. The error was what I pasted before, during the 2nd deployment and it was a CloudFormation failure of:

`"table/TestTableForGsiIssue/index/TestGsiNameAdditional|dynamodb:index:ReadCapacityUnits|dynamodb already exists"`

[2022-02-26 03:11] apollack commented on #19083
I can recreate this in an AWS account and provide you the account ID if that would be better to debug.

[2022-02-26 04:00] ldecaro commented on #19163
@skinny85 I updated the issue with the constructor of the DeploymentGroup.
@rix0rrr thank you for the guidance and the heads up. I'm using CDK container assets and I wanted to have the ability to leverage the self-mutating feature of the Pipeline.

[2022-02-26 04:06] #19164 closed

[2022-02-26 06:22] misterjoshua opened #19172 "(cli): add hot-swap support for Lambda Layers"
### Description

I'd like the CDK CLI to support hot-swapping Lambda layers.

### Use Case

I'm developing a Lambda Extension in a Lambda Layer.

### Proposed Solution

I'm not familiar with the hot-swap code, but I think you could create a new layer version with the uploaded asset and update the functions it's attached to.

### Other information

_No response_

### Acknowledge

- [ ] I may be abl

[2022-02-26 07:53] t3r commented on #9327
That one just saved my life! It is so much smarter than the original solution and should be fixed upstream IMHO.

[2022-02-26 09:07] markusl opened #19173 "(pipelines): CodeBuildStep.exportedVariable does not work: Output for step CodeBuildStep(Produce) not configured. Either the step is not in the pipeline, or this engine does not support Outputs for this step.."
### What is the problem?

Using `exportedVariable` does not work when using it in a CodePipeline.

### Reproduction Steps

Basically, using `exportedVariable` as an input for `LambdaInvokeAction` does not work and causes an error `Output for step CodeBuildStep(Produce) not configured. Either the step is not in the pipeline, or this engine does not support Outputs for this step.. `.

See https://gi

[2022-02-26 11:14] fedonev opened #19174 "(stepfunctions-tasks): `CallAwsService` produces invalid `.sync` Resource Arn (`codebuild.startBuild` action)"
### What is the problem?

A `CallAwsService` task with a CodeBuild `startBuild` action and `IntegrationPattern.RUN_JOB` fails on deploy with `SCHEMA_VALIDATION_FAILED: The resource provided arn:aws:states:::aws-sdk:codebuild:startBuild.sync is not recognized.`

An equivalent `CodeBuildStartBuild` task deploys as expected.  Note the `aws-sdk:` portion of the ARN, which appears to be invalid State M

[2022-02-26 15:15] A-ndy-git commented on #19158
Thank you @skinny85, much appreciated!

[2022-02-26 16:05] rix0rrr commented on #19172
@skinny85 @comcalvi did we add support for this already?

[2022-02-26 16:08] rix0rrr commented on #19173
This is not as well-documented as it could be, your custom step implementation also needs to call:

[code]

in the constructor

[2022-02-26 21:51] shishkin commented on #11549
Yes, `LogRetention` needs a `RemovalPolicy` that when set to `DESTROY` would delete the log group.

[2022-02-27 08:49] oberoth opened #19179 "‼️ NOTICE: (aws-eks): Regression in installing Helm charts from assets"
Please add your +1 👍 to let us know you have encountered this
---

### Status: IN-PROGRESS

### Overview:

Helm charts fail to install because the kubectl provider Lambda assumes 'repository' is non-null. This is not the case when a Helm chart is installed from an asset. Here's the newly introduced line that creates the regression: https://github.com/aws/aws-cdk/pull/18547/files#diff-8b2da7b95e6a3

[2022-02-27 09:14] markusl commented on #19173
Is it so that now basically every 3rd party CDK construct that implements pipeline steps needs to call `discoverReferencedOutputs` "just in case" if any of the input parameters happens to be a pipeline output? Is there any way this could be done automatically by the CDK Pipelines library?

[2022-02-27 11:07] fitzchak commented on #5198
+1 for `grantExecute` implementation.

[2022-02-27 14:17] YikaiHu commented on #10820
@dmschauer
Hi, you can ignore this.
You can refer to the answer of [SaiVinay007](https://github.com/aws/aws-cdk/issues/10820#issuecomment-1034571900).
I accidentally copied an extra line of code from the project

[2022-02-27 22:37] rix0rrr commented on #19173
No. By the time `produceAction` gets called on the consuming step it's too late: we should already have had the information before (to calculate dependencies, and have added a `Namespace` to the the producing step, which has already been created and added at this point).

[2022-02-28 01:34] johnameyer commented on #12903
@eladb I am seeing a problem when values are passed cross-stack... it doesn't seem to generate the proper cfn-imports/exports and so throws an error because the generated code expects the resource in the same stack
[code]

[2022-02-28 07:52] SavvasYashPatel commented on #7329
Okay @skinny85 . I was able to resolve the error as per your suggestions. Thanks a lot.

While proceeding with the Artifact part, I have an error like this. I understand I don't have the bucket listed however, I want to store the output of the Artifact to a new s3 bucket. So, what is the right approach to debug it.

`

            project = codebuild.Project(
            self,
            "MyProje

[2022-02-28 07:59] yash982000 commented on #7329
Okay @skinny85 . I was able to resolve the error as per your suggestions. Thanks a lot.

While proceeding with the Artifact part, I have an error like this. I understand I don't have the bucket listed however, I want to store the output of the Artifact to a new s3 bucket. So, what is the right approach to debug it.

`

            project = codebuild.Project(
            self,
            "MyProje

[2022-02-28 08:56] micsafi commented on #19173
I was able to reproduce this same error even with with simple CodeCommit source step. I am here creating a simple CfnOutput (just for debugging purposes), but I the goal is to pass the source attribute `CommitId` to a deployment stage.

[code]
Error:

[code]

This is with CDK 2.14.0 in macOS.

[2022-02-28 10:10] micsafi opened #19184 "pipelines.CodePipelineSource.sourceAttribute(): How and when to invoke?"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines.CodePipelineSource.html#sourcewbrattributename

### Describe your issue?

Class `pipelines.CodePipelineSource` has method `sourceAttribute()` which should enable the CDK Pipeline application to access current source revision attributes within the pipeline, but there is absolutely no examples / documen

[2022-02-28 12:07] pfried commented on #18549
For reference: I just deployed  a fix following the advice by @skinny85 which essentially (besides a narrower policy) looks like the code below:

The stack redeployed and kept its resources. I had to pull out the cross account property tough.

[code]

[2022-02-28 13:14] corymhall commented on #18964
@alexandervandekleutab it sounds like you were able to get it to work after verifying the email so I'll go ahead and close the issue.

[2022-02-28 13:14] #18964 closed

[2022-02-28 13:49] enricopesce commented on #19072
Hi @peterwoodworth I think that is very useful to use the same metadata and names and not create manual push\names\etc but using the same semantic.

Is very common to generate the asset using it and reusing it in the same CI environment, I'm looking to reuse an image for example, not rebuild the same image with different tools, I can use CDK to produce the image and push it automatically why not u

[2022-02-28 14:56] VishnuSM commented on #8867
@skinny85 Following is a question regarding AWS CodeBuild.
I have configured a Webhooks which will trigger my build on pull requests events. During the build I need the list of changed files in the PR to do certain operations on them. Do we have anything which we can use in CodeBuild.

The closest I encountered is CODEBUILD_RESOLVED_SOURCE_VERSION environment variable. But this refers only to the

[2022-02-28 15:11] jogold commented on #19174
The `RUN_JOB` integration pattern is not supported for AWS SDK service integration.

See https://docs.aws.amazon.com/step-functions/latest/dg/supported-services-awssdk.html

The code should throw in this case.

[2022-02-28 15:25] a-h commented on #17770
I'd also like to propose that it's the default for queues, and that queues that don't have it enabled, get it enabled by default after the rollout.

This affects me because at present, the `deadLetterQueueEnabled` field on AWS Lambda creates an SQS queue. That queue is then not encrypted, which (depending on your use case) could lead to personal data being stored unencrypted at rest.

Any Lambda f

[2022-02-28 15:59] corymhall commented on #19161
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-02-28 16:15] skinny85 commented on #7329
Right. Python is telling you that `s3` is not defined.

[2022-02-28 16:39] skinny85 commented on #8867
You will have to use the GitHub API to get this data inside of your CodeBuild job.

[2022-02-28 16:59] corymhall commented on #19166
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-02-28 17:05] jamiepmullan commented on #18405
Hey @peterwoodworth - are there any plans to fix this?

[2022-02-28 17:12] corymhall commented on #19094
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-02-28 17:24] corymhall commented on #19087
@flo-mair can you try specifying that subnet in your subnetselection?

[code]

[2022-02-28 17:28] fedonev commented on #19174
@jogold Thanks for the quick response.  Having dug deeper, my current understanding is:

- `CallAwsService` implements [AWS SDK service integrations](https://docs.aws.amazon.com/step-functions/latest/dg/supported-services-awssdk.html).  Resource ARNs start with `arn:aws:states:::aws-sdk:`
- Other `aws_stepfunctions_tasks`implement [Optimised Integrations](https://docs.aws.amazon.com/step-functions

[2022-02-28 17:30] EhsanHerai commented on #11960
how can I manually change it.
I need to use Node.js 14 in codebuild buildspec.
for now I receive this warning after specifying node.js version.
`[WARN] Skipping install of runtimes. Runtime version selection is not supported by this build image.`

[2022-02-28 17:35] jogold commented on #19174
@fedonev yes, you are correct.

You can find the term "AWS SDK integration" in the tasks doc at https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-stepfunctions-tasks#aws-sdk.

The term "optimized" is indeed nowhere to be found.

[2022-02-28 18:15] corymhall commented on #19075
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-02-28 19:01] miguel-a-calles-mba opened #19190 "(module name): short issue description"
### Description

Adding OpenAPI support for HTTP APIs (API Gateway V2).

Reference: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-open-api.html

### Use Case

It would be great to develop both REST and HTTP API using OpenAPI files (one file per API gateway, of course).

### Proposed Solution

Import the OpenAPI specification per the reference above.

### Other information

[2022-02-28 19:12] #18383 closed

[2022-02-28 19:17] polothy commented on #18473
@NGL321 hello - we ran into this today and found the source of the problem. See this [lambda doc](https://docs.aws.amazon.com/lambda/latest/dg/configuration-images.html#configuration-images-permissions).

Lambda needs ECR to have a policy on it to allow it to pull images. The "funny" thing that lambda does though is automatically add the policy to ECR:

The problem is, on CDK bootstrap upgrade, th

[2022-02-28 19:19] skinny85 commented on #11960
You need to set the [`buildImage` property](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_codebuild.BuildEnvironment.html#buildimage) of the [`environment` property](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_codebuild.Project.html#environment) of Project to `LinuxBuildImage.STANDARD_5_0`.

[2022-02-28 19:24] EhsanHerai commented on #11960
@skinny85 thank you for quick response.
actually I did it. but still have the same warning.

[code]

[2022-02-28 19:53] timjrobinson commented on #18005
@trompx I found something that may fix the issue: https://wiki.archlinux.org/title/St#Crashes_if_page_contains_emoji_characters

It seems st terminal can crash if emoji's are shown that it doesn't support. I installed the package `fonts-symbola` and launched a new `st` terminal and it works again.

[2022-02-28 20:02] #19174 closed

[2022-02-28 20:08] rnsaway opened #19191 "(aws-redshift): Redshift construct is missing the elasticIp property"
### What is the problem?

The aws-redshift-alpha cluster construct as spec'd here:

https://constructs.dev/packages/@aws-cdk/aws-redshift-alpha/v/2.14.0-alpha.0/api/Cluster?lang=typescript

is missing the elasticIp property on the CfnCluster resource.

### Reproduction Steps

instantiate a new Cluster resource.  elasticIp prop is missing.

### What did you expect to happen?

the elasticIp property

[2022-02-28 20:12] #19092 closed

[2022-02-28 20:26] skinny85 commented on #19163
@ldecaro so, did you try importing the Deployment Group into a Stack that is in the account and region that the Deployment Group is in (_not_ the Pipeline)? And can you tell me what happens when you try that?

[2022-02-28 20:37] peterwoodworth commented on #19072
Have you tried using the [`fromEcrRepository()`](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ecs.ContainerImage.html#static-fromwbrecrwbrrepositoryrepository-tag) method? Since you're publishing the asset to an ECR repository, you will be able to access this asset.

Additionally, I want to note that the hashing is based on the contents, size, etc of the file. So the hash should be con

[2022-02-28 20:48] paulmarsicloud commented on #8404
I recently ran into this error and even though I could run `describe-product-as-admin` CLI commands, the `provision-product` command returned an error:
[code]

The solution: add the IAM User/Group/Role to the Portfolio 🤦‍♂️ https://docs.aws.amazon.com/servicecatalog/latest/adminguide/catalogs_portfolios_users.html

The IAM user I was using had Administrator access and it **still** needed to be add

[2022-02-28 21:24] McDoit commented on #19013
I solved the problem by getting the AwsLogDriver from the Node.Children property instead of relying on native casting etc

[2022-02-28 22:28] skinny85 opened #19193 "(assets): publish Assets in parallel"
### Description

Right now, we publish the Assets serially. This is slow if the customer's App contains many Assets (it's visible with as little Assets as 10).

### Use Case

CDK Apps with many (10+) Assets.

### Proposed Solution

We should switch to publishing the Assets in parallel, instead of serially. The tricky part of this will be making sure the Asset publishing progress messages are handl

[2022-02-28 22:36] misterjoshua commented on #19193
In my project, I observed these timings:

**11 assets (10 functions):**
Synth time: 11.66s
Deployment time: 18.49s
Total time: 30.15 seconds

**3 assets (10 functions):**
Synth time: 11.47s
Deployment time: 6.61s
Total time: 18.08s

In aggregate, all assets are under 28MB.

[2022-02-28 22:43] leftiness commented on #4067
In my case, EIPs are created outside of CDK, so I provided a list of EIP allocation IDs in my Stack constructor, and I constructed CfnEIPAssocation for each gateway_id in NatProvider.configured_gateways.

If you want CDK to create the EIP, I think it should also be possible to construct CfnEIP using gateway_id.

links

* https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.NatProvider.html

[2022-02-28 23:19] vvo commented on #19067
Hey there, just wanted to say that there's a huge performance impact of using --enable-source-maps for bundled code.
https://twitter.com/vvoyer/status/1498436054851981320

[2022-03-01 00:16] ldecaro commented on #19163
@skinny85 Yes, I did. I created the IEcsDeploymentGroup from within a Stack that executes in the target-account. I then used a reference to the same object to configure the Action with the dg.

This is how I create the Deploy Stage. I pass the remoteStack to the CodeDeployStep and I use the IEcsDeploymentGroup created inside that stack..

[code]

[code]

My Deploy stage looks like this:

<img widt

[2022-03-01 00:17] luis-ochoa commented on #17544
Thanks @BuruY !
This one was a real doozie.
Here's the override part of the code for the Python crowd:

    cfn_taskdef: ecs.CfnTaskDefinition = fargate_taskdef.node.default_child
    cfn_loggroup: logs.CfnLogGroup = log_group.node.default_child
    cfn_taskdef.add_override(
      "Properties.ContainerDefinitions.0.LogConfiguration",
      {
        "LogDriver": "awslogs",
        "Options": {

[2022-03-01 00:27] #4057 closed

[2022-03-01 00:27] #4829 closed

[2022-03-01 00:27] #4830 closed

[2022-03-01 00:27] #5016 closed

[2022-03-01 00:27] #5181 closed

[2022-03-01 00:27] #5440 closed

[2022-03-01 02:02] benm5678 commented on #12671
It might be nice if we could use the same Lambda construct for all cases.  A property of `isEdge` might determine if it's an EdgeFunction & the `lambda.Code.fromAsset` method we use to set the `code` property could have alternates like `fromTypescriptAsset`, etc.

[2022-03-01 08:40] SavvasYashPatel commented on #7329
@skinny85 I have defined it as aws_s3 as s3.
Was able to solve it.
Thanks a lot.

[2022-03-01 09:25] erudisch opened #19201 "Code-Pipeline: update step delayed by missing files ('/root/.cdk/cache/notices.json', 'cdk.out/tree.json')"
### What is the problem?

The update step gets delayed, not aborted, by trying to open two missing files.

[code]

This error delays the Update Step by almost 16 minutes.

As source action we are using github action v2.

Do you have any idea whats going on here?

Regards

### Reproduction Steps

start the pipeline using a github source action

### What did you expect to happen?

no read timeouts f

[2022-03-01 11:12] khaledev commented on #8362
Hello,
I had a similar issue here using aws-cdk-lib.aws_ses module on eu-west-3.
Error: `Unrecognized resource types: [AWS::SES::ReceiptRule, AWS::SES::ReceiptRuleSet]`
Any news on integrating support for new regions for SES using CDK?
Thank you!

[2022-03-01 12:10] #14292 closed

[2022-03-01 13:00] EhsanHerai commented on #6947
I have the same issue when running `cdk deploy` inside codepipeline buildSpec.

[2022-03-01 13:12] EhsanHerai commented on #11960
@skinny85 thanks.
actually I'm deploying a cdk stack inside buildSpec commnads. can I put credential for the account needed to deploy the stack inside environment as well.

[2022-03-01 14:06] #19058 closed

[2022-03-01 14:53] napalm684 commented on #19148
Possible workaround

[code]

[2022-03-01 16:46] skinny85 commented on #19201
@erudisch can you please show the relevant part of your CDK code?

[2022-03-01 16:53] skinny85 commented on #11960
You can assume a Role in your buildspec. The Role of the Project needs the correct permissions.

[2022-03-01 16:57] Yoshiitaka commented on #19155
I tried to verify it for a moment, It seems that the boolean judgment was bad, and when I changed the writing style, it worked as expected.
I would appreciate it if you could confirm it.

[2022-03-01 17:36] skinny85 commented on #19163
Hmm. Is there any chance you can try using the `App` as the parent of `DeployECS` (which I assume is the Stack that contains the imported Deployment Group - you haven't shown me that part of the code).

I assume `this` in your code refers to the pipeline Stack (again, you didn't show me that part, so I can't be certain), and I wonder whether that is tripping up the cross-environment resolution alg

[2022-03-01 17:57] ldecaro commented on #19163
My apologies. I uploaded the code to this gist: https://gist.github.com/ldecaro/65f1dc965eaa10dd0c1d238ba28dd8a9
The variable _this_ from the `IEcsDeploymentGroup` refers to the `ECSStack` since it is created inside the `ECSStack`. Should I try using a different scope?

[2022-03-01 18:16] skinny85 commented on #19163
Actually, I think I realized what is happening.

What is `codeDeployRole`? You created it in the Pipeline Stack, correct?

If that's true, this is the problem - you're using a Deployment Group from one account, but the Role in the pipeline account.

The Role needs to be in the same account as the resource of the Role. That's why the Action looks for the deployment group in the pipeline account.

R

[2022-03-01 18:36] codemeddler commented on #18916
Presumptuously already added it to the description of this PR 🙂. Not sure if it needs to be added elsewhere too to be picked up correctly? Both issues seem to link on the side panel at least.

[2022-03-01 18:36] peterwoodworth commented on #8362
Support in each region is up to [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html). Check out the [CFN coverage roadmap](https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues) to see if they plan to address this soon.

There's nothing CDK can do about this, so I'm going to close the issue. Feel free to ping me wit

[2022-03-01 18:36] #8362 closed

[2022-03-01 19:18] rkolias commented on #18968
Hi @peterwoodworth. Yah, pretty sure. See attached screen shot. Note here v2.14.0, but both building and autocomplete in VS Code both indicate those two props are absent. Honestly I would be delighted if I am just doing something dumb.

What else can I attempt?

![image](https://user-images.githubusercontent.com/1790770/156233666-92cad954-e1e3-4901-be39-d8ff0472720b.png)

[2022-03-01 19:21] peterwoodworth commented on #18968
Have you tried removed your packages and reinstalled them? Just having your CLI be the latest version doesn't ensure that your node packages are updated
[code]

[2022-03-01 19:22] peterwoodworth commented on #18968
Oh, and check your package.json too to make sure that the version of the cdk packages is `2.14.0`

[2022-03-01 20:09] #19060 closed

[2022-03-01 21:03] lossanarch commented on #9741
imho this bindTo...() method is weird and non-standard when compared to the rest of cdk. It may result in a small amount of duplication but would be more transparent and intuitive to reverse #8959 and just have the object constructed as normal and have the user decide which they want by deliberately constructing one or the other.
This is magic, which is why it's catching people out and needs bette

[2022-03-01 21:52] peterwoodworth commented on #17748
If you're still running into this issue, can you please provide the screenshot of Appflow console page together with the Network tab, which include the response from "describe-flows"? That would be very helpful for helping service team to figure this out.

e.g.
<img width="871" alt="Screen Shot 2022-02-21 at 3 56 33 PM" src="https://user-images.githubusercontent.com/44349620/156255059-bb1ff46a-227

[2022-03-01 21:53] #18786 closed

[2022-03-01 21:56] skinny85 commented on #9741
@lossanarch I'm not disagreeing with your assessment, but it's a little late for that now 😛 (not sure how easy it would be to reverse https://github.com/aws/aws-cdk/pull/8959 without introducing a breaking change).

[2022-03-01 22:03] lossanarch commented on #9741
Yeah you're probably right, likely a fairly hard breaking change. Sorry, I only first came across this today.
I wonder if the bindTo methods could be left in a working but deprecated state to prevent the break, while re/adding the NewParameterGroup/NewClusterParameterGroup methods. Looks feasible at first glance although I haven't had an in-depth look yet.
Hey thanks for the quick response 👍

[2022-03-01 22:22] clairemr commented on #19201
I'm having the same issue. Using the cdk pipelines module, the update step is taking a lot longer to run because of the below error
[code]
Looking at the logs, this error started appearing for me some time between 1:30-2pm Friday 25/3 AEST. The only change I made to my files between pipeline runs was commenting out a single line from my app code, so nothing that should have affected the self mutat

[2022-03-01 23:18] rkolias commented on #18968
@peterwoodworth Thank you for taking the time to comment. So, I think solved. Here appears to be the causes:

1) It seems the install/init commands suggested in the 'Getting started' portion of the CDK Developer Guide installed the CDK version older than the commit above (which seems to be have been a couple weeks ago).

2) Only the level 1 CfnVpc construct contains the new attrbs. the "Vpc" const

[2022-03-02 00:10] jfly commented on #11521
I just ran into this myself. Is there any hope for fixing this, or at least a workaround with some sort of no-op change?

[2022-03-02 00:14] ramblingenzyme opened #19205 "(lambda): Can't use `.grantInvoke` with an iam.Group"
### What is the problem?

![image](https://user-images.githubusercontent.com/5336472/156269499-df84f500-20ad-4f77-ac6f-8479f8bfd1e5.png)

Using the `IFunction` method `.grantInvoke` throws an error when passed a group. Presumably this is attempting to add to the Lambda resource policy as well as the Group policies.

### Reproduction Steps

![image](https://user-images.githubusercontent.com/5336472

[2022-03-02 00:18] #19085 closed

[2022-03-02 01:06] pawelzebrowski opened #19206 "(aws-stepfunctions-tasks): StepFunctionsStartExecution createScopedAccessPolicy() assumes current account"
### Description

StepFunctionsStartExecution creates policy statements as part of `createScopedAccessPolicy()` when Integration Pattern is RUN_JOB.  This does not support creating SFN definitions that will be deployed cross-account using AWS DeployPipeline because the policy statements assume current account.

### Use Case

Define and write an SFN using CDK that will be deployed cross account usin

[2022-03-02 01:48] alicez0626 opened #19207 "@aws-cdk/core: Support microseconds in Duration"
### Description

The Duration class is missing support for microseconds - https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/core/lib/duration.ts

### Use Case

We would like to be able to use `Duration.seconds(100).toMicroSeconds()` for example.

### Proposed Solution

In Duration class, implement these two methods:

[code]

### Other information

_No response_

### Acknowledge

- [X]

[2022-03-02 02:32] rix0rrr commented on #19207
What service will you be using them for?

[2022-03-02 02:33] rix0rrr commented on #11521
You need to make the no-op change yourself unfortunately

[2022-03-02 02:34] alicez0626 commented on #19207
For CloudWatch alarm. We have some metrics emitted at microseconds level

[2022-03-02 04:42] rix0rrr commented on #11521
Add a WaitConditionHandle. Doesn’t do or cost anything, but does change the template

[2022-03-02 05:06] NGL321 commented on #19191
Hey @rnsaway,

Since this is a missing feature in an experimental library, I have adjusted this to report as a feature-request with an implementation provided. This will help us prioritize your PR.

😸

[2022-03-02 05:29] yash982000 commented on #7329
Yes, @skinny85. I was able to do that by importing `aws_s3 as s3`
Thanks a lot.

I had a blockage from the docs to understand regarding the environment variable in the environment part for code build CDK.
How to pass environment variable?
Also, do I need to use Build EnvironmentVariable in Build Environment or is there any other way?

I am not able to understand perfectly from the docs library and

[2022-03-02 07:15] shivlaks commented on #8362
per the [linked issue comment](https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/326#issuecomment-1048727007) in the CloudFormation coverage roadmap, support for SES resources is available in all regions where SES is there as of Feb 23, 2022.

[2022-03-02 07:16] lennart-land commented on #19201
I'm also having this issue.

This issues seems to be related to https://github.com/aws/aws-cdk/pull/18936 and cdk version 2.14.
We are using the `pipelines.CodePipeline` and part of this pipeline is the self mutating step.
This self mutating step executes the following command `cdk -a . deploy Pipeline --require-approval=never --verbose`.
Since we are behind a corporate proxy and we did not find a

[2022-03-02 07:19] shindeja commented on #19201
I'm also having this issue.
This issue is happening on cdk version 1.146.0.
We are using the pipelines.CodePipeline and part of this pipeline is the self mutating step.  This self mutating step executes the following command cdk -a . deploy Pipeline --require-approval=never --verbose.
Since we are behind a corporate proxy and we did not find a way to configure the proxy for fetching the notices.js

[2022-03-02 08:20] erudisch commented on #19201
I was also just change a type of an input value for my lambda. nothing pipeline related

[2022-03-02 08:22] 00Kai0 commented on #8196
Hi guys, do you have any update for this issue?
We need L2 support like lookup api to avoid cyclic reference between stacks.

[2022-03-02 08:34] abhishektrivedi-hs opened #19208 "MWAA: Not able to install airflow-papermill packagge"
### What is the problem?

Hi,

We have provided papermill related packages in requirements.txt file but MWAA is not installing those packages. We tried installing those packages from python script itself to check dependency related issues but no luck. Python script installs the package in local usr path which MWAA is not using.

Could you please let us know if MWAA 2.2.2 has support for papermill

[2022-03-02 08:57] rajivjeyaraj commented on #13026
I am facing the same issue while using the LambdaRestApi() function in Python. Though I mention proxy=False while using this function, the Integration Request type, in every API method, is being set to LAMBDA_PROXY. **Use Lambda Proxy integration** checkbox is enabled.
I am using _**aws-cdk.core==1.138.1**_
Are there any work-around available?

[2022-03-02 09:43] Obirah opened #19209 "(aws-networkfirewall): L2 construct(s)"
### Description

Currently, there only are generated L1 constructs for the relatively new AWS Network Firewall service. The deployment of a network firewall with corresponding routing through several subnets is a bit cumbersome with those constructs and could heavily benefit from sophisticated L2 constructs.

### Use Case

The approaches how one can/should deploy a network firewall are structured

[2022-03-02 09:59] bergac commented on #19155
Could you tell me how you changed the writing style?

[2022-03-02 10:32] ThomasSteinbach commented on #19122
@ryparker , @otaviomacedo I have updated the bug description for also CDK v2.

Meanwhile we have migrated from CDK v1 to v2 and got the error in a different form with `PRIVATE_ISOLATED` subnets. And I clarified in the description that the error may depend on the VPC import/lookup.

[2022-03-02 10:58] awilkins commented on #12696
Currently the error seems to have changed (this is in a CodeBuild job), the manifest has two assets.

I have set `AWS_SDK_LOAD_CONFIG=1` ; as per above, the emission of these messages in the output isn't helpful because the `DefaultAwsClient` class forces this value to `1` regardless.

[code]

[2022-03-02 11:43] vitran96 commented on #11171
This is what I got so far to get elb dns with custom resource (without using lambda)
But it doesn't work.

If you are fine with having extra lambda function then you can try this:
1. Create a lambda function using aws-sdk's ELBv2 to get the dns
2. In your cdk, create the lambda and use custom resource to invoke the lambda function

I decided not do it because it feels like over-engineering for som

[2022-03-02 11:52] mrgum commented on #19201
same here

[2022-03-02 12:23] mathewlk commented on #19090
We ended up switching to L1 constructs for this piece (we're working with an external customer who prefers that over other potential solutions). Thanks for your help here.

[2022-03-02 12:23] #19090 closed

[2022-03-02 13:40] csbszb opened #19210 "Appsync with NodejsFunction lambda resolver doesn't work with ESM format"
### What is the problem?

I have an Appsync API with a lambda resolver in nodejs, created with the NodejsFunction function. When changing the bundling option to `format: OutputFormat.ESM` I see the following error in the Appsync logs:
`"error": {
            "message": "index.main is undefined or not exported",
            "type": "Runtime.HandlerNotFound"
},`

When I remove the format option, eve

[2022-03-02 14:12] caveman-dick commented on #16869
What I did for this as a workaround was to change the `id` of the VPC which will force create a whole new VPC and then delete the old one rather than trying to move things over. As the VPC itself and all of the subnets need to be replaced anyway there isn't much difference in reality.

If you have dependencies you will need to replace them to update the VPC so you will need to have a transitionary

[2022-03-02 14:12] konstantinj commented on #19099
Finally someone else is raising this. in 2020 I've favored already custom names for nested stacks. The current naming is the reason we're not using nested stacks. Please allow custom names or at least only use the parent stack as prefix to the value of the id field.

[2022-03-02 14:59] gunarkroeger opened #19212 "(QuickSight): Proper Analysis or Template CDK Construct"
### Description

Currently, the only way to create a QuickSight::Analysis is by giving it a QuickSight::Template as sourceEntity.
And the only way to create a QuickSight::Template is by giving it either a QuickSight::Template or a QuickSight::Analysis as source Entity.
So it is impossible to automate the creation of the Analysis completely.

### Use Case

We want to reduce manual steps when deploy

[2022-03-02 16:19] nacitar opened #19213 "(aws_cdk.aws_autoscaling.Schedule): rate classmethod isn't present as it is in aws_applicationautoscaling.Schedule"
### What is the problem?

(aws_cdk.aws_autoscaling.Schedule): rate classmethod isn't present as it is in aws_applicationautoscaling.Schedule

https://docs.aws.amazon.com/cdk/api/v2/python/aws_cdk.aws_applicationautoscaling/Schedule.html#aws_cdk.aws_applicationautoscaling.Schedule.rate

The method linked there, from applicationautoscaling.Schedule doesn't have an equivalent in autoscaling.Schedule

[2022-03-02 16:21] vincent851 commented on #16869
Thank you for sharing a work around @caveman-dick. This is a good work around...I am debating whether to do this because this will create outage for our produciton environment. nonetheless, this is a good work around. Thanks.

[2022-03-02 17:17] skinny85 commented on #7329
Take a look at [this example from the CDK examples repository](https://github.com/aws-samples/aws-cdk-examples/blob/dbb0f822ded2f9e33660c8579133997a926e0a24/python/codepipeline-docker-build/Base.py#L43-L46).

[2022-03-02 17:21] ldecaro commented on #19163
@skinny85 it works like a charm. It also adds into the bucket policy and kms policy the references to the remote account.
@rix0rrr thanks for the guidance with regards to the expected use of CDK Pipelines.

[2022-03-02 17:21] #19163 closed

[2022-03-02 17:48] #17241 closed

[2022-03-02 17:56] nacitar commented on #19213
I just realized that I was confusing aws_autoscaling.Schedule with aws_applicaitonautoscaling.Schedule, and the method is not actually documented but missing.  The real documentation is here: https://docs.aws.amazon.com/cdk/api/v1/python/aws_cdk.aws_autoscaling/Schedule.html

And that doesn't mention rate.  So I guess this is effectively a feature request now to bring those to parity.

[2022-03-02 18:08] msambol commented on #1739
@rix0rrr I'm having trouble getting this to work with CloudFront metrics. The alarm gets created but it doesn't reference the actual metrics emitted from the service. I created an alarm manually and the difference I see on the manual alarm is `Region = Global`:

<img width="255" alt="Screen Shot 2022-03-02 at 10 07 08 AM" src="https://user-images.githubusercontent.com/3310356/156421997-d83a94e5-2a

[2022-03-02 18:38] skinny85 commented on #19083
OK. Going from this:

[code]

to this:

[code]

Did reproduce the error for me.

[2022-03-02 18:53] skinny85 commented on #19083
However, deploying this at once:

[code]

succeeds. Given that, this has to be a problem with the DynamoDB service, right? Clearly, CDK is generating the correct resources here (otherwise, the above would also fail with the same error).

Apologies @apollack, but I don't think there's anything CDK can do here. I think your best bet is contacting the DynamoDB team through enterprise support.

[2022-03-02 18:56] robertd commented on #18843
Hi @pmkuny. I am using cdk to create an EKS cluster after assuming the proper roles, and by default I'm seeing this message...

`Your current user or role does not have access to Kubernetes objects on this EKS cluster
This may be due to the current user or role not having Kubernetes RBAC permissions to describe cluster resources or not having an entry in the cluster’s auth config map.`

Our gitlab

[2022-03-02 19:34] einstein-it commented on #19201
Same issue in CodeBuild here, cdk v1.1.47.0:
[code]

[2022-03-02 20:09] #5753 closed

[2022-03-02 20:09] #8606 closed

[2022-03-02 20:09] #8923 closed

[2022-03-02 20:09] #9236 closed

[2022-03-02 20:09] #9858 closed

[2022-03-02 20:57] rehanvdm commented on #17803
Agree, the prefix must be on a container image basis, not on the stack. An alternative would be to add the prefix

[code]

[2022-03-02 21:27] mjsztainbok opened #19215 "(sns): Creating a subscription using addSubscription does not have any way of getting the subscription ARN"
### Description

When creating an SNS subscription using `addSubscription` on the topic object, there is no way to currently retrieve the subscription ARN for the newly created subscription

### Use Case

Most API's related to modifying a subscription or retrieving information about it require the subscription ARN and it is a good value to put as an output from CDK

### Proposed Solution

The Subs

[2022-03-03 00:12] ewahl-al commented on #15723
seeing this same error publishing a large asset, so +1

Received response status [FAILED] from custom resource. Message returned: Command '['/opt/awscli/aws', 's3', 'cp', 's3://cdk-rheia-assets-193474789937-us-east-2/a394b151273bf906e9fbf6967565b605f7fd43d183c63273bd75ade5438a51f9.zip', '/tmp/tmplz_ys_8o/b43ecf16-ddaf-4e29-8084-b43ade17714e']' died with <Signals.SIGKILL: 9>. (RequestId: cdd5ec20-e

[2022-03-03 00:19] #18813 closed

[2022-03-03 00:19] #18975 closed

[2022-03-03 01:07] kylelaker opened #19217 "(aws-cdk-automation): `aws-cdk-lib` missing from v2 release assets"
### What is the problem?

For v1.x.x releases, such as [v1.147.0](https://github.com/aws/aws-cdk/releases/tag/v1.147.0) the created assets include the _entire_ CDK library because everything lives under `@aws-cdk/*`; however, for v2.x.x, the only attached packages are the _unstable_ packages as those are the ones under `@aws-cdk/*`. There is not a release zip of `aws-cdk-lib` available; for exampl

[2022-03-03 01:17] madeline-k commented on #19217
Hello @kylelaker, can you share a screenshot of what you're seeing? When I download [aws-cdk-2.15.0.zip](https://github.com/aws/aws-cdk/releases/download/v2.15.0/aws-cdk-2.15.0.zip), I see an `aws-cdk-lib@2.15.0.jsii.tgz` archive in the `js` directory.

[2022-03-03 02:30] kylelaker commented on #19217
You're absolutely right... I'm not sure how I missed that. Thanks and sorry for the noise.

[2022-03-03 02:30] #19217 closed

[2022-03-03 03:19] IsaacLeeWebDev opened #19218 "(aws-eks): `aws-auth` ConfigMap is still being replaced"
### What is the problem?

#7981 was not fixed by #8447 – The `aws-auth` ConfigMap is still being replaced, rather than appended to, any time the `Cluster.awsAuth` getter is invoked, which happens whenever you add a Fargate Profile to a cluster, forcing all Fargate Profiles to originate from the same instance of `Cluster` from `@aws-cdk/aws-eks/cluster.ts`.

In [the AwsAuth constructor](https://git

[2022-03-03 03:57] misterjoshua opened #19219 "(apigateway): hot-swap method requestParameters and methodResponses, integration requestParameters, requestTemplates and integrationResponses"
### Description

I'd like the CDK CLI to hot-swap the following API Gateway Method constituents:
- Method `requestParameters`
- Integration `requestParameters`
- Integration `requestTemplates`
- Integration `responseTemplates`
- Method `methodResponses`

### Use Case

Development of service-to-service integrations with `AwsIntegration`, especially when using substantial VTL code.

### Proposed Sol

[2022-03-03 03:59] yash982000 commented on #7329
Great @skinny85 .
This worked really well.
Thanks a lot.

Do we have any such example for VPC?

[2022-03-03 06:08] AndreyMarchuk commented on #10976
`JobDefinitionContainer` would require defined `execution_role` when using Secrets Manager

Python

1. Create execution role
[code]

2. Set on `execution_role=batch_execution_role` on `JobDefinitionContainer` level

3. Grant secret read permissions
[code]

[2022-03-03 07:04] zhaoyi0113 commented on #10417
is there any update on this issue? it seems very useful feature.

[2022-03-03 07:31] xian13 commented on #11581
I'm using cdk 2.15.0 and this solution no longer works because of `updateType` already removed from `AddCapacityOptions`
but the code still implement `updateType` under the hood in cluster.ts

with this solution my current solution that work is:
[code]

use spread operator so updateType not cause error but still can works

[2022-03-03 08:11] jogold commented on #17768
It looks good but I had the following comment https://github.com/aws/aws-cdk/pull/17788#discussion_r760895291

[2022-03-03 09:21] michaeljfazio opened #19222 "(cognito-idp): cannot use Cognito identity pool for role mappings"
### Description

The following role mapping will fail:

[code]
The reason it will fail is because the internal logic is to map the provided URL as the corresponding key value, which is performed [here](https://github.com/aws/aws-cdk/blob/009d68912267de9dcf4136a7d80a652a891b7bb9/packages/%40aws-cdk/aws-cognito-identitypool/lib/identitypool-role-attachment.ts#L199).

The same function is achieved in

[2022-03-03 09:37] mhtrinhLIC opened #19223 "(aws-s3-notifications): Missing event type equivalent to s3:ObjectRestore:Delete"
### Description

I am trying to get notified when an object that been restored but get expired, thus go back to GLASSIER class.
I could not find the equivalent of  [s3:ObjectRestore:Delete](https://docs.aws.amazon.com/AmazonS3/latest/userguide/notification-how-to-event-types-and-destinations.html#supported-notification-event-types)  on https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-s3.Ev

[2022-03-03 09:51] konstantinj opened #19224 "(core): Add IncludeNestedStacks option to createChangeSet"
### Description

As @rectalogic points out here https://github.com/aws/aws-cdk/issues/5722#issuecomment-789146277 a year ago it is helpful to see the exact changes of nested stacks in the aws console. Without that option you only see that a nested stack will change. With that option you'll get a link in the console to the changeset of the nested stacks. This would be very helpful for me. I even th

[2022-03-03 10:11] IhnatKlimchuk opened #19225 "(aws-ecs-patterns): ApplicationLoadBalancedEc2ServiceProps is missing placement strategies"
### Description

I created an `ApplicationLoadBalancedEc2Service` service. Unfortunately, I found that service was not balanced properly against availability zones and creating 3 out of 3 tasks in 1 AV, causing worst service availability in outage case.

### Use Case

You need to create ApplicationLoadBalancedEc2Service with custom placement strategies.

### Proposed Solution

Update `ApplicationL

[2022-03-03 10:17] vduits commented on #18861
@gbisaga
It might be worth re-opening in another issue as the author's location likely means they are occupied with other things and leave them unable to respond and they don't seem to reopen it. It is how they addressed it the first time as well after #18301.

You can still bypass this issue by using v 2.3.0-alpha.0. I still got that working with v2.14 of the aws-cdk-lib without it introducing pr

[2022-03-03 11:59] konstantinj commented on #19099
btw. my solution for now is this function inside the class of the parent stack:
[code]
With this your stack names will look like this: `nameOfParentStack-nameOfNestedStack-CdkHash`

[2022-03-03 12:23] ENT108 commented on #8585
Same here...

[2022-03-03 12:31] corymhall commented on #18861
@gbisaga thanks for the sample project! This one really has me stumped. My hunch is that it is something with the way Docker handles volumes on Windows, but I might need some help running down a root cause.

[2022-03-03 12:39] gbisaga commented on #18861
Of course! Please let me know if you would like me to try anything. I'm not that familiar with the internals of CDK, but I would love to learn more about it! Looking at the timing, I'm wondering if it has anything to do with the recent Docker Desktop changes. I have not experienced any other problems with it, but that might explain both why it doesn't have problems on linux and also why it just st

[2022-03-03 12:52] alexbaileyuk commented on #17768
I see the comment now. Would it be wrong to just suggest users enter an empty string for flags without arguments?

[2022-03-03 12:53] alexbaileyuk commented on #17768
I see the comment now. Would it be wrong to just suggest users enter an empty string for flags without arguments?

[2022-03-03 13:22] apollack commented on #19083
Will follow up further with AWS support, thanks for investigating

[2022-03-03 13:23] lennart-land commented on #19201
As far i can tell the PR wont help to resolve our issue, since we are using the `pipelines.CodePipeline` and we are not able to change the cdk command for the self mutating step.

[2022-03-03 13:56] JLucky commented on #15301
+1

[2022-03-03 14:26] jogold commented on #17768
With the current implementation it would lead to `--my-option=` which will make esbuild throw an error because of the trailing `=`.

[2022-03-03 15:35] rectalogic commented on #19224
https://github.com/aws/aws-cdk/pull/17396 does this

[2022-03-03 16:22] skinny85 commented on #7329
Search that repository I've linked to - that's your best bet. You can also Google for stuff about the CDK.

[2022-03-03 17:01] rix0rrr commented on #19208
How is this related to CDK?

[2022-03-03 17:17] WingsLikeEagles commented on #6643
Can you give a little more info on how that is suppose to be implemented.  Maybe some comments on the lines that are specific to your environment?
Is this line the name of your IP Set?
`'IPSetv4,'`
I'll go look at the docs for CfnIPSet, but a little more info would be helpful if you have the time.

[2022-03-03 17:47] WingsLikeEagles commented on #6643
I get this error when I try @charlesxucheng 's solution.
`"ipSetReferenceStatement":{"$jsii.map":{"arn":"${Token[TOKEN.204]}"}}`

[2022-03-03 18:31] skinny85 commented on #19219
Thanks for opening the issue @misterjoshua!

[2022-03-03 19:43] keenangraham commented on #16104
This would be great. Manually enabling in the console works temporarily, but gets reset when you deploy any changes to your CodeBuild stack.

Are there any known workaround using the CDK itself?

[2022-03-03 20:43] alexandervandekleutab opened #19230 "(assets): EXTREMELY slow bundling with docker."
### General Issue

I have a lambda nodejs function that is taking over half an hour to bundle.

### The Question

I have seen the other github issues complaining about docker bundling taking 20 seconds up to around 4 minutes. I am experiencing bundling taking several times longer than that.

[code]

I need to copy some assets (fonts and images) after bundling, and I need to include `pdfkit` binari

[2022-03-03 20:58] skinny85 commented on #16104
Probably [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) would be your best bet,

We also accept [Pull Requests](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) 😉.

[2022-03-03 21:08] alexandervandekleutab commented on #19230
Note also that I am using `forceDockerBundling: true` because without it, the deployment hangs on the first "publishing" stage.

[2022-03-03 22:10] huonw opened #19231 "(aws-lambda-python): Using poetry requirements results in requirements.txt written to 'entry' directory"
### What is the problem?

We're starting to use `PythonFunction` from `@aws-cdk/aws-lambda-python-alpha` with poetry (a `pyproject.toml` and `poetry.lock` file in the directory specified by `entry`), and it works pretty well, thanks.

However, the exported `requirements.txt` is written to the asset input volume directory, meaning it ends up written to the `entry` directory next to `pyproject.toml`

[2022-03-03 22:21] maciejtoporowicz commented on #18459
In my case it was a human error. I had a CDK project with TypeScript where I had a lambda written in JavaScript. In `.gitignore` I had an entry that simply excluded javascript files. Once I checked out the repository on another computer the JavaScript file with the lambda was obviously not there. Took me at least two hours to realise that.

This is my typescript code:
[code]
The lambda was meant t

[2022-03-03 22:42] kaizen3031593 commented on #19215
Doesn't look like Cloudformation returns the subscription arn, so this might not be as easy as you think. Cloudformation [ref](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html). For reference, cloudformation does return an arn for topic, which can be seen [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sns-topic.

[2022-03-03 22:49] huonw opened #19232 "(aws-lambda-python): Poetry requirements export fails when path + pypi dependencies due to lack of hashes on paths"
### What is the problem?

We're starting to use `PythonFunction` from `@aws-cdk/aws-lambda-python-alpha` with poetry (a `pyproject.toml` and `poetry.lock` file in the directory specified by `entry`), and it works pretty well, thanks.

However, the exported `requirements.txt` includes hashes for external dependencies but not path deps, and if there's any hashes in the file, then `pip` requires a ha

[2022-03-04 00:21] kaizen3031593 commented on #19206
Are you talking about cross account state machines using `fromStateMachineArn`? If so, I should have fixed this issue in this [PR](https://github.com/aws/aws-cdk/pull/19026) which released in v1.145.0. `fromStateMachineArn` now does not assume the current account and rather gets the environment from the arn.

If you're talking about something else though, can you provide a code example?

[2022-03-04 00:52] therealvio commented on #7111
Any updates on this?

Connecting vpc-peered security groups is something we are looking to do too :)

[2022-03-04 00:55] kaizen3031593 commented on #19106
Hi @jeckscolari. This is weird because the source code shows that it is providing the lambda function arn as a resource:

https://github.com/aws/aws-cdk/blob/52128cf19ec9c35f1b79d7e6cc9088dd95bfde76/packages/%40aws-cdk/aws-stepfunctions-tasks/lib/lambda/invoke.ts#L120-L125

I created a similar app and on `cdk synth` got this resource document:

[code]

This leads me to believe this is not a bug. C

[2022-03-04 01:01] kaizen3031593 commented on #19108
You should use the [`JsonPath`](https://github.com/aws/aws-cdk/tree/52128cf19ec9c35f1b79d7e6cc9088dd95bfde76/packages/%40aws-cdk/aws-stepfunctions#accessing-state-the-jsonpath-class) class for this I believe. Something like this:

[code]

[2022-03-04 02:19] #18599 closed

[2022-03-04 02:24] arockett commented on #17265
There's a bug in VPC selection for addRotationMultiUser.

Even if you pass in props for the subnet type to place the rotation lambda, it will always get placed in the same subnets as the cluster. See https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-rds/lib/cluster.ts line 611 for the addRotationMultiUser function. Notice how the '...options' line gets overridden by the cluster su

[2022-03-04 02:53] arockett opened #19233 "aws-rds: Subnet selection doesn't work for cluster.addRotationMultiUser"
### What is the problem?

There's a bug in VPC selection for addRotationMultiUser. Commented on original issue as well: https://github.com/aws/aws-cdk/issues/17265

Even if you pass in props for the subnet type to place the rotation lambda, it will always get placed in the same subnets as the cluster. See https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-rds/lib/cluster.ts line 61

[2022-03-04 03:55] w0otness commented on #18811
CDK needs something between `synth` and `deploy` that goes over all resources to be deployed making sure name conflicts and any other specific conflicts that arise during the deploy step (for me its always something in Route53, 2 minutes into the deploy of a CloudFront, then waiting another 3 for the rollback).

Synth already looks into the AWS account in question to get VPC names and the like. Pe

[2022-03-04 04:47] #19208 closed

[2022-03-04 07:28] andreabedini commented on #16209
This is another workaround for the error code that doesn't require modifying the source code.

[code]

[2022-03-04 08:55] gbvanrenswoude opened #19234 "(cdk pipelines): short issue description"
### What is the problem?

We observe in the default cdk pipeline:
[code]
Note, we have the `cdk root` of our project in <project root>/infrastructure folder. That is specified in code:
[code]

It does not result in error, just in a very long wait and then succesful exit.

### Reproduction Steps

[code]

### What did you expect to happen?

   Pipeline result:
[code]

### What actually happened?

[c

[2022-03-04 09:59] alexbaileyuk commented on #17768
Ah you are correct. I didn't think about that. @ryparker are you able to take a look at that? If not are you happy for me to take a look at it?

[2022-03-04 11:18] otaviomacedo commented on #19147
@rix0rrr, @kaizen3031593 you might have more context on what's the cause of this.

[2022-03-04 11:29] otaviomacedo commented on #19223
Yes, it's missing. But it should be just a matter of adding a new value to the [`EventType`](https://github.com/aws/aws-cdk/blob/02dfa4f1e320442adfbf510959440678b8e1c69f/packages/@aws-cdk/aws-s3/lib/bucket.ts#L2183) enum.

[2022-03-04 11:34] ThomasSteinbach commented on #19122
Hi @otaviomacedo ,

as assignee to this issue I'd like to inform you that I have updated the bug description with a new section "Solution". There I've described how to fix this bug as CDK/TS developer.

In short: Simply add the newly introduced *isolated* subnets to the dummy VPC here:
https://github.com/aws/aws-cdk/blob/v2.15.0/packages/%40aws-cdk/aws-ec2/lib/vpc.ts#L2172

[2022-03-04 11:36] markusl commented on #16707
@peterwoodworth any news on this? Could you consider this for CDK v3? :)

[2022-03-04 12:01] markusl opened #19238 "(pipelines): Using CodeBuildStep.exportedVariable causes Output for step CodeBuildStep(Produce) not configured. Either the step is not in the pipeline, or this engine does not support Outputs for this step..."
### What is the problem?

`CodeBuildStep.exportedVariable` does not seem to work as expected.

### Reproduction Steps

See https://github.com/aws/aws-cdk/pull/19156

[code]

### What did you expect to happen?

The variable would be referred properly.

### What actually happened?

[code]

### CDK CLI Version

2.15.0 (build 151055e)

### Framework Version

_No response_

### Node.js Version

16

###

[2022-03-04 13:33] corymhall commented on #19232
@huonw looks like this might be an easy fix.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately, but would definitely welcome contributions.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared

[2022-03-04 13:41] otaviomacedo commented on #19218
Hi, @IsaacLeeWebDev. Thanks for bringing this up. Indeed, the custom resource should issue a `patch` command instead of `apply`, in this case.

[2022-03-04 13:41] corymhall commented on #19231
@huonw this might be a simple fix. Right now we run all our commands and _then_ copy everything to the output directory. We might want to just copy first and then run the commands in the output directory.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately, but would definitely welcome contributions.

We use +1s to help prioritize our work,

[2022-03-04 13:42] corymhall commented on #19059
@tomeszmh we are currently tracking this issue in #18861

[2022-03-04 13:42] #19059 closed

[2022-03-04 13:53] konstantinj commented on #19224
ok thanks. Unfortunately #19044 happened.

[2022-03-04 13:59] #13675 closed

[2022-03-04 14:13] otaviomacedo commented on #19029
Hi, @sunil-morya. Can you provide more details? Where should `addApplicationVpcConfiguration()` belong?

[2022-03-04 14:23] corymhall commented on #18861
@gbisaga can you try running a test to see if it throws the same error?

[code]

You'll need to replace the volume source paths to windows paths so you'll end up with something like (depending on where you create the directories)

[code]

I created two directories `/tmp/copy-test` and `/tmp/copy-test-output`. I cloned your test repository into `copy-test` so I ended up with

/tmp/copy-test
[code]

[2022-03-04 14:26] b3n3d1k7 commented on #17706
@eladb when will this fix be added to v2?

[2022-03-04 14:27] matart15 opened #19239 "appsync lambda authorizer deployed. but request returns BadRequestException"
### What is the problem?

my appsync code deployed successfully. but when I use

[code]

gives this error. no detail
[code]

Appsync WEB console also returns the same error.

the authorizer Lambda function is not invoked. there is no log on cloudwatch.

If I invoke lambda function directly from LAMBDA WEB console. it runs and writes log to cloudwatch.

### Reproduction Steps

1. cdk init --languag

[2022-03-04 14:29] mackensen opened #19240 "(synthetics): access denied when uploading canary artifacts"
### What is the problem?

I created a canary using CDK 2.15.0 and the syn-nodejs-puppeteer-3.2 runtime. The canary runs successfully, and stores the artifacts in the bucket, but also throws an Access Denied when attempting a copy operation in the bucket:

[code]

This does not cause Cloudwatch to enter the alarm state, but it does show as a failure in the Cloudwatch interface. Adding the following

[2022-03-04 14:29] otaviomacedo commented on #19210
@jogold do you have any idea what's going on here?

[2022-03-04 14:33] corymhall commented on #19067
@yamatatsu are you saying that if you do not provide the `NODE_OPTIONS` environment variable to the lambda function then the logs will not have the stack trace with .ts line numbers?

Because of the performance impact I'm hesitant to turn this on. It feels like this should just be added to the documentation and users can explicitly provide this if they really want it.

[2022-03-04 14:42] #14747 closed

[2022-03-04 14:51] otaviomacedo commented on #19239
@matart15 There is probably some mismatch between the API schema you defined in and the query you're sending.

[2022-03-04 14:58] corymhall commented on #18974
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-03-04 15:12] corymhall commented on #18430
@lacteolus we are currently tracking this issue in https://github.com/aws/aws-cdk/issues/18861

[2022-03-04 15:25] #19133 closed

[2022-03-04 16:07] #5047 closed

[2022-03-04 16:46] derdeka opened #19242 "bug(aws-lambda-nodejs): esbuild preCompilation not finding local tsc"
### What is the problem?

The esbuild `preCompilation` option requires typescript to be installed globally and does not find a local (project) installation.

### Reproduction Steps

With no global typescript installation, but local typescript dev dependency and the following configuration:

[code]

### What did you expect to happen?

`tsc` command should be found when typescript is locally install

[2022-03-04 17:09] jogold commented on #19210
@csbszb so you're exporting a `main` function in your code?

What happens when you test your function in the Lambda console?

[2022-03-04 17:34] DaniloGT commented on #19099
Please, can you elaborate more?
I have the same issue and this could be a nice fix

I don't know how it works a function with a 'super' function in the return declaration, this creates an `'super' can only be referenced in members of derived classes or object literal expressions.ts(2660)` error for me

[2022-03-04 17:45] matart15 commented on #19239
@otaviomacedo thank you for looking into this.

But still same result

<img width="1124" alt="Screen Shot 2022-03-05 at 2 43 55" src="https://user-images.githubusercontent.com/17027219/156814738-eed5d6a0-51ce-410f-869f-df122092985d.png">

here is schema

[code]

[2022-03-04 17:47] matart15 commented on #19239
Just in case copied chrome network request as `curl`

[code]

[2022-03-04 18:28] kaizen3031593 commented on #19240
Looks like we should add `s3:GetObject` here: https://github.com/aws/aws-cdk/blob/52128cf19ec9c35f1b79d7e6cc9088dd95bfde76/packages/%40aws-cdk/aws-synthetics/lib/canary.ts#L305-L307

It's not part of the cloudformation [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-synthetics-canary.html#cfn-synthetics-canary-executionrolearn), but it is mentioned in the synthet

[2022-03-04 19:01] konstantinj commented on #19099
@DaniloGT You need to have the function as part of your NestedStack class. It's this function that you can override: https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/core/lib/stack.ts#L474

[2022-03-04 19:30] poppoerika opened #19243 "CodePipeline: Maximum policy size of 10240 bytes exceeded for role xxx"
### What is the problem?

We have a CDK pipeline that creates several other CodePipelines during its execution. Most of the pipelines it creates deploy one or two CloudFormation stacks to various accounts. However, we recently attempted to add a new pipeline that deploys 5 CloudFormation stacks. Afterward we encountered the following error with the Logical ID xxxRoleDefaultPolicyxxx:
[code]

It se

[2022-03-04 20:05] kichik commented on #18861
I have also been having this issue for a while now. I used `procmon.exe` to get the Docker command that CDK runs and it's:

[code]

The issue seems to be the last two `\asset-output`. Once I change those to `/asset-output` everything works again. I'm not sure why CDK chooses to use Windows style slashes inside Docker.

[2022-03-04 20:10] #18805 closed

[2022-03-04 20:13] NGL321 commented on #19234
Hey @gbvanrenswoude,

Just to confirm the nature of this report. You are getting error alerts in the output but the stack builds successfully, correct?
Considering that I was wondering if you observed this behavior just for `root/cdk.out` or if it persists with a different output directory?

[2022-03-04 20:18] NGL321 commented on #19233
It looks like @jogold has already published a PR that will resolve this, so we can consider this fix in-progress (thank you for the quick fix!).

😸

[2022-03-04 20:25] NGL321 commented on #19243
Hey @poppoerika,

Thank you for reporting this! This is a design problem we are well aware of and have a fix in progress. I am resolving this issue in favor of tracking via #16244 and the potentially resolving PR #19114

[2022-03-04 20:25] #19243 closed

[2022-03-04 20:27] shaoyingdong commented on #17748
Hi, if you can still see the issue, try adding one more task whose type is "Filter", operator is "PROJECTION", and list all source fields in the task.
Please refer to the sample code in documentation https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-appflow-flow.html

[2022-03-04 20:46] gbvanrenswoude commented on #19234
The stack indeeds builds correctly. We have done the `cdk init` in <project root>/infrastructure folder. cdk.out is located in `<project root>/infrastructure/cdk.out`. All of the CDK pipeline runs succesfully as well, it just waits very long in the `MutatePipeline` step.

[2022-03-04 21:09] IsaacLeeWebDev commented on #19218
@otaviomacedo For what it's worth, for security and governance reasons, it is not viable for us to have a single tool, let alone a single git repo that describes the desired state of all of our infrastructure.

It may also be worth noting that this bug potentially impacts those that use the approach recommended in #13153

[2022-03-04 21:25] IsaacLeeWebDev commented on #19218
As a workaround, we're currently pushing up the role ARN of the PodExecutionRole defined in another CDK app as a `CfnOutput`, fetching that output where the cluster is defined, and then explicitly calling `Cluster.awsAuth.addRoleMapping`.

This is less than ideal because the CDK apps are still tightly coupled to one another... albeit, less so.

[2022-03-04 22:00] fredsensibill commented on #11805
Same thing here...

[██████████████████████████████████████████████████████████] (122/101)

❯ cdk --version
2.15.0 (build 151055e)

[2022-03-04 22:13] msambol opened #19245 "(cloudwatch): CloudFront alarm doesn't reference metrics emitted from the service"
### What is the problem?

When creating an alarm from CloudFront metrics, the metrics do not reference the actual metrics emitted from the service and therefore are not accurate.

Related: https://github.com/aws/aws-cdk/issues/1739.

### Reproduction Steps

[code]

This creates an alarm that looks like the following: https://user-images.githubusercontent.com/3310356/156422019-4ff03b77-a0f8-40fe-ae

[2022-03-04 22:13] Jengah opened #19246 "(aws_cdk.aws_applicationautoscaling): CfnScalableTarget.ScheduledActionProperty does not synthesize vaild cloudformation when using a CfnCondition"
### What is the problem?

When using a `CfnCondition` to conditionally set `scheduled_actions` within a `CfnScalableTarget`, the Scheduled Action properties are not synthesized to valid CloudFormation.  Things work as expected without using a `CfnCondition`.

### Reproduction Steps

Conditionally enable Scheduled Actions on a `ScalableTarget` utilizing a `CfnCondition` based on the value of a `Cfn

[2022-03-04 22:38] ryparker commented on #17768
Thanks for the ping. I'll give this a look.

[2022-03-04 23:32] tsingh2k15 opened #19247 "(@aws-cdk/aws-ec2): Requesting guidance on a strange issue"
### General Issue

Error: There are no 'Private' subnet groups in this VPC. Available types: Isolated

### The Question

Apologies in advance if there is already a solution for below issue, I did spend few hours investigating myself and around the internet but could not resolve the issue. So reaching out for further guidance here.

My usecase is to provision and deploy airflow instance via CI/CD.

[2022-03-05 00:19] cacerca1 commented on #17969
Did you ever figure out how to fix this? I'm running into the same thing now.

[2022-03-05 00:34] tsingh2k15 commented on #19247
Issue is resolved, this was occurring due to outdated dependencies in the project.

[2022-03-05 00:34] #19247 closed

[2022-03-05 01:30] drobbins-ancile commented on #8396
Any chance of getting this one addressed? We are also using CDK to generate CloudFormation templates to be manually deployed in other environments so using `if` conditions in the language won't work for us.

This seems to be a valid use case.

[2022-03-05 02:37] yamatatsu commented on #19067
@vvo Thanks for the information! I didn't know it 👀

@corymhall

Yup.

I agree it. And I close this issue and will open another issue.

Thank you!

[2022-03-05 02:37] #19067 closed

[2022-03-05 03:14] keenangraham commented on #16104
For reference got this to work using underlying `CfnProject`.

Simply setting [visibility](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_codebuild.CfnProject.html#visibility) to `PUBLIC_READ` is enough to get URL with public build results.
[code]

However if you click through to view logs for a run you get permission error.

After looking through docs some more it became apparent tha

[2022-03-05 06:49] TheFlexican commented on #17969
Hi, well I have a workaround for it. You need to edit the buildspec for the docker asset in your pipeline and change the path in the assets file. Below is a sample of my buildspec file. Just look at your current command and copy the assembly-something/something.assets.json and place a line above it with sed just like below.

version: '0.2'
phases:
  install:
    commands:
    - npm install -g cdk-

[2022-03-05 07:04] #19223 closed

[2022-03-05 11:42] otaviomacedo commented on #19122
Thanks, @ThomasSteinbach. I haven't had time to look into this yet, but rest assured that I'll do it this week. In the meantime, if you want to create a PR with your solution, go ahead and I'll be happy to review it.

[2022-03-05 12:05] #6072 closed

[2022-03-05 13:56] adambro commented on #18189
@otaviomacedo I've created PR #19251 for the Service Account names validation specifically. Let me know what do you think about this approach.

Also other K8s resources could benefit from similar kind of validatation, but I'd leave that for the next PR with some refactoring.

[2022-03-05 15:38] rogerchi opened #19252 "(aws-apigateway): StepFunctionsIntegration failure response is not a valid json payload"
### What is the problem?

Currently, the failure response for an API Gateway REST API Step Functions Integration is not valid JSON.  It is missing a comma between the `error` and `cause` properties.

### Reproduction Steps

Use a `StepFunctionsRestApi` and have it return a Fail in the synchronous express step function.

### What did you expect to happen?

A valid JSON payload should be returned:
[

[2022-03-05 16:03] rogerchi opened #19254 "(aws-apigateway): StepFunctionsIntegration enhancements"
### Description

We have been heavily using the API Gateway StepFunctionsIntegration construct and it has been great, however there are some things which are currently not possible with the construct that we have had to work around by modifying the construct manually on our end (sometimes in a hacky manner).  These enhancements could be formalized.

- [x] Authorizer context sent to the state machi

[2022-03-05 21:31] IsaacLeeWebDev commented on #13153
For anyone else looking at these GitHub issues looking for a way to define a Fargate Profile in a CDK app separate from the one the cluster is defined in:

Because of #19218, if you take the recommended approach in this issue, you're at risk of your externally-defined PodExecutionRole removed from the `aws-auth` ConfigMap the next time someone updates the stack that defines the cluster using the C

[2022-03-05 21:47] RichiCoder1 commented on #18448
For this, s3 has an option like `autoDeleteObjects`. Would in this case it be a prop like `autoDeleteCanaryResources`? Can't think of a better name.

The end result behavior would be like S3 Auto Delete where it'll apply a tag, and on deletion of said tagged resource the CR will invoked to cleanup the underlying Lambda. Do/should we cleanup CloudWatch stuff? I don't think anything else does.
Also

[2022-03-06 00:09] johnameyer opened #19257 "(s3-deployment): cross stack values do not work with Source.data/jsonData"
### What is the problem?

Source.data/jsonData resolves values from within a stack successfully but creates references to out-of stack values in the template as if they were in the same stack.

### Reproduction Steps

[code]

### What did you expect to happen?

Successful deployment and inclusion of resolved value in deployed file by way of generating cross stack imports/exports as would usually r

[2022-03-06 09:13] matart15 opened #19258 "appsync lambda authorizer deployed. but request returns BadRequestException"
### General Issue

My Issue got closed without a solution. can't reopen the closed issue. Creating new one

### The Question

AppSync returns this error.

[code]

Details are on the previous issue: https://github.com/aws/aws-cdk/issues/19239

@otaviomacedo suggested me solution. But it's not [working](https://github.com/aws/aws-cdk/issues/19239#issuecomment-1059382670). O maybe I am missing someth

[2022-03-06 09:47] tomhol opened #19259 "(ECS): Why Volumes are not supported in ECS Anywhere (ExternalTaskDefinition)"
### General Issue

Local Volume support in ECS Anywhere

### The Question

Python code here:
https://github.com/aws/aws-cdk/blame/e0f863a4c56041860e14c75b9aa5a6d35860fae6/packages/%40aws-cdk/aws-ecs/lib/external/external-task-definition.ts#L78-L83

It seems the Volumes are not supported in ExternalTaskDefinition.

But according to documentation https://docs.aws.amazon.com/AmazonECS/latest/develope

[2022-03-06 17:30] Alex-Vol-Amz opened #19261 "(aws-cdk/core): large context in cdk.context.json causes E2BIG error during synthesis and build"
### What is the problem?

We have a service with a large cellular architecture. As we are migrating to CDK from LPT we need to use the Vpc.fromLookup method at least once per account. The size of the generated cdk.context.json exceeds 300K and will only keep getting larger. At this scale the process fails with E2BIG (environment string too big) when [CDK code in this location](https://github.com/a

[2022-03-06 17:58] savanbthakkar commented on #8396
@rix0rrr We are having the same problem with DynamoDB. Depending on the input parameter value, we need to set sse_specification. It generates the cloudformation yaml file, but the output is camelCase yaml attributes, and it errors out.

 sse_specification = cdk.Fn.condition_if(
                "NotEncryptedSearchTable",
                aws_dynamodb.CfnTable.SSESpecificationProperty(

[2022-03-06 22:32] SamStephens commented on #16838
I'm shocked this hasn't been prioritized, having the CDK violate AWS Foundational Security Best Practices by default and not providing settings to remedy this is not the kind of security first prioritisation I expect from AWS. Apart from anything else, what are the teams within AWS who use the CDK doing?

Also, asking us to use the escape hatches without an example is a bit of an ask, reaching int

[2022-03-07 00:59] matart15 commented on #19258
Let me just mention, It is working if I use API_KEY or Cognito auth. But lambda auth fails

![Screen Shot 2022-03-07 at 8 58 50](https://user-images.githubusercontent.com/17027219/156948043-e98a2d8f-1dc8-4b85-a7d2-6b5fa2359a16.png)

[2022-03-07 01:43] charlesxucheng commented on #6643
Hi @WingsLikeEagles. Yes 'IPSetv4' is the id of the construct. waf_ipsets is an array of strings of CIDR ranges you want to attach to the rule.

[2022-03-07 03:31] NGL321 commented on #19238
Hey @markusl,

I would just like to confirm here. In the sample code in the issue/in the testing PR submitted, it seems that the error occurs when you try to reference the variable via `step.exportedVariable('MY_VAR')` rather than the previously indicated `producer.exportedVariable('MY_VAR')` as seen:

https://github.com/aws/aws-cdk/blob/9264471dcca2e580e12310343dc96174c23238c0/packages/%40aws-cdk

[2022-03-07 03:51] NGL321 commented on #19213
Hey @nacitar,

Thanks for reaching out. This feels like a reasonable enhancement request, but is a little complicated as on the Cloudformation side, [Application Autoscaling](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-applicationautoscaling-scalabletarget-scheduledaction.html) and [EC2 Autoscaling](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aw

[2022-03-07 04:06] #8162 closed

[2022-03-07 04:08] NGL321 commented on #19257
Hey @johnameyer,

Thanks for reporting this. I have verified the behavior, this certainly seems like a problem. If you come up with a fix and would like to implement it yourself (fastest approach), please @ myself or otaviomacedo (who reviewed the last similar PR) to get a quicker review.

[2022-03-07 04:14] NGL321 commented on #19252
Thanks for the report and fix! I have published a review to merge.

[2022-03-07 04:55] #19252 closed

[2022-03-07 06:08] jordiyapz commented on #542
@skinny85
[code]

By removing all V1 deps then I only have `aws-cdk-lib`. What about all those `import` stuff from both modules in the lib folder?

[2022-03-07 07:21] csbszb commented on #19210
@jogold yes, I'm exporting the `main` function as the handler. When the ESM output format is enabled in CDK and I invoke the lambda directly from the console, I receive the result without any errors.

With ESM the generated `index.mjs` file looks like this:
[code]

[2022-03-07 08:00] markusl commented on #19238
@NGL321 I updated the code in https://github.com/aws/aws-cdk/pull/19156 to properly reproduce the issue. The build log can be found here https://ops-cdk-autobuild-prs-autobuildgithubco-buildlogs-scgj9jnkdtg5.s3.amazonaws.com/b41e86fc-24ea-4f76-b58a-17f3a461f5d6/build.log?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAWYORDRBKENIP7WUR%2F20220307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=202

[2022-03-07 08:09] omar-dulaimi commented on #542
@jordiyapz Maybe there's a better way, but this how I did it:

[code]

[2022-03-07 08:32] jogold commented on #19210
Since the Lambda function can be successfully tested in "isolation" could this be a problem between AppSync and Lambda services? Not CDK related then?

[2022-03-07 09:19] csbszb commented on #19210
I would say it's more about how CDK generates/bundles the lambda code whether the `format: OutputFormat.ESM` option is set or not, given the same exact lambda function:
- when `format: OutputFormat.ESM` is set -> AppSync calls run with error though direct lambda invocation works without any error
- when format is not set, or `format: OutputFormat.CJS` option is used -> AppSync calls runs without a

[2022-03-07 09:53] d-baps commented on #12037
I could really use this as it's blocking me at the moment. Any news?

[2022-03-07 11:03] y5mei commented on #12418
[code]

[2022-03-07 13:10] #18891 closed

[2022-03-07 13:20] jordiyapz commented on #542
Ohh waw, they combine multiple modules into one 😯. Anw, I'll try it. Thanks @omar-dulaimi . Currently the aws documentation site (`docs.aws.amazon.com`) is unreachable so I have no way to lookup on how to use the V2 version of elasticbeanstalk module. Thanks again for the quick reply

[2022-03-07 15:07] cauger-git opened #19267 "(aws-iam): cdk deployment adds region to some service trust relationships"
### What is the problem?

We are using the CDK to deploy IAM service roles with trust relationships for AWS services. As we want the roles to be assumable from multiple regions, the trust relationships are therefore region-agnostic in the CDK code. But after deployment, the trust relationships for some of the services have been made region specific. So for example, the CDK code specifies codedeplo

[2022-03-07 16:05] #19201 closed

[2022-03-07 16:47] #19242 closed

[2022-03-07 17:03] a-bigelow opened #19269 "(aws-backup): Helper function support for FSx filesystems."
### Description

A `BackupResource` helper function for FSx filesystems, similar to `BackupResource.fromEfsFilesystem()`.

Additionally, the `BackupableResourcesCollector` should recognize and correctly push `fsx.CfnFileSystem` resources.

### Use Case

The AWS-Backup module contains helper functions for other resource types, i.e.:

- `BackupResource.fromDynamoDbTable`
- `BackupResource.fromEc2Ins

[2022-03-07 17:49] polar-dz commented on #5637
I guess one way to solve this for good would be to create a utility API Gateway Websocket (the ones that API gateway supports natively), as part of the Bootstrap stack and subscribe to events on that one through the CDK CLI. That would help CDK drop the polling approach and would help the CLI get immediate feedback when a stack is deployed or fails to be deployed + a bonus - no throttling (since t

[2022-03-07 17:50] deuscapturus opened #19272 "(Triggers): Permissions race condition: not authorized to perform: lambda:InvokeFunction"
### What is the problem?

Trigger stack creations succeed, but updates fails with error:

[code]

This Trigger lambda publishes change notifications.  The dynamic parts of this notification as passed to the lambda in the `Environment`.  This however forces an update of the Lambda resource and IAM role policy allowing `lambda:InvokeFunction`.  I believe a race condition is occurring where the IAM r

[2022-03-07 17:59] madeline-k commented on #14549
Closing, since we are not going to implement this. For anyone needing to create a v1 app, you can run

`npx cdk@1 init app --language=<lang>`

[2022-03-07 17:59] #14549 closed

[2022-03-07 18:19] rix0rrr opened #19273 "(lambda): CDK-generated permissions will not work on Lambda invoked with `Qualifier=`"
### What is the problem?

Lambda is changing their authorization strategy.

When you call `InvokeFunction(FunctionName='xyz', Qualifier=86)`:

* It **used to be** the case that you would need IAM permissions granted to the unqualified function name:`xyz`.
* It **is now** the case that you need IAM permissions granted to the qualified function name: `xyz:86`

It always was and still will be the cas

[2022-03-07 18:21] mwithington opened #19274 "@aws-cdk/core.Construct: Misleading link to V2 documentation"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_core.Construct.html

### Describe your issue?

Currently in the version 1.X documentation there exists a link to the V2 docs like all other cdk modules. This however will only lead you back to the base API docs page due to the fact that the module has been moved in V2.
As noted in this document https://docs.aws.am

[2022-03-07 18:39] Dzhuneyt commented on #5637
I guess one way to solve this for good would be to create a utility API Gateway Websocket (the ones that API gateway supports natively), as part of the Bootstrap stack and subscribe to events on that one through the CDK CLI. That would help CDK drop the polling approach and would help the CLI get immediate feedback when a stack is deployed or fails to be deployed + a bonus - no throttling (since t

[2022-03-07 19:24] peterwoodworth commented on #18968
I forgot about the `cidrBlock` prop here, it is optional even though according to the resource spec it says it's required. When creating a CfnVpc you will still have to fill out the CidrBlock property, but you can easily remove this on the final resource with `addPropertyDeletionOverride()`

There's an open ticket internally for CFN to fix this, once that goes through then it shouldn't take more t

[2022-03-07 19:41] konstantinj commented on #19224
So is there a plan to bring this option back in?

[2022-03-07 19:42] gshpychka opened #19275 "(aws-ecs): Deleting a stack with a Cluster and an ASG capacity provider fails"
### What is the problem?

If a stack contains a ECS cluster with an ASG capacity provider, deleting the stack will fail due to an apparent circular dependency.

### Reproduction Steps

Minimal stack:

[code]

Deploy the stack and try deleting it.

### What did you expect to happen?

The stack is deleted.

### What actually happened?

The capacity provider fails to delete with the following error:

[2022-03-07 19:57] gshpychka commented on #19275
Okay, it seems that the issue is that the `AWS::ECS::ClusterCapacityProviderAssociations` resource is not deleted first.

[2022-03-07 19:58] NGL321 commented on #18843
Hey @robertd,

After looking through the comments I am having a hard time pinning down what is going on here. Out of consideration that this may be a problem with our EKS implementation I am going to treat it as a bug for now.

Could you provide an explicit sample of the code that is causing this error? Just a snippet of the resources responsible for this would be sufficient. Then I can dig a litt

[2022-03-07 20:01] NGL321 commented on #18938
Hey @ahadqayyum,

Sorry for the delay on this. Unfortunately with only the snippets provided it is hard for me to assess what is going wrong. Could you provide the full pipeline declaration so I can better investigate this?

[2022-03-07 20:41] gshpychka commented on #19275
After unsuccessfully trying to access the `CfnClusterCapacityProviderAssociations` resource with an escape hatch, I see that it's added with an aspect here: https://github.com/aws/aws-cdk/blob/5de7b86d916be6ab892e75e18c54a327fe1f65ff/packages/%40aws-cdk/aws-ecs/lib/cluster.ts#L1152:L1176

How can I access it to declare an explicit dependency before the bug is fixed?

The bug seems to be that this

[2022-03-07 21:24] gshpychka commented on #19275
Adding a dependency from `CfnClusterCapacityProviderAssociations` is not enough, as it still fails to delete before all the services are deleted (and the capacity provider is not in use).

We need to make every service depend on the association as well.

[2022-03-07 21:32] stefan-enev commented on #18807
It seems to me the problem is in Amplify Custom CDK module integration. Where would you recommend I should raise this issue?

[2022-03-07 21:54] pmkuny commented on #18843
Hi @robertd -

1. The reason you're seeing that error message in the Console is because, by default, the CDK uses a [CloudFormation Execution role](https://docs.aws.amazon.com/cdk/v2/guide/bootstrapping.html) when deploying. Per the [documentation](https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html) here:

That means that the CloudFormation execution role is the one getting admini

[2022-03-07 21:57] peterwoodworth commented on #16707
There are currently no plans for v3, so we can't really consider this for v3 quite yet. Also, we don't have an ETA on this.

I wonder if we could include this in v2 with feature flags?

[2022-03-07 22:00] peterwoodworth commented on #17748
Please ping me if anyone has more details or is still running into this issue 🙂

[2022-03-07 22:00] #17748 closed

[2022-03-07 22:05] rix0rrr commented on #19184
This line is supposed to explain that:

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.pipelines.CodePipelineSource.html#sourcewbrattributename

Can you explain what part of this sentence was unclear to you?

[2022-03-07 22:08] rix0rrr commented on #19207
To be clear: there is no service that expects microsecond granularity input? Instead, you are writing a construct that accepts a `Duration`, and needs to render it out to microseconds, because the values emitted as a metric are emitted in microsecond unit?

Can you tell me why `duration.toMilliseconds() * 1000` isn't good enough?

[2022-03-07 22:08] #9817 closed

[2022-03-07 22:08] #18916 closed

[2022-03-07 22:13] rix0rrr commented on #19222
It looks like this is because there is no Cognito provider type in this enum:

https://github.com/aws/aws-cdk/blob/4eac4deb98411e921e5a2e6477185207b8588f75/packages/%40aws-cdk/aws-cognito-identitypool/lib/identitypool.ts#L103-L124

Feel free to submit it.

[2022-03-07 22:20] Alex-Vol-Amz commented on #19261
After some discussion with @rix0rrr I arrived at this workaround which is viable until this is fixed in some way.

Changed my initialization code for the application to this:

[code]

The file `cdk.static-context.json` is a literal copy of the generated `cdk.context.json` from an execution of `cdk synth` when less than the totality of my service accounts were synthesized. I was able to incremental

[2022-03-07 22:20] peterwoodworth commented on #19246
Hey @Jengah, [this is a known limitation with ConditionIf](https://github.com/aws/aws-cdk/issues/8396).

Generally, [we recommend to use if statements in your code](https://github.com/aws/aws-cdk/issues/8396#issuecomment-703644208), rather than in your template 🙂 There's not a high likelihood we'll be fixing this on ConditionIf soon, so that's what I will recommend as well

[2022-03-07 22:20] #19246 closed

[2022-03-07 22:36] clairemr commented on #9628
+1 feature request, this would be really useful

[2022-03-07 22:40] rkolias commented on #18968
@peterwoodworth Yes, I hit that barrier right away. CDK mandates the cidrBlock property on CfnVpc, but of course the entire point of IPAM is that the cidr block is allocated dynamically from available blocks in the pool. Thanks for picking up on that.

I will try calling `addPropertyDeletionOverride()` as suggested.

[2022-03-07 22:51] moofish32 commented on #19079
I was looking to pickup an issue in my free time and landed here. I'm not sure I can reproduce the error, but perhaps I'm not testing it correctly. I grabbed cdk version`2.15.0 (build 151055e)` because I just updated. I don't think this issue is version dependent, but I can change back.

I made  sample app:

[code]

In ap-southeast-3 this is the generated template
[code]

Do I need to create anoth

[2022-03-07 23:00] Chriscbr commented on #19267
My understanding is this isn't a use case the AWS CDK currently supports, since CDK currently assumes the generated principal should be specific to a region where possible. When no region is specified, a "region-agnostic" value is generated in the CloudFormation template which should resolve to the correct one once you deploy to a region -- but this is different from providing the "global" version

[2022-03-07 23:15] rix0rrr commented on #19261
The ultimate solution is probably to pass the context from CLI -> app via a temporary file on disk, instead of via environment variables.

[2022-03-07 23:16] rix0rrr commented on #19267
The solution would be a `LiteralPrincipal` class, or something, that would escape the translation done by `ServicePrincipal`.

[2022-03-08 00:28] NGL321 opened #19276 "Tracking: Policy-generation creates oversized templates"
### Overview

A number of customers in separate issues (as well as internal tickets) have reported problems with automatic policy generation executed by the CDK for various services. The most recurrent and problematic of those are the oversized policies generated that exceed maximum size.

This issue is to aggregate and track those separate issues and resolve once system has been revamped/revised.

[2022-03-08 00:39] iiian commented on #13026
Same. Could we please reopen this issue, @nija-at ?

[2022-03-08 01:11] peterwoodworth commented on #19259
You're right, I can successfully deploy and attach a volume to an external ECS task definition. Seems to me like the addVolume function shouldn't have been overridden.

Until we support this, you can work around this with escape hatches. Here's the sample workaround code:

[code]

[2022-03-08 01:41] iiian commented on #13026
To those looking for a solution that come across this thread, the solution is to **not** use `LambdaRestApi`. Instead, you should specify that you want your api to be a proxy in the `LambdaIntegration` that you attach to a method via `api.addMethod`. For example:

[code]

[2022-03-08 01:48] 0ni0nrings commented on #5252
@udondan thanks for sharing your construct.

Is there a Python example available? I am getting error when doing 👇

[code]

[2022-03-08 04:05] #19072 closed

[2022-03-08 06:10] tomhol commented on #19259
Thanks a lot. It saves my day today :)
My use case is even simpler - no EFS but just local volume to share logs with a CloudWatch log forwarder sidecar container.
Feel free to close this issue or use it track the CDK code change.
Tom

[2022-03-08 07:01] markusl commented on #16707
@peterwoodworth Yep, I think that's the least you can do. It's really important that CDK libraries have sane defaults to officially supported CodeBuild images.

[2022-03-08 08:33] micsafi commented on #19184
I guess some sample code would be helpful here, to demonstrate how to pass the source attribute values to the environment variables. Maybe something like this, this is for ECR source but same principle applies for other source types.

[code]

[2022-03-08 10:22] alekitto opened #19278 "core: cfn-mapping should allow dashes in attribute name"
### What is the problem?

The `Mappings` documentation here (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/mappings-section-structure.html) states that the attribute key can only contain alphanumeric characters, but the examples show keys with region names with dashes (`eu-west-1`, `us-east-1`, ...)

This is supported by CloudFormation, but the `validateAlphanumeric` method in `Cf

[2022-03-08 10:26] simonscheurer commented on #17544
Any update on this? The 1 to 3 weeks are over since some time. Still not working on my side. Also on 1.147 the same issue happens.
`"Invalid request provided: AWS::Logs::ResourcePolicy" (RequestToken: ce0942e0-30c6-4221-bbac-88a8bbc09e25, HandlerErrorCode: InvalidRequest)`

[2022-03-08 10:53] gshpychka commented on #19275
My fix:
@jsii.implements(cdk.IAspect)
[code]

[2022-03-08 11:21] geetab19 opened #19280 "Fargate Service with multiple task containers"
### link to reference doc page

_No response_

### Describe your issue?

We are trying to create a Fargate service for our application. Our scenario is there is one authentication web api in .net core which will generate JWT token for our app and other  is an ASP.net core MVC application which will use this auth service. So we are trying to host both on same fargate service as tasks so that they c

[2022-03-08 11:37] samueldervis commented on #18040
Currently doing it this way via CDK (v2)

[code]

[2022-03-08 11:39] hxy1991 commented on #18696
@ryparker

@ryparker Could you help me with this problem? The following error occurs:

Resource handler returned message: "Value python3.9:latest-arm64 at 'runtime' failed to satisfy constraint: Member must satisfy enum value set: [nodejs12.x, python3.6, provided, nodejs14.x, ruby2.7, java11, dotnet6, go1.x, provided.al2, java8, java8.al2, dotnetcore3.1, python3.7, python3.8, python3.9] or be a va

[2022-03-08 11:46] danielbayerlein commented on #11618
#16795

[2022-03-08 12:35] konstantinj opened #19283 "(aws-ecr-assets): How to use cache on Github Actions, loading tar file takes ages"
### General Issue

I want to use docker features from cdk but still use cache on github actions

### The Question

I'm using this code on my stack:

[code]

I haven't looked how cdk uses the tar file but it looks like it does something big with lambda.
This is the log I see when cdk load the tar file.

[code]

It takes up to 5minutes to continue. The same time I would need to re-build my docker im

[2022-03-08 12:38] sholtomaud commented on #17698
any update on this issue? Has the feature been implemented in v2?

[2022-03-08 12:41] goosefraba commented on #8699
any update on this issue?
Still getting the error when trying to load a SNS topic ARN from SSM parameter store and then do a Topic.fromTopicArn(...)

[2022-03-08 13:27] #19122 closed

[2022-03-08 13:40] zxkane commented on #8699
I suffered this issue when synthesizing cdk application in ec2 with IAM role(using `AWS_DEFAULT_PROFILE` to another aws account).

Synthesizing same app in local env using AK/SK works, then updated the `context.json` in ec2 env as workaround.

[2022-03-08 13:54] yamatatsu commented on #17698
@sholtomaud Nope yet. But you can use escape-hatch as following:

[code]

This example needs to install `@aws-cdk/aws-iot-alpha` if you are using aws-cdk v2.

[2022-03-08 14:15] A-Mckinlay commented on #18179
I have this same issue, did you manage to find a workaround?

[2022-03-08 14:41] Ten0 commented on #18179
Hello.
The issue for us comes from the following:

Attempting to remove a cluster through CloudFormation when there still are EC2 instances running results in a failure, and instance running perpetually.

The stack sets up, due to the dependencies (and deletes in reverse order)
- Cluster
- EC2 LaunchTemplate
- Auto scaling group
- Capacity provider
- Capacity provider associations with the cluster

[2022-03-08 15:03] SchollSimon opened #19284 "@aws-cdk/aws-appsync-alpha: No way to enable caching for AWS AppSync and its ResolvableFields"
### General Issue

CDK: AWS AppSync per resolver caching

### The Question

We are trying to enable per-resolver caching for some of AWS AppSync queries with cdk:

1. L2 Construct GraphqlApi -> `import { GraphqlApi } from '@aws-cdk/aws-appsync-alpha';` does not offer any possibility to add caching configuration. Workaround currently is to use `CfnApiCache`, which is a bit unintuitive.
Here a sampl

[2022-03-08 15:57] rix0rrr commented on #19278
The validation should only be applied to the second level

[2022-03-08 15:58] #18201 closed

[2022-03-08 16:31] pratik-g16 opened #19285 "(Lambda) DynamoDB to Lambda trigger batch size limit is just 1000 for CDK"
### What is the problem?

While creating a trigger for Lambda using DynamoDB Streams as source, the CDK allows only 1000 to be set as the maximum batch size. However in the documentation and using the console, we can create a trigger with a maximum batch size of 10000 records.

### Reproduction Steps

handler.addEventSource(
      new DynamoEventSource(table, {
        startingPosition: lambda.Sta

[2022-03-08 16:39] caveman-dick commented on #12916
Just to confirm escape hatches will work as a workaround for this and if you haven't gone into the murky waters of escape hatches yet, this is what you will need to fix this problem:

[code]

[2022-03-08 16:55] kaizen3031593 commented on #19278
Hi @alekitto, I looked into this and the validation is only applied to the second level. What is happening is that the example given has an additional `RegionalMap` key that doesn't belong. What you want is:

[code]

This will produce a mapping with name `example-mapping`, since the name is derived from the construct ID:

[code]

For a similar example, see our docs on [Mapping](https://github.com/

[2022-03-08 17:05] alekitto commented on #19278
@kaizen3031593 Maybe I wasn't clear: dashes on second level weren't an error.
I'm trying to create a mapping to deploy lambda functions with different layer versions on different regions.

In my case the mapping is:

[code]

I've updated from CDK 2.2 (which worked correctly) to 2.15 (which throws an error)

[2022-03-08 17:11] kaizen3031593 commented on #19278
@alekitto Can you share the code you're using, as well as the mapping part of the template? My response is to the example code you shared. That isn't how we expect the mapping to be configured, and I expect it to not work correctly. You are right that between CDK 2.2 and 2.15, we've introduced a validation step to ensure correct mapping configurations (so it would not have a synth time error befor

[2022-03-08 17:13] kaizen3031593 commented on #19278
To achieve the mapping you've shown, I expect the following to work:

[code]

[2022-03-08 17:15] diegoacosta-sage commented on #19258
Same here... It's driving me crazy 😆

Seems like it's a permissions problem. My lambda authorizer never receives the request to authorize it. The policy being added to the Lambda Role doesn't seem to make effect. It's like if AppSync wasn't able to invoke the lambda authorizer.

I'm using almost the same code (we're problably coming from the same [article](https://levelup.gitconnected.com/appsync-

[2022-03-08 17:17] alekitto commented on #19278
I've published a part of the construct into this gist: https://gist.github.com/alekitto/68703e76f7d06ac840cc33c9d7fd599d

[2022-03-08 17:21] alekitto commented on #19278
@kaizen3031593 There is some proprietary code, so I can't share the whole construct, but I use this mapping to select the correct version of the correct layer for the selected region. It is now working on CloudFormation deploying it with cdk 2.2. Now I'm currently using a modified version of the `CfnMapping` construct to allow dashes.

[2022-03-08 17:37] sukrithanda commented on #18249
Any updates on cdk using the most recent rotation lambda?  Would be great if it could use the lambda that supports SSL https://aws.amazon.com/about-aws/whats-new/2021/12/aws-secrets-manager-enables-ssl-connections-rotating-database/

[2022-03-08 17:43] natekasprzak opened #19286 "(aws-cloudwatch): Unable to define an alarm based on anomaly detection"
### What is the problem?

While trying to create an alarm that uses the anomaly detection functionality I get a CloudFormation JSON that should be valid, but causes an error.

My code produces the following JSON:
[code]

According to the [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudwatch-alarm-metricdataquery.html#cfn-cloudwatch-alarm-metricdataquery-re

[2022-03-08 17:43] rnag opened #19287 "(aws-cdk/core): `cdk deploy` fails to publish asset in node v16.14.0"
### What is the problem?

I posted a question [on Stackoverflow](https://stackoverflow.com/questions/71396902/cdk-deploy-fails-to-publish-asset-in-node-v16-14-0)  with more details about the issue, though I'm honestly at a loss at what could be going wrong. From initial investigation, it looks like `completeMultipartUpload` fails in node `v16.14.0` (LTS) due to a missing `ETag` in one of the parts

[2022-03-08 17:54] kaizen3031593 commented on #19278
@alekitto I know what's going on now! The key is that your mapping is "lazy". Lazy mapping will only render a "Mappings"
section in the synthesized CloudFormation template if some `findInMap` call is unable to
immediately return a concrete value due to one or both of the keys being unresolved tokens
(some value only available at deploy-time).

Your code _is_ an invalid mapping according to cloudfo

[2022-03-08 18:00] #19278 closed

[2022-03-08 18:27] skinny85 commented on #18249
Nothing beyond the workaround mentioned in https://github.com/aws/aws-cdk/issues/18249#issuecomment-1005121223 I'm afraid.

[2022-03-08 18:34] corymhall commented on #18861
Leaving this open until we can confirm the fix works.

[2022-03-08 18:35] kichik commented on #18861
Can I help confirm before the next release somehow?

[2022-03-08 18:38] #8630 closed

[2022-03-08 18:46] corymhall commented on #4705
Closing this since the solution is to create your EIPs and pass them into the NatGatewayProvider.

[2022-03-08 18:46] #4705 closed

[2022-03-08 18:53] Townsheriff opened #19291 "aws_cognito: Link in the documentation is broken"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_cognito-readme.html

### Describe your issue?

Link to the alpha version for identity pools are not working - by clicking [here](https://docs.aws.amazon.com/cdk/api/v2/aws-cognito-identitypool) it goes to not found aws page.

This is the package it is attempting to refer - https://www.npmjs.com/package/@aws

[2022-03-08 18:54] corymhall commented on #2211
Closing this since it is now possible subnets now have [ipv2cidrblock](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.Subnet.html#ipv4cidrblock)

[2022-03-08 18:54] #2211 closed

[2022-03-08 18:55] corymhall commented on #2232
This is available as [vpcCidrBlock](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.IVpc.html#vpccidrblock)

[2022-03-08 18:55] #2232 closed

[2022-03-08 18:55] TranquilAbyss commented on #19245
@msambol I ran into a similar issue to day. I think that this is confusing and the current state could be improved with more documenation. I was able to get it working but adding to the ` dimensions` `"Region": "Global"`. Here is the solution that works for me.
[code]
I believe the region parameter you tried  `region: 'global', // tried 'Global' as well ` was for the region the parameter was avail

[2022-03-08 19:13] dberry-trip commented on #16980
any update on when this is going to be fixed?

the workaround of setting up one auth in the cdk, and then turning on the another auth in the console doesn't really work in an IAC (infrastructure as code) context where you're not allowed to use the console in production, hence the reliance on cdk.

fix in cdk v2 please.

[2022-03-08 19:29] #19233 closed

[2022-03-08 19:34] napalm684 commented on #8406
I agree this is an issue. If I pass the zoneId (which I did) I should not be getting an error for the name?

[2022-03-08 19:35] ustulation commented on #15502
Would be awesome if this were available - i wanted to use it for `DataDog` but i suppose it'll be a while.

I suppose not, but do you all have any estimates on when this is going to land?

[2022-03-08 19:56] corymhall commented on #3951
Closing this since it is now possible subnets now have [ipv2cidrblock](https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-ec2.Subnet.html#ipv4cidrblock)

[2022-03-08 19:56] #3951 closed

[2022-03-08 19:58] mzyil commented on #15531
Here is a workaround that does not break the synth
[code]
later
[code]

[2022-03-08 19:59] corymhall commented on #12684
This should be fixed with a combination of #19143 and #18082

[2022-03-08 19:59] #12684 closed

[2022-03-08 22:02] sholtomaud commented on #17698
Ok, looks interesting.

[2022-03-08 22:04] daveharig commented on #18040
+1

[2022-03-08 22:23] lucasgherculano commented on #19275
Very handy solution, can someone provide the same for typescript?

[2022-03-08 22:46] msambol commented on #19245
@TranquilAbyss This fixed my issue—thank you! I do agree with you on documentation, it's a bit unclear for CloudFront.

[2022-03-09 00:46] matart15 commented on #19258
@diegoacosta-sage
Thank you.  At least, Now I know it's not me alone.

Hoping the cdk-team will look at it.

[2022-03-09 00:52] kcarvajalm commented on #11054
@Stf-F thanks!!! Same thing using terraform.

cognito_identity_providers {

    client_id               =  aws_cognito_user_pool_client.user_client.id
    provider_name           =  "cognito-idp.us-east-1.amazonaws.com/${aws_cognito_user_pool.user_pool.id}"

  }

[2022-03-09 03:59] goudhabuddha opened #19301 "(aws_cdk/core) creating folder called "constructs" in the root folder interferes with importing constructs library"
### What is the problem?

After running cdk synth or cdk ls, I get this error. I have not tested the other commands.
[code]
Note: replaced actual repo and project name with myrepo and myproject

### Reproduction Steps

Init a cdk python project, create the venv, install the requirements into the venv
[code]
[code]

I am not sure if any of the code after the import has anything to do with the error

[2022-03-09 05:57] zahiruldu commented on #7969
I am facing a same problem when trying to deploy.
[code]

[2022-03-09 07:54] alicez0626 commented on #19207
@rix0rrr

To be more specific, I want to set up a Cloudwatch alarm with threshold `100000000`. For readability, I can either write it as `100_000_000`, or I would like to write it as `Duration.seconds(100).toMicroSeconds()`.

Using `duration.toMilliseconds() * 1000` seems like only a temporary solution. Is there any reason why Duration shouldn't have microsecond granularity?

[2022-03-09 08:17] ahadqayyum commented on #18938
Hi @NGL321 Thanks for answering. Resolved issue by updating Typescript version.

[2022-03-09 08:17] #18938 closed

[2022-03-09 09:24] dza89 opened #19302 "(aws-eks): Can't enable control plane logging for fargate cluster"
### What is the problem?

 [This MR](https://github.com/aws/aws-cdk/pull/18112) added the ability to enable control plane logging for eks clusters. This doesn't work for a fargate cluster because the ClusterProps interface is not included in FargateCluster.

Can I make an MR where I move ClusterLogging to ClusterOptions? Also open to other solutions of course.
I thought I would ask and wait for yo

[2022-03-09 09:55] matart15 opened #19303 "How to create IOT thing with certificate and policy."
### General Issue

https://ap-northeast-1.console.aws.amazon.com/iot/home?region=ap-northeast-1#/connectdevice/

### The Question

When I start AWS: IOT,  [Get start](https://ap-northeast-1.console.aws.amazon.com/iot/home?region=ap-northeast-1#/connectdevice/) page creates simple IoT thing, certificate, policy.

I want to create the same thing with CDK.

How to do that. I googled and looks like th

[2022-03-09 10:07] tenjaa commented on #19272
Ran into this issue today.
As you recommend an own custom resource, do you have an example to get some inspiration?

[2022-03-09 11:12] ghadimdallal commented on #9327
Can some one give me a little hand in something ?

[2022-03-09 11:21] otaviomacedo commented on #19302
I thought I would ask and wait for your input first.

Sounds good.

[2022-03-09 13:31] hao-public commented on #17544
This is taking too long. Can someone provide a L1 example fix using Python code, please :-)

[2022-03-09 14:00] cesarpachon commented on #4308
hello I wonder if there had been some update on this topic.. I am also facing the request of pointing all the subnets through a shared Route Table instead of having one route table per subnet.

[2022-03-09 15:47] gwenael-hagenmuller commented on #11463
I hit the same issue (tested only with CDK `1.23.0 (build 01f326e)`) and using AWS CloudTrail, I found the API calls made by the method and so the `3` required permissions:
- `DescribeVpnGateways`
- `DescribeSubnets`
- `DescribeRouteTables`

AWS IAM Policy Simulator can then be used to check if those permissions are allowed or denied.

[2022-03-09 16:23] a-farrukh opened #19308 "(lambda): VersionOptions do not apply correctly"
### What is the problem?

Setting a function's `currentVersionOptions` has no effect in the Java SDK for CDK in the lambdas module.

### Reproduction Steps

[code]

### What did you expect to happen?

I expect the number of provisioned instances to be 2. for my function.

### What actually happened?

When I check the web interface, and also with `cdk diff`, nothing changes.
However, if I add a des

[2022-03-09 17:40] awsluke commented on #2523
+1 painful when dealing with subnets created outside CDK.

[2022-03-09 17:50] jungseoklee commented on #19080
Doesn't it require breaking/backward-incompatible change?

[2022-03-09 18:14] ckifer opened #19309 "(custom-resources): No way to rename log group/lambda for AwsCustomResource"
### General Issue

No way to rename log group/lambda for AwsCustomResource

### The Question

I'm not sure if this is a feature or bug, sorry if this is in the wrong place.

`AwsCustomResource` uses a SingletonLambda to make a single SDK call (I didn't, understand this when I started my project). I utilize this a few times in the same stack for a website:
1. Get my AppMonitor ID for CW RUM (not in

[2022-03-09 18:45] robertd commented on #18843
Thanks @pmkuny for the detailed overview. 🙌

[2022-03-09 18:46] #19291 closed

[2022-03-09 18:48] robertd commented on #18843
@NGL321  I'm not doing really anything fancy.... Just creating an EKS cluster with a custom nodegroup.

[code]

[2022-03-09 18:52] NGL321 commented on #19080
@jungseoklee I dont think it necessitates a breaking change. So long as the new property is optional with a default override of the current behavior, it shouldnt introduce any breaking changes

[2022-03-09 18:59] chrisgray-vertex opened #19310 "(@aws-cdk/core): addDeletionOverride throws .addDeletionOverride is not a function during synthesis"
### What is the problem?

Within an aspect, I'm attempting to use the escape hatch to remove a DependsOn which is automatically added, but needs to be removed for my use case.  I'm using ```addDeletionOverride('DependsOn')``` which builds fine.  However, during synthesis an error is thrown.

The error produced is ```TypeError: cfnLaunchConfiguration.addPropertyOverride is not a function```

### Re

[2022-03-09 19:23] skinny85 commented on #19303
Thanks for opening the issue @matart15!

@yamatatsu any ideas? You know more about IoT than I do 🙂.

[2022-03-09 19:24] skinny85 commented on #19303
What's `certificateSigningRequest: 'arn:aws:acm-pca:::template/RootCACertificate/V1'`? Is that some Amazon-owned Certificate Authority?

[2022-03-09 19:42] peterwoodworth commented on #19309
Hey @ckifer,

You're right, as you've found, the AwsCustomResource will create a Singleton function to ensure that only one custom resource handler will be created no matter how many times you use the AwsCustomResource construct. This means your function will stick to the same name as the first AwsCustomResource declaration you made. Here's the declaration of the SingletonFunction in our code:

ht

[2022-03-09 19:55] peterwoodworth commented on #19225
We accept contributions! Check out [our contributing guide](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) to get started

[2022-03-09 19:57] mvs5465 commented on #19167
Now getting
[code]
I'm working on debugging this...

[2022-03-09 20:07] ckifer commented on #19309
Thanks for the detailed response and explanation @peterwoodworth! Makes a lot of sense after my woes of trying to figure where my logs were going.

As long as the docs are improved on this I am good with the resolution 👍🏼

[2022-03-09 20:29] brucegl commented on #19303
Hi all, I'm working on exactly the same thing now. This is how I build my CSR value:

`certificateSigningRequest: path.join( __dirname, "../../iot-certs/iot.com.csr"),`

However, the violation can be more simply repeated, thus:
[code]

I have no issue when using the AWS GUI console. The CSR is accepted and a certificate is created.

Thanks

[2022-03-09 20:37] rogerchi commented on #19254
One idea would be to follow the Lambda proxy integration response format and create a VTL template to support it:
[code]

[2022-03-09 21:12] rix0rrr commented on #19272
Adding a dependency on the permissions should be good enough

[2022-03-09 21:12] rix0rrr commented on #19272
Amazing that this hasn't come up in all this time this package has been out

[2022-03-09 21:23] peterwoodworth commented on #19269
Hey @a-bigelow, I am marking this issue as p2, which means that we are unable to work on this immediately.

We will happily accept community contributions, check out [our contributing guide](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) to get started 🙂

[2022-03-09 21:26] peterwoodworth commented on #19275
@lucasgherculano check out our docs page on [escape hatches](https://docs.aws.amazon.com/cdk/v2/guide/cfn_layer.html) to see what's going on in that solution, with some TypeScript examples

[2022-03-09 21:30] ryparker commented on #18696
@hxy1991 This is a different error from the one OP posted and possibly only effects Go. Would you mind opening this in a new issue?

[2022-03-09 21:54] ppena-LiveData commented on #18208
Why is this ticket closed? "you now have to make an integration per route when using the same function for all routes" sounds like a workaround to a bug and isn't a real fix to a bug. This used to work in CDK v1. Now in CDK v2, when I look at the CloudFormation template that CDK creates, v2 is creating the `AWS::ApiGatewayV2::Route` with the appropriate `Target` to the Lambda, but it only creates

[2022-03-09 21:56] peterwoodworth commented on #19285
The documentation in CloudFormation, which we are limited by, is incorrect (likely outdated, like this code)

You can work around this for now until we fix it with escape hatches

[code]

[2022-03-09 21:58] rittneje opened #19314 "(aws_s3): CfnBucket.public_access_block_configuration property cannot be accessed"
### What is the problem?

If you try to access the `public_access_block_configuration` property of a `CfnBucket` that is non-null, you get an error message from JSII.

https://docs.aws.amazon.com/cdk/api/v1/python/aws_cdk.aws_s3/CfnBucket.html#aws_cdk.aws_s3.CfnBucket.public_access_block_configuration

### Reproduction Steps

[code]

### What did you expect to happen?

It should get the configurat

[2022-03-09 22:11] charbyzard opened #19316 "FlowLog: add support for `log_format` parameter"
### Description

It would be nice if passing a value for the VPC FlowLog `logFormat` parameter was exposed through the higher-level [FlowLog](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_ec2.FlowLog.html) construct. Currently, the only way to use this feature seems to be through the lower level [CfnFlowLog](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_ec2.CfnFlowLog.h

[2022-03-09 22:30] peterwoodworth commented on #19275
Check out [this comment](https://github.com/aws/aws-cdk/issues/19285#issuecomment-1063412760) for a relevant example in TS 🙂

[2022-03-09 22:36] gshpychka commented on #19275
@peterwoodworth what would be the fix for this? Add the above aspect to the root stack?

[2022-03-09 22:38] peterwoodworth commented on #19275
I'm too unfamiliar with this issue to comment; I won't have time to get to this soon. Maybe @madeline-k would know though

[2022-03-09 22:59] #19184 closed

[2022-03-09 23:42] ryparker commented on #17768
Updated the PR and left my thoughts on the [comment in question](https://github.com/aws/aws-cdk/pull/17788#discussion_r823120888).

[2022-03-09 23:53] AndrewGuenther commented on #18459
I'm seeing this issue when trying to upgrade to CDK v2.

assets.json file:
[code]

My cdk.out directory:

[code]

So the asset files are certainly in the `cdk.out` directory and where they are supposed to be according the the asset.json. I'll try to dig some more into how this differs between CDK v1 and v2...

[2022-03-10 00:24] matart15 commented on #19303
@skinny85

No. I just did not know what value to input. I think I saw that on someone's cloud formation template

[2022-03-10 00:24] matart15 commented on #19303
@brucegl

Thank you. I will try this and let you know

[2022-03-10 00:47] peterwoodworth commented on #15258
Closing in favor of #15957

[2022-03-10 00:47] #15258 closed

[2022-03-10 00:52] peterwoodworth commented on #19301
Usually these errors are caused by version mismatches, in fact I'm not sure I've ever seen an issue like this that wasn't due to something like that.

I hate to tell you that it's still probably that after all you've tried, but since you can work on other projects just fine and I can't reproduce it, I can't help but feel something is just slightly misconfigured somewhere

[2022-03-10 00:53] peterwoodworth commented on #19301
by the way, is there anything preventing you from updating to v2? These issues are much less common in v2 due to the monopackage 🙂

[2022-03-10 00:54] AndrewGuenther commented on #18459
Assets and directory structure are identical (excluding hashes) with CDK v1. Seems to have been an issue introduced in v2? The error output would imply to me that there's something wrong with how the zip path is being given somewhere, but the verbose output didn't give much additional insight on that.

[2022-03-10 01:03] peterwoodworth commented on #19287
I'm not able to reproduce this @rnag - I'm uploading a multi part asset on node v16.14.0 successfully with cdk deploy.

I suspect there's something gone slightly wrong somewhere for you when setting up or configuring your project, but i've never seen this kind of error before so I don't have any leads for you unfortunately.

Are you able to reproduce this on a fresh project?

[2022-03-10 01:15] AndrewGuenther commented on #18459
his does appear to be the result of some pathing assumptions. In our setup, we bundle cdk.out and deploy it separately from where it was synthesized. I get this error when doing that, but not if I deploy from the same place I ran synth.

[2022-03-10 01:18] #17768 closed

[2022-03-10 01:52] peterwoodworth opened #19321 "(CloudWatch): Set different period value for each metric"
### What is the problem?

Given i'm adding a Metric to a graph
When I configure a `period` value that differs from the default (5 minutes).
Then this configuration is ignored and all metrics are set to the default period of 5 minutes.

I also did not notice any configured "period" value in the CDK output.

[CDK's metric `period` docs](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_clo

[2022-03-10 02:46] ocrlgv commented on #6884
this almost works for me, but I get

[code]

[code]
but if I do as someone above did.
[code]
but the `apiFunction.logGroup.logGroupName` is a token and it wants a string.
It works if I create my own loggroup and place it there though, but not with lambdas loggroup.

this is frustrating, I believe the `Role and destination are not from same account ` is the way forward but not sure why if I add the

[2022-03-10 06:54] yamatatsu commented on #19303
@matart15 @brucegl
`certificateSigningRequest`, `caCertificatePem` and `certificatePem` can take the content of file(key, cert ot csr) instead of path of file. So using `fs.readFileSync()` is needed.

First, create csr:
[code]

Then you can use the cert with `fs.readFileSync()`:

[code]

[2022-03-10 07:06] greg5123334 commented on #13001
I seem to be experiencing a similar problem. CDK provisions the resources and configurations as per the [prerequisites](https://docs.aws.amazon.com/codeguru/latest/profiler-ug/python-lambda-layers.html), and after confirming that the layer, env vars, and permissions are in place, the ProfilingGroup still remains in a _Setup Required_ state. For reference, please find a snippet of my code below:

*

[2022-03-10 07:08] yamatatsu commented on #19303
@matart15
If you created the cert in web console, it is not needed to register the cert to IoT Core with CDK. Because the cert is already registered. Probably, You can see the cert and its ARN in web console. And you can use the ARN in CDK to attach to policies and things as `principal` in step 4 and 5.

[2022-03-10 07:14] yamatatsu commented on #19303
Just for reference, AWS provides an API that creates a key and a certificate at the same time (like you created them in web console), which can be used in CloudFormation custom resource. This repository may be helpful.
https://github.com/devops-at-home/cdk-iot-core-certificates

I hope these help you!

[2022-03-10 07:19] matart15 commented on #19303
@yamatatsu

I see. I am using web GUI just as a reference. My goal is to create everything by CDK code.

But your [suggested code](https://github.com/aws/aws-cdk/issues/19303#issuecomment-1063722656) worked

I think my mistake was not using `utf8` to read the file.

closing the issue. thank you again.

[2022-03-10 08:14] alexbaileyuk commented on #17768
Fantastic. I see it has been merged as well which is great. Thanks for the quick turn around!

[2022-03-10 08:39] brucegl commented on #19303
@matart15 and @yamatatsu thanks for the updates. This works for me too!

@yamatatsu thanks for the L3 construct tip - I'll circle back and check on what other L2 and L3 constructs I can use.

[2022-03-10 09:14] diegoacosta-sage commented on #19258
Hi @NGL321 @ryparker @peterwoodworth,

I've created a small repo to reproduce the issue we are facing: https://github.com/diegoacosta-sage/appsync-lambda-auth-issue

Hope it helps!
Thanks in advance,
Diego

[2022-03-10 09:42] tobni commented on #9917
Unless I'm mistaken, all assets are already published past the `Assets` step, meaning it is safe to strip all assets from the synth output. I believe this is a generic solution that is basically plug-and-play.

[code]

[2022-03-10 10:00] stmee opened #19326 "(ec2): Enable Instance access to CfnNetworkInterface"
### Description

I would like to be able to access network interface properties from the instance construct.

### Use Case

I want to add secondary private IP addresses to an instance.

### Proposed Solution

cdk.aws_ec2.InstanceProps have a networkDevices or similar prop to access secondaryPrivateIpAddressCount

### Other information

_No response_

### Acknowledge

- [ ] I may be able to impleme

[2022-03-10 11:08] #19303 closed

[2022-03-10 12:40] corymhall commented on #19316
@charbyzard we currently have an open PR to implement this functionality.

https://github.com/aws/aws-cdk/pull/16279

[2022-03-10 13:05] corymhall commented on #19326
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to solicit support for reprioritization.

[2022-03-10 13:40] rittneje opened #19328 "(aws_cdk): removal of core package makes upgrading to v2 hard"
### General Issue

The aws_cdk.core package was removed in v2, with no smooth migration path.

### The Question

This is an experience report about the transition from v1 to v2.

In v1, the core package contains lots of highly used classes, such as `core.Stack`, `core.Construct`, and `core.Duration`. References to this package are peppered throughout our code base, especially our shared code.

In

[2022-03-10 14:27] rnag commented on #19287
Yeah, its kinda frustrating for me because I have no idea what is going wrong. I've used `cdk`previously in node v14 with no issues, but for some reason with the LTS version (v16.14) on mac I am running into this strange error during deploy.

I've tried a bunch of things already, like uninstalling and re-installing the LTS version with `nvm`:

[code]

For some reason I really can't understand, I'm

[2022-03-10 14:41] ManukCipo commented on #14066
I am having the same issue and I doing something similar. First initialize the new stack only running  **ec2.Vpc.fromLookup** using a VPC id from an existing VPC in the account then I am able to run the stack with all the configs I want to apply. If I don't initialize the new stack doing that the VPC info is not added to **cdk.context.json**

[2022-03-10 15:43] stevemer commented on #3899
Re:
`"@aws-cdk/aws-ecr-assets:dockerIgnoreSupport": true,`

It looks like this is no longer necessary.

[code]

[2022-03-10 15:57] rnag commented on #19287
Ok, just an update but I found something really interesting. Using `nvm` I installed a bunch of different node versions, including v16.10, 16.12, 16.13.2, and also LTS (v16.14). For some reason, I ran into the exact same deployment issue with `cdk` whenever I made a small code change and tried to redeploy.

But when I installed node `v16.3.0` with `nvm` (which I believe is the earliest recommended

[2022-03-10 17:12] kaizen3031593 commented on #18807
Hi @stefan-enev, I don't actually know what the Amplify Custom CDK module integration is. Can you link me to what/where you are using that?

I see that you are using amplify-cli, and you can submit an issue to them [here](https://github.com/aws-amplify/amplify-cli/issues/new/choose). It's a long shot, but maybe they have a better idea of what you're using.

[2022-03-10 17:37] AndrewGuenther opened #19331 "(aws-lambda-nodejs): Users are directed to a closed issue from the CLI"
### General Issue

There is a CLI error about empty zip files pointing users to a closed issue, but the bug is not fixed

### The Question

There is a bug causing CDK to generate empty zip files from assets which outputs the following error message:

[code]

The issue referenced (#18459) was resolved by the requester because they worked around it, but the issue itself hasn't actually been fixed. I

[2022-03-10 17:58] moofish32 commented on #18901
I can't reproduce this. Here is what I tried:

[code]

I then went into the lambda and throttled it so the lambda would not take any messages from the queue. I sent in messages using the CLI

[code]

After verifying 5 messages in the queue I redeployed the stack.  All 5 messages remained in the queue.

After that I modified the function code above to print 2 times and deployed. The messages still

[2022-03-10 18:40] peterwoodworth commented on #19287
I'm glad you got it working at all rnag 🙂

FWIW, I keep my system at `v16.7.0` unless I have a specific reason to switch (no particular reason I stick to this version, it was probably the most recent version when I got this machine lol) and have never run into any issues.

I'll keep this issue in mind, especially the fact that you're running into issues specifically at `16.10`. Thanks for the info

[2022-03-10 18:45] antoineaws opened #19332 "(Tags): Tagging a VPC Interface Endpoint applies the tag on the VPCe Security Group instead of a tag on VPCe"
### What is the problem?

Team,
When applying a tag on a VPC Interface Endpoint, the tag gets applied to the Security Group instead of the VPC Endpoint itself.

Code:
[code]

I did a search in Resource Groups Management and the result is as follows:
![Screen Shot 2022-03-10 at 1 41 31 PM](https://user-images.githubusercontent.com/78559652/157732601-c0ac51d0-e301-47b5-8912-66d1dd804e92.png)

### Re

[2022-03-10 18:48] goudhabuddha commented on #19301
Our cloud platform team is investigating the impact of the new V2 bootstrap process. It interferes with other things, apparently, so I am stuck using V1 until that mess gets sorted out.

Do you have any further recommendations of action I can take? I have tried uninstalling CDK from npm, uninstalling all requirements, making sure there are no weird conflicts between the venv and the global python

[2022-03-10 19:13] JPLemelin commented on #9327
Here's a solution that's similar to the ones of @[rehanvdm](https://github.com/rehanvdm)  but the lambda integration are also responsable to register the permission of the `lambda:InvokeFunction`

[code]

[2022-03-10 19:17] peterwoodworth commented on #19239
Reopening issue because it's still relevant

@diegoacosta-sage shared a repo which reproduces the issue https://github.com/diegoacosta-sage/appsync-lambda-auth-issue

@matart15 shares that this is specific to lambda authorizer https://github.com/aws/aws-cdk/issues/19258#issuecomment-1060086349

[2022-03-10 19:18] peterwoodworth commented on #19258
Thanks for the ping and the work in creating a reproduction case for us @diegoacosta-sage

I'm going to close this issue in favor of the original issue which I've reopened 🙂 #19239

[2022-03-10 19:18] #19258 closed

[2022-03-10 19:22] peterwoodworth commented on #18459
Reopening issue for visibility and tracking

[2022-03-10 19:23] peterwoodworth commented on #19331
Thanks for letting us know @AndrewGuenther, I've reopened the issue. Much appreciated!

[2022-03-10 19:23] #19331 closed

[2022-03-10 19:40] peterwoodworth commented on #19310
I'm pretty sure by looking at your aspect that there's a minor bug in your code

[code]

You will want to check if the node you're visiting is an instance of the conditional type

[code]

[2022-03-10 19:56] peterwoodworth commented on #19328
Was your team able to make use of our [migration guide](https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html)?

We appreciate the feedback, but I'm honestly not sure exactly what was tricky about the migration process for you. I'm not sure how patching v2 to pretend that the core module still exists could ever be easier than switching names of imports around if I'm being honest. Can you elab

[2022-03-10 20:45] rittneje commented on #19328
@peterwoodworth When a code base is under active development, changing all the imports in one go is absolutely not trivial. Other developers are simultaneously adding new files (which reference the core package), while we are in the middle of changing all the existing ones. It is not acceptable to have a code freeze while we do this.

I suggest you look at Kubernetes for an example of breaking cha

[2022-03-10 21:49] kaizen3031593 commented on #18375
I seem to have the master user and domain set up correctly when I deploy a similar opensearch domain. I don't have any experience with opensearch dashboards and I'm not sure if we considered that use case when this module was created. This is going to require some work to determine how CDK opensearch domains interact with opensearch dashboards and then determine if there is a need for a fix.

I'm

[2022-03-10 21:56] kaizen3031593 commented on #19125
Have you tried using `jsonPath.stringAt('$.MessageGroupId')?` I think `jsonPath` is what you are looking for here. Read more here: https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/aws-stepfunctions-tasks/README.md#L198.

Let me know if this isn't what you're looking for, and I'll reopen the issue.

[2022-03-10 21:56] #19125 closed

[2022-03-10 22:09] #19148 closed

[2022-03-10 22:09] ryparker opened #19333 "(aws-cloudwatch): Metric's do not honor provided `period` configurations"
### What is the problem?

Given i'm adding a Metric to a graph
When I configure a `period` value that differs from the default (5 minutes).
Then this configuration is ignored and all metrics are set to the default period of 5 minutes.

I also did not notice any configured "period" value in the CDK output.

### Reproduction Steps

[code]

### What did you expect to happen?

Metric's period values t

[2022-03-10 22:11] ryparker commented on #19333
SIM 9558365301

[2022-03-10 22:18] ryparker commented on #19333
Duplicated issue 🤦🏻 , closing in favor of https://github.com/aws/aws-cdk/issues/19321

[2022-03-10 22:18] #19333 closed

[2022-03-10 22:35] skinny85 commented on #19303
Thanks so much for the help here @yamatatsu! You're a much better owner of IoT in CDK than I am 😃.

[2022-03-10 22:44] ryparker commented on #19321
SIM D39487722

[2022-03-10 22:46] RichiCoder1 commented on #8273
It's sort of worth noting that this thread has actually called out the escape hatch multiple times, it's just not productionized. Almost all the `fromLookup` and other context-based calls essentially shell out to some other mechanism and then store the result in context, which then can be committed to allow only the first run to be non-deterministic.
However, this is currently an internal-only mec

[2022-03-10 22:56] PatMyron commented on #6819
https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/227

[2022-03-10 22:57] PatMyron commented on #11858
https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/227

[2022-03-10 23:38] #19285 closed

[2022-03-11 00:16] goudhabuddha commented on #19301
I think I found the problem. It was not package mismanagement. If you create a folder called "constructs" in the root folder of the project (in my case, my_project/constructs) it will somehow interfere with importing constructs._jsii

I had a folder called "constructs" in my root project folder and renamed it to "my_constructs" and the issue is fixed, cdk synth is working as expected.

Can this be

[2022-03-11 00:28] deuscapturus opened #19335 "(core): Existing Stack fails with CDK "Unexpected token _ in JSON at position 0""
### What is the problem?

If a stack template was created outside of CDK it may contain errors that are permissible by Cloudformation but are not permissible by `yaml_cfn.deserialize`.  When this happens cdk [attempts to deserialize the yaml template as JSON](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/serialize.ts#L15-L19) :man_shrugging: and will result in an error like this:

[2022-03-11 00:34] mrmilosz opened #19337 "(@aws-cdk/aws-stepfunctions): Why is State a Construct?"
### General Issue

Why is @aws-cdk/aws-stepfunctions State a Construct?

### The Question

[`State`](https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-stepfunctions/lib/states/state.ts#L80) is a Construct even though it does not render into a CloudFormation resource and has no `aws:cdk:path` metadata. It instead renders as fragment of the JSON embedded under the `DefinitionString`

[2022-03-11 00:58] rix0rrr commented on #19207
That feels like the wrong way to think about things. Features start out at -100 points, and need to be proven useful to be added. They are not free: they take time to develop, maintain and document. That needs to be weighed against the benefit they bring. In this case, my guess would be that the presence of a `toMicroseconds()` method would only benefit a few people. For this same reason, we don't

[2022-03-11 01:26] Nintorac opened #19339 "(ecr-assets): DockerImageAsset remote build"
### Description

Allow for remote building of docker images

### Use Case

My internet is slow and I'm trying to build a large image (tensorflow-gpu image ~4gb), 8gb total for down and up ends up taking quite a long time while the context is only around 100mb

### Proposed Solution

[code]

When `remote_build` is true the docker context from the path is archived and uploaded to s3, a lambda is the

[2022-03-11 01:39] peterwoodworth commented on #19328
Thanks for the feedback, this all makes sense to me.

@rix0rrr pinging for visibility

[2022-03-11 01:44] #19335 closed

[2022-03-11 04:05] #19106 closed

[2022-03-11 04:05] #19108 closed

[2022-03-11 04:05] #19206 closed

[2022-03-11 05:54] RichiCoder1 commented on #11630
So it looks like the issue is specifically that it's validating the path before staging and not considering the staged (and in this case bundled) assets at all.

[2022-03-11 08:54] wjax opened #19344 "lambda: Missing dotnet 6 runtime"
### General Issue

Missing dotnet 6 runtime in lambda

### The Question

Lambda already supports net6 both in image and zip format, however, when creating a lambda function in cdk, net6 runtime is missing

### CDK CLI Version

2.15.0

### Framework Version

2.15.0

### Node.js Version

16.13.2

### OS

Windows

### Language

.NET

### Language Version

All

### Other information

_No response_

[2022-03-11 09:03] Dzhuneyt opened #19346 "(aws-ec2): Ability to enable "Detailed Monitoring" for EC2 instance"
### Description

The current ec2.Instance() construct does not expose the "monitoring" prop that the underlying CfnInstance does.

### Use Case

I want to create EC2 instances with Detailed Monitoring enabled.

### Proposed Solution

[code]

### Other information

https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-ec2/lib/instance.ts#L371

### Acknowledge

- [X] I may be able to im

[2022-03-11 09:03] peterwoodworth commented on #19344
This feature was merged in earlier today. Expect it to be part of the next release 🙂

https://github.com/aws/aws-cdk/pull/19144

[2022-03-11 09:03] #19344 closed

[2022-03-11 09:44] revmischa commented on #8273
I just would like to build my large collection of lambda functions in parallel. However we get there is an implementation detail, I suggested one possible implementation above:

[2022-03-11 10:28] Yoshiitaka commented on #19155
@bergac
sorry for the late reply..
this is the corrected the boolean judgment.
https://github.com/aws/aws-cdk/pull/19203/files

[2022-03-11 11:11] FaresKi opened #19348 "(aws-codepipeline): Artifacts in parameter overrides are not providing correct values."
### General Issue

 Trying to pass CodeBuild Artifacts as parameters to my cross-account deployment action.

### The Question

Hi,
I'm currently deploying cross-account stacks, and one of my resources (a REST API Gateway) requires an API definition that I have stored in a CodeBuild artifact, from the Build stage.
However, when I look at the ParameterOverrides, all work but apiBucketName and apiBuc

[2022-03-11 11:51] diegoacosta-sage commented on #19239
Hi all,

There's no bug - In my opinion you can close this ticket.

While documenting the issue at work, I realised something I completely missed: https://docs.aws.amazon.com/cdk/api/v1/docs/@aws-cdk_aws-appsync.LambdaAuthorizerConfig.html#handlerspan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan

The permission that needs to be added is

[2022-03-11 12:42] iwt-kschoenrock opened #19349 "(aws-ssm): stringListValue returns unsplit list as string instead of list of strings"
### What is the problem?

When using a `StringListParameter` imported from an existing string list parameter with `StringListParameter.fromStringListParameterName`, the resulting value from `ipListParam.stringListValue` ends up being a single string with the unsplit list in it, instead of the expected list of strings.

My use-case is using the `StringListParameter` to store a list of IP addresses

[2022-03-11 12:43] corymhall commented on #19346
I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately, but contributions are definitely welcome.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg) to s

[2022-03-11 12:49] matart15 commented on #19239
@diegoacosta-sage thank you.

mine works with this permission

closing the issue

[2022-03-11 12:49] #19239 closed

[2022-03-11 13:16] corymhall commented on #19332
@antoineaws it looks like this is because CloudFormation does not currently support adding tags to `AWS::EC2::VPCEndpoint`.

The reason that the tags are added to the security group is because `Tags.of(scope).add();` will add tags to _all_ resources within the specified `scope`. If you want to limit the resources that the tags are applied to you can pass in additional info to the [TagProps](https:

[2022-03-11 13:28] chrisgray-vertex commented on #19310
Yes, that was it.  :flushed:

Thank you very much.

[2022-03-11 13:28] #19310 closed

[2022-03-11 13:29] ytsipun commented on #17544
The same issue:
<img width="706" alt="image" src="https://user-images.githubusercontent.com/80974736/157877222-ce4461cc-7fd9-4cdd-a2d4-a2a16f4d7973.png">
CDK v2.10.0

[2022-03-11 13:42] rehos opened #19350 "(pipelines): UpdatePipeline - SelfMutate action injects stack name instead of the stack id"
### What is the problem?

I ran into an issue where the UpdatePipeline - SelfMutate action failed. In my situation the Stack Id is different from the Stack Name. Looking at the generated CodeBuild commands I saw that it injected the stackName instead of the stackId. I believe the CDK cli requires a stack id to select the correct stack.

This line is wrong I think:
See https://github.com/aws/aws-cd

[2022-03-11 15:12] natevick opened #19351 "(cdk-diff): >=2.11.0 not authorized to perform: cloudformation:ListStackResources"
### General Issue

cdk-[QUALIFIER]-deploy-role-[ACCOUNT]-[REGION]/aws-cdk-node is not authorized to perform: cloudformation:ListStackResources

### The Question

Prior to 2.11.0 running diff  just worked without errors or abnormal output. Starting at 2.11.0 and all the way through 2.15.0 I get `cdk-[QUALIFIER]-deploy-role-[ACCOUNT]-[REGION]/aws-cdk-node is not authorized to perform: cloudformation

[2022-03-11 15:56] groner commented on #19351
I'm also seeing this error with `cdk diff` (I didn't try deploy) starting in 2.10.0. The cdk bootstrap version here is also 10.

[2022-03-11 16:10] #19029 closed

[2022-03-11 16:22] sebsonjura commented on #17939
@blimmer: It is your 'fault' that i will be 'home' in time today. Thanks for taking the time.

[2022-03-11 16:44] MrJadaml commented on #12226
This was a top search result for me, having a similar issue when trying to set an Amazon Linux 2 Standard 3 build image via cdk for a CodeBuild project. Specifically for being able to use Node version 12 (for Next.js). However it was not registering this when deploying. `[WARN] Skipping install of runtimes. Runtime version selection is not supported by this build image.`

So should it help anyone

[2022-03-11 16:47] cameroncf opened #19352 "(aws-cdk-lib): ReadMe Overview contains example using (removed) ConcreteDependable"
### link to reference doc page

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib-readme.html#construct-dependenciesme.html

### Describe your issue?

[Dependencies > Construct Dependencies](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib-readme.html#construct-dependencies)

The example here uses `ConcreteDependable`, which no longer exists in CDK v2. This example should be updated t

[2022-03-11 16:49] byongwu commented on #19234
Hi. I would like to share how I resolved the problem similar to this.

I had a similar issue like this but in my case, it failed at "UpdatePipeline" stage.
This was my error log.
[code]

I re-ran the CDK workshop (https://cdkworkshop.com/) from the start to end.
I compared my old CDK code with the new CDK code and found out there were quite much of difference.
I carefully merged the new code to my

[2022-03-11 16:52] blimmer opened #19353 "(aws-logs): allow prefixing auto-generated log group names"
### Description

It would be nice to retain the flexibility of the auto-generated log group names provided by CDK & CloudFormation while also being able to apply a prefix to work around certain restrictions, as described [here](https://docs.aws.amazon.com/step-functions/latest/dg/bp-cwl.html).

### Use Case

I've got a client who uses AWS Step Functions heavily. They ran into the resource policy s

[2022-03-11 16:56] byongwu commented on #19234
And the whole pipeline didn't take long time. Mine had quite many resources and took the reasonable time it usually took: 10 minutes 29 seconds.

[2022-03-11 17:22] flemjame-at-amazon opened #19354 "(custom-resources): Build fails due to lack of credentials"
### General Issue

I am having trouble building the CDK, unmodified

### The Question

I am setting up a new development environment for CDK, and doing a full build of CDK to be certain all dependencies are installed correctly. When doing a full build I get an error on the custom-resources module like so, which indicates there are some sort of credentials issue:

[code]

It's not obvious what this

[2022-03-11 17:26] rix0rrr commented on #18211
The CLI cannotbe used in this way. We don't support it and have no compunction about breaking you.

In an ideal world the components would have been separated better, and we definitely have an ambition in that direction, but no concrete plans as of yet.

If you want to programmatically do a CDK deployment, shell out to the CLI.

[2022-03-11 17:26] #18211 closed

[2022-03-11 17:56] caojoshua opened #19355 "AwsCustomResource: automatic policy fails if API call name is different from IAM name"
### What is the problem?

By default, `AwsCustomResource` sdk calls for `(get|put)BucketLifecycleConfiguration` grants the executor role `s3:(Get|Put)BucketLifecycleConfiguration`. The correct permissions should be `s3:(get|put)LifecycleConfiguration` permissions (notice the lack of `Bucket`). I believe that the error is from [this code](https://github.com/aws/aws-cdk/blame/69a50f10eb74370d00a3b4c

[2022-03-11 18:06] skinny85 commented on #19348
Yep 🙂.

[2022-03-11 18:06] #19348 closed

[2022-03-11 18:10] mrgum opened #19356 "(cli): Give a warning when the languages cdk libraries are older than cdk"
### Description

Give a warning when the languages cdk libraries are older than cdk

### Use Case

I spent hours trying to fix a circular dependency (in aws-cdk-lib.pipelines) I saw an issue with cdk 2.9.0 but thought I had 2.15.0 so it could not be that.  Banged my head on the issue for ages then on a punt I ran `pip install --upgrade -r requirements.txt` and that fixed it.

Please could we have

[2022-03-11 18:11] thiagobasilio-nanga commented on #5149
Using `CDK_CONTEXT_JSON` environment variable worked for me. However, when I tried to use `AppProps`, it didn't. At least, one of the available choices worked.

[2022-03-11 18:19] peterwoodworth commented on #19354
@flemjame-at-amazon what steps did you take to do a full build of the CDK? I assume this has worked successfully for you in the past?

[2022-03-11 18:26] flemjame-at-amazon commented on #19354
@peterwoodworth  yes that's right. However this is a new computer that I am doing the setup on.

To do the setup:

[code]

[2022-03-11 18:34] peterwoodworth commented on #19351
Wonder if it was [this PR?](https://github.com/aws/aws-cdk/pull/18207)

[2022-03-11 18:40] jaecktec opened #19357 "(cli): --no-notices not reflected in synth"
### What is the problem?

When executing synth a call to `cli.cdk.dev-tools.aws.dev` is still being executed even though --no-notices was specified.
This causes builds in locked down environments to be super slow

### Reproduction Steps

[code]

### What did you expect to happen?

log does not print
[code]
so no connection was established

### What actually happened?

log does print
[code]

### CD

[2022-03-11 19:06] gshpychka commented on #19353
Probably makes sense to expand this feature request to all physical names.

[2022-03-11 19:40] comcalvi commented on #19351
Thanks for the issue @nvick @groner, could you provide a reproduction stack?

[2022-03-11 19:55] peterwoodworth commented on #19357
It seems to me that [the PR that closed the issue you linked](https://github.com/aws/aws-cdk/pull/19226) will resolve the issue you're experiencing once the next version comes out with that fix, since our latest version of v2 doesn't yet include that fix.

[2022-03-11 20:28] peterwoodworth commented on #19356
Thanks for the feature request @mrgum,

I'm not aware of any way to do this at the moment, so I think this would be pretty neat to have.

Should probably be opt-in, or if its on by default then make it easy to opt-out of only a single time.

[2022-03-11 20:32] forsberg commented on #9696
Many thanks to @josh-wiley for the working example. Here extended to also set a fixed IPv6 address on a dualstack NLB:

[code]

[2022-03-11 20:45] spg commented on #14764
Temporary fix:
[code]

[2022-03-11 20:50] #18993 closed

[2022-03-11 21:23] jonathanmorley opened #19359 "aws-cdk: Session expiration is not handled gracefully"
### What is the problem?

During a deployment, the AWS session could expire. Subsequent API calls from the CLI would fail and cause errors.

This is primarily a problem for:
1. Long deployments
2. Deployments using role chaining (e.g. from a general deployer role to the CDK Deployment Role from the bootstrap stack)

However, a user could set their session duration to a very low value and be affect

[2022-03-11 21:23] jonathanmorley commented on #19359
We should generally handle credential expiry, and if necessary, re-assume the role

[2022-03-11 21:37] alexandervandekleutab opened #19360 "(aws-dms): How to get ARNs from Cfn Resources?"
### General Issue

To create a complete DMS system (endpoints, replication instance, and task) you need to pass ARNs between CfnResources that don't export them.

### The Question

I want to create a DMS to migrate my DocumentDB database to S3 for further processing and easier accessibility. I want to use CDK to create the necessary DMS resources. Below is a snippet from my current approach:

[cod

[2022-03-11 21:51] quincycs opened #19361 "(pipelines): ShellStep Support for secure strings"
### General Issue

I want to do a CURL to an API gateway protected by an APIKEY.  I want to use the APIKEY in a secure way without exposing it in logs etc.

### The Question

Is there a way to do this with parameter store or secrets manager?

I assume that shellstep somehow gets transformed into a codebuild project.  CodeBuild projects seem to support this like: https://docs.aws.amazon.com/codebui

[2022-03-11 21:59] peterwoodworth commented on #19360
Our CfnResources are exactly the CloudFormation resources described on CloudFormation's docs.

[ReplicationInstance](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dms-replicationinstance.html#aws-resource-dms-replicationinstance-return-values) and [Endpoint](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dms-endpoint.html#aws-resource-dms-

[2022-03-11 22:29] #16528 closed

[2022-03-11 23:32] comcalvi commented on #18846
pinging @rix0rrr because he recently led work on docs

[2022-03-11 23:32] comcalvi commented on #18846
pinging @rix0rrr because he recently led work on docs

[2022-03-11 23:42] comcalvi commented on #18600
have you tried doing this?

[code]

[2022-03-12 00:14] ryparker commented on #19354
I was able to reproduce this as well.

The test will pass if you go into your AWS config (`~/.aws/crendentials`) and remove your profile information. This is a reliable test in CI but not locally for users like us that have AWS credentials configured.

You'll run into another failure if you're using an M1 mac like I am in the `lambda-layer-awscli` package.

Instead of using `yarn build` from root

[2022-03-12 00:38] nkittsteiner opened #19365 "CloudWatch Dashboard: `-` and `_` characters are omitted while setting a dashboard name"
### What is the problem?

I tried to create a dashboard with a particular name convention using `-` chars. But I they are not displayed in the title after deployment.

### Reproduction Steps

Create a new dashboard and set some `-` or `_` characters on the dashboard name. Deploy and check the results

### What did you expect to happen?

`-` and `_` characters should appear normally.

### What actu

[2022-03-12 05:56] misterjoshua commented on #19193
I was fiddling with a toy implementation. Here's a hot-swap comparison on 60 assets for 60 functions:

**Sequential**
https://user-images.githubusercontent.com/644092/158005926-5892c83e-15f6-4ebe-9158-643314cd6e68.mp4

**Parallel Asset Publishing**
https://user-images.githubusercontent.com/644092/158005966-ff40d9e3-543a-45d8-8f21-88b0a9976295.mp4

[2022-03-12 06:27] neilkuan commented on #19193
Sequential (57 seconds)

https://user-images.githubusercontent.com/46012524/158006744-d2b49b63-fbbd-4854-878d-c4bb8ab8a81d.mp4

<br> </br>

Parallel Asset Publishing (18 seconds)

https://user-images.githubusercontent.com/46012524/158006769-a27a63bd-98f9-417a-9b03-c9908543533a.mp4

cc @misterjoshua  :)

[2022-03-12 07:15] Chriscbr commented on #17266
Closing in favor of #19193

[2022-03-12 07:15] #17266 closed

[2022-03-12 09:19] simonireilly commented on #17939
Added a Cloudformation custom resource that injects the rum script into the target bucket for the s3 origin: https://github.com/simonireilly/canary-stack/blob/main/lib/rum/rum-constrcut.ts

Also includes a full example of how to add some canaries and associate them via tags :+1:

[code]

[2022-03-12 10:31] mrgum commented on #19356
Something could also be added to the upgrade message

Currently
[code]
Could be extended to
[code]

[2022-03-12 10:37] mrgum commented on #19356
As for implementation, I think we could read in the app from cdk.json and regex if for python|\.py -> python etc and run something like
[code]

[2022-03-12 18:11] flemjame-at-amazon commented on #19354
@ryparker thanks! Will removing the profile be a problem for any other tests?

[2022-03-12 18:31] humanzz opened #19369 "(lambda): support enabling tiered compilation for Java functions"
### Description

Lambda tiered compilation is a configuration that helps improve Java Lambda Functions latency and cold start for some workloads. For background, see
- https://aws.amazon.com/blogs/compute/increasing-performance-of-java-aws-lambda-functions-using-tiered-compilation/
- https://github.com/aws-samples/aws-lambda-java-tiered-compilation-example
- Amazon internal slack channel #java-lam

[2022-03-12 19:25] fynnfluegge opened #19370 "(awscdkapigatewayv2alpha): CfnRoute equivalent missing in CDK v2"
### General Issue

CfnRoute equivalent with target parameter is missing.

### The Question

I am trying to migrate a CDK construct consisting of a HttpApi with an Eventbridge to CDK v2 as I did here:
[https://github.com/fynnfluegge/aws-serverless-cdk-go-templates/blob/main/httpapi-eventbridge/http-api-eventbridge.go](https://github.com/fynnfluegge/aws-serverless-cdk-go-templates/blob/main/httpapi-

[2022-03-12 19:55] amir-faliam opened #19371 "(nested-stack): impossible to manually set Nested Stack Name"
### Description

I want to be able to manually set the name of a NestedStack but currently there is no way to do so.

### Use Case

I'm migrating my infrastructure from Amplify over to CDK and my strategy for refactoring the management of the resources is to maintain the stack/resource names when I recreate them in CDK.

All of the other resources (i.e. root stack,  Cognito, Dynamodb, etc) haven't

[2022-03-13 09:40] foreignfilm commented on #546
+1

[2022-03-13 10:13] zeeklabs opened #19375 "(Cognito / UserPool): UserPool MfaSecondFactor Docstring"
### link to reference doc page

https://github.com/aws/aws-cdk/blob/5bad3aaac6cc7cc7befb8bdd320181a7c650f15d/packages/%40aws-cdk/aws-cognito/lib/user-pool.ts#L588

### Describe your issue?

# Summary

Link To doc-string: [HERE](https://github.com/aws/aws-cdk/blob/5bad3aaac6cc7cc7befb8bdd320181a7c650f15d/packages/%40aws-cdk/aws-cognito/lib/user-pool.ts#L588)

[2022-03-13 11:54] jaecktec commented on #19357
confirm it's fixed with 2.1.6

[2022-03-13 11:54] #19357 closed

[2022-03-13 14:21] lioaslan opened #19377 "(security groups, load balancer): Auto add allow-all inbound rule to SG when add a listener to LB"
### What is the problem?

I created an ALB with a security group that just allows access from Cloudfront (I use AWS managed prefix-list `com.amazonaws.global.cloudfront.origin-facing`) and add a listener that forward to a target group. However, after creating the stack, the security group show 2 inbound rules
- Port 80 from `0.0.0.0`
- Port 80 from `pl-31a34658`  (`com.amazonaws.global.cloudfront.

[2022-03-13 16:17] anwarjaved opened #19379 "(aws-ecs): stuck on creating Ec2Service"
### What is the problem?

I am trying to create ECS Service and point Application Balancer to it but it just stuck on creating Ec2Service

[code]

### Reproduction Steps

run  cdk deploy command with above code.

### What did you expect to happen?

I expect a cluster to be created with a service with 2 load balancer one is private and another public.

### What actually happened?

It stuck on creat

[2022-03-13 20:54] alexbaileyuk opened #19380 "(aws-cdk): IAM role created by CDK Bootstrap is not following AWS best practices"
### What is the problem?

Security Hub best practices suggest that IAM roles should not be given encrypt/decrypt permissions to all KMS keys ([source](https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards-fsbp-controls.html#fsbp-kms-2)).

The deployment role created by CDK bootstrap does not meet this criteria.

### Reproduction Steps

Run `cdk bootstrap` and check the rol

[2022-03-14 05:48] Fri3ndlymushroom commented on #6323
I use a slightly different project structure provided by the sam cli and ran into this issue as well. I have a template.yaml file. Is it somehow possible to add this externalModules option there?

My template.yaml:
[code]

[2022-03-14 06:42] kornicameister opened #19382 "(synthetics): Add new runtime with Puppeteer 3.4"
### Description

<img width="750" alt="image" src="https://user-images.githubusercontent.com/1029674/158118410-1f465d77-1a2f-41ab-9a65-e60e471ba078.png">

### Use Case

Ability to upgrade canaries to newest runtime ;-)

### Proposed Solution

Add new constant [here](aws-synthetics/lib/runtime.ts) called `SYNTHETICS_NODEJS_PUPPETEER_3_4` with value `new Runtime('syn-nodejs-puppeteer-3.4', RuntimeFa

[2022-03-14 12:25] markussiebert opened #19386 "(cloudwatch): AlarmWidget should accept additional props sortBy and states"
### Description

At the moment it's not possible to set the following properties

## sortBy
Specifies how to sort the alarms in the widget.

Choose default to sort them in alphabetical order by alarm name.

Choose stateUpdatedTimestamp to sort them first by alarm state, with alarms in ALARM state first, INSUFFICIENT_DATA alarms next, and OK alarms last. Within each group, the alarms are sorted by

[2022-03-14 12:29] corymhall commented on #19377
@lioaslan you should be able to control this via the [open](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_elasticloadbalancingv2.ApplicationListener.html#open) parameter on the `ApplicationListener`. This is `true` by default when the load balancer is public facing which adds the `0.0.0.0/0` rule to the security group.

[2022-03-14 12:43] lioaslan commented on #19377
Thanks

[2022-03-14 12:43] #19377 closed

[2022-03-14 13:14] gbvanrenswoude commented on #19234
@byongwu based on your remarks, I made some runs with `ShellStep` instead of `CodeBuildStep`. Unfortunately no difference in runtimes, both still throw: `Failed to get tree.json file: Error: cdk.out/tree.json: ENOTDIR: not a directory, open 'cdk.out/tree.json'`

[2022-03-14 13:36] antoineaws commented on #19332
Thank you Cory. +1'd the cfn issue.

[2022-03-14 13:57] moltar commented on #10464
I have almost the same setup as @bilalq, but I get the following error:

Any ideas?

[2022-03-14 15:10] #19375 closed

[2022-03-14 15:24] #19193 closed

[2022-03-14 15:28] rix0rrr commented on #18920
Solution: turn the result value of `findInMap` into a Token, that on-resolve can add a copy of itself to the consuming stack.

[2022-03-14 16:11] NGL321 opened #19388 "(eks): EKS tags do not update if edited after initial deploy"
### What is the problem?

When attempting to add tags to an already-deployed EKS cluster, tags never get added to resource. There is no issue when adding tags in the initial resource creation, so this can be worked around by either destroying and redeploying the stack, or by adding tags using the AWS SDKs.

This is likely related to the [fix](https://github.com/aws/aws-cdk/pull/18109) for the prev

[2022-03-14 16:18] plumdog opened #19389 "(assertions): App-wide assertions"
### Description

I have an app that contains lots of stacks. I would like to be able to write a test a bit like:
[code]

Also, to test that all S3 buckets have encryption at rest set, for example.

### Use Case

To catch misconfigurations without writing any new tests.

Also, to allow high-level tests for apps, rather than stacks.

### Proposed Solution

My workaround involves recursing through `a

[2022-03-14 16:52] simonireilly commented on #17939
Thanks, I've updated 👍

[2022-03-14 17:21] flemjame-at-amazon commented on #19354
This works for me, this can be closed.

[2022-03-14 17:21] #19354 closed

[2022-03-14 18:01] relm923 commented on #1973
@nathanpeck would #19378 meet your needs here?

[2022-03-14 18:05] abramcav opened #19390 "(Tags): Tagging within custom construct does not apply tag to the AWS resource"
### What is the problem?

When inside a custom construct I call `Tags.of(asg).add("Name", "my-asg-name");`, the resource (asg in this case) does not get the tag set in AWS during a deploy.  The resources are created properly, and inherited tags are set, but not tags added using the `Tags.of(...).add(...)` method inside the construct.

### Reproduction Steps

create custom construct:

[code]

Creat

[2022-03-14 18:05] samasama opened #19391 "AppSync: CDK Lambda Authorizer is not set"
### What is the problem?

I have a cdk stack with `GraphqlApi` using a lambda authorizer. Though the `lambdaAuthorizerConfig` has `handler` set to the authorizer function, after synthesis and the authorizer function is set but no permission is added to the lambda so that AppSync can execute it

### Reproduction Steps

[code]

### What did you expect to happen?

Expect the authorizer function to be

[2022-03-14 18:51] kaizencc opened #19392 "(elasticsearch): properly deprecate elasticsearch"
### Description

When #19296 is merged, all APIs in `elasticsearch` will be deprecated, but the module itself will not. This is because there are stable modules that depend on `elasticsearch` and we cannot depend on a deprecated module. Until we have a mechanism to deprecate these modules in v2, we will not truly deprecate `elasticsearch`.

Relevant issue is https://github.com/aws/jsii/issues/3423

[2022-03-14 19:10] kaizen3031593 commented on #19308
Hi @a-farrukh! I think this has to do with understanding how provisioned concurrency works and what `currentVersion` is in CDK context.

Provisioned concurrency on lambda is tied to a specific version (or alias) of a function, not the function itself ([source](https://aws.amazon.com/blogs/aws/new-provisioned-concurrency-for-lambda-functions/). So we shouldn't expect changing provisioned concurrenc

[2022-03-14 19:23] kaizen3031593 commented on #19389
I can see the value in this though our `Assertions` module is pretty stack-specific right now. But I feel like the workaround is there, in exactly what you've described. I don't think we can assert against tokens anyway, since they are deploy-time properties.

You can create a `Template` object 3 ways: `fromStack()`, `fromJSON()`, and `fromString()`. It's totally fine to `synth` first and then cre

[2022-03-14 20:36] peterwoodworth commented on #19056
Hey @fullsailor,

I'm not entirely sure why the functionality is the way it is - but we know about it and it's been marked as a breaking change https://github.com/aws/aws-cdk/issues/7094

Before this gets fixed, this workaround using [escape hatches](https://docs.aws.amazon.com/cdk/v2/guide/cfn_layer.html) works perfectly fine:

[code]

[2022-03-14 20:37] peterwoodworth commented on #7094
Workaround with escape hatches:
[code]

[2022-03-14 20:46] peterwoodworth commented on #19370
This is called out at the top of our [migrating to v2 devguide](https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html)

[2022-03-14 20:47] #19370 closed

[2022-03-14 20:47] #19360 closed

[2022-03-14 20:48] ryparker commented on #19379
Hey @anwarjaved 👋🏻  Thanks for opening an issue.

Have you checked for failures in the ECS task logs? The Dockerfile you're referencing may not be reaching a healthy status this can cause your ECS deployment to timeout. If you open ECS in the AWS console you should be able to navigate to the cluster that's deploying and see it's tasks/logs.

[2022-03-14 21:19] peterwoodworth commented on #19165
I'm not entirely sure - but I think this error is occurring because the custom resource handler can't handle the size of the payload you're giving it.

Regardless of the true source of the error, the CDK doesn't give us a nice way to work around this - I believe the expectation is to break down the manifest here.

[2022-03-14 21:25] jweilhammer commented on #15213
+1 on this

Noting that cross account validation of ACM certifications works easily with a CNAME record

Was also able to get a cross account A record to an ALB using the IP address instead of the DNS name, but using the IP address is unreliable as it can change.   Creating manually for now then