[2021-05-19 22:42] #11626 closed

[2021-05-19 22:56] skinny85 commented on #14738
OK, I was playing with this all day, and, while I'm not sure why this happens, I have been able to consistently reproduce this error with NPM 7. It manifests itself with local installs the same as with global installs.

This is a sequence in a CDK project created with `1.105.0` that _doesn't_ have a `package.json` itself (for example, a Java/Python CDK project):

[code]

Clearly, the `@aws-cdk/cx-

[2021-05-19 23:05] skinny85 commented on #14738
This does not happen with NPM 6:

[code]

[2021-05-19 23:08] skinny85 commented on #14738
Looks like someone already reported this to NPM: https://github.com/npm/cli/issues/3196

[2021-05-19 23:20] peterwoodworth commented on #8938
We've identified where the problem is.

The L2 construct is building a CfnDashboard object. In [Cloudformation docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudwatch-dashboard.html#cfn-cloudwatch-dashboard-dashboardbody), widgets in the dashboard are built [with a string](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/CloudWatch-Dashboard-Bod

[2021-05-20 00:42] kellertk opened #14786 "(cli): `cdk init` produces a git repository with a `master` branch"
Currently, running `cdk init` produces a git repository with a `master` branch. This may be undesirable. Instead, the CDK could default to creating a git repository with a different branch name.

This is in https://github.com/aws/aws-cdk/blob/6179ac16f2fcab5bf5e03a3629db281018d7585b/packages/aws-cdk/lib/init.ts#L288

### Proposed Solution

Since version 2.28.0, git has included functionality to [s

[2021-05-20 00:49] lucaswilric commented on #14724
Thanks for the response @iliapolo. My team and I are a little concerned about developing a habit of ignoring warnings, so we'd prefer not to print those warnings if we can manage it.

If checking the actual tags on the subnets isn't feasible, is there a way to suppress those warnings without also suppressing warnings that we should pay attention to?

[2021-05-20 01:10] evanerwee commented on #14489
I have learned that I have to add props and specify a profile

[2021-05-20 01:11] evanerwee commented on #14481
This can be closed. Apologies for not closing earlier. Adding props and specifying a profile solve the issue

[2021-05-20 01:18] MrArnoldPalmer commented on #14736
@d-t-bird this might be a feature request for cloudformation cause I can't figure out a way to access each instance within a broker and get a name.

Even looking through the sdk for `describeBroker` its not clear how to construct this from the returned values.

[2021-05-20 01:30] ABevier commented on #14781
As a heads up, CloudFormation doesn't support this yet, so CDK is effectively blocked.  Check out https://github.com/aws/containers-roadmap/issues/631 for the Cloud Formation discussion.

[2021-05-20 03:04] YikaiHu commented on #10820
Hi all,

Here is an example may help, using Custom Resources to achieve this.

The code is written in TypeScript.

<details>
<summary>Example to invoke Lambda after the cdk deploy or update</summary>

[code]
</details>

Then, you can invoke the `checkExecutionLambda` when you create the cdk or update it.

[2021-05-20 03:58] bzivic commented on #5455
@shortjared comment from earlier really worked a treat.

https://github.com/aws/aws-cdk/issues/5455#issuecomment-713643500

If SDK v3 is used, well all be fine 🙏

[2021-05-20 06:33] #14481 closed

[2021-05-20 06:51] RyanDawkins commented on #14688
A hack around this if you're using TypeScript in case you run into this issue:

[code]

[2021-05-20 07:54] #14757 closed

[2021-05-20 08:16] hffmnn opened #14787 "(apigatewayv2): Change `defaultStage` to an `IHttpStage`"
## :question: General Issue

### The Question

Via https://github.com/aws/aws-cdk/pull/14541 the `metricXXX` method moved from `IStage` to `IHttpStage`. The `defaultStage` of a `HttpApi` returns a `IStage`, so the methods are not available.

Question: How to access the methods of the default stage?

### Environment

  - **CDK CLI Version:**
  - **Module Version:** `> 1.103.0`
  - **Node.js Version

[2021-05-20 08:24] callumthomson commented on #14741
Ah yes, of course. I'm getting another error now 😄 `npx cdk deploy StagingStack` gives me the following error

[code]

I'm not sure why it's trying to delete the export from `GeneralCodeBuildStack` - I must admit my CloudFormation / CDK understnanding is a bit vague in this area. This must be because the stacks have already been deployed using `fromProjectArn` and cannot be just simply updated to

[2021-05-20 08:32] rix0rrr opened #14788 "(custom-resources): role.withoutPolicyUpdates() does not work for custom resources"
Normally, adding permissions to a role should go through the `role.addPolicyStatements()` method (or whatever it's called), but the `AwsCustomResource` creates an `iam.Policy` directly and attaches it to to the Role.

This means that the Role has no ability to modify the behavior, and--in particular--`role.withoutPolicyUpdates()` or roles imported with `mutable=false` don't actually have the abili

[2021-05-20 08:32] gagan1510 commented on #6803
Any update on this? Facing the same issue.

[2021-05-20 08:32] gagan1510 commented on #6803
@realharry were you able to do this using any work around? Would be of great help.

[2021-05-20 09:56] ebrahimahmadi commented on #4241
+1

[2021-05-20 10:12] adam-nielsen opened #14790 "(iam): Support passing a policy to .grantRead()"
I would like to be able to pass a Policy to `.grantRead()` whereas I can currently only pass a Role or similar.

### Use Case

Currently, I can do this:

[code]
This creates PolicyA granting read access to the SSM parameter, and attaches it to lambdaA's role.  But then it creates an identical PolicyB, doing exactly the same as PolicyA, and attaches it to lambdaB's role.

I am trying to work out ho

[2021-05-20 11:03] mnapoli commented on #14468
I am afraid the same problem happens here: https://github.com/aws/aws-cdk/blob/b02311cd55b5bdbe408085488dd17816f181fd2c/packages/aws-cdk/lib/api/cloudformation-deployments.ts#L300-L302

[2021-05-20 11:08] otaviomacedo commented on #9217
We have a circular dependency problem here: in order to tell whether the app bundles assets (or uses constructs like `NodeJsFunction`), the CLI needs to synthesize it and inspect the generated cloud assembly. But to guarantee that the synthesis works in CodeBuild, it first needs to know whether the app needs to do bundling (to configure the CodeBuild project to run in privileged mode).

So, as sug

[2021-05-20 11:58] rix0rrr commented on #14738
I can only reproduce this if I install directly from `npmjs.com` using NPM 7. If I install from an alternative NPM repository like Verdaccio or CodeArtifact, the behavior doesn't reproduce.

[2021-05-20 12:08] #13310 closed

[2021-05-20 12:26] 0xjjoyy opened #14795 "(codepipeline): Pipeline to support from_pipeline_name"
Ability to import a CodePipline as L2 Pipeline construct from existing CloudFormation template. Only from_pipeline_arn is supported.

### Use Case

Ability to customize cfn resources existing in a template

### Proposed Solution

### Other
CDK code
[code]

Stack
[code]

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

Thi

[2021-05-20 12:43] fractionalJoe commented on #14703
thanks rix0rrrr!

[2021-05-20 12:45] fractionalJoe commented on #14703
Premature closing. The test still fails after updating to
[code]
Am I missing something in that doc?

[2021-05-20 14:22] twitu commented on #3472
I'm observing the same for CDK 1.102.0, Amazon Linux 2, Node v14.17.0

[2021-05-20 14:26] mickael-coquer opened #14798 "(kms): property keyId is not working when importing a key from an ARN resolved from a SSM parameter store"
The property keyId of a key imported from an ARN resolved from a SSM parameter store is not working. The synthetised CloudFormation template does not extract correctly the id.

### Reproduction Steps

[code]

### What did you expect to happen?

"KmsKeyId" property of AWS::ElastiCache::ReplicationGroup to be correctly computed.

This is working as expected if I import my key directly with the ARN v

[2021-05-20 14:58] rafalkrol-xyz commented on #7920
I was able to make it work, with cdk `1.103.0 (build bc13a66)`, by appending `next` to [the `LambdaInvoke` class](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-stepfunctions-tasks.LambdaInvoke.html) in the `const` declaration:

[code]

Before, when trying to use `lambda1Step.next(lambda2Step` multiple times in my [State Machine's definition](https://docs.aws.amazon.com/cdk/api/lates

[2021-05-20 15:37] skinny85 commented on #14741
Yes, you're exactly right, but there's a simple trick you can employ to keep the existing export. Add this to `buildDeploymentPipeline`:

[code]

I _believe_ this should make the deploy succeed.

[2021-05-20 16:02] johnhill2424 commented on #12757
^^^^

[2021-05-20 16:07] drigos opened #14799 "(aws-ecs): ecs.Cluster.fromClusterAttributes: Allow adding capacity providers on imported clusters"
Add capacity providers from another stack.

### Use Case

The cluster can receive more than one capacity provider, so it may be necessary during the cluster lifetime to add these capacity providers from other stacks.

### Proposed Solution

When using the [fromClusterAttributes](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.Cluster.html#static-fromwbrclusterwbrattributesscope-id

[2021-05-20 16:12] felipeloha commented on #10924
+1

[2021-05-20 16:13] lhincapie0 commented on #10924
+1

[2021-05-20 16:14] jpSimkins opened #14800 "(aws-route53): Cannot create alias of record in the same hosted zone?"
## :question: General Issue

I am trying to create an alias in my hosted zone for a non-www to point to a www record.

In console, I just create an A record, set it as an alias, and choose `Alias to another record in this hosted zone` and select the www target but I don't see a way to do this in the CDK.

This won't work as it's not an IP address:
[code]

I get:

If I attempt to use `RecordTarget`

[2021-05-20 16:17] #8116 closed

[2021-05-20 16:35] TingDaoK commented on #14738
I have the same issue. I checked the aws-cdk version (by `cdk --version`) is the same as the one in my package.json and tried to install the latest version, but the error message is always like `pleas upgrade CDK CLI`. I resolved the error by `npm ci`. I guess some node modules are out of sync or something.

[2021-05-20 16:52] jhojgaard opened #14803 "(backup): Support for advancedBackupSettings"
AWS Backup BackupPlan construct is missing support for AdvancedBackupSetting
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-backup-backupplan-advancedbackupsettingresourcetype.html

### Use Case

This is needed to support Windows VSS in AWS Backup configured with CDK

### Proposed Solution

Add something like:  `backupOptions: {"WindowsVSS": "enabled"}` to support th

[2021-05-20 17:34] peterwoodworth commented on #14351
@gurkarangulati are you able to provide what rix0rrr asked for?

[2021-05-20 17:34] callumthomson commented on #14741
Awesome! That did work! I did run into another issue (I solved it though) after I had finished deploying all stacks. I didn't want to have that snippet of code just lying around forever so I removed it and I got a similar error to before:

[code]

I couldn't understand why this was the case, but then I realised that the CDK was probably trying to update `GeneralCodeBuildStack` to remove the export

[2021-05-20 17:54] skinny85 commented on #14798
Hey @mickael-coquer,

thanks for opening the issue. Unfortunately, you cannot use functions with conjunctions with `resolve` functions (the `resolve` gets substituted _after_ the CloudFormation functions execute, not before).

Thanks,
Adam

[2021-05-20 19:13] Arvanaghi opened #14806 "(AWS Cognito): No way to set logo in Authenticator apps, force MFA frequency"
### Reproduction Steps

N/A

### What did you expect to happen?

There must be a way to set the logo that will appear in DUO / Google Auth when you link a device. It's not available in CDK. Furthermore, I can't set the frequency with which a user is prompted for 2FA.

### What actually happened?

N/A

### Environment

N/A

### Other

N/A

---

This is :bug: Bug Report

[2021-05-20 19:16] skinny85 commented on #14741
Nice, I'm glad you got it working.

As far as if this is a bug - I don't think so. So basically, the situation is that your Pipeline is in a specific account (that you provided by passing it in the `env` property of the `Stack` it belongs to). When you did this:

[code]

You basically "erased" the account of the Project by passing this for the ARN (because it's an opaque `Fn::GetAtt` expression no

[2021-05-20 19:21] MrArnoldPalmer commented on #14798
@michael-k Usually I do it like this.
[code]

This creates a CFN parameter with a reference to the SSM parameter value. Let me know if that solves your issue.

[2021-05-20 19:51] callumthomson commented on #14741
Ok, I understand but, how come it was working fine before in 1.99.0? I see this in the release notes for 1.100.0:

This sounds extremely related to the issue I was facing, and does the ARN not contain the account number?

But I acknowledge I'm not familiar enough with the CDK / CloudFormation to know for sure, so if you say it's expected behaviour, then I will accept that.

[2021-05-20 20:23] mandel-drink opened #14807 "(aws-iam): deploy AWS services at separate AWS account"
Hi,

I have a general question about deploying AWS services (like DynamoDB) at a separate account by using CDK (please see image). Could you please share some guidance or directions on how to achieve this? Thank you.

![image](https://user-images.githubusercontent.com/78983350/119043673-941dc780-b9b9-11eb-8ad1-487ec5e5b9aa.png)

[2021-05-20 20:24] Zerquix18 commented on #3338
I second the comment above ^

[2021-05-20 20:28] AjkayAlan opened #14808 "(s3): autoDeleteObjects resources should use stack tags when provided"
## Current State

Any resources automatically created from `autoDeleteObjects` appear to not honor stack-wide tags.

## Setup

If I create a stack similar to the following (in python):

[code]

And my app.py looks something like:

[code]

Any of the resources created by having `auto_delete_objects=True` (generally named something like `CustomS3AutoDeleteObjects` are not tagged, including an `AWS::

[2021-05-20 21:01] OksanaH commented on #13335
Hi @skinny85, thanks for the suggestion; when I run the above command, no errors are thrown, but then the same error persists when I try to build the `aws-codepipeline-actions`  module: `Unable to locate jsii assembly for "@aws-cdk/aws-cloudformation". If this module is not jsii-enabled, it must also be declared under bundledDependencies`.
I've also tried VSCode but there I get a different error w

[2021-05-20 21:29] brockuniera opened #14809 "(aws-ec2): L1 VPC to L2 VPC transformation"
Static method on `Vpc` akin to `.fromLookup` with signature `.fromCfnVpc(cfnvpc: CfnVpc): IVpc` that performs a hopefully simple transform on a `CfnVpc` to return a `IVpc`.

### Use Case

More convenient and supported method for mixing `CfnInclude`'d CloudFormation templates with CDK constructs.

### Proposed Solution

Implement the described static method.

### Other

* [x] :wave: I may be able t

[2021-05-20 22:30] skinny85 commented on #14741
You got it right again 🙂. The PR in #14224 fixed a bug (#14165), but it also accidentally surfaced this problem in your code.

But I would argue the code is actually correct now, and allowing the `fromProjectArn` to work was a mistake from the beginning.

[2021-05-20 22:42] NGL321 commented on #14334
Hey @sahilpalvia,

I have tried to reproduce this, but have been unable to (I was working with the given information, but since it was unclear how you are actually structuring the deployment I made the assumption that you were passing the `sharedresource` between the stacks via override props and deploying the stacks through independent stages).

Sharing resources across stacks should have no impa

[2021-05-20 22:43] skinny85 commented on #14809
Thanks for opening the issue @brockuniera. We are thinking about this.

Related: #14795

[2021-05-20 22:45] skinny85 commented on #13335
Did you switch `@aws-cdk/aws-codepipeline` to `@aws-cdk/aws-codepipeline-actions` in the above command I gave?

[code]

[2021-05-20 23:04] #11639 closed

[2021-05-20 23:12] sahilpalvia commented on #14334
Hi @NGL321

Could you share how you made things work for you? We tried doing * permissions on explicit policy-statement but it still didn't work.

[2021-05-20 23:30] Wenzil commented on #1973
Isn't that moot considering CloudFormation can deploy custom resources running 3rd party code?

[2021-05-21 01:11] skinny85 commented on #12338
@jahtoe I believe this is a problem in JSII, which is the technology that powers CDK supporting languages other than JavaScript/TypeScript. I've opened https://github.com/aws/jsii/issues/2852 to track it.

[2021-05-21 01:20] TRANTANKHOA opened #14810 "(@aws-cdk/aws-s3): Create bucket if not exists"
Provide an option to create new bucket only when not exists, otherwise refer to existing bucket.

## Use Case

### Logical name changes
1. Bucket name `physical-bucket` is created in stack A with logical ID `BucketA1`
2. Stack A was refactored, logical ID for the bucket is now `BucketA2` but the `physical-bucket` name is the same
3. Deployment failed with error "Bucket already exists"

### Deployi

[2021-05-21 01:50] greg-aws commented on #8905
@skinny85
This issue has kind of been a thorn in my side lately, so I wanted to make sure I understand it. It looks like context queries are currently done with whatever base credentials are present rather than assuming a role from Stack's account. Does it make sense to add an additional context lookup role to the bootstrap /w the appropriate read permissions and when an SDK is retrieved via [sdk-

[2021-05-21 02:32] BenChaimberg commented on #14780
It seems like we [already actually do this](https://github.com/aws/aws-cdk/blob/f4a2938cf6773bf80e3316abda82d03aed051108/packages/aws-cdk/lib/api/util/cloudformation/stack-activity-monitor.ts#L619). The final output of a failed deployment looks something like this:
[code]

However, it seems that this traceback is often overwritten by the progress bar, resulting in a final output of:
[code]
I neede

[2021-05-21 03:08] pprahlad opened #14813 "(aws-apprunner): Support AWS Apprunner as new L2 construct"
AWS AppRunner launched on 5/18 and I'd like to channel customer requests to add official CDK support for Apprunner in the AWS Construct library

https://docs.aws.amazon.com/apprunner/latest/api/API_Operations.html

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2021-05-21 05:22] brainstorm opened #14814 "(cli): cdkv2 init introduces deprecated cdkv1 flag @aws-cdk/core:enableStackNameDuplicates"
[code]

Running CDKv2 as of today:

[code]

### Reproduction Steps

1. cdk init app --language=python
2. cdk synth
3. Kaboom

[code]

### What did you expect to happen?

CDKv2 init && synth should not introduce incompatible & deprecated CDKv1 flags. Removing that property fixes the issue but it shouldn't be there at all in the first place after `cdk init`.

### What actually happened?

👆🏻 See abov

[2021-05-21 05:50] #14765 closed

[2021-05-21 05:57] jmortlock opened #14815 "(cli): cross account docker image assets fail to upload"
When using modern bootstrap and cross account deployment roles docker image assets fail to upload with the following error.

[code]

I noticed that the s3 assets did not suffer from this, so did some digging and have found the relevant code blocking the asset upload.

PR incoming.

### Environment

  - **CDK CLI Version  :*1.105*
  - **Framework Version:*1.105*
  - **Node.js Version:*14.6.1*
  - *

[2021-05-21 06:44] Insidexa commented on #14764
So, I use default CDK code without custom Load Balancer or Security Group.
When I use `cluster.addCapacity`.

I got next SG for EC2 instances in CloudFormation.  Also you can see what EC2 SG source ingress is
 `ServiceLBSecurityGroupA319D865`.
 And `ServiceLBSecurityGroup` Egress to EC2.
[code]

But when I use `cluster.addAsgCapacityProvider` I got next SG for EC2 instances. That all what I found

[2021-05-21 07:07] Insidexa commented on #14764
I found problem, in deprecated version `cluster.addCapacity` call in method `this.addAutoScalingGroup` and in method `addAutoScalingGroup` have next line
`this.connections.connections.addSecurityGroup(...autoScalingGroup.connections.securityGroups);`

But in new version what recommended `addAsgCapacityProvider` over `cluster.addCapacity` this line I not found

[2021-05-21 07:28] jakubgruber opened #14818 "(@aws-cdk/aws-ecs): ECS with ECR - Invalid repository policy provided"
I have two stacks, one regarding the CI/CD pipeline which checks out the CDK and app code and uses `TagParameterContainerImage` to later update the CloudFormation template of application running in Fargate.

The second stack is an application stack and uses the `TagParameterContainerImage` from the CI/CD stack.

Both is based on this official guide - https://docs.aws.amazon.com/cdk/api/latest/docs

[2021-05-21 08:11] ChrisSargent commented on #11478
Right, yeah, makes sense.

[2021-05-21 09:28] #10782 closed

[2021-05-21 09:32] twitu commented on #3407
I'm still facing a similar issue with `fromVpcAttributes`. For an asymmetric Vpc I'm looking up it says.

CDK 1.102.0, Mac OS, node 14.16.1

[2021-05-21 09:42] #14736 closed

[2021-05-21 10:04] callumthomson commented on #14741
Ok, understood. Let's consider this problem solved then 😄. Thanks again for your investigation and assistance.

Callum

[2021-05-21 10:04] #14741 closed

[2021-05-21 13:02] gliptak opened #14821 "Official Docker image(s) for aws-cdk"
Package and upload official Docker images to one or several public repositories.

Maybe publish an image per construct language used.

Possibly use Alpine Linux as `FROM` minimizing image size.

I might have missed this being discussed in issues I reviewed.

### Use Case

Allows running with single command without requiring performing install steps (and keeping up-to-date packages installed)

Also

[2021-05-21 13:26] joshualang commented on #14452
Both are failing when I execute them separately. The error stays the same
[code]

[2021-05-21 13:30] matoxp opened #14822 "(aws-apigateway): Support for multi-level paths in BasePathMapping"
According to the AWS console, you can now have custom domain name API multilevel path mappings (even for v1 APIs), if you adhere to the following rules:

I tried this with a V1 REST API where I used the AWS Console to setup the mapping and can confirm that this works (e.g. with path 'v1/signup'). However, CDK refuses the slash in the basepath:

Furthermore, after adding '/' as an allowed character

[2021-05-21 13:40] nija-at commented on #14569
Adding an SQS event source to a lambda lets the lambda function consume messages from an SQS queue, not send messages to an SQS queue.

Can you update the original report with a full example (as described here - http://sscce.org/)?
Could you also provide the CloudFormation template or snippet where you see the `sqs:SendMessage` permissions and expect to see `sqs:SendMessageBatch`?

[2021-05-21 13:42] nija-at commented on #14660
Can you look at the produced CloudFormation template and confirm that the old Resource (`myResource`) is removed after the update?

If so, then this may be an issue with CloudFormation and APIGateway, rather than the CDK.

[2021-05-21 13:48] bryanmig commented on #14696
I am experiencing the same issue.  I cant figure out if this is a documentation issue or a regression. Any guidance would be much appreciated.

[2021-05-21 13:48] nija-at commented on #14728
CloudFormation seems to have [introduced this property](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-id) recently, however, it is marked as not required.

This is correctly translated by the CDK into an optional [parameter `id`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.CfnFunctionProps.html#id).

Can

[2021-05-21 13:50] nija-at commented on #14806
Hi @Arvanaghi -

Can you please update your report with the Cognito documentation on how to do this?
Could you check if this is available via CloudFormation? If not, we cannot support this in the CDK.

[2021-05-21 13:51] nija-at commented on #14684
There is an issue already tracking this bug - https://github.com/aws/aws-cdk/issues/7613

Closing as duplicate.

[2021-05-21 13:51] #14684 closed

[2021-05-21 13:56] lukeseawalker commented on #14728
The change it's not backward compatible because code that was working up to `1.103.0` doesn't work anymore in `1.104`
[code]

Up to `1.103.0` there was just `id` that was required.
Since `1.103.0` id become optional and `id_` required. What is `id_`? Doc is confusing as well
https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda/CfnFunction.html

[2021-05-21 14:02] tomburge commented on #14728
@nija-at The aws-lambda package will not synth 1.04.0 or above with this error:

(hlzenv) > cdk synth
Traceback (most recent call last):
  File "app.py", line 30, in <module>
    org_lambda_stack = LambdaStack(app, 'hlz-lambda-stack',
  File "C:\repos\aws\healthcare-landing-zone-cdk\hlzenv\lib\site-packages\jsii\_runtime.py", line 83, in __call__
    inst = super().__call__(*args, **kwargs)
  File

[2021-05-21 14:05] nathan-boulestin commented on #14660
You are right the old resource have been removed from the Cfn template.

So this issue is not about the CDK at all ?

[2021-05-21 14:10] therockstorm commented on #14038
@nija-at @bracki We're looking to use MSK event sources in production and need this fix before we can automate it. Is there anything else I need to do with my PR? It says it's waiting for approval, https://github.com/aws/aws-cdk/pull/14804. Thanks!

[2021-05-21 14:32] jmm opened #14823 "(@aws-cdk/aws-lambda-nodejs): NodejsFunction dependency installation behavior (`package-lock.json`, npm install)"
## :question: General Issue

### The Question

I'm having trouble following the [NodejsFunction](https://github.com/aws/aws-cdk/blob/v1.105.0/packages/@aws-cdk/aws-lambda-nodejs/README.md) documentation about dependency management. It says that a dependencies lock file is required and that dependencies will be installed, but with CDK v1.105.0 I'm not seeing that behavior with esbuild in the enviro

[2021-05-21 14:36] #14569 closed

[2021-05-21 14:37] akuma12 opened #14824 "(aws-quicksight): CfnDataSource.RedshiftParametersProperty will not accept dynamic references for "port""
When trying to create a Quicksight Redshift CfnDataSource resource, we have our Redshift connection information stored in SecretsManager, including endpoint, port, database name, username and password. When we try to use CDK's SecretsManager.secretValueFromJson(), it generates a CloudFormation {{resolve:secretsmanager}} dynamic reference. However, when CDK tries to synthesize the template, the Cfn

[2021-05-21 14:46] akuma12 commented on #14824
I tested this with CDK CLI version 1.105.0 and Framework version 1.105.0 as well with the same result.

[2021-05-21 14:51] 0xjjoyy opened #14826 "(aws-lambda-event-sources): batch_size and max_batching_window specified, though lambda function being invoked before either batch size or batching window met"
[resubmitted](https://github.com/aws/aws-cdk/issues/14569) to clarify problem and provide examples

Scenario is that events are generated and sent to a SQS queue. A lambda then receives the messages from the SQS queue.

Batch delivery is configured so that the Lambda will receive multiple messages in a single invocation.

Configured batch_size to 100 and max_batching_window to 2 minutes. Though th

[2021-05-21 14:52] pravin0999 opened #14827 "(aws-elasticloadbalancingv2): Getting error when binding a Lambda Target to an imported ALB TargetGroup."
I'm getting error when I bind a Lambda Target to an **imported** ALB TargetGroup when building through CDK.
[code]

### Reproduction Steps

[code]

### What did you expect to happen?

I expect to bind the Lambda to the imported ALB.

### What actually happened?

Getting error -

[code]

### Environment

  - **OS:** - OSX
  - **Framework Version:** - `"aws-cdk": "2.0"`
  - **Node.js Version:**
  -

[2021-05-21 14:53] #9217 closed

[2021-05-21 14:58] #11537 closed

[2021-05-21 15:06] adam-nielsen opened #14828 "(apigatewayv2): grant permissions for sending messages to a WebSocket"
I have a Lambda function and I want it to be able to post messages to a WebSocket.  There doesn't seem to be a `websocket.grantPost(lambda.role)` or equivalent like there is for other resources like S3 buckets, so my Lambda always fails with 403 Forbidden when I try to send messages to the WebSocket.

### Use Case

I have a Lambda that is invoked via other means not related to the WebSocket, but I

[2021-05-21 16:00] Patil2099 commented on #14803
@MrArnoldPalmer  I would love to work on this issue. Can you guide me a little on how can I solve it?

[2021-05-21 16:12] moofish32 commented on #4702
Does anybody in this group need attributes besides String?

[2021-05-21 16:23] skinny85 commented on #8905
@rix0rrr should be able to answer that question better than me.

Rico, would you mind answering @greg-aws's question? Does new-style synthesis come into play here?

[2021-05-21 16:40] peterwoodworth commented on #14813
Hey @pprahlad, thank you for this feature request.

Currently CFN doesn't support AppRunner, so it will be very difficult and time intensive for us to implement an L2 without first having L1s to build off of.

Check out #14779 for more information. @shellscape have you submitted a request to the CFN roadmap yet? If not, I can go ahead and do that 😄

[2021-05-21 16:41] shellscape commented on #14813
@peterwoodworth it's on my to-do list but please feel free to do that!

[2021-05-21 17:12] skinny85 commented on #14452
Hmm! That is weird.

I wonder whether reaching out to the AppFlow team is the better course of action here - I don't think the CDK can do much here, since this is a server-side error.

Do you have Premium Support by chance?

[2021-05-21 17:14] NGL321 commented on #14334
Hey @sahilpalvia,

This is the pipeline stack I used for repro:
[code]

The stacks and stages are themselves pretty empty.

😸 😷

[2021-05-21 17:41] sahilpalvia commented on #14334
@NGL321 Thanks for sharing this. Just had a follow up question, did you have this setup in the same account? Did you try the pipeline across accounts?

[2021-05-21 18:08] peterwoodworth commented on #14824
Hey @akuma12,

Our L1 constructs (`CfnXxx`) are automatically generated from the [CloudFormation Resource Spec](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html). The [`DatasourceRedshiftParameters::Port`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-quicksight-datasource-redshiftparameters.html#cfn-quicksight-datasourc

[2021-05-21 18:10] jonlegendre commented on #14456
One thing to note. This error stopped happening earlier this week, but happened again today. I am uncertain what could be causing this. I have a full integration test that deploys, runs operations within, validates and destroys my stack, and that was working without issue today, but suddenly my recent destroys are hitting this issue.
Note that there was nothing like a CDK library update coincident

[2021-05-21 18:14] NGL321 commented on #14348
Hey @s1mrankaur,

Its hard to evaluate what you are wanting to implement (what resource tags would you use to determine which account to deploy to? Is this static at time of pipeline deployment, or dynamic depending on other factors? etc.). It would help if you gave us more information on what EXACTLY you are trying to accomplish.

😸 😷

[2021-05-21 18:35] NGL321 commented on #14334
@sahilpalvia,

Based on our conversation I am going to share the same guidance here for posterity and then close the issue. If the guidance ends up being incorrect, please feel free to reopen this issue (however, after repro I have been unable to reproduce so it may require a little more info).

Essentially the missing component that could cause an AccessDenied role error across is a trusted role

[2021-05-21 18:35] #14334 closed

[2021-05-21 18:39] NGL321 commented on #14436
Since this has been determined to be a missing Cloudformation component from their resource specification, I am adjusting this issue to be marked as a feature-request so it can be closed on implementation.

😸 😷

[2021-05-21 18:56] s1mrankaur commented on #14348
@NGL321  I am Sorry about the confusion. I meant git tags. We are using a CDK-based pipeline from https://github.com/awslabs/aws-simple-cicd.

1. We would want the developer to have run the pipeline only in the sandbox account from their feature branch. It could be achieved if the pipeline was triggered was a git tag say "devname-featurebranch-readyforPR". If the developer branch has not marked th

[2021-05-21 19:39] hoegertn commented on #14813
Afaik CFN support was announced today

[2021-05-21 19:50] peterwoodworth commented on #14813
I was just about to submit an issue for this, @hoegertn could you link to where that was announced? Thanks!

[2021-05-21 19:52] hoegertn commented on #14813
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apprunner-service.html

[2021-05-21 19:55] troyaws opened #14830 "(aws-sqs): Granting "send message" doesn't grant SendMessageBatch privileges"
Granting "send message" doesn't grant sqs:SendMessageBatch privileges.

### Reproduction Steps

[code]

### What did you expect to happen?

I expected that all SQS API actions for sending messages would be included in the inline policy attached to the Lambda function's role.

### What actually happened?

Only sqs:SendMessage, sqs:GetQueueAttributes, and sqs:GetQueueUrl were granted to the Lambda f

[2021-05-21 19:58] peterwoodworth commented on #14824
Hey @akuma12, this might actually be an issue on our end, apologies for the earlier guidance. I believe you're getting your secret using the `from_secret_complete_arn()` method since we were able to reproduce the issue you gave with that method. A quick workaround will get you up and running in the meantime while we research the root cause of this issue:

[code]

[2021-05-21 20:07] peterwoodworth commented on #14813
Oh exciting, it's already in the resource spec! Thanks for letting me know. @shellscape just so you're aware, this will likely be in our release next week

[2021-05-21 21:51] #14784 closed

[2021-05-22 02:54] joekendal commented on #4336
As of 2021 this is still a bug

[2021-05-22 04:28] nmduarteus commented on #4702
I do not, no.

On Fri, 21 May 2021, 18:12 Mike Cowgill, ***@***.***> wrote:

[2021-05-22 06:26] wong-a commented on #13201
It should be SageMakerCreateTrainingJob. This was fixed in https://github.com/aws/aws-cdk/pull/12727. The docs are correct now.

[2021-05-22 06:36] OksanaH commented on #13335
@skinny85 yes I did. Am getting the same error now about unprivileged port start.

[2021-05-22 10:08] cokia commented on #13810
I made a PR because this is not being solved.
I need a lot of feedback because this is my first contribution to this project
Thanks

[2021-05-22 12:27] shellscape commented on #14813
Great news all around!

[2021-05-22 13:39] jogold commented on #14823
You don't need a separate package.json per function.

You can put all your dependencies (= cdk deps and runtime deps) at the root of your project and let the construct find your lock file. The construct bundles only what is required by each function.

Will update the README to explain this better.

[2021-05-22 14:48] adam-nielsen opened #14836 "(apigatewayv2): property to extract WebSocket control endpoint URL"
In Lambda, if you want to send a message to a WebSocket, you have to supply a HTTPS endpoint for the API Gateway control interface.  However there appears to be no way to obtain this URL when the WebSocket is created via CDK,

### Use Case

I want to create a WebSocket, and have a Lambda function send messages to connected clients in response to non-WebSocket events (e.g. SQS message arrival).  Th

[2021-05-22 16:34] pprahlad commented on #14813
CloudFormation support was added at launch (required for CoPilot), but not documented in those docs until 5/20. There is a lot of customer feedback requesting L2 support. See AppRunner roadmap: https://github.com/aws/apprunner-roadmap/issues/7

[2021-05-22 16:55] neovasili commented on #10949
Hello Madeline,

Sorry for the late reply, I just opened a PR with the work a few seconds ago. I hope this can help :)

[2021-05-22 17:30] skeeters1 opened #14838 "(cdk-go): malformed module path in Go code generation when attempting to build example"
Attempt to get started with the go cdk, initialise and test the example crashed. Tentatively reporting as a bug in case linked to https://github.com/aws/jsii/issues/2842.

### Reproduction Steps

Fresh go project following steps in https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-go.html

aws configure
mkdir gotest
cd gotest
cdk init app --language go                         //  comment:

[2021-05-22 19:40] k3nnyP commented on #8282
I'm having this same issue with "aws-cdk": "1.105.0",

[2021-05-22 22:45] dbadami commented on #10193
We pull artifacts from CodeArtifact as a part of our build process and need an authorization token for it. What we ended up doing is that in the `Build` stage of our CodePipeline we export the CodeArtifact authorization token as an environment variable and then copy it into the DockerFile in our code using `sed`. The output of the `Build` stage is all the files so our modified DockerFile gets sent

[2021-05-23 01:29] AlexGue opened #14841 "(aws-ecr-assets): Infinite folder creation when cdk.out is not excluded"
When creating a DockerImageAsset, if you specify the project root path as the build directory, an infinite loop creating folders is started and no error is logged in the console (even with verbose activated).

### Reproduction Steps

Create a DockerImageAsset specifying root path as directory.
(The Dockerfile must exist in the example-folder)
[code]

And execute
`cdk deploy`
or
`cdk synth`

If the

[2021-05-23 05:05] vumdao commented on #5352
[code]

[2021-05-23 06:06] #7761 closed

[2021-05-23 07:23] straygar commented on #12372
@rix0rrr No, it seemed perfectly fine. :/

I worked around it by pulling some resources into a nested stack.

[2021-05-23 13:10] johnhill2424 commented on #12757
@cprice404-aws have you found any workaround for this?

[2021-05-23 14:19] max258-new opened #14843 "(@aws-cdk/aws-s3module) Resource handler returned message: "Uploaded file must be a non-empty zip""
### The Question

Hi I had tried few node versions mentioned below still appearing the same issue
anyone can help me ?

### Environment

  - **CDK CLI Version:** 1.59.0,1.85,1.70,1.105.0
  - **Node.js Version:** node 14.2.0,14.3.0,14.15.0,14.15.1,14.15.2,14.15.3,14.16.1,14.15.4,14.17.0,15.5.1,16.2.0
  - **OS:** Windows 10
  - **Language (Version):** TypeScript (4.2.4)

### Other information
 new S

[2021-05-23 19:28] TiffanyHsuuuu opened #14844 "(aws-vpc): connect fargate in VPC of one AWS account to DynamoDB in another AWS account"
Hi,

As topic, could you please advise how I can connect/communicate EC2 or Fargate ECS instances in VPC of one AWS account to/with DynamoDB in another AWS account? I attached an image below.
(The motivation behind this is to separate data storage from other components, to prevent accidentally messing with database.)

One post in Stackoverflow says credentials needed to connect another AWS account

[2021-05-24 00:55] cokia commented on #11119
I think this is already solved issue

[2021-05-24 00:57] cokia commented on #11234
i think this is already solved issue :D

[2021-05-24 01:44] iRoachie commented on #11234
How so @cokia? Running a new project with `npx aws-cdk init app --language typescript` installs packages with npm.

[2021-05-24 03:01] cloventt commented on #11851
Just run into this problem, and this is very broken. Until this issue is fixed upstream in CFN it would be nice to update the documentation to reflect that the `grantConnect()` method is utterly broken and cannot be used, just to save future travelers some time debugging this.

Thanks to @jdvornek for the solution provided. In our case we needed to tweak it a little to make it work as we were not

[2021-05-24 06:53] merland commented on #8488
@iwarshak @hoegertn  This seems like the same usecase I was working with [here.](https://github.com/aws/aws-cdk/issues/5583#issuecomment-608027353) I needed to do it without involving `domainZone` and `domainName`. I did succeed but the approach is very ugly.

Hopefully the same result can be achieved with nicer code now, a year later. However this feature request is still open, so maybe not...

[2021-05-24 07:51] eladb commented on #14841
@AlexGue thanks for submitting the pull request for this!

[2021-05-24 08:02] eladb opened #14845 "(cli): CLI not compatible with the CDK library even though they are in the same version"
I am receiving the error `CLI is not compatible with the CDK library` even though `cdk --version` returns the same version as the library.

### Reproduction Steps

The CDK CLI 1.102.0 was installed on my machine, and I upgraded it to 1.105.0 using `npm install -g aws-cdk`. Then, I created  a new CDK app.

When I executed `cdk synth` the following error was printed:

[code]

Running `cdk --version`

[2021-05-24 08:12] eladb commented on #14823
@jogold, thanks for following up with a quick PR to update documentation.

[2021-05-24 08:45] eladb commented on #14607
The Python bundling system identifies a bundle based on the hash of the sources and not the hash of the artifact because `pip` produces a non-stable output (contains timestamps I believe). If we used artifact hashes, every build would have produced a different output, which means that assets will always be validated.

The recommended solution is commit a lock file, which will be included as part o

[2021-05-24 08:46] redbaron commented on #8905
@greg-aws, something like `cdk-hnb659fds-lookup-role-{ACCOUNT_ID}-{REGION}` with read only view access in the target account?

[2021-05-24 08:49] Momo0621 opened #14846 "(stepfunctions-tasks): Default Policy for AthenaStartQueryExecution doesn't support other partitions when specifiy bucket name in outputLocation"
https://github.com/aws/aws-cdk/blob/53ee025ae038018e56aea84b3de20f5770c874fa/packages/%40aws-cdk/aws-stepfunctions-tasks/lib/athena/start-query-execution.ts#L109

The partition here is specified to aws partition which resulted in cloudformation deployment failed when deploy to aws-cn partition.

### Cloud Formation  error
Partition "aws" is not valid for resource "arn:aws:s3:::<bucket_name>/*". (S

[2021-05-24 08:58] eladb commented on #14285
@jfrconley can you advise if @redbaron's solution works for you?

[2021-05-24 09:02] nija-at commented on #14845
Duplicate of https://github.com/aws/aws-cdk/issues/14738

[2021-05-24 09:02] #14845 closed

[2021-05-24 09:11] nija-at commented on #14828
@adam-nielsen - what exact permissions would such a method add to the Principal?
It would be useful if you can describe or point to documentation.

[2021-05-24 09:26] nija-at commented on #14660
If the Cfn template is accurate, then the CDK has handled this correctly.
You will need to report this issue to the API Gateway service team.

[2021-05-24 09:50] nija-at commented on #14660
Actually, the problem is a little more tricky than I originally thought.

In order to cause little or no disruption to running application during stack updates, CloudFormation [ensures that resources are first created and/or updated before any resources are deleted](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html).

CDK automatically c

[2021-05-24 10:48] adam-nielsen commented on #14828
@nija-at Thanks for your quick response!  It looks like the permissions are described here:

https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-control-access-iam.html

If I grant this permission then my Lambda function is able to send messages to the WebSocket:

[code]
Since the API ID is randomly generated, it needs to retrieve the API ID from the `WebSocketApi` in

[2021-05-24 11:23] adamdmarshall commented on #11494
I had to uninstall all aws global and local modules, remove the directory shown by "which cdk", remove node_modules, then re-install the lot. Very boring.

[2021-05-24 11:33] hoegertn commented on #8488
I think this should work now with commit https://github.com/aws/aws-cdk/commit/e6c85e4167cdb38ed056eda17b869e179a6dd1c5

So since 1.100.0

[2021-05-24 12:40] nija-at commented on #14828
Awesome. Thanks for all the details @adam-nielsen.

I'm marking this issue as a p2 since you have a workaround for this, and shouldn't be blocking anyone. We are unable to work on p2 issues at the moment and this will be filed into our backlog.

We're accepting pull requests if you or anyone else is interested in implementing this.

[2021-05-24 13:04] greg-aws commented on #8905
Exactly, in terms of the actual policy I would want some input on. We could be fairly fine grained to only allow access to the current actions required or it would be a more broad read policy which would leave room for future features.

[2021-05-24 13:13] nija-at commented on #14728
I have this Python app which using CDK version `1.104.0` -

[code]

I am able to run `cdk synth` on this which generates the template with the snippet -

[code]

I did not receive any error during synthesis regarding `id`.

@lukeseawalker / @tomburge - can one of you provide a similar example (http://sscce.org/) which I can use to reproduce this error?

[2021-05-24 13:26] lukeseawalker commented on #14728
with 1.103.0

[2021-05-24 13:51] nija-at commented on #14728
I see what's going on.

The CDK (in Python) historically has used the positional argument name `id` for its construct identifier.
The CDK also use positional arguments for the properties that go into a resource, i.e. properties such as `runtime`, `handler`, etc. in the case of `CfnFunction`.

Once Lambda [introduced a new property named `Id`](https://docs.aws.amazon.com/AWSCloudFormation/latest/Us

[2021-05-24 14:00] eladb commented on #14728
Very tricky problem with JSII (copy @RomainMuller, @MrArnoldPalmer)

[2021-05-24 14:20] openfinch commented on #11265
Adding onto this, this is a strange feature to leave out considering it exists in other AWS-provided tools. This is a fairly common SCP in larger environments.

[2021-05-24 14:49] AbhilashPM commented on #5012
Hello Everyone. Sorry to re-initiate an old thread, however, I believe the bug still exists. I am facing this issue when I try to create a Route53 Inbound Endpoint (possibly applicable for outbound endpoint also) from CloudFormation Template through the AWS console as well. I tried multiple times, however, I get the same error with different creator request ID. The same cloudformation template, wi

[2021-05-24 15:00] MrArnoldPalmer commented on #14818
in this case you'll need to create the execution role in the pipeline stack, call `grantPull`, then pass the role to your app stack and use it as the task execution role. I don't think this is a CDK bug necessarily, its just a matter of stack and resource ordering. I'm not sure how we would fix this on the CDK side.

[2021-05-24 15:07] MrArnoldPalmer commented on #14838
@skeeters1 `build command-line-arguments: cannot load embed: malformed module path "embed": missing dot in first path element` indicates that the go version is < 1.16 though 1.16 is the minimum and thats what you reported using. Can you double check that please? This is probably unrelated to aws/jsii#2842

[2021-05-24 15:08] MrArnoldPalmer commented on #14764
@Insidexa to clarify, the issue you were having was because of usage of a deprecated method and using the updated replacement fixes it?

[2021-05-24 15:12] MrArnoldPalmer commented on #14803
hey @Patil2099. This should be pretty straightforward if you checkout the [`BackupPlan`](https://github.com/aws/aws-cdk/blob/v1.105.0/packages/@aws-cdk/aws-backup/lib/plan.ts) resource you will need to add a new optional property to [`BackupPlanProps`](https://github.com/aws/aws-cdk/blob/v1.105.0/packages/@aws-cdk/aws-backup/lib/plan.ts#L23) that then is pass in the [constructor](https://github.co

[2021-05-24 15:20] MrArnoldPalmer commented on #14830
I can see your point but I don't know if that is actually the expected behavior. I think the question is more do most users who are calling `grantSendMessages` explicitly want `SendMessageBatch`? Maybe we need to add another method that is `grantSendBatch` so it is more explicit that `grantSend` doesn't include it, or add an optional property to `grantSendMessages` that allows users to specify inc

[2021-05-24 15:23] AbhilashPM commented on #5012
Apologies for my earlier comment. One of the IPs that I was specifying was in use as a Secondary IP. I had failed to notice it before. Providing unused IP addresses solved the issue. However, I feel that the error message was a bit deceiving as it did not correctly state the cause of the error. May be if it could tell if the IP address(s) specified is already in use, then it could have been better

[2021-05-24 15:27] cprice404-aws commented on #12757
Unfortunately I think the (awful) solution that I came up with was to set the default number of workers to the highest number I might need, when I defined the job.  When invoking the job via other means besides step functions I pass in an override to reduce the number.  Not a very good approach but I didn't find any other way to do it.

[2021-05-24 15:40] skinny85 commented on #13335
Hmm, you're right, I was just able to reproduce this...

I see you asked https://community.gitpod.io/t/docker-inside-gitpod/3688/2, I've commented there as well - let's see what they say.

[2021-05-24 15:47] troyaws commented on #14830
I don't think the ability to send one message per API call or 10 messages per API call is a privilege difference. I wouldn't expect that to be an issue for a "least privilege" approach.

If you buy that argument, then I think the module should take the approach that makes it easiest on the developer and just grant all of the API actions that allow `SendMessage`. The other approaches you proposed a

[2021-05-24 16:14] MrArnoldPalmer commented on #14830
I agree with you mostly the thing that worries me is some edge case architectures that users may currently be employing.

For example, if I have a stack with a queue, and I don't control the producers and I may be explicitly not allowing batch send as a way to control the rate of message input. This is bad (really bad) architecture I'd argue but its still something to think about.

That being said

[2021-05-24 16:36] skinny85 commented on #13832
@besh0y can you show your code creating the Instance, and how it's used?

[2021-05-24 17:02] Insidexa commented on #14764
@MrArnoldPalmer I have problem because I use new method `cluster.addAsgCapacityProvider` instead of deprecated method `cluster.addCapacity`.

[2021-05-24 17:03] besh0y commented on #13832
**db.ts file**
createT3Db(
		stack: Construct,
		id: string,
		databaseName: string,
		size: ec2.InstanceSize,
		multiAZ: boolean,
		vpc: ec2.Vpc,
	) {
		const engine = DatabaseInstanceEngine.postgres({ version: PostgresEngineVersion.of('13.1', '13') });
		return new DatabaseInstance(stack, id, {
			engine,
			instanceType: ec2.InstanceType.of(ec2.InstanceClass.T3, ec2.InstanceSize.SMALL),
			// d

[2021-05-24 17:24] callumthomson opened #14850 "(cloudfront/s3): Incorrect S3 origin region assumed"
I've got a bucket located in `eu-west-2` which is used as an origin for 5 different CloudFront distributions. This bucket was created manually outside of the CDK / CloudFormation.

I've got some stacks created in the `eu-west-2` region and also a stack in the `us-east-2` region. All my CloudFront distributions created by the CDK in the `eu-west-2` region are configuring successfully with the S3 bu

[2021-05-24 17:31] skinny85 commented on #13832
You're using the wrong property - the physical name of `DatabaseInstance` is `instanceIdentifier`, not `databaseName` (the latter one controls the name of the default created Postgres database inside the Instance).

[2021-05-24 17:34] cokia opened #14851 "docs(Readme): remove unused image resource (screencast.gif)"
This is a 📕 documentation issue

I think "screencast.gif" at project root directory is not used (I thinks it already deprecated)
So I think it's possible to delete this file.

[2021-05-24 17:49] Insidexa commented on #14764
@MrArnoldPalmer Sure, I will try to create my first PR to open source :)

[2021-05-24 18:40] iRoachie commented on #10534
@eikeon I just opened #14853 for iam authorizers. Would love your feedback

[2021-05-24 18:53] peterwoodworth commented on #14843
Hey @max258-new, I see that you're inputting `.path` as your Source.asset. Do you have a local directory named `path` in your project? If so, you should input `S3Deployment.Source.asset('./path')` to the `sources` property.

What do you have in your `path` directory? What are you trying to use as the source?

[2021-05-24 19:06] peterwoodworth commented on #14555
@eladb I'd like to hear your take on this

[2021-05-24 19:27] philasmar opened #14854 "All: Strong Name Sign CDK Assemblies for .NET"
## :question: General Issue

### The Question

Hello,

We are trying to strong name sign our assemblies and we are facing an issue with the projects that are referencing the CDK.

"Referenced assembly 'Amazon.CDK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name."

Can you please strong name sign your .NET assemblies?

Thanks

### Environment

  - **CDK CLI Versio

[2021-05-24 19:38] eikeon commented on #10534
@iRoachie Looks good and +1 for the CDK doc linking to the relevant documentation re: some examples.

Looks like I'l be able to retire my workaround soon. Thank you!

PS: One thing I've run across -- how to apply an HttpIamAuthorizer to the default route?

[2021-05-24 19:45] johnhill2424 commented on #12757
@kirintwn any update on this?

[2021-05-24 21:49] hnajera opened #14855 "how to configure cfn-hup helper script?"
## :question: General Issue

### The Question
I'm implementing the cfn-hub configuration because I didn't see any feature for that in the cdk documentation.

I'm configuring everything inline using the  ec2.InstanceProps property of Instance:

        const instance = new ec2.Instance(this, 'Instance', {
            vpc: vpc,
            instanceType: props.instanceType,
            machineImage:

[2021-05-24 22:14] skinny85 commented on #11851
[PRs are very much welcome](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md) for an even intermediate solution to this problem 😃.

[2021-05-24 23:46] seawatts opened #14857 "(aws-lambda-nodejs): support full configuration for source maps in esbuild options"
Currently, there is only support for passing in `sourceMap: boolean` https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda-nodejs.BundlingOptions.html#sourcemap into the `bundling` options in the `@aws-cdk/aws-lambda-nodejs` `NodejsFunction`. The documentation for sourceMaps in esbuild can be found here https://esbuild.github.io/api/#sourcemap
I would like to be able to pass in any o

[2021-05-25 00:07] davidarmstronglewis opened #14858 "(apigatewayv2): Support Lambda Authorizer Payload Format Version 2"
`HttpApi` should support attaching a default authorizer configured to accept `AuthorizerPayloadVersion.VERSION_2_0`. Right now it's impossible to do this unless you drop down to a lower level, which I've had issues finding proper documentation for how to accomplish (probably a me-problem, so if there's somewhere I should look I'd appreciate some pointers).

### Use Case

Version 2 is a nice payloa

[2021-05-25 01:39] RichiCoder1 commented on #14813
Excellent! That was the biggest thing I was waiting for (author of https://github.com/aws/apprunner-roadmap/issues/7). I think one can get pretty with ECR Asset + App Runner resource, but something that makes it seamless would be amazing!

[2021-05-25 02:06] cokia commented on #11234
I misunderstood that this is a problem that occurs during the cdk build process. Sorry

[2021-05-25 04:41] dilunika commented on #3414
This explains the problem and solution very nicely.
https://www.endoflineblog.com/cdk-tips-03-how-to-unblock-cross-stack-references

[2021-05-25 05:47] vw2408 commented on #14843
Hey @peterwoodworth  Thanks for your response
in that line I have
[code]
this path.

[2021-05-25 05:50] max258-new commented on #14843
Hey @peterwoodworth Thanks for your response
in that line I have
[code]
this path.

[2021-05-25 06:47] peterwoodworth commented on #14843
Did you also do these two things?

The staging bucket can be obtained by running the following command -
 aws cloudformation describe-stack-resources --stack-name CDKToolkit --logical-resource-id StagingBucket  --query 'StackResources[].PhysicalResourceId'

[2021-05-25 06:53] cokia commented on #14575
I expect dependency is not correctly installed on your script.

Maybe this was not a matter of cdk.

[2021-05-25 08:22] rix0rrr commented on #14037
It doesn't work right now because the `AwsCustomResource` doesn't have dependencies on the policies you added.

The custom resource code explicitly adds dependencies to make sure the policy doesn't get deleted before the CR is executed:

https://github.com/aws/aws-cdk/blob/master/packages/@aws-cdk/custom-resources/lib/aws-custom-resource/aws-custom-resource.ts#L419

In your case it would look like

[2021-05-25 08:23] rix0rrr commented on #14037
BTW I think you can put `ssm:PutParameter` and `ssm:DeleteParameter` in the same policy. Should be fine.

[2021-05-25 08:42] elemakil commented on #13668
I am also affected by this issue. @markilott Did you come up with a viable workaround?

[2021-05-25 08:57] eladb commented on #14201
@l0b0 it seems like this is the culprit:

[code]

It's a best practice to pin versions in order to avoid unexpected updates.

[2021-05-25 09:38] eladb commented on #14683
@eganjs can you use symlinks to address your use case?

The reason this check exists is because `cdk.out` directory must be self-contained, so it can be passed in a pipeline to a different job and work. I don't believe we will be able to break this assumption.

[2021-05-25 11:37] Fitmavincent commented on #14575
Hopefully this will give people some insight. [Lesson learn with AWS CDK, Azure Pipeline](https://fitmavincent.github.io/aws-cdk-azure-pipeline/)

[2021-05-25 11:37] #14575 closed

[2021-05-25 11:48] adriantaut commented on #14696
@iliapolo thank you, indeed, your code works, but this time also works our code. Will investigate if it was a version mismatch or simply the `cdk8s-plus` vs `cdk8s-plus-17` dependencies you've changed.

Cheers!

[2021-05-25 12:09] alextriaca commented on #1973
@eladb  thanks for the explanation of why this feature is not something you are considering. I think something to factor in is not only the production use case but also the dev use case. We don't use Pipelines to deploy our stacks but make use of a very similar "build in an isolated account, then deploy in the production account" pattern for all dev/staging and prod deployments. However we also re

[2021-05-25 12:18] shubhamjainy commented on #7160
Hi, Is there any way to add container insights for Amazon EKS using AWS CDK?

[2021-05-25 12:35] johnhill2424 commented on #12757
@shivlaks any update on this?

[2021-05-25 13:10] RishiKapadia20 commented on #5804
@emilioego could you please specify (give example) to what part of the proxy url you are adding in host/hostname/href, would really apricate it, unable to get this workaround to work, i'm not sure if I am filling in the blanks correctly

[2021-05-25 14:06] lukeseawalker commented on #14728
Thanks for the explanation. This means that everywhere we use a keyword argument to set a CDK property, we are going to hit by this whenever Cloudformation adds a property with the same name: I'm thinking about `scope` for example.

I think we will refactor our code and use only positional arguments for the CDK properties and leave the keyword argument for CloudFormation ones.

It would have been

[2021-05-25 14:46] mickael-coquer commented on #14798
@MrArnoldPalmer this results in the same synthetised CloudFormation template.
Thanks @skinny85 I was not aware of this limit of CloudFormation.

I tried using ssm.StringParameter.valueFromLookup instead. It already saved me a few times :) But this is not working in that case as kms.Key.fromKeyArn is failing because the given value is the dummy one when fromKeyArn is executed.

Anyway, I used direc

[2021-05-25 15:47] nija-at commented on #14728
@rix0rrr @RomainMuller - the documentation is not reflecting the correct 'keyword' for the arguments to `CfnFunction`. Any idea why?

[2021-05-25 15:49] deldrid1 commented on #13767
+1 for @whimzyLive submitting a PR :)

[2021-05-25 15:51] RomainMuller commented on #14728
I'm going to venture this is because a trailing `_` on a label in ReST format has a specific meaning (and hence it does not get rendered in the HTML). Maybe we are missing an escape sequence somewhere or something like so...

[2021-05-25 16:12] markus7811 commented on #14560
This makes debugging of helm failures more complicated, because this error is also returned by cloudformation (you have to know that this is not the error causing the fail of resource update/creation, but format is not good in cf webconsole).
 Shouldn't an chmod og-r kubeconfig fix everything?

[2021-05-25 17:29] haapti opened #14866 "Cloudfront Distribution: Re-ordering behaviors"
## :question: General Issue

### The Question

**Is there a way to re-order behaviors inside already created distribution?**

The reason why im asking this is that im using Serverless `NextJSLambdaEdge` constructor for deploying Next.js app. My Next app needs custom distribution behaviors for several api routes but these behaviours drops on bottom of the list which makes them overridden by rules a

[2021-05-25 18:10] nirmash commented on #14728
Hey folks, we have identified the issue on our side and are in the process of deploying a fix that removes the Id property from the Lambda side. I will update here when deployment is done.
Apologies for the inconvenience.
Nir (Lambda team)

[2021-05-25 20:57] #10949 closed

[2021-05-25 21:12] haimlit commented on #1723
[cdk-drift-monitor](https://github.com/cdklabs/cdk-drift-monitor), a new repo, tries to solve this issue. Looking forward for feedback and comments!

[2021-05-25 21:18] skinny85 opened #14868 "!! NOTICE: "ValidationError: Circular dependency between resources" for SecretsManager RotationSchedule with rotationLambda"
Please add your +1 👍 to let us know you have encountered this
---

### Status: __IN-PROGRESS__

### Overview:

When using a `RotationSchedule` with a `rotationLambda`, there is a circular dependency that happens between the default IAM Policy of the `rotationLambda` Role, and the Function itself:

[code]

#### Complete Error Message:

[code]

### Workaround:

This regression was introduced in CDK

[2021-05-25 21:23] peterwoodworth commented on #14851
Thank you for your issue submission @cokia, we're happy to see that you want to contribute!

`screencast.gif` isn't supposed to be "used" anywhere. It's a [tutorial gif](https://github.com/aws/aws-cdk/blob/master/screencast.gif) showing how to do basic CDK commands on the CLI, so it's definitely still worth keeping around. Let me know if you want help finding other ways to contribute!

[2021-05-25 21:24] l0b0 commented on #14201
setuptools isn't included in the export from Poetry, because it's excluded from poetry.lock and the Poetry section of pyproject.toml. It looks like pip installs it anyway. So it looks like the way to fix this would be for CDK to either add *some* version of setuptools with hashes to the requirements.txt (risky) or to force `pip` to not install setuptools (`--no-deps`?).

[2021-05-25 21:25] skinny85 commented on #14851
`screencast.gif` used to be linked to from the main ReadMe. Now that it's not, I would also support removing it.

[2021-05-25 21:44] peterwoodworth commented on #14851
You're right, if it used to be linked in the readme and isn't anymore then it does make sense to remove the gif

[2021-05-25 22:51] peterwoodworth commented on #14419
Hey @andreadisimone, sorry for the long response time.

I can't seem to reproduce this specific synth output:

[code]

my output looks like this:
[code]

are you able to show me more information? Specifically the ways you are attaching policies to your role. This is what I'm doing:

[code]

[2021-05-25 23:03] skinny85 commented on #14868
Revert of the faulty PR: https://github.com/aws/aws-cdk/pull/14869

[2021-05-26 02:14] markilott commented on #13668
@elemakil unfortunately the only workaround I found was to use one security group per prefix list.

I think it would also be possible to export the prefix lists in one stack them import them back in as strings in another stack, but I didn't try it.

[2021-05-26 04:08] phuctm97 opened #14870 "(aws-cognito): Incorrect default string attribute maxLen"
Docs said that `StringAttribute` default`maxLen` is 2048, but it actually is `256`

### Reproduction Steps

Add a user pool resource and configure a custom string attribute without `maxLen`.

### What did you expect to happen?

No `maxLen` or `maxLen = 2048`.

### What actually happened?

Go to Cognito Console, check the attribute, it said max len is 256.

### Environment

  - **CDK CLI Version  :

[2021-05-26 05:20] suryakola opened #14871 "(aws-cdk): Cannot create a retry a step in state machine without creating multiple states"
## :question: General Issue
Cannot create a retry a step in state machine without creating multiple states like how specify the same task in "next" here https://docs.aws.amazon.com/step-functions/latest/dg/tutorial-create-iterate-pattern-section.html but when we create a chain or do a .next from cdk it expects a unique, which made me create multiple states instead of just retry and my workflow loo

[2021-05-26 06:42] eladb commented on #14555
I am not sure why we need the file size is included in the hash and I generally agree with @TRANTANKHOA that the hashing algorithm should normalize the inputs across OSs (for example, subdirectory paths come to mind as another thing that might be different, CRLF, etc).

We should revisit the hashing algorithm and remove/normalize any potential OS-specific elements.

@jogold is this something you'd

[2021-05-26 07:28] argenstijn commented on #4241
any process?

[2021-05-26 07:35] andreadisimone commented on #14419
Hi @peterwoodworth,

thanks for your reply. Unfortunately, in the meantime our setup changed considerably, and we moved away form EFS altoghether, so I cannot reproduce the exact configuration anymore.
However, this is what was happening:
1. in a separate stack, create the IAM role. similarly to what you do. we just use a ManagedPolicy and then attach the policy to the role instead
2. export the a

[2021-05-26 10:19] royby-cyberark commented on #14037
@rix0rrr  thanks again for you help.
so I tried using your suggestion of calling
`custom_resource.node.default_child.node.add_dependency(policy)`
Since the policy from from_sdk_calls is not an iam policy (it does not implement DependableTrait), I needed to do it on a role that I created.
but it still fails when trying to rename the param, I still get an error, unauthorized to putParam on the **new

[2021-05-26 11:01] DT07 commented on #5384
I faced the same issue after installing graalvm on my mac.

❌  xyz-stack failed: SignatureDoesNotMatch: Signature expired: 20210526T103633Z is now earlier than 20210526T105134Z (20210526T105634Z - 5 min.)
   at Request.extractError (/usr/local/lib/node_modules/aws-cdk/node_modules/aws-sdk/lib/protocol/query.js:50:29)
   at Request.callListeners (/usr/local/lib/node_modules/aws-cdk/node_modules/aws

[2021-05-26 12:12] RomainMuller commented on #14592
Are you positive this runs with `node 14.x`? This looks like the kind of error you'd get if you were running with a node version that does not support `=>` notation yet (like node 6 or something). It might be that the test framework is manipulating the `$PATH` and you're not running what you think you are...

[2021-05-26 13:15] baartch commented on #14351
I'm facing the same issue.

The following is the log of the SelfMutate action:

[code]

[2021-05-26 13:42] skeeters1 commented on #14838
Thanks for quick reply. Don't think I am accidentally running an older go version:
which go
`/usr/bin/go`

go version
`go version go1.16 linux/amd64`

cat go.mod
[code]

[2021-05-26 14:12] apmclean opened #14876 "(all modules): Using Dynamic References with 'number': types"
With Dynamic references available:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html

We're seeing more creative ways of using these dynamic references to supply values to CloudFormation templates.  This works well for any values that take a `string` or `IResolavble` but proves problematic for any interfaces typed as `number`.

### Use Case

Below is a (very) s

[2021-05-26 14:18] rix0rrr opened #14877 "(pipelines): SelfUpdate role assumes hardcoded role names"
Right now, the selfupdate action assumes hardcoded `*-publishing-role-*` and `*-deploy-role-*` roles.

We have to resort to this because we can't know the ACTUAL role names (they will only be known when the CXASM is written, and by the time we're putting together the policies that hasn't happened yet).

The current situation is bad for 2 reasons:

* It breaks if users use non-standard role names.

[2021-05-26 15:20] MrArnoldPalmer commented on #14838
This is likely some other environment issue but I'm not sure what it could be then. I'm unable to reproduce on either of my machines (macos & ubuntu) and the paths in the `go.mod` file are fine.

As far as I can tell the error comes from [JSII using the `embed` package](https://github.com/aws/jsii/blob/main/packages/%40jsii/go-runtime/jsii-runtime-go/internal/embedded/embedded.go#L4) which is in t

[2021-05-26 15:29] juanpujol commented on #12988
Having the same issue, can't resolve the right role mapping for Cognito.

[code]

[2021-05-26 15:52] skeeters1 commented on #14838
Many thanks indeed, will try exactly that. Sorry for reporting as a bug, I rather suspected it would be something local. Will poke around in JSII and let you know. Might be relevant for FAQ or installation instructions for full release.

[2021-05-26 16:22] kenchoong commented on #11818
So this really havent been done right?
No wonder I didnt see the `StageVariables` options for me to fill in [here](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_apigatewayv2/HttpStage.html)

Blocked me for whole days

[2021-05-26 16:51] BenChaimberg commented on #10810
@mikelane – the CDK team has started designing this construct and would love to see anything you have in progress to help guide our thinking!

[2021-05-26 16:57] stefwoj opened #14880 "Rest API deploymentStage undefined"
## :question: General Issue

### The Question

I am trying to add multiple base path mappings for my APIs. The stage however is always undefined, which requires manual setting in the GUI. the RestApis are defined in another stack in another repository and rely on CDK to automatically create deployment/stage objects. This works apparently, except when trying to refer to the deployment stage below:

[2021-05-26 16:58] skinny85 commented on #14876
Hi @apmclean,

thanks for opening the issue. The solution you're looking for is the [`Token.asNumber()` static method](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Token.html#static-aswbrnumbervalue):

[code]

Thanks,
Adam

[2021-05-26 17:07] skeeters1 commented on #14838
Fixed. Local config error: go aliased to go1.16 but /usr/bin/go symlinked to 1.13. Thank you for the key information that it was picking up the wrong go version. Closing.

[2021-05-26 17:07] #14838 closed

[2021-05-26 18:03] jmm commented on #14823
Hi @jogold, thanks for the reply and documentation update (I don't know if you made it yet, but at any rate I haven't seen it yet).

What if I want separate dependency management per function though? Say for example I have functions A-Z and want to incrementally update them to use a new major version of a dependency.

[2021-05-26 18:37] PoofyFoopy commented on #11818
@kenchoong not really, my workaround was to actually go into the console and add the variables. But I hope this gets added soon

[2021-05-26 19:30] skinny85 commented on #14868
PR with the patch release: https://github.com/aws/aws-cdk/pull/14881

[2021-05-26 20:23] jogold commented on #14555
I will have a look at this, yes.

Changing the hash algorithm will reupload all assets to S3/ECR and update all stacks. Not really breaking for S3 assets but potentially breaking for ECR/Docker assets that have `FROM` instructions that are not pinned to a specific version. Is this for v1?

[2021-05-26 20:25] jogold commented on #14823
I would do this the "node way"... with a monorepo where you have multiple packages and `package.json` files but only one lock file and a single install command.

[2021-05-26 20:57] apmclean commented on #14876
Hi Adam!

Thanks for this breadcrumb, interesting enough, but it appears the secondary type check continues to block synthesis.

[code]

Changed the Code Snippet above to:
[code]

[2021-05-26 21:19] skinny85 commented on #14876
Ah. I think I recognize that bug. It's the same as https://github.com/aws/aws-cdk/issues/14824, I believe.

Can you try the workaround mentioned in https://github.com/aws/aws-cdk/issues/14824#issuecomment-846221059, and see if that helps?

[2021-05-26 21:20] peterwoodworth commented on #14419
Thank you for the thorough reply, once again I apologize for the long response time.

If you want to do something like this again, I recommend creating the same role in both of your stacks. Roles are free of cost, so you won't need to worry about that. Alternatively, create the role in the console and call the same role in both your stacks. That way you'll avoid having to use importValue or CfnOut

[2021-05-26 21:20] #14419 closed

[2021-05-26 21:28] apmclean commented on #14876
Interesting workaround!  Yes that worked.

Changed to:

[code]

Which synthesized correctly.

[2021-05-26 21:46] skinny85 commented on #14876
Awesome, I'm glad you got unblocked.

Let's close this one, and track resolving this in https://github.com/aws/aws-cdk/issues/14824.

[2021-05-26 21:46] #14876 closed

[2021-05-26 22:11] YakDriver commented on #8404
The error message `Unable to launch provisioned product because: No launch paths found for resource` isn't super helpful. It can mean any of the following:

1. The product doesn't exist
2. The provisioning artifact doesn't exist
3. The product exists but it's in a failed state
4. You don't have access to the product
5. You don't have access to the product's portfolio
6. The product isn't associate

[2021-05-26 22:16] skinny85 commented on #14868
The fix has been released in [CDK version `1.106.1`](https://github.com/aws/aws-cdk/releases/tag/v1.106.1). Resolving.

[2021-05-26 22:16] #14868 closed

[2021-05-26 23:11] peterwoodworth commented on #8938
The intended way to position widgets is as @jain98 said above.
This:
[code]
will look like this:
<img width="1556" alt="Screen Shot 2021-05-26 at 3 53 19 PM" src="https://user-images.githubusercontent.com/44349620/119741682-0e779d00-be3b-11eb-986f-3f854124182f.png">
Each array of widgets is a new `Row`. [Let the autofilling work for you](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudwat

[2021-05-26 23:30] berenddeboer commented on #14351
Same issue with CDK 1.106. I assumed I had to give more permissions, so was reading up on how to do that. But this is the out of the box error.

[2021-05-27 00:25] jessekrubin opened #14885 "Efs+lambda: unable to mount more than one efs"
I can mount multiple efs volumes manually for a lambda but using the ts-cdk library I cannot mount more than a single efs volume.

[2021-05-27 02:07] berenddeboer commented on #14351
The error seems to be in `update-pipeline-actions.ts`:

[code]
If you add "cloudformation:GetTemplate" you get really odd behaviour: it seems to pick some random (first?) stack. I first had two stacks, the normal stack, and a separate pipeline stack. That behaviour doesn't seem very well supported from reading the code. So merged this all into one stack.

Then my deployment fails with:

[code]

I.

[2021-05-27 02:25] berenddeboer commented on #14351
Some more hacking: have changed the deploy command to:

[code]

This then fails with:

[code]

I can "cdk deploy" fine from my local machine.

[2021-05-27 02:35] berenddeboer commented on #14351
Ah right, I think I'm starting to get this. This is pretty new stuff. So CDK didn't attempt to write to a random stack at all, but to the bootstrap stack. So my stack needs to have permissions to write to this [bootstrap stack](https://docs.aws.amazon.com/cdk/latest/guide/bootstrapping.html) it seems.

[2021-05-27 02:45] Parker-Ledoux opened #14886 "(aws-cdk/aws-cloudtrail): Support DynamoDB as a DataResourceType in CloudTrail"
About two months ago, AWS CloudTrail officially announced support for audit logging and monitoring of DynamoDb. More information about that [here](https://aws.amazon.com/blogs/database/amazon-dynamodb-now-supports-audit-logging-and-monitoring-using-aws-cloudtrail/).
Today the aws-cdk only supports S3 and Lambda as data resource types and it would be super useful to be able to use cdk to construct

[2021-05-27 03:07] berenddeboer commented on #14351
OK, I think I got this fixed: people. Try setting:

[code]

in `cdk.json` and rerun `cdk bootstrap`. Then you don't need GetTemplate permission and you don't seen these errors.

[2021-05-27 03:42] berenddeboer commented on #1649
The current way to add this override is:

[code]

[2021-05-27 04:07] ds17f commented on #7413
I'm seeing the same problem when using CfnInclude on a template for VPC where the SecurityGroups have `Fn::If` in them.  When I run a `cdk diff` the output prints `rules.map is not a function`.   When I run `cdk diff -v` I get
[code]

I modified the code that appears to be causing an error to print out the content in `rules` and return an empty array.  This allow the template to run and shows me t

[2021-05-27 04:13] brightsparc opened #14887 "Add Event Target for Amazon SageMaker Model Building Pipelines"
Update the CDK [Event Targets for Amazon EventBridge](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-events-targets-readme.html) to support support [Amazon SageMaker Model Building Pipelines](https://docs.aws.amazon.com/sagemaker/latest/dg/pipeline-eventbridge.html) as a target.

SageMaker Pipeline [definitions](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_sagemaker/CfnPipeli

[2021-05-27 04:55] kenchoong commented on #11818
@PoofyFoopy Then how you invoke the different Lambda Alias? Can you do that?

[2021-05-27 05:38] baartch commented on #14351
Thank you very much!! Now that you mention it, I remember adding this to a test project once before 🤦

[2021-05-27 08:24] kenchoong commented on #11818
Alright, I list down all the problem I face as a record here:

1. In [HttpApi contsruct](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_apigatewayv2/HttpApi.html#aws_cdk.aws_apigatewayv2.HttpApi.add_stage), You can `add_stage(..)` but you cant add `stageVariables` into the stage

2. Then `add_routes()` method, integration is accepting `IHttpRouteIntegration` object as parameter, the

[2021-05-27 08:36] titanjer commented on #13179
Just report I got `error Command "esbuild" not found.` under yarn v1.22.10 and cdk 1.106.1 (build c832c1b)

[2021-05-27 08:43] plumdog opened #14888 "(aws-cdk/aws-ec2): unexpected behaviour passing AZs to vpc.selectSubnets"
Selecting subnets by AZ appears not to work as I would expect. Selecting with
[code]
works, but selecting with
[code]
returns no subnets.
### Reproduction Steps

See https://github.com/plumdog/cdk-vpc-subnets-by-az-bug

Running `./get_outputs.sh` in that codebase prints the cloudformation outputs from the synth-ed template. The outputs using the former have a ref of a subnet, the outputs using the

[2021-05-27 09:00] jogold commented on #13179
Can you open an issue with more details? I'm not able to reproduce this with cdk 1.106.1 and yarn 1.22.10.

[2021-05-27 09:19] cpecq opened #14889 "(ecr-assets): Repository linked to is no longer available"
[@aws-cdk/aws-ecr-assets module doc](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-ecr-assets-readme.html)

The api document links, to a repository that is no longer available.
The doc references #12597.

Creating a pr to fix this now.

---

This is a 📕 documentation issue

[2021-05-27 12:40] iliapolo commented on #14885
@jessekrubin We need some more information so we can properly investigate your scenario.

Can you please edit the issue according to our [issue template](https://github.com/aws/aws-cdk/blob/master/.github/ISSUE_TEMPLATE/bug.md)?

Thanks

[2021-05-27 12:56] iliapolo commented on #14773
@ofirnk Thanks for reporting this. Looks our validation is indeed out of place according to the [pricing page](https://aws.amazon.com/elasticsearch-service/pricing/)

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

However, a contribution is more than welcome.

[2021-05-27 13:13] iliapolo commented on #14362
@davidtucker Thanks for the explanation, I understand what you mean now.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p

[2021-05-27 13:29] kirintwn commented on #14756
Hey @iliapolo , I have already submit a PR 8 days ago, thanks.

[2021-05-27 13:47] iliapolo commented on #14808
@AjkayAlan thanks for reporting this. As you already pointed out, this is a consequence of stack tags not being applied to resources created by the `CustomResourceProvider`. Not specific to s3 here.

You can see more details here: https://github.com/aws/aws-cdk/issues/13851

[2021-05-27 13:55] leantorres73 opened #14893 "(elasticsearch): Cannot set parameters on deploy time"
description of the bug: Usually, I use SSM Parameter Store to get values for instance types for other services like RDS, EC2, etc. If I try to use a value from string parameter in Elasticsearch for masterNodeInstanceType, I get the following error:

"Master, data and UltraWarm node instance types must end with ".elasticsearch""

### Reproduction Steps

Create an Elasticsearch domain and set the va

[2021-05-27 13:58] leantorres73 commented on #14893
Nevermind, I changed it to be:

masterNodeInstanceType: `${ssm.StringParameter.valueForStringParameter(stack, 'ESInstanceTypeSSM', `${repositoryName}/elasticsearch/instance-type`)}.elasticsearch`,

and that did the trick for me.

[2021-05-27 13:58] #14893 closed

[2021-05-27 14:56] AjkayAlan commented on #14808
I am going to close this in favor of using the issue linked above.

[2021-05-27 14:56] #14808 closed

[2021-05-27 15:00] AjkayAlan commented on #13851
Another example: when using the `autoDeleteObjects` prop on an S3 Bucket, it will create both an `AWS::Lambda::Function` and an `AWS::IAM::Role` via the `custom-resource-provider` which are untagged.

[2021-05-27 15:12] shubham391 commented on #14756
@iliapolo Thank you providing the workaround.

[2021-05-27 16:11] CDillinger commented on #9039
I created a wrapper class as a workaround for my use case (using CDK version `1.97.0`). Hoping this can help anyone else who is blocked.

[code]

[2021-05-27 16:38] ayachnes2 opened #14895 "(@aws-cdk/custom-resources): NodeJs / Python Sample Code Links Dead"
In the [S3Assert](https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html#s3assert) section on the [custom resources module overview page](https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html), the last sentence of the first paragraph has two dead links:

Verbatim, the last sentence is:

`construct` should link to this: https://github.com/aws/aws-cdk/bl

[2021-05-27 16:44] jackm-ts commented on #2877
+1
Would love to see this specifically for SCPs

[2021-05-27 16:54] Apholisha opened #14897 "CloudFront.CfnDistribution; ErrorConfigurations not being created"
I'm using AWS CDK .NET to build up and deploy a stack that has a S3 Bucket and a CloudFront distribution in it.

Everything builds up and deploys without an error, but what I noticed is that the Custom Error Responses do not get created at all.

The distribution is there and looks good, but the custom error responces are not there.

### Reproduction Steps

Build Solution
cdk deploy
check portal

[

[2021-05-27 17:23] FlorinAsavoaie commented on #14629
Also getting this issue for `obtainDefaultFluentBitECRImage` from `@aws-cdk/aws-ecs`... This is really frustrating.

[2021-05-27 17:40] badfun commented on #13705
Where would this be? Not finding it in the developer guide, and following the 'How to: Create CDK Pipeline' is failing.

[2021-05-27 17:44] lschierer commented on #13705
This seems to be fixed for me since CDK updated to include the standard build image 5 instead of the standard build image 4 in v1.101.0

[2021-05-27 18:35] badfun commented on #13705
I am having that issue following the docs.  Using npm 7.14.0 and cdk 1.106.0

[2021-05-27 19:02] lschierer commented on #13705
[code]

my package-lock.json shows I'm telling it to use npm 7.14.0 and the cdk 1.106 set of packages.

[2021-05-27 19:43] McDoit opened #14898 "(cli): `cdk --all` deploys hidden stage stacks not displayed with `cdk diff --all`"
Running `cdk deploy --all` deploys stacks in stages, not visible when running `cdk diff --all`

Related to this feature: https://github.com/aws/aws-cdk/pull/14379

### Reproduction Steps

[code]

This creates both a stackset, but also the **hidden** stack deployment of **XYZ**

### What did you expect to happen?

Following the discussion about cdk and stacksets, creating a stage with a stack and s

[2021-05-27 22:00] jesterhazy commented on #10302
are there any updates on this issue? it's still not fixed due to PR being reverted.

[2021-05-27 22:18] BenChaimberg commented on #10302
#10356 was reverted in #11448 and so this feature was not implemented

[2021-05-27 22:35] danwiltshire commented on #14437
I'd like to understand in general how to handle this.  In my case I have two stacks; application and CICD.  CICD depends on ecs.FargateService outputs from the application stack but the Task Definition relies on a built image from CICD (via CodePipeline).  Today I'm using a placeholder image but I run into this exact problem.

I'm aware the CDK docs suggest deploying a synthed CloudFormation templ

[2021-05-27 23:27] skinny85 commented on #14437
@danwiltshire What's the problem with using `TagParameterContainerImage` as the CDK docs propose? What's "not clean" about it?

[2021-05-28 00:59] computerwizjared commented on #10534
I'm running into an issue too where I'm unable to set the `defaultAuthorizer` to an `HttpLambdaAuthorizer`. Any thoughts?

[2021-05-28 02:31] iRoachie commented on #10534
@computerwizjared @jeznag I found the issue with the default authorizer. Here's the PR https://github.com/aws/aws-cdk/pull/14904

Thanks for reporting

[2021-05-28 03:14] iRoachie commented on #14858
You can accomplish this right now by using response types.

[code]

[2021-05-28 03:25] huyluudinh commented on #6643
with aws_cdk 1.104.0, the "fix" doesnt work any more. I am getting this error:
`jsii.errors.JSIIError: Resolution error: Resolution error: Expected a string, got {"$jsii.byref":"@aws-cdk/core.Reference@10005"}..`
Anyone managed to implement IPSetReferenceStatementProperty in newer cdk?

[2021-05-28 06:55] plenti-daniel-ho commented on #6119
Same issue, any hints?

[2021-05-28 08:43] danwiltshire commented on #14437
Hey,

My use case may be unique.  The pipeline is triggered when application source code changes (essentially just a Docker image build with Packer, hosted in a different repo).

So to use `TagParameterContainerImage` I would need to:
- Implement everything per the CDK docs (I would have to pull the CDK code into the CodePipeline which runs when the application source code is changed)
- Split the

[2021-05-28 10:28] msimperi commented on #6430
I saw this error today with CDK version 1.105.0 similar error. One stack failed to this validation error always after it has been uploaded. It just started to happen when deploying locally. With other stacks all good and those are 100% from configuration point of view.

[code]

[2021-05-28 10:32] msimperi commented on #6430
It seems to me that after naming something in the stack to get different stack generated (different hash), it started to work. Again when returning to the same stack (identical hash), I'm getting this error 100% of the rounds. It has to be that something with S3 file publishing has failed.

[2021-05-28 10:45] arnaskro commented on #12929
Hi, any update on this? I see it's tagged with with a small effort label, but that would be a huge help for us to get this working move forward 🤞

[2021-05-28 12:59] anafaggiano opened #14905 "(@aws-cdk/aws-events): detailType property does not translate to `detail-type` JSON field on Archive creation"
During an Archive creation, when defining an event pattern to filter events sent to the soon-to-be-created archive, **the `detailType` field does not translate to `detail-type` in the produced event pattern**.

It stays as `detailType` in the produced JSON filtering pattern used by the archive. This results in us not being able to set the `detail-type` field on archive creation.

### Reproduction

[2021-05-28 14:40] Ashleyhen opened #14907 "(aws-eks): Is there a KubernetesVersion.V1_20?"
Is there a KubernetesVersion.V1_20? The newest version V1_19 in @aws-cdk/aws-eks:"^1.106.1" appears to be deprecated

![image](https://user-images.githubusercontent.com/84979436/120000715-1bae9c00-bfa1-11eb-8600-0e2f01685fd7.png)

[2021-05-28 15:19] njlynch commented on #14866
There is not currently a way to re-order behaviors on a Distribution. I'm repurposing this as a feature request to track it. I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out to the cdk.dev community on [Slack](http

[2021-05-28 15:24] njlynch commented on #14850
As you noted, the bucket ARN does not contain enough information for us to correctly ascertain the region of the bucket. The simple solution is to import the bucket with a method that provides this information:

[code]

That will set the proper bucket domain name attributes so the CloudFront Distribution can use the right domain.

[2021-05-28 15:24] #14850 closed

[2021-05-28 15:26] chtpl commented on #2756
please add it

[2021-05-28 15:45] njlynch commented on #14897
It looks like you've defined your own `CustomErrorResponseProperty`, rather than using the built-in from the CDK. Any particular reason? I was able to reproduce the issue, but it went away when I used the built-in, rather than the custom defined class:

[code]

[2021-05-28 16:14] hizvi opened #14910 "ecr-assets: can't use docker build options like --ssh/--secret available when BUILDKIT is enabled"
docker build options `--ssh` / `--secret` can not be used with `aws-ecs.AssetImage` or `aws-ecr-assets.DockerImageAsset`

these options are available with docker build when `DOCKER_BUILDKIT=1` is enabled.

### Use Case

Docker image builds may require access to private resources that require ssh keys and/or secrets. Docker BuildKit allows mounting them safely.

### Proposed Solution

The docker ut

[2021-05-28 16:46] skinny85 commented on #14437
I have to say, I don't exactly follow your setup.

Where is the CDK code that defines your infrastructure deployed?

[2021-05-28 16:56] danwiltshire commented on #14437
Separate repo and has multiple stacks.  That seemed to make more sense to me rather than having a CDK project for each application (in each application repo).

[2021-05-28 17:02] skinny85 commented on #14437
Sorry, I'm still not following...

Can you maybe write a simple diagram, maybe using https://app.diagrams.net, that shows:

1. What are your deployment Pipelines.
2. What sources do the deployment pipelines have (CDK code, application code).
3. How is the CDK application code divided.
4. Where is the CDK code that defines the deployment Pipeline(s).
5. Where is the CDK application code deployed.
6

[2021-05-28 17:19] danwiltshire commented on #14437
![Screenshot 2021-05-28 at 18 14 48](https://user-images.githubusercontent.com/35703524/120019632-9945cc80-bfe0-11eb-83f7-b9bed1cabc82.png)

Quick and crude diagram.  My goal is what OP is asking for - to prevent CloudFormation replacing a running image which was deployed to the FargateService outside of CDK using CodePipeline.

[2021-05-28 17:20] MrArnoldPalmer commented on #12929
Hi, we have no update on this currently. Amplify is in developer preview and we don't have any set plans to work on this right now on the core team side. PRs are welcome though if you're able.

[2021-05-28 17:23] callumthomson commented on #14850
@njlynch Ok thanks for the solution, but should the CDK be making such assumptions? Could at least fail or give a warning indicating that the required information is missing. It seems like an issue to me that the CDK will go ahead and configure something incorrectly like this.

[2021-05-28 18:28] gliptak opened #14911 "updating aws_cdk.core.Stack id leaves previous CF stack deployed/behind"
updating aws_cdk.core.Stack id leaves previous CF stack deployed/behind

### Reproduction Steps

[code]

At this point `AppStack` is deployed.

Update

[code]

to

[code]
and run

[code]

### What did you expect to happen?

After creating new CF stack, old CF stack removed.

### What actually happened?

There are now two CFs deployed, both old and new one, Running `cdk destroy` only deletes the ne

[2021-05-28 18:45] gliptak opened #14912 "(bootstrap): renaming bootstrap CF stack?"
## :question: General Issue

https://docs.aws.amazon.com/cdk/latest/guide/bootstrapping.html states

[code]

### The Question

When is the bootstrap stack named differently?

Can CF stack name be overridden?

### Environment

  - **CDK CLI Version  :** 1.105.0 (build 4813992)
  - **Framework Version:** 1.105.0
  - **Node.js Version:** v14.16.1
  - **OS               :** Linux
  - **Language (Versi

[2021-05-28 18:56] corrjo commented on #13179
We are getting the same issue as @titanjer

Error message:
[code]

These are the relevant package.json and yarn.lock files.
https://gist.github.com/corrjo/e73f4c8db6b29fb613b7039e5e94c9e8

pretty straight forward use of  NodejsFunction
[code]

[2021-05-28 19:04] cprice404-aws commented on #6734
thanks @zstarkebaumcalico !  That was super helpful.

Here's a TypeScript example that also uses Spot instances, based on the code above.  Hacky but better than nothing until CDK supports launch templates and instanceDistribution.

[code]

[2021-05-28 19:14] skinny85 commented on #14437
In my opinion, the problem is that you've split the deployment between code and infrastructure, and that's why you're running into this problem.

Unless you're willing to dramatically change your setup, and move the CDK deployment also to the Pipeline (which is absolutely what you should do), I don't think you'll ever solve this problem.

[2021-05-28 19:25] danwiltshire commented on #14437
Fair enough, I appreciate your help and I'll have a play with the setup!

[2021-05-28 19:39] skinny85 commented on #7413
This is similar to https://github.com/aws/aws-cdk/pull/12975. We should definitely fix it.

[2021-05-28 20:11] ahammond commented on #13179
Same issue with `error Command " esbuild not found.` while using a `NodejsFunction()`.

[2021-05-28 20:20] ahammond commented on #13179
I suspect that using projen got us yarn 2 with PnP which is what's breaking us.

[2021-05-28 20:25] jogold commented on #13179
Can you share a minimal repro in a new issue?

[2021-05-28 20:52] jogold commented on #13179
OK found the problem, will fix it.

Only happens when consuming a node module that uses a `NodejsFunction`.

[2021-05-28 21:02] jogold commented on #13179
#14914

[2021-05-28 21:07] jacobevans commented on #9304
@mcalello Did you ever figure out a good pattern for doing this?  It's now pretty easy to build a new cluster from a snapshot with `DatabaseClusterFromSnapshot`, but I still don't see a good option for the bits about keeping track of the final snapshot from the previous instance, and using that one (or starting from scratch if it doesn't exist).

[2021-05-28 21:16] jacobevans commented on #10936
Is there a workaround for this missing feature that anyone's come up with?

[2021-05-28 21:29] followben commented on #9304
@jacobevans We already a wrapper script that invoked the CDK as part of our CI pipeline, so I modified that to look for an environment variable with a snapshot ARN (which got updated at the end of every deploy via the SDK). If it found one, it used that as the basis for the cluster instead of starting greasy & post deploy did the work of updating the master user credentials (again, using the SDK).

[2021-05-28 22:11] corrjo commented on #13179
🙏🏼

[2021-05-29 00:46] gliptak commented on #14821
Published my Python construct image at https://github.com/gliptak/aws-cdk-python

[2021-05-29 02:01] apoorvmote opened #14915 "(aws-appsync): the api key expiry date keeps changing after each deploy"
I have created api key for graphql api authentication and set expiry date after 365 days from deployment. See the link below.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Expiration.html#static-aftert

It says `Expire once the specified duration has passed since deployment time.`

It keeps recalculating expiry date on every deploy and updating expiry date.

Is that intended behav

[2021-05-29 02:08] masterchop commented on #7128
i dont understand why uploading files through the CDK is so painful in compare with the SDK. SDK just works and faster.

[2021-05-29 02:08] masterchop commented on #7128
i dont understand why uploading files through the CDK is so painful in compare with the SDK. SDK just works and faster.

[2021-05-29 06:59] agalazis commented on #9304
Yes the only thing I would be looking for is a way to import latest snapshot by tag comination

[2021-05-29 07:49] heiba commented on #9740
Hello @NetaNir, any news on this please ?

[2021-05-29 07:49] heiba commented on #9565
@NetaNir any news on this please ?

[2021-05-29 15:36] michaelbrewer commented on #2004
Unfortunately this seemed to have stalled.

From the looks of things adding event notifications to existing buckets might also eventually be fixed at the CFN level.

For people that are inpatient it would have been nice to add this to CDK, otherwise a standalone solution will have to be created.

[2021-05-29 16:39] likeabbas commented on #894
If you are going to use the example that @sssd-dev provided to give your private subnet ipv6 addresses, you should probably set  the `routerType` to `ec2.RouterType.EGRESS_ONLY_INTERNET_GATEWAY` to keep your private instances/tasks from having an exposable ipv6 address.

[2021-05-29 17:24] shubham391 commented on #14907
@Ashleyhen CDK doesn't directly support 1.20 at the moment. There's an issue created to add this support: https://github.com/aws/aws-cdk/issues/14756

There is a workaround to this though which worked for me: https://github.com/aws/aws-cdk/issues/14756#issuecomment-849635115

[2021-05-29 21:54] nmduarteus commented on #14779
Hi @peterwoodworth - this would be a great addition.

Seems that CFN already supports AppRunner - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apprunner-service.html

thanks!

[2021-05-30 02:34] amkuchta opened #14919 "(aws_sns_subscriptions): EmailSubscription 'Only root constructs may have an empty ID' error when a parameter used as the email"
### Description
Using the following code, the stack fails to deploy:

[code]

The error thrown is as follows:

[code]

### Reproduction Steps
Attempt to generate a deployment that includes an `EmailSubscription` construct; a sample can be found [here](https://github.com/amkuchta/video-on-demand-on-aws/tree/cdk-conversion/aws-vod-cdk).

### What did you expect to happen?
The application should depl

[2021-05-30 10:02] viventra opened #14920 "(aws-cdk): Cannot perform more than one GSI creation or deletion in a single update"
## :question: General Issue

### The Question

In my C# CDK project, I am trying to create two Global Secondary Indexes on a table. I get the following error while running `cdk deploy`:

[code]
I would imagine this is quite a common use case to have a table with multiple GSIs. Why is this not supported out-of-the-box? Is there a work around?

If I comment out the GS index creation and then add the

[2021-05-30 14:08] briancaffey commented on #8836
I posted a SO question related to this: https://stackoverflow.com/questions/67762104/how-to-install-aws-load-balancer-controller-in-a-cdk-project

I have also been trying to do this. I am trying to write a high-level CDK construct that can be used to deploy Django applications with EKS. I have most of the k8s manifests defined for the application, but I am struggling with the Ingress part. Looking

[2021-05-30 14:55] heiba commented on #2765
@MrArnoldPalmer @RomainMuller While I'm chasing the CloudFormation team to hopefully update us on this issue. Any chance the CDK team can implement it using a custom resource ?

[2021-05-30 15:25] lkr2des commented on #8836
@briancaffey I ran into the similar issue of unable to get ALB(without cert manager) installation working with CDK helm due to targetgroup binding crds dependency.I couldn't get the target group CRDs installation working via CDK.But manually as you've stated target group crds worked for me too.ALB(without cert manager) using add_manifest method worked though as I couldn't find an similar equivalen

[2021-05-30 22:28] micheal-hill commented on #8836
I have a _working CDK deployment of ALB with fargate_:
[code]
Hopefully the missing pieces from this are self explanatory. I'd like to write this up properly to share when I have the time, because it was quite a lot of trial/error to get here!

[2021-05-30 22:46] briancaffey commented on #8836
@micheal-hill Thank you very much for sharing. I'm going to try this out and hopefully move past these errors I have been having installing the AWS Load Balancer Controller. I have had a lot of failed pipelines and it is pretty discouraging but I would really like to figure this out and hopefully contribute some documentation about how to install this controller with a vanilla EKS setup using CDK.

[2021-05-30 22:52] joekendal commented on #7089
For me, this silly error was caused by using SSM Parameter Store instead of Secrets Manager

[2021-05-31 07:02] jpascoe opened #14923 "(stepfunctions): state machine name validation fails when tokens are used in name"
A bug was introduced in 1.93.0 that causes code to break using cdk creating step function with cf parameter value used in step function name.

https://github.com/aws/aws-cdk/issues/13289
https://github.com/aws/aws-cdk/commit/6c3d4071746179dde30f615602592c2523daa56e
https://github.com/aws/aws-cdk/commit/58de0de5a54b9d8fb4658566e85ef408c8861088

### Reproduction Steps

    project_id = core.CfnParam

[2021-05-31 07:05] emilioego commented on #5804
This is the schema:

      protocol: 'http:',
      slashes: true,
      auth: null,
      host: 'proxy-url:8080',
      port: '8080',
      hostname: 'proxy-url',
      hash: null,
      search: null,
      query: null,
      pathname: '/',
      path: '/',
      href: 'http://**proxy-url**:8080/',
      ca: readIfPossible(caBundlePath),
      keepAlive: true,

[2021-05-31 07:56] Apholisha commented on #14897
I did have plans was to default the values

[code]

Anything wrong with my implementation,  or it's the interface?

[2021-05-31 11:00] iliapolo commented on #14560
@markus7811

Probably. You want to take a stab at it? If it is that simple we should probably be able to merge it quickly.

[2021-05-31 11:20] iliapolo commented on #14724
@lucaswilric unfortunately there is no way to suppress them. You can convert this issue to a feature request and we will consider addressing it.

[2021-05-31 11:32] #14823 closed

[2021-05-31 12:06] mooperd opened #14925 "Inconsistent member initialisation"
Hello,

I am struggling to understand why these enumerators are behaving so differently. I cant find any documentation that explains why. Please can I have some guidance.

Thanks,

Andrew

[code]

[2021-05-31 12:43] wascou opened #14926 "(module name): short issue description"
I try to build a serverless cluster in a default VPC without nat gateways.
There's a mutual dependency between ServerlessCluster and VPC with no NatGateways.
A VPC can be created with nat gatways, but a serverless cluster requires to have a private subnet.
If you provide a natgateways=0 param, then module is raising an exception as configuration has a PRIVATE subnet.

Resources:
1. Doc of VPC [con

[2021-05-31 12:55] wascou commented on #14926
And as always, I'm finding the solution just after having submitted the issue !

In the ServerlessCluster, we can put a `vpcSubnets` params describing in which kind of subnet type we want to put the database.

We can then set this up:

[code]

Doc [here](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-rds-readme.html#starting-an-instance-database).

[2021-05-31 13:04] kevinfguo commented on #8080
Any updates on this?

[2021-05-31 13:07] markusl opened #14927 "(aws-events): RuleTargetInput.fromObject does not work with two EventField.fromPath fields"
Background:
We run custom builds using AWS CodeBuild for pull request branches before the code is merged to the main branch.

Basically, we trigger a CodeBuild running a buildspec for any branch that gets created to run linters, security scans etc..

To be able to identify which branch we are running in the buildspec we would need to include the `referenceFullName ` in the EventBridge event (see h

[2021-05-31 13:34] briancaffey commented on #8836
@micheal-hill I think I was able to get the CRDs deployed thanks to the code you shared, but I'm still getting issues installing the Helm chart. I posted an issue in the https://github.com/aws/eks-charts repo here https://github.com/aws/eks-charts/issues/529 where I provided a full explanation of the issue I'm having with more detailed error messages. Am I missing anything here? In your script, it

[2021-05-31 15:21] rirze opened #14928 "(cdk): Field from AWSCustomResource cannot be used as Parameter"
I'm trying to use a value from an API call (via AWSCustomResource and AWSApiCall objects) to set a parameter for another resource. However, I am unable to do synthesize, since JSII complains about the parameter being an string (`$Token[...]`) instead of being an integer as expected.

### Reproduction Steps

The following is a code sample to illustrate the idea, but is not exactly functional. If de

[2021-05-31 16:36] aax commented on #5810
Would passing a stack parameter value into a secret be considered secure? I guess that way it will also never get coded into the template or anywhere in cdk.out. Would this also work with the approach described by @njlynch ?

[2021-05-31 16:44] haapti commented on #14866
ok, thanks! this hack works fine and going to use it until something better is available.

[2021-05-31 17:13] gshpychka opened #14929 "(aws-ecs): AddCapacityOptions not allowing associate_public_ip_address=True while specifying AZ"
When adding capacity to a ECS cluster, I can't specify the availability zones I want while also setting associate_public_ip_address to True.

### Reproduction Steps

Apologies for an incomplete sample, I hope this is enough to illustrate the issue

[code]

### What did you expect to happen?

I expected it to successfully select Public subnets in the specified AZ

### What actually happened?

Durin

[2021-05-31 17:30] maddy2u commented on #8863
Any update on this?

[2021-05-31 17:31] maddy2u commented on #12443
Any update on this?

[2021-05-31 17:34] gshpychka commented on #14929
I now realize that I cannot assign public IP to a EC2-based ECS service, so my use-case is not relevant. Not sure what that says about the issue overall.

[2021-05-31 20:58] gliptak opened #14930 "Python construct to generate and use Pipenv for package management"
Python construct to generate and use Pipenv for package management

https://packaging.python.org/tutorials/managing-dependencies/

### Use Case

Currently generated Python construct sample app uses `virtualenv`

### Proposed Solution

Generate and use Pipenv for package management instead

### Other

https://github.com/aws/aws-cdk/issues/9324

* [x] :wave: I may be able to implement this feature r

[2021-05-31 22:15] zacyang commented on #8836
note eks-charts recently updated version of aws-loadbalance-controller image as well. see https://github.com/aws/eks-charts/pull/519/files , additional permission will also be required.

[2021-05-31 22:58] NGL321 commented on #12757
A workaround has been given by the Glue team. Since `AllocatedCapacity` has been deprecated, users should use the `NumberOfWorkers` and `WorkerType` fields together. However, those are not presently included in the CDK.

With that in mind, I am changing this to a Feature Request and am investigating what it would take to add those fields as we speak.

😸 😷

[2021-05-31 23:11] shivlaks commented on #12757
the [documentation](https://docs.aws.amazon.com/step-functions/latest/dg/connect-glue.html) for the service pattern needs to be updated as well.

@NGL321  - the main question to answer re: adding support is whether the new properties can be specified as part of the state input path (dynamically rather than static allocation to a type). That is what will determine whether `NumberOfWorkers` should b

[2021-06-01 00:27] Brian969 commented on #14701
@naveenkoppula

[2021-06-01 00:32] joehillen commented on #12757
@shivlaks I think you meant @johnhill2424

[2021-06-01 04:16] hherbert89 commented on #5637
Same here :( I'm just trying to describe the cloudformation stacks and loop through them but keep encountering this error often.
`Throttling: Rate exceeded
    at Request.extractError
    at Request.callListeners
    at Request.emit
    at Request.emit
    at Request.transition
    at AcceptorStateMachine.runTo`

[2021-06-01 04:24] touzoku opened #14932 "(aws-cloudfront): Invalid Cloudformation specification for AWS::Cloudfront::Function"
The newly released `AWS::Cloudfront::Function` has a mistake in specification and therefore has an invalid autogenerated `cloudfront.CfnFunction` construct code.

[Here in the documentation ](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudfront-function.html#cfn-cloudfront-function-functionconfig) it says that `FunctionConfig` is not required, while in practice it

[2021-06-01 04:53] touzoku commented on #14932
Also, while we are at it, could you please instruct how to use `this.physicalName` in this case?

I am trying to use it as follows from looking at similar code at dynamodb/table.ts and rds/instance.ts:

[code]

but it fails during synth with `Error: Resolution error: Supplied properties not correct for "CfnFunctionProps" name: required but missing. at ValidationResult.assertSuccess ...`

I was und

[2021-06-01 05:29] danielsharvey commented on #5455
My suggested workaround is to use the [AWS SDK for JavaScript v3](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/), specifically the [AWS Credential Provider for Node.JS](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/modules/_aws_sdk_credential_provider_node.html) which supports SSO credentials from the token cache.

So with an AWS SSO profile configured:
[code]

(written to `~/.a

[2021-06-01 05:49] zxkane opened #14933 "(eks): KubernetesObjectValue returns the warning msg from kubectl"
Have a code snippet to fetch the value of Kubernetes object,

[code]

The k8s object uses the deprecated object in latest Kubernetes, for example,

[code]

 Though the command runs without error. The output of `kubectl` has a warning message for the deprecated usage.

Have a look at the implementation of `get` handler, it redirects the stderr to stdout. Any reason for it?

https://github.com/aws/a

[2021-06-01 06:00] zxkane commented on #8836
For whom is interesting deploying ALB into EKS via CDK, you can refer to the implementation of below solution,

https://github.com/aws-samples/nexus-oss-on-aws/blob/d3a092d72041b65ca1c09d174818b513594d3e11/src/lib/sonatype-nexus3-stack.ts#L207-L242

[2021-06-01 06:37] hoegertn commented on #14932
You can look at https://github.com/aws/aws-cdk/pull/14511 which implements the L2 for CF Functions.

[2021-06-01 08:38] warden opened #14934 "(aws-kms): sse-s3 key policy not updated"
I have defined a bucket like this, to use the `aws/s3` SSE-S3 managed key:

[code]

Now, for the cross-account pipeline deployment (launch pipeline from main account, grant access from the target account to read from the main's account bucket above) I am granting access to this bucket to **other IAM accounts** with:
[code]

This works for the Bucket policy, but seems it misses adding permissions o

[2021-06-01 09:02] warden commented on #3458
I'm reading [this](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-kms.Key.html#addwbrtowbrresourcewbrpolicystatement-allownoop) and I start to get a feeling that the SSE-S3 key that is auto-created doesn't have the optional Policy attached to it, so I cannot modify it - and indeed if I add `false` to addToResourcePolicy(...,false) then cdk fails.
Is my feeling correct that I need to

[2021-06-01 09:03] warden commented on #14934
I'm reading this and I start to get a feeling that the SSE-S3 key that is auto-created doesn't have the optional Policy attached to it, so I cannot modify it - and indeed if I add false to addToResourcePolicy(...,false) then cdk fails.
Is my feeling correct that I need to have to use CMK in such case instead?

[2021-06-01 09:34] nija-at commented on #14870
The console does autofill the max length field with 256 but this is not the actual limit. I was able to create a custom attribute of length 1024. See attached screenshot.

![Screenshot 2021-06-01 at 10 33 38](https://user-images.githubusercontent.com/16217941/120301589-ee296180-c2c4-11eb-8cb6-eae6630d12a9.png)

[2021-06-01 09:40] nija-at commented on #14826
Hi @0xjjoyy -

As far as the CDK is concerned, we only configure the values provided under [`MaximumBatchingWindowInSeconds`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html#cfn-lambda-eventsourcemapping-maximumbatchingwindowinseconds) and [`BatchSize`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-even

[2021-06-01 09:52] phuctm97 commented on #14870
So it's the Congito Console bug, anyway we can report that?

[2021-06-01 09:53] nija-at opened #14935 "📊Tracking: AWS APIGateway V2 - Websocket APIs"
Add your +1 👍  to help us prioritize high-level constructs for this service
---

### Overview:

[AWS Docs](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api.html)

### Maturity: Experimental

See the [AWS Construct Library Module Lifecycle doc](https://github.com/aws/aws-cdk-rfcs/blob/master/text/0107-construct-library-module-lifecycle.md) for more information a

[2021-06-01 09:54] nija-at commented on #6830
I've reclassified this tracking issue to track HTTP APIs.

I've opened a separate tracking issue for Websocket APIs - https://github.com/aws/aws-cdk/issues/14935. Add your +1 if you're interested in these.

[2021-06-01 10:04] nija-at commented on #14715
Hi @jrobbins-LiveData,

Thanks for filing this issue!

However, surfacing more of the internals is not the approach we usually take in the CDK. The underlying implementation can change in the future for any number of reasons (bug fixes, new features, refactors, etc.).

We're actually missing implementations for authorizers for Websocket APIs. This would've looked similar to what we have for HTTP A

[2021-06-01 10:06] nija-at commented on #14836
What about these properties - [`WebsocketStage.url`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigatewayv2.WebSocketStage.html#urlspan-classapi-icon-api-icon-experimental-titlethis-api-element-is-experimental-it-may-change-without-noticespan) or [`Websocket.apiEndpoint`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigatewayv2.WebSocketApi.html#apiendpointspan-

[2021-06-01 10:09] nija-at commented on #14858
+1 to @iRoachie's comment above.

[2021-06-01 10:11] njlynch commented on #14850
In these types of situations, we try to assume reasonable defaults for the majority cases. Users importing buckets often either are using the buckets in the stack's region or the region isn't important for their use-case; by defaulting domains to the current region, we can enable reasonable defaults without making the user explicitly provide the region to be able to import a bucket. Requiring the

[2021-06-01 10:11] nija-at commented on #14870
I don't know if it's a bug. It's just a suggested value that you can always modify.

You will need to reach out via AWS support.

[2021-06-01 11:09] njlynch commented on #14919
This error would occur if the `props.adminEmail` was an empty string; are you sure the string is being set? I see in your code it's coming from `const adminEmail = this.node.tryGetContext('adminEmail') ?? '';`. I'd replace that with something like this as a first troubleshooting step:

[code]

[2021-06-01 11:42] chtpl opened #14936 "aws-codepipeline-actions: Feature: allow use of deploy keys for GitHubSourceAction"
Currently the Github Action can be configured this way:

[code]

I want to be able to use Github deploy keys instead of the OAuthToken

### Use Case

Due to compliance requirements we can't give AWS the permission to read all repos from Github which would be the case with an OAuth Token as far as I understoof

### Proposed Solution
Allow to specifiy deploy keys

### Other

* [ ] :wave: I may be ab

[2021-06-01 12:00] amkuchta commented on #14919
I'll give this a shot after work this evening.  The rest of my context variables are getting pulled ok, so I don't know why this one wouldn't be, but it is worth a shot!

[2021-06-01 12:15] adam-nielsen commented on #14836
Not quite - they give some information but one of the values required to fully use the websocket is missing:
[code]
The Websocket.apiEndpoint is the base URL (not sure exactly what it's needed for), the WebsocketStage.url is the public URL clients connect to and send messages to your server process, and the [HTTPS endpoint](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-ho

[2021-06-01 12:24] piby180 opened #14937 "(cognito): Argument of type 'this' is not assignable to parameter of type 'Construct'."
I am having a hard time figuring out what is the issue here even though I have same versions of cdk dependencies.
`const identityPool = new cognito.CfnIdentityPool(this, "IdentityPool", {`

[code]

[code]

### Reproduction Steps

[code]

### Environment

  - **CDK CLI Version  : 1.106.1
  - **Framework Version:**
  - **Node.js Version:**  v16.2.0
  - **OS               : Ubuntu
  - **Language (Ver

[2021-06-01 15:04] amkuchta commented on #14919
So, it looks like you are right, @njlynch - the value is not being set from the context.  But that raises a new question for me of why that isn't happening when (almost) all of my other context variables are being set just fine (there is one other one that is also not set for some reason).  I'm going to dig into that - I'll open a new ticket if need be.

Thanks!

[2021-06-01 15:04] #14919 closed

[2021-06-01 15:12] hzainuddin2002 commented on #14855
I had a similar issue when attempting to use cfn-signal for a windows instance. I used the method to manually override the metadata of the resource. That will probably be your best bet. Your override will come after the constructor so you can reference the logicalresourceid its a bit more declarative and you'll need to pass the entire json object as string

[2021-06-01 15:23] #14773 closed

[2021-06-01 15:27] AdminTurnedDevOps opened #14941 "`from_managed_policy_name` method in `aws_iam` not working as advertised (description below)"
`aws_iam` in the AWS CDK has a method called `from_managed_policy_name`. The definition of the method states on line `5144` that you only need to know the name of the policy. However, that's not true. The `from_managed_policy_name` method requires you to add in the `scope` and `id`

### Reproduction Steps

Code below of what fails:

[code]

### What did you expect to happen?

Expected the ability

[2021-06-01 15:49] ccicchitelli opened #14943 "(dynamodb): Tags not replicated when creating a Global Table"
When creating a Global Table in DynamoDB with CDK, tags are not propagated to the replication regions and there is no ability to define tags for those replication regions. As a result, our resources are remediated by internal tools due to missing tags.

### Reproduction Steps

When creating a Global Table via CDK, I add the following prop to my Table Construct:
`replicationRegions: ["us-east-2"]`

[2021-06-01 16:15] skinny85 commented on #14920
Duplicate of https://github.com/aws/aws-cdk/issues/12246.

[2021-06-01 16:15] #14920 closed

[2021-06-01 16:30] skinny85 commented on #14926
Glad you figured it out @wascou 🙂.

[2021-06-01 16:30] #14926 closed

[2021-06-01 17:14] rverma-nsl commented on #894
Actually our whole usecase is to have exposable ipv6, to replace NAT with free of cost egress only internet gateway.

[2021-06-01 18:44] skinny85 commented on #14943
Hey @ccicchitelli ,

thanks for opening the issue. You can try applying the Tags this way:

[code]

[2021-06-01 19:09] uxth opened #14944 "codepipeline: Deploy EKS via codepipeline reported a S3 access denied error"
Hello

I have created a pipeline via cdk scripts, which deploys a VPC, an EKS, and some other stuff.
Manually deploy all the stacks via cdk deploy, works fine.
Deploy the codepipeline, works.
codepipeline tries to deploy the application stage, which contains all the stacks above.
1st step, download code from github, works.
2nd step,  synth, works,
the application stage
1st step, deploy VPC, works

[2021-06-01 19:13] skinny85 commented on #14936
Hey @chtpl,

I would try to provide CodePipeline with the deploy keys instead of the personal access token, and see if that possibly works.

Alternatively, you can use the [`CodeStarConnectionsSourceAction` class](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-codepipeline-actions.CodeStarConnectionsSourceAction.html) instead, and see if that works. If it doesn't, I'm worried there's

[2021-06-01 19:20] peterwoodworth commented on #14941
Hey @AdminTurnedDevOps, thanks for submitting this issue

`scope` and `id` are parameters that the CDK requires whenever you declare a construct in your CDK code. You can read about these params [here](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html#constructs_init)

The `props` parameter is different for each construct, and [in this case](https://docs.aws.amazon.com/cdk/api/latest/do

[2021-06-01 19:20] #14941 closed

[2021-06-01 19:28] skinny85 commented on #14934
Hey @warden ,

thanks for opening the issue.

Yes, you need to use a CMK for cross-account CodePipeline.

Simply specify `encryption` as `BucketEncryption.KMS`. The CDK will take care of the rest.

[2021-06-01 19:36] warden commented on #14934
Hi @skinny85,

Thanks for quick response. Indeed, I think I misintepreted [this blog post](https://aws.amazon.com/about-aws/whats-new/2020/12/amazon-s3-bucket-keys-reduce-the-costs-of-server-side-encryption-with-aws-key-management-service-sse-kms/) and I thought that I have to use `SSE-S3` not to pay for extra KMS traffic, now that I re-read it, I understand that if the CMK is just on the bucket-l

[2021-06-01 19:36] #14934 closed

[2021-06-01 20:05] skinny85 commented on #14934
Glad you got yourself unblocked!

It's for using the S3-managed KMS Key. You can't use it for cross-account CodePipelines though.

[2021-06-01 20:27] skinny85 commented on #14944
Hey @uxth,

thanks for opening the issue. Can you please show your code creating the Pipeline?

Thanks,
Adam

[2021-06-01 20:35] peterwoodworth commented on #14925
`MysqlEngineVersion` is a class and not an enum like [SubnetType is](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.SubnetType.html), so that's certainly a reason it's behaving differently.

You'll want to use the [`of()` method](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-rds.MysqlEngineVersion.html#static-ofmysqlfullversion-mysqlmajorversion) for the `MysqlEngi

[2021-06-01 20:39] akuma12 commented on #14824
@peterwoodworth Yeah sorry, I should have mentioned how I was getting the secret. I'm using Secret.from_secret_attributes, but passing in the `secret_complete_arn` along with the `encryption_key` as we used a custom KMS key for encryption. Thanks very much for looking into this! It seemed odd as I've been able to use `core.Token.as_number()` for other constructs that required number inputs.

[2021-06-01 20:40] hassanazharkhan commented on #14778
@shivlaks Can I pick this up?

[2021-06-01 20:59] uxth commented on #14944
Hello @skinny85 ,

it is in my github repo, named cdkpipeline.

Thanks

[2021-06-01 21:13] r0b0ji opened #14945 "(cdk): Generate designer view from cdk"
CDK has all the information necessary to generate diagram. CDK generates cloudformation and in cloudformation we can see the designer view with all resources and their connection.

It will be useful to have diagram generated locally during build time by invoking a script. This will help during reviewing the CDK code, it will also help to add the generated diagram link in README of the project to k

[2021-06-01 21:38] peterwoodworth commented on #14851
Thank you for helping us to clean this up @cokia 😄

[2021-06-01 21:38] #14851 closed

[2021-06-01 21:43] skinny85 commented on #14824
Yes, because this is a bug 🙂 https://github.com/aws/aws-cdk/pull/14913

[2021-06-01 21:46] peterwoodworth commented on #14912
Yes! all you have to do is use the `--toolkitStackName` option

`cdk bootstrap --toolkitStackName MyBootstrapStack`

[2021-06-01 21:59] peterwoodworth commented on #14855
Hey @hnajera, have you tried hzainuddin2002's workaround?

The CDK doesn't feature support for `cfn-hup`, [here's a feature request for it](https://github.com/aws/aws-cdk/issues/12529) that you should upvote if you would like to see this feature!

[2021-06-01 22:01] skinny85 commented on #14944
Great, can I see it? 🙂

[2021-06-01 22:02] uxth commented on #14944
definitely

[2021-06-01 22:07] skinny85 commented on #14944
Can you send me the link to the code then please?

[2021-06-01 22:08] uxth commented on #14944
https://github.com/uxth/cdkpipeline

sorry, I thought you are able to see

[2021-06-01 22:08] SoManyHs commented on #14929
@gshpychka That's corect, I'll go ahead and close this issue then!

[2021-06-01 22:08] #14929 closed

[2021-06-01 22:15] skinny85 commented on #14945
Hey @r0b0ji ,

have you seen CDK Explorer? https://docs.aws.amazon.com/toolkit-for-vscode/latest/userguide/cdk-explorer.html

[2021-06-01 22:32] skinny85 commented on #14944
Did you perform the correct bootstrapping of the account you are deploying to, as described here? https://docs.aws.amazon.com/cdk/api/latest/docs/pipelines-readme.html#cdk-environment-bootstrapping

[2021-06-01 22:33] uxth commented on #14944
do you mean in the code or in my terminal?

[2021-06-01 22:43] peterwoodworth commented on #14907
The next CDK version to release should include this PR that has been approved: https://github.com/aws/aws-cdk/pull/14758

In the meantime the workaround already posted should work just fine

[2021-06-01 22:43] #14907 closed

[2021-06-01 23:09] #14756 closed

[2021-06-01 23:21] McDoit commented on #8065
I'm using double ziping as a workaround with my usecase of using cdk to create stacksets

I have my pre-zipped assets in a folder which then gets zipped by the bucket deployment, but would be the same by zipping manually and pointing the bucket deployment on that zip

[2021-06-01 23:24] peterwoodworth commented on #14800
Adding feature request label, thanks jogold for submitting a PR for this! We'll look at it soon

[2021-06-01 23:29] skinny85 commented on #14944
I see it's a Nested Stack. Maybe that's the problem? Perhaps Nested Stack support has some bug in CDK Pipelines?

I'm leaving this one for @rix0rrr and @otaviomacedo to diagnose, since it's a CDK Pipelines issue (and not just CodePipeline, which I initially thought).

[2021-06-01 23:29] peterwoodworth commented on #13825
@rix0rrr thoughts on this?

[2021-06-02 00:09] amkuchta opened #14948 "(construct): Private context file & context precedence"
### Description

Reading through the [Runtime Context](https://docs.aws.amazon.com/es_es/cdk/latest/guide/context.html) documentation, a few things jump out at me:

1. There isn't any indication on which locations that the context can be set in take precedence over the other. Reading through the documentation, it appears that the order is `--context` > `cdk.context.json` > `cdk.json`, however, I h

[2021-06-02 00:33] NickIannelli opened #14949 "(aws-apigateway): Support DisableExecuteApiEndpoint parameter"
(Almost the same as #12241)

Cloudformation AWS::ApiGateway::RestApi supports simple boolean [DisableExecuteApiEndpoint](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html) parameter.

The DisableExecuteApiEndpoint parameter is missing from @aws-cdk/aws-apigateway [RestApi](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.Rest

[2021-06-02 00:55] hnajera commented on #12529
Hi all, in our case we have a lot of existing applications and 3rd party software that don't support the instance replacement behavior, either way we want to automate the provisioning of that kind of instances and cloudformation has been key in the effort, but now we migrated everything from cfn to cdk and it would be nice that we can remove all the custom code used to work with cfn script helpers

[2021-06-02 01:06] ccicchitelli commented on #14943
Thanks @skinny85 ! That did not have any effect for me, I tested both with an existing table and a new test table I tried to find a workaround by running a post-deploy CLI command to tag the relication region by ARN, but my organization doesn't allow that either unfortunately.

[2021-06-02 01:20] hnajera commented on #14855
Hi @peterwoodworth and @hzainuddin2002  and thanks for your responses, even I'm working on a workaround to obtain the logical id , I just want to share the progress on this because I was able to implement the cfn-hup in this way:

[code]

As you can see I'm hardcoding the logical id of the instance **BaseInstanceDD81DA14** but I will try to use placeholder to later replace that value dynamically

[2021-06-02 02:43] MisterGlass commented on #5892
Are there any updates on this? Just ran into this in python, and I can't seem to override the subnets after creation like in the posted TypeScript workaround

[2021-06-02 06:18] dineshtrivedi commented on #14657
Hi, I am sorry, I was on leave, and took me a while to get back to this issue.
Thank you @peterwoodworth  and @MrArnoldPalmer.

Just FYI, when I came back to the office, I updated the CDK version to the latest, and the code above worked. So I don't know what was the issue, but now it is working.

[2021-06-02 08:18] JamieMcKernanKaizen commented on #6548
Yup, this also applies to imported KMS keys. I'm trying to grand a lambda function in Stack B permissions to decrypt a key on a bucket (both in Stack A) by importing the key from A into B and adding to the resource policy. But when printing a response I always get `statementAdded: false`.

Changing the allow/deny on the resource policy has no effect (CDK reports no changes) so yes, this silent fai

[2021-06-02 09:25] phuctm97 commented on #14870
Based on AWS docs, it is not possible to change the constraint of a custom attribute after it was created. Anyway, will close this and report error to AWS later. Thanks for checking.

[2021-06-02 09:25] #14870 closed

[2021-06-02 09:36] #14889 closed

[2021-06-02 10:56] asnaseer-resilient commented on #14079
@BryanPan342 - Any updates on this?

[2021-06-02 12:46] eladb commented on #14857
@seawatts thanks for proposing this feature. It might take some time before we are able to prioritize this, but if you'd like to contribute I am happy to help out.

Since this is a production module we are unable to break existing api, but we can mark it as @deprecated (while still supporting it) and add a new option with a different name with an enum type (maybe call it `sourceMapOptions` for lac

[2021-06-02 14:07] badfun commented on #13705
I deleted the stack and re-installed and the issue went away.

[2021-06-02 14:43] Nemanjalj66 commented on #2516
@skinny85
Do you maybe have an idea why the proposed approach for Typescript doesn't work for C# .net?
I have the same issue as @FernandoCaletti:
Unhandled exception. Amazon.JSII.Runtime.JsiiException: Validation failed with the following errors:
  [Pipeline] Stage 'Deploy' must have at least one action

[2021-06-02 15:02] alex-a-ncino commented on #10827
Also impacted by this issue. We are adding tags to stacks and they get propagated to the resources within those stacks but not for the API Gateways/Stages. Looking at the CF template we do see the tags present but when we check the UI (Configure Tags) the tags are not added. Also, in our cost analysis reports broken down by tags, we don't get the API Gateways.

[2021-06-02 15:14] hzainuddin2002 commented on #14855
Set this block as a placeholder:

               setupCfnHup: new ec2.InitConfig([
                      ec2.InitFile.fromString('/etc/cfn/cfn-hup.conf',
                          [
                              'placeholder'
                          ]

Outside your ec2 construct override its value:

[code]

Havent tested - just double check you overriding the right metadata path. Look at the syn

[2021-06-02 15:44] maapteh opened #14956 "(@aws-cdk/aws-s3-deployment): wrong MIME type for WebAssembly files"
When using the BucketDeployment we have small options to include and exclude. Somehow we are not getting it right. The origin lays in the fact that aws s3 is serving .wasm files as wrong MIME type namely `content-type: binary/octet-stream` while it should be `content-type: application/wasm`.

Im wondering why feature requests like:
https://github.com/aws/aws-cdk/issues/7090
https://github.com/aws/

[2021-06-02 16:52] blake-enyart commented on #2004
Thanks for all the amazing work you have put into this @michaelbrewer ! I've been following along on this for months so excited about all the work you are doing on this

[2021-06-02 18:06] vzverv commented on #2004
I would like to join @blake-enyart and thank you @michaelbrewer for all the time and efforts you invested into this project!

[2021-06-02 19:30] skinny85 commented on #2516
@Nemanjalj66 can you show your code? That doesn't seem like an error related to the custom Action implementation...

[2021-06-02 20:06] Nemanjalj66 commented on #2516
`public class ElasticBeanStalkDeployActionProps : CommonAwsActionProps
    {
        public string ApplicationName;
        public string EnvironmentName;
        public Artifact_ Input;
    }`

[code]

        public ElasticBeanStalkDeployAction(ElasticBeanStalkDeployActionProps props)
        {
            this.props = props ?? throw new ArgumentNullException(nameof(props));
        }

        p

[2021-06-02 20:08] uxth commented on #14944
any updates?

[2021-06-02 20:13] peterwoodworth commented on #14781
Thanks for the heads up ABevier, but [this is currently supported in cloudformation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ecs-service.html#cfn-ecs-service-capacityproviderstrategy). Since it is supported by an L2, it can definitely be supported by an L3.

Currently there is no way to add what you want @purvesta, so thank you for the feature request! Here's th

[2021-06-02 20:27] NGL321 commented on #13668
Hey @markilott,

Thank you for reporting this, I just did a little bit of quick research to see if I could find where the issue is. While I didnt find anything conclusive, it looks like the likely culprit is this block of code in the `addEgressRule` function of `SecurtiyGroup`:

https://github.com/aws/aws-cdk/blob/c832c1bf68d528c347cbe52a67cd7c0824d33d64/packages/%40aws-cdk/aws-ec2/lib/security-gr

[2021-06-02 20:30] peterwoodworth commented on #14880
Hey @stefwoj, have you tried setting the stage for the RestApi on declaration using the [`deploy`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.RestApi.html#deploy) and [`deployOptions`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.StageOptions.html#stagename) properties?

The `deploymentStage` prop says "API Gateway stage that points to the la

[2021-06-02 20:35] NGL321 commented on #14456
Hey @jonathanmorley,

Thank you for bringing this to our attention, its a shame that it wasnt resolved with the first issue.  It seems that there was some information that Rico had requested that wasnt provided [as seen here](https://github.com/aws/aws-cdk/issues/10777#issuecomment-720502681). Could you make sure to provide this info and someone from the dev team will take a look when time permits

[2021-06-02 20:42] peterwoodworth commented on #14910
@SoManyHs can you comment on why this is an ecr-assets issue?

[2021-06-02 20:49] peterwoodworth commented on #14437
@danwiltshire please keep us updated on if the guidance skinny posted helped you out!

[2021-06-02 20:50] NGL321 commented on #14494
Hey @raimohanska,

Thank you for making the request. This seems like a totally reasonable addition to the EC2 Construct Library. After a little digging I found that the feature you want exists in the L1 for EC2 through the [`LaunchTemplateDataProperty`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ec2.CfnLaunchTemplate.LaunchTemplateDataProperty.html) construct (which is a prop of

[2021-06-02 20:55] NGL321 commented on #14567
Hey @joehillen,

Thank you for submitting this report. Someone from the team will look into it in more depth as time permits. If you are interested in getting this resolved faster, feel free to submit a PR for a fix yourself or alternatively you can get more likes and we will bump this up our priority list.

😸 😷

[2021-06-02 21:00] danwiltshire commented on #14437
Sure, I actually implemented a working solution in the past few hours.

I'm now using the TagParameterContainerImage solution mentioned in the [CDK docs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-codepipeline-actions-readme.html#deploying-ecs-applications-stored-in-a-separate-source-code-repository).

The main change was tightly coupling application and infrastructure within the applicat

[2021-06-02 21:00] NGL321 commented on #14335
Hey @liamfd,

Thank you for reporting this, this does look concerning. If you want to implement and submit a fix yourself, that would be welcomed, otherwise someone from the dev team will take a look as soon as time permits.

If you want to increase visibility with 👍  to the issue we may bump it up on our priority list.

😸 😷

[2021-06-02 21:14] peterwoodworth commented on #14937
I can't reproduce this, I see your CLI version is `1.106.1`, maybe that has something to do with it?

Is this issue still present if you upgrade to `1.107.0`?

[2021-06-02 21:23] hoegertn commented on #14937
Please pin your CDK version by removing the `^` in front of it. I bet yarn/npm installed some libs in version `1.106.0` and some in the newer `1.106.1`.

This error message basically means you have different CDK versions in your node_modules.

[2021-06-02 22:22] shivlaks commented on #14923
@jpascoe I believe this issue was resolved with #13970 which was included as of [`v1.98.0`](https://github.com/aws/aws-cdk/releases/tag/v1.98.0)

[2021-06-02 22:23] shivlaks commented on #14923
i'm resolving this issue as I believe it's already been fixed. feel free to re-open if i've missed something and there is still an outstanding issue that requires attention.

[2021-06-02 22:23] #14923 closed

[2021-06-02 22:28] l0b0 opened #14961 "(cloudformation-diff): Addition of the bootstrap version Rule is not recognized and printed confusingly"
### Reproduction Steps

Based on [How to upgrade CDK bootstrapping?](https://stackoverflow.com/q/67783136/96588):

1. Observe the following within a single CI pipeline:

[code]

### What did you expect to happen?

There should be no warnings or error messages when running `cdk diff` after this.

### What actually happened?

[code]

Since the pipeline had already run `cdk bootstrap` with the very l

[2021-06-02 22:31] BryanPan342 commented on #14079
I'm finishing up my school quarter atm so don't have the bandwidth atm, but will look to implement it sometime in the summer

[2021-06-02 23:23] skinny85 commented on #2516
Hmm, you're right @Nemanjalj66 . I tried this:

[code]

But it fails with the error:

[code]

I've raised an error to the JSII project: https://github.com/aws/jsii/issues/2870, let's see what they say.

[2021-06-02 23:53] chrisjgray commented on #14943
@ccicchitelli, thanks for opening this. I actually just experienced this for the first time today myself. I also tried the workaround @skinny85 suggested, and it didn't work for me either.

[2021-06-03 02:31] hastarin commented on #3325
Just a note that I ran into a similar issue with a simple stack and found this issue.

In my case (Windows 10, C# based stack) uninstalling nodejs 32-bit and installing the 64-bit version resolved the issue.

[2021-06-03 03:55] jonlegendre commented on #14456
Next time I see the error I will take a look at getting that information.
I will say that if I delete the network interfaces manually, I can then delete the security groups, so I expect that is the issue.
One other coincident that may be part of the root cause. I have noticed that when other processes fail within my integration test, that is also when the destroy fails. E.g. I run a step function

[2021-06-03 05:02] jonlegendre commented on #14456
I was able to reproduce this again, it looks like when glue fails (due to nothing connection or security related) that the destroy also fails. Extremely odd.
I examined the following:
- My security groups did not have any dependencies on one another -- I examined these with the command
```aws ec2 describe-security-groups --query "SecurityGroups[*].{ID:GroupId,Name:GroupName,dependentOnSGs:IpPermis

[2021-06-03 05:14] ajaysuwalka commented on #6947
This issue is also coming from

<pre>
Setting "CDK_DEFAULT_REGION" environment variable to us-east-1
Resolving default credentials
Unable to determine the default AWS account: TypeError: Cannot redefine property: saml
    at Function.defineProperty (<anonymous>)
    at /usr/local/lib/node_modules/aws-cdk/node_modules/aws-sdk/lib/shared-ini/ini-loader.js:11:14
    at Array.forEach (<anonymous>)

[2021-06-03 05:23] h1008 opened #14964 "(aws-docdb): Missing option to enable minor version upgrade"
When creating a DocumentDB cluster using the DatabaseCluster construct, there is no way to set the option autoMinorVersionUpgrade for instances created by that cluster. The DatabaseInstance construct offers this option but since the DocumentDB cluster construct always creates at least one instance automatically, there is no way to enable this option for all instances.

### Use Case

For security r

[2021-06-03 05:27] raimohanska commented on #14494
Thanks Noah! Good to get some validation for my idea. Unfortunately I cannot promise to be able to make time for implementing this myself, as it would most likely take quite a while to get up to speed with CDK development. It would for sure be an interesting challenge!

I have patched this omission in the CDK by setting subnetId for the instance when creating it using the AWS SDK [RunInstances](ht

[2021-06-03 06:18] lavie opened #14965 "aws-ecs-patterns: allow using public subnets instead of EIPs + NAT gateway"
Constructs such as `ApplicationLoadBalancedFargateService` by default create NAT gateways and provision elastic IPs.

Since EIPs are rather scarce it would be nice if users of these constructs could disable them by using public subnets for the clusters, instead.

This is a :rocket: Feature Request

[2021-06-03 08:18] cornelcroi opened #14967 "CloudFront Functions definition from file"
CF2 definition from a file instead from inline code

### Use Case

It allows to have a cleaner code instead of mixing everything in a single cdk file.
It is also easier to read.

### Proposed Solution

Could be something similair with what we have for Lambda:

[code]

### Other

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

[2021-06-03 08:27] hoegertn commented on #14967
Yes, that is already planned and I am working on it. I just wanted to get the feature out asap.

[2021-06-03 08:38] Nemanjalj66 commented on #2516
Thank you for your answer @skinny85 !
The reason why you got a different error is that your ElasticBeanStalkDeployAction is derived from the abstract class Action. In the code I posted, you can see that ElasticBeanStalkDeployAction actually implements the IAction interface. I have also tried the approach you did and got the same error, but I've been hoping that implementing the IAction interface w

[2021-06-03 08:52] jasonumiker opened #14968 "(aws-eks): Use the new Managed Cluster Add-Ons for AWS CNI, kubeproxy and CoreDNS"
Now that EKS has Managed Add-On for the three things that come with an EKS cluster it'd be great if CDK's Cluster construct could leverage them with IRSA as well as help with their upgrade to new versions after the corresponding EKS version upgrades are done to the cluster etc.

[2021-06-03 08:57] sebdec commented on #10113
same error as @arliber for me with @aws-cdk@1.107.0

[2021-06-03 09:10] njlynch commented on #14967
Thanks for continuing this work, @hoegertn ! I'm assigning the issue to you for tracking purposes.

[2021-06-03 10:33] cbrgm commented on #9606
@matwerber1 any updates? I just ran into the same problem.

[2021-06-03 10:48] EloyTolosa commented on #7089
I have the same problem, but this is drivng me nuts.

I have the same personal access key to try to get the code from two repositories. In one repository, the token works. For the other one, it does not. And I can't really see the problem as it just throws "InternalError". This is just crazy. Why just with one repository? What is happening with the other repository? They are in the same location.

[2021-06-03 11:46] #8905 closed

[2021-06-03 12:02] iliapolo commented on #14933
Hi @zxkane - Thanks for reporting this.

The reasoning here being that if `stderr` exists, the command actually fails and an exception is throw with the complete output.
It seems like this reasoning may not always be correct, but i'm also not a 100% convinced this warning isn't being printed to `stdout` - Have you verified this?

In any case, I acknowledge its an issue and I am unassigning and mar

[2021-06-03 12:13] balan-jayavictor commented on #13703
@pszabop thanks for sharing!
I was able to get CDK to grant permission to the index resource, by using dynamodb.Table.fromTableAttributes

[2021-06-03 12:17] guusvw commented on #11129
Any updates on that one?

[2021-06-03 12:31] otaviomacedo commented on #14968
Hi, @jasonumiker. Thanks for bringing this to our attention.

Can you elaborate on what you mean by the Cluster construct leveraging these add-ons? If you have an example of what the API would look like, it would help making the discussion more concrete.

[2021-06-03 12:40] otaviomacedo commented on #14956
Hi, @maapteh. Thanks for raising this.

As you point out, this problem is being tracked by two other issues and prioritized accordingly against our backlog.

Having said that, do you think there is anything specific about WebAssembly? In other words, if we add support for file name patterns in general, would it solve your specific problem?

[2021-06-03 12:41] iRoachie commented on #10534
@computerwizjared @jeznag [the fix just landed in master](https://github.com/aws/aws-cdk/commit/25412a60971d3e332fa22fad4c44122eef9dfd2c). Should be available in the next release.

[2021-06-03 12:45] maapteh commented on #14956
Yes for WebAssembly it would fix our main issue currently, since streaming compilation failed which makes it slower for the devices. So that's why we needed the feature, but if you can look in the rootcause why by default it gives the wrong MIME type that would be perfect!

[code]

[2021-06-03 13:25] gliptak commented on #14912
@peterwoodworth thank you for pointing me to `--toolkit-stack-name`

Although it is not clear reading https://docs.aws.amazon.com/cdk/latest/guide/cli.html it seems that this override is expected to be present for other operations interacting with the account like `deploy`/`destroy`

[2021-06-03 13:30] otaviomacedo commented on #14956
The root cause is that Python's [mimetypes] library (that the AWS CLI relies on to guess the MIME type) doesn't have a mapping for WebAssembly. You can try to send a pull request to them with a new entry:

[code]

[mimetypes]: https://github.com/python/cpython/blob/cedc9b74202d8c1ae39bca261cbb45d42ed54d45/Lib/mimetypes.py#L402-L530

[2021-06-03 13:33] ms-stefan opened #14971 "(aws-ecs-patterns): Expose ECS task on ScheduledFargateTask for further use"
Currently, the ScheduledFargateTask does not expose the EcsTask for further use.

To process the task's values (i.e. the security group), the EcsTask should be exposed.

As a possible use case, a user could try to define accesses based on the security group of the task.

Fixed by #15127 (Thanks to @SoManyHs )

[2021-06-03 13:45] ramancloudsmartz opened #14972 "(elb) set accessLoggingPolicy property with L2 LoadBalancer"
As the **elb** property readonly private , it has no visibilty outside. Also there is no method to access it. There is no provision to enable access log for LB

https://github.com/aws/aws-cdk/blob/master/packages/%40aws-cdk/aws-elasticloadbalancing/lib/load-balancer.ts

[2021-06-03 13:54] maapteh commented on #14956
It has:

https://github.com/python/cpython/blob/main/Lib/mimetypes.py#L444

[2021-06-03 15:11] severn-everett commented on #14843
This might be unrelated, but I am seeing this issue as well when using Node 16. Here are the contents of the Node-zipped lambdas:

Node 14.17.0:
![AWS_Lambda_Node_14_17_0](https://user-images.githubusercontent.com/12528881/120667968-4bbcda00-c48e-11eb-8264-6ac8a105fb69.png)

Node 16.2.0:
![AWS_Lambda_Node_16_2_0](https://user-images.githubusercontent.com/12528881/120668016-5aa38c80-c48e-11eb-90dc-

[2021-06-03 15:18] Spider-ant commented on #3434
Hi @skinny85 ,

Can this method be used for lambda layers as well?
e.g.
[code]

[2021-06-03 15:21] pachicoo opened #14973 "s3 setBucketAccelerateConfiguration Access Denied"
In existing accounts, I have enabled S3 Transfer Acceleration using Escape hatches, and it works perfectly.
A new account was created, and now I'm getting the Access Denied error only on that account.
The rest of the infrastructure was created without error.

### Reproduction Steps

        self.copyamicrossregions_bucket = s3.Bucket(self, "copyamicrossregionsBucket",

[2021-06-03 15:27] matwerber1 commented on #9606
@cbrgm yes, actually found my problem.

The issue was that I was correctly updating `cdk.json` with the `"@aws-cdk/core:newStyleStackSynthesis": true` flag, but the mistake was that I was *locally* running `cdk deploy` afterward to test the changes.

Being new to CDK pipelines, I didn't realize this was the mistake. With the way the pipeline runs, its actually going to pull the latest changes from

[2021-06-03 15:28] otaviomacedo commented on #14956
In that case, I'm closing this issue as a duplicate of the other two. Feel free to +1 them, which helps us prioritize our work.

[2021-06-03 15:28] #14956 closed

[2021-06-03 15:44] cbrgm commented on #9606
@matwerber1 Unbelievable! You just made my day! Thank you very much, that's what it was ...

[2021-06-03 15:52] otaviomacedo commented on #14915
Hi, @apoorvmote. Your expectation makes sense.

I am unassigning and marking this issue as `p2`, which means that we are unable to work on this immediately. Also, keep in mind that this is an experimental library and some of these behaviors haven't been fully defined yet.

We use +1s to help prioritize our work, and are happy to revaluate this issue based on community feedback. You can reach out t

[2021-06-03 15:52] joekendal commented on #7089
@EloyTolosa if it’s an organisation repo does your account have the same access rights? It needs to be an admin of the repository in order to access the webhook settings.

[2021-06-03 16:21] peterwoodworth commented on #14912
What makes it seem that way?

[2021-06-03 16:33] bweigel commented on #12372
@hoegertn did you hear back from the CFN team yet?

[2021-06-03 17:13] uxth commented on #14944
@skinny85 is there any other people who can answer this question?
I dont think @otaviomacedo @rix0rrr have the time here.

[2021-06-03 17:57] jonathanmorley commented on #14456
@NGL321 I'm confused as to where I come in here. Was it a case of mistaken identity?

[2021-06-03 18:04] skinny85 commented on #3434
@Spider-ant I personally have not tried it, but I don't see why it would not 🙂.

[2021-06-03 18:06] gliptak commented on #14912
@peterwoodworth running `cdk deploy` shows `--toolkit-stack-name` option

[code]

[2021-06-03 18:33] hoegertn commented on #12372
Unfortunately not. I sent them another occurrence too. In this case I found out it was a resource type that was not supported in that region.

So currently I suspect that this error means "something went wrong" but we have no idea what.

[2021-06-03 18:48] skinny85 commented on #2516
Yeah, you're right @Nemanjalj66, I was able to reproduce that error... this looks like another JSII bug, unfortunately 😕.

[2021-06-03 18:56] jonlegendre opened #14977 "@aws-cdk/aws-s3-deployment: replacing all content of deployed folder results in missing files"
Given a folder path to which I deployed a set of files, something like the following:
bucket/folder/common/file1.py
bucket/folder/common/file2.py
bucket/folder/common/file3.py

When I update my code, removing all 3 of those files, and putting a new one in, something like:
bucket/folder/common/newfile.zip

The initial deployment after that change results in the common folder going away.
A few thing

[2021-06-03 18:59] #14746 closed

[2021-06-03 19:03] skinny85 commented on #14943
Hey all,

I believe this is a DynamoDB limitation.

The CDK uses the [`UpdateTable` DynamoDB API to create the replica](https://github.com/aws/aws-cdk/blob/093ebcb942cd789b2516b4b3f577db3c9c1766c4/packages/%40aws-cdk/aws-dynamodb/lib/replica-handler/index.ts#L21-L30). If you look at the [documentation of that call](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateReplicatio

[2021-06-03 19:35] Spider-ant commented on #3434
Using python and base on the example above an error is thrown when attempting to assign() twice in the parameter overrides of the CFN deploy action.

[2021-06-03 20:14] ryparker commented on #12544
Hey @baumannalexj 👋🏻

Thanks for providing clear reproduction steps! I spent some time going through those steps with the latest release `v1.107.0 (build 52c4434)` and was not able to reproduce the error you were receiving. It may be possible that this bug was fixed in a recent update.

Could you check to see if upgrading your CDK to the latest resolves this issue?

[2021-06-03 20:15] ryparker commented on #12235
Hey @udondan 👋🏻

Thanks for bringing this to our attention. I tried to reproduce this with the latest CDK `v1.107.0 (build 52c4434)` however I did not notice the progress bar appearing on the destroy command. This may have been fixed in a recent package update.

Could you try reproducing this with the latest CDK?

[2021-06-03 20:16] ryparker commented on #12270
Hey @metametadata 👋🏻

Thanks for suggesting this. I'm going to leave this issue as p2 which means that we are unable to work on this immediately. However we use +1s to help us prioritize our work, and as always we are happy to take contributions.

If anyone is interested in lending a hand this is a great first issue to tackle. A good place to start is by following the steps described in our [contr

[2021-06-03 20:18] peterwoodworth commented on #14912
Hm, I've never used this option myself, I wonder what the use for that would be. Is there any reason you're interested in renaming the toolkit stack?

[2021-06-03 20:24] gliptak commented on #14912
@peterwoodworth the usecase is to comply with customer specific S3 bucket naming convention (like `company-department-application-environment`) allowing to apply various permissions/rules/monitoring/etc. based on patterns

[2021-06-03 20:34] ryparker commented on #11597
Hey @ntroutman 👋🏻

Thank you for submitting this bug report! Would you mind providing more information on how you're setting the value for `$.sm_endpoint_config.instance_count` in your `sfn.JsonPath`? To better prioritize this issue we'd like to confirm how that value is being set before assuming this is a bug.

[2021-06-03 20:41] peterwoodworth commented on #14972
Thanks for the feature request! If you want to do something like this immediately using the CDK you can set these same properties in your load balancer using ElbV2 ALB or NLB and using the [`logAccessLogs` method](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-elasticloadbalancingv2.NetworkLoadBalancer.html#logwbraccesswbrlogsbucket-prefix)

[2021-06-03 20:50] cstst commented on #10002
I was not able to get the above solution working as I did not have direct access to the `CfnUserPool` via `fromUserPoolId` or `node.defaultChild`.

I was however able to add triggers to a user pool imported via `fromUserPoolId` by using a custom resource:

[code]

[2021-06-03 21:23] ryparker commented on #12467
Hey @smaxwell-amazon 👋🏻

I noticed that you're passing in the the entry path as the `id` argument of the NodejsFunction constructor.

Check out these docs: [NodejsFunction class](https://docs.aws.amazon.com/cdk/api/latest/typescript/api/aws-lambda-nodejs/nodejsfunction.html#aws_lambda_nodejs_NodejsFunction) | [NodejsFunction props](https://docs.aws.amazon.com/cdk/api/latest/typescript/api/aws-lamb

[2021-06-03 21:29] tomeldar commented on #7094
Hi @NetaNir,

I've ran into this issue and checked out the closed PR, seeing that it will be pushed to v2 of the CDK. I understand that changing the default will cause issues, but there is seemingly no workaround.

If I set allowAllOutbound to false, I can only add IPV6 egress and not IPV4. I get prompted with the following error:
`Cannot add an "all traffic" egress rule in this way; set allowAllO

[2021-06-03 21:35] #13618 closed

[2021-06-03 21:44] ryparker commented on #12610
Hey @ncaq 👋🏻

Thanks for bringing this bug to our attention! I'm going to leave this issue as p1 because the potential impact of this is significant. The fix suggested above looks like an appropriate way of fixing this.

If anyone is interested in lending a hand this is a great first issue to tackle. A good place to start is by following the steps described in our [contribution guidelines](https:/

[2021-06-03 21:56] NGL321 commented on #14977
Hey @jonlegendre,

Thank you for reporting this bug! From quick evaluation the problem here is likely to stem from the retention policy of `BucketDeployment`. As you can see here:
https://github.com/aws/aws-cdk/blob/52c443474a97a6f8d5cac402e9cb7343f6af9db4/packages/%40aws-cdk/aws-s3-deployment/lib/bucket-deployment.ts#L232
It SHOULD be strictly converting over the supplied prop, however it does no

[2021-06-03 22:03] NGL321 commented on #14973
Hey @pachicoo,

Thank you for reporting this! I have not yet reproduced, but considering the limited scope of this bug, I am marking it as lower priority. If you disagree and think this has a wider impact, OR you find the root cause/a fix yourself, we can reevaluate escalating priority.

That said, someone will take a look at fixing this when able. Unfortunately, without more information on how yo

[2021-06-03 22:15] upparekh commented on #10113
Hi @sebdec, can you share some details of your use case? Are you also getting this error while trying to attach a Firelens log router to your task definition?

I had previously tried to reproduce this error by attaching a FireLens log router (code snippet [here](https://github.com/aws/aws-cdk/issues/10113#issuecomment-820762007)) but it wasn't throwing any errors while synthesizing. Is there somet

[2021-06-03 22:23] NetaNir commented on #7094
@tomeldar
Check this comment out: https://github.com/aws/aws-cdk/issues/9017#issuecomment-658582279

If I recall correctly, since EC2 allows ipv4 traffic by default, you should be able to set `allowAllOutbound=false` and add the Ipv6 rule and that will give you Ipv4 and Ipv6.

Let me know if it works. In any case this is not an ideal customer experience we need to fix it

[2021-06-03 22:49] tomeldar commented on #7094
@NetaNir
Unfortunately that does not work. The following code generates the following egress rule (with no IPV4 egress allowed):

[code]

![image](https://user-images.githubusercontent.com/15621894/120721155-815fc400-c48a-11eb-8218-1adb7441d10e.png)

[2021-06-03 22:49] peterwoodworth commented on #14912
So through some quick testing, I've found that if I name my toolkit stack `MyBootstrapStack` like I did above, then when you `cdk deploy` you are supposed to pass in the name of the bootstrap stack for it to deploy: `cdk bootstrap --toolkitStackName=MyBootstrapStack`

Let me know if you have any more questions!

[2021-06-03 22:49] #14912 closed

[2021-06-03 22:54] skinny85 opened #14981 "(cfnspec): allow passing the CFN Resource Specification as an argument to the script"
Right now, the [`scripts/bump-cfnspec.sh` script](https://github.com/aws/aws-cdk/blob/af6d49f2e245b60ae3bbea3bb2c5d283beedba3f/scripts/bump-cfnspec.sh#L27) hard-codes the [location of the CFN Spec](https://github.com/aws/aws-cdk/blob/af6d49f2e245b60ae3bbea3bb2c5d283beedba3f/packages/%40aws-cdk/cfnspec/build-tools/update.sh#L48-L48).

We should allow passing a custom location of the CFN Spec, and s

[2021-06-03 23:37] SoManyHs commented on #14730
The issue here is that we are specifying the FARGATE and FARGATE_SPOT capacity providers as a member of the Cluster resource, but creating [ClusterCapacityProviderAssociations](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ecs-clustercapacityproviderassociations.html) for the ASG capacity providers. In order for this to work with cloudformation, all of the capacity pr

[2021-06-04 00:08] stefwoj commented on #14880
Hey @peterwoodworth, I just tried setting the stage/deployment manually in the repo that contains the example code and it works. I had created the stage/deployment in the repo that creates the `restApi` object. It would still have been nice if the `fromRestApiId` function returned the `deploymentStage` which is supposedly set when the `deploy` field is enabled, even though it's in another repo.

[2021-06-04 00:53] SoManyHs commented on #14690
I'm not using nvm, still seeing this.

[2021-06-04 01:30] baumannalexj commented on #12544
Thanks for looking into this @ryparker !

I no longer have my environment setup for this an am working on a different stack. Let's close this.

[2021-06-04 02:06] shellscape commented on #13825
haha I guess he shared his thoughts with the removal of the assignment 😆

[2021-06-04 02:09] shivlaks commented on #14846
thanks for raising this issue @Momo0621 - I believe this is a  bug and a straightforward fix to make it partition aware.

[2021-06-04 02:36] zxkane commented on #14933
It’s a behavior occurring in EKS v1.19 which is the default version of EKS.

I can confirm the warning output is to `stderr`. The warning message is suppressed if redirecting the `stderr` to `/dev/null`.

[code]

[2021-06-04 02:37] shivlaks commented on #13003
@kuwa0224 - moving to accept `ITaskDefinition` would be a breaking change. The reason it was made `TaskDefinition` is because of the checks you've linked.

Some of them don't apply to the use case you've alluded to, but it does seem to be contingent on several pre-requisites, such as Fargate, using your own policy statements, etc. It's a sign that it's not a solution that can be universally applie

[2021-06-04 02:55] ramancloudsmartz commented on #14972
@peterwoodworth I need it with Elb LoadBalancer ( Classic Loadbalancer )

[2021-06-04 05:22] jasonumiker commented on #14968
When I use CDK to create an EKS cluster (https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.Cluster.html) it should enable these managed Add-ons as the default as per here:
https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html

It is supported via CloudFormation which should make it easier for you but it looks like you need to set up IRSA for the IAM roles involved when i

[2021-06-04 06:52] severn-everett commented on #14843
Turns out the workaround for my issue is [this](https://github.com/serverless/serverless/issues/8772#issuecomment-825698908). The underlying dependency has already been fixed and upgraded; it would be good to incorporate the updated `archiver` dependency in CDK's `package.json` once the version bumps make their way up the chain.

[2021-06-04 07:56] rix0rrr commented on #14961
Nothing is actually wrong. The `cdk diff` is telling you about a `Rule` that got added to the template, but it doesn't actually know what the `Rule` means and so is printing it in a confusing way.

The diff will disappear after your next deployment.

[2021-06-04 07:59] rix0rrr commented on #14928
You can turn the value into a fake number by calling `Token.asNumber()`. This will allow you to escape the type system of your language, if you are convinced that everything is alright at deploy time.

[2021-06-04 07:59] #14928 closed

[2021-06-04 08:01] rix0rrr commented on #14927
Yep, that looks broken. Thanks for reporting.

[2021-06-04 08:12] rix0rrr commented on #14944
Hi @uxth, @otaviomacedo is trying to get to the bottom of this as we speak. Our current suspicion is nested stacks, but the issue might be more complicated.

[2021-06-04 08:20] felipeloha opened #14984 "api gateway: invalid http endpoint error trying to connect proxy api gateway to load balancer"
Hello,

I am getting the following error when trying to connect a proxy api gateway to a load balancer:

Invalid HTTP endpoint specified for URI (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException; Request ID: 80fc732e-d5f9-4cbe-834d-3701db4fdf56; Proxy: null)

I also tried adding a dependency so that the api gateway is created when the fargate service creation is finishe

[2021-06-04 09:04] nija-at commented on #14836
Thanks for the fantastic details here @adam-nielsen.

Since we have a workaround for this, I'm marking this as a p2 feature. This means we can't get to this right away.
We're accept pull requests though.

[2021-06-04 09:56] njlynch commented on #14932
@touzoku - Thanks for the bug report. You can file issues with the CloudFormation documentation here: https://github.com/awsdocs/aws-cloudformation-user-guide/issues.
I've created a quick fix there on your behalf: https://github.com/awsdocs/aws-cloudformation-user-guide/pull/993

In regards to the `physicalName`, the difference between the Function and things like a DynamoDB Table are that the nam

[2021-06-04 09:56] #14932 closed

[2021-06-04 10:02] sebdec commented on #10113
I retried today without any problem.
Don't know why, maybe the cdk cli was not correctly updated to the new version.
I can now attaching log router without defining any port mappings 👍

[2021-06-04 10:17] otaviomacedo commented on #14944
Hi, @uxth. The problem here is that your pipeline is [not self-mutating][1]. Because of that, the "Asset" stage of the pipeline get out of sync with the main stack template, which references a nested stack template that doesn't exist.

We are considering changing this flow to be less reliant on self mutation. But for now what you can do is change it to `self_mutating=True` (or remove `self_mutatin

[2021-06-04 10:22] rix0rrr commented on #14911
This is true. Unfortunately, given the information we have there's not a lot we can do about it.

[2021-06-04 10:22] #14911 closed

[2021-06-04 10:24] rix0rrr commented on #14905
Yep, a translation of `EventPattern` should have been done (like in `Rule`), but the author of `Archive` forgot to do that.

[2021-06-04 10:27] rix0rrr commented on #14898
That should not happen, thanks for reporting.

[2021-06-04 10:38] rix0rrr commented on #14814
You left out commands in your repro, so this is not what you can exactly.

Does not repro for me when I run this in a clean Docker:

[code]

Are you sure you didn't accidentally run `npx cdk init ...` ?

[2021-06-04 10:45] niklaswallerstedt commented on #10926
I have a similar issue in a monorepo where each cdk app is a "package". My `devDependencies` are all hoisted to the root package.json. Moving @aws-cdk/assert from the root to the leaf node resolves the error. Not really what I wanted but it works 🤷

[2021-06-04 10:49] #14084 closed

[2021-06-04 11:02] njlynch commented on #14897
It looks like this is a known issue with `jsii`, the underlying multi-language tech behind the CDK. See https://github.com/aws/jsii/issues/1029 for more details.

The short answer is the sub-classing can work, but you need to extend from `Amazon.JSII.Runtime.Deputy.DeputyBase` as well as the interface:

[code]

You can follow the linked issue for the longer-term resolution, but in the meantime the

[2021-06-04 11:02] #14897 closed

[2021-06-04 11:36] rix0rrr commented on #14693
If you are using NPM 7, you may be running into this bug, which means not all CLI dependency packages were upgraded successfully: https://github.com/npm/cli/issues/3196

A clean reinstall of the CLI should fix it.

[2021-06-04 11:52] rix0rrr commented on #14948
Those are fair requests. I'd be interested to hear what kind of context values you'd want to be storing.

I think:

* The reusable unit that is checked into CloudFormation should probably be a construct, or construct library, and not an app with an entry point and context -- although I see we currently don't have facilities to make consuming and deploying that library easy.
* To work around curren

[2021-06-04 12:09] rix0rrr commented on #14292
I do think the plugin is going to be cause of these issues. Can you share a little more information about the plugin and the commands you're running?

[2021-06-04 12:10] robertofd1995 opened #14988 "(aws_iam): iam.ManagedPolicy.from_aws_managed_policy_name("AWSCodeDeployRole") fails lookup"
I am trying to a Role the aws managed policy AWSCodeDeployRole.

After doing cdk deploy it fails and rollsback in cloudformation due to the following error:

Policy arn:aws:iam::aws:policy/AWSCodeDeployRole does not exist or is not attachable. (Service: AmazonIdentityManagement; Status Code: 404; Error Code: NoSuchEntity; Request ID: 0267d254-8bc5-40ea-81cd-5b857da0c322; Proxy: null)

I located th

[2021-06-04 12:16] rix0rrr commented on #14895
Thanks!

[2021-06-04 12:18] gliptak commented on #14911
@rix0rrr what did you mean by "Unfortunately, given the information we have there's not a lot we can do about it."? Do you need more details on reproducibility?

[2021-06-04 12:21] rix0rrr commented on #14790
It's operating as I would recommend it operates. Passing a Policy to `grantRead()` is the wrong mental model -- a policy is the *result* of `grantRead()`, not its target.

I'm curious why you care what the policies look like in CloudFormation. The result in AWS is going to be the same regardless, so I suggest you don't concern yourself too much it with.

Regardless, if you really really hate it, y

[2021-06-04 12:21] #14790 closed

[2021-06-04 12:23] rix0rrr commented on #14786
Good point, and you're right, bothersomely complicated implementation. But it'll have to do, I suppose.

[2021-06-04 12:27] rix0rrr commented on #14713
Leaving this open for future upvotes which may increase the weight, but we consciously decided not to do anything about this.

IAM policy optimization is attractive but also dangerous, and we're super scared of messing up.

If you want to implement this for now, I would suggest you implement an Aspect to twiddle the construct tree out-of-band.

[2021-06-04 12:27] dannyburke1 commented on #11664
Are you able to assume this role successfully? I'm having the same issue, and bashing my head against the wall with control tower. As mentioned above, altering or removing SCP's will break your landing zone and cause you to update it - not ideal!

[2021-06-04 12:36] rix0rrr commented on #13672
You can try investigating `construct.node.addMetadata()`. Not exactly sure whether those will end up in the `tree.json`, but if not I'm okay defining a metadata protocol that will render to the tree schema. Propose a PR!

[2021-06-04 12:36] #13672 closed

[2021-06-04 12:39] rix0rrr commented on #1756
`Token.asNumber()` is the right way to force tokens to the right type.

[2021-06-04 12:39] #1756 closed

[2021-06-04 12:41] rix0rrr commented on #14807
Define a `Stack` with a different `account` parameter.

The next question is how to get proper permissions. [Modern bootstrapping](https://docs.aws.amazon.com/cdk/latest/guide/bootstrapping.html) (using `--trust`) and the `DefaultStackSynthesizer` will provide you with roles so that you can `cdk deploy` directly into both accounts.

Otherwise, you will have to assume credentials to both accounts s

[2021-06-04 12:41] #14807 closed

[2021-06-04 12:53] noxify commented on #8822
Had the requirement today to get the KMS Key. As Workaround, I'm currently using a `Custom Resource` to call the `aws sdk`.

Here the method:

[code]

And here a stack example:

[code]

Maybe it solves your challenges to get the KMS Key via an alias until this feature request is implemented.

✌️

[2021-06-04 13:01] rix0rrr commented on #14988
Thanks

[2021-06-04 13:04] #14988 closed

[2021-06-04 13:37] dannyburke1 commented on #11664
I created a user in my Control Tower Management account that could assume the Control Tower Execution Role in the account where I was putting my bucket and got it to work like that.

[2021-06-04 13:37] jonlegendre commented on #14977
Apologies, I just realized that my logical ID is different, but destination is the same. Per this documentation that will cause a deletion:
https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-s3-deployment#retain-on-delete
As such I will close this ticket.
The described functionality seems flawed, but is clearly documented.
Thank you!

[2021-06-04 13:37] #14977 closed

[2021-06-04 13:50] andreialecu commented on #14713
@rix0rrr wondering if you saw my comment just above you? The PR received no comments.

[2021-06-04 14:21] amkuchta commented on #14948
@rix0rrr I'm glad you think it is reasonable! An example of some of the items I am storing as a context variable:

- An `enableSns` flag to opt into or out of SNS Notification creation
- A `cloudFrontDomain` that can be used to create a certificate and CloudFront distribution
- An S3 archive option (`GLACIER`, `DEEP_ARCHIVE`, or `DISABLED`)

Items like these should be able to easily be set once an

[2021-06-04 14:22] #14815 closed

[2021-06-04 14:34] felipeloha commented on #14984
we were missing the http before the dns. all good

[2021-06-04 14:34] #14984 closed

[2021-06-04 14:49] #14752 closed

[2021-06-04 14:53] kostiantyn-lab commented on #14279
Is there a chance to solve this?

[2021-06-04 15:17] #14656 closed

[2021-06-04 16:10] #13523 closed

[2021-06-04 16:37] #9191 closed

[2021-06-04 16:52] mickael-coquer commented on #14798
Hey @MrArnoldPalmer, upgrading to 1.103+ fixed the issue by using a CFN parameter as you suggested thanks to https://github.com/aws/aws-cdk/issues/14527

[2021-06-04 17:04] #13090 closed

[2021-06-04 17:12] skinny85 commented on #14279
@kostiantyn-lab [PRs are always welcome](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md#linking-against-this-repository)!

In the meantime, you can probably use [escape hatches](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html) to work around this problem.

[2021-06-04 17:32] AntonUspehov commented on #8799
@pkasravi I have the same exact error using this github-action.
Do you have a workaround?

[2021-06-04 17:32] peterwoodworth commented on #14843
Thanks for your research and input into this @severn-everett, did you check the thread I linked above too? That has a bunch of good info in it, [including the solution you found](https://github.com/aws/aws-cdk/issues/12536#issuecomment-774678334). I know you've already fixed the issue, but I'm linking it in case you're curious and want to see more info :p

@max258-new are you still dealing with th

[2021-06-04 17:37] skinny85 commented on #2516
Apparently, you need to extend the `Amazon.JSII.Runtime.Deputy.DeputyBase` class to implement an interface in JSII: https://github.com/aws/jsii/issues/1029

However, I have tried it, and I still didn't work:

[code]

Error:

[code]

[2021-06-04 17:45] alex-a-ncino commented on #10827
After further investigation, we realized the issue was the role that was deploying the CDK app didn't have access to tag APIs. Once that's fixed CDK is actually tagging APIs. One thing to note si that since tags were being added to the CF template re-deploy to an existing stack doesn't see any change to tags so it doesn't add them. So either destroy/deploy or changing the tag values for the tags t

[2021-06-04 17:47] peterwoodworth commented on #13825
LOL he has way too many issues to look at I understand

I haven't looked into the alternatives you suggested much, can you explain why those would give the user a better experience?

[2021-06-04 17:49] peterwoodworth commented on #14937
Thanks for catching that hoegertn, that's almost certainly the issue.

@piby180 ping me if you are still running into this issue

[2021-06-04 17:49] #14937 closed

[2021-06-04 18:45] uxth commented on #14944
hi @otaviomacedo , the reason I turned off the self-mutating option is because with it on the source code could not be downloaded from github.

[2021-06-04 20:51] pkasravi commented on #8799
@AntonUspehov I ended up not using that action and just writing my own

[2021-06-04 21:02] #14961 closed

[2021-06-04 21:37] upparekh commented on #10113
Thanks for the update @sebdec. I'll leave the issue to be auto-closed to see if the problem still persists for other users.

[2021-06-05 00:30] uxth commented on #14944
it is working, thank you for pointing this out.

[2021-06-05 00:30] #14944 closed

[2021-06-05 04:43] michaelbrewer commented on #1293
@digitalsanctum  @rix0rrr  @eladb  - i have this PR for adding Kotlin + Gradle init template. I would make it just for Java + Gradle.

- https://github.com/aws/aws-cdk/pull/14963

So it could be something like:

[code]

or

[code]

[2021-06-05 09:34] ramancloudsmartz commented on #14972
@peterwoodworth  Please review PR , I have added tests as well. Please let me know if required any change
Thanks

[2021-06-05 10:43] ffranco-audora commented on #11475
I was having the same problem (in typscript). It turned out the values should be passed as an object:
[code]

[2021-06-05 12:18] dfonnegra opened #14994 "Elastic Container Service: Waiting for deployment"
## :question: General Issue

I built a stack for my current project using ECS and ALB. I had deployed the development environment and it was working perfectly. The problem came when I tried to deploy for the first time the staging environment. Well, it happens that the stack deployment waits for the ECS service to be deployed! But as it is the first deployment the ECR containers don't have images

[2021-06-05 13:03] buttnomaan9 commented on #10366
Any update on this?

[2021-06-05 16:09] OksanaH opened #14995 "(aws-s3objectlambda): ObjectLambdaConfiguration is not produced in CloudFormation Template when using CDK for C#"
I'm unable to fully create `S3ObjectLambdaAccessPoint` resource using CDK for C#

I've been trying to create an S3ObjectLambda using CDK for C#. The code for creating a Lambda Access point is:

### Reproduction Steps

1) write this code:

[code]

2) run `cdk synth`

### What did you expect to happen?
The template produced should include ObjectLambdaConfiguration property:

[code]

### What actuall

[2021-06-05 16:58] DaWyz opened #14996 "(aws-backup): Add arn attribute and grant method for backup vault"
The backup vault construct is basic. This feature request would add some more functionalities such as:
- storing the arn in the construct (can be generated from the name)
- allow importing from arn.
- adding a grant method.

### Use Case

I want to have a lambda function triggering a one time backup. To do so, I want to import an existing backup vault and grant the lambda role the permission to st

[2021-06-05 18:01] DaWyz opened #14998 "(aws-efs): Add fileSystemArn property and grant method for FileSystem construct"
When creating or importing a File System in a CDK App, the construct is missing the `fileSystemArn` property.

### Use Case

When trying to grant permissions to a FileSystem, we have to build the fileSystem the policy and the arn manually.

[code]

That would become

[code]

### Proposed Solution

Add a `fileSystemArn` attribute to the construct.
Allow import using arn.
Add a grant method.

* [x]

[2021-06-05 19:51] digihunch commented on #14693
Thanks. I updated npm which appears to have fixed the issue

[2021-06-05 20:08] hnrc commented on #14732
Thanks for looking into this.

Both workarounds work me.
I think we can live with having managed termination protection disabled so this is no longer very critical (for me personally).

[2021-06-06 02:43] slotnick commented on #10683
I wholeheartedly agree with all the points in the original (excellent) post. The experience using EFS with ECS has been uncharacteristically difficult, please give it a little love.

[2021-06-06 06:39] pachicoo commented on #14973
Here are more details:

Existing accounts are created, then enrolled in Control Tower.
The new account is created by Account Factory.
Even though CDK accesses all accounts through  AWSReservedSSO_AWSAdministratorAccess

The S3 Bucket created by CDK is owned by the same account.
Surprisingly, the rest of the stakes are deployed without issue.

[2021-06-06 06:58] revmischa opened #15000 "(aws-rds): IVpc mismatch with Vpc"
Using v1.107.0 for all modules

[code]

### Reproduction Steps

[code]

### Environment

  - **CDK CLI Version  :** 1.1.07.0
  - **Framework Version:**
  - **Node.js Version:**
  - **OS               :**
  - **Language (Version):** typescript 4.2.4

### Other

---

This is :bug: Bug Report

[2021-06-06 11:15] SimonLdj commented on #3418
Hi,

I would like to describe another use case in which such feature is vital.

### Use Case

we have 3 stacks `commonStack`, `stackA` and `stackB`. stack A and B uses resources from common stack. Stack A and B each contain different Node.js lambda function (and some sqs/sns).
Each lambda function code written in TypeScript, bundled with Webpack and referred by the lambda using `lambda.Code.fromAs

[2021-06-06 14:07] LoganAvatar commented on #6643
This worked fine in 1.107.0!

[2021-06-06 18:18] jpmatusik opened #15004 "aws-cdk-lib/aws-dynamodb: Enable SSE"
I don't see SSE being enabled when I make a DynamoDB table.

I used

[code]

### Reproduction Steps

[code]

### What did you expect to happen?

I want this to show up in the table's cloudformation attributes.
[code]

Build a CloudFormation document containing a DynamoDB table with SSE.

### What actually happened?

The DynamoDB table does not have SSE.

### Environment

  - CDK CLI Version: 2.0.0

[2021-06-06 18:20] longtv2222 commented on #15000
I'm using the same CDK CLI version (1.107.0) and typescript version (4.2.4) as you and I can't recreate the error.  The following is my code

[code]

I created my project with `cdk init app --language typescript` .

[2021-06-06 21:03] covertbert commented on #14967
Is there any plan to make an esbuild wrapper around these like we have with `NodejsFunction` for Lambdas?

[2021-06-06 21:03] trevorrobertsjr opened #15007 "(@aws-cdk/aws-cloudfront): Go Binding for CloudFront Function Synth Fails"
When attempting to run cdk synth for a CloudFront Function deployment with the CDK Go support, I get an error requesting comment and runtime properties that I do provide:
[code]

### Reproduction Steps

[code]

### What did you expect to happen?

I expect cdk.out to contain generated CloudFormation JSON similar to the following template:
[code]

### What actually happened?

cdk synth fails to comp

[2021-06-06 22:08] hoegertn commented on #14967
As I pointed out in the PR I would love this, but esbuild does not (yet) support ES5 so bundles do not work in CFF currently.

Any ideas to solve this are welcome.

[2021-06-06 22:08] VuBui83 commented on #12337
Could not figure out this part? Could you elaborate more? thanks

[2021-06-06 22:10] hoegertn commented on #15007
Can you try it out with the CloudFront Functions L2 construct? So we can see if it breaks in the L1 or somewhere else.

[2021-06-07 00:42] cjihrig commented on #15004
It looks like you're using `dynamodb.TableEncryption.DEFAULT`, which maps to ["Server-side KMS encryption with a master key owned by AWS."](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-dynamodb.TableEncryption.html)

According to the [`SSEEnabled` CFN documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-dynamodb-table-ssespecification.html):

[2021-06-07 01:22] jpmatusik commented on #15004
I see. Yeah from the docs you pointed that makes sense. I was working off the docs here:
https://cdkworkshop.com/20-typescript/70-advanced-topics/100-construct-testing/1000-assertion-test.html

Those docs are for the 1.X version though so I had to make a change. In the 1.X version, `serverSideEncryption` is explicitly set. So when I used the `encryption` attribute in the 2.X version, I thought any

[2021-06-07 01:22] #15004 closed

[2021-06-07 04:49] jtomaszewski commented on #4159
Does anybody has some code to share of that custom resource that would enable the logs? Trying to build it now in cdk but don't know where to start.

[2021-06-07 04:55] brainstorm commented on #14814
Sure, check the full thing:

[code]
$ python3 -m venv .venv
[code]
$ source .venv/bin/activate
[code]
% .venv\Scripts\activate.bat
[code]
$ pip install -r requirements.txt
[code]
$ cdk synth
[code]

[2021-06-07 04:57] brainstorm commented on #14814
Could you try installing mamba first?: https://github.com/mamba-org/mamba

Perhaps that's the culprit and the reason why you cannot repro this?

[2021-06-07 06:08] Hi-Fi commented on #14555
Is this going to be addressed with V2 CDK? We are facing same issue with NodeJS CDK.
- Mac and Linux generate same asset IDs
- With Windows, Docker (with Windows cloned repo), Docker (with Docker cloned repo) and Docker (with Docker cloned repo to directory that's not mounted from Windows) each generate different ID than *nix (and also different with each other).

In latter cases `npm install` is

[2021-06-07 06:28] jtomaszewski commented on #4159
If anybody wants the workaround, here's code we wrote in our CDK to enable the logging for the cluster once it's created :)

[code]

[2021-06-07 06:41] #8180 closed

[2021-06-07 08:29] Nemanjalj66 commented on #2516
Thank you again for the answer! I have tried it in my implementation and it also fails with the same exception as you mentioned.

[2021-06-07 08:42] chtpl commented on #4498
@markusl when I try the code snippet for the secrets param, my VSCode gives me the following error

[code]

what am I missing?

[2021-06-07 08:56] chtpl commented on #3529
@manV
When I try your codesnippet, I get the following error in VSCode for the secrets parameter:

[code]

Do you have any idea what I am doing wrong?

[2021-06-07 08:57] redbaron commented on #14285
@eladb , my "solution" was a comment about a possible change to CDK. It is not something what end user could do without forking a package.

[2021-06-07 09:03] njlynch commented on #15000
Thanks for the report, @revmischa , and for the help @longtv2222 !

@revmischa  - Is it possible to create a reproducible example of this? Off-hand, it does seem like it's possible there's a stale version of one of the libraries lying around; have you tried a clean install?

[2021-06-07 09:09] revmischa commented on #15000
I agree it sounds like it, I triple-checked the versions and deleted node_modules and package-lock and reinstalled

I can reproduce it in this repo - https://github.com/jetbridge/typescript-cdk-template
I have to cast `Vpc` to `IVpc` here https://github.com/jetbridge/typescript-cdk-template/blob/33ecc38b2fa8f52d9ecf57b0c4d7cab6035b23ee/packages/infra/lib/stack.ts#L50

[2021-06-07 09:13] #14693 closed

[2021-06-07 09:30] njlynch commented on #15000
Hm. I can't reproduce it in that repo:

[code]

That produced a valid output, including a DB with the VPC configured:

[code]

Can you try following the same steps and see if it builds cleanly in a new directory?

[2021-06-07 09:47] #12126 closed

[2021-06-07 11:18] lyraddigital opened #15008 "(apigatewayv2): support for mock integration type"
Currently in the @aws-cdk/aws-apigatewayv2 library only one WebSocketIntegrationType is supported. The AWS_PROXY integration type. The @aws-cdk/aws-apigatewayv2-integrations also only supports the LambdaWebSocketIntegration class to help connect a particular route to a Lambda function.

However when I create a Websocket API in the AWS console, there is support for HTTP, Mock, AWS Service and VPC L

[2021-06-07 11:37] #14572 closed

[2021-06-07 11:47] christophgysin commented on #12610
@ryparker Could you clarify which fix you are referring to?

If you are referring to this, could you please point to code that builds this image? IIRC from my research in February, the image is not build as part of any publicly available repository.

[2021-06-07 12:03] trevorrobertsjr commented on #15007
Thank you for the reply @hoegertn. I will try looking for the CloudFront Functions L2 support in the Go bindings and try again today.

[2021-06-07 12:43] iliapolo opened #15009 "`yarn-upgrade` workflow sporadically fails on network problems"
[code]

See full log: https://github.com/aws/aws-cdk/runs/2758250905?check_suite_focus=true

We might need to somehow tweak the network timeouts here since its trying to poll for a lot of packages.

[2021-06-07 12:57] pachicoo commented on #14973
New findings:
aws s3api put-bucket-accelerate-configuration
put_bucket_accelerate_configuration (Boto3 )

Both commands emit the same error - Access Denied

[2021-06-07 13:09] bmacher commented on #11902
@SomayaB it took a while but now I am working on the feature. I already changed the the `tsconfig`s ([see](https://github.com/bmacher/aws-cdk/tree/feature/exclude-node-modules-in-tsconfig-templates)). However, regarding the Contribution Guide I have to coordinate the update of the integration tests with the team. So shall I open a PR and let the discussion be there or is this issue the right place

[2021-06-07 13:16] ramancloudsmartz commented on #14972
Please review **feat(elb): set accessLoggingPolicy property with L2 LoadBalancer** #14983

[2021-06-07 13:37] jpSimkins opened #15010 "(aws-cloudfront): Lambda Edge won't delete after 5 days"
Used the CDK to create a CloudFront distro with a lambda edge function to add security headers. It failed due to another account using the same name (legacy account that has since then been removed). I tried to re-deploy but it wanted me to destroy the stack fist. Well, it's been 5 days and I still cannot destroy the stack.

I'm aware of the nightmare of Lambda Edge functions and while this may no

[2021-06-07 13:43] covertbert commented on #14967
Ahh I didn't realise that! Have you considered running the bundle through webpack (or maybe microbundle or parcel) after esbuild or just using one of those tools instead?

Reading through the esbuild docs it doesn't sound like they'll *ever* support ES5 and I think it would be quite a hindrance to the adoptability of CFF if they never support bundling either.

[2021-06-07 14:01] andrew-property-xyz commented on #11526
Wow. I've wasted several days trying to understand why my secret cannot be found and it turns out to be due to, I'm sorry to say, an incredibly poor implementation by AWS. "Sorry folks, if your secret name ends with a hyphen followed by 6 characters, you're out of luck, try 5 characters or maybe 7 characters." Really?! Are you serious?

[2021-06-07 14:29] robertofd1995 commented on #5722
Any new about this? @NetaNir

[2021-06-07 16:29] Aijaz12550 opened #15013 "(cognito user pools): support for setting rules for user devices"
enable cdk cognito module to manage actions for user devices and ip addresses in a pool.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-deviceconfiguration.html

### Use Case
we can set up rules for user device, either logging in from social account or cognito.

### Proposed Solution
Add functions to cdk for configuring user devices and IP addresses

[2021-06-07 17:32] cristianrat commented on #14316
We are having the exact issue with parallel deployments, which use some shared resources.
So we'll have to extract those resources and deploy them at an earlier stage, and not do parallel

[2021-06-07 17:35] #14800 closed

[2021-06-07 17:49] SoManyHs commented on #14732
Great, glad the workarounds helped! Closing this issue.

[2021-06-07 17:49] #14732 closed

[2021-06-07 17:55] leantorres73 opened #15014 "(opensearch): domain doesn't handle tokens in capacity configuration"
If I set SSM for some parameters like `dataNodeInstanceType`,  if fails on deployment time

### Reproduction Steps

Create a ES Domain, and set capacity using SSM, like this:

[code]

Also, it shouldn't check if '.elasticsearch' is part of the text if a token is set there, but this second one is minor bug, the other one is an impediment of using SSM with ES configurations

### What did you expect

[2021-06-07 18:43] #14925 closed

[2021-06-07 18:44] peterwoodworth commented on #14843
Please ping me if you're still encountering this issue, thanks!

[2021-06-07 18:44] #14843 closed

[2021-06-07 19:00] skinny85 commented on #15014
We need to add a `Token.isUnresolved()` check [here](https://github.com/aws/aws-cdk/blob/af6d49f2e245b60ae3bbea3bb2c5d283beedba3f/packages/%40aws-cdk/aws-elasticsearch/lib/domain.ts#L1281-L1283) (and probably a few similar places in that class as well).

[2021-06-07 19:18] peterwoodworth commented on #14818
Closing this because our bot missed it, ping me or MrArnoldPalmer if you need any more help with this!

[2021-06-07 19:18] #14818 closed

[2021-06-07 19:20] peterwoodworth commented on #14696
Hey @adriantaut, do you have an update on your investigation?

If you don't need any more help from us, feel free to close the issue 😄

[2021-06-07 19:22] peterwoodworth commented on #14697
@Jerry-AWS have you sent this to the CodePipeline people?

[2021-06-07 19:48] peterwoodworth commented on #11902
Hey @bmacher, thank you for working on this! Whenever you are ready feel free to go ahead and create the PR. Integration tests won't be necessary in this case, as you aren't changing any actual functionality that should affect any cloudformation output

[2021-06-07 19:55] NGL321 opened #15015 "(stepfunctions): Add support for `Comment` field in `StateMachine`"
Amazon States Language supports a field called `Comment` (see docs [here](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-state-machine-structure.html). This would normally be a component of the [`Definition`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-stepfunctions-statemachine.html#cfn-stepfunctions-statemachine-definition) field, but

[2021-06-07 20:00] #14596 closed

[2021-06-07 20:07] NGL321 commented on #6228
Bumping this for attention as it is related to internal request.

[2021-06-07 20:18] desoss opened #15016 "(amplify): Enable the possibility to configure buildImage"
Currently in codebuild it's possible to configure in the section _buildSpec_ the object _environment_ and its property _buildImage_.

This property is ignored in an amplify hosting app.

### Use Case
Codebuild, by default, uses a build image version that seems to be old.
Newer versions has many new dependencies installed.
What I'd like to configure is something like this:

` new amplify.App(this,

[2021-06-07 20:20] dontirun opened #15017 "(core): CDK conformance Aspects"
A curated set of Aspects that can be applied to a Application to check if  a deployment meets  common industry controls prior to deployment. Similar to these [config conformance packs](https://docs.aws.amazon.com/config/latest/developerguide/conformancepack-sample-templates.html).

### Use Case

Organizations have different compliance requirements that they must meet and use tools such as AWS conf

[2021-06-07 20:29] peterwoodworth commented on #14710
Hey @shubham391, sorry for the long response time. I hope the other threads ([here](https://github.com/aws/aws-cdk/issues/14738) and [here](https://github.com/npm/cli/issues/3196)have been able to help you for this specific issue regarding the version mismatch error, especially with determining the root cause of this particular issue. Npm took ownership of this issue and fixed the bug which create